[2018-06-25 14:50] AlexandraMoga commented on #8476
I have done a parallel search for add-ons compatible with Thunderbird and Seamonkey but _incompatible_ with Firefox and FF for Android and checked if they were listed on AMO (addons-dev.allizom.org):
Results:
1. Thunderbird and Seamonkey add-ons are listed among search suggestions on AMO (filed #8645)
2. Thunderbird and Seamonkey add-ons are hosted on addons.thunderbird.net. For example, if I open

[2018-06-25 14:54] diox commented on #8476
Sorry, this is a bit early to test this as I added the command to delete the add-ons but haven't run it yet. I'll get back to you when I've done that (it's not urgent as we're unlikely to need it this week anyway)

[2018-06-25 15:31] Vimal-Raghubir commented on #8640
Hi @eviljeff, I am interested in fixing this issue. Would simply removing `dev_agreement` from this `addons/admin.py` file suffice or would it need to be replaced by the `read_dev_agreement` attribute in the `Flags` list?

https://github.com/mozilla/addons-server/blob/01f4c0ccb90d3df7b7c55ed6742f93d9e7abbab8/src/olympia/addons/admin.py#L47-L51

[2018-06-25 15:40] eviljeff commented on #8640
No, we don't need to replace the reference, just remove all mentions.

[2018-06-25 15:56] Vimal-Raghubir commented on #8640
Ok so I will be removing it from all the json files as well as python files that contain it in the Addons model if thats correct?

[2018-06-25 15:57] eviljeff commented on #8640
yes

[2018-06-25 16:23] Vimal-Raghubir commented on #8640
I'm sorry for the many commits instead of one. Not sure how to do combine commits so I made them separate for each file change.

[2018-06-25 18:22] #8640 closed

[2018-06-25 18:25] eviljeff opened #8649 "write an sql migration to drop `dev_agreement` from addons table"
follow up from #8640 to land in a different tag/deploy.

[2018-06-25 18:29] eviljeff commented on #8412
@rebmullin just new ones (a new version will be sufficient).  If it's a big problem we can just delete the old submissions from dev.

[2018-06-25 18:36] rebmullin commented on #8412
ok sounds good, thanks

[2018-06-26 07:44] ioanarusiczki commented on #7954
@eviljeff yes, if I take a couple of seconds and then navigate to the listing page it works.

[2018-06-26 08:29] EnTeQuAk commented on #3493
Indeed, I did not update the actual token. I'll fix this. Thanks a lot for the hint!

[2018-06-26 08:30] ioanarusiczki opened #8654 ""Please use smaller images than 4MB" should be displayed when uploading a custom icon"
STR:
1. Load AMO dev and go to dev hub to a submitted add-on and try to upload as an icon an image with a size between 3 to 4 MB
2. Observe that it can be uploaded
3. Try to replace it with one that has more than 4 MB
4. Observe the red message displayed after attempting to save changes

Expected result:
The message is: Please use smaller images than 4MB

Actual result:
The message is: Please use

[2018-06-26 09:53] #8626 closed

[2018-06-26 10:18] #8556 closed

[2018-06-26 11:15] muffinresearch opened #8657 "Save newly uploaded versions into git repo"
* Create a repo per add-on if one doesn't exist.
* The incoming versions changes should take precedence in the case there are any conflicts.
* The revision committed to git should reflect the contents of the uploaded zip

Feel free to break this down into more issues in the same project if needed.

We will also need to consider where and how to store source files.

[2018-06-26 11:34] vcarciu commented on #8640
@eviljeff : Please add some STRs for this bug or mark it as "qa: not needed"

[2018-06-26 11:45] eviljeff commented on #8617
I'm fine with us increasing the limit to some other amount (89 is fine) but imo a rule is a rule.  If a tool enforces xx characters most of the time, except some times it doesn't even though the code could be rewritten to fix under xx characters, then that tool is broken.

[2018-06-26 11:46] eviljeff commented on #8640
QA: if you can submission a new addon without a server error, it's okay.

[2018-06-26 12:03] eviljeff commented on #8520
@jvillalobos What are your thoughts on this? It's really the same underlying issue as #4809 - that we only use the name from the manifest on first upload; then allow the dev to change it for AMO in the detail step and don't even attempt to keep AMO's addon name and the xpi addon name in sync.

With the static theme wizard it's potentially exposing this more though, as there will be two name fields

[2018-06-26 12:16] eviljeff opened #8658 "Use/pin a specific version of autograph"
Our python and javascript dependencies are pinned to a specific version; autograph is go based and we just pull the latest

https://github.com/mozilla/addons-server/blob/dce35f1d21380c806855ae9496dc828b190cc3a3/scripts/start-autograph.sh#L8

We should pin go dependencies like autograph in a similar way to js and python for stability and security.

[2018-06-26 12:27] ioanarusiczki commented on #7657
Admin section is no longer available in dev hub - verified on AMO dev with FF60(Win10)
It can (but won't) be made from django admin.

![django admin](https://user-images.githubusercontent.com/33448286/41910079-515b6066-7951-11e8-992a-4310c4cdd764.png)

[2018-06-26 12:33] #8505 closed

[2018-06-26 12:35] #8405 closed

[2018-06-26 12:37] eviljeff commented on #7657
@ioanarusiczki I also removed the other admin settings in devhub too - the only thing that wasn't already present in /admin/ was `reputation`

[2018-06-26 13:09] AlexandraMoga commented on #8436
I have tested the new weight allocation and here are the results:

**Confirmed:**
- Add-on with `Custom CSP` => weight = 90 ([1st version example](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/csp-warning-wup))
- Add-on with `'script' tag with a remote URL` => weight = 100 ([1st version example](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/weights-updates-remot

[2018-06-26 13:21] AlexandraMoga commented on #8405
@eviljeff so you're still waiting for https://github.com/mozilla/addons-server/issues/8412 before migrating a few more themes? #8558 it is also pending for verification.

[2018-06-26 13:29] AlexandraMoga commented on #8556
verified fixed on AMO -dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/41915308-12fc44d6-795e-11e8-8fdb-69070f9fd7bb.png)

[2018-06-26 13:34] diox commented on #8436
1. Yes.
2. `contentscript.js` was detected as minified in that add-on, adding an extra 100. Also note that this add-on author now has abuse reports (that wasn't the case initially).
3. Same thing as 2.
4. Same thing as 2. and 3., except there are 2 "minified" files (`contentscript-doc.js` and `contentscript.js`).
5. Yes.

I know that those files detected as minified are not actually minified but r

[2018-06-26 13:43] eviljeff commented on #8405
It's a bit of a hassle to have the command run, so yeah, I'll wait for everything.  #8412 should be ready for this week's tag (though can and should be verified separately because it covers uploads/wizard submissions too, and not just the migration).

I was hoping to get #8267 done at the same time but it's less straightforward.

[2018-06-26 13:52] AlexandraMoga commented on #8436
Regarding 2, 3 and 4 I've also hinted in my comments that https://github.com/mozilla/addons-linter/issues/1645 might be the culprit.

Since there haven't been any other problems spotted, I'm going to mark this issue as verified fixed on AMO -dev with FF60, Win10x64

[2018-06-26 15:59] #7163 closed

[2018-06-26 17:30] bobsilverberg commented on #8509
@diox Just checking in to see if you think that "the missing" part mentioned at https://github.com/mozilla/addons-server/issues/8509#issuecomment-399408721 is likely to be done this week.

[2018-06-26 18:49] diox commented on #8509
@bobsilverberg I have a PR that I was hoping to get it in today's tag but it needed some changes, it will be merged tomorrow.

[2018-06-26 20:06] #8649 closed

[2018-06-26 20:16] eviljeff commented on #8267
The ratings part of this landed already so I'm calling that closed and opening a new issue for (the much more tricky) usage statistics part.

[2018-06-26 20:16] #8267 closed

[2018-06-26 20:19] eviljeff opened #8662 "Statistics for a LWT need to migrate to static theme too"
Follow on from #8267

We need to migrate all the usage statistics for the lightweight theme when it becomes a static theme.  We also need to continue to count pre-migrated users (i.e. a user who has the LWT installed and doesn't update to the static theme for whatever reason).

[2018-06-26 20:21] eviljeff commented on #8662
LWT don't have a concept of "downloads" so we can't fill in weekly/total downloads.  (Thankfully we don't expose download counts in the API directly)

[2018-06-26 21:20] jvillalobos commented on #8520
It would be nice, but have you considered what to do about localization? That was one of the trickier issues when dealing with this problem.

Wouldn't removing the name field for updates put static themes effectively on the same boat as extensions?

[2018-06-27 06:41] AlexandraMoga commented on #8267
The best examples to migrate that will help in testing are:

https://addons-dev.allizom.org/en-US/firefox/addon/lilac-prediction/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/litefox/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/an-autumn-reverie/?src=search

[2018-06-27 08:32] AlexandraMoga commented on #8509
@diox should I understand that users with `Collections:Contribute` don't have the ability yet to edit the featured personas collection from the frontend? There is no Edit button available for them currently. Will they also need the additional special permissions in order to be allowed to do that?

[2018-06-27 08:50] davidhedlund opened #8668 "API data: Add software dependencies"
### Describe the problem and steps to reproduce it:
Some add-ons require external programs to work. We want to exclude these add-on entries from being automatically synced to directory.fsf.org. In the future we want to list all add-ons with software dependencies and manually evaluate if the dependencies are 100% free software so we can whitelist them for automatic synchronization. Add-ons with non

[2018-06-27 09:29] eviljeff commented on #8520
There effectively wouldn't be any localisation of the name if the wizard was used.  The developer would need to craft their own xpi to do that.

I don't follow.

[2018-06-27 09:50] AlexandraMoga opened #8669 "Add-on count in 'featured-personas' collection on the new frontend is wrong"
STR:

1. Visit the featured-personas collection on AMO - https://addons.mozilla.org/en-US/firefox/collections/mozilla/featured-personas/
2. Observe the add-on count
3. Go to the next page
4. Check the add-on count again

Actual result:
The count is broken when the user first lands on the collection details page (a higher number than the actual number is displayed)

Expected result:
The correct num

[2018-06-27 10:04] AlexandraMoga commented on #7163
@wagnerand is there anything left to be tested around this feature apart from what we've marked already as verified?
Thanks

[2018-06-27 10:08] diox commented on #8509
@AlexandraMoga that hasn't been implemented in the new frontend yet, and I haven't checked the legacy one because it's on its way out.

[2018-06-27 10:10] wagnerand commented on #7163
@AlexandraMoga the last part was removing the waffle flag `beta-versions`. If you'd like to test that, just make sure it's not on the waffle flag admin page anymore.

[2018-06-27 10:23] wagnerand commented on #8668
@jvillalobos.

Personally, I don't see how this can happen since we can't possibly know which dependencies each add-on has.

[2018-06-27 10:29] diox commented on #8668
If an add-on truly has an external dependency, it will likely depend on the `nativeMessaging` permission, which we already expose in the API.

[2018-06-27 10:40] davidhedlund commented on #8668
@diox Thanks, but that's not what I see in

[2018-06-27 10:42] diox commented on #8668
That add-on is the exception, not the rule. It's because the additional software must do some funky proxy stuff or something similar.

[2018-06-27 10:44] davidhedlund commented on #8668
@diox Alright. But how can we be sure all of exceptions? We will import meta-dataf from thousands of WebExtensions to the Free Software Directory.

[2018-06-27 10:46] diox commented on #8668
You can't be sure. But relying on developers to edit yet another field in devhub is not 100% reliable either. The canonical, supported way for an add-on to interact with other software is through `nativeMessaging`.

[2018-06-27 10:47] davidhedlund commented on #8668
@diox Thanks, I will use it.

[2018-06-27 10:50] davidhedlund commented on #8668
@diox

It is still better than nothing.

[2018-06-27 11:32] wagnerand commented on #8059
Fixed via #8661.

[2018-06-27 11:32] #8059 closed

[2018-06-27 12:17] vcarciu commented on #6962
I was able to reproduce this today on -dev, but unfortunately, I don't have any special steps. I normally uploaded a second version for a webext :
https://addons-dev.allizom.org/en-US/developers/addon/wretzalark-penat-doldfis/versions

[2018-06-27 12:47] vcarciu commented on #8640
No server errors encountered during submissions. Marking bug as verified.

[2018-06-27 12:49] AlexandraMoga commented on #7163
No more `beta-versions` flag in admin pages on -dev and stage:
![image](https://user-images.githubusercontent.com/31961530/41974659-3cbcc2c8-7a21-11e8-927f-4d7fa5ee5018.png)

Considering that all other related issues were verified, I'm going to mark this one as verified fixed as well.

[2018-06-27 12:49] diox commented on #6962
I have a theory that it's because some task/cron is overwriting the fields on the add-on, because those don't use transactions and may have started before the version was changed by the approval (either auto-approve or manual reviewer approval).

[2018-06-27 12:53] diox commented on #6962
If that theory is right, STR for dev would look like:
- Submit an add-on, wait for it to be auto-approved
- Submit a new version **between minutes 16 and 19**. Wait for **minute 21**, refresh in devhub

If the bug is present, you'll see the wrong version being presented as the current public one. Since it's all dependent on timing and luck it's hard to be sure the STRs will work though.

[2018-06-27 12:55] vcarciu commented on #6962
@diox : I will try your theory and I will come back with the results

[2018-06-27 13:17] #8412 closed

[2018-06-27 13:29] eviljeff commented on #8412
QA:
- Submit a static theme either with an .xpi or via the wizard as a listed version.
- Trivially check the preview was rendered in the last step of the upload flow.  Should be the same size as before, 680x92, but with slightly smaller circles to represent icons (and a few other minor tweaks - see header_large.svg in pwalm's zip)
- to check other sizes easiest way is to use the API, as I'm not su

[2018-06-27 13:55] AlexandraMoga opened #8673 "Add-ons deleted from featured-personas collection are not removed from AMO featured themes"
STR:

1. Log in to AMO with an admin user
2. Open the featured-personas collection and remove a theme from the list - https://addons.allizom.org/en-US/firefox/collections/mozilla/featured-personas/edit/#addons-edit
3. Save the updates
4. Go back to AMO homepage and click on the More featured themes shelf
5. Check if the theme deleted from the collection is also removed from AMO

Actual result:
The

[2018-06-27 13:57] diox commented on #8673
Pretty sure this is because the featured cache is not fully cleared when an add-on is removed from a featured collection. We do force an add-on re-index, but get the old featured cache value.

As seen here: https://github.com/mozilla/addons-server/blob/31be530b52db9fd49203b49543ff32013ff13208/src/olympia/bandwagon/models.py#L361

Clearing the featured cache for just `None`, `None` is not enough to

[2018-06-27 14:12] willdurand opened #8674 "Expose FxA URL (for editing a user email) in the API"
See: https://github.com/mozilla/addons-frontend/issues/5390

---

The frontend does not know anything about FxA and we don't have a specific config for each environment. In -prod, we use `/accounts/login/start/` for authenticating a user and addons-server does the correct FxA redirect (given a `config` query parameter).

The profile edit page has a link to FxA so that a user can edit their email a

[2018-06-27 14:41] #6962 closed

[2018-06-27 14:43] diox commented on #6962
The existing affected add-ons should be fixed by admins using raw SQL or something to update the `_current_version` - or hopefully just submitting and approving a new version should work.

We're not sure my change fixes the problem as QA hasn't been able to reliably reproduce the original issue, so we'll just hope for the best and re-open if we still see it in the wild.

[2018-06-27 15:32] diox commented on #8645
They will go away once we launch the command to delete them (and reindex). Assigning to me to check.

[2018-06-27 15:33] diox commented on #8669
See also https://github.com/mozilla/addons/issues/740

[2018-06-27 15:35] diox commented on #8669
Dupe of https://github.com/mozilla/addons-server/issues/8065 actually

[2018-06-27 15:38] diox commented on #8490
In devhub we display a widget allowing you to see / edit localized fields in all languages. The API was designed for this as well, returning all translations if you don't pass a `lang` parameter. So the frontend can implement something like this.

In any case, it's a frontend bug. @AlexandraMoga can you refile it there? The bug is really that the frontend should let you know which locale you're ed

[2018-06-27 15:38] #8490 closed

[2018-06-27 15:49] diox commented on #8491
We're not going to fix legacy frontend issues like these.

[2018-06-27 15:49] #8491 closed

[2018-06-27 15:51] diox commented on #8486
Technically an API issue, we should filter them somehow, but I don't see how. We'd need telemetry to be able to do that, no?

[2018-06-27 19:30] wagnerand opened #8676 "Update reviewer risk tier threshold"
Following the re-weighting in #8436, we also need to change the thresholds for the risk tiers.

Highest: 275
High: 175
Medium: 90

The only direct impact this has is on points, so in order to test this, just submit an add-on with the respective weight, review it and check that the right amount of points were given.

[2018-06-27 19:31] eviljeff commented on #8267
@AlexandraMoga command has been ran.  They look good to me.

[2018-06-27 20:12] bobsilverberg commented on #8509
@diox I asked in IRC but perhaps you weren't around. I am unsure about the code for `Collections:Contribute`, specifically https://github.com/diox/olympia/blob/d153674c917eb1f16327d9eba497af03d794f3b1/src/olympia/lib/settings_base.py#L1524, because it looks like you're referencing a particular PK, but won't that be different on dev, stage, and prod? Should we be using a `slug` instead?

Also, coul

[2018-06-27 21:21] #8676 closed

[2018-06-27 22:32] jvillalobos commented on #8668
Agree that self-reporting will not be reliable, and since it doesn't seem to be of great value for AMO, we shouldn't do this.

[2018-06-27 22:35] jvillalobos commented on #8520
The issue with localization and tying strings to the manifest is that the manifest is localizable, so a developer can upload new versions that add/remove locales, which could affect other localizable fields that are unrelated to the manifest. It's a solvable problem, but it doesn't seem worth tackling only for themes.

I'm suggesting that, when you upload an update using the theme wizard, we don't

[2018-06-28 07:54] AlexandraMoga commented on #8558
I've verified with a static theme migrated yesterday and it seems that the Last Update date is still the date of the migration:

https://addons-dev.allizom.org/en-US/firefox/addon/litefox/?src=search

![image](https://user-images.githubusercontent.com/31961530/42020782-9091e43c-7ac1-11e8-89aa-9bf7deaff64e.png)

[2018-06-28 08:23] AlexandraMoga commented on #8676
@wagnerand here is an overview of the old model:

* `REVIEWED_EXTENSION_HIGHEST_RISK`: add-ons with `weight > 150` get 140 points.
* `REVIEWED_EXTENSION_HIGH_RISK`: add-ons with `150 >= weight > 100` get  120 points.
* `REVIEWED_EXTENSION_MEDIUM_RISK`: add-ons with `100 >= weight > 20` get 90 points.
* `REVIEWED_EXTENSION_LOW_RISK`: add-ons with `20 >= weight` get no points.

Is your new model som

[2018-06-28 11:06] AlexandraMoga commented on #8676
@wagnerand  the reward system seems to be working on the old model still
After some tests on -dev, this is what I've observed:

- add-ons with weight **over 150** - receive 140p
- add-ons with weight **over 100** up to **=150** - receive 120p
- add-ons with weight **over 20** up to **=100** - receive 90p
- add-ons with weight **under =20** - receive no points

[2018-06-28 11:20] #7743 closed

[2018-06-28 11:37] AlexandraMoga commented on #8405
Verified on AMO -dev with the following migrated themes:

https://addons-dev.allizom.org/en-US/firefox/addon/lilac-prediction/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/litefox/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/an-autumn-reverie/?src=search

Previews are being generated now.

Here is an example:
![image](https://user-images.githubusercontent.com/319

[2018-06-28 11:53] wagnerand commented on #8676
Sorry I misread your earlier comment, I thought you had verified it already. It seems like there are some issues with deploying, I'll let you know once it's resolved.

[2018-06-28 11:55] AlexandraMoga commented on #8676
@wagnerand oh, sorry for the confusion, It was a statement indeed. I wanted to make sure that the expected results were clear.

[2018-06-28 12:20] #8633 closed

[2018-06-28 12:20] #8632 closed

[2018-06-28 12:22] EnTeQuAk commented on #1366
The work in https://github.com/mozilla/addons-server/issues/5712 will probably help with this too. It's ongoing but very slowly since the migrations are quite heavy and hard to write / test. We'll get there :)

[2018-06-28 13:13] AlexandraMoga commented on #8267
Verified fixed on AMO dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/42036024-fbe62862-7aec-11e8-851d-564b465d0aef.png)
![image](https://user-images.githubusercontent.com/31961530/42036026-ff650544-7aec-11e8-855f-ced23099d82a.png)

[2018-06-28 14:47] diox commented on #7249
Going to use this issue to create the permission and a group that has it, but the implementation will be in separate issues. For instance, #7268 will use it for user deletion.

[2018-06-28 16:43] diox commented on #8668
Amusingly... we do have a flag to indicate that an add-on depends on external software already. It's buried in "Technical Details" in devhub, under "Add-on Flags", when you edit that section it shows up under the label "This add-on requires external software.".

We don't expose that through the API atm, but this is trivial to do. Should we remove it entirely? Or keep it, renaming the "Add-on flags

[2018-06-28 16:49] diox commented on #8668
To be clear: I don't think we want to record what the dependency is. But exposing that it requires one, just a simple boolean, might make sense.

[2018-06-28 17:33] vcarciu commented on #8676
Verified as fixed on Stage

[2018-06-28 20:18] bjherbison commented on #6837
Here is an example that is worse than I've come across before:

[2018-06-28 21:28] #5174 closed

[2018-06-29 05:44] EnTeQuAk commented on #8480
This got fixed, we are now as loud as we can and we're raising exceptions rather than ignoring them silently.

[2018-06-29 05:44] #8480 closed

[2018-06-29 05:46] EnTeQuAk commented on #8220
I'm closing this issue for now.

We deployed the solution mentioned in [bug 1468709](bugzilla.mozilla.org/show_bug.cgi?id=1468709) to production yesterday and we hope that this will fix extraction problems once and for all.

There may be some degraded extraction-performance but even that doesn't seem to be the case from what I see.

Please feel free to report any further issues that you see. Eithe

[2018-06-29 05:46] #8220 closed

[2018-06-29 06:01] #8534 closed

[2018-06-29 06:03] AlexandraMoga commented on #4925
Verified fixed in prod

![fxa prod](https://user-images.githubusercontent.com/31961530/42075803-476ae01e-7b7b-11e8-9cf1-e84fbff91ad4.gif)

[2018-06-29 06:44] erosman commented on #8436
@wagnerand  @diox   Noteworthy is that unless all add-ons that are currently in the queues are re-evaluated and re-weighted, 1000s of add-ons that were previously weighted according to the previous rules and should be humanly reviewed, will fall under the new ignore threshold of 90.

[2018-06-29 09:44] eviljeff commented on #5762
Did you establish the cause of the failures?

[2018-06-29 09:58] eviljeff commented on #5805
@jvillalobos @pwalm what icon sizes do we want?  Though I suppose a better question is what icon sizes does frontend want to display?

[2018-06-29 10:17] diox commented on #5762
Back then we never understood why it was doing this. Django has support for [persistent connections](https://docs.djangoproject.com/en/1.8/ref/databases/#persistent-connections) and is supposed to re-open a new one when necessary but evidently it was not working properly in that case. It's probably because of the way `services/` operate, with its own wsgi app, manually setting up django etc, but I

[2018-06-29 10:47] wagnerand opened #8692 "Delete localization access groups"
Localization groups and their permissions are no longer used, let's get rid of the numerous access groups.

[2018-06-29 10:47] AlexandraMoga opened #8693 "Two previews instead of one are generated in DevHub at static theme submission"
STR:

1. Log in to DevHub
2. Submit a new static theme via de wizard or .xpi
3. Follow the necessary steps and finalize your theme
4. Observe the generated previews in the last submission step

Actual result:
There are two previews generated: one matching the header size (680x92) and the other matching the listing size (760x92)

Expected result:
There should be only one preview generated in the la

[2018-06-29 10:50] AlexandraMoga commented on #8412
I've tested the new ST previews based on the above recommendations and here are my results:
- the new preview styles use smaller circles and thinner lines to represent text, icons and other browser elements

![image](https://user-images.githubusercontent.com/31961530/42088064-f901a892-7ba0-11e8-9f6e-2a3bb9a16f22.png)

- the API exposes the new preview sizes (image and thumbnail), with two previews

[2018-06-29 11:15] eviljeff commented on #8693
I'm okay with the reviewer tools showing both.  Devhub is a bit confusing though.

[2018-06-29 11:18] eviljeff commented on #5762
yeah, using part of django in something that isn't running with django is going to be risky.

[2018-06-29 11:21] #7268 closed

[2018-06-29 11:38] vcarciu commented on #8534
@EnTeQuAk : Please add some STRs to this issue or mark it as "qa: not needed"

[2018-06-29 12:04] xeonchen opened #8696 "Stuck with Add-on Distribution Agreement"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
1. Login into AMO, try to submit a new add-on
1. Agree Add-on Distribution Agreement by checking all check boxes and submit

### What happened?
Redirected to Add-on Distribution Agreement again, check boxes are unchecked.

### What did you expect to happen?
Start to fill some info about the new add-on

[2018-06-29 12:24] diox commented on #8696
I reproduced this with a new account in prod :(

[2018-06-29 12:28] eviljeff commented on #8479
@diox is this a dupe now?

[2018-06-29 12:35] diox commented on #8696
As reported, logout and re-login works, but also just waiting for a bit and retrying. Replication lag in datadog is looking fine, but even if it wasn't we do database pinning through a cookie, so that should save us anyway...

Also, I can't reproduce locally... Maybe cache-machine related?

[2018-06-29 13:07] AlexandraMoga commented on #8509
I have verified this on AMO -dev by using the legacy site and the django admin pages.
Here are the results:
1. `Admin` users are able to edit collections through the legacy site and through django admin. Not allowed to _add_ new addons in a collection **on the new frontend**, but are allowed to _remove_ an add-on from it.
2. `Collections:Edit` users can't edit collections on the legacy site or in

[2018-06-29 13:13] diox commented on #8509
This is expected, @bobsilverberg needs to land more things on the new frontend to fix the issues you found.

[2018-06-29 13:42] wagnerand opened #8697 "Delete obsolete access groups"
I went through the access groups and there are quite a few which are no longer in use:

- `Developers`: Looks like Marketplace cruft.
- `Developers Credits`: Credits page is gone.
- `Engagement`: An old group that allowed to export email addresses on an admin page, which was not referenced anywhere, introduced in https://bugzilla.mozilla.org/show_bug.cgi?id=797920.
- `Monolith API`: Not sure what

[2018-06-29 13:43] wagnerand opened #8698 "Remove Limited Reviewers"
The "Limited Reviewers" group applies to legacy queues only and is no longer relevant. Let's remove it.

[2018-06-29 13:53] AlexandraMoga commented on #8509
I'm going to mark this issue as verified fixedon AMO -dev then, Will wait for the frontend part to land to retest the actions allowed by each permission.

[2018-06-29 14:02] diox commented on #8697
Yes, those are from Marketplace.

Not from Marketplace (https://wiki.mozilla.org/AMO/FlightDeck) but obsolete

Technically not just Marketplace but obsolete, yes.

[2018-06-29 15:12] #8692 closed

[2018-06-29 15:14] wagnerand commented on #8692
QA: Just check that there are no more "<LOCALE> Localizers" access groups on `admin/models/access/group/`.

[2018-06-29 15:15] wagnerand commented on #8697
Cool, any objections on deleting `System Administrators`?

[2018-06-29 15:17] jvillalobos commented on #8697
That group was originally going to be used for #7249, but I think we decided to go a different direction.

[2018-06-29 15:20] wagnerand commented on #8697
I'll add the "QA" group which at some point might or might not have been used for moving data dumps from prod to dev but @diox said we don't have to care about it.

[2018-06-29 15:52] eviljeff commented on #5805
fwiw, frontend is displaying the 64 icon right now (and resizing it down to 32 on the shelves).  I think we're good with switching to 48 and 96 on devhub, though they'll be some frontend work and it'll be upsizing to 96.  Its a #7907 style/sized project again really.

[2018-06-29 15:54] davidhedlund commented on #8668
@diox I think you want to make the title more specific.

[2018-06-29 16:36] bobsilverberg opened #8701 "Removed localizedStrings from the Collections model"
We don't really need any localizedStrings in the Collections model, and three in particular are causing issues:

- Collection.name
- Collection.description
- CollectionAddon.notes (see #7832, which can now be considered a duplicate of this)

This issue is to convert these (and perhaps any others deemed suitable) to proper CharFields.

Once complete, https://github.com/mozilla/addons-frontend/issue

[2018-06-29 16:36] bobsilverberg commented on #7832
This has been replaced by #8701.

[2018-06-29 16:36] #7832 closed

[2018-06-29 16:44] eviljeff commented on #8701
Just to note, this would drop the ability to localise the name and description for _any_ collection - including Mozilla collections.

[2018-06-29 16:45] eviljeff commented on #8701
Fwiw, I'm working on a fix to the locale mess in the API level anyway.

[2018-06-29 17:13] jasonthomas commented on #8696
This should now be resolved.

Our redis cluster failed over due to some instance issues and our configuration does not account for failover. Since we use cache machine redis backend to manage the flush lists new flush entries were not being entered and so we weren't invalidating cache. Eventually the cached object in memcached would be evicted and it would recover and that is why we were seeing we

[2018-06-29 17:13] #8696 closed

[2018-06-29 18:00] jvillalobos opened #8702 "Check user review text with Akismet"
[Akismet PRD](https://docs.google.com/document/d/1mx27WOSr1_NJIb3dWg6tmq6WWJMgka8ExOIMeCDbi7Y/edit#). All new and updated user reviews need to be sent to the Akismet API. If the API returns positively for spam, the review needs to be flagged for moderation, using "Spam or otherwise non-review content" as the reason. The reporter account should be the [official Mozilla account](https://addons.mozil

[2018-06-29 18:03] jvillalobos opened #8703 "Check collection metadata with Akismet"
[Akismet PRD](https://docs.google.com/document/d/1mx27WOSr1_NJIb3dWg6tmq6WWJMgka8ExOIMeCDbi7Y/edit#). All new and updated collection names and descriptions need to be sent to the Akismet API (collector notes are not included for now). If the API returns positively for spam, the collection shouldn't be created or updated, and an error message should be shown to the user: “The  text entered has been

[2018-06-29 18:04] jvillalobos opened #8704 "Check add-on listing metadata with Akismet"
[Akismet PRD](https://docs.google.com/document/d/1mx27WOSr1_NJIb3dWg6tmq6WWJMgka8ExOIMeCDbi7Y/edit#). All new and updated add-on names, summaries, and descriptions need to be sent to the Akismet API. If the API returns positively for spam, the add-on shouldn't be created or updated, and an error message should be shown to the user: “The  text entered has been flagged as spam.” (/cc @MeridelW for c

[2018-06-29 18:10] jvillalobos opened #8705 "Akismet spam log admin"
[Akismet PRD](https://docs.google.com/document/d/1mx27WOSr1_NJIb3dWg6tmq6WWJMgka8ExOIMeCDbi7Y/edit#). All spam requests and responses with Akismet must be logged. They must include all the data sent in the original API request. The log should be browsable and searchable in the AMO Admin tools.

For positive spam responses, there must be an option to report the response as “Ham” (false positive). F

[2018-06-29 18:36] davidhedlund opened #8706 "API: Please adopt SPDX"
### Describe the problem and steps to reproduce it:
Software Package Data Exchange (SPDX) is a file format used to document information on the software licenses under which a given piece of computer software is distributed.

SPDX is not used by the API yet.

### What happened?
Downloaded a license data sample file to check the license format:

https://addons.mozilla.org/api/v3/addons/addon/adblock

[2018-06-29 18:47] davidhedlund commented on #8706
Part of our Free Software Directory task: https://savannah.gnu.org/task/index.php?14976

[2018-06-29 18:52] diox commented on #8696
Verified by myself and jason after it was fixed.

Worth noting that we're planning to get rid of cache-machine entirely next week. That's https://github.com/mozilla/addons-server/issues/7743

[2018-06-29 19:29] davidhedlund commented on #8706
@diox Proposed changes in https://addons.mozilla.org/en-US/developers/addon/gtsv/ownership

[code]

Use SPDX full name identifiers (https://spdx.org/licenses/):
[code]

[2018-06-29 19:36] davidhedlund opened #8707 "Allow GNU [L]GPL x.x or later"
### Describe the problem and steps to reproduce it:
Visited https://addons.mozilla.org/en-US/developers/addon/ENTRY/ownership

### What happened?
I can choose one of the following licenses:

### What did you expect to happen?

The "or later" options are relevant and have separate entries in the SPDX database (https://spdx.org/licenses/GPL-3.0-only.html and https://spdx.org/licenses/GPL-3.0-or-late

[2018-06-29 19:36] davidhedlund commented on #8706
https://github.com/mozilla/addons-server/issues/8707

[2018-06-29 19:36] davidhedlund commented on #8707
https://github.com/mozilla/addons-server/issues/8706

[2018-06-29 19:37] davidhedlund commented on #8707
I think this issue deserves a high priority.

[2018-06-29 20:54] ian-kelling commented on #8707
I agree this issue should be prioritized, and in fact where david suggests
"GNU General Public License, version 2.0" the spdx link says (and FSF agrees) it should say
"GNU General Public License v2.0 only"

https://www.fsf.org/blogs/rms/rms-article-for-claritys-sake-please-dont-say-licensed-under-gnu-gpl-2

[2018-06-30 15:02] davidhedlund commented on #8707
https://spdx.org/news/news/2018/01/license-list-30-released

[2018-06-30 15:08] davidhedlund commented on #8706
https://spdx.org/news/news/2018/01/license-list-30-released

[2018-07-02 06:37] EnTeQuAk opened #8710 "Version Detail cache-key uses un-escaped user input"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4410846/

[code]

[2018-07-02 06:38] EnTeQuAk opened #8711 "Error formatting in _update_addon_download_totals doesn't resolve all arguments in format string"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4414407/

[code]

[2018-07-02 07:29] EnTeQuAk commented on #8707
You can always define your own, custom license if you want to. So using the "or later" licenses should just work fine for you already.

Personally, I don't think so. Although the "or later" gives you the ability to receive minor version updates of the GPL it's still an implicit update of how your software is being distributed and many people don't like that. Same reason why you are actually pinnin

[2018-07-02 08:50] EnTeQuAk commented on #8711
I actually broke that as part of 343f3dcb4ebcf4a53ff4686dbfecf211dea16d41

[2018-07-02 09:14] #8532 closed

[2018-07-02 10:02] eviljeff opened #8712 "Localised response for discovery api is inconsistent"
If you make straight `/api/v4/discovery/` request in the results you get all the localised `addon.name` the developer has provided, as a dict, but `heading` and `description` are only sent in `en-US`.  We don't indicate that the `heading` and `description` response may be localised in the API docs.

If you request a particular lang,  `/api/v4/discovery/?lang=fr` you sometimes get `addon.name` in t

[2018-07-02 10:29] diox commented on #8673
This is annoying but has always been the case.

[2018-07-02 10:35] diox commented on #8712
IMHO even though it looks bad, this is mostly an edge case that requires documentation, not something we can fix.

Those translations depend on gettext content and not of the database, and it's not really meant to be used to fetch translations in all languages at the same time. It would be horribly inefficient to try to do so, and mostly useless to the only consumer of that API we care about, addo

[2018-07-02 11:00] eviljeff commented on #8712
yeah I'm not sure how much we want to fix here, I was just documenting what I found when I was implementing the localisation changes in the API response.  The discovery endpoint is one that crafts it's own response, to an extent, and it's semi-localised but not in the same way as our Translated fields.

It wouldn't be very difficult to have it expose what locale was returned if we want it to be co

[2018-07-02 11:34] vcarciu commented on #8532
Can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-07-02 13:05] vcarciu commented on #8692
I verified and no "LOCALE  Localizers" groups is available. Marking as verified.

[2018-07-02 13:05] diox commented on #8712
We should do that for v4, yes. I vaguely remember discussing that with someone and ending up not doing it, but I think it was just that at the time we didn't really see the value in that.

[2018-07-02 13:37] diox commented on #8263
Re-filed on the frontend : https://github.com/mozilla/addons-frontend/issues/5475

[2018-07-02 13:37] #8263 closed

[2018-07-02 13:39] diox commented on #8264
Refiled on addons-frontend: https://github.com/mozilla/addons-frontend/issues/5476

[2018-07-02 13:39] #8264 closed

[2018-07-02 14:10] EnTeQuAk commented on #6519
Closing this as part of https://github.com/mozilla/addons-server/issues/8220

[2018-07-02 14:10] #6519 closed

[2018-07-02 14:19] wagnerand commented on #8697
QA: Check that the groups mentioned in https://github.com/mozilla/addons-server/issues/8697#issue-337004047 do no longer exist on the groups admin page.

[2018-07-02 14:23] wagnerand commented on #8698
QA:

* Check that the "Limited Reviewers" group is gone from the groups admin page
* Check that you can approve/reject a legacy and a webextension add-on version.

[2018-07-02 14:25] diox opened #8716 "L10n extraction broken by django template"
`manage.py extract` fails on master:
[code]

[2018-07-02 14:36] ioanarusiczki commented on #8554
Verified fixed on AMO dev with FF61(Win10)

![about this theme](https://user-images.githubusercontent.com/33448286/42170089-3597e1ca-7e1e-11e8-9927-8c6aad4b5841.gif)

[2018-07-02 14:45] #8716 closed

[2018-07-02 15:11] #8697 closed

[2018-07-02 15:28] ioanarusiczki commented on #8059
Verified fixed on AMO dev with FF61(Win10).

![the invisible status](https://user-images.githubusercontent.com/33448286/42172641-4851e552-7e25-11e8-9f51-201651c764aa.gif)

[2018-07-02 17:21] wagnerand opened #8719 "Add link to admin userprofile page on admin group page"
In order to identify who is who, it would be helpful if the admin access group membership page (`admin/models/access/group/<GROUPID>/`) had a link to the user profile for each member.

[2018-07-02 17:36] #8662 closed

[2018-07-02 17:48] eviljeff commented on #8520
Yes, that's true.  Although the difference would be they wouldn't be able to change the name in the xpi (so Firefox add-on manager) either, without crafting their own xpi.  Tbh, this is probably a very rare thing.  So just removing the field should be enough.

[2018-07-03 01:33] devaneymoz opened #8723 "July 2018 Disco Pane content update"
For the **19 July** push, please adjust Disco Pane programming to reflect as follows...

**Abstract Colorful Owl** by [candelora](https://addons.mozilla.org/firefox/addon/abstract-colorful-owl/)

**Leave a clean digital trail** with [Forget Me Not by Lusito](https://addons.mozilla.org/firefox/addon/forget_me_not/)
Make Firefox forget website data like cookies and local storage, but only for domain

[2018-07-03 07:28] ioanarusiczki opened #8725 "Static themes are included in Add-ons developer instead of Theme artist on user's info card"
Transferring https://github.com/mozilla/addons-frontend/issues/5458

STR:
1. Load AMO dev and using a new account submit a static theme and approve it
2.  Go to view profile and observe the category displayed at the top of the page

Expected result:
Theme artist.

Actual result:
Add-ons developer.

Notes:
This issue is reproducible with FF60(Win10).

![42091187-f9177120-7bac-11e8-8f21-67581cf7b3e5

[2018-07-03 07:32] ioanarusiczki opened #8726 "Theme artist or Add-on developer should be displayed on the user's info card only after the add-on or theme is approved"
transferring https://github.com/mozilla/addons-frontend/issues/5457

STR:
1.  Create a new account and sign in
2.  Submit an extension and approve it - notice that before approving it the Add-on developer is already displayed on the card but the card is public only after the first add-on or theme is approved
3.  Submit a lightweight theme for the new account then with an admin account reject it
4.

[2018-07-03 10:43] EnTeQuAk opened #8727 "File not found in file-viewer during extraction."
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4433397/

[code]

[2018-07-03 11:07] diox commented on #8479
Yeah, dupe of https://github.com/mozilla/addons-server/issues/8509

[2018-07-03 11:07] #8479 closed

[2018-07-03 11:33] diox commented on #6390
@Sancus can you confirm whether the redirect work for you on dev?

[2018-07-03 11:39] diox commented on #8726
Code for `is_artist` (and `is_developer` / `is_addon_developer`) changed in a3b9bcd009e but the problem already existed before.

Do we really care? Need to be careful about changing the definition of this property (and the other `is_*`) because they could be used to determine what the user itself will see elsewhere like in devhub.

[2018-07-03 11:41] diox commented on #8725
More important than https://github.com/mozilla/addons-server/issues/8726 IMHO. Like in that issue, need to be careful about the implications of changing those properties, but we should do it.

[2018-07-03 11:45] diox commented on #6739
Not sure why the project is not public, but the plan is still roughly the same as it was laid out in the description of this issue - fairly straightforward, move towards having dictionaries in AMO using a WebExtension-like packaging instead of what we have now.

[2018-07-03 11:51] #8719 closed

[2018-07-03 11:59] wagnerand opened #8729 "Rejected file not available for reviewers"
https://addons.mozilla.org/firefox/downloads/file/997477/fuze_for_firefox-118.10615.12112.1-an+fx.xpi has been rejected but should still be available if you have reviewer permissions. Unfortunately, it shows 404 though.

[2018-07-03 12:22] Abhi-khandelwal commented on #8654
hello @ioanarusiczki  , I am a newbie to Open-Source , I want to solve this bug can you please guide me

[2018-07-03 13:23] #8698 closed

[2018-07-03 13:28] vcarciu commented on #8697
Verified as fixed for all groups from description in AMO-dev.

[2018-07-03 13:53] wagnerand commented on #8654
Hi @Abhi-khandelwal please see https://wiki.mozilla.org/Add-ons/Contribute#Improve_addons.mozilla.org_.28AMO.29 for relevant information. Also, please feel free to pick a bug that we already nominated as a "good first bug". You'll find more information on the wiki page. Thanks!

[2018-07-03 14:14] vcarciu commented on #8719
Verified as fixed. Links are present and working

[2018-07-03 14:15] vcarciu commented on #8716
Can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-07-03 14:25] vcarciu commented on #8698
Verified as fixed. "Limited Reviewers" group is not available anymore and I was able to approve\reject both legacy and webextensions versions.

[2018-07-03 16:00] diox commented on #8645
I ran the script *on dev*.

[2018-07-03 16:17] diox commented on #8645
tasks were triggered in bulk, 1180 add-ons should have been deleted... but I can only see 869 delete calls :(

[2018-07-03 16:22] diox commented on #8645
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4434554/

`addon.delete()` failed here, interrupting deletion task for the rest of that batch entirely. That happened 8 times.

I'll make deletion more robust to handle this.

[2018-07-03 17:24] diox opened #8734 "Use custom heading and description for disco pane recommendations (entered through an admin tool)"
In the disco pane when we serve recommended add-ons from TAAR, for each add-on the heading and description are generated automatically from the add-on name and summary, respectively.

We want to be able to use editorial content even serving recommendations. That means:
- Preparing editorial content for a big list of add-ons. The list would be stored in database, allowing the team to update them in

[2018-07-03 17:32] diox commented on #8734
Since django doesn't let you add custom gettext domains easily, I think the implementation of the extraction part will have to be a custom command that does something like:
- Calls the API
- Builds a fake source file with all the data
- Calls the regular extraction command

[2018-07-03 18:35] eviljeff opened #8735 "Mozilla user should be special and no-one should be able to log in as it"
The Mozilla user (https://addons.mozilla.org/firefox/user/mozilla/) owns a whole bunch of high profile add-ons and collections.  We shouldn't allow anyone to log in as it - even if they have a valid FxA login for the linked email address (addons-team@m.c).

(Plus we special case some actions & logging attributed to it because it's also used for some tasks like auto approval)

[2018-07-04 03:46] Sancus commented on #6390
I tested 1,2&4 on addons.allizom.org and they seem to work as expected, but I don't know what the domain is for versioncheck. `https://versioncheck.addons.allizom.org` doesn't work?

[2018-07-04 05:21] Abhi-khandelwal commented on #8654
![screenshot from 2018-07-04 10-49-39](https://user-images.githubusercontent.com/25298686/42258171-0342757c-7f78-11e8-919d-eff6ad977fe8.png)

whenever I try to upload addons files it give an error...
can you please tell me how to fix this error ?

[2018-07-04 07:42] lavish205 commented on #8654
@wagnerand `MAX_PHOTO_UPLOAD_SIZE` is already set to 4MB in `src/olympia/lib/settings_base.py`.
Do I need to change somewhere else?

[2018-07-04 07:47] wagnerand commented on #8654
This is not a good first bug. Feel free to investigate yourself what the issue is, otherwise, you are very welcome to pick a confirmed good first bug where we can offer more guidance.

[2018-07-04 09:54] ioanarusiczki commented on #8662
Verification on -dev and -stage is blocked by https://bugzilla.mozilla.org/show_bug.cgi?id=1450108
Installed https://addons-dev.allizom.org/en-US/firefox/addon/lilac-prediction/?src=search by two users but the number of downloads on -dev and -stage are not updated, issue is tracked here.
Migrated LWT is an upcoming project that did not land in prod yet, for now it is still under test on -dev.

[2018-07-04 10:04] #8645 closed

[2018-07-04 10:22] diox opened #8739 "Build admin tool to enter custom heading and description for disco pane recommendations"
We need an admin tool to enter the custom heading and descriptions for add-ons in disco pane recommendations that will be used in https://github.com/mozilla/addons-server/issues/8734

This issue is just about building the database model and an admin tool with a special group that can only access that admin, to allow the editorial team to enter some data.

It needs to have the ability to enter and

[2018-07-04 10:29] diox opened #8740 "Build API to fetch custom heading/description for disco pane recommendations"
Follow-up to https://github.com/mozilla/addons-server/issues/8739

We need an API to fetch all the custom heading & descriptions for disco pane recommendations (in english!) that was built in https://github.com/mozilla/addons-server/issues/8739. It needs to make sure the add-ons are public, but should not require any specific permissions.

The idea is to then use that API to generate a fake file t

[2018-07-04 10:33] diox opened #8741 "Generate .pot file with custom heading/description strings for disco pane recommendations"
Once https://github.com/mozilla/addons-server/issues/8740 and https://github.com/mozilla/addons-server/issues/8739 are done, we need to modify the extraction process to integrate those strings into the extraction process.

Those strings will be entered on prod through the dedicated admin, and the script doing the extraction process should then call the prod API to fetch all strings, and add them t

[2018-07-04 10:36] diox commented on #8734
This issue should be about the last bit: "Using the editorial content, translated if necessary, when serving the disco pane API". Other issues were filed about the previous steps (#8739, #8740, #8741)

[2018-07-04 12:43] EnTeQuAk commented on #8597
Idea regarding this: Do you think it makes sense to simply commit these files into git and run synchronization as part of our locale extraction process?

We don't require updates very often anyway, product-details only get pulled when a new image is a build which only happens on Thursday for production. So the locale-sync should be perfectly fine since that happens only once a week too.

[2018-07-04 13:15] EnTeQuAk commented on #8741
How do you plan on using that file to actually expose these translations to the discovery pane? Or am I blind / misreading something?

[2018-07-04 14:21] vcarciu commented on #7268
I verified this on AMO-dev Admin pages using the permissions from description and we can mark this as verified, but I still have one questions in order to see if we need follow up bug for it:

1.With Collections:Edit permission, we can see regular collections for any user, but "My favorite addons" collections will return "Oops" page when trying to view it on site. Should I file an issue for this?

[2018-07-04 14:29] spoji commented on #8729
Same thing is happening with
https://addons.mozilla.org/firefox/downloads/file/1005816/robotext-2.7.6-an+fx.xpi?src=reviewer

from review page https://reviewers.addons.mozilla.org/en-US/reviewers/review/robot-ext

[2018-07-04 14:36] sbraz opened #8745 "Add a link to the blocking notice of Stylish to the addon page"
Hi,
As discussed with @diox on IRC, it would be nice to add a link to the [blocking notice](https://blocked.cdn.mozilla.net/c635229f-7aa0-44c5-914f-80c590949071.html) of Stylish or the related bug to its former addon page.
I initially received the wrong notice which mentioned that I had to update it so my first reaction was to check https://addons.mozilla.org/en-US/firefox/addon/stylish/ which ret

[2018-07-04 14:47] diox commented on #8741
The disco pane API will fetch the english strings from the database, request a translation through `ugettext()`, which will then use the relevant `.po` file as normal. The temporary fake file will never be on our production servers, it's just to trick the extraction process into letting us have it in the `.po` files.

[2018-07-04 14:48] diox commented on #7268
Yes, please file a separate issue for that oops (and any other you may find :)

[2018-07-04 15:39] ioanarusiczki commented on #7743
@EnTeQuAk Could you add some STR or "qa not needed" label ?

[2018-07-04 15:48] bobsilverberg opened #8747 "Admin:Curation and Collections:Contribute permissions need to work with the Collection Add-ons Create endpoint"
Collection Add-ons Edit and Collection Add-ons Delete APIs are both configured to work with the new Admin:Curation and Collections:Contribute permissions, but it appears that Collection Add-ons Create has not. It needs to also support those permissions so that appropriate users can add a new add-on to a collection.

[2018-07-04 15:48] eviljeff commented on #8745
fwiw, I think the last time we did this we hard-coded the add-on id.  (I can't remember which add-on it was now; if it's still valid; or if it what we do in the API)

[2018-07-04 15:51] bobsilverberg commented on #8747
Note that this blocks https://github.com/mozilla/addons-frontend/issues/5163 which is slated to land on prod next push, so should be treated as a fairly high priority.

[2018-07-04 15:53] Abhi-khandelwal commented on #8654
@wagnerand  can you please help me with this issue .......

[2018-07-04 16:29] diox commented on #8734
Inside the `DiscoveryItem` model that I'll be adding soon, the beginning of an implementation would look like:

[code]

Then the `DiscoveryViewSet` can fetch the relevant items and the `DiscoverySerializer` can be simplified to just use those methods. To support the existing data from `data.py` we would then just need to:
1. Add a `position` field and order on it and maybe creation date as second

[2018-07-04 17:08] vcarciu opened #8749 ""My favorite addons" collection cannot be seen by an user with Collections:Edit permission"
Steps to reproduce:
1.Add the Collections:Edit permission to an user in admin pages
2.Login to admin pages with user from Step1 and open any user with some collections
3.Open the collections list from user's admin page and then open the "My favorite addons" collection(all users should have this collection) and press the "View on site" button

Expected results:
Collection is opened on legacy site

[2018-07-04 17:19] vcarciu opened #8750 "Users with Addons:Edit permission will have an unusable "Reviewer Tools" option under username dropdown menu"
Steps to reproduce:
1.In Admin pages, add an user to a group with only Addons:Edit permissions
2.Login to amo-dev using the user from step1
3.Go to Username dropdown menu and press the Reviewer Tools option

Expected results:
The user should not have the reviewer tools option or at least it should work

Actual results:
Option is available and "Oops! Not allowed." message is displayed when trying t

[2018-07-04 20:35] eviljeff commented on #8572
The problem is the data for discopane is hard-coded in python, so anything we change for -dev then ends up on prod in the next push.  We'd have to hide the change behind a waffle switch - that would normally switched off even on -dev, outside of whatever testing window you need.

[2018-07-05 05:31] EnTeQuAk opened #8751 "Implement tools to create a git-repository and extract files into it"
Part of [Add-ons Q3 2018: Git backend for Reviewer Tools](https://github.com/orgs/mozilla/projects/23)

Implement tools that are using [pygit](https://github.com/libgit2/pygit2) to create one git-repository per add-on and extract its versioned files into it.

This doesn't involve extracting newly uploaded files yet.

* We need to make sure this doesn't touch running code, use a waffle-flag if need

[2018-07-05 05:40] EnTeQuAk opened #8752 "Remove ability to choose different platforms for new add-ons"
We discussed this last year during our All Hands, we should remove the ability to choose different platforms for WebExtensions.

Currently, we generate a new copy of the Add-ons XPI for each selected platform or for every platform in `SUPPORTED_PLATFORMS_CHOICES` (android, linux, mac, windows). The amount of add-ons that uploaded different XPIs in a later step for one of the platforms it supports

[2018-07-05 05:43] EnTeQuAk opened #8753 "Extract new versions into git-backend"
Part of [Add-ons Q3 2018: Git backend for Reviewer Tools](https://github.com/orgs/mozilla/projects/23)

Following #8751 we should start extracting new uploads of new add-ons and versions into the git-backend too.

* The most recent version always takes precedence in case of conflicts
* The revision committed to git should reflect the contents of the uploaded zip. That means we have to remove files

[2018-07-05 05:49] EnTeQuAk commented on #8657
I split this into a few more issues as part of https://github.com/orgs/mozilla/projects/23

[2018-07-05 05:49] #8657 closed

[2018-07-05 06:20] erosman opened #8756 "[Reviewer Tools] NoSuchKey Error"
Recently I am getting a fair amount of NoSuchKey errors
Example:
https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/1006374/file/static/js/main.d614e334.js#top

[code]

[2018-07-05 07:13] EnTeQuAk commented on #8756
Some files in that file work perfectly fine, e.g https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/1006374/file/asset-manifest.json#top

So the flow here is this:

If you click on "Download FILENAME"

You're opening…

* `https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/1006374/file-redirect/asset-manifest.json`
* 302 to `https://reviewers.addons.mozilla.org/en-US/firef

[2018-07-05 07:18] EnTeQuAk opened #8757 "Migration 1032 tries to access a column that doesn't exist"
sancus on irc noticed that the [migration 1032](https://github.com/mozilla/addons-server/blob/master/src/olympia/migrations/1032-make-dynamic-theme-a-restricted-tag.sql) fails currently.

The column `blacklisted` got renamed to `denied` in https://github.com/mozilla/addons-server/blob/master/src/olympia/migrations/907-rename-blacklist.sql

[code]

[2018-07-05 08:10] EnTeQuAk commented on #7743
As discussed on IRC (a few days ago, I don't remember):

This changes how and what we're caching. Generally, if you save a few forms and see the changes right away we're good (e.g update an add-on) and your general smoke-tests should suffice testing this.

In the end, we're testing much much less compared to before now. So although I did run tests, if you see any crazy slow (legacy) pages, these m

[2018-07-05 08:39] #8757 closed

[2018-07-05 09:31] wagnerand commented on #8654
Please see the comments I wrote earlier.

[2018-07-05 09:42] wagnerand commented on #8752
I think we still need *Desktop* vs *Mobile* because of differences in API/platform support.

[2018-07-05 10:04] EnTeQuAk opened #8760 "Not all static images can be found during compress"
![screenshot from 2018-07-05 12-02-26](https://user-images.githubusercontent.com/139033/42316926-528ad786-804b-11e8-8b4d-5d95090be8dc.png)

Currently, there are one or a few more images missing from the legacy frontend page and a call to `update-assets` with an empty `site-static` folder raises a few "Image could not be found" errors.

This is a regression from #8532

[2018-07-05 10:35] eviljeff commented on #8752
Once legacy addons are gone I don't think there's any reason to keep multiple platforms (and so multiple `File`s per `Version`).  iirc from the All Hands (and previous discussions) there was a general consensus about that too as multiple files only being useful in extreme edge cases with webextensions.

We should keep multiple **applications** (Firefox Desktop; Firefox for Android; +currently Thun

[2018-07-05 11:37] wagnerand commented on #8729
Then that's a different issue. If the status was invisible before that version was uploaded, then the upload should have been prevented. If the status was set to invisible after the version was uploaded, it should the file should have been set to `STATUS_DISABLED`.

Also, for the record, the file viewer can access the file and display its contents, at least for this one.

[2018-07-05 11:57] eviljeff commented on #8729
it was set to invisible over a year ago https://addons.mozilla.org/en-GB/developers/feed/robot-ext

[2018-07-05 12:18] eviljeff commented on #8729
As for:

kibana _seems_ to [indicate](https://amo-kibana.prod.mozaws.net/_plugin/kibana/#/doc/amo.*/amo.olympia_web.docker.addons-2018-07-05/amo.olympia_web.docker.addons?id=AWRqG02iC9_CWNk44Xb2&_g=()) that the `download_file` acl check is failing because `request.user.pk` is None "download file 997477: addon/file disabled and user None is not an owner or reviewer."
https://github.com/mozilla/addo

[2018-07-05 12:33] eviljeff commented on #8729
yeah it's certainly some intermittent weirdness because only that file is a 404 - the other similarly rejected files work fine.

[2018-07-05 12:57] spoji opened #8763 "We should prevent file-uploads for invisible extensions."
### Describe the problem and steps to reproduce it:
File [1005816](https://addons.mozilla.org/firefox/downloads/file/1005816/robotext-2.7.6-an+fx.xpi?src=reviewer) return a 404, which is a download link from this [review page](https://reviewers.addons.mozilla.org/en-US/reviewers/review/robot-ext)

### What happened?
It has been found that this extension is invisible.

### What did you expect to ha

[2018-07-05 13:07] vcarciu commented on #8760
Another possible related issue is that rating stars in legacy pages are invisible :
![rating](https://user-images.githubusercontent.com/1583842/42324991-8f409d1a-806d-11e8-950b-8f77a51100bc.png)

[2018-07-05 13:36] #8760 closed

[2018-07-05 13:42] eviljeff opened #8765 "Handle users changing their email address in FxA to an email address we already have"
Scenario:
`user_a.email = 'foo@baa', user_a.fxa_id=1234`
`user_b.email = 'yo@lo', user_b.fxa_id=None`

`user_a` changes their email address in FxA to `'yo@lo'`.  FxA allows this because it doesn't know about AMOs users and `'yo@lo'` isn't registered to another FxA account.

AMO gets a notification almost straight away via SQS and a task runs to update the user with `fxa_id=1234` (`user_a`) to thei

[2018-07-05 13:43] EnTeQuAk commented on #8760
This is heading to -dev and -stage. I'll update the issue once they're there

[2018-07-05 13:44] eviljeff commented on #8765
This happened for real here (sqs update, then login):
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4424264/
and then
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/691108/

[2018-07-05 13:45] eviljeff commented on #8765
Note though this is most likely to happen with old `UserProfile` that don't have an `fxa_id` set, it's also possible even with newer accounts, if the user changed their email in the months since FxA launched the email changing feature, but before AMO started processing the SQS notifications on prod.

[2018-07-05 13:52] wagnerand commented on #8765
This issue originated from an inquiry we got on amo-admins. Would a reasonable work-around for that affected user be to clear the `fxa_id` of their old account?

[2018-07-05 14:05] EnTeQuAk commented on #8760
This is on -dev and -stage now.

[2018-07-05 14:09] kewisch commented on #6390
@Sancus it is https://versioncheck.allizom.org/ for stage and https://versioncheck-dev.allizom.org/ for dev.

[2018-07-05 14:23] diox commented on #8645
(Public) Seamonkey and Thunderbird add-on should now be gone from dev (if they were only compatible with either, or both - but not compatible with Firefox or Firefox for Android)

Let me know when it's ok, then we can proceed with stage.

[2018-07-05 14:56] vcarciu commented on #8760
Verified as fixed on AMO Stage and legacy frontend in multiple places.

[2018-07-05 15:01] vcarciu commented on #7743
Verified during our release testing cycle and everything looks fine. Marking bug as verified.

[2018-07-05 16:11] eviljeff commented on #8765
The safe solution is deleting one of the AMO accounts (hard delete).

[2018-07-05 17:32] eviljeff commented on #8765
Our solutions come down to:
A) favour email over fxa_id.  We would need to clear the `fxa_id` of less-favoured AMO account (`user_a` in the above scenario) so the favoured (`user_b`) can use it.  For logins, user could be confused how they've gotten access to an old account just by changing their email address on FxA.  Though they could create another FxA account with the other email address, or c

[2018-07-05 17:48] eviljeff commented on #8729
Ops confirmed the file is in /addons, rather than /guarded_addons.  From looking in logs, the file was moved to /guarded-addons at 23:59:05
[code]
but then moved back to /addons 23 seconds later:
[code]
What's not clear right now is why that happened, or why subsequent iterations of `hide_disabled_files` didn't move it back.
https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/c

[2018-07-05 19:02] Sancus commented on #6390
@diox It seems to me that the versioncheck redirects don't work on dev. Here is the URL I was using to test: `https://versioncheck-dev.allizom.org/update/VersionCheck.php?reqVersion=2&id={3ed8cc52-86fc-4613-9026-c1ef969da4c3}&version=3.2.4&maxAppVersion=60.*&status=userEnabled&appID={3550f703-e582-4d05-9a08-453d09bdfdc6}&appVersion=45.0&appOS=WINNT&appABI=x86-msvc&locale=en-US&currentAppVersion=52

[2018-07-05 19:04] diox commented on #6390
@bqbn ^

[2018-07-05 22:00] bqbn opened #8768 "Make /api/v3/addons/compat-override/ less direct DB dependent"
### Describe the problem and steps to reproduce it:
It is mentioned in #amo channel that the `/api/v3/addons/compat-override/` is not using ES but hitting the DB slaves directly for its results.

As of today, the `/api/v3/addons/compat-override/` accounts for about 38.6% of the total SAMO requests, which translates into roughly 1.5K requests/second during peak hours.

### What happened?
The cache-

[2018-07-05 22:05] diox commented on #8768
Instead of ES it should just be cached through memcached IMHO. We don't have to do anything super fancy about invalidation, just pick a reasonable time for caching - I suspect that most add-ons have no override and never will be, and for those which have some, it does not change very often.

[2018-07-05 22:18] bqbn commented on #6390
Maybe I missed the question, but I see the URL in https://github.com/mozilla/addons-server/issues/6390#issuecomment-402821821 got 301 to thunderbird.net.

[code]

[2018-07-05 22:43] diox commented on #6390
@bqhn: when there are `{` or `}` in the url, you should use `-g` with curl, otherwise it does not send the request you want. You can check with `-v`, the brackets are lost, causing a different request to be send. Ironically I suspect a similar issue is present with the redirects that's causing them not to work when the brackets are present in the URL.

[2018-07-05 22:53] rebmullin commented on #8572
hey @eviljeff, is that pretty easy to set up - the waffle switch? If it's normally off by default even on dev, how would I turn it on so I can test this ideally locally and then just on dev?

[2018-07-05 23:35] bqbn commented on #6390
Thanks @diox.

This should have been fixed.

[code]

[2018-07-06 05:51] erosman opened #8772 "[Reviewer Tools] Does not show all the files"
Example:
https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/987953/
[code]

[2018-07-06 08:44] lavish205 commented on #8644
@EnTeQuAk I would like to work on this issue.

[2018-07-06 09:40] eviljeff commented on #1699
we dropped that part of collection editing (and contributors in general) so closing.

[2018-07-06 09:40] #1699 closed

[2018-07-06 09:47] eviljeff commented on #7853
Yeah, this is standard behaviour for all add-ons.  Unless there is already a public, approved, version (so the addon status is public) then submissions are counted as new submissions rather than updates.

I'm not aware of any plan to change that behaviour in general, and we don't want to unnecessarily special case static themes, so closing this as wontfix.

[2018-07-06 09:47] #7853 closed

[2018-07-06 11:58] diox opened #8775 "Add preview of the content in disco pane recommendations admin tool"
In the disco pane recommendation content admin built in #8739, add some kind of preview that would allow people with access to the change page to see what the content looks like once rendered and translated. Add something to see if a translation is present in the major languages we support.

[2018-07-06 11:59] #8739 closed

[2018-07-06 12:01] diox commented on #8739
The group with the permission is called `Discovery Recommendations Editors`. Once you have that permission, the `Discovery Items` section should be available in the django admin (`/admin/models/`)

[2018-07-06 12:18] #8090 closed

[2018-07-06 12:24] EnTeQuAk opened #8777 "Create dashboard for all our legacy views"
I wanted to this for a long time. This should help us figure out what views we can actually get rid of and which we shouldn't.

[2018-07-06 14:07] #8740 closed

[2018-07-06 14:34] EnTeQuAk opened #8779 "Automate product-details sync as part of l10n job"
In https://github.com/mozilla/addons-server/issues/8597 we are going to commit our product-details json files into the repository.

Let's automate their sync as part of our l10n job.

[2018-07-06 15:20] #8597 closed

[2018-07-06 17:10] diox commented on #8741
Note: since the extraction process is going to need data from production but at the moment production doesn't have the database nor the API to fetch that data yet, I will add the command to the extraction processed commented out. The idea is to proceed like this:
- Before July 12th push:
  - Merge the PR for this issue, but with the extraction part commented out
  - Merge the PR #8775 for convenie

[2018-07-06 18:13] eviljeff commented on #8631
Unfortunately we've hit the same [problem we did the last time](https://github.com/mozilla/addons-server/issues/4974#issuecomment-296161575) we tried to bulk add tags - the search indexes aren't updated.

Going to fix the task to index the changes properly.

[2018-07-07 07:53] EnTeQuAk opened #8786 "Implement a code-search across all Add-ons"
This issue is a meta-issue to track ideas around implementing a code-search across all add-ons.

Goal: We want to allow admins (and maybe others for statistical research?) search across Add-ons and get information about malicious add-ons, find usage patterns etc.

…wip… will be completed on Monday, I just opened this to enter my shower-thoughts :eyes:

[2018-07-07 07:56] EnTeQuAk commented on #8786
Shower thought: Once #8751 and #8753 (and following issues) are implemented it may be relatively easy to implement a first step towards a more sophisticated search engine. We could run [ripgrep](https://github.com/BurntSushi/ripgrep) via celery in batches across all Add-ons (or a subset that is specified via filters) to implement a first experimental version. That may already be faster than curren

[2018-07-07 18:02] Sancus commented on #6390
Can confirm that all redirects seem to be working on dev now, thanks!

[2018-07-09 03:39] davidhedlund opened #8789 "API: add sorting parameter "name""
### Describe the problem and steps to reproduce it:
Visited the [Available sorting parameters](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-search-sort) section in the API page.

### What happened?
It lacks the **name** parameter.

### What did you expect to happen?
I need it to download add-on data alphabetically.

[2018-07-09 05:02] davidhedlund opened #8790 "Warn about clutter in Name"
### Describe the problem and steps to reproduce it:
Downloaded JSON files and discovered that it's possible for developers to stylize their add-ons name.
Examples:
[code]

I think name.<language> (see name.en-US at https://addons.mozilla.org/api/v4/addons/addon/fireshot/ for example) should be clean because with stylized titles we need to modify them to give them the proper page name at directory.

[2018-07-09 07:36] lavish205 commented on #8644
@diox Can you please review it again?

[2018-07-09 08:59] eviljeff commented on #8572
it would need to be switched on by someone with access to /admin.  I guess it could probably be left enabled on -dev as long as QA were aware in case they needed to test the prod-style results.

Thinking about it, the cleanest way is to add another custom edition (like `china`) but that may be more work on your end to switch the frontend to use it.

[2018-07-09 09:18] ioanarusiczki commented on #8693
Verified fixed on AMO dev with FF61(Win10)
Right after submitting the static theme and the Edit information page displays only the (680x92) size

![680x92preview](https://user-images.githubusercontent.com/33448286/42441979-24f73cf4-8372-11e8-88b8-efa8fc4497bd.png)

The reviewer tools is showing them both.

[2018-07-09 09:46] ioanarusiczki commented on #8565
Verified fixed on AMO dev with FF61(Win10)
I verified in de, da, es, fr, nl and it.

![max280width](https://user-images.githubusercontent.com/33448286/42443390-05de3c24-8376-11e8-9460-9f8edf1f4a82.png)

[2018-07-09 09:47] #8789 closed

[2018-07-09 09:50] diox commented on #8790
Developers are free to use name however they see fit, that's why the slug field exists. The fact that it breaks how add-ons should be displayed on an external website is not AMO's responsibility. I don't expect developers to suddenly start changing their names to support your use-case.

[2018-07-09 09:50] #8790 closed

[2018-07-09 09:50] wagnerand commented on #8786
*ripgrep* already makes use of heavy parallelization, so I am not sure whether splitting it up in batches will make it any faster. At the end of the day, the bottleneck will probably be the filesystem.

[2018-07-09 09:59] wagnerand commented on #8765
Happened again: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4448986/

[2018-07-09 10:28] #8741 closed

[2018-07-09 10:31] diox commented on #8789
Because of the second part of my sentence: we don't want to document it now because its unreliable right now. It will be documented once the issue I linked is fixed.

[2018-07-09 10:40] davidhedlund commented on #8789
I was just worried that you will forget about it but I trust you know. Thank you.

[2018-07-09 10:52] davidhedlund commented on #8790
The slug field is as bad in my example.

[2018-07-09 10:53] davidhedlund commented on #8790
I didn't say anything against that. I suggested that you could add a question mark (that will popup an infobox).

[2018-07-09 11:43] eviljeff opened #8794 "Always return (and only accept) a dict for localised fields"
The current api/v3 behaviour of returning a flat string when `?lang=xx-YY` is passed means the api consumer doesn't know what language the string return actually is.  Accepting a flat string as input to update/create a localised field means the client doesn't really know what locale it's setting either (unless the `default_locale` is also set at the same time), and makes deleting localised values

[2018-07-09 12:12] diox commented on #8602
That would also be good to find issues like https://github.com/linsomniac/python-memcached/issues/79 before they hit dev/stage/prod.

In fact, note that this particular python-memcached issue has been fixed recently, so when we move our tests to memcached, it'll be a good occasion to also stop pinning version 1.53 (1.59 has the fix for the issue linked above)

[2018-07-09 12:44] ioanarusiczki commented on #8645
I verified this with FF61(Win10) and did not find any SeaMonkey or Thunderbird add-ons while making a search on AMO -dev on the legacy frontend.
The "Seamonkey" or "Thunderbird" search will redirect the user to
https://addons.thunderbird.net/en-US/seamonkey/
https://addons.thunderbird.net/en-US/thunderbird/

![redirect user](https://user-images.githubusercontent.com/33448286/42451081-da14b500-838e

[2018-07-09 13:24] vcarciu commented on #8741
@diox : Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-07-09 13:25] vcarciu commented on #8740
@diox : Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-07-09 13:25] diox commented on #8741
It's hard to test right now, so we'll leave QA out until it's all integrated.

[2018-07-09 13:48] eviljeff commented on #8631
command has been run again; looks fixed on -dev.

[2018-07-09 13:48] #8631 closed

[2018-07-09 14:01] #8644 closed

[2018-07-09 14:31] EnTeQuAk commented on #8602
Indeed.

I have a working branch for this, the only thing that needs actual work is rewriting our throttling-tests to work with this and avoid them to wait for a minute :)

With a bit of luck I'm able to finish this by tomorrow.

[2018-07-09 14:33] diox commented on #8602
Bonus point if you write a test that would fail with the broken version of python-memcached to prove that the issue is fixed :)

[2018-07-09 14:48] vcarciu commented on #8630
Verified as fixed by adding some new extensions with themes permission. The "dynamic theme" tag was present.

[2018-07-09 15:40] vcarciu commented on #8631
Verified as fixed. "Dynamic theme" tag is present for all webextensions with "theme" permission.

[2018-07-09 15:53] vcarciu commented on #8739
Verified as fixed :
![discoveryadmin](https://user-images.githubusercontent.com/1583842/42461554-6a8b5502-83a9-11e8-8629-2cd696a5c628.gif)

[2018-07-09 16:01] vcarciu commented on #8740
@diox :
All items are displayed when hitting the API, but only "custom heading" and "custom description" fields are returned:
![apidiscoveryresults](https://user-images.githubusercontent.com/1583842/42461857-46f5dada-83aa-11e8-9e44-dcd915a5d740.png)

Should we display the "custom addon name" and addon id too?

[2018-07-09 16:03] vcarciu commented on #8740
@diox : nevermind, I just saw that the results are correct in  http://addons-server.readthedocs.io/en/latest/topics/api/discovery.html#editorial-content

Thanks

[2018-07-09 16:05] diox commented on #8740
Yeah it's a little bit weird, but that's because the custom add-on name isn't meant to be translated, and this API only really exists to retrieve all content that should be translated.

[2018-07-09 16:38] EnTeQuAk commented on #8532
Removing the "qa: not needed" label as this kinda bit me last time.

Please make sure that we continue to see static images and icons, such as the plus before the "Add to Firefox" install button, stars at ratings etc.

I don't expect this to be broken in one place and working in others but rather it's either broken throughout the system or not.

Also, some weirdly broken styles may be worthy to re

[2018-07-09 18:43] eviljeff commented on #8768
yes, compat overrides are not common, and even less common with webextensions. They would have to be stored per guid though - it's not like the lang tools endpoint where it's a list query.  ES seems like the "right" place for it imo, but I agree it's more work to implement.

[2018-07-09 18:43] kumar303 opened #8800 "Ignore already moderated reviews"
### Describe the problem and steps to reproduce it:

- As a site user, go to an add-on review listing and flag a review for moderation (example: *this is spam*)
- As a moderator, take action
- As another site user, flag the same review for moderation again

### What happened?

The review is sent to the moderation queue in both cases

### What did you expect to happen?

The review should only be se

[2018-07-09 18:47] kumar303 opened #8801 "Notify author of why their review was flagged"
### Describe the problem and steps to reproduce it:
* As a site user, enter a review of an add-on
* As another site user, flag that review for moderation (example: _this is spam_)
* As a moderator, delete the review

### What happened?
The author is not notified

### What did you expect to happen?
The author of the review should be notified via email, including the reason for which it was flagged

[2018-07-09 21:34] rebmullin opened #8803 "update api v3 autocomplete endpoint to include type in results"
I *think* we decided the v3 api *could* be updated to include an additional field without much trouble : ), right?

Ideally, I would like the api autocomplete v3 endpoint to return the `type` as well so static themes can be targeted.

You can see the [FE issue discussion](https://github.com/mozilla/addons-frontend/issues/5277) for additional context

I did open an issue to discuss upgrading the ap

[2018-07-09 21:57] diox commented on #8597
I rebased one of my branches from before that commit with newest master this evening and suddenly it was throwing 502 Bad Gateway errors... Looking at the logs it was trying to update product details at startup again... and indeed, once it was done (it took at least a minute or two) and gave me my runserver back, it had made the following changes:

[code]

[2018-07-10 05:13] EnTeQuAk commented on #8597
Yeah, this needs to be synced automatically much more often than I anticipated. I opened #8807  and will get the automation running asap

[2018-07-10 07:52] ioanarusiczki commented on #8476
I verified this issue on AMO dev with FF61(Win10).

- Opening an add-on detail page on AMO  and replacing the URL ( thunderbird/addon/purge/?src=hp-dl-upandcoming ) will redirect to https://addons.thunderbird.net/en-US/ on the detail page of the searched add-on.  Same with a Seamonkey compatible add-on.

![redirects to thunderbird2](https://user-images.githubusercontent.com/33448286/42496309-40b26

[2018-07-10 08:59] vcarciu commented on #8644
@EnTeQuAk : can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-07-10 09:12] vcarciu commented on #8597
@EnTeQuAk : can you please add some STRs to this bug or mark it as  "qa: not needed" ?

[2018-07-10 09:42] muffinresearch commented on #8768
Could this be handled with http caching upstream of the app-server if the content isn't going to change that often?

[2018-07-10 09:48] EnTeQuAk commented on #8768
We already set proper HTTP cache headers

[2018-07-10 10:06] muffinresearch commented on #8768
@EnTeQuAk what are they set to?

[2018-07-10 10:13] EnTeQuAk commented on #8768
Sorry, I kinda lied. We are simply re-using ETags as we do all over the place which doesn't necessarily make this less heavy on the database.

Also, simply caching this via HTTP isn't too easy for the same reason this isn't easy to cache with memcached: Firefox can send multiple GUIDs and those in various orderings and the potential complexity comes from the different GUID combinations various Fir

[2018-07-10 11:54] EnTeQuAk commented on #8710
Depends on #8602 to be properly testable.

[2018-07-10 12:05] #8803 closed

[2018-07-10 12:15] eviljeff commented on #7976
QA:
* Select two LWT from addons-dev.  (Or more - we need at least one we are going to migrate, and at least one we aren't.)
* Install them both on:
  * a Firefox that supports the LWTheme->STheme upgrade - Firefox62
  * a Firefox that doesn't - e.g. release Firefox 61
  * (any other Firefoxes you routinely check for regressions in update service code)
* There will likely be a few config settings

[2018-07-10 12:20] #8775 closed

[2018-07-10 12:21] #8711 closed

[2018-07-10 12:35] EnTeQuAk commented on #3493
I mislinked the issue in my PR.

This got fixed in https://github.com/mozilla/addons-server/pull/8812

[2018-07-10 12:35] #3493 closed

[2018-07-10 14:05] #8622 closed

[2018-07-10 14:08] EnTeQuAk commented on #8622
QA: Links like https://addons.mozilla.org/sl/firefox/addon/autoformer/versions/0.0.2%20alpha were broken and got fixed as part of this change.

[2018-07-10 15:14] #8520 closed

[2018-07-10 15:33] eviljeff opened #8816 "Allow translations of localised API fields to be deleted"
Our current API implementation has trouble clearing translations of localised fields:
* if a field is required then an update that sends a translation locale=None is treated as an invalid input.
* if the field isn't required then just sending None (i.e. a flat string style input, but None) is ignored by DRF (will be fixed in  /v4/ see #8794)
* you can set a translation for the default_locale of th

[2018-07-10 16:44] rebmullin commented on #8572
hey @eviljeff...I'll use your recommendation on this: ). Whatever way you think is best...

Either way tho I might need a little direction/instructions on how to get it working locally/dev?

[2018-07-10 16:49] vcarciu commented on #7595
Verified as fixed :
![deletestatictheme](https://user-images.githubusercontent.com/1583842/42524849-54c6e778-847a-11e8-87db-5e7dec6ed825.gif)

[2018-07-10 17:06] diox commented on #8775
Should look like this when translated data is entered:

![discoveryitems](https://user-images.githubusercontent.com/187006/42525781-4f7e8b64-8474-11e8-9794-ba2188f5ee37.png)

[2018-07-10 17:23] diox commented on #2448
Could be done as a bonus when implementing #8734. I've got a half-working prototype: https://github.com/diox/olympia/commit/bd502a38271cc7a7ca403b17813fc0854dc421ed

Still not sure if it's worth doing both at the same time, though.

[2018-07-10 17:29] eviljeff commented on #7535
I don't think dropping localization each time it highlights a bug is the solution (and it's never that trivial to do).  Unless we're going to drop localization from _all_ user provided data we need to fix the underlying issue instead. I filed #8816 to do this.

[2018-07-10 17:44] #8794 closed

[2018-07-10 18:35] bobsilverberg commented on #7535
I agree that we shouldn't necessarily drop localizations in order to address a bug if there are other/better solutions, but I do think we should consider dropping any localizations that we don't need/use, which is why I solicited @jvillalobos's input.

I understand that there is a significant amount of work involved in dropping localizations, but I also think that adding workarounds to allow us to

[2018-07-10 22:28] jvillalobos commented on #8763
How was the review page reached? Did it show up in the post-review list?

Was the status of the version `Approved`?

Would the same thing happen if an add-on listing is made invisible after uploading?

[2018-07-10 22:55] jvillalobos commented on #8752
This is pretty much the same as the last task in https://github.com/mozilla/addons-server/issues/7825. To reiterate my view on this, I think compatibility with Android should just be a checkbox that affects the listing, rather than individual versions. That frees us from having to deal with platforms/applications on upload (once we remove Tb and SM, as eviljeff pointed out).

[2018-07-10 23:02] spoji commented on #8763
Via email notification.

Version was in "Awaiting Review" mode. The auto-review system didn't run.

I don't have enough knowledge of addons-server code to answer this one.

[2018-07-11 01:32] davidhedlund opened #8821 "More search results in the API than on the website"
### Describe the problem and steps to reproduce it:
Visited a few API pages:
* https://addons.mozilla.org/api/v3/addons/search/?page=1000&platform=linux&type=extension
* https://addons.mozilla.org/api/v3/addons/search/?page=1000&platform=linux&sort=users&type=extension
* https://addons.mozilla.org/api/v4/addons/search/?page=1000&platform=linux&type=extension
* https://addons.mozilla.org/api/v4/add

[2018-07-11 04:09] bqbn commented on #5207
Just to update that data ops team has reported that https://bugzilla.mozilla.org/show_bug.cgi?id=1450108 is done.

[2018-07-11 04:56] #1569 closed

[2018-07-11 04:56] #5271 closed

[2018-07-11 05:04] EnTeQuAk commented on #5271
QA: Marking this as `qa: extra` because this PR updates Django, our base library that lays the foundation of addons-server.

So, please make sure, that:

* Your regular smoke tests work just fine (Login, Logout, Register, Upload an Add-on)
* Translations still work (Editing them in an Add-on, seeing them in the frontend etc)
* Forms generally work - that's only relevant for the **legacy frontend**

[2018-07-11 05:16] EnTeQuAk opened #8822 "Broken docker builds on dockerhub and circleci"
[code]

[2018-07-11 06:35] #8822 closed

[2018-07-11 07:01] grahamperrin opened #8825 "Stylish 3.1.3 served from addons.mozilla.org (AMO)"
From https://blocked.cdn.mozilla.net/i1900.html and https://new.reddit.com/comments/8wd5wu/-/ I understand that 3.1.1 is blocked.

Given the absence of https://addons.mozilla.org/addon/stylish/ I'm surprised to find 3.1.3 served from AMO:

- the upfront blue **Install for Firefox** button at https://userstyles.org/ leads to the `.xpi`
- source is visible at https://robwu.nl/crxviewer/?crx=https%3A

[2018-07-11 07:44] ioanarusiczki commented on #8558
@eviljeff I checked the dates for the sample above https://addons-dev.allizom.org/en-US/firefox/addon/litefox/?src=search and also for
https://addons-dev.allizom.org/en-US/firefox/addon/an-autumn-reverie/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/lilac-prediction/?src=search
and the date is still June 27,2018 which is the date of migration as shown in the comment above.

[2018-07-11 07:52] EnTeQuAk commented on #8821
The parameters are not identical, addons-frontend does a lot more than just querying `platform`, `type` and `sort`. It also takes compatibility into account and forwards that information to the API which will most certainly explain your difference in results.

For example, if you open the link to AMO in Chromium you get 24406 entries, very close to what the API returns.

[2018-07-11 07:52] #8821 closed

[2018-07-11 09:12] ioanarusiczki commented on #8520
@eviljeff
1. For the first submission if the user mouse hovers over the tooltip the message will open. Let me know if the behaviour is as expected - see the .gif
![namenew](https://user-images.githubusercontent.com/33448286/42561772-a3416bca-8502-11e8-970f-71b4a0578154.gif)

2. When uploading a new version go to [edit listing](url) link is not available. I verified this on AMO dev with FF61(Win10)

[2018-07-11 09:13] eviljeff commented on #8558
The fix didn't update any themes migrated previously (it would have been technically possible, but it's only -dev so i didn't bother).  But newly migrated themes should retain the dates from the LWT.

https://addons-dev.allizom.org/en-US/firefox/addon/tigers-matter/ was migrated yesterday to test updates.  It looks good right now - if it's still got the old 'last update' date after today's stats r

[2018-07-11 09:18] eviljeff commented on #8520
Yes.  It's the same style used in the license options below.

https://github.com/mozilla/addons-server/pull/8798#issuecomment-403859427 - @jvillalobos didn't want the link so I removed it again.

[2018-07-11 09:58] ioanarusiczki commented on #8558
@eviljeff This https://addons-dev.allizom.org/en-US/firefox/addon/tigers-matter/ looks good to me too.
I also checked for another sample https://addons-dev.allizom.org/en-US/firefox/addon/grass_2/ that was recently migrated.
Marking this verified fixed on AMO dev with FF61(Win10).
![date for a migrated lw theme](https://user-images.githubusercontent.com/33448286/42564643-fc66deb8-8509-11e8-86ca-ab

[2018-07-11 10:05] wagnerand commented on #8825
That file is not actively served to users. That external website directly links to the file, but it's not signed and thus not installable.

[2018-07-11 10:05] #8825 closed

[2018-07-11 10:18] eviljeff commented on #8729
https://github.com/mozilla/addons-server/blob/master/src/olympia/files/models.py#L320:L341 are the functions called to move the files around

[2018-07-11 11:04] muffinresearch opened #8829 "Add logging for TADAR responses to enable data analysis."
We'd like to add logging of the response from TAAR so @mlopatka can do analysis without needing GA on the frontend side.

@mlopatka or @crankycoder to add details of what data needs to be captured in the log and any specific format requirements.

[2018-07-11 12:30] vcarciu commented on #8622
Verified as fixed. The versions page will be still displayed if opening an invalid link.

[2018-07-11 13:00] ioanarusiczki opened #8830 "503 Service Temporarily Unavailable when Thunderbird and Seamonkey are clicked from Other applications"
STR:
1. Load AMO dev and switch to the old pages.
2. From Other Applications drop down menu Click on Thunderbird and then on Seamonkey.

Expected results:
User is redirected to
https://addons.thunderbird.net/en-US/thunderbird/
https://addons.thunderbird.net/en-US/seamonkey/

Actual results:
503 Service Temporarily Unavailable

Notes:
This issue is reproducible on AMO dev and AMO stage with FF61(Wi

[2018-07-11 13:17] davidhedlund commented on #8821
https://addons.mozilla.org/api/v4/addons/search/?page=429&platform=linux&type=extension&app=firefox&appversion=60

-- **&app=firefox&appversion=60** reduced the page number to identical number, 429. Solved! Thank you @EnTeQuAk

[2018-07-11 13:20] davidhedlund commented on #8821
@EnTeQuAk Why is the page number limited to 1000 without these parameters?

[2018-07-11 13:30] davidhedlund commented on #8579
**app=firefox&appversion=60** did the trick (I really wanted version 60 compatibility):
https://addons.mozilla.org/api/v3/addons/search/?platform=linux&q=Tab+Mix+Plus&sort=users&type=extension&app=firefox&appversion=60

[2018-07-11 13:35] davidhedlund commented on #8579
https://github.com/mozilla/addons-server/issues/6365

[2018-07-11 13:35] davidhedlund commented on #6365
https://github.com/mozilla/addons-server/issues/8579

[2018-07-11 13:41] EnTeQuAk opened #8831 "Optimize how we serialize translations in the API"
While looking at one of our views with the highest db-query count I noticed that our `TranslationSerializerField` implementation doesn't make use of our translations helpers, e.g `attach_translations` etc. That makes it's implementation much simpler but is a pain for everything using translations in the API. So, whenever one or many add-ons are requested we have as many queries to the translations

[2018-07-11 13:42] EnTeQuAk opened #8832 "Optimize olympia.bandwagon.views:CollectionAddonViewSet.list performance"
Looking at NewRelic this view issues way too many database queries.

Looking more closely, this view queries quite a lot of things **per add-on** in the collection. So this should get optimized somehow to make the query-count reasonable and now grow or shrink with the amount of add-ons we are querying.

![screenshot from 2018-07-11 15-51-46](https://user-images.githubusercontent.com/139033/4257631

[2018-07-11 13:46] vcarciu commented on #8632
Verified as fixed :
![devhubview](https://user-images.githubusercontent.com/1583842/42575802-f2e48aa0-8529-11e8-9e5a-b7314c3733a1.png)

[2018-07-11 14:18] EnTeQuAk commented on #8821
That's because of the way we do pagination in ElasticSearch. Our search is backed by ElasticSearch and we currently do not use it's scroll API for pagination but use regular limit/offset queries instead.

Doing that, we have to make sure we do not exceed the `index.max_result_window` configuration in our cluster, which is currently set to `25000` which limits the number of pages we can represent a

[2018-07-11 15:06] ioanarusiczki commented on #8520
@eviljeff I just have the feeling that someone will file an issue that the new versions cannot be renamed. Maybe a tooltip next to Theme name* with a text such as  "To edit the listing name of this add-ongo to Edit information page. The listed name might be different to the name inside the add-on " should solve this problem? Just let me know if I should file this.

Verified fixed on AMO dev with F

[2018-07-11 15:09] vcarciu commented on #8775
Verified as fixed  :
![discoveryitem](https://user-images.githubusercontent.com/1583842/42581477-8002f164-8535-11e8-9890-3d247d168790.png)

[2018-07-11 15:17] eviljeff commented on #8520
@ioanarusiczki that's exactly what I had, but if you see the link I mentioned, Jorge decided it was confusing rather than helpful and it's his job to make those decisions 😉

[2018-07-11 15:41] wagnerand commented on #8654
We triaged this in our meeting and deemed it a good first bug.
Mentor: @eviljeff  (could you please add some info on what a fix involves?)

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-07-11 15:54] jvillalobos commented on #8618
Re-enabling versions is not a common action or one we want to encourage. The link doesn't look great, but it's still relatively easy to spot. We don't think we should change this.

[2018-07-11 15:54] #8618 closed

[2018-07-11 16:03] eviljeff commented on #8750
@vcarciu this looks like a frontend issue so can you file there?
(we can re-open if it turns out its due to a faulty API response)

[2018-07-11 16:03] #8750 closed

[2018-07-11 16:46] vcarciu opened #8835 "Cannot submit or update a LWTs anymore"
Steps to reproduce:
1.On AMO-dev, try to submit a new lightweight theme
2.Enter all mandatory fields and try to submit

Expected results:
Theme is submitted without any issues

Actual results:
"Submit theme" is grayed out and theme cannot be submitted

NOTES:
Updates(adding a new header) cannot be saved and "Oops..." page is returned
Updates worked earlier Today

[2018-07-11 16:48] vcarciu commented on #8835
I forgot to mention that this is not reproducible on Stage

[2018-07-11 16:56] #8832 closed

[2018-07-11 17:59] vcarciu opened #8837 "updateURL for themes installed from -dev and Stage is pointing to prod"
Steps to reproduce:
1.In amo Stage install a LWT theme
2.In about:config, search for lightweightThemes.usedThemes string
3.Check the "updateURL"

Expected results:
"updateURL" is set to Stage\-dev

Actual results:
"updateURL" is "updateURL":"https://versioncheck.addons.mozilla.org/en-US/themes/update-check/addonid"

Notes:
Even if I manually changed it to Stage\-dev, I was not able to update a LWT

[2018-07-11 18:55] grahamperrin commented on #8825
Thanks.

Now:

- there's a connection failure
- https://addons.mozilla.org/firefox/downloads/latest/2108/addon-2108-latest.xpi is not (no longer) found.

[2018-07-11 20:30] jvillalobos commented on #8765
I think C is the better approach. On both A and B there seems to be a possibility of data being lost or hard to track. Users can forget they had old accounts and may want to keep them after finding out.

[2018-07-11 20:39] jvillalobos commented on #7535
I think the bug is that we secretly localize all these fields without users / developers knowing that they are, and that leads to all sorts of problems. I agree with Bob that "unlocalizing" them is the better solution. Having said that, I don't know how hard that is compared to alternatives, or whether the alternatives will cause more issues.

[2018-07-11 23:14] jvillalobos commented on #8707
Yeah, I don't see how it's useful to choose "2.0 or later" when we have 3.0 as an option, or "3.0 or later" when that's the latest version and there's little way to know what a 4.0 might be like. They're fine choices if the developers want to use them, and the savvier ones can use the custom license option for that purpose.

But, for developers who are just signaling their add-on is open source, I

[2018-07-11 23:14] #8707 closed

[2018-07-12 01:29] davidhedlund commented on #8707
@jvillalobos Did you read https://www.fsf.org/blogs/rms/rms-article-for-claritys-sake-please-dont-say-licensed-under-gnu-gpl-2 as suggested by Ian above?

[2018-07-12 05:09] erosman opened #8844 "[Reviewer Tools] Review lock limit no longer necessary"
I was the one who originally brought up the issue that resulted in the introduction of "Review lock limit" in the pre-Post-Review era.

While it poses no problem, I feel that it is no longer necessary and the extra processing can be avoided.

@kewisch

[2018-07-12 05:23] erosman opened #8845 "[Reviewer Tools] Expanding Add-on History Header Info"
Currently, each 'listing-header' `th`  in 'review-files' `table` has the fowling information:

- Disabled by Mozilla for Rejected or Unreviewed
- Approved for Auto-Approved
- Approved (Confirmed) for Auto-Approval confirmed

It would be greatly helpful to expand the header information to include other review actions such as: Rejected (by a reviewer) and Info Request etc.

I usually have to open al

[2018-07-12 07:31] EnTeQuAk opened #8846 "Cache directory '/mnt/efs/addons-dev.allizom.org/cache' does not exist and could not be created"
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4455979/

[code]

Looking at this on -dev

[code]

I tried to change this, assuming this may be a temporary problem

[code]

But the error still happens so may need some more investigation by someone who knows what he's doing :see_no_evil:

[2018-07-12 07:38] EnTeQuAk opened #8847 "Cleanup -dev, -stage and -prod sentry"
If possible, log all errors that need to be logged. See if there's stuff in there that needs to get fixed and cleanup all the old errors.

[2018-07-12 07:52] EnTeQuAk commented on #8711
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4409503/

[2018-07-12 07:55] EnTeQuAk commented on #8765
Linking this sentry issue - https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4447706/ here, this looks very related.

[2018-07-12 07:56] EnTeQuAk commented on #8729
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/3416954/

Is this error maybe related to the issue?

[2018-07-12 08:01] bqbn commented on #8846
https://github.com/mozilla-services/cloudops-deployment/pull/2243 should fix it.

Question is, what changed that made the monitor_fxa_sqs command requires mounting the /mnt/efs directory?

It looks like this starts to happen on 7/11, and it's why -stage doesn't have it yet.

[2018-07-12 08:05] EnTeQuAk commented on #8846
This could actually be a regression from the Django upgrade which increased the number of system-checks that run during `manage.py` calls etc. Same reason I broke docker-builds because some of these checks need their environment to be set-up correctly (MySQL, Cache etc).

We could change the `monitor_fxa_sqs` command to not require those checks but I'd assume that your fix may be a bit more reason

[2018-07-12 08:18] eviljeff commented on #8729
This morning, after @wagnerand had ops manually run `File.objects.get(id=997477).hide_disabled_file()` last night, I can download the file.

[2018-07-12 08:23] vcarciu commented on #8803
Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-07-12 08:33] eviljeff commented on #8765
Okay, we'll go with C then for the user login.

As for FxA updates and the tracebacks that occur like the above: Minimally, we could just handle them better and ignore the update (though that leaves one of the user accounts with the wrong email address).  I guess we could email the user to let them know about the clash?  Not sure how often we'd be doing that (sentry tracebacks don't seem _that_ fr

[2018-07-12 08:34] ioanarusiczki commented on #8390
@diox Sorry for the delay. I attached the samples.
[only portrait2.zip](https://github.com/mozilla/addons-server/files/2187773/only.portrait2.zip)

[2018-07-12 08:36] eviljeff commented on #8803
you can check that `type` is included in the API response for requests such as:
https://addons.allizom.org/api/v4/addons/autocomplete/?q=hello
or
https://addons.allizom.org/api/v3/addons/autocomplete/?q=hello

[2018-07-12 08:41] EnTeQuAk opened #8848 "Ignore invalid/missing email body"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4440327/

[code]

By looking at ~20 of these errors, all of them were simply spam so should be safe to ignore.

[2018-07-12 08:59] EnTeQuAk opened #8850 "Do not call update_product_details on deployment"
Related to https://sentry.prod.mozaws.net/operations/olympia-prod/issues/367996/

[code]

Besides that this permission error should not happen we also should simply call `update_product_details` while building the docker image instead of during the deployment.

Advantage of this would be that docker-image building is part of our regular circleci-tests and something we get notified about in case of

[2018-07-12 09:02] EnTeQuAk opened #8851 "Integrate release information into sentry"
We currently don't have the ability to resolve an issue "in the next release".

That'd be a hugely useful feature.

[2018-07-12 09:02] madalincm commented on #3493
Verified as fixed in FF61(Win7).
Postfix screencast:
![jwt](https://user-images.githubusercontent.com/15685441/42623402-7626bb58-85cb-11e8-9526-3c86a515f5ef.png)
Marking bug as verified fixed.

[2018-07-12 09:14] lavish205 commented on #8654
@eviljeff I would like to work on this bug.

[2018-07-12 09:56] EnTeQuAk commented on #8829
Please note that our log retention is only 30 days, it's been much less in the past.

[2018-07-12 09:58] wagnerand commented on #8729
@eviljeff If there are no other ideas, I suggest that we add a log statement right before we call `hide_disabled_file` and another one in https://github.com/mozilla/addons-server/blob/21a1eddf3c738b77042a27cfba60d36945a70cf3/src/olympia/files/models.py#L323 or introduce an else block there to make sure `src` exists and is correct.

[2018-07-12 09:59] mlopatka commented on #8829
@EnTeQuAk depending on how the log data is accessible we could write a regular job that munges and archives the log data for longer retention and analysis. But this is really good to know.

[2018-07-12 10:00] EnTeQuAk opened #8853 "Implement unsigned integer/auto field"
As part of #3705 we should make sure that our model fields represent what we have on -dev, stage and prod.

We should be able to steal some ideas from https://github.com/django/django/pull/8183/

[2018-07-12 10:04] EnTeQuAk commented on #8829
Oh, maybe I lied. Our log retention in Kibana is 30 days, I think our raw logs are available a bit longer. @bqbn knows for certain.

[2018-07-12 10:54] kewisch commented on #8844
Can you elaborate why it is no longer needed? Is the limit blocking you (or others) in any way?

[2018-07-12 11:22] #8572 closed

[2018-07-12 11:32] eviljeff commented on #8572
I'm going to enable the switch on dev for @rebmullin

QA - your team might want to be aware of this waffle switch when they're testing future discopane monthly content updates.

[2018-07-12 11:44] vcarciu commented on #8572
@eviljeff : thank you

[2018-07-12 11:49] vcarciu commented on #8803
Verified as fixed:
![tyoe](https://user-images.githubusercontent.com/1583842/42631331-957e3884-85e2-11e8-98be-a0a336f31089.png)

[2018-07-12 11:56] wagnerand commented on #8729
I am putting a few more examples in here for reference:

https://reviewers.addons.mozilla.org/en-US/reviewers/review/mixcloud-downloader v1.0.1: https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/933519/

https://reviewers.addons.mozilla.org/en-US/reviewers/review/809812 v1.0.3.3: https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/754254/

https://reviewers.addons.mozilla

[2018-07-12 12:04] vcarciu commented on #8835
Please note that "Oops..." page is returned when trying to submit an extension on amo-dev too.

[2018-07-12 12:17] eviljeff commented on #8729
Logging would usually be the easiest method of debugging but there are 171k matches to that query ([redash](https://sql.telemetry.mozilla.org/queries/56935)) and the `if storage.exists()` is the way we test it's in the wrong place - i.e. we expect it to be false.  If we do something in the else like log again then that's another 171k log entries.  242,000 extra log entries extra 12 hours isn't des

[2018-07-12 12:41] wagnerand commented on #8729
So, what is your suggestion?

[2018-07-12 12:41] eviljeff commented on #7535
We _do_ show a locale selector in devhub though and localisation is a known thing for addon submissions so, unlike ratings and profile data, I wouldn't call it secret localisation.  In this case the bug is as @diox detailed above - that there is a flaw in how we determine default locale and how we set the localisation.

If everything else about an addon that's show on the detail page can be locali

[2018-07-12 12:46] ioanarusiczki commented on #8532
I don't see any broken icons, images, ratings on the legacy site, checked the detail pages for extensions, themes.
Verified fixed on AMO stage with FF61(Win10).

[2018-07-12 12:49] erosman commented on #8844
As mentioned, "it poses no problem".  I thought that it would improve the processing (both server and client side) since it is not as relevant as it used to be in the old days.

I haven't seen any abuse for a long time (e.g. 75+ add-ons getting locked for 24-48 hours which was the reason behind it). ;)

[2018-07-12 13:16] eviljeff commented on #8654
The fix is basically the same as #7836 but in devhub for icons. Change https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/views.py#L1015 to not do `-1` and then add a test to TestEditMedia in https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/tests/test_views_edit.py#L664

[2018-07-12 13:22] kewisch commented on #8844
Given the locks are in place, it is obvious that not more than a few add-ons would be locked at a time, so we really have no way to know.

If engineering thinks this feature is in the way and proves to be a maintenance burden I think we should consider. What I'd like to avoid is that we remove the code for this feature and then it becomes a problem some day in the future.

[2018-07-12 13:23] lavish205 commented on #8654
I'm working on it.

[2018-07-12 13:30] erosman commented on #8844
OK.. no problem.. It was only a suggestion, You can close it then :)

[2018-07-12 13:31] kewisch commented on #8844
Thanks for the suggestion, I appreciate that you are putting thought into how to simplify addons-server! I'm going to close this for now as you mention, but we will definitely consider this when engineering is on a cleanup spree again!

[2018-07-12 13:31] #8844 closed

[2018-07-12 13:56] wagnerand opened #8855 "Reviewer Homepage showing the wrong count for expired info requests"
The reviewer tools homepage is showing the wrong count for expired information requests.

[2018-07-12 14:37] #8848 closed

[2018-07-12 14:50] #8837 closed

[2018-07-12 15:17] rebmullin commented on #8572
thanks @eviljeff

[2018-07-12 15:25] ioanarusiczki opened #8857 "Thunderbird and Seamonkey applications are available in Add-on Compatibility checker"
STR:
1. Load dev hub and go to Tools-> Add-on Compatibility Checker
2. Open the Application drop down menu and observe the available applications.

Expected result:
Applications available: Firefox and Firefox for Android

Actual results:
Thunderbird and Seamonkey are also available.

Notes:
Reproducible with FF61(Win10) on AMO dev and AMO stage.

![menu](https://user-images.githubusercontent.com/3

[2018-07-12 15:48] rlobet opened #8858 "Belgium eID for Script-safe version of Mozilla Firefox"
### Describe the problem and steps to reproduce it:
Using the script-safe version of Mozilla, Firefox Add-On Manager looks up for Android versions of the Add-Ons

### What happened?
It can not install https://addons.mozilla.org/en-US/firefox/addon/belgium-eid/?src=search using the search engine https://addons.mozilla.org/en-US/seamonkey/search/?q=eid&cat=1%2C0&appver=&platform=windows

### What di

[2018-07-12 15:51] #8846 closed

[2018-07-12 15:54] rlobet opened #8859 "Add-on not usable for Script-safe versions of Mozilla Firefox, found another OS versions when entering "eid" in the Search box"
### Describe the problem and steps to reproduce it:
Using the script-safe version of Mozilla, Firefox Add-On Manager looks up for Android versions of the Add-Ons

### What happened?
It can not install https://addons.mozilla.org/en-US/firefox/addon/belgium-eid/?src=search using the search engine https://addons.mozilla.org/en-US/seamonkey/search/?q=eid&cat=1%2C0&appver=&platform=windows

### What di

[2018-07-12 16:05] vcarciu commented on #8837
Verified as fixed on -dev.I can see that "updateURL":"https://versioncheck-dev.allizom.org/en-US/themes/update-check/addonid was automatically added in "lightweightThemes.usedThemes"

[2018-07-12 16:53] kumar303 opened #8860 "Edit profile page loads with Internal Server Error (KeyError)"
### Describe the problem and steps to reproduce it:
This is how I reproduced it but I don't know if it affects others:

- Open a fresh Firefox profile (cache cleared, etc)
- Log in to the site with an existing AMO account
- Choose *view my profile*
- Choose *edit my profile* which loads https://addons.mozilla.org/en-US/firefox/users/edit

### What happened?

I see an error banner saying *Internal

[2018-07-12 16:57] kumar303 commented on #8860
As soon as I updated my profile (I uploaded a photo), the error stopped happening.

[2018-07-12 17:02] kumar303 commented on #8860
Oh, weird. I see the error again. I guess it only went away temporarily.

[2018-07-12 17:24] kumar303 commented on #8860
@eviljeff says this is related to https://github.com/mozilla/addons-server/pull/5252/files and only affects user accounts created before Olympia was split (2014-ish). Because of that and since the edit form still works (besides editing notifications), I'm downgrading the priority.

[2018-07-12 17:34] jvillalobos commented on #8707
I didn't. I understand this is important to people who care deeply about open source, but I agree with Chris that it's not the best way to go for our developers.

[2018-07-12 17:48] kumar303 commented on #8860
Actually, it may only affect accounts that had this Marketplace related permission, `app_surveys` https://github.com/mozilla/addons-server/pull/5252/files#diff-e133eb2db571bbd677259a0acb85201bL135

[2018-07-12 17:50] jvillalobos commented on #7535
The field is not localizable during submission, which is pretty much the only way it's being entered. I honestly didn't remember it was localizable on devhub, and I doubt developers use this feature intentionally.

I don't think everything in the listing should be localizable, even if it's inconsistent. Localizing fields like version notes, support URL, etc. just lead to bugs and confusion.

[2018-07-12 17:56] jvillalobos commented on #8859
Duplicate of #8858

[2018-07-12 17:56] #8859 closed

[2018-07-12 17:59] jvillalobos commented on #8858
The add-on is not compatible with Android (according to the developer), so it won't appear on search results on an Android device.

The search link you posted (https://addons.mozilla.org/en-US/seamonkey/search/?q=eid&cat=1%2C0&appver=&platform=windows) is for the SeaMonkey browser, which is also not compatible with the latest versions of the extension. If you do the same search for Firefox (https:

[2018-07-12 17:59] #8858 closed

[2018-07-12 20:53] bqbn commented on #8846
https://github.com/mozilla-services/cloudops-deployment/pull/2243 merged and deployed to -dev.

Let us know if the error happens again.

Also, this probably means we can't mount the EFS filesystem read-only for SAMO and VAMO instances, since Django is doing some checks before starting the app?

[2018-07-12 21:05] rebmullin opened #8863 "Previews is missing from disco results so a static theme image can't be displayed"
### Describe the problem and steps to reproduce it:
It seems that the previews field is missing from disco results so there is no static theme image to show when it's this type. Can this be added?

![Alt text](https://monosnap.com/image/3pKYcBuiEgSzsjwJRHGMNrRgGex98Q.png)

### What did you expect to happen?
to have this field available if possible : )

[2018-07-12 23:08] bqbn commented on #8829
Standard retention for all services across the organization is documented here: https://mana.mozilla.org/wiki/display/SVCOPS/Logging+2.0+Access+Retention+and+Delays

In AMO case, we extended the retention for rawlogs, elasticsearch/kibana, and landfill to 31 days (already on -dev and -stage, yet to be on -prod in a couple weeks).

[2018-07-13 01:18] davidhedlund commented on #8790
@diox This issue affects everyone who want to make proper MediaWiki URL's.

[2018-07-13 01:38] davidhedlund opened #8866 "Make a drop-down menu with all SPDX licenses"
### Describe the problem and steps to reproduce it:
![screenshot at 2018-07-13 03 36 19](https://user-images.githubusercontent.com/6416073/42667827-ee918924-864d-11e8-8d9a-e3eb89e8c08d.png)

### What happened?
To few licenses are on the list.

### What did you expect to happen?
All licenses in https://spdx.org/licenses/ should be added to a drop-down menu.

### Anything else we should know?
SPDX 3

[2018-07-13 05:57] EnTeQuAk opened #8867 "ElasticSearch: Experiment with `classic` similarity setting"
I honestly only now discovered that the similarity setting in ElasticSearch is configurable. When I upgraded to ElasticSearch 5 it seemed that the default is BM25 and the default TF/IDF algorithm would go away sometime soon.

https://www.elastic.co/guide/en/elasticsearch/reference/5.0/index-modules-similarity.html doesn't look like it. The same is still valid for ES 6.x.

Let's investigate and see

[2018-07-13 06:30] #8866 closed

[2018-07-13 06:34] #8851 closed

[2018-07-13 06:42] EnTeQuAk commented on #8790
Which limits the number of users a lot. I may even guess that you're the only one trying to do that.

The AMO API is being used by AMO and related services, that's how the data is exposed and that's it's primary focus. The add-on name is used for display purposes and the slug is there to be normalized and used in URLs.

Add-on names can contain unicode, can be stylized, can be translated and coint

[2018-07-13 06:46] EnTeQuAk commented on #8846
This isn't needed anyway afaik.

[2018-07-13 09:09] muffinresearch commented on #8829
Really good point 👍

[2018-07-13 10:31] eviljeff commented on #8860
[code]
6152 users affect on -dev

[2018-07-13 11:37] #8860 closed

[2018-07-13 12:30] #8725 closed

[2018-07-13 13:08] wagnerand opened #8872 "File viewer can't find file for invisible or disabled add-on"
(Follow-up on #8729)

The file viewer shows 404 for add-ons that are invisible or mozilla-disabled (and the file status is not disabled).

STR:
1. Submit an add-on.
2. Wait for auto-approval to approve the file.
3. In the dev-hub set the add-on to *Invisible*
4. Go to the reviewer tools page and try to access the file viewer for that file.

Expected results:

The file viewer should display the fil

[2018-07-13 13:12] wagnerand opened #8873 "Don't stop some cronjobs when a Permission denied"
(Follow-up on #8729)

When there is a *Permission denied* system error happening during the `hide_disabled_files` or `unhide_disabled_files` cronjobs (which move files around on the file system), the job should not stop, instead we should log the error and move on with the next file.

[2018-07-13 13:53] #8855 closed

[2018-07-13 14:06] EnTeQuAk commented on #8835
This is working fine on -stage but also for me locally which is confusing since that makes it less relevant to the Django 1.11 upgrade. Maybe…

[2018-07-13 15:10] vcarciu commented on #7976
I re-verified the issue after fix of https://github.com/mozilla/addons-server/issues/8837 and updates worked in FF>62 from a lwt theme to a migrated theme.

Also I can confirm that LWT was not updated to a migrated theme in FF61.

The non migrated LWT updates testing is blocked in -dev by https://github.com/mozilla/addons-server/issues/8835 , but because the main scope of the bug was achieved I wi

[2018-07-13 15:10] #7976 closed

[2018-07-13 16:24] eviljeff opened #8878 "replace usage of Addon.all_previews with Addon.current_previews"
They largely mean the same thing (`all_previews` is solely Addon previews, but `current_previews` can contain Version previews if they are appropriate for that addon type), but they are confusingly used interchangeably - and I can't always remember which to use!

[2018-07-15 13:41] Smile4ever opened #8882 "When uploading a WebExtensions version over a jetpack addon, the label jetpack is retained"
### Describe the problem and steps to reproduce it:
I had a jetpack addon. I uploaded a WebExtensions version over it.

### What happened?
The label "jetpack" stayed, I expected it to go away. Since I cannot remove it myself, I wonder whether the "upgrade to WebExtensions" could be detected, removing the label?

### What did you expect to happen?
jetpack label is automatically removed

### Anythin

[2018-07-16 07:40] eviljeff commented on #8882
@jvillalobos thoughts?
Easiest solution is we remove the code that adds `jetpack` to uploads and delete the tag - including from existing addons.

[2018-07-16 08:55] AlexandraMoga commented on #8794
@eviljeff could you please add some STR to this issue to know exactly what should be tested here?
Thanks

[2018-07-16 09:11] AlexandraMoga commented on #8822
@EnTeQuAk could you please add a "qa:not needed" label to this issue?
Thanks

[2018-07-16 09:12] AlexandraMoga commented on #8832
@EnTeQuAk could you please add a "qa:not needed" label to this issue?
Thanks

[2018-07-16 09:16] AlexandraMoga commented on #8851
@EnTeQuAk could you please add STR or a "qa:not needed" label to this issue?
Thanks

[2018-07-16 09:16] #8863 closed

[2018-07-16 09:23] #8872 closed

[2018-07-16 10:50] AlexandraMoga commented on #8723
Here is the updated discopane contend (as seen on -dev) after disabling the `disco-staticthemes-dev` switch:

![image](https://user-images.githubusercontent.com/31961530/42754906-f097bde8-88fe-11e8-90d3-8e57a0f15d09.png)

Final validation will be made in prod

[2018-07-16 11:37] AlexandraMoga commented on #8572
I've checked the response for the discovery API endpoint - `https://addons-dev.allizom.org/api/v4/discovery/` -  and my results are the following:

1. with the `disco-staticthemes-dev` switch enabled:
![image](https://user-images.githubusercontent.com/31961530/42756056-3525ad2c-8903-11e8-8494-c1160ca1354b.png)

=> two results in the response out of which the first is a static theme

2. with the `d

[2018-07-16 12:04] willdurand opened #8884 "Add UTM parameter to "heading" links returned by the discovery API endpoint"
xref: https://github.com/mozilla/addons-frontend/issues/5346

---

Link to add-on listing on each Disco Pane entry:

- utm_source=discovery.addons.mozilla.org
- utm_medium=firefox-browser
- utm_content=discopane-entry-link
- src=api (not an UTM parameter, but it's used internally by AMO to track downloads in the stats dashboards for developers; looks like we dropped it at some point)

[2018-07-16 12:16] AlexandraMoga commented on #8873
Could you please add STR to this issue or the label "qa:not needed"?

Thanks

[2018-07-16 12:17] wagnerand commented on #8873
@EnTeQuAk any idea how to test this manually without an unreasonable amount of effort?

[2018-07-16 12:47] AlexandraMoga commented on #8863
I've verified the discovery API endpoint on -dev and theme previews with all sizes are returned in the response.
The image URLs are also rendered correctly.

`https://addons-dev.allizom.org/api/v4/discovery/`

![image](https://user-images.githubusercontent.com/31961530/42759146-98b51cd2-890e-11e8-81a8-0f45c8e5dd9a.png)

@eviljeff the sample theme set in discopane for testing purpose will still hav

[2018-07-16 13:11] AlexandraMoga commented on #8855
Verified fixed on AMO -dev with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/42760336-d204cc18-8912-11e8-86fe-af57cc538a0d.png)

[2018-07-16 13:47] AlexandraMoga opened #8885 "a "Not allowed" error message is generated when trying to set an add-on status to Invisible"
STR:

1. Log in to AMO -dev with a developer account
2. Open Developer Hub -> Manage my Submissions page
3. Choose a listed add-on to edit
4. From the Manage status and versions page set the add-on status to _Invisible_ and click on 'Hide add-on' button

Actual result:
A "Oops not allowed" error (403) is received

Expected result:
The user successfully sets the add-on status to _Invisible_

Notes:

[2018-07-16 14:10] AlexandraMoga opened #8886 "Edit information page is stuck in a loading state after a 'Save' action"
STR:

1. Log in to AMO -dev with a developer account
2. Open Developer Hub -> Manage my Submissions page
3. Choose a listed add-on to edit
4. Try to Edit any of the available sections from the Edit Information page and click 'Save Changes'

Actual result:
The edited section will be stuck in a loading state

Expected result:
The updates are successfully applied

Notes:
- reproduced on AMO -dev with

[2018-07-16 14:11] AlexandraMoga commented on #8872
Currently blocked for testing by #8885

[2018-07-16 14:15] AlexandraMoga commented on #8860
I have checked the above scenario on AMO -dev and I could not reproduce the initial error anymore.
@kumar in order to make sure that the fix is fully tested it might be useful to double check with the account that reproduced the error. Thank you!

[2018-07-16 14:32] wagnerand commented on #8885
Might be related to/duplicate of #8835.

[2018-07-16 15:07] EnTeQuAk commented on #8885
I'm pretty sure it's the same as #8835 somehow

[2018-07-16 15:08] wagnerand opened #8887 "ElasticSearch warning about expired license"
### Describe the problem and steps to reproduce it:

`docker-compose up`

### What happened?

This appears every couple of minutes:

[code]

### What did you expect to happen?

Maybe we could get rid of this...

### Anything else we should know?

... potentially by disabling all xpack features in `docker-compose.yml`, see https://www.elastic.co/guide/en/x-pack/5.1/installing-xpack.html#xpack-enabl

[2018-07-16 16:04] vcarciu commented on #8794
Verified as fixed based on scenarios from above.

[2018-07-16 16:41] kumar303 opened #8889 "New admin localization strings all end in `.user`"
The newly extracted admin strings end in `.user`. Example: https://github.com/mozilla/addons-server/commit/496194902989dc581354dc7c89b884291c2e607d#diff-e2c4d2d50716449e73812fb1d76a6fbbR6452

Is that a typo?

[2018-07-16 16:48] EnTeQuAk commented on #8889
This got introduced in 8c03d67bba1, it's only the admin tools so not really a high priority. Should be fixed though.

[2018-07-16 17:05] kumar303 commented on #8860
I don't have an account that was reproducing the error on dev. I only have one in production.

[2018-07-16 17:11] feer56 opened #8890 "Update help text to show that "by [author]" is appended to the addon name."
This is for the Disco-TAAR shield study discovery item. @muffinresearch recommended me to file this issue.

### Describe the problem and steps to reproduce it:
Include a 'Custom addon name' for a discovery item.

### What happened?
In the preview, the "by [author]" shows up beside the custom add-on name within the subheading

Example:
Custom addon name: Privacy Badger by EFF
Custom heading: Stop s

[2018-07-16 17:52] jvillalobos commented on #8882
Yeah, we can get rid of that tag.

[2018-07-16 18:10] muffinresearch commented on #8890
@eviljeff since mat is out this week would you have a chance to take a look at this, it will help a lot with getting data into the admin for the upcoming TAAR changes.

[2018-07-16 18:11] muffinresearch commented on #8890
P1 only in the sense that if it's a simple change and we can get it in this week's push that would be appreciated.

[2018-07-16 18:41] EnTeQuAk commented on #8835
okay, now a bit more detailed protcol:

Between Django 1.8 and 1.11 a lot changed regarding how CSRF is handled. And we can reproduce the issue on -dev and with a bit more advanced template I'm getting `    Referer checking failed - https://addons-dev.allizom.org/en-US/developers/addon/submit/distribution does not match any trusted origins.` which is helpful.

This will only happen if this code fa

[2018-07-16 18:49] EnTeQuAk commented on #8835
To be precise…

https://github.com/django/django/commit/ab26b65b2f178597be845e203eb698e193e3502e
https://github.com/django/django/commit/eef95ea96faef0b7dbbe0c8092202b74f68a899b

may have introduced the behavior we're running into potentially.

Also, we should be able to reproduce this locally by setting `SESSION_COOKIE_DOMAIN` to `.olympia.test`.

[2018-07-16 19:39] jvillalobos opened #8891 "Set a minimum length for abuse reports"
We get lots of garbage via abuse reports. Lots of them are one-word reports or random characters. We should have a minimum length to mitigate some of it, and push users to elaborate on what they mean in their reports. On the other hand, we don't want to force users to write a novel to report a spam listing.

Something like 32 characters seems enough to write a small phrase in English.

/cc @kewisc

[2018-07-17 01:09] bqbn commented on #8768
We released https://github.com/mozilla/addons-server/pull/8809 last Thursday. It looks like it didn't affect the CPU utilization on the read replicas very much.

Average CPU utilization for the replicas has been consistently in the range of 4-9% (depending on time of the day) since the 7/5 cache-machine removal. This represents 200-300% increase of CPU utilization comparing to before cache-machine

[2018-07-17 05:59] AlexandraMoga commented on #8863
The discopane part will be fixed by https://github.com/mozilla/addons-frontend/issues/5568

Marking this issue as verified fixed on AMO -dev

[2018-07-17 06:39] kewisch commented on #8891
Sounds good to me, this sounds like a low-effort fix that may provide a quick win. Maybe we can also require a minimum amount of words? The average English word is about 5 letters, so with 32 characters that would be about 6 words.

[2018-07-17 07:50] EnTeQuAk commented on #5135
I'm going to close this in favor of https://github.com/mozilla/addons/issues/689 and many other issues that are filed and will be tackled regarding the file-viewer.

I personally don't think we should enable the current file-viewer for public access and we will be working on a replacement for our reviewers eventually anyway.

[2018-07-17 07:50] #5135 closed

[2018-07-17 07:51] EnTeQuAk commented on #7171
This is pretty much done, I just need to publish my findings and plans for implementing this. Putting it into next weeks milestone so that I don't forget about that.

[2018-07-17 09:40] AlexandraMoga commented on #8835
@EnTeQuAk it seems that the legacy site will throw a similar 403 error for other actions: Update user accounts, Save/Delete collections, Agree with the terms and conditions for add-on submission etc.. I'm mentioning them because they appear to have the same root cause.

Below is an example of the error triggered when trying to update an account from the legacy site:

![image](https://user-images.g

[2018-07-17 09:49] EnTeQuAk commented on #8835
Thanks, @AlexandraMoga, yeah they do have the same root cause. https://github.com/mozilla/addons-server/pull/8896 will hopefully fix this.

I'll remove the debug information from that CSRF page once things are working again.

[2018-07-17 11:07] AlexandraMoga commented on #8885
Verified fixed on AMO -dev with FF60, Win10x64

[2018-07-17 11:08] AlexandraMoga commented on #8886
Closing issue as it was also fixed by #8896

[2018-07-17 11:08] #8886 closed

[2018-07-17 11:33] eviljeff commented on #8768
We could just cache the list of all the guids that have overrides to reduce the db load, so only matching ones involve hitting the db.

[2018-07-17 11:53] eviljeff opened #8899 "replace /v4/ with /stable/ and /dev/"
currently `v3` is used by Firefox and by addons-frontend, so has to stable but also frozen.  We'd like addons-frontend to use the newer version of the api that has new features but it creates an up front challenge - all the changes have to be supported straight away before they can upgrade.  And once they do support `/v4/` then then new changes rolled out are a little inconvenient because we can't

[2018-07-17 11:55] eviljeff commented on #8860
I did, iirc.

[2018-07-17 12:10] AlexandraMoga opened #8900 "Add-on icon can't be changed from DevHub Edit information page"
STR:

1. Log in to Developer Hub
2. Navigate to Manage my submissions and choose one of your add-ons to edit
3. Change the add-on icon to one of the predefined options or upload a custom icon
4. Save changes

Actual result:
The default add-on icon is still displayed after the changes have been saved

Expected result:
The updated icon (predefined or custom) should be displayed after the changes hav

[2018-07-17 12:32] eviljeff commented on #8705
What fields would you want to be searchable?

[2018-07-17 12:50] wagnerand commented on #8891
Sounds good.

[2018-07-17 13:13] muffinresearch commented on #8890
Looking at this further this isn't a bug per se, the "by [author]" part is automatically added and you shouldn't add it to the custom addon name. This is because the addon author is not translatable. The "by" string is translated but this is handled as the link is built up.

The fix to this bug is to improve the help text to make this clearer.

[2018-07-17 13:15] willdurand opened #8901 "Allow to retrieve add-ons by author IDs when using the Search API endpoint"
The Search API has a query parameter named `author` that allows to retrieve add-ons given a comma-separated list of author `username`: https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search.

[An issue reported on addons-frontend](https://github.com/mozilla/addons-frontend/issues/5608) highlighted the fact that usernames changed (sometimes) and that using `username` was not a

[2018-07-17 13:23] AlexandraMoga opened #8902 "License section from Add-on submission form has layout issues"
STR:

1. Log in to AMO -dev
2. Submit a new extension via add-on distribution page
3. After your add-on is validated, click on Continue to land on the add-on submission form -
4. Scroll down to the license section and observe the layout

Actual result:
The list with license options are not correctly aligned

Expected result:
The list with license options is properly aligned

Notes:
- the 'Privacy

[2018-07-17 13:28] wagnerand opened #8903 "Allow django admin changes to files without having to update `jetpack version` and `reviewed` fields"
Every once in a while, we need to update file statuses manually, because sometimes the `admin/addon/manage` page is unavailable.

When we do, django admin requires `jetpack version` and `reviewed` fields not to be empty.

We should make them `blank=True` so they are optional.

[2018-07-17 13:50] AlexandraMoga opened #8904 "'This slug is already in use' error is not dismissed when a new unique slug is entered in the required field"
STR:

1. Log in to AMO -dev
2. Submit a new extension via add-on distribution page
3. After your add-on is validated, click on Continue to land on the add-on submission form
4. Enter a duplicate slug in the Custom URL field - i.e. _personas-plus_
5. Fill in the rest of the mandatory fields and click on Submit version
6. After receiving the 'This add-on slug is already in use' error, replace the pr

[2018-07-17 13:58] AlexandraMoga commented on #8872
I have tried both scenarios:
1. setting add-on status to _Invisible_ from DevHub
2. changing the status to _Disabled by Mozilla_ from Add-on admin page

In both cases, the File viewer for the two add-ons used as example could be accessed

Marking the issue as verified fixed on AMO -dev with FF61, Win10x64

[2018-07-17 14:09] EnTeQuAk commented on #8902
This seems like some kind of regression of our changes to jingo… apparently restyle.less styles aren't applied at the very top anymore.

I'll look into this.

[2018-07-17 14:25] EnTeQuAk commented on #8900
This sounds like a Django 1.11 regression.

I can take a look at this.

[2018-07-17 14:27] AlexandraMoga opened #8906 "The Source Code section from manage version page exposes two links that lead to the file uploaded"
STR:

1. Log in to Developer Hub
2. Open the Manage status and Version page for one of your add-ons
3. Select one add-on version that you wish to manage
4. On the version details page, go to the Source code section and upload a file
5. Save the changes and observe the information displayed in the Source code section

Actual result:
There are two links that point to the same file uploaded as source

[2018-07-17 14:47] eviljeff commented on #7506
I looked into this and the problem is down to slugs - the name is reduced to `""` (e.g. `"%$£"` as the add-on name, which is a valid name), if all the chars are invalid slug chars.   The most straightforward fix is to generate a random uuid style slug instead.

The javascript in the detail step thwarts this though, by resetting the slug back to the name (once again ending up as "").   So, we can c

[2018-07-17 14:53] vcarciu commented on #8904
@EnTeQuAk  : please note that once you receive the message that "This field is required" for categories during submission, then you will not be able to pass this step even if you check some categories. Probably same root issue.

[2018-07-17 15:05] vcarciu commented on #8835
Verified as fixed in different places where the issue was spotted.

[2018-07-17 15:20] feer56 commented on #8890
From what I understand, based off of a previous discussion with Scott and the PRD, unless something has changed since, the author's name would not be pulled in and will be manually entered.

[2018-07-17 15:23] AlexandraMoga opened #8907 "Confirm Approval/Approve Content actions cannot be saved"
STR:

1. Log in to AMO -dev with a reviewer account
2. Access Reviewer Tools - Auto-approved addons queue
3. Pick an add-on from the list to review
4. Select the Confirm Approval option and Save your action

Actual result:
Nothing happens when the Save button is clicked

Expected result:
Confirm Approval action is successfully saved

Notes:
- reproduced on AMO -dev, FF61, Win10x64 for the Confirm

[2018-07-17 15:43] muffinresearch commented on #8890
That's not the case - we're following the existing data conversions used on the disco pane.

We'll need all the "by [author]" strings removed from the custom add-on name since that content is *not translated* as noted in the help text in the admin so it can't contain any content that needs to be localized e.g. the word "by".

[2018-07-17 16:39] eviljeff commented on #8904
I've noticed the same issue @vcarciu is talking about, I think.
STR:
- make some mistake on the first submit: e.g. not selecting both categories - but doesn't have to be that- even not correcting the slug does it
- submit the page
- on the second load correct everything and see the `Submit Version` button isn't functional

[2018-07-17 17:18] EnTeQuAk commented on #8907
So, things don't seem to be completely broken somehow. Many of the other actions in that form still work.

[2018-07-17 19:16] EnTeQuAk commented on #8904
Yeah, this is actually the same issue as https://github.com/mozilla/addons-server/issues/8907

We have multiple `required` attributes rendered in the form that we don't want there.

[2018-07-17 19:30] EnTeQuAk opened #8912 "Make sure 'required' attribute rendering works properly"
This is a follow-up issue for https://github.com/mozilla/addons-server/pull/8910/ and https://github.com/mozilla/addons-server/pull/8911 to check these forms and others and make sure things are working as expected.

We should remove that flag eventually but that may be a bit more work than we can invest right now. Marking as p3 and code quality.

[2018-07-17 20:56] jvillalobos commented on #7506
The UUID solution sounds good to me.

[2018-07-17 21:00] jvillalobos commented on #8705
Filter by type (User Reviews, Collection Name, Collection Description, Listing Name, Listing Summary, Listing Description) and resolution (Approved, Rejected).

Search should apply to the content that was approved or rejected.

[2018-07-18 04:55] #8904 closed

[2018-07-18 04:55] #8907 closed

[2018-07-18 06:49] AlexandraMoga commented on #8904
I've submitted an add-on and forced the errors mentioned above. After making the necessary corrections, the add-on version can be submitted.

@EnTeQuAk I will file a separate issue for the broken slug error message so you can handle it separately after the more urgent issues are solved.

I'm marking this issue as verified fixed on AMO -dev with FF61, WIn10x64

[2018-07-18 07:01] AlexandraMoga opened #8914 "'This slug is already in use' error message is broken"
STR:

1. Log in to AMO -dev
2. Submit a new extension via add-on distribution page
3. After your add-on is validated, click on Continue to land on the add-on submission form
4. Enter a duplicate slug in the Custom URL field - i.e. personas-plus
5. Fill in the rest of the mandatory fields and click on Submit version
6. Observe the 'This slug is already in use' error message

Actual result:
The erro

[2018-07-18 07:05] EnTeQuAk commented on #8904
Awesome, thanks a lot!

[2018-07-18 07:13] AlexandraMoga commented on #8907
Verified fixed on AMO -dev with FF61, Win10x64

![conf approval](https://user-images.githubusercontent.com/31961530/42865703-29e54956-8a73-11e8-994c-e3762fdba95a.gif)

[2018-07-18 08:47] #8903 closed

[2018-07-18 10:52] wagnerand commented on #8705
Can we add filters for "Ham" and "Spam" decisions as well, please?

[2018-07-18 11:41] vcarciu opened #8919 "Empty webextension names can be saved in edit information pages"
Steps to reproduce:
1.On AMO Stage , open any of your submitted webextensions
2.In edit information section, delete the name and press "Save Changes" button

Expected results:
Changes are not saved and a warning is displayed under Name field

Actual results:
1."This field is required" message is displayed with an extra ":" before the sentence
2.Even if the warning is present, the change is applied

[2018-07-18 14:35] vcarciu opened #8920 "Selecting "Other" License is not working as expected"
Steps to reproduce:
1.On AMO-Stage, select any of your submitted addon in order to edit it.
2.Select "Manage Authors & License"
3.Check the "Other" checkbox in the License section

Expected results:
License name and License text fields should automatically collapse when checking the "Other" checkbox

Actual results:
The fields from above are not displayed

NOTES:
Sections are displayed after press

[2018-07-18 15:57] #6390 closed

[2018-07-18 16:11] wagnerand commented on #8903
STR:
1. Go to `/admin/models/files/file/<FILE_ID>` for a webextension file.
2. Change the "Status" to something else.
3. Click "Submit" and make sure the changes go through and the form does not throw an error that "Jetpack Version" and/or "Reviewed" fields are required.

[2018-07-18 16:33] diox commented on #8903
Note: I would warn against using this admin in production. It can directly modified fields that are, well... not supposed to be modified directly. There is nothing ensuring the proper callbacks are being fired when you modify core properties.

[2018-07-18 17:13] wagnerand commented on #8903
I have used this to disable public files for deleted add-ons, because I didn't fine another way to do it; `/admin/addons/manage/` is not available for those.

[2018-07-18 17:47] jvillalobos commented on #8705
Do you mean filtering out the ones that have already been reported as ham or spam via the link?

[2018-07-18 18:35] diox commented on #8903
Ok, it should be fine for such edge cases. I was more worried about changing statuses of files belonging to public add-ons, or fields that are automatically set at upload/validation time.

[2018-07-18 18:38] muffinresearch opened #8923 "Server doesn't support emoji"
## STR:

* Anywhere on addon-server e.g. the dev hub save a field and add emoji e.g. "this is before emoji 🔥 this is after emoji"
* Save that field

## What happens:

Everything after the emoji is stripped out.

## What should happen

I should see the emoji in the output.

## Screenshots

### Before:

<img width="1157" alt="edit_information____codpe-ducke-goldfishee____add-ons_for_firefox" src="ht

[2018-07-18 20:51] diox commented on #8923
Yeah, it's because we're not using `utf8mb4`. I filed a bug about this a while ago for AMO and Marketplace back in the day... The migration to switch is really annoying, it would take the database down for quite a while and synchronizing the client changes required with the migration (which needs to be applied to primary and replica dbs) is also non trivial.

[2018-07-18 21:02] diox opened #8924 "Remove filesystem cache"
A filesystem cache backend was added in c125bf9354bc84d94e8b6570092b3b3f05a26490 to get around cache eviction issues caused by cache-machine. cache-machine [is now gone](ceae9d4fd0ad3f2cbb8233fd494bd1248fe58854) so we should try to move back to having only one memcached cache backend for everything.

[2018-07-18 21:27] bobsilverberg opened #8925 "Add an `exclude_collections` query parameter to the autocomplete endpoint"
In order to support https://github.com/mozilla/addons-frontend/issues/5126, which will exclude add-ons from the autocomplete box if they are already present in a collection, we need a way to tell the server to exclude all add-ons in a particular collection. We cannot use `exclude_addons` for this because we only ever have a single page of add-ons for a given collection.

I suppose another possibil

[2018-07-18 21:34] diox commented on #8925
That seems difficult, for 2 reasons:
- We don't index what collections add-ons are a part of (it might be quite costly to do so, add-ons can be part of a large number of collections, having to re-index add-ons each time they get added/removed from one would be annoying)
- The search endpoint works without any authentication, it doesn't care about the user at all

[2018-07-18 21:46] bobsilverberg commented on #8925
Do we have to re-index add-ons for this? Can we not just look at the collection data to see which add-ons to exclude?

There is no longer such a thing as a private collection, so this may no longer be relevant.

If #1 is considered too much of an issue, do you have any other suggestions for how we can accomplish what we'd like to do?

[2018-07-18 21:58] diox commented on #8925
We could look up the collection add-ons before making the search query, and then exclude the add-ons, yeah. I'm not a super fan of that because that makes the search endpoint depend on the database, which is something we tried very hard not to do cause that slows us down... What do you think @EnTeQuAk @eviljeff ?

Technically, collections are still somewhat private if you don't share the URL publi

[2018-07-18 22:01] bobsilverberg commented on #8925
Currently we only need it for the autocomplete endpoint, but I was under the impression that they're both based on the same code. You're right though, I should have specified that it was for autocomplete.

[2018-07-18 22:04] diox commented on #8925
It's currently the same code underneath, yes. Might not be in the future though (though with requirements like this, it's more and more likely to stay the same), so that's why I wanted to know.

[2018-07-18 22:17] eviljeff commented on #8925
I'm -1 for this. The autocomplete endpoint is supposed to be super fast and
low impact on resources and it does this by being pure Elasticsearch. As
collections aren't in ES we'd have to change it to do a db query instead.

Storing collection membership per add-on on ES seems not viable - imagine
how many collections AdblockPlus is on. And yeah, the reindexing isn't a
no-op either each time an add

[2018-07-18 22:22] diox commented on #8925
Yeah, @bobsilverberg maybe you can increase the page size just for when you're editing a collection, so that you do have pretty much all the add-ons ids and can exclude them ? I don't think it's terrible to show add-ons already part of the collection in autocomplete results if the collection is super large.

[2018-07-18 22:42] caitmuenster opened #8926 "Unable to add specific theme to Featured Themes Collection"
Pam just reported that she is unable to add [this theme](https://addons.mozilla.org/en-US/firefox/addon/pink_fox/) to the[ Featured Themes Collection](https://addons.mozilla.org/en-US/firefox/collections/mozilla/featured-personas/?collection_sort=-added&page=1). When she goes to add it, it doesn't show up in the dropdown box, and if it's not there, she can't add it. Screenshot:

![featurederror](h

[2018-07-19 00:23] diox commented on #8912
Both translation fields and reviewer tools forms have some additional javascript going on that has an effect on whether or not the HTML field is required or not:
- In reviewer tools the "comments" field is set as required in the form, but some actions do not require comments and therefore disable that property inside `is_valid()`.
- For translation fields, there are dynamic fields being created, o

[2018-07-19 05:31] EnTeQuAk commented on #8912
That's probably the best idea, especially since the new Django 1.10+ behavior pushes input validation to the client instead of relying on the backend (only doing that as a safety net).

[2018-07-19 06:52] EnTeQuAk commented on #8900
Yeah, this happened when I re-implemented the `IconTypeSelect` widget and I missed the label/input fields which leads to nothing being saved.

[2018-07-19 07:37] subh-asish opened #8929 "Bug in Thunderbird Add Ons"
When I am trying to click on any themes from thunderbird the link is redirecting and opening in the browser and when I try to install it says not found.

[2018-07-19 08:42] #8919 closed

[2018-07-19 09:02] diox commented on #8914
It looks like it's because the form inherits from `TranslationFormMixin`, which has a specific `error_class` for its errors. The new django-1.11 compatible implementation messes up errors display for non-translated fields. (For translated fields, it does need to be a list, and displayed accordingly, because there might be more than one field, one for each locale)

[2018-07-19 09:45] diox commented on #8914
Incidentally, you can reproduce the issue with any other non-translated field in devhub that can display errors. Single checkboxes are not an issue, but for instance editing the Contributions URL field, entering an URL from an unsupported domain, will trigger the problem as well.

[2018-07-19 10:06] wagnerand commented on #8765
Since admins can't know what correct account to use, we clear the `fxa_id` for both accounts and then send out the following email:

"
Simplified, you now have two AMO accounts, one linked to your Firefox Account ID and one linked to your (we believe old or secondary) email address. When logging in, AMO does not know which one to use.

We have un-linked both AMO accounts from Firefox Account, so n

[2018-07-19 10:53] vcarciu opened #8932 "After receiving "This field is required" message for an empty name for an unlisted addon, a new name cannot be saved"
Steps to reproduce:
1.On AMO-Stage submit an unlisted webextension
2.Go to it's edit page and delete the name
3.Press "Save changes"
4.After receiving "This field is required" message try to enter a new name and save it again

Expected results:
Once the new name is added, the warning should not appear anymore and changes should be saved

Actual results:
Warning is still present and no name changes

[2018-07-19 11:00] AlexandraMoga commented on #8900
@EnTeQuAk sadly I can still reproduce the issue for the case when a custom icon is uploaded. I'm inclined to re-open the issue...

[2018-07-19 11:19] diox commented on #8752
I'm all for that (lots of opportunities to remove clunky code when doing it!), but I think we should get rid of platform first, then worry about simplifying the Android support into a single listing-level checkbox later in a separate issue.

[2018-07-19 11:50] vcarciu opened #8935 "Cannot make changes to Compatibility section if "Need at least one compatible application." warning was displayed"
Steps to reproduce:
1.On AMO Stage, be sure that you submitted some webextensions with multiple versions
2.Go to Edit Listing page for one of your webextensions and then select the Manage Status&Versions page
3.Select one of the versions
4.In compatibility section , delete everything and click save
5.When "Need at least one compatible application." warning is displayed select an application and cl

[2018-07-19 12:00] vcarciu commented on #8914
Reproducible also when trying to submit a theme without any header :
![uuuu](https://user-images.githubusercontent.com/1583842/42941135-71914b0a-8b64-11e8-8c7c-586606072f17.png)

[2018-07-19 12:30] wagnerand opened #8936 "Show statistics to admins for disabled add-ons and versions"
### Describe the problem and steps to reproduce it:

Admins need to be able to access statistics even to disabled add-ons and versions to determine actions when we come across issues with the add-on.

### What happened?

Trying to access the statistics page for a disabled add-on shows 404.

### What did you expect to happen?

Admins should be shown the statistics.

### Anything else we should know

[2018-07-19 12:37] bobsilverberg commented on #8925
Fair enough, this sounds like a reasonable approach. @jvillalobos @pwalm Do you have any issues with changing the "Edit collection" screen to display 50 add-ons by default, and only using those 50 add-ons displayed to determine which add-ons to *not* include in the autocomplete results of the select box that's used for adding an add-on to the collection?

[2018-07-19 12:54] diox commented on #8901
We have the ids already in ES, but not currently indexed, so it would require a full reindex. Code-wise it'll probably look like what we do for `AddonExcludeAddonsQueryParam` which similarly supports both add-on slugs and ids.

[2018-07-19 13:51] ioanarusiczki commented on #8725
Verified fixed on AMO dev with FF61(Win10)

![theme artist](https://user-images.githubusercontent.com/33448286/42946587-ec541dc2-8b73-11e8-85a2-5e53f72ab83f.png)

[2018-07-19 14:13] diox commented on #8929
Hi,

I can reproduce this, but thunderbird add-ons have moved to https://github.com/thundernest/addons-server so it's best to re-file that issue there.

(I'm not sure where that issue is coming from, it might not be a recent regression - it seems that in the legacy discovery pane we link to add-ons with their IDs, and not their slugs, and somehow on addons.thunderbird.net that fails, at least for

[2018-07-19 14:13] #8929 closed

[2018-07-19 14:15] #8914 closed

[2018-07-19 14:16] #8902 closed

[2018-07-19 14:16] #8920 closed

[2018-07-19 15:09] vcarciu commented on #8919
A new name cannot be saved for an unlisted webextension, but a new issue was logged since this is not critical like this one.

Marking this as verified .

[2018-07-19 15:13] kumar303 commented on #8925
Some other options:
- We could just not do this UI feature 😁 I think the error message you currently get is pretty clear.
- You could *totally* fetch all pages and get all collection add-ons because [we have a helper](https://github.com/mozilla/addons-frontend/blob/0369a39b0a4f7a8fff06f8aeb379292c47f91ffc/src/core/api/index.js#L301)! Not saying that's a good idea, just an idea.

[2018-07-19 15:23] caitmuenster commented on #8926
Candelora had a similar issue when trying to add [this theme](https://addons.mozilla.org/en-US/firefox/addon/persiancalligraphy/) to the collection.

![3584343f12414196934dbcd46ac50c8e](https://user-images.githubusercontent.com/23342476/42952294-004f4410-8b2d-11e8-9545-75b50bb50d49.jpg)

[2018-07-19 15:29] bobsilverberg commented on #8925
I am aware of the helper, but didn't think it was a good idea to do that.

[2018-07-19 15:38] EnTeQuAk commented on #8906
I honestly don't think this is worth a p2 either, it's certainly something we should fix but this can easily be assigned to a regular milestone and not be a p2 imho.

[2018-07-19 18:33] muffinresearch commented on #8923
I wonder if there is a way to workaround the data losses that we're currently seen if a user includes emoji in data that's written to the db?

Does the emoji and everything after it get stripped on the way in or the way out?

Is there something we can do about that ahead of considering the bigger fix by switching to `utf8mb4`?

[2018-07-19 18:35] #7506 closed

[2018-07-19 19:32] devaneymoz commented on #8723
Sorry for a late-breaking change, but need to re-open to adjust one bit of content programming. Please swap in Privacy Badger for uBlock Origin. The rest of the page remains the same. Here's the new material:

**Stop sneaky trackers** with [Privacy Badger by EFF](https://addons.mozilla.org/firefox/addon/privacy-badger17/)
Block invisible trackers and spying ads that follow you around the web.

[2018-07-19 19:33] diox commented on #8923
Data gets stripped on the way in by MySQL, it only saves the truncated version. Funny enough it's because we're using MySQL in a somewhat relaxed mode - otherwise it would loudly fail and completely prevent saving the content entirely.

I can only see 2 workarounds, both not great IMHO:
- Strip offending characters ourselves, leaving the rest of the data intact. This alters the content that was po

[2018-07-19 19:46] eviljeff commented on #8723
good thing we didn't push this live today as planned 😉

[2018-07-19 19:56] eviljeff commented on #8926
@caitmuenster now the new collection UI is launched, can this still be replicated?

[2018-07-19 20:00] eviljeff commented on #6137
We dropped searching for collections all together so I think this is a wontfix now.

[2018-07-19 20:00] #6137 closed

[2018-07-19 20:08] caitmuenster commented on #8926
Yeah, still having problems with both themes:

![screen shot 2018-07-19 at 1 06 45 pm](https://user-images.githubusercontent.com/23342476/42967318-bb31f314-8b54-11e8-8a74-63cce8e9fdd2.png)

![screen shot 2018-07-19 at 1 07 22 pm](https://user-images.githubusercontent.com/23342476/42967328-c070b19e-8b54-11e8-8b64-a14faaf321ac.png)

(The new collection UI looks lovely, by the way!)

[2018-07-19 20:16] jvillalobos commented on #8926
This is a problem with search, not the old or new UI.

One workaround that still works in the old UI (but doesn't work in the new one) is to enter the add-on ID in the search field. It's 457804 for Pink_Fox and 985147 for Persiancalligraphy. We should probably bring that feature back, since the search fixes may take longer to be done.

[2018-07-19 20:29] eviljeff commented on #8926
Ah, yeah.  They both come too far down the search results to show up in the autocomplete box (it only shows the first 10).

The underlying API supports adding add-ons to collection by ID - supporting that explicitly would be an addons-frontend change.  (If you mean being able to search for a numeric ID and get the addon for that ID back in the search results then it would be an addons-server bug b

[2018-07-19 20:31] eviljeff commented on #8925
we already support requesting up to 50 addons per collection so it's a wontfix on the server side.  mozilla/addons-frontend#5126 is still open to increase it to 50 there.

[2018-07-19 20:31] #8925 closed

[2018-07-19 21:19] jvillalobos opened #8939 "Search add-on by numeric ID"
Broken off from #8926. The old front-end supports entering a numerical ID for an add-on in an autocomplete search field so you get that unique result, rather than the (sometimes wrong) search results. It's a handy workaround when searching for things with somewhat generic names. There are [plans to fix search](https://github.com/orgs/mozilla/projects/17), but we should have this as a fallback.

We

[2018-07-19 21:20] jvillalobos commented on #8926
Filed https://github.com/mozilla/addons-server/issues/8939

[2018-07-19 22:44] #8723 closed

[2018-07-20 06:00] EnTeQuAk commented on #8900
I'll look into that.

[2018-07-20 08:56] muffinresearch commented on #8923
Stripping emoji is probably better than losing all the data after you enter an emoji. But yeah it's still pretty horrible.

Along the lines of your escaping ideas, maybe we could have some kind of compatibility layer that replaces emoji with something storable on the way in and converts it back on the way out? That is pretty filthy though.

Longer term we should fix the DB tables, we should also c

[2018-07-20 09:13] wagnerand commented on #8765
Admins cannot know which AMO account should be made the one the user logs in with. This requires back and forth with the affected user. And I doubt they can make an informed choice without knowing what information is attached to which account, and I am not comfortable with sharing that over email to an identity I can't verify. Even if they were able to make that decision eventually, it would be so

[2018-07-20 09:28] diox commented on #8932
Linking to #5271 as it's gotta be a regression from the django 1.11 upgrade.

[2018-07-20 09:32] diox commented on #8891
A minimum can be enforced by the API, but the frontend will have to know about it as well (both to warn the user before submitting and also to handle API error if necessary)

[2018-07-20 09:47] diox opened #8944 "Remove collection stats, downloads, votes & watchers code"
I removed most of the legacy collection features that were not about to be ported to the new frontend in https://github.com/mozilla/addons-server/issues/8538 but a few remains and need to be removed too.

In particular, we're seeing sentry errors because of obsolete `collection_votes` and `collection_watchers` tasks like this one: https://sentry.prod.mozaws.net/operations/olympia-stage/issues/4407

[2018-07-20 10:09] davidhedlund opened #8945 "API: Add "last_license" to the search pages"
### Describe the problem and steps to reproduce it:
The licenses are not listed in the JSON data for [search](https://addons.mozilla.org/api/v3/addons/search/) pages.

To get the license for each add-on you have to download the JSON version file, example for [uBlock Origin](https://addons.mozilla.org/api/v3/addons/addon/ublock-origin/versions/2474245/)

We filter out add-ons distributed under .lic

[2018-07-20 10:38] diox commented on #8945
It's unlikely to change soon. Note that the license name and url have been added to the add-on detail endpoint a while ago (#3964), under `current_version.license`, so you don't have to call the version detail endpoint, and you don't have to retrieve the full license text.

[2018-07-20 10:52] davidhedlund commented on #8945
That's what we are using, I mean "add-on pages" not "license pages". Sorry for the confusion.

[2018-07-20 10:53] diox commented on #8932
It definitely only happens for unlisted add-ons. Something that can't be a coincidence: the "Localize for" menu is absent... since the field is a translated field it must mess up with what's being submitted...

[2018-07-20 12:59] AlexandraMoga commented on #8662
@eviljeff I think we should actually be able to verify this fix if another set of lwt are migrated, right?
I have two examples in mind:
https://addons-dev.allizom.org/en-US/firefox/addon/eco-theme/?src=search
https://addons-dev.allizom.org/en-US/firefox/addon/yahoo-persona/?src=search

[2018-07-20 13:50] AlexandraMoga commented on #8902
Verified fixed on AMO -dev with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/43005884-d5ac0796-8c3c-11e8-8c5a-068bd920bf46.png)

![image](https://user-images.githubusercontent.com/31961530/43005890-de1b8de8-8c3c-11e8-8e7c-b6899f1fc2c4.png)

[2018-07-20 14:00] AlexandraMoga commented on #8914
Verified fixed on AMO -dev with FF61, Win10x64
![image](https://user-images.githubusercontent.com/31961530/43006359-2cffd95e-8c3e-11e8-8ba7-64075b214cfa.png)
![image](https://user-images.githubusercontent.com/31961530/43006377-36d9ed2a-8c3e-11e8-8c71-bbdf39683ccc.png)
![image](https://user-images.githubusercontent.com/31961530/43006385-3b4c2990-8c3e-11e8-9e46-6ba75d9bd273.png)
![image](https://use

[2018-07-20 16:48] eviljeff commented on #8662
@AlexandraMoga done

[2018-07-20 17:18] peiying2 opened #8949 "Spelling error in /django.po#L5103"
### Describe the problem and steps to reproduce it:
https://github.com/mozilla/addons-server/blob/master/locale/en_US/LC_MESSAGES/django.po#L5103

### What happened?
Supprts
### What did you expect to happen?
Correct spelling should be Supports

[2018-07-20 18:10] diox commented on #8949
Thanks, assigning to @devaneymoz since it comes from the discovery admin, once it's fixed we'll re-extract.

[2018-07-20 18:20] devaneymoz commented on #8949
Fixed in the admin.

[2018-07-20 18:23] diox commented on #8949
Assigning to @EnTeQuAk to re-extract

[2018-07-20 21:00] Loirooriol opened #8950 "Empty version notes for Tab Counter Plus"
### Describe the problem and steps to reproduce it:
Go to https://addons.mozilla.org/en-US/firefox/addon/tab-counter-plus/versions/2.5/updateinfo/

This is the URL that about:addons fetches when Tab Counter Plus is updated and you click "Show Release Notes"

### What happened?

You get an empty page. Or, if you load it via about:addons, no release notes are displayed.

### What did you expect to h

[2018-07-20 21:03] diox commented on #8950
I suspect it's related, I just can't figure out how at the moment. I think somehow we're picking that deleted translation (it's NULLed but still present because of the way our translations app is set up) instead of the english one. The weird thing is, it should definitely pick up the english one. Also, why would that be happening for *all* versions of this add-on ?

See also https://github.com/moz

[2018-07-20 21:19] diox commented on #8950
It's not directly related to that actually. Rather, it has to do with the fact that this version has multiple files, and the way to get the version instance from the queryset.

We use the related manager `addons.versions` and that seems to not play well with the transformer for some reason, when there are multiple results. Adding a `.distinct()`, reworking the queryset to use `Version.objects.filt

[2018-07-23 06:07] peiying2 opened #8956 ""Decrease productivity" or should it be "Increase productivity""
### Describe the problem and steps to reproduce it:
https://github.com/mozilla/addons-server/blob/master/locale/en_US/LC_MESSAGES/django.po#L5901

### What happened?
"Decrease productivity by ..."
### What did you expect to happen?
"Increase productivity by ..."

[2018-07-23 07:10] AlexandraMoga commented on #8662
Verified fixed on AMO -dev with FF61, Win10x64

**Before**
![image](https://user-images.githubusercontent.com/31961530/43062066-4827a648-8e60-11e8-8477-5ba2b1361210.png)

**After**
![image](https://user-images.githubusercontent.com/31961530/43062132-7c01b01c-8e60-11e8-882d-80a4e0d6f01e.png)

![image](https://user-images.githubusercontent.com/31961530/43062145-8262ab0a-8e60-11e8-8797-6c0f06d49815.p

[2018-07-23 08:39] #8654 closed

[2018-07-23 09:05] AlexandraMoga opened #8957 "'Finish Theme' button from the static theme submission wizard will not be automatically disabled when one of the mandatory fields is empty"
STR:

1. Log in to Developer Hub
2. Go to Submit a new Add-on - Create a Theme to access the static theme submission wizard
3. Select a header image for your theme
4. Delete the value from the Theme Name field
5. Observe the Finish theme button

Actual result:
Finish theme button is not automatically disabled when the mandatory field is empty

Expected result:
Finish theme button is automatically

[2018-07-23 09:14] diox opened #8958 "Remove thunderbird code"
Now that thunderbird add-ons have moved away from AMO we should remove thunderbird-specific code from addons-server, except things like redirections and notices that developers/users should be using addons.thunderbird.net.

That includes the waffle added for the transition, relevant constants, etc. We should also make sure the database is cleaned up (we soft-deleted add-ons only compatible with th

[2018-07-23 09:15] eviljeff commented on #8958
🔥 🔥 🔥 🔥

[2018-07-23 09:21] diox opened #8959 "Add add-on the string is referring to in each disco editorial string comment"
When we generate disco pane editorial strings for translators to work on, we add a comment that looks like this: `editorial content for the discovery pane`. [Example](https://github.com/mozilla/addons-server/blob/bd471330eabcc41901eda1238e5f47bd952579ae/locale/en_US/LC_MESSAGES/django.po#L5904).

We could help translators a little more by adding the add-on name to that comment. This means:
- Modif

[2018-07-23 09:59] AlexandraMoga commented on #8903
Verifed fixed on AMO -dev with FF61, Win10x64

Files can be updated from `/admin/models/files/file/<FILE_ID>` without the need to add a value in the Jetpack and/or the Review fields

I've also noticed that the mentioned fields are now grayed out, to mark them as optional sections.

![image](https://user-images.githubusercontent.com/31961530/43070284-218b04e0-8e78-11e8-83ca-a9fd56235308.png)

[2018-07-23 11:55] #8889 closed

[2018-07-23 12:17] AlexandraMoga commented on #8701
@eviljeff @bobsilverberg  just noticed that this issue also affects user comments in collections (i.e. leaving a comment for a specific add-on inside a collection). I suppose that section could also be taken in consideration when a fix is prepared.

[2018-07-23 12:45] #8936 closed

[2018-07-23 12:54] vcarciu commented on #8932
Now, if the name field is empty, the "Save changes" action will lead to a infinite waiting page.

[2018-07-23 13:15] vcarciu commented on #8932
I probably found the scenario from above exactly during a re-deploy, because now the problem magically disappeared .
Closing and marking issue as verified.

[2018-07-23 13:36] #8906 closed

[2018-07-23 14:03] AlexandraMoga opened #8965 "Link to the statistics page should not be available to non-admin users when an add-on is disabled"
STR:

Noticed while verifying #8936

1. Submit a new add-on with a regular developer account and wait for it to be auto-approved
2. Open a new separate window and log in to Reviewer tools with an Admin Reviewer
3. Look for the add-on submitted at step one and Force disable it
4. Switch back to the developer account and click on View Statistics Dashboard from the Edit Information page

Actual resul

[2018-07-23 14:04] #8932 closed

[2018-07-23 14:13] vcarciu commented on #8654
Verified as fixed :
![smaller4mega](https://user-images.githubusercontent.com/1583842/43082030-b344e55e-8e9b-11e8-9c2e-7e687607e0b4.png)

[2018-07-23 14:15] AlexandraMoga commented on #8906
Verified fixed on AMO -dev with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/43082055-c440730a-8e9b-11e8-9dfe-820fbd84fd5f.png)

[2018-07-23 14:44] diox commented on #8935
Also happens when there is only one version.

It's *not* caused by #5271 because it's currently happening on stage, and we rolled back the django upgrade on stage. It could be caused by https://github.com/mozilla/addons-server/issues/8344

[2018-07-23 16:10] jvillalobos commented on #8958
I think the P3 makes it clear, but I just want to reiterate that we shouldn't rush to this, in case something unexpected happens and we need to roll back Tb add-ons to AMO. A few weeks should be enough to know that the migration stuck.

[2018-07-23 21:16] #8956 closed

[2018-07-23 22:01] kumar303 opened #8969 "Documentation for translated fields is inaccurate"
The documentation about [translated fields](https://addons-server.readthedocs.io/en/latest/topics/api/overview.html#api-overview-translations) doesn't correctly explain the case when `?lang=` is passed for GET requests. In the example of `?lang=en-US` it says the field will be returned from the API like:

[code]

...but in two APIs I just checked (add-on detail and collection detail), the response

[2018-07-23 22:20] diox commented on #8969
You're looking v3 behavior but comparing it to the v4 API documentation... and [we changed that in v4 for consistency](https://github.com/mozilla/addons-server/issues/8794).

The [v3 API docs](http://addons-server.readthedocs.io/en/2018.05.17/topics/api/overview.html#translated-fields) match v3 behavior.

[2018-07-23 22:20] #8969 closed

[2018-07-23 22:32] pwalm commented on #8925
@bobsilverberg No issues here

[2018-07-23 22:59] bqbn opened #8970 "Remove a few redis related settings and some cron"
### Describe the problem and steps to reproduce it:
It was mentioned on #remora at some point that with cache-machine being gone, one of the two redis cluster (known as amo-redis-3 cluster) is no longer used. And as a matter of fact, we don't see any traffic being sent to it for the past few weeks.

Can someone confirm the above is true?

If it is true, can we remove the following settings:

* RED

[2018-07-24 10:14] #8935 closed

[2018-07-24 10:23] #8950 closed

[2018-07-24 10:56] #8900 closed

[2018-07-24 12:13] wagnerand opened #8973 "Ask users to state whether source code is necessary or not during submission"
Reviewers get many submissions with source code missing or incomplete. The reviewer team has worked with @MeridelW to make the source code submission section more prominent. It also asks users to state whether source code is necessary or not.

Details are in this [PRD](https://docs.google.com/document/d/10WsKUfiuQ7-WFwSjyuPIztkoRHwLR7lUrdMoJdvZlsU/edit).

/cc @jvillalobos

[2018-07-24 13:25] wagnerand opened #8975 "Collect stats for disabled add-ons"
#8947 enables admins to see stats for disabled add-ons. However, the information is currently not even collected/generated.

We need to collect stats for disabled add-ons, so we can show them.

@diox suggested to collect stats on all add-ons except add-ons that have `STATUS_DELETED` or `STATUS_NULL` for performance reasons.

[2018-07-24 14:11] vcarciu commented on #7976
#8835 was fixed. Adding the verified-fixed label.

[2018-07-24 14:29] AlexandraMoga opened #8977 "Icon previews are not always rendered after submitting a custom icon upload in DevHub"
STR:

1. Log in to Developer Hub -> Manage my Submissions
2. Choose one of your add-ons to edit its details
3. Upload a custom icon and click Save

Actual result:
The icon previews are not always rendered after submitting a custom icon upload in DevHub

Expected result:
All three previews - 32x32, 64x64 and 128x128 - are displayed after submitting a custom icon upload in DevHub

Notes:
- the missi

[2018-07-24 14:29] vcarciu commented on #8950
Verified as fixed :
![relnotestext](https://user-images.githubusercontent.com/1583842/43145051-261f4ca6-8f67-11e8-9804-610ec5a59eed.png)

[2018-07-24 14:31] AlexandraMoga commented on #8900
Verified on AMO -dev with FF61, Win10x64

Custom add-on icons can now be uploaded from DevHub:

![custom icon](https://user-images.githubusercontent.com/31961530/43144038-db869a2a-8f64-11e8-8642-5ced3ddc051f.gif)

I can see that there is another issue here at icon preview rendering: the 64x64 preview is generated but the 32x32 is displayed only after the page is refreshed. Since this is only a sma

[2018-07-24 15:10] jvillalobos commented on #8973
Can you please include screenshots of how the new step looks, for reference?

[2018-07-24 15:13] jvillalobos commented on #8973
And, maybe it goes without saying, but please make sure the step is only added for extensions.

[2018-07-24 15:29] vcarciu commented on #8935
Verified as fixed :
![savingversions](https://user-images.githubusercontent.com/1583842/43149165-79742a2c-8f6f-11e8-80c5-1b6c3059d24f.gif)

[2018-07-24 15:34] EnTeQuAk commented on #8900
The problem there is that they're generated asynchronously, imho the
same issue exists in prod too. Filing an low priority issue about sounds
good though.

On Tue, Jul 24, 2018, at 4:31 PM, Alexandra Gal-Moga wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/8900#issuecomment-407427687
  2. https://github.com/notifications/unsubscribe-auth/AAIfGcPXyIIxaEBTWf5d2T9hzqQjta9Gks5uJy-

[2018-07-24 17:27] peiying2 opened #8978 "Spelling error: translatation -> translation"
### Describe the problem and steps to reproduce it:
https://github.com/mozilla/addons-server/blob/master/locale/en_US/LC_MESSAGES/django.po#L5612

### What happened?
translatation

### What did you expect to happen?
translation

[2018-07-24 18:03] jvillalobos commented on #8973
The document doesn't say it, but I was under the impression that the new source code upload was going to be a new step in the submission flow, rather than a modification of the upload step. That's why I was suggesting to do it only for extensions, since after validation it would be clear which path to take.

Adding all of that info to a step that is already overloaded with messages doesn't seem li

[2018-07-24 18:55] wagnerand commented on #8973
We did consider that but we had concerns on the scope and size of this change and the impact on its likeliness to get approved, which is why we tried to keep the changes as small as possible, also keeping in mind that there are more fundamental changes down the line.

I actually do think that page looks a lot more readable. The sections are clearly separated from each other and now have clear head

[2018-07-24 20:07] MeridelW commented on #8973
Chiming in:

-I am fine with separating this into its own step but also was operating
under assumption that we did not want to make any big changes. This is a
band-aid solution while we work on larger re-design.

-I also think the new page is more readable. It's much more scanneable and
the steps you need to take are clearer.

On Tue, Jul 24, 2018 at 1:55 PM Andreas Wagner <notifications@github.co

[2018-07-24 20:16] jrbenny35 opened #8980 "Tests that involve FxA are failing on circleci integration-test job."
Some tests using fxa are failing due to improper teardown within a plugin we use. We have found a fix and filled an issue with the plugin [here](https://github.com/mozilla/pytest-fxa/issues/15).

For now I will add a ```wget``` command that will delete all accounts matching ```uitest``` within the restmail DB.

[2018-07-24 20:36] MeridelW commented on #8973
"band-aid" may not be the right term. Instead, I think we can consider it a
solution for now, with plans to overhaul submission process in the future
(at which point we should have a cleaner design that allows for us to
display directions in a more streamlined way).

Having source code as a stand-alone step should be even more effective in
meeting our stated goal of developers focusing on and foll

[2018-07-25 10:37] EnTeQuAk commented on #8899
Sorry but I don't quite follow here, why do they have to support all changes? They can change the version on endpoint-by-endpoint bases, there may be a difference on how nested serializers behave but it's still on an endpoint base.

What problem are we trying to solve here?

[2018-07-25 10:51] EnTeQuAk commented on #8977
This is probably related to the fact that they're scaled down/rendered asynchronously and won't finish in time the browser downloads them after they got submitted.

Not sure there's much we can do about that, maybe add a simple "in progress" image or so and inform the user to reload the page?

We could also add some JS that queries the missing image and injects it once ready, I'm not much of a fan

[2018-07-25 10:54] vcarciu commented on #8920
Verified as fixed :
![license](https://user-images.githubusercontent.com/1583842/43196874-24ce8df2-9012-11e8-8069-c43a817c116b.gif)

Verified also that no problems are encountered when selecting "Other" license during submissions.

[2018-07-25 10:56] EnTeQuAk commented on #8965
Personally, I'd rather just disable the link and grey it out somehow and have an "alt"-tooltip or so to avoid people going crazy of "why are my stats not shown????!?!?!"

[2018-07-25 10:56] EnTeQuAk commented on #8965
This sounds like we should file an issue on addons-frontend related to that too

[2018-07-25 13:25] wagnerand opened #8985 "Add admin view to access add-on files regardless of status"
For security reasons, admins need to have access to any and all add-on files on AMO. Currently, the reviewer tools don't support accessing files for deleted add-ons.

@diox suggested adding an admin view that lets admins access files for deleted add-ons. I'd like to extend this to: access files regardless of their status or the status of the add-on, so admins have a single place where they can acc

[2018-07-25 13:34] diox commented on #8985
Untested, but something like this should work:
[code]

[2018-07-25 14:10] wagnerand commented on #8973
I tried to move this into a separate page but now it requires modifying the existing django `AddonUploadForm` and creating new form that handles the radio buttons, the file submission field and the submit button, which is beyond my skillset.

[2018-07-25 14:18] MeridelW commented on #8973
I think the three of us should huddle up and discuss options here. I'll
send a meeting invite.

On Wed, Jul 25, 2018 at 9:10 AM Andreas Wagner <notifications@github.com>
wrote:

[2018-07-25 14:50] muffinresearch commented on #8985
@wagnerand I've assigned this to the backlog - are you OK with that or is the need for this more urgent?

[2018-07-25 14:50] bobsilverberg commented on #8747
@eviljeff All of the UI to support the `Admin:Curation` and `Collections:Contribute` permissions have either landed, or will land this week and next week. Unfortunately but we still have this issue that users with these permissions cannot add an add-on to a collection, which manifests as a bug in the app. If a user tries to add an add-on we get a "Not found" error back from the API.

Do you think

[2018-07-25 14:55] muffinresearch commented on #8957
/cc @eviljeff

[2018-07-25 14:58] wagnerand commented on #8985
There is an urgent need for some particular files (which I have requested in [bug 1478346](https://bugzilla.mozilla.org/show_bug.cgi?id=1478346)) for [bug 1475330](https://bugzilla.mozilla.org/show_bug.cgi?id=1475330) . Generally, we won't need this on a daily basis, but whenever we do, it will be urgent. The priority of implementing this will depend on how often and how fast ops can provide those

[2018-07-25 15:13] eviljeff commented on #8957
_might_ be Django 1.11 related (i can't remember it happening before)

[2018-07-25 15:32] eviljeff commented on #8747
@diox implemented these new permissions - do you know what's missing here?

[2018-07-25 15:37] vcarciu opened #8986 "The warning for slug already used is not displayed anymore during submissions"
Steps to reproduce:
1.Submit an extension(without id) to amo stage
2.Try to submit again the same extension

Expected results:
A warning saying that the slug is already used should be displayed in Step 2 of submission flow(after validation)

Actual results:
The warning is not displayed and "slugname" is automatically changed to "slugname1"

NOTES:
Possibly related to #7506

Please see a video for

[2018-07-25 15:38] muffinresearch commented on #7298
@is2ei sorry for the slow reply. That should be all you need to reproduce. Just change the locale to see the header in different languages. From the OP the bug was reproducible in the Italian locale.

[2018-07-25 15:38] diox commented on #8747
This is a limitation of how the permissions were implemented. For both `AllowCollectionContributor` and `AllowContentCurators` we disallow the `create` action on the `CollectionViewSet`: The former is irrelevant in that context, they don't need to create a new collection, and the latter is more of a technical issue, we don't have access to the user object in the permission to make sure the collect

[2018-07-25 16:30] eviljeff commented on #8986
I mentioned this in #7506

So it's a known change, to me anyway.  Before the javascript  knowingly changed the slug to something not valid - and you only get the error message after you submit the form.  @jvillalobos can comment if it's desirable though.

[2018-07-25 17:27] wagnerand opened #8987 "EULA and Privacy policy page not available for disabled add-ons"
Admins (and potentially reviewers) need to be able to access the EULA and Privacy policy pages for disabled add-ons, for both Mozilla-disabled und user-disabled.

Currently the page is 404.

[2018-07-25 17:39] wagnerand opened #8988 "Can't access file for user-disabled add-on"
### Describe the problem and steps to reproduce it:

On https://addons-internal.prod.mozaws.net/en-US/reviewers/review/poper-blocker-pop-up-blocker version 4.0.7.3:
https://addons-internal.prod.mozaws.net/firefox/downloads/file/973764/popup_blocker_for_firefox_poper_blocker-4.0.7.3-an+fx.xpi?src=reviewer returns 404
https://addons-internal.prod.mozaws.net/en-US/firefox/files/browse/973764/ shows t

[2018-07-25 17:41] wagnerand commented on #8988
Looks like this is related to the domain used.

https://addons.mozilla.org/firefox/downloads/file/996648/blocksite-4.0.3-an+fx.xpi?src=reviewer works fine.

Paging @bqbn.

[2018-07-25 17:54] devaneymoz commented on #8978
This has been fixed in admin.

[2018-07-25 20:49] davidhedlund opened #8989 "Make it possible to add a Repository link"
I recommend a 4th resource:

# Example
 This is how it would look like on the [Adblock Plus](https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/) page:

Repositories are useful to find out more about add-ons. Adblock Plus doesn't contain a license file in the add-on installation file at this writing (the .xpi file) like the repository.

[2018-07-25 22:12] eviljeff commented on #8957
I think this is normal - the validation only happens once you finish editing the field (the `onchange` event is fired in JS)

[2018-07-25 23:04] eviljeff commented on #8486
We _could_ filter them, but we've previously been very strict about only returning 4 results or nothing (the fallback instead).  Ideally we'd pass on the platform parameter to TADAR/TAARLite  so we'd only get back compatible results (I don't know if that's supported - we only send the add-on guid currently)

[2018-07-25 23:10] eviljeff opened #8990 "remove A/B (non-recommended) support from Addon recommendation API endpoint"
When Add-on recommendations was an experiment we had support for sending `?recommended=true` to get recommendations and `=false` (actually also when `recommended` was missing or any non-`true` value) to return a fixed curated fallback list of add-ons.

Now the experiment is over (great success!) we can remove that support.

We may as well keep the fallback list around for timeouts but I'm not sure

[2018-07-26 00:45] bqbn commented on #8988
It's not [1] that returns 404. It is [2] that returns 404 (you need to look at the awesome bar to see [1] is changed to [2] when you click on [1]). So I'm guessing the reason you're seeing 404 is because this file is in the "guarded-addons" area.

[1] https://addons-internal.prod.mozaws.net/firefox/downloads/file/973764/popup_blocker_for_firefox_poper_blocker-4.0.7.3-an+fx.xpi?src=reviewer
[2] htt

[2018-07-26 06:48] diox commented on #8990
The new study that we intend on running still needs this, AFAIK. cc @muffinresearch

[2018-07-26 07:11] AlexandraMoga commented on #8957
@eviljeff  this issue has been spotted before Django 1.11 (note that it was mentioned in #7506 which is an older issue)

[2018-07-26 07:12] diox commented on #8978
Will be fixed during the next locales extraction.

[2018-07-26 07:12] #8978 closed

[2018-07-26 07:40] eviljeff commented on #8957
Yeah, it's normal behaviour. The field is only validated after you finish editing, and that only happens after the focus moves out of the field.

[2018-07-26 08:29] muffinresearch commented on #8990
@diox This issue is referring to TADAR (Telemetry Aware Details Addon Recommendations) which is separate to the disco recommendations which I like to call TAAR(DIS) Telemetry Aware Addons Recommendations (Disco).

[2018-07-26 08:35] willdurand opened #8993 "Expose a new attribute `is_developer_reply` in Rating API results"
See: https://github.com/mozilla/addons-frontend/issues/5684

---

When fetching the ratings of a given user, we receive both the ratings and replies to the reviews left by this user/developer. We have no way to determine if a given review is a review or a reply, because we don't receive the full `addon` object along with the review.

We talked about this on IRC with @eviljeff and @diox: it should

[2018-07-26 08:52] diox commented on #8990
Ah dammit I keep confusing the two because they are also recommendations :)

[2018-07-26 09:38] wagnerand commented on #8988
I think you're almost right. I am not sure why I didn't see the redirect when I tried initially. Now, I get the redirect too, but the reason we end up with 404 is because AMO redirects to `guarded-addons` but in fact the file is not there but in `files/...`.

[2018-07-26 09:43] wagnerand commented on #8985
@muffinresearch Digging out the files manually from the production filesystem turned out to be significant effort for anyone who does it, and very few people actually have access to do this. Therefore, I am raising the priority to P2.

/cc @bqbn who did it for me this time in the aforementioned bug.

[2018-07-26 09:43] berzniz opened #8995 "New xpi download links return 404"
### Describe the problem and steps to reproduce it:
I've signed a file on AMO using API for self deployment, but the download link leads to a 404 page (served by Nginx on IP 54.71.77.164) instead of being downloadable.
Old versions are downloadable.

Console output:
[code]

### What happened?
I signed an extension using the API, it was a success but the link provided by the response leads to a 404

[2018-07-26 09:52] EnTeQuAk commented on #8987
Both fields, `eula` and `privacy_policy` are available in the Add-ons Django Admin, anything else you need in that regard?

[2018-07-26 10:01] EnTeQuAk commented on #8923
As much as I personally would love us to use PostgreSQL I don't see this happening anytime soon but rather after we switch to Python 3 and Django 2.x in… "next year?"

I think you're referring to…

Ideally we won't do anything like that for switching to django migrations since that'd be crazy hard to do and require a downtime too. But, I personally don't see a reason not to experiment with switchi

[2018-07-26 10:10] EnTeQuAk commented on #8923
There is some work on going to at least generate the relevant SQL related to this in https://github.com/adamchainz/django-mysql/pull/356/files - it's not complete yet though (e.g rebuilding composite foreign keys doesn't seem to be supported yet, I haven't checked how many we actually have though, if any)

[2018-07-26 10:17] diox commented on #8988
It's a variation of https://github.com/mozilla/addons/issues/324. This is a lot trickier to fix than you'd think initially, because we need to move all files everytime the `status` / `disabled_by_user` field changes... and that needs to happen instantaneously... We don't do it correctly for every scenario, but in theory the crons to move the disabled files should fix that after a couple hours max.

[2018-07-26 10:20] diox commented on #8995
Hi,

Sorry about this. I suspect this is a duplicate of https://github.com/mozilla/addons/issues/324

[2018-07-26 10:32] berzniz commented on #8995
Thanks! I can confirm that switching the AMO to `visible` made the file downloadable again

[2018-07-26 10:41] diox commented on #8957
Using the [`input`](https://developer.mozilla.org/en-US/docs/Web/Events/input) event instead would probably fix this. I'll look into it. In any case, I don't think it's a p2.

[2018-07-26 10:47] wagnerand commented on #8987
Nobody in the review or admin team has access to that except me.

[2018-07-26 10:59] EnTeQuAk commented on #8923
First run of what would be required to migrate our current database: https://gist.github.com/EnTeQuAk/9e5d151ebb7b1e24ecb18459a9871895 - untested for now though and there's a few indexes on `VARCHAR` columns that need fixing.

[2018-07-26 11:01] diox commented on #8987
The addons admin should only require `Admin:{anything}` and `Addons:Edit`. Nobody else has this?

[2018-07-26 11:03] diox commented on #8987
I'm ok with displaying those in reviewer tools if the admin isn't sufficient, but the frontend pages should remain inaccessible regardless of the user. We're moving away from special behavior/permissions on the frontend for admins/reviewers, except for things that have no direct impact like adding buttons linking to admin/reviewer tools.

[2018-07-26 11:05] muffinresearch commented on #8923
This lib [1] would provide a way to covert to and from :colon: format if we want to seriously consider a transform in and out of MySQL.

[1] https://github.com/carpedm20/emoji

[2018-07-26 11:12] diox commented on #8923
Note that the main problem is not writing the migration itself, but figuring out a way to apply it so that:
- Works with no downtime
- Works with our primary/replicas setup (what happens if one replica has one charset and not the others ?)
- Works with data being added during the migration (what charset does it have? will the data work correctly on hosts that have had the migration applied *and* h

[2018-07-26 11:58] wagnerand commented on #8987
Whhen you say add-ons django admin, what page exactly do you mean?
I can't see those fields on `/admin/models/addons/addon/ID/` or `/admin/addon/manage/`.

Developers would still need access to their EULA and Privacy Policy for user-disabled add-ons.

[2018-07-26 13:16] #8957 closed

[2018-07-26 13:20] diox commented on #8987
I can't see those fields on /admin/models/addons/addon/ID/ or /admin/addon/manage/.

The former. It should be in there... I see them on my local instance. Looks like there is a bug causing them not to be rendered with a textarea but with a single-line input, though.

They can through devhub, no?

[2018-07-26 14:16] EnTeQuAk commented on #8923
Yeah, I just put together the SQL to get an idea of what actually needs to happen which may help to figure out a migration strategy.

Yeah, I let @bqbn and @autrilla chime in here since they're probably more experienced in that regard. The easiest (well, not easy, but most straightforward) solution would require an actual downtime but tbh, it's hard to find anything that doesn't require a downtime

[2018-07-26 14:23] EnTeQuAk commented on #8404
Duplicate of #8977

[2018-07-26 14:23] #8404 closed

[2018-07-26 14:38] EnTeQuAk commented on #8989
Duplicate of https://github.com/mozilla/addons/issues/689

[2018-07-26 14:38] #8989 closed

[2018-07-26 14:46] vcarciu commented on #5271
After another round of testing on Stage, no new issues were found. Marking bug as verified.

[2018-07-26 14:50] EnTeQuAk commented on #8899
I discussed this yesterday with @eviljeff to get some more ideas on what we're talking about here. tldr; the problem we're running into is that the client can't necessarily upgrade on an endpoint-to-enpoint base because of how we're nesting serializers. If the client requests a `v4` version of an endpoint then, for example the `files` serializer will use api-gates for `v4` too.

So, I have a few i

[2018-07-26 14:58] diox commented on #8899
I kinda like the idea, though I'm a bit concerned that it could start being very verbose after a few months of extra changes... Also, eventually we'll need to drop the gates and deprecated version {stable} - 1.

Also this would break caching based on the URL so we'll need to include the header in the cache key where we have caching, and `Vary` on it.

[2018-07-26 15:01] #8887 closed

[2018-07-26 16:45] caitmuenster commented on #8926
FYI, Pam and candelora are curating a [collection of themes](https://addons.mozilla.org/firefox/collections/VanillaOrchids/fl-issues/. ) they are not able to add to the collection.

[2018-07-26 17:03] davidhedlund commented on #8989
@EnTeQuAk Thanks.

[2018-07-26 17:53] jvillalobos commented on #8986
We should show some warning message if the name or slug are duplicated for the same dev, since it's very likely a mistake.

[2018-07-26 19:54] jvillalobos opened #9001 "Support transferring collections to Mozilla account with Admin:Curation permission"
In the old collections system, privileged users could create a collection and then transfer it to the [official Mozilla account](https://addons.mozilla.org/user/mozilla/). Since we removed collaborators, we now need a way to replicate this behavior.

We need an admin tool, available to users with `Admin:Curation`, that allows them to transfer any collection to the official Mozilla account. If it's

[2018-07-26 21:13] bqbn commented on #8988
FWIW, the said file is in the `guarded-addons/` directory.

[code]

[2018-07-27 09:37] wagnerand commented on #8988
It was not when I checked...

[2018-07-27 09:46] wagnerand opened #9005 "Source code files not available to reviewers, throw 403"
### Describe the problem and steps to reproduce it:

Links to source code files throw a 403 for admins:

Some examples:
https://reviewers.addons.mozilla.org/en-US/reviewers/review/lastpass-password-manager (v4.6.0.13): https://reviewers.addons.mozilla.org/firefox/downloads/source/2483113

https://reviewers.addons.mozilla.org/en-US/reviewers/review/sourcegraph (v1.7.39): https://reviewers.addons.mo

[2018-07-27 09:53] diox commented on #8988
That's probably because the cron fixed the problem once it fired. Can you access the file now ?

[2018-07-27 09:58] wagnerand commented on #8988
No, not using https://addons-internal.prod.mozaws.net/firefox/downloads/file/973764/popup_blocker_for_firefox_poper_blocker-4.0.7.3-an+fx.xpi?src=reviewer .

[2018-07-27 10:06] diox commented on #8988
So now we're back to something related to the domain, since it works on addons.mozilla.org, right ? @bqbn could it be that on this domain the `X-Accel-Redirect` doesn't work properly?

[2018-07-27 10:10] wagnerand commented on #8987
Ah, I see. That page is still hard to find (it's not linked anywhere), and you need VPN for it, which not all admin reviewers have.

The review page links to the (public) EULA ad PP page, for example:
https://reviewers.addons.mozilla.org/en-US/firefox/addon/<slug>/privacy/

I am not sure how easy it is to make that page show the actual content if you're logged in as a reviewer. Alternatively, we c

[2018-07-27 10:37] eviljeff commented on #9001
#8743 will address this.

[2018-07-27 10:54] eviljeff commented on #8986
To note, the slug can't be duplicated on initial upload, because the user can't specify the slug until the detail step which is after the slug has been generated and it's already been generated as a valid one.  (The name can be duplicated, but AFAIK preventing duplicate names has never been a thing on AMO.)

The flow is this:
An addon is created from the upload and the slug is set from the name; i

[2018-07-27 10:59] eviljeff commented on #8986
@jvillalobos can you clarify what change you want here - is it some highlight about the generated slug being not the same as just the name? (UX plz)
Reverting/amending the javascript change in #7506 so the slug is generated as the name again (which would then return a validation error on submit)?