[2021-06-11 13:46] diox commented on #17248
The wait time is the tricky part - we don't have the `nomination` date for unlisted. It could be emulated approximately with the `created` date maybe ?

[2021-06-11 15:48] #16906 closed

[2021-06-14 09:08] eviljeff commented on #16822
The issue (the icon part anyway) is blocked on #8456? Or just that #8456 will implement hash-based cache busting (which is better, but we can still use our home-grown `static` in the meantime)?

[2021-06-14 11:28] diox opened #17340 "Ensure Cache-Control headers are correct for addons-server"
addons-server variant of https://github.com/mozilla/addons-frontend/issues/10678

To prepare for having the main domain behind a CDN, we need to make sure to return the proper `Cache-Control: s-maxage`. Technically, addons-server should already do the right thing (contrary to the frontend it never had `Cache-Control: no-store` on all pages), but double-check anyway.

It might be a good thing to ju

[2021-06-14 13:36] willdurand opened #17341 "Include blog's sitemap in main sitemap"
In https://github.com/mozilla/addons-blog/issues/204, we added a sitemap for the blog, available at `a.m.o/blog/sitemap.xml`. We should include it in the main AMO sitemap.

[2021-06-14 15:40] #13973 closed

[2021-06-14 19:08] willdurand opened #17344 "Manifest normalization breaks signature of privileged add-ons"
Versions of privileged add-ons (and other add-ons that are already signed when submitted to AMO) might be broken because of the manifest normalization we introduced in #17302. We should skip normalization for these add-ons.

[2021-06-15 07:22] rock420 commented on #17179
Hi @diox, I would like to fix this bug.
I need to do the change in this [class](https://github.com/mozilla/addons-server/blob/master/src/olympia/activity/admin.py#L6) right? please correct me if I am wrong

[2021-06-15 08:40] #17311 closed

[2021-06-15 08:42] #17223 closed

[2021-06-15 08:47] eviljeff opened #17349 "Remove StopWatch logging from sitemap generation"
it's super noisy and (hopefully) now unnecessary

[2021-06-15 08:50] eviljeff commented on #17311
QA: We didn't need to reduce the number of languages in the end, so the changes this issue represents should be transparent, apart from increasing the number of items per xml file to 2000.  (https://github.com/mozilla/addons-server/issues/17289 was separately verified)

[2021-06-15 09:48] wagnerand commented on #17248
Yes, that works for me.

[2021-06-15 10:34] diox commented on #17179
Yes.

[2021-06-15 12:00] AlexandraMoga commented on #13973
The Listing visibility is now visible to developers who deleted all their listed versions while the add-on was set to Invisible:

![image](https://user-images.githubusercontent.com/31961530/122047404-c8ce4480-cde8-11eb-9bfd-91df17d5aa40.png)

As it was pointed in the comments above, the section will disappear when the visibility status is changed, but this is pretty minor. The section comes back o

[2021-06-15 13:40] eviljeff opened #17353 "render template xml with jinja2"
We currently force the sitemap.xml to be rendered with django template engine as the file is the exact version in django3.2 and there are minor syntax differences between jinja2 and django flavor templates.  Jinja2 is faster though, and the template rendering time is the last big chunk of time in sitemap generation we would like to optimize (down from ~0.35s per 2000 item addon sitemap file)

[2021-06-15 13:48] iamvaishnav commented on #17349
Can I work on this?

[2021-06-15 13:57] AlexandraMoga commented on #17311
I browsed throughout the various sitemap sections and I didn't find other changes, apart from the new 2000 item limit.

[2021-06-15 14:11] AlexandraMoga commented on #17273
I did some exploratory on the sitemap and I did not find issues.

I suppose this is all I could verify for this issue. If not, do let me know.

[2021-06-15 14:42] AlexandraMoga commented on #16906
Same as for #17273, I did not find issues with the sitemap on -dev.

[2021-06-15 14:58] #17344 closed

[2021-06-15 15:11] eviljeff commented on #16906
(sorry, forgot to write QA notes).

verification for this would be to check the sitemap available at https://addons-dev.allizom.org/sitemap.xml (and the linked urls within it) are updated every 24 hours.   Easiest way would be to make a change to an addon or upload a new one and check the changes are reflected in the sitemap xml files.

[2021-06-15 15:25] #17353 closed

[2021-06-15 17:04] eviljeff commented on #17349
thanks for the other but it's time sensitive so I'm going to work on it.

There are good-first-bugs here:
https://addons-pm.herokuapp.com/contrib/good-first-bugs/
and contrib:welcome issues which are a bit more complicated:
https://addons-pm.herokuapp.com/contrib/contrib-welcome/?dir=desc&sort=updatedAt

[2021-06-16 09:41] AlexandraMoga commented on #16906
@eviljeff so https://addons-dev.allizom.org/sitemap.xml?debug (I've seen you omitted `debug` in the link you referred - not sure if it was intentional)  seems to be loading faster now and all the sitemap sections URLs are there.
I've also checked the update interval by updating an add-on and a user profile and the changes have been reflected in the xml files.

[2021-06-16 09:51] eviljeff commented on #16906
It was intentional.  `?debug` was just for debugging the content is correct during development and bypasses entirely what the cron job generates.

[2021-06-16 09:56] AlexandraMoga commented on #16906
All right then. In that case, I suppose I have to wait until tomorrow to check if the updates will be present in the xml files, because now they're only reflected in the `&debug` version.

[2021-06-16 11:41] #17349 closed

[2021-06-16 12:35] bobsilverberg opened #17362 "Do not add pages to the sitemap with pagination past the 25,000th item"
I found this when investigating the the coverage report at https://search.google.com/search-console/index/drilldown?resource_id=https%3A%2F%2Faddons.mozilla.org%2F&item_key=CAMYHyAE&hl=en. In the section about "Submitted URL not found (404)", there are a number of example pages that are category pages for themes with high page numbers.

Here are some examples:
https://addons.mozilla.org/fr/firefox

[2021-06-16 12:42] diox commented on #17362
It is expected. We have configured Elasticsearch in a way that doesn't allow pagination to go past 25000 items (1000 pages of 25). The search API returns a 404 on purpose here.

We shouldn't render pagination links after that, and shouldn't include pages above 1000 in the sitemap.

[2021-06-16 12:44] bobsilverberg opened #17363 "Some add-on pages in the sitemap return 404s"
Looking at the coverage report at search.google.com/search-console/index/drilldown?resource_id=https%3A%2F%2Faddons.mozilla.org%2F&item_key=CAMYHyAE&hl=en. In the section about "Submitted URL not found (404)", there are a number of add-on pages that currently return a 404:

https://addons.mozilla.org/pl/firefox/addon/clipshare/versions/
https://addons.mozilla.org/es/firefox/addon/yudu-app/
https:/

[2021-06-16 12:44] bobsilverberg commented on #17362
Thanks @diox. Maybe we can repurpose this issue to fix the sitemap and I will open a separate issue for addons-frontend.

[2021-06-16 12:48] diox opened #17364 "Add `X-Country-Code` to cors allowed headers"
We currently send the `X-Country-Code` header from the frontend to every API requests, whether they happen on the client or on the server (Technically, when they happen on the client, through an XHR, it's useless because it should be ignored and overwritten by nginx).

For testing the new CDN distribution, we are using a different domain, to CORS kicks in for XHR requests, and because those are se

[2021-06-16 13:55] #17364 closed

[2021-06-16 15:55] eviljeff opened #17366 "drop apipkg?"
it was used by execnet but dropped in 1.9.0 https://github.com/mozilla/addons-server/pull/17337 so we maybe can too?  (something else might have added it as a dependency in the meantime)

[2021-06-16 21:56] #6378 closed

[2021-06-16 21:56] #15491 closed

[2021-06-16 21:56] #14054 closed

[2021-06-16 21:56] #13870 closed

[2021-06-16 21:56] #9040 closed

[2021-06-16 21:56] #10146 closed

[2021-06-16 21:56] #5913 closed

[2021-06-16 21:56] #13193 closed

[2021-06-16 21:56] #15958 closed

[2021-06-16 21:56] #15904 closed

[2021-06-16 21:56] #16006 closed

[2021-06-17 06:57] AlexandraMoga opened #17369 "JSON syntax errors in the manifest will trigger an "unexpected error" during validation"
### Describe the problem and steps to reproduce it:
1. Edit an add-on manifest to purposely introduce a syntax error (like an extra `,` , `}` or a missing `"` etc)
2. Submit the add-on on AMO

### What happened?
The following validation error is triggered: Error: Validation was unable to complete successfully due to an unexpected error.

### What did you expect to happen?
Validation results point

[2021-06-17 07:13] AlexandraMoga opened #17370 "'Unexpected error' during validation if manifest is not at the root of the extension"
### Describe the problem and steps to reproduce it:
1. Prepare an extension archive where the the `manifest.json` file is not at the root - for example by creating an archive from the extension directory rather than archiving the files directly
2. Submit the add-on on -dev or stage

### What happened?
The following validation error is triggered: "Error: Validation was unable to complete successful

[2021-06-17 07:55] AlexandraMoga opened #17371 ""Duplicate keys in JSON file" error not caught during validation"
### Describe the problem and steps to reproduce it:
1. Prepare an add-on for upload by inserting duplicate keys in the manifest - i.e. double entry for `"name"`, `"manifest-version"` etc
2. Submit the add-on on AMO

### What happened?
Add-on successfully passes validation

### What did you expect to happen?
The following error is raised: "Duplicate keys are not allowed in JSON files."

### Anythin

[2021-06-17 08:02] willdurand commented on #17371
I don't think this is a regression. The normalization merges the duplicate keys before linting the file and that's expected as the normalization is designed to produce valid JSON manifest files.

[2021-06-17 08:02] #17371 closed

[2021-06-17 09:08] willdurand commented on #17331
cc @bqbn

[2021-06-17 09:09] willdurand commented on #17370
mm so that rules out the manifest normalization I guess?

[2021-06-17 09:11] willdurand commented on #17370
Oh wait, no. It's because we're using `parse_xpi()` but it should only be used if there is a manifest file at the root of the xpi.

[2021-06-17 09:35] #17362 closed

[2021-06-17 09:49] ioanarusiczki commented on #17344
@willdurand

For a mozilla signed addon : comments are still displayed

https://code.addons-dev.allizom.org/en-US/browse/620610/versions/1692788/

Manifest on a single row:

https://code.addons-dev.allizom.org/en-US/browse/620611/versions/1692792/

Verified on AMO dev - FF89(Win10).

[2021-06-17 09:53] willdurand commented on #17369
I think we'd need to add support for the `InvalidManifest` in the `@validation_task` decorator but this might because by other errors than just a malformed JSON. An alternative could be to... not normalize invalid manifest files?

@diox WDYT?

[2021-06-17 10:14] diox commented on #17369
I lean towards not normalizing invalid manifest files, because that was kind of the idea behind how `validate_file_path()` deals with invalid manifests already: the logic being that if it can't parse the manifest, it lets the linter deal with it, and the linter will return an error. The idea was to not duplicate the logic the linter already has there. It's not amazing, but it should be ok.

[2021-06-17 10:14] ioanarusiczki commented on #17223
@eviljeff
Looks good on AMO stage - FF89(win10)

![looks good](https://user-images.githubusercontent.com/33448286/122377617-e7117d00-cf6d-11eb-8b34-f7de7d6e4a99.png)

[2021-06-17 10:29] AlexandraMoga commented on #16906
The sitemap has been updated with the new data.

[2021-06-17 11:03] AlexandraMoga commented on #17353
I've checked the sitemap.xml sections on -dev and stage and they are still rendered as before but with faster load times.

If there is something more specific to be verified, do let me know.

[2021-06-17 11:31] eviljeff commented on #16930
#17376 will fix this in the models/db on addons-server - if we still want wrapping a follow-up needs filing on addons-frontend.

@devaneymoz can you check that none of the existing shelves have a title that's longer than that in English?  (they will be auto-trimmed on June 24th)

Note: we can only limit the length in English - translators will still be able to create localisations which are longer

[2021-06-17 11:31] #16930 closed

[2021-06-18 09:30] AlexandraMoga commented on #17362
I've verified the pagination for theme and extension category pages present in the sitemap and it is still correct. I can't verify the 1000 page limit on -dev since we do not have content that reaches 1000 pages. We do have more content on stage though, so I'll be be able to properly verify this issue once the code lands there as well.

[2021-06-22 07:59] #17341 closed

[2021-06-22 09:47] #17248 closed

[2021-06-22 11:18] #17369 closed

[2021-06-22 11:18] #17370 closed

[2021-06-22 12:17] diox commented on #15431
The main things the query is currently doing that can be annoying with the ORM:

- **Filter add-ons with versions awaiting review, and return the latest version awaiting review.**
Technically, the current query cheats and the "latest" bit for the first point is not guaranteed - it just picks up the `version` column from the `JOIN`, and it works because there is a `GROUP BY` on `addon.id` and we on

[2021-06-22 13:09] AlexandraMoga commented on #17370
This issue is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/122929901-211abe80-d374-11eb-98e5-d88941ffdd4a.png)

[2021-06-22 13:27] AlexandraMoga commented on #17369
This issue is verified fixed on -dev.

Syntax error identification:
![image](https://user-images.githubusercontent.com/31961530/122932703-a0a98d00-d376-11eb-8501-547a1604795b.png)
![image](https://user-images.githubusercontent.com/31961530/122932731-a7d09b00-d376-11eb-9779-03109535e388.png)

[2021-06-22 14:16] AlexandraMoga commented on #17341
The main sitemap.xml (I was looking at the debug version because it has the latest updates - https://addons-dev.allizom.org/sitemap.xml?debug) includes an entry for the blog sitemap at https://addons-dev.allizom.org/blog/sitemap.xml

@willdurand I've noticed that even if I'm opening the AMO -dev blog sitemap, the URLs within are pointing to prod. Also, the template used seems to be a bit different

[2021-06-22 15:04] willdurand commented on #17341
Yeah, that's expected.

[2021-06-22 15:22] diox opened #17389 "Upgrade Elasticsearch to 7.1.x"
- https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html
- https://www.elastic.co/guide/en/elasticsearch/reference/current/rolling-upgrades.html

Some changes on our side are required, need to figure out how much and if we can make them in a backwards-compatible way.

[2021-06-22 15:28] bobsilverberg opened #17390 "Remove is_restart_required from API responses"
Depends on https://github.com/mozilla/addons-frontend/issues/10716

After https://github.com/mozilla/addons-frontend/issues/10716 is fixed, addons-frontend will no longer be using ~either~ `is_restart_required` ~or `is_webextension`~ from API responses. Therefore, we can remove them from `v5` of the API.

--edited to limit scope of the issue to `is_restart_required`.  `is_webextension` to be dealt

[2021-06-22 15:29] willdurand commented on #17390
It'd be nice to have to separate patches for the two properties. It'll be easier to review.

[2021-06-23 08:40] AlexandraMoga commented on #17362
Category page limits are set to 1000 on stage.

This issue is verified fixed on stage.

[2021-06-23 10:47] diox commented on #17389
So for starters, [the `standard` filter has been removed](https://www.elastic.co/guide/en/elasticsearch/reference/current/breaking-changes-7.0.html#standard-filter-removed). This is trivial to fix, it should be a no-op.

Indexing after that is fixed still fails with a `Root mapping definition has unsupported parameters` exception that doesn't specify which fields are problematic...

[2021-06-23 12:12] AlexandraMoga commented on #17248
I've verified the new "Unlisted Add-ons Pending Manual Approval" queue on stage and these are my results:

- add-on versions with an Approval delay flag (triggered by a scanner action for example) will end up in the Unlisted pending queue
- add-on versions with "Unlisted Auto-Approval" or "Unlisted Auto-Approval Until Next Manual Approval" disabled will end up in the Unlisted pending queue
- Appro

[2021-06-23 13:21] ioanarusiczki commented on #16930
@eviljeff
- the [admin shelf module](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/shelfmodule/62/change/) allows a maximum of 70 chars into the "title" and "footer text" fields.
- at a max. of 70 chars (for both fields) at 1228 px they start overlapping ( less realistic, but I'm adding it as a note):

![overlap](https://user-images.githubusercontent.com/33448286/123102557-dc

[2021-06-23 14:30] #17179 closed

[2021-06-23 14:40] AlexandraMoga opened #17394 "Reviewers Dashboard for users with ReviewerTools:ViewUnlisted includes redundant sections"
### Describe the problem and steps to reproduce it:
1. Create a user with `ReviewerTools:ViewUnlisted` permissions
2. Open the Reviewers dashboard - https://reviewers.addons.allizom.org/en-US/reviewers/

### What happened?
The dashboard contains links to all the review queues and sections, instead of showing access only for the Unlisted Add-ons section. Trying to access a page that falls outside t

[2021-06-24 09:03] diox commented on #17394
Yeah, this is not a huge deal since nobody should have just that permission.

[2021-06-24 12:11] diox commented on #17389
Started to work on this to evaluate how much effort it'd take. https://github.com/diox/olympia/tree/elasticsearch-7.x should address most of it, still need to check backwards-compatibility and determine an upgrade strategy for dev/stage/prod (probably based on the rolling upgrade link above)

[2021-06-24 12:12] diox commented on #16492
Note: it's probably a good idea to ensure the tests are finally stable and reliable before doing https://github.com/mozilla/addons-server/issues/17389

[2021-06-26 01:27] #16146 closed

[2021-06-29 00:40] #16174 closed

[2021-06-30 03:05] bqbn commented on #16182
Last Thursday when we did the push, there was a small uptick in `ConnectTimeout` errors from addons-server to the taar service.

Maybe it's worth keeping this open.

[2021-07-05 09:40] eviljeff commented on #17390
I guess they can go from the model too (`is_restart_required`, at least)

[2021-07-05 10:42] eviljeff opened #17433 "drop /android/ collections from sitemap"
We don't expose them on the /android/ website, and block them in robots.txt anyway

[2021-07-05 12:29] #17433 closed

[2021-07-05 12:37] diox commented on #17340
From testing the dev CDN so far everything seems to be working as expected without requiring any changes. We don't set `Cache-Control` outside of the API, but that's fine and the CDN just never caches the devhub pages for instance.

[2021-07-05 12:48] diox commented on #7648
Re-opening because of https://github.com/mozilla/addons-frontend/issues/10179, and also because the inconsistency with the rest of our API is annoying (especially as we don't even document this weird behavior)

[2021-07-05 13:36] eviljeff commented on #17363
I don't have site permissions to investigate these addons statuses via devhub/reviewer tools so I'm just guessing based on what I can glean from redash.

This looks like an add-on that has a public status but the file isn't approved.  Would need further investigation as to why it happened, but it's not a valid state.

The slugs don't exist any longer in the database (renamed or addon deleted) so c

[2021-07-05 14:20] eviljeff commented on #17251
tempted to wontfix this, because I'm not sure we need the extra content in the xml.

On the implementation, if we want the `x-default` to always be `en-US` then it's a trivial fix but otherwise I can't see a way of implementing it other than copying the whole `_urls` method and changing just that part to retrieve it per add-on.

[2021-07-05 14:30] willdurand commented on #17251
I don't think we are ready for a `x-default` value other than `en-US`, see: https://github.com/mozilla/addons-frontend/blob/a693ec38fa245bacaed1250c863d124a58ad8c53/config/default.js#L251

[2021-07-05 15:50] eviljeff commented on #17251
oh, even less reason to generate the links then, I guess.

[2021-07-05 16:05] diox commented on #7648
The query to find the collections that would need to be migrated to the new logic would look like this:
[code]

Although I'm still getting results that don't seem to need any further tweaking (because they are so old they predate the change that caused us to store HTML) so it needs to be refined a bit. There are less than 3000 of them in any case.

[2021-07-06 10:20] eviljeff commented on #17251
closing this for now.

[2021-07-06 10:21] #17251 closed

[2021-07-06 14:26] #7648 closed

[2021-07-06 22:38] caitmuenster opened #17439 "Update the "unexpected error" message for validation"
Some developers see this error message when their add-on doesn't get validated:

<img width="983" alt="Screen Shot 2021-06-29 at 4 29 03 PM" src="https://user-images.githubusercontent.com/23342476/124674651-023a2300-de70-11eb-8e47-27c4629094ab.png">

We should find or make another page where developers can learn more about what may have caused an error during the validation process.

[2021-07-07 11:17] #16492 closed

[2021-07-07 14:47] diox opened #17447 "Stop filtering elasticsearch queries with doc type"
We currently pass `doc_type=AddonIndexer.get_doctype_name()` to our Elasticsearch queries, and also pass it in the mapping at index creation time. We only have a single type in our indices right now : addons.

But document types are a deprecated feature, and [Elasticsearch 7.x will remove types completely](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html), so t

[2021-07-07 15:42] #17447 closed

[2021-07-07 15:43] diox commented on #17447
QA: this should be a transparent change, just check that search still works as before.

[2021-07-07 16:31] eviljeff opened #17449 "enable django3.2 on addons-dev"
CI tests pass and locally during development we've found no problems.

[2021-07-07 16:51] eviljeff opened #17450 "add waffle switch to enable mv3 validation in linter"
Experimental support for mv3 was added in mozilla/addons-linter#3721 but we need to pass `max-manifest-version=3` to enable it.

Behind a waffle switch because it's still experimental and until Firefox support is more advanced we don't want mv3 extensions uploaded to AMO right now even if they _do_ have a valid manifest.

[2021-07-07 16:58] willdurand commented on #17450
cc @rpl

[2021-07-07 17:01] caitmuenster opened #17451 "Remove queue position from Dev Hub"
The Dev Hub displays an extension's position in the review queue. Since we don't always review the queue by positional order, we should remove this display from the Dev Hub so we don't set false expectations around estimated wait time.

[2021-07-07 17:36] diox commented on #17451
Could be a good first bug. The idea would be to remove the whole `{% with position ... ` block from `src/olympia/devhub/templates/devhub/includes/addon_details.html` as well as the `get_position()` import and use from `src/olympia/devhub/views.py`.

[2021-07-08 09:31] #17449 closed

[2021-07-08 10:10] eviljeff commented on #17449
QA: we upgraded the version of django that addons-server uses (jumped from the previous LTS release).  Any part of addons-server (devhub, reviewer tools, admin tools, API) could potentially be affected, but tests pass and we've no noticed anything locally.  No specific STR - just a through check.

We are aiming to also deploy to stage & prod for the 2021-07-15 tag&deploy but the config will be cha

[2021-07-08 10:26] ioanarusiczki opened #17453 "Unable to view and use the admin modules"
STR:
On -dev (regression of https://github.com/mozilla/addons-server/issues/17449)

I've been working with the shelf module on -dev (while investigating https://github.com/mozilla/addons-frontend/issues/10721)  but now if I click the Homepage shelves or Shelf modules I see the URLs redirect correctly but instead of seeing their content the homepage is again displayed mixed with shelf content, a sa

[2021-07-08 10:27] ioanarusiczki commented on #17449
@eviljeff I filed an issue - about the django admin, because I am unable to access it's content right now https://github.com/mozilla/addons-server/issues/17453

[2021-07-08 10:58] willdurand commented on #17453
@ioanarusiczki what's your OS and FF version?

There is now a left-side panel with the other admin modules, and it should look like this:

<img width="1552" alt="Screen Shot 2021-07-08 at 12 58 27" src="https://user-images.githubusercontent.com/217628/124910738-320e3580-dfec-11eb-9b6e-a7cafab4f6dc.png">

[2021-07-08 11:34] eviljeff commented on #17453
also, try a hard refresh - there might be conflicts with cached scripts (it's all django admin code, so they don't have cache busting, iirc)

[2021-07-08 12:29] ioanarusiczki commented on #7648
@diox
Using Create collection endpoint I created a couple of collections using the following strings for `description`:
- "description": { "en-US": ""this & that"" } where "&" is displayed fine, this is the [collection](https://addons-dev.allizom.org/en-US/firefox/collections/10641574/test8/)
- "description": { "en-US": "<script>alert('problem')</script>" } -> looks the same on AMO -> [Collection]

[2021-07-08 12:54] diox commented on #7648
Should be good! I've marked the companion frontend issue as not needing QA so that you don't need to repeat the testing.

[2021-07-09 08:58] diox opened #17458 "Remove obsolete pioneer landing page"
https://addons.mozilla.org/en-US/firefox/pioneer leads to an add-on that no longer exists (last version published in 2017).

[2021-07-09 09:06] diox opened #17459 "DeprecationWarning: 'contextfunction' is renamed to 'pass_context', the old name will be removed in Jinja 3.1"
This deprecation warning comes up in a few of our jinja helpers:
```DeprecationWarning: 'contextfunction' is renamed to 'pass_context', the old name will be removed in Jinja 3.1```

A straight search & replace of `@jinja2.contextfunction` by `@jinja2.pass_context` should fix it.

[2021-07-09 11:02] ioanarusiczki commented on #17453
@eviljeff Thanks, it worked, I can see the new UI on -dev without problems now.

[2021-07-09 11:02] #17453 closed

[2021-07-09 12:17] AlexandraMoga commented on #17433
Collections for `app_name=android` are no longer listed in the sitemap on -dev:  https://addons-dev.allizom.org/sitemap.xml

@eviljeff I can still access the list of collections for android if I go by a direct URL - https://addons-dev.allizom.org/sitemap.xml?section=collections&app_name=android. Is this expected?

[2021-07-09 12:27] #17458 closed

[2021-07-09 12:28] AlexandraMoga commented on #17447
I didn't find issues with the search functionality on -dev.

[2021-07-09 12:31] eviljeff commented on #17433
yeah, we don't delete old generated sitemap files so loading them still works.  We perhaps should but once they're not referenced by the primary sitemap.xml file they won't be attempted by search engine crawlers anyway.

[2021-07-09 18:31] eviljeff commented on #17439
@caitmuenster is there an existing page we can link to?  Otherwise this is blocked on that content being written (on extensionworkshop.com?)

[2021-07-09 18:33] eviljeff commented on #17394
wontfix'ing this as just having that permission without the other review permissions isn't a use case we've ever come across.

[2021-07-09 18:33] #17394 closed

[2021-07-09 18:36] eviljeff commented on #17137
I've not seen this or #17138 since this was logged (or previously).  If it's not happening any more we can probably close these?  (which is usually the trigger for it to happen again!)

[2021-07-09 18:55] caitmuenster commented on #17439
@eviljeff I think we're going to need to make a new page on EW for this, yeah.

Because a couple of things can throw the "unexpected error," @mat and I were talking about how to best handle this. One option is we could make an FAQ page with a couple of causes/mitigations for the unexpected error message. Another option is that we make a new error message for validator/linter time-outs separate fro

[2021-07-10 05:33] NegiAkash890 commented on #17459
HI @diox , should all the instances be of  `@jinja2.contextfunction` be replaced with  `@jinja2.pass_context` .
I searched them and found more than just one instance.

ScreenShot :

![Screenshot (2)](https://user-images.githubusercontent.com/55234838/125152998-64e03700-e16e-11eb-9f22-74a0cdaff272.png)

[2021-07-10 09:20] diox commented on #17459
All of them, yes (I count 25 instances in 8 files at the moment).

[2021-07-12 10:52] #16726 closed

[2021-07-12 10:55] eviljeff commented on #16726
QA: there shouldn't be any practical changes*, because we've not allowed legacy add-ons to be uploaded in years anyway.  Please check uploads of non-legacy add-ons work as expected.

* one minor difference is if someone tries to upload a legacy add-on then the error message will be a generic "can't find the manifest.json" type of error, rather than specifically recognising they're trying to upload

[2021-07-12 12:36] eviljeff opened #17472 "store manifest version on File model"
we may need to filter or get information on compatibility later.

[2021-07-12 12:46] eviljeff opened #17473 "set min version compatibility for mv3 addons"
We want to set a minimum version compatibility for add-ons that use manifest version 3, equal to the version of Firefox that supports it.  (Need a target version of Firefox, or a guess for now - won't matter if it moves until we enable the submission switch)

@mixedpuppy want to estimate a target release?  98?

[2021-07-12 14:06] #8456 closed

[2021-07-12 14:27] eviljeff opened #17474 "replace existing tags with new, editorial defined, tags"
https://docs.google.com/document/d/1QJ5PSHJJn5ruvhITlTMongePpZggsrTYKdmmBO0Wbk4/edit# for full details on background, but tl;dr: we want to replace the existing tags that a developer can define with a fixed list of tags AMO's staff define.

* existing tags will be reset (deleted)
* devhub edit form needs changing to allow a selection from the tags available (multi-select list?  checkboxes like cat

[2021-07-12 15:13] diox commented on #16822
Now that https://github.com/mozilla/addons-server/issues/8456 is done using `static()` instead of manually concatenating `STATIC_URL` in `icon_url()` should work on the hero icons. Hero images still need a separate database field.

[2021-07-13 10:07] #17331 closed

[2021-07-13 11:36] #17459 closed

[2021-07-13 12:32] eviljeff opened #17478 "Add error message on upload for mv3 addon"
while the waffle switch (#17450) is disabled we want to display an explicit error message about mv3 being unsupported, rather than just having the linter report that an unsupported manifest version was specified.

[2021-07-13 13:08] willdurand commented on #17450
@rpl when do you want to be able to submit MV3 extensions on AMO **-dev**?

[2021-07-13 14:03] eviljeff commented on #17450
mv3 submission will likely be available on dev shortly after the waffle switch commit has landed (pretty soon too I assume as the PR is uncomplicated).  QA will have to toggle it off and on to verify this issue.  Though it won't be particularly useful to do that until more work is done.

[2021-07-13 14:12] AlexandraMoga commented on #16726
I've verified add-on uploads and validation results on -dev and I didn't find issues.

With regards to validation results for legacy add-on uploads, the error message received on dev is:
![image](https://user-images.githubusercontent.com/31961530/125467088-c693e8a6-78d7-4c27-b177-e2cafe22f9c2.png)

Previously, the message for legacy add-on submissions was:
![image](https://user-images.githubuserco

[2021-07-13 14:23] AlexandraMoga commented on #17458
Accessing https://addons-dev.allizom.org/en-US/firefox/pioneer will result in a redirect to https://support.mozilla.org/en-US/kb/shield.

[2021-07-13 14:57] AlexandraMoga commented on #17331
@willdurand do you have some test instructions for this?

[2021-07-13 14:58] eviljeff opened #17479 "drop unused properties from Tag model"
We currently define a `restricted` (only settable by admins) and a `denied` (hidden, for abusive tag text) properties for a `Tag`.

Now all tags are staff defined we don't need `denied`, but do we need `restricted` still? We currently only have 2 restricted tags - `restartless` (from many years ago where most legacy add-ons needed to restart Firefox to work); and `dynamic theme` (added automatical

[2021-07-13 14:59] eviljeff commented on #17479
@jvillalobos to opine ^

[2021-07-13 15:13] bobsilverberg commented on #17479
Looking at the existing list of proposed tags at https://docs.google.com/document/d/1QJ5PSHJJn5ruvhITlTMongePpZggsrTYKdmmBO0Wbk4/edit#heading=h.kn3nkelyc86, it doesn't seem like we'd need `restricted` anymore.

[2021-07-13 15:17] eviljeff commented on #17479
I asked because the use case isn't called out in the doc either way, and `dynamic theme` may have been overlooked (I forgot all about it, and I added it!)

[2021-07-13 15:17] diox commented on #17479
Note: we have the ability to find dynamic themes in database by looking at the `theme` permission, so we don't need to keep the `dynamic theme` tag if that's just for our own benefit (and even for the outside world, we could expose some kind of search on permissions in the future)

[2021-07-13 15:20] eviljeff commented on #17479
it was primarily to be able to point users to them https://github.com/orgs/mozilla/projects/31

[2021-07-13 16:23] rpl commented on #17450
@willdurand No specific timing preference from my side at the moment. I don't think any of the MV3 work on the Firefox side currently in progress is blocked on being able to sign an MV3 on AMO -dev.

At the moment I think that having it on -dev may help mainly to QA verify the changes we do on the addons-linter that are also MV3-related also along with its integration with AMO (instead of just thr

[2021-07-13 16:28] jvillalobos commented on #17479
I think it should be fine to drop `restricted`. Dynamic themes used to be a complicated subject because we thought they could become a big deal and we weren't sure how we would classify them on the site. Turns out it's not a huge deal and they're fine as extensions.

[2021-07-14 10:22] eviljeff commented on #17478
@jvillalobos for copy and @caitmuenster for url to link to

[2021-07-14 10:55] AlexandraMoga commented on #8456
I can see the new file formats in devhub, reviewer tools and admin tools. I didn't see any rendering issues either.

I'm marking this issue as verified fixed on stage.

[2021-07-14 10:56] eviljeff opened #17482 "implement "rotating" tag shelf"
We want to have a shelf for tags on the homepage, but we want to "rotate" (randomly select) which tag shelf is shown.

There is currently the ability to create arbitrary shelves that would show content from any valid API response that returns add-ons,  and in some ways rotating is similar to the primary hero shelf, which shows a randomly selected promoted add-on, but we don't want to have to creat

[2021-07-14 17:15] jvillalobos commented on #17478
`Manifest v3 is currently not supported for upload. You can read more about the support timeline [here].`

[2021-07-15 09:44] wagnerand opened #17489 "Add-on that has been denied resubmission breaks blocklisting"
### Describe the problem and steps to reproduce it:

When an add-on having resubmission denied gets blocked, the block fails at the publishing stage (see sentry below).

Anticipated STR:
1. Submit an add-on and have it approved.
2. Delete it.
3. Deny resubmission (on the reviewer tools page).
4. Block the add-on.

### What happened?

The block is not published. The pending submission is completely

[2021-07-15 09:47] wagnerand opened #17490 "Make sure blocklisting can't get stuck and a submission can't end up in a locked state"
On top of #17489, we should make sure that blocks can't get stuck in a phase we can't recover from. I am not sure what the best approach to this is, maybe verify and handle all exceptions, or wrap individual block stages in a transaction so they are rolled back and can be restarted by an admin manually?

[2021-07-15 09:56] ioanarusiczki commented on #17331
@willdurand Dev Hub addon uploads passed all release test cases.  Verified on AMO stage - FF89(Win10).

[2021-07-15 12:26] diox commented on #14547
We need at least:

- User ID
- User Created
- User Banned
- User Last Login
- User Last Login IP (used in the search)
- Restriction History Last Login IP (used in the search)
- Restriction History IP (used in the search)
- Rating IP (used in the search)
- Activity IP (used in the search)

In the future we'll want to consolidate pretty much all ip address logging to `IPLog` and storing it as a bina

[2021-07-15 13:14] AlexandraMoga commented on #17449
I've run a regression on the pages served by addons-server - DevHub, Reviewer tools, Admin tools - and the API (internal and external, for add-on submissions). I haven't found any issues.

I'm marking this issue as verified fixed on dev and stage.

[2021-07-16 08:46] eviljeff opened #17497 "limit the results for a (tag) shelf to minimum thresholds"
For tag shelves (that will be randomly displayed on the homepage) we want to limit the add-ons shown to ones that meet certain thresholds.

Implementation details are if this is hardcoded just for tag shelves, or available for other shelf endpoints too, or added as an API feature (e.g. something like a param of `?threshold=rating>3.5`)

[2021-07-16 09:03] #17450 closed

[2021-07-16 09:29] eviljeff opened #17498 "drop `criteria` from shelf API"
`criteria` is a weird property, because it means different things for different types of shelf - and the client has to know the logic and how to use it with an appropriate url (selected based on `endpoint`).  The `url` property already has a complete url using `criteria` so that should be sufficient.  blocked on mozilla/addons-frontend#10776

[2021-07-16 12:47] eviljeff opened #17502 "drop django2.2 compatibility"
Now we've upgraded prod to django3.2 without any (currently discovered) problems we can drop any code that only works on django2.2.
In particular:
- the json field backport that dumps a lot of warnings each time migrations, etc, execute.
- CI testing with `DJANGO_VERSION=django22`
- makefile support for deps for different django versions

[2021-07-16 14:19] diox opened #17504 "Optimize IP address query performance"
Searching for users by ip address is currently a bit slow, the data is scattered on different tables, IPs are stored in string form as a `varchar(45)`, and not always indexed.

One fix to investigate would be to store them as `blob` or `varbinary`, using `INET6_ATON()` and friends in MySQL, or `ipaddress.ip_address().packed` in python) and indexing that.  That's blocked by https://github.com/mozil

[2021-07-16 14:50] diox commented on #14547
This will have to wait until https://github.com/mozilla/addons-server/issues/17504 is implemented cause it's currently quite slow.

[2021-07-17 12:36] zhanghuishun commented on #17451
Is this issue still open? I am new to open source and I can take it.

[2021-07-17 17:05] dessant commented on #9298
Hi @atsay, would it be possible to share the SVG version of the Firefox add-ons download badge? Other stores offer SVG, EPS and AI badge assets, and it would be great to also use HiDPI buttons for promoting Firefox add-ons.

[2021-07-18 08:48] bhushan-borole commented on #17390
Hello @eviljeff @willdurand @bobsilverberg
I would like to work on this issue.
Could you tell me how to proceed with this?

[2021-07-18 10:34] Atharva-Shinde commented on #17451
I am working on it.

[2021-07-18 16:22] grahamperrin commented on #7535
Cross-reference:

* Mozilla bug [1668869 - Addon release notes visible in en-US locale but not-en-GB](https://bugzilla.mozilla.org/show_bug.cgi?id=1668869)
* [AMO Bug? Release notes not shown on en-GB install pages? - Add-ons / addons.mozilla.org - Mozilla Discourse](https://discourse.mozilla.org/t/amo-bug-release-notes-not-shown-on-en-gb-install-pages/53608?u=grahamperrin)

[2021-07-19 09:19] wagnerand opened #17507 "Submitting an abuse report for an AMO-deleted add-on sets AbuseReport.addon_id to NULL"
### Describe the problem and steps to reproduce it:

Abuse reports we received after an add-on has been deleted from AMO are not correctly linked to the add-on. The `addon_id` is `NULL`.

### What happened?

Since the `addon_id` is `NULL` those abuse reports don't show up on the reviewer tools page for example.

### What did you expect to happen?

Abuse reports should be linked to the add-on they

[2021-07-19 11:18] ioanarusiczki commented on #17450
@eviljeff I see the switch, I enabled it and started testing addon submissions using dev hub. I'm going to compare validation results switch disabled versus switch enabled

[2021-07-19 14:18] ioanarusiczki commented on #17450
@eviljeff

With `enable-mv3-submissions` switch enabled I tested several addon submissions (.zip and .xpi formats).
-  I focused more on the listed channel but also tried some unlisted submissions.
- I uploaded some extensions but also a static theme, lang pack and dict and new versions - looks good.
- I tried some linter errors (mainly following the model from https://github.com/mozilla/addons-li

[2021-07-19 14:25] eviljeff commented on #17450
@ioanarusiczki nothing for now - it's just a switch that changes what maximum version is passed to the linter currently.

[2021-07-19 14:54] #17472 closed

[2021-07-19 16:28] eviljeff commented on #17472
QA: the `manifest_version` field is visible via django admin

[2021-07-19 19:23] kewisch commented on #9298
Hey @dessant, do you mean the one on this page? There is a link to a SVG version as well. Let me know if you need more information, feel free to reach out via email. https://extensionworkshop.com/documentation/publish/promoting-your-extension/

[2021-07-19 19:29] dessant commented on #9298
Hi @kewisch, I did not notice that article, it is exactly what I've been looking for. Thanks a bunch!

[2021-07-20 09:03] #17502 closed

[2021-07-20 10:20] diox commented on #14518
From testing on stage, MySQL isn't super efficient when doing that. It makes a bunch of temporary tables...

That's a more promising approach but would require a gigantic data migration to backfill the `IPLog`, so let's skip for now.

[2021-07-20 12:33] ioanarusiczki opened #17519 "Don't allow negative numbers for manifest version"
Followup for https://github.com/mozilla/addons-server/issues/17472

I've noticed that I can enter and save negative numbers for the `Manifest version` field from `admin/models/files/file/413488/change/`

[2021-07-20 12:34] #17482 closed

[2021-07-20 12:34] ioanarusiczki commented on #17472
@eviljeff I can see `Manifest version:` field being available in `admin/models/files/file/fileid/change/` model.

With an admin account, I could increase the value from 2 (-> maximum allowed is 32767) , or decrease it to negative values so I filed https://github.com/mozilla/addons-server/issues/17519

[2021-07-20 12:38] eviljeff commented on #17519
I think that's fine - you can break all kinds of stuff in django admin, generally without any guard rails (with the exception of the few django admin pages we've specifically designed to be used operationally as tools.  File is not one of them)

[2021-07-20 12:41] ioanarusiczki commented on #17519
@eviljeff I understand. It's a won't fix.

[2021-07-20 12:41] #17519 closed

[2021-07-20 14:35] #14518 closed

[2021-07-20 14:35] #14547 closed

[2021-07-20 14:54] diox opened #17521 "Move AMO-dev main domain behind CDN"
ops work tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1714429 but this issue is for QA to test -dev specifically.

It should be a transparent change, but it affects the whole site so a complete check of the site is needed.

Notable things to try:
- Georestrictions
- Logging in and out
- Browsing the site logged in and out
- Browsing with different browsers, making sure the notice appear

[2021-07-20 14:54] #17521 closed

[2021-07-20 15:47] #17474 closed

[2021-07-20 16:48] jvillalobos opened #17524 "Update tooltip text for tag input on Developer Hub"
Current text:
`Tags help users find your add-on and should be short descriptors such as tabs, toolbar, or twitter. You may have a maximum of 10 tags.`
Proposed text:
`Tags help users find your add-on. You may have a maximum of 10 tags. Only choose tags that are relevant to your add-on.`

[2021-07-20 17:29] eviljeff opened #17525 "devhub addon edit sections 403 - CDN regression"
editing a section in addon edit in devhub is broken (on addons-dev, at least).
e.g. https://addons-dev.allizom.org/en-GB/developers/addon/crosswarpex-%ED%99%95%EC%9E%A5/edit

looking in devtools shows the XHR returns a 403.  Logs show error was:
"Forbidden (Referer checking failed - no Referer.): /en-GB/developers/addon/crosswarpex-확장/edit_additional_details/edit"

[2021-07-20 17:33] eviljeff commented on #17525
This isn't replicable locally (with default settings).  Bizarrely, I can't replicate on stage though (that, at this moment, has exactly the same code on it)

[2021-07-20 18:04] eviljeff opened #17526 "fix broken shelf tests"
There appears to have been a clash between https://github.com/mozilla/addons-server/pull/17503 and https://github.com/mozilla/addons-server/pull/17481 that was only apparent after merging

[2021-07-20 18:11] diox commented on #17525
Might be because addons-dev is now behind a CDN - https://github.com/mozilla/addons-server/issues/17521

Might be some missing configuration in the CDN to allow the Referer header to be passed.

[2021-07-20 19:21] dessant opened #17527 "Flag usernames from reviews for spam and abuse"
Since user profiles have been removed for regular users, it's difficult to report people that engage in spam, when they do it over a username. Consider this review which has no text: https://addons.mozilla.org/en-US/firefox/addon/search_by_image/reviews/1735066/

The username is a shady site for earning money by viewing ads, and all the user has to do to receive regular traffic is to rate popular

[2021-07-20 20:20] jvillalobos opened #17528 "Return error if different add-on IDs are provided in single signing API request"
Based on some recent discussions, it appears that it's possible to provide conflicting add-on IDs to the signing API if one is provided as a parameter in the request and a different one is set in the manifest file. This apparently leads to a signing error that isn't communicated to the requester.

We should make sure that this scenario leads to a clear error message and no signed file, since there

[2021-07-20 21:21] diox commented on #14547
This is implemented with the regular search input box in the admin changelist, searching for an IP will switch to a different UI that displays various sources of IP addresses that we search against. Multiple IPs can be entered, separated by a comma with no spaces.

There is also some buttons next to each IP shown to add/remove them from the search - the search has to be ran manually after you make

[2021-07-20 23:41] diox opened #17529 "Use different cache policy in the CDN for /api/"
In order to increase the cache hit ratio, CDN should apply a different cache policy for the API. This should be achievable by setting a different cache behavior for the `/api/*` path pattern, creating new policies attached to that specific behavior.

The key difference with the main policy is that we'll be able to ignore `DNT`, `User-Agent`, all cookies (*).

(*) To be double-checked: we do need c

[2021-07-21 00:19] diox commented on #17525
I tried to fix this in the CdnRequestPolicy:
- First by adding `Referer` and `Origin` headers to the list of forwarded headers. That resulted in 504s for the pages I was testing (devhub, logged in)
- Then I tried a different approach, setting it to forward all headers (instead of limited list) + `CloudFront-Viewer-Country`, also resulted in 504s

I reverted the changes so the original problem (403

[2021-07-21 03:07] bqbn commented on #17525
I added the `Referer` header to the list of forwarded headers (see https://github.com/mozilla-services/cloudops-deployment/pull/4309/commits/d0fba7f71ab8e4c7cd128669a9c54bc293f6ba86). The `Origin` header is always forwarded. Thus, there is no need to add it.

I then watched the traffic between the origin (nginx) and the app server. I saw that both the `Referer` and the `Origin` headers were passed

[2021-07-21 06:41] dante381 commented on #17451
Hey, is the issue resolved? If not, i would like to work on it and could you guide me through the process. I have gone through the
through the documentation and i have a few queries regarding the setup of docker.

[2021-07-21 08:23] lafonth opened #17530 "last_human_review attribute"
The review team is using a list of add-ons on telemetry and it appears that even after a human review, add-ons are staying in the list.
I made some research on the query and it appears that it is filtering the add-ons which get addons_addonapprovalcounter -> last_human_review at 0.
I made some verification and the add-ons that are reviewed by humans are still flagged at 0 which explains why they a

[2021-07-21 08:33] diox commented on #17525
Good call! I didn't think to re-check the logs after I added `Referer`, and indeed, the problem was that the `x-csrftoken` header was not forwarded. I added it and now it works.

[2021-07-21 08:35] #17525 closed

[2021-07-21 08:43] diox commented on #17530
`last_human_review` and `counter` in the `addons_addonapprovalcounter` table are set when a human approves or confirms approval of an add-on from the listed review page. `counter` is incremented, and `last_human_review` set to the current date. In addition though, `counter` gets reset to 0 for auto-approvals (`last_human_review` stays as-is).

Do you have examples of add-on ids where it's not work

[2021-07-21 10:54] ioanarusiczki commented on #14547
@diox I verified this on django dev and stage:

- I could enter an ip address and search using models/users/userprofile/?q=`ip address`

- the table returns information into the following columns:

![data](https://user-images.githubusercontent.com/33448286/126477087-bfcadaa2-6aca-45c8-be2e-fc81caa97876.png)

- I could add and remove IPs using the buttons next to them and continue with a new search

[2021-07-21 10:57] ioanarusiczki commented on #14518
@diox I think testing from https://github.com/mozilla/addons-server/issues/14547#issuecomment-884095845 covers this too but if not, let me know.

[2021-07-21 11:10] wagnerand opened #17535 "Add rate limiting for user review edits"
We should add some rate limiting for editing existing user reviews.

I'd suggest 5 edits per minute. Should that be also counted against the review, i.e. 5 edits  (of the same review) per minute?

[2021-07-21 11:53] diox commented on #17535
I don't think we need to care about which review the edit is from - 5 edits per minute total should be more than enough.

[2021-07-21 11:58] eviljeff commented on #17479
@jvillalobos just to confirm, we should drop the "dynamic theme" tag entirely - i.e. delete it from the list of available tags, so remove it from existing add-ons that are tagged with it, and stop setting it if a developer uploads a dynamic theme.

[2021-07-21 12:04] willdurand opened #17537 "API calls from code-manager are failing because of CORS errors"
## STR

1. Go to: https://code.addons-dev.allizom.org/
2. Login or try to browse an add-on version

## Got

And too many CORS errors in the devtools console, e.g.:

[code]

## Expected

Not that.

---

See also: https://github.com/mozilla/addons-server/issues/17521

[2021-07-21 12:16] ioanarusiczki opened #17538 "correct some tags"
Followup for https://github.com/mozilla/addons-server/issues/17474
This is the list of [tags](https://docs.google.com/document/d/1QJ5PSHJJn5ruvhITlTMongePpZggsrTYKdmmBO0Wbk4/edit#heading=h.kn3nkelyc86)

1. the list has an "ad blocker", meanwhile dev hub displays an "adblock"
2. the list has 2 separate tags "image search" and "search". These should be separated in dev hub as well
3. There's a "dyna

[2021-07-21 12:17] ioanarusiczki commented on #17474
adblocker - correct
image searchsearch - 2 separate tags
dynamic theme is instead of search
@eviljeff
on AMO stage:

- Tags from the above [doc](https://docs.google.com/document/d/1QJ5PSHJJn5ruvhITlTMongePpZggsrTYKdmmBO0Wbk4/edit#) are displayed into Additional Details section of the edit page.
- I think it works as expected: I could check/uncheck boxes, the limit is 10 tags. For 10 plus there's a

[2021-07-21 12:18] diox commented on #17537
I've added `Access-Control-Request-Headers` and `Access-Control-Request-Method` to the headers forwarded to origin requests, that fixed the problem for me.

[2021-07-21 12:18] #17537 closed

[2021-07-21 12:58] jvillalobos commented on #17479
Yes, confirmed.

[2021-07-21 12:59] ioanarusiczki commented on #17482
@eviljeff
What's the API endpoint I could use in Postman?

[2021-07-21 13:01] ioanarusiczki commented on #17525
@eviljeff
I could not reproduce this issue, I verified the edit addon page on -dev and -stage with FF90(Win10). Editing worked for me.

[2021-07-21 13:14] #17526 closed

[2021-07-21 13:27] diox opened #17539 "Upgrade Celery to 5.x"
We chose to stay on Celery LTS in https://github.com/mozilla/addons-server/issues/15677 but no new LTS has been announced and the version we're using will be EOL soon, so we need to switch to 5.x.

This means unblocking pinned dependencies, ensuring compatibility of things like https://github.com/mozilla/django-post-request-task/, and of course getting everything to work and tests to pass.

[2021-07-21 14:20] eviljeff commented on #17482
If a Shelf (& module) is enabled, with endpoint "random tag", then the results will be returned via /api/v5/shelves/ with the other enabled shelves.  On each API call the `tag=xxx` in the underlying search url will be different.   There isn't currently (#17497) any threshold or filtering for addons appearing in the shelf, or any default ordering - though extra criteria can be specified in the `cri

[2021-07-21 14:39] caitmuenster opened #17541 "Update message text in "Submission Held for Review" emails to developers"
The body text for the template "submission held for review" emails to developers should be updated to the following:

Hello,

Thank you for submitting your add-on {{ name }} {{ version }} to addons.mozilla.org. Your submission is taking longer than usual to be reviewed and signed. This process could take a few extra hours and up to a couple of days.

If you have questions around your add-on review

[2021-07-21 14:41] eviljeff commented on #17538
the list in the doc was updated after I copied it 😄  @jvillalobos can update the tags on prod via django admin

my bad - I had to manually tinker with the list when I copied it from the doc.  @jvillalobos do you want me to land a migration to fix this or will you be okay doing it via django admin too?  (i.e. rename "image searchsearch" tag to "image search"; add a new tag called "search")

the "dy

[2021-07-21 14:56] eviljeff commented on #17478
we're going to use https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/ for now.

[2021-07-21 14:57] diox commented on #17439
Note that on GitHub I'm @diox, not mat :)

[2021-07-21 14:59] jvillalobos commented on #17538
I can deal with the updates, yes.

[2021-07-21 15:08] diox commented on #17507
Note: the `addon_id` is correctly kept for existing abuse reports if an add-on is soft-deleted. This is about making the link possible even though the add-on is deleted.

We'll probably want to fix https://bugzilla.mozilla.org/show_bug.cgi?id=1721143 at the same time.

[2021-07-21 15:11] bobsilverberg commented on #17535
Why exactly do we need this? Is it to reduce traffic from a possible automated attack? If not, why do we actually care if someone updates their review of an add-on hundreds of times?

[2021-07-21 15:19] diox commented on #17535
Purely to reduce potential load on the database.

[2021-07-21 15:26] bobsilverberg commented on #17535
Is this a common problem? Do we have any data on how often it happens? Do we have other endpoints that could potentially be abused like this that are also not protected? I'm not convinced that the benefit of adding the code will outweigh the cost.

[2021-07-21 15:58] diox commented on #17535
This is not a problem yet as far as we know. Most endpoints already have rate limiting through DRF throttling mechanism, and we should definitely add some to those which do not before we run into some issues and not after.

There isn't much code to add, and in fact already do have a rate limit of 1 user review created per minute, it just specifically ignores edits at the moment because at the time

[2021-07-21 16:52] eviljeff commented on #17507
Relying on a foreign key to an `Addon` instance is risky because an add-on can be deleted and reuploaded with the same guid, resulting in a different instance in the database.  Blocklist code works around this by querying with the guid through the `AddonGUID` model (`addons_reusedguid` db table) and helper properties on the models to always return the current addon instance.  It makes any raw sql

[2021-07-22 09:16] eviljeff opened #17544 "always return shelf footer url - generate fallback"
Currently, a Shelf has an optional footer.url, which is the link that is displayed on the homepage to see more addons from that Shelf, and a footer.text to accompany it.  Both are optional, and if not provided default to `See more {shelf.title}` for the latter, and either `/collections/{MOZILLA_USER_ID}/{shelf.criteria}/` for collections or `/search/{shelf.criteria}` otherwise for the former.  Thi

[2021-07-22 09:19] #17524 closed

[2021-07-22 09:21] eviljeff opened #17545 "add migration to drop restricted and denied columns from `tags` db table"
follow on from #17540 - needs to be merged in a subsequent tag than https://github.com/mozilla/addons-server/pull/17540

[2021-07-22 09:21] #17479 closed

[2021-07-22 09:27] Bianca-O opened #17546 "Log in issue"
**Build:**
Stage

**Affected platforms:**
Windows 10 64-bit
Android 11

**Browsers tested on:**
Firefox

**Steps to reproduce:**

1. Navigate to https://addons.allizom.org/en-US/firefox/ and log in using an existing account.

**Actual result:**
The user is not logged in.

**Expected result:**
The user is logged in.

**Note:**
The issue is intermittent. It is not always reproducible.

![log in issu

[2021-07-22 09:41] diox commented on #17546
I can't reproduce after several tries. Anything in your devtools console or network panel that could help ?

[2021-07-22 10:02] ioanarusiczki commented on #17521
@diox

Frontend caching:

- if I change edit the summary or description of an addon and then I log out - the details edited are not available for a logged out user for a while. Only after a couple of minutes the new content becomes available. Same happens for a logged out user into a different browser.  - I think it works as expected

I can't conclude on Georestrictions:
 - if I load a detail page

[2021-07-22 10:07] vcarciu commented on #17546
I can see this in browser console :
![browserconsoleerror](https://user-images.githubusercontent.com/1583842/126622980-b0bf2c5b-debd-4ed5-bfa0-9d070dfe9e0f.PNG)

[2021-07-22 10:15] ioanarusiczki commented on #17546
I could also reproduce it today on AMO stage - I made lots of logins today

![Console](https://user-images.githubusercontent.com/33448286/126623957-89972d14-f726-449f-b3a8-e2a6a31e1a80.png)

![Network](https://user-images.githubusercontent.com/33448286/126623988-d965016e-1b3f-4c81-8fa4-bddee8b4d7d4.png)

[2021-07-22 10:20] vcarciu commented on #17546
After trying more logins, the issue was intermittently reproducible and I can see more errors in console:
![morebrowserconsolelogs](https://user-images.githubusercontent.com/1583842/126624580-4005a519-73c0-40d1-a2fb-dbaa17a6df73.PNG)

[2021-07-22 11:21] diox commented on #17546
We debugged this with @vcarciu on Matrix, and there is something weird going on on our side: when they reproduce the failure (which I still can't do myself!) the `/api/v3/accounts/authenticate/?code=...` call doesn't set the `sessionid` or `frontend_auth_token` cookies! So when they are redirected to the homepage at the end, naturally they are not considered logged in.

I couldn't find anything in

[2021-07-22 11:35] diox commented on #17546
Progress: there _is_ something in the logs: a State mismatch. So they end up in that case:
https://github.com/mozilla/addons-server/blob/6d3afc88fd562a90e22444ff1bf230c2c7572cc2/src/olympia/accounts/views.py#L259-L271

That explains why they are not successfully logged in. The source of the mismatch appears to be that the `sessionid` cookie is not present in the request, so the session never exist

[2021-07-22 11:45] diox commented on #17546
So what I think happened:
- Somehow, at some point, `/api/v5/accounts/login/start/?config=amo&to=%2Fen-US%2Ffirefox%2F` (which is a `GET` request, annoyingly) doesn't return a fresh session cookie. I don't know how that's possible, but that causes the request to be cached.
- That makes the whole flow fail at the end with the state mismatch
- Because it's cached it can happen again later for users

[2021-07-22 12:04] eviljeff commented on #17544
limiting this issue to just the url because that's the blocker currently

[2021-07-22 12:23] diox commented on #17546
Finally have STRs. The prerequisites are:
- Visit `/api/v5/accounts/login/start/?config=amo&to=%2Fen-US%2Ffirefox%2F`, note the `sessionid` cookie in the response. Don't follow the rest of the flow
- Visit `/api/v5/accounts/login/start/?config=amo&to=%2Fen-US%2Ffirefox%2F` again with the `sessionid` cookie you got from the first visit. It should redirect you to the flow as normal, but, crucially,

[2021-07-22 13:01] #17546 closed

[2021-07-22 14:44] ioanarusiczki commented on #17546
@diox Can't reproduce the issue on -dev or -stage. I could not reproduce this on -dev before but I tested several times on -stage with the accounts I had issues with and this time looks good.

[2021-07-22 16:32] jvillalobos commented on #16559
@devaneymoz has run into this issue every time he's tried to rearrange the shelves, so I think this is worth fixing.

[2021-07-22 23:39] #14831 closed

[2021-07-22 23:39] #15327 closed

[2021-07-22 23:39] #15989 closed

[2021-07-23 08:44] diox opened #17552 "Simplify "error" handling in authentication view"
Error handling in our authentication code is a little weird. We have this `render_error` function, but it has a couple issues:
- 1) It doesn't really render an error. Rather it returns a redirect, logs something in our logs (which is a recent addition, that made this issue more visible *) and logs something for the user in the messages framework... that they might not ever see, because those are o

[2021-07-23 08:47] diox opened #17553 "Update FxA clients to stop using /api/v3/authenticate"
We thought we had changed all FxA clients to using `/api/auth/authenticate` but we're still seeing a `/api/v3/authenticate` request at least when logging in through the frontend (and possibly more). It may be because we consolidated all FxA configuration (there were a lot of different clients configured for no good reason) at some point and we consolidated on an old one or something.

We want to i

[2021-07-23 08:48] diox commented on #17553
Also seems to be happening when logging in from addons-server, not just addons-frontend.

[2021-07-23 09:02] eviljeff commented on #17553
see https://bugzilla.mozilla.org/show_bug.cgi?id=1589330 - the bug was opened to do this but it's not been completed

[2021-07-23 12:55] ioanarusiczki commented on #17482
@eviljeff

on AMO dev:

- I added and enabled 3 shelves with endpoint `random-tag`. I used for criteria the "see more" links from search results - the ones available into the extensions tab on AMO dev (recommended, top rated and more trending). These only include recommended add-ons (46) and I added tags to multiple addons so I could see get some results returned.
- I see that the API https://addo

[2021-07-23 13:13] eviljeff commented on #17482
Do you mean that the shelf _should_ contain more than 4 addons (because there are more than 4 addons tagged with that tag, and that fit whatever other criteria you entered, if you entered extra criteria) but doesn't?

Did you find an easy way to identify which tag was actually used in the shelf if there wasn't a "see more..." link?

[2021-07-23 13:48] ioanarusiczki opened #17561 "Screenshot section has lots of 404s in the network until page is refreshed"
STR:
I've noticed this being reproducible on all AMO servers - I simply load some screenshots into the Image section and save

Expected:
the thumbnails are loaded without errors

Actual:
there's a loading state and the network returns 404

![Screenshot section](https://user-images.githubusercontent.com/33448286/126791191-8faa8b25-6ae2-4ab6-85f6-ecc7589085af.png)

After a page refresh the errors ar

[2021-07-23 13:57] diox commented on #17561
It can take seconds or minutes for the thumbnails to be regenerated. After you have uploaded a preview, we try to load it with the expected URL without knowing if it's ready yet in a loop (with a different query string to avoid any caching), hence the 404s. It's a bit aggressive and not very clever but eventually it should get a 200 and stop refreshing.

[2021-07-23 14:14] ioanarusiczki commented on #17561
@diox Ok, I'll try again on Monday, see how long it takes. I remember this being there before.

[2021-07-23 14:46] diox commented on #17539
To prepare for that I've released django-post-request-task 0.5 to PyPI. I've only tested it locally with Celery 4 for the moment but its unit tests pass with Celery 5 now.

[2021-07-23 16:23] #17535 closed

[2021-07-23 17:08] #17544 closed

[2021-07-23 17:34] eviljeff commented on #17390
@bhushan-borole Hi, it's not a super simple issue, to be honest.  Unless you're already confident with python & pytest tests it's not a great good "first" bug.

Like Will said, it should probably be split into two issues for the two properties.  And then it's a matter of replacing the field with a `SerializerMethodField` and returning a fixed response (`False` for `is_restart_required`; `True` for

[2021-07-23 17:42] bhushan-borole commented on #17390
I am pretty confident with Python, but will get the hang of pytest, that's not an issue.
So basically, first step is to change the fields to `True` or `False` based on if it is `is_webextension` or `is_restart_required`.
Am I correct?

[2021-07-24 04:29] bhushan-borole commented on #17451
Hey @diox
I would like to take up this issue if anyone is not working on it.

[2021-07-26 09:08] ioanarusiczki opened #17566 "AMO dev addon submission is not working"
STR:
1. Been trying on Friday and today with extensions to make submissions

It's always this error:

![Always this error](https://user-images.githubusercontent.com/33448286/126963921-cc05cfe5-b672-4ef1-b762-f23cec7ed584.png)

[2021-07-26 09:09] ioanarusiczki commented on #17521
@diox

I repeated the geolocation test and got different results:
- an unauthenticated  loading the detail page of an add-on into a country where it is not restricted, I have a 200 response. Then the addon becomes restricted (I restricted it into a different profile, with an admin account). I reload the page into the same tab and I get a 451 immediately, not after 3 min (or 6).  I get the same res

[2021-07-26 09:50] ioanarusiczki commented on #17482
@eviljeff

I only assume that the reason I sometimes get less than 4 is because there might not be enough addons tagged for a specific tag because it's not quite easy for me to identify which is the tag used by a shelf.

I did not add extra criteria - this is the [content](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/shelfmodule/71/change/) of a shelf.

I tried testing it on

[2021-07-26 10:56] ioanarusiczki commented on #17537
@diox The only place I see CORS errors - 403 on -dev is when I log out and then try to login. On fxA page - I see some errors in the network

![on fxA page](https://user-images.githubusercontent.com/33448286/126978176-d4965c37-02a9-4f7c-a385-d181b2a99d40.png)

[2021-07-26 11:00] diox commented on #17537
Those are unrelated.

[2021-07-26 11:01] ioanarusiczki commented on #17537
@diox Then let me know if I should file this on fxA side.

[2021-07-26 11:04] ioanarusiczki commented on #17561
@diox It seems to me it is taking too long. I waited 10 minutes and the loading state did not change.  After a page refresh it's gone.

[2021-07-26 11:22] diox commented on #17537
Probably doesn't hurt to file on FxA's side.

[2021-07-26 11:30] diox commented on #17561
I haven't been able to reproduce every time, not sure why. But I think I see the problem: we're trying to load a png when it should be a jpg...

[2021-07-26 11:45] eviljeff opened #17571 "use pyupgrade to freshen our code?"
https://github.com/asottile/pyupgrade can rewrite python code to use newer syntax.  Doesn't really help any more than any linting tool does, but may as well have a consistent newer style of python rather than a mishmash depending on how many years ago it was originally written.

I've played around with it and it's not a drop in command line tool because it seems to expect to be used as a [pre-comm

[2021-07-26 11:46] diox commented on #17561
So, it does come down to a timing issue:
If you save too quickly after uploading, then the task that generates the thumbnail hasn't time to update the `Preview` in the database to update the `sizes` object with the thumbnail format, so `self.get_format('thumbnail')` falls back to the default, which is `png`, so when `thumbnail_url` is called it gives the URL of a PNG, then the template is rendered

[2021-07-26 12:11] ioanarusiczki commented on #17537
@diox
I cannot reproduce the above issue then. If I navigate to all version page I only get a console message "No addon manager, cannot set add-on status". Also code manager files on -dev are loading without errors.

I was pretty sure that the above errors are related to this since login was mentioned.  I filed it here https://mozilla-hub.atlassian.net/browse/FXA-3796 because the errors appear whe

[2021-07-26 12:25] diox commented on #17566
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/11827748/?query=is%3Aunresolved

Looks like a `customs` scanner issue preventing all uploads.

[2021-07-26 12:30] diox commented on #17521
You should eventually see a 451, but how much time it takes for that depends on a lot of factors. It can be immediate if the cache was expired or simply not popular enough (in which case the cached response could be dropped to make more space for popular items).

[2021-07-26 12:34] willdurand commented on #17566
The error below is present a lot in the Lambda logs:

[code]

[2021-07-26 12:52] diox commented on #17566
Given the following upload: `932e3b0e29324a2e8fb606016072fa2f`, the download URL for the scanners to run on should be
`https://addons-dev.allizom.org/uploads/file/932e3b0e29324a2e8fb606016072fa2f/?access_token={redacted}` which redirects to `https://addons-dev.allizom.org/en-US/firefox/uploads/file/932e3b0e29324a2e8fb606016072fa2f/?access_token={redacted}`. That part works fine.

What doesn't work

[2021-07-26 13:43] eviljeff commented on #17482
The form does a query with a single tag for sanity - the first Tag in django admin - which I suspect might be `dynamic theme` on stage because (that tag was removed on addons-dev on Thursday so will still exist on stage).

[2021-07-26 13:47] ioanarusiczki commented on #17544
@eviljeff I verified this on -dev:
- making several API requests I've noticed that the footer url is always returned. (it is "null" on -stage when the footer pathname was not edited from django admin)
- for the new-random endpoint now I've noticed the presence of the tag that's been used, an example:
"url": "https://addons-dev.allizom.org/en-US/firefox/search/?promoted=recommended&sort=rating&type

[2021-07-26 13:59] ioanarusiczki commented on #17537
@diox fyi - I've noticed the issue being reproducible on all AMO servers - updated it in fxA

[2021-07-26 14:12] willdurand commented on #17566
cc @bqbn for help on the nginx side

[2021-07-26 15:01] #16295 closed

[2021-07-26 16:53] danielnaber commented on #14055
I just ran into this on https://addons.thunderbird.net (my Italian appName was 52 characters), would be good to have it re-opened and fixed.

[2021-07-26 16:59] eviljeff commented on #14055
the code that runs on addons.thunderbird.net is https://github.com/thundernest/addons-server/

[2021-07-26 19:01] bqbn commented on #17566
There was a misconfig in nginx which got fixed in the above commit.

I now see 200 from this link:

[code]

[2021-07-27 08:44] eviljeff opened #17573 "drop ShelfManagement model"
We currently have a `ShelfManagement` model, that contains enabled state and shelf position, and `Shelf`, that contains all of the details about the Shelf.  The difference between the two would enable Editorial to build up a collection of `Shelf` modules that would only be added to a `ShelfManagement` when needed.

But that's not how it's ended up being used so the two models just add extra comple

[2021-07-27 09:10] diox commented on #17566
That fixed it

[2021-07-27 09:10] #17566 closed

[2021-07-27 09:12] eviljeff commented on #16559
#17572 drops the constraint. There isn't a straightforward way to reimplement this due to how it's implemented in django admin so it just drops it entirely. If it's a particularly desirable feature we can put the extra work in though - shout up if so.  (The only downside with no constraint is not preventing you from having two shelves with the same position, which would produce an indeterminate or

[2021-07-27 09:24] muffinresearch opened #17574 "Check support for Firefox versions over 100"
As Firefox versions > 100 are not too far off it would be good to check if there are any issues from using Firefox versions that are >= 100 and ensure we have tests covering those areas. Feel free to add details to this bug of what those areas are, or create new bugs as needed.

Hopefully this will be a non-issue but it wouldn't hurt to be sure.

[2021-07-27 09:31] diox commented on #17574
This should have been covered when we did https://github.com/mozilla/addons-server/issues/6016

[2021-07-27 10:52] #17478 closed

[2021-07-27 12:20] ioanarusiczki commented on #17521
@diox Ok, now I understand. I'll mark this issue verified on AMO dev - FF90(Win10).

[2021-07-27 13:47] #17561 closed

[2021-07-27 13:51] diox commented on #17552
QA: Make sure authentication still works, and you don't get errors trying to go to the authentication flow while being already logged in (either by going manually to /api/v5/accounts/login/start/?config=amo&to=%2Fen-US%2Ffirefox%2F while logged in, or by trying to log in from an unauthenticated page while having already logged in from a different tab).

[2021-07-27 13:51] #17552 closed

[2021-07-27 14:43] diox commented on #17529
Actually... we had to add an explicit cache-control to those to avoid them being cached: https://github.com/mozilla/addons-server/issues/17546
I think that this change, coupled with an Origin Request Policy that does send every cookie (like we have for everything right now), should be enough regarding authentication.

[2021-07-27 14:46] diox commented on #17529
Want to get the CDN deployed to stage before doing this, cause then we'll have a stable config and we'll be free to run more unstable experiments on dev.

[2021-07-27 14:50] #17573 closed

[2021-07-27 14:50] #16559 closed

[2021-07-27 14:52] eviljeff commented on #17573
marking QA extra because it's pretty important this tool is working for Editorial to use.

Practically, there shouldn't be any difference in functionality, apart from the enabled and position that were previously in the `ShelfManagement` instances are now directly set in the `Shelf` instance.

[2021-07-27 17:19] wagnerand opened #17579 "Deny new add-ons that use an ID ending in @temporary-addon"
### Describe the problem and steps to reproduce it:

IDs ending in `@temporary-addon` are reserved for temporarily loaded add-ons in Firefox. We should not accept such IDs for signing (and thus submission).

Since we already have a few add-ons on AMO with that ID, we can't deny any submissions yet, so we are limiting this issue to new add-ons first.

Submitting a new add-on with an ID ending in `@

[2021-07-28 08:33] willdurand opened #17580 "Prevent selection of more than 10 tags in DevHub"
### Describe the problem and steps to reproduce it:

1. Edit an add-on to add tags: Additional Details > Tags
2. Select more than 10 tags
3. Save

### What happened?

There is an error message, which is expected:

And while reading it, I noticed the help text (which I did not before because it's small and gray).

### What did you expect to happen?

Ideally, we couldn't select more than 10 tags so

[2021-07-28 08:38] ioanarusiczki commented on #17482
@eviljeff I enabled on -stage a shelf using random-tag endpoint. I used the search API to check the number returned, for example:
`?promoted=recommended&sort=random&type=extension&tag=privacy` - 4 addons found

frontend:

![should be ok](https://user-images.githubusercontent.com/33448286/127291678-be3be782-abb3-4551-b508-65feef06c96c.png)

See more https://addons.allizom.org/en-US/firefox/search/?

[2021-07-28 09:04] ioanarusiczki commented on #16559
@eviljeff Verified on -dev with FF90(Win10).

![verified](https://user-images.githubusercontent.com/33448286/127295493-ca57e896-7f40-4203-88cf-d06cf438c4bb.gif)

[2021-07-28 09:37] diox commented on #17553
This should be fixed now. On all envs, upon successful FxA login, you should see a request to `/api/auth/authenticate` on AMO that redirects you to the page you were on when you tried to log in. We shouldn't use `/api/v3/authenticate` anymore.

[2021-07-28 09:37] #17553 closed

[2021-07-28 09:40] eviljeff commented on #17553
/api/auth/authenticate-callback (I forgot it was changed)

[2021-07-28 09:42] eviljeff commented on #17579
for background, what's the risk/problem if an add-on with a guid ending `@temporary-addon` is signed and installed in Firefox?

[2021-07-28 10:51] ioanarusiczki opened #17581 "500 errors when I try to delete shelves that have been enabled then disabled"
STR:
1. From the homepage shelves module I tried to delete some shelves but I run into 500 errors every time:

["Random tag test2" ](https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/homepageshelves/70/change/) which currently is disabled

![server error at delete2](https://user-images.githubusercontent.com/33448286/127310006-ec0da59e-f9b4-4562-b75d-39ea8f7757a1.gif)

2. Another

[2021-07-28 10:52] diox commented on #17451
As you can see several people have express interest but we haven't seen anything yet so it's still opened to anyone that wants to work on it.

[2021-07-28 10:57] ioanarusiczki commented on #17573
@eviljeff

On -dev:
- perhaps because of https://github.com/mozilla/addons-server/issues/16559 being fixed, I can now enable using the same position (3) as it's right now in django - multiple shelves. They're all displayed on the frontend keeping the same position if I reload the homepage.

![position](https://user-images.githubusercontent.com/33448286/127309044-2b7d4b18-8b3d-4733-ae29-1021a30ad27

[2021-07-28 11:08] ioanarusiczki commented on #17561
@diox I verified on AMO dev, it's a lot faster than before, with 6 screenshots (I could reproduce it easily with only 3 screenshots before) I did not get 404s in the network.

Verified on AMO dev with FF90(Win10).

![screenshots fix](https://user-images.githubusercontent.com/33448286/127312701-ca6fde55-baf2-4ba7-86d3-79da45c24c68.gif)

[2021-07-28 11:16] eviljeff commented on #17573
yep.  There aren't any constraints on position or enabled state so it's possible to have two enabled shelves in the same position.

There wasn't any prohibition before for deleting a `ShelfManagement` instance when it was enabled.

[2021-07-28 11:24] eviljeff commented on #17581
I know what's causing this - the old `ShelfManagement` table still exists (we don't delete it straight away to avoid failures during the deploy window) and it has a constraint that stops shelves from being deleted while they're linked to a `ShelfManagement` record.

Two solutions:
- land a late patch to just drop the constraint on the `shelves_shelfmanagement` table
- wait until next week and just

[2021-07-28 11:25] eviljeff commented on #17581
error is
[code]

[2021-07-28 12:17] ioanarusiczki commented on #17552
@diox
- I've noticed that while being authentificated in multiple tabs on different AMO pages and I manually go to https://addons-dev.allizom.org/api/v5/accounts/login/start/?config=amo&to=/en-US/firefox/ in a new tab and I reset the password from here, after changing password I will be asked to login with the new password. Meanwhile, on the other tabs opened I'll stay logged in before and after I

[2021-07-28 12:33] ioanarusiczki commented on #17552
@diox I forgot to add: the only place I'm asked to login again is in admin tools but that's been happening for a while.
I login using frontend or dev hub and than click the Admin Tools from Tools menu ->

![accounts stage](https://user-images.githubusercontent.com/33448286/127322433-8f2aad8c-ed32-4f84-933a-b0b6c7dda2b1.png)

I must take the above step again, this is happening when I log out from d

[2021-07-28 12:34] ioanarusiczki commented on #17553
@diox I checked all envs and I see /api/auth/authenticate-callback being present at a successful login. I tried to login from the frontend, dev hub, code-manager and admin tools.

[2021-07-28 12:34] diox commented on #17552
Because FxA is technically an external service for us, you keep your AMO session even when changing your FxA password at the moment. Logging you out of AMO should log you out of all your existing AMO sessions though.

[2021-07-28 12:39] ioanarusiczki commented on #17552
@diox It's working fine then.
Verified on AMO dev - FF90(Win10).

[2021-07-28 12:45] ioanarusiczki commented on #17524
@eviljeff

The new tooltip is displayed - verified on AMO stage - FF90(Win10):

![new tooltip](https://user-images.githubusercontent.com/33448286/127324222-c23a1af1-cc7a-4fc6-8d63-a48c92735789.png)

[2021-07-28 12:58] diox opened #17590 "Remove obsolete jinja helpers"
We have a bunch of obsolete jinja helpers, and some are causing some deprecation warning, so let's remove those we can find.

[2021-07-28 13:13] ioanarusiczki commented on #17479
@eviljeff
- dynamic theme has been removed from Tags
- the search API returns 13 addons tagged with "dynamic theme" on stage and 34 on -dev.

https://addons.allizom.org/api/v5/addons/search/?appversion=90.0&app=firefox&tag=dynamic theme
maybe it has not been updated in search results yet?

[2021-07-28 13:14] ioanarusiczki commented on #17526
@eviljeff Please let me know if there's something to check here too.

[2021-07-28 13:47] ioanarusiczki commented on #17478
@eviljeff

I disabled the switch `enable-mv3-submissions` and tried to submit a couple of add-ons that contain "manifest_version": 3 in manifest.json.

I get the following linter error message:

![error in mv3](https://user-images.githubusercontent.com/33448286/127332806-a508bd61-a933-47b0-b48c-b0cf305224a8.png)

[here] - redirects to https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/

[2021-07-28 13:55] ioanarusiczki commented on #17566
@diox I tested several addon submissions for https://github.com/mozilla/addons-server/issues/17478
Looks like it's working.

[2021-07-28 14:12] #17451 closed

[2021-07-28 14:54] wagnerand commented on #17579
Add-ons using that suffix are special-cased in Firefox in that certain APIs like `localstorage` are not supported (and will throw exceptions if you try to access them). Also, I saw some devtools code checking for that suffix.

We also don't know what future special handling we'd want or have to do for temporarily loaded add-ons, so it's better to be on the safe side and restrict submission for the

[2021-07-28 14:55] #17590 closed

[2021-07-28 15:33] eviljeff commented on #17479
I forced a full ES reindex and, after some delays with caching, the tags seem to be reset

[2021-07-28 17:24] jvillalobos opened #17593 "Allow more people to edit the DevHub submission announcement text"
The Developer Hub can display an announcement message on the submission page that informs developers about issues related to migrations, service interruptions, etc.

<img width="948" alt="Screen Shot 2021-07-28 at 11 21 28 AM" src="https://user-images.githubusercontent.com/62568/127367916-30b53851-7c6e-4ca9-974c-a8f7917202d2.png">

It's currently only editable as a Config in the django admin, whic

[2021-07-28 18:19] wagnerand commented on #17593
We already have a special page and permission for updating the reviewers MOTD. We could just clone that?

[2021-07-28 21:53] jvillalobos commented on #17478
@eviljeff It looks like there are some extra `[]` on the link.

[2021-07-28 23:08] eviljeff commented on #17478
Yeah... I implemented literally what you wrote in https://github.com/mozilla/addons-server/issues/17478#issuecomment-880067957 😬

[2021-07-29 09:28] diox commented on #17539
Bumping priority since the EOL of celery 4 is near.

[2021-07-29 09:42] eviljeff commented on #17593
We could.  IMO this is an admin-like task that belongs in the admin tools though (and the special page for just updating the reviewers MOTD should be removed)

[2021-07-29 09:52] eviljeff commented on #17574
for app version comparison we should be good up to Firefox 65535

[2021-07-29 09:58] diox commented on #17593
Agreed.

[2021-07-29 10:01] ioanarusiczki commented on #17535
@diox
I tested this on AMO stage - FF90(Win10):

Frontend :
- 5 consecutive PATCH operations -> Request was throttled. message is displayed at number 5
- 1 POST + 4 PATCH operations -> Request was throttled. message is displayed at PATCH nr.4
- 4 PATCH+1DELETE  -> Request was throttled. message is displayed at DELETE
- editing rating stars without text at the fifth attempt -> Request was throttled

[2021-07-29 10:18] ioanarusiczki commented on #17479
@eviljeff
Yes, on -stage I don't get results. "results": []
-dev still returns those 34.

Marking it verified, in case you're thinking of reindexing -dev too , let me know.

[2021-07-29 11:43] eviljeff commented on #17479
just did.

And thanks for noting this - when it was just stage I assumed it was a regular ES mishap but when you mentioned dev too I realised the way the tags were updated in the migration bypassed the normal triggers to update the index.  We're going to have ops also run a full reindex on prod after the push.

[2021-07-29 11:51] #17579 closed

[2021-07-29 11:52] diox commented on #17579
We've restricted submission of add-ons with IDs ending with that suffix to users with the `SystemAddon:Submit` permission

[2021-07-29 12:32] eviljeff commented on #17593
These are the Configs we set/reference in AMO code:
- `site_notice`
- `reviewers_review_motd`
- `submit_notification_warning`
- `last_dev_agreement_change_date`
- `blocklist_mlbf_generation_time`
- `blocklist_mlbf_base_id`

Before relaxing permissions, to be explicit on risks:
- The first 3 are announcement messages (entire site; reviewers; devhub submission) that have high visibility (site_notice

[2021-07-29 12:57] wagnerand commented on #17593
This has a hard-coded fallback, deleting this shouldn't break submission, but can cause us skipping agreement prompts when we shouldn't skip.

Do they need to be configs? Could that live in a global variable or so that is available to the respective code but not exposed to humans?

[2021-07-29 13:26] eviljeff commented on #17593
Configs are the global variables 😃

[2021-07-29 13:33] ioanarusiczki commented on #17478
@eviljeff Sorry at this week's pace I did not realize they're not really necessary those brackets, I will file a followup if needed.

[2021-07-29 13:57] eviljeff commented on #17478
@wagnerand had thoughts about the wording of the message in general (not using "here" in the sentence) too.  But a separate issue will be easier to manage - it doesn't seem like it needs to be a cherry pick so it'll be landing in a subsequent tag.

[2021-07-29 14:04] ioanarusiczki opened #17601 "Remove [] and maybe change "here" in the message"
Followup for https://github.com/mozilla/addons-server/issues/17478#issuecomment-889167245

MV3 error linter message must be edited:

![error in mv3](https://user-images.githubusercontent.com/33448286/127332806-a508bd61-a933-47b0-b48c-b0cf305224a8.png)

Reproducible on AMO -dev when the switch is disabled from admin.

[2021-07-29 14:10] eviljeff commented on #17601
@jvillalobos said

and then @wagnerand said:

[2021-07-29 15:26] jvillalobos commented on #17601
I think that's the right link, don't take it literally 😛

[2021-07-29 16:16] eviljeff commented on #17571
behold #17603

[2021-07-29 20:31] willdurand opened #17605 "Circle CI failure in `release-master` job"
Looks like we are not able to deploy commits merged on the `master` branch anymore. There is an `apt` error while building the Docker image:

[code]

See: https://app.circleci.com/pipelines/github/mozilla/addons-server/18275/workflows/45ad373a-2700-4b63-997e-1010864cb813/jobs/85560

[2021-07-29 21:11] diox commented on #17605
https://github.com/nodesource/distributions/issues/1241

[2021-07-29 21:21] diox commented on #17605
This is now fixed. https://app.circleci.com/pipelines/github/mozilla/addons-server/18277/workflows/79b27285-3c6f-4774-9809-20459b4e2e73/jobs/85583

[2021-07-29 21:21] #17605 closed

[2021-07-30 15:43] diox opened #17613 "Fix jinja2 deprecation warnings"
These 2 warnings come up a lot in addons-server codebase:

- `DeprecationWarning: 'jinja2.escape' is deprecated and will be removed in Jinja 3.1. Import 'markupsafe.escape' instead.`
- `DeprecationWarning: 'jinja2.Markup' is deprecated and will be removed in Jinja 3.1. Import 'markupsafe.Markup' instead.`

It's almost a straight search&replace through the code, adding an `import markupsafe` where

[2021-07-30 15:45] diox commented on #17613
To find them all `egrep 'jinja2\.escape|jinja2\.Markup' src -r` should probably be enough. Gives me 12 results right now.

[2021-07-30 16:06] diox commented on #17507
Instead of setting `addon_id` we should go the opposite direction and just store `guid` as we do now, completely ignoring `addon_id` when a `guid` is passed to the abuse report API. Then, in reviewer and admin tools, always consider all add-ons that originally had the same `guid` - even if the add-on has been deleted and a new one was resubmitted with the same guid (in that case, the abuse report

[2021-08-01 15:53] bhushan-borole commented on #17613
Hey @diox
I would like to work on this issue.

[2021-08-02 09:43] #17581 closed

[2021-08-02 09:43] #17545 closed

[2021-08-02 11:06] diox commented on #17521
This is now on stage as well.

[2021-08-02 11:36] #17507 closed

[2021-08-02 11:50] #17498 closed

[2021-08-02 13:17] ioanarusiczki commented on #17538
@eviljeff I corrected them using admin on -dev. Since the dynamic theme was handled in a different issue, I'm going to close this one.

[2021-08-02 13:17] #17538 closed

[2021-08-02 13:42] eviljeff commented on #17538
@jvillalobos were the tags on prod updated?  (and if the new tags are still under discussion do you need this issue left open?)

[2021-08-02 13:54] #17489 closed

[2021-08-02 14:39] AlexandraMoga commented on #17579
I've verified this issue on -dev and these are my results:

- users _without_ `SystemAddon:Submit` are not allowed to upload new add-ons with an ID ending with `@temporary-addon`
![image](https://user-images.githubusercontent.com/31961530/127878383-f25c0d50-b19e-483c-9b2c-5867cab4c493.png)

- users _without_ `SystemAddon:Submit`, which already have an add-on with an ID ending with `@temporary-addo

[2021-08-02 16:07] caitmuenster commented on #17390
Hey @bhushan-borole! We talked about this internally and realized this is not a good first bug. :) Could you try patching one of our other issues tagged 'good-first-bug'? Once you've landed a few patches to the server and have a better sense for how this API works, you might be able to come back to this issue. :)

[2021-08-02 16:12] eviljeff commented on #17255
We discussed this in our good first bugs meeting and have decided to wontfix it

[2021-08-02 16:12] #17255 closed

[2021-08-02 16:34] caitmuenster commented on #16752
Hi @kanish671, I am so sorry for the late response!

Yes, you've got the right idea about the UTM params for `submit\source.html`

I don't need anything for `/describe_minimal.html` because I don't see that link in the submission flow based on this screenshot from the AMO-dev environment:

![Screen Shot 2021-08-02 at 9 32 47 AM](https://user-images.githubusercontent.com/23342476/127894421-b13189ab

[2021-08-02 19:00] bqbn commented on #17529
I filed https://github.com/mozilla-services/cloudops-deployment/pull/4309/commits/9c5c87e3d5908bb86a9a5c8a62a3fce62397f3ed for this.

@diox Please have a look at the two newly added policies, `AmoApiCachePolicy` and `AmoApiOriginRequestPolicy`, and make comments on what needs to be tweaked. They're currently the same as the previous main policies.

[2021-08-02 19:38] diox commented on #17529
Thanks, I added a couple comments. Can you deploy the changes on dev when you're done ? I'll test them tomorrow.

[2021-08-02 20:53] bqbn commented on #17529
Done and pushed to -dev.

[2021-08-03 02:08] bhushan-borole commented on #16884
Hello @caitmuenster @diox
I would like to take up this issue.

[2021-08-03 10:03] diox commented on #17529
It seems to be working well. Caching for the API on dev no longer depends on cookie/user-agent header/dnt header, while regular pages still do.

Example with the homepage and user-agent:
[code]

With the API (notice you don't get a miss when you change the User Agent):
[code]

[2021-08-03 10:03] #17529 closed

[2021-08-03 12:51] AlexandraMoga opened #17629 "The addon detail card is no longer displayed in admin Abuse reports"
Follow up for #17507

### Describe the problem and steps to reproduce it:
1. Go to the Abuse Reports model in admin tools
2. Select an abuse report for a public add-on from the list - see https://addons-internal.dev.mozaws.net/en-US/admin/models/abuse/abusereport/25580/change/
3.  Notice the layout and contents displayed in the first section of the page

### What happened?
The section is called "U

[2021-08-03 12:52] AlexandraMoga opened #17630 "The Abuse Reports table on the add-on review page no longer displays the add-on name"
Follow up for #17507

### Describe the problem and steps to reproduce it:
1. Open the review page for an add-on which has some abuse reports submitted - see https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/re-re-reused-guid-abuse
2. Examine the first column in the Abuse Reports table

### What happened?
The column has an entry for the add-on version only

### What did you expect to

[2021-08-03 12:53] AlexandraMoga commented on #17507
I've verified this issue on AMO -dev and I have the following results:

- an add-on abuse report posted after an add-on has been deleted from AMO (abuse reports can be submitted from add-ons manager if the add-on was installed before being deleted) is now being recorded in the Abuse reports section on the add-on review page; an entry for the abuse report is created in admin tools as well, but this

[2021-08-03 13:09] AlexandraMoga commented on #17529
@diox before I start retesting the cache functionality, do you have some instructions that I should follow?

[2021-08-03 13:23] diox commented on #17529
Nothing in particular no

[2021-08-03 13:28] ioanarusiczki commented on #17581
@eviljeff I just deleted without problems the shelves I mentioned into this issue.
Verified on -dev FF90(Win10).

[2021-08-03 13:54] eviljeff commented on #17473
Going with Firefox 100 but we can change this closer to the launch (i.e. when the waffle switch is enabled)

[2021-08-03 15:10] caitmuenster commented on #16884
Go for it, @bhushan-borole! It sounds like you are on the right track. Go ahead and tag [@]willdurand when you have a patch up. :)

[2021-08-03 15:42] bhushan-borole commented on #16884
Hey @willdurand
I should replace https://github.com/mozilla/addons-server/blob/b17d4ce7e1f2ee036f8bd0fda94381b6c0fb9976/src/olympia/templates/photon-footer.html#L17 with https://addons.mozilla.org/en-US/about right?

[2021-08-03 16:10] #17601 closed

[2021-08-03 17:05] #17473 closed

[2021-08-03 22:15] jvillalobos commented on #17538
The tags in prod were reviewed and updated.

[2021-08-04 09:05] eviljeff commented on #17527
We decided against allowing non-textual ratings to be flagged previously, because it was almost impossible to make a decision that it was spam with any content, but I'm not sure we considered this case.  Summoning @jvillalobos

(technical note: it's a `.display_name` rather than a `.username`)

[2021-08-04 09:30] diox commented on #17629
Yes, this was done on purpose, sort of. The problem is that we can't know for sure this is the right add-on to link to. In production, the abuse reports are submitted through Firefox (unless using another browser, of course) even for AMO, and we receive the `guid`. But it could be a report against any of the deleted add-ons sharing that `guid`, we don't know! So I stopped linking to the add-on (we

[2021-08-04 09:32] diox commented on #17630
Similar to https://github.com/mozilla/addons-server/issues/17629 : because we no longer link to the add-on when it's submitted by guid, we only have the name that was submitted with the report (Firefox should include it when using the built-in abuse report function). If no name was submitted it doesn't appear here.

[2021-08-04 11:05] ioanarusiczki commented on #17601
@eviljeff
The link is opening in a new tab https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/
![linter message](https://user-images.githubusercontent.com/33448286/128170409-ff2f74ac-df95-465a-a8f6-a70c445388a4.png)

[2021-08-04 11:16] diox commented on #17539
QA: test that add-on upload and reindexing for search after changes work.

[2021-08-04 11:35] AlexandraMoga commented on #17529
I've tested the API and frontend caching in parallel to see if the functionality remained unchanged - i.e. requests being cached for ~3 minutes for unauthenticated users and bypassed for authenticated users. These functionality principles are still applicable for the endpoints and pages I've tested with.

I've also covered add-on regional restrictions and the functionality remains unchanged here a

[2021-08-04 11:55] eviljeff commented on #17528
What happens exactly?

[2021-08-04 12:01] eviljeff commented on #17035
@wagnerand are you going to take this too?  Seems like it'd be the same fix as #16455 (add a condition on rejecting versions so only approved + pending versions are rejected)

[2021-08-04 12:51] ioanarusiczki commented on #17545
@eviljeff
- same number of tags displayed in dev hub
- I could edit tags
- frontend search results with tags redirect as expected
- random-tag shelf functions as before
- the dynamic theme search results returns 0 addons on both -dev and -stage

[2021-08-04 13:09] diox commented on #17529
- A `RefreshHit` means that the CDN has that object in its cache but went to the origin to refresh it because it was potentially stale, and the origin returned the same thing the CDN had cached. This is probably happening because although you're sending an authenticated request, the response for the API you're calling doesn't differ for authenticated requests.
- Georestrictions can take a little w

[2021-08-04 13:31] ioanarusiczki commented on #17498
@eviljeff
`criteria` has been removed from the shelf API endpoint.

Verified on -dev and -stage with Postman.

[2021-08-04 13:42] bhushan-borole commented on #16885
Hey @diox
I would like to give it a try.

[2021-08-04 15:22] eviljeff commented on #17473
QA: I'm not sure how testable this is on addons-dev this far in advance - Firefox 100 won't have been added as a version yet...?  Interested to know what happens though!

[2021-08-04 15:49] jvillalobos commented on #17527
Spamming through the display name is very rare, and unlikely to be successful, so setting up a reporting mechanism just for that use case seems excessive. It would also create lots of noise from developers who don't agree with a negative rating.

I took care of that user. In the future you can message amo-admins AT mozilla DOT com to report those users, or use one of our Matrix channels. I know it

[2021-08-04 15:49] #17527 closed

[2021-08-04 15:55] #17539 closed

[2021-08-04 15:58] wagnerand opened #17644 "Make the AMO add-on ID the canonical identifier in the reviewer tools"
Currently, the slug is the canonical identifier for various parts on AMO. For the reviewer tools, we want to change that to the numerical AMO add-on ID to avoid loss of access when add-ons get deleted (which clears the slug) or the developer changes the slug.

It also removes ambiguity for add-ons that are reusing the GUID across several AMO add-on instances.

Accessing the page using GUID/slug sh

[2021-08-05 14:00] #17571 closed

[2021-08-05 16:16] #17497 closed

[2021-08-06 10:46] diox commented on #16885
The code responsible for the ratings is this helper:
https://github.com/mozilla/addons-server/blob/ebff8e2f878bc3ac2012fd56a4b8e0e1cc4247c4/src/olympia/ratings/templatetags/jinja_helpers.py#L9-L19

As you can see it `round()`s the value to the nearest integer before rendering with [this template](https://github.com/mozilla/addons-server/blob/master/src/olympia/ratings/templates/ratings/impala/revi

[2021-08-06 11:53] diox commented on #17530
@lafonth:

[2021-08-06 12:05] diox commented on #17068
Sorry this fell through the cracks and we didn't reply sooner.

This is because the API you're using is meant for signing and checking the state of an upload, which is a temporary object, and not the version, which is permanent (once the upload has passed validation).

We do have some APIs that work on versions. Head over https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#versio

[2021-08-06 12:05] #17068 closed

[2021-08-06 12:17] bhushan-borole commented on #16885
@diox

If I remove the `round()`, then it can be also `3.7` for an example. So how to handle that?

[2021-08-06 12:29] diox commented on #16885
You could round it to the closest integer or half-value. So if it's 3.7 you'd round to 3.5, if it's 3.8 you'd round to 4. This is essentially what we do in addons-frontend.

[2021-08-06 12:38] bhushan-borole commented on #16885
Okay will do that.

[2021-08-06 12:58] bhushan-borole commented on #16885
Since the CSS class names cannot contain `.`, should I just remove the `.` or replace it with `-`.
Please let me know how should I name the class
@diox

[2021-08-06 13:17] diox commented on #16885
Replacing with `-` sounds good.

To test this, first you can write a test in `src/olympia/ratings/tests/test_helpers.py` that ensures you're generating the right class names.

Then you can test the CSS part visually by using a local addons-server install to upload an add-on, making it public and going to its product page to post a few ratings, then going back to devhub to see the rating. A couple

[2021-08-06 13:19] bhushan-borole commented on #16885
That sounds good.

[2021-08-06 14:42] eviljeff opened #17658 "Remove is_webextension from API responses"
split from #17390

After mozilla/addons-frontend#10716 is fixed, addons-frontend will no longer be using is_webextension from API responses. Therefore, we can remove it from v5 of the API.

[2021-08-06 14:51] AlexandraMoga opened #17659 "Add the possibility to bypass API throttling for specific users on stage"
### Describe the problem and steps to reproduce it:
We need a way to bypass the API throttling for specific users to avoid test failures in the automated release tests - https://github.com/mozilla/addons-release-tests.
Since tests are running quite fast on CI, the ratings test suite is currently failing as it hits the API throttling.
According to @diox this should be a pretty straightforward imple

[2021-08-06 14:55] diox commented on #17659
Note: we already have a way to bypass throttling for add-on submission (have the `Langpack:Submit` permission - but we could make a new one and give it to the same group). We'd need to extend that to other APIs like ratings.

[2021-08-08 12:12] bhushan-borole commented on #16884
@willdurand  @caitmuenster Tagging you for a reminder.

[2021-08-09 06:55] ioanarusiczki commented on #17571
@eviljeff Can qa check on this?

[2021-08-09 08:46] ioanarusiczki commented on #17497
I verified on -dev some search results for 2 enabled shelves with random-tag endpoint enabled. I've noticed that:

The following search results display addons which have not been rated yet (these are some examples):
https://addons-dev.allizom.org/en-US/firefox/search/?promoted=recommended&sort=random&type=extension&tag=password%20manager
https://addons-dev.allizom.org/en-US/firefox/search/?promote

[2021-08-09 08:48] eviljeff commented on #17571
there's nothing specific to test here - it was all syntax changes.

[2021-08-09 09:04] eviljeff commented on #17497
sorry, I forgot to update the issue with the details of how this was implemented.

QA: So, right now there are no default thresholds for any of the shelves (they will function exactly the same as before).  But the criteria (the parameters) for the tag* shelf can be added to, to define whatever limits are wanted for that shelf.

`?ratings__gt=3&users__gt=1000` for a shelf would limit the results to

[2021-08-09 09:52] #17541 closed

[2021-08-09 10:30] diox opened #17667 "Remove references to deprecated Jinja extensions that are now built-in"
These warnings show up since the latest Jinja2 upgrade:

- ` The 'autoescape' extension is deprecated and will be removed in Jinja 3.1. This is built in now.`
- ` The 'with' extension is deprecated and will be removed in Jinja 3.1. This is built in now.`

We simply need to remove `jinja2.ext.autoescape` and `jinja2.ext.with_` from https://github.com/mozilla/addons-server/blob/fcc7fdb4f4fd29c2ad65d

[2021-08-09 10:46] diox opened #17668 "Replace django.utils.http.urlquote() with urllib.parse.quote()"
We want to fix this deprecation warning:

`RemovedInDjango40Warning: django.utils.http.urlquote() is deprecated in favor of urllib.parse.quote().`

It shows up in a few places in our code, the `urlquote()` calls need to be replaced and the import updated accordingly.

[2021-08-09 10:49] diox commented on #17613
@bhushan-borole if you want to fix it, I found another one: `src/olympia/amo/urlresolvers.py` uses `jinja2.utils.Markup` which should be replaced in the same way.

[2021-08-09 11:07] bhushan-borole commented on #17613
Sure I will fix it.

[2021-08-09 11:42] AlexandraMoga commented on #17473
@eviljeff here are a few of the test scenarios I've tried on -dev (btw, new firefox versions can be added via the [applications api](https://addons-server.readthedocs.io/en/latest/topics/api/applications.html))

- [MV3 extension](https://addons-dev.allizom.org/en-US/developers/addon/mv3-firefox-versions-/versions/1692842) without compatibility set in the manifest => defaults to min `100.0` - max `

[2021-08-09 12:25] #17613 closed

[2021-08-09 12:34] willdurand commented on #16884
@caitmuenster could you please file an issue in addons-frontend for any "about" page changes: https://github.com/mozilla/addons-frontend/issues/new, thanks!

[2021-08-09 13:29] #17667 closed

[2021-08-09 14:07] ioanarusiczki commented on #17539
@diox I tested today the reindex for search after making changes:
- when I'm authorized and changed: name, summary, ratings, icons, authors, deleted/disabled/invisible - the changes are immediately visible into the search results.
- unauthorized users might see the changes with a delay (except for icons and authors). For example, if an addon was deleted, it will take a while until it's not display

[2021-08-09 14:31] willdurand opened #17674 "Add `Access-Control-Allow-Origin: *` to `/__version__`"
Similar to https://github.com/mozilla/addons-frontend/issues/10822, adding the header `access-control-allow-origin: *` to the `/__version__` endpoint would allow anyone to fetch the content of this file.

[2021-08-09 15:50] bhushan-borole commented on #17668
Hey @diox
I can take a look at this.

[2021-08-09 15:59] #17490 closed

[2021-08-09 16:01] bhushan-borole commented on #17668
I believe the changes should only occur in:

`src/olympia/reviewers/views.py`
`src/olympia/versions/tests/test_views.py`
`src/olympia/amo/context_processors.py`

[2021-08-09 16:25] diox commented on #17668
That looks right.

[2021-08-09 16:36] #17644 closed

[2021-08-09 16:39] wagnerand commented on #17644
QA:

Please give the reviewer tools some general testing. Links to review pages should work, both from queues are from "external" pages like devhub or public listing page. Approving/rejecting/... should also still work. The notable difference is that for reviewer tools pages, the AMO numerical ID is now used in review urls, if you pass an add-on slug or an add-on GUID, it should redirect to the nu

[2021-08-09 16:50] #17674 closed

[2021-08-10 07:30] AlexandraMoga commented on #17674
The `access-control-allow-origin:  *` response header is now present in https://addons-dev.allizom.org/__version__

[2021-08-10 09:46] diox commented on #17659
QA: users part of a group that has the `Ratings:BypassThrottling` permission will bypass ratings API throttling once this lands. This is going to be available in all environments.

[2021-08-10 09:53] #17668 closed

[2021-08-10 10:04] #17659 closed

[2021-08-10 11:27] #17390 closed

[2021-08-10 11:35] eviljeff opened #17682 "create db migration to drop is_restart_required column"
follow on from #17390 that must land in a subsequent tag/deploy to #17675

[2021-08-10 11:43] ioanarusiczki commented on #17497
@eviljeff

- I've noticed the API search endpoint working, for example:

https://addons-dev.allizom.org/api/v5/addons/search/?type=extension&ratings__gte=1&users__gt=500
result: 4 addons (one has a 1 star rating and the others are above 3.5)

https://addons-dev.allizom.org/api/v5/addons/search/?type=extension&ratings__gt=3.5&users__gt=500
result: 3 addons

I also get 3 addons into the response for

[2021-08-10 12:23] ioanarusiczki commented on #17539
@diox I uploaded listed/unlisted versions of an extension, theme, dicts and lang pack without errors.

I verified this issue on AMO dev - FF90(win10).

[2021-08-10 12:37] ioanarusiczki commented on #16884
@willdurand If I understood correctly, "Report a bug" should redirect to https://addons.mozilla.org/about

On AMO dev I still get the 404

![report a bug404](https://user-images.githubusercontent.com/33448286/128867864-a5bdf0ce-0c19-4a2d-abc5-f5ce0356d403.gif)

[2021-08-10 12:39] willdurand commented on #16884
mmm right, the wrong footer was updated :(

[2021-08-10 13:22] diox opened #17685 "Remove all references to `hide_mobile_link`"
https://github.com/mozilla/addons-server/blob/1866acfb854069c63ed23487cbd5bb291ff130f8/src/olympia/templates/copyright.html#L14-L16 contains a reference to the "new site" behind a `if not hide_mobile_link` condition.

That variable should always be `True`, the link should never be shown, it hasn't been useful in years. Let's remove that block, and all code related to that variable everywhere (othe

[2021-08-10 13:27] #16884 closed

[2021-08-10 13:45] ioanarusiczki commented on #17390
@eviljeff
- "is_restart_required" was removed into addon detail, version and search APIs - v5
- it is still available in v4

Verified on AMO dev with Postman.

[2021-08-10 13:58] AlexandraMoga opened #17686 "Review History in Devhub Manage versions page is broken due to a CSP error"
### Describe the problem and steps to reproduce it:
1. Log into the developer hub with a developer account
2. Open the Manage versions page for one of your add-ons
3. Click on Review History in the version details

### What happened?
The review history is not retrieved (see screenshot). I also have the following error in the console:
[code]

### What did you expect to happen?
The add-on review his

[2021-08-10 13:59] diox commented on #17686
Very likely related to the CDN work.

[2021-08-10 14:17] diox commented on #17686
This is because we're using DRF's `reverse()`, which uses `request.build_absolute_uri(url)` on a `request` that has the "true" underlying origin host (`amo.stage.mozaws.net` for stage) instead of the one we expose to the outside world (`addons.allizom.org` for stage)

Using DRF's `reverse()` is good. We should fix the CDN config to send the right `Host` though.

[2021-08-10 15:07] AlexandraMoga opened #17687 "Addon review pages can't be accessed by using the add-on guid in the url"
Follow up for #17644

### Describe the problem and steps to reproduce it:
Try to access an add-on review page by using the add-on guid in the url - see https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/gmailnoadabc@mywebber.com for example

### What happened?
The add-on review page is not loaded. I have 21 redirect attempts in the browser console but none of them are completed. Event

[2021-08-10 15:13] AlexandraMoga commented on #17644
I've verified this issue on -dev for the following areas:
- Reviewer tools: queues, review actions (Approve, Reject, Replies, Comments etc), admin actions
- DevHub - links to the listed and unlisted add-on review page available to users with the required permissions
- admin tools - I've verified that the add-on review page linked in emails triggered by actions from reviewer tools (like reviewer re

[2021-08-10 16:32] eviljeff opened #17689 "Allow the current tag to be referenced in shelf copy"
For a homepage shelf with an endpoint type `random-tag` we might want to craft a title or footer_text referencing the random tag returned, but this isn't possible.  We should add support for specifying a `{tag}` token or similar in strings.

[2021-08-10 19:33] snifhex commented on #17685
I would like to work on this, Can you assign it to me ?

[2021-08-11 08:47] AlexandraMoga commented on #17659
Users that have the `Ratings:BypassThrottling` permission will not run into the API throttling while interacting with the ratings functionality. Once the permission is removed, throttling applies as before.

This is verified fixed on stage. Thanks Mat!

[2021-08-11 09:20] ioanarusiczki commented on #17497
@eviljeff

Yeah, that was a problem but now I added the first 10 tags on addons with ratings and ADU, they're not too many but I could get 4 to make a shelf. I added and enabled now 2 random tag shelves with django.

For now, frontend returns more results than the API search endpoint, examples are below:

https://addons-dev.allizom.org/en-US/firefox/search/?ratings__gte=3&users__gt=500&tag=content

[2021-08-11 09:54] ioanarusiczki commented on #16884
@willdurand
Ok, right now on Manage my submissions or edit addon pages - Report a bug redirect to https://addons.mozilla.org/en-US/about

There's also the Report a bug from the footer of the dev hub page https://addons.mozilla.org/en-US/developers/ which will redirect to https://addons.mozilla.org/en-US/about. Before this change this link redirected to https://developer.mozilla.org/en-US/docs/Mozi

[2021-08-11 10:03] willdurand commented on #16884
Yep

[2021-08-11 10:37] diox opened #17692 "Remove reviewers "performance" view"
The Add-on Reviewers Performance view (https://reviewers.addons.mozilla.org/en-US/reviewers/performance/) shows a graph of the number of reviews done by a reviewer (yourself if you don't have special permissions, with `REVIEWS_ADMIN` you get a list of reviewers to choose from) over time. It also shows a breakdown of reviewer point scores for the user.

The graph in particular has never been update

[2021-08-11 10:46] #16489 closed

[2021-08-11 11:17] eviljeff commented on #17497
@ioanarusiczki mmm, yes, looks, like the new query params aren't passed on to the api by frontend (it was too good to be true to expect it to just work!).  I'll log a follow-up issue for addons-frontend.

[2021-08-11 12:54] ioanarusiczki commented on #17497
@eviljeff Ok, then I'm marking this verified.

[2021-08-11 13:06] eviljeff commented on #17490
I guess this is a QA- unless @wagnerand has ideas.

[2021-08-11 13:12] willdurand commented on #17490
I also think we cannot come up with good STR for QA.

[2021-08-11 13:13] #17687 closed

[2021-08-11 14:13] AlexandraMoga commented on #17687
URLs using the addon guid are now being properly redirected to the add-on ID - https://reviewers.addons.allizom.org/en-US/reviewers/review/{f41bdc30-ed68-425c-b9c2-421f38da6674} redirects to https://reviewers.addons.allizom.org/en-US/reviewers/review/619359

This issue is verified fixed on stage.

[2021-08-11 15:22] eviljeff commented on #16493
we deployed django3.2 a few weeks back and have already removed support for earlier versions of django so calling this done!

[2021-08-11 15:27] eviljeff commented on #16013
Haven't seen this happening in a long time so closing (cue intermittent tomorrow!)

[2021-08-11 15:27] #16013 closed

[2021-08-12 03:34] ajs256 commented on #10366
Hi there, can I work on this?

I can't seem to find in the codebase where these emails are sent, could someone point me there?

[2021-08-12 08:17] AlexandraMoga commented on #17490
I did not find regressions in the blocklisting functionality. This issue is verified fixed on stage.

[2021-08-12 08:34] diox commented on #17686
This should be fixed now, we've configured the CDN to forward the `Host` header and nginx to handle it in the requests.

QA : on top of the existing problem you found, can you verify that the signing API works on -dev ? (the fix hasn't been deployed to stage yet, but it's not something that should matter for production, which isn't behind the CDN yet)

[2021-08-12 08:44] #16701 closed

[2021-08-12 10:58] eviljeff commented on #10366
in the `ReviewBase` class.

[2021-08-12 16:55] ajs256 commented on #10366
Ok, I found that class (`src/olympia/reviewers/utils.py` line 768).

I'm following the docs, and I tried to run `make initialize`, but it repeatedly yells at me about this:
[code]
I figured it was just a warning, not an error, so I kept it going, and then I see this:

[code]

Could I get a hand in figuring this out? Thanks!

[2021-08-12 17:10] eviljeff commented on #10366
One or more of the docker containers probably isn't running (`docker-compose ps`) but it's not practical to debug setup problems over github issues.  Come talk to us on Matrix in https://chat.mozilla.org/#/room/#amo:mozilla.org

[2021-08-12 17:21] ajs256 commented on #10366
Sorry, but I have to leave this issue for someone else to take on.

[2021-08-13 09:32] ioanarusiczki commented on #16701
@eviljeff I sent some API requests for https://addons.allizom.org/api/v5/shelves/
- for a random-tag shelf or a collection I could see "addons": [] when there are no results, so it's not "null" which proves that there's always a list returned.
- primary and secondary hero shelves always return at least one result - I could not disable all results using the admin.

Verified on AMO dev with Postman.

[2021-08-13 09:48] #17692 closed

[2021-08-13 10:10] #16753 closed

[2021-08-13 10:13] eviljeff commented on #16753
QA: there were only 2 links left to change in the end - the rest must have been picked up in other issues.
- the source code submission link in the upload flow (or the edit version page maybe?)
- the developer policies link in the footer in devhub (the landing page footer, I believe)

[2021-08-13 10:21] #17689 closed

[2021-08-13 14:00] wagnerand opened #17708 "Recommended queue is not shown for users with `ReviewerTools:View`"
### Describe the problem and steps to reproduce it:

User has `ReviewerTools:View` permission.

### What happened?

https://reviewers.addons.mozilla.org/en-US/reviewers/ does not show "Recommended".

### What did you expect to happen?

https://reviewers.addons.mozilla.org/en-US/reviewers/ shows "Recommended".

cc @tublitzed

[2021-08-13 14:18] #17708 closed

[2021-08-13 15:24] #16724 closed

[2021-08-13 16:38] eviljeff opened #17710 "/shelves/ api response is a 500 on addons-dev for non- en-US locales"
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/12405566/

regression from https://github.com/mozilla/addons-server/commit/0fb83d53e58af4d9d455e98c1b9ee6164ce72545

Needs to be fixed before next release.

[2021-08-13 16:39] eviljeff commented on #17710
The cause is the dict of locales for title / footer.text can have `none` values if a request is made for translations in a locale that we don't have yet.

[2021-08-16 09:41] AlexandraMoga opened #17712 "The api should be returning the canonical url for tags"
### Describe the problem and steps to reproduce it:

From https://github.com/mozilla/addons-frontend/issues/10835#issuecomment-898588349:

https://addons-dev.allizom.org/en-US/firefox/search/?ratings__gte=3&users__gt=500&tag=word%20counter
Only after refreshing the page - I'll get the same content but the URL is:
https://addons-dev.allizom.org/en-US/firefox/tag/word%20counter/?ratings__gte=3&users

[2021-08-16 10:29] AlexandraMoga commented on #17686
The Review history is now displayed in Devhub Manage versions:
![image](https://user-images.githubusercontent.com/31961530/129549929-59bc97a8-3c74-4665-83ca-cf720073ed8e.png)

The signing API is also working on -dev. I've verified both the `POST /addons/` endpoint to submit new add-ons and the `PUT /addons/versions/` endpoint to upload new versions to existing add-ons.

This issue is verified fixe

[2021-08-16 11:33] AlexandraMoga opened #17721 "New versions don't appear in the Manage versions list after submission"
### Describe the problem and steps to reproduce it:
1. Log in with a developer account on AMO -dev
2. Open the Manage versions page for one of your add-ons and make a note of the versions available in the list
3. Click on Upload a new version
4. Finish the submission process
5. Open the Manage versions page again and notice the versions available in the list

### What happened?
The new submitted v

[2021-08-16 12:03] AlexandraMoga commented on #17708
Users with `ReviewerTools:View` can now access the Recommended queue in view only mode.

[before fix]
![image](https://user-images.githubusercontent.com/31961530/129560642-c2c5a2dc-f29a-4b75-9eb0-aa90570ad967.png)

[after fix]
![image](https://user-images.githubusercontent.com/31961530/129560756-651835df-92cf-446d-9b52-9f378a35859b.png)

[2021-08-16 12:31] AlexandraMoga commented on #17692
The Performance page is no  longer present on the reviewers dashboard and the page will 404 if accessed by direct link - https://reviewers.addons-dev.allizom.org/en-US/reviewers/performance/

This issue is verified fixed on -dev.

[2021-08-16 13:38] AlexandraMoga commented on #17689
The `{tag}` placeholder can be added in Homepage shelves - in shelf title and footer text -  with endpoint `random-tag`.  Frontend tag shelves will display the actual tag for the matching results:

![image](https://user-images.githubusercontent.com/31961530/129572587-b241fc1f-5ca7-4ca0-9536-3b8558486a3b.png)

When used in other endpoints, the `{tag}` placeholder has no effect - i.e. it's interpret

[2021-08-16 13:48] AlexandraMoga commented on #16724
@eviljeff does this issue refer to the Mozilla Add-ons Community Blog imports we use in DevHub in various places? If that is the case, those links and sections are still working as before.

An example:
![image](https://user-images.githubusercontent.com/31961530/129574018-88b65107-8e56-4bb8-a7d3-cbcf68ff28a6.png)

[2021-08-16 13:50] AlexandraMoga commented on #16491
@eviljeff do you have any QA instructions for this?

[2021-08-16 13:51] AlexandraMoga commented on #16489
@eviljeff does this require QA?

[2021-08-16 14:02] eviljeff commented on #16724
@AlexandraMoga it does.

[2021-08-16 14:28] AlexandraMoga opened #17723 "Add 'utm' parameters to the Source code submission links"
Follow up for #16753

### Describe the problem and steps to reproduce it:
The links for Source code upload displayed in the add-on submission flow should be:
https://extensionworkshop.com/documentation/publish/source-code-submission/?utm_source=addons.mozilla.org&utm_medium=devhub&utm_content=submission-flow

Currently, the links are pointing to https://extensionworkshop.com/documentation/publish/

[2021-08-16 14:29] AlexandraMoga commented on #16753
The source code submission links from `/developers/addon/{addon}/submit/source` are now pointing to https://extensionworkshop.com/documentation/publish/source-code-submission/  - note that there are no `utm` parameters specified - filed #17723

The Developer policies link for the DevHub landing page footer is  pointing to https://extensionworkshop-dev.allizom.org/documentation/publish/add-on-polic

[2021-08-16 14:40] diox opened #17725 "Remove reviewers queue search functionality"
Some old reviewer tools queues allow searching through them, but that functionality isn't actually used at the moment according to @wagnerand and makes #15431 more difficult. Let's remove it.

[2021-08-16 16:28] #17685 closed

[2021-08-16 17:11] eviljeff commented on #16491
It should be a transparent change, but if there is any breakage it'll be noticeable when logging in via FxA.
Additionally: check logging in via the code manager too.

[2021-08-16 17:12] eviljeff commented on #16491
Also, there's a use in the scanners admin but I'm not clear how it's used.  Maybe @willdurand can suggest a QA step for that (when he's back from PTO - it's not a priority)

[2021-08-17 08:59] AlexandraMoga commented on #16491
I didn't have issues logging in and the scanners admin seems to still work generally.

[2021-08-17 10:03] #16497 closed

[2021-08-17 10:13] eviljeff commented on #16489
I can't think of any specific QA here, so marking as QA not needed

[2021-08-17 10:14] #17710 closed

[2021-08-17 10:19] diox opened #17727 "Extract client IP from request headers when behind the CDN"
When behind the CDN, we can no longer use `REMOTE_ADDR` directly as nginx is passing it, because it will be the CDN's. Instead we need to use `HTTP_X_FORWARDED_FOR`, but only if the request actually came from the CDN - if it was a direct request to the origin (which can happen as the origin is public, though we don't advertise its domain) we want to continue using `REMOTE_ADDR`.

This is important

[2021-08-17 10:28] #17725 closed

[2021-08-17 11:17] AlexandraMoga commented on #17710
The shelves API is now returning results when the `lang` parameter is present -  https://addons-dev.allizom.org/api/v5/shelves/?lang=pt-BR

The frontend homepage is also loading - there is no 500 error anymore.

This issue is verified fixed on -dev.

[2021-08-17 11:57] diox commented on #17727
Quick & dirty summary for future reference:

When we're behind the CDN, the actual client IP is in `HTTP_X_FORWARDED_FOR`... second to last. The last being the IP of the CDN server that made the request to the origin, because we also have a load balancer between nginx and the CDN.

When we're dealing with the origin directly, we only go through the load balancer, so the client IP is in  `HTTP_X_FO

[2021-08-17 12:13] wagnerand opened #17734 "IP search times out"
### Describe the problem and steps to reproduce it:

Follow up of #14547.

### What happened?

`models/users/userprofile/?q=<IP>` times out with 504.

### What did you expect to happen?

No timeout, results are displayed.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2021-08-17 12:29] AlexandraMoga commented on #17725
The search filed has been removed from the following queues: Recommended, Other Pending Review, Themes (New and Updates), Unlisted.

The queues are still loading and working as before.

This issue is verified fixed on -dev.

[2021-08-17 13:09] AlexandraMoga commented on #16497
@eviljeff does this require QA?

[2021-08-17 13:31] eviljeff commented on #16497
No, it's purely database related.

[2021-08-17 15:09] diox commented on #17727
QA: verify that your IP is recorded properly when you make requests to endpoints that record it (add-on upload, ratings, logging in)

[2021-08-17 22:58] diox commented on #17727
(Re-opening temporarily because the secret necessary for this to work isn't on dev yet. Note that this shouldn't affect stage or prod at the moment even when it lands there.)

[2021-08-18 08:37] #16493 closed

[2021-08-18 18:51] #17727 closed

[2021-08-19 08:37] #16513 closed

[2021-08-19 08:42] eviljeff commented on #17318
Needs an issue to remove support on frontend too.

[2021-08-19 10:20] diox commented on #17340
QA: on top of testing https://github.com/mozilla/addons-server/issues/17721 please make sure logging in and out multiple times with different users in quick succession with the same browser work fine.

[2021-08-19 10:44] #17712 closed

[2021-08-19 11:07] #17340 closed

[2021-08-19 11:07] #17721 closed

[2021-08-19 15:47] #15431 closed

[2021-08-19 15:49] diox commented on #15431
QA: check that queues in reviewer tools work as before, paying special attention to the ordering, if flags and latest version information shows up correctly, as well as links. Also, there shouldn't be any performance regressions, including for unlisted queue, which hopefully is marginally faster (though it may not be apparent on dev)

[2021-08-20 12:23] AlexandraMoga commented on #17727
I've verified the IP records on -dev and these are my results (I've switched IPs to make sure that the changes are properly recorded in such scenarios as well):

- the IP is correctly recorded when a user logs in - I've checked the Last login ip filed in users admin
- the IP is correctly recorded when a submission restriction is hit, like `DeveloperAgreementRestriction` or `IPNetworkUserRestrictio

[2021-08-20 13:08] AlexandraMoga commented on #17721
New submitted versions are now present in the Manage versions page immediatelly after submission. Also, references to version changes accross DevHub are properly reflected.

The html response header for these pages is now always returning  200 + `x-cache: Miss from cloudfront`

This issue is verified fixed on -dev.

[2021-08-20 13:44] AlexandraMoga commented on #17340
I've tried multiple login/logouts on -dev, with different users in the same browser and I haven't run into issues.

I know there was an issue which was mostrly reeproducible on stage  - #17546 - so I'll double check with stage when this patch lands there.

[2021-08-20 14:42] diox commented on #17734
We have plans to improve perf in https://github.com/mozilla/addons-server/issues/17504 but we were hoping to have the admin search work - even if slow - before doing that.

Maybe an alternative would be to implement a new binary field side by side with the existing string field instead, leaving the possibility for manual queries...

[2021-08-20 14:59] diox commented on #17528
This doesn't lead to an error - the file is signed correctly, the ID provided in the URL is completely ignored. If the developer was making a manual API query (without `web-ext`) and they don't realize their mistake, they won't be able to check the status of their add-on.

We already have checks ensuring the version provided in the URL matches the manifest, but it looks like we're missing one for

[2021-08-21 03:22] #16381 closed

[2021-08-21 03:22] #16458 closed

[2021-08-21 03:22] #16398 closed

[2021-08-21 11:12] wagnerand commented on #17528
This issue was originally reported on [discourse](https://discourse.mozilla.org/t/duplicate-add-on-id-found-when-posting-update-via-api/80683).

Some matrix chat follow up (May 27, 2021):

Andreas:
so first we determine that this must be a new add-on because the ID in the URL does not exist yet, and then we take the GUID from the manifest and realize there is already an add-on with that GUID
Found

[2021-08-21 12:04] diox commented on #17528
Ah yes, for an update it would lead to an error. When I tested this before posting my comment above I used with an entirely new add-on, didn't remember this discussion on Matrix :)

[2021-08-23 08:48] eviljeff commented on #17528
does the linter check for the correct GUID format in the manifest if defined?

fwiw, for #7811 I won't be reimplementing the "feature" where you can specify a guid in the url to create a new add-on - if your add-on needs a specific url then specify it in the manifest like every other piece of metadata.

[2021-08-23 09:29] diox commented on #17528
[Yes](https://github.com/mozilla/addons-linter/blob/c4348a28829ac8cd214f2202f7f796c8a24878bd/src/schema/imported/manifest.json#L713).

[2021-08-23 09:40] wagnerand commented on #17528
For the record, this is about validating the GUID that is passed to the signing API.

[2021-08-23 11:59] diox commented on #17366
`pipdeptree` agrees it shouldn't be required by anything anymore.

[2021-08-23 12:33] diox commented on #17734
Closer inspection of the query reveals that... none of the columns are indexed (!). For some reason I thought they were. So there is some hope...

[2021-08-23 14:44] #17366 closed

[2021-08-23 14:45] diox commented on #16562
QA: the "Cancel and Disable Version" functionality should still be present in both channels but it should only affect the channel of the version that was just submitted.

[2021-08-24 09:17] AlexandraMoga commented on #16562
@diox I don't think "Cancel and Disable Version" works as expected for listed submissions if you follow these steps:

1. Submit a new listed add-on
2. Click on "Cancel and Disable Version" in the Source code upload page

Results: you land on the [submission/detail](https://addons-dev.allizom.org/en-US/developers/addon/devhub-listed-ext-05133/submit/details) form
Expected: you land on the Manage ve

[2021-08-24 09:29] diox commented on #16562
Wow, that's weird...

[2021-08-24 10:05] ioanarusiczki opened #17766 "reviewer queues throw a 500 server error when trying to sort by ?sort=addon_type"
Followup for https://github.com/mozilla/addons-server/issues/15431

Queues with ?sort=addon_type such as Recommended or Other pending review, recently introduced into /reviewers/unlisted_queue/pending_manual_approval - return a 500 server error when the sorting option is used

![500inqueues](https://user-images.githubusercontent.com/33448286/130598260-b1f2c8a9-6c92-4a45-aeaf-6828d717f26c.gif)

Thi

[2021-08-24 10:20] ioanarusiczki commented on #15431
@diox I filed an issue https://github.com/mozilla/addons-server/issues/17766
Except for that it should be good. I think there's a better performance in loading the queues overall, compared to stage.

[2021-08-24 13:03] ioanarusiczki commented on #16513
@eviljeff
- the message has been updated to "Can be set to override the default generated footer url/path to see more of the add-ons shown on the shelf. Leave blank otherwise"
- adding blog pages into the field such as `blog/too-many-open-tabs-extensions-to-the-rescue/`will open the blog pages into a new tab (this has been modified into https://github.com/mozilla/addons-frontend/issues/10721). Ext

[2021-08-24 14:11] #16562 closed

[2021-08-24 15:47] eviljeff opened #17772 "Allow tags to be enabled/disabled for shelf rotation"
We want to be able create tags for developers to choose from, but stop them from being randomly chosen for homepage inclusion (until there are enough add-ons tagged with the tag, etc)

[2021-08-24 19:30] #17734 closed

[2021-08-25 07:06] ioanarusiczki commented on #17712
@eviljeff This is fixed on -dev - FF90(Win10).

![cannonical urls1](https://user-images.githubusercontent.com/33448286/130742677-b3ff9025-5ba4-46dc-b4a8-0571833613ca.gif)

[2021-08-25 10:16] AlexandraMoga opened #17774 "Clicking "Cancel and Disable Version" in the submit details form after receiving a form error will trigger a 404"
### Describe the problem and steps to reproduce it:
1. Upload a new listed add-on
2. Proceed with the submission until you reach the submit details form
3. Edit the add-on name in the submission form (this will also determine the add-on slug)
4. Trigger a form error by leaving some mandatory fields empty (i.e. Summary, Category, License)
5. Click on Submit Version and observe the form error being

[2021-08-25 10:18] AlexandraMoga commented on #16562
I've verified this issue on stage for the following scenarios:

- uploading a listed add-on and selecting "Cancel and Disable Version" in the Source code upload page => user lands on the Manage versions page where the version status is "Disabled by Mozilla"
- uploading a listed add-on and selecting "Cancel and Disable Version" in the submission detail form => user lands on the Manage versions page

[2021-08-25 10:26] diox commented on #17774
Should be an easy fix, using the addon `id` instead of the `slug`... assuming we deal with the redirection correctly (since it's a `POST`)

[2021-08-25 12:03] #17766 closed

[2021-08-25 12:07] diox commented on #17766
QA: I'm going to completely disable this sort option as it doesn't make much sense in prod.

[2021-08-25 12:41] AlexandraMoga commented on #17340
I did not run into login issues on stage either.

I'm marking this issue as verified fixed.

[2021-08-25 13:19] #11135 closed

[2021-08-25 13:21] diox commented on #11393
This has been rejected upstream and there is no interest to pursue this on our side anymore at the moment.

[2021-08-25 13:21] #11393 closed

[2021-08-25 14:00] eviljeff opened #17782 "rm blocklist legacy import integration"
We have integration that imports the legacy, v2, blocklist from remote settings, Now the import cron job is disabled and no longer used we can remove all the code.

[2021-08-25 14:01] eviljeff opened #17783 "add tag pages to sitemap"
Lets expose tag pages to the sitemap now they're launched on frontend and linked in the addon details pages.

[2021-08-25 15:19] diox commented on #17242
QA: try submitting a small (< 2.5 MB zip), large (> 2.5 MB zip) and extra large (> 7MB) theme with the API and with devhub. The small and large should succeed, the extra large should return a validation error (as per #9305).

[2021-08-25 15:29] dacodas commented on #17242
Thanks, y'all!!

On Wed, Aug 25, 2021, 10:19 AM Mathieu Pillard ***@***.***>
wrote:

[2021-08-25 17:11] eviljeff opened #17784 "Add Tags admin to discovery edit permission"
Scott needs to be able to add/remove tags as part of the homepage editorial process.

[2021-08-26 12:03] diox opened #17792 "Remove `binary` and `binary_components` fields from `File`"
`binary_components` and `binary` are fields that amo-validator used to set on legacy add-ons when they had... binary components/extension content, which used to be a thing you could do with XUL add-ons

This is not applicable to webextensions, addons-linter never sets these flags, and as a result we don't have any add-ons in the database anymore with those fields set to `True`, they should be remo

[2021-08-30 08:19] ioanarusiczki commented on #17242
@diox nevermind, I just found what's been causing this with Postman, looks like the Content-type multipart/form-data is a default now, but I was adding it manually into Headers and it was causing a 500. I got now a 201 response so I'll continue testing.

[2021-08-30 09:02] renovate[bot] opened #17801 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] Lock file maintenance

## Detected dependencies

<details><summary>npm</summary>
<blockquote>

<details><summary>pack

[2021-08-30 11:18] #17530 closed

[2021-08-30 11:26] diox commented on #8226
Right, this has worked on the API side for quite a while now - because of 356844f5153

[2021-08-30 11:26] #8226 closed

[2021-08-30 11:29] ioanarusiczki commented on #17242
@diox
1. I made several POST requests for https://addons-dev.allizom.org/api/v5/addons/ with JWT Authorization:
- 201 Created for themes in all cases except for >7MB when I get a 400 "Maximum size for WebExtension themes is 7.0MB."
- the error message is also present and validation will not pass for a theme >7MB(zip). Except for that, dev hub submissions are working.
2. I sent some PUT requests su

[2021-08-30 11:48] diox commented on #10416
I was unable to find if it was just introduced by 33eba49767f8e3032eae7671ec8531d9d1b56859 or if it's older, but we do have a database constraint nowadays:
https://github.com/mozilla/addons-server/blob/12301a60c69d301283a6e03a89e534bb17cc92e0/src/olympia/ratings/models.py#L142-L145

Since `version` and `user` are foreign keys, this does prevents you from submitting multiple reviews from the same v

[2021-08-30 12:14] #16490 closed

[2021-08-30 13:19] ioanarusiczki commented on #17766
@diox The filter has been disabled for all queues. Verified on AMO dev - FF91(Win10).

[2021-08-30 14:12] diox opened #17810 "Remove `binary_components` and `binary` columns from the `files` table"
https://github.com/mozilla/addons-server/issues/17792 will remove the `binary_components` and `binary` fields from the `Files` model, we then need to create the database migration dropping the columns them in a follow-up push.

[2021-08-31 09:15] #17792 closed

[2021-08-31 09:57] ioanarusiczki commented on #17734
@diox I tried on both testing severs reproducing a timeout with models/users/userprofile/?q=<IP> , with a single and then multiple IPs.

I've noticed that it takes some time for the queries to return the page with results but I never ran into a timeout.

Maybe @wagnerand will confirm it for prod.

[2021-08-31 10:21] oreo2107 commented on #17774
I want to work on this issue can you please guide me where should I start with?

[2021-08-31 11:41] ioanarusiczki commented on #16822
@diox
I verified this on AMO dev, FF90(Win10):
- for the primary image, the URL now contains a  - `?modified=1595314352` parameter.
2 examples:
https://addons-dev-cdn.allizom.org/user-media/hero-featured-image/200.jpg?modified=1595314352
https://addons-dev-cdn.allizom.org/user-media/hero-featured-image/19e9581dbdc756a2dbbb38ae39a3419c_zbdkxDV.jpg?modified=1594118938
https://addons-dev-cdn.allizom.

[2021-08-31 13:17] #17772 closed

[2021-08-31 13:17] #17784 closed

[2021-09-01 10:28] diox opened #17826 "Open RTAMO flow to all listed add-ons"
RTAMO allows an user installing Firefox to be prompted to install the add-on they installed Firefox from (on Windows). This is limited to badged add-ons at the moment, and we want to extend it to all listed.

This needs to be guarded by a separate waffle switch so that the feature can be turned off. The switch needs to be different from the one guarding the RTAMO feature itself, so that RTAMO can

[2021-09-01 11:53] ioanarusiczki commented on #17792
@diox If I can verify this issue please add some str.

[2021-09-01 12:06] ioanarusiczki commented on #17772
@eviljeff
- using `admin/models/tags/tag/` I could disable/enable tags, so far frontend looks good - it returns into the random-tag shelves only the enabled tags (I left on dev the first 10 tags in descending order after the number of addons).
- as a note: tags can be enbled or disabled one by one - multiple selections for enabling/disabling actions is not possible (at least not yet)
- the addons

[2021-09-01 12:20] ioanarusiczki commented on #17784
@eviljeff

- With a mozilla e-mail address, an account with Admin:Tools,Discovery:Edit permissions can access the Tags module and enable/disable tags.
- only with Discovery:Edit the account cannot access the admin tools so in order to test this I added the user to Discovery Recommendations Editors group on -dev.

[2021-09-01 12:33] eviljeff commented on #17772
can you expand on this point?  Locally I see check boxes next to each Tag and I can change multiple and press the save button to enable/disable multiple.

[2021-09-01 13:28] eviljeff opened #17828 "fix failing `test_temporary_worktree` test"
Since https://github.com/mozilla/addons-server/commit/fdfc355fa18237752285c99d6628b369138a72fd CI has been failing with a single test - `test_temporary_worktree`.

First thoughts were that the pytest bump from 6.2.4 to 6.2.5 was to blame but when that reverting that didn't fix it, further investigation pointed to a python upgrade from 3.8.11 to 3.8.12 (we don't specify the minor python version in

[2021-09-01 14:01] diox commented on #17828
That test confuses me - it's trying to do `git worktree list` but at this point I don't think there is any guarantee a worktree has been set up at all ? And if there is one, it might be from another test ? I tried to address this in https://github.com/mozilla/addons-server/pull/17829 but it still failed, despite passing locally.

For the moment we should probably skip it.

[2021-09-01 14:41] ioanarusiczki commented on #17772
@eviljeff Sorry that came out the wrong way. What I meant was a check-box to select/deselect all (such as other admin models have, for example in user profile).  To select/deselect multiple choices is possible, the checkboxes are available.

[2021-09-01 15:15] diox commented on #16269
While tests pass, `pygit2`, which we've [pinned to < 1.2.0](https://github.com/mozilla/addons-server/blob/68d8a820a1924e1c4a95f6351010d2c21fed5a61/.github/dependabot.yml#L24-L26), have this in their docs:

<p>The table below summarizes the latest pygit2 versions with the supported versions
of Python and the required libgit2 version.</p>
<div class="wy-table-responsive">

pygit2 | Python | libgit2

[2021-09-01 15:22] eviljeff commented on #16269
https://github.com/mozilla/addons-server/tree/16269-python39 (and the more recent attempt https://github.com/eviljeff/olympia/commit/98b81cee6c891846591ee2b1871a93520e82a018) upgrades pygit2 to 1.4 at the same time.  iirc, tests failed otherwise.

[2021-09-01 15:40] diox commented on #17828
CircleCI's `cimg/python:3.8.12` image is built from `cimg/base:2021.07`.  `cimg/python:3.8.11` image was built differently, from `cimg/base:2021.04`. This is visible in this commit: https://github.com/CircleCI-Public/cimg-python/commit/9c3e961350aa1bbafd27bd10a5827c4dac6f6bc6

It matters, because although it's the same version of Ubuntu underneath, it's not the same version of `git`: https://githu

[2021-09-01 18:19] caitmuenster opened #17831 "Update copy for submission flow"
We are updating the copy on the submission flow pages to help better set expectations about what happens after a new version has been submitted.

Copy updates are included in this issue. To see my formatting recommendations and a comparison of current version/updated version, see [this doc](https://docs.google.com/document/d/1U6MfvPUuXF4qOaIiKU1yRBDfxptWqDkzaOYNOu_jS5M/edit#).

---

## Step 1 - di

[2021-09-02 08:38] #17783 closed

[2021-09-02 08:55] eviljeff commented on #17831
(added the step names used in the urls/view functions)

[2021-09-02 09:40] #17828 closed

[2021-09-02 10:10] AlexandraMoga opened #17836 "Users with expired sessions can't access add-on detail pages"
### Describe the problem and steps to reproduce it:
1. Open AMO homepage and log in
2. Open a new tab and log out
3. Return to the first tab - where you still appear as logged in - and try to open an add-on detail page

### What happened?
The detail page can't be accessed and I can see the following errors in the browser console:
[code]
### What did you expect to happen?
Since the [addon detail](h

[2021-09-02 10:37] diox commented on #17836
This is really a frontend issue IMHO, but it may be tough to fix. It's a similar issue as https://github.com/mozilla/addons-frontend/issues/9482 which we did work around.

[2021-09-02 18:43] eviljeff opened #17837 "Version.files -> Version.file followups"
follow-up from #16465 with some tidy-ups and changes now we always have a single File for each version.

* [x] Everytime we use prefetch_related() on file (or file__validation), or use transformers to fetch file for a version, we can select_related() to make a join instead now that there is only one file per version
* [x] current_file, all_files etc can go
* [x] find_latest_version() can be simpli

[2021-09-02 18:44] eviljeff opened #17838 "Replace `SaveUpdateMixin.reload()` with django's `refresh_from_db` (?)"
SaveUpdateMixin.reload() doesn't handle reverse relations for OneToOneFields - i.e. version.reload doesn't reload version.file - you have to specifically do version.file.reload(). We should look into dropping our special sauce and just use django's .refresh_from_db

[2021-09-02 18:45] #16465 closed

[2021-09-02 18:48] eviljeff opened #17839 "Expose a single File for each Version in the API"
follow-up from #16465 - we've dropped multiple files per version at the model/database level and should do the same in the API.
Note:
- it will be tricky to deploy without breaking anything. Might want to continue exposing files and file initially, deploy that, then following push start using file, then following push remove files.
- v3/v4 must continue to expose a list of files for backwards comp

[2021-09-03 02:02] #16476 closed

[2021-09-03 02:02] #16472 closed

[2021-09-03 02:03] #13593 closed

[2021-09-03 02:03] #15926 closed

[2021-09-03 02:03] #15690 closed

[2021-09-03 02:03] #15427 closed

[2021-09-03 02:03] #15262 closed

[2021-09-03 08:39] ioanarusiczki commented on #16465
@diox Can qa do some checks on this issue ?

[2021-09-03 09:57] eviljeff opened #17840 "rm blocklist legacy update integration"
We have integration that imports that synchronises back Blocks created/edited on AMO that are marked as legacy to the legacy v2 blocklist. The waffle switch to enable the feature has been disabled for a while now and the feature is no longer needed so we can remove the code.

[2021-09-03 09:58] eviljeff commented on #17782
split publishing sync to https://github.com/mozilla/addons-server/issues/17840

[2021-09-03 10:01] eviljeff commented on #17840
@wagnerand is there any value in keeping the data about if a block was in the v2 blocklist (either was imported from it, or was created on AMO and synced back to it), or was originally part of regex block there?

It'd be easier to just remove everything to do with `legacy_id` and forget all about the v2 blocklist but if it's required we can keep the checkbox and messaging around, but set as read-o

[2021-09-03 10:11] eviljeff commented on #16465
QA: this changes the core models (File/Version) so potentially there might be breakage anywhere, but functionally there shouldn't be any noticeable changes.

The API work will be done in #17839 so frontend/API should work and respond as before.
We haven't allowed multiple files for a version in devhub for a while now so there shouldn't be any changes there either, but please double check manage ve

[2021-09-03 10:58] wagnerand commented on #17840
That can go away.

[2021-09-06 12:37] ioanarusiczki commented on #16465
@eviljeff
I verified on AMO dev with FF91(Win10):
- detail and version addon APIs - work, I'm getting a 200 status. Also search API (with a query) works as expected.
- I did not notice changes on the addon version page from dev hub in comparison with -stage, I checked on all addon types.
- I uploaded addons and new versions using dev hub and API signing + versions endpoints
- approving and rejecti

[2021-09-06 13:42] diox commented on #17734
Still failing in production, we'll have to fix https://github.com/mozilla/addons-server/issues/17504 to address this properly.

[2021-09-06 14:39] #17826 closed

[2021-09-06 15:13] willdurand opened #17858 "Allow admins to see all stats pages"
### Describe the problem and steps to reproduce it:

1. Log in with a user who has the `STATS_VIEW` permission
2. Access the stats pages of a **deleted** add-on

### What happened?

Users with the `STATS_VIEW` cannot access the stats pages.

### What did you expect to happen?

Users with the `STATS_VIEW` should be able to access the stats pages.

Note that stats pages for non-deleted add-ons shoul

[2021-09-06 19:39] #15174 closed

[2021-09-07 06:55] mtatarau90 opened #17860 "Signing took too long to complete"
Hi Guys,

I tried to sign an unlisted addon , but for a few months I encounter the next error “Signing took too long to complete”.It Is strange because everything went fine until April, and my code was not changed. I saw this issue on a few github repositories but no one has an answer.

What i tried until now:

1. To sign with different version of web-ext (3, 4, 5, 6)
2. To sign with ‘sign-addon’

[2021-09-07 07:11] willdurand opened #17861 "500 page should not query the database"
### Describe the problem and steps to reproduce it:

When a 500 page is displayed, it queries the database (looking for a site notice
in `Config`) but if the 500 is initially caused by MySQL, then we'll end up with
a many errors until the stack is exhausted.

### What did you expect to happen?

We should not query the database when we display a 500 page, which means:

- no configuration should be

[2021-09-07 07:21] willdurand commented on #17860
I replied in https://github.com/mozilla/web-ext/issues/2314

[2021-09-07 07:21] #17860 closed

[2021-09-07 08:13] willdurand opened #17863 "Add-ons with ID > 80 chars"
We're going to enforce a new limit on the length of add-on IDs, see: https://github.com/mozilla/addons-linter/issues/3896. There are a few existing add-ons with IDs > 80 chars. Most of them seem disabled/deleted/unused.

Is there anything we should do on these add-ons? Like having a migration to truncate their IDs and/or get in touch with developers to update the IDs?

[2021-09-07 08:17] diox commented on #17863
Since they are all deleted/disabled we're in no rush to do anything - we don't have to change the database definition yet.

[2021-09-07 10:11] AlexandraMoga commented on #17783
https://addons-dev.allizom.org/sitemap.xml?section=tags&app_name=firefox and https://addons-dev.allizom.org/sitemap.xml?section=tags&app_name=android have been added to the sitemap, containing all the 45 tags currently applicable.

This issue is verified fixed on -dev.

[2021-09-07 10:55] diox commented on #17831
@caitmuenster should we keep step 2 (upload) as is for unlisted ? See this screenshot where I've highlighted differences with listed submission process:
![your-submission-will-be-automatically-signed](https://user-images.githubusercontent.com/187006/132332901-71565d10-28f7-4d8d-b2e0-dbdb182e68b1.png)

The listed submission process doesn't have the extra text after "Your add-on was validated" and t

[2021-09-07 12:42] diox commented on #17826
Note: Waffle switch is `return-to-amo-for-all-listed`

[2021-09-07 13:25] ioanarusiczki commented on #17826
@diox

I enabled on -dev earlier today `return-to-amo-for-all-listed` using `admin/models/waffle/switch/`

I could see in about:welcome page the recommended, by Firefox, verified addons (as before, the flow seems to be working with the labeled extensions, works with a recommended theme too) but when I tried with extensions without a label I did not get the same results (I tried 2 extensions, a the

[2021-09-07 13:49] diox commented on #17826
Mmm, it could have been caching if you tried first with the waffle off for that add-on ? API responses (that RTAMO depends on) are cached for 3 minutes, and are updated in the background, so the first response back after the caching duration could be stale as well.

Could you capture the network traffic that goes to services.addons-dev.allizom.org when you're testing this ?

The API seems to behav

[2021-09-07 13:53] ioanarusiczki commented on #17826
@diox
I just realized I left both switched active in admin. Now that I disabled `return-to-amo` and left `return-to-amo-for-all-listed` enabled I got the flow for an extension not labeled. Seems to be working for labeled too (at least for a recommended one)
So I'll try to cover more addon scenarios tomorrow just to be sure.

Seems like with both switched enabled - only the labeled one were working

[2021-09-07 13:59] diox commented on #17826
To be clear:
- If `return-to-amo` is `off`, RTAMO is completely disabled, the other switch doesn't matter.
- If `return-to-amo` is `on`, but `return-to-amo-for-all-listed` is `off`: RTAMO is enabled only for promoted
- If `return-to-amo` is `on`, but `return-to-amo-for-all-listed` is `on`: RTAMO is enabled for all listed

Caching may mess with this: if the same add-on has been previously tested, w

[2021-09-07 14:13] diox opened #17867 "Remove obsolete anyjson dependency"
`anyjson` hasn't been required by anything in our code or our other requirements for years. It's now failing with the latest version of `setuptools` in https://github.com/mozilla/addons-server/pull/17864

[2021-09-07 14:15] diox opened #17868 "Remove obsolete `argparse` dependency"
We have `argparse` in our requirements but we barely use it and it's been integrated into python standard library a long time ago, we should remove it.

[2021-09-07 14:29] #17858 closed

[2021-09-07 14:37] #17867 closed

[2021-09-07 14:37] #17868 closed

[2021-09-07 22:07] caitmuenster commented on #17831
Thanks for flagging, @diox! Yes, I'm in favor of using the same text for listed and unlisted. Let's remove "Your submission will be automatically signed" and change the text on the button to read "Continue."

[2021-09-08 08:49] #17682 closed

[2021-09-08 08:49] #17810 closed

[2021-09-08 13:47] ioanarusiczki commented on #17826
@diox

I tested this again today:

- with both switched off, RTAMO is disabled. I verified it for a recommended addon on -dev and another one on -stage. Same results: the addon is not available in about:welcome page.
- with `return-to-amo` on and `return-to-amo-for-all-listed`  off : I could see that recommended addons are available in about:welcome but extensions without a label are not.
- both s

[2021-09-08 14:09] ioanarusiczki commented on #17858
@willdurand

I went with an admin account after I deleted an add-on to this page:
https://addons-dev.allizom.org/en-US/firefox/addon/620747/statistics/?last=30

It shows the page into a continuous loading state with 404s in the network

![lots of 404s](https://user-images.githubusercontent.com/33448286/132524300-b0cf36ea-41fe-45c1-adeb-80629d32ba87.png)

If I try to click another link, it's a 404

[2021-09-08 14:14] diox commented on #17826
FWIW: we noticed yesterday that the switch had been created on stage. It's possible that maybe you accidentally tested on stage at some point ? Which would have skewed the results, since that feature isn't available on stage yet.

[2021-09-08 14:15] ioanarusiczki commented on #17826
@diox Hmm, I tested all day on -dev and -stage with same results this time. Yesterday I tested on -dev only.

[2021-09-08 14:38] AlexandraMoga opened #17874 "Uploading an add-on with a GUID in non string format triggers a server error"
### Describe the problem and steps to reproduce it:
1. Submit an add-on with a GUID in non string format, for example:
[code]
2. Check the validation results

### What happened?
"There was a problem contacting the server" error message is received with a 500 response
![image](https://user-images.githubusercontent.com/31961530/132530234-33e445ea-4fec-4d10-affc-2a51bb77ab53.png)

### What did you ex

[2021-09-08 14:42] willdurand commented on #17874
That could be a problem during manifest normalization.

[2021-09-08 14:43] willdurand commented on #17874
mm this looks more like a deserialization issue. I guess we don't have tests for this. We call `.lower()` on the GUID but if its value is an int, the method does not exist.

[2021-09-08 14:46] diox commented on #17874
Good catch. Anything that is done with the manifest before validation needs to be extra careful about type & presence of keys we want to read from the manifest...

[2021-09-08 14:47] willdurand commented on #17858
Ugh, for deleted add-ons we don't have a GUID anymore.

[2021-09-08 17:50] willdurand commented on #17858
I was thinking about using the add-on ID.

[2021-09-09 09:27] ioanarusiczki commented on #17858
@willdurand Ok, then could you reopen the issue or move it to the next milestone ?

[2021-09-09 10:23] #17837 closed

[2021-09-09 13:03] ioanarusiczki commented on #17858
@willdurand If I manually replace for each URL `None`  with a deleted addon ID I can view the page as an admin.
https://addons-dev.allizom.org/en-US/firefox/addon/620747/statistics/downloads/sources/?last=30 loads but if I click it from the overview https://addons-dev.allizom.org/en-US/firefox/addon/620747/statistics/?last=30 I still get a 404 because the ID is replaced by `None`.
I checked for an

[2021-09-09 13:08] willdurand commented on #17858
That is expected but could you please file an issue to fix that? The problem is that the links in the menu are incorrect. I'd like to fix this problem for next week (it isn't critical but nice to have).

Unlisted do not have download stats but you should be able to access the overview and the usage stats.

[2021-09-09 13:14] ioanarusiczki opened #17880 "Access easier deleted addon statistics"
Followup for https://github.com/mozilla/addons-server/issues/17858#issuecomment-916075951

1. An admin should be able to access the stats for a deleted add-on when going from the overview page to another one. For now this is possible by replacing manually  into the URL `None` with ID

[2021-09-09 13:15] ioanarusiczki commented on #17858
Done https://github.com/mozilla/addons-server/issues/17880
Verified on AMO dev - FF91(Win10).

[2021-09-10 07:08] willdurand opened #17883 "Link to AMO stats in review page"
Once https://github.com/mozilla/addons-server/issues/17880 is fixed, we'll have fully functional stats pages on AMO for deleted add-ons, which might be useful to reviewers with privileged access.

Let's add a link to the review detail page to easily access these stats pages on AMO: this is needed because, for deleted add-on, we need to use the add-on ID instead of slug in all the URLs.

[2021-09-10 07:21] willdurand opened #17885 "Files disappearing on disk in an unexpected manner"
Note: I don't know what's going on yet.

---

While debugging some git-extraction problems, I noticed a version without a file on disk. The DB is inconsistent and still thinks the file exists, yet the file is not present on disk in any of the possible locations for version files (there are 2 possible locations). In addition to causing git-extraction issues, there are code-search problems as well,

[2021-09-10 07:23] willdurand commented on #17863
Alrighty, the new restriction has been deployed on prod last night. If there is nothing else to do right now, we can close this issue.

[2021-09-10 07:23] #17863 closed

[2021-09-10 07:26] willdurand commented on #17861
We updated the 500 page in https://github.com/mozilla/addons-server/pull/14285

[2021-09-10 09:57] #17883 closed

[2021-09-10 13:44] #17782 closed

[2021-09-10 13:53] #17880 closed

[2021-09-10 13:56] #17874 closed

[2021-09-10 15:34] #16725 closed

[2021-09-10 15:34] #16711 closed

[2021-09-13 09:03] eviljeff commented on #17861
500 handing was last updated then, but we've been querying the db for the site notice for a [_lot_ longer](https://github.com/mozilla/addons-server/commit/8f3c496470048db2e2a69ce658c564afdfba8a29)

[2021-09-13 12:22] ioanarusiczki commented on #17880
@willdurand
With an admin account all links from https://addons-dev.allizom.org/en-US/firefox/addon/620747/statistics/?last=30 are accessible now.
Same for an unlisted deleted addon https://addons-dev.allizom.org/en-US/firefox/addon/620741/statistics/?last=30

Verified on AMO dev - FF91(Win10).

[2021-09-13 12:58] ioanarusiczki commented on #17883
@willdurand

- Statistics URL is available for deleted addons into Actions section on a review page only for admins, users from Statistics Viewers cannot access deleted review pages ( which I believe it's intended)

- I could access stats from the reviews pages below:
https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/620727
https://reviewers.addons-dev.allizom.org/en-US/revi

[2021-09-13 13:30] willdurand opened #17897 "Git error raised on fresh/new celery workers"
See: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/7896507/?referrer=github_plugin

---

I do wonder why we seem to have Git errors (`PicklingError`, specifically) on what seem to be fresh Celery workers (according to the "breadcrumb" in Sentry). This error does not happen too often but this is weird.

Why would there be a pickle error here?

[code]

[2021-09-13 13:34] AlexandraMoga commented on #17874
This issue is verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/133086421-cb55a46e-6b1b-4aa0-a449-f915955150d9.png)

[2021-09-13 14:15] AlexandraMoga commented on #17782
@eviljeff I was going to test the blocklist functionality in admin and I've noticed that we still have a `blocklist_legacy_submit` switch that, when enabled, is supposed to also publish the v3 blocks in kinto (if I remember correctly).
Is this functionality still needed and should it be tested?

[2021-09-13 14:51] rubenwardy commented on #7811
Maybe I misunderstand this issue, but submitting a new add-on is an infrequent task that should be low priority when it comes to adding an API

Much much higher priority would be allowing submitting updates to existing add-ons. I'm currently unable to do this due to #9913

[2021-09-13 15:07] eviljeff commented on #17782
that's #17840 - I'm just about to merge the patch that will close that too if it's easier to QA them both together.

[2021-09-13 15:10] #17840 closed

[2021-09-13 16:15] caitmuenster commented on #17723
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @eviljeff

[2021-09-13 16:17] caitmuenster commented on #16752
I'm closing this issue because I'm not sure what pieces have been done and what still needs to be fixed. 🙃 I'll open new issues if/when we find UTMs that need to be added.

[2021-09-13 16:17] #16752 closed

[2021-09-13 17:46] wagnerand opened #17898 "Allow excluding more than one rule on scannerresult admin page"
The _scannerresult_ admin page currently allows to exclude one scanner rule from the view. Due to changed needs, admins need to be able to exclude more than one rule now.

[2021-09-14 09:38] LinusU commented on #7811
@rubenwardy it was a while since I worked on this now, but I was automatically submitting updates to a web extension using the following library: https://github.com/LinusU/wext-shipit

[2021-09-14 13:01] ioanarusiczki commented on #17682
@eviljeff could you add some str for qa?

[2021-09-14 13:03] ioanarusiczki commented on #17837
@eviljeff Let me know what to check for this. Thanks!

[2021-09-14 13:04] AlexandraMoga commented on #17840
I've created a few blocks on AMO -dev with the `blocklist_legacy_submit` switch enabled and the submission form doesn't include the "Include in legacy xml blocklist" checkbox anymore. Also, the Block history doesn't mention the fact that the block was "Included in legacy blocklist." as it use to.

When this lands in stage, I can also double check with kinto that the updates are indeed no longer re

[2021-09-14 13:13] eviljeff commented on #17837
@ioanarusiczki there we minor adjustments throughout the code (pretty much anywhere that deals with addons, versions or files) but shouldn't be any noticeable changes.  I'd check devhub submitting and deleting versions works as expected with regards to what is the current version.

[2021-09-14 13:56] AlexandraMoga commented on #17782
I've submitted a few blocks in on AMO -dev (using the admin blocklist model and reviewer tools) and I didn't find issues with the submission flow. The same goes for editing and deleting blocks. I've also verified that the changes were reflected in the new mlbf - https://kinto.dev.mozaws.net/v1/buckets/blocklists_addons_dev_allizom_org/collections/addons-bloomfilters/records.

I could not directly

[2021-09-14 14:02] ioanarusiczki commented on #17831
@diox My notes are below, after checking this on AMO dev - FF92(Win10):

Step 1 - distribution step - (for listed and self-distributed submissions) - the link is all over "Add-on Distribution and Signing on Firefox Extension Workshop". Should it be only over "Add-on Distribution and Signing"?

![The URL from step one](https://user-images.githubusercontent.com/33448286/133271013-552a39a4-11b1-4089-

[2021-09-14 15:56] MihaiTabara commented on #15353
This hit us in 91.0b2, it's still important for RelEng to get fixed on AMO side. Every time this breaks, it requires RelEng to perform the manual fix. It impacts RelMan as well if we're not around.

[2021-09-14 18:05] MihaiTabara commented on #15353
Note to self: TIL https://github.com/mozilla/addons-server/issues/7811 will be a good starting point to fixing this issue.

[2021-09-14 18:18] MihaiTabara commented on #7811
This may be random but TIL this issue may be paving the way for https://github.com/mozilla/addons-server/issues/15353 which is very exciting to hear for us in RelEng/RelMan teams. Just wanted to drop a thank you note for this :)

[2021-09-14 18:19] wagnerand commented on #15353
The two issues should be fairly distinct. The API requested here is to make new Firefox versions known to AMO, so add-ons (mostly langpacks these days) can set the right compatibility for their (already) uploaded versions.

[2021-09-14 18:22] wagnerand commented on #15353
(Please ignore my earlier comment in case you got an email notification).

I'd like to understand why you were hit by this recently. Until this API has been implemented, we have an established process to get new langpacks added manually. /cc @flodolo

Could you expand what went wrong or why that didn't work this time?

[2021-09-14 18:24] escapewindow commented on #15353
Per [this issue's description](https://github.com/mozilla/addons-server/issues/15353#issue-684788449), the API requested is to add new locales (i.e., new langpacks), so we don't have to submit them manually. Requiring manual steps in an otherwise automated release blocks releases on a handful of individuals. The manual steps are a considerable pain point.

[2021-09-14 18:31] flodolo commented on #15353
While I don't have any visibility over what happens on the RelEng's side, I don't think the problem happened only this time, it happens every time there's new locale (which is not frequent, possibly making things even worse).

There are some manual steps I need to do [once the langpack is available](https://mozilla-l10n.github.io/documentation/products/firefox_desktop/adding_release.html#update-la

[2021-09-15 07:22] ioanarusiczki commented on #17810
@diox in case qa can check please add some str.

[2021-09-15 10:31] eviljeff commented on #15353
#7811 would be the base for any support for lang packs to be submitted entirely automatically, but we'll keep this issue open because langpacks will certainly need some special support adding - if not a separate endpoint.  (In particular, you need the ability to submit an xpi without knowing if it's a new add-on or a new version, which is something that ends up being problematic for add-ons in gen

[2021-09-15 10:34] eviljeff commented on #7811
this will be the base work that will eventually allow you to submit/manage everything about an add-on via the API.

[2021-09-15 11:03] rubenwardy commented on #7811
That's great to hear, thanks for clearing it up!

[2021-09-15 11:52] willdurand commented on #7811
The work for this is tracked in https://github.com/mozilla/sign-addon/issues/409

[2021-09-15 12:20] diox commented on #17831
Looks like the correct link is /documentation/develop/create-an-appealing-listing/ :(

Agreed about the rest, it's relatively minor details but we should fix this before it goes to prod.

[2021-09-15 13:21] #17831 closed

[2021-09-15 13:24] eviljeff opened #17911 "replace `FileUpload.automated_signing` with `channel`"
the `FileUpload` model has a field called `automated_signing` that nowadays is just the channel - `automated_signing` is `True` when the channel is unlisted, `False` otherwise.  We should change it to channel to be consistent with the `File` model.

Note: this field is exposed in the signing api serializer where we will want to keep it, at least for v3/v4 api endpoints.

[2021-09-15 14:34] AlexandraMoga commented on #17782
@eviljeff is https://kinto.stage.mozaws.net/v1/buckets/blocklists/collections/addons-bloomfilters/records still valid for verifying that  new blocks in stage have been properly recorded?

[2021-09-15 15:09] eviljeff commented on #17782
I think it's moved to https://settings.stage.mozaws.net/v1/buckets/blocklists/collections/addons-bloomfilters/records

(or maybe https://settings-cdn.stage.mozaws.net/v1/buckets/blocklists/collections/addons-bloomfilters/records - not sure the difference)

[2021-09-15 16:18] caitmuenster commented on #17831
Gagh, thank you. I tried to move it to a different URL but I messed that up... might as well keep it now. Thanks @diox!

[2021-09-16 07:28] ioanarusiczki commented on #17831
@diox

I've noticed the fixes on -dev only for now (stage still uses the old forms), 2 questions remain:
Step 3 - source step "yes" -> the phrase "Add source code to your submission" is not present but "Upload source code: [Browse…] No file selected" is there now, maybe expected, can't tell.
Step 5 - finish step - (listed only) - "As a reminder, your add-on is subject to manual review at any time.

[2021-09-16 08:40] diox commented on #17831
- For step 3 I simplified it when removing extra duplicate text, it looked a bit weird with the heading followed by the input field directly
- For step 5 I forgot it for listed... can you file a follow-up for that ?

[2021-09-16 09:22] ioanarusiczki opened #17915 "Add a phrase into the final step for listed addon submission"
Step 5 - finish step - (listed only) - "As a reminder, your add-on is subject to manual review at any time." is not present

Should be added according to the new model from https://github.com/mozilla/addons-server/issues/17831#issue-985456671

[2021-09-16 10:41] ioanarusiczki commented on #17831
@diox
done https://github.com/mozilla/addons-server/issues/17915

I've seen a stage deploy and then checked again - it's also available here.

The new text from the final steps of a submission Step 4 - finish step - (self-distributed only) and Step 5 - finish step - (listed only) is also available when a new version is submitted.

Verified on AMO stage - FF92(Win10).

[2021-09-16 12:08] ioanarusiczki commented on #17837
@eviljeff
- submission, deleting/disabling versions worked for me.
- promoted version cannot be deleted/disabled if previous versions were not promoted versions.

Verified on AMO stage - FF92(Win10).

[2021-09-16 13:03] AlexandraMoga commented on #17782
This is verified is stage as well.

[2021-09-16 17:12] #17839 closed

[2021-09-17 12:26] ioanarusiczki commented on #17839
@eviljeff
I made some API requests on the detail/versions/version detail APIs:
- v5 exposes :"file":{} and "files":[] as a list
- v3,v4 expose only "files":[]

Verified on AMO dev with Postman

[2021-09-17 13:10] eviljeff opened #17923 "flatten file properties into version in the API response?"
In #17839 we changed the (v5) api to return a single `file` object for each `version` in the version detail response (from the `files` array). Maybe we should just flatten the file properties completely into `version` to reduce complexity.

(v5+ only, obviously.)

[2021-09-17 19:29] leni1 commented on #17723
Hello all. I would like to work on this if that's okay.

[2021-09-17 21:08] caitmuenster commented on #17723
Hey @leni1, welcome! 🙌 Go for it. We'll assign you to the issue once you submit a PR (draft PRs are fine!).

[2021-09-19 17:49] ghostwords opened #17925 "No longer receiving email notifications for AMO reviews"
### Describe the problem and steps to reproduce it:
I stopped getting notified about [new reviews for Privacy Badger](https://addons.mozilla.org/en-US/firefox/addon/privacy-badger17/reviews/) a few weeks ago.

### What happened?
No more review emails.

### What did you expect to happen?
I get an email when there is a new review.

### Anything else we should know?
The latest review notification is

[2021-09-19 19:34] #16470 closed

[2021-09-19 19:34] #15525 closed

[2021-09-20 08:26] #17898 closed

[2021-09-20 09:29] wagnerand opened #17927 "Review statistics emails are broken"
Add-on review statistics emails are no longer sent.

Reason: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/13213508/
Caused by: https://github.com/mozilla/addons-server/commit/8a841dd461f642131b075890b36dc0ad7626097c

Marking this as a P1, so it gets fixed this week and we can re-run the task to have the email sent before the end of the week. (Email is sent weekly so next week woul

[2021-09-20 13:01] ioanarusiczki commented on #17898
@diox

On /scannerresult page from admin dev I see the last filter being modified:

- selection of multiple consecutive rules is possible using "Shift" key. Same for all rules.
-  to select 2 or 3 random rules,  I added manually query params such as `?exclude_rule=40&exclude_rule=20`.

Let me know if that's the expected behavior.

[2021-09-20 14:06] wagnerand commented on #17898
@ioanarusiczki fwiw, you can select non-consecutive rules by using the CTRL key (CMD on Mac).

[2021-09-20 15:59] wagnerand opened #17933 "Code search: Reverse order so that newest versions are searched first"
### Describe the problem and steps to reproduce it:

I want the code-search (aka scanner query) to change the order of the list of versions that are searched so that newest versions are searched first.

### What happened?

Oldest versions are searched first.

### What did you expect to happen?

Newest versions are searched first.

### Anything else we should know?
(Please include a link to the pag

[2021-09-20 16:14] #17927 closed

[2021-09-21 07:13] ioanarusiczki commented on #17898
@wagnerand Yes, worked for me 👍

[2021-09-21 07:18] ioanarusiczki commented on #17927
@wagnerand
I don't remember e-mails related to stats when checking the fake e-mails on dev or stage.
Could this be related with https://github.com/mozilla/addons-server/issues/17925 ? I checked ratings/reviews feature - on dev/stage it's working but the issue might not refer to ratings e-mails.

[2021-09-21 08:29] AlexandraMoga commented on #17723
@eviljeff there are some issues with this patch. As far as I've noticed, the submission flow features the source code submission link in two locations:

1. https://addons-dev.allizom.org/en-US/developers/addon/{addon}/submit/source-listed
![image](https://user-images.githubusercontent.com/31961530/134134858-40e20c26-5aba-43de-a6cb-98f7efe5c294.png)
In this location, the "Source Code Submission" li

[2021-09-21 09:32] eviljeff commented on #17723
So, what's happened here is both Leni and I have taken the url specified literally; searched for it; and found there is only one place that is currently written as `https://extensionworkshop.com/documentation/publish/source-code-submission/`, and that's in `describe_minimal.html`. Used for new add-ons with an unlisted version (and subsequent listed versions when all the metadata was defined during

[2021-09-21 09:38] eviljeff commented on #17927
This is a weekly report of reviewer activity, rather than user ratings.

I'm not sure if it's testable on dev/stage tbh - @wagnerand if I triggered the cron job manually on addons-dev, would it be reviewer activity in the previous week from that point, or always Monday-Monday?

[2021-09-21 10:06] wagnerand commented on #17927
It's always the last seven days (+ current quarter). Unfortunately that also means we can't just re-run the task on prod after the push :(

[2021-09-21 10:11] wagnerand commented on #17927
I misspoke. Past me was smart enough to make this Monday-Monday always!

[2021-09-21 10:15] eviljeff commented on #17927
I've just triggered the report generation on addons-dev

[2021-09-21 12:42] ioanarusiczki commented on #17933
@wagnerand
Questions:
What kind of search (query) should I use ?
Is this about models/scanners/scannerqueryresult/ ?
Looking at it right now on -dev (with or without making a search using filters) I think I see the older versions displayed first if I check "Versions" and "Created" columns.

[2021-09-21 12:48] willdurand opened #17939 "Expose addons-linter version on __version__ endpoint"
In order to quickly identify which version of the linter is currently used by
AMO, it would be handy to expose its version (taken from the `package.json`
file) in the `/__version__` response.

[2021-09-21 12:49] wagnerand commented on #17933
@ioanarusiczki Sorry, this is probably hard to test and might not need testing. What we changed here is just the order of versions that are being searched, so that newest versions are searched first. It has no impact on the final results or the ordering of the list.

The motivation for this issue is that for searches that target newer add-ons of interest, those would be searched and displayed soon

[2021-09-21 12:53] ioanarusiczki commented on #17927
@eviljeff
2 e-mails arrived:
one to  [addon-content-reviewers@mozilla.com ](https://addons-internal.dev.mozaws.net/en-US/admin/models/amo/fakeemail/96897/change/)
the other one to  [addon-reviewers@mozilla.org](https://addons-internal.dev.mozaws.net/en-US/admin/models/amo/fakeemail/96896/change/)
both with a weird format, it's a lot of HTML.

[2021-09-21 12:58] eviljeff commented on #17927
it's supposed to be html but I wouldn't know if it's any more weird than before.  @wagnerand is this something you could confirm?  Or are you happy with waiting for it to hit prod?

[2021-09-21 13:16] wagnerand commented on #17927
I checked the HTML, looks good to me.

[2021-09-21 13:25] willdurand opened #17941 "Update API docs to indicate that the Recommendations endpoint supports the `app` parameter"
The [Recommendations API](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#recommendations) supports the `app` parameter although it isn't documented yet. We should document it because addons-frontend should be passing it!

See also: https://github.com/mozilla/addons-frontend/issues/10912

[2021-09-21 14:44] willdurand opened #17943 "AttributeError: 'HomepageShelves' object has no attribute 'get_url_path'"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/13233902/?referrer=github_plugin

[code]

[2021-09-21 15:47] eviljeff opened #17946 "drop `is_webextension` from File model"
All add-ons have been webextensions for years on AMO prod, and we dropped support for parsing installing rdfs in #16726 a few months back, effectively stopping any new uploads even by admins.  We should drop the actual model field, and any lingering supporting code that differentiates between webextension files and non-webextension files.

https://sql.telemetry.mozilla.org/queries/82037/source sho

[2021-09-21 19:26] #17939 closed

[2021-09-22 03:23] leni1 commented on #17723
@eviljeff sure. Happy to do this.

[2021-09-22 09:45] wagnerand commented on #17946
Those files are signed with the privileged cert. Since they won't run in any recent version of Firefox, I think it's safe to delete them.

[2021-09-22 10:59] #17941 closed

[2021-09-22 13:50] #17658 closed

[2021-09-22 13:52] #16269 closed

[2021-09-22 13:59] eviljeff opened #17955 "Finally actually drop `files` from `VersionSerializer` (for api/v5)"
Follow-up for #17945

in #17839 we replaced `files` with `file` but didn't actually drop `file` because frontend was relying on it.  Now mozilla/addons-frontend#10900 is merged that's no longer the case and we can clean it up.

To be safe we don't want to make the change until after mozilla/addons-frontend#10900 is deployed, i.e. we should merge the pr after the 2021.09.30 tag.

[2021-09-23 16:53] eviljeff opened #17963 "listed to more fxa events"
We want to listen to more fxa events

see https://bugzilla.mozilla.org/show_bug.cgi?id=1730485

[2021-09-24 07:14] AlexandraMoga commented on #17939
The `addons_linter` (current) version is displayed in the `__versions__` endpoint:

![image](https://user-images.githubusercontent.com/31961530/134633513-b4af063e-8cfa-45aa-8699-768cf9c65ea7.png)

[2021-09-24 07:56] AlexandraMoga commented on #16269
@eviljeff should we do a general regression on the site for this issue?

[2021-09-24 13:04] ioanarusiczki commented on #17658
@eviljeff
- is_webextension was removed on v5 detail, versions and search APIs
- v3,v4 still display is_webextension

[2021-09-24 20:10] ghostwords commented on #17925
When might this be fixed?

[2021-09-27 07:42] AlexandraMoga commented on #17925
I've checked the [Fake mail logs](https://addons-internal.stage.mozaws.net/en-US/admin/models/amo/fakeemail/67470/change/) on stage and, as far as I can see, ratings notifications are still being sent.

@ghostwords just to be sure, could you please confirm that:
- you checked that these emails aren't in your spam folder
- you've enabled ratings notifications in your account details:
![image](https

[2021-09-27 08:16] AlexandraMoga opened #17969 "AMO -dev log in process is broken"
### Describe the problem and steps to reproduce it:
1. Load https://addons-dev.allizom.org/en-US/firefox/ while being logged out
2. Click on log in
3. Enter credentials on the FxA login page
4. Wait to be logged into AMO

### What happened?
Once you enter your login details, The FxA login page remains in a loading state for a while, then you are redirected back to AMO but not logged in. There is a

[2021-09-27 08:37] AlexandraMoga opened #17970 "504 timeout errors encountered on several pages on -dev"
### Describe the problem and steps to reproduce it:
1. Open AMO -dev - make sure you are logged in
2. Try to access your devhub add-ons page - https://addons-dev.allizom.org/en-US/developers/addons

### What happened?
The page is not loaded and after a while a 504 error is returned:
![image](https://user-images.githubusercontent.com/31961530/134870864-ed267a34-c3d5-4230-82aa-6cce46f1397d.png)

###

[2021-09-27 08:47] Rob--W commented on #17574
The update comparison logic has a hardcoded threshold of 99: https://github.com/mozilla/addons-server/blob/d9467f6030b3a3e4642950e415ed118fc823b74a/src/olympia/versions/compare.py#L131

@diox  Could you check the impact? I looked at this code because I was looking for a potential cause of the inability to receive langpack updates (https://bugzilla.mozilla.org/show_bug.cgi?id=1732506)

[2021-09-27 11:35] diox commented on #17574
As mentioned in the docstring of this function, this only applies to the minor parts of the version. So we can't have a firefox version xx.100, but we can have a version 100.yy (technically up to 65535.y.z.w as @eviljeff pointed out above)

[2021-09-27 14:01] ghostwords commented on #17925
Ahh, thank you! The "someone writes a review of my add-on" checkbox was unchecked.

But! I never visited this page before, and I have been getting emails up until the end of August. Something changed. Are other AMO users similarly affected?

[2021-09-27 14:01] #17925 closed

[2021-09-28 07:41] AlexandraMoga commented on #17969
This seems to have been a temporary issue. Logins are functioning now.

[2021-09-28 07:41] #17969 closed

[2021-09-28 07:41] AlexandraMoga commented on #17970
This seems to have been a temporary issue.

[2021-09-28 07:41] #17970 closed

[2021-09-28 09:13] diox opened #17979 "Remove cssutils, move pyquery, cssselect to tests.txt"
Following https://github.com/mozilla/addons-server/pull/17932 `cssselect` is now only required by `pyquery`. We shouldn't need `pyquery` in prod, and therefore shouldn't need `cssselect` in prod either.

`cssutils` is no longer used and should be safe to remove completely.

[2021-09-28 09:42] diox commented on #17943
someone clicking on "View on site"... We typically disable it for many "internal" models, but here maybe we could support it ?

[2021-09-28 09:50] eviljeff commented on #16269
yes.  The only significant thing I had to change (upgrade) was a dependency used during git extraction - the task that runs to extract the xpi contents to be exposed in addons-code-manager - but a python upgrade could potentially affect any part of the codebase.

[2021-09-28 17:12] #17955 closed

[2021-09-29 10:18] diox commented on #17897
Note that it's trying to pickle a `GitError`, and that fails, but the fact that we get a `GitError` in the first place is a problem...

[2021-09-29 10:28] diox opened #17988 "Load addons-server static files from /static-server on the main domain on dev"
Essentially https://github.com/mozilla/addons-frontend/issues/10785 but for addons-server statics. We are currently loading addons-server statics on dev from https://addons-dev-cdn.allizom.org/static/, we want to load them from https://addons-dev.allizom.org/static-server/ (which is served from the CDN as the rest of the main domain) instead.

Once it's verified on dev we can enable it on stage &

[2021-09-29 12:25] ioanarusiczki opened #17995 "User lands on desktop view instead of /android/ after creating a new account"
STR:
1. Create a new account on an android device
2. Observe the landing page

Expected result:
https://addons.allizom.org/en-US/android/users/edit is displayed

Actual result:
User lands on https://addons.allizom.org/en-US/firefox/users/edit/ - the desktop view

![prod bug](https://user-images.githubusercontent.com/33448286/135267131-25290f41-ce77-4208-a59a-730048e331f6.png)

Notes:
- editing som

[2021-09-29 14:34] willdurand commented on #6111
Let's reopen this issue because that could be useful to avoid bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=1732997

[2021-09-29 15:06] willdurand commented on #6111
The idea would be to reject submissions with such invalid paths during (or before) the `repack` task so that we don't build completely different XPIs.

[2021-09-29 15:38] #17723 closed

[2021-09-29 15:39] diox commented on #6111
The check should probably be added in https://github.com/mozilla/addons-server/blob/2f9f85d6b05256e145c765a4553605b64a4f9a39/src/olympia/files/utils.py#L515. Would need to double-check if somehow `\` isn't used as an escape character in some cases too (which could be valid)

[2021-09-30 09:07] AlexandraMoga commented on #17723
I've reverified the source code submission links to Extensionworkshop and now we have:

1. for https://addons.allizom.org/en-US/developers/addon/{addon}/submit/source-listed:
![image](https://user-images.githubusercontent.com/31961530/135409643-b7bbdf86-e38f-4503-9879-cc8b5931a688.png)
https://extensionworkshop.allizom.org/documentation/publish/source-code-submission/?utm_source=addons.mozilla.org

[2021-09-30 09:26] diox commented on #17995
The flow looks like this:
Page the user is on (somewhere on /android/) -> FxA -> API callback -> User edit page (with an optional `next_path`)

The API callback is generic, it doesn't contain an `app` parameter, so when it's processed, the prefixer in the thread doesn't have an `app` set (normally set by middleware), so it falls back to its [`get_app()`](https://github.com/mozilla/addons-server/bl

[2021-09-30 12:24] AlexandraMoga commented on #16269
We've done a general regression on -dev and stage and no issues were found.
With regards to git-extraction specifically, I've made sure that the add-on code was present in code-manager after submission. I've also verified that the git-(re)extraction functionality from admin addon pages is still working.

[2021-09-30 15:07] #17995 closed

[2021-09-30 16:27] willdurand opened #18008 "Exclude `addon-submission-api` gate in stage config as well"
We couldn't deploy this week's tag to prod because of an issue on the config, related to `DRF_API_GATES`. This fix was trivial, see: https://github.com/mozilla/addons-server/pull/18007.

We should have similar configs for stage/prod to avoid surprises like this one so let's try to have similar stage/prod configs as much as we can. We can start by disabling the `addon-submission-api` gate on stage

[2021-09-30 20:05] willdurand commented on #6111
For an invalid zipfile (as per this bug), the backslash in a path looks escaped in the list of filenames:

[code]

[2021-10-01 10:56] diox opened #18010 "Load addons-server static files from /static-server on the main domain on stage and prod"
Follow-up for #17988, once this is tested and working, we want to load static files from the main domain on stage & prod as well.

[2021-10-01 10:59] diox opened #18012 "Clean up / tighten addons-server CSP config"
When #18010 is fixed and the dust has settled, we can clean up and tighten down the CSP a little bit:
- Remove `https://addons.mozilla.org` from `CSP_BASE_URI`
- Remove references to `PROD_CDN_HOST`
- Remove (hardcoded) reference to `https://static.addons.mozilla.net`
- Remove `CSP_CONNECT_SRC` customization in each env setting file (just need to connect to self, sentry, google analytics)
- Set `C

[2021-10-01 12:19] AlexandraMoga commented on #17988
@diox I'm seeing some errors in Reviewer and Admin tools related the the new `/static-server/`

Rev tools - font files:
![image](https://user-images.githubusercontent.com/31961530/135618504-0f739d6e-a91f-4e9c-9824-9309dbb043e9.png)

Admin tools - css and js files:
![image](https://user-images.githubusercontent.com/31961530/135618526-2145ea57-3fbe-4b76-98b7-fe2c7aaeb2e0.png)

[2021-10-01 12:28] diox commented on #17988
Ah thanks, I missed that.

[2021-10-01 13:04] #6111 closed

[2021-10-01 15:33] diox commented on #18012
In the CSP config, we can also:
- Remove `https://addons.mozilla.org` from `CSP_BASE_URI`
- Remove references to `PROD_CDN_HOST`
- Remove (hardcoded) reference to `https://static.addons.mozilla.net`

[2021-10-02 01:45] #14249 closed

[2021-10-04 09:10] diox opened #18022 "Replace geoip with CDN headers"
We use geoip to record the country of the reporter in abuse reports. Now that we're behind a CDN, requests should already be coming through with a header containing that information, no need to look it up ourselves from the IP through geoip.

We should make the header name configurable to make it easier to change CDNs in the future. On Cloudfront the header name is `CloudFront-Viewer-Country`.

[2021-10-04 10:28] eviljeff opened #18023 "consolidate/refactor submission throttles"
currently some of our logic for throttling submissions is contained in VersionView().check_throttles itself, which makes it difficult to reuse in other classes.  We should rewrite it into either a utility function, or entirely within DRF throttle classes that can be reused more easily.

[2021-10-04 10:37] eviljeff opened #18024 "Allow app compatablility to specified at upload time with addon submission api"
follow on from #7811 - you can specify app compatibility but only the apps themselves (e.g. `"compatibility": ["firefox"]`) are supported.  If a full dict such as `"compatibility": {"firefox": {"min": "61.0", "max": "92.*"}}` was submitted then the extra compatibility data is ignored.

[2021-10-04 11:39] diox opened #18032 "Ensure CircleCI is using Node 14"
Our addons-server docker images use Node 14 (since https://github.com/mozilla/addons-server/issues/17331):
https://github.com/mozilla/addons-server/blob/a8c7c9e3b1c3438de37ec2733244d019cd75c669/docker/nodesource.list#L1

But our CircleCI builds use a specific node 12.x version:
https://github.com/mozilla/addons-server/blob/a8c7c9e3b1c3438de37ec2733244d019cd75c669/.circleci/config.yml#L477-L478

As

[2021-10-04 11:42] diox commented on #18032
In addition, the orb we're using is circleci/node@4.1.0 but that's not the latest version of that [orb](https://circleci.com/developer/orbs/orb/circleci/node).

[2021-10-04 12:33] ioanarusiczki commented on #17995
@diox I tested this on AMO dev with Android - after the first login I landed on https://addons.allizom.org/en-US/android/users/edit

![looks fixed](https://user-images.githubusercontent.com/33448286/135851897-fa7e62ee-c4c2-4ee4-ada8-d7f6b8706a0d.png)

[2021-10-04 13:19] ioanarusiczki commented on #17955
@eviljeff
I verified with Postman:
-  the detail, versions, version detail , search APIs - "files":[] has been dropped from v5, kept on v4/v3.
- v5 displays the "file":{} wihout "is_restart_required": and "is_webextension": being removed (because of https://github.com/mozilla/addons-server/issues/17390 and https://github.com/mozilla/addons-server/issues/17946 ).  I also see "platform" being remove

[2021-10-04 13:49] eviljeff commented on #17955
@ioanarusiczki looks okay.  https://github.com/mozilla/addons-server/issues/16466 dropped platform earlier in the year

[2021-10-04 13:58] eviljeff opened #18034 "implement full license selection/definition for addon submission api"
follow-up for #7811

currently you can only select from pre-defined licenses - and only by specifying a numeric license id.

So worked needed to:
- implement the ability to create a custom license
- ~select from predefined licenses by slug or some other mnemonic~ #18361
- ~maybe make the field optional (for listed versions only?) and default to all rights reserved, or the previous license for subs

[2021-10-04 14:00] eviljeff opened #18035 "Fix the required fields for new addon/version submission for listed/unlisted versions"
follow-up for #7811

Currently categories are required to create an add-on but aren't really needed unless the add-on has listed versions.
For the first listed version we want to require all the necessary metadata (name, summary, categories, version license) being defined if not available in the manifest, but not really for unlisted versions. This will necessitate some refactoring - probably movin

[2021-10-04 14:05] eviljeff opened #18036 "[Tracking] Make all fields on AddonSerializer / VersionSerializer writeable that should be"
follow-up for #7811

There are some fields on AddonSerializer that should be writeable but are currently either SerializerMethodFields or custom Fields/Serializers that don't have a working write implementation.

[2021-10-04 14:06] eviljeff commented on #18036
One of these - default_locale - did unexpected things during Addon creation with respect to data in the manifest so left it read only.

[2021-10-04 14:08] eviljeff opened #18037 "Enable patch requests to Addon and Version API endpoints"
For #7811 only `CreateModelMixin` was added to the views to limit the scope of the changes/tests. The serializers should handle updates without a massive amount of extra work (in theory!).