[2018-07-27 11:02] EnTeQuAk commented on #8847
I'm closing this now.

I cleaned up -dev and -stage and removed many many old entries in the -prod entry, fixed or unfixed. This way we can try to act more or less directly when something happens, I hope.

[2018-07-27 11:02] #8847 closed

[2018-07-27 11:39] eviljeff commented on #8899
I like the idea of putting the client in control of which features it wants enabled.  Caching didn't occur to me tbh, but yeah, that's a complication.  We could have it as a comma-separated parameter instead but that's probably not any better.

As for reversing the way the gates are specified, I don't think it's essential - we could just allow gates to be disabled in the header (or whatever) as we

[2018-07-27 11:43] #8924 closed

[2018-07-27 11:46] #8970 closed

[2018-07-27 11:59] marcoagpinto opened #9007 "Had to add extra lines to get one each new line on AMO"
### Describe the problem and steps to reproduce it:
Yesterday I updated my GB speller add-on and was editing its information.

I noticed that most of the text was all together without blank lines.

So, the workaround I found was to add extra lines #CRLF$.

It solved the issue in the speller page:
https://addons.mozilla.org/en-US/firefox/addon/british-english-dictionary-2

But, when Firefox updated

[2018-07-27 11:59] vcarciu commented on #8924
@diox : Can you please add some STRs for this bug or mark it as "qa: not needed" ?

[2018-07-27 12:00] vcarciu commented on #8970
@diox : should we test something around this or can we add the "qa: not needed" label?

[2018-07-27 12:06] vcarciu commented on #8723
Verified as fixed in prod

[2018-07-27 12:12] diox commented on #8970
Nothing to test here

[2018-07-27 12:42] EnTeQuAk opened #9008 "Installation of autograph is failing (again)"
[code]

[2018-07-27 13:08] eviljeff commented on #9008
maybe we should bump up #8658

[2018-07-27 14:03] wagnerand commented on #9005
I looked into the file permissions on the file system and it seems the ones that are failing have 600, the ones that are working have 644.

[2018-07-27 14:41] EnTeQuAk commented on #9008
This time it's actually not really related to autograph specifically, this is because of `gimme` and how go stuff get's installed on travis.

Why it only failed recently will probably stay a mystery.

[2018-07-27 15:24] #9008 closed

[2018-07-27 15:41] muffinresearch commented on #8990
Having discussed this we want to leave the fallback endpoints around in-case of future A/B Testing. The fallback cases that addons-server does should also stay as they are in-case of TAAR returning and empty list and the case where an add-on might not be available inbetween TAAR updating it's data set and the time the API was called.

Since there's nothing to do here I'll close this out.

[2018-07-27 16:16] muffinresearch opened #9012 "Add-on homepage + support URLS should not link to AMO"
Looking at broken links on AMO Raphael noticed that some Add-ons are linking the homepage back to AMO with an id. In some cases this is without a slash and causes multiple redirects only to see the same page you were already looking at.

Since I don't think there's a good use-case to link to pages on AMO for the homepage or support URL we should look at the following changes:

* Update the validat

[2018-07-27 17:11] jvillalobos commented on #8986
This seems like a bigger issue than #7506, so I propose to revert that fix. I'll give more thought to how we should deal with accidental duplication and include it in future submission flow updates.

[2018-07-27 17:34] bqbn commented on #9005
I'm not sure where you find those links, but please note that currently the `reviewers.a.m.o` site only accept the following endpoints: https://github.com/mozilla-services/cloudops-deployment/blob/master/projects/amo/puppet/modules/amo_proxy/templates/nginx.reviewers.conf.erb#L19-L34

Everything else is either denied or send back to `a.m.o`.

In your case, the `firefox/downloads/source/<number>` i

[2018-07-27 19:40] jvillalobos commented on #9012
The support URL has the same issue. There are [over 500 listings](https://sql.telemetry.mozilla.org/queries/57643/source) affected by this.

[2018-07-27 21:32] bqbn commented on #8923
From operations stand point of view, updating the db to use utf8mb4 character set is a large scale change. Some initial reading indicates that the character set change needs to be applied to almost all levels of a db system, i.e. the database server, the db, the tables and the columns, all at the same time. The size of some of the tables we have and the master-slave architecture also make the issu

[2018-07-27 23:03] bqbn commented on #8988
Nginx configuration for this domain hasn't changed for over a year, thus I doubt it that this is due to a regression of Nginx config change.

That said, I noticed there is a similarity of this issue and https://github.com/mozilla/addons-server/issues/9005, i.e. both have `firefox/downloads/` as the prefix of the endpoint.

However, as I commented in https://github.com/mozilla/addons-server/issues/

[2018-07-27 23:08] jvillalobos commented on #8973
Talked to @eviljeff about this, and it sounds like something that can be resolved as a P2 in the next couple of weeks. To sum up the discussion, this work involves:

* Remove the source code upload form from the Upload step.
* Add a new source code upload step (following the XPI upload step),which includes the new copy and the Yes / No radio buttons, as explained in the [doc](https://docs.google.c

[2018-07-28 09:46] M-Reimer opened #9016 "Loading circle animation continues if ajax-requests raise csrf error"
### Describe the problem and steps to reproduce it:
A few weeks ago, I was still able to change my Addon without needing to enable the Referer.
Today I was unable to upload a new Screenshot. I wasn't even informed why this fails (just have the "loading circle" forever) and had to open the developer tools to review the webserver response.

### What happened?
I wasn't able to add a new screenshot. N

[2018-07-28 20:31] MeridelW commented on #8973
Great! Thanks, Jorge.

[2018-07-29 12:21] diox commented on #9005
The domain & locale don't matter here.

Each of these URLs:
* https://addons.mozilla.org/en-US/firefox/downloads/source/2483113
* https://reviewers.addons.mozilla.org/en-US/firefox/downloads/source/2483113
* https://reviewers.addons.mozilla.org/firefox/downloads/source/2483113

all redirect to https://addons.mozilla.org/firefox/downloads/source/2483113 and *that* URL returns a 403.

`/downloads/`

[2018-07-29 19:56] bqbn commented on #9005
Yep, I'm not saying domain & locale matter either. I'm just saying that `firefox/downloads/source/<number>` is not served by either `reviewers.a.m.o` or `a.m.o` Nginx virtual servers, by just looking at the configuration.

However, if the application sends back a x-accel-redirect header for this endpoint, then it's possible Nginx still serves it, because we configure a few location that's used for

[2018-07-29 20:11] diox commented on #9005
It *is* served by [a view](https://github.com/mozilla/addons-server/blob/f11c64b3d7f03adc95037318fac8c217b8a8e764/src/olympia/versions/views.py#L99-L146) that sets the `X-Accel-Redirect` redirect header (this is the actual header that the view is using)

[2018-07-29 21:11] bqbn commented on #9005
Ok, thanks for the above link. Although I think you might mean [this view](https://github.com/mozilla/addons-server/blob/f11c64b3d7f03adc95037318fac8c217b8a8e764/src/olympia/versions/views.py#L172) for the `/firefox/downloads/source/2483113` endpoint.

Anyways, I've located the file and updated its permission bits, and the file is now able to be downloaded.

[2018-07-29 21:13] diox commented on #9005
Eh yeah I meant that view.

The question is: how did those files end up with the wrong permissions in the first place? It seems to happen for quite a few files and we don't know why.

[2018-07-29 21:40] bqbn commented on #9005
I have no answer for that question at the moment.

I saw another 15 out of 11K files that don't have the correct permission in the same directory of this file. Out of the 16 files, the oldest modification time is Jul 26 16:56 UTC.

Given the fact that these files are in `/shared_storage/uploads/version_source/...` directory, will any of the cron jobs touch them, or is there any view code that may

[2018-07-30 05:30] AlexandraMoga commented on #8887
Could you please ad a "qa:not needed label to this?
Thanks!

[2018-07-30 05:32] AlexandraMoga commented on #8847
Could you please add a qa:not needed label to this?
Thanks

[2018-07-30 10:15] AlexandraMoga commented on #9008
@EnTeQuAk does this require any testing around add-on signing?
Thanks

[2018-07-30 10:40] diox opened #9023 "Add position/position_china fields to discovery items model"
To prepare for the switch to a database-driven discovery pane (https://github.com/mozilla/addons-server/issues/2448) we need to add the fields to the database in advance. That way curators can set the discovery pane content in the database before we make the switch, ensuring a smooth transition.

Therefore, all we need to do here is add 2 fields: `position` and `position_china`, and allow curators

[2018-07-30 10:48] diox commented on #9001
#8743 will allow users with `Collections:Edit` to do it. However, I'm keeping this issue separate to see what I can do about `Admin:Curation`.

I'm thinking, allow users with `Admin:Curation` to transfer their own collections, and then allow them through that permission to edit mozilla collections in the admin as well (through that permission they can already edit them in the frontend)

[2018-07-30 10:51] AlexandraMoga commented on #8957
Verified fixed on AMO -dev with FF61, Win10x64

![finish button fix](https://user-images.githubusercontent.com/31961530/43393269-228e9c44-93ff-11e8-81c1-1052959f8d08.gif)

[2018-07-30 10:54] diox commented on #8831
Note that this is only a problem with a client requests all translations - i.e. when they are not passing the `lang` parameter, which should not happen that often - basically only when they need to edit something. This is why I didn't care about optimizing this when I first wrote it.

[2018-07-30 10:55] diox commented on #6496
https://github.com/mozilla/addons-server/issues/8944 will drop most features we no longer need, this issue can be used to properly remove the tables from the database once the obsolete models & fields are gone from the code.

[2018-07-30 10:56] diox commented on #8944
Follow-up: https://github.com/mozilla/addons-server/issues/6496 will clean up the database once the models & fields are gone.

[2018-07-30 11:22] AlexandraMoga commented on #8977
@EnTeQuAk since you referred above to the screenshots upload component, do you think the case displayed below can be fixed when this issue is resolved, or does it look like something with a completely different root cause?

 - random thumbnail displayed during screenshot processing:

![image](https://user-images.githubusercontent.com/31961530/43394479-90f15222-9403-11e8-86e3-7356d0f3bfec.png)

[2018-07-30 11:38] #7249 closed

[2018-07-30 11:56] #8944 closed

[2018-07-30 13:48] rraue commented on #9012
If you clean up the DB now, is there a cronjob doing this regularly, so we wont have this problem again in 6 month?

[2018-07-30 13:51] diox commented on #9012
We also want to add extra validation preventing developers to enter such URLs in the first place (see first action item in the description).

[2018-07-30 15:03] diox commented on #8221
Disco pane data is going to move to a database source in https://github.com/mozilla/addons-server/issues/2448, rendering this issue obsolete.

[2018-07-30 15:03] #8221 closed

[2018-07-30 15:05] diox commented on #8586
Could be done without https://github.com/mozilla/addons-linter/issues/1984 but it'd be better with it.

[2018-07-30 15:36] diox commented on #9005
AFAIK there is no cronjob or view code that touch the permission bits on those files. The only place in addons-server that touches permissions is in the file viewer, a completely different part of the code (plus it's to set directories to 755 anyway)

[2018-07-30 15:56] #8878 closed

[2018-07-30 16:01] diox commented on #9005
We could try setting `FILE_UPLOAD_PERMISSIONS` to work around the issue, but a) I'm not sure it will be enough b) I'd still like to understand why this is (suddenly?) happening.

[2018-07-30 16:33] erosman opened #9028 "[Reviewer Tools] Layout of reviewers-score-bar"
Recently, due to changes the layout has been affected:
ref: `<div id="reviewers-score-bar" class="c">`
The + 140 is wrapped.

TBH, I think the text is too long and changing "Post-Approval Add-on Review" to "Post-Approval Review" would be fine. Otherwise, a change to `<td class="number">+140</td>` would be needed.

https://screenshots.firefox.com/KSaHRSXP3WxvvseU/reviewers.addons.mozilla.org
![Scre

[2018-07-30 16:39] diox commented on #9005
Something we noticed with @wagnerand : the files that have the wrong permissions have all a) been created after the push with the django upgrade b) a relatively high size.

Our theory is that something changed in the way django deals with higher size files. To upload them, it first creates a temporary file and then moves it to the final destination. It has always worked like this, but maybe someth

[2018-07-30 18:45] #9005 closed

[2018-07-30 18:46] diox commented on #9005
QA:
- Try uploading source code for add-ons with different sizes of zip files, below and above 2.5 MB in particular.
- Try accessing those source links from a reviewer account.

[2018-07-30 18:47] diox commented on #9005
@bqbn : between now and next push which will have the fix, can you monitor that `version_source` directory and manually fix the permissions from time to time ?

[2018-07-30 20:17] pwalm commented on #8977
Try the existing stuff we have first, and if it looks like crap, I'll make a custom thing for 32x32.

[2018-07-30 20:30] EnTeQuAk commented on #9016
I do agree that there should be proper error handling and not just that loading circle animation. So that's a bug.

We do use the `Referer` as part of our CSRF checks for several reasons, partially because cookies alone don't give the user the best security in that regard as protection against man-in-the-middle attacks.

I'll leave this open for the circle-animation but right now I don't think we

[2018-07-30 20:40] M-Reimer commented on #9016
IMHO a "Referer check" never makes anything more secure and a MITM attack on the cookie should be impossible if HTTPS is used.
It just harms privacy to not allow the user to disable this "feature" altogether.
But its some thing that is built into a framework and maybe not easily possible to disable. Sad, but a proper error message would be a start. Just one page more where Referer has to be tempor

[2018-07-31 00:09] diox opened #9033 "EncodeError: Object of type FileValidation is not JSON serializable"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4412570/

[code]

[2018-07-31 00:10] diox commented on #9033
Not sure which task does this yet but it's certainly broken. Need to investigate and fix it.

[2018-07-31 00:34] bqbn commented on #9005
I set up a cron job that runs every 30 minutes to find files with wrong permission bits and correct them as needed.

[2018-07-31 05:34] AlexandraMoga commented on #8878
Please add STR or the label "qa:not needed".
Thank you

[2018-07-31 06:55] AlexandraMoga commented on #6873
License is now displayed on static theme details page

![image](https://user-images.githubusercontent.com/31961530/43442822-cecec968-94a7-11e8-951f-c4c1c0792493.png)

[2018-07-31 08:46] vcarciu commented on #8944
Can you please add some STRs to this bug or mark it as "qa: not needed" ?

[2018-07-31 08:59] diox commented on #8944
QA:
- Make sure collections still work across the site.

[2018-07-31 09:15] diox commented on #9033
This is coming from `<@task: olympia.devhub.tasks.handle_file_validation_result of olympia at 0x7f8ad7bfea50>`

[2018-07-31 09:39] shiri1248 commented on #9028
can I work on this issue ?

[2018-07-31 10:03] wagnerand commented on #9028
@shiri1248 Sure, go ahead.

[2018-07-31 10:39] diox commented on #9033
QA:
- Get someone with ssh access on dev to delete a validation attached to a file
- Try to access that file validation results in devhub, it should regenerate it

[2018-07-31 10:40] #9023 closed

[2018-07-31 11:37] diox commented on #7886
I can't find a trace in sentry right now but this is still happening : the XHR call returns a 504 (!). Maybe it's tied to the number of versions attached to the add-on somehow, depending on the callbacks that are fired when disabling/enabling an add-on.

We don't have cache-machine anymore so we could do the `select_for_update()`, but I'd like to understand why this is taking so long before (other

[2018-07-31 13:01] AlexandraMoga opened #9037 "Reviewers whiteboard is displayed in the Edit Information page for static themes"
**STR:**

1. Log in to Developer Hub and submit a new static theme
2. After the submission steps are completed, click on Manage submission
3. In the add-on Edit information page, scroll down to the Technical details section and click on Edit

**Actual result:**
The section expands, showing additional options among which the review's whiteboard is also present

**Expected result:**
Since a static t

[2018-07-31 13:14] wagnerand commented on #9037
I would rather show the whiteboard for reviewers.

[2018-07-31 13:47] vcarciu commented on #9033
The validation is regenerated with an unexpected error :
![validationerror](https://user-images.githubusercontent.com/1583842/43463491-5b1495ea-94e1-11e8-8d8a-585a7d128d43.gif)

[2018-07-31 13:49] vcarciu commented on #9033
The addon where the issue was reproducible is https://addons-dev.allizom.org/en-US/developers/addon/ramele-wharous-otteetzal/versions , the file for Mac .

[2018-07-31 14:34] vcarciu commented on #9023
Verified as fixed :
![positionchina](https://user-images.githubusercontent.com/1583842/43466347-ff9458f2-94e7-11e8-9ec7-4810b79782aa.gif)

[2018-07-31 15:09] spoji opened #9040 "Public listed version of an extension is not the latest approved version."
### Describe the problem and steps to reproduce it:
Version 1.1.0 of [LanguageSwitch](https://addons.mozilla.org/en-US/firefox/addon/languageswitch/) have been pushed and automatically approved on AMO.

Logs of this version can be found on the [review page](https://reviewers.addons.mozilla.org/en-US/reviewers/review/languageswitch). It has been approved on July 21, 2018, 12:55PM.

### What happene

[2018-07-31 15:12] wagnerand commented on #9040
Setting P1 until we assess the number of add-ons affected.

[2018-07-31 16:12] shiri1248 commented on #9028
Thanks! @wagnerand  :+1:   but I am unable to  findout the file can you help me with this

[2018-07-31 16:29] vcarciu commented on #9005
Uploaded multiple zip files as source code and I was able to see them all in AMO-dev as a reviewer

[2018-07-31 16:41] wagnerand commented on #9028
@shiri1248 We have a list of good first bugs, where we can provide better guidance. You'll find onboarding material and the link to the list at https://wiki.mozilla.org/Add-ons/Contribute/Code.

[2018-07-31 17:57] EnTeQuAk commented on #9016
We actually have strict referer checking precisely for HTTPS requests tbh. That means that even if a subdomain can set or modify cookies on your domain, it can't force a user to post to our application since that request won't come from your own exact domain.

"This also addresses a man-in-the-middle attack that’s possible under HTTPS when using a session independent secret, due to the fact that H

[2018-07-31 21:06] EnTeQuAk commented on #8878
Just make sure that screenshots in the add-on details page still work and show up.

[2018-07-31 21:17] M-Reimer commented on #9016
So someone would have to trick someone to a HTTP subdomain in the mozilla.org context *and* manipulate the network to change the content of this subdomain. Seems to be not that simple.

In my opinion it is not a good idea to insist on the Referrer at all. This header should have been deleted from the HTTP standard years ago. Webservers shouldn't be allowed to know where I came from.

But that's ju

[2018-08-01 00:45] devaneymoz opened #9044 "August 2018 Disco Pane content update"
For the **16 August** push, please adjust Disco Pane programming to reflect as follows...

**Watercolour Plants** by [rrrretro](https://addons.mozilla.org/firefox/addon/watercolour-plants/)

**Separate your online lives** with [Firefox Multi-Account Containers by Mozilla ](https://addons.mozilla.org/firefox/addon/multi-account-containers/)
Privately distinguish your various online identities—work,

[2018-08-01 06:36] jefwks opened #9045 "Theme Links Are Broken"
### Describe the problem and steps to reproduce it:
https://addons.thunderbird.net/en-US/thunderbird/themes/?sort=rating  Click on a theme and then click the add to Thunderbird button.

We're sorry, but we can't find what you're looking for.
The page or file you requested wasn't found on our site. It's possible that you clicked a link that's out of date, or typed in the address incorrectly.

If yo

[2018-08-01 09:18] diox commented on #9045
Hi,

Please report thunderbird bugs over at https://github.com/thundernest/addons-server (AMO and addons.thunderbird.net are now split)

[2018-08-01 09:18] #9045 closed

[2018-08-01 09:49] AlexandraMoga commented on #7249
I have added a user to the Advanced Admin group on AMO stage and then accessed the Admin Tools with that account.
Note: not all actions mentioned in the PRD are currently implemented.
- here are the Tools this user can access in `/admin/models/`
*Note: they can only _view_ contents from Replacement addons

![image](https://user-images.githubusercontent.com/31961530/43512658-577b9f98-9584-11e8-831c

[2018-08-01 09:57] diox commented on #7249
Ah, that is not expected, no. Please do open a follow-up issue.

[2018-08-01 10:37] diox commented on #9033
The fact that the validation did go through this time indicates that the original problem is fixed. It shouldn't fail however, so I need to investigate this.

[2018-08-01 11:12] AlexandraMoga opened #9046 "User with Admin:Advanced permission cannot delete a user profile with activity on AMO"
STR:

Follow up from #7249

1. Log in to AMO stage with an account that has `Admin:Advanced` permission
2. Access Admin Tools - https://addons-internal.stage.mozaws.net/en-US/admin/models/
3. Select the User Profile tool
4. Search for a user that has activity on AMO, i.e submitted add-ons, reviews, abuse reports etc
5. Try to Delete the user from the profile management page

Actual result:
Advance

[2018-08-01 11:50] diox commented on #9040
I've been looking at this some more, going through all the explicit `.save()` calls, looking for something that would instantiate something with old data and re-save, overwriting fields that have changed in the meantime, but I haven't found the culprit yet. There are implicit ones all over the forms however...

[2018-08-01 12:32] AlexandraMoga opened #9047 "Advanced Admins have a link to Reviewer Tools in the user menu while they don't have permissions to access the tools"
STR:

Follow up for https://github.com/mozilla/addons-server/issues/7249

1. Log in to AMO stage with a user that has Advanced Admin permissions
2. Hover over the user menu and click on Reviewer Tools

Actual result:
A 403 error is thrown as the user doesn't have permissions to access Reviewer Tools

Expected result:
The link to Reviewer Tools should not be present for Advanced Admins

Notes:
- Th

[2018-08-01 12:34] AlexandraMoga commented on #7249
I'm marking this issue as verified fixed ( for the actions that are currently available to Advanced Admins ) on AMO stage with FF61, WIn10x64

[2018-08-01 14:06] AlexandraMoga opened #9049 "Limit the Review Log to show only static theme review history for users from Reviewers: Themes group"
STR

1, Log in to Reviewer Tools with a user that has static theme reviewer permissions
2. Select the Review Log from the dashboard
3. Check the entries listed in the Review log

Actual result:
A mixed result of different add-on types are available in the list

Expected result:
Only static themes are displayed in the list

Notes:
- by implementing this, static theme reviewers will have more immedi

[2018-08-01 14:15] bjherbison opened #9050 "[Reviewer Tools] Display the author name in the content review list"
https://reviewers.addons.mozilla.org/en-US/reviewers/queue/content_review#review-actions

The content review list currently only shows extension name, version, flags, and last review date.

Fairly often a single user creates several duplicate extensions or several spam extensions with minor differences. I only catch on after reviewing several.

If the author name was added to the display it would

[2018-08-01 14:40] wagnerand commented on #9050
There is no policy for duplicate add-ons, so in general, they are ok.
Can you elaborate on cases where the author name would be important to identify a spam listing? Usually, you need to look at the listing metadata to decide whether it's spam or not.

[2018-08-01 15:19] bjherbison commented on #9050
Mozilla may not have an explicit policy, but duplication is usually considered spamming (ask in keyword spamming). That's the origin of the term. Also, duplicate extensions are malicious (toward other extension writers) as they drown out similar extensions.

Other than duplicates: If I review an extension by an author and reject it, I would consider the five other extensions submitted by the same

[2018-08-01 17:20] wagnerand commented on #9050
Only Mozilla content-review policy should be applied.

Those add-ons are often easily identifiable by looking at the listing content, which is what matters here. If not, then escalating to an admin is the best approach. In general, making developer-wide decisions should be up to admins. If you see repeated violations of our Acceptable Use Policy, feel free to email the admins with example links so

[2018-08-01 19:11] rctgamer3 opened #9053 "Confirm Approval should not be visible if add-on hasn't been manually approved yet"
If an add-on has the auto-approval disabled flag set, and doesn't require a admin review, the post-review approval panel should not be visible because the add-on hasn't been approved yet.
![image](https://user-images.githubusercontent.com/607379/43543150-5fb6bfd0-95cf-11e8-8362-09e3bf2d7350.png)

[2018-08-01 20:11] caitmuenster commented on #9050
@bjherbison and I chatted a little bit about this over email, and I'm going to summarize my response here. I'm not opposed to including developer names in the queue, but I am interested in seeing screenshots for some of the extensions that B.J. came across. We may want to consider expanding our criteria for 'spam.'

[2018-08-02 07:25] AlexandraMoga opened #9061 "Custom slug is not taking its value from the Name field in the LWT submission form"
STR:

1, Log in to AMO
2. Submit a new Theme (LWT)
3. Enter a value for Name
4. Observe the custom slug field

Actual result:
Only the first letter from the Name string is set in the custom slug field

Expected result:
The custom slug should take its value from the Name field

Notes:
- this is reproduced on all AMO servers
- this looks like another regression from https://github.com/mozilla/addons

[2018-08-02 08:39] AlexandraMoga commented on #8944
I've checked both the legacy and the new collection feature and I did not observe any new issues around it.

For the legacy site, several collection actions (voting, following) have been removed:

- collection actions removed, except for the edit button
![image](https://user-images.githubusercontent.com/31961530/43571599-0d715bbe-9646-11e8-8eb8-b18d59974580.png)

- Collections I'm following menu r

[2018-08-02 09:25] wagnerand commented on #9053
Right.

[2018-08-02 10:47] wagnerand commented on #9040
For the record, the affected add-ons can be approximated with the following query:
[code]

Setting P2, until we have a plan on how to tackle this.

[2018-08-02 12:14] EnTeQuAk commented on #8867
Short status update on this: https://bugzilla.mozilla.org/show_bug.cgi?id=1479922 is tracking ops-related work on this.

The plan is to create a new cluster that gets's linked to -dev and contains the current data from -prod.

I'll try to get in a waffle-flag or setting that switches between the new/old similarity indexing strategy so that we can enable it quickly on -prod once tests show a succes

[2018-08-02 12:27] EnTeQuAk opened #9062 "CircleCI tests are failing because of FxA"
Unfortunately, CircleCI tests are failing currently because of https://github.com/mozilla/pytest-fxa/issues/15

[2018-08-02 12:50] diox commented on #7886
Strongly suspect this is caused by `watch_disabled` which tries to hide/unhide files for a disabled add-on synchronously. This can take a while on add-ons with lots of versions.

[2018-08-02 12:57] diox commented on #8768
Re-opening because of @eviljeff 's caching suggestion and also because I noticed a simple optimization we could make.

`CompatOverride`'s `transformer()` looks like this:
[code]

Notice it does not preset `compat_ranges` if there wasn't any for that override. I'm not sure it happens in the real life, but it's worth investigating. It's quite simple to optimize that if it's happening, [we recently d

[2018-08-02 13:09] #8586 closed

[2018-08-02 13:35] EnTeQuAk opened #9068 "Update Celery to 4.2.x"
We should update Celery to 4.2.x

There already was a PR that did this but we didn't have the time to fix the tests yet: https://github.com/mozilla/addons-server/pull/9026

[2018-08-02 15:34] eviljeff commented on #9037
@caitmuenster says "we don't need whiteboards for theme designers/reviewers"
@wagnerand  says  "just remember my words when we find a reason we need it in a couple of months after static themes launched" 😆

[2018-08-02 15:42] marianafaria opened #9072 "theme don't work"

[2018-08-02 15:43] #9072 closed

[2018-08-02 15:43] eviljeff commented on #8801
@jvillalobos should this be an activity mail email (so it has replies, etc, and the reply would be to the email catch-all admins) or just a flat email that mentions amo-admins@org as above?

[2018-08-02 15:45] eviljeff commented on #8891
This isn't strictly part of the Ratings and Review Flow 😉

[2018-08-02 15:47] caitmuenster commented on #9037
Spoke too soon! Let's leave it in in case we need it for contests or promotions.

[2018-08-02 16:08] diox commented on #8486
I think this will probably wait until platforms are eradicated in https://github.com/mozilla/addons-server/issues/8752

[2018-08-02 16:10] eviljeff commented on #8604
Is this a replacement for the current email-per-rating we have now?

[2018-08-02 16:12] eviljeff commented on #8611
Size M/L maybe, but this is the one that's a new feature, needing models, API changes, etc.

[2018-08-02 16:17] caitmuenster commented on #8604
Yes, ideally this would replace the current email-per-rating.

[2018-08-02 16:41] eviljeff commented on #8973
@jvillalobos just listed extensions or unlisted extensions too?

[2018-08-02 17:21] bqbn opened #9074 "500 when hitting /extensions/format:rss"
### Describe the problem and steps to reproduce it:
After 8/2 release, we see some 500 in access logs, and are able to reproduce using curl, for example,

[code]

The Sentry issue is this one: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4514941/

### What happened?

We started to notice this error after 8/2 release, however, it was also mentioned on #remora channel that this migh

[2018-08-02 17:50] diox commented on #9074
As a quick and simple fix we can probably strip those characters ourselves. Filtering `[\x00-\x08\x0B-\x0C\x0E-\x1F]` should do the trick.

[2018-08-02 19:07] jvillalobos commented on #8038
This issue depends on the Firefox bug being resolved, which is currently very low priority. /cc @ddurst @mconca

[2018-08-02 19:17] jvillalobos commented on #8973
While I learn towards only requiring it for listed add-ons, for practical reasons, I suspect @wagnerand will disagree with me :). I defer the call to him.

[2018-08-03 10:01] diox commented on #9074
It's now a 200 for me in prod, confirming that it's only dependent on content. My guess is an add-on was created with a broken description or name - perhaps because of https://github.com/mozilla/addons-server/issues/8923 ! - and it caused this issue, but as soon as other add-ons replaced it in the feed it "fixed" the problem.

[2018-08-03 10:14] wagnerand commented on #8973
Since the policies apply to both listed and unlisted and source code helps us review minified but questionable code, it can allow us making a better decision on whether to block or not, and which block to set. Therefore, we should show it for unlisted as well.

[2018-08-03 10:54] wagnerand opened #9079 "Admin homepage user search result forwards to devhub user profile edit page"
### Describe the problem and steps to reproduce it:

1. Go to `/admin/`
2. Enter an email address in the *Search Users* box
3. Wait (it's very slow)
4. Click on a result in the result dropdown.

### What happened?

You get to `/firefox/users/edit/<ID>`

### What did you expect to happen?

You get to `/admin/models/users/userprofile/<ID>`

[2018-08-03 12:04] #2448 closed

[2018-08-03 12:04] #8734 closed

[2018-08-03 12:06] diox commented on #2448
QA:
- The `position` and `position_china` fields should control what's returned in the discovery pane now. Make sure the discovery pane properly reflects what's chosen. You should be able to include static or lightweight themes as well.

[2018-08-03 12:07] diox commented on #8734
QA:
- https://github.com/mozilla/addons-server/issues/2448 is the issue for the editorial feed, you can focus on the recommendations part here. The main difference compared to before is that now, when a recommendation is returned, if the add-on had been entered in the discovery admin tool first, then it will use the text (and translations if present) from that tool instead of the default name & de

[2018-08-03 12:15] #8975 closed

[2018-08-03 12:34] eviljeff opened #9080 "Change local nginx to route appropriate requests to localhost:3000 (frontend)"
`http://olympia.test/` is always legacy frontend right now, which is bad already because deprecated 😞 but will be extra bad once we remove all the legacy views 😨.  We should change it to do the appropriate routing for frontend pages to localhost:3000 instead, mirroring what's done on prod(+stage/dev).

~Note: potential blocker on how we'd do the reverting to legacy frontend switch - would we have

[2018-08-03 12:34] AlexandraMoga opened #9081 "There is no size limit set for static theme image uploads"
STR:

1. Log in to Developer Hub
2. Submit a new static theme via the wizard
3. Upload a large size image file

Actual result:
There is no size limit message displayed regardless of the image size

Expected result:
There should be an image size limit imposed in order to avoid possible preview generation errors and performance issues

Notes:
- if I upload an image larger than 7Mb in size, the previ

[2018-08-03 17:03] mconca commented on #8038
I asked Dao to raise the priority of the underlying Firefox bug.

[2018-08-04 09:37] M-Reimer commented on #9040
Is there any way to get my update out? Can you manually trigger something?

I already haven an issue about this, as "advertised" functionality isn't currently available as an old version is offered for installation:

https://github.com/M-Reimer/languageswitch/issues/1

[2018-08-05 12:00] diox commented on #9040
@M-Reimer this issue is currently a high priority for us, one way or another we'll fix your add-on next week. Sorry for the inconvenience.

[2018-08-05 12:03] M-Reimer commented on #9040
I've already created a new release (1.1.1) with no changes compared to 1.1.0. Uploaded this one some hours ago and, so far, it is the "active" release. Hope it stays that way.

[2018-08-06 12:15] AlexandraMoga commented on #8975
@wagnerand , @EnTeQuAk I'm not sure how I could test this on -dev or stage. As far as I know, statistics are not captured on these servers.
If you have any suggestions, that would be great.

[2018-08-06 12:54] AlexandraMoga commented on #8975
@diox thanks for the heads up.

[2018-08-06 13:11] AlexandraMoga commented on #2448
Verified on AMO -dev with FF61, Win10x64

Discovery pane content can be managed from `admin/models/discovery/discoveryitem/`:
- content for the normal and for the china_edition is updated
- the position indicated in the tool is reflected on the discovery pane
- extensions, lwt and static themes can be included

Admin tool layout: https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/

[2018-08-06 13:12] diox commented on #2448
Yeah, I forgot about this, but there is some caching going on in the discovery pane, so some time for changes to appear seems ok.

[2018-08-06 14:26] wagnerand commented on #7333
Another path that misses IP address logging is submissions through the API, which is what a lot of harmful add-ons use for signing.

[2018-08-06 14:34] AlexandraMoga commented on #8586
@diox there seems to be an issue with platform selection during dictionary uploads, which prevents the completion of the submission, i.e I am stuck at platform selection:

![image](https://user-images.githubusercontent.com/31961530/43722786-c4685dd0-999e-11e8-963a-e92cd11a3f6f.png)

[2018-08-06 15:50] diox commented on #8586
Weird, it worked for the one I tested with. Can you attach the zip to this issue?

[2018-08-06 18:43] MeridelW commented on #8973
@eviljeff Andreas shared the screenshot with me and I made some minor copy edits to further improve scannability and guide the user through the steps on this screen.

**Suggested changes [highlighted in green here:](https://docs.google.com/document/d/10WsKUfiuQ7-WFwSjyuPIztkoRHwLR7lUrdMoJdvZlsU/edit#bookmark=id.oxwjwi4ym6y1)**

I realize it is late in the process. If these changes slow things down

[2018-08-06 18:47] MeridelW commented on #8973
I also want to confirm that the user will not be able to advance if they do not select yes/no here.
![screen shot 2018-08-06 at 1 44 27 pm](https://user-images.githubusercontent.com/33848177/43735045-3d65026c-997f-11e8-954d-5ad5901af014.png)

[2018-08-06 20:15] wagnerand commented on #8973
I believe the server will show an error in that case when you hit submit, but you have a good point here. @eviljeff could we js-disable the button in case the form is not "valid"?

[2018-08-06 22:06] rihbyne commented on #6698
Hey all, I will take a look at this issue and update you on the progress.

[2018-08-07 07:41] eviljeff commented on #8973
They can't advance with selecting yes or no, correct.  If the user clicks the continue button they get some UI telling them to choose yes or no (or select a file if they chose yes and didn't select a file.)

(using standard browser/django _required_ support that we're going to re-enable elsewhere in #8912)

[2018-08-07 07:59] AlexandraMoga commented on #8586
@diox. I figured out what was causing my issue: I had a `strict-min-version` declared without a corresponding `strict-max-version`. After correcting that, the platforms show up, except for Android, which, similar to lang packs, should not be supported.

However, I'd be glad if you had a look at the .zip I've created to make sure that everything is put together correctly before I go on with more te

[2018-08-07 11:08] diox commented on #8747
This is difficult to follow and I may be wrong but I... no longer think there is an addons-server issue here. In `CollectionAddonViewSet`, we don't do through normal permission checks, instead we get the object from the `CollectionViewSet`, and that's what performs the permission checks.

I originally thought that by doing this, the `PreventActionPermission` part of the permissions would prevent s

[2018-08-07 12:29] diox commented on #9033
https://github.com/mozilla-services/puppet-config/blob/6bf40fa6dd482186cd23f1d9349526edefc9702d/amo/modules/olympia/manifests/celery.pp#L16-L17 is what makes it work in dev/stage/prod celery workers.

[2018-08-07 12:48] AlexandraMoga opened #9096 "User is forced to select a Thunderbird and Seamonkey category during dictionary submission"
STR

1. Log in to Developer hub
2. Submit a new listed dictionary (webextension)
3. After your file is validated, Continue to the next submission step
4. Observe the Category selection sections

Actual result:
There are two mandatory category fields for Thunderbird and Seamonkey

Expected result:
Thunderbird and Seamonkey category selection should be removed,

Notes:
-  ideally, the entire Categor

[2018-08-07 13:19] AlexandraMoga opened #9097 "Webextension dictionaries are not auto-approved"
STR

1. Log in to Developer hub
2. Submit a new listed dictionary (webextension)
3. After completing the submission, wait for ~5 mins and check if the dictionary status changes to Approved

Actual result:
The dictionary is still in Awaiting Review status, which means it is not auto-approved

Expected result:
Webextension dictionaries should be auto-approved

Notes:
- if I go to the dictionary revi

[2018-08-07 13:26] diox commented on #9044
Starting with the 2018.08.09 push the content will be pulled from the database, so @devaneymoz will be able to make the changes he wishes directly, negating the need for these issues to be filed in the future.

Ideally, @devaneymoz you should always add the content first with no position set a couple weeks (or more!) before, to let translators pick it up, and then the day you wish the changes to g

[2018-08-07 13:26] diox commented on #9097
@wagnerand @jvillalobos should they be? I'm assuming yes, since they don't contain code, but just in case :-)

[2018-08-07 13:39] wagnerand commented on #9097
I don't see a reason why we shouldn't auto-approve.

[2018-08-07 13:45] AlexandraMoga commented on #8586
Verified on AMO -dev with FF61, Win10x64

Webextension dictionaries can be uploaded through dev-hub and they receive the correct type after submission:

See https://addons-dev.allizom.org/api/v3/addons/addon/webext-dictionary12/

Frontend:
![image](https://user-images.githubusercontent.com/31961530/43779432-13c2b890-9a61-11e8-93df-69d30d34eb64.png)

[2018-08-07 14:50] AlexandraMoga commented on #8975
In order to verify this I did the following:
- I've looked for some add-ons on AMO dev for which stats were collected
- I took a note of the stats available at that moment (Aug 06)
- I've installed the add-ons
- I've changed their status to Disabled or Invisible
- I have checked the statistics for the installed add-ons on Aug. 07 and observed that: **number of downloads increased by 1, number of a

[2018-08-07 14:58] #8986 closed

[2018-08-07 15:14] wagnerand commented on #8975
@AlexandraMoga Can we check tomorrow again? That "1" might have come from August 6, before you disabled it. What we need to cover is a full day of where the add-on was disabled and make sure there is still usage collected for that day.

[2018-08-07 15:19] diox commented on #9061
With the reverted js it should be fixed (it was locally when I reviewed #9087, I think), can you check @eviljeff ?

[2018-08-07 16:10] AlexandraMoga commented on #8878
No regressions found on the screenshot component.
I've verified for existing screenshots and uploaded new screenshots from dev hub.

Marking issue as verified fixed

[2018-08-07 16:12] AlexandraMoga commented on #8975
@wagnerand sure, I will have another look tomorrow.

[2018-08-07 16:15] #9033 closed

[2018-08-07 16:15] #9097 closed

[2018-08-07 19:53] #9062 closed

[2018-08-07 22:17] Usalabs opened #9101 "All thunderbird themes direct to a page not found"
No matter what theme I try from the Thunderbird list of themes, by clicking on the 'Add to Thunderbird' button, I keep getting this page:-

We're sorry, but we can't find what you're looking for.
The page or file you requested wasn't found on our site. It's possible that you clicked a link that's out of date, or typed in the address incorrectly.

and this is one of the themes I was trying to add:-

[2018-08-07 22:38] diox commented on #9101
Hi;

Please report issues related to addons.thunderbird.net over their repos, https://github.com/thundernest/addons-server/issues

[2018-08-07 22:38] #9101 closed

[2018-08-07 22:54] jrbenny35 commented on #8980
Temp fix merged [here](https://github.com/mozilla/addons-server/pull/9075).

[2018-08-07 22:55] jrbenny35 commented on #8980
@EnTeQuAk I also think we should avoid running the UI-Tests on Pontoon commits. It seems that sometimes there could be like 3 or 4 commits back to back and since the tests need a specific email, having them run in parallel is bad.

[2018-08-08 04:16] EnTeQuAk commented on #8980
Can we randomize the email per test run? We should be able to do that
at the beginning of the test run and reuse that address throughout the
test right?
There will always be multiple tests running, not just on master but also
when there are multiple pyup PRs or simply two people opening PRs close
to another or one PR gets opened, another closed.

On Wed, Aug 8, 2018, at 12:55 AM, Benjamin Forehand

[2018-08-08 06:01] EnTeQuAk commented on #8555
Closing since these seem to be fixed.

[2018-08-08 06:01] #8555 closed

[2018-08-08 06:04] EnTeQuAk commented on #4997
Added a note about flufl.lock

[2018-08-08 06:19] EnTeQuAk opened #9105 "Add support for Python 3"
This is a meta-issue (where a github project would be overkill) to track our progress towards Python 3.

With us now using Django 1.11, this is the next logical step besides django-migrations towards a better future.

The general idea is that we should support Python 2 and Python 3 in the addons-server code-base so that we may even be able to run them side-by-side to issue a staged-rollout to redu

[2018-08-08 09:06] EnTeQuAk commented on #9105
side note: We'll want to use https://pypi.org/project/tox-travis/ to seamlessly switch between python 3 and 2 on travis/tox

[2018-08-08 09:15] rihbyne commented on #6698
@caitmuenster I have local instance setup and running, I am on developer hub, from where can I submit dummy addon to fulfill step 2 to reproduce this issue ?

[2018-08-08 09:38] autrilla commented on #8923
I've added the results of the pre-migration checks I performed to https://bugzilla.mozilla.org/show_bug.cgi?id=1479111#c2.

[2018-08-08 09:45] vcarciu commented on #8986
Verified as fixed :
![slug](https://user-images.githubusercontent.com/1583842/43829957-e0fa7b84-9b08-11e8-8bfb-2a6df27f96bd.png)

[2018-08-08 09:51] vcarciu commented on #9033
Verified as fixed :
![validation](https://user-images.githubusercontent.com/1583842/43830391-d42901ae-9b09-11e8-8f9e-54a0b05dc9b4.gif)

[2018-08-08 10:07] EnTeQuAk commented on #6698
That's correct. You may have to edit the add-ons names to reproduce this issue more properly. Also make sure that you edit the names for the locale you're testing, e.g `fr` (French) since the problem only occurs for some locales.

[2018-08-08 10:10] EnTeQuAk commented on #8777
Upstream patch for django-statsd is up and green now: https://github.com/django-statsd/django-statsd/pull/113/

Waiting for review and hopefully a quick release afterwards.

[2018-08-08 10:40] rihbyne commented on #6698
@EnTeQuAk I used web extension generator to get an addon installed. I am running firefox 61.x, is it required to run specific version mentioned by the bug reporter ? Because even in version 61.x the unbroken text is not wrapped.

![firefox_1st_bug](https://user-images.githubusercontent.com/2492182/43832577-c2027a02-9abc-11e8-8d0e-2d598a6b77d5.png)

[2018-08-08 10:42] AlexandraMoga commented on #9097
Verified fixed on AMO -dev with FF61, Win10x64

- Tested with new submissions and new version uploads
- dictionaries are listed in the auto-approved and content review queues

[2018-08-08 12:04] diox commented on #6496
Things that can now safely be dropped in a migration:

Tables:
* `collection_subscriptions`
* `collections_votes`
* `stats_addons_collections_counts`
* `stats_collections_counts`
* `stats_collections`

Columns:
* `users.display_collections_fav`
* `collections.rating`
* `collections.downvotes`
* `collections.upvotes`
* `collections.monthly_subscribers`
* `collections.downloads`
* `collections.subsc

[2018-08-08 12:06] #8993 closed

[2018-08-08 12:53] AlexandraMoga commented on #8975
@wagnerand I've had a look at the same add-ons today and I can see an increase for the average daily users compared to yesterday. The number of downloads stays the same.
This does look like some usage is collected for the day when the add-on was disabled.

![image](https://user-images.githubusercontent.com/31961530/43837820-5a22fa5e-9b22-11e8-8ff6-8bdd82868b19.png)

![image](https://user-images.gi

[2018-08-08 13:27] AlexandraMoga commented on #9061
Verified fixed on AMO stage with FF61, Win10x64

![theme slug](https://user-images.githubusercontent.com/31961530/43839913-fb811ad4-9b27-11e8-812b-f78b0584552e.gif)

[2018-08-08 13:46] jrbenny35 commented on #8980
We have to login with the user created for the addons that get generated, and the user created with the supercreate api script.

[2018-08-08 13:49] #8607 closed

[2018-08-08 13:50] diox commented on #8607
I'm fixing this *in the API only*, so the new frontend should be fixed once this lands, not sure what the legacy one allows. Those users will be able to see their profile on the new frontend, but when editing it they'll have to change the username.

[2018-08-08 13:52] willdurand commented on #8607
Is the error message explicit enough so that users will know that periods are not allowed?

[2018-08-08 14:24] #8973 closed

[2018-08-08 14:41] eviljeff commented on #6698
@rihbyne yes, that's the issue - "DevHub unbroken strings are **not** wrapped"

[2018-08-08 15:41] caitmuenster commented on #7298
Hey @is2ei, are you still interested in working on this bug?

[2018-08-08 15:58] eviljeff commented on #9028
mentor: me

hi @shiri1248 this has been added to the list of good first bugs now, if you're still interested in solving this issue.
To shorten the names the constants in https://github.com/mozilla/addons-server/blob/master/src/olympia/constants/reviewers.py#L83:L90 would need to adjusted.  I'm not sure yet whether that would be enough - you'll have to try and see.  If not I can help with finding t

[2018-08-08 16:30] shiri1248 commented on #9028
Thank you very much @eviljeff  , Can I change it to "Post-Approval Review" instead of "Post-Approval Add-on Review"

[2018-08-08 16:38] diox commented on #7333
I suspect the core problem is that we don't call `login()` when you register or when you use the signing API (in the latter case, it's because we're not actually logging you in). Need to double-check if that's the case, investigate the IPV6 part, and fix all of those points.

We may need to re-implement django's `login()`, depending on what we're interested in having, because we don't want to crea

[2018-08-08 16:51] eviljeff commented on #9028
yeah, it seems clear enough.

[2018-08-08 16:56] wagnerand commented on #9028
I am not so sure. There is "Add-on Review" and "Content Review"

[2018-08-08 17:06] eviljeff commented on #9028
assigning it to @wagnerand to work out what needs changing

[2018-08-08 17:07] wagnerand commented on #9028
I left a comment in the PR

[2018-08-08 18:15] #8867 closed

[2018-08-08 18:21] EnTeQuAk opened #9112 "Automate l10n extract/merge"
Acceptance criteria:

* weekly Pull request is opened with extracted localization context
* manually approved and merged as a part of release push

Notes:

* use the simplest approach
* should include addons frontend and server, not linter

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/ADDSRV-165)

[2018-08-08 18:44] EnTeQuAk commented on #1050
This becomes much more important with #8923 and related database related changes that are required.

[2018-08-08 19:03] EnTeQuAk commented on #1050
cc @diox @kumar303 and @willdurand for a quick discussion on how this should be exposed to addons-frontend.

The expectation here is that addons-server forbids for the amount of time where we set read-only mode any requests that are POST, PUT or DELETE. Legacy views and Devhub already handle this properly but we need the addons-frontend to be aware of that.

So it seems that returning a [503 - Ser

[2018-08-08 19:28] diox commented on #1050
Note that a consequence of this is that we should prevent logins. Existing sessions are technically not affected, but it's probably a good thing to disallow them as well... Oh, and we should make sure devhub / reviewer tools also support this.

A 503 for write requests sound good, but we'll definitely need an extra header or something to let the frontend know so that it doesn't do the requests in

[2018-08-08 20:31] kumar303 commented on #1050
A 503 should work. I suggest adding a custom `code` to the response similar [to these ones](http://addons-server.readthedocs.io/en/latest/topics/api/overview.html#unauthorized-and-permission-denied).

As soon as the frontend gets a 503 with the right error code, it could display a read-only notice at the top of the site with a *try again later* message or something.

[2018-08-08 20:38] diox commented on #1050
If we added a custom header to all responses, then as soon as the frontend receives a response indicating that the read only mode is over, it could switch back to normal mode ?

[2018-08-08 22:26] kumar303 commented on #1050
I'm not sure how that would be any different than returning a 503.

Were you envisioning that we would poll one of the endpoints to know when to switch back to normal? 😀

[2018-08-08 22:53] kumar303 commented on #1050
Oh, duh, I get it now. The POST/PUT/etc responses would return 503s but the GET responses would return a custom header that we could look at to know if the site was back to write mode. Yes, that should be easy enough to deal with.

[2018-08-09 03:05] ddotyjr opened #9115 "Unable to add themes to Thunderbird"
I attempted to add several new themes to Thunderbird but after clicking "Add to Thunderbird" button I only got a page that said it couldn't find what I was looking for. An example is the Mesa Boogie theme at https://addons.thunderbird.net/en-US/thunderbird/addon/mesa-engineering/. The page displayed when I tried to add was https://addons.thunderbird.net/en-US/thunderbird/addon/10900/. All themes s

[2018-08-09 03:50] EnTeQuAk commented on #9115
This repository is only for addons.mozilla.org. Please report any issues with addons.thunderbird.net at https://github.com/thundernest/addons-server/

Thanks!

[2018-08-09 03:50] #9115 closed

[2018-08-09 06:54] eviljeff commented on #4997
Updated the description.  Blockers remaining (that will require some work from us) at this point are:
* basket-client
* schematic

[2018-08-09 06:58] eviljeff commented on #4997
And for the UI tests (they don't strictly block py3 support for prod -though would probably block dropping py2 support in code):
* hawkauthlib
* PyFxA

[2018-08-09 10:28] diox commented on #7333
It's present in raw logs under `remoteAddressChain`, so it's gotta be an issue with how kibana / the logging pipeline is set up on the ops side. Interestingly though, the `uid` is set to `<anon>`, maybe because we don't set the core user in that thread when registering - something to fix as well.

[2018-08-09 11:08] diox opened #9117 "Remove last_login_attempt, failed_login_attempts, last_login_attempt_ip"
The login attempt fields (`last_login_attempt`, `failed_login_attempts`, `last_login_attempt_ip`) were used to log information about login attempts, failed or successful. With the switch to Firefox Accounts though, we never get information about this anymore - FxA does.

That means those fields are obsolete. And indeed, the method filling them, `log_login_attempt()`, accepts a `successful` paramet

[2018-08-09 11:51] Rob--W opened #9118 "Add Access-Control-Allow-Origin: * to public XPI files"
### Describe the problem and steps to reproduce it:
Public XPI files are available at `addons.mozilla.org` and served (via a redirect) from `addons.cdn.mozilla.net`. Neither of these endpoints include CORS headers in the response.

For example, send a HEAD request as follows:

[code]

### What happened?
Neither response includes the `Access-Control-Allow-Origin: *` header.
[code]

### What did you

[2018-08-09 13:25] AlexandraMoga commented on #8734
We need assistance from the TAAR team in order to test this implementation. Currently disco pane  recommendations are not working as expected.

[2018-08-09 13:43] willdurand commented on #1050
I'd like to have a `503` along with a [`Retry-After` header](https://pretty-rfc.herokuapp.com/RFC2616#header.retry-after) to comply with the HTTP spec.

[2018-08-09 13:47] EnTeQuAk commented on #1050
Well, `Retry-After` is not required per spec and we may not have a reasonable specifier when a downtime is supposed to be done so I'm unsure we actually want that. Randomly adding 5 minutes or so kinda feels wrong or how would you use it?

[2018-08-09 13:50] EnTeQuAk commented on #1050
We can make it configurable though to add an anticipated end of maintainance via another setting, if ops can provide this we can expose it I suppose.

[2018-08-09 14:03] AlexandraMoga commented on #8734
Update form @muffinresearch

[2018-08-09 14:13] BearJean opened #9119 "canot find it!"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
when i chick the button on
[code]
I cannot find the addon
### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-08-09 14:20] EnTeQuAk commented on #9119
That add-on is ancient (the site itself says Firefox 3-11, we're currently at 61) and there doesn't seem to be an up-to-date.

You can find other add-ons related to tab management at https://addons.mozilla.org/en-US/firefox/extensions/tabs/

[2018-08-09 14:20] #9119 closed

[2018-08-09 16:23] diox commented on #9118
Note: like with #8546 it's likely this would need to be done on the ops side

[2018-08-09 19:16] caitmuenster opened #9121 "Fix typo in canned response rejection for internal/private extensions"
Reported by B.J.

The canned response for rejecting an internal/private extension currently looks like this:

![screen shot 2018-08-09 at 12 14 02 pm](https://user-images.githubusercontent.com/23342476/43920478-e053366a-9bcd-11e8-8bf1-1aef5d185ddb.png)

"Fore" is a typo and needs to be changed to "for."

[2018-08-09 23:45] freaktechnik opened #9123 "Search displays a lot of unrelated results for term "Netatmo""
### Describe the problem and steps to reproduce it:
- Search for "Netatmo"

### What happened?
A lot of completely unrelated results to the term "Netatmo" are shown. One particular extension I was trying to look for (published by me) was only on the second page. It has netatmo all over it, too, but only has few users and no ratings.

### What did you expect to happen?
Top results at least have the

[2018-08-10 04:52] EnTeQuAk commented on #8867
This is again, hard to test but I enabled it on -stage so please play around and see if you see any noticeable improvements or if things got worse.

The following screenshots were taken before the actual change on -stage.

Themes:
Pink branch: https://screenshots.firefox.com/z8BFVgIIMGIGsNG1/addons.allizom.org
Happy Spring Daisies-1: (used "Happy Spring"): https://screenshots.firefox.com/D3TIZAW8b

[2018-08-10 13:36] AlexandraMoga commented on #8607
Verified on AMO-dev by requesting  the profile page for the following user:

in the api: https://addons-dev.allizom.org/api/v3/accounts/account/g.mail.test./
on the frontend: https://addons-dev.allizom.org/en-US/firefox/user/g.mail.test./

The profile details are returned in both cases.
The user will not be able to edit his profile unless the username is valid.

@willdurand with regards to the err

[2018-08-10 21:47] andreip commented on #7298
@caitmuenster @muffinresearch I've got the docker setup and tried to reproduce this, but the header doesn't seem to be translated on my local (see below screenshot), which is similar to what @is2ei posted anyway, notice his url is for italian, but the text is still _mostly_ in english.  Notice that "Documentazione" and the one I selected in the dropdown are translated, but mostly rest is still in

[2018-08-11 00:40] rihbyne commented on #6698
@caitmuenster @EnTeQuAk I have submitted a fix for this issue. Please review and let me know if I need to make any changes. Thank you.

[2018-08-12 00:21] bqbn opened #9137 "Some users profile page return 5xx (on new addons-frontend)"
### Describe the problem and steps to reproduce it:
Looking at our daily access logs, I'm surprised to see that 50% of the 5xx are caused by people access users' profile pages. For instance, on 8/10/2018 we had 173 5xx on one proxy instance, and 86 of them happened when people accessing `/<locale>/users/<user_id>` endpoint.

And particularly, [1] accounted for 40% of all 5xx, or 69 of them. The `0

[2018-08-12 22:51] mdboyd1 opened #9138 "thunderbird themes not working for me"
### Describe the problem and steps to reproduce it:
No matter what theme I try to install for Thunderbird, when I click "add," it brings me to a page that says "We're sorry, but we can't find what you're looking for.  The page or file you requested wasn't found on our site. It's possible that you clicked a link that's out of date, or typed in the address incorrectly."

### Anything else we should

[2018-08-13 06:29] AlexandraMoga commented on #9137
As far as I can tell, this is caused by the fact that the username starts with a `0` (see list above). I've experimented with a few more users and each time the username begins with a `0` the profile page will return a 504.

Also, this seems to be happening only on the frontend, not in the API:

https://addons-dev.allizom.org/api/v3/accounts/account/0basket/ - returns 200
https://addons-dev.allizo

[2018-08-13 08:00] EnTeQuAk commented on #9138
Please report issues about addons.thunderbird.net at https://github.com/thundernest/addons-server/issues

This repository is only for addons.mozilla.org.

[2018-08-13 08:00] #9138 closed

[2018-08-13 09:18] AlexandraMoga opened #9139 "User is asked to specify if source code is required when selecting the Cancel and Disable Version button"
Follow up for #8973

STR:

1. Log in to Developer hub on AMO -dev
2. Submit a new extension
3. In the Source Code upload screen, click on the "Cancel and Disable Version" button

Actual result:
User is forced to select the Yes or No radio button in order to cancel his submission

Expected result:
The user should not be asked to specify if source code is needed when he tries to cancel his submissio

[2018-08-13 09:40] AlexandraMoga opened #9140 "The Source Code upload form appears collapsed for a short moment when the user lands on it in the add-on submission flow"
STR:

1. Log in to Developer hub on AMO -dev
2. Submit a new extension
3. After your file is validated, click on Continue to proceed to the Source code upload form

Actual result:
The Source code upload form appears collapsed shortly, when the user lands on the page

Expected result:
The Source code upload form should be displayed only in its initial state

Notes:
- reproduced on AMO -dev with FF6

[2018-08-13 09:57] EnTeQuAk commented on #7298
So, from the GIF attached to the bug report the actual layout issue occurs for the `pt-PT` locale, and not Italian.

Maybe that helps reproducing this?

[2018-08-13 10:03] EnTeQuAk commented on #9137
This looks like an addons-frontend issue to me. Accessing this page on the legacy pages works perfectly fine, the `504` feels particularly wrong, suggesting that there is some internal redirect loop or something like that happening on the server side rendering? Not sure.

cc @bobsilverberg and @kumar303 to take a look at that.

[2018-08-13 10:04] eviljeff commented on #8973
PRD: "You may need to submit source code with your submission. "
    AMO: "You may need to submit source code"

I must have overlooked that copy change.  It's pretty minor imo - does it warrant a follow-up issue @wagnerand ?

@jvillalobos's request only mentioned the upload step in his [request](https://github.com/mozilla/addons-server/issues/8973#issuecomment-408560240) so I just referenced the P

[2018-08-13 10:28] wagnerand commented on #8973
I agree it's fairly minor. Maybe we can piggy-back on other follow-up work related to this?

[2018-08-13 10:28] AlexandraMoga opened #9142 "Source Code upload page is displayed for dictionaries, lang packs, search tools submissions"
Follow up for #8973

STR:

1. Log in to Developer Hub on AMO -dev
2. Upload a new add-on that doesn't run any code, i.e a dictionary
3. After your file passes validation, click on Continue to proceed to the next submission step

Actual result:
User lands on the Source Code upload page

Expected result:
Source code upload should be required only for extensions (`type=extension`)

Notes:
- reproduce

[2018-08-13 10:30] AlexandraMoga commented on #8973
Filed https://github.com/mozilla/addons-server/issues/9142

[2018-08-13 13:36] championshuttler opened #9144 "Drop the column `has_editor_comment`"
Drop the column `has_editor_comment` as it will be removed after #7516 . So needs a database migration so it doesn't fail when we deploy the updated code.

https://github.com/mozilla/addons-server/pull/9128#pullrequestreview-145644185

[2018-08-13 14:32] AlexandraMoga commented on #8867
I've checked several search scenarios on stage, including the ones mentioned above. Here comes a long post:

**Themes**

1. **Pink branch** → https://screenshots.firefox.com/yh4ixBS3rxV9AGAu/addons.allizom.org
The only difference observed is that the search query will also look into author names, not just add-on names; In this case, for example, we can find search results which do not include eith

[2018-08-13 15:02] anubhavsinha98 commented on #9028
Can I solve this issue?

[2018-08-13 15:07] anubhavsinha98 commented on #3447
I am a newbie to opensource so please help me to solve this issue!
I want to learn more about this issue.

[2018-08-13 15:25] EnTeQuAk commented on #8867
Nice, thanks a ton for taking the time to check this. Yes, testing this on staging is only a "is it completely broken or could we try it out on prod?"-test tbh.

It's only a setting so can be easily switched on and off in production later so the risk is fairly small.

Given our both findings that this isn't terribly broken, I'd go forward and try this out in production. If we find that results are

[2018-08-13 15:46] eviljeff commented on #9144
Yes, we will need this.  btw the code in #9128 doesn't drop the column, it just makes it nullable so the database doesn't raise an error when the django code no longer sets it.

[2018-08-13 16:50] championshuttler commented on #9144
@eviljeff great either i will raise PR for it or someone else ;)
Can you please add needed labels to this bug
Thanks

[2018-08-13 17:54] jrbenny35 commented on #8980
Trying to randomize the emails I ran into a bit of an issue.

I run ```python manage.py createsuperuser --email=$(FXA_EMAIL) --username=uitest --noinput --add-to-supercreate-group --hostname=olympia-frontend.test``` currently before generating addons to test against. It seems that this script creates a username correctly as I have no problems creating addons and assigning them to the created ```ui

[2018-08-13 20:39] jvillalobos commented on #8973
Yeah, forgot to include that. Please file a followup for it. Not a huge deal.

[2018-08-13 22:15] jvillalobos opened #9147 "Disable legacy extension version submissions"
On September 6th, we need to stop accepting new legacy extension version submissions. Developers will be notified in advance of this event.

In the upload step of the submission process, if a legacy extension is detected, an error should be shown with the message: "Legacy extensions are no longer supported in Firefox."

This applies to both listed and unlisted versions, whether they are new add-on

[2018-08-14 06:02] #7333 closed

[2018-08-14 07:56] AlexandraMoga opened #9149 "Notes to Reviewers section is missing some instructions for submissions with attached source code"
Follow up for #8973

STR:

1. Log in to Developer Hub on AMO -dev
2. Submit a new extension
3. After your file passes validation, click on Continue to proceed to the Source code upload page
4. Opt for 'Yes' and browse for a source file to upload with your submission
5. Click on continue to advance to the final submission step
6. Check the Notes to Reviewers section

Actual result:
There is no spec

[2018-08-14 08:48] AlexandraMoga commented on #7333
@diox @EnTeQuAk

I can try to verify this by looking in `/admin/models/users/userprofile/<12345>/` where the 'Last login' and 'Last login ip' fields are present, but I'm not sure how reliable this source is for testing this implementation.
Is there a better way to check this?

[2018-08-14 10:01] #7516 closed

[2018-08-14 10:44] eviljeff commented on #3447
@anubhavsinha98 have you set up a local addon-servers instance and gotten into the reviewer tools?

[2018-08-14 10:46] eviljeff commented on #9028
@anubhavsinha98 I think @shiri1248 is working on this issue already.

[2018-08-14 12:07] #8987 closed

[2018-08-14 13:58] AlexandraMoga commented on #7516
I've checked  AMO -dev but I'm still seeing a reviewer comment flag, with its specific icon, when looking in the auto-approved add-ons queue for example.
This is a comment I've just added:

![rev comment](https://user-images.githubusercontent.com/31961530/44096087-151ffe8c-9fe3-11e8-9e93-8c594e034e71.gif)

@eviljeff is there a chance that this hasn't landed on dev yet?

[2018-08-14 14:45] #8702 closed

[2018-08-14 14:57] #9142 closed

[2018-08-14 14:57] jvillalobos commented on #9147
This applies for complete themes as well.

[2018-08-14 15:00] #9139 closed

[2018-08-14 15:06] AlexandraMoga commented on #7516
Verified fixed on AMO -dev with FF61, Win10x64

![no comment](https://user-images.githubusercontent.com/31961530/44100007-a2c1bc86-9fec-11e8-9f24-e2a70ddf8c9a.gif)

[2018-08-14 15:32] eviljeff commented on #9040
given how infrequently this is happening, and how difficult it is to identify the cause, we _could_ just add a hack to fix it again.  E.g. either:
* fire a celery task with a 1 minute (or whatever) delay in the auto-approve task to re-set the current_version.
* have a daily cron job that runs something like the query @wagnerand included and just fixes anything broken.

The former would be a lot mo

[2018-08-14 15:37] bobsilverberg commented on #8747
My apologies @diox, it was indeed a bug on the front end, which I assumed was a server bug because I was getting an error back from the API, but the API was being called incorrectly.

[2018-08-14 15:39] wagnerand commented on #9149
There are some process changes we want to get out the door asap to reduce workload for admin reviewers. This supports those process changes as it sets clear expectations about requirements.

[2018-08-14 15:42] wagnerand commented on #9040
If we do that, what's our strategy to fix that permanently. I'm thinking of the `hide_disabled_files` and `unhide_disabled_files` cronjob that were added as a quick hack but are still here years later, meanwhile have bitten us in the back more than once and have been failing for a while without anyone noticing, leading to further problems...

[2018-08-14 15:45] AlexandraMoga commented on #8987
After a quick check this is what I observed:
- only Admin users can access the review page for a disabled addon to view the links to the PP and EULA pages
- the PP and EULA are available only when accessed from the Rev Tools which are pointing to `https://reviewers.addons-dev.allizom.org/en-US/reviewers/privacy/<some-addon>` respectively `https://reviewers.addons-dev.allizom.org/en-US/reviewers/eu

[2018-08-14 15:51] AlexandraMoga commented on #8702
@eviljeff could you please specify what should be tested here?
Thanks

[2018-08-14 15:53] eviljeff commented on #9040
@diox to comment on his strategy because he's spent time investigating it.

[2018-08-14 15:55] eviljeff commented on #8987
The access should be the same as the review page itself - if a reviewer can access a given review page (unlisted, or disabled or deleted) then the eula/privacy policy pages should also be accessible.

[2018-08-14 18:37] MagicFab opened #9157 "Accounts merge request to another FF account user"
I have an account (fabianrodriguez) on addons.thunderbird.net under an email tied to a Firefox Account which is not my main account. I can login to both.
How can I request a merge? Or how can I change the email so it matches my maint Firefox acount user?

[2018-08-14 20:01] jvillalobos opened #9158 "Trigger content re-review by time last reviewed and time last modified"
Content review was set up in https://github.com/mozilla/addons-server/issues/6310. One of the initial conditions set up is that add-ons that haven't been content-reviewed in a year would be up for content re-review.  @caitmuenster is concerned this will lead to lots of content reviews showing up soon (when the first year of the program is up), so we want to update the rule to mitigate that problem

[2018-08-14 20:16] caitmuenster commented on #9158
I'd tag this as 'works for me.'

Ideally, listing content that has changed since last content review decision would re-enter the content review queue. That having been said, I'm ok with Jorge's proposal.

[2018-08-14 22:50] jvillalobos opened #9163 "Make `additional_backgrounds` alignment in preview match Firefox interpretation"
Broken off from https://github.com/mozilla/addons-server/issues/8038.

Since [bug 1443561](https://bugzilla.mozilla.org/show_bug.cgi?id=1443561) doesn't appear to be on track to be fixed soon, we will launch static themes with that bug. This means we need to change the way the preview deals with `additional_backgrounds` alignment, since the frame encompasses the whole window instead of just the to

[2018-08-15 04:44] EnTeQuAk commented on #9147
@eviljeff I think we should try and target an earlier milestone to add this behind a waffle flag and test it upfront.

[2018-08-15 05:15] #9144 closed

[2018-08-15 05:27] EnTeQuAk opened #9170 "Add identifier if this request is an API request"
Following https://github.com/mozilla/addons-server/pull/9153 we have multiple places in our code where we check if a request is targeting the API. Some are using `.startswith('/api/')` and some are using `settings.DRF_API_REGEX`.

We should unify this and only make it once.

[2018-08-15 05:36] EnTeQuAk opened #9171 "Implement captcha in front of devhub submission"
To fight spam add-on submissions we want to add a captcha in front of new add-on submissions temporarily (behind a waffle flag).

Ideally, this should happen at account creation but there's much more product planning needed for that. Maybe @jvillalobos can see to put that into respective pipelines?

[2018-08-15 05:46] anubhavsinha98 commented on #3447
@eviljeff according to @madalincm  I opened the link provided by him but its showing OOPS! NOT ALLOWED! on the web page.

[2018-08-15 07:43] EnTeQuAk commented on #9157
This repository is only for issues about addons.mozilla.org, regarding addons.thunderbird.net please open issues at https://github.com/thundernest/addons-server/issues/

Thanks! Please let us know if you have any further problems/questions about AMO.

[2018-08-15 07:43] #9157 closed

[2018-08-15 10:01] wagnerand commented on #9158
I did some quick digging and it looks like the `modified` field does not get updated when the description or summary (for example) change.

[2018-08-15 11:15] eviljeff commented on #3447
See the reply to leni1

[2018-08-15 11:43] eviljeff commented on #9147
@entequak we could do. Though i think it will be a pretty straightforward change.

[2018-08-15 11:56] #1050 closed

[2018-08-15 12:42] EnTeQuAk commented on #1050
I must have messed up the merge, fixed in https://github.com/mozilla/addons-server/pull/9153

[2018-08-15 13:32] #9171 closed

[2018-08-15 14:05] willdurand commented on #1050
I wish I could have posted this link before but we should not really use X- anymore: https://tools.ietf.org/html/rfc6648

[2018-08-15 14:13] kumar303 commented on #1050
Thanks, Chris. Can you add documentation for this in a follow-up patch? I think a good place for it would be after the [error code section](http://addons-server.readthedocs.io/en/latest/topics/api/overview.html#unauthorized-and-permission-denied).

[2018-08-15 14:41] diox commented on #9158
Really ? Those fields are always updated through model forms on the add-on, and when we save the form it does save the add-on itself, triggering a `modified` update, so that'd be surprising to me - certainly a bug if you're right.

[2018-08-15 14:45] wagnerand commented on #9158
Maybe I am wrong, I read https://github.com/mozilla/addons-server/blob/e1d1ae0773c134534c79fac39379a128bb8c9d3f/src/olympia/amo/decorators.py#L113 as one would have to call that explicitly when updating a summary, for example.

[2018-08-15 15:04] diox commented on #9158
`set_modified_on` is used in tasks that modify files, precisely because those task don't save the corresponding add-on object (or save it too soon). It's rather specific.

[`modified` is a `auto_now=True` field](https://github.com/mozilla/addons-server/blob/3c7cf878468a6eff8e516d94e75fa943e0abfa67/src/olympia/amo/models.py#L369), so it gets updated every time the add-on instance is saved. Which [s

[2018-08-15 17:17] kumar303 opened #9173 "Get add-on reviews / ratings by star number"
We would like the [rating listing API](https://addons-server.readthedocs.io/en/latest/topics/api/ratings.html#get--api-v4-ratings-rating-) to return only reviews for a given star (e.g. one star reviews, five star reviews, etc).

This will support https://github.com/mozilla/addons-frontend/issues/5923 which is a UI for clicking stars to filter reviews.

The add-on review listing now has a graph tha

[2018-08-15 21:07] kajalsah commented on #7957
Is this still up for grabs? I would like to take up this issue if it is available. I am totally new to open source and may require help. Thanks 😄

[2018-08-16 04:43] EnTeQuAk commented on #9171
QA:

There is a new captcha at the developer agreement submission step, this step is only visible for first-time add-on submissions.

This is behind the 'addon-submission-captcha' waffle switch.

[2018-08-16 04:57] EnTeQuAk commented on #1050
True, I keep forgetting about that. Then maybe we should just use `AMO-Read-Only-Mode` in the future, but that's more of a cleanup I guess and shouldn't block moving forward.

Yes, I'm on it! I added some steps to the addons-frontend issue but I'll add more official docs too.

[2018-08-16 05:08] eviljeff commented on #7957
@kajalsah, yes. It looks like the previous contributers haven't worked on it.

[2018-08-16 06:13] AlexandraMoga commented on #8987
In that case, as I mentioned above, it will be only Admin users who are going to have access to the review page of a disabled (not deleted) add-on, respectively to the PP and EULA pages.

@wagnerand does this work for you?

[2018-08-16 06:33] AlexandraMoga commented on #1050
@EnTeQuAk could you please add some steps that could help with testing this implementation?
Thank you

[2018-08-16 06:48] EnTeQuAk commented on #7333
That's perfect and ideal to test this imho.

[2018-08-16 06:57] AlexandraMoga commented on #9142
Verified fixed on AMO stage with FF61, Win10x64

![src for non-ext](https://user-images.githubusercontent.com/31961530/44193135-91bc1e00-a13a-11e8-84a7-5e3f399bfd8b.gif)

[2018-08-16 07:06] AlexandraMoga commented on #9139
Verified fixed on AMO stage with FF61, WIn10x64

![cancel and disable src](https://user-images.githubusercontent.com/31961530/44193537-e57b3700-a13b-11e8-8ee2-42af509e134e.gif)

[2018-08-16 08:59] AlexandraMoga commented on #9171
@EnTeQuAk

After enabling the `addon-submission-captcha` switch (verified both dev and stage) there is no additional step in the first add-on submission flow.

Moreover, nothing happens when clicking on 'Accept" after the checkboxes are marked:

![no captcha](https://user-images.githubusercontent.com/31961530/44197862-85d75880-a148-11e8-91cc-5f6727f58561.gif)

[2018-08-16 09:16] EnTeQuAk commented on #9171
Indeed, I can reproduce this. I'll investigate.

[2018-08-16 09:34] ioanarusiczki commented on #7333
Verified fixed with FF61(Win10), FF63 (Win10) on AMO dev - I tested the login for some accounts and then I made some tests for new accounts (the register).  I looked into the /admin/models/users/userprofile/<12345>/ and checked that the information is accurate for Last login: and Last login ip: fields

[2018-08-16 09:52] AlexandraMoga commented on #7333
I've also submitted an add-on though the API and the last login field was populated with the date and time of the submission.

Based on these results, I think we can mark the issue as verified fixed

[2018-08-16 10:19] EnTeQuAk commented on #8831
True, there are some other issues though that make the API issue translation related sql queries multiple times, duplicated. But maybe that's a separate issue. I'd leave this here for a general "investigate and fix it"-task

[2018-08-16 12:07] AlexandraMoga commented on #9171
Verified fixed on AMO -dev with FF61, Win10x64
![captcha dev](https://user-images.githubusercontent.com/31961530/44207404-c98c8b00-a165-11e8-8fe6-80ade983bbbd.gif)

[2018-08-16 12:08] wagnerand commented on #8987
@AlexandraMoga Regular reviewers have access to disabled add-ons. Do you have an example I could check?

[2018-08-16 12:17] AlexandraMoga commented on #8987
@wagnerand  I've tried to access this add-on - https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/libs-unread-code-points - with a user that had Post Review and Admin Reviewer permissions

[2018-08-16 12:25] wagnerand commented on #9158
I ran some quick numbers for this scenario:

By the end of January 2019, ~2,000 content reviews will be due.
By the end of February 2019, an additional ~700 content reviews will be due.
March: additional ~500
April: additional ~500
May: additional ~400
June: additional ~450
July: additional ~300

[2018-08-16 12:37] wagnerand commented on #8987
Ok, looks like I was wrong. I expected that regular reviewers would have access, but they don't.

Since only admins can set the status to "Disabled by Mozilla", I think the current behavior is ok.

@AlexandraMoga This can be marked as verified.

[2018-08-16 12:41] AlexandraMoga commented on #8702
@eviljeff commented on irc:

[2018-08-16 12:46] AlexandraMoga commented on #9171
Stage also verified

[2018-08-16 13:04] AlexandraMoga commented on #8987
Conclusion:
Only Admin users have access to view the review page, privacy policy and EULA pages for an add-on with the following statuses:
- Disabled by Mozilla
- disabled by user, i.e. Incomplete
- invisible

Marking issue as verified.

[2018-08-16 14:06] diox commented on #9096
Interestingly this is not limited to dictionaries, it's just easier to notice there because they are set to always have wide compatibility.

[2018-08-16 17:05] vcarciu opened #9180 ""Oops..." page returned when trying to submit extensions with empty name for some languages"
Steps to reproduce:
1.Go to https://addons.mozilla.org/ro/developers/ (please note that language is imporant)
2.Try to submit a new extension with an empty name

Expected results:
"This field is required" message should be displayed

Actual results:
"Oops... " page displayed

NOTES:
Reproducible also on Stage for ro language and probably for some other languages too
Not reproducible for en-US for

[2018-08-16 17:09] diox commented on #9180
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4506153/ which should be easy to fix - hopefully it's just a matter of using `unicode` strings instead of `str`, by using the `u` prefix.

(We also have https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4498299/ but that seems to be a different problem).

[2018-08-16 17:44] #9037 closed

[2018-08-16 18:20] andreip commented on #7298
Thanks! I eventually figured out that the issue was I didn't have the `.mo` files compiled on local. I ran these to fix it:

[code]

[2018-08-16 19:45] andreip commented on #7298
@muffinresearch if you're still the one I should notice, I submitted a PR here https://github.com/mozilla/addons-server/pull/9182

[2018-08-16 19:51] caitmuenster commented on #7298
Thanks @andreip -- @muffinresearch is out on PTO for the next two weeks but @EnTeQuAk might be able to review your PR or find someone else to take a look at it soon. :)

[2018-08-16 20:28] johnbindel commented on #5495
Issue is with running Docker on WSL: https://github.com/docker/for-win/issues/1588

It appears to be an issue with WSL not supporting TTY for Windows executables. From what I can tell, the only working solution as of today is to set up a Docker client from inside WSL that accesses the Windows-hosted daemon via TCP without TLS.

Steps to set that up are here: https://medium.com/@sebagomez/installin

[2018-08-16 22:05] bqbn opened #9186 "Remove "update_addons_collections_downloads" cron job"
### Describe the problem and steps to reproduce it:

The cron job is here:

https://github.com/mozilla/addons-server/blob/master/scripts/crontab/crontab.tpl#L41

But I can't find a second reference to `update_addons_collections_downloads` except the above.

### What happened?

The `crontab.tpl` file went through a round of clean up recently. I wonder if the `update_addons_collections_downloads` wa

[2018-08-17 05:42] #7298 closed

[2018-08-17 05:48] EnTeQuAk commented on #9123
This seems to have been fixed by #8868

[2018-08-17 05:48] #9123 closed

[2018-08-17 05:49] EnTeQuAk commented on #8926
We landed a few improvements on search via #8868, can you see if that helps your scenario at least a bit?

[2018-08-17 05:57] EnTeQuAk commented on #8207
Just checking in here, we recently improved search a bit - or at least the ranking specifically but this specific scenario seems still very much not functional.

So I'll leave this open for further investigation.

[2018-08-17 06:01] #9028 closed

[2018-08-17 06:04] EnTeQuAk commented on #6815
Yeah, prefix boosting is very helpful for our current implementation of search suggestions. Removing it makes things a lot worse imho.

I'm closing this since it's indeed useful :)

[2018-08-17 06:04] #6815 closed

[2018-08-17 07:17] erosman commented on #9028
Off-Topic: @eviljeff looking at  7f8f5ff `_REVIEWED_ADDON_PRELIM: _('Preliminary Add-on Review'),` seems not to be relevant any more, unless it is still in use.

[2018-08-17 09:51] AlexandraMoga commented on #9037
Verified fixed on AMO -dev with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/44260133-34000280-a21c-11e8-9be8-7ee8514e0940.png)

[2018-08-17 10:41] #9186 closed

[2018-08-17 10:54] anubhavsinha98 commented on #3447
@eviljeff I have set up a local addon-servers !

[2018-08-17 11:46] #9096 closed

[2018-08-17 13:35] EnTeQuAk commented on #955
Short update: Still waiting for upstream to release a new version with my PR that added the new datadogpy client. Once that happens we can move forward using more advanced features.

[2018-08-17 13:47] EnTeQuAk opened #9193 "[Tracking] Remove support for Thunderbird and Seamonkey"
Let's track various issues related to removing support for Thunderbird and Seamonkey.

We should remove bits and pieces that handle Thunderbird and Seamonkey special, now that they're not hosted on AMO anymore.

[2018-08-17 13:48] EnTeQuAk opened #9194 "Remove XML rendering support from versioncheck"
We are serving XML to Thunderbird and Seamonkey in versioncheck. Firefox and Firefox for Android already get proper JSON updates.

We should remove the bits and pieces that handle Thunderbird and Seamonkey special, now that they're not hosted on AMO anymore.

[2018-08-17 13:48] #9193 closed

[2018-08-17 14:19] #9074 closed

[2018-08-17 15:28] vcarciu opened #9196 "Upper and lowercases should have same search suggestions"
Steps to reproduce:
1.Go to AMO Stage and enter a search term with lower cases
2.Enter same search term with some uppercases

Expected results:
Same search suggestion in both cases

Actual results:
Search suggestions are different

Please see a video for this issue :
![searchsuggestions](https://user-images.githubusercontent.com/1583842/44274619-49405580-a24b-11e8-9ebd-38c62bfbd302.gif)

[2018-08-17 18:34] anubhavsinha98 commented on #3447
Cloned the addon-server repo, now what to do?

[2018-08-17 18:45] jrbenny35 commented on #3447
@anubhavsinha98 not to bud in but you probably want to follow this doc: https://addons-server.readthedocs.io/en/latest/topics/install/docker.html

[2018-08-17 21:33] caitmuenster commented on #8926
Much better! I was able to add 3 of the four themes that Pam and candelora weren't able to add before. The last one, "Into the Blue Light," didn't show up in search.

[2018-08-19 22:24] riyadh34 opened #9201 "fireform"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-08-20 07:50] EnTeQuAk commented on #9201
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-08-20 07:50] #9201 closed

[2018-08-20 09:02] ioanarusiczki commented on #7298
Verified fixed on AMO -dev with FF61(Win10)
Polish
![polish](https://user-images.githubusercontent.com/33448286/44330876-c7ca0c80-a470-11e8-847d-68b3563fd403.png)
Romanian
![romanian](https://user-images.githubusercontent.com/33448286/44330891-cf89b100-a470-11e8-8d20-9141cc0d5305.png)
Spanish
![spanish](https://user-images.githubusercontent.com/33448286/44330901-d44e6500-a470-11e8-9e10-59a975debb5

[2018-08-20 10:01] diox commented on #8587
So for each dictionary:
- Extract the `current_version` file somewhere
- Add `manifest.json` inserting the path to the `.dic` file, copying over necessary fields from the `install.rdf`, increasing the version number and then removing that file
- Zip that directory into a .xpi that is then attached to a `File` instance itself added to a new `Version` on the `Addon`, re-using the version number we g

[2018-08-20 10:43] diox commented on #9040
We don't have a strategy to fix that issue permanently, because as we both pointed out we've been unable to identify the cause. We're acutely aware that the 2 solutions proposed are hacks, we just have nothing better to offer right now.

Our of the 2, I prefer the cron job. It's ugly, takes a bit more time, but I feel like we're going to need the extra reliability. We could probably fire it hourly

[2018-08-20 10:43] AlexandraMoga opened #9203 "Add-on Edit information form is stuck in a loading state with several locales when an error message should be generated"
STR:

1. Log in to Developer Hub
2. Change your locale to `de`
3. Go to Mange my Submissions page
4. Select one of your submitted add-ons to view its Edit information page
5. Insert an invalid value in one of the fields that should generate an error - i.e. an unsupported domain in the Contribution URL field
6. Save the form

Actual result:
The edited section is stuck in a loading state after the f

[2018-08-20 10:53] diox commented on #9203
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4488551/

[code]

[2018-08-20 11:45] AlexandraMoga commented on #9096
Verified fixed on AMO -dev with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/44338735-93ae1600-a487-11e8-9d3c-14a6d7766018.png)
![image](https://user-images.githubusercontent.com/31961530/44338738-97da3380-a487-11e8-8373-a499b635b561.png)

[2018-08-20 12:47] #9203 closed

[2018-08-20 13:03] AlexandraMoga commented on #9074
@diox is there anything specific that should be checked to confirm this is fixed?

[2018-08-20 13:08] diox commented on #9074
@AlexandraMoga you can try submitting add-ons with invisible unicode control characters (*) in their name or description, and then hitting https://addons-dev.allizom.org/en-US/firefox/extensions/format:rss?sort=created once they have been approved, verifying that it doesn't result in a 500 error page.

(*) One of these (hopefully Github will let me post them) : ``

[2018-08-20 13:27] diox commented on #9046
The amusing thing in all this is that this is not true: users are soft-deleted, all those related instances are kept. But django does not know that...

I've been looking at how to fix this, and there are a couple paths we can take:
- We could give `Admin:Advanced` users the permission to delete the related models. We don't really want to be able to fully delete some of these models from the admin,

[2018-08-20 13:40] AlexandraMoga opened #9205 "Compatibility section for dictionaries and language packs review pages needs to be updated"
STR:

1. Log in to AMO with a Reviewer account
2. Access Reviewer Tools - Auto-approved queue
3. Pick a dictionary from the pending list - see https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/dictionar-categories
4. Check the Compatibility section in the Version details

Actual results:
The dictionary appears compatible with all applications. Android, Thunderbird and Seamonkey inclu

[2018-08-20 14:06] diox commented on #9205
Just a display issue, this will all get cleaned up when we remove thunderbird code entirely.

[2018-08-20 14:25] AlexandraMoga commented on #9074
I've submitted several add-ons with invisible unicode characters and the https://addons-dev.allizom.org/en-US/firefox/extensions/format:rss?sort=created page is loaded without any errors:

![image](https://user-images.githubusercontent.com/31961530/44346146-f01c3000-a49d-11e8-9fa3-fb9153c989a4.png)

marking issue as verified fixed on AMO dev with FF61, Win10x64

[2018-08-20 14:59] #9163 closed

[2018-08-20 20:40] kumar303 opened #9208 "The List Ratings API returns a cached GET after a PATCH"
### Describe the problem and steps to reproduce it:

See https://github.com/mozilla/addons-frontend/issues/5986 for STR. The [List Ratings API](https://addons-server.readthedocs.io/en/latest/topics/api/ratings.html#list-ratings) returns a cached GET after a PATCH.

- When the page loads, it GETs `/api/v3/reviews/review/?addon=321&show_grouped_ratings=true&lang=en-US&wrap_outgoing_links=true`. This

[2018-08-20 20:54] diox commented on #9208
Grouped ratings are not updated in real time on purpose. The query to generate them can take a short while on add-ons with lots of ratings, so it's cached, and updated asynchronously by a celery task when we save a rating instance (either a new or an existing one, doesn't matter).

Getting rid of that cache is not an option, and updating it in real time would slow down writes on add-ons with lots

[2018-08-21 01:56] #9049 closed

[2018-08-21 05:34] EnTeQuAk opened #9213 "IntegrityError: (1048, "Column 'user_homepage' cannot be null")"
For now I'm not particularly sure where this is coming from since `UserProfile.homepage` is not nullable - at least in our django models - so maybe the schema is different on prod.

https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4562680/

[code]

[2018-08-21 05:55] PRDormer opened #9214 "Can't install theme in Thunderbird"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
I'm trying to install a theme in Thunderbird.  Selecting themes from Thunderbird brings up a themes page in my browser but when I select the install In Thunderbird button it goes to a page not found

[2018-08-21 06:12] EnTeQuAk commented on #9214
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please file issues about addons.thunderbird.net at https://github.com/thundernest/addons-server/issues.

If you think this issue has been closed erroneously please re-open or comment on the issue and provide as much information as possible so that we can assist you.

[2018-08-21 06:12] #9214 closed

[2018-08-21 07:30] ioanarusiczki commented on #9186
@diox Could you add some STR for QA or add qa not needed label ?
Thanks!

[2018-08-21 07:50] AlexandraMoga commented on #9203
Verified fixed on AMO -dev with FF61, Win10x64

![edit in locales](https://user-images.githubusercontent.com/31961530/44388087-e511e000-a52f-11e8-8a09-4df402926b1e.gif)

[2018-08-21 09:46] AlexandraMoga opened #9215 "Users with Addon:PostReview permission can't see any entries in the Add-on Review Log"
STR:

1. Log in to AMO with a user that has Addon:PostReview permissions
2. Access Reviewer Tools dashboard
3. Click on Add-on Review log

Actual result:
There are no entries visible in the Add-on review Log

Expected result:
There should be entries related to webextension reviews visible in the Add-on Review log

Notes:
- could be a regression from #9206
- reproduced on AMO -dev with FF61, Win10x

[2018-08-21 09:47] AlexandraMoga commented on #9049
Verified on AMO -dev with FF61, WIn10x64

- static theme reviewers will see only staic themes listed in the add-on review log
- legacy add-on reviewers will see all entries, except static themes, in the add-on review log
- admins can see all types of add-ons in the review log

@eviljeff
- there seems to be a regression with the review log when accessed by a user with Addon:PostReview.
I've logged

[2018-08-21 10:01] eviljeff commented on #9208
Is there anything to do here then?  Seems like from @diox's comment it's a WONTFIX

[2018-08-21 10:04] eviljeff commented on #9213
it's coming from the Akismet spam checking, but it's not supposed to be waffled on for prod (nor dev or stage)

[2018-08-21 10:10] kvaluruk commented on #8497
@eviljeff Can I work on this?

[2018-08-21 10:27] eviljeff commented on #8497
@kvaluruk sure, go ahead. But note a) it's not been marked as a good first bug (yet*?) b) you'll need to write some tests c) because of (b) you'll probably need to install addons-server locally to develop the fix. *(and because of (b) and (c) it might not be marked as a good first bug)

[2018-08-21 10:41] kvaluruk commented on #8497
@eviljeff sorry for that quick fix PR, I'd still love to work on this issue! I've never worked with testing before though. How can I get started?
If you think it'll be a bit complex, I'll look into the other issues. Thanks!

[2018-08-21 10:45] eviljeff commented on #8497
It's up to you.  It's perhaps not a super beginner issue, but I think you can just see what tests fail on the Travis test run and then change those lines.  Once you've made the template change I requested if you can't work out how to change the tests I'll point the lines out.

[2018-08-21 10:48] eviljeff commented on #8702
we need some API keys from @muffinresearch so we'll wait until he's back to test this.

[2018-08-21 10:57] eviljeff commented on #9215
@jvillalobos can you confirm what permissions should be able to view addon reviews?  I (naively, it seems) just used `'Addons:Review'`

[2018-08-21 12:27] bobsilverberg commented on #8701
FYI, @jvillalobos already commented about this at https://github.com/mozilla/addons-frontend/issues/5433#issuecomment-400839915, which is why I opened this issue in the first place.

[2018-08-21 13:00] eviljeff commented on #8701
@diox said:

I agree, fwiw.

[2018-08-21 13:59] AlexandraMoga commented on #9163
I've submitted several static themes that are using the additional background property and added both supported and unsupported `"additional_backgrounds_alignment"`

When the theme uses unsupported alignments (i.e. not one of `left top`, `top`, `right top`), the generated preview will also exclude these alignments.

Below is a representative example for a theme using `bottom` alignments submitted

[2018-08-21 14:03] diox commented on #9180
Should have been fixed by #9204

[2018-08-21 14:03] #9180 closed

[2018-08-21 14:31] AlexandraMoga commented on #9028
There is no more wrapping in the Recent Points section, with `en-US` at least. Not sure if it's going to be a problem with other languages. Needs to be rechecked when the fields will be translated.

![image](https://user-images.githubusercontent.com/31961530/44407950-02fb3700-a568-11e8-9c7b-3d18ceba53cd.png)

[2018-08-21 14:46] shiri1248 commented on #9028
Hi    @AlexandraMoga, is this issue still needs to be  fixed? Actually I didn't get you

[2018-08-21 14:56] PRDormer commented on #9214
When I got the error message, this is where it told me to make the report.  I suspect, having seen other bug reports, that attempting to install add-ons in Thunderbird instead attempts to install them in Firefox, but as I don't have Firefox installed on this machine, that's why I got the error.

[2018-08-21 15:02] AlexandraMoga commented on #9028
Hey @shiri1248 the issue is fixed if the page is visited with `en-US` . I've just made a note to check this fix again after the related fields have been translated. There are locales (i.e German) that could still show some issues.

[2018-08-21 15:17] AlexandraMoga commented on #9149
@EnTeQuAk there is one small issue with this:

![image](https://user-images.githubusercontent.com/31961530/44410904-05f92600-a56e-11e8-80e8-87f4ae9dbe5a.png)

In the [PRD](https://docs.google.com/document/d/10WsKUfiuQ7-WFwSjyuPIztkoRHwLR7lUrdMoJdvZlsU/edit#heading=h.jem6a7lsad66) "policy requirements" is marked as a link to https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Source_Code_Submi

[2018-08-21 15:34] EnTeQuAk commented on #9149
@AlexandraMoga this will be added in https://github.com/mozilla/addons-server/pull/9221 in a few minutes, nice find!

[2018-08-21 17:06] jvillalobos commented on #9147
Another condition to take into account here are internally-signed extensions, some of which are still legacy. I believe we special-case them for upload anyway, and we should continue to support that for the time being.

[2018-08-21 17:07] #7158 closed

[2018-08-21 17:14] jvillalobos commented on #9215
I believe we need to include `Addons:Review`, `Addons:ContentReview`, and `Addons:PostReview`.
/cc @wagnerand to confirm.

Moving up to P2 since it's a regression that could affect reviewers.

[2018-08-21 17:14] EnTeQuAk opened #9222 "Remove safer_get_or_create"
This can be removed after #9195

[2018-08-21 19:04] jvillalobos commented on #8701
Like with user reviews, I think localization in this context makes more harm than good. We don't localize Mozilla collections at the moment, and we could create localized versions as a workaround (as can other users who need localized collections).

[2018-08-22 06:36] AlexandraMoga commented on #9149
Verified fixed on AMO -dev and stage with FF61, Win10x64

![image](https://user-images.githubusercontent.com/31961530/44446687-7a73a980-a5ee-11e8-9079-703db064b622.png)

... and the new introductory copy
![image](https://user-images.githubusercontent.com/31961530/44446717-96774b00-a5ee-11e8-9c15-6b1aa08ccde9.png)

[2018-08-22 06:53] eviljeff commented on #8701
implementation note: Collections are the only place we write to a `TranslationSerializerField` so if we want to maintain that support for future use (e.g. an API based devhub) we should be aware that when changing the tests for the collection serializers/views we will be removing the only place we have real-world integration tests for setting/changing `TranslationField` attributes via the API.

[2018-08-22 07:10] eviljeff commented on #8701
As changing the response to always return a flat string, and never a dict, would be a breaking change to the API (public facing; and available without auth) we also shouldn't do this on `/v3/`.  #8899 has ideas about how to address the v3 / v4 api problem (but no resolution as yet).

[2018-08-22 07:52] eviljeff commented on #3447
@anubhavsinha98 next step after you've cloned the repo and have addons-server running locally is to try to replicate the issue locally -

- submit an addon to your local server;
- in http://olympia.test/en-GB/reviewers/ find the review in the queues
- then approve or reject the addon with a long review comment (a single word without spaces)

[2018-08-22 07:54] eviljeff commented on #3447
I'm pretty certain you can fix this with some css.  I think you'll find the css to change in `olympia/static/css/zamboni/reviewers.less` (look for the class, or parent class, etc)

[2018-08-22 08:17] vcarciu commented on #9180
Verified as fixed :
![emptyro](https://user-images.githubusercontent.com/1583842/44451608-e2c98780-a5fc-11e8-9f5f-2ff43ce3f008.gif)

[2018-08-22 09:03] AlexandraMoga commented on #9046
Verified fixed on AMO stage with FF61, Win10x64

Users with Admin:Advanced are able to:
- delete users with posted reviews
- delete users with posted abuse reports
- delete users with active collections

additionally

- delete users that are the only developers of a public add-on => add-on will also be deleted
- delete a user that is listed as one of the developers for a public add-on => user remo

[2018-08-22 09:42] wagnerand commented on #9215
Sounds good. We can skip `Addons:ThemeReview`for now.

[2018-08-22 11:42] diox commented on #8587
Safest way to handle the version number increment is probably going to be this, similar to how we did it for mass-signing:
[code]

The `.1-typefix` is present for a number of dictionaries, I assume it's coming from an older automated mass-change (couldn't find it by grepping around the code though). It's probably safe to replace that suffix with another one.

[2018-08-22 12:06] eviljeff commented on #9215
adding support for `Addons:ThemesReview` (#9049) was what caused this regression.

[2018-08-22 12:51] ioanarusiczki opened #9227 "Previews are not correctly displayed for a theme with an additional background picture and centered top alignment"
STR:
1. Load on AMO -dev and use the samples I attached to submit: I used   "additional_backgrounds": [ "morning-left.png" ] or   "additional_backgrounds": [ "dawn-left.png" ],  "additional_backgrounds_alignment": [ "center top"  ] and color picked a color "accentcolor": "pink"
2. Observe the preview displayed
3. Install the static theme
4. Compare the preview with the installed theme

Actual resu

[2018-08-22 13:05] diox commented on #8745
Stylish is no longer entirely disabled.

[2018-08-22 13:05] #8745 closed

[2018-08-22 13:06] diox commented on #9047
@AlexandraMoga can you refile this on the frontend? It's fairly minor though, most users with that permission are going to have more permissions, including reviewer tools access.

[2018-08-22 13:07] #9047 closed

[2018-08-22 13:09] diox commented on #9137
Re-filed as https://github.com/mozilla/addons-frontend/issues/6007

[2018-08-22 13:09] #9137 closed

[2018-08-22 13:10] ioanarusiczki opened #9228 "Reviewer's page - "Header file" should be displayed for the image used as headerURL"
STR:
1. Load AMO dev and login with an admin account
2. Go to the Listed review page of a static theme with additional background pictures such as this [one](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/centertopst3) or this [one](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/st3center-top)
3. Observe the display for the image used as headerURL below the Theme

[2018-08-22 13:13] ioanarusiczki commented on #9163
@eviljeff I've noticed and filed two issues while testing additional backgrounds.
https://github.com/mozilla/addons-server/issues/9227
https://github.com/mozilla/addons-server/issues/9228

[2018-08-22 13:29] eviljeff commented on #9227
I'm confused about the two zips - are you saying both are broken (are they broken in different ways??).

Also, it's difficult to see the problem if the screenshot shows an extra wide browser window vs. a rendered preview at 680px wide.

[2018-08-22 13:41] eviljeff commented on #9228
Background files is just all the files in a folder that were extracted during the version submission - i.e. we know they were background image files but at this point not what they were for.

It would be quite a large change to either extract the manifest again and attempt to match up the files or store a copy of the manifest somewhere.  If it's just because it _might_ be confusing for a theoretic

[2018-08-22 13:41] #9228 closed

[2018-08-22 13:55] eviljeff commented on #9163
[MDN](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/manifest.json/theme) said `if not specified, defaults to "left top".` so that's how I implemented it - it appears from Firefox that it's actually defaulting to "right top", the same as the `headerURL`.

@jvillalobos fyi (another) Firefox bug.  Can you confirm what you want to happen and if we think it's likely it'll chang

[2018-08-22 14:03] #9215 closed

[2018-08-22 15:13] ioanarusiczki commented on #9227
@eviljeff Well, both have the same problem with the previews, I only changed the .png background file to give two examples. If you install them, you should see that it's clearly a difference.

For example - the first screenshot from the issue I filed - The preview: shows a yellow toolbar and it's pink at the middle. The Browser after installing it shows exactly the opposite and also the correct di

[2018-08-22 15:33] caitmuenster commented on #9140
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @diox

[2018-08-22 16:33] caitmuenster commented on #8497
Hey @kvaluruk! Since you are close to closing this bug out, we are marking you as assigned to this bug. :)

@eviljeff is here to help with questions about the tests to help you get this over the finish line!

[2018-08-22 17:27] #8497 closed

[2018-08-22 17:34] kvaluruk commented on #8497
@eviljeff @caitmuenster Thanks for the motivation and guidance! This was my first ever OS contribution, looking forward to getting involved even more :heart: :tada:

[2018-08-22 19:07] caitmuenster commented on #8497
Nicely done, @kvaluruk! Your contribution has been added to our [recognition wiki](https://wiki.mozilla.org/Add-ons/Contribute/Recognition) and your mozillians.org profile has been vouched.

Welcome onboard! We look forward to seeing you around the project. 🎉

[2018-08-22 22:05] mconca commented on #9163
MDN is not clear on this at all.  The docs for "additional_backgrounds_alignment" say, if not specified, it defaults to "left top".  The docs for "additional_backgrounds" say "By default all images are anchored to the upper right corner."

I think we want everything to anchor to the same location, which is the top right corner.  This is current Firefox behavior, and I just changed the docs for add

[2018-08-22 22:31] jvillalobos opened #9233 "Make `additional_backgrounds` align to the top right, matching Firefox behavior"
Split off from https://github.com/mozilla/addons-server/issues/9163. The preview was implemented as the documentation on MDN specified the behavior (main background is top right, additional backgrounds are top left). However, Firefox implements the expected behavior (all backgrounds are top right), so the preview should do the same.

[2018-08-22 22:32] jvillalobos commented on #9163
Okay, cool. I filed https://github.com/mozilla/addons-server/issues/9233 to change the preview behavior.

[2018-08-23 07:56] AlexandraMoga commented on #9215
Verified fixed on -dev and stage with FF61, Win10x64

[2018-08-23 08:29] ioanarusiczki opened #9235 "Changes are not made on AMO's homepage "See more featured themes" link after a user with permissions adds or removes themes"
STR:
1. Load AMO dev and access the link https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/featured-personas/ with an account that has  Admin, Collections:Contribute or Admin:Curation permission
2. Add/remove some themes
3. Go to AMO dev homepage and click on [See more link ](https://addons-dev.allizom.org/en-US/firefox/search/?featured=true&type=statictheme%2Cpersona) and check for

[2018-08-23 09:21] diox opened #9236 "Don't consider the 'application' field in collection mandatory in the admin"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
- Edit a collection through the django admin

### What happened?
- application field is mandatory

### What did you expect to happen?
- application field should not be mandatory

[2018-08-23 11:33] #9236 closed

[2018-08-23 11:38] #9222 closed

[2018-08-23 14:51] eviljeff commented on #8705
QA: same as #8702, we will have wait until next week until -dev has the API keys to test this.

[2018-08-23 14:52] jvillalobos commented on #8958
At this point it's fine to break anything related to Thunderbird or SeaMonkey on AMO.

[2018-08-23 16:31] #9233 closed

[2018-08-23 18:31] anubhavsinha98 commented on #3447
Ok I am trying with it, this repo is of more than a GB waiting for it to get downloaded.

[2018-08-23 18:32] anubhavsinha98 commented on #3447
I am working on it.

[2018-08-23 19:06] bjherbison commented on #9050
I found another example today. Someone created six copies of the add-on to put a red border on mozilla.org pages with different names, descriptions, and version numbers (one was 8.6.5).

Having the author name listed would have made it easier to track down and reject those extensions.

[2018-08-23 22:55] jvillalobos opened #9242 "Use "Firefox user" instead of "Anonymous user" when user doesn't have display name"
It looks like we automatically generate names like "Anonymous user e467f3" when the user hasn't set a display name. That kind of name causes distrust when reading reviews or looking at developer names, so we want to use something a bit friendlier. So, the above generated name should be "Firefox user e467f3" instead.

[2018-08-23 23:10] jvillalobos opened #11453 "Require setting display name for all developers (or all users)"
We need developers to set a proper display name, so we don't have developer accounts with a generic "Anonymous user" label. Ideally (for me), it would be best that we require the same for all users, since it's also weird to have reviews, collections, etc. with those names.

The MVP in this case would be to just require it for developers. So, during submission we would detect the developer doesn't

[2018-08-23 23:14] jvillalobos opened #9243 "Restrict length of add-on name and summary"
We need to limit this during the submission flow and in the developer hub management pages.

[2018-08-23 23:19] jvillalobos opened #9244 "Truncate add-on names to meet length restrictions"
Follow-up of https://github.com/mozilla/addons-server/issues/9243. We need to truncate all add-ons that don't meet the guidelines. This will require giving developers advance notice.

[2018-08-24 04:45] isunitha98selvan commented on #9140
I would like to work on this. @caitmuenster @diox

[2018-08-24 07:17] eviljeff commented on #8816
I have a seemingly working patch that'll I'll link to for reference: https://github.com/eviljeff/olympia/tree/8816-deletable-translated-field-l10n (it needs some more tests to prove it handles all scenarios around required fields).

However, if we're dropping the remaining few places (see #8701) where we set a localised values in the API then we don't need this issue to be fixed until we add new A

[2018-08-24 07:31] AlexandraMoga commented on #9233
Theme previews for static themes using additional backgrounds without specified alignments are matching the current display for FF61

**- AMO preview and theme installed in Firefox 61**
https://addons-dev.allizom.org/en-US/firefox/addon/multi-backg-no-align/

![image](https://user-images.githubusercontent.com/31961530/44569498-4da4cb00-a783-11e8-8eca-01dba19061d4.png)

However, the layout changed

[2018-08-24 07:32] AlexandraMoga commented on #9163
@jvillalobos, regarding multiple background themes without alignments specified, it seems that Nightly is now displaying the background on the left corner [1], which contradicts https://github.com/mozilla/addons-server/issues/9163#issuecomment-415196961. I think we need confirmation that this is now a bug in Nightly and not a deliberate decision, before making any changes to the AMO behavior. Note

[2018-08-24 07:42] EnTeQuAk opened #9247 "Add better django debug toolbar support"
I'm using it more and more often and it's really nasty to set-up and install on addons-server.

We removed support for it years ago but somehow I'm not convinced it's a good idea. It provides a lot of really useful information that we should make use of much more often.

Currently, something like https://gist.github.com/EnTeQuAk/2ad62aeb384cf4425d01c36ae7c5a359 is needed. In addition you'll have t

[2018-08-24 08:38] kvaluruk commented on #9242
This string is returned through the `src/olympia/users/models.py`'s `UserManager` class. It also requires a test to be changed.
Can I work on this?

[2018-08-24 08:38] AlexandraMoga commented on #9236
Verified fixed on AMO  -dev with FF61, WIn10x64

![application null](https://user-images.githubusercontent.com/31961530/44574371-e7737480-a791-11e8-998f-eb292bc0a3b3.gif)

[2018-08-24 09:07] diox commented on #9140
@isunitha98selvan it's all yours. Follow https://addons-server.readthedocs.io/en/latest/topics/install/docker.html to install addons-server locally, that's what serves the developer hub.

My guess is you'd probably want to hide the source code part by default in CSS and then make sure it's shown when needed in js, you'll have to figure out if that's the best way of doing this. The CSS file to modi

[2018-08-24 09:28] wagnerand opened #9248 "Give admin reviewers access and delete options to user reviews (incl for disabled add-ons)"
### Describe the problem and steps to reproduce it:

When an add-on gets disabled, the public listing pages (including the user reviews page), becomes unavailable. The add-on review tools page links to the user reviews page.

Admin reviewers

### What happened?

Accessing that user reviews page for a disabled add-on returns 404.

### What did you expect to happen?

Admins should have access to use

[2018-08-24 09:34] diox commented on #9248
We should try to take advantage of the django admin for this if possible, adding the necessary fields to what's being displayed in that admin.

[2018-08-24 09:47] ioanarusiczki commented on #8497
Verified fixed on AMO dev with FF61(Win10)
![go to themes tab](https://user-images.githubusercontent.com/33448286/44578242-cd3e9400-a79b-11e8-9813-f1f6960c86ab.gif)

[2018-08-24 10:50] #9117 closed

[2018-08-24 15:12] #9227 closed

[2018-08-24 15:15] mconca commented on #9163
It is a bug in Nightly.  I just filed https://bugzilla.mozilla.org/show_bug.cgi?id=1486018 to have it corrected.  Thanks for catching this.

[2018-08-24 17:54] jvillalobos opened #9252 "Support animation / video on product pages"
As we try to make add-on product pages more informative and appealing, we need to figure out what we can do in the video and animation area. Some questions that I have:

* Would it be possible to safely embed video (say, from YouTube) on an add-on product page? Would it work with the anti-tracking features in Firefox?
* What about animated gifs / pngs? What would we need to change to support them?

[2018-08-24 20:57] caitmuenster opened #9253 "Duplicate reports of flagged user ratings in moderation queue"
In the Ratings Awaiting Moderation Queue, there are a lot of duplicates of user ratings that have been flagged for moderation, especially for user ratings that have been flagged by multiple users for moderation.

It would be great if moderators only saw one instance of a rating that had been flagged for moderation.

[2018-08-25 11:01] LordGameleo commented on #2179
Is this issue open? I would like to go for it.

[2018-08-27 06:05] EnTeQuAk commented on #9242
@kvaluruk it should be easy enough, there is also one test to change in `src/olympia/users/tests/test_models.py` that tests this functionality.

Feel free to work on it, just let us know so that we can assign the correct labels.

[2018-08-27 06:12] AlexandraMoga commented on #9253
I suspect this is the same issue as https://github.com/mozilla/addons-server/issues/6948

[2018-08-27 07:26] AlexandraMoga commented on #9233
FF 63.0a1 was fixed to display images on the top right by default.

[2018-08-27 07:38] EnTeQuAk commented on #2179
Personally, I like @andymckay's last idea here, using "Filter by" and regular links. I think both, sort-by and filter-by would need to increase in size a bit though to make it more obvious to users.

@pwalm any objections or other simple improvement ideas? If not then I think this may be fine for a contributor to work on.

I wouldn't change the way how these links work at all though.

@LordGameleo

[2018-08-27 12:09] ioanarusiczki opened #9263 "Unable to submit a review with emojis on Android"
STR:
1. Load AMO dev and login then go to an add-on's detail page
2. Click on the stars to make a review and insert an emoji too into the text box
3. Observe the screen

Actual result:
Review cannot be saved, "Internal Server Error" message is displayed.

Expected result:
Review is successfully submitted.

Notes:
Issue is reproducible on -AMO dev with FF61(Android 8.0) with developer's reply too.

[2018-08-27 12:12] ioanarusiczki commented on #8923
While making some tests for https://github.com/mozilla/addons-frontend/issues/6055 and https://github.com/mozilla/addons-frontend/issues/5998 I noticed that on AMO -dev I could not make a review comment using emoji while on AMO stage it is still working for now. So I filed https://github.com/mozilla/addons-server/issues/9263. It could be a regression.

[2018-08-27 13:19] kvaluruk commented on #9242
@EnTeQuAk working on it!

[2018-08-27 16:14] jvillalobos commented on #9253
Yes, seems to be a duplicate.

[2018-08-27 16:14] #9253 closed

[2018-08-27 19:48] jvillalobos opened #9267 "Don't allow use of "Mozilla" or "Firefox" in add-on names"
Companion issue for https://github.com/mozilla/addons-linter/issues/2158

Up until now, we've allowed add-on names to end with "for Firefox" or "for Mozilla". For SEO reasons, we don't want to allow this anymore. XPIs with add-on names containing "Firefox" or "Mozilla" should not be allowed in the submission flow.

[2018-08-27 21:07] pwalm commented on #2179
Sounds good to me! Thanks @LordGameleo

[2018-08-28 05:55] #9242 closed

[2018-08-28 07:30] eviljeff opened #9274 "Remove the legacy (v1 & v1.5) API"
Firefox60+ uses the v3 API; previous Firefoxes used `/api/1.5/` (and other non-Firefox toolkit apps, and a possible unknown number of 3rd party users).  After the support period ends for Firefox52 ESR we can remove the v1 and v1.5 API from addons-server.

The MDN [page](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Add-ons_manager_API) has said it's deprecated for years.

[2018-08-28 07:32] eviljeff opened #9275 "Upgrade use of MIDDLEWARE_CLASSES to newer MIDDLEWARE setting in django"
https://docs.djangoproject.com/en/1.11/topics/http/middleware/
and in particular https://docs.djangoproject.com/en/1.11/topics/http/middleware/#upgrading-middleware

Might be straightforward but there are some 3rd party middlewares we use, and possible other weird edge cases.

[2018-08-28 07:33] LordGameleo commented on #2179
Can I know what exactly should I do!? Is it to be made as "filter by" or anything else?

[2018-08-28 07:33] eviljeff commented on #9263
probably a dupe of #8923

[2018-08-28 07:37] EnTeQuAk commented on #2179
Correct, the result should look similar to the screenshot in https://github.com/mozilla/addons-server/issues/2179#issuecomment-219452056 but maybe make the text a bit bigger so that it is easier to see.

You'll probably have to touch src/olympia/addons/templates/addons/includes/dashboard_tabs.html which is being used by src/olympia/devhub/templates/devhub/addons/dashboard.html

The css could poten

[2018-08-28 07:40] LordGameleo commented on #2179
I will go through it once on my own. If I am unable to. I will let you know. Is there any channel where we can have proper communication.

[2018-08-28 07:56] EnTeQuAk commented on #2179
It's best either to ask here or in IRC: irc.mozilla.org in the #amo channel.

[2018-08-28 09:26] #8068 closed

[2018-08-28 09:35] eviljeff commented on #8068
QA:
Just need to look for regressions with this.  _Potentially_ any part of AMO could be affected (I changed a base class for all our content).  There are two scenarios
- an activity log being created that _doesn't_ set a specific date (the normal scenario).  Easiest way is to do anything that would normally log something - e.g. edit an Addon's information; submit a new add-on; do a review, and th

[2018-08-28 11:34] eviljeff commented on #9081
We can override the 10mb limit with an additional `--unlimited` param, so it's an easy fix.

Do we _want_ a limit though to individual or total file sizes though?  If so, we should enforce it in a more explicit way via the linter, or addons-server side validation checks on upload, rather than relying on a tool failing somewhere in a task.

@jvillalobos plus anyone engineering for thoughts on limit

[2018-08-28 12:02] EnTeQuAk commented on #9081
I think we should transform this issue into a generic "limit upload size" issue. I'm sure there are some limits in nginx regarding max body size and uploads, @bqbn or @autrilla should be able to check.

But nonetheless we should add some limits on the Django side of things too. With legacy add-ons gone our file uploads will be significantly smaller too.

[2018-08-28 12:12] autrilla commented on #9081
The limit for addons-server is 200MB afaict:

https://github.com/mozilla-services/cloudops-deployment/blob/c9915038d67ccb8d82da714ba1f8d7d46f0e78f8/projects/amo/puppet/modules/amo_proxy/templates/nginx.addons.conf.erb#L197

[2018-08-28 12:49] #9170 closed

[2018-08-28 13:28] AlexandraMoga commented on #8068
I had a look at the activity logging for dev-hub and rev tools and things seem to be working as intended:

1. Dev Hub - https://addons-dev.allizom.org/en-US/developers/feed
- checked for: add-on submission, updates, edit information, adding authors, uploading source code;
- activity is logged in the format "x _time_ ago"

2. Rev Tools - review log https://reviewers.addons-dev.allizom.org/en-US/rev

[2018-08-28 13:38] vcarciu commented on #9242
Verified as fixed :
![ffuser](https://user-images.githubusercontent.com/1583842/44726646-db185000-aae0-11e8-8e96-cb9c29b187d4.png)

[2018-08-28 13:43] vcarciu commented on #9170
@eviljeff : Can you add some STRs to this issue or mark it as "qa: not needed" ?

[2018-08-28 14:04] #8985 closed

[2018-08-28 14:07] EnTeQuAk commented on #8985
QA and everyone else who has to use it:

* The file admin (/admin/models/files/) has been improved as part of this
 * There is a bit more information in the file-list and you can search by slug and guid (not a full featured search but "starts with" search so that exact matches are probably ideal) of an add-on
* The detail page has a bit more structured information about a file
* As mentioned in th

[2018-08-28 15:15] #8705 closed

[2018-08-28 15:15] #9213 closed

[2018-08-28 15:19] eviljeff opened #9276 "add statsd logging to akismet"
because stats!

[2018-08-28 16:13] eviljeff commented on #7872
and closing because LWT is deprecated

[2018-08-28 16:13] #7872 closed

[2018-08-28 16:15] #9276 closed

[2018-08-28 16:16] #1786 closed

[2018-08-28 16:17] #4493 closed

[2018-08-28 16:18] #7871 closed

[2018-08-28 16:19] #6770 closed

[2018-08-28 16:20] #6766 closed

[2018-08-28 16:20] #4753 closed

[2018-08-28 16:29] AlexandraMoga commented on #9276
@eviljeff anything to test here?
Thanks

[2018-08-28 16:32] eviljeff commented on #8704
Should all the content be sent as one "comment" to Akismet?  (i.e. concatenate the values together) or as separate comments?  (If the latter, would all content have to pass?)

Also, what should happen for post-submission changes to the metadata via devhub?  Should be content update be prevented with the same error message?

[2018-08-28 16:40] eviljeff commented on #9276
Not for this issue, but I'll let you know when ops have the API keys set so the other Akismet issues can be tested on -dev.

[2018-08-28 17:06] EnTeQuAk commented on #6698
This got actually fixed but I missed that it wasn't mentioned as such in the PR.

Closing.

[2018-08-28 17:06] #6698 closed

[2018-08-28 17:19] jvillalobos opened #9278 "Restrict @mozilla.com guids for new add-ons"
Expanding on https://github.com/mozilla/addons-server/issues/4688, we should only allow GUIDs ending with `@mozilla.com` if the account submitting the add-on is also `@mozilla.(com|org)`. This only applies to new submissions, not updates.

[2018-08-28 17:35] caitmuenster opened #9281 "Update message template for "new published extension""
The [message template](https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/email/submission.txt) for the "new published extension" auto-email from AMO should be updated with [this text](https://docs.google.com/document/d/1msQ-vvDi7GDK04bTp8P5MJgiXoejTrSZ_EOay7HCUA0/edit#heading=h.4ln03gjbbwl3) [Google doc].

cc: @wagnerand

[2018-08-28 17:48] jvillalobos commented on #9081
I think limiting uploads to 7Mb is reasonable. We can set the same limit for the XPI and the background image in the wizard, for simplicity. With that restriction in place, setting `--unlimited` would also be good, so the only limit that is hit is the one we control.

[2018-08-28 18:48] #8980 closed

[2018-08-28 21:59] jvillalobos commented on #8704
Per the PRD, they should be sent separately, with these types: `product-name`, `product-summary`, `product-description`.

Depends on the form. During first submission, I think the three fields are in the same form, so they would all need to pass. In the devhub, the name and summary are on one form, and the description is on a different one.

Yes.

[2018-08-29 01:26] kvaluruk commented on #9281
@caitmuenster should the `submission.html` file be changed accordingly as well?

[2018-08-29 04:31] EnTeQuAk opened #9286 "Update autograph to 2.2.3"
References https://bugzilla.mozilla.org/show_bug.cgi?id=1486643

[2018-08-29 05:19] EnTeQuAk opened #9288 "Move selenium-firefox to separate docker-compose file"
The selenium-firefox image is huge, an additional 1.6GB to an additional 1.3GB for addons-server and 1.2GB for addons-frontend.

Neither is really contributor friendly, even for me with a 50Mbit/s internet connection it takes multiple minutes, up to ~15 minutes and more depending on speeds of docker hub.

Should we, in addition to looking to reduce the docker file size, also see if we can move sel

[2018-08-29 06:03] EnTeQuAk commented on #9080
I got this working after some fiddling, the only problem I am running into right now is that at least the start page requires quite a lot of add-ons that already exist on addons-server.

The ui-tests already have some code for it, I guess we may just re-use that?

[2018-08-29 06:09] eviljeff commented on #9080
landfill has some addon generation code - is that not enough?  Otherwise I suppose it's fine to move some code from the ui-tests to `src/olympia/` to do it.

[2018-08-29 06:11] EnTeQuAk commented on #9080
No, since the startpage from addons-frontend requires a certain set of existing add-ons, similar to discopane.

[2018-08-29 09:59] eviljeff commented on #9252
we can't resize animated gifs/pngs (#7635)

[2018-08-29 10:09] AlexandraMoga commented on #8985
I've verified this new functionalities on stage. I'm not sure why, but -dev is still showing the old version of `/admin/models/files/`

Here are my observations:

**Search**
1. files can be found when searching by an add-on slug or guid (exact match or nearly exact)
2.  _exception_: if an add-on is deleted, the slug is removed, so searching will only be possible by guid

**File download:**
1. a Do

[2018-08-29 11:52] #9286 closed

[2018-08-29 12:38] ioanarusiczki commented on #9227
@eviljeff
1. I verified this with FF63(Win10) on AMO dev - the fix sure looks way better

Before the fix - preview displayed by AMO + installed on FF on full screen windows monitor

![before the fix](https://user-images.githubusercontent.com/33448286/44785958-4aeb1100-ab9b-11e8-869d-d30d4a9ce642.png)

After the fix -  preview displayed by AMO + installed on FF on full screen windows monitor

![aft

[2018-08-29 12:47] eviljeff commented on #9227
@ioanarusiczki have you got screenshots at a similar size to the preview?   If the browser size is significantly different it could very well look different.

[2018-08-29 12:53] EnTeQuAk commented on #8752
So, looking at this more closely, this is what my current plan regarding this would be:

Some stats to refresh our memories: https://sql.telemetry.mozilla.org/queries/58687/ -> There are only 43 add-ons where their `current_version` has a different hash for at least one platform, so that they uploaded for at least one platform a separate file than for others.

The number reduces drastically if you

[2018-08-29 13:03] AlexandraMoga opened #9290 "Legacy pages can't be accessed from the new frontend when navigating in some new added locales"
STR

1. Load AMO on any server
2. Change your locale to `ia` (Interlingua) - https://addons.allizom.org/ia/firefox/
3. Click on Developer Hub in the header

Actual result:
A page not found is opened (the URL redirect looks broken (https://addons.allizom.org/en-US/firefox/ia/developers/)

Expected result:
User lands on Developer Hub homepage

Notes;
- the other locale I was able to reproduce with i

[2018-08-29 13:28] LordGameleo commented on #2179
There is a problem while I do reset database. Even after typing yes it says reset cancelled.

![snap_reset_cancelled](https://user-images.githubusercontent.com/40512667/44790685-872f6900-abbd-11e8-8e31-3740eaa133ca.png)

[2018-08-29 14:18] jrbenny35 commented on #4575
Since this #9289 is a thing now, I will go through and add more categories and such to complement the new frontend a bit better.

[2018-08-29 14:32] ioanarusiczki commented on #9227
@eviljeff
Well resizing the browser it will look more and more like the preview indeed
Here's the above sample
![resized to browser](https://user-images.githubusercontent.com/33448286/44794157-8e03af00-abb0-11e8-8ac8-8b13fed60123.gif)

And here's another example with a JPG non transparent sample used as background - notice that the pink background is only displayed by the browser.

 It looks like

[2018-08-29 17:40] #9147 closed

[2018-08-29 17:42] jvillalobos commented on #9281
Yes, both should be changed.

[2018-08-29 17:45] eviljeff commented on #9227
Right, so it's working as expected then.  Product made the decision in #7804 that the render is okay at this size and the fact the theme may look different at a large size is unavoidable.

[2018-08-29 17:50] pwalm commented on #2179
@LordGameleo Can you show us a screenshot with more context?

[2018-08-29 17:58] jvillalobos commented on #8752
We still want it to be possible to choose if an add-on supports Android or not. That shouldn't require file duplication, though.

Making those changes on submission doesn't require reaching out. Separately, if we need to make changes to existing versions, then we do need to contact the developers about it.

[2018-08-29 20:10] kumar303 commented on #9208
Thanks for the info. I'll close it. We'll have to think of some kind of optimistic UI approach to it.

[2018-08-29 20:10] #9208 closed

[2018-08-29 20:30] kumar303 opened #9293 "The List Ratings API takes a long time to return grouped ratings"
See mozilla/addons-frontend#5986 for STR.

Something happened recently where the dev API is now taking about 7 minutes to return updated grouped rating counts after submitting a rating. If I run the same frontend code (from master) against the stage API, grouped rating counts are returned nearly instantaneously.

Did something happen on dev? Do these rating counts rely on celery? @EnTeQuAk or coul

[2018-08-29 20:40] diox commented on #9293
It does rely on celery, yes. We have logs showing when the log is added and when the task starts/ends, so we should be able to figure out what's taking so long.

[2018-08-30 07:11] EnTeQuAk commented on #2179
Yes, the actual error that you're getting woud help debugging your problem running the project.

[2018-08-30 07:31] da2x opened #9298 ""Get add-on" button privacy"
The [Get Firefox add-on buttons](https://blog.mozilla.org/addons/2015/11/10/promote-your-add-ons-with-the-get-the-add-on-button/) don't really fit within the [Mozilla websites privacy policy](https://www.mozilla.org/en-US/privacy/websites/). The `mozilla.net` domain isn't even mentioned.

So what privacy policies govern the use of these badges? As far as I can tell, no Mozilla website sets any coo

[2018-08-30 07:37] ioanarusiczki commented on #9227
Yes, I can mark this verified fixed on AMO dev with FF61 (Win10), FF63 (Win10), because the previews for what I initially filed this are alright now.

[2018-08-30 07:49] EnTeQuAk opened #9299 "'uuid' package missing from docker image"
With our recent additions to our ui-tests they, and our makefile now require the `uuid` package to be installed and accessible in the shell

[2018-08-30 08:16] wagnerand commented on #8985
@EnTeQuAk I will give it a shot next time I need this, thank you!

Yes, I would very much prefer that (the same request is filed for the links in the reviewer tools)

That sounds very much like a bug to me because that file link is actually 404. @AlexandraMoga you can test that by left-clicking the link.

Yeah, we don't have a file status for a deleted version at the moment. I think it would make

[2018-08-30 09:00] ioanarusiczki opened #9301 "Changing FF version from dev to one below the version used won't work correctly"
STR:
1. Load AMO stage and go to your add-ons from dev hub
2. Go to the manage version page for one of the add-ons
3. Change the Firefox compatibility to a FF version that is below FF61 (or the one you're working on), click the save changes button
4. Click the View Listing page

Expected result:
Red message "This add-on is not compatible with your version of Firefox" is visible and the install but

[2018-08-30 09:11] diox commented on #9301
Are you talking about changing the *maximum* version ? If so, that's expected behavior **unless** the add-on is using strict compatibility.

[2018-08-30 09:38] AlexandraMoga opened #9302 "File archives for disabled add-ons can't be opened after download"
Follow up for #8985

STR:
1. Log in to AMO with an Admin account
2. Go to the Admin pages and open the File management tool - `/admin/models/files/`
3. Open the details for a File of a disabled add-on - [see this example](https://addons-internal.stage.mozaws.net/en-US/admin/models/files/file/325891/change/?_changelist_filters=q%3Ddevhubrelease2308)
4. Save the file by right clicking on the 'Downlo

[2018-08-30 09:49] AlexandraMoga opened #9303 "Clicking on Download File in /admin/models/files/ will trigger an installation instead of a download"
Follow up for #8985

STR:
1. Log in to AMO with an Admin account
2. Go to the Admin pages and open the File management tool - `/admin/models/files/`
3. Open the File details for an Approved add-on - [see this example](https://addons-internal.stage.mozaws.net/en-US/admin/models/files/file/325883/change/?_changelist_filters=q%3Ddevhubrelease2308)
4. Click on the Download File link

Actual result:
An

[2018-08-30 09:58] AlexandraMoga opened #9304 "Link to the Version file from /admin/models/files/ triggers a 504"
Follow up for #8985

STR:
1. Log in to AMO with an Admin account
2. Go to the Admin pages and open the File management tool - `/admin/models/files/`
3. Open any File details  - [see this example](https://addons-internal.stage.mozaws.net/en-US/admin/models/files/file/325883/change/?_changelist_filters=q%3Ddevhubrelease2308)
4. Click on the link next to the Version field

Actual result:
The link is

[2018-08-30 10:33] EnTeQuAk commented on #9302
Hmm, I wonder if the file actually exists. Did you upload this add-on yourself before?

The file you're downloading is that 404 error page that you get when you click on the link. This doesn't seem to be happening with all disabled add-ons, it worked for me locally.

I'll look into it.

[2018-08-30 10:38] LordGameleo commented on #2179
There are two problems:
i) When I run the server using docker, I get the page like this.

![prob_1](https://user-images.githubusercontent.com/40512667/44846634-83a7ea80-ac6e-11e8-97d2-
f2c30eb4aa25.png)

CSS is not loading I guess.

ii) When I go to developers hub in that, I get to see this error.

![prob_2](https://user-images.githubusercontent.com/40512667/44846635-83a7ea80-ac6e-11e8-9707-dede0a

[2018-08-30 10:44] EnTeQuAk commented on #2179
You should open the page via `http://olympia.test` as written here https://addons-server.readthedocs.io/en/latest/topics/install/docker.html#accessing-the-web-server

[2018-08-30 10:47] #9299 closed

[2018-08-30 11:26] eviljeff commented on #8704
Potentially during an addon submission there could be multiple locales submitted for each of name, summary.  (And description too, but that'd be via devhub).  Submit each locale separately?

[2018-08-30 11:39] AlexandraMoga commented on #9302
Yes, the one I've downloaded is a file from an add-on I've submitted myself.

I could not find any disabled add-ons with a working download link though

see other examples:
https://addons-internal.stage.mozaws.net/en-US/admin/models/files/file/322264/change/?_changelist_filters=q%3Dwebext-trytobebeta
https://addons-internal.stage.mozaws.net/en-US/admin/models/files/file/322823/change/?_changelist_

[2018-08-30 13:07] LordGameleo commented on #2179
I was having a doubt while installing through install docs. I have attached a screenshot. I wanted to know how to proxy nginx after changing port from 80 to 8880.

Thank You.

![dobut_nginx_config](https://user-images.githubusercontent.com/40512667/44853498-c1fbd480-ac83-11e8-8df3-4140cd7e3ba7.png)

[2018-08-30 13:15] EnTeQuAk commented on #2179
Well, in theory you don't have to change anything in that regard, the port change is purely optional. Do you need to change the port to something else?

If you go through the install docs and change the `/etc/hosts` file accordingly you should be able to simply open http://olympia.test on your browser and see the site.

[2018-08-30 13:46] g-k opened #9308 "sign addons with autograph /sign/file"
Per https://github.com/mozilla/addons-server/pull/9306#issuecomment-417300984, we want to switch addons-server to the autograph [`/sign/file` endpoint](https://github.com/mozilla-services/autograph/tree/6bc03e3ce0ce8aae6e31b8240159ec2c7bceef86/signer/xpi#signature-request).

This will let us eventually migrate to SHA256 digests for the PKCS7 signature and add COSE Signatures for https://bugzilla.m

[2018-08-30 14:04] LordGameleo commented on #2179
I have to change the port as when I don't it shows error while running the server that port 80 is already binded.
![bind_error](https://user-images.githubusercontent.com/40512667/44856726-bb715b00-ac8b-11e8-9554-f75ebfb863fa.png)

[2018-08-30 14:09] EnTeQuAk commented on #2179
The correct path is `/etc/hosts`

You can also stop your already running nginx or apache or whatever runs on your port 80 to avoid changing too many things to get addons-server running. That'd be easier I think

[2018-08-30 14:10] #9290 closed

[2018-08-30 14:11] diox commented on #9290
QA: I left `ia` disabled on purpose, because it's an obscure locale that isn't supported by mozilla products at the moment. I enabled `az` though.

[2018-08-30 14:15] AlexandraMoga commented on #8068
No regressions found during our release testing.
Marking the issue as verified fixed on -dev and stage.

[2018-08-30 14:17] AlexandraMoga commented on #7158
There were no regressions found during our release testing.  Marking the issue as verified fixed in -dev and stage.

[2018-08-30 14:54] diox commented on #7886
Worth noting: maybe https://github.com/mozilla/addons-server/issues/7158 will help for some occurrences of this. For add-ons with lots of versions though, we're better off not moving the files synchronously and do it using the `hide_disabled_file` cron or through celery.

[2018-08-30 14:57] nancusson opened #9310 "Aucun thèemes ne fonctionnent"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Depuis juillet dernier, je tente de changer le thème de mon environnement thunderbird afin de le personnaliser.

### What happened?
Malheureusement, lorsque choisit un thème sous l'onglet "Films et télévision thèmes", je choisis le thème que je désire en cliquant sur "+ ajouter a thunderbird", il y a

[2018-08-30 15:09] diox commented on #9310
Bonjour,

Le site pour signaler un problème avec les add-ons pour thunderbird est maintenant https://github.com/thundernest/addons-server/ ; les liens ne sont pas encore à jour.

Ce problème en particulier a déjà été signalé: https://github.com/thundernest/addons-server/issues/19

[2018-08-30 15:09] #9310 closed

[2018-08-30 15:10] ioanarusiczki commented on #9301
@diox -
I'm working with FF61 - my add-on is compatible with FF61 but I'm changing that (I reduce the maximum to FF60) to see if I will get on the new front end the compatibility warning message.

![this won t work](https://user-images.githubusercontent.com/33448286/44860603-50ba2280-ac7f-11e8-8434-3d660308e1c7.png)

The scenario that works  -I'm using FF61 and I am changing the compatibility (I s

[2018-08-30 15:27] diox commented on #9301
Reducing the maximum compatibility has no effect (unless your add-on has strict compatibility set), but this is a feature, not a bug :) Has been that way for years.

[2018-08-30 15:27] #9301 closed

[2018-08-30 15:49] #9281 closed

[2018-08-30 16:57] jvillalobos commented on #8704
Yes.

[2018-08-30 17:30] LordGameleo commented on #2179
I have made changes to the dashboard.less file which gets converted to CSS when project is built. I want to know how can I see the updated version of project where changes will be visible.

[2018-08-30 17:44] kumar303 commented on #8180
I spoke to @Callek and others in the `#ci` channel; this langpack incompatibility is going to keep happening for the foreseeable future.

The release engineering team needs to push langpacks early due to signing requirements (since Firefox 60). They can't push early langpacks as unlisted because those cannot be changed to listed.

Since this is essentially preventing users from installing langpack

[2018-08-30 20:08] diox commented on #8180
@kumar303 : on the frontend side, I think the only thing you'll need to do is pass `appversion` to the detail page (it should already be done for search). In this issue I'll make the API support it and change `current_version` when it's passed, for langpacks only.

[2018-08-30 20:53] wagnerand commented on #8180
This was raised early in the process when we planned to start signing langpacks and it was deemed ok for the time being.

[2018-08-31 04:09] mltco78dhs opened #9314 "Thunderbird Theme Links Broken"
Don't feel like wasting more time on this than is absolutely necessary but every single theme I attempted to install through the in-app choose-a-theme feature of thunderbird resulted in a message that said I'd mistyped the address or clicked an out-of-date link.

I have vision issues that are made far worse by white screens and it's just his side of physically painful to view them. I had a very da

[2018-08-31 08:29] #9081 closed

[2018-08-31 08:34] muffinresearch commented on #9314
Add-ons for Thunderbird have moved to https://addons.thunderbird.net. As part of that move, the bug tracker for the add-ons site for Thunderbird has moved here [1].

See also https://github.com/thundernest/addons-server/issues/19 which might have some relevant information.

[1] https://github.com/thundernest/addons-server/issues/new

[2018-08-31 08:34] #9314 closed

[2018-08-31 08:37] muffinresearch commented on #9263
/cc @kumar303 @bobsilverberg [apparently this doesn't happen on stage](https://github.com/mozilla/addons-server/issues/8923#issuecomment-416206413) so it might be unrelated to the emoji issue #8923.

[2018-08-31 08:45] mltco78dhs commented on #9314
G-d I freaking hate Github.

You guys seem determined to do anything except fix the problem.

It's all about the epeen - who knows the secret phrase of the day - who's fluent in the current geek-speak.

The freaking program directed me here. Let's start with fixing that crap first. Then concentrate on the issue, not where it was reported.

At a minimum transfer the issue, don't close it. The issue

[2018-08-31 09:02] eviljeff commented on #8735
Upping priority because it's a hypothetical risk we should fix sooner rather than later.

[2018-08-31 09:05] mltco78dhs opened #9315 "https://addons.thunderbird.net/en-US/thunderbird/addon/10900/ directed me here"
Links under the themes don't appear to work at all. I tried about fifteen of them.

Feel free to do the Github thing and just close this without doing anything useful, or, surprise me and forward this to where it needs to be.

[2018-08-31 09:09] ioanarusiczki commented on #9301
@diox Had no idea this is applicable only for strict compatibility set - I checked it with a language pack and got the expected result.
![acholi language pack](https://user-images.githubusercontent.com/33448286/44903896-64649800-ad16-11e8-8523-f30510ff3661.png)

It's noted.

[2018-08-31 09:37] diox commented on #9263
Sentry traceback : https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4623995/

The error is returned by MySQL, so this is definitely #8923. Is there a link of the resulting review on stage?

[2018-08-31 09:44] EnTeQuAk opened #9316 "Add documentation for read-only mode in API"
Follow-up issue for #1050

[2018-08-31 10:03] EnTeQuAk commented on #2179
If you're running this in your docker environment you can see the changes right away, all `.less` files are compiled during run-time so just (force) reload your browser and you should see the change

[2018-08-31 10:40] LordGameleo commented on #2179
Is it ok?
![solution_1](https://user-images.githubusercontent.com/40512667/44908222-558edd00-ad38-11e8-8e4f-0ca17493d3ef.png)

[2018-08-31 10:41] LordGameleo commented on #2179
Or this?
![screenshot from 2018-08-31 16-10-51](https://user-images.githubusercontent.com/40512667/44908273-7ce5aa00-ad38-11e8-9cd4-a760f9315a7e.png)

[2018-08-31 10:44] EnTeQuAk commented on #2179
I like https://github.com/mozilla/addons-server/issues/2179#issuecomment-417625623

What does @pwalm think?

[2018-08-31 11:47] diox commented on #8180
It was, but there are enough people complaining about it and filing issues that we should try finding a solution. At least both @kumar303 and I feel that way :p

[2018-08-31 13:11] eviljeff commented on #9007
I don't see any extra lines in either devhub or in frontend, so looks like the problem is in Firefox.

[2018-08-31 13:14] marcoagpinto commented on #9007
@eviljeff
While editing the details, I have like this:
"
<strong>Detailed installation/use instructions:</strong>

<a href="http://proofingtoolgui.org/en_installing.html">http://proofingtoolgui.org/en_installing.html</a>

<strong>FAQ:</strong>

<a href="http://proofingtoolgui.org/faq.html">http://proofingtoolgui.org/faq.html</a> <strong>(read point 4 for issues)</strong>
"

So that it appears corr

[2018-08-31 13:59] AlexandraMoga commented on #9290
Verified fixed for `az` on AMO -dev with FF61, WIn10x64

![locals-az](https://user-images.githubusercontent.com/31961530/44916717-1dd76380-ad3f-11e8-9f83-9373f65ab4b9.gif)

[2018-08-31 14:00] AlexandraMoga commented on #9299
Please add STR or the label "qa:not needed"
Thanks

[2018-08-31 14:13] eviljeff commented on #9007
without the "fix" of 2 lines, we can see the difference between legacy frontend and new frontend.  New frontend doesn't convert `/n` into `<br>` when it's between html tags.  @kumar303 / @bobsilverberg to investigate.

[2018-08-31 14:30] mconca commented on #8038
I believe the Firefox bug is landed and tested at this point, and it has been uplifted to 60 ESR and 62 beta (the request to uplift to 61 was denied). So I think AMO should be good to go.

[2018-08-31 14:36] bobsilverberg commented on #9007
It sounds like we need to use `nl2br` along with `sanitizeHTML` in this case. I'll open an issue on addons-frontend for this.

[2018-08-31 15:18] jvillalobos commented on #8038
Yes, by next week all release versions should have the fixed code, so let's get this done.

[2018-08-31 15:18] bobsilverberg commented on #9007
Hmm, actually we already use `nl2br` for this field, because we're using `sanitizeUserHTML` rather than just `sanitizeHTML`, the former of which incorporates `nl2br`, so it looks like this needs further investigation.

[2018-08-31 15:54] #9316 closed

[2018-08-31 16:55] kumar303 opened #9322 "Developer Hub pages do not have JS functionality (devhub-min.js is not getting generated)"
### Describe the problem and steps to reproduce it:

- Open the Developer Console and go to the Network tab
- Load any developer hub page such as https://addons-dev.allizom.org/en-US/developers/addon/validate

### What happened?

The `devhub-min.js` bundle is a 404. Example: https://addons-dev-cdn.allizom.org/static/js/zamboni/devhub-min.js?build=4f4a94c0-5b8965d9

### What did you expect to happe

[2018-08-31 17:26] #9322 closed

[2018-08-31 18:34] diox opened #9324 "Require Admin:Advanced permission to access files admin"
The files admin from #8985 should require `Admin:Advanced` permission for now and not `Admin:Tools`. We might want to open it up later with a new permission - but for now `Admin:Tools` is too lax, that permission should only give you base access.

[2018-08-31 19:17] kumar303 opened #9326 "The assets build should fail for JavaScript syntax errors"
### Describe the problem and steps to reproduce it:

Trigger a syntax error in JavaScript, such as using `const` (see https://github.com/mozilla/addons-server/issues/9322).

### What happened?

The [assets build](https://github.com/mozilla/addons-server/blob/82b81d6fd07085c1df40a5b2e3bab36555c19921/.travis.yml#L14) in CI did not fail

### What did you expect to happen?

It should fail

### Anythin

[2018-08-31 19:32] broome1 opened #9327 "help"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?everytime I click on add to thunderbird it says we're sorry it cant be found or its an old address

### What did you expect to happen? add the theme to my thunderbird email

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-08-31 20:36] atsay commented on #9298
I'm asking around for this info--will update when I find out.

[2018-08-31 22:11] jsmnbom commented on #7957
I'd like to work on this :D

[2018-08-31 22:38] caitmuenster commented on #7957
Go for it, @jsmnbom!

[2018-09-01 15:08] LordGameleo commented on #9243
I would like to know more about it. Can anyone explain me what is required to do!?

[2018-09-01 15:10] LordGameleo commented on #9196
I would like to try working on it. Can you please explain a bit more.

[2018-09-01 16:07] LordGameleo commented on #3447
Is it open?

[2018-09-01 16:14] vitalka333 opened #9332 "Can't download any theme"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
Can't download any theme
### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-09-03 05:35] AlexandraMoga commented on #9316
Please add STR or the label 'qa:not needed'
Thanks

[2018-09-03 06:06] AlexandraMoga commented on #9286
@EnTeQuAk  apart from add-on signing (listed/unlisted submissions, updates) is there anything more specific we should be looking into?
Thanks

[2018-09-03 06:39] #7957 closed

[2018-09-03 07:54] eviljeff commented on #3447
@LordGameleo the issue is open (as github indicates).  @anubhavsinha98 said they were working on it though.  I don't know where they got to.

[2018-09-03 07:56] AlexandraMoga commented on #9322
I've navigated through various dev hub pages and the content seems to be loading correctly now:

![image](https://user-images.githubusercontent.com/31961530/44974274-ce27b080-af67-11e8-9792-a302bf57ed6f.png)

I'm marking the issue as verified fixed on AMO -dev with FF61, Win10x64

[2018-09-03 08:05] ioanarusiczki commented on #9263
@diox I logged it separately because last week verification for regressions were requested for https://github.com/mozilla/addons-frontend/issues/5998 and https://github.com/mozilla/addons-frontend/issues/6055
Also I remember this was not reproducible for reviews when I logged https://github.com/mozilla/addons-frontend/issues/5649 and https://github.com/mozilla/addons-frontend/issues/5644 previousl

[2018-09-03 08:27] EnTeQuAk commented on #9332
This issue tracker is only for issues related to the addons.mozilla.org (AMO) website and related services. Please check [discourse.mozilla.org](https://discourse.mozilla.org/) for Questions/Discussions or the Add-ons author if you have any specific questions.

If you think this issue has been closed erroneously please re-open the issue and provide as much information as possible so that we can as

[2018-09-03 08:27] #9332 closed

[2018-09-03 09:35] EnTeQuAk commented on #9286
No, that should be perfect. This actually doesn't upgrade autograph in production yet but only in our development environment, so you may not even be able to see any differences anyway.

I'll mark this as "no qa needed"

[2018-09-03 10:02] #9324 closed

[2018-09-03 10:09] muffinresearch commented on #9263
This is interesting. IIRC the previous issues I saw resulted in the text after the emoji being eaten by the DB but no other visual errors. I wonder if these errors are happening silently elsewhere.

[2018-09-03 11:08] muffinresearch commented on #9308
@g-k The google doc detailing the timeline has become a bit unwieldy. I want to make sure I get a better understanding of the steps involved from the AMO perspective, including when we need to make these changes and what we need to know about how to test this.

Would you be able to detail the implications of this change (wrt backwards compatibility and versions impacted) and where it fits into the

[2018-09-03 12:03] LordGameleo commented on #3447
@anubhavsinha98  are you still working on this issue.

[2018-09-03 13:30] AlexandraMoga commented on #9081
Verified on AMO -dev with FF61, Win10x64

- for the wizard - header image uploaded limited to 7Mb in size

![image](https://user-images.githubusercontent.com/31961530/44989449-8e2bf200-af96-11e8-8a0e-09fdc13b9435.png)

- for the package submission - maximum package size limited to  7Mb (including the manifest, not just the images)

![image](https://user-images.githubusercontent.com/31961530/449894

[2018-09-03 13:36] ioanarusiczki commented on #9147
@eviljeff @jvillalobos
I made some tests on AMO dev FF52 ESR and FF61 and here are the results:
1.  Submission of  legacy extensions and complete themes, listed and unlisted versions is no longer possible.

- waffle switch disabled Message displayed: " Starting with Firefox 53, new add-ons on this site can only be WebExtensions."
- waffle switch enabled Message displayed:  "Legacy extensions are n

[2018-09-03 13:38] AlexandraMoga opened #9338 "Theme categories marked as mandatory during ST submission when selecting Cancel and disable version"
STR

1. Log in to Developer Hub
2. Submit a new static theme (wizard or packed)
3. Once your upload is validated, proceed to the next submission step
4. In the submission details page, scroll down to the bottom and click on `Cancel and Disable version` button

Actual result:
Theme categories are highlighted as mandatory in order to complete the cancellation step

Expected result:
Submission is can

[2018-09-03 15:04] eviljeff commented on #9147
afaik they're "mozilla signed extensions" - #5619 was the implementation issue so I guess they'll be details of how to submit there.

[2018-09-03 15:06] diox commented on #9040
I [made a query](https://gist.github.com/diox/12e5b3c4a41e670e9ff29f54853850cb) to find affected add-ons based on the one above, with one major difference: it properly discards versions with multiple files attached that have different statuses.

*TV presenter voice* What I found will shock you...

No discrepancy found.

Indeed, all add-ons found by the previous query had one or more extra file in

[2018-09-03 15:12] kvaluruk commented on #9338
Can I work on this?
If yes, is it to be done in a similar way as in #9154 ?

[2018-09-03 15:24] jvillalobos opened #9339 "Remove user profile links on DevHub activity feed"
From https://github.com/mozilla/addons-frontend/issues/6118, there are two places where we're still linking to arbitrary user profile pages. There's the Recent Activity column in `/developers/addons`, and the activity feed in `/developers/feed`. Those usernames should show up without a link.

[2018-09-03 16:48] muffinresearch commented on #8899
I need to digest this a bit more but my initial thoughts are keeping this simple is probably preferable to something complicated.

Assuming we can do the following:

* Keep breaking changes to a minimum
* Feel comfortable with adding new (non-breaking) changes to the "latest" version (today that's v4)

The we should make it clear v4 is the latest version and note that it might receive new features

[2018-09-03 17:05] anubhavsinha98 commented on #3447
No @LordGameleo , currently I am not working on this issue!
You can take the issue!
Happy Coding!

[2018-09-04 09:03] eviljeff commented on #9338
@kvaluruk I think you're right - just adding that html attribute on buttons in those two templates should be enough.

[2018-09-04 09:05] eviljeff commented on #9339
This is a dupe-ish of #6044 - one should be closed.

[2018-09-04 09:28] eviljeff opened #9341 "replace django-cors-headers fork with upstream parent"
A few years ago we forked https://github.com/ottoyiu/django-cors-headers to add `CORS_ENDPOINT_OVERRIDES` as https://github.com/mstriemer/django-cors-headers.  Our request to merge the functionality was [denied](https://github.com/ottoyiu/django-cors-headers/issues/171) but, now we have a simpler CORS setup, we should be able to do the alternative suggested here https://github.com/ottoyiu/django-c

[2018-09-04 09:35] AlexandraMoga commented on #9302
FYI: you can check [here](https://addons-internal.dev.mozaws.net/en-US/admin/models/users/userprofile/10640485/change/?_changelist_filters=q%3Dalexandra.moga) the permissions associated to the account I'm testing with

[2018-09-04 09:40] eviljeff commented on #8899
Just that there are some changes that affect every endpoint, e.g. localisation changes (but also serializers that are nested and returned from multiple different endpoints, sure as File and Addon serializers) so its not always straightforward to upgrade frontend to use a new feature an endpoint at a time.  That said, those changes are fairly rare.

[2018-09-04 09:46] AlexandraMoga commented on #9324
Verified on AMO -dev with FF61, Win10x64

Users with `Admin:Advanced` permission can access `admin/models/files/`, can search for files by guid and slug, can download file contents*

Overview of user permissions listed [here](https://addons-internal.dev.mozaws.net/en-US/admin/models/users/userprofile/10641527/change/)

* file download is possible, however, only for Approved add-ons. For other stat

[2018-09-04 09:47] EnTeQuAk commented on #8899
Let's say, (warning, hypothetical code ahead) the client always uses v3, for all endpoints. Now wants to upgrade to v4 incrementally so they start with ratings and things are fine, because our ratings serializers (the classes that serialize models into renderable objects and eventually to JSON) are serializing the nested `addon` object on their own.

Now, they're upgrading to users related endpoin

[2018-09-04 10:09] wagnerand opened #9343 "Restrict approval for internally signed add-ons"
Internally signed add-ons come with a lot of power, so we want to automatically disable auto-approval for them.

* Auto-approval should be disabled through the regular way (which means admins will be able to click the "Enable auto-approval" button on the review page, if they see fit).
* A note should be added to the version that this file has been internally signed.
* The add-on should be automati

[2018-09-04 10:11] diox opened #9344 "Migrate legacy dictionaries without a target_locale set"
To automatically migrate legacy dictionaries on AMO to WebExtension format, we need to know their locale - this is because the target locale is now a property in the manifest.

The problem is, some dictionaries don't have the `target_locale` field set, so we have no way of knowing what locale they are for, and therefore can't migrate them to webextension format automatically (the name of the dicti

[2018-09-04 10:12] AlexandraMoga commented on #9281
Verified fixed on AMO -dev with FF61, Win10x64

The new notification content can be checked [here](https://addons-internal.dev.mozaws.net/en-US/admin/mail#msg-8184)

[2018-09-04 10:13] diox commented on #9344
Also worth asking: now that there is a locale field in the manifest... should we take advantage of that and fill the `target_locale` field automatically when a webextension dictionary is uploaded ? Right now it serves as a de-facto filter, preventing add-ons that have not been reviewed by an admin from being shown in the language tools page (since only admins can change that field). But if that fi

[2018-09-04 10:13] AlexandraMoga commented on #9275
Please add STR or the label qa:not needed.
Thanks

[2018-09-04 10:14] championshuttler commented on #9339
Can I take this up?

[2018-09-04 10:25] eviljeff commented on #9339
@championshuttler you can, sure.  It'll need some tests changing, at least.  (maybe some adding too)

[2018-09-04 10:47] #8038 closed

[2018-09-04 10:48] diox commented on #9343
Auto-approval is disabled per add-on, internal signature is per file. Do we need to do anything special when a new version *without an internally signed file* is uploaded on an add-on that had its previous version internally signed and had auto-approval disabled ?

Said differently: at the moment we don't know the reason behind auto approval being disabled for such an add-on, do we need to start r

[2018-09-04 10:52] wagnerand commented on #9343
That would be nice, but given the amount of internally signed add-ons is very low currently, it's probably not worth the effort. Admins can re-enable auto-approval manually when an add-on switches from the internal cert to the regular one.

To simplify things, I changed it to add a note the version instead of the whiteboard. That way we don't have to deal with updates that change this state or exi

[2018-09-04 11:01] eviljeff commented on #4997
From a look through repo for hawkauthlib, it looks like it _is_ python3 compatible now, it just doesn't' indicate as such in setup.py.  PyFxA also.  So no UI test work needed (though it'd be cool if the setup files for those repos would indicate python version compatibility.

[2018-09-04 11:02] EnTeQuAk commented on #4997
Sounds like a proper Friday task.

[2018-09-04 11:42] diox commented on #8587
QA: upload some legacy dictionaries on dev if you wish, making sure to make them public + set the `target_locale` for them in add-on admin (through /admin/models/addons/addon/). Then, when you are ready to test, let me know and I'll launch the script.

[2018-09-04 11:42] #8587 closed

[2018-09-04 12:15] diox commented on #9344
cc @jvillalobos to answer both questions

[2018-09-04 12:29] ioanarusiczki commented on #9147
@eviljeff
Thanks for mentioning https://github.com/mozilla/addons-server/issues/5619. I used the sample-mozilla-extension-stage.xpi and sample-mozilla-extension-prod.xpi from [here](https://bugzilla.mozilla.org/show_bug.cgi?id=1369532)
The only modifications I've made in the install.rdf is deleting from frontend metadata the <em:updateURL> row because I was receiving an error and the ID to avoid d

[2018-09-04 13:06] #9338 closed

[2018-09-04 13:08] #8180 closed

[2018-09-04 13:10] diox commented on #8180
QA: API-side is ready, it's technically testable manually, but it'd be easier once the frontend side is implemented too.

If you want to test it manually: when you pass `appversion` and `app` parameters to the add-on detail API of a language pack (and only a language pack), the version returned will be the latest public listed compatible with the parameters you passed, if there is one available (i

[2018-09-04 13:35] bobsilverberg commented on #9007
This has been replaced by https://github.com/mozilla/addons-frontend/issues/6129.

[2018-09-04 13:35] #9007 closed

[2018-09-04 16:39] muffinresearch opened #9349 "File watching uses lots of CPU running the docker dev-env under OSX"
Running the docker development environment is currently spinning up a development version of addons-frontend for ui-testing here: https://github.com/mozilla/addons-frontend/blob/3beddb39fee76d6a2891d5b91ee9d2464504bf01/package.json#L69

This is going to use webpack dev server and additional file watching to know when to restart the server. When I run the docker env on OSX I see 400% CPU usage and

[2018-09-04 19:11] crankycoder commented on #6880
I don't think we need to keep this issue open.  TAAR is currently running a daily dump of the addons database and we haven't had any issues.   Let's close this issue for now until we have a concrete problem that we need addressed.

[2018-09-04 19:14] #6880 closed

[2018-09-04 19:16] crankycoder commented on #8486
@diox Does #8752 really mean that all webextensions will run on mobile and desktop?  That seems unlikely.  I'd like to have the platform parameter passed into TADAR (formerly TAAR-lite) so that we can run the add-on filtering within the TADAR server.

cc/ @muffinresearch

[2018-09-04 19:27] diox commented on #8486
@crankycoder platforms will go away but *applications* won't. See https://github.com/mozilla/addons-server/issues/8752#issuecomment-402680467

The fact that there is an android platform is legacy cruft, the thing that matters is app compatibility, not platform.

[2018-09-04 20:35] jvillalobos commented on #9344
Do you have a notion of how common it is for the files in the package to be named after the locale? My recollection is that it's standard practice. If we can migrate most of the dictionaries this way, even if it's inaccurate in some cases, I think that's the best way forward. I certainly wouldn't invest anyone's time manually checking all of them. If the files don't buy us much, ignoring those add

[2018-09-04 20:40] jvillalobos commented on #6044
Closing in favor of the more targeted https://github.com/mozilla/addons-server/issues/9339. There may be some followups on devhub and the reviewer tools, but we'll deal with them as they come up.

[2018-09-04 20:40] #6044 closed

[2018-09-05 05:11] EnTeQuAk commented on #9349
I agree, the docker setup of addons-frontend isn't really usable to start developing on addons-frontend and it's not really meant to be.

So we should really be using the setup without any file-watching but still make it listen directly to the local addons-server api.

[2018-09-05 05:41] shiri1248 commented on #9339
is this issue still open ?

[2018-09-05 07:30] AlexandraMoga commented on #9338
Verified fixed on AMO -dev with FF62, Win10x64

![categories theme](https://user-images.githubusercontent.com/31961530/45077726-98fd9880-b0f6-11e8-8ad3-6b4cfdbce3f6.gif)

[2018-09-05 08:51] ioanarusiczki commented on #9001
@diox

 I added 2 accounts to Admin:Curation group for testing on AMO dev. - FF61(Win10)
1. I tried to transfer a collection created by the curator to Mozilla by going to the Author field and clicked on _Lookup_ - "Oops not allowed" message is displayed meaning I don't have access.  ([the collection I tried to modify](https://addons-internal.dev.mozaws.net/en-US/admin/models/bandwagon/collection/5

[2018-09-05 09:53] eviljeff commented on #9147
@ioanarusiczki maybe that validation message was fixed in the validator in the meantime.  If you can upload the file okay, and after approving the version the xpi is the same as before (i.e. it wasn't resigned with the normal signing certificate) then it's working okay.

[2018-09-05 10:17] diox commented on #9001
@ioanarusiczki can you link the user account you were testing with ?

[2018-09-05 10:44] #9278 closed

[2018-09-05 10:51] AlexandraMoga commented on #8180
I have tested this new addition to the api and the new results for language packs  seem to be correct.

Specifically:

https://addons-dev.allizom/api/v3/addons/addon/finn-language-pack/ - returns the latest listed version
[code]

https://addons-dev.allizom/api/v3/addons/addon/finn-language-pack/?app=firefox&appversion=62.0 - returns the listed version compatible with the `appversion` parameter
[co

[2018-09-05 11:37] diox commented on #9001
Re-opening to investigate.

[2018-09-05 11:45] diox commented on #9344
Out of the 136 dictionaries with `target_locale` set at the moment, 79 have a filename that does not directly match a known Firefox locale (as pulled from [the Product-Details API](https://wiki.mozilla.org/Release_Management/Product_details#languages.json)). Most of them look like a locale, just not one that we know about.

Expanding to all dictionaries, including those without `target_locale`, ou

[2018-09-05 11:59] AlexandraMoga commented on #8587
Dictionaries to migrate:
https://addons-dev.allizom.org/en-US/firefox/addon/dansk-for-migration/
https://addons-dev.allizom.org/en-US/firefox/addon/svenska-for-migration/
https://addons-dev.allizom.org/en-US/firefox/addon/romanian-for-migration/

[2018-09-05 12:03] flodolo commented on #9344
Can you publish somewhere a list of these filenames? I wonder how much of that is due to differences like `it` (locale code shipping in Firefox) vs `it_IT`.

[2018-09-05 12:08] diox commented on #9344
The full list:
[code]

[2018-09-05 12:09] diox commented on #9344
(Note that, when trying to match to known locales, I also tried to massage the name, transforming underscores into dashes, that kind of thing. It didn't really help much)

[2018-09-05 12:27] diox commented on #9344
It would help, yeah. That still leaves 69 that don't match:

[code]

[2018-09-05 12:31] flodolo commented on #9344
I think it would be OK to exclude these from a migration.

Some belong to actual locales that we don't ship (e.g. lb), others either have made up names, or look wrong. In case, would it be possible to reach out to the author and explain what they need to do to migrate?

[2018-09-05 12:59] AlexandraMoga commented on #8587
After migration:

- the legacy dictionary receives a new version - version number will consist of the previous version number +  `.1webext` [1] . This is also the current listed version on AMO.
- the dictionary package looks intact, and the `install.rdf` is replaced with a `manifest.json`

[1]
![image](https://user-images.githubusercontent.com/31961530/45094018-ce1fe000-b122-11e8-91ef-4ce81b441958

[2018-09-05 13:06] diox commented on #8587
I did that on purpose because in some cases, the original version number - and therefore the new one generated for the webext - won't be valid as far as the linter is concerned. We don't care much though.

Which version of Firefox are you using ? Did the legacy version install correctly? The dictionaries should definitely be signed, so it's not the same issue as #8386.

[2018-09-05 13:07] ioanarusiczki commented on #9147
@eviljeff It's alright then. I re-checked the signature - it's the same before and after upload. Besides, now I've noticed that in the full validation report the "Package already signed" is there
![package signed](https://user-images.githubusercontent.com/33448286/45094265-759d1280-b123-11e8-809d-0684af300752.png)

I don't know why unlisted versions cannot be uploaded for legacy extensions/complet

[2018-09-05 13:33] AlexandraMoga commented on #8587
@diox  the legacy version was installed correctly. I have tried with  Firefox 61, 62 and latest Nightly but the webextension version will not install.

[2018-09-05 13:46] diox commented on #8587
Anything in the Browser Console (not the devtools console) ? It installs correctly through `about:debugging`, but I'm not set up to install things from dev at the moment.

[2018-09-05 13:55] ioanarusiczki opened #9352 "Error message received for new unlisted version uploads of legacy add-ons and complete themes"
Follow-up for https://github.com/mozilla/addons-server/issues/9147

STR:
1. Load AMO dev, login with an admin account and search for a legacy extension or complete theme
2. Try to upload a new unlisted version without enabling disallow-legacy-submissions waffle switch
3. Notice the validation message

Actual result:
Validation failed with 1 error . Starting with Firefox 53, new add-ons on this sit

[2018-09-05 14:00] ioanarusiczki commented on #9147
After discussions, I filed an issue for the unlisted version upload problem https://github.com/mozilla/addons-server/issues/9352
This can be marked as verified fixed on AMO dev with FF61(Win10)

[2018-09-05 14:02] AlexandraMoga commented on #8587
@diox

`
1536155905717	addons.xpi	WARN	Download of https://addons-dev-cdn.allizom.org/user-media/addons/496262/svenska_fria_ordlistan-1.2.1webext.xpi?filehash=sha256%3A95dc49558432fe3762bb155b0af0fc4427aa734a88d6a02a72607ffda4ff9db0 failed: Error: Cannot find id for addon C:\Users\ALEXAN~1.MOG\AppData\Local\Temp\tmp-fme.xpi (resource://gre/modules/addons/XPIInstall.jsm:1545:19) JS Stack trace: loa

[2018-09-05 14:27] diox commented on #8587
mmm that's weird. Was the legacy version installed when you tried to install the webext one ?

[2018-09-05 14:35] AlexandraMoga commented on #8587
I have tried both ways:

1 with legacy version installed previously
2. without legacy version previously installed

I get the same error as above

[2018-09-05 14:42] diox commented on #8587
It's weird that it works fine for me in about:debugging but not through regular install. I wonder if until now we just tested webext dictionaries with an explicit id in their manifest...

[2018-09-05 15:05] diox commented on #9352
p2 unless we decide to turn on the switch disabling those submissions tomorrow...

[2018-09-05 15:43] caitmuenster commented on #9339
@championshuttler, this one's all yours. @eviljeff will help mentor the test changes. :)

[2018-09-05 15:44] caitmuenster commented on #9140
@isunitha98selvan Hey there! How's it going with this bug?

[2018-09-05 16:41] eviljeff commented on #8899
Frontend is already having the hypothetical problem about having to upgrade everything at once because of localization changes (https://github.com/mozilla/addons-frontend/issues/5527#issuecomment-418749557) and that then blocking them from making any changes.

[2018-09-05 17:04] LordGameleo commented on #2179
@EnTeQuAk so what is the progress? @pwalm  what did you think about them?

[2018-09-05 17:29] LordGameleo commented on #9304
I would like to know more about this issue. Can anyone tell me how can I help with it?

[2018-09-05 17:32] LordGameleo commented on #9303
I would like to know more about this issue and how can I help it.

[2018-09-05 17:32] LordGameleo commented on #9267
I can work on it. Can you tell me how to start with it?

[2018-09-05 17:36] jvillalobos commented on #9344
Agree on 69 unmatched being okay. And yes, we can try reaching out to those devs about migrating on their own.

[2018-09-05 17:47] pwalm commented on #2179
Agreed with @entequak! Thanks @lordgameleo

[2018-09-05 20:30] bobsilverberg opened #9357 "Add the add-on's name and icon_url to review API responses"
To support https://github.com/mozilla/addons-frontend/issues/6104 and https://github.com/mozilla/addons-frontend/issues/5858 we need to display the add-on name and its icon on the User Profile screen in the section where we list reviews by a particular person. The data we use for this comes from https://addons-server.readthedocs.io/en/2018.05.17/topics/api/reviews.html#list-reviews, which returns

[2018-09-05 20:33] diox commented on #9357
Seems doable. I've set it to p2 so that it gets done in the coming weeks.

[2018-09-05 20:38] diox commented on #9357
I assume https://github.com/mozilla/addons-frontend/issues/5527 will prevent you from using the v4 API if you want the add-on name in there. But we can have it in the v3 API IMHO, as it's a backwards-compatible change, only adding more fields that already exist elsewhere.

[2018-09-05 20:45] bobsilverberg commented on #9357
@diox I don't think that's a blocker. I interpreted that issue as simply stating that we might have to implement the upgrade piecemeal, as opposed to all in one go, so I figured we could start with the reviews API.

Having said that, having to do fewer things to land this specific feature is definitely a good thing, so if it's not a burden to you to add the fields to the v3 API, that would be help

[2018-09-05 22:18] ssaama opened #9358 "I tried downloading this http://www.fnvfox.com/index.html#download it didn't work"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-09-05 22:47] SafaAlfulaij opened #9359 "Pluralize and un-puzzle-rize strings"
Here are some strings that needs pluralization, and the " downloads" needs to be joined with the number and pluralized.
https://github.com/mozilla/addons-server/blob/4cbc1c342aac1e789655346b48f9b26f60fba51d/static/js/impala/stats/chart.js#L266

[2018-09-05 23:04] #9358 closed

[2018-09-06 05:27] championshuttler commented on #9339
@caitmuenster I am not well :/ . @shiri1248 please feel free to take this up :) . ATB :+1:

Shivam
(Sent from Mobile)

[2018-09-06 06:01] AlexandraMoga commented on #8587
It does seem that  webextension dictionaries without an ID in the manifest can't be installed.
I've tried with a new submission  - https://addons-dev.allizom.org/en-US/firefox/addon/dictionar-webextension-no-id/?src=search

@diox I can file this as a new issue on our side, if you want to keep investigating, or I can file a Firefox bug.

[2018-09-06 06:12] shiri1248 commented on #9339
thanks @championshuttler  for confirmation.

[2018-09-06 06:15] shiri1248 commented on #9339
@caitmuenster  can you help me in setup for the  the local build. I  am stuck  with docker configuration.

[2018-09-06 09:12] LordGameleo commented on #2179
@EnTeQuAk  can you help me out with pull request.

[2018-09-06 09:35] diox commented on #8587
Can you do both and cc me on that Firefox bug ?

[2018-09-06 10:00] LordGameleo commented on #3447
@eviljeff I am working on this issue. I just wanted to ask how to upload an addon. I can't just add any .zip file.

[2018-09-06 10:06] AlexandraMoga opened #9363 "504 errors received when accessing various pages on stage"
Prerequisites: the best way to reproduce this is by clearing your browser cache and than loading AMO stage
Possibly related issue: https://github.com/mozilla/addons-frontend/issues/5825

STR:
1. Open Firefox
2. Clear your browser cache
3. Open your web console - network Tab
4. Load AMO stage - https://addons.allizom.org/en-US/firefox/
5. Check responses in the Network tab

Actual result:
A 504 err

[2018-09-06 10:18] eviljeff commented on #3447
you can upload any (webextension based) addon downloaded from AMO.  Or a test one from https://staticfil.es/webext-generator/

[2018-09-06 10:38] LordGameleo commented on #3447
![screenshot from 2018-09-06 16-07-56](https://user-images.githubusercontent.com/40512667/45152576-0c82d100-b1ef-11e8-9512-6cfc775650f8.png)
I am getting an error while uplading it.

[2018-09-06 10:45] eviljeff commented on #3447
that normally means your addons-server isn't set up correctly.  You can see more about the error in the `/logs/` folder - `docker.log` and/or `docker-celery.log`.  If you can't work it out then it's probably going to be easier to come talk in #amo on irc because debugging server installs via github issues is hard.

[2018-09-06 10:52] AlexandraMoga opened #9364 "Compatibility Test tool from Dev Hub homepage can't be accessed"
STR:

1, Access Dev Hub homepage while being logged out - https://addons.allizom.org/en-US/developers/
2. Scroll down to the Tools section and click on Compatibility Test - https://www.extensiontest.com/

Actual result:
The page is detected as unsecured, so it won't be loaded

Expected result:
The page is successfully loaded

Notes:
- reproduced on AMO stage with FF62, Win10x64

![image](https://u

[2018-09-06 10:58] diox commented on #9364
@jvillalobos that site does appear to be a Mozilla property, but I'm not familiar with it. Do you know who/what team manages it so that they can update their certificate ?

[2018-09-06 11:04] diox commented on #9001
Ok, so:
1. Is not a blocker. If you don't have the rights to do the lookup, you can still paste a user id in there. It's cumbersome, but it works.
2. That's a bit more annoying. Can you file a follow-up issue for this ?
3. If it's just the author thing blocking you, again, you should be able to just paste a user id in there.

[2018-09-06 11:04] #9001 closed

[2018-09-06 11:13] eviljeff commented on #9339
@shiri1248 it'll probably be easier to come talk to us on #amo on irc if you followed the steps on https://addons-server.readthedocs.io/en/latest/topics/install/docker.html fully

[2018-09-06 11:52] muffinresearch commented on #9364
I've emailed ops and Amy about this.

[2018-09-06 12:16] AlexandraMoga opened #9366 "Webextension dictionaries without an ID in their manifest can't be installed"
Prerequisites:
- open latest Nightly or an unbranded version of Firefox and set:
`xpinstall.signatures.required - false`
`xpinstall.signatures.dev-root - true`

STR:
1. Go to a webextension dictionary details page - see https://addons.allizom.org/en-US/firefox/addon/dictionar-webextension-no-id/
2. Install the dictionary

Actual result:
The dictionary is not installed because Firefox sees it as co

[2018-09-06 12:28] AlexandraMoga commented on #8587
I have filed https://bugzilla.mozilla.org/show_bug.cgi?id=1489106 and https://github.com/mozilla/addons-server/issues/9366 as follow ups.

Marking this issue as verified fixed on AMO -dev with FF62, Win10x64

[2018-09-06 13:58] #8735 closed

[2018-09-06 14:42] ioanarusiczki opened #9368 "Users from Admin:Curation group cannot add/remove extensions using admin tools"
Followup for https://github.com/mozilla/addons-server/issues/9001

STR:
1. Login in admin tools with a user that belongs to Admin:Curation group.
2. Go to Collections and try to add or remove extensions for a collection created by this user.

Actual results:
The "Collection addons" section is not available.

Expected results:
 The "Collection addons" section is displayed and the user can add or re

[2018-09-06 14:47] ioanarusiczki commented on #9001
@diox
1&3 work as you said, I pasted the ID and then the collections created by the user can be transferred to Mozilla. Also if I paste the user's ID I can create a new collection from admin tools. This needs a followup to fix the lookup too, I think we should track the lookup into a new issue.

for 2 I already filed https://github.com/mozilla/addons-server/issues/9368

[2018-09-06 15:09] ioanarusiczki commented on #9001
Ok, after discussion no followup for 1&3 is needed, it's a general issue that the lookup won't work. If you can't modify users you won't see the popup for users.
I marked this verified fixed. -AMO dev FF62(Win10)

[2018-09-06 15:43] diox commented on #9343
Main issue with this is the following scenario:
- Add-on is created with internally signed version, so auto-approval gets disabled
- Admin reviewers enables auto-approval for this add-on
- New version gets uploaded, it's internally signed

At this point, I suppose the admin decision should stick, but since auto-approval is the default, we currently have no way of making the distinction. We'll have

[2018-09-06 16:28] bqbn commented on #9363
I noticed the 504 is intermittent, and saw from the nginx access logs that, only one out of two nginx returns 504 for the asset files.

I restarted both Nginx processes and now this issue is not reproducible for me on -stage.

Please check and see if that fixes for you or not.

[2018-09-06 16:53] caitmuenster commented on #9364
Amy asked me to pick this up.

Let's replace "Compatibility Test" and its explanation with:

### Live testing (link to: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Temporary_Installation_in_Firefox)
Temporarily install your extension in Firefox for live testing and debugging.

[2018-09-06 16:53] eviljeff commented on #9363
we can't replicate this now after @bqbn's restarts so calling this fixed.

[2018-09-06 16:53] #9363 closed

[2018-09-06 16:54] vcarciu commented on #9363
Verified as fixed in Stage

[2018-09-06 17:27] #9364 closed

[2018-09-06 17:55] kvaluruk commented on #9359
@eviljeff Quick question
So does this,
https://github.com/mozilla/addons-server/blob/4cbc1c342aac1e789655346b48f9b26f60fba51d/static/js/impala/stats/chart.js#L269
change into something like?
[code]
Or is this issue about something entirely else?

[2018-09-06 18:16] diox commented on #979
Duplicate of https://github.com/mozilla/addons-server/issues/7268

[2018-09-06 18:16] #979 closed

[2018-09-06 18:45] diox commented on #9293
Closing for now as it's by design, it's eventually consistent, just not immediate.

[2018-09-06 18:45] #9293 closed

[2018-09-06 18:55] SafaAlfulaij commented on #9359
@kvaluruk It changes to something like this:

https://github.com/mozilla/addons-server/blob/e8d95753972a778ce74c9a6862cd188ff8ee6f23/src/olympia/compat/templates/compat/reporter_detail.html#L12

[2018-09-06 20:51] bobsilverberg opened #9371 "The reviews endpoint can return a deleted review with no indication it is deleted"
STR:

1. Authenticate with an admin-level user.
2. Issue a GET request for a particular review, e.g., https://addons-dev.allizom.org/api/v3/reviews/review/563182/?lang=en-US&wrap_outgoing_links=true

Expected result:

The deleted review, which is returned because the user has admin access, has some indication that it is deleted.

Actual result:

The returned review object looks just like a normal

[2018-09-06 20:53] diox commented on #9371
We have the following options:
- Remove that feature entirely
- Force clients to pass `filter=with_deleted` even for a detail request - taking care of `PATCH`, `DELETE` as well.
- Return a `deleted` property or something similar in the rating object

[2018-09-07 08:50] eviljeff commented on #9359
@SafaAlfulaij that's a jinja2 template that uses template tags and/or django + python code; .js files are javascript instead.

[2018-09-07 08:53] eviljeff commented on #9359
Though the function is still named `ngettext` and has a similar syntax, even in javascript.  Search for `ngettext` in the other js files in `/static/` to see how it's used.

[2018-09-07 10:28] #9357 closed

[2018-09-07 10:29] diox commented on #9357
Done, added to both v3 and v4.

[2018-09-07 11:32] diox commented on #9343
@wagnerand could you tell me if the last solution proposed in my previous comment would work for you ? That'd be ideal. Otherwise I'll implement one of the other two.

[2018-09-07 11:33] bobsilverberg commented on #9357
Amazing! Thanks @diox!

[2018-09-07 12:34] cosminbadescuSV opened #9379 "AMO stage does not load the css content"
### Describe the problem and steps to reproduce it:
1. Start a new profile.
2. Load https://addons.allizom.org/en-US/firefox/
3. Observe the web page.

### What happened?
The css content is not loading.

### What did you expect to happen?
To see the web page  of AMO stage fully loaded.

### Anything else we should know?
This issue is 100% reproducible on a new profile.

Reproduced on AMO stage on

[2018-09-07 13:01] eviljeff commented on #9363
#9379 is maybe the same issue today

[2018-09-07 14:30] AlexandraMoga opened #9381 "Error page returned after selecting 'user-review' from Akismet reports"
Follow up for https://github.com/mozilla/addons/issues/781

STR:

1. Log in to Admin Tools
2. Go to Akismet Report
3. Click on 'user-review' link for any of the listed reports

Actual result:
An error page is displayed

Expected result:
The link should open `https://addons-internal.dev.mozaws.net/en-US/admin/models/akismet/akismetreport/<number>/change/`

Notes
 - reproduced on AMO -dev with FF62,

[2018-09-07 14:55] #9194 closed

[2018-09-07 14:56] eviljeff commented on #9194
Marking this QA:Extra only because it touches the addon update service.  Just make sure updates work as normal in all versions of Firefox you routinely test with.

[2018-09-07 14:59] eviljeff commented on #9381
seems to be https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4678569/ but I don't understand the error

[2018-09-07 15:07] diox commented on #9381
The failure is django admin trying to get a Content Type instan)ce for this model, ending up having to insert one because there aren't any yet, and somehow failing... That's... interesting.

[2018-09-07 15:11] diox commented on #9381
Oh, I know what's going on. This whole content type automatic creation works fine usually, but it looks like we didn't apply the migration when we switched to Django 1.11, so our content type table still has a `name` column that the model doesn't know about.

The migration we're missing is https://github.com/django/django/blob/master/django/contrib/contenttypes/migrations/0002_remove_content_type_

[2018-09-07 15:25] diox opened #9382 "Apply django migrations"
We currently only use schematic and don't apply django migrations at all at deploy time. This is causing issues like https://github.com/mozilla/addons-server/issues/9381#issuecomment-419470930 because we do depend on some django models.

The current list of unapplied django migrations on dev is:
[code]

We need to review them and apply them (or fake some we might not want, but would need to be ver

[2018-09-07 15:27] diox commented on #9382
Note that it's different from https://github.com/mozilla/addons-server/issues/3705 which is about doing the complete switch to django migrations. We just need the existing migrations from django applied at the moment, nothing more.

[2018-09-07 15:36] #6862 closed

[2018-09-07 15:46] diox commented on #9382
- admin:
  - Seems safe. It does not alter the database
- auth
  - Needs some investigation, not sure how it interacts with our custom user model
- contenttypes
  - Safe, we definitely want that one applied
- product_details
  - Only a data migration that I don't think we care about
- sessions
  - Only the initial migration
- waffle
  - At first glance both migrations look fine and don't alter the

[2018-09-07 17:23] jvillalobos opened #9383 "Recently updated add-ons are sorted incorrectly (temporarily) in search"
Moved over from https://github.com/mozilla/addons-frontend/issues/6148

STR:
1. Go to https://addons.mozilla.org/firefox/search/?sort=updated&type=extension
2. Click through a few of the top results and look at their update time on their product page.

You'll probably find some results that are incorrectly sorted, where they appear higher on the results list when they are not more recently updated

[2018-09-07 17:54] jvillalobos commented on #9383
Seemingly related to this, it looks like some add-ons don't appear on the search results right away. I was going to file a separate issue for this, but after looking at the examples that were failing before, they are working now.

[2018-09-07 18:09] bqbn commented on #9363
I can't reproduce #9379 on -stage.

I also checked Nginx logs, and there were no 50x errors when I accessed the website on -stage.

There is a message in the browser console that says

`Content Security Policy: The page’s settings blocked the loading of a resource at self (“style-src”).`

but the website loads fine for me.

[2018-09-07 20:13] atsay commented on #9298
@da2x Thanks for prompting us to look into this. It brought up two things--one is that we've updated the blog post to only encourage people to save the image and host it themselves rather than calling it directly from our servers. It's a better practice in general. The second is that our [Website Notice](https://www.mozilla.org/privacy/websites/) applies to any Mozilla domain and what you see ther

[2018-09-07 20:15] #9298 closed

[2018-09-07 21:51] atsay commented on #9298
@da2x We have a developer newsletter that goes out every quarter, and it's probably the easiest way to learn about this type of thing. We're working on an easier way to sign up, but for now just go to https://addons.mozilla.org/firefox/users/edit and make sure the last checkbox in the Notifications section, "Stay up-to-date with news and events..." is checked.

[2018-09-08 03:25] rAllcorn opened #9387 "GitHub wants me to change my password because I used that same password somewhere else!!"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

I do not plan to change my password ... that was "ME" your system is reporting.
I just had to replace my laptop; old one failed after 8 y

[2018-09-08 15:03] TossCards opened #9388 "wanted to add yippy.com as search engine"
### What happened? did not show up on "add on Search"

[2018-09-09 07:46] LordGameleo commented on #3447
@eviljeff  I saw these log files I couldn't find anything that may be the reason for this. I again set up the using docker. Still it is like this.

[2018-09-10 08:07] AlexandraMoga commented on #9364
@diox  I'm still seeing the Compatibility checker instead of the new Temporary installation link an -dev:

![image](https://user-images.githubusercontent.com/31961530/45284592-9ed5ee00-b4e9-11e8-8508-c8bc1815d8fe.png)

[2018-09-10 13:38] eviljeff commented on #9387
This isn't the issue repository for github, it's for issues on addons.mozilla.org (specifically the backend django part).

[2018-09-10 13:38] #9387 closed

[2018-09-10 13:40] eviljeff opened #9391 "fix .pyup.yml"
In the process of writing #9390 I thought I'd fix `.pyup.yml` too, but I doubt it was working anyway.  We have:
[code]
But according to https://pyup.io/docs/bot/config/ it's `update` not `updates`; and `insecure` not `security`.  It likely only works because the defaults it to search in common locations (such as `/requirements/`) and `update` defaults to `all`.