[2016-04-13 15:31] muffinresearch commented on #2350
Duplicate of #2259

[2016-04-13 15:31] #2350 closed

[2016-04-13 15:52] tofumatt commented on #2152
If it can’t be reproduced outside responsive design mode (or really even in) it’s not a blocker.

A separate issue for that would be good; it’s likely a good first bug.

[2016-04-13 16:03] ValentinaPC opened #2351 "Modals can be broken"
Steps to reproduce:
1. Sign in to AMO-stage https://addons.allizom.org/en-US/firefox
2. Go to any add-on details page https://addons.allizom.org/en-US/firefox/addon/tab-notifier/
3. Click the "Report Abuse" link
4. Increase the text field width

Expected results:
There are no display or layout issues.

Actual results:
There are some layout ugly issues.

Notes/Issues:
The issue is also reproducing

[2016-04-13 16:10] cosminbadescuSV commented on #2130
This issue is not reproducing anymore, see the video: http://screencast.com/t/NTaUxRTEHR

[2016-04-13 16:10] #2130 closed

[2016-04-13 16:14] ValentinaPC opened #2352 "Background breaks if window is smaller than page in Stats Dash using Responsive Design Mode"
Steps to reproduce:
1. Load Statistics page for an add-on with public stats in AMO-stage: https://addons.allizom.org/en-US/firefox/addon/firebug/statistics/?last=30
2. Resize the browser using Responsive Design Mode (i.e. above 1020px width)

Expected results:
There are no display or layout issues.

Actual results:
There is a white vertical bar displayed.

Notes/Issues:
Verified on FF45(Win 7). Is

[2016-04-13 16:18] muffinresearch commented on #2351
We can probably use something like this:

[code]

[2016-04-13 16:40] andymckay commented on #2342
This is by design, it stores the time period in local storage. Not the best design perhaps.

[2016-04-13 16:40] #2342 closed

[2016-04-13 16:41] andymckay commented on #2340
@diox has been working on the indexing recently.

[2016-04-13 16:42] andymckay commented on #2336
Please do @bqbn.

[2016-04-13 16:44] andymckay commented on #2319
@krupa could you check if this is occuring on stage so we don't push this out.

[2016-04-13 16:46] andymckay commented on #2311
I think the best thing to do is remove that block as @ValentinaPC mentioned.

[2016-04-13 16:53] andymckay commented on #2277
I can't reproduce this, has this been fixed with all the other changes?

[2016-04-13 16:55] cosminbadescuSV commented on #2319
This issue is no longer reproducing.

[2016-04-13 16:55] #2319 closed

[2016-04-13 16:57] andymckay commented on #2248
We probably need something more to go on, do we think this could be related to performance at the time?

[2016-04-13 17:05] pwalm commented on #2289
Ideally, we just shouldn't show it. Can we do that? If you can't install it on your platform, you don't see it.

[2016-04-13 17:06] pwalm commented on #2289
(I believe we did this with Marketplace)

[2016-04-13 17:09] andymckay commented on #2289
We can, but that's beyond a style change and I think we might want to think about the implications of that. In the old AMO if you couldn't install something it was clear in the search results, by being greyed out..?

[2016-04-13 17:17] Archaeopteryx commented on #2277
Still reproduces on prod and addons-dev: ![screenshot](https://cloud.githubusercontent.com/assets/216576/14502592/3a0b6466-01ac-11e6-9433-998728f89984.png)

[2016-04-13 17:19] Archaeopteryx commented on #2289
If I remember correct, there was a transparency applied to the listing so everything looked lighter.

[2016-04-13 17:25] andymckay commented on #2277
I get the tall header because of the message. But once I revisit, its back to expected size.

[2016-04-13 18:05] tofumatt commented on #2289
There was a transparency applied; in fact we should have fixed this with transparency (#2024) but it seems it's not showing.

There is supposed to be a class applied to the `div` containing the add-on but it doesn't seem to be getting applied.

[2016-04-13 18:25] muffinresearch commented on #2277
If I understand correctly I think this bug is more about the OP saying the re-designed carousel is making the header too large compared to what it used to be. Since the old site had the carousel more in-line to one side under the header.

That said it's implemented as designed so it's not a bug per se.

[2016-04-13 18:30] muffinresearch commented on #2330
I'm going to file another bug for that since it's a different page.

[2016-04-13 18:30] #2330 closed

[2016-04-13 18:30] muffinresearch opened #2353 "Secondary column is too narrow on reviews page"
Relates to #2330

![c95890ce-019a-11e6-8220-e97ceba942ce](https://cloud.githubusercontent.com/assets/1514/14504799/370b69c6-01ae-11e6-8aa3-6d22bd6a1ca3.png)

[2016-04-13 18:34] eviljeff commented on #2248
I'm not sure how to measure the performance, but it's happened more than once.

[2016-04-13 18:36] muffinresearch commented on #2299
Yep this was always the case not something introduced via the refresh afaik.

[2016-04-13 18:38] muffinresearch commented on #2272
Here's a screenshot:

<img width="439" alt="2016-04-08_1312_-_victorashmoto_s_library" src="https://cloud.githubusercontent.com/assets/1514/14505030/3d8ae816-01af-11e6-85ae-7cef4af1ab07.png">

[2016-04-13 18:58] #2289 closed

[2016-04-13 19:00] tofumatt commented on #2289
This might need some extra QA magnifying glasses, as this probably affects a fair number of pages. I tested the listings and version page.

[2016-04-13 19:43] bqbn commented on #2336
Pull request submitted. :)

https://github.com/mozilla/addons-server/pull/2357

[2016-04-13 19:48] tofumatt commented on #2031
Padding for this was increased in #2147, screenshot here:

![apr-13-2016 20-47-38](https://cloud.githubusercontent.com/assets/90871/14507112/20a7e500-01b9-11e6-8477-5d1060099d52.gif)

[2016-04-13 19:48] #2031 closed

[2016-04-13 20:11] #2353 closed

[2016-04-13 20:19] #2345 closed

[2016-04-13 22:12] jvillalobos opened #2360 "Add-on metadata links in review page are white text on white background"
Abuse Report, Privacy Policy, and EULA are affected, at least.
![white-links](https://cloud.githubusercontent.com/assets/62568/14511097/631e116a-0192-11e6-848c-3fb9e1f9dfe9.png)

[2016-04-13 22:27] wagnerand commented on #2360
Requesting cherry-pick.

[2016-04-13 23:22] devaneymoz opened #2362 "Missing buttons in AMO Editor Tools"
I have admin rights, but when I go to [review a flagged theme](https://addons.mozilla.org/en-US/editors/themes/flagged), I don't see the following button options on any individual theme's review page:

- Request More Info
- Duplicate
- Reject
- Approve

... so no action can be taken.

@atsay, @jvillalobos

[2016-04-14 03:31] tofumatt commented on #2360
You can add the commit hash for the commit itself (not the merge commit)
that fixes this bug to the push doc ether pad (in the #amo topic) to have
it be cherry-picked as well, just so it doesn't get lost in GitHub
notifications.

- tofumatt

On 13 April 2016 at 23:27:08, Andreas Wagner (notifications@github.com)
wrote:

[2016-04-14 04:02] #2253 closed

[2016-04-14 04:24] #2288 closed

[2016-04-14 07:59] ValentinaPC commented on #2299
I've logged this issue a few months ago, and with this I support muffinresearch opinion.
Please see #1712 .

[2016-04-14 08:01] muffinresearch commented on #2299
Marking as dupe

[2016-04-14 08:01] #2299 closed

[2016-04-14 08:39] ValentinaPC commented on #2289
@tofumatt : Can we apply this to themes as well?

[2016-04-14 08:46] ValentinaPC commented on #2289
Does this require another issue to be logged or should we reopen this?
Verified on AMO-dev FF45(Win 7) in https://addons-dev.allizom.org/en-US/firefox/extensions/bookmarks/?sort=popular .
Please see the screencast: http://screencast.com/t/Iv3Ago5kAk

[2016-04-14 08:48] ValentinaPC commented on #2353
Verified as fixed on AMO-dev FF45(Win 7)
Postfix screenshot:
![2016-04-14_1147](https://cloud.githubusercontent.com/assets/15685960/14522352/cc017cb8-0236-11e6-857e-57c66325296f.png)

[2016-04-14 08:54] vcarciu commented on #2031
Verified as fixed : http://screencast.com/t/yd2tRge3b

[2016-04-14 08:55] #2360 closed

[2016-04-14 08:57] vcarciu commented on #2337
Verified as fixed :
![add](https://cloud.githubusercontent.com/assets/1583842/14522602/fdcb2f86-0237-11e6-8598-d4e17b348270.png)

[2016-04-14 09:11] vcarciu commented on #2343
Same issue between "Developer's comments" and "Version information" :
![commvers](https://cloud.githubusercontent.com/assets/1583842/14522971/e38ca382-0239-11e6-8a7c-407d6b9ef8f6.png)

[2016-04-14 09:23] tofumatt commented on #2289
We can apply it to themes as well, but it should be a separate bug.

- tofumatt

On 14 April 2016 at 09:46:38, ValentinaPC (notifications@github.com) wrote:

[2016-04-14 09:28] ValentinaPC commented on #2253
Verified as fixed on AMO-dev FF45(Win 7)
Postfix screenshot:
![2016-04-14_1225](https://cloud.githubusercontent.com/assets/15685960/14523408/3acc541a-023c-11e6-9b91-9f6f14b2693f.png)

[2016-04-14 09:29] tofumatt commented on #2289
Please file a separate bug for this as well. It's definitely a bug, but it shouldn't block release.

[2016-04-14 09:32] muffinresearch commented on #2343
This is how it was pre-refresh:

<img width="417" alt="adblock_plus____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14523524/13cba8ee-022c-11e6-8c9c-dfb7b46f985b.png">

[2016-04-14 09:33] cosminbadescuSV commented on #2227
This issue is still reproducing, see the video: http://screencast.com/t/QU8c7GGX4YT

[2016-04-14 09:34] muffinresearch commented on #2343
Can you file a new issue for that one please?

[2016-04-14 09:34] #2343 closed

[2016-04-14 09:41] ValentinaPC opened #2364 "Modify the opacity for unsupported Complete Themes"
Relates to #2355

Steps to reproduce:
1. Go to Themes->Complete Themes page in AMO-stage https://addons.allizom.org/en-US/firefox/complete-themes/
2. Observe the incompatibles complete themes i.e. FT DeepDark

Expected results:
It should be grey out, like add-ons are.

Actual results:
There look available.

Notes/Issues:
Verified on AMO-stage FF45(Win 7). Issue is reproducing on AMO-dev, stage and

[2016-04-14 09:44] muffinresearch commented on #2364
Looking at the old styles we didn't used to do that, but it would be nice for consistency and more visual immediacy.

[2016-04-14 09:48] ValentinaPC commented on #2364
We used to do that :smile:
Please see the screenshot:
![2016-04-14_1247](https://cloud.githubusercontent.com/assets/15685960/14524030/231a9f72-023f-11e6-8e83-f75db140aba0.png)

[2016-04-14 09:51] muffinresearch commented on #2364
Ah ok I stand corrected . Removing the restyle CSS wasn't enough to bring that back. I wonder if the markup or js has changed?

@tofumatt I wonder also if it would be tricky revert the waffle removal since seeing the old site is pretty difficult and clearly removing the restyle css isn't enough as demonstrated here. I'm constantly finding I want to reference the old site design.

[2016-04-14 09:54] tofumatt commented on #2364
We could bring the waffle flag back if you like, yeah. I’d probably make it an “oldstyle” flag, as the redesign should be the default. But we could do it if it was really useful.

I liked the idea of ditching the code. You could always just check out an old tag/version, but if that’s more of a pain we could explore re-implementing the waffle bit.

[2016-04-14 09:56] ValentinaPC opened #2366 "Hovering over an incompatible add-on moves the installation button"
Relates to #2289

Steps to reproduce:
1. Load AMO-dev page https://addons-dev.allizom.org/en-US/firefox/
2. Hover over an incompatible add-on https://addons-dev.allizom.org/en-US/firefox/extensions/bookmarks/?sort=popular (i.e Evernote Web Clipper)
3. Repeat and observe the button

Expected results:
There are no display or layout issues.

Actual results:
The add-on is flickering and the "+Add to F

[2016-04-14 10:02] muffinresearch commented on #2364
Checking out old code works up to a point but gets problematic as soon as there's migrations in the way. Also it makes it painful re: fixing something and having a checkout pointing back to historical code.

I guess the lesson learned here is that if we ever do this kind of thing again we should leave a waffle in place longer since it doesn't do any real harm and then only remove it once we're cle

[2016-04-14 10:03] tofumatt commented on #2364
Agreed, we went too fast on removing that code; it really wasn’t hurting much.

[2016-04-14 10:04] vasilicamihasca opened #2367 "The main Add-ons Manager page is not automatically displayed after logout"
**Steps to reproduce**
1. Login to https://addons.mozilla.org/en-US/
2. Navigate to about:addons
3. Click “Log out” link from the top right corner.

**Expected results**
The main Addons Manager page is automatically displayed.

**Actual results**
“What are Add-ons?” section is displayed, and the “Get Add-ons” page appears only after a refresh.

**Additional notes:**
- This issue reproduces on AMO-

[2016-04-14 10:06] cosminbadescuSV opened #2368 "“Version Information” is not collapsing correctly for unreviewed add-ons"
Steps to reproduce:

1.Open this firefox add-ons page: https://addons.allizom.org/en-US/firefox/addon/szmalback/?src=search
3.After the page is loaded scroll down to “Version Information”.
4.Click on the arrows from “Version Information” few times.

Expected results:
“Version Information” collapses correctly.

Actual results:
“Version Information” does not collapses correctly.

Note/Issues:
This t

[2016-04-14 10:06] muffinresearch commented on #2346
I think the main problem here is that the hovercard styling is being explcitly removed by the refresh (not sure if that was a design decision or not?). This suggests the best solution to cleaning this up is going to be to re-instate the hovercard styling for these addons.

Also what is the undefined? Is that just a data issue?

[2016-04-14 10:07] muffinresearch commented on #2346
@ValentinaPC would you be able to set-up a new example of this one -dev please? The link to stage is broken.

[2016-04-14 10:19] ValentinaPC commented on #2346
Sure!
Please hover over the middle add-on :smile:
https://addons-dev.allizom.org/en-US/firefox/addon/unlimited-free-vpn-test3/

[2016-04-14 10:28] tofumatt commented on #2368
Tested this locally and found it only occurs for add-ons requiring review/full review.

[2016-04-14 10:48] vcarciu commented on #2288
Verified as fixed : http://screencast.com/t/Gkh1l2k3fj

[2016-04-14 10:54] tofumatt commented on #2346
I don't think the long names really affect much, but the multiple buttons definitely do.

[2016-04-14 10:56] tofumatt commented on #2346
I think the best solution is to not have these be hovercards and instead show all the info at once. The hover effect here seems silly and the call to action is clearly: "install these other add-ons so everything works". No sense obscuring the install buttons/compatibility info.

It's a bit more cluttered that way, but this is a rarely used feature and for power users, right? Most add-ons don't req

[2016-04-14 11:00] #2368 closed

[2016-04-14 11:00] ValentinaPC commented on #2168
This is now in AMO-stage and the button is not working at all.
Please see the screencast: http://screencast.com/t/i6jdMcre

[2016-04-14 11:05] mathjazz commented on #1782
It would be great if this could be fixed soon, because dozens of strings are now exposed to localizers as untranslated by mistake.

[2016-04-14 11:13] muffinresearch commented on #2346
As an aside it would be nice to know the numbers of addons using the dependent addons feature. If it's not used then it might be something we don't retain in the future.

[2016-04-14 11:30] ValentinaPC opened #2370 "[AMO-dev] White menu in Editor Tools"
Steps to reproduce:
1. Sign in to AMO-dev with an admin account
2. Load Tools-Editor Tools page https://addons-dev.allizom.org/en-US/editors/
3. Observe the menu

Expected results:
The menu is displayed.

Actual results:
The menu is white on white background.

Notes/Issues:
Verified on AMO-dev FF45(Win 7).
Screenshot for this issue:
![2016-04-14_1421](https://cloud.githubusercontent.com/assets/156

[2016-04-14 11:31] vcarciu commented on #2360
Verified as fixed :
![editor](https://cloud.githubusercontent.com/assets/1583842/14526664/91e8e0b8-024d-11e6-964c-a991f485272b.png)

[2016-04-14 11:52] vcarciu opened #2372 "Wrong label color for incompatible addons inside a collection"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to a collection containing incompatible addons (https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/featured_complete_themes/)
2.Observe the label of "Add to firefox" grey button

Expected results:
Entire label is white

Actual results:
Wrong color f

[2016-04-14 12:02] ValentinaPC opened #2373 "[AMO-dev] white background for promo-banner"
Steps to reproduce:
1. Load AMO-dev page https://addons-dev.allizom.org/en-US/firefox/
2. Observe the promo banner

Expected results:
The banner is on blue background.

Actual results:
The banner is on white background making it hard to read.

Notes/issues:
Verified on AMO-dev FF45(Win 7).
Screenshot for this issue:
![2016-04-14_1455](https://cloud.githubusercontent.com/assets/15685960/14527277/7f

[2016-04-14 12:02] #2168 closed

[2016-04-14 12:04] tofumatt commented on #2373
Regression from #2369.

[2016-04-14 12:14] muffinresearch commented on #2168
This is added to the cherry-picks list.

[2016-04-14 12:15] #2373 closed

[2016-04-14 12:36] tofumatt commented on #2346
I think the best solution is to not have these be hovercards and instead show all the info at once. The hover effect here seems silly and the call to action is clearly: "install these other add-ons so everything works". No sense obscuring the install buttons/compatibility info.

It's a bit more cluttered that way, but this is a rarely used feature and for power users, right? Most add-ons don't req

[2016-04-14 13:05] wagnerand commented on #2370
Weird, I cannot reproduce this on local.

[2016-04-14 13:07] wagnerand commented on #2370
This has been fixed in 8f26761.

[2016-04-14 13:07] #2370 closed

[2016-04-14 13:25] vcarciu opened #2375 ""Add" button is missing from Featured Themes in homepage"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/
2.Hover over Featured themes

Expected results:
"Add" button is displayed when hovering over themes

Actual results:
"Add" button is missing

Please see screencast for this bug : http://screencast.com/t/6yXwLEVzJ9

[2016-04-14 13:29] vcarciu opened #2376 "No padding between "Developer's comment" and "Version information" sections in addons details pages"
Prerequisites : Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to an addon details page which have Developer's comments and Version information sections(https://addons-dev.allizom.org/en-US/firefox/addon/video-downloadhelper/?src=hp-dl-mostpopular)
2.Observe the  "Developer's comment" and "Version information" sections

Exp

[2016-04-14 13:30] vcarciu commented on #2343
Opened #2376

[2016-04-14 13:36] ValentinaPC commented on #2370
Verified as fixed on AMO-dev FF45(Win 7).
Postfix screenshot:
![2016-04-14_1635](https://cloud.githubusercontent.com/assets/15685960/14529837/fe31db24-025e-11e6-9c00-f3e3700007c9.png)

[2016-04-14 13:38] ValentinaPC commented on #2373
Verified as fixed on AMO-dev FF45(Win 7).
Postfix screenshot:
![2016-04-14_1637](https://cloud.githubusercontent.com/assets/15685960/14529906/4f3e2734-025f-11e6-809c-568ebf57e6db.png)

[2016-04-14 13:48] ValentinaPC commented on #2168
Verified as fixed on AMO-dev FF45(Win 7).
Postfix screenshot:
![2016-04-14_1647](https://cloud.githubusercontent.com/assets/15685960/14530228/b96596a0-0260-11e6-9942-1cbcf6488991.png)

[2016-04-14 14:26] ValentinaPC opened #2377 "Hidden add-ons should not be displayed in search results pages"
Please see the https://bugzilla.mozilla.org/show_bug.cgi?id=1162559 or follow the next STR:

1. Sign in to AMO-stage page https://addons.allizom.org/en-US/firefox/
2. Disable an add-on (go to Edit listing page-> Manage status & versions -> hidden)
3. Sign out and search the add-on
4. Observe the search suggestions and search results

Expected results:
The hidden add-on is not listed anywhere.

Act

[2016-04-14 15:01] eviljeff commented on #2033
I can only find https://addons.mozilla.org/user/ofaurax/ - is 'ebc229' the correct username? If you're okay with losing one (ebc229 I guess) it should just be matter of switching some fields.

[2016-04-14 15:18] ofaurax commented on #2033
I see "Anonymous user ebc229" on the top of the page.
Yes, "ofaurax" is the correct username, please make it the correct one for the account linked with addon https://addons.mozilla.org/fr/firefox/addon/esperanto-toolbar/
Thanks a lot!

[2016-04-14 15:19] ValentinaPC commented on #2236
I'll mark this verified as fixed, because all mentioned pages were fixed. (I'll log another for everything else)
Verified on FF45(Win 7) AMO-stage.
Postfix screenshots:
![404](https://cloud.githubusercontent.com/assets/15685960/14533200/cdd30440-026c-11e6-9504-1fcc1efc82ab.png)

![faq](https://cloud.githubusercontent.com/assets/15685960/14533336/57c43c82-026d-11e6-9a43-3da8ac8a07a0.png)
![oops](ht

[2016-04-14 15:19] #2236 closed

[2016-04-14 15:24] vcarciu opened #2379 "UI issues in search tools"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/android/search-tools/

Expected reasults:
The page is displayed without any layout issues

Actual results:
All buttons, descriptions, reviews, etc are not correctly aligned in addon's frames

Please see screenshot for this

[2016-04-14 15:26] vcarciu commented on #2379
Also , please note that this is looking bad on -dev. On Stage even the page is not style refreshed, UI looks good.

[2016-04-14 15:35] ValentinaPC opened #2380 "Menu splitter plays "hide-and-seek""
Steps to reproduce:
1. Load AMO-stage homepage https://addons.allizom.org/en-US/firefox/
2. Decrease / Increase page font size

Expected results:
The are no display or layout issues.

Actual results:
The menu "splitter" is hiding.

Notes/Issues:
Verified on FF45(Win 7). Issue is reproducing on AMO0stage, dev and prod.
Please see the screencast: http://screencast.com/t/6SJ5VF6VQc

[2016-04-14 15:37] tofumatt commented on #2379
Is this happening on stage? If so we'll need to get this a blocks-release tag and cherry-pick the fix. Fortunately it's an easy one.

[2016-04-14 15:48] eviljeff commented on #2033
Alright, I've deleted the anonymous one and changed the email address for ofaurax to be one you use for Firefox Accounts (the one ebc229 had).  If you try to log in with that email address it will migrate the account and you should be set.

[2016-04-14 16:05] ofaurax commented on #2033
Thanks!

[2016-04-14 16:05] #2033 closed

[2016-04-14 16:29] EnTeQuAk commented on #1782
that's weird, I'm looking into that - specifically what you linked should have been fixed by the commit where we restored the translation messages. Maybe I messed up extraction, I'll take a look.

[2016-04-14 16:39] eviljeff commented on #1908
1.  Do we need `EMAIL_QA_WHITELIST` and actually sending emails to that whitelist if the emails will be real now but sent to a different address?
2.  Should the default be that to email forum?  Or just for dev/stage/etc? - I'm thinking about local development (including non-moco contributors).  If the default is addons-server-test-emails@ it will potentially get all kinds of random emails; if ther

[2016-04-14 16:48] eviljeff opened #2383 "Too many TODOs"
Over the years the amo codebase has accumulated 80+ `# TODO` comments.  We should either DO\* those still appropriate to do; or accept the truth that they're never going to be done so remove the comment and/or commented-out code.
- If they're non-trivial they could be split out into separate issues; potentially good-first-bugs

[2016-04-14 17:00] ValentinaPC commented on #2289
I've logged separate issues.
I've verified this all around AMO-dev in FF45(Win 7).
Postfix screenshots:
![2016-04-14_1959](https://cloud.githubusercontent.com/assets/15685960/14536533/8c4bfbe4-027b-11e6-948f-3984a923ba88.png)
![2016-04-14_2000](https://cloud.githubusercontent.com/assets/15685960/14536538/92bd3e66-027b-11e6-8979-7d13efeeccdf.png)

[2016-04-14 17:37] eviljeff commented on #2007
looks like its fixed

[2016-04-14 17:42] muffinresearch commented on #2007
<img width="243" alt="adblock_plus____reviews____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14537834/a0e52446-0270-11e6-8163-872afb4216c6.png">

[2016-04-14 17:43] muffinresearch commented on #2007
You might be getting a different result with the webfont vs the local font.

[2016-04-14 17:45] muffinresearch commented on #2007
Actually scratch that I see the same with box local fonts and the webfont loaded if I turn off the local open sans on OSX.

[2016-04-14 18:00] muffinresearch commented on #2007
Here's the glyphs (note this shows it's not font specific) if you see the left arrow smaller, then you can repro the problem:

◂◂ ▸▸

[2016-04-14 18:03] muffinresearch commented on #2007
As @andymckay suggested on irc let's workaround this by using &laquo; and &raquo;  instead.

[2016-04-14 19:33] Quicksaver opened #2384 "Some links are invisible in "puzzle piece" listings"
Nuff said.

![inivisblelinks](https://cloud.githubusercontent.com/assets/802086/14541082/1e9de382-0280-11e6-8a00-5b9cd6b78caf.jpg)

[2016-04-14 20:17] mstriemer opened #2385 "Support authentication for the new admin section"
Tracker for new admin section authentication.

[2016-04-14 20:18] teo951 opened #2386 "Bad counting"
Moderated Reviews are counting +5, so if for moderation is 5 reviews counter shows 10.

[2016-04-14 20:28] andymckay commented on #2383
I imagine 95% of them just need to be removed. And add a travis check to stop anymore being added :)

[2016-04-14 21:24] andymckay commented on #1113
I don't know if this is still a good idea or not. The code is there at least, but I loathe to add any new features to AMO until we have more idea where its going.

[2016-04-14 21:24] #1113 closed

[2016-04-14 21:43] atsay commented on #2264
Per the UX meeting this morning, we should keep the favoriting feature. The collections feature can be dialed back but users should have a way to favorite add-ons and access them in a list somewhere. @designakt @pwalm @deadsquid @jvillalobos @devaneymoz

[2016-04-14 22:40] smayer97 commented on #2013
If you do not use collections, then I think you are missing the significance of what removing the 2 "simple" links does (Add to Favorites and Add to Collection). It has made it EXTREMELY difficult to manage collections without them. I think it is a great lack of appreciation of how useful collections are and the way they need to be accessed (by collection creators/managers).

Also, given the amoun

[2016-04-14 22:45] smayer97 commented on #2264
Please be sure to understand it is not only about the "Add to Favourites" link but also the "Add to Collections" and associated functions. Please re-read my comments.

If you do not use collections, then I think you are missing the significance of what removing the 2 "simple" links does (Add to Favorites and Add to Collection). It has made it EXTREMELY difficult to manage collections without them.

[2016-04-14 23:35] minj opened #2387 "Signing API seems to be broken down"
When I previously had performance problems like in #1166 /en-US/developers/addon/`<slug>`/versions would show me the new upload with 0 files attached.

Now I see no entries at all for these two uploads in the last hour (different version numbers):

3e9e50971d18493fa3aa0a41fb760cde
d226aac0facc413892534d59b4461f83

P.S. I've submitted #1852 for my previous problems but it seems to have been lost in

[2016-04-14 23:51] minj commented on #2387
I am using a custom script for signing.

The interesting parts are these: `{"active":false,"automated_signing":true,"url":"https://addons.mozilla.org/api/v3/addons/%7B9d1f059c-cada-4111-9696-41a62d64e3ba%7D/versions/0.16.11.436/uploads/d226aac0facc413892534d59b4461f83/","files":[],"passed_review":false,"pk":"d226aac0facc413892534d59b4461f83","processed":true,"reviewed":false,"valid":true,`

I unde

[2016-04-15 00:01] andymckay opened #2388 "Preliminary addons cannot be made public."
We are seeing this traceback:

olympia.editors.helpers in process_public
AssertionError: Preliminary addons cannot be made public.

Which is possibly due to the changes made in https://github.com/mozilla/addons/issues/68. It seems like some add-ons are failing to be signed.

[2016-04-15 00:24] minj commented on #2387
I had 2 relatively new 'Severity for automated signing: high' messages due to failed static analysis of `setTimeout(cb, time)` calls. Code introduced on April 2, last accepted build on amo on April 12.

I have fixed them up but the problem remains.
new pk=833b75934f144988a05d4b49c93e2a9e

[2016-04-15 00:25] andymckay commented on #2388
Lets' revert the changes in https://github.com/mozilla/addons/issues/68.

[2016-04-15 02:26] JustOff commented on #1856
Looks like the problem is back again since April 12.

[2016-04-15 06:03] cosminbadescuSV commented on #2368
This isssue is not reproducing anymore, see the video:http://screencast.com/t/J5ewnHF9Yq7N

[2016-04-15 06:10] RainerBielefeld opened #2390 "New Style wastes page width"
Today most people have widescreen monitors, on which an add-on-download page looks as shown in the screenshot. 1/3 of page width is empty, but "63 Benutzerbewertungen" needs a line break? This needs improvement.
![pagewidth-screenshot](https://cloud.githubusercontent.com/assets/11803749/14552784/5123f40c-02e1-11e6-8958-468d4bf92d55.png)

----------

BTW, this Github Toy Issue Tracker is a real nui

[2016-04-15 07:04] ValentinaPC commented on #2250
Does not look cute in AMO-prod FF45(Win7)

[2016-04-15 07:27] cosminbadescuSV commented on #2227
This issue is still reproducing, see the video: http://screencast.com/t/0fxKmztkv

[2016-04-15 07:56] ValentinaPC opened #2391 ""View Recent Changes" page is not style-refreshed and looks weird"
Steps to reproduce:
1. Sign in to AMO-dev https://addons-dev.allizom.org/en-US/firefox/
2. Go to My Submission page https://addons-dev.allizom.org/en-US/developers/addons
3. Click on "View Recent Changes" link from "More"
4. Observe the page

Expected results:
The page is style refreshed.

Actual results:
The page is not style refreshed and if the users has many add-ons looks weird.

Notes/Issue:

[2016-04-15 08:12] ValentinaPC opened #2392 "CSS console error at search"
Steps to reproduce:
1. Load AMO-dev page https://addons-dev.allizom.org/en-US/firefox/
2. Open the console
3. Make a search (i.e "free")

Expected results:
There are no errors in the console.

Actual results:
There is a CSS error in the console.

Notes/Issues:
Issue can be see in homepage too:
![2016-04-15_1111](https://cloud.githubusercontent.com/assets/15685960/14555373/df5d8e7c-02fa-11e6-95bc-7

[2016-04-15 08:25] ValentinaPC opened #2393 "[RTL] Complete Themes link has display issues"
Steps to reproduce:
1. Load AMO-dev page
2. Go to Other Languages drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Hover over Themes

Expected results:
A drop-down is displayed. There are no issues.

Actual results:
The "Complete Themes" section has display issues.

Notes/Issues:
Verified on FF45(Win 7). Issue is reproducing on AMO-dev, stage and prod.
Screensho

[2016-04-15 08:30] ValentinaPC opened #2394 "[RTL] Manage button has display issues"
Steps to reproduce:
1. Load AMO-dev page
2. Go to Other Languages drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Go to any add-on details page https://addons-dev.allizom.org/he/firefox/addon/facebook-phishing-protector/?src=hp-dl-featured
4. Observe the Manage red button

Expected results:
There are no display or layout issues.

Actual results:
The "Manage" re

[2016-04-15 08:34] ValentinaPC opened #2395 "[RTL] Other Languages drop-down has display issues"
Steps to reproduce:
1. Load AMO-dev page
2. Go to Other Languages drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Observe the Other Languages drop-down

Expected results:
There are no display or layout issues.

Actual results:
The "Other Languages" drop-down has display issues.

Notes/Issues:
Verified on FF45(Win 7). Issue is reproducing on AMO-dev, stage and p

[2016-04-15 08:49] ValentinaPC opened #2396 "[RTL] The "+" from the intall button has display issues"
Steps to reproduce:
1. Load AMO-dev page
2. Go to Other Languages drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Go to any add-on details page https://addons-dev.allizom.org/he/firefox/addon/facebook-phishing-protector/?src=hp-dl-featured
4. Observe the "+" from the install button

Expected results:
There are no display or layout issues.

Actual results:
The "

[2016-04-15 09:04] muffinresearch commented on #2392
These can be ignored there's nothing we can do about this. See this bug for context https://bugzilla.mozilla.org/show_bug.cgi?id=1185685

[2016-04-15 09:04] #2392 closed

[2016-04-15 09:05] ValentinaPC opened #2397 "[RTL] Menu drop-down boxes have display issues"
Steps to reproduce:
1. Load AMO-dev page
2. Go to "Other Languages" drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Hover over any menu option

Expected results:
There are no display or layout issues.

Actual results:
The drop-down boxes have display issues

Notes/Issues:
Verified on FF45(Win 7). Issue is reproducing on AMO-dev, stage and prod.
Screenshot for t

[2016-04-15 09:17] ValentinaPC opened #2398 "[RTL] Scroll bar in themes categories"
Steps to reproduce:
1. Load AMO-dev page
2. Go to Other Languages drop-down and pick a RTL language i.e. https://addons-dev.allizom.org/he/firefox/
3. Click on Themes option from the menu
4. Hover over any theme from "Recently Added/Most Popular/Top Rated"

Expected results:
There are no display or layout issues.

Actual results:
A scroll bar appears.

Notes/Issues:
Also the theme button has displ

[2016-04-15 09:23] vasilicamihasca commented on #2321
Verified as fixed on AMO-dev using Firefox 45.0.2 (Win 10)
Postfix screenshots:
![pic1](https://cloud.githubusercontent.com/assets/18114210/14557162/96706f04-0304-11e6-92ed-a450f667cd59.png)
![pic2](https://cloud.githubusercontent.com/assets/18114210/14557169/a09d934e-0304-11e6-82b9-e1839f721677.jpg)

[2016-04-15 09:42] muffinresearch commented on #2380
Not reproducible on OSX. This is such a minor problem I think it's OK to wontfix this.

If anyone feels strongly otherwise then please feel free to reopen it.

[2016-04-15 09:42] #2380 closed

[2016-04-15 09:52] ValentinaPC opened #2399 "Reset password message page for an unmigrated account is not style-refreshed"
Steps to reproduce:
1. Click on the Register/Login link from header in AMO-dev
2. Click the "I forgot my password." link from the right side of the page
3. Enter a valid e-mail for a unmigrated account
4. Click the "Send password reset link" button
5. Observe the reset message section

Expected results:
The section is style-refreshed.

Actual results:
The section is not style-refreshed.

Notes/Iss

[2016-04-15 09:55] muffinresearch commented on #2390
@RainerBielefeld thanks for the feedback. Right now this style update is just a refresh so bigger changes to the layout are not in-scope. However, your comments around making more use of the width will be looked at in the future when we do a more complete overhaul of the front-end.

Re: github issues I agree they have some limitations - but the team finds that having issues closer to the code outw

[2016-04-15 09:55] #2390 closed

[2016-04-15 10:00] muffinresearch commented on #2175
This is fixed:

<img width="227" alt="edit_listing____4april____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14558244/317d4ff0-02f9-11e6-8e1c-ebe323ea8db0.png">

[2016-04-15 10:06] muffinresearch commented on #2054
This looks to be ok now:

<img width="549" alt="validation_results_for_54310d688b7a471aa0fe305dd609485f_archive_xpi____developer_hub____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14558377/1481da78-02fa-11e6-8f4f-4515a9141082.png">

[2016-04-15 10:06] #2054 closed

[2016-04-15 10:12] muffinresearch commented on #2067
I can only repro on windows. However it's fixed on -dev since the button font-size was reduced already.

![screenshot_15_04_2016__11_11](https://cloud.githubusercontent.com/assets/1514/14558526/e4080ed4-02fa-11e6-822c-bf4b0e8f8f84.png)

[2016-04-15 10:12] #2067 closed

[2016-04-15 10:13] vcarciu opened #2400 "Add more padding between featured themes rows in AMO homepage"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/
2.Hover over second row of featured themes

Expected results:
There is more padding between the two rows of featured themes

Actual results:
Not enough padding

Please see video for this bug : http://screencast.com

[2016-04-15 10:13] muffinresearch commented on #2072
Yep should have been fixed already.

[2016-04-15 10:13] #2072 closed

[2016-04-15 10:18] diox commented on #2388
This affects unlisted add-ons that were in preliminary reviewed or awaiting preliminary review state and uploaded a new version since the latest push where #2276 was introduced. I missed that case, and because all this code modifies the statuses directly the add-on ends up in an incoherent state and the reviewers helpers code refuses to modify the version status at upload time.

https://sentry.pro

[2016-04-15 10:20] muffinresearch commented on #2076
This is the issue remaining.

![Uploading Themes____Add-ons_for_Firefox.png…]()

[2016-04-15 10:21] muffinresearch commented on #2134
@vcarciu can you provide a link to an example please.

[2016-04-15 10:24] muffinresearch commented on #2160
Looks to be fixed albeit these have a background.

<img width="502" alt="add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14558824/8d1451b2-02fc-11e6-9008-d5a9b55b254b.png">

[2016-04-15 10:27] muffinresearch commented on #2164
@pwalm @designakt what should this look like?

[2016-04-15 10:31] muffinresearch commented on #2165
I think this is OK since (if I'm understanding correctly) the first button triggers the modal and the second button in the modal actually does a deletion, so it seems to me the red colour difference is justified.

[2016-04-15 10:31] #2165 closed

[2016-04-15 10:34] retorquere commented on #2388
Any ETA on this revert being operational?

[2016-04-15 10:36] muffinresearch commented on #2172
@ValentinaPC Is this still the case? Can you re-verify please?

[2016-04-15 10:37] muffinresearch commented on #2134
Ah here's an example https://addons-dev.allizom.org/en-US/android/addon/flash-video-downloader/

[2016-04-15 10:38] muffinresearch commented on #2178
So I'm going to close this on the basis we're not planning to fix this as part of the refresh scope.

[2016-04-15 10:38] #2178 closed

[2016-04-15 10:40] tofumatt commented on #2346
I re-evaluated and:

1. I don't know why these hovercards were disabled
2. There can be a lot of info in these if the add-on isn't supported for this version of Firefox

Re-implementing the hovercards was an easier and aesthetically more pleasing solution, even though it's arguably a *bit* more work to see the install button. Given how (seemingly, without numbers) rare this feature is, I think tha

[2016-04-15 10:46] muffinresearch commented on #2179
@pwalm so something like this?

<img width="573" alt="manage_my_submissions____developer_hub____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14559312/ad0f28e0-02ff-11e6-823b-41f84813756a.png">

[2016-04-15 10:49] designakt commented on #2164
Closing this as it looks good as it is.

[2016-04-15 10:49] #2164 closed

[2016-04-15 10:51] muffinresearch commented on #2184
This is what we're looking for:

<img width="238" alt="add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14559403/514497e2-0300-11e6-902b-85190e5b5f1f.png">

[2016-04-15 10:53] designakt commented on #2160
Those texts are too small.
Add-on name should be 1.4rem (or about 18px)
Add-on description should be 1.1rem (or about 14px)

[2016-04-15 10:56] muffinresearch commented on #2227
@cosminbadescuSV I can't reproduce this on osx or windows here: https://addons-dev.allizom.org/en-US/firefox/themes/ - can you double check you can still reproduce with having force-refreshed?

[2016-04-15 10:57] muffinresearch commented on #2195
@ValentinaPC do you have a new example of this one?

[2016-04-15 10:59] muffinresearch commented on #2232
This was fixed already by the looks of it:

<img width="569" alt="add-ons_for_thunderbird" src="https://cloud.githubusercontent.com/assets/1514/14559544/7943b204-0301-11e6-84d0-f525f14143ee.png">

[2016-04-15 10:59] #2232 closed

[2016-04-15 11:09] muffinresearch commented on #2264
@atsay @designakt @pwalm - please could someone file new issues for each thing that needs to be added back and which pages are involved so there's clear direction on what the necessary changes are?

[2016-04-15 11:09] muffinresearch commented on #2270
/cc @pwalm @designakt

[2016-04-15 11:26] ValentinaPC commented on #2232
Verified as fixed on AMO-dev FF45(Win 7)
Postfix screenshots:
![android](https://cloud.githubusercontent.com/assets/15685960/14560065/de51a57a-0315-11e6-865e-932af4cce535.png)
![thund](https://cloud.githubusercontent.com/assets/15685960/14560073/ebffd73c-0315-11e6-8228-b72e1db490a9.png)
![sea](https://cloud.githubusercontent.com/assets/15685960/14560081/f936cf82-0315-11e6-945f-1fcffbafa74d.png)

[2016-04-15 11:30] muffinresearch commented on #2160
Ah ok - yes I jumped the gun on that one. Thanks @designakt

[2016-04-15 11:31] RainerBielefeld commented on #2390
Yes, I see, this area here is quite close to the code and far away from the "customers", I won't come along again.

[2016-04-15 11:31] ValentinaPC commented on #2195
Here's a link from add-on details page:
https://addons-dev.allizom.org/en-US/firefox/addon/avira/ (using Chrome Version 50.0.2661.75 m)

Or you can make an empty search and hover around:
![2016-04-15_1430](https://cloud.githubusercontent.com/assets/15685960/14560199/b734c264-0316-11e6-88ec-66ef12e2db50.png)

[2016-04-15 11:34] muffinresearch commented on #2352
Seems to be windows only.

I don't think this is a big enough problem to spend time on so I'm going to wontfix.

[2016-04-15 11:34] #2352 closed

[2016-04-15 11:38] retorquere commented on #2387
I'm also having problems getting my (unlisted) extension signed through the API.

[2016-04-15 11:42] #2379 closed

[2016-04-15 11:52] ValentinaPC commented on #2172
The "blue" color is gone. :)
Now, we have yellow and green.
But.... we have "Download for Windows" yellow button for preliminary reviewed add-ons (I think this is ok) and "**+** Download for Windows" for awaiting versions....should unapproved versions be available in public pages?
Please see the screenshots:
![not_signed_version](https://cloud.githubusercontent.com/assets/15685960/14560580/677ce0c

[2016-04-15 11:54] designakt commented on #1712
Let's do this:

#lightbox .caption {
    font-size: 16px;
    margin: auto 50px;
    height: 64px;
    overflow-y: auto;
    line-height: 56px;
}
#lightbox .caption span {
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
}
#lightbox .control,
.previews .control {
    width: 50px;
}

Which results in a (not so nice) scroll-bar for text longer than 3 lines, but at least

[2016-04-15 11:57] designakt commented on #2270
Let's keep it as is. Looks good enough for me.

[2016-04-15 11:57] #2270 closed

[2016-04-15 12:00] cosminbadescuSV commented on #2227
@muffinresearch in "Featured Themes" the issue is no longer reproducing but it is reproducible in any theme category see the video: http://screencast.com/t/mdsNELBf5p

[2016-04-15 12:02] ValentinaPC commented on #2067
Verified as fixed on AMO-dev FF45(Win 7).
Postfix screenshot:
![2016-04-15_1501](https://cloud.githubusercontent.com/assets/15685960/14560864/197abd76-031b-11e6-8f00-49b5feed1c75.png)

[2016-04-15 12:08] #2388 closed

[2016-04-15 12:09] ValentinaPC commented on #2270
@designakt: It is using gradient blue and the image inside the banner represents AMO in its old clothes.... but, your choice.

[2016-04-15 12:14] vasilicamihasca commented on #2345
![pic01](https://cloud.githubusercontent.com/assets/18114210/14560906/60a2fa88-031b-11e6-95ae-cfa5ea25a82d.png)
![pic02](https://cloud.githubusercontent.com/assets/18114210/14560912/6547447c-031b-11e6-8b9e-55fc34b96b2e.jpg)
- This issue is no longer reproducible in Firefox application, but I still encounter it in Android application
![pic03](https://cloud.githubusercontent.com/assets/18114210/1456

[2016-04-15 12:51] diox commented on #2388
This will go in prod later today. I'll update this bug when it does.

[2016-04-15 12:53] diox commented on #2387
#2388 is causing some uploads to fail, this will be fixed by a push later today.

[2016-04-15 13:05] cosminbadescuSV opened #2403 "Hovering over an incompatible add-on changes the size of description panel to other add-ons"
Steps to reproduce:

1.Open this firefox add-ons page: https://addons-dev.allizom.org/en-US/firefox/extensions/feeds-news-blogging/?sort=users
3.After the page is loaded scroll down to an add-on that is not available for current version of FF.
4.Hover over the add-on and observe behavior of the other add-ons.

Expected results:
Hover does not change the size of description panel from other add-ons

[2016-04-15 13:06] tofumatt commented on #2384
In the future, can you include a link to the page where it's happening? I can find this one, it's okay, but just helps in the future.

Also: obrigado for your awesome Tab Groups add-on, you rock :smile:

[2016-04-15 14:12] vasilicamihasca opened #2406 "[Thunderbird] "+ Download now" is not displayed for any add-on"
**Steps to reproduce**
1. Navigate to https://addons.mozilla.org/en-US/thunderbird/
2. Hover over any extension.

**Expected Results**
”+ Download now” button is displayed .

**Actual Results**
”+ Download now” button is not displayed.

**Additional notes:**
- This issue reproduces on AMO-dev, AMO-stage and AMO-production using Firefox 45.0.2 under Windows 10 64-bit.
- Please see the screenshot fo

[2016-04-15 14:21] muffinresearch commented on #2403
Duplicate of #2366

[2016-04-15 14:21] #2403 closed

[2016-04-15 14:27] rctgamer3 opened #2407 "Menu dropmarkers are missing"
Title.

Without dropmarkers it's impossible to determine whether or not a link (ie: username or Other Applications in the header) is a menu without hovering it.

[2016-04-15 14:28] vcarciu commented on #2175
Please fix the compatibility reports issue too :
![compatrep](https://cloud.githubusercontent.com/assets/1583842/14564487/675e2dc0-032f-11e6-9ab1-c51947722677.png)

[2016-04-15 14:43] vcarciu commented on #2072
Marking as verified...

[2016-04-15 14:52] vcarciu commented on #2379
Verified as fixed :
![srchtools](https://cloud.githubusercontent.com/assets/1583842/14565239/c3d22e32-0332-11e6-810a-cae49d0e81a6.png)

[2016-04-15 14:54] Quicksaver commented on #2384
It's not just the category, it's also the reviews link, the one that list how many reviews it has. I don't think that commit fixes that one.

It happens on every single add-on page I've seen, like [Tab Groups](https://addons.mozilla.org/firefox/addon/tab-groups-panorama/), so I didn't think a link was necessary. :) And you're very welcome, I'm glad you like it.

[2016-04-15 14:56] andymckay opened #2408 "Let's remove the signing api key"
signing API is live, no need to hide it behind a flag any more

[2016-04-15 14:58] diox commented on #2408
dupe of https://github.com/mozilla/addons-server/issues/2128 ?

[2016-04-15 15:01] muffinresearch commented on #2175
@vcarciu got a link to that example? Clearly I was looking at one that didn't have that issue.

[2016-04-15 15:01] jvillalobos commented on #2384
Reopening based on last comment.

[2016-04-15 15:07] muffinresearch commented on #2407
Before the redesign:

<img width="63" alt="add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14565653/06fb2484-0324-11e6-9cf3-327cddfc152a.png">

Post refresh:

<img width="78" alt="add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/14565679/1dbc98a6-0324-11e6-8d30-ab67fc6220b1.png">

[2016-04-15 15:09] muffinresearch commented on #2406
Current impact is that installation requires clicking through to the add-on.

[2016-04-15 15:14] muffinresearch commented on #2345
Yep, this wasn't in the tag or cherry-picked.

@vasilicamihasca yep if you can file a new bug with a link to where we can see it that would be much appreciated.

[2016-04-15 15:18] vcarciu commented on #2175
@muffinresearch : https://addons-dev.allizom.org/en-US/developers/addon/adblock-plus/edit

[2016-04-15 15:31] Leoperd87 commented on #1801
Same problem:
preload-min.js?build=97fb6af-570fdecb:3 POST https://addons.mozilla.org/ru/developers/addon/mallonline/versions/add 500 (INTERNAL SERVER ERROR)

[2016-04-15 15:47] tofumatt commented on #2384
Oh shoot, you're right. Okay, will look again and fix. Thanks!

- tofumatt

On 15 April 2016 at 16:01:49, Jorge Villalobos (notifications@github.com)
wrote:

[2016-04-15 16:00] #1914 closed

[2016-04-15 16:01] vcarciu opened #2409 "Ui issues with "Install anyway" pop-up"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/firefox/extensions/?sort=hotness
2.Find an addon which is not compatible with your version of Firefox
3.Press the "Add to FIrefox" grey button
4.Observe the "Install anyway " popup after moving the mouse outside of popup

E

[2016-04-15 16:06] diox commented on #2387
We've reverted the problematic commit (#2388) on production. If you are still having issues, please make sure you are running the latest version of jpm - 1.0.7 at the time of writing this comment and leave us a note here.

[2016-04-15 16:14] retorquere commented on #2387
I'm not using JPM, but signing has started working for me again.

[2016-04-15 16:15] minj commented on #2387
I can confirm the issue as fixed.

[2016-04-15 16:15] #2387 closed

[2016-04-15 16:50] tofumatt commented on #2384
I don't see any links that are hidden now. Can you screenshot another instance? The reviews sections looked like this for me:

<img width="1004" alt="screenshot 2016-04-15 17 49 10" src="https://cloud.githubusercontent.com/assets/90871/14568690/600b2e9e-0332-11e6-826b-9c96eed2663b.png">

[2016-04-15 16:54] Quicksaver commented on #2384
@tofumatt it's not there, it's in the same area as the category links. The page still looks the same for me as in the original screenshot I posted (as it's not yet been pushed live I'm sure). Note I circled two areas in the screenshot, the category just under the add-on name which should be fixed by the commit, and the ```(98)``` just after the stars rating.

[2016-04-15 17:09] pwalm commented on #2179
Yep!

[2016-04-15 17:11] Quicksaver commented on #2384
I just checked the dev environment, the category is indeed visible, but the review count isn't: https://addons-dev.allizom.org/firefox/addon/findbar-tweak/

![reviewcount](https://cloud.githubusercontent.com/assets/802086/14569257/7b16e356-0335-11e6-8cc0-c5d775f7cb88.jpg)

[2016-04-15 17:33] andymckay commented on #1801
The last comment is a dupe of #2388, which is resolved, I'm not sure about the rest of this bug though.

[2016-04-15 17:53] andymckay commented on #2408
Totally.

[2016-04-15 17:53] #2408 closed

[2016-04-15 17:56] bqbn commented on #2336
Closing this one as pull request has been merged.

[2016-04-15 17:56] #2336 closed

[2016-04-15 18:18] pwalm commented on #2264
Yep, will do. Going to file issues starting Monday.

[2016-04-15 19:34] muffinresearch commented on #2409
<img width="520" alt="fullscreen_15_04_2016__20_32" src="https://cloud.githubusercontent.com/assets/1514/14572881/588d4596-0349-11e6-8d73-dec97338863a.png">

[2016-04-15 22:57] atsay opened #2412 "Signing seems to still be broken"
Here are some tweets, with screen shot: https://twitter.com/AkkumaRyuujin/status/720978850453262336
This was tweeted 6 hrs ago: https://twitter.com/AkkumaRyuujin/status/721005328788234240

Not sure if it's the same issue as this, which was tweeted 12 hours ago: https://twitter.com/fgbjr/status/720939227479875584

[2016-04-15 23:03] andymckay commented on #2412
We aren't seeing any errors around signing and we'll need more details to be able to proceed.

[2016-04-15 23:04] andymckay commented on #2412
(and this has nothing to do with signing)

[2016-04-16 00:02] andymckay commented on #2399
Given that this is going to be removed in the FxA update and the amount of traffic this gets and the fact that its functional, closing.

[2016-04-16 00:02] #2399 closed

[2016-04-16 00:04] andymckay commented on #2391
This seems acceptable to me.

[2016-04-16 00:04] #2391 closed

[2016-04-16 00:05] andymckay commented on #2376
This looks good to me if there's spacing or not.

[2016-04-16 00:05] #2376 closed

[2016-04-16 00:25] andymckay commented on #2388
This has gone into prod.

[2016-04-16 00:33] magicp-github opened #2413 "Needs more line-height of complete theme name"
https://addons.mozilla.org/en-US/firefox/complete-themes/

[2016-04-16 05:42] erosman opened #2414 "Moderated Reviews Count has been wrong for a long time"
As per title...
In the past, although the count was wrong, it would reset (to zero) if all were deleted however the recent version no longer does that either.

eg:
Moderated Reviews (5) ... However, there aren't any.

[2016-04-16 13:26] retorquere commented on #2218
I don't have `fuelIApplication`, `extIApplication` or `Application` anywhere in my code, but I'm getting this through the linter:

[code]

[2016-04-16 20:29] milupo opened #2416 "Please add dsb and hsb to AMO pages"
Hi,

please add dsb (Lower Sorbian) and hsb (Upper Sorbian) to the AMO pages. AMO is translated on Pootle into dsb and hsb now.

Thanks.

Michael Wolf

[2016-04-16 20:44] milupo commented on #2416
Sorry, they are translated on **Pontoon**, not on Pootle.

[2016-04-18 05:44] ValentinaPC commented on #2413
Hello @magicp-github ! Are you referring  to this issue: https://github.com/mozilla/addons-server/issues/2166 ?

[2016-04-18 06:28] potch commented on #2257
Probably a dupe, but also need to address the featured "ribbon" Need a different holding shape if the primary island doesn't have a border.

[2016-04-18 06:36] ValentinaPC commented on #2346
Unfortunately, the issue is not fixed.
Verified on AMO-dev FF45(Win 7).
Please see the screencast: http://screencast.com/t/uzD3RI0Tty

[2016-04-18 06:56] ValentinaPC opened #2419 "Stats page breaks for other languages"
Steps to reproduce:
1. Load Stats Dash for an add-on with public statistics in AMO-dev
2. Change the language to Deutsch (i.e. https://addons-dev.allizom.org/de/firefox/addon/tab-mix-plus/statistics/ )

Expected results:
There are no display or layout issues.

Actual results:
The page breaks.

Notes/issues:
I guess this happens because of a too small space between left menu and displayed chart.
Is

[2016-04-18 10:54] magicp-github commented on #2413
Hi ValentinaPC ! It's same issue. Thanks :)

[2016-04-18 10:54] #2413 closed

[2016-04-18 10:56] muffinresearch opened #2421 "Update ReCaptcha CSP config"
Since recaptcha's CSP config [1]  has been updated we can remove the unecessary hosts.

[1] https://developers.google.com/recaptcha/docs/faq#im-using-content-security-policy-csp-on-my-website-how-can-i-configure-it-to-work-with-recaptcha

[2016-04-18 11:00] muffinresearch commented on #2421
QA Notes: Testing this will be a case of making sure unauthenticated abuse reports work as expected since that's the only place left using the captcha afaik.

[2016-04-18 12:19] vasilicamihasca opened #2423 "[Android][Seamonkey] Different styles for install button"
https://github.com/mozilla/addons-server/pull/2359

**Steps to reproduce**
1.Navigate to https://addons.mozilla.org/en-us/android/addon/adblock-plus/?src=cb-dl-users
2.Check the “Other add-ons by …” section.

**Expected Results**
There is only one install button style applied for all extensions.

**Actual Results**
There are 2 different sizes for “+ Add to firefox” button.

**Additional notes:**
-

[2016-04-18 12:48] Archaeopteryx commented on #2287
It's a duplicate of issue #2264.

[2016-04-18 12:48] vasilicamihasca commented on #2345
I am marking this bug as verified since the other issue is tracked separately (#2423).

[2016-04-18 13:29] ValentinaPC commented on #2372
Reproducible for other apps too (i.e. Thunderbird).
Verified on AMo-dev FF45(Win 7)
Please see the screenshot:
![2016-04-18_1627](https://cloud.githubusercontent.com/assets/15685960/14605735/a01b1b50-0582-11e6-87db-f3c949d29e5a.png)

[2016-04-18 13:57] ValentinaPC commented on #1970
This is reproducing in a weird way in AMO-dev using FF45(Win 7).
Please see the screencast: http://screencast.com/t/hYxg98r1qop

The second version is not approved, but the review message appears in Editor Tools page and, also, in Add-on Review Log a line is added as if the _first version_ is being reviewed each time user tries to make a review for the _second version_.

[2016-04-18 14:52] jvillalobos commented on #2414
I would bet that the count is including add-ons that have since been deleted or moved to unlisted.

[2016-04-18 14:58] #2421 closed

[2016-04-18 14:58] #2128 closed

[2016-04-18 15:01] andymckay commented on #2412
No updates from the person tweeting, no errors recorded on our end. Going to call this fixed unless someone can provide more detail.

[2016-04-18 15:01] #2412 closed

[2016-04-18 15:03] andymckay commented on #2407
By design cc @designakt

[2016-04-18 15:03] #2407 closed

[2016-04-18 15:24] mstriemer opened #2424 "Provide an endpoint to initiate admin login"
We need an endpoint to initiate the admin login flow. This will set the state cookie and redirect the user to FxA using the admin FxA client id.

Supports #2385.

[2016-04-18 15:25] mstriemer commented on #2385
Sequence diagram outlining the flow.

![amo-admin-sequence-diagram-2](https://cloud.githubusercontent.com/assets/211578/14609535/d6bcae36-054f-11e6-89a6-9c998d63d00c.png)

[2016-04-18 15:32] mstriemer opened #2425 "Admin login JSON API"
We need an API for the admin client to exchange an FxA token for a JWT. This should function the same as the current login JSON API but it should use the admin FxA credentials and should not set any cookies.

Supports #2385.

[2016-04-18 15:52] EnTeQuAk commented on #1782
@mathjazz sorry it took a while to figure out on how to tackle this properly. Mind giving https://github.com/mozilla/addons-server/pull/2427 a look?

[2016-04-18 15:58] EnTeQuAk commented on #1782
I feel quite confident that finally fixes things but having as many eyes as possible looking at it is probably a good idea to make sure we're not missing anything.

[2016-04-18 16:16] vcarciu commented on #2421
Verified as fixed : http://screencast.com/t/htUQTp7hjMo

[2016-04-18 16:21] wagnerand commented on #2414
This is about moderated user reviews.

STR:
1. Say there are 12 pending user reviews to be moderated.
2. You clear 8 of them.
3. After you hit `Submit`, the count in the header will still be 12.
4. Refresh the page, it will correctly show 4.

[2016-04-18 16:37] mathjazz commented on #1782
@EnTeQuAk I gave it a quick look and from what I can see the strings look OK.

There's one thing you probably need to change in order to not break anything in production, which is plural forms in headers. They seem to be gone.

Current:
https://github.com/mozilla/addons-server/blob/6de6a4594c71fb827adec7e6a0c638d562ca7598/locale/sl/LC_MESSAGES/djangojs.po#L14

PR:
https://github.com/mozilla/addons

[2016-04-18 16:41] EnTeQuAk commented on #1782
good catch, I'll see to restore the current headers of those files.

[2016-04-18 17:12] erosman commented on #2414
After processing 3, it says there are 10 but only 2 are displayed.
After refreshing a FEW times.. it now says there are 7 but only 2 are displayed.

[2016-04-18 17:44] #2346 closed

[2016-04-18 18:00] Noitidart commented on #2414
I confirm I only see 2 reviews but tab shows 7:

![](http://i.imgur.com/oHGI1Vo.png)

[2016-04-18 18:07] erosman commented on #2414
STR... that is incorrect
I cleared one Moderated Review 12+ minutes ago and it still hasnt changed.
I have noticed much longer gap times and the count was NEVER updated properly.

[2016-04-18 19:30] tofumatt commented on #2234
The red in "Editor Tools" is no longer present (it was fixed elsewhere, but I forget where).

Incoming PR for the rest of the headers 😄

[2016-04-18 22:31] #2234 closed

[2016-04-18 23:14] #2366 closed

[2016-04-18 23:22] jvillalobos commented on #2414
I know. For the entire day it looks like it's had 5 reviews more in the count than in the queue (which is currently empty). My suspicion is that the list filters out add-ons that are unlisted or have some other special condition, while the counter doesn't.

[2016-04-19 06:52] ValentinaPC commented on #2366
@tofumatt : This is how is supposed to work: http://screencast.com/t/2CgKFiBSb4bP ?
Thanks!

[2016-04-19 07:07] ValentinaPC commented on #2346
Verified as fixed on AMO-dev FF45(Win 7)
Postfix screenshots:
![2016-04-19_1005](https://cloud.githubusercontent.com/assets/15685960/14630468/8cd8bee6-0616-11e6-8313-74c9d2ebc693.png)
![2016-04-19_1007](https://cloud.githubusercontent.com/assets/15685960/14630469/91e051ec-0616-11e6-8a70-498adb85035e.png)

[2016-04-19 11:14] tofumatt commented on #2366
@ValentinaPC Yes, that's right.

[2016-04-19 13:35] EnTeQuAk commented on #1782
Thanks @mathjazz, fixed those and merged into master.

The plan now is for people to pick up the files and maybe get some feedback or fixed translations and compile them during the next deploy to make sure we didn't break too much.

Please let me know if something's still missing / horribly wrong and feel free to reopen the ticket.

[2016-04-19 13:35] #1782 closed

[2016-04-19 13:36] ValentinaPC commented on #2366
Based on above comment I'll mark this fixed.
Postfix screencast: https://gyazo.com/c5ecbb8ae7b4d5590b1b75642cda0531

[2016-04-19 13:36] ValentinaPC commented on #2366
https://i.gyazo.com/c5ecbb8ae7b4d5590b1b75642cda0531.mp4

[2016-04-19 14:23] mathjazz commented on #1782
Thanks @EnTeQuAk!

Some files still lack plural headers, e.g.:
https://raw.githubusercontent.com/mozilla/addons-server/master/locale/de/LC_MESSAGES/django.po
https://raw.githubusercontent.com/mozilla/addons-server/master/locale/sl/LC_MESSAGES/djangojs.po

And there are still some double spaces between sentences in django.po. Search for ".  " and "!  " (punctuation followed by double space).

I gue

[2016-04-19 14:37] ValentinaPC commented on #2366
Sorry but I cannot agree :(
I have troubles accessing add-on details page (very disturbing), for an incompatible add-on, because of that flickering.
Please see the screencast: http://screencast.com/t/VzqYomANcI

[2016-04-19 14:47] ValentinaPC opened #2435 "Incompatible add-on with contribute roadblock has an "Install anyway" weird panel"
Steps to reproduce:
1. Load AMO-dev details page for an incopatible add-on with contribute roadblock i.e https://addons-dev.allizom.org/en-US/firefox/addon/zulu-spell-checker/?src=ss
2. Click "Continue to Dowmnload"
3. Click "+Add to Firefox" grey button

Expected results:
The information panel has no display issues.

Actual results:
The information panel looks weird.

Notes/Issues:
Also, the inst

[2016-04-19 15:01] mathjazz commented on #1782
I found more problems - there seem to be only 2 plural forms in the file, even if locale supports more forms:
https://raw.githubusercontent.com/mozilla/addons-server/master/locale/sl/LC_MESSAGES/django.po

[2016-04-19 15:04] EnTeQuAk commented on #1782
@mathjazz some files didn't have them originally afair but I'll check older versions in a bit.

Oops regarding the two plural forms, I'll fix them.

Regarding a few remaining double spaces: I mostly fixed invasive whitespaces, there might be some left but we'll fix them step by step as we find them. I'll open a separate ticket for that.

[2016-04-19 15:11] #2203 closed

[2016-04-19 16:12] davehunt opened #2436 "Remove hidden add-ons from HTML on front page islands"
After the style refresh, the various add-on islands on the front page no longer include pagination, but as shown in the following image the additional sections and add-ons still exist in the HTML. We should clean this up.

![screenshot 2016-04-19 17 10 29](https://cloud.githubusercontent.com/assets/122800/14646567/d9b18276-0651-11e6-9721-7a5da79db8b5.png)

[2016-04-19 16:44] #2409 closed

[2016-04-19 16:51] #2076 closed

[2016-04-19 16:52] #2250 closed

[2016-04-19 17:50] #2242 closed

[2016-04-19 19:36] EnTeQuAk commented on #1852
I'm curious, since we had this in another ticket - what jpm version are you using? Is this still occouring?

[2016-04-19 19:54] minj commented on #1852
Your curiosity about jpm should have been satisfied in the said ticket. I'm not using it.

It is not occurring any more. I created #2387 immediately when I had noticed new problems but those are solved.

[2016-04-19 20:21] EnTeQuAk commented on #1852
Alrighty, thanks! Investigating more :)

[2016-04-20 04:36] erosman opened #2437 "Left Pane is Needlessly wide for Search Plugins"
As per tile, `div#files"` has a `width: 18em;` which is needlessly wide and causes unneeded wrapping on `div#content`

Example:
`https://addons.mozilla.org/en-US/firefox/files/browse/427494/`

[2016-04-20 06:51] EnTeQuAk commented on #2176
random thoughts: use django 1.8 enabled version of `jingo` first before pursuing `django-babel`

[2016-04-20 07:00] AnticDroid opened #2438 "Addon could not be verified for use in Firefox after full Reviewe"
Addon url:
https://addons.mozilla.org/en-US/firefox/addon/cloverplay/

After "CloverPlay 1.3 Fully Reviewed" i still get the warning during installation:
	"CloverPlay could not be verified for use in Firefox. Proceed with caution. More informatoin(https://support.mozilla.org/en-US/kb/add-on-signing-in-firefox?as=u&utm_source=inproduct)"

[2016-04-20 09:05] madalincm commented on #2250
Verified as fixed in addons-dev.allizom.org
Postfix screenshot:
![ratecollectionloggedoutfixed](https://cloud.githubusercontent.com/assets/15685441/14669087/08e16af4-06f0-11e6-8ab5-66c43713595a.png)

[2016-04-20 09:47] ValentinaPC commented on #2377
Hidden add-on can also be added in the "Require an add-on..." section.
Verified on AMO-stage FF45(Win 7).
Please see :
![require](https://cloud.githubusercontent.com/assets/15685960/14670466/f7209618-06f5-11e6-8774-ff6c9f7cce5f.gif)

[2016-04-20 09:48] vcarciu commented on #2234
Verified as fixed : http://screencast.com/t/qyFpKm6XE

[2016-04-20 09:56] vcarciu commented on #2203
Verified as fixed :
![abusecorrect](https://cloud.githubusercontent.com/assets/1583842/14670785/392cd174-06f7-11e6-9088-0fed54f2a418.png)

[2016-04-20 10:01] vcarciu commented on #2409
Verified as fixed : http://screencast.com/t/Iz6b7s5uzb

[2016-04-20 10:02] madalincm opened #2440 "No padding under some notification banners"
**Steps to reproduce:**
1. Open account settings page: https://addons.allizom.org/en-US/firefox/users/edit
2. Perform some changes and click the "Update Account"  button.

**Expected results:**
The banner is displayed with no layout or display issues.

**Actual results:**
There is no padding under the notification banner.

**Notes/Issues:**
Verified in FF45(Win7)
Issue can be reproduced in amo-dev

[2016-04-20 10:28] wagnerand commented on #2438
This is worrying.

Firefox says
`Download of https://addons.mozilla.org/firefox/downloads/latest/695826/platform:3/addon-695826-latest.xpi?src=dp-btn-primary failed: signature verification failed`

But to me it looks like it has been correctly signed.

@jasonthomas any ideas?

[2016-04-20 10:30] #2437 closed

[2016-04-20 11:14] davehunt opened #2442 "New review is not displayed on addons-dev for some time after submission"
We have an [automated UI functional test](https://github.com/mozilla/Addon-Tests/blob/88d2110cf75660cb53e77a6192e76cb76049a87e/tests/desktop/test_reviews.py#L49-L75) that submits a new review for an add-on and checks that the review is displayed. This test is currently failing on https://addons-dev.allizom.org (see https://github.com/mozilla/Addon-Tests/issues/844) due to the review not appearing

[2016-04-20 11:27] vcarciu commented on #2076
Verified as fixed :
![themesalign](https://cloud.githubusercontent.com/assets/1583842/14673011/01c60b8a-0704-11e6-859e-907646591151.png)

[2016-04-20 13:25] ValentinaPC opened #2444 "Theme installation button has layout issues for logged out users"
Steps to reproduce:
1. Load AMO-stage page (user must be signed out)
2. Go to Themes and hover over a theme from any category: https://addons.allizom.org/en-US/firefox/themes/causes
3. Observe the installation button

Expected results:
There are no display or layout issues.

Actual results:
The button has layout issues.

Notes/issue:
On dev there are categories (Fashion, Firefox) for which the ins

[2016-04-20 13:57] wagnerand opened #2445 "Restyle tooltip"
Let's restyle the tooltip as seen in https://addons.mozilla.org/en-US/developers/addon/submit/2:
![screen shot 2016-04-20 at 15 47 31](https://cloud.githubusercontent.com/assets/873258/14676802/5b1cb322-070f-11e6-89c9-b1d097aca7b8.png)

Maybe make it similar to the hover-menus in the topmost menu-bar?

Adding @pwalm

[2016-04-20 14:01] ValentinaPC opened #2446 "Wrong button label for preliminary reviewed incompatible add-ons"
Steps to reproduce:
1. Sign in to AMO-stage
2. Go to details page for a preliminary reviewed incompatible add-on i.e. https://addons.allizom.org/en-US/firefox/addon/add-%E9%98%9C%E9%98%9C/ (complete theme: https://addons.allizom.org/en-US/firefox/addon/ft-deep-stage-prelim/)
3. Observe the installation button

Expected results:
The install button is grayed out and when is clicked a pop-up with a w

[2016-04-20 14:15] EnTeQuAk commented on #1782
@mathjazz regarding "I found more problems - there seem to be only 2 plural forms in the file, even if locale supports more forms" -> I copied them from how they were so I assumed they were correct. If those are wrong, can we open separate issues for them with a bit more context on what's wrong?

[2016-04-20 14:25] EnTeQuAk opened #2447 "Implement API for disco pane"
We need a v3 api endpoint for `addons-frontend` to get the list of addons for the new disco pane.

Some data that we need:

 * icon
 * some sort of slogan (see invision screen, "Block ads with ...")
 * description
 * name
 * addon-id

Do we something specific about themes?

[2016-04-20 14:26] EnTeQuAk opened #2448 "Add admin interface to organize disco pane"
Based on #2447 we need some sort of admin interface to organize the disco pane.

[2016-04-20 14:28] EnTeQuAk opened #2449 "Add basic database structure for disco pane"
Based on #2447 we need some database structure that represents an item in the disco pane.

It's:

 * sortable
 * should be very very fast and simple
 * separate so that we can organize it easily

[2016-04-20 14:37] mathjazz commented on #1782
Before https://github.com/mozilla/addons-server/commit/a6c83a426e0140aaf48b4b16bde2f689dfc31932 landed, this is how e.g. Slovenian `djangojs.po` looked like:
https://github.com/mozilla/addons-server/blob/6de6a4594c71fb827adec7e6a0c638d562ca7598/locale/sl/LC_MESSAGES/djangojs.po

In line 14, you can see the `Plural-Forms` header, which keeps information on how many plural forms are needed for the l

[2016-04-20 14:38] jvillalobos commented on #2438
This is related to #2158. AMO has its ID set to `CloverPlay`, but the files being submitted have a different ID. They are signed, but end up being invalid because of the ID mismatch.

[2016-04-20 14:40] EnTeQuAk commented on #1995
I can't reproduce the server error anymore, does this still happen for you?

[2016-04-20 15:15] AnticDroid commented on #2438
So, do I need to make changes in addon code?

[2016-04-20 15:59] EnTeQuAk opened #2450 "make sure we determine an addon as WebExtension once there's a manifest.json"
Currently we check for `manifest.json` last which leads to some problems for addons that should be WebExtensions but still have the old metadata files.

See https://github.com/mozilla/addons-server/blob/master/src/olympia/files/utils.py#L93 for example.

To make sure a scenario like this never happens we have to change the `addons-linter` and `amo-validator` to properly raise an exception.

[2016-04-20 16:08] madalincm opened #2451 "User is still able to log in after they deletes their AMO account"
**Steps to reproduce:**
1. From account settings page click on the delete account button or load this page: https://addons.allizom.org/en-US/firefox/users/delete
2. Observe the message displayed in the banner: " You will not be able to log into addons.allizom.org anymore. ", enter your email address and click the Delete my user account now button.

**Expected results:**
The user is deleted and not

[2016-04-20 16:25] andymckay commented on #2438
You have a manifest.json (for WebExtensions) and a package.json in your add-on. The parsing of the package.json is a mistake in AMO and something we are removing. If you remove your package.json and bump the version, you should be able to get a new add-on reviewed and signed and quickly.

Bug #2450 is tracking the removal of package.json.

[2016-04-20 16:37] andymckay-limited-access commented on #2449
There are some key elements that an element in a disco pane has that is pretty unique too.

These are definitely:
* a separate description

Maybe:
* a learn more URL link that will show in the UI tour
* an id for the button that is created so the UI tour can point to it.

[2016-04-20 16:38] andymckay-limited-access commented on #2448
Recommend that with the help of @mstriemer, this should live in the new admin pages.

[2016-04-20 16:38] andymckay-limited-access commented on #2447
I added some comments in #2449

[2016-04-20 16:40] EnTeQuAk commented on #2038
Whoops, not closed yet - need to pull in a new amo-validator version first.

[2016-04-20 16:43] andymckay-limited-access commented on #2444
I can't reproduce on either server, looks like something else fixed it.

[2016-04-20 16:45] andymckay-limited-access commented on #2444
On stage, under categories I see a double plus, but only when under a category.

[2016-04-20 16:53] andymckay-limited-access commented on #2400
Its an overlay, I don't think this is a problem.

[2016-04-20 16:53] #2400 closed

[2016-04-20 16:56] andymckay-limited-access commented on #2386
I think we can dupe this #2414 which has more detail. If this is something different, please let us know.

[2016-04-20 16:56] #2386 closed

[2016-04-20 16:58] andymckay-limited-access commented on #2377
@diox is this related to current elastic search changes or has this always been the case?

[2016-04-20 16:59] andymckay-limited-access commented on #2375
This is now fixed.

[2016-04-20 17:01] andymckay-limited-access commented on #2367
Since we are replacing this whole functionality with the new disco pane in Firefox 48, I don't think this is worth worrying about. The new disco pane has no login/logout functionality.

[2016-04-20 17:01] #2367 closed

[2016-04-20 17:24] tofumatt commented on #2444
@andymckay-limited-access @andymckay Can you give me a link or screenshot where you're seeing that? I can't reproduce it.

[2016-04-20 17:31] jvillalobos commented on #2438
Not only that, but the ID needs to be changed for the listing so it matches what is being submitted. I tried changing it just now, but I don't know if the change stuck.

[2016-04-20 22:25] andymckay commented on #2187
[code]

And the word is:

[code]

So yeah. It's invalid.

I guess the problem is that "Unknown Word" outside of the context of the filename (CSS) and its location is rather cryptic and we should focus on getting that up to the validation page in a better way.

Any ideas @krupa, @tofumatt, @EnTeQuAk or others?

[2016-04-20 22:32] andymckay commented on #1896
Hmm, we don't break out errors, notices and warnings?

[2016-04-20 22:33] andymckay commented on #2187
The current validator doesn't seem to parse anything in _DS_STORE and instead raises a hidden folder warning:

https://www.dropbox.com/s/4cfpi460fkne4ny/Screenshot%202016-04-20%2015.31.53.png?dl=0

[2016-04-20 22:38] andymckay commented on #2187
...by _DS_STORE, I meant that __MACOSX is flagged as a warning and .DS_Store and Thumbs.db are also similarly flagged. Should be easy enough to add the linter.

[2016-04-20 23:57] andymckay commented on #2444
At a category, eg: https://addons.allizom.org/en-US/firefox/themes/film-and-tv, but ONLY when you are logged out. Which is wierd.

<img width="542" alt="screenshot 2016-04-20 16 56 14" src="https://cloud.githubusercontent.com/assets/74699/14693954/dcfdeea2-0718-11e6-816f-7d0754c4ba17.png">

[2016-04-21 03:01] #2424 closed

[2016-04-21 05:24] brampitoyo commented on #2445
Sounds good to me. Let’s use that style.

[2016-04-21 06:51] AnticDroid commented on #2438
What kind of ID do you mean, from manifest.json file? Ie I have to change it like this ?
  "applications": {
    "gecko": {
      "id": "CloverPlay"
    }
  },

[2016-04-21 08:17] ValentinaPC commented on #2444
I mentioned at step #2, that you have to be in a category....and provided a link for it.

[2016-04-21 08:48] EnTeQuAk opened #2460 "Remove package.json related code."
`package.json` never happened.

[2016-04-21 09:17] vcarciu commented on #2375
The issue is still reproducible on -dev :
![themes](https://cloud.githubusercontent.com/assets/1583842/14703923/0aaddff4-07bb-11e6-8bef-13318b41a545.gif)

[2016-04-21 09:46] vasilicamihasca commented on #2446
- I’ve also noticed that “Only with Firefox — Get Firefox Now!” button doesn’t work for preliminary reviewed add-ons in Chrome.
- This issue reproduces on AMO-dev, AMO-stage and AMO-production.
- See screencast:
![gif](https://cloud.githubusercontent.com/assets/18114210/14704550/eaa1bc78-07bd-11e6-92b6-704f667c667d.gif)

[2016-04-21 10:03] muffinresearch commented on #2187
I noticed this last night working on https://github.com/mozilla/addons-linter/issues/606

We will need to add some exclusions to step over this directory and collect a warning  I'll file an issue on addons-linter and point to this.

[2016-04-21 10:13] vcarciu commented on #2440
Same issue reproducible with addon deletion confirmation banner :
![deletebanner](https://cloud.githubusercontent.com/assets/1583842/14705546/c4ba955c-07c2-11e6-866b-7897a0f72725.png)

[2016-04-21 10:16] vcarciu commented on #2440
Also for update themes confirmation banner :
![updatetheme](https://cloud.githubusercontent.com/assets/1583842/14705661/4e2f72bc-07c3-11e6-9c08-213f56fb3abf.png)

[2016-04-21 10:21] davehunt opened #2461 "Provide a way to generate API credentials from the command line"
In order to have functional UI tests running against AMO running in a Docker container, we need a way for users to login. Currently the UI tests in https://github.com/mozilla/Addon-Tests use the [super-create](https://addons-server.readthedocs.org/en/latest/topics/api/accounts.html#super-creation) API end-point to create a new user for every test that requires the ability to login. This requires a

[2016-04-21 10:22] davehunt opened #2462 "Provide a way to create a user in the SuperCreate group from the command line"
In order to have functional UI tests running against AMO running in a Docker container, we need a way for users to login. Currently the UI tests in https://github.com/mozilla/Addon-Tests use the [super-create](https://addons-server.readthedocs.org/en/latest/topics/api/accounts.html#super-creation) API end-point to create a new user for every test that requires the ability to login. This requires a

[2016-04-21 10:57] tofumatt commented on #1896
We have errors, notices, and warnings. Validation tiers are something else I think, and we didn't implement those.

[2016-04-21 11:29] tofumatt commented on #2444
Sorry, I was signed in and forgot this is only for anonymous users.

[2016-04-21 11:33] muffinresearch commented on #2449
So in addition to the above - here's the fields we need so far for the visible content data (based on looking at the UX):

<img  alt="data-wireframe-disco_graffle" src="https://cloud.githubusercontent.com/assets/1514/14707537/35332cb4-07bd-11e6-89a4-fc45570e3af1.png">

* `type` (e.g. Theme or Extension)
* `heading` (This is editorial and shouldn't need HTML)
* `sub_heading` Optional (This is edito

[2016-04-21 12:10] ValentinaPC opened #2463 "Collections containing only themes have 2 types of display"
Steps to reproduce:
1. Load AMO-stage page for a created collection i.e. https://addons.allizom.org/en-US/firefox/collections/ValStage/new-on/
2. Click the "Edit Collection" link
3. Remove all add-ons from the collection and add only themes
4. Save changes
5. Click the "View your collection" link

Expected results:
The listed themes are displayed together with: rating stars, users, add to coll but

[2016-04-21 13:02] madalincm commented on #2413
Duplicate of #2166

[2016-04-21 13:51] vcarciu opened #2464 ""Oops.." page displayed and Themes cannot be approved if author is anonymous"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons.allizom.org/en-US/editors/themes/pending
2. Try to approve a Theme with anonymous author (https://addons.allizom.org/en-US/editors/themes/queue/single/testtheme09123)

Expected results:
Theme is successfully approved

Actual results:
"Oops .. "

[2016-04-21 14:10] vcarciu opened #2465 "Cannot reject an unlisted addon"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons.allizom.org/en-US/editors/unlisted_queue/all
2. Reject any addon from the list

Expected results:
Addon appear as rejected

Actual results:
Addon is still preliminary\full reviewed

Please see screencast for this bug : http://screencast.com/t/A8

[2016-04-21 14:14] tofumatt commented on #2444
Figured it out, the HTML is bizarrely different for signed-out users. Fix incoming.

[2016-04-21 14:18] vcarciu opened #2467 "Tooltip text not correctly aligned after pressing Edit in Edit listing section"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to edit listing page for an addon (https://addons.allizom.org/en-US/developers/addon/6april/edit)
2.Observe the tooltips before pressing Edit button for a section
3.Press Edit button for a section(eg. Techincal Details)
4.Observe the tooltips again

Expected resu

[2016-04-21 14:28] wagnerand commented on #2465
As unlisted add-ons are automatically approved, there is nothing to review from that list. It is a post-approval list for admins to see what unlisted add-ons have been approved (signed).

[2016-04-21 14:29] tofumatt commented on #2444
This seems to be a very strange... caching issue? The HTML on the theme category pages on stage are quite outdated-looking and have HTML that isn't even in the source repo anymore.

Can we clear memcache or whatever is needed to reset this? I can't reproduce this at all locally and the HTML on -dev and -prod are totally different.

Both screenshots as an anonymous user in a new profile on Nightly,

[2016-04-21 14:55] jvillalobos commented on #2438
Yes, if you submit a new version using that ID in your manifest, the signature should work.

[2016-04-21 14:56] madalincm commented on #2437
Verified as fixed in FF45(Win7) in addons-dev.allizom.org
Postfix screencast:
![content](https://cloud.githubusercontent.com/assets/15685441/14712843/7485a69c-07e7-11e6-8349-1ed5a36cdc40.png)

[2016-04-21 15:17] erosman commented on #2437
@madalincm ... the example screenshot appears to be for the wrong addon type.
You can try the example I gave in my first post :)

[2016-04-21 15:29] wagnerand commented on #2465
Closing. If I got this wrong, feel free to reply/reopen.

[2016-04-21 15:29] #2465 closed

[2016-04-21 15:35] ValentinaPC opened #2468 ""My Profile" displays Firefox compatible add-ons with a "Thunderbird mask""
Steps to reproduce:
1. Sign in to AMO-stage https://addons.allizom.org/en-US/firefox/
2. Go to "Other Applications" and change to Thunderbird https://addons-dev.allizom.org/en-US/thunderbird/
3. Go to <<username>> - My Profile
4. Observe the listed add-ons

Expected results:
Only Thunderbird compatible add-ons are displayed.

Actual results:
All add-ons are listed, but with Thunderbird style "+Dow

[2016-04-21 15:53] tofumatt commented on #2444
@jasonthomas flushed the caches on stage and that fixed it for me: https://www.dropbox.com/s/5e4vag21bhllmm4/Screenshot%202016-04-21%2016.51.17.png?dl=0

[2016-04-21 15:53] #2444 closed

[2016-04-21 15:56] ValentinaPC commented on #2444
Verified as fixed on AMO-stage FF45(Win 7).
Postfix screenshot:
![2016-04-21_1855](https://cloud.githubusercontent.com/assets/15685960/14715754/b802c610-07f2-11e6-98a3-5003b45e2996.png)

[2016-04-21 17:02] #2227 closed

[2016-04-21 20:31] #2425 closed

[2016-04-21 23:03] jvillalobos opened #2473 ""Unlisted All Add-ons" reads a bit strangely"
How about "All Unlisted" or "All Unlisted Add-ons".

[2016-04-21 23:07] jvillalobos opened #2474 "Add sorting by Last Review to All Unlisted view"

[2016-04-21 23:09] jvillalobos opened #2475 "Remove Version Notes / Notes to Reviewer column from All Unlisted view"
I don't think it will be useful, and it's breaking the layout.

[2016-04-21 23:19] jvillalobos opened #2476 "Update by developer is incorrectly detected as review"
The entry for the True Key add-on shows in Last Review: "1.11.1.1394 on 2016-03-11". If I look for that version in the history (can be found [around here](https://addons.mozilla.org/editors/review/true-key-add-on?page=24#history)), there's no review performed there. Looking at the [update history of the add-on](https://addons.mozilla.org/developers/feed/true-key-add-on?page=12), it seems like the

[2016-04-21 23:40] jvillalobos opened #2477 "Commenting on an add-on in the All Unlisted view sends you to Unlisted Prelim queue"
STR
1) Go to All [Unlisted queue](https://addons.mozilla.org/editors/unlisted_queue/all)
2) Click on an add-on
3) Enter comment and save.

Result:
Ended up in the [Unlisted Preliminary queue](https://addons.mozilla.org/editors/unlisted_queue/preliminary#review-actions).

I should end up back in the list I was in.

[2016-04-21 23:45] jvillalobos opened #2478 "Add popup with review text for Last Review column in All Unlisted view"
In the All Unlisted view, when the Last Review column isn't "No Reviews", there should be a way to read the text of that last review without having to go to the review page. I think it should appear when hovering over the text, but something clickable would also be okay.

[2016-04-22 00:19] andymckay commented on #2187
The CSS for VideoDownloadHelper is broken, it has;

width="100px"; height="60px"

Instead of:

width:"100px"; height:"60px"

So the CSS is broken and the validator stops parsing the file. The validator never even notices this broken CSS.

@wagnerand or @jvillalobos should we do something different when encounter a completely broken CSS file?

[2016-04-22 06:43] cosminbadescuSV commented on #2227
This issue is not reproducing anymore, video of this issue: http://screencast.com/t/A7hnMhoR

[2016-04-22 07:04] arabuli opened #2479 "Add Georgian language to staging server"
Hello, we are working on localizing AMO into Georgian language. 20% is done on Pontoon, but there is no option to choose Georgian on staging server, which prevents us from testing if translated strings fit/match the context.

[2016-04-22 07:43] AnticDroid commented on #2438
After ID changing to "CloverPlay" addon become invalid - http://storage2.static.itmages.com/i/16/0422/h_1461310681_7557050_c8740cd80a.png

I tried it locally and on Add-on Developer Hub - https://addons.mozilla.org/en-US/developers/addon/validate. On hub addon pass validation but on install i have same error.
It happens after changes in ID

[2016-04-22 08:31] wagnerand commented on #2187
We have https://github.com/mozilla/amo-validator/blob/master/validator/testcases/javascript/jsshell.py#L18 for JavaScript syntax errors. It would nice if we had something similar for CSS.

[2016-04-22 09:40] cosminbadescuSV opened #2480 "Refreshing the page for a moment changes the add-on button status into “Download now”"
Steps to reproduce:

1.Open firefox add-ons page: https://addons-dev.allizom.org/en-US/firefox/
2.Select a category from “Categories”.
3.Refresh the page while hovering over one add-on from preview area.

Expected results:
Refreshing the page does not change the add-on button status.

Actual results:
"Download now" add-on button is displayed for a few seconds when the page is refreshed.

Note/Issu

[2016-04-22 10:06] tofumatt commented on #2384
Ah, sweet, thanks for the screenshot, I didn't notice them!

Fix incoming in a few 😄

[2016-04-22 10:25] tofumatt opened #2482 "Add-on details: Modal styling tweaks"
Originally from: https://github.com/mozilla/addons.mozilla.org-mod/issues/5, moving here so we can close out that repo for issues 😁

@pwalm says we should do:

background behind screenshot/description text: `#000000`
full screen background behind that: `rgba(0,0,0,0.75);`

[2016-04-22 11:08] #2038 closed

[2016-04-22 11:09] #2384 closed

[2016-04-22 12:56] ValentinaPC opened #2484 ""Account Settings" page returns a 500 error"
Steps to reproduce:
1. Sign in to AMO-dev https://addons-dev.allizom.org/en-US/firefox/
2. Go to Username- Account Settings

Expected results:
The Account Settings page is loaded.

Actual results:
An "Oops..." page is loaded. (500 error code in the console)

Notes/Issues:
Verified on FF45(Win 7). Issue is only reproducing on AMO-dev.
Screencast for this issue:
![oops](https://cloud.githubuserconte

[2016-04-22 13:12] muffinresearch commented on #2484
KeyError 'content_host'

See  https://sentry.prod.mozaws.net/operations/olympia-dev/group/326419/

[2016-04-22 13:13] muffinresearch commented on #2484
Looks likely a regression from https://github.com/mozilla/addons-server/commit/cd22e190ed73b1ff47d0d01e544fdb3cf81588f5

[2016-04-22 13:26] muffinresearch commented on #2480
I think this is probably just because the platform detection is all done in JS. Not sure there's a lot we can do about this aside from a large refactor which will have to happen when we get to the point of a more complete front-end redesign.

[2016-04-22 13:40] andymckay commented on #2187
And you've got it, this is a CSS error. So if this is fine...

[2016-04-22 14:17] #2480 closed

[2016-04-22 14:17] designakt opened #2485 "Preliminary reviewed info should be white on blue background, instead of black."
Currently on detail pages of preliminary reviewed add-ons the explanation underneath is back on blue background. ("This add-on has been preliminarily reviewed by Mozilla.")

To be better readable and conform with other text, this text should be white.

![screen-shot-2016-04-21-at-18 12 46](https://cloud.githubusercontent.com/assets/8145891/14744100/8b0422d6-08a5-11e6-952f-063fa51e3236.gif)
(before

[2016-04-22 14:18] #2375 closed

[2016-04-22 14:29] designakt opened #2486 ""Add to Firefox" is shown but not working as add-on is not available for this version of Firefox."
![screen shot 2016-04-21 at 18 12 46](https://cloud.githubusercontent.com/assets/8145891/14744175/f12d8a16-08a5-11e6-8638-8ba3e61f8d2b.png)
Seen on https://addons.mozilla.org/en-US/firefox/addon/print-preview with current Nightly.
"Add to Firefox" button can not be clicked, but looks active, while a message underneath says that it is not available.

Shouldn't this just show the message that this a

[2016-04-22 14:33] designakt commented on #2486
Or it could work as it does here:
https://addons.mozilla.org/en-US/firefox/addon/print-preview
Button is clickable but appears inactive with an explanation underneath.
Clicking the button opens a dialog asking if you want to install anyway.
![screen shot 2016-04-22 at 16 31 04](https://cloud.githubusercontent.com/assets/8145891/14744589/a5c6ae7a-08a7-11e6-9f8c-45f39dca6bf6.png)

I wonder why we ha

[2016-04-22 14:57] designakt opened #2487 "space between add-on description and screenshots can be reduced"
[code]

The white space between the blue and gray areas is visually not pleasing. And reducing the space increases the visibility of the screenshots as they move further up.

before and after @ https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/
![screen-shot-2016-04-22-at-16 52](https://cloud.githubusercontent.com/assets/8145891/14745275/d70aff7e-08aa-11e6-9905-a508fb12d1a8.gif)

[2016-04-22 16:47] davehunt opened #2488 "Provide a working add-on for testing installation"
In order to write an end-to-end test that installs an add-on we need an add-on to install. For deployed instances we can rely on there being existing add-ons, but using Docker and a fresh instance of the application we would need a way to create an add-on for testing.

[2016-04-22 16:50] jvillalobos commented on #2438
Yeah, I can confirm Firefox won't accept the ID. I suggest that you delete that listing and start over using the correct ID.

[2016-04-22 20:27] Quicksaver commented on #2384
Looks great. :)

[2016-04-23 11:57] milupo commented on #2416
Additional information: I don't know what source you have for language names. To be on the safe side, here they are:

Upper Sorbian - Hornjoserbšćina
Lower Sorbian - Dolnoserbšćina

[2016-04-23 23:55] aelawson commented on #2351
I'd be happy to take this one!

[2016-04-23 23:57] aelawson commented on #2022
Would be delighted to fix this.

[2016-04-24 09:32] tofumatt commented on #2351
@aelawson Cool, thanks! We can't assign issues to people outside the Mozilla organisation, but feel free to work on this and submit a PR that references this issue number when it's ready. 👍

[2016-04-25 05:43] aemdy commented on #1995
@EnTeQuAk, yes. Tried with the same sources on this version https://addons.mozilla.org/en-US/developers/addon/si%C5%ABlyk-antra%C5%A1t%C4%99/versions/1837316

[2016-04-25 06:21] madalincm commented on #2437
I have rechecked this issue in production using the above link: https://addons.mozilla.org/en-US/firefox/files/browse/427494/  and this is how it looks:
![searchtoolfilecontent](https://cloud.githubusercontent.com/assets/15685441/14775288/9c0deff8-0ac6-11e6-8105-6882dea3fa36.png)

I've might misunderstand the scope of this bug, @erosman can you please is explain if this is the desired result? Is m

[2016-04-25 06:39] ValentinaPC commented on #2486
@designakt : I think this was already caught.
Please take a look at: https://github.com/mozilla/addons-server/issues/2446
Thanks.

[2016-04-25 06:52] erosman commented on #2437
@madalincm

The left pane width is fine for normal addon that have some file/folders and nested menus like the first screen that yo have posted.

Search Plugins on the other hand, have a single XML file. That is all.
reducing the left pane width will give more space to the right pane (`div#content`) and helps with word wrapping in the right pane.

I am referring to the white space on the left side

[2016-04-25 07:24] madalincm commented on #2437
It looks good on -dev:
![searchdev](https://cloud.githubusercontent.com/assets/15685441/14776548/d4a80b1a-0acf-11e6-8ca3-ef4f13643302.png)

[2016-04-25 07:39] erosman commented on #2437
That is good..... That was what I was referring to.
In that case, it appears that it is fixed (will be, once the next version is up and running).
Therefore, you can close this issue.
:)

[2016-04-25 07:50] ValentinaPC opened #2495 "Search field text in theme "Reviews" page is "search for add-ons""
Steps to reproduce:
1. Sign in to AMO-dev
2. Go to Themes page https://addons-dev.allizom.org/en-US/firefox/themes/
3. Load details page for any listed theme (i.e https://addons-dev.allizom.org/en-US/firefox/addon/all-fall/)
4. Write a review or go to all review page
5. Observe the text inside the search field

Expected results:
The text is "search for themes".

Actual results:
The text is "search

[2016-04-25 08:28] ValentinaPC opened #2496 "Small statistics link in a search tool details page"
Steps to reproduce:
1. Sign in to AMO-dev
2. Go to "More..."->Search Tools
3. Access details page for any _search tool_ i.e. https://addons-dev.allizom.org/en-US/firefox/addon/youtube-10423/
4. Observe the "weekly downloads" link

Expected results:
The reviews link and the statistics link have same dimension.

Actual results:
The "weekly downloads" stats link is smaller.

Notes/Issues:
Stats link

[2016-04-25 12:20] eviljeff commented on #2473
I was following the naming of the other tabs/queues but "All Unlisted Add-ons" reads better.

[2016-04-25 12:23] eviljeff commented on #2476
I might be able to filter out based on the type of action  (only include info, approve, etc).  Filtering by developer oriented activity will be a little trickier (excluding 'Mozilla' was easy as its a single, fixed, user-id).

[2016-04-25 12:25] eviljeff commented on #2022
go ahead @aelawson

[2016-04-25 13:27] ValentinaPC commented on #2242
@eviljeff : I don't know is I got this right, but I can still not able to access editor review page for a deleted add-on.
Verified on AMO-dev FF45(Win 7).
Please see the creencasts for this issue:
-deleting the add-on:
![deleted addon](https://cloud.githubusercontent.com/assets/15685960/14785235/7b474b7a-0b02-11e6-89e5-005eeec3367a.gif)
-searching and accessing review page:
![search review page](h

[2016-04-25 14:48] eviljeff commented on #2242
The page is accessible but only via the add-on's numeric id - the /slug/ is cleared when the add-on is deleted.  Most links on pages don't account for this (the slug is null now, hence None) - the unlisted review tools do so a link from the 'Unlisted all' list would work, or manually typing in a review url with the add-on ID replacing the slug.

[2016-04-25 15:39] vcarciu commented on #2375
Verified as fixed :
![featthemes](https://cloud.githubusercontent.com/assets/1583842/14789400/fabb9f70-0b14-11e6-936b-80b2ced97df2.gif)

[2016-04-25 15:53] eviljeff commented on #2477
This an issue with editor review pages in general - no review page knows where it was launched from, so the re-direct url when the form is submitted is guessed from the add-ons status (e.g. the add-on is STATUS_LITE, so we should go back to the preliminary queue).
I'll attempt to see if we can check for an unreviewed version and use that as a criteria too - unintended consequences warning here tho

[2016-04-25 18:23] #2484 closed

[2016-04-25 20:06] krupa commented on #2484
verified fixed @ https://addons-dev.allizom.org/en-US/firefox/users/edit

[2016-04-25 20:56] jbuck opened #2498 "MySQL replication lag caused by stats update sometimes results in failed sign-ins"
Hello AMO team!

First, [the stats](https://app.datadoghq.com/dash/78168/addons-prod?live=false&page=0&is_auto=false&from_ts=1461608126424&to_ts=1461611726424&tile_size=s):

![mysql iops & replication lag](https://cloud.githubusercontent.com/assets/578466/14797584/7a60efdc-0b01-11e6-9491-b6cbda51a1b4.png)

You can see that starting at 2:46PM EST the replication lag from master to replica increases

[2016-04-25 22:46] andymckay commented on #2498
We still need to archive the stats, but in the meantime we shouldn't be generating 500's on a subsequent sign in, @mstriemer could you look at that please?

[2016-04-25 23:31] jvillalobos commented on #2476
Sounds good. So we would need Approve, Prelim Approve, Reject, Need Info, and Comment. Doesn't seem like Admin Review makes sense in this context.

[2016-04-25 23:32] jvillalobos commented on #2477
Okay. I can definitely live without this if it's too complicated or breaks things.

[2016-04-25 23:44] stephendonner opened #2500 "[traceback] AttributeError: 'NoneType' object has no attribute 'lower' on /firefox/i/promos?platform=linux&="
https://addons.allizom.org/en-US/firefox/i/promos?platform=linux&= throws an HTTP 500 / exception:

AttributeError: 'NoneType' object has no attribute 'lower'
  File "django/core/handlers/base.py", line 111, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "newrelic/hooks/framework_django.py", line 499, in wrapper
    return wrapped(*args, **kwargs

[2016-04-25 23:47] stephendonner opened #2501 "[traceback] UndefinedError: 'olympia.addons.models.Addon object' has no attribute 'persona'"
https://addons.allizom.org/en-US/firefox/collections/ValS/weird-collection/ throws an HTTP 500:

UndefinedError: 'olympia.addons.models.Addon object' has no attribute 'persona'
  File "django/core/handlers/base.py", line 111, in get_response
    response = wrapped_callback(request, *callback_args, **callback_kwargs)
  File "newrelic/hooks/framework_django.py", line 499, in wrapper
    return wrapp

[2016-04-26 07:51] madalincm opened #2502 "Contribution example screenshots are outdated"
**Steps to reproduce:**
1. Open manage payments page for an add-on that has developer profile set up.
2. Hover over the Example links.

**Expected results:**
The screenshots are displaying clear information and are consistent with the style refresh.

**Actual results:**
The screenshots are outdated.

**Notes/Issues:**
Verified in FF45(Win7) Issue can be reproduced in amo-dev, stage and production

[2016-04-26 09:27] Archaeopteryx opened #2503 "search filters with linebreaks cause vertical scrollbars"
Go to [https://addons.mozilla.org/de/firefox/search/?q=noscript&status=4&sourceid=Mozilla-search](https://addons.mozilla.org/de/firefox/search/?q=noscript&status=4&sourceid=Mozilla-search). The filter "Alle Versionen von Firefox" on the left is too long and gets wrapped with a line break. This causes a vertical scrollbar.

[2016-04-26 11:53] wagnerand opened #2504 "Language pack compatibility bump fails"
`https://addons.mozilla.org/en-US/admin/langpacks` tries to fetch language packs from  `https://ftp.mozilla.org/pub/mozilla.org/firefox/releases/<VERSION>/win32/xpi/` However that URL now redirects to `https://ftp.mozilla.org/pub/firefox/releases/<VERSION>/win32/xpi/` but it seems we're not following redirects.

This makes it impossible to make language packs compatible with Firefox 46 which is to

[2016-04-26 12:00] muffinresearch commented on #2504
I agree like it would make sense to update the BASE_URL now and then also (in slower time) fix the code so it does follow redirects in the future.

[2016-04-26 12:10] muffinresearch opened #2505 "Fix lang pack fetching code to follow redirects"
Relates to #2504 - the url to the lang pack downloads changed [1]. Whilst the ftp server provides a redirect our fetching code doesn't appearing to follow it. Whilst we'll  be changing the setting (in #2504) as a quick fix we'd also like to fix the code so that it follows redirects in the future should the URL change again.

[1] https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/

[2016-04-26 12:27] #2505 closed

[2016-04-26 12:33] wagnerand commented on #2504
Turns, we do follow the redirect. But we determine the actual language pack files to download based on https://ftp.mozilla.org/pub/mozilla.org/firefox/releases/<VERSION>/SHA512SUMS. For 46 however, that file contains the wrong file names of the language packs which makes us trying to download files that don't exist.

[2016-04-26 12:41] eviljeff commented on #2504
So the bug is in whatever code generates SHA512SUMS for the ftp?

[2016-04-26 12:48] wagnerand commented on #2504
Yes, it's https://bugzilla.mozilla.org/show_bug.cgi?id=1160385. It's currently being thought about what could be done.

[2016-04-26 12:49] wagnerand commented on #2505
It might not be the cause for #2504, but nevertheless, we should probably update the URL.

[2016-04-26 12:58] wagnerand commented on #2504
The file is going to be fixed today. There is nothing to be done here. I apologize for the noise.

[2016-04-26 12:58] #2504 closed

[2016-04-26 13:51] yfdyh000 opened #2506 "Unable to disable API access on set up page"
I see the "If you believe this key was created in error, you can remove the key and disable access at the following location: https://addons.mozilla.org/zh-CN/developers/addon/api/key/" in notification email, but the https://addons.mozilla.org/developers/addon/api/key/ no way to Disabled, the "Revoke and **regenerate credentials**" only.

[2016-04-26 13:59] EnTeQuAk commented on #1782
I see, I'll have another look at those. I thought I restored all of them but possible I failed especially for the plural forms.

[2016-04-26 14:32] Quicksaver opened #2507 "Disabled beta version becomes "Next Version""
STR:
1. Upload a beta version to the add-on's development channel.
2. Disable that beta version.

Example: https://addons.mozilla.org/developers/addon/tab-groups-panorama/versions, see screenshot.
![disabledisnext](https://cloud.githubusercontent.com/assets/802086/14821769/e5e55302-0bc3-11e6-9b1b-c55571ecce0f.jpg)

Note, the disabled version is still invisible to the public AFAICT, as expected. It

[2016-04-26 14:35] ValentinaPC commented on #2507
I think I've you are talking about: https://github.com/mozilla/addons-server/issues/1912
Sorry if I'm wrong.

[2016-04-26 14:44] Quicksaver commented on #2507
I can't be sure it's the exact same issue because in my case I'm uploading a beta version, not a final/full/normal version. In #1912 it could just be that the "Next version" field is not being reset appropriately, whereas in my case, uploading a beta version doesn't set the "Next version" field by itself; that only appears **after** disabling the beta version.

I'll let someone with more knowledge

[2016-04-26 14:46] Quicksaver commented on #2507
In other words, in #1912 the "Next version" remains after disabling an unreviewed version, whereas here the "Next version" appears only after disabling a beta version.

[2016-04-26 15:07] danny0838 opened #2509 "Cannot Edit or Delete a reply of an addon comment"
The 2 action buttons for Editing/Deleting a reply of an addon comment don't work in the below links:

https://addons.mozilla.org/zh-TW/firefox/addon/scrapbook-x/reviews/793012/#

![2016-04-26 23_04_37-scrapbook x __ __ firefox](https://cloud.githubusercontent.com/assets/531417/14822989/6183fd94-0c03-11e6-83d2-7d0bfb26216a.png)

But buttons in the link https://addons.mozilla.org/en-US/firefox/addon

[2016-04-26 15:56] muffinresearch commented on #2509
@tofumatt if you have a chance to take a look would be good to see if this is a quick fix.

[2016-04-26 15:57] muffinresearch commented on #2503
@tofumatt this is probably not very nice for any os that doesn't hide scrollbars by default - would be good to get this fixed.

[2016-04-26 15:58] muffinresearch commented on #2502
@pwalm @designakt any chance you could provide a better image to us to use for this?

[2016-04-26 15:59] muffinresearch commented on #2502
Once this has an asset to use - this can be labelled `good first bug`

[2016-04-26 16:46] jvillalobos commented on #2506
I think Revoke and Disable would have the same meaning in this context, though it'd be good to use the same wording. What do you want to do exactly?

[2016-04-26 16:49] yfdyh000 commented on #2506
I want to completely disable this feature for now, remove API key and don't regenerate, it produces an additional security short board and I currently don't need it.

[2016-04-26 21:53] milupo commented on #2416
You closed the bug but the Sorbian languages are not available on AMO yet.

[2016-04-26 22:00] andymckay commented on #2416
You will need to wait for the next deployment schedule. It's normally on Thursdays.

[2016-04-26 22:07] milupo commented on #2416
OK. Thank you.

[2016-04-27 09:29] ValentinaPC opened #2512 "Long themes names appear cut at hover"
Steps tor reproduce:
1. Load AMO-stage page
2. Change the language to Deutsch https://addons.allizom.org/de/firefox/
3. Go to "Featured Themes" section and hover over a theme with long name

Expected results:
There are no display or layout issues.

Actual results:
Theme name appears cut.

Notes/Issues:
Issue is reproducing in: My Profile->Themes section, Homepage->Featured Themes section, Themes h

[2016-04-27 10:23] milupo opened #2513 "Request: Different words for "review" (rating) and "reviwe" (check)"
Hi,

I'd like to ask you to use different words for "review" (= rating) and "review" (= check) in future. That should apply to their derivations, too, e.g. "reviewer" or "to review". It is difficult for localizers to decide which meaning applies. A localizer translates isolated strings and does not know always the context of the strings. Other languages must use different words.

Thanks.

[2016-04-27 11:32] EnTeQuAk commented on #1910
This can now be implemented, curtesy of https://github.com/mozilla/addons-linter/commit/a6a144490dd188b202137d245dd311c44a7ee8ef

[2016-04-27 12:37] cosminbadescuSV opened #2514 "All Add-ons page from Unlisted Queues has layout issues"
Steps to reproduce:

1.Login as admin and go to firefox  unlisted all add-ons page: https://addons.allizom.org/en-US/editors/unlisted_queue/all?page=1

Expected results:
Unlisted all add-ons page is displayed correctly.

Actual results:
Unlisted all add-ons queue has layout issues.

Note/Issues:
Verified on FF46(Win 7). This issue is reproducing in AMO-stage.
Video of this issue:
![123](https://cl

[2016-04-27 14:34] ValentinaPC opened #2516 ""Delete Theme" button color gets angry-red after "Transfer Ownership" duble-action"
Steps to reproduce:
1. Sign int to AMO-stage https://addons.allizom.org/en-US/firefox/
2. Load any theme edit listing page i.e https://addons.allizom.org/en-US/developers/theme/tiny-creatures-come-moreover/edit
3. Observe the color of the "Delete Theme" button
4. Click "Transfer Ownership" button 2 times
5. Repeat step 3

Expected results:
The delete button has the same color.

Actual results:
The

[2016-04-27 15:49] EnTeQuAk commented on #2501
This is very probably happening because of us upgrading to Jinja 2.8 somehow. I'll investigate.

[2016-04-27 16:09] #1910 closed

[2016-04-27 16:16] mstriemer opened #2518 "Restrict access to the internal API to the VPN"
We want to restrict access to the `/api/v3/internal/` URLs to the VPN. We'll likely need to check if the requesting IP is the VPN IP and give an error if it isn't.

Supports #2385.

[2016-04-27 16:39] andymckay-limited-access commented on #2513
That's a good idea and I think something we should do on the new rewrite of add-ons. But probably not something we want to try changing now.

[2016-04-27 16:39] #2513 closed

[2016-04-27 16:41] andymckay-limited-access commented on #2507
@eviljeff and @krupa might want to take a look at the right thing to do here.

[2016-04-27 16:43] andymckay-limited-access commented on #2501
This has been happening for a long time, I don't think its Jinja 2.8, check in sentry to see how long its been going on. I think it was the getpersonas migration.

[2016-04-27 16:44] mstriemer opened #2519 "Update CORS for internal API endpoints"
We need to update the CORS settings for the internal API endpoints. They should only be allowed from their matching addons-admin server, so https://addons-dev.allizom.org allows http://addons-admin.dev.mozaws.net (and http://localhost:3000 but only on dev).

Supports #2385.

[2016-04-27 16:46] andymckay-limited-access commented on #2500
We think this is because the URL isn't right. It shouldn't generate a 500, but not critical.

[2016-04-27 16:48] andymckay-limited-access commented on #2496
Its a different template, don't think this is an issue. Will get fixed in the next redesign.

[2016-04-27 16:48] #2496 closed

[2016-04-27 16:49] madalincm opened #2520 "Browser crashes after installing a language pack"
**Steps to reproduce:**
1. Open: https://addons.allizom.org/en-US/firefox/addon/english-us-language-pack/ and install the language pack.
2. Restart the browser.

**Expected results:**
The language pack is successfully installed.

**Actual results**:
The browser crashes.

**Notes/Issues:**
We observed different crashes after installing this language pack:
Browser crash:
![profilecrash](https://clou

[2016-04-27 16:52] EnTeQuAk commented on #2501
Oh really? Last time I looked it looked like it started happening after
dj17 but maybe I'm messing things upup.

On Wed, Apr 27, 2016, at 06:43 PM, andymckay-limited-access wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/2501#issuecomment-215143276

[2016-04-27 17:03] milupo commented on #2513
OK. I realize that this is not possible right now. But keep sight of it for the future, please.

[2016-04-27 17:15] muffinresearch commented on #2520
Looks like the downloaded addon is only compatible up to 45, but the version was bumped on amo:

<img src="https://cloud.githubusercontent.com/assets/1514/14860873/adad1e72-0ca2-11e6-899d-8053c7e5343a.png">

[2016-04-27 18:19] andymckay commented on #2520
This is pretty terrible and after some investigation is apparently because the language pack is not compatible with that version of Firefox. If that's the case this kind of error can occur. There's a patch in progress to fix up that particular language pack: https://bugzilla.mozilla.org/show_bug.cgi?id=1267847 so that it works for Firefox 46.

This isn't really an AMO problem, but a general langua

[2016-04-27 18:19] #2520 closed

[2016-04-27 20:05] stephendonner commented on #2500
Yeah, it's clearly a fuzzed or malformed URL - no legit client should be sending that, normally.

[2016-04-27 21:00] #2498 closed

[2016-04-27 22:20] andymckay opened #2521 "Adding .1-signed gets cumbersome"
We could probably do something like .1-signed-2, .1-signed-3 in the future to prevent our crazy long strings. .2-signed might also be cleaner, but I'm worried about the possibility of version conflicts.

This would mean a change to the sign-addons task.

This is not a high priority until we do another mass signing (which I hope will never happen).

[2016-04-28 00:05] krupa opened #2523 "All add-on validation is failing on dev: ValueError(errmsg("Extra data", s, end, len(s)))#012ValueError: Extra data: line 1 column 10298 - line 1 column 10454 (char 10297 - 10453)"
## steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/developers/addon/submit/2
2. Upload any add-on for validation

## observed behavior:
Validation is failing for all add-ons

## error:
Apr 27 23:58:41 ip-172-31-37-129.ec2.internal: [][] z.devhub.task:ERROR Unhandled error during validation: ValueError('Extra data: line 1 column 10298 - line 1 column 10454 (char 10297 - 10453)',) :

[2016-04-28 00:13] andymckay commented on #2523
Working now.

[2016-04-28 00:13] #2523 closed

[2016-04-28 00:15] andymckay commented on #2479
Whats the locale code for Georgia @arabuli ?

[2016-04-28 12:34] eviljeff commented on #2507
Its a dupe to #1912 - it's accessing the `latest_version` property which, rightly or wrongly, [doesn't exclude disabled](https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/models.py#L694) versions when its updated.
The algorithm _does_ exclude beta versions though - that's why you don't see the next version field for beta versions, but you do when the beta status is overridden

[2016-04-28 12:44] eviljeff commented on #2507
As for the right thing to do, I would think we should exclude disabled versions (actually files) from the `latest_version` calculation but I'm very wary of changing the logic as its used extensively.  (Disabled status is used for rejected files/versions also.)
If the only impact is this display inaccuracy I'd judge it not worth the risk of unintended consequences.

[2016-04-28 14:48] EnTeQuAk commented on #2479
I suppose it's `ka` according to a few commits, e.g 962247863e4000a39130ba43846ccfafe013932b 121cd4df8db404c09aff765412fc4c77964dcc06 or 6b7fb8d9441a34beb2266632fe9e88b37d1858dc

I'll try and see what it takes to enable it.

[2016-04-28 15:00] vcarciu opened #2525 "Themes backgrounds are not correctly aligned in homepage carrousel"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:45.0) Gecko/20100101 Firefox/45.0

Steps to reproduce:
1.Go to https://addons.allizom.org/en-US/firefox/
2.Hover over some themes on the carrousel
3.Observe the background visible while hovering

Expected results:
Background is correctly aligned

Actual results:
Theme preview is larger than the blackground

Please see vid

[2016-04-28 15:49] jvillalobos commented on #1858
So, about that, _now_ we need to add a canned response, so the urgency is a bit higher.

[2016-04-28 15:57] wresuolc opened #2526 "Support hidden add-ons"
Most of the experiments in Test Pilot are not ready for general consumption so we've been avoiding putting them on AMO.  Generally we get them signed, and then host them on S3 along with an update.rdf.

The main thing stopping us from using AMO is that we can't opt out of the search pages while still having the add-on available for download.  It could have a detail page or not, but at a minimum I'

[2016-04-28 17:20] eviljeff commented on #2007
mentor: @muffinresearch

[2016-04-28 18:39] eviljeff commented on #1858
Okay, tracked down the cause to the use of `TranslatedField` so far - django admin isn't displaying those fields for any model that uses them.  E.g. the Addon model page doesn't show name, homepage, support_email, etc.

[2016-04-28 20:48] lliehu opened #2528 "String 'Featured' is used in different contexts and needs disambiguation context for localization"
The string 'Featured' currently exists in over a dozen different places.

The thing is that in some languages, for example in Finnish, adjectives can be singular or plural depending on how many things it refers to.

In some places 'Featured' refers to the list of featured add-ons, meaning that 'Featured' is a category containing many add-ons as in plural. This is the case on the front page, to the

[2016-04-29 04:16] erosman opened #2529 "Wrapping of long code"
The word-wrap would be beneficial for the following example:
https://addons.mozilla.org/en-US/firefox/files/compare/431655...424267/file/content/browser/m_browser.js#top

[2016-04-29 10:01] designakt commented on #2502
Seams like a minor problem to me as the function still is the same.
Could you please share the current assets with us so that we know what they show and what size they are. (The gif is somewhat fast for me to see what screenshots it shows.)

[2016-04-29 13:15] #1891 closed

[2016-04-29 13:56] arabuli commented on #2479
Its ka_GE for "Georgian (Georgia)", and ka: "Georgian".

[2016-04-29 17:08] eviljeff commented on #1858
Investigated but no joy.
So, 3 options here:
a) actually fix the issue by spending more time on it
b) hack the page after loading with some javascript that unhides the fields.  Downsides: hacky; would need to be repeated for other broken forms.
c) change CannedResponse to use un-translated fields as its only ever written in en-US anyway.  Downsides: potentially tricky migration needed; couldn't be

[2016-04-29 17:13] jvillalobos commented on #1858
I'm not aware of other forms causing real problems (even this one is just an occasional problem), so I think it's okay to focus the fix on this particular form (b or c). (c) is less hacky, so I would prefer that, but if the migration is too much of a hassle, I think (b) would be okay.

[2016-04-29 17:30] jvillalobos opened #2531 "Make tool to view and edit canned responses"
We're currently using the [admin models](https://addons.mozilla.org/admin/models/editors/cannedresponse/) to handle canned responses. This has lead to some problems, like #1858, and also limitations on who has access to it.

We need a tool that is functionally equivalent to that model, that lets admin reviewers view and edit canned responses.

[2016-04-29 18:46] EnTeQuAk commented on #1891
Note to QA: This feature sits behind the `addons-linter` flag and is only for WebExtensions.

[2016-04-29 21:02] mstriemer commented on #2518
@jasonthomas is going to set this up in nginx.

[2016-05-01 02:58] mikhoul commented on #2013
@smayer97   Really stupid, I was thinking it was an error but it's an HORROR!

Wow reality surpass fiction !

Mozarella is going deep in the Dumb Browser Game, with this move they are clearly the leader for the in that field. :(

I really hope Vivaldi will improve a little bit and add sync system soon this way I will run away with my userscripts and userstyles.

Here's a fix with a Userstyle that

[2016-05-01 04:05] smayer97 commented on #2264
Any update on this please?
I can't imagine it is so hard to add back 2 links. They can simply go under the Collections menu, if that works. Otherwise, this is not a difficult change. Please advise.

[2016-05-01 07:03] tsl143 commented on #2525
@andymckay can I work on this?

[2016-05-01 08:49] tofumatt commented on #2264
If you want to work on it I'm happy to review your pull request quite quickly. 🙂

I don't have an ETA on this; we have a big backlog of things to get to. Thanks for letting us know you're interested though, that helps us prioritise!

[2016-05-01 08:53] tofumatt commented on #2525
@tsl143 Sure thing! You we can't assign it to you via GitHub because it won't let us assign to people outside the Mozilla organisation, but please work on it and submit a pull request when it's ready. You can ping me to review your pull request, thanks! 👍🏻

[2016-05-01 12:32] SW1FT commented on #2013
Just add the damn button, is it so hard to do?

[2016-05-01 13:01] tofumatt commented on #2013
This is a duplicate of #2264, which is open. Looks like the plan is to add back to "Add to favourites" button.

I'm locking this issue; there's no need for swearing or name-calling.

[2016-05-01 15:42] mikhoul commented on #2264
Mozarella is going deep in the Dumb Browser Game, with this move they are clearly the leader for the in that field. :(

They think 2 links will confuse their dumb users... It tell a lot what they want to have as users.

**Here's a fix** **with I've done with a Userstyle that improve a lot AMO overall, add the 2 missing link & make AMO usable at least:** https://userstyles.org/styles/126536/amo-ez-

[2016-05-01 17:12] tofumatt commented on #2264
@mikhoul The great thing about add-ons is that they let users customise their experience, just like you did.

Please stop insulting the people who work on Add-ons and Firefox in our issues. We've acknowledged in this issue that we'll be restoring the favourite feature and this issue is open to track it.

[2016-05-01 19:16] smayer97 commented on #2264
Please make sure it is NOT just adding ONE button of Add to Favorites (as suggested here: https://github.com/mozilla/addons-server/issues/2013) but ALSO Add to Collection (as I point out up above). Otherwise, the main issue for managing Collections is not addressed and will continue to frustrate ALL those managing/creating collections other than their single Favourite collection.

[2016-05-01 20:10] diox commented on #2377
AFAIK it has always been the case, and only search suggestions are affected. It should be simple enough to fix - the search suggestions view just needs to call the right method to filter out hidden add-ons.

[2016-05-01 20:38] tofumatt commented on #2264
Unfortunately the collections feature is not used by a majority of our users, but it adds clutter to the page. I believe the decision was made to improve the UX for the majority of the users, even though you're right: for heavy users of collections it makes collections harder to manage.

I wonder if an add-on to restore them would be useful? I'm serious; for most users it's not useful, but the API

[2016-05-02 02:57] smayer97 commented on #2264
There are 3 problems with this argument:
- first we are talking about only a LINK on a page....based on how much info is on the page, a single link is not going to make an iota of difference to the UX. There are SO MANY OTHER issues to address if the UX is the problem trying to be addressed. Someone is missing the forest for the trees.

Think about it...it is ONE link on a page FULL of other "clut

[2016-05-02 09:36] diox commented on #2268
I can't reproduce in prod. I tested in English, French and German.
![screen shot 2016-05-02 at 11 35 10](https://cloud.githubusercontent.com/assets/187006/14951547/10116e14-105a-11e6-956f-6726f39f6383.png)

[2016-05-02 09:37] diox commented on #2268
It has probably been fixed by a recent change since it was opened 2 weeks ago. Please re-open if I'm wrong.

[2016-05-02 11:56] #2210 closed

[2016-05-02 12:08] diox commented on #1497
@EnTeQuAk fixed this while tweaking travis.

[2016-05-02 12:08] #1497 closed

[2016-05-02 12:27] diox commented on #2377
@ValentinaPC , I can't reproduce the first part: search suggestions never show disabled add-ons for me. I've been looking at the code and it's filtering correctly everywhere as far as I can tell.

The add-on requirement thing is valid and should be fixed, though.

[2016-05-02 12:54] diox commented on #2340
I don't understand this issue. If you're sorting by `Newest`, then why would you expect the add-on rating to have an influence on the ranking ? `Newest` just sorts by creation date.

[2016-05-02 13:11] diox commented on #1934
Has there been any progress on this ? I'd like to re-enable post-request-task but I think we should take care of that first.

[2016-05-02 13:25] diox commented on #2304
https://github.com/mozilla/addons-server/blob/320c1b7c945f90dd8ff3cca4e370de0e4e74aedd/src/olympia/lib/es/management/commands/reindex.py#L77 is wrong: `ES.indices.get_settings(alias)` will return a dict with the key being the real index name, not the alias. So we never pull the data from the existing index.

In addition, https://github.com/mozilla/addons-server/blob/320c1b7c945f90dd8ff3cca4e370de0

[2016-05-02 14:28] EnTeQuAk opened #2536 "Docker Hub builds are broken"
See https://hub.docker.com/r/addons/addons-server/builds/

https://github.com/mozilla/addons-server/pull/2300 broke them, let's fix'em again.

[2016-05-02 19:34] andymckay commented on #2526
What do you think @jvillalobos or @deadsquid? I've seen this request from a few different teams.

[2016-05-02 19:47] andymckay opened #2542 "Add a way to email about FxA switch over"
Let's add into the admin email page a way to email:
* users who've developed an add-on, theme, etc
* who have not migrated over to Firefox Accounts

[2016-05-02 20:21] jvillalobos commented on #2526
It's one of the open questions in the [status redesign](https://docs.google.com/document/d/1OH2iZ7aT9otFJvGTX1UR6pAm58u7ph2Uw8_Zv2Sl8Tk/edit). I don't think we should do this without working first on simplifying the status / review code.

[2016-05-02 20:38] #2542 closed

[2016-05-02 22:49] kewisch commented on #2185
We can probably duplicate this against #1825

[2016-05-02 22:49] #2185 closed

[2016-05-02 22:52] jvillalobos commented on #2264
I created an add-on that brings those widgets back: [Add to Collection](https://addons.mozilla.org/addon/add-to-collection/). Should be reviewed / signed soon. Note it doesn't look pretty and it's bound to break in the future. But it should buy the affected people some time while a decision is made here.

[2016-05-02 22:54] kewisch opened #2544 "Migrated FxA user can delete their FxA account making their AMO account unsusable"
I got this from a user report, so not sure it is 100% accurate. This is basically the opposite of #2451. STR:

1) create an FxA account
2) link it with your AMO account, which has add-ons
3) delete the FxA Account

Expected:
* Provide some way to recover the AMO account, or disallow deletion of the fxa account until the AMO account is unlinked

Actual:
* AMO account still exists and has add-ons, b

[2016-05-02 22:58] andymckay commented on #2544
The only way I could see this working is to try and block the FxA account deletion, but I'm not sure how we'd do that, it's not currently a feature of FxA that it will query every service to see if it can delete an account.

Not sure what there is to do here, but cc'ing @rfk incase he has any insight.

[2016-05-02 23:07] kewisch commented on #2544
I'd suggest that the password reset feature is modified so that if the fxa account has gone away, then email is sent to the user allowing to link against a new fxa account.

[2016-05-02 23:16] andymckay opened #2545 "Filter search by add-on type"
There's probably a lot of things we could filter the search by: addon type, status and many other things. I'd really like add-on type if that's possible. :beer:

[2016-05-02 23:55] andymckay commented on #2544
Password reset on AMO or FxA?

[2016-05-02 23:56] smayer97 commented on #2264
thanks jvillalobos. Sounds good for the short term.
That said, I just tried to download this but I get the following error...It will not install:

![screen shot 2016-05-02 at 7 53 45 pm](https://cloud.githubusercontent.com/assets/6752849/14971402/d967ec26-109f-11e6-97a9-7c2928e3499b.png)

Any Thoughts?

[2016-05-03 03:13] rfk commented on #2544
Thanks for the heads-up @andymckay.  Trying to block FxA account deletion doesn't sound very pleasant to me, but if it helps, we do have an SQS stream of account deletion events that AMO could consume in order to try to do something with the account records on your side.  Would it make sense just to e.g. delete the AMO-side account data if the FxA account has been deleted?

The idea in https://git

[2016-05-03 07:19] ValentinaPC commented on #2377
@diox : :smile: Well, sorry about the "AMO wording". I was talking from the start, only, about HIDDEN add-ons, as I wrote at step 2, but making an add-on hidden, turns the add-ons status into "disabled".
Sorry again about the confusion.

[2016-05-03 07:44] ValentinaPC commented on #2268
Was partially fixed. There are still some languages for which this is reproducing.
Maybe there is a easy way to fix this for all lang.

Please see the screenshot:
![g](https://cloud.githubusercontent.com/assets/15685960/14977285/6162b748-111b-11e6-82fa-d3cd9801cab8.png)

Examples:
https://addons.mozilla.org/uk/firefox/extensions/?sort=featured
https://addons.mozilla.org/ru/firefox/extensions/?sort

[2016-05-03 08:21] muffinresearch commented on #2536
We also need to work out a way to track when builds fail, so that we're aware when it happens.

[2016-05-03 08:22] muffinresearch opened #2546 "Setup up something simple to track docker hub builds"
Hub builds can be broken and we don't get any notifications. We should set-up the simplest possible thing to make sure that we know when builds break.

[2016-05-03 09:39] diox commented on #2545
Yeah, I want at least `type`, `status`, `platform`, `app`. I'll get right on it.

[2016-05-03 10:06] #2304 closed

[2016-05-03 14:40] jvillalobos commented on #2264
You have to wait for it to be reviewed (should happen in a day or so) or [override the signing restriction](https://wiki.mozilla.org/Addons/Extension_Signing) for now.

[2016-05-03 14:56] vanowm opened #2547 "Addon's version history text uses only 2/3 of available width, leaving the rest wasted"
The version information text is wraps around, yet there is still 1/3 of the the column width available and wasted.
This looks quiet bad when there is a lot of text:
https://addons.mozilla.org/firefox/addon/cookies-manager-plus/versions/

![screenshot](http://i.imgur.com/GNmG8ik.png?1)

[2016-05-03 16:08] andymckay-limited-access commented on #2268
This is a dupe of #2007.

[2016-05-03 16:09] #2531 closed

[2016-05-03 16:10] andymckay-limited-access commented on #2528
Let's do this in the redesign.

[2016-05-03 16:10] #2528 closed

[2016-05-03 16:12] tofumatt commented on #2547
I don't think this looks bad, and I don't think extending the text improves it. Version notes are often lists where the extra space isn't used, but if it is it's a good rule to wrap text so that lines aren't too long.

Making this any wider will result in harder to read lines:

<img width="823" alt="screenshot 2016-05-03 17 11 32" src="https://cloud.githubusercontent.com/assets/90871/14989932/39b0

[2016-05-03 16:13] #2486 closed

[2016-05-03 16:14] #2477 closed

[2016-05-03 16:14] andymckay-limited-access commented on #2477
If jorge can live without it, so can I.

[2016-05-03 16:20] andymckay-limited-access commented on #2468
This is by design in the current AMO style because the URL has thunderbird in it.

[2016-05-03 16:20] #2468 closed

[2016-05-03 16:22] andymckay-limited-access commented on #2464
Given that an author should not be anonymous, assuming this isn't a big deal.

[2016-05-03 16:27] andymckay-limited-access commented on #2362
I don't think you have admin rights, @jvillalobos could you check what rights Scott has please?

[2016-05-03 16:30] andymckay-limited-access commented on #2463
We think this is by design, we'll review in the redesign.

[2016-05-03 16:30] #2463 closed

[2016-05-03 16:47] kumar303 commented on #2461
I am not clear on what change are you requesting. What is the current workaround (or roadblock) to how you solve this problem? Do you have to hit the login endpoint each time before the test or something?

[2016-05-03 16:49] kumar303 commented on #2462
How often do you have to do this? My understanding was that once you created a handful of super-creators then all tests can run with those users. The only dynamic users should be the ones that you are creating *with* the super-creator.

[2016-05-03 17:20] vanowm commented on #2547
I don't quiet understand why would it be harder to read in the column of 470 pixels wide...on screens with 800+pixels wide.
IMO it's harder to read when text wraps around for no apparent reason...especially when you don't see that "add to firefox" button until you hover over the column, but you see how wide the column is with the pink banner on top and text wrapped around at 2/3 of that column.

!

[2016-05-03 17:38] andymckay commented on #2544
We don't actually want to delete anything when the account is deleted, because then you'd delete add-ons and that would be bad.

[2016-05-03 18:03] #2521 closed

[2016-05-03 18:05] andymckay commented on #910
This hasn't happened since the AWS switch over and is a pretty catastrophic problem that gets ops out of bed. I feel like its not worth investing anything on this with the re-design coming which will have a whole of new error scenarios to worry about.

[2016-05-03 18:05] #910 closed

[2016-05-03 18:06] andymckay commented on #916
This was done in #2522.

[2016-05-03 18:07] #916 closed

[2016-05-03 18:07] #968 closed

[2016-05-03 18:08] andymckay commented on #1116
With the changes in Firefox, I don't think this is needed anymore.

[2016-05-03 18:08] #1116 closed

[2016-05-03 18:08] andymckay commented on #1130
The release has been published and I think this is fixed. If that's not the case, please re-open @pnguyen-pi

[2016-05-03 18:08] #1130 closed

[2016-05-03 18:39] andymckay commented on #1084
This is working for me now. This is most likely related to the jquery upgrades and cleaning that @muffinresearch and @magopian did in Jan. Closing for now, please re-open if it re-occurs.

[2016-05-03 18:39] #1084 closed

[2016-05-03 18:40] andymckay commented on #1172
I think the pull request closed this one.

[2016-05-03 18:40] #1172 closed

[2016-05-03 18:41] andymckay commented on #1244
All these issues are now closed apart from the statistics clean up which we still need to do, but that has a seperate tracker.

[2016-05-03 18:41] #1244 closed

[2016-05-03 18:42] andymckay commented on #1282
I think this is similar to #2051. In fact so similar I'm going to dupe that to this.

[2016-05-03 18:43] andymckay commented on #2501
Duplicate of #1282.

[2016-05-03 18:43] #2501 closed

[2016-05-03 18:48] andymckay commented on #1566
This is gone now.

[2016-05-03 18:48] #1566 closed

[2016-05-03 18:49] andymckay commented on #1688
I think there's a better way to do this and I'm not sure of the value here to be honest.

[2016-05-03 18:49] #1688 closed

[2016-05-03 18:50] andymckay commented on #1657
The discovery pane is being re-done. With no login. So that's that problem solved.

[2016-05-03 18:50] #1657 closed

[2016-05-03 18:53] andymckay commented on #1949
Sorry, this isn't related to addon-server. I'm not sure where to file a bug about this though. moztrap doesn't use github, so I'm not sure either.

[2016-05-03 18:53] #1949 closed

[2016-05-03 18:54] andymckay commented on #2131
We should just remove this feature like we have everywhere else.

[2016-05-03 19:27] jvillalobos commented on #2362
He's in the Staff group, which should be sufficient.

[2016-05-03 19:43] kshitijakarkar commented on #1949
Isn't it necessary to test on latest operating system?

[2016-05-03 19:50] andymckay commented on #1949
Sure. But this team has nothing to do with moztrap, so I'm not sure what you expect us to do.

[2016-05-03 19:51] andymckay commented on #2362
Looks it isn't, how about putting him in the reviewers group?

[2016-05-03 19:52] tofumatt commented on #1949
Seems like moztrap is on GitHub: https://github.com/mozilla/moztrap

[2016-05-03 20:02] bobsilverberg commented on #1949
@kshitijakarkar For issues with Moztrap please file a bug in Bugzilla at https://bugzilla.mozilla.org/enter_bug.cgi?product=Mozilla%20QA&component=MozTrap.

[2016-05-03 21:26] kewisch commented on #2544
I was thinking password reset on AMO. So when you try to log in with your ex-FxA account email on AMO, you get a message that your account is temporarily deactivated and have received instructions to reactivate your account via email. These instructions send you to a link to reconnect your account with a FxA account. Add extra hoops to prevent spam/hackers as needed.

[2016-05-03 21:56] jvillalobos commented on #2362
The Staff group has all the permissions that the reviewer groups have. Also, I can reproduce this bug using my account.

[2016-05-03 21:59] andymckay commented on #2544
Bear in mind the whole point of using FxA is to remove all of this logic for password reset from AMO and those pages will be removed. Something custom would have to built using the logic set out in https://github.com/mozilla/addons-server/issues/2544#issuecomment-216425755

[2016-05-03 23:27] andymckay commented on #2158
The error here is in old validator, when the addons-linter goes out, this can be closed.

[2016-05-04 01:50] kshitijakarkar commented on #1949
@bobsilverberg :okay I'll do that

@andymckay : I am new to Mozilla team. I was trying to run some tests. Since I didn't find windows 10 option , I reported it here as it concerns with add-on tests.

[2016-05-04 06:47] smayer97 commented on #2264
Thank you !!!!!

Now how to get Mozilla to restore this functionality to the site permanently?

For all those interested, go download this Add-on, and show support for it by writing a positive review. Then spread the word!

[2016-05-04 08:27] ValentinaPC commented on #2268
@andymckay-limited-access : I am not talking about arrows with different sizes in this issue, but about arrows on two rows when using some languages that make the navigation buttons bigger then expected.
Also, that is fixed, this is not.
Feel free to close it if you think does not worth fixing it.
Thanks.

[2016-05-04 08:48] ValentinaPC commented on #1566
@andymckay : Should the "share" option be removed from add-on details inside a collection?
Please see the screenshot:
![2016-05-04_1147](https://cloud.githubusercontent.com/assets/15685960/15009238/1040da88-11ee-11e6-9104-01afc700e8f9.png)

[2016-05-04 09:12] EnTeQuAk commented on #1566
@ValentinaPC see andy's answer in https://github.com/mozilla/addons-server/issues/2131#issuecomment-216629388 - let's use 2131 to track the removal.

[2016-05-04 10:12] palant opened #2551 "Outdated links to Editors' Guide"
AMO links to https://wiki.mozilla.org/AMO:Editors/EditorGuide in various places. This link is outdated, the correct one being https://wiki.mozilla.org/Add-ons/Reviewers/Guide.

In particular, this link can be found in:

* src/olympia/pages/templates/pages/dev_faq.html
* src/olympia/editors/templates/editors/queue.html
* src/olympia/devhub/templates/devhub/docs/policies-reviews.html
* src/olympia/l

[2016-05-04 11:02] designakt commented on #2487
@tofumatt This issue is very important to me as it is a big UI improvement as the detail pages are among the most visited, and we will link to those from our new discovery.
(In general, what is the best way for UX to express how important issues are to us? State it in the issue like I do here, or could we have a label for that?)

[2016-05-04 11:10] #2476 closed

[2016-05-04 11:11] #2475 closed

[2016-05-04 11:11] #2473 closed

[2016-05-04 11:12] diox opened #2552 "Filter search API by appversion"
After #2545 we'll also need to filter by `appversion`. This is lower priority because it's not needed for internal search but this would be nice to have to be able to replicate the website search results.

[2016-05-04 11:15] #2478 closed

[2016-05-04 11:21] #2545 closed

[2016-05-04 11:27] diox commented on #2377
@jvillalobos @wagnerand see https://github.com/mozilla/addons-server/issues/2377#issuecomment-216222414 any idea what we should do ?

[2016-05-04 12:37] ValentinaPC opened #2553 "Random ID is generated for a web-extension with available ID in the manifest"
Steps to reproduce:
1. Submit a webextension on AMO-dev (with an ID set in the manifest.json) i.e. https://addons-dev.allizom.org/en-US/firefox/addon/tab-pics/
2. Go to Edit Listing->Technical Details and observe de UUID field

Expected results:
The web-extension has the same ID as in the manifest.json.

Actual results:
A random ID is generated for the web-extension.

Notes/Issues:
Verified on FF4

[2016-05-04 13:56] ValentinaPC opened #2554 "[AMO-dev] Fresh submitted web-extensions cannot be installed"
Steps to reproduce:
1. Submit and approve a web-extension on AMO-dev i.e. https://addons-dev.allizom.org/en-US/firefox/addon/renametab/
2. Try to install the web-extension

Expected results:
The web-extension is installed.

Actual results:
The web-extension is not installed. A message saying the web-extension is corrupt is displayed.

Notes/Issues:
Issue is reproducing on FF46 and FF49(Win 7).
**I

[2016-05-04 14:08] tofumatt commented on #2487
If you're looking for a system something like "p1" would work for me. But
bringing it up in the issue as you did is also fine. 🙂

- tofumatt

On 4 May 2016 at 12:02:30, Markus Jaritz (notifications@github.com) wrote:

[2016-05-04 15:21] EnTeQuAk commented on #2554
With a bit of luck this will be fixed with https://github.com/mozilla/addons-server/pull/2555 as well. Keeping it open to verify later though.

[2016-05-04 16:15] jvillalobos commented on #2377
An add-on that is disabled by the developer has inactive = 1, rather than status = disabled. However, for both of those cases, we shouldn't display the add-on anywhere, including both cases mentioned in this issue. I think it's okay to hide add-ons even if they are dependencies. I doesn't help users to show a dependency they can't install, and it's a bit of an edge case anyway.

[2016-05-04 16:36] #2553 closed

[2016-05-04 17:38] EnTeQuAk commented on #2554
Can you re-verify this? You will need to reupload the XPI file though so that it'll pick-up the correct add-on id.

[2016-05-04 18:04] #1890 closed

[2016-05-04 22:08] andymckay opened #2559 "Update the copy because of signing"
Once you've submitted an add-on you get to a page like this:

![screenshot 2016-05-04 15 05 05](https://cloud.githubusercontent.com/assets/74699/15030904/ead032aa-1209-11e6-980e-2bc7b904677c.png)

"In the meantime, you and your friend can install it directly from its details page:"

...but. Thanks to signing you can't actually install that add-on until its signed which happens once its reviewed. U

[2016-05-05 08:32] ValentinaPC commented on #2554
Verified as fixed on AMO-dev FF46(Win 7) using web-extensions preliminary and full.
Postfix screenshot:
![rename_tab_installed-full](https://cloud.githubusercontent.com/assets/15685960/15039302/a27f241a-12b4-11e6-8b1e-d1872177ba20.png)

[2016-05-05 08:32] #2554 closed

[2016-05-05 08:45] ValentinaPC commented on #2553
Verified on AMO-dev FF46(Win 7).
If there is an ID in the web-extension manifest it is used.
Postfix screenshot:
![2016-05-05_1137](https://cloud.githubusercontent.com/assets/15685960/15039450/f0f57756-12b5-11e6-8f32-7f56660ce700.png)

[2016-05-05 08:51] ValentinaPC opened #2560 "[AMO-dev] Error at web-extension submit"
Maybe is related to #2555

Steps to reproduce:
1. Try to submit the attached web-extension on AMO-dev

Expected results:
The web-extension can be submitted.

Actual results:
The web-extension cannot be submitted because of an error.

Notes/Issue:
**The web-extension can be submitted without problems in AMO-stage.**
Please see the screenshot:
![2016-05-05_1114](https://cloud.githubusercontent.com/a

[2016-05-05 12:31] muffinresearch commented on #2560
Looks like a false positive caused by this line: line 129 of background.js

[code]

[2016-05-05 12:49] ValentinaPC opened #2562 "[AMO-dev] Web-extension without ID returns duplicate ID error at submission"
#1891

Steps to reproduce:
1. Pick a webextension without ID set in the manifest.json
2. Submit that web-extension using https://addons-dev.allizom.org/en-US/developers/addon/submit/2

Expected results:
A ID is generated.

Actual results:
"Duplicate add-on ID found" error message is displayed.

Notes/Issues:
Issue is only reproducing on AMO-dev for all web-extension without ID.
Verified on FF46(Wi

[2016-05-05 14:09] vcarciu commented on #2545
@diox  : Can you please add some STRs to this bug or add qa- label?

[2016-05-05 14:10] vcarciu commented on #2542
@andymckay : Can you please add some STRs to this bug or mark it as qa- ?

[2016-05-05 14:16] vcarciu commented on #2531
@jvillalobos Can you please add some STRs here or add  qa- label ?

[2016-05-05 15:36] vasilicamihasca opened #2564 "Corrupted add-on on production"
**Steps to reproduce**
1.Navigate to https://addons.mozilla.org/ro/firefox/addon/calculate-fba/?src=cb-dl-created
2.Install the add-on

**Expected results:**
The add-on is successfully installed.

**Actual results**:
The add-on cannot be installed.

**Additional notes:**
- This issue reproduces on AMO-production using Firefox 49.0a1 (2016-05-05) under Windows 10 64-bit.
- I was able to submit the

[2016-05-05 17:27] andymckay commented on #2564
This add-on has a package.json and no install.rdf meaning it was built in correctly. This is very similar to #2438  and will be resolved when #2460 is fixed. I recommend we keep this open so we check this kind of add-on can't get onto AMO when #2460 is resolved.

[2016-05-05 17:28] lmorchard commented on #2526
IMO, this is more than experiments not being ready for general consumption. They may never be, and shouldn't be treated like normal add-ons. Test Pilot experiments may someday even want to support temporary system add-ons. I'd guess that's something AMO probably doesn't ever want to host. See also https://github.com/mozilla/testpilot/issues/406

[2016-05-05 17:59] andymckay commented on #2526
I would argue that AMO is a perfect place to host experiments, most of the add-ons are just that.

In the future I think there's coming a difference between the idea of "shipping internal code as an add-on" (system addons) and "using the WebExtensions API" (something on AMO), something that mozilla hasn't really distinguished in the past.

I don't think the former is something we should focus in A

[2016-05-05 18:07] lmorchard commented on #2526
Yeah, I think my concern is just that I don't want us to get AMO and Test Pilot tangled together in a way that might unnecessarily limit / complicate both projects in the future.

Cool, as long as we keep in mind that it might be a temporary fix. We might also, for example, want to look into getting Test Pilot whitelisted like AMO so we can ship an add-on without all the warnings (since we're also

[2016-05-05 18:53] andymckay commented on #2560
@wagnerand, again assuming that although a setInterval could lead to an eval it should be a warning not an error that prevents validation. Its worth noting the new linter is quite a bit smarter than the old one, but want to get the levels right.

In https://github.com/mozilla/addons-linter/issues/623#issuecomment-217145821 you suggest that only when the add-on is completely broken do we fail the v

[2016-05-05 20:14] rgh36167 commented on #2000
would be really helpful,  stumbled over this accidentally.

[2016-05-06 06:29] tsl143 commented on #2525
@tofumatt pr generated

[2016-05-06 09:08] chrmod opened #2568 "Fresh installation fails"
Following installation steps from: https://addons-server.readthedocs.io/en/latest/topics/install/docker.html
ends up with error on `make initialize_docker`:
[code]
To me it looks like **django-product-details** 0.8.2 does not provide proper product details json file.

[2016-05-06 09:28] wagnerand commented on #2568
I can confirm this.

[2016-05-06 11:21] #2474 closed

[2016-05-06 11:25] chrmod commented on #2568
It is exactly this line causing the problem:
https://github.com/mozilla/django-product-details/blob/63c58051842835d1f21c554ba1367c1e55ef2a8a/product_details/storage.py#L234

More specifically:
`storage.last_modified('regions/')` returns `None` instead of time string

[2016-05-06 11:52] milupo opened #2571 "When will be dsb and hsb added to the AMO pages?"
Hi,

please add the locales dsb (Lower Sorbian) and hsb (Upper Sorbian) to the AMO pages now. I opened issue https://github.com/mozilla/addons-server/issues/2416 that has been closed 10 days ago (April 26, 2016). AFAIK AMO is deployed every Thursday. Since closing the issue already 2 Thursdays have passed by.

[2016-05-06 11:57] Ulf3000 opened #2572 "compatibility isn´t updated if you remove "android" from the addons listing."
if you upload an addon which has both firefox and fennec in the package.json and you the remove the android compatibility from the addons listing after uploading it , its still available in the android addon-store.

thanx for listening

[2016-05-06 12:35] rctgamer3 opened #2573 "AMO <body> data attributes are outdated"
[code]
`data-min-beta-version="3.7"` -- this seems to be a minimum beta version requirement, shouldn't this be matching the current beta version number?
`data-nightly-version="46.0"` -- Nightly 46 was first released mid December. [Current](http://whattrainisitnow.com/) Nightly version (as of writing) is 49.0a1.

Are these values even still in use? I never noticed anything using these values.

[2016-05-06 12:49] rctgamer3 opened #2575 "AMO returns is-compatible="false" for compatibly-overridden add-on / theme."
Possibly related to #2572 and similar to #2573, AMO shows the following data in the DOM for my [Firefox 2 theme](https://addons.mozilla.org/addon/6898/):

[code]

I've set maxVersion to the wildcard because otherwise I'd have to update the maxVersion every time (version compatibility bumps announced by @jvillalobos do not happen with complete themes).
If it turns out to be true that AMO doesn't ov

[2016-05-06 12:51] rctgamer3 commented on #1284
Bump.

[2016-05-06 13:09] muffinresearch commented on #2449
We'll need the theme data as per the docs here: https://developer.mozilla.org/en-US/Add-ons/Themes/Lightweight_themes

[2016-05-06 13:26] ValentinaPC commented on #2560
Attaching another web-extension (maybe it helps you) that returns the same error and when accessing the full validation report we can see:
![2016-05-06_1624](https://cloud.githubusercontent.com/assets/15685960/15074353/2f91da08-13a7-11e6-91a6-880495ca6c10.png)

[Tab-Suspender.zip](https://github.com/mozilla/addons-server/files/252284/Tab-Suspender.zip)

[2016-05-06 13:46] ValentinaPC commented on #2562
Verified this on AMO-dev FF46(Win 7).
I've submitted a web-extension without an ID, no error were raised, but I cannot select a platform and for this matter, I cannot go forward with the submission process.
Please see the screenshot:
![2016-05-06_1628](https://cloud.githubusercontent.com/assets/15685960/15074683/efad542e-13a8-11e6-8b28-c7ec15432cb5.png)

[2016-05-06 13:55] wagnerand commented on #2560
Yes, this should be a warning instead of an error.

A million bonus points if we could update the rule to not trigger if the argument passed is a function. Otherwise, it leads to an awful lot of false positives (we know from experience of the old validator).

[2016-05-06 14:03] andymckay commented on #2571
Please don't open a new bug when commenting on the old bug, #2416 will suffice.

[2016-05-06 14:03] #2571 closed

[2016-05-06 14:06] andymckay commented on #2416
@EnTeQuAk do we have to update AMO_LANGUAGES or locales as well? https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/settings_base.py#L123 I could be looking in the wrong place, but I don't see them either.

[2016-05-06 14:17] EnTeQuAk commented on #2416
yeah, we do. I didn't get around to test what we actually need, with a bit of luck `AMO_LANGUAGES` should be it. will look at this asap.

[2016-05-06 14:18] vcarciu commented on #2474
Verified as fixed :
![unlistedsort](https://cloud.githubusercontent.com/assets/1583842/15075706/82a28484-13ae-11e6-91a0-32e26b692a3b.gif)

[2016-05-06 14:21] milupo commented on #2571
Bug #2416 was closed. And: Why do you close bugs if they are not fully fixed yet?

[2016-05-06 14:32] EnTeQuAk commented on #2562
hmm, weird, looking into that

[2016-05-06 14:34] eviljeff opened #2578 "update ancient django-tables to django-tables2"
django-tables was last developed 6 years ago and has long been deprecated in favour of django-tables2 (not a clean drop-in replacement alas - there are syntax changes)

[2016-05-06 15:22] tofumatt opened #2579 "Add support for Chrome WebExtensions"
Our plan this quarter is to be able to accept Chrome Extensions with minimal (or, maybe, _zero_ changes) to the Chrome Extension.

To test the progress of this feature I'll keep trying to submit https://github.com/mdn/webextensions-examples/tree/master/tabs-tabs-tabs (https://chrome.google.com/webstore/detail/tabs-tabs-tabs/lfghbpgjjckjlanhgbceadmgakgfknom in the Chrome Store) to AMO and see what

[2016-05-06 15:27] diox commented on #2268
@tofumatt is that something you could look at ? You're more familiar with the CSS than I am.

[2016-05-06 15:28] diox commented on #2340
@tuudara see previous comment.

[2016-05-06 15:32] tofumatt commented on #2268
@diox Sure thing 👍🏻

[2016-05-06 15:40] EnTeQuAk commented on #2562
@ValentinaPC can we split this into a separate issue and solve this one here since the duplicate error isn't thrown anymore?

I'll look at this on Monday.

[2016-05-06 15:52] tsl143 commented on #2525
@muffinresearch - rebased the complete fork, thank you sooooo much for the help
@tofumatt - PR generated https://github.com/mozilla/addons-server/pull/2580

[2016-05-06 16:09] andymckay commented on #2571
I've re-opened the bug and commented there. github automatically closes the bug when the pull request is merged.

[2016-05-06 16:15] jvillalobos commented on #2572
Which add-on are you referring to? And what do you mean by "still available"? Where do you still see it?

[2016-05-06 16:41] davehunt commented on #2462
@kumar303 We just need one super-creator, but we're running the tests against an instance of the application without any pre-existing users (using Travis/Circle to clone and spin up via Docker). So we need a way to programmatically create the super-creator. For issue #2461 we need the API credentials for this super-create user.

[2016-05-06 16:43] davehunt commented on #2461
The only workaround is to run tests against a deployed instance of AMO with a pre-existing user and known API credentials. There's currently no way (to my knowledge) of getting the API credentials without using the UI, which would be slow and potentially brittle.

[2016-05-06 17:10] diox commented on #2448
I'm thinking of building the edition API at the same time as the frontend one. It'd be built on top of our existing translation fields, allowing to fetch and edit multiple translations at the same time for each field. The admin would be very simple and could look like this:

## Disco Pane entry #421

### Add-on identifier
[text input accepting slug/id/url]

### Enabled
[x]

### Heading
String | Lo

[2016-05-06 17:22] diox commented on #2447
Per #2449:

* `type` (e.g. Theme or Extension)
* `heading` (This is editorial and shouldn't need HTML)
* `sub_heading` _Optional_ (This is editorial and shouldn't need HTML)
* `editorial_description` (This will contain some HTML e.g. em and strong - depending on how custom this might be - at the moment I'm putting the this in a paragraph element, but there's a possibility that might need more flex

[2016-05-06 17:23] diox commented on #2449
Is the logo coming from the add-on automatically or is it also an editorial one ?

[2016-05-06 18:27] andymckay commented on #2187
I think this will be fixed with the move to make all CSS errors warnings in the validator.

[2016-05-06 18:27] #2187 closed

[2016-05-06 18:45] andymckay commented on #2560
@wagnerand I think that's what https://github.com/mozilla/addons-linter/blob/master/src/rules/javascript/eval_string_arg.js#L13 is doin and the test is here https://github.com/mozilla/addons-linter/blob/master/tests/rules/javascript/test.eval_string_arg.js#L8.

[2016-05-06 19:02] andymckay commented on #2449
Add-on.

[2016-05-06 21:13] #2519 closed

[2016-05-06 23:02] mstriemer commented on #2385
Login is now working.

[2016-05-06 23:02] #2385 closed

[2016-05-07 03:36] tsl143 commented on #2525
PR https://github.com/mozilla/addons-server/pull/2580 merged
@vcarciu , @muffinresearch Can we close this?

[2016-05-07 03:45] mstriemer commented on #2525
Fixed by https://github.com/mozilla/addons-server/pull/2580, thanks Trishul!

[2016-05-07 03:45] #2525 closed

[2016-05-07 04:38] tsl143 commented on #2512
PR https://github.com/mozilla/addons-server/pull/2582
this can be one possible solution, terminating with ellipsis.
@andymckay-limited-access

[2016-05-07 08:09] tsl143 commented on #2509
Unable to reproduce, both edit and delete links work for me
![screenshot from 2016-05-07 13 38 59](https://cloud.githubusercontent.com/assets/5318732/15091028/25168e2c-1459-11e6-8aae-feb639df9d22.png)

[2016-05-07 08:29] tsl143 commented on #2551
PR for this https://github.com/mozilla/addons-server/pull/2583

[2016-05-07 09:09] #2551 closed

[2016-05-07 09:26] tsl143 commented on #2512
Here are the screenshots

![after](https://cloud.githubusercontent.com/assets/5318732/15091326/d46a1a60-1463-11e6-9104-c2e6ef39f3ec.png)
![before](https://cloud.githubusercontent.com/assets/5318732/15091325/d1176a34-1463-11e6-91d8-93ffc4158d33.png)

[2016-05-07 11:50] tsl143 commented on #2516
How to start with this ? I get following error
![screenshot from 2016-05-07 17 20 01](https://cloud.githubusercontent.com/assets/5318732/15091934/f70e48b6-1477-11e6-9817-2c850ca2a041.png)

[2016-05-09 05:23] ValentinaPC commented on #2562
Verified as fixed on AMO-dev FF46(Win 7).
Postfix screenshots:
![2016-05-09_0821_001](https://cloud.githubusercontent.com/assets/15685960/15104296/2540a646-15bf-11e6-8b93-46a08f00a8ac.png)
![2016-05-09_0821](https://cloud.githubusercontent.com/assets/15685960/15104297/299ec83a-15bf-11e6-87ef-caf5506d851c.png)

Based on previous comment and the verification I'll close this as fixed and reopen anoth

[2016-05-09 05:23] #2562 closed

[2016-05-09 05:36] ValentinaPC opened #2586 "[AMO-dev] Web-extension without ID blocks platforms selection at submission"
Steps to reproduce:
1. Pick a web-extension without ID set in the manifest.json
2. Submit that web-extension using https://addons-dev.allizom.org/en-US/developers/addon/submit/2

Expected results:
An ID is generated.

Actual results:
The platform selection is blocked. The submission process cannot be finalized.

Notes/Issues:
Verified on FF46(Win 7). Issue is reproducing on dev.
Screenshot for thi

[2016-05-09 06:16] EnTeQuAk commented on #2562
Thanks!

[2016-05-09 09:36] diox opened #2587 "Move old discovery app to legacy_discovery"
To separate clearly the new disco pane code from the old stuff, move the current `discovery` app to `legacy_discovery`. Fixtures, models, templates, etc might need to be adjusted to the new app path.

[2016-05-09 10:39] #2587 closed

[2016-05-09 10:39] diox commented on #2587
QA: please make sure discovery panel still works

[2016-05-09 10:51] eviljeff commented on #2544
Couldn't you just recreate the FxA account with the same email address and it would work again?  Or is that too simplistic an assumption...

[2016-05-09 12:00] ValentinaPC commented on #2377
Verified on AMO-dev using FF46(Win 7).
Issue is still reproduced.
Add-ons are still displayed in search results page and between search suggestions.
Please see he screenshots:
![2016-05-09_1456](https://cloud.githubusercontent.com/assets/15685960/15112392/96402902-15f6-11e6-85bd-5d0a897bbd40.png)
![2016-05-09_1457](https://cloud.githubusercontent.com/assets/15685960/15112395/9b4c4e94-15f6-11e6-8b7

[2016-05-09 12:23] diox opened #2591 "Have the API return string constants instead of human-readable values for some fields"
The new API currently returns `type`, `status` and `platform` in an human readable string format, translated according to the `lang` parameter (falling back on `Accept-Language` header). So for instance we get:
[code]

(Example: https://addons-dev.allizom.org/api/v3/addons/addon/adblock-plus/)

I'd like to change this to string constants. In this case, we'd get `"status": "public"` and `"type": "e

[2016-05-09 12:23] #2536 closed

[2016-05-09 12:48] #2460 closed

[2016-05-09 12:51] EnTeQuAk commented on #2438
We removed the parsing related code from AMO which will land on -dev shortly, should land on -stage on Tue and go live on Thu. I'll close this as fixed but please feel free to re-open if there's something still broken.

[2016-05-09 12:51] #2438 closed

[2016-05-09 12:51] EnTeQuAk commented on #2564
We removed the parsing related code from AMO which will land on -dev shortly, should land on -stage on Tue and go live on Thu. I'll close this as fixed but please feel free to re-open if there's something still broken.

[2016-05-09 12:51] #2564 closed

[2016-05-09 12:53] EnTeQuAk commented on #2460
QA: This removes all parsing for a `package.json` if present in the XPI-file, except for validation via `amo-validator` - so we're validating the `package.json` (very basic validation, mostly what `jpm` already does) but aren't using it's values.

This allows a WebExtension to have a `manifest.json` and a `package.json` and AMO should use the `manifest.json` and ignore the `package.json`.

Mostly

[2016-05-09 13:56] Ulf3000 commented on #2572
any addon ... i still see it in the android addon-store as android compatible and downloadable/installable,
even though i removed android support in the addon management on amo. we discussed this on irc addons channel and they said its a bug and i should file it here.

[2016-05-09 15:29] andymckay commented on #2586
I saw a couple of people reporting this with webextensions on prod, in the #webextensions channel.

[2016-05-09 15:33] muffinresearch commented on #2591
I think heading in the directions of constants is a good idea since eventually we should be at a point where the majority of the l10n should be happening on the client (in both the front-end server (node) and the client-side code thinking ahead to when we have a universal front-end powered by the API).

Right now we have code in addons-frontend that forks based on the type. Clearly that's not goin

[2016-05-09 15:40] kumar303 opened #2593 "Provision docker with a super creator"
When starting a new Docker instance of AMO, the automated tests need a way to generate a [super creator](https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#super-creation), I.E. a user with credentials to make POSTs to `/api/v3/accounts/super-create/`.

One possible solution is to introduce a management command that can be called like:

[code]

The script would:
- create a new

[2016-05-09 15:43] kumar303 commented on #2461
this will be done in https://github.com/mozilla/addons-server/issues/2593

[2016-05-09 15:43] #2461 closed

[2016-05-09 15:43] kumar303 commented on #2462
this will be done in https://github.com/mozilla/addons-server/issues/2593

[2016-05-09 15:43] #2462 closed

[2016-05-09 15:51] vasilicamihasca opened #2594 "[AMO-dev] Update_url error for webextension submission"
**Steps to reproduce:**
1. Try to submit the attached web-extension on AMO-dev

**Expected results:**
The webextension is successfully submitted.

**Actual results:**
The webextension is not submitted because of the following error: The "update_url" property is not allowed.

**Additional notes:**
- This issue reproduces on Amo-production using Firefox 49.0a1 (2016-05-08) under Windows 10 64-bit.
-

[2016-05-09 16:13] jvillalobos commented on #2572
Can you give one example so we can look into it?

[2016-05-09 16:18] mstriemer commented on #2591
I think returning constants seems like the right thing to do.

As far as keeping them in sync I'm not sure a package that exports to pypi and npm is the right solution. We did that with marketplace-constants and I wasn't crazy about it. It didn't feel like it caught any bugs and added a good amount of overhead.

My suggestion would be to store the constants in a JSON file in each repo with the sam

[2016-05-09 16:45] diox opened #2596 "Merge requirements dev.txt and test.txt, include prod_without_hashes.txt"
Our requirements are a mess. #2300 broke new installs (using docker or manual) because `prod_without_hashes.txt` is not included anywhere. It's used by tox and our deploy scripts so travis and prod/dev/stage continue to work normally... We should include it in `dev.txt`.

In addition, I'm not sure it's worth separating `dev.txt` and `test.txt` anymore, it adds complexity and I don't see a good rea

[2016-05-09 16:49] EnTeQuAk commented on #2596
Also, the ways we do `pip install` in our `Makefile` are different from what we're using in docker. I think in a dream world all tools would just use our `Makefile` and call `update_deps` so that we have one single source of "that's how it's installed, that's where index servers are defined" etc.

[2016-05-09 16:50] diox commented on #2596
This, a thousand times.

[2016-05-09 16:53] EnTeQuAk opened #2597 "Allow WebExtension optional ID independent of 'addons-linter' flag"
We don't have addons-linter enabled on prod yet but we need support for optional ids for webextensions there asap.

[2016-05-09 17:20] muffinresearch commented on #2591
I like @mstriemer's idea about off-loading the syncing problem as automation. Could be nicer than all the package wrangling.

[2016-05-09 17:33] diox commented on #2591
I like the idea, but is it really better than the package thing ? Ultimately instead of updating the constants package across all repos you need to fire up the sync task or whatever for all repos, which probably means a PR or at least a commit for each repos like the package bump would.

We may not need to solve this now depending on what data we want to display in disco pane / internal search ini

[2016-05-09 18:23] andymckay commented on #2594
This is by design, the `update_url` is not allowed, there might be bugs later that would alter this automatically for the user which would be nice.

This verifies that mozilla/addons-linter#565 works and I'll link in #2579 for some karma.

[2016-05-09 18:23] #2594 closed

[2016-05-09 18:26] #2597 closed

[2016-05-09 18:27] #2586 closed

[2016-05-09 18:47] diox commented on #2181
Random idea: skip last two steps, have it run automatically somewhere using a github hook, when new commits are pushed/merged.

[2016-05-09 18:50] EnTeQuAk commented on #2181
another random idea: get inspired by how https://greenkeeper.io/ works and does PR magic.

[2016-05-10 01:20] tsl143 commented on #2485
@andymckay-limited-access Kindly consider the PR

[2016-05-10 01:22] tsl143 commented on #2512
@tofumatt , screen shots attached

[2016-05-10 01:33] tsl143 commented on #2516
@muffinresearch , how to start with this?

[2016-05-10 01:34] tsl143 commented on #2509
@danny0838 ^^

[2016-05-10 01:47] tsl143 commented on #2482
@tofumatt isnt this already achieved?
![screenshot from 2016-05-10 07 16 31](https://cloud.githubusercontent.com/assets/5318732/15133283/322d3318-167f-11e6-8a93-d04c025cf280.png)

[2016-05-10 06:11] rctgamer3 commented on #2572
https://addons.mozilla.org/addon/realtime-ip-check

[2016-05-10 06:28] EnTeQuAk commented on #2591
First, I'm :+1: on returning string constants instead of the actual text-representation.

But I think I'm against syncing constants between repositories. Let's take a (imaginative) permission system for example, where you have `can_create_addon`, `can_modify_addon` permissions and constants on the backend (we have billions of those) as well as `can_delete_addon`.

All these are present in our back

[2016-05-10 06:41] danny0838 commented on #2509
@tsl143 It seems to work now for unknown reason. Thanks.

[2016-05-10 06:41] #2509 closed

[2016-05-10 07:12] ValentinaPC commented on #2586
Verified as fixed on AMO-dev FF46(Win 7)
Screenshot for this issue:
![2016-05-10_0917](https://cloud.githubusercontent.com/assets/15685960/15137159/7e0749de-1690-11e6-8fcb-4f9460b2d4fb.png)

[2016-05-10 09:13] vcarciu commented on #1858
I am not able to edit a canned response : http://screencast.com/t/Zj2RQlnH8E4

[2016-05-10 10:16] tofumatt commented on #2482
Good call, looks like #2157 fixed this; closing.

[2016-05-10 10:16] #2482 closed

[2016-05-10 12:01] ValentinaPC commented on #2560
This issue is still reproducing on AMO-dev FF46(Win 7).
Verified with both above web-extensions.
Screenshot for this issue:
![tabw](https://cloud.githubusercontent.com/assets/15685960/15145680/a98b9f5e-16bf-11e6-8f7c-e10abc43d28a.png)

@andymckay : I can check the "Override failed validation" box and continue with submission. I don't know is this is the intended behavior.

[2016-05-10 12:09] vcarciu commented on #2187
Verified as fixed. The unknown word error is not displayed anymore for both webextensions from above :
![unknownword](https://cloud.githubusercontent.com/assets/1583842/15145953/23be1ad0-16c1-11e6-8142-26e57b11f99d.png)

[2016-05-10 12:42] eviljeff commented on #1858
After testing, looks like we were #2248

[2016-05-10 12:42] #1858 closed

[2016-05-10 12:44] kewisch opened #2603 "Provide history for add-ons deleted and then uploaded again"
I just had a case where a developer had various negative editor review comments on his review page, but then managed to delete and re-upload the add-on. This deleted all those negative review comments, which might be tactics to get a clean sheet and a more lenient reviewer.

I'm not sure there is much we can/should do, but is there a chance we can retain old review comments in some way?

[2016-05-10 12:50] #2487 closed

[2016-05-10 13:02] vcarciu commented on #1858
Verified as fixed based on latest comment.

[2016-05-10 13:07] vasilicamihasca commented on #2564
Verified as fixed on Amo-dev using Firefox 49.0a1 (216-05-09) under Windows 10 64-bit.
- The attached add-on is not submitted on Amo-dev (No install.rdf or manifest.json found) but is successfully validated using amo-validator.
- I was also able to submit and install both webextension and add-on with a package.json. (https://addons-dev.allizom.org/en-US/firefox/addon/test-extension-1/ and https://

[2016-05-10 13:50] ValentinaPC commented on #1890
Verified as fixed on AMO-dev FF46(Win 7).
The web-extension without an ID are properly signed and can be installed as expected on FF49, but **not in FF46** and for this I've commented in https://bugzilla.mozilla.org/show_bug.cgi?id=1262005#c32

[2016-05-10 13:51] andymckay commented on #2560
Ah the linter changes haven't been merged over yet.

[2016-05-10 13:52] EnTeQuAk commented on #1890
@ValentinaPC I think this change landed for Firefox 48 so it's expected not to work in any version before that.

[2016-05-10 13:55] ValentinaPC commented on #1890
@EnTeQuAk: And what is expected to happen on Thursday when a user will try to install a web-extension on AMO-prod (that has a generated ID) and does not manage to do this?

[2016-05-10 13:56] vcarciu commented on #2525
Verified as fixed :
![themebackground](https://cloud.githubusercontent.com/assets/1583842/15148882/18295928-16d0-11e6-8b06-e605fff1297d.gif)

[2016-05-10 13:58] EnTeQuAk commented on #1890
Hmm, good question, cc @andym on this. Imho developers just have to make
sure to set the correct version dependencies if they're using this
feature, not sure we can do much about it.

On Tue, May 10, 2016, at 03:55 PM, ValentinaPC wrote:

Links:

  1. https://github.com/EnTeQuAk
  2. https://github.com/mozilla/addons-server/issues/1890#issuecomment-218164547

[2016-05-10 14:02] tofumatt commented on #2603
Worth noting that web extensions have optional IDs (we'll generate one for them server-side if they aren't included), so while we can tell that an add-on is from the same developer, in the future of web extensions we won't have a way to tie together the old and new add-on together 100% reliably (though same name + author is obviously a pretty easy target).

[2016-05-10 14:04] tofumatt commented on #2560
https://github.com/mozilla/addons-server/blob/master/package.json#L15 says addons-linter on AMO is up-to-date with out latest release (0.3.1).

Do we need to release a new version of the linter? I can do that ASAP.

[2016-05-10 14:20] andymckay commented on #2560
This fix came right after that tag 😞 , I don't think much else is coming in on the linter right now, another release probably won't hurt.

[2016-05-10 14:29] tofumatt commented on #2560
No prob, I’m on it!

[2016-05-10 14:39] #2560 closed

[2016-05-10 14:49] vcarciu commented on #2487
Verified as fixed :
![details](https://cloud.githubusercontent.com/assets/1583842/15150809/6b4e1e0c-16d7-11e6-97f0-008d95479f5f.png)

[2016-05-10 14:52] vcarciu commented on #2485
This is still reproducible :
![prelimtext](https://cloud.githubusercontent.com/assets/1583842/15150975/060f9024-16d8-11e6-83bd-7421daab3b3a.png)

[2016-05-10 14:55] madalincm opened #2606 "Reviews number in the required add-ons section is hard to read"
**Steps to reproduce:**
1. Open the detail page of an add-on that has a required add-ons section: https://addons-dev.allizom.org/en-US/firefox/addon/tab-mix-plus/?src=hp-dl-featured

**Expected results:**
The review number is easy noticeable.

**Actual results:**
Reviews number is very hard to read.

**Notes/Issues:**
Verified in FF46(Win7) Issue can be reproduce din amo-dev, stage and production

[2016-05-10 15:04] tofumatt commented on #2485
Makes sense, I just checked: it should only work for themes, not add-ons.

@tsl143 Can you move this rule outside `#persona-summary`?

[2016-05-10 16:04] andymckay-limited-access commented on #2603
This seems like a lot of effort for little gain.

[2016-05-10 16:04] #2603 closed

[2016-05-10 16:09] andymckay-limited-access commented on #2575
@jvillalobos any advice?

[2016-05-10 16:14] andymckay-limited-access commented on #2362
So does that mean no-one can review a flagged theme?

[2016-05-10 16:19] andymckay-limited-access commented on #2201
@jasonthomas is this the -dev server just being slow at celery/es/something else?

[2016-05-10 16:20] andymckay-limited-access commented on #2202
@muffinresearch could you check if this is the style refresh or something else please?

[2016-05-10 16:21] andymckay-limited-access commented on #2177
Based on #1859 and @kumar303 last comment, I think this can be closed.

[2016-05-10 16:21] #2177 closed

[2016-05-10 16:22] muffinresearch commented on #2202
There's no flag button in the markup .

[2016-05-10 16:23] andymckay-limited-access commented on #2169
Does it change eventually? Instantly is not a requirement.

[2016-05-10 16:27] andymckay-limited-access commented on #2125
Is this by design @eviljeff?

[2016-05-10 16:44] muffinresearch commented on #2596
In case it helps anyone else find this the error message seen here when hitting this issue is:

[code]

[2016-05-10 17:09] muffinresearch commented on #2596
As a hacky workaround you can run this to update the deps on docker:

[code]

The work + web services then need to be restarted either via supervisorctl on each running container or by just running `docker-compose stop && docker-compose up -d` the latter is probably more straight-forward.

Running `docker-compose pull` again will cause the bug to re-occur until this issue is fixed.

[2016-05-10 17:11] muffinresearch commented on #2596
I think it would be worth doing a quick fix to sort out restoring the dev environment and then a more ideal solution to deps handling should happen after that.

[2016-05-10 17:12] muffinresearch commented on #2596
Marking this a priority one since our development environment is broken and that's impacting devs and also contributors.

[2016-05-10 17:39] tofumatt opened #2608 "Themes Homepage: unify "create your own theme" section"
See: https://github.com/mozilla/addons.mozilla.org-mod/issues/13

[2016-05-10 17:43] andymckay-limited-access commented on #2502
How about we just remove these?

[2016-05-10 17:44] eviljeff commented on #2125
Yeah, it was #1107

[2016-05-10 17:46] tofumatt commented on #2503
Remove `#search-facets .facets .facet > ul { overflow-y: auto; }`

[2016-05-10 17:47] eviljeff commented on #2125
It says "The files awaiting review will be disabled and you will need to upload new versions. " in the dialog too.

[2016-05-10 17:47] #2125 closed

[2016-05-10 17:52] tofumatt commented on #2446
At the very least, this button should be grey.

[2016-05-10 17:56] jasonthomas commented on #2201
This is similar to https://github.com/mozilla/addons-server/issues/2295 which I am currently investigating.

[2016-05-10 17:58] tofumatt commented on #2398
Seems fixed now.

[2016-05-10 18:01] andymckay-limited-access commented on #2436
Unless this is hurting anyone, its probably not worth worrying about until we do the rewrite.

[2016-05-10 18:01] #2436 closed

[2016-05-10 18:04] tofumatt commented on #2406
Remove `.thunderbird .listing-grid .install-shell { display: none; }`

[2016-05-10 18:07] andymckay-limited-access commented on #2160
Changing those font sizes break the carousels again and caused developers to weep.

[2016-05-10 18:07] #2160 closed

[2016-05-10 18:08] #2364 closed

[2016-05-10 18:09] muffinresearch commented on #2202
This is the condition for the flag button:

https://github.com/mozilla/addons-server/blob/7a6b9ce050a0b3f1cf76dc8a1773cba1de770bc8/src/olympia/editors/templates/editors/themes/themes.html#L90

Looks like this might be a re-review in which case this is expected.

[2016-05-10 18:10] #2349 closed

[2016-05-10 18:11] #2339 closed

[2016-05-10 18:12] #2311 closed

[2016-05-10 18:13] #2294 closed

[2016-05-10 18:15] #2255 closed

[2016-05-10 18:16] #2256 closed

[2016-05-10 18:16] andymckay-limited-access commented on #2256
This should be totally fixed.

[2016-05-10 18:16] tofumatt commented on #2256
Should now be fixed.

[2016-05-10 18:18] andymckay-limited-access commented on #2195
This is a dupe of mozilla/addons#105

[2016-05-10 18:19] #2161 closed

[2016-05-10 18:19] andymckay-limited-access commented on #2161
These carousels all have images, this is done.

[2016-05-10 18:19] tofumatt commented on #2275
Is there any update on this? If not I think we should close it.

[2016-05-10 18:21] eviljeff commented on #2097
It only gets cleared if you add a comment.
This  [commit ](https://github.com/mozilla/addons-server/commit/a3416de8d62db41ca8d8a898d0477f26c9bd2c5f) added it and the commit seems to match the requesting [bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1117329).  @jvillalobos anything to do here?

[2016-05-10 18:23] #2172 closed

[2016-05-10 18:25] #2153 closed

[2016-05-10 18:27] andymckay-limited-access commented on #2179
Why are these tabs? Can we just make them links.

[2016-05-10 18:30] #2134 closed

[2016-05-10 18:55] kewisch commented on #2568
I've had something like this before on an upgrade, but it fixed itself when I reinitialized everything from scratch. Does cleaning up and running `make initialize_docker` again do anything for you?

[2016-05-10 18:56] andymckay-limited-access commented on #2506
Done in https://github.com/mozilla/addons-server/pull/2522

[2016-05-10 18:56] #2506 closed

[2016-05-10 19:00] kewisch commented on #2544
That may actually work. But I am also on the fence if it is actually a good thing. Imagine the edge case that the user's email got compromised, the user therefore deletes the fxa account and creates a new one. The attacker could recreate the fxa account and then sign in to AMO.

[2016-05-10 19:55] eviljeff commented on #2544
If the user's email account got compromised then any password reset email AMO sent (as [suggested](#issuecomment-216669763)) would also then be compromised.

[2016-05-10 20:17] atsay commented on #2275
Please don't close it. @pwalm -- can you provide the design?

[2016-05-10 20:17] jvillalobos commented on #2097
If the reviewer clicks on "clear flag", I think it should do so regardless of the review action. The only exception would be when sending a new info request. CC @wagnerand who filed the original bug.

[2016-05-10 20:22] eviljeff commented on #2097
well, really its only the sending the new info request case that would need to be changed anyway - the others clear the add-on from the queue so it's irrelevant after.

[2016-05-10 20:24] kewisch commented on #2544
Ok, true, sorry about that. Just gives me an uneasy feeling that re-creating a deleted account would give back access to another system. I'll think of a better use case before I dig further.

[2016-05-10 20:24] jvillalobos commented on #2097
But if a new version is submitted the flag will still be there, no?

[2016-05-10 20:28] eviljeff commented on #2097
afaik its a per version flag and not inherited (someone else can confirm)

[2016-05-10 20:34] jvillalobos commented on #2362
Apparently it depends on how you navigate the queues.

STR:
1. Go to [flagged queue page](https://addons.mozilla.org/editors/themes/flagged).
2. Click on any of the themes in that queue.

Result:
This takes you to the usual review page for a theme ([for example](https://addons.mozilla.org/editors/themes/queue/single/anime-34)). This page doesn't have the buttons, as this issue states.

_However_,

[2016-05-10 20:41] pwalm commented on #2275
Is that not enough guidance above? I can give actual specs later this week, got roped into some Townhall-related design work.

[2016-05-10 20:49] jvillalobos commented on #2575
The compatibility info on AMO _should_ override what's in the manifest, since that what the developer has control over after the version has been uploaded. I don't know if complete themes are special-cased because they have strict compatibility set, or if this has anything to do with #2572.

[2016-05-10 21:22] davehunt opened #2613 "Add several add-ons to sample data in local deployment"
Currently the sample data does not include actual add-ons (attempting to install any add-on results in failure). We want to be able to run end-to-end tests against an instance started locally or in continuous integration, so would need add-ons with predictable names for testing.

The following add-on types have been identified as necessary:
- Restart / No-restart
- SDK / non-SDK
- WebExtension

[2016-05-10 21:35] #2175 closed

[2016-05-10 22:07] #2131 closed

[2016-05-10 23:01] #2559 closed

[2016-05-11 08:04] EnTeQuAk commented on #1890
damn, ment to cc @andymckay and mistyped the name.

[2016-05-11 09:17] ValentinaPC commented on #2161
Verified as fixed on AMO-dev FF46(Win 7).
Postfix screenshots:
![1](https://cloud.githubusercontent.com/assets/15685960/15176147/53391f88-1772-11e6-96ca-0beab83dc7a3.png)
![2](https://cloud.githubusercontent.com/assets/15685960/15176152/57f870c8-1772-11e6-80e2-8e60be3d0594.png)
![3](https://cloud.githubusercontent.com/assets/15685960/15176157/5baeea80-1772-11e6-820d-90c612858bca.png)

[2016-05-11 09:38] ValentinaPC commented on #2125
Yes, it says and I've missed that.
Screenshot:
![true_fact](https://cloud.githubusercontent.com/assets/15685960/15176746/3ace8fac-1775-11e6-825b-86fa6eccee7c.png)

[2016-05-11 09:52] ValentinaPC commented on #2195
The issue is not fixed.
Verified on AMO-dev using Chrome Version 50.0.2661.94 m.
See the screenshot:
![2016-05-11_1244](https://cloud.githubusercontent.com/assets/15685960/15176989/6ed869f2-1776-11e6-90fc-b5ac0f598d3c.png)
or the link: https://addons-dev.allizom.org/en-US/firefox/addon/foxtrick/?src=cb-dl-users

@andymckay-limited-access : are you sure about the dupe part? Thanks!

[2016-05-11 09:59] ValentinaPC commented on #2256
Verified as fixed on AMO-dev FF46(Win 7).
Postfix screenshots:
![long_name](https://cloud.githubusercontent.com/assets/15685960/15177343/2df2a4a0-1778-11e6-90e0-1be18be6ed9c.png)
![hover](https://cloud.githubusercontent.com/assets/15685960/15177347/32c0f464-1778-11e6-835d-619c03f1750b.png)

[2016-05-11 10:08] ValentinaPC commented on #2398
Seems, but is not. :smile:
Verified on AMO-dev FF46(Win 7).
Please load the next page: https://addons-dev.allizom.org/he/firefox/themes/seasonal
and hover over any theme listed in "Recently Added/Most Popular/Top Rated"
Screenshot:
![2016-05-11_1308](https://cloud.githubusercontent.com/assets/15685960/15177583/79fafb4e-1779-11e6-813c-40a4064cbcb2.png)

[2016-05-11 10:11] tofumatt commented on #2275
No rush; we were doing a style refresh triage yesterday and I didn't know if this was all that was needed or not as it was style assigned to you. I figured if nothing moved on it it wasn't too important, but seems like it is 😄

Specs would be extra awesome, thanks 👍

[2016-05-11 10:22] ValentinaPC commented on #2512
The issue with long themes name at hover was successfully fixed.
Please see the screenshot:
![2016-05-11_1320](https://cloud.githubusercontent.com/assets/15685960/15177917/456c0c72-177b-11e6-9132-6e1a031d0741.png)

But, another thing is happening now. I'll track that issue separately and close this.

[2016-05-11 10:22] #2512 closed

[2016-05-11 10:30] ValentinaPC opened #2615 ""+Add" Themes button is in the wrong side"
Steps to reproduce:
1. Load themes page https://addons-dev.allizom.org/en-US/firefox/themes/
2. Hover over any theme and observe the "+Add" button

Expected results:
The button is in the right side after the theme name.

Actual results:
The button is in the left side.

Notes/Issues:
Verified on FF46(Win7). Issue is reproduced on AMO-stage and dev.
Screenshot for this issue:
![2016-05-11_1326](http

[2016-05-11 10:32] tofumatt commented on #2615
This is intended behaviour; we're now moving the button below the text.

[2016-05-11 10:32] #2615 closed

[2016-05-11 10:37] ValentinaPC commented on #2560
Verified as fixed on AMO-dev FF46(Win 7) using the above extensions, the validation works as expected.
Please see the screenshots:
![submit](https://cloud.githubusercontent.com/assets/15685960/15178307/76df5eba-177d-11e6-80d9-983b731cf0c5.png)
![report](https://cloud.githubusercontent.com/assets/15685960/15178311/7ace0a12-177d-11e6-9514-7f42ac512964.png)

[2016-05-11 10:58] tofumatt opened #2616 "Docker for Mac doesn't like the entrypoint bash script"
Using the (in beta) Docker for Mac, our script that creates a new `olympia` user fails for the worker image and means we can't boot docker/addons-server.

If I remove this line: https://github.com/mozilla/addons-server/blob/master/docker-compose.yml#L4

It's all fine; everything starts up no problem and I can run `make initialize_docker`, then navigate to `0.0.0.0` and get Add-ons site.

Not sure

[2016-05-11 11:06] tofumatt opened #2617 "No add-ons present in new development install"
I just did a fresh install of AMO because I switched to Docker for Mac; everything started okay and I seemed to have populated the DB:

<img width="1350" alt="screenshot 2016-05-11 12 04 42" src="https://cloud.githubusercontent.com/assets/90871/15178922/91f0d72c-1770-11e6-9275-7c8aea7cc7fa.png">

But none of those extensions appear on the front page or in search results:

<img width="1350" alt="sc

[2016-05-11 11:51] muffinresearch commented on #2616
Looking at the problem I think we need to wait for a fix on docker's side because we do still want that user change to prevent files being written to the volume  as if they are owned by root.

What is happening on the mac beta is the script that introspects the volume for the ownership sees it as if it's owned by root and then tries to create a user with root's uid which will fail because it alrea

[2016-05-11 11:52] tofumatt commented on #2616
Yeah, I assumed removing it was a “quick fix” for me, but not something we want to do forever. 😀

[2016-05-11 11:54] muffinresearch commented on #2616
Fortunately it does sound like it will get fixed in the beta in due course.

[2016-05-11 12:01] #2348 closed

[2016-05-11 12:31] vcarciu commented on #2131
Verified as fixed :
![noshare](https://cloud.githubusercontent.com/assets/1583842/15180987/5f4f3f4e-178d-11e6-8e0d-641b3e332363.png)

[2016-05-11 12:32] vcarciu commented on #2519
@mstriemer : can you please add some STRs to this bug or add qa- label?

[2016-05-11 12:48] #2503 closed

[2016-05-11 12:51] vcarciu commented on #2485
This issue is still reproducible like in my previous comment

[2016-05-11 12:58] tofumatt commented on #2485
Alright, I'll take this and fix it. 😄

@tsl143 In the future, can you please test these changes locally with the code you submitted? Both times you included CSS that was nested in the wrong selector.

[2016-05-11 12:58] vcarciu commented on #2559
Verified as fixed :
![szia](https://cloud.githubusercontent.com/assets/1583842/15181683/315dd0c4-1791-11e6-88ae-ad1df351a2e1.png)

[2016-05-11 13:02] vcarciu commented on #2536
@EnTeQuAk : can you please add some STRs to verify this bug or add qa- label?

[2016-05-11 13:05] tofumatt commented on #2445
The current hover effect seems to work fine and I don't think this is a worthwhile fix when we are looking to close the number of style refresh bugs and will eventually replace things.

I'm going to close as won't fix.

[2016-05-11 13:05] #2445 closed

[2016-05-11 13:10] vcarciu commented on #2506
Verified as fixed :
![revoke](https://cloud.githubusercontent.com/assets/1583842/15181988/e553b098-1792-11e6-99a0-baf271761c3c.gif)

[2016-05-11 13:13] vcarciu commented on #2175
Verified as fixed  :
![padd](https://cloud.githubusercontent.com/assets/1583842/15182066/45e14bd2-1793-11e6-9a87-6321245872fd.png)

[2016-05-11 13:21] mstriemer commented on #2519
If login works it's working. No need to qa that.

[2016-05-11 13:37] ValentinaPC commented on #2615
This intended behavior is causing an issue in theme details page:
Please see the screenshot:
![2016-05-11_1635](https://cloud.githubusercontent.com/assets/15685960/15182694/9042202c-1796-11e6-9b61-5d926055e2c0.png)

@tofumatt : let me know if we should track this separately ?

[2016-05-11 13:38] tofumatt commented on #2615
Yes, please make that a separate issue and assign it to me.

[2016-05-11 13:42] ValentinaPC opened #2622 "[+Add] button appears cut in "More..." section from theme details page"
Steps to reproduce:
1. Load details page for any theme in AMO-stage https://addons.allizom.org/en-US/firefox/addon/moomin-night-browsing/
2. Hover over any theme from "More.." section

Expected results:
There are no display or layout issues.

Actual results:
The "+Add" button appears cut.

Notes/Issues:
Verified on FF46(Win 7). Issue is reproducing on AMO-stage and dev.
Screenshot for this issue:

[2016-05-11 13:47] vasilicamihasca commented on #2348
Verified as fixed on Amo-dev using Chrome 50.0.2661.94 under Windoes 10 64-bit.
Firefox download button is correctly displayed.
Postfix screenshots:
![2016-05-11_1643_001](https://cloud.githubusercontent.com/assets/18114210/15183010/e8291ae2-1797-11e6-846f-e8ff13e5f06a.png)
![2016-05-11_1643](https://cloud.githubusercontent.com/assets/18114210/15183021/f46d265e-1797-11e6-89f2-940f65e5f83a.png)

[2016-05-11 13:59] davehunt commented on #2596
I'm probably doing something wrong, but the workaround isn't working for me. I added https://github.com/davehunt/addons-server/commit/dd9b7eebddf355c1da29587f334ed62a72788f1f to my branch with experimental CircleCI builds ([docker exec is not supported](https://circleci.com/docs/docker/#docker-exec)). Any other suggestions that might unblock me?

[2016-05-11 14:09] tofumatt commented on #2446
Looking at the markup, it seems this should not be installable when not available for the user's platform. There doesn't appear to be an "install anyway" button in the markup, so I think this should just be disabled. That's what I'll implement here.

[2016-05-11 14:11] ValentinaPC commented on #2520
This is happening on on Firefox 46 too, after successfully installing https://addons.allizom.org/en-US/firefox/addon/english-us-language-pack/ the browser crashes.

I know it isn't an AMO issue, but someone should fix this as soon as possible (from my point of view).

[2016-05-11 14:11] tofumatt commented on #2446
Nope, I'm wrong, at least kind of. It works on the  `FT Deep-stage-prelim 1` link but not  `add-阜阜^#$% 1 `

[2016-05-11 14:15] vcarciu commented on #2503
Verifed as fixed :
![alleversion](https://cloud.githubusercontent.com/assets/1583842/15183937/ecd778e6-179b-11e6-9e31-8591ba054431.png)

[2016-05-11 14:18] muffinresearch commented on #2596
@davehunt - not sure. We really need a better fix for this. You could try running those commands after  `scripts/setup-docker.sh`

[2016-05-11 14:22] ValentinaPC commented on #2195
This is still happening in AMO-dev FF46(Win 7).
Please see the screenshot:
![2016-05-11_1721](https://cloud.githubusercontent.com/assets/15685960/15184204/e9dd23ce-179c-11e6-81b2-d50b81d812fd.png)

[2016-05-11 14:32] ValentinaPC opened #2624 "A new-unapproved file for an approved add-on breaks the" View Listing" page"
Steps to reproduce:
1. Submit an add-on in AMO-stage https://addons.allizom.org/en-US/developers/addon/submit/2 and approve it
2. Add a new file for that add-on (without approve) (i.e. https://addons.allizom.org/en-US/developers/addon/pinit-stage/versions/1701356)
3. Click the "View Listing" link

Expected results:
Add-on details page is loaded.

Actual results:
A 404 page is displayed.

Notes/Iss

[2016-05-11 14:32] andymckay commented on #2195
Ah thanks its mozilla/addons#104.

[2016-05-11 14:33] andymckay commented on #2596
My local docker instance is hosed now too :(

[2016-05-11 16:04] ValentinaPC commented on #2482
Verified as fixed on AMO-dev FF46(Win 7).
Postfix screenshot:
![addondetails](https://cloud.githubusercontent.com/assets/15685960/15187227/fc18c8fc-17a8-11e6-8c5d-8273e3d192ad.png)

[2016-05-11 16:09] diox commented on #2447
Note: we want https://github.com/mozilla/addons-server/issues/2591 to be done first.

[2016-05-11 16:31] EnTeQuAk opened #2627 "Show info message that if the validation output comes from addons-linter"
We have those little notification boxes in the preliminary validation result screen once you submit an add-on. Let's use those boxes to show the users a small info message like "Hey, we're trying out a new linting library, if there are any errors please report them here ..."

[2016-05-11 17:04] stupchiy opened #2629 "Addon does not appear in My Favorites collection on addons-dev for some time after submission"
Looks like the same or related to #2442 . There is [an automated tests](https://github.com/stupchiy/Addon-Tests/blob/4ea76773b5d05be0856788cdb9bff2cb0caa2b9f/tests/desktop/test_collections.py#L52-L71), which is currently failing on https://addons-dev.allizom.org  due to the addon not appearing when expected, even manually refreshing the page doesn't show the add-on was added to that collection (de

[2016-05-11 20:04] andymckay commented on #2502
I'm just going to remove this as soon as I can get docker working again.

[2016-05-11 21:03] jasonthomas commented on #2201
I switched to faster caching instances on -dev and I can no longer replicate this issue.

Tested with https://addons-dev.allizom.org/en-US/firefox/addon/addthis1

[2016-05-11 21:32] jasonthomas commented on #2442
Can we run this test again on -dev? I made changes to our caching instances. I believe the previous instances were causing performance issues.

[2016-05-12 03:18] tsl143 commented on #2485
@tofumatt apologies, but I was unable to test that locally as my docker image was unable to run after pull.
This is the issue https://github.com/mozilla/addons-server/issues/2596 referring the docker image

[2016-05-12 08:04] EnTeQuAk commented on #2617
hmm, did you also run `make initialize_docker`? This should populate data and start the reindexing process. Is elasticsearch and the `worker` container running properly?

[2016-05-12 09:11] tofumatt commented on #2617
I did, and I even ranreindex. It said it only completed one reindexing
task. Maybe ES is not running? How would I check?

- tofumatt

On 12 May 2016 at 09:04:06, Christopher Grebs (notifications@github.com)
wrote:

[2016-05-12 09:40] davehunt commented on #2442
@jasonthomas looks like it's passing now! 👍

[2016-05-12 09:40] #2442 closed

[2016-05-12 09:41] davehunt commented on #2629
@stupchiy can you check again now that #2442 is resolved?

[2016-05-12 10:08] ValentinaPC opened #2636 "Theme title is under [+Add] button in User Info page and not above"
Steps to reproduce:
1. Sign in to AMO-stage page https://addons.allizom.org/en-US/
2. Load User Info page for any user i.e. https://addons.allizom.org/en-US/firefox/user/MissTracee/
3. Hover over any theme

Expected results:
Theme button is under theme name.

Actual results:
Theme button is above theme name.

Notes/Issues:
Verified on FF46(Win 7). Issue is reproduced in AMO-stage and AMO-dev.
Scre

[2016-05-12 10:17] ValentinaPC commented on #2636
@tofumatt : Also, theme install button does not work as expected, returning an error in the console. Will this also be fixed by this or we need to log an issue, separately?

[2016-05-12 10:17] tofumatt commented on #2636
If the install button is not working that is a separate and blocks release issue; please file it separately and assign to me.

[2016-05-12 10:23] ValentinaPC opened #2637 "Themes cannot be installed from User Profile page"
Steps to reproduce:
1. Sign in to AMO-stage page https://addons.allizom.org/en-US/
2. Load User Info page for any user i.e. https://addons.allizom.org/en-US/firefox/user/MissTracee/
3. Try to install any theme listed there

Expected results:
Theme can be installed.

Actual results:
Theme cannot be installed.

Notes/Issues:
**Issue is not reproduced in any other themes pages.** A JS error is displa