[2020-03-23 14:24] #13532 closed

[2020-03-23 14:28] #13797 closed

[2020-03-23 15:11] AlexandraMoga commented on #13532
I've double checked that a regular content reviewer can indeed Approve/Reject content for an approved Recommended add-on. This should cover the metadata changes edge case discussed above.

[2020-03-23 15:33] eviljeff commented on #13689
No, we're reserving those issues for applicants to https://www.outreachy.org/ for now (after the selection period is over we'll likely re-label them as contrib:welcome)

[2020-03-23 15:35] #13307 closed

[2020-03-23 15:50] AlexandraMoga commented on #9118
@diox
I can see  `Access-Control-Allow-Origin: *` in the response header for the following request:
[code]
but I'm not seeing it for this request:
[code]

[2020-03-23 16:05] junngo commented on #13689
I knew today that there was a good program.
Thanks for letting me know :)

[2020-03-23 16:17] diox commented on #9118
@AlexandraMoga that second request will be covered by https://bugzilla.mozilla.org/show_bug.cgi?id=1620084 (it requires ops involvement)

[2020-03-23 16:27] wagnerand commented on #13795
The updated query to cover all relevant files is:
[code]

(`LIMIT` of the subquery removed)

[2020-03-23 17:05] #12413 closed

[2020-03-23 17:05] #13072 closed

[2020-03-23 17:23] jvillalobos opened #13806 "Restrict content review for Recommended Extensions"
Currently, all content reviewers can content review Recommended extensions. Instead, we only want this for users who also have permission to review Recommended extensions.

So, if a user has content review permission but no recommended review permission and is looking at the content review page for a Recommended extension:

* The page should not allow content review actions.
* A message should be

[2020-03-23 17:23] jvillalobos commented on #13806
Oh, forgot to reference the old issue that triggered this: https://github.com/mozilla/addons-server/issues/13532

[2020-03-23 17:35] bqbn commented on #13795
This is done. Last run updated 22K rows.

[code]

[2020-03-23 17:36] wagnerand commented on #13795
Thank you, @bqbn!

[2020-03-23 17:36] #13795 closed

[2020-03-23 22:29] caitmuenster commented on #13392
@diox Not that I'm aware of! I have a note to check in on this this week.

[2020-03-23 22:57] caitmuenster commented on #9158
I'd like to keep this open.

[2020-03-23 23:00] caitmuenster commented on #10028
I'd like to re-open this and tie it into the Outreachy project for updating the AMO Theme Generator.

[2020-03-23 23:04] diox commented on #9158
There is a `neverstale` label for that, but it's not going to help much if nobody has time to work on it.

Why do we want to keep this opened anyway ? We removed the automatic re-review in https://github.com/mozilla/addons-server/issues/10095 and then implemented a content re-review trigger based on metadata changes in https://github.com/mozilla/addons-server/issues/13044, does that not cover the

[2020-03-24 07:04] yookoala commented on #5829
I don't think there is any improvement on the situation. Please keep this issue open.

[2020-03-24 08:59] AlexandraMoga commented on #12413
@spoji would you be able to tell me exactly what reviewer permissions you are using besides `ReviewerTools:View`?
I'm trying to reproduce your issue on stage before verifying the fix on -dev and I need to make sue I'm testing the correct scenario.

[2020-03-24 09:33] AlexandraMoga commented on #13072
Verified fixed on -dev.
There is now an option to Reject multiple versions for previously approved themes:

![image](https://user-images.githubusercontent.com/31961530/77409890-b2426480-6dc2-11ea-90df-95f25def305b.png)

[2020-03-24 10:09] eviljeff commented on #10028
This issue needs some rescoping based on @jvillalobos 's comments https://github.com/mozilla/addons-server/issues/10028#issuecomment-440425755 - just adding the tab_line property isn't the complete fix.

Potentially also there needs to be warnings about using similar colors; a (big) update to the wizard to show the find bar (and how that affects the current rendered preview); and some documentatio

[2020-03-24 11:33] apsychogirl commented on #13690
Hi, I want to work on this. Can you please explain what fixes do I need to make here?

[2020-03-24 12:33] AlexandraMoga commented on #13307
Verified fixed on -dev.
The Submission logs are trimmed now:

![image](https://user-images.githubusercontent.com/31961530/77426005-4d940380-6ddc-11ea-86c0-ef6f18168c6c.png)

![image](https://user-images.githubusercontent.com/31961530/77426038-5f75a680-6ddc-11ea-980b-ce1f8a8f6038.png)

![image](https://user-images.githubusercontent.com/31961530/77426053-63a1c400-6ddc-11ea-92ce-9e3674a30225.png)

[2020-03-24 12:51] AlexandraMoga commented on #13694
@eviljeff I guess that in order to test this I need to make sure there are no changes made to the AMO blocklist after the `last_modified` time returned in https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-mlbf/records

[2020-03-24 12:53] spoji commented on #12413
@AlexandraMoga I don't know which permissions I have on prod. @diox (or another Mozilla employee working on AMO) could dig this up for you.

[2020-03-24 13:10] eviljeff commented on #13694
yes.  If there aren't any changed/new Blocks then there shouldn't be a new record created.

[2020-03-24 14:04] #13689 closed

[2020-03-24 15:36] AlexandraMoga opened #13812 "in blocklist/block api url shouldn't be "/" if empty"
Follow up for mozilla/addons-frontend#9216

### Describe the problem and steps to reproduce it:
1. Open the following blocked addon  page: https://addons-dev.allizom.org/en-US/firefox/addon-blocked/pt-BR-1971@dictionaries.addons.mozilla.org/
2. Click on the 'View block request' link

### What happened?
You land on AMO homepage

### What did you expect to happen?
The 'View block request' link shoul

[2020-03-24 15:45] eviljeff commented on #13701
@leplatrem did I do this correctly? -  I'm just setting `to-sign` on the collection (like we set `to-review` for collections that need signoff) after the record has been added/updated.  https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/kinto.py#L170

[2020-03-24 16:13] eviljeff commented on #13812
An empty string is pretty much what's expected - that's the default value.

[2020-03-24 16:18] eviljeff commented on #13812
Would you prefer `null` rather than an empty string?

[2020-03-24 16:23] Akhila499 commented on #4092
HI @diox @eviljeff Although I worked on Python programming before this is my first time working in a linux and open source environment. Pardon me for being slow to catch up. I am having trouble installing and running the addons webserver. I tried all I can. I am unable to run the webserver.

Initially, I had issues with docker-compose. Now, I am past that and currently facing issues with Django an

[2020-03-24 16:25] avgupt commented on #10028
Can I start working on this issue once the details are figured out? @caitmuenster

[2020-03-24 16:34] willdurand commented on #13812
I don't mind the `null` vs empty string for an empty URL. The docs say it could be `null`: https://addons-server.readthedocs.io/en/latest/topics/api/blocklist.html, but empty string is fine.

The problem is that the API returns the value `/` for a block with an empty URL but only when the outgoing query param is added to the API URL.

[2020-03-24 16:34] avgupt commented on #4092
@Akhila499 What command did you run?

[2020-03-24 16:40] wagnerand opened #13813 "Block webextension files only"
Before an add-on version is added to the blocklist, AMO should check whether any files belonging to that version are both webextensions and signed.

If so, add the version to the list.
If not, skip it.

[2020-03-24 16:46] eviljeff commented on #13813
Only blocks that have a matching addon guid in the database would be imported so I assume these Addons exist in the database in some form/status.  Is this expected?

[2020-03-24 16:48] wagnerand commented on #13813
Yes, but not every single add-on/version/file that is in the database is also worth blocking.

If the file was not signed, we don't need to block it. Likewise, if the file is not a webextension, we don't need to block it either because all currently supported types of add-ons are some kind of webextension.

[2020-03-24 16:49] eviljeff commented on #13813
@jvillalobos were these addons/versions considered during the PRD stage (I couldn't remember anything but haven't re-read the docs) and does that sound reasonable?

[2020-03-24 17:10] leplatrem commented on #13701
It seems correct.

I'm surprised you didn't use the kinto-http.py package! It's not mandatory as you could see, but it manages a couple of things, like precondition headers etc.

And I don't know if it's too late, but I'd recommend removing the mentions of «kinto» (the implementation) in your code and replace them with «remote settings» (the service).

[2020-03-24 17:12] Akhila499 commented on #4092
I finished 'docker-compose up -d' and
This is the output after 'make initialize'

[2020-03-24 17:22] eviljeff commented on #4092
it's not really practical to debug setup problems via an issue (and it makes the issue harder to follow because the setup problems are unrelated to the actual bug/feature).  Please join us on https://chat.mozilla.org/#/room/#amo:mozilla.org

[2020-03-24 18:25] #13678 closed

[2020-03-24 20:13] jvillalobos commented on #12413
As far as I can tell, he has `Addons:Review` and `Addons:PostReview`

He doesn't have `Addons:RecommendedReview`.

[2020-03-24 20:32] jvillalobos commented on #13813
We should have disabled all legacy files on https://github.com/mozilla/addons-server/issues/9472, but I don't think we followed up on deleting them. Makes sense to filter by WE and being signed. Same for the unblocked versions being fed into the bloom filter, I think.

[2020-03-25 06:25] junngo commented on #13729
Can I work on it?

[2020-03-25 08:21] #13361 closed

[2020-03-25 08:49] AlexandraMoga commented on #12413
Since the fix is on stage now, I'm no longer able to reproduce the issue described above when the permissions mentioned are used.
In any case, if the user has `Addons:Review` and `Addons:PostReview` only the options to Reply, Request super review and Comment are available.

![image](https://user-images.githubusercontent.com/31961530/77518207-019d9900-6e86-11ea-90fd-30c1c71d2d54.png)

I'm marking t

[2020-03-25 10:08] AlexandraMoga commented on #13678
@diox since we couldn't identify exactly how the add-ons found on prod had no name, I'm not sure if my test method is correct.
Here is what I've done:
- I've submitted an unlisted add-on with no `"name"` defined in the manifest
- I've used the admin Override failed validation to allow the add-on to pass submission
- the add-on was created without a name but it had a valid version
- I've waited a f

[2020-03-25 10:08] willdurand commented on #12947
I removed this issue from the Project for now because we discussed this issue again and there is currently no obvious solution to fix it. In addition to that, there seems to be two slightly different use cases: one for the scanner results and the other one for the code search results.

[2020-03-25 10:18] diox commented on #13678
That should be ok, yeah. I've verified in dev and it has no name indeed. This is a good add-on to keep around for testing various stuff with :)

[2020-03-25 12:43] bobsilverberg commented on #13634
@diox Links to the legacy file viewer for both the Browse and Compare pages have now landed in addons-code-manager, so I believe this issue can now be worked on.

[2020-03-25 12:45] #13812 closed

[2020-03-25 12:59] #13806 closed

[2020-03-25 13:14] AlexandraMoga commented on #13361
I've verified the new 'By all but this rule' filter and it seems to be working as expected.
@willdurand I have one observation regarding scanner results with multiple matched rules. If one of those matched rules is filtered out, the scanner result will be hidden from view entirely. I'm not sure if we can or need to address this use case.

[2020-03-25 13:17] willdurand commented on #13361
I think this is the expected behavior. I am not sure to know how we can do it otherwise. This filter isn't used by default so I guess that's fine for now. We'll see once @wagnerand starts using it.

[2020-03-25 15:14] ioanarusiczki commented on #13806
@diox
 - content reviewers can't review recommended add-ons.

![cannot review recommended](https://user-images.githubusercontent.com/33448286/77551439-03358400-6ebb-11ea-8842-8f1522227fef.png)

- the recommended extension reviewers can approve or reject content for recommended addons.

I've noticed that after approving or rejecting content the page looks contradictory, there's a confirmation of th

[2020-03-25 15:21] diox commented on #13806
That's the typical edge case caused by users not having the right to view the queue they are redirected to, and that's fine - we don't expect recommended reviewers to not have content review permission, and we don't expect them to content review that often anyway (they should just do a full review).

[2020-03-25 15:43] eviljeff opened #13821 "only include signed/webext files when generating list of guid, version to block in mlbf"
split from #13813
"not every single add-on/version/file that is in the database is also worth blocking.

If the file was not signed, we don't need to block it. Likewise, if the file is not a webextension, we don't need to block it either because all currently supported types of add-ons are some kind of webextension."

[2020-03-25 15:43] eviljeff commented on #13813
I'm going to split this issue into work on the `import_blocklist` command (not importing blocks that don't have _any_ valid versions on AMO); and work on creating the bloom filter (not including unsigned versions/files in the blocked list)  #13821 for the latter.

[2020-03-25 17:04] ioanarusiczki commented on #13806
@diox Yes, @AlexandraMoga told me she encountered this issue and already discussed it with you.
I'm marking this verified on AMO dev with FF74(win10).

[2020-03-25 17:08] #13332 closed

[2020-03-25 17:09] #13303 closed

[2020-03-25 17:32] diox commented on #13634
A potential issue we noticed is that because of the git extraction errors, we might encounter a version for which the APIs will return 404, and the code manager will show an error page. We need to check if in that case, the API code-manager depends on to figure out the file id does return an error or not: if it doesn't, then maybe the code-manager can display the legacy link as normal, but if it d

[2020-03-26 09:54] wagnerand commented on #12446
Sounds like something we want to fix.

[2020-03-26 09:57] wagnerand commented on #13634
As far as I know, we set `version.git_hash` when the extraction succeeded. Maybe we could use that to determine which tool to link to?

[2020-03-26 10:25] diox commented on #13634
Yes. But:
- We don't know if that's entirely reliable - we don't know if there have been git extraction issues on versions that do have a `git_hash` set.
- This means the reviewer wouldn't know beforehand which tool the link goes to

So ideally, I'd prefer to follow the initial proposal (always link to code manager, provide fallback there) and find a way to make it work even when there have been g

[2020-03-26 11:47] eviljeff opened #13830 "Fix file_factory to create File objects that are `is_signed` when approved, and `is_webextension`"
The `file_factory` test function, that is in turn used by `version_factory` and `addon_factory`, creates `File` objects that are by default `STATUS_APPROVED` but not `is_signed` like a "normal" approved File instance would be; and not `is_webextension` even though we've not accepted new legacy addon uploads in more than a year.  We should look into changing these defaults.

caveats/footguns:
- fil

[2020-03-26 12:15] bobsilverberg commented on #13634
Do we have a way of requesting extraction of one particular file? I am wondering if it would be possible to implement something so that when a user attempts to access a version from code manager but it hasn't been successfully extracted we could request extraction for that one version, and ask the user to check back in x minutes.

Do we know how frequently errors doing extractions would happen if

[2020-03-26 12:17] bobsilverberg commented on #13634
One advantage to this would be that we could remove all the translation logic from code-manager, and just allow addons-server to take care of it. We could do this both for the Browse and Compare pages.

[2020-03-26 12:19] #13821 closed

[2020-03-26 12:19] diox commented on #13634
We don't, but we've seen the errors happen regularly enough for the extractions that happen at upload/signing time that I think just forcing a new extraction attempt would not cut it. And anyway, time is precious :)

[2020-03-26 12:22] bobsilverberg commented on #13634
Development time (to implement the feature), or processing time (to attempt another extraction), or reviewer waiting time?

[2020-03-26 12:23] bobsilverberg commented on #13634
What exactly does an extraction error look like? Does it mean no files are available, or might it mean that just certain files in the add-on are not successfully extracted?

[2020-03-26 12:41] diox commented on #13634
In this case I was worried about reviewer time.

The main issues we know about, because they show up in sentry, cause the entire version not to be extracted. That in turn causes a 404 to be returned for the APIs that deal with the extracted content in any way.

A key point though is that there are a lot of extraction errors happening and we don't know why they happen (we haven't managed to reprodu

[2020-03-26 13:27] willdurand commented on #13634
Could the API return a different status code so that code-manager can make the distinction between "version not found" and "extraction failed" by chance? I don't find a good status code that would express that, though (I was thinking about `422`).

In any case, given that this shouldn't happen frequently, I would add a `fileId` parameter in the query string so that code-manager can build an URL po

[2020-03-26 13:31] bobsilverberg commented on #13634
I like the first idea, so we can differentiate between the two types of responses, but I'm not a fan of adding even more logic into code-manager to deal with this. Why pass a `fileId` from addons-server (reviewer tools) to code-manager, just so code-manager can create a link back to addons-server? It seems like @diox's third suggestion, which would allow code-manager to construct URLs using versio

[2020-03-26 13:34] willdurand commented on #13634
That just seems easier to me. We could even pass a full old file viewer path in the query string (like `?fallbackUrl=/path/to/file/viewer/with/file/id`, not just a file ID.

[2020-03-26 13:57] bobsilverberg commented on #13634
I agree that *that* would be easier, as it would remove the need for any logic in code-manager to build the URL, although @diox's third suggestion would basically be the same, except that we'd construct a URL from our known version ids rather than using a URL param.

@diox What's preferable from the server's perspective?

[2020-03-26 14:09] diox commented on #13634
I kinda like the idea of passing the fallback URL directly - server already knows how to build that, no pesky redirects to deal with, it's simpler. Wish we had thought of this sooner !

[2020-03-26 14:30] willdurand opened #13833 "GUID column should be sortable in the list of scanner results"
The `guid` column should be sortable in the list of scanner results.

[2020-03-26 15:08] rpl commented on #13534
@jvillalobos I was wondering:
1. do we plan to always warn the user about that when they use `web-ext sign` to sign a new version? (maybe only if `web-ext sign` has been called with `--channel=listed`)
2. or the server is going to return something when we should be warning the user?

`1` would be something that we could easily do on the `web-ext` side, for `2` we would likely need to cover it on t

[2020-03-26 15:48] #13833 closed

[2020-03-26 16:22] ioanarusiczki commented on #13833
@willdurand I verified the scanner results on dev and stage and the add-on GUID filter is applied on the GUID column. - FF74(Win10).

[2020-03-26 16:35] junngo commented on #12742
Hello @eviljeff
Can I ask you about `abuse report`?
I tried to make a `abuse report` on admin[0].
But, I couldn't find to make abused user on admin site.
Should I use rest API[1] to make abused user?

[0]
http://olympia.test/en-US/admin/models/

[1]
https://addons-server.readthedocs.io/en/latest/topics/api/abuse.html#post--api-v4-abuse-report-addon-

[2020-03-26 21:30] diox commented on #13591
I implemented that idea locally but in the end I don't think that's a good thing, because it would still be possible to have an exact match in en-CA that would be hidden from most users while still affecting relevancy. Furthermore, the original scenario quoted above is not correct: we always look in the default locale anyway, so it wouldn't be so bad. When we do this, we don't use a language-speci

[2020-03-26 21:36] jvillalobos commented on #13534
I think doing `1` is good. I believe that step is shown regardless of the distribution channel, but @wagnerand can confirm. The message could be something like:

[2020-03-27 09:52] eviljeff commented on #12742
Use the API ideally.

[2020-03-27 09:57] eviljeff commented on #13701
Does it handle setting `to-sign` or `to-review` - having to handle that was the annoying part.

[2020-03-27 10:20] leplatrem commented on #13701
`client.patch_collection(data={"status": "to-review"})`

I don't understand. Why?

[2020-03-27 10:25] leplatrem commented on #13701
Ok, I guess the complication comes from the fact that your code supports both cases where signoff is enabled or disabled

[2020-03-27 10:26] leplatrem commented on #13701
https://github.com/mozilla-services/remote-settings-lambdas/blob/287351f32350db48d9bdf3ceadaa4d8c132c0d54/commands/backport_records.py#L110-L122

[2020-03-27 11:43] wagnerand opened #13843 "Add links to reviewer tools on django admin add-ons by author view"
Similar to #13199, it would be helpful to admins to add a link to the listed/unlisted reviewer tools page (as applicable) to each row in the add-ons table on `admin/models/addons/addon/?authors=<id>`.

[2020-03-27 13:36] AlexandraMoga commented on #13694
There are no changes to the AMO blocklist since March 25th.
https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-mlbf/records is not returning any records today.
I still don't understand why the endpoint asks for authentication instead of simply returning a 404 if there are no records generated.

[2020-03-27 13:53] eviljeff commented on #13694
The bucket and collection aren't generated until there's a need to on the dev test server so if there's no new bloomfilter and after the clearance time there's no bucket or collection either.  The asking for auth if the bucket doesn't exist seems to be a kinto thing (presumably because there could be private buckets they don't want to expose)

[2020-03-27 14:55] AlexandraMoga commented on #13812
There is no trailing slash returned for `"url"` if the `wrap_outgoing_links=true` parameter is present:

` GET /api/v4/blocklist/block/gmailnoads@mywebber.com/?wrap_outgoing_links=true`

[code]

On the frontend side, the 'View block request' link is now hidden:

![image](https://user-images.githubusercontent.com/31961530/77767802-42460f80-704a-11ea-99fc-501e2c339359.png)

[2020-03-27 15:02] AlexandraMoga commented on #13303
Verified fixed on -dev.
There is a success message displayed now when submitting a multiblock:
![image](https://user-images.githubusercontent.com/31961530/77769603-bbdefd00-704c-11ea-916d-b4b3a3eef5be.png)

[2020-03-27 15:19] AlexandraMoga commented on #13332
There is a new 'Score' column in scanner results which is populated with `-` (yara and wat) or `n/a` (customs). By reading the conversation from the pull request, I get it that these values might change in the future.

@willdurand Is there an interpretation to this score right now or was this issue just about adding the new column?

[2020-03-27 15:38] willdurand commented on #13332
There is nothing else for now *but* as soon as the MAD server works (and therefore returns valid results), the score of `customs` should be updated with a value that is not `n/a`.

[2020-03-27 18:46] #13813 closed

[2020-03-27 20:24] caitmuenster commented on #9158
Sorry, I had missed #13044! That's sufficient -- I'm closing this now. :)

[2020-03-27 20:24] #9158 closed

[2020-03-28 04:17] ajinkabeer commented on #13729
Hello, I am an outreachy applicant. If this issue is still unassigned, I would like to take a look at it, please?

[2020-03-29 16:31] willdurand opened #13849 "Increase MAD_API_TIMEOUT value"
Let's increase the value from `1` to `5`.

[2020-03-30 05:25] sbs2001 commented on #13734
What's the status of this issue ? I would like to help.

I think this can be solved  by using a ML model for a kind of sentiment analysis. There are tons of freely available datasets of comments with their intent, https://www.kaggle.com/c/jigsaw-toxic-comment-classification-challenge/data is a good place to start .

I haven't dug deep enough, but I think there might be some open source models spec

[2020-03-30 07:53] AlexandraMoga commented on #13332
I'm marking this as verified for now and will revisit once the MAD server works.

[2020-03-30 09:36] willdurand commented on #13849
I removed the outreachy label because I'd like to perform some more tests in -dev today.

[2020-03-30 09:42] willdurand opened #13851 "Hide "wat" and "mad" options in the list of scanners to create a new rule"
Given that we do not have rules for the "wat" and "mad" scanners, let's hide them in the list of scanners displayed in the form of a scanner result:

<img width="486" alt="Screen Shot 2020-03-30 at 11 41 53" src="https://user-images.githubusercontent.com/217628/77898529-9257e880-727b-11ea-85af-e11f6b7a9815.png">

**For QA:** we should not see "wat" and "mad" in the list displayed above when this i

[2020-03-30 09:44] #13718 closed

[2020-03-30 09:44] #12914 closed

[2020-03-30 11:24] eviljeff commented on #13752
In addition to the encoded `next_path` making the `state` param exceed the maximum length, the current functionality in django admin is to strip off the path beyond /models/ after you complete auth which means the user wouldn't end up on the blocklistsubmission creation page anyway.

[2020-03-30 11:26] #13591 closed

[2020-03-30 11:28] diox commented on #13591
FYI I went with the fallback approach.

[2020-03-30 11:41] diox commented on #13591
**QA:** A reindex is needed to execute those scenarios. Before doing it, try various searches to see if they work. Then ask us to force a reindex, and try searching for addons with different translations set up for their name, description, summary, and make sure the addons are found as expected. In particular, test the following scenarios:
**Scenario 1:**
- Create an add-on with "Something" (*) as

[2020-03-30 13:12] AlexandraMoga commented on #13821
@eviljeff would the following be a valid test method?
- select a few add-ons that haven't been signed (I have several add-on with auto-approval delayed indefinitely, so It's certain they will not be signed)
- block the add-ons (making sure there are no other signed add-ons blocked in this time interval)
- verify that there is no new `/addons-mlbf/records` after the time is reset again

[2020-03-30 14:12] #13849 closed

[2020-03-30 16:09] caitmuenster commented on #13690
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @EnTeQuAk

[2020-03-30 16:13] caitmuenster commented on #10366
Tagging myself as a to-do 😅:

- Finalize subject line & copy
- Confirm what triggers it to be sent

[2020-03-30 16:14] caitmuenster commented on #13656
Hey @championshuttler, just checking in on this. :)

[2020-03-30 16:14] eviljeff commented on #13690
You just need to change that line of code to use `datetime.timezone` instead

[2020-03-30 16:26] eviljeff commented on #13725
Because there are some types of Block (the ones with regular expressions) that AMO won't update there will still be a need for admins to be able to modify kinto records via kinto admin.

From Slack:

is it possible to have a collection that has sign-off disabled for some users (actually just one user - the AMO user) but still has sign-off for other users?  Or otherwise a way for AMO to push update

[2020-03-30 16:53] adakaleh opened #14895 "Ratings for "invisible" addons persist on developer profile pages"
I have 2 extensions. One of them received a rating. Later, I marked that extension as "invisible". However, its rating is still displayed in my profile, under "Average rating of developer’s add-ons". I don't think this is the intended behavior.

See https://addons.mozilla.org/en-US/firefox/user/15596255/

[2020-03-30 17:18] jvillalobos commented on #13734
Thank you for the suggestions. Unfortunately I don't think we have the resources to set this up and keep it running. We need people to be able to verify that this system is working reliably, and make corrections when needed. We currently don't have that.

I'm closing this issue for now, but I hope we can revisit these possibilities later in the year.

[2020-03-30 17:18] #13734 closed

[2020-03-30 17:35] dessant commented on #13734
@jvillalobos, this issue was opened to start a discussion about possible solutions to toxic reviews. By closing the issue and reducing its visibility, the discussion we were hoping to initiate is effectively shut down.

The fact that is received a community response so quickly shows that there is interest in sharing ideas regarding this issue, and I think it would be unfortunate to bury the discus

[2020-03-30 17:50] eviljeff commented on #13734
This issue tracker isn't a discussion forum - see https://discourse.mozilla.org/c/add-ons/35 for that.  Obviously any possible solution is going to run up against the same constraints though of a) engineering capacity to implement the solution and b) operational capacity to train/manage the solution once implemented.

[2020-03-30 17:56] avgupt opened #13857 "Hard-coded UID and GID in DockerFile causes permission error while setup"
### Describe the problem and steps to reproduce it:
Follow the development setup instructions on a Linux user whose UID != 1000.
### What happened?
On running `docker-compose up -d`, the web_1 and worker_1 containers get started and stops.
### What did you expect to happen?
All the containers should run fine.
### Anything else we should know?
Log of `docker-compose log` :
`Attaching to addons-serv

[2020-03-30 17:57] avgupt commented on #13857
@eviljeff @diox

[2020-03-30 20:30] bobsilverberg commented on #13634
So, are we going to do this? Should a new issue be opened on addons-server for this change?

[2020-03-30 21:38] diox commented on #13634
We can keep this issue. We don't have to send the link until we start making code-manager the default, so the existing links don't need to be modified just yet.

We do have to agree on what the parameter should be (`fallbackUrl` ? `fallback_url` ? :-), and a new issue should be opened in addons-code-manager to use that query parameter instead of the current implementation.

[2020-03-30 23:55] #12383 closed

[2020-03-31 09:10] willdurand opened #13861 "Scanner results without matched rules, customs and MAD scores"
We will enable the MAD integration soon, which will add two things (among others):

- a new scanner named `mad` in the list of scanner results (containing the results coming from the API)
- a score will be added to the `customs` scanner results

Currently, we are not displaying the scanner results that do not have any matched rules, which means (1) `mad` results won't be listed (but that's fine fo

[2020-03-31 09:16] wagnerand commented on #13861
What if we created a new queue-like page that would show add-ons sorted by score?

[2020-03-31 09:24] eviljeff commented on #13821
Mmm, I think this may be prohibitory difficult to QA.  There _will_ be a new record in `/addons-mlbf/records/` because the check is a simple one on the Block objects being updated (which they will have been) - an admin blocking an add-on with a single non-signed version is an unnecessary edge case.  The scenario it's designed for is when an add-on containing multiple versions - some unsigned - is

[2020-03-31 09:25] #13520 closed

[2020-03-31 09:45] #12387 closed

[2020-03-31 10:13] #6936 closed

[2020-03-31 10:14] diox commented on #6936
QA: the link is staying the same, but now content reviewers that don't have other permissions allowing them to review add-ons will get redirected to the content review page when they access the regular review page for an add-on.

[2020-03-31 10:28] #13555 closed

[2020-03-31 10:29] willdurand opened #13862 "Add a test case with `assertNumQueries()` for `AddonAdmin` (changelist)"
See: https://github.com/mozilla/addons-server/pull/13856#discussion_r400797229

[2020-03-31 10:30] #10856 closed

[2020-03-31 10:30] #13843 closed

[2020-03-31 10:31] diox commented on #10856
@mirefly changed the `links` to a `network` in https://github.com/mozilla/addons-server/pull/13847 and that seemed to do the trick for both of us, at least :)

[2020-03-31 10:33] diox commented on #13862
Note: we do have such a test for the detail (change) page and it's fairly terrible... We should probably skip (some) transformers, but also it's high enough that there might be some duplicated queries in there.

[2020-03-31 14:32] eviljeff commented on #13762
Current thinking:
- for the collection we'll follow crlite's strategy - the collection is cleared each time a new bloomfilter is created, and stash lists are added as new records to the same collection.  This lets the client download the entire collection if needed and have an effectively up to date blocklist, and with remote-setting's diff functionality means it won't download all the records eac

[2020-03-31 14:38] eviljeff commented on #13762
This edge case gave me pause - if this happens frequently then we could potentially be building and uploading **a lot** more bloomfilters than our careful strategy would suggest.  And if each block is deleted one at a time, and the tasks are triggered on-demand, then we could be talking about many a day being generated.

If we care about this possibly we could:
a) throttle the new bloomfilters bei

[2020-03-31 14:51] Rob--W commented on #13762
I immediately had the same reaction after seeing the proposed format. I was thinking of two lists in the kinto data, one with removals and one with additions (both relative to the last known MLBF data).

TLS certificates can only be revoked and not be un-revoked, that's why it doesn't make sense to have "unrevoke" functionality in crlite. Our case differs.

Yes we do IMO.

c. Anything against my s

[2020-03-31 16:12] #13794 closed

[2020-03-31 16:26] AlexandraMoga commented on #13591
@diox here are my results after having verified this on -dev (after re-index).

**Scenario 1** (slightly different than expected)
I've created two add-ons for each case, to make sure the results are being consistent.
This is the search query: https://addons-dev.allizom.org/en-US/firefox/search/?q=milo
1. [1st](https://addons-dev.allizom.org/en-US/firefox/addon/milo5/?src=search) and [2nd](https://

[2020-03-31 19:46] bobsilverberg commented on #13634
I'd prefer `fallbackUrl` as we tend to avoid underscores in code-manager code.

[2020-03-31 19:53] bobsilverberg commented on #13634
Actually, I had another thought about a use case that I don't think this will cover:

1. A user goes from Reviewer Tools to code-manager and lands on the Browse page, at which point `fallbackUrl` looks like `https://reviewers.addons-dev.allizom.org/en-US/firefox/files/browse/262447/`.
2. The user navigates to a Compare page for the add-on, at which point `fallbackUrl` will still point back to the

[2020-03-31 21:46] willdurand commented on #13634
The base file ID is part of the API response iirc. We could add the head file ID if needed and if it is not returned yet.

[2020-03-31 22:38] bobsilverberg commented on #13634
Yes, the problem is when the version hasn't been extracted and the API returns a 404. At that point we cannot construct the link.

[2020-04-01 09:03] AlexandraMoga commented on #13813
@eviljeff has a new blocklist import been run on -dev or stage after this patch landed? Then, I could check there are no non-webext add-ons among the admin list of blocks.

[2020-04-01 09:04] AlexandraMoga commented on #13794
@eviljeff is there anything to be tested here?

[2020-04-01 09:11] bjherbison commented on #13532
The last reply is incorrect. A regular content reviewer can't Approve/Reject content for an approved Recommended add-on.

This morning the content review list includes https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/decentraleyes and above the action bar is an orange bar saying "This is a recommended extension. You don't have permission to review it." and the action bar doesn't

[2020-04-01 09:21] eviljeff commented on #13794
nothing special.  Just make a change and see there's a kinto record with an attachment created on the normal schedule.  (the file should be roughly the same size as before)

[2020-04-01 09:33] diox commented on #13532
Yes, this was changed since on purpose. See https://github.com/mozilla/addons-server/issues/13806

[2020-04-01 09:43] bjherbison commented on #13532
Based on this previous comment this issue should be reopened. Or should I create a new issue to get recommended add-ons removed from the content review queue?

[2020-04-01 09:59] diox commented on #13532
We considered that the warning you get + the action not being present was enough.

[2020-04-01 10:01] ioanarusiczki commented on #6936
@diox The e-mails send the link of this format:
https://addons-dev.allizom.org/en-US/firefox/addon/facebook-containertest/
With a content reviewer account the URL redirects to:
https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-content/facebook-containertest

![redirect](https://user-images.githubusercontent.com/33448286/78124807-e21fe680-7418-11ea-980a-9b53acb2a58c.gif)

as a note:
T

[2020-04-01 10:11] bjherbison commented on #13532
What happened this morning: I selected an add-on from the content review list, reviewed the content, looked at some of the version history, and then was given a nice orange banner telling me I had wasted my time.

And now when I review the content list I have to remember the name of the add-on I can't review from the list. I already too many things I need to remember, adding something to my memory

[2020-04-01 10:16] bjherbison commented on #6936
The last comment isn't correct. The e-mail messages I receive have links with this format:

https://addons.mozilla.org/reviewers/review-listed/2632072

And the messages are sent whenever a developer replies, independent of whether the add-on has been content rejected, or rejected, or not.

[2020-04-01 10:37] ioanarusiczki commented on #13843
@willdurand
The listed/unlisted links are available from the mentioned page
https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/?authors=10641574
Verified on admin tools dev - FF74(win10).

[2020-04-01 10:45] diox commented on #13532
Please file an issue, we'll see what we can do.

Some background as to why we went for this instead of filtering in the queues: Because the reviewer tools are full of legacy code, with lots of edge cases everywhere, any big changes like filtering data from the queues according to various criteria has the potential to become a huge time sink for AMO developers and QA. I already spent a lot more tim

[2020-04-01 11:25] bjherbison opened #13870 "Content reviewers time is wasted by placing Recommended add-ons in the content review queue"
Steps to reproduce:

1. Recommended add-on has content modified.
2. Automated process adds the recommended add-on to the content review queue.
3. Content reviewer picks item off of queue.
4. Content reviewer reviews the content and history of the add-on.
5. Content reviewer goes to the bottom of the page and sees a nice orange banner saying "you wasted your time, sucker".
6. Content reviewer goes

[2020-04-01 11:29] diox opened #13871 "Add internal function to allow running a scanner on a given version"
Similar to the work that was done for yara as part of the code search project, we'd like to have an internal function (not exposed in the admin or even a command yet) to run a given scanner on any version.

[2020-04-01 12:03] AlexandraMoga commented on #13555
Verified fixed on -dev.
The Delete button is present again on a block detail page, which enables admins to delete an individual block.
Individual block deletions are passing through the dual sign-off process the same as multiblock deletions.

[2020-04-01 12:06] wagnerand opened #13874 "Record rate-limiting in activity log"
We should record in the activity log when rate-limiting/throttling is triggered.

[2020-04-01 12:21] AlexandraMoga commented on #13520
Verified fixed on -dev

While a block is pending for sign off, it can no longer be deleted:
- the Delete button is hidden on the block detail page
- if the guid is present in a multiblock deletion, an error is received

![image](https://user-images.githubusercontent.com/31961530/78136490-5d3ec800-742c-11ea-8403-5584e03522d3.png)

[2020-04-01 14:55] ioanarusiczki opened #13877 "uses_unknown_minified_code is false for some files which look minified"
Followup for https://github.com/mozilla/addons-code-manager/issues/1462#issuecomment-606806145

STR:
1. Go to https://code.addons-dev.allizom.org/en-US/compare/618937/versions/1690424...1690425/?path=src%2Faction%2Fstyle.css.map
or https://code.addons-dev.allizom.org/en-US/compare/618937/versions/1690424...1690425/?path=src%2Faction%2Fstyle.css

Actual result:
code manager won't show the files tri

[2020-04-01 15:02] championshuttler commented on #13656
Hi @caitmuenster , @kanurag94 is gonna create the PR. :)

[2020-04-01 15:24] caitmuenster commented on #13870
@bjherbison I understand you're frustrated, but can you please try to be less antagonistic when you file issues? I assure you that we are trying our best with an old, complex codebase and limited resources during a challenging time.

[2020-04-01 15:39] bjherbison commented on #13870
I'm sorry. I was less antagonistic when I filed it the first time, but I was told I needed to file it again.

When can we talk?

[2020-04-01 16:05] caitmuenster commented on #13870
Thank you. :) I'm sorry you were asked to refile the issue -- that doesn't help with the frustration, for sure.

Let me do a little bit of digging and let's try to talk on Thursday?

[2020-04-01 17:00] willdurand commented on #13634
In today's standup, we decided to add new routes/views to addons-server, so let's do this!

[2020-04-01 17:57] #10628 closed

[2020-04-01 20:49] #13871 closed

[2020-04-01 20:50] diox commented on #13871
QA: make sure customs scanner rules work as before when the waffle switch is enabled.

[2020-04-02 09:23] willdurand opened #13883 "`call_mad_api()` task should be skipped when there are validation errors"
### Describe the problem and steps to reproduce it:

Upload a large add-on that will make the linter timeout (this is not 100% reproducible but it should work).

### What happened?

The `mad` scanner is called and it will fail.

### What did you expect to happen?

The `mad` scanner is not called.

### Anything else we should know?

All the tasks in the validation chain are "validation tasks" and d

[2020-04-02 09:39] diox commented on #13877
This is technically a linter bug, since addons-server just passes down that information in the API from the linter metadata. We currently only do the minified files detection on `.js` files, maybe this could be extended to other file extensions.

[2020-04-02 10:16] ioanarusiczki commented on #6936
@bjherbison Yes, was my mistake , the URLs contain the add-on id (and not the slug as I mentioned in my comment).
In this case, I can mark this verified on FF74(Win10). Probably what I've described above is not a real case scenario, if it was it would have been filed a long time ago.

[2020-04-02 10:23] #13883 closed

[2020-04-02 11:12] Akhila499 commented on #4092
Hi, I am working on linux env for the first time. I had learnt a lot in the past few weeks regarding installation and set up of applications in Linux. However, I am not sure, I can get past some of the issues I articulated above. So, I request you to unassign the task. Thanks for the support
Regards,
Akhila

[2020-04-02 11:20] bjherbison commented on #6936
When is this change supposed to go to production?

[2020-04-02 11:26] wagnerand opened #13885 "`unhide_disabled_files` runs every 60min but needs 65min to complete"
The `unhide_disabled_files` cron job runs once an hour, but it actually needs 65min to complete. This causes the individual jobs to overlap, which is a problem.

[2020-04-02 11:28] wagnerand commented on #6936
This is going to be on production later today, see the _Milestone_ info on the right side on this issue page.

[2020-04-02 11:38] eviljeff commented on #13813
I've just run it again on -dev (stage will be done sometime today).

note https://github.com/mozilla/addons-server/pull/13878 changed the collection name to match what the kinto admins had created for us.

[2020-04-02 13:57] bobsilverberg commented on #13660
@diox Found it!

Here's a suggestion for a first step: I can look through code-manager and determine exactly what data is needed for different use cases, and then we can use that info to determine what changes we can make to APIs, which could include removing certain data from the responses, combining data from multiple APIs into a single one, etc.

WDYT?

[2020-04-02 13:59] AlexandraMoga commented on #13813
I've verified that the blocks re-imported on -dev were all webextensions.

[2020-04-02 14:35] diox commented on #13660
Sounds good. It's possible we end up finding that it's too difficult to untangle and that our time would better be spent elsewhere, but this will give us a good starting point.

[2020-04-02 15:21] eviljeff opened #13887 "v2 blocklist regex doesn't match all guids with import_blocklist"
Some of the blocklist regular expressions that should match guids aren't matching all the expected add-ons.  The blocks do match _some_ addon guids, just not all they would be expected to.

There may be a regex syntax incompatibility between javascript and mysql.

[missing_blocks.txt](https://github.com/mozilla/addons-server/files/4421943/missing_blocks.txt)

[2020-04-02 17:44] bjherbison commented on #6936
Thanks, when I saw "verified" I expected it to be live. (I'm used to the process flow for other tracking systems.)

I just checked and the fix is live. Links that were an annoyance to me yesterday are convenient now. Thank you!

[2020-04-02 18:37] wagnerand opened #13889 "code-manager does not finish loading for admins for some add-ons"
https://code.addons.mozilla.org/en-US/browse/2633678/versions/4995785/ is stuck showing `Loading linter information...`. In the web console, I see CORS request failures:

[code]

Loading that file validation page manually redirects me to https://addons.mozilla.org/en-US/developers/addon/cookie-api-test-extension3/submit/details

@diox has figured out the cause for this, I'll leave it up to him to

[2020-04-02 18:45] diox commented on #13889
Haven't checked yet if that's a regression from https://github.com/mozilla/addons-server/issues/13652 or if that's always been there lurking. It happens only to add-ons that are incomplete, with missing metadata but a non-deleted, non-disabled listed version present - because that endpoint is a devhub one, the `dev_required` decorator helpfully tries to redirect you to finish the submission proces

[2020-04-02 18:54] eviljeff commented on #13889
It's a very good candidate for the regression - before ` if allow_reviewers:\n    if acl.is_reviewer(request, addon):` was first but now then `acl.check_addon_ownership` check happens before it.

[2020-04-02 19:02] diox commented on #13889
Yeah, makes sense. I remember changing the ordering on purpose, but then again I went back and forth with different solutions for this issue so this might not have mattered for what I was trying to fix in the end, so we should try to change the ordering back and see what breaks...

[2020-04-03 07:49] lafonth opened #13894 "Identify "Auto-approve confirmed" versions in the list when rejecting an add-on"
When we are selecting the reject action, it is asking which version we want to select. But in this list there are also auto approved versions which we have to unselect when we do the reject.
To verify this we have to consult the list and watch the status of each version one by one. When it's only on one page it's fine even if it costs a bit of time to do it.
The problem comes from add-ons with man

[2020-04-03 07:50] #13632 closed

[2020-04-03 09:41] ioanarusiczki commented on #13889
@wagnerand
I submitted incomplete listed add-ons - I did not end the submission flow.
From admin en-US/admin/models/addons/addon/ I went to the Reviewer Tools (listed) link and from there I tried to open the codemanager.
With an admin account the file will not be visible. - it is loading infinite

![reproducible with admin account](https://user-images.githubusercontent.com/33448286/78346833-48873f

[2020-04-03 09:50] diox commented on #13894
I don't fully understand. Why wouldn't you want to reject auto-approved versions ?

[2020-04-03 10:05] wagnerand commented on #13889
@ioanarusiczki it's possible they don't show up in the queue. However, they show up on the scanner admin page (`/admin/models/scanners/scannerresult/`), and that's how I cam across it.

[2020-04-03 10:07] wagnerand commented on #13889
Sounds like a fairly limited case, should probably be a P2 then.

[2020-04-03 10:13] wagnerand commented on #13446
I'm closing this, as we are planning to replace the links (see #13634, that mentions reviewer tools but I confirmed with @diox that all links everywhere will be changed).

[2020-04-03 10:13] #13446 closed

[2020-04-03 10:37] eviljeff opened #13895 "connection to settings-writer.stage.mozaws.net is timing out in mlbf cron"
https://sentry.prod.mozaws.net/operations/olympia-stage/issues/7732102/

The `upload_mlbf_to_kinto` cron is failing due a connection error when trying to upload the bloomfilter as an attachment to http://settings-writer.stage.mozaws.net/v1/buckets/staging/collections/addons-bloomfilters/records/12e92ded-dd33-480c-998f-ee71a2ca88f3/attachment (the uuid between "records/" and "/attachment" is random

[2020-04-03 11:41] eviljeff commented on #13895
The v2 blocklist update to kinto - from a celery task triggered by the BlocklistSubmission being approved/created - seems to be working though.  The legacy (v2) updates are also to settings-writer.stage.mozaws.net but to the `addons` collection rather than `addons-bloomfilters`.

so... is it something special about the environment (cron vs. celery task) or something special about the collection ("

[2020-04-03 11:51] ioanarusiczki commented on #13889
@wagnerand Yes, from scanner results the listed review page can be accessed probably anywhere in admin tools where the listed/unlisted links are now available. Looks like the old file viewer does not have this problem.

I might be wrong but personally I can't see the use of the listed review pages for this type of incomplete add-ons. As an admin I can send a question to the developer but the devel

[2020-04-03 12:11] muffinresearch opened #13896 "Listen to FXA SQS queue to process account deletions"
Supercedes #7922

See https://docs.google.com/document/d/1hjlWVzzrSrGzMYKmxqK76MzOVQbV7sbc7padtj8xclA/edit# for details.

Once this is ready the release will need to be coordinated with landing https://github.com/mozilla/fxa/pull/4532/

[2020-04-03 13:06] bobsilverberg commented on #13634
This was closed via #13888, but this issue is about making code manager the default link, and I don't think that has been done yet. #13888 was just about solving a problem regarding legacy links from code manager, but this issue should be kept open (or a new one opened) to track changing the default link in Reviewer Tools.

[2020-04-03 13:50] ioanarusiczki commented on #13871
@diox I uploaded listed and unlisted add-ons with and without matched rules for the custom scanner. The scanner works as expected.

Verified on dev with FF74(Win10).

[2020-04-03 14:06] AlexandraMoga commented on #13895
@eviljeff just to be sure, while this error is present, https://settings.stage.mozaws.net/v1/buckets/blocklists/collections/addons-bloomfilters/records will not show any records?
Also, this endpoint receives data from -dev, right?

[2020-04-03 14:34] diox commented on #13590
See also https://github.com/mozilla/addons-server/issues/11431

[2020-04-03 15:28] eviljeff commented on #13895
yes

addons-dev writes to the kinto.dev.mozaws.net server so is unaffected

[2020-04-03 16:50] bqbn commented on #13895
A couple of questions:

1. The cron runs on the admin host, does the admin host need access to kinto-writer too? Currently, kinto-writer only allows celery workers to connect to it.

2. If `http://settings-writer.stage.mozaws.net/v1/buckets/staging/collections/addons-bloomfilters/records/12e92ded-dd33-480c-998f-ee71a2ca88f3/attachment ` is not a typo, then it needs to be HTTPS, not HTTP.

[2020-04-03 16:54] eviljeff commented on #13895
It does, though that's an interesting point - we could rewrite the function to spin out the upload to a celery task (but we wouldn't know as easily if something was failing)

it's a typo

[2020-04-03 17:00] bqbn commented on #13895
OK, we thought admin just triggers the job, and real work is done on the celery workers, that's why only celery workers are allowed.

I suppose we can also allow admin. But let me know what your preference is.

FYI, https://github.com/mozilla/addons-server/blob/master/src/olympia/conf/prod/settings.py#L112 show shows HTTP. But it's unrelated, since that's for -prod.

[2020-04-03 17:12] eviljeff commented on #13895
😞 good catch

[2020-04-05 12:13] mojorero opened #14036 "Some .crx files are considered corrupt/invalid erroneously"
Hi, I tried to upload my Extension for the first time at approximately 13:40 hours (UTC +2). The add-on is unlisted.

The add-on is a CRX export of an already working Chrome Extension.

[dist.zip](https://github.com/mozilla/addons/files/4433547/dist.zip)

This is the URL where I submitted the extension: https://addons.mozilla.org/de/developers/addon/submit/upload-unlisted

I got the following erro

[2020-04-05 14:53] shashwatsingh commented on #7316
Would this be a good first bug? Is it okay if I pick this one?

[2020-04-06 06:47] lafonth commented on #13894
In the standard process, today, we have to avoid to reject human approved versions.
From this rule, we have to check if there are versions in this status in the list of versions when we want to reject. Ad for this we have to scroll page by page and check the status of each, which is really time consuming.

[2020-04-06 08:25] willdurand commented on #13634
ha, correct. let me file a different issue then

[2020-04-06 08:29] willdurand opened #13907 "Add new (redirect) URL paths to the file viewer"
Supports: https://github.com/mozilla/addons-server/issues/13634

---

We need 2 new URL paths to help code-manager construct URLs to redirect to the legacy file viewer. These URL paths will use version IDs as parameters instead of file IDs (because file IDs are not known in the code-manager).

- `/en-US/firefox/files/browse-redirect/:versionId/`
- `/en-US/firefox/files/compare-redirect/:baseVersio

[2020-04-06 08:29] #13907 closed

[2020-04-06 09:03] eviljeff commented on #7316
well, no. It's a contrib:welcome bug - they're more challenging and require some experience with python/django.  Plus we don't do all the investigation for you to identify what code to change - that's for you to do as part of resolving the issue.

Sure, go ahead.   Once you think you've understood the problem and how to fix it, let us know so we can confirm you're on the right path.

[2020-04-06 11:49] xslidian commented on #5829
``zh-Hans`` & ``zh-Hant`` are preferred, not only because they are the most widely used/accepted forms, but also because they could cover rare cases like ``zh-MY`` or ``zh-US-x-LAX``.

When language isn't specified for ``zh``, ``zh-cmn`` is implied, due to the Mandarin Chinese grammar is most compatible with the modern Chinese used since 1920s, known as ''[Baihuawen](https://en.wikipedia.org/wiki/

[2020-04-06 12:22] eviljeff commented on #13887
From the kinto records, these are the broken regexs:
### 11fd123a-e67d-44ab-909f-b776ea2e8d0a
`"/^((aapbdbdomjkkjkaonfhkkikfgjllcleb@[cC]hrome-?[sS]tore-?[fF]oxified--?((\\d+)|(unsigned)))|(blndkmebkmenignoajhoemebccmmfjib@chrome-store-foxified--?\\d+)|(bridge-translate-app@chrome-store-foxified--?\\d+)|(dephbpajmknbniclommefdlnflkfnpgh@chrome-store-foxified--?\\d+)|(generated-axbwzwbksnnig1ug9v5d

[2020-04-06 13:41] diox opened #13910 "Show all available translations for add-on name in review page"
Split from #11516 : as a minimal workaround we want to show all translations for the add-on name in the review page.

This issue is exclusively about the add-on name: we'll focus on other fields like summary and description later in #11516, they require a more complex solution in terms of UX (hard to balance wanting to show all translations for reviewers to see everything at a glance with not turn

[2020-04-06 13:42] diox commented on #11516
This raises a bunch of UX questions, so I've split this issue into two, and opened #13910 just to show translations for the add-on name. We'll deal with the other fields later here.

[2020-04-06 14:05] shashwatsingh commented on #7316
I will give this a try, but have to setup the application locally for debugging. Will keep updating here if I have any questions.

[2020-04-06 14:09] bjherbison commented on #11516
My original issue description of the issue said to show each version, but may be sufficient to show a list of the language versions, preferably with a link to switch to each version.

[2020-04-06 14:24] ioanarusiczki commented on #13907
@willdurand I verified the redirect URLs on dev with FF74(Win10).

- The browse-redirect and compare-redirect are working - the old file viewer is displayed and manifest.json file is available.

Examples:
https://reviewers.addons-dev.allizom.org/en-US/firefox/files/browse-redirect/1691031/
https://reviewers.addons-dev.allizom.org/en-US/firefox/files/compare-redirect/1690424...1690425/

- If I add

[2020-04-06 14:28] diox commented on #11516
Yeah, I had started going down that route, showing a language selector kinda like we do in devhub, but then it forces the reviewer to do a ton of clicks for add-ons with lots of translations (some popular add-ons have over 20 of them...). There are also a lot of edge cases to consider around what we should show by default, whether to honor language fallbacks or not, etc. The opposite solution woul

[2020-04-06 14:30] willdurand commented on #13907
The query parameter is named `file`.

[2020-04-06 14:31] ioanarusiczki commented on #13907
@willdurand Oh snap, I was used to path. brb!

[2020-04-06 14:36] ioanarusiczki commented on #13907
@willdurand I added `path` instead of the correct name `file`.
The files indicated are correctly displayed.

https://reviewers.addons-dev.allizom.org/en-US/firefox/files/browse-redirect/1691031/?file=inject/index.js
https://reviewers.addons-dev.allizom.org/en-US/firefox/files/compare-redirect/1690424...1690425/?file=src%2Faction%2Fscript.js

Verified on dev with FF74(Win10).

[2020-04-06 15:06] diox commented on #13913
There are 2 parts to this issue:
- The permission required, which like https://github.com/mozilla/addons-server/issues/12725 is `Addons:ViewDeleted`. If you don't have that, you'll get a 404.
- Even with the permission, the API filters out deleted versions so you always get a 404 at the moment. This needs fixing.

[2020-04-06 15:09] AlexandraMoga commented on #13794
I've followed the last couple of records from https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-bloomfilters/records and I didn't notice anything out of the ordinary. I don't remember the size of past records, so I can't compare if there are any visible changes here.
In any case, for a collection of 2 new blocks and a block edit, the size was 1857.

[2020-04-06 15:59] #13887 closed

[2020-04-06 16:42] caitmuenster opened #13915 "Set default for "reply required" to 14 days"
When reviewers request more information from an add-on developer, the notification email says the developer has 7 days to reply. The "7" is the default number that can be toggled by admins but not contributor reviewers.

Due to the COVID-19 situation, we'd like to give developers a default of 14 days to respond to requests.

[2020-04-06 18:05] wagnerand opened #13916 "Switch to node 10"
Somehow we missed updating this repository when we moved our other projects to node 10.

[2020-04-07 10:17] #13910 closed

[2020-04-07 11:23] #13752 closed

[2020-04-07 12:05] #13916 closed

[2020-04-07 12:22] AlexandraMoga commented on #13887
@eviljeff if the import_blocklist tasks searches in our database for guids matching a particular regex, would the following test method work?
1. create a few add-ons on -dev and set their guids to any of those missing guids enumerated in https://github.com/mozilla/addons-server/issues/13887#issuecomment-609761111
2. run the import_blocklist script and look for these addons in the admin list of blo

[2020-04-07 12:36] eviljeff commented on #13887
@AlexandraMoga yes

[2020-04-07 13:57] #13895 closed

[2020-04-07 14:10] ioanarusiczki commented on #13910
@diox "Add-on name translations" was added to the reviewer pages - /reviewers/review-content/dark4-reader5 and /reviewers/review/dark4-reader5. Also it's available for listed and unlisted review pages.

From what I've seen, I think it looks good. The section is situated before Add-on History. I'll give two examples:

![sample one](https://user-images.githubusercontent.com/33448286/78678309-71356e8

[2020-04-07 14:18] AlexandraMoga commented on #13887
@eviljeff I've created the add-ons. You can run the script when you have time for it.

[2020-04-07 14:19] #13913 closed

[2020-04-07 14:41] eviljeff commented on #13887
done

[2020-04-07 14:58] ioanarusiczki commented on #13915
@wagnerand I used an admin account and an add-on reviewer account and went to a review page.
I went to the "Reviewer reply" section and I mark the Require developer to respond in less than… where I see as default "7"

![7 days](https://user-images.githubusercontent.com/33448286/78684036-b0b38900-78f8-11ea-885c-61def42322c0.png)

the e-mail will notify the developer about it

![the e-mail received]

[2020-04-07 15:11] AlexandraMoga commented on #13887
All the created regex guids are present in the list of blocks after the import.
I'm marking this issue as verified fixed on -dev.

[2020-04-07 16:44] wagnerand commented on #13915
Thanks, I found the issue and submitted another PR.

[2020-04-07 16:59] #13915 closed

[2020-04-08 08:57] ioanarusiczki commented on #13915
@wagnerand I verified on dev and I see the default 14 days for admin, add-on or content reviewers.
An admin can change the number of days from 14 to less or more than 14. The add-on and content reviewers cannot. They need to check the Require developer to respond in less than… where I see as default "14" and then the e-mail will be sent accordingly.

![default is 14](https://user-images.githubuser

[2020-04-08 09:01] AlexandraMoga commented on #13752
@eviljeff the issue is fixed for for the case in which the block action is triggered by clicking on the Block add-on button, i.e the scenario described in the STR.

However, the issue will still reproduce for unlisted addons when the Block multiple versions option is used (there was a note in the STR that mentioned this as an additional trigger). I can file a follow up issue for this second case.

[2020-04-08 09:17] eviljeff commented on #13752
Please do.   I did try to handle that case too but I think the POST is getting eaten

[2020-04-08 09:19] AlexandraMoga opened #13931 "'Invalid parameter: state` for a login triggered by a Block multiple versions action in unlisted review pages"
Follow up for #13752
Prerequisites: User is logged out in django admin

### Describe the problem and steps to reproduce it:
1. Log in with an admin user on AMO
2. Open an _unlisted_ add-on review page
3. Use the 'Block multiple versions' action to block one or more add-on versions
4. Enter valid admin credentials on the FxA login page
6. Click Sign in

### What happened?
An `Invalid parameter: sta

[2020-04-08 09:40] diox commented on #13889
The developer might have grabbed a signed listed version somehow, so we definitely need code manager and the review page to work.

[2020-04-08 09:57] willdurand commented on #13590
Sentry issue: [OLYMPIA-PROD-31G](https://sentry.prod.mozaws.net/operations/olympia-prod/issues/5713574/)

[2020-04-08 09:58] willdurand opened #13932 "GitError: old reference value does not match"
This is the second most frequent git error: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/5526890/

[code]

[2020-04-08 10:00] willdurand commented on #13932
See also #11431 (which is a tracker issue)

[2020-04-08 12:22] #13019 closed

[2020-04-08 12:28] ioanarusiczki commented on #13913
@diox I verified this issue testing with the[ API](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#drafting-comments) and from code-manager too with FF74(Win10).

- I could add comments as an admin and addon reviewer which has Addons:ViewDeleted permission.
- I receive a 404 for content reviewers which confirms that users without Addons:ViewDeleted permission can't do such

[2020-04-08 12:42] AlexandraMoga commented on #13883
I've uploaded a few large add-ons that would cause the linter to timeout (from logs:  `Soft time limit (360s) exceeded for olympia.devhub.tasks.validate_upload`).

@willdurand checked the logs and and there were fewer errors reported. Before the patch, the `mad` scanner was called all the time (and it failed when the linter timed out).

[2020-04-08 13:35] AlexandraMoga commented on #13895
https://settings.stage.mozaws.net/v1/buckets/blocklists/collections/addons-bloomfilters/records is showing records today.
@eviljeff I see two attachments in the records, one generated today (which I expected since I've added new blocks on stage) and another attachment generated yesterday (I haven't made any changes to the stage blocklisting yesterday, so I'm not sure where that comes from).

[2020-04-08 14:07] willdurand commented on #13590
I started to look into this error. This is an error coming from `libgit2` directly.

According to the `pygit2` lib/docs, `lookup_branch` should only raise `KeyError` internally (this error is handled [here](https://github.com/libgit2/pygit2/blob/31f27f7f6223d4d14fc79f45be5f65b72b855303/pygit2/repository.py#L1215)) or `InvalidSpecError` (cf. https://github.com/libgit2/pygit2/issues/832) when we use

[2020-04-08 14:41] vcarciu opened #13935 "Remove "#cookies" part from URL generated by "Cookies" link in Dev Hub footer"
Steps to reproduce:
1. Go to addons.mozilla.org
2. Open Developer Hub(https://addons.mozilla.org/en-US/developers/)
3. Go to page footer and press on "Cookies" link

Expected results:
URL opened is https://www.mozilla.org/en-US/privacy/websites/

Actual results:
URL opened is https://www.mozilla.org/en-US/privacy/websites/#cookies

[2020-04-08 14:46] diox commented on #13590
It would be interesting to see if `git` command line works correctly in affected repositories on prod. Maybe something bad happened and there is a data corruption on some/a lot of repositories on prod causing the issue ? If that's the case, maybe we can automatically handle that separately, or just nuke the directories and try again.

[2020-04-08 14:48] #12447 closed

[2020-04-08 15:23] wagnerand commented on #12447
@diox should this be reopened?

[2020-04-08 15:36] willdurand commented on #13590
The problem seems to occur very frequently with the `unlisted` branch but there are very few events related to the `listed` branch. That might be a good hint!

[2020-04-08 15:36] willdurand commented on #13590
How could we get access to the prod files?

[2020-04-08 15:43] diox commented on #12447
If that happens enough to cause issues, yes. Otherwise, I'd be inclined to ignore it for the moment.

[2020-04-08 17:50] willdurand commented on #13590
Nevermind, I was able to get files from our production server. I can reproduce the issue locally. The git repository is corrupted with an invalid `unlisted` branch. To reproduce, one has to run `touch .git/refs/heads/unlisted` in any `git` repo created by our extraction task. This command creates an empty file but that's not valid in git. refs/heads files should have commit hashes.

If you use `gi

[2020-04-08 19:57] willdurand commented on #13590
This is not feasible because the branch ref might have become broken over time, not necessarily when we tried to create it for the first time. (I found lost/unreachable commits in the production repos I examined).

The new approach to fix this issue is to delete the repo and re-extract everything when we detect a broken branch ref.

[2020-04-08 20:16] devaneymoz opened #13937 "Collections' "Last updated" not working"
I updated some collections last week (such as this [one](https://addons.mozilla.org/firefox/collections/4757633/must-have-media/?page=1&collection_sort=-added)) and discovered the "Last updated" date does not change when collections are indeed updated.

It would be great to get this fixed so users don't feel like we're promoting abandoned collections.

@muffinresearch

[2020-04-08 20:26] willdurand commented on #13937
The [API](https://addons.mozilla.org/api/v4/accounts/account/4757633/collections/must-have-media/) returns:

[code]

[2020-04-09 07:16] AlexandraMoga commented on #13937
I've looked into this and I have something to mention.
Collections have two edit phases on the frontend:
- first edit phase - user adds or deletes add-ons
- second edit phase - user edits collection metadata

For the first edit phase, the last modified date is indeed not updated. Only when changes to the metadata are involved, the last modified date will be updated.
I think this has always been th

[2020-04-09 09:23] willdurand commented on #13590
I am not sure I've mentioned this before: I don't think we can really find the root cause behind the broken ref. It could be caused by a libgit2/pygit2 update or a FS hiccup or anything else really.

[2020-04-09 10:05] #13889 closed

[2020-04-09 12:10] diox commented on #13937
Yes, this is not surprising: the `modified` field is automatically updated when fields on the model change, but not adding or removing related models. This matches what @AlexandraMoga noted, and indeed it's always been the case. We do have a field with the addon count that is updated via a task, `collection_meta`, but in this task we explicitly avoid firing the signal that would update `modified`

[2020-04-09 14:37] eviljeff commented on #13895
The first record will be there because there wasn't a filter generated and (successfully) uploaded before

[2020-04-09 15:16] diox opened #13942 "Add more info to version creation logging"
We'd like extra information added to this log to better monitor version creation:
https://github.com/mozilla/addons-server/blob/9a7cb04ccf31da6e5fd422f302b2ba7ada596685/src/olympia/versions/models.py#L244-L245

The following should be added:
- user email
- addon guid
- user id
- ip address of the request used to create the `FileUpload` (means storing that info on the `FileUpload` when it gets crea

[2020-04-09 15:23] diox commented on #13942
For the IP, I'm thinking we don't need a new field, we can just override the value stored in `threading.local()` just for the logging, through a context manager or something. Currently it's going to be empty, there is no drawback in setting it, just need to make sure it's reset back to `None` once we're done with this.

[2020-04-09 15:50] diox opened #13943 "Add ActivityLog when a user is rate-limited"
When a user is rate-limited we should add that to an `ActivityLog` tied to the user (and the add-on, if available). We should also log those events to stackdriver.

[2020-04-09 18:13] eviljeff opened #13945 "save blocked json data; generate a stash file along with the mlbf each time"
first part of #13762 - generate the stash file.  Remainder of #13762 will be to upload the stash file (and be selective about when it's needed vs. just a filter file)

[2020-04-09 18:14] eviljeff commented on #13762
spun out the stash file generation to #13945

[2020-04-09 19:52] avgupt commented on #13851
@willdurand  can you please help me with how I could navigate to this page?

[2020-04-09 19:53] willdurand commented on #13851
You should go to the django admin: http://olympia.test/en-US/admin/models/, then `Scanners rules` and click the `+ Add` button.

[2020-04-10 10:40] #13937 closed

[2020-04-10 17:15] caitmuenster commented on #10366
Apologies for all of the back and forth in this issue (I don't know if it's possible to void some of the earlier back-and-forth comments on GH). Let's handle approval messages on issue #10364.

The following template is intended to be used for:

- rejecting new themes (1st version)
- rejecting newest version of an updated theme

The email text should be as follows:

---

**Subject:** Firefox theme

[2020-04-10 17:29] caitmuenster commented on #10364
This template is triggered when the theme is approved from the queue. We don't email notifications when themes are submitted to the queue; that notification is built in to the last page of the theme submission flow for themes listed on AMO.

For new and updated submissions listed on AMO, the template is:

Subject: Success! Your theme is available on addons.mozilla.org

Hi {{ user name}},

Thanks f

[2020-04-11 17:31] bjherbison opened #13955 "Show when an information request will expire"
When viewing an add-on with an information request I used to know when the request would expire by adding seven days to the date of the request. Now that the default length has changed I don't know how long the request was for. (And it is possible the period will be reduced again in the future.)

There are two uses for this information:
1) As an add-on reviewer I can mention the end date correctly

[2020-04-12 10:37] shashwatsingh commented on #7316
It took some time, but here is my understanding of the process:

I could find two ways to update an WebextPermission:
1. POST to addon/submit/upload-...
    - handled by `olympia\devhub\views.submit_addon_upload`
2. `olympia.devhub.tasks.create_version_for_upload`
    - (not sure how control reaches here...)

Both of these get permissions from `olympia\files\utils.parse_addon` method, which in tur

[2020-04-13 06:06] erosman commented on #9050
I also asked for showing developer names in the review queues many years ago but was rejected at the time.

The reason was that often a developer uploads different add-ons with similar code.

- In case of spam/malware, they are easier to identify
- In case of non-spam, once one is reviewed, others can be easier to review
- In case of duplicates as well, they are easier to identify

[2020-04-13 06:18] erosman opened #13957 "[Reviewer Tools] Permissions display includes content_scripts matches"
Reviewer access example:
`https://reviewers.addons.mozilla.org/en-US/reviewers/review/importify`

Display:
![image](https://user-images.githubusercontent.com/6458876/79096666-06fa4f00-7d73-11ea-8f2d-1584593b24be.png)

It appears that the `"content_scripts"` -> `"matches"` are also listed under **Permissions** display. If that is the intended behaviour, then this is not an issue.

manifest.json:
`h

[2020-04-13 06:50] ioanarusiczki commented on #13019
@EnTeQuAk Please be more specific about " git extraction works as before.", which part of the server is affected, more exactly what needs to be tested by qa.
Thanks!

[2020-04-13 11:18] ioanarusiczki commented on #13889
@diox This issue is no longer reproducible. - FF75(Win10)
I verified this on dev with an admin account. From /admin/models/scanners/scannerresult/ or en-US/admin/models/addons/addon/ I could open the review pages and then the codemanager file viewer for listed incomplete add-ons.

[2020-04-13 11:46] AlexandraMoga commented on #7540
Re-opening because this is still an issue

[2020-04-13 13:35] AlexandraMoga commented on #13937
I've verified this on -dev and the `modified` field in collections api is now refreshed after an add-on is added/removed (including removing all the collection addons).

One note regarding addons-frontend: the Last modified date will update only after the page is refreshed.

[2020-04-13 14:14] ioanarusiczki opened #13958 "Approved or Awaiting review unlisted addons show status Incomplete"
STR:
I've noticed that approved unlisted addons which passed automatic validation or those flagged for human reviews by the scanners which are awaiting review show in admin tools an "incomplete" status.

2 Examples:

https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/?q=619670
https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/?q=619638

Notes:
this issue is

[2020-04-13 17:04] jvillalobos commented on #13957
This is intentional. See https://github.com/mozilla/addons-frontend/issues/7634

[2020-04-13 17:04] #13957 closed

[2020-04-13 18:28] diox commented on #13958
That's not a bug. Add-ons with no listed versions are considered incomplete.

[2020-04-13 18:28] #13958 closed

[2020-04-14 08:41] willdurand opened #13963 "Add `delete()` method to `AddonGitRepository` class"
Refs https://github.com/mozilla/addons-server/issues/13590

---

This is part of our plan to solve https://github.com/mozilla/addons-server/issues/13590 and likely other (similar) git extraction issues.

[2020-04-14 09:06] willdurand opened #13964 "Run git extraction in a CRON (similar to `auto_approve`)"
Refs https://github.com/mozilla/addons-server/issues/13590

---

While discussing about https://github.com/mozilla/addons-server/pull/13940, @diox and I decided to step back and see how we could avoid further issues and solve existing ones.

We believe that performing the git extraction in a CRON task would allow us to:

1. make sure versions are extracted in the right order
2. more easily re-extr

[2020-04-14 09:06] willdurand commented on #13964
@diox did I miss anything? Unfortunately, I did not take as much notes as I wished..

[2020-04-14 09:38] diox commented on #13964
To extract extract versions sequentially, we talked about using a celery task chain with an unlock task at the end, similar to how it's done for code search. But that's an implementation detail (that we may or may not end up doing).

We also discussing needing a simple admin tool to view the queue and what's locked, so that we can force an extraction to happen again by pushing an add-on to the que

[2020-04-14 10:45] eviljeff commented on #7316
it would work, but I think it'll end up confusing later to mix up the logic of parsing the manifest with interpreting the permissions.

So you should add something in `ManifestJSONExtractor.parse` to store the `devtools_page` property in `data` first.  Then in `File.from_upload` where the permissions are handled (after `permissions = list(parsed_data.get('permissions', []))`) then something like `

[2020-04-14 11:09] wagnerand opened #13966 "Allow including or excluding files in code search"
It would be helpful to admins if there was a way to include and exclude files or file patterns during the definition of a code search. This could speed up performance and reduce load.

[2020-04-14 11:58] eviljeff commented on #8262
Note https://github.com/mozilla/addons-server/pull/13792#discussion_r399444293 as a possible/probable fix for the whiteboard

[2020-04-14 12:26] #13963 closed

[2020-04-14 13:02] diox opened #13967 "Override IP address used for logging everywhere in submission process with IP used in request"
Some of the submission process happens or can happen in tasks outside of the request-response cycle. When that's the case the IP address we include in the log is useless.

We are fixing that for version creation specifically in https://github.com/mozilla/addons-server/issues/13942 but other parts remain that should be fixed - the priority is lower at the moment as we're less likely to need the IP

[2020-04-14 13:04] #13656 closed

[2020-04-14 13:04] diox opened #13968 "Attach information to a Version showing whether it was submitted using API or devhub"
https://github.com/mozilla/addons-server/issues/13942 will add the notion of a `source` to `FileUpload` that tells us if the submission came from the API or devhub. We should propagate that info down the the `Version` as well, it may be useful later on. We could then expose that to admins and/or reviewers.

[2020-04-14 13:13] bobsilverberg commented on #13964
I thought it was possible for a `git_hash` to be recorded even if an extraction fails in some way. Is that not the case?

[2020-04-14 13:13] ioanarusiczki commented on #13019
@willdurand I verified on dev with several addon uploads - listed and unlisted and then checked that codemanager displayed the files.
If there's anything else I could check on please let me know.
Verified on dev with FF75(Win10).

[2020-04-14 13:23] diox commented on #13964
It's possible in theory to have a `git_hash` and that the extraction still didn't go exactly as planned (like, maybe we only partially unzipped the xpi and didn't notice, things like that) but if it's there, as far as the extraction code knows, the extraction is done.

[2020-04-14 13:25] bobsilverberg commented on #13964
Yes, I was thinking about a situation in which only some of the files were successfully written. I guess we are assuming that doesn't happen very often? What is the fix for when that does happen?

[2020-04-14 13:49] diox commented on #13964
I don't think we have any plans to address this now. I'm not sure if we have seen it in the wild yet (we did with the old file viewer, but it was a whole different architecture)

[2020-04-14 13:51] willdurand commented on #13964
I have yet to see it happen. Among the numerous things that can go wrong, I don't think this scenario exists. The git hash is given by git once the related content is tracked/stored. If the content is somehow invalid once committed in git, we have bigger problems.

A solution would be to delete the git repo for the add-on and re-extract.

[2020-04-14 13:55] willdurand commented on #13019
@ioanarusiczki thanks, I guess it should be okay then..

[2020-04-14 14:11] ioanarusiczki opened #13969 "block/confirm multiple versions should be disabled for unlisted addons flagged by scanners indefinitely"
STR:
This is an edge case which only occurs when an unlisted add-on is flagged by scanners and the auto approval is delayed indefinitely.
The review page will display in this case the "Block Multiple Versions" and "Confirm Multiple Versions" buttons.

Expected result:
The buttons should be disabled or not be available at all because there is no [version available](https://github.com/mozilla/addons

[2020-04-14 14:15] AlexandraMoga opened #13970 "Footer links headers should use the same font style"
Follow up for #13656

### Describe the problem and steps to reproduce it:
1. Open Developer Hub homepage - https://addons-dev.allizom.org/en-US/developers/
2. Scroll down to the footer section
3. Notice the font style used for all three Footer-links-headers

### What happened?
Browsers and Products are using a lighter font weight compared to Add-ons

### What did you expect to happen?
All headers

[2020-04-14 14:16] AlexandraMoga commented on #13656
The footer alignment looks good now:
![image](https://user-images.githubusercontent.com/31961530/79233934-2af08a00-7e72-11ea-9505-56c8ba18e307.png)

The new added links are also redirecting correctly and have the right `utm` parameters set.
There is a consistency issue with the footer links headers for which I've filed #13970 as a follow up.

Verified fixed on -dev on desktop and mobile.

[2020-04-14 14:29] #13945 closed

[2020-04-14 18:05] wagnerand opened #13972 "Allow some users to see email address of any account"
Some (non-full) admins need to access the email address of any account.
Could we add a feature to expose that (probably in the reviewer tools?), gated by a new permission `Users:View`?

[2020-04-14 19:05] jvillalobos commented on #13972
Can't we just create a group for those two people and give them the `Edit` permission they used to have? It doesn't require code changes and wouldn't depend on reviewer permissions.

[2020-04-14 19:09] jorrete opened #13973 "Missing UI to change add-on visibility when the add-on no longer has listed versions"
### Describe the problem and steps to reproduce it:
Addon with only one build set to invisible. Deleted the build and uploaded new one.

### What happened?
After delete last (invisible) build and uploading new one, I can't change the visibility status of new builds. Alson while uploading the new build the page warned me that the addon was invisible but there was no previous build (because a delete

[2020-04-14 19:41] jvillalobos opened #13974 "Send email to developer if add-on submission is pending review after a few hours"
If an add-on submission hasn't been signed and is pending review after a few hours, the developer should be sent an email to let them know that the file is still pending review and it could take up to a couple of days to get a resolution.

The text of the email [can be found here](https://docs.google.com/document/d/1msQ-vvDi7GDK04bTp8P5MJgiXoejTrSZ_EOay7HCUA0/edit?ts=5e8d0852#heading=h.tvvrctr03w7

[2020-04-14 20:11] jvillalobos commented on #13973
As far as I can see, the problem with the listing is that the global status was `Awaiting Review` instead of `Incomplete`. When I looked at it, it only had two unlisted versions (both `Approved`), so it is expected that Visibility wouldn't be an option.

[2020-04-14 20:12] jvillalobos commented on #13973
I fixed the status and replied separately, so maybe there's a bug on why the add-on ended this way, but it might also not be worth investigating.

[2020-04-14 20:16] jvillalobos commented on #13973
Okay, so it looks like another problem was that the extension was also `Invisible`, and that blocked uploading any kind of version (listed or unlisted). I don't know how an extension could end up like this, but that does sound like a more problematic bug.

[2020-04-14 23:00] diox commented on #13973
That add-on used to have listed versions, but they were deleted. Presumably before they were deleted the add-on was made `Invisible`, then the versions were deleted, leaving only the unlisted ones...

Note that it is possible to upload new *unlisted* versions while in `Invisible` state, since https://github.com/mozilla/addons-server/issues/4025 was fixed.

[2020-04-14 23:09] diox commented on #13973
So:
What governs the fact that you can see (and change) the `Listing visibility` is whether or not you have a listed version (disabled count, deleted do not). We default to the add-on being visible. In addition, while the add-on is invisible, per #4025 you can't upload any new listed versions.

Therefore, if you start with an add-on that has a listed version, make it invisible, then delete the ver

[2020-04-14 23:11] diox commented on #13973
Alternative solutions:
- Show the `Listing visibility` at all times, with a different copy to make it clear it will only affect listed versions if one is ever published.
- Show the `Listing visibility` if the add-on had deleted listed versions as well (so they wouldn't get stuck in that scenario)

[2020-04-15 06:57] ioanarusiczki commented on #13963
@willdurand I'm going to check again by uploading add-ons and then opening the uploaded files with codemanager.

[2020-04-15 07:37] AlexandraMoga commented on #13942
@diox is there anything I should verify for this?

[2020-04-15 07:41] AlexandraMoga commented on #13945
@eviljeff I'm not sure what I should be verifying here.

[2020-04-15 08:57] eviljeff commented on #13945
It's not really practical to verify on it's own - it can be done with #13762

[2020-04-15 09:15] diox commented on #13942
Make sure uploads of new add-ons/versions still work both in API and devhub. If you give me the guids used afterwards I can look at the logs to see if the extra info is here.

[2020-04-15 10:03] wagnerand commented on #13972
Yes, I had thought about that. The downside is that it requires a functional VPN setup (and a special VPN group iirc).

I agree that ideally, this would be outside of the reviewer tools, but we can't expose it on the public account page on the frontend, and the admin tools require VPN.

[2020-04-15 12:42] AlexandraMoga commented on #13942
@diox submissions are still working both from DevHub and the API.
You can check the logs for the following guids from stage:

**DevHub**
{6f6b1eaa-bb69-4cdb-a24f-1014493d4290} - new add-on listed
{157dcd26-1a4b-48b1-8795-7cfee6a34414} - new add-on unlisted
{895e9e51-5a7f-4c67-aa6d-0b7de4813185} - new version to existing listed add-on
{87d16d3d-0451-440f-b283-2ed798c45dc4} - new version to existing

[2020-04-15 12:59] willdurand opened #13980 "Update pygit2 to 1.1.1"
Let's update `pygit2` to `1.1.1`. We cannot update to `1.2.0` yet because the `libgit2-dev` package isn't available in the deb repos yet. We should not rely on these packages but Python Wheels are currently broken so 🤷

**For QA:** please make sure git extraction works as before (no obvious regression/breakage)

[2020-04-15 12:59] #13980 closed

[2020-04-15 12:59] diox commented on #13942
I can see the info in the logs and it looks correct. One caveat is that `uid` (which points to `username` in our setup) is not set for API requests - but `user_id` and `email` are correct. I'll follow-up, but `user_id` and `email` are more useful anyway.

[2020-04-15 13:18] bobsilverberg commented on #13660
I've finished looking through all of our code to see what data is used where. I am going to add some comments to this issue describing some of my findings, and we can then discuss what, if anything we want to do about them.

[2020-04-15 13:31] AlexandraMoga commented on #13942
Re-opened by accident but I can't close it anymore :(

[2020-04-15 13:31] #13942 closed

[2020-04-15 13:53] ioanarusiczki commented on #13980
@willdurand I believe it's what I said here https://github.com/mozilla/addons-server/issues/13963#issuecomment-613853992
I've been uploading and checking code manager files today but this was merged an hour ago. I guess I should re-check?

[2020-04-15 13:54] ioanarusiczki commented on #13963
Verified on dev with FF75(Win10).

[2020-04-15 14:48] willdurand commented on #13980
it's fine

[2020-04-15 15:57] diox opened #13981 "Stop depending on ubuntu 19.04 for travis"
Travis builds currently depend on Ubuntu 16.04 LTS plus some extra packages from Ubuntu 19.04 (`libmagic-dev`, `libmagic1`, `libmagic-mgc`).

This was done to match (roughly!) what we're doing in our `Dockerfile`, installing packages from `stretch` and `buster`. Unfortunately while Ubuntu 16.04 LTS is still supported, 19.04 has reached EOL so we should replace the repos we're using, trying to stil

[2020-04-15 16:19] diox commented on #13981
Also look into the version used for libgit-dev

[2020-04-15 16:45] jvillalobos commented on #13973
FWIW, I didn't see _any_ upload options in the DevHub when I looked at this add-on. Maybe it's only allowed via the API?

That sounds good to me.

[2020-04-15 17:10] jvillalobos commented on #13972
They wouldn't need to be VPN'd to access the DevHub pages of an extension. This is what they did back when they were in the `Staff` group.

Also, this would be a temporary solution, since Salesforce would be the better replacement for this. We just need to get the sync finalized before making the switch.

[2020-04-15 18:09] wagnerand commented on #13972
Yes, I was talking about `Users:Edit`, which requires VPN.
There is also `Addons:Edit` which is probably what you meant. We removed the _Staff_ group for security reasons and I am hesitant to bring back those permissions, in particular write access to the devhub. That was the main concern that lead to removal of the _Staff_ group.

It's also unclear when Salesforce sync is fixed, since that has be

[2020-04-15 18:53] diox commented on #13973
I think that's because you were looking at the add-on as an admin, not as an actual developer of the add-on. The reporter shared some screenshots on Matrix and they had the upload button (they were just limited to self-hosting).

[2020-04-15 19:12] bobsilverberg opened #13983 "Investigate slow loading reviewers API calls"
After having captured fetch timings via Code Manager for the past couple of months, it seems worthwhile to investigate the worst performers to see (or validate our guesses) for what commonalities there are for slow requests.

Here is a list of the worst performing requests (ones which took 5 or more seconds) over the past 2 weeks. Note that there are nearly 50 requests which took more than 2 secon

[2020-04-15 19:15] bobsilverberg commented on #13983
@diox How do you think it best to undertake this investigation? Should I just call each API and interrogate the data that is returned, looking for things like size of file content and number of entries, or is there something more scientific/automated that could be done on the server-side, and or with Python?

[2020-04-15 19:29] jvillalobos commented on #13972
It has moved slowly, but there's progress being made.

As a temporary fix, limited to two people, I think it's acceptable and preferable to making code changes that will be later discarded.

[2020-04-15 19:40] bobsilverberg commented on #13983
Here's some data from NewRelic. I'm not sure if I've found the best way to access the data we are interested in, but I found that I could list slow responding transactions, and by filtering on `olympia.reviewers.views:ReviewAddonVersionViewSet.retrieve` I was able to generate a list of API calls. Here's what I was able to retrieve:

Date | Transaction / Details | App server
-- | -- | --
04/14 06:2

[2020-04-15 19:49] bobsilverberg commented on #13660
This was already discussed at https://github.com/mozilla/addons-server/issues/13660#issue-576954165, but I think this could be a major gain:

We only need the file entries the first time we retrieve a version, after which we cache them, but every time a Browser or Compare API is called we get all of the entries back. After we have cached information for a version, we need much less information the

[2020-04-15 20:13] bobsilverberg opened #13984 "Optimize the transmission of file entries via the reviewers APIs"
We believe, partially based on data from https://github.com/mozilla/addons-server/issues/13983, that a big factor in the performance of the reviewers APIs is the computation and transmission of file entries.

There are two issues here:
1. The file entries for a given browse or compare API request are calculated on the fly, based on the filesystem. Some add-ons have thousands of files, and this cal

[2020-04-15 20:21] bobsilverberg commented on #13984
There is a third issue with respect to file entries that I'd like to add.

Looking at the data needed/used by code manager, it appears that there are some properties of file entries that are not used at all, and others that are not actually needed by the file tree, but rather are used to calculate values for the current file.

Examples of the former are `size` and `modified`, which could be elimin

[2020-04-15 20:22] bobsilverberg commented on #13660
An issue that discusses potential changes to the way the API deals with file entries has been opened at https://github.com/mozilla/addons-server/issues/13984.

[2020-04-16 09:38] diox opened #13985 "Upgrade docker image to latest Debian stable"
Our `Dockerfile` and `Dockerfile.deploy` are built from `stretch` which is the old debian stable. We should upgrade to `buster`, which is the latest stable. That will allow us to remove this hack where we install a couple packages from `buster` while being on `stretch`:
[code]

[2020-04-16 09:39] diox commented on #13985
See also #13981

[2020-04-16 09:58] #13981 closed

[2020-04-16 12:04] ioanarusiczki commented on #13980
@willdurand I verified on AMO stage while release testing. I did not encounter problems with code manager.
Verified with FF75(Win10).

[2020-04-16 12:54] diox commented on #13966
A special `filename` variable is automatically going to contain the filename. So, for instance, to write a rule that would only apply to JSON files containing `foo`:
[code]

Or only `manifest.json` files that contain `foo`:
[code]

Or all files that contain `foo` *except* for `.json` files:
[code]

etc.

[2020-04-16 13:03] diox commented on #13943
QA; an `ActivityLog` should be created and associated to the user that made the request when they are hitting rate limits (regardless of what rate limit was hit). That `ActivityLog` should only be visible to admins (for instance from the user admin pages, there is a link to see all activity logs) but not the developers or reviewers.

Keep in mind rate limiting is currently disabled on dev (but ena

[2020-04-16 14:59] ManishAradwad commented on #13690
Hello, I'd like to work on this issue.

[2020-04-16 15:28] diox commented on #13690
A few extra hints for someone wanting to fix this issue:
- `timezone` must be imported from `datetime` since we already do `from datetime import datetime` at the top of the file. Also, `FixedOffset` must be removed as well.
- `timezone()` takes a `timedelta`, not an `int`
- `commit_time_offset` represents a number of minutes

[2020-04-16 16:02] bbangert commented on #13896
Is this a new integration? We have a new system for propagating these events now that is preferred over using the SQS queue:
https://mozilla.github.io/ecosystem-platform/docs/process/integration-with-fxa#webhook-events

[2020-04-16 17:03] wagnerand commented on #13972
I found a workaround that doesn't require code changes.

[2020-04-16 17:03] #13972 closed

[2020-04-17 06:20] d86leader opened #13997 ".tgz file is accepted on Upload but causes silent error in Describe step"
### Describe the problem and steps to reproduce it:
Creating this issue after a brief discussion on discourse.mozilla.org

I'm trying to submit an addon. I follow the steps from extensionworkshop.com, and all goes well, no errors when uploading anything. On the "Describe Add-on" web page, when I fill all the required fields and press submit, I'm directed to the same page with no changes. The exact

[2020-04-17 09:29] #12742 closed

[2020-04-17 10:12] eviljeff opened #13999 ""TestADICommand.test_download_counts_from_file_includes_disabled_addons" test failure"
[code]

[2020-04-17 10:13] eviljeff commented on #13999
Our guess is there's a race condition because the file is copied to that location in test setup and then deleted in cleanup - if two instances are running at once then the first deletes the file before the second is finished.

[2020-04-17 10:19] eviljeff commented on #13999
can be replicated locally with `pytest src/olympia/stats/tests/test_commands.py::TestADICommand -n 2` (repeat if it doesn't fail)

[2020-04-17 10:37] eviljeff commented on #13725
I think there are two ways this could work:
- a kinto change to allow dual sign-off to be bypassed for specific users while keeping the collection requiring dual sign-off for other users.
- a hack around dual sign-off whereby AMO has a second user account that it uses to sign-off it's own submissions.  AMO would have to be trusted to correctly apply this.

[2020-04-17 10:49] eviljeff commented on #13725
@jvillalobos thoughts?  WONTFIX?

[2020-04-17 10:58] wagnerand commented on #13725
Depending on how long we are going to support v2, I'd prefer not to wontfix, if the effort for either approach is reasonable.

We can probably use the manual workaround for a couple of months, but if we are going to support v2 past 2020, we should implement either approach.

[2020-04-17 12:41] willdurand commented on #13966
That won't work with the approach we took but on the other hand, this is not so much a problem I think.

[2020-04-17 12:49] willdurand opened #14000 "Export the results of a scanner query rule to CSV"
We should provide a way to export the results of a scanner query rule to CSV so that admins can (1) better analyze the results and (2) share some of the results with other folks (with some information omitted).

[2020-04-17 13:27] diox commented on #13966
The following special variables will be available:
- `is_json_file ` (`true` for filenames ending with `.json`)
- `is_manifest_file` (`true` for `manifest.json` file at the root)
- `is_locale_file` (`true` for `messages.json` files in `_locales/` folder at the root)

[2020-04-17 13:27] #13966 closed

[2020-04-17 13:28] jvillalobos commented on #13997
Have you tried with a different Firefox profile or a different browser? Maybe you changed something in your JavaScript or security settings?

[2020-04-17 13:41] jvillalobos commented on #13725
The [current migration plan](https://docs.google.com/document/d/12wGjFjscu2pixwt795aHAyoswHsQzztzVUzWjiQz4vg/edit#), assuming we successfully hit 78, would freeze the v2 blocklist in September 2020. If we WONTFIX it sounds like the administrative effort during that time period is equivalent to the current one. We'd just be entering the blocks on AMO instead of Kinto, and then doing the approval on

[2020-04-17 16:33] eviljeff commented on #13931
After investigation, turns out the problem is the same as #13752 - i.e. the next_path when encoded as state (along with other state information) exceeds the maximum length.

A url looks like `/en-US/admin/models/blocklist/block/add_addon/<addon-id>/?min_version=1.0&max_version=1.0` - if the combination of the addon-id and version strings is too long, it fails.  I could do something similar to the

[2020-04-17 21:28] caitmuenster opened #14008 "Unable to access search result pages after 1000th page"
Submitting this on behalf of MaDonna.

MaDonna had performed [this search](https://addons.mozilla.org/en-US/firefox/search/?page=1000&sort=users&type=statictheme%2Cpersona), which returns 18,430 pages of results. Once she hit page 1000, she wasn't able to advance to page 1001 of the search results. Clicking on page 1001 or "Next" resulted in this error:

![Screen Shot 2020-04-17 at 2 23 13 PM](htt

[2020-04-17 21:43] diox commented on #14008
This is an intended limitation, designed to limit server costs. 25000 results should be enough for most cases :)

[2020-04-17 21:43] #14008 closed

[2020-04-18 09:43] d86leader commented on #13997
I did change thing in my security settings, basically enabled all of the firefox privacy stuff, and set cookies to be remembered only for one session.

Tried it again in a fresh virtual machine with a fresh firefox 75.0 (linux) with all default settings, and still the same result

[2020-04-19 18:35] #13690 closed

[2020-04-20 09:37] eviljeff opened #14013 "delete/replace unnecessary extra non-base mlbf files in collection"
followup from #13762

when #13762 lands we will generate a new mlbf each time there is a new stash file, but the client won't ever need more than either a) the latest mlbf (if no stash support) or b) the base mlbf (if stash support).

So we should either delete the older records with now obsolete mlbf attachments, or replace the attachments in those records with the latest filter.  imo the latter

[2020-04-20 09:46] eviljeff opened #14014 "Filter out non-pending Blocklistsubmission instances from the admin list view by default"
`Blocklistsubmission` records are never deleted (currently, #13278), even after the records have been approved and the submission expanded to `Block` objects.  We should have a default filter so when users visit the page they just see the outstanding submissions that need approval.

These a the 5* states of a `Blocklistsubmission`
[code]

@wagnerand would you prefer the default to be filtering _ou

[2020-04-20 10:03] diox commented on #13984
All good leads I think. The first deserves its own issue, the other 2 could be done together. I like the idea of a new API to fetch file info, I was never a fan of how we use the version API + a `file` query parameter for this.

[2020-04-20 10:47] #12569 closed

[2020-04-20 11:07] wagnerand commented on #14014
Let's filter to `SIGNOFF_PENDING` as the default.

[2020-04-20 12:32] willdurand commented on #13964
So I have a patch that works locally. I am going to file new issues to land this huge feature in small pieces. Since the sources have a different repo, I am going to focus on addons git repos for now (and not the sources).

The feature will be behind a waffle switch so that I can land small patches and we can enable/disable this feature if needed (until we are confident enough).

[2020-04-20 12:35] willdurand opened #14015 "Add a model to lock an add-on during git-extraction"
Supports https://github.com/mozilla/addons-server/issues/13964

---

We need a way to lock an add-on when we are extracting its files into git. Let's have a 1-1 model for that.

[2020-04-20 12:42] willdurand opened #14016 "Add a model that stores add-on IDs for git extraction"
Supports https://github.com/mozilla/addons-server/issues/13964

---

We need a model that acts as a queue of add-on IDs so that our CRON task knows which add-ons to process.

[2020-04-20 13:05] diox opened #14018 "Add high-level overview documentation of blocklist submission and generation"
We need something documenting the blocklist submission and generation process at a high-level. Something that describe:
- How and when the 2 different models are used at submission
- How the blocklist base file is generated, and when / how stashes are added to that
- Ideally, also something that describes how the client behaves.

[2020-04-20 13:46] #13751 closed

[2020-04-20 13:46] #13762 closed

[2020-04-20 15:26] bobsilverberg commented on #13984
Thanks @diox. I will open a separate issue for item 1. I was wondering about your second sentence, are you suggesting one API that *just* returns version info (and no file info), and then a second API that *just* returns file info? I do think that makes sense from an API design perspective, but I suspect the reason we have the current design is that code manager never needs *just* version info, an

[2020-04-20 15:33] bobsilverberg opened #14019 "Pre-calculate file entries when extracting a version"
This is a spin-off from #13984

As discussed there, the file entries for a given browse or compare API request are calculated on the fly, based on the filesystem. Some add-ons have thousands of files, and this calculation can be quite expensive and time consuming.

We could address this by pre-calculating the file entries for a version when the version is extracted, and storing them on disk in a j

[2020-04-20 15:37] diox commented on #13984
Yeah I don't mind returning version+file info together, it's just that version info currently is really version info + the whole list of files entries... which we only really need once for the file tree, so it doesn't make sense sending it every time as you said.

[2020-04-20 15:49] bobsilverberg opened #14020 "Allow Browse and Compare APIs to return just file data"
This is a spin off from #13984

Code manager only needs version specific information (e.g., file entries) the first time a version is requested, but the current APIs return version info for every request, even when code manager really only needs data for the requested file.

To deal with this we should introduce a new URL param (called `file_only`) for the Browse and Compare  endpoints that can be

[2020-04-20 19:53] jvillalobos commented on #13997
Okay, I just tried it myself and I get the same behavior. No error messages and nothing stands out in the Web Console.

@d86leader could you attach the file that you uploaded?

[2020-04-21 03:44] d86leader commented on #13997
This is the extension itself: [pure_image_redirecter-1.0.zip](https://github.com/mozilla/addons-server/files/4507519/pure_image_redirecter-1.0.zip)

This is the sources archive: [image_redirecter.tar.gz](https://github.com/mozilla/addons-server/files/4507523/image_redirecter.tar.gz) - it had `tgz` extension when I uploaded it to amo, but github disallows it so I changed it to `tar.gz` just for git

[2020-04-21 07:55] AlexandraMoga commented on #13997
As far as I can tell, this issue is caused by the `.tgz` archive type uploaded as source file.
If I'm uploading the extension mentioned above without source files or with a different archive type as source files (i.e `.zip`, `.tar.gz`) , the issue will not reproduce.
I've also tried with a different add-on and `.tgz` source file and I was able to reproduce the issue.

[2020-04-21 08:15] AlexandraMoga commented on #13931
@eviljeff this is an add-on example that will reproduce the issue:
review page; https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/480740e3e7a24dcd8813
It could be any of the two versions available, although the version strings are pretty normal, i.e. they are not too long.

[2020-04-21 08:34] AlexandraMoga commented on #14008
There is an inconsistency here between the API behavior and what the frontend is displaying, i.e. the pagination is not blocked at the 1000th page, although there are no further results to display after that.
This has been a long standing issue and is reported in https://github.com/mozilla/addons-frontend/issues/3887

[2020-04-21 09:29] AlexandraMoga commented on #13762
@eviljeff can you add a few guidelines on what should be tested here?
For example, where can I see the these stashes, should a new stash be created each time I'm adding/changing a block, what should happen in case blocks are deleted.
Also, how is `/collections/addons-bloomfilters/records` affected by this? Did we change the conditions and time intervals for new mlbf generation?

[2020-04-21 10:27] eviljeff commented on #13762
If there are block changes (new blocks; changes to existing blocks; block deletions) then when the next cron job runs (still every 6 hours) the following will happen:
- if there are more than 500 different versions (i.e. guid:version combinations that are either new and not in the bloom filter, or have been removed from the bloom filter) then the collection will be cleared and a single record with

[2020-04-21 11:17] d86leader commented on #13997
I tried it with `.tar.gz` and it worked indeed! So, is it intended behaviour? I myself like calling my archives with a simpler extension.

[2020-04-21 11:45] AlexandraMoga commented on #13966
@diox should these variables be specified in the definition when creating a new yara rule or are they included by default?

[2020-04-21 13:17] wagnerand opened #14024 "Cannot reject unlisted version pending review"
### Describe the problem and steps to reproduce it:

An unlisted version awaiting review cannot be rejected.

### What happened?

There is no "Reject" action.

### What did you expect to happen?

A reviewer should be able to reject a pending version.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2020-04-21 13:53] bobsilverberg opened #14026 "Add sha256, mimetype and size to File information returned by reviewers APIs"
This supports #14020

When a client requests data for a specific file, the API should return the `sha256`, `mimetype` and `size` of the requested file. This information is currently only provided in `entries`, but we want the API to be able to return data for a file without the `entries`, hence the need for this data for the requested file.

[2020-04-21 13:56] #13577 closed

[2020-04-21 13:59] AlexandraMoga commented on #13762
I think that is the case for today's records, because I modified only a few versions and there has been only a single record with `attachment_type:  "bloomfilter-base"` generated. I'll probably need a few more days to cover the rest of the scenarios.

[2020-04-21 14:40] #13851 closed

[2020-04-21 14:49] eviljeff commented on #13638
clearing milestone (it's been bumped 4 times)

[2020-04-21 16:41] muffinresearch opened #14029 "Prevent signing of new versions if a guid is blocked and the version range is open-ended"
If a new add-on version is uploaded for a guid that is already blocked (e.g. an AMO block already exists) and the version range blocked matches the new version, it would makes sense for that new version to not be allowed to be signed.

If we continue to allow signing we'll need to continually issue new blocks when generating new block dbs / stashes.

/cc @jvillalobos and @wagnerand for input in-ca

[2020-04-21 17:03] eviljeff commented on #14029
The previous thinking on this is you'd want a (non-malware) developer to be able to submit a compliant version so the block range could be reduced.  If they can't even upload then that's not possible and admins have to get involved (more work for admins)

[2020-04-21 17:17] jvillalobos commented on #13997
I'm not sure what the intended behavior should be, but either we should support this format or show an error in the upload step.

[2020-04-21 17:22] wagnerand commented on #14029
In the past, we have edited the block range before a new version was submitted (we also usually have to manually change the add-on status to re-allow submissions), or (in exceptional cases) the developer submitted a file to us for review via email.

[2020-04-21 17:22] shashwatsingh commented on #7316
When I tried to test uploading an addon locally, I get repeated errors in
`docker-compose logs --tail=1 -f` with the same message:
[code]
![image](https://user-images.githubusercontent.com/676751/79893904-386abe80-83f4-11ea-819f-dfd98d8a6951.png)

And the browser is stuck at
![image](https://user-images.githubusercontent.com/676751/79893839-225cfe00-83f4-11ea-8e98-e7b5fd290ad1.png)

Thinking it is

[2020-04-21 17:29] jvillalobos commented on #14029
Most current blocks are open-ended because there's generally a suspicion of malicious behavior. The add-on is force-disabled and then blocked, and it's a manual process for the dev to contact us and maybe get their listing enabled again so they can submit a new version.

What I'm getting from this proposal is that, instead, only the block would be needed, and instead of disabling and later enablin

[2020-04-21 17:33] wagnerand commented on #14024
This turned out to be more complex than I thought. I am not sure I have time to complete a patch, but I attached a draft PR you could build upon. It should handle the actions side, and I noted down what's missing from the patch.

[2020-04-21 17:42] wagnerand commented on #13997
@jvillalobos What are your opinions on only allowing `.zip` files as source packages?

[2020-04-21 17:54] eviljeff commented on #14029
If we entirely prevent upload (like we do with `amo.STATUS_DISABLED`) then we should think through how this fits with changing the add-on status to `amo.STATUS_DISABLED` - we don't want to inadvertently end up in a situation where we have some add-ons disabled and blocked, and some just disabled, and some just blocked, for no underlying reason beyond a future admin user forgot/misunderstood how it

[2020-04-21 17:55] jvillalobos commented on #13997
`.tar.gz` is pretty common, so I would like us to continue supporting it. But if it's more trouble keeping it than dropping it, I'm okay with it.

[2020-04-21 17:58] eviljeff commented on #7316
The `addons-frontend` errors/logging aren't relevant for developer hub - it's just passing through the request.  All the relevant logs would be under `addons-web` or `addons-worker` or in the `logs/uwsgi-master.log` file.  Anyway, debugging via github issues isn't really practical - you're best asking us on matrix https://chat.mozilla.org/#/room/#amo:mozilla.org

[2020-04-21 19:59] avgupt commented on #9856
@muffinresearch I face the following problem : https://github.com/mozilla/addons-server/issues/13857

[2020-04-21 20:00] jvillalobos commented on #14029
What does "not allowed to be signed" mean? That it will end up pending review or that it will just be silently disabled/deleted/something else?

[2020-04-22 08:33] AlexandraMoga commented on #13577
The block history will display additional details now when a block is pending for sign off, such as: changes to version ranges, reason, url and the actual pending reason (Add/Change or Delete)

Block pending for changes:
![image](https://user-images.githubusercontent.com/31961530/79959273-99de6c00-848c-11ea-9345-f27e3a4356eb.png)

Block pending for deletion:*
![image](https://user-images.githubuse

[2020-04-22 08:54] eviljeff commented on #13577
tbh, I didn't mean that to show the extra detail for deletions because we don't actually change those properties.  I don't suppose it matters too much though.

[2020-04-22 08:58] AlexandraMoga commented on #13577
yeah, at first I thought this was an issue worth for a follow up, but it's fairly minor. If admins will find that confusing, we should consider fixing it.

[2020-04-22 09:12] AlexandraMoga opened #14037 "Separate Add and Change in Blocklist Submissions actions"
### Describe the problem and steps to reproduce it:
1. Open the Blocklist submissions model - https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/blocklistsubmission/
2. Notice the entries with an Add/Change action

### What happened?
You can't distinguish between new blocks and changed blocks by simply looking at the list entries.

### What did you expect to happen?
There should b

[2020-04-22 10:46] wagnerand opened #14038 "Increase limit to include more data in requests in django admin"
In django admin, for some actions, we hit `413 Request Entity Too Large` because the request body contains too much data. Splitting the actions into multiple smaller ones is not feasible, unfortunately. Can we increase the limit (for admin pages only)?

[2020-04-22 10:55] diox commented on #14038
@bqbn what's the value for `client_max_body_size` in nginx right now for the internal instance and can we bump it up ? We have a limit for this in the app already and it's at 2.5 MB (django's default).

[2020-04-22 10:55] eviljeff commented on #14038
In django the default is 2.5MB - we don't appear to override it.
https://docs.djangoproject.com/en/2.2/ref/settings/#std:setting-DATA_UPLOAD_MAX_MEMORY_SIZE

we don't want to increase it generally or we'd be opening ourselves to DOS'ing, but perhaps we could for the admin instance, or for /admin (ideally for particular AdminSite classes)

[2020-04-22 11:01] diox commented on #14038
The admin lives on a specific nginx config so we could bump it there. I don't think we're hitting django's limit (it would raise a 500), but rather nginx's.

[2020-04-22 11:31] muffinresearch commented on #13857
@avgupt how are you running docker. Are you running with a regular user with the docker group set as per these instructions https://docs.docker.com/engine/install/linux-postinstall/ ?

[2020-04-22 11:33] willdurand commented on #14015
We don't need this. We can merge this model with the one for https://github.com/mozilla/addons-server/issues/14016

[2020-04-22 11:33] #14015 closed

[2020-04-22 12:12] diox commented on #13966
They are always automatically present for you to use in the rule conditions if you wish.

[2020-04-22 12:24] diox opened #14039 "Override user when creating `ActivityLog` in submission-related tasks"
STR:
- Submit an add-on using the API
- Look for `ActivityLog` related to the user that did the submission

Expected results:
- You find at least one instance of `ADD_VERSION` (`{version} added to {addon}.`) linked to the user and the add-on.

Actual results:
- You don't find any instances of `ADD_VERSION` linked to the user. You do find one linked to the add-on.

This is because the `ActivityLog`

[2020-04-22 12:45] #13985 closed

[2020-04-22 13:12] AlexandraMoga commented on #13966
I've created an add-on that would match a specific rule, making sure that the rule match was placed in the files targeted by the special variables:
- one match in `manifest.json`
- one match in `_locales/messages.json`
- one match in a random `.json` file

Then I've run the following code searches:

(Inclusions)
1. _match_rule_ (includes the special variables by default) => the search runs normall

[2020-04-22 13:19] AlexandraMoga commented on #14039
@diox I've run into this issue while verifying https://github.com/mozilla/addons-server/issues/13943. There is indeed no `ActivityLog` created when a user is rate limited when submitting add-ons via the API.

[2020-04-22 13:36] diox commented on #13985
Next deploy on dev/stage/prod should be based on `buster`. We also updated the local development image and pushed a new build to dockerhub.

[2020-04-22 15:35] #13970 closed

[2020-04-22 15:37] eviljeff commented on #13970
@championshuttler you need to comment in the issue to be assigned to it

[2020-04-22 15:37] AlexandraMoga commented on #13762
I've checked the bloomfilter again today and I can see the two records generated, one as `"attachment_type": "bloomfilter-full"` and the `stash` record listing the new, changed or deleted blocks.

@eviljeff below are the stashed changes from today (12:30 UTC) and I have some observations:
1. looks like multiblock submissions are not recorder properly. I've submitted [this multiblock](https://addon

[2020-04-22 15:44] championshuttler commented on #13970
Hi @eviljeff , can you please assign this issue to me 😛 lol

[2020-04-22 15:58] diox commented on #13874
Forward-duping to https://github.com/mozilla/addons-server/issues/13943

[2020-04-22 15:58] #13874 closed

[2020-04-22 15:59] #14016 closed

[2020-04-22 16:16] bqbn commented on #14038
@wagnerand what is the URL when you hit the error? I basically want to see which domain and path need this.

[2020-04-22 16:19] wagnerand commented on #14038
@bqbn I'll reach out to you!

[2020-04-22 17:16] eviljeff commented on #14037
This isn't possible because there aren't separate types of submission - the input of multiple guids can contain a mix of change (when the guid already exists in a Block) and add (when it doesn't).

I discussed a while back in https://github.com/mozilla/addons-server/issues/13089#issuecomment-567417573 and Product accepted the argument.

[2020-04-22 17:16] #14037 closed

[2020-04-22 17:48] eviljeff commented on #13762
Actually, that's correct (and I'm happy it worked!) - only signed webextension files/versions within the min-max range are included.

[code]
don't have any signed versions, and `{4f6cf33d-a455-439a-a776-d2d711325680}` only has one version, but it's outside the min-max range (min_version in the submission was 2 but the version was 1.22.2)

The stash lists (and the bloomfilter) work on versions so t

[2020-04-22 18:49] diox commented on #13857
This came up on Matrix, it's because we mount the repository clone in the container and to make that work we hardcode the uid of the user. That's a pretty rigid way of doing things and that is causing issues for people with multi-user setups or just a different uid than the default.

[2020-04-22 18:49] spoji commented on #9040
I think this should stay open if this problem still occurs from time to time.

[2020-04-22 18:57] diox commented on #14039
Wow, that's a good find, I forgot about throttling. I'll fix this.

[2020-04-22 19:01] diox commented on #13943
Mmm yeah actually it looks like it's because the scopes are not set correctly. This doesn't prevent the rate limits from working (technical explanation for those following: this doesn't cause a cache collision only because user id and ips can never collide. But this is bad and we should fix it!), but it does make the activity log string incorrect. I'll fix that.

I'll fix the API issue in #14039

[2020-04-22 20:13] bobsilverberg opened #14042 "Do not rely on entries for file-only data"
This supports #14020 and is a follow-up to #14031.

It proposes two changes:

1. Changes to the logic for calculating `mimetype`, `sha256` and `size`, so that `entries` are not required to be calculated when just retrieving data for a single file. Note that, because code won't have been introduced which would allow for just data for a file to be requested, the serializer will still calculate and r

[2020-04-23 06:34] shashwatsingh commented on #7316
I got latest source code from addons-server repository and that worked without any extra changes. The changes seem to work fine and I see this extra line. Please let me know if I can move the PR from draft.

![image](https://user-images.githubusercontent.com/676751/80066883-5f2c1080-852c-11ea-9089-890624f13528.png)

[2020-04-23 08:20] avgupt commented on #13857
@muffinresearch , as @diox pointed out the issue was due to the fact that my UID for the user for 1002. So as a workaround I did the setup on the user which had UID set as 1001 (which is hardcoded in the dockerfile), which worked for me.

[2020-04-23 08:37] AlexandraMoga commented on #13762
ah, yes. I forgot we implemented that a coupe of weeks back.

As for the version ranges, I'll try to experiment more with those.

[2020-04-23 08:46] eviljeff commented on #9040
do you have any more examples?  Without more data the issue isn't going to be worked on.

[2020-04-23 09:48] AlexandraMoga commented on #13751
I guess this should be a 'qa:not-needed'.

[2020-04-23 10:16] AlexandraMoga commented on #13851
The select field for scanner rule creation will include only `yara` and `customs` now:

![image](https://user-images.githubusercontent.com/31961530/80087488-cf09bd80-8563-11ea-91fb-710181b5d05a.png)

@willdurand This patch introduces a small regression for scanner query rule creations.  In https://github.com/mozilla/addons-server/pull/13430, scanner query rules were restricted to show only `yara`,

[2020-04-23 10:19] diox opened #14044 "Process all email templates with the same template language, harmonize their paths"
Most or our email templates are being processed with Django Template Language instead of Jinja2, but not all. For consistency, and to help fix the config for extraction in https://github.com/mozilla/addons-server/issues/12879, we want to make them all use the same engine and harmonize their paths - have them all under `emails/` and not `email/`.

~~**Edit:** because of issues with localization we'

[2020-04-23 10:20] willdurand commented on #13851
Yes, you can file an issue. I am not sure why this is different now, though.

[2020-04-23 11:25] wagnerand commented on #9302
I can't reproduce this anymore using the given example file. Please reopen if you come across this again.

[2020-04-23 11:25] #9302 closed

[2020-04-23 11:39] AlexandraMoga commented on #9302
I could not reproduce this anymore either. I've tried with the examples from the issue and with some more recent files.

[2020-04-23 11:45] spoji commented on #9040
Unfortunately I do not have more data or examples for this. I understand this issue is stuck and won't be worked on without more information. Feel free to add back the stale flag.

[2020-04-23 11:48] AlexandraMoga opened #14046 "Hide 'customs' in scanner query rule select field"
Regressed by https://github.com/mozilla/addons-server/pull/13949

### Describe the problem and steps to reproduce it:
1. Open the scanner query rule creation form - https://addons-internal.stage.mozaws.net/en-US/admin/models/scanners/scannerqueryrule/add/
2. Click on the select field to see the available scanners

### What happened?
Both `yara` and `customs` are present

### What did you expect to

[2020-04-23 11:50] wagnerand commented on #9707
@diox how do you feel about manually running

`UPDATE addons SET status = 0 WHERE current_version IS NULL`

?

[2020-04-23 14:09] #14026 closed

[2020-04-23 14:21] diox commented on #9707
WFM.

[2020-04-23 14:35] wagnerand commented on #9707
@bqbn Could you run the query above on all environments?

[2020-04-23 14:44] diox commented on #14044
QA: make sure all emails we send out are still working properly. This includes:
- api key revocation/confirmation
- successful submission
- confirmation of an author added to an add-on
- confirmation of an author removed from an add-on
- user rating email notification
- reviewer & developer replies
- reviewer rejection/approval

[2020-04-23 15:04] #13931 closed

[2020-04-23 16:18] shashwatsingh commented on #10314
May I pick this? I have basic understanding of django/python.

[2020-04-23 16:49] eviljeff opened #14050 "Add command to bulk add guids to the blocklist"
#14038 wasn't enough - there are bottlenecks in django and the ORM with attempting to add a BlockSubmission with a large (1000+) number of guids in single attempt.

Instead lets add a management command to be run by ops for this one-off task.

[2020-04-23 17:08] vcarciu opened #14051 ""Request was throthled" error is displayed after a double click on rating stars."
Steps to reproduce:
1.Open any extension on addons.mozilla.org
2.Fast double click on rating stars

Expected results:
Even is the "Request was throthled" error is displayed, users should be able to write the review for first click

Actual results:
Users cannot write the review after fast double click and ""Request was throthled" error message is displayed

Reproducible also on Stage and -dev.

[2020-04-23 17:09] eviljeff commented on #14038
closing in preference of #14050

[2020-04-23 17:09] #14038 closed

[2020-04-23 17:16] eviljeff commented on #10314
You can, but you'll be on your own getting it working and I'm not sure how easy it will be.  I'd look at how developer hub handles popping up confirmation dialogs for other actions (e.g. deleting an addon).

[2020-04-23 17:33] willdurand commented on #14051
This issue is actually a dup of https://github.com/mozilla/addons-frontend/issues/4007 and I updated the issue to reflect the problem mentioned here.

[2020-04-23 17:33] #14051 closed

[2020-04-23 20:49] #12879 closed

[2020-04-23 21:21] diox opened #14053 "Move blocklist/* and addons/admin/* templates under admin/"
The follow templates are django admin templates but don't follow the usual pattern of being under `admin/<app>/<model>_<...>`:
* `src/olympia/addons/templates/addons/admin/file_inline.html`
* `src/olympia/blocklist/templates/blocklist/block_change_form.html`
* `src/olympia/blocklist/templates/blocklist/block_change_list.html`
* `src/olympia/blocklist/templates/blocklist/blocklistsubmission_add_for

[2020-04-24 04:23] shashwatsingh commented on #10314
I will give this a try, thanks for the pointers.

[2020-04-24 08:53] bjherbison opened #14054 "The content review display of links doesn't always match the product page"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

View the descriptions on these two pages:

https://addons.mozilla.org/en-US/firefox/addon/passwall/
https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/passwall

The listing has:
[not linked]the[not linked] [linked]awesome passwall community[linked] [not linked]and

[2020-04-24 09:03] wagnerand commented on #14054
The invalid HTML causing this is:

[code]

[2020-04-24 09:22] ioanarusiczki opened #14055 "An error for the name field is shown when one of the locales passes the 50 char limit while uploading the first version"
STR:
While making addon uploads @release testing yesterday on AMO stage I encountered an add-on (I downloaded version 3.1.1 for Cookie Auto Delete from prod) which gave an error on the last page of the submission form - the "name" field.
"Ensure this value has at most 50 characters (it has 54)."
Further investigating around the addon, I've noticed multiple locales and one of them, the "bg" has the

[2020-04-24 11:37] AlexandraMoga commented on #13970
Verified fixed on AMO-dev:

![image](https://user-images.githubusercontent.com/31961530/80208529-16ae4900-8639-11ea-8819-c9d33a4ef2d7.png)

[2020-04-24 11:50] AlexandraMoga commented on #13931
Verified fixed on -dev.
I am able to log in successfully when using the Block multiple version method for unlisted add-ons.

[2020-04-24 12:00] avgupt commented on #9588
@eviljeff should the errors are supposed to just go to the top or we need to find the input causing the error and then place it accordingly?
If such errors can only be generated by Theme names then we use the easier way.

[2020-04-24 12:46] AlexandraMoga commented on #9588
@avgupt errors can also be generated by the header upload component (see screenshot) so I think the best approach would be to connect the error messages to the actual field that generated them.
For example, we would not like to see this upload limit error next to the theme name field (assuming that the easier implementation is chosen).
![image](https://user-images.githubusercontent.com/31961530/80

[2020-04-24 13:27] wagnerand opened #14056 "Show links to other channel on reviewer page for deleted add-ons"
### Describe the problem and steps to reproduce it:

For deleted add-ons, there are no _Listed Review Page_ and _Unlisted Review Page_ links in the right-hand side navigation, even if there are versions in those channels.

### What happened?

Links are not available for deleted add-ons.

### What did you expect to happen?

Links should be available even for deleted add-ons.

### Anything else we s

[2020-04-24 13:36] diox commented on #14056
Should be a matter of passing `include_deleted=True` to the relevant `has_listed_versions()` and `has_unlisted_versions()` calls in the template.

[2020-04-24 13:58] wagnerand commented on #14056
Yep, thanks! I've had the patch ready for a few days, just didn't get around to test it.

[2020-04-24 14:09] willdurand commented on #13590
Once https://github.com/mozilla/addons-server/issues/13964 has landed, the plan is to have a `BrokenRefError` that we can gracefully handle in the celery error handler. We'll have to:

1. detect this error
2. delete the git repo
3. submit a new git extraction request for this add-on

[2020-04-24 14:31] willdurand opened #14057 "Error in locales causes travis/circle errors"
We should fix the errors reported by `dennis` because it breaks pretty much everything :(

[2020-04-24 14:36] ioanarusiczki commented on #14026
@bobsilverberg I verified on dev (I must say I did not finish investigating this entirely)
For the Browse API my example is https://addons-dev.allizom.org/api/v5/reviewers/addon/618937/versions/1690425/?file=src/capture/index.html
The Compare API is https://addons-dev.allizom.org/api/v5/reviewers/addon/618525/versions/1689955/compare_to/1689956/?file=src/contribute/contribute.bundle.js

They both

[2020-04-24 15:47] willdurand commented on #14044
I think https://github.com/mozilla/addons-server/issues/14057 is a regression caused by this issue. I don't really understand why but there are missing newlines (`\n`) in many localized strings..

[2020-04-24 15:51] #13964 closed

[2020-04-24 16:02] diox commented on #14044
Why would missing newlines break the build ?

[2020-04-24 16:04] willdurand commented on #14044
I don't know. Maybe Pontoon does not keep newlines that are before any content after the content? The missing newlines are those ones.

[2020-04-24 16:06] willdurand commented on #14057
Some examples:

[code]

If we fix those, new ones will appear for similar strings in other locales :( I don't know why this is happening, though.

[2020-04-24 16:07] willdurand commented on #14044
Maybe this issue does not have anything to do with #14057 but some localized strings looked like emails so..

[2020-04-24 16:07] diox commented on #14044
The difference is one thing. But why does it break the build to have newlines or not ?

[2020-04-24 16:08] diox commented on #14044
The email changes did have an impact on newlines. I'm trying to understand why this would be an issue though. Worst case scenarios the translation doesn't match until it's updated ?

[2020-04-24 16:09] willdurand commented on #14044
See all the builds on both circle and travis for the last 12h. Circle-ci breaks before it is able to push the docker image and the travis job fails, so it is red everywhere.

[2020-04-24 16:11] diox commented on #14044
I saw the failures but didn't realize dennis actually cared about the newline differences :(

[2020-04-24 16:12] diox commented on #14044
So the problem is, if we revert this patch, then the extraction no longer works (`PUENTE` config would need to be updated to match) so we end up in a similar situation...

[2020-04-24 16:17] willdurand commented on #14044
Pontoon seems to handle newlines correctly, though: https://pontoon.mozilla.org/sv-SE/amo/LC_MESSAGES/django.po/?search=You%27re+rece&string=209807. Localizers removed the trailing newlines, though.

[2020-04-24 17:08] willdurand opened #14063 "Add an admin to view the git extraction queue"
We have a new `GitExtractionEntry` model that is used as a git extraction queue (we add add-ons that might have versions to git-extract there). We should have a django admin to see the state of this "queue" in case something goes wrong and an add-on is locked for "git extraction" forever (we need an action to unlock the add-on in this case).

[2020-04-24 17:12] #14057 closed

[2020-04-24 17:48] willdurand opened #14064 "move git utils to the git app"
This issue is about moving `src/olympia/lib/git.py` to something like `src/olympia/git/utils.py`.

For QA: git extraction should work as before.

[2020-04-24 19:16] avgupt commented on #13510
Raised a PR: https://github.com/mozilla/addons-server/pull/14035

[2020-04-24 19:46] Rob--W opened #14066 "Update to filtercascade >= 0.4.1 and fix the logic"
`filtercascade` has had an update to fix a typo (`filter.bitarray` -> `current_filter.bitarray`), plus some extra sanity checks (https://github.com/mozilla/filter-cascade/pull/23).

The implementation in addons-server should be updated to use this new version.
Besides that, the `fprs` calculation usage should also be adjusted: Using that logic I hit a runtime error for the sample input of 1 non-bl

[2020-04-25 16:25] petercpg opened #14067 "message typo: Firefox "on" Distribution Agreement"
### Describe the problem and steps to reproduce it:
I noticed this when localizing AMO on Pontoon recently.

### What happened?
https://github.com/mozilla/addons-server/blob/892e442ee61fe2592f19969357ed5d40a9e9fb2e/src/olympia/users/models.py#L888

Firefox `on` Distribution Agreement should be a typo.

### What did you expect to happen?
The message should be Firefox `Add-on` Distribution Agreement

[2020-04-25 16:27] petercpg commented on #14067
cc / @peiying2 to check this issue

[2020-04-25 21:24] peiying2 commented on #14067
Thanks for reporting. I will ping the channel on slack to get someone to reply to this issue.

[2020-04-26 21:24] yoasif opened #14068 "Search by license"
### Describe the problem and steps to reproduce it:

I'd like to see a dropdown in my filters on my search result pages that let me filter by license type.

### What happened?

There is no filter.

### What did you expect to happen?

Something like

![image](https://user-images.githubusercontent.com/152493/80320156-b22eed80-87e2-11ea-9612-2e2c1632c2d5.png)

### Anything else we should know?

Discu

[2020-04-26 21:27] yoasif commented on #14068
Refiled to https://github.com/mozilla/addons-frontend/issues/9383

[2020-04-27 08:12] bershanskiy commented on #14068
@yoasif I think server does not support filtering by license. You can see the supported search queries [here](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search). Could you re-open this issue?

I'm not sure what you mean by "and so on" on the UI mock-up. Could you elaborate?

[2020-04-27 09:25] diox commented on #14067
It does look like a typo. We could modify every `.po` but just fixing `models.py` should be enough, I think. On next extraction the translation will be marked as fuzzy but that should be easy to fix and ensures translators can double-check their translation (we don't know if they saw the typo or not, and therefore we don't know what they translated exactly).

Fee free to submit a pull request with

[2020-04-27 09:41] #13590 closed

[2020-04-27 09:45] willdurand commented on #11262
I think this is going to be fixed by https://github.com/mozilla/addons-server/issues/13964

[2020-04-27 09:45] #11262 closed

[2020-04-27 09:52] willdurand opened #14070 "Git-extract sources with the CRON task"
Once we are confident that https://github.com/mozilla/addons-server/issues/13964 is working as intended, we can add the logic to also git-extract the `sources` files with this CRON task.

[2020-04-27 11:47] #13510 closed

[2020-04-27 11:48] bobsilverberg opened #14072 "Allow The FileEntries serializer to return data for a file only"
Depends on ~~#14042~~
Supports #14020

Allow the `FileEntries` serializer to return data without entries. Once this is in place it should be pretty easy to implement #14020 which would provide an API endpoint that can be used to request just file data, without entries.

[2020-04-27 13:05] ioanarusiczki commented on #14026
@bobsilverberg I verified this issue on dev with Postman and I also checked in the Console the Responses for the Browse and Compare APIs and I think I can mark the issue verified because:

- I found `size` being available in "file" which was already there if I compared it with the responses on AMO stage but now the difference is that the correct size of the selected file is shown.
- `sha256` and `

[2020-04-27 14:29] AlexandraMoga commented on #14044
I've verified (hopefully) most of the actions that would trigger an email (see complete list below). The email templates are working the same as before.

<details>
<summary>Email triggering actions tested</summary>

- new user submits first add-on
- user submits new version to listed add-on -  auto-approval email
- user submits unlisted add-on -  auto-approval email
- user submits theme -  approva

[2020-04-27 14:43] #14063 closed

[2020-04-27 14:53] yoasif commented on #14068
It isn't my mockup (copied it from reddit), but I would assume that it is all the available licenses on AMO.

[2020-04-27 16:15] caitmuenster commented on #13551
Note: to fix this bug, you need to install the add-ons server (described on our onboarding wiki:  https://wiki.mozilla.org/Add-ons/Contribute/Code).

[2020-04-27 16:24] willdurand opened #14077 "Add filters to the scanners API"
We need some filters for https://addons-server.readthedocs.io/en/latest/topics/api/scanners.html because it would be useful to target a specific scanner or a label.

[2020-04-27 16:49] caitmuenster commented on #10364
Note: this template should only be sent to theme designers, which means it will be a little more involved than changing the text of the current template being used. (That template currently goes to extension developers and theme designers.)

[2020-04-27 16:50] caitmuenster commented on #10366
Note: this template should only be sent to theme designers, which means it will be a little more involved than changing the text of the current template being used. (That template currently goes to extension developers and theme designers.)

[2020-04-27 16:53] #14050 closed

[2020-04-27 23:56] virgilt commented on #14054
@wagnerand May I work on this?

[2020-04-28 06:28] junngo commented on #14053
Hello :)
Can I try to solve this issue?

[2020-04-28 08:32] #11401 closed

[2020-04-28 08:50] wagnerand commented on #14054
@virgilt Sure, but please keep in mind that this is not an issue we mentor. If you know what the problem is and how to solve it, we welcome you to submit a pull request. If you are looking for issues where we provide guidance, check out the ones that are labeled "good first bug".

[2020-04-28 08:50] #14056 closed

[2020-04-28 09:04] diox commented on #14053
Yes, it's all yours.

[2020-04-28 10:22] diox opened #14080 "Remove usage of `classic` similarity algorithm in elasticsearch"
We're using the `classic` similarity algorithm in elasticsearch at the moment, which isn't the default - it's there for compatibility with old elasticsearch versions, and we set that way back in https://github.com/mozilla/addons-server/issues/8867 to try to address issues we were having with search results after upgrading.

That setting has been deprecated for a while, but now [the documentation f

[2020-04-28 10:25] diox commented on #14080
Note: we've got a waffle switch for this, `es-use-classic-similarity`. A reindex needs to be done after toggling the switch. If search results are still good with the switch disabled, we can remove the associated code and adjust the tests.

[2020-04-28 13:02] willdurand opened #14082 "Do not call the MAD API when we don't need it"
We identified cases where it does not really make sense to call the MAD API, including:

- static themes
- search engines
- dictionaries
- language packs

We should not call the MAD API in these cases (but other scanners should run).

[2020-04-28 13:29] willdurand opened #14084 "Flag for review for some of the MAD results"
We'd like to flag for review a version for which the MAD result has:

- a score equal to `0%`
- a score equal to `100%`
- a model disagreement

[2020-04-28 13:32] willdurand opened #14085 "Create a new (experimental) queue for MAD in the reviewer tools"
Once we fix #14084, we'll have a list of versions that reviewers should examine to improve MAD. We should have a new queue for those versions.

[2020-04-28 13:34] willdurand opened #14086 "Use the (new) blocklist to label scanner results as "bad""
The current approach to label "bad" scanner results is to rely on the `state` property. This is sub-optimal as we miss many blocked add-ons for other reasons (the primary use cases of the `state` property are: (1) triaging the scanner results and (2) assessing the soundness of the scanner rules)

[2020-04-28 13:40] diox commented on #14084
Note: ideally it would live in a separate model, a bit like `AddonReviewerFlags` but for versions. Cause `ALTER` on `versions` is costly, and also extra fields we don't need 99% of the time are costly since by default Django requests them all all the time...

[2020-04-28 13:56] AlexandraMoga commented on #13762
I've tested more around `"{guid}:{version}"` combinations and so far I can confirm the following:

- new block - one version, signed webextension => one entry is created in `stash - blocked`
- new block - multiple versions, signed webextension - fully blocked => one entry for each version is created in `stash - blocked`
- new block - multiple versions signed webextension - partially blocked => one

[2020-04-28 13:58] diox commented on #14044
Because of issues with localization we're going to process them all using Jinja, not Django. Patch in progress in https://github.com/mozilla/addons-server/pull/14087, this will require QA to re-verify once it's done.

[2020-04-28 14:00] AlexandraMoga commented on #14050
@eviljeff is there anything I could test for this issue?

[2020-04-28 14:05] willdurand commented on #14084
@diox can't we reuse the flag for review action somehow? or maybe refactor it so that it contains a list of scanners that have set this flag?

[2020-04-28 14:05] #13477 closed

[2020-04-28 14:14] diox commented on #14084
It's currently a boolean column on `versions` table, so if we want to avoid the costly `ALTER`, while still providing the extra info, it's going to be difficult... (though long-term if we do have a separate model we'll want to do the `ALTER` once to remove the current column)

[2020-04-28 14:28] #14077 closed

[2020-04-28 14:28] Rob--W commented on #14066
One way to get rid of the error is to let the library itself calculate the `error_rates`, by omitting `error_rates` from
https://github.com/mozilla/addons-server/blob/a6df8496feab52fa83228a2de894835604f39e3f/src/olympia/blocklist/mlbf.py#L89-L93

[2020-04-28 14:57] eviljeff opened #14088 "fix/replace pyup"
we're 6 days without any new pyup.io pull requests being created and my https://pyup.io/account/account/ doesn't show any mozilla organisation reps any longer.

It's unclear if it's a change on our side to restrict access (the application permissions page show ❌ next to organisation access) or on their side (the account page on pyup says "Please upgrade your account to the Business or Organization

[2020-04-28 15:07] ioanarusiczki commented on #13964
@willdurand I tested on AMO dev with FF75(Win10).

With the switch active in admin:

- for the version uploads I used Postman and I uploaded for the same add-on listed and unlisted versions as fast as possible. The files showed up in codemanager but not immediately (about 5 min, maybe less). Until they are displayed the browse view returns a 404 , and there's a 500 error for a compare view and mea

[2020-04-28 15:36] willdurand commented on #13964
Which versions throw a 404?

[2020-04-28 15:37] willdurand commented on #13964
The errors for the add-on `7560` seem to be the same: `Invalid or broken archive.`. I don't know what it means, though.

[2020-04-28 15:42] #14042 closed

[2020-04-28 15:43] willdurand commented on #14082
Note: we can fix this issue by introspecting the scan map.

[2020-04-28 16:08] diox commented on #14044
This is more complex than we thought.

Puente [monkeypatches jinja to replace their `{% trans %}` block with its own](https://github.com/mozilla/puente/blob/4379a7717d28a2490d47939800f5d6e695b70def/puente/utils.py#L4-L60) at extraction time. At rendering time we load [puente's version](https://github.com/mozilla/puente/blob/4379a7717d28a2490d47939800f5d6e695b70def/puente/ext.py#L26) as well.

Puen

[2020-04-28 18:06] virgilt commented on #14054
@wagnerand I would like to take a swing at it.

[2020-04-28 18:08] wagnerand commented on #14054
@virgilt Absolutely, go for it!

[2020-04-28 22:16] jvillalobos commented on #14068
The way we currently store licenses on AMO doesn't lend itself for a very reliable search feature. I also don't think this would be something most of our users would benefit from. The license name is available [through the API](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-detail-object), though, so it is possible to implement a custom license-based search from an app

[2020-04-28 22:20] jvillalobos commented on #14068
Closing as a dupe of https://github.com/mozilla/addons-frontend/issues/9383

[2020-04-28 22:20] #14068 closed

[2020-04-29 00:01] bqbn opened #14091 "Help reduce logging volume in production"
### Describe the problem and steps to reproduce it:
AMO generates about 600+ GB logs per month. All those go across the Internet from AWS to GCP, and incur data transfer fees.

Can we configure the app to suppress at least DEBUG level logs for production?

The celery component in particular, seems to generate a lot DEBUG level logs.

### What did you expect to happen?

Suppress at least DEBUG leve

[2020-04-29 07:58] AlexandraMoga opened #14093 "Blank lines should be ignored when blocking multiple guids"
### Describe the problem and steps to reproduce it:
1. Select a few guids to submit a multiblock
2. Leave a blank line between any two guids [1]

### What happened?
The blank line is reported as a GUID not found in the multiblock submission form[2]

### What did you expect to happen?
Blank lines should be ignored

[1] GUID input field
![image](https://user-images.githubusercontent.com/31961530/805

[2020-04-29 08:27] ioanarusiczki commented on #14063
@willdurand the models/git/gitextractionentry/ is available with an admin account and I also created a new group for Admin:GitExtractionEdit. Users added in this group will only have access to the git queue from admin.

What I've noticed is that after an upload and until the files for the add-ons are extracted there's a state "In progress" with a question mark and this turns green when the extract

[2020-04-29 09:08] muffinresearch opened #14094 "Automate the import of v2 blocks into AMO"
Running v2 from AMO's data had two potential issues:

- Perf impact from multiple records being created rather than a single block of guids in a larger regex.
- Issues with dual-sign off being required in two places.

To workaround this and minimize the risks to the V2 blocklist during the overlap with v3, we are going to keep the existing process of setting up blocks in v2.

This means we will ne

[2020-04-29 09:15] diox commented on #14091
Agreed, we log too much. This is mostly for legacy reasons (some of the logs have always been there and we haven't bothered to touch them, and also on the other hand we've had to debug bizarre and complex legacy code), but we should fix this, it's even annoying to look at the sea of logs in stackdriver.

Before suppressing `DEBUG`, we should start by going through all `log.debug` calls and figure

[2020-04-29 09:18] willdurand commented on #14063
Yep, sounds good to me.

So the main use case for the delete button is to delete old entries because entries should be automatically deleted. If we have entries that are older than... 24h for example, then we should manually delete them because it means something went wrong but also no other version can be extracted anymore for the related add-on.

[2020-04-29 09:26] eviljeff commented on #14066
Note this is currently a hypothetical problem with addons-server at the current time- it requires blocked addons/versions to be more than 55% of all addons/versions - even after the 1M addons have been added there will only be about 33% of addons/versions blocked.

[2020-04-29 09:34] AlexandraMoga commented on #14056
Verified fixed on stage.
Reviewers can now navigate between listed and unlisted review pages for deleted add-ons. Of course, the navigation is available only to users who have the necessary permissions (i.e. unlisted reviewer permissions)

[1] - from listed to unlisted
![image](https://user-images.githubusercontent.com/31961530/80581300-a37c4c80-8a15-11ea-82b9-84679d1fd980.png)

[2] - from unliste

[2020-04-29 09:44] Rob--W commented on #14013
Note: attachments are immediately deleted when the record is deleted:
https://github.com/Kinto/kinto-attachment/blob/cd826b0dd3ca78ddcc3f35110a728d93b0f9ffc8/kinto_attachment/listeners.py#L15

In theory, the following sequence of events is possible:

1. Firefox downloads collection.
2. AMO deletes the record + attachment.
3. Firefox attempts to download the attachment, but that fails.

The MLBF lo

[2020-04-29 10:04] eviljeff commented on #13725
we aren't doing this any longer.  https://github.com/mozilla/addons-server/issues/14094 (and linked issues) will be done done instead.

[2020-04-29 10:04] #13725 closed

[2020-04-29 10:48] diox commented on #14044
We're going to try another option: keep Django Template Language for emails for now, but remove leading and trailing newlines from emails.

[2020-04-29 11:06] ioanarusiczki commented on #14063
@willdurand The idea of the new extraction method is to manually extract the versions with problems and this means it's those who remain visible in this admin queue. This means there's to be implemented a way to re-extract the problematic addons by the admin.
I hope I am right and if I am for now this issue and https://github.com/mozilla/addons-server/issues/13964 can be marked verified because th

[2020-04-29 11:23] AlexandraMoga commented on #13477
Add-ons that meet the dual sign-off criteria will no longer require dual sign-off when the following changes are made to an existing block:
- changing the URL
- changing the Reason
- including/excluding from legacy blocklist

Any modification to the version range will still require dual sign-off, as well as deleting the block.

I'm marking the issue as verified fixed on -dev.

[2020-04-29 11:25] willdurand commented on #14063
Yes, we are still thinking about how to do it but there will be something for that in the near future.

[2020-04-29 11:56] ioanarusiczki commented on #13590
@willdurand This issue was tested on dev with this addon https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/12roboform-12password-manager
After the git repo was corrupted and a new version was uploaded the git cron ran again and then all the versions were displayed without problems.

[2020-04-29 11:56] #14044 closed

[2020-04-29 13:06] willdurand opened #14098 ""IndexError: list index out of range" while trying to commit a version without files"
We do not check that `all_files` is not empty [here](https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/git.py#L348) because that shouldn't be possible. That being said, old versions might not have any files so we should probably handle this edge case.

[2020-04-29 13:41] bobsilverberg opened #14099 "Remove unnecessary file properties from reviewers API responses"
This supports #13984

There are a number of properties for the version file which are returned via reviewers API responses that are never used by code manager. These are mostly properties of the file uploaded for the version (i.e., the xpi file), not properties of the file being reviewed (e.g., manifest.json). As code manager never uses these properties, we can eliminate them from the API response

[2020-04-29 13:58] wagnerand commented on #14099
If any, we might make use of _permissions_ and _status_, although I don't have concrete plans for either.

* We could expose permissions somewhere or might augment some parts based on some permissions. Generally, for just looking at permissions, a reviewer can just take a look at manifest.json.
* For status, there could be an indication in the compare widget, whether a version is approved, waiting

[2020-04-29 14:00] ioanarusiczki commented on #14042
@bobsilverberg
@bobsilverberg
 - I verified this issue on dev with Postman and I can confirm that `size`, `mimetype`, and `sha256` were moved from `entries` into `file`.

- I did not find `modified` anywhere in the API.  If that's not ok please let me know.

I verified this issue for both - Browse and Compare APIs.

[2020-04-29 14:17] AlexandraMoga commented on #14077
I've verified the scanners api on -dev (I've enabled the `enable-scanner-results-api`) and tested around the new filter parameters added for `label` and `scanner`.

For `label`, the only accepted values are `good` or `bad`. Any other values, including `null` or `None` will return a 400 error with the message `"invalid value for label"`
For `scanner`, the only accepted values are the four scanner n

[2020-04-29 14:39] shashwatsingh commented on #7316
Is this change okay?

[2020-04-29 14:48] eviljeff commented on #7316
if you're happy with your changes and tests pass, then change it from a draft pull review and someone will review it.

[2020-04-29 14:52] willdurand opened #14101 "DeprecationWarning: The 'warn' method is deprecated, use 'warning' instead"
Example:

[code]

[2020-04-29 15:24] willdurand opened #14104 "Adjust soft time limit for `extract_versions_to_git` task"
Once we enable the CRON task-based git extraction, a new task named `extract_versions_to_git` will be executed to extract X versions in a row. For now, `X` is equal to `10` and it is configured in the command: https://github.com/mozilla/addons-server/blob/50183739b25723a28fc4f2f8e2d5ca2ab2aed319/src/olympia/git/management/commands/git_extraction.py#L22

We'll have some statsd metrics soon (thanks

[2020-04-29 15:30] diox commented on #14046
Regression from https://github.com/mozilla/addons-server/issues/13851

[2020-04-29 15:31] #14082 closed

[2020-04-29 15:34] #14018 closed

[2020-04-29 16:27] bobsilverberg commented on #14088
A decision was made to use Renovate for this.

[2020-04-29 16:34] #14101 closed

[2020-04-29 16:44] #14098 closed

[2020-04-29 17:21] virgilt commented on #14054
@wagnerand I'm having problems with docker getting the server to run so I think it's best to pass this issue off to someone else. I don't want to hold it up.

[2020-04-29 17:25] junngo commented on #14053
I submitted the code, but I need a rebase. A CI error has occurred because of locale.
I'll submit again after the rebase.

[2020-04-29 17:40] eviljeff opened #14107 "Only block deletions won't trigger a new mlbf"
The logic for the cron mlbf job currently relies on checking the latest modified date of the blocks in the database and skipping generation unless it's greater than (more recent) than the last generation time.  This works great for block additions and changes but wouldn't catch a block deletion because it wouldn't be in the database.

There could be some other flag we can set when blocks are delet

[2020-04-29 17:59] #13999 closed

[2020-04-29 18:38] bobsilverberg commented on #14088
It seems there was a problem with renovate reading our requirements files: https://app.renovatebot.com/dashboard#github/mozilla/addons-server/170702599. Here's an excerpt from the log:

[code]

and then later:

[code]

and still later:

[code]

So it looks like it was able to process `requirements/perftests.txt` but not the other files, and I'm guessing it's related to those `Unknown comment comma

[2020-04-29 19:09] bobsilverberg commented on #14088
I think it may be because of the hashes in our requirements files, as discussed at https://github.com/renovatebot/config-help/issues/367#issuecomment-535868406. I've asked the question at https://github.com/renovatebot/config-help/issues/627, but I am guessing that is the issue.

[2020-04-29 19:12] willdurand commented on #14070
This can likely wait a bit because we do not use the sources yet.

[2020-04-29 20:42] bobsilverberg commented on #14099
Thanks for the reply @wagnerand. As it's an extremely simple matter to add any of these properties back in, and as we don't have any concrete plans to use any of them right now, I think I'll just remove all of them for now.

[2020-04-29 20:56] bobsilverberg commented on #14088
I turned on Dependabot and it seems to be working: https://github.com/mozilla/addons-server/pull/14109.

[2020-04-29 21:08] diox commented on #14088
Looks like it's ignoring the `# pyup <{version}` comments - which makes sense, they're pyup specific, but we'll need some way of specifying which updates we don't want with Dependabot as well.

Side note: do you know why it's Dependabot-preview and not just Dependabot ?

[2020-04-29 21:14] bobsilverberg commented on #14088
I'll look into that.

I have no idea. I set everything up from what appears to be the default Dependabot site.

[2020-04-29 22:25] #14088 closed

[2020-04-29 22:25] dependabot-preview[bot] opened #14115 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

[2020-04-29 22:30] diox commented on #14088
Looks like the preview bit is just for the initial runs.

[2020-04-29 22:35] #14115 closed

[2020-04-29 22:35] diox commented on #14115
Fixed in b0cde640d34e905cd8f2070294f62e9cd119ea5b

[2020-04-29 23:26] wagnerand commented on #14099
Sounds good.

[2020-04-30 00:00] arjunvijayanathakurup commented on #7540
Hey @AlexandraMoga, Can I work on this issue. I seem to notice that this was already fixed a year ago but I guess it's still relevant.

[2020-04-30 04:03] petercpg commented on #14067
Thanks @diox!

Just files the Pull Request for fixing `models.py` and `test_permissions.py`. Message files are left alone.

[2020-04-30 09:07] willdurand commented on #14104
@diox looks like the soft timeout for regular tasks is 30min: https://github.com/mozilla/addons-server/blob/8009f8d0896eed3b4ea53303f8a70224e1a76932/src/olympia/lib/settings_base.py#L1072

This is much longer than I expected. That being said, #10901 means it can take up to 30min to git-extract some versions (sources?).

[2020-04-30 09:19] #14067 closed

[2020-04-30 09:31] #14066 closed

[2020-04-30 10:24] willdurand opened #14127 "GitError: reference 'refs/heads/master' not found"
It looks like we have an extra `self` here: https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/git.py#L253. It usually works because `init_repository` creates the git repository and when we call `self.git_repository` on the next line, the repo is extracted so the `git_repository` method takes the "else" branch.

Yet, it does not work all the time as we can see in Sentry, likely b

[2020-04-30 11:27] bjherbison opened #14128 "Reject Multiple Versions: Version location: Please select one or more versions in the list above/below."
### Describe the problem and steps to reproduce it:
During a content review try to reject an add-on without selecting a version.

### What happened?
Above the version list this message appears:
Please select one or more versions in the list above.

### What did you expect to happen?
The message appears below the version list, or the message says:
Please select one or more versions in the list belo

[2020-04-30 12:10] diox opened #14129 "Remove dependency on django-rest-framework-jwt"
We use JWTs only for the signing the API (and a couple associated APIs). We've got an authentication class that the the various views depend on.

That authentication class depends on django-rest-framework-jwt, which is essentially a wrapper around pyjwt for DRF. Unfortunately that package isn't actively maintained anymore, so we should switch away from it.

As it turns out, for the most part we're

[2020-04-30 12:36] willdurand opened #14131 ""ValidationError: Invalid or broken archive" during git extraction"
While re-extracting old add-ons, I found errors like this one:

[code]

I looked at each error and the problem was that the `file.current_file_path` did not exist. This can happen and some other parts of our codebase deal with this problem ([example](https://github.com/mozilla/addons-server/blob/c9046d8ffbea917bc838d6a5a94eed8a663d7e39/src/olympia/scanners/tasks.py#L367-L380)).

We should try to d

[2020-04-30 12:38] eviljeff commented on #14050
I've verified on addons-dev.  We might need some QA on prod but we'll deal with that in another issue/off-github.

[2020-04-30 12:55] wagnerand commented on #14131
Could this also happen when we update add-on or file status and in some cases that doesn't immediately trigger an update of the file location, until the _(un)hide disabled files_ are run?

@diox might know and could probably explain better than me.

[2020-04-30 13:38] AlexandraMoga commented on #14082
I've tested this issue on -dev, where all the scanners are currently enabled and I have the following results:
1.  submission of dictionary, language pack, static theme _with no matching rules_  => `mad` is not running, `customs` shows `n/a` for score and all other scanners are running
2. submission of dictionary, language pack, static theme _with matching rules_  => all the scanners are running,

[2020-04-30 14:30] willdurand opened #14132 "Refactor `get_mime_type_for_blob()`"
The `get_mime_type_for_blob` function does content sniffing and file extension-based look-up to assign a `mimetype` to a given file: https://github.com/mozilla/addons-server/blob/1d76cfa07d7f03ce06dbe2465e06acdf9bc70d48/src/olympia/lib/git.py#L108-L158

It currently has 3 ways of finding a `mimetype`:

1. a small map named `SIMPLIFIED_MIMETYPE_DETECTION`
2. content sniffing with the `magic` lib (l

[2020-04-30 14:32] willdurand commented on #14132
@diox any concern? The `mimetype` value is only used by code-manager to configure syntax highlighting and we do have this `SIMPLIFIED_MIMETYPE_DETECTION` map so I doubt we want to be hyper-accurate.

[2020-04-30 14:36] willdurand commented on #14082
Expected, good.

What does that mean exactly? Can you share an example in private?

Expected, good.

search extensions

[2020-04-30 14:39] diox commented on #14132
That sounds fine. I also don't think we need super accurate mime type handling for code-manager, something fast based on filename sounds good.

[2020-04-30 14:48] wagnerand commented on #14131
We need to be very careful about hard-deleting. Even if the file is missing for some reason, we most probably want to preserve the AMO metadata around it.

[2020-04-30 14:52] willdurand commented on #14131
Yeah, I dunno. We have various options, including emptying the file path instead of having a non-existent file path.

[2020-04-30 15:22] AlexandraMoga commented on #14082
Verified that is working as expected with search extensions as well.
This can be marked as verified fixed.

[2020-04-30 16:23] eviljeff commented on #14094
For edits the main decision to make is whether we will allow AMO-side edits to blocks that have been imported from v2.  Don't allow; or allow:
* If we don't want to allow edits then we can always rely on the contents of the v2 collection to be accurate and update every block that's been changed.  But it won't be possible to make any changes to a v2 block on AMO - the object will be read only in dj

[2020-04-30 16:33] eviljeff commented on #14094
Not an immediate concern, but we should also consider what we will want to do in September (| the current ESR support period) when the v2 blocklist is formally deprecated and frozen.  We'd turn off the automatic syncing but would we remove all the v2 linkage?  (If we didn't allow edits we'd have to).

Also to consider is the current support in the codebase for updating kinto v2 collections - if al

[2020-04-30 16:51] willdurand commented on #13932
So this comes from libgit2 and this is a very specific error that is only described here: https://github.com/libgit2/libgit2/pull/2042/files#r9511208

I managed to write a test case for it and I believe we can fix it. The idea would be to set the `target` on a more up-to-date `branch` by retrieving from the git repo instead of using the object passed to the `_commit_through_worktree` method.

[2020-04-30 16:58] jvillalobos commented on #14094
I'm in favor of keeping V2 blocks read-only on the AMO side, so there's a clear source of truth for all blocks (V2 is kinto, V3-only is AMO). When V2 is frozen, we should remove any linkage and edit restrictions. The AMO blocklist would effectively be forked out of Kinto and there would be no further changes on the Kinto side.

[2020-04-30 18:34] #14099 closed

[2020-05-01 10:06] willdurand opened #14140 "`TestBlocklistSubmissionAdmin.test_submit_dual_signoff` is failing (sometimes?)"
See: https://travis-ci.org/github/mozilla/addons-server/jobs/681880424#L4805

At the end of the stacktrace, we can also read:

[code]

I don't quite understand why this test case starts to fail now.

[2020-05-01 10:26] wagnerand commented on #14094
I agree with Jorge.

[2020-05-01 11:42] #14072 closed

[2020-05-01 11:56] #9588 closed

[2020-05-01 12:40] #14014 closed

[2020-05-01 13:36] #13932 closed

[2020-05-01 13:37] eviljeff opened #14141 "Prevent imported v2 blocks from being edited via AMO admin"
#14094 will automate the import of the blocks from the v2 blocklist collection on remote-settings, but we also need to stop those blocks from being edited via AMO (or the changes could be overwritten during the next import)

[2020-05-01 13:38] eviljeff commented on #14094
Splitting the AMO admin side of the work (making the v2 blocks read-only) to #14141

[2020-05-01 14:51] eviljeff opened #14143 "alert us somehow if import_blocklist fails"
from #14094:

@muffinresearch did you have a type of alert in mind?  And is it just that the fetch fails from kinto or something else too?  e.g. is there a certain number of block removals that should trigger it?

[2020-05-01 14:52] eviljeff commented on #14094
https://github.com/mozilla/addons-server/issues/14143 to handle the "alert" mentioned in comment#0

[2020-05-01 15:03] eviljeff commented on #14094
As the code stands a v2 block will always override an existing block if the guid matches so v2 is the source a truth for blocking for given guid.

Edge case though:
* you add a block for `foo@baa` to v3 via AMO;
* you then add a block for `foo@baa` (either literally `foo@baa`, or a regex that matches it, or an edit to an existing block's regex to match it) to v2 via kinto admin
* import_blocklist

[2020-05-01 15:53] shashwatsingh commented on #10314
@eviljeff Does this look okay?

[2020-05-01 15:54] muffinresearch commented on #14143
I was initially thinking of something around at least ensuring that if the cronjob errors because the import blew-up that we can have that email sent to a mailing list that is monitored.

The main thing we'd like to guard against is that the blocklist stops updating without us noticing.

[2020-05-01 16:23] Rob--W opened #14145 "Tweak the logic / threshold used to replace the blocklist and MLBF"
The collection for the blocklist is wiped and reset whenever the MLBF is generated again, and clients are forced to download the full MLBF base. This happens when the number of stash entries exceeds the treshold, [currently 500](https://github.com/mozilla/addons-server/blob/574730f05fd10351336273ed4afebc5a48b6b867/src/olympia/blocklist/mlbf.py#L21-L22). Let's evaluate whether this is the right val

[2020-05-01 16:26] eviljeff commented on #14145
@jvillalobos

[2020-05-01 16:36] willdurand opened #14146 "`TestRecommendedQueue.test_nothing_recommended_filtered_out` is failing"
See: https://travis-ci.org/github/mozilla/addons-server/jobs/682003278#L3092

[code]

[2020-05-01 16:40] #14127 closed

[2020-05-01 16:52] eviljeff commented on #14140
I think the `wcwidth` error is a dependency we don't have installed (from pytest) but it's a codepath only used during some test fails so in those fails we get a double fail.

(not sure about the intermittent itself - it might just be that we rely on `addon_factory` generating unique data - i.e. different ADUs - and sometimes it generates two add-ons with the same value.  I've not investigated tho

[2020-05-01 17:00] #14053 closed

[2020-05-01 17:21] willdurand commented on #14140
Yeah, I think so too, looking at the stacktrace for this particular error (and seeing it in other contexts)

[2020-05-04 08:24] willdurand opened #14148 "Send statsd metrics to monitor the number of re-extractions and identified errors"
I'd like to add some more statsd metrics to be able to monitor the number of full extraction as well as the rate of identified errors over time.

[2020-05-04 09:10] willdurand commented on #10901
According to our new Grafana dashboard and metrics collected during the git extraction as well as the previous comments, this issue is clearly about increasing the time limit for git-extraction of source files. That's why I updated the issue.

We do not do anything with the source files in git yet so I unassigned myself and this issue will likely be fixed when working on #14070.

[2020-05-04 09:23] willdurand commented on #14104
According to the recently collected metrics, our 99th percentile is 43 seconds so far and the max extraction time is 7 minutes. Given that we git-extract 10 versions in a single Celery task, the time budget for each version is 3 minutes, which sounds fine. I'd like to wait until tomorrow to see if the numbers change, though.

If we only consider normal git extraction (based on the submissions), th

[2020-05-04 09:38] diox opened #14155 "Make manual extraction of locales easier"
Eventually we'd like to automate l10n extraction as much as possible in https://github.com/mozilla/addons-server/issues/9112 but first let's make it easier to run without any special environment variables. For reference, the frontend script is https://github.com/mozilla/addons-frontend/blob/master/bin/run-l10n-extraction

[2020-05-04 09:39] diox commented on #14155
Previous attempt: https://github.com/mozilla/addons-server/pull/14049
Current script: https://github.com/mozilla/addons-server/blob/master/scripts/travis-extract-l10n.sh

[2020-05-04 11:17] AlexandraMoga commented on #14014
Verified fixed on -dev.
The Block submissions list's default filter in now 'Pending'.
The rest of the filters continue to work as before.

[2020-05-04 12:17] AlexandraMoga commented on #9588
The errors mentioned above are displayed next to the triggering field now:

![image](https://user-images.githubusercontent.com/31961530/80964856-3e13cb80-8e1a-11ea-9051-e3ee0e0eeba5.png)
![image](https://user-images.githubusercontent.com/31961530/80964871-4409ac80-8e1a-11ea-93d9-2770dd1466e1.png)

[2020-05-04 13:16] AlexandraMoga commented on #14053
I had a  look at the `blocklist` and `addons` models and they continue to work as before.
I believe this is all that could be verified for this issue.

[2020-05-04 13:17] #14148 closed

[2020-05-04 13:19] ioanarusiczki commented on #14099
@bobsilverberg I verified Browse and Compare API responses on dev.

- the properties [mentioned](https://github.com/mozilla/addons-server/issues/14099#issue-609068022) have been removed.

My testing samples:
https://addons-dev.allizom.org/api/v5/reviewers/addon/502991/versions/1541836/
https://addons-dev.allizom.org/api/v5/reviewers/addon/619691/versions/1691091/compare_to/1691184/

- the properti

[2020-05-04 13:45] ioanarusiczki commented on #14072
@bobsilverberg

Looking on dev the structure of the `files` is as following:
`id` ->that's the only property of the .xpi file left before `content`, the rest have been removed https://github.com/mozilla/addons-server/issues/14099
`content`
`entries` which expose `depth`, `filename`, `mimecategory` and `path`
`selected file`
`download_url`
`uses_unknown_minified_code`
`mimetype`
`sha256`
`size` ->

[2020-05-04 13:51] ioanarusiczki commented on #14127
@willdurand If qa can test the issue, please add some STR.
Thanks!

[2020-05-04 13:51] ioanarusiczki commented on #14098
@willdurand If qa can test the issue, please add some STR.
Thanks!

[2020-05-04 13:51] ioanarusiczki commented on #13932
@willdurand If qa can test the issue, please add some STR.
Thanks!

[2020-05-04 14:05] muffinresearch commented on #14029
@jvillalobos I think this is part of what we're trying to decide. To help we probably need to step back and thing about some base requirements.

* Is it useful to keep the upload for a new version covered by an open-ended block?
   * If we do want to require a record - blocking at the point of upload is not viable.
* When we do open ended blocks how common is it for that to be changed later?
   *

[2020-05-04 14:17] willdurand commented on #13932
@ioanarusiczki it will be tricky to reproduce in -dev or stage I think. Maybe you could try to upload some versions of an add-on (or 2) and see if git-extraction works as intended.

[2020-05-04 14:19] willdurand commented on #14127
@ioanarusiczki sorry. same as the other one, please upload some versions to verify the git extraction process. We cannot really simulate this particular issue in -dev.

[2020-05-04 14:59] bobsilverberg commented on #14072
`status` should appear in `entries` for the compare API, but not at the `file` level, so this is correct.

I don't think so, it sounds verified to me.

[2020-05-04 16:30] willdurand opened #14160 "Show scanner "feedback buttons" when there is no match"
Currently we hide the feedback buttons in the django admin when a scanner does not have any matched rules. It would be helpful to have the buttons even when there is no match.

[2020-05-04 16:33] krupa-raj commented on #13997
**What type is it? How frequently will users hit this issue?**
Bug because of missing file type/extension support/Missed error handling
Missed error handling - we should show a proper error message when we don’t accept a certain file extension
**Frequency:** low
**How was this found?**
Filed by an add-on developer after discussing the issue on discourse.mozilla.org
Issue was found on  linux
**What

[2020-05-04 16:45] willdurand opened #14161 "Scanners API should return results that have been previously edited by the task user"
We should return scanner results that have been auto-approved by the task user and later approved by a reviewer (auto approval confirmed). This likely does not work currently because we exclude scanner results with an activity log containing entries created by the task user.

We only want to exclude the activity log entries created by the task user.

[2020-05-04 17:22] wagnerand commented on #14029
The initial comment in this issue was referring to submissions whose versions match an existing block range. For those, I think we should prevent signing, or even prevent successful submission/validation.

All of this is probably one edge-case where we block an add-on but don't set its status to `STATUS_DISABLED`, which we don't do at the moment.

(I could potentially see a change in the workflow

[2020-05-04 17:29] jvillalobos commented on #14094
Seems unlikely we would remove something from v2 unless it was deemed safe after inspection, so I think this is okay.

[2020-05-04 17:46] jvillalobos commented on #14029
Agree that this is all an edge-case, since for the most part malicious add-ons are totally disabled and new uploads aren't possible in that state. For the other cases, it sounds like the better proposal is to not allow them to be submitted. So, we take the upload, check the version, and if it's within the blocked range we show an error message. Those developers will need to resolve the issue via a

[2020-05-04 21:17] jvillalobos commented on #14145
25kb does sound like a low maximum. I think it could be 10 times larger and acceptable in terms of download size. The other side of it is loading and processing the MLBF and stash on the client side, and there I don't know what the impact is for a much larger stash.

Looking at some recent blocklist data, we're blocking 100-200 ids per week. Most blocked add-ons have a single version, so the versi

[2020-05-04 22:27] willdurand commented on #14020
Did we ever consider adding query parameters to include/exclude data instead of creating new endpoints?

[2020-05-04 22:35] Rob--W commented on #14145
The current blocklist is shipped as a MLBF on desktop and Android (GeckoView-based):
- https://phabricator.services.mozilla.com/D73159 (desktop)
- https://phabricator.services.mozilla.com/D73438 (Android)

The current blocklist still has a reasonable size (64KB), and that's why it was acceptable to do so.
That does not automatically hold if we grow the MLBF to the order of 1 MB, especially not on

[2020-05-05 09:03] #14161 closed

[2020-05-05 09:12] willdurand commented on #14084
Ok, so I will add a `VersionReviewerFlags` (or `VersionScannerFlags`) model.

[2020-05-05 09:14] #14155 closed

[2020-05-05 09:52] eviljeff commented on #14145
That's where the 500 would match up.  We can increase it to 5000 if you want but then it could often be many months between new filters (a good thing?)

If we want to force a collection reset and a new base filter on a schedule regardless that can be done too (need: the day/time of month the cron should fire on)

[2020-05-05 11:47] AlexandraMoga commented on #14161
@willdurand I'm not sure I fully understand this issue. Should I look for scanner results that are not returned by the API and then confirm approval for those versions and re-verify that the results are returned by the API this time?

[2020-05-05 13:38] willdurand commented on #14161
Exactly, yes. Sorry that was not clear (I was tired when I filed the issue...)

Before the patch for this issue, no scanner results were returned when auto approval was confirmed by a reviewer it seems.

[2020-05-05 14:10] willdurand opened #14174 "Stop git-extraction of version sources"
We don't use the source files currently so we will remove the code to git-extract source files as well as the existing data, which means resetting the `Version.source_git_hash` values and deleting the "source" repositories on disk.

[2020-05-05 14:10] ioanarusiczki commented on #13932
@willdurand

First test, I uploaded 9 versions one after the other (size of the addon is 5.73 MB) : https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/noscriptcron1
In about 20 min all versions have been extracted so I encountered no errors.
The only thing I've noticed is that the admin queue doesn't really reflect immediately the state of the extractions meaning that from 9 entries o

[2020-05-05 14:11] Rob--W commented on #14013
Correction:
@leplatrem told me that attachments are never deleted from the CDN, referencing https://github.com/mozilla-services/cloudops-deployment/blob/38f1028a5224866cd87e85ecbf4fa2ae75564bdf/projects/kinto/puppet/modules/kinto/templates/kinto.ini.erb#L159 (I can't view the source, but I trust his word).

[2020-05-05 14:13] diox commented on #14080
Waffle was already off on dev. I've turned it off on stage and triggered a reindex, but given dev I think we can move forward with removing the code.

[2020-05-05 14:16] leplatrem commented on #14013
![Screenshot from 2020-05-05 16-16-21](https://user-images.githubusercontent.com/546692/81076309-cca44d80-8eeb-11ea-8e2a-d006ecc6a882.png)

[2020-05-05 14:19] willdurand opened #14176 "Avoid git-extraction loops"
It is possible to end up in a git-extraction (infinite) loop if a recoverable error occurs over and over for the same add-on.

[2020-05-05 14:55] junngo commented on #12901
I submitted PR to solve this issue.
Please let me know if there is anything to modify.

[2020-05-05 15:13] #14160 closed

[2020-05-05 15:15] AlexandraMoga commented on #14161
I've tested the following scenarios:
- scanner result for _listed_ add-on, auto-approved => results returned by the API after reviewer confirms approval
- scanner result for _unlisted_ add-on, auto-approved => results returned by the API after reviewer confirms approval for selected versions (note that for unlisted add-ons, auto-approval can be confirmed for specific versions, so the API will obvi

[2020-05-05 15:19] willdurand commented on #14161
Yes.

So, everything looks good to me, thanks!

[2020-05-05 15:31] willdurand commented on #13932
That's expected. We submit add-on IDs and not version IDs in this queue. The git-extraction task will take all the non-extracted versions into account for a given add-on and extract all of them. Each entry in this list gets processed by the task but when there is no version to extract, they are deleted directly (they should be green for a very short delay, though).

[2020-05-05 15:40] willdurand commented on #13932
This means there was an error, which is likely due to a deployment related problem because I don't see any errors in the logs. Is it add-on `619668`?

[2020-05-05 15:52] #12901 closed

[2020-05-05 16:07] diox opened #14178 "Remove code copied from DRF when 3.12 is released"
In https://github.com/mozilla/addons-server/pull/14159 I had to copy some code from a pull request I made to DRF to fix an issue around passing `code` from a failed permission to the exception being raised.

My pull request has been merged into DRF so once they release a new version (should be 3.12) with those changes we can remove the copy/pasting. The code that should be removed this block in `s

[2020-05-05 16:20] #13943 closed

[2020-05-05 16:20] #14039 closed

[2020-05-05 16:23] #14107 closed

[2020-05-05 16:38] #14084 closed

[2020-05-05 17:21] willdurand commented on #14104
Looking at the numbers again, I have the feeling that it should be fine with the current soft time limit. We could still bump it a bit but that might not be required to enable the feature in prod.

[2020-05-05 17:34] willdurand opened #14179 "Expose git extraction date per version"
It would be useful to retrieve and expose the git extraction date of a given version for debugging purposes (say we want to re-run extraction).

[2020-05-05 17:49] jvillalobos commented on #14145
Sounds like a good thing because of lower data transfers and low performance impact on the client side.

I'd like to time this around Firefox releases. We could generate a new base filter right before a Firefox release, so it ships with it and we can minimize the number of users who need to download the full thing. I haven't fully thought through how that would work logistically, though.

[2020-05-05 18:26] #14080 closed

[2020-05-05 18:52] #14094 closed

[2020-05-06 08:18] ioanarusiczki commented on #13932
@willdurand Yes, it is `619668`. I still see them in the queue today.

[2020-05-06 08:23] ioanarusiczki commented on #14176
@willdurand Should I try uploading again versions for an add-on?

[2020-05-06 08:25] AlexandraMoga commented on #14160
The feedback buttons are now available for each scanner result,  with or without matched rules. Their functionality remains unchanged.
Note that the action buttons apply only to `yara` and `customs`

[2020-05-06 08:32] willdurand commented on #14160
Yes, that's perfect. Thanks!

[2020-05-06 08:40] willdurand commented on #13932
I just unlocked this add-on manually. The add-on being stuck was likely due to a new deployment happening in parallel. In -dev, this kills Celery workers and some of the existing tasks...

[2020-05-06 08:44] ioanarusiczki commented on #12901
@eviljeff Verified on dev and stage - FF75(Win10).

![aligned](https://user-images.githubusercontent.com/33448286/81156696-e34fb080-8f8e-11ea-82c5-4e4819e73f9e.png)

[2020-05-06 09:17] ioanarusiczki commented on #13932
@willdurand Yes, the queue is empty and all versions are available - they were extracted successfully.

So from qa point of view I can mark the issue verified.

One thing I forgot to mention is that for the addon with many versions extracted last week https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/noscript?page=1#history
I don't receive a 404 but I could not see the content being

[2020-05-06 09:18] ioanarusiczki commented on #14127
Verified on dev with FF75 (Win10).
Test results are here https://github.com/mozilla/addons-server/issues/13932#issuecomment-624079021

[2020-05-06 09:22] willdurand commented on #13932
Isn't it because of the validation/linter messages not being loaded?

[2020-05-06 09:35] willdurand opened #14185 "Enable git-extraction CRON task in -prod"
We want to enable the git extraction CRON task -prod (and therefore -stage too). The name of the waffle switch is: `enable-git-extraction-cron`.

[2020-05-06 09:35] #14185 closed

[2020-05-06 09:42] willdurand commented on #14070
We don't want to do this anymore. See: https://github.com/mozilla/addons-server/issues/14174

[2020-05-06 09:42] #14070 closed

[2020-05-06 09:58] AlexandraMoga commented on #14084
@willdurand I'm not sure how I should verify these new MAD flags. There is no flag visible in rev tools for a version that had a score equal to `100%`  for example.
In any case, I've run some tests to make sure the existing scanner flags are still working.

[2020-05-06 10:14] willdurand commented on #14084
@AlexandraMoga we need https://github.com/mozilla/addons-server/issues/14085 to have a UI on top of this issue.

[2020-05-06 10:24] ioanarusiczki commented on #13932
@willdurand yes, perhaps, because I see in the Network a 404 on https://addons-dev.allizom.org/en-US/developers/addon/noscript/file/245180/validation.json

[2020-05-06 10:26] willdurand commented on #13932
Ok, so that's a problem with the linter messages, likely because the add-on is quite old. Not related to this issue.

[2020-05-06 10:30] ioanarusiczki commented on #13932
@willdurand Then perhaps I should file an issue in the codemanager repo. Old addon versions are available in prod but I can't tell if it works exactly as in dev. Still, maybe it's worth some further investigations.

[2020-05-06 10:30] willdurand commented on #13932
Yes, maybe. I thought we had an issue for this problem already but maybe not.

[2020-05-06 10:36] willdurand commented on #14174
@diox I am wondering how to implement the deletion of the existing git repositories on the FS (given that it will be a one-off action). Should we create a (django) command that creates some Celery tasks?

[2020-05-06 10:44] diox commented on #14174
Typically for this we use our [`process_addons`](https://github.com/eviljeff/olympia/blob/master/src/olympia/addons/management/commands/process_addons.py) command. You create your own one-off task and add it there with the queryset you want to target, setting up the task so that it can process a list of add-on ids.

We then launch the command using `manage.py process_addons --task=yourtask` (proba

[2020-05-06 10:44] diox commented on #14174
(Also need to create an issue to delete the one-off task and config from `process_addons` later once we're done with it)

[2020-05-06 11:31] AlexandraMoga commented on #14094
@eviljeff I'm going to test this on stage with kinto admin and I'd like your approval on these high level scenarios I'm intending to test:
- add a new block in kinto admin and make sure an entry will be created in AMO after the cron runs
- edit an existing block on kinto (which also has an equivalent in AMO) and make sure the changes are propagated in AMO
- delete an existing block on kinto (which

[2020-05-06 11:32] ioanarusiczki commented on #13932
@willdurand Yes, the error was familiar and now I know why https://github.com/mozilla/addons-code-manager/issues/1436
I'll add a comment to it.

[2020-05-06 11:45] eviljeff commented on #14094
@AlexandraMoga :+1: on the scenarios.  (Stage is ideal - if you were to test this on dev the procedure is a little more involved).

Note, as the blocks are supposed to be from the approved legacy blocklist, they will need to be signed off in kinto admin so they propagate through from /buckets/staging/collections/addons/records to /buckets/blocklists/collections/addons/records

The cron runs every

[2020-05-06 11:47] ioanarusiczki commented on #14185
@willdurand
I should be testing on stage what I've been doing on dev - some versions on the same add-on and multiple add-on uploads perhaps.
Is it alright for the admin queue to be incomplete for now?

[2020-05-06 12:19] bobsilverberg commented on #14019
After https://github.com/mozilla/addons-server/pull/14163 lands, and after we update code-manager to use the new params, I think that this is the next thing we should tackle (in terms of API performance). As discussed in a number of places, the fact that entries are calculated on-the-fly for the first API request for a version will continue to cause API performance issues. I believe the idea was t

[2020-05-06 12:25] #14020 closed

[2020-05-06 13:19] AlexandraMoga commented on #13943
I've re-verified the Activity log messages for rate limiting and now we have the following:

- for user: `throttled for scope "burst_user_addon_upload"`
- for ip: `throttled for scope "burst_ip_addon_upload"`

If there multiple consecutive rate limits hit by a user (429), the following activity log message is created: `throttled for scope "sustained_user_addon_upload"`

The activity logs are trigg

[2020-05-06 13:35] AlexandraMoga commented on #14039
@diox I see the following activity log for API submissions:
[code]
but I don't see one for the add-on being created, like we have for submissions from devhub:
[code]

Activity logs are also created for throttled submissions (I've updated https://github.com/mozilla/addons-server/issues/13943#issuecomment-624644099 with the results as well)

[2020-05-06 13:46] diox commented on #14039
That's a different issue, this particular `ActivityLog` is probably not called from the right place. You can open a follow-up about it.

[2020-05-06 13:53] AlexandraMoga commented on #14107
The new mlbf will be generated when there are only block deletions:

[code]

[2020-05-06 13:55] AlexandraMoga commented on #14084
In that case, I'll mark this as verified, since I did not find regressions for the other scanner flags, and the MAD flags will be verified when the UI is ready.

[2020-05-06 14:04] wagnerand opened #14187 "Add creation date to some django admin pages"
### Describe the problem and steps to reproduce it:

Some django admin pages miss the creation date (and sometimes the id). They can be useful for admins, so let's add them.

I'm adding them for _UserProfile_, _Addon_, _Version_ and _File_.

### What happened?

Creation date (and sometimes even id) missing on the django admin pages for the models mentioned above.

### What did you expect to happen

[2020-05-06 14:06] willdurand opened #14188 "Remove the `delete_source_git_repositories` once it has been run in production"
We added a `delete_source_git_repositories` task in #14186. This is a one-off task so we can remove it once the task has been successfully executed in production.

[2020-05-06 14:06] willdurand commented on #14174
I filed https://github.com/mozilla/addons-server/issues/14188

[2020-05-06 14:10] AlexandraMoga opened #14190 "No activity log for add-on creation when submitting from the API"
Follow up for https://github.com/mozilla/addons-server/issues/14039#issuecomment-624653339

### Describe the problem and steps to reproduce it:
1. Submit an add-on using the API
2. Look for `ActivityLog` related to this new submission

### What happened?
You can see an `ActivityLog` for the `{id:username} | {version} added to the {addon}` but not one for the add-on creation itself

### What did yo

[2020-05-06 14:19] willdurand commented on #14019
mmm what exactly should be pre-computed? And how? And stored where?

In any case, I think we'll have to wait until the new git extraction scheme is stable and we are confident that it improves the current situation in production (I would like to have some weeks/months to monitor the new approach).

#### Some additional notes:

Adding some new processing during the git extraction of a version sound

[2020-05-06 14:49] diox commented on #14190
I think it's because the API doesn't call `Addon.from_upload()`. It can't because of https://github.com/mozilla/addons-server/issues/7135 - it creates the `Addon` and the first `Version` separately. While we're waiting for #7135 to be fixed we could move the `activity.log_create(amo.LOG.CREATE_ADDON, addon)` call into `Addon.initialize_addon_from_upload()` so that it's also done for the API.

[2020-05-06 14:57] diox commented on #14019
https://github.com/mozilla/addons-server/issues/13984 point 1. Essentially, this: https://github.com/mozilla/addons-server/blob/4a78845a8457aa14633cc094d619755193b166e6/src/olympia/reviewers/serializers.py#L146-L191

I agree.

API caching on first request is sort of how we do it right now, and it slows down the first request considerably for no good reason: at extraction time, we should have the d

[2020-05-06 15:05] willdurand commented on #14019
Ha, ok. That seems less risky now. So we would have to warm-up the (memcached) cache right after the extraction, right?

Ha, oops. I thought the cache was scoped to the request or very with a very short lifetime for some reasons.. So forget everything about that part 😓

[2020-05-06 15:08] diox commented on #14019
I would prefer we do it with a more permanent storage than memcached. Ultimately the file entries list won't change for a given commit, and we definitely want it, so why not store it somewhere once and for all.