[2018-02-05 16:15] caitmuenster commented on #7369
@AlexandraMoga Thank you for catching that! Yes, it should absolutely say "the reviewer's comments." :)

[2018-02-05 16:18] AlexandraMoga commented on #7369
@diox could you please add the above change in the mentioned template?

[2018-02-05 19:12] muffinresearch commented on #6800
I reproduced it today.

[2018-02-05 21:37] wagnerand commented on #6575
We haven't heard back on the reasoning why this is useful. Feel free to reopen when you have time to elaborate.

[2018-02-05 21:37] #6575 closed

[2018-02-05 21:39] wagnerand commented on #6615
I believe a similar search that is not limited to the queue is planned for the upcoming reviewer tools work.

@jvillalobos can you confirm?

[2018-02-06 06:56] AlexandraMoga commented on #7284
Thanks for your input.
I will mark this as verified fixed.

[2018-02-06 07:25] AlexandraMoga commented on #6800
Yes, I was able to reproduce this as well multiple times

![image](https://user-images.githubusercontent.com/31961530/35846496-9496b146-0b1f-11e8-81e9-68eb20729044.png)

[2018-02-06 07:34] AlexandraMoga commented on #5094
Marking this as verified fixed on AMO prod, FF58

![image](https://user-images.githubusercontent.com/31961530/35846839-d504eae4-0b20-11e8-8d05-4ed3a5bbf6f4.png)

[2018-02-06 09:58] AlexandraMoga commented on #3051
@muffinresearch I can still reproduce this in a similar way for auto-approved add-ons. The difference now is that the user doesn't have the possibility to request another review, so the add-on will be stuck in an 'Incomplete' status:
![incomplete](https://user-images.githubusercontent.com/31961530/35852956-f336201e-0b34-11e8-947f-821353894b11.gif)

[2018-02-06 10:06] ioanarusiczki commented on #7418
@eviljeff  I'm not sure that a different browser size is the problem because when I use the 680x200 .jpg sample and only edit the Toolbar Area background ( I selected blue for that area) the theme preview shows the same changes like any browser size after installing the theme.  Shouldn't changing colors for the Header Area work like changing them for the Toolbar area?

![blue toolbar](https://user

[2018-02-06 10:35] AlexandraMoga commented on #3256
@muffinresearch This is still happening in the current process, with the exception that the user can't request another review any longer. The inconsistency will result now from an "Incomplete" general status vs an "Approved" version status (when only one version is available).

![image](https://user-images.githubusercontent.com/31961530/35854262-8c6cb380-0b38-11e8-83d0-74bb9826c16b.png)

As a side

[2018-02-06 11:20] #7369 closed

[2018-02-06 11:21] #7383 closed

[2018-02-06 11:24] #7366 closed

[2018-02-06 11:36] muffinresearch commented on #7483
@erosman please can you provide a screenshot to illustrate what pages you are referring to?

[2018-02-06 11:37] muffinresearch commented on #7481
/cc'ing @jvillalobos for product input

[2018-02-06 11:41] AlexandraMoga commented on #6850
My average response time for https://addons-dev.allizom.org/en-US/firefox/language-tools/ is somewhere at 1.2s.
@eviljeff I'm not sure what was the final target eventually.

[2018-02-06 11:46] diox commented on #6850
@AlexandraMoga : it's 500ms. But dev is not very reliable for this, and furthermore because of the caching strategy it needs more traffic to achieve a better average speed. We'll monitor this ourselves using datadog as it's a OKR for this quarter. You can verify that this does not cause any regressions (besides the obvious fact that changes need up to 24h to propagate)

[2018-02-06 12:00] AlexandraMoga commented on #7383
Verifed fixed on AMO-dev FF58 (Win10)

![image](https://user-images.githubusercontent.com/31961530/35858690-17e03812-0b46-11e8-84c2-9bb7534f818d.png)

[2018-02-06 12:18] AlexandraMoga commented on #7369
Verified fixed on AMO-dev, FF58 (Win10)

![image](https://user-images.githubusercontent.com/31961530/35859370-777d569a-0b48-11e8-8ff0-b8430eac548a.png)

[2018-02-06 12:23] designakt commented on #4531
I updated the logo in that file to the new Firefox Quantum one.
[image-port-extension_quantum.zip](https://github.com/mozilla/addons-server/files/1698984/image-port-extension_quantum.zip)
![image-port-extension_quantum_preview](https://user-images.githubusercontent.com/8145891/35859558-826a11de-0b38-11e8-80e1-851c88b50eb5.PNG)

[2018-02-06 12:27] AlexandraMoga commented on #7366
Verified fixed on AMO-dev, FF58 (Win10)

![image](https://user-images.githubusercontent.com/31961530/35859701-c1facdbe-0b49-11e8-8757-63667acbdaa6.png)

[2018-02-06 12:27] eviljeff commented on #7418
sorry, I'm lost what the problem is from looking at the videos.  can you repeat with STR or come chat on IRC?

[2018-02-06 12:51] eviljeff commented on #5785
The main use-case would be users with `Addons:Edit` permission (mainly staff, I believe).
Currently when they attempt to access an addon edit page for an add-on they don't own there is an ACL check for the `Addons:Edit` permission that allows them access.  The API does similar checks for access.  The issue was proposing that the ACL check itself be changed so it would always fail for the publicly

[2018-02-06 14:07] AlexandraMoga opened #7502 "Default sort option for 'My Themes' is by 'Name""
STR:

1. Log into Developer Hub and go to the following link: https://addons-dev.allizom.org/en-US/developers/themes
2. Observe the default sort option

Actual result:
Themes are default sorted by Name

Expected result:
Themes are sorted by Creation/Update date which would be more relevant and consistent with what we have for My Add-ons

Notes: Reproduced on all AMO servers, with FF58 (Win10)

![i

[2018-02-06 14:28] ioanarusiczki opened #7504 "After editing Basic information the old name of the add-on is still displayed on Edit information page"
Steps to reproduce:
1. Load AMO dev and from Developer Hub go to Manage my Submissions.
2. Choose an  add-n from the list and Click on Edit information.
3. Change the Name from Basic Information section and click Save Changes.
4. Click on View Listing then go back to Edit information and observe the name displayed on the upper left side of the screen.

Expected results:
The name has changed.

Actu

[2018-02-06 15:12] #7489 closed

[2018-02-06 15:24] erosman commented on #7481
Here is the screenshot:

https://screenshots.firefox.com/zi0j4HH7GTICzgvj/addons.mozilla.org

[2018-02-06 15:25] erosman commented on #7483
Here is the screenshot:

https://screenshots.firefox.com/zi0j4HH7GTICzgvj/addons.mozilla.org

[2018-02-06 15:43] diox commented on #7283
@jvillalobos Should the checkbox be checked by default?

[2018-02-06 15:51] ioanarusiczki commented on #7418
I used a .png sample which supports transparency. The preview will display the changes for the Header Area Background. This is verified fixed on AMO dev using FF58 (Win 10).

![png transparent](https://user-images.githubusercontent.com/33448286/35868760-226d51a0-0b66-11e8-9781-c601bc3b6004.png)

[2018-02-06 16:01] ioanarusiczki opened #7506 "Special chars without text can be used in the Theme name field"
STR:
1. Load AMO dev and from Developer Hub submit a static theme using the Theme generator wizard.
2. In the Theme name* filed type two special characters or more but do not use letters.
3. Click on Finish Theme.
4. Observe the Name and Summary field on the next page.

Expected result:
A warning message should be displayed to use a valid name containing letters, numbers, underscores.

Actual resu

[2018-02-06 16:31] EnTeQuAk commented on #7488
Fixed via #7473

[2018-02-06 16:31] #7488 closed

[2018-02-06 16:46] EnTeQuAk commented on #7454
@ulfr @krupa So the current plan with the waffle is:

We can switch the waffle on by default for everyone once everything is configured correctly or configure only a certain set of people by username or group to make use of the new autograph server.

We could also do a rolling release, the problem here is that waffle looks at all users and not just developers so I honestly don't know if that's wor

[2018-02-06 17:05] EnTeQuAk opened #7508 "Remove "search-use-dfs-query-then-fetch" flag in search"
I pushed an experiment using `search-use-dfs-query-then-fetch` last week which didn't turn out to be useful and had quite a bit of performance impact on our search API.

Let's remove this.

[2018-02-06 17:20] #7508 closed

[2018-02-06 22:29] jrbenny35 commented on #7449
@EnTeQuAk I could work on this.

I see in the ```users.py``` that the field for username is unique. I am thinking that on -dev there is no 'Mozilla' user created so that is why this could happen.

[2018-02-06 23:30] pwalm commented on #4868
Checkboxes seem to be the appropriate interaction here. Just click the specific platforms you're supporting. Could be an "all" checkbox selected by default (along with all the other platforms), and deselecting one platform would also uncheck "all."

[2018-02-06 23:43] devaneymoz opened #7510 "Feb Disco Pane content update"
For the **22 February** push, can we please REMOVE:

- uBlock Origin
- LastPass
- Enhancer for YouTube
- all three current themes

... and REPLACE them with To Google Translate, Search by Image - Reverse Image Search, Video DownloadHelper, plus three new themes:

**Translate easily** with [To Google Translate by Juan Escobar](https://addons.mozilla.org/firefox/addon/to-google-translate/)
Highlight

[2018-02-07 06:35] aswan opened #7513 "Only wrap URLs with outgoing.prod.mozaws.net in the API if a specific query parameter is present"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

Retrieving addons details using eg the search api, any non-AMO URLs in the result (eg homepage_url, support_url, etc) are wrapped with `https://outgoing.prod.mozaws.net/...`.

### What did you expect to happen?
I expected to get an unwrapped URL, eg `https://github.com/gorhill/uBl

[2018-02-07 06:37] aswan opened #7514 "New API only returns a single icon"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
Searched for addon details with the new search API, the result includes a single `icon_url` property.

### What did you expect to happen?
The old search API returned a list of icons, that looked something like
[code]
I expected the new API to also include all the available icons.

[2018-02-07 07:10] AlexandraMoga commented on #7508
Does this have an impact on the current search properties in AMO?

[2018-02-07 08:10] AlexandraMoga commented on #7488
Could you please add a "qa:not needed" label if there's nothing expected from QA?
Thank you

[2018-02-07 09:22] AlexandraMoga commented on #7489
Verified on AMO-dev with FF58 (Win10x64)
- I've modified my dicoveryURL to https://discovery.addons.allizom.org/en-US/firefox/discovery/pane/58.0.1/WINNT/normal?edition=china
- here is the tailored Disco Pane content:
![image](https://user-images.githubusercontent.com/31961530/35907843-b8f0d0de-0bf7-11e8-9e9e-a0584c4fc498.png)

@eviljeff there is an extension missing (New Tab Override) but I assum

[2018-02-07 09:29] eviljeff commented on #7489
@AlexandraMoga the add-on exists on stage but under a different id - and we use a hard-coded id so yeah, it's not going to show up, that's okay.

[2018-02-07 09:35] AlexandraMoga commented on #7489
Thanks! In that case, I'm marking this as verified fixed.

[2018-02-07 11:30] muffinresearch opened #7515 "Make use of the localisations from the linter."
Update the integration with the linter so that the localized messages can be shown for a matching web locale.

[2018-02-07 11:32] diox commented on #7513
I don't like it either, but it was done that way on purpose: the frontend can't do the wrapping itself because it needs a secret key to do that (to prevent people from using `outgoing.prod.mozaws.net to` execute arbitrary redirects), and keeping that key secret on the client side is not possible.

[2018-02-07 11:34] diox commented on #7508
It shouldn't : we removed code that was behind a flag that we never turned on.

[2018-02-07 11:43] diox commented on #7514
64 pixels should be enough for everyone!

Yeah, not sure what I was thinking when I wrote it. We currently generate a bunch of sizes: 32, 48, 64, 128, 256, 512. I'm not sure if we need all that... Also, changing this without breaking existing clients is going to be annoying.

[2018-02-07 12:08] diox opened #7516 "Remove "Contains Reviewer Comment" flag"
When a reviewer posts a comment for other reviewers (not for the developer) in reviewer tools, it's shown in the activity log for reviewers, but not developers. In addition, a flag is stored and displayed in the queue for the add-on, indicating that it contains a reviewer comment.

I'm wondering how useful the flag is - essentially it will only be shown in the queues the add-on appears in. It's st

[2018-02-07 12:08] diox commented on #7516
Side note: is the reviewer comment functionality still useful now that reviewers have a private dashboard?

[2018-02-07 12:51] wagnerand commented on #7516
Generally, the reason why we have a dashboard vs comment is that they serve two different use-cases: Comments are version specific, the dashboard contains information that is not specific to a particular version.

We might be able to remove comments, but the private dashboard lacks a few important features:
* When a comment was added
* Who added it
(* Ability to prevent removal of some comments in

[2018-02-07 12:55] diox commented on #7516
Thanks, that clarifies this bit. Completely replacing it with the private whiteboard is clearly out of scope then. (The question about keeping the flag which appears in the queues still remains)

[2018-02-07 13:26] wagnerand commented on #7516
I don't believe it has still a high value.

@kewisch and  @jvillalobos might have an opinion as well.

[2018-02-07 14:33] diox commented on #7283
@jvillalobos is this the only way for a developer to clear the info request? A reply (by e-mail or through devhub) does not clear it?

[2018-02-07 16:04] aswan commented on #7513
Well this doesn't sound great but can we make it optional based on a query parameter or something?  With the wrapping in place the API is quite tied to the AMO front-end and much more difficult to use for other clients.

[2018-02-07 16:16] diox commented on #7513
We can, yeah. Edited the title of the issue to reflect that.

[2018-02-07 16:55] muffinresearch opened #7517 "Changing a locale after editing a review does not show the updated content"
Originally filed at https://github.com/mozilla/addons-frontend/issues/4109

STR:

1. Go to AMO homepage and select an add-on to view its details page (i.e. https://addons-dev.allizom.org/de/firefox/addon/dancing-candy-canes/)
2. Navigate to the rating section and leave a review for this add-on
3. Click on 'Read all reviews' and verify that your review was listed
4. Change your locale
5. With the n

[2018-02-07 17:09] EnTeQuAk commented on #5271
I'm unassigning myself from this for now, I won't have time to work on this during the next two weeks I think. I'll re-assign this once I manage to get to it again.

[2018-02-07 17:10] EnTeQuAk commented on #6693
Indeed, my workaround fixed the case for "Mozilla awesome for Mozilla" but obviously didn't for "Firefox awesome for Mozilla". I'll get it in for next week :)

[2018-02-07 17:16] aswan commented on #7513
For what its worth, I think that most users of the API that aren't the AMO frontend probably don't want the wrappers so making that the default and having the presence of the option force the wrappers to be added would be nice, but up to you...

[2018-02-07 17:41] wagnerand commented on #7301
Mentor: me

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

To fix this issue, you would want to add `outline:none` to the header links.

[2018-02-07 18:03] eviljeff commented on #5116
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

mentor: me

I think the fix for this is just adding some css that sets a max-height for the img to something sensible.

[2018-02-07 20:47] ddurst commented on #4531
(I don't know whom to ask, @pwalm? @brampitoyo?) Is there any plan to address branding -- bringing back to the MDN comparison in [#issuecomment-276210252](#issuecomment-276210252)?

[2018-02-07 20:56] brampitoyo commented on #4531
@ddurst I wonder what @pwalm would think of this idea, but we can slightly alter the existing logo on AMO and use it on DevHub, like so:

[Firefox logo] Add-ons Developer

or [Firefox logo] Add-ons Developer Hub

We remove the word “Firefox”, because it would unnecessarily lengthen the wordmark. Just the Firefox logo is enough to signal the fact that it belongs to Mozilla.

Thoughts?

[2018-02-08 06:58] EnTeQuAk opened #7518 "Docker images exit on restart (Error 137)"
This is the best error I got so far:

[code]

@muffinresearch had the great idea that it might be because of how signals handled which I'll investigate a bit more too.

This started to fail when we moved to our debian based docker images.

[2018-02-08 09:51] vitaly-zdanevich commented on #6862
My code above is correct?

[2018-02-08 11:19] vitaly-zdanevich opened #7519 "Clarify what is `addon-id`, how it looks like"
I am about this page
https://github.com/mozilla/addons-server/blob/master/docs/topics/api/signing.rst

Signature:
`/api/v3/addons/[string:addon-id]/versions/[string:version]/`

In the example I see url `https://addons.mozilla.org/api/v3/addons/@my-addon/versions/1.0/` but as I understand `addon-id` is a UUID?

[2018-02-08 11:40] diox commented on #7519
So, this is confusing because of terminology differences between AMO and Add-ons in general. In add-ons documentation on MDN, Add-on id is defined as the `id` you put in your add-on install manifest, and it's either:
-  A [GUID](https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XPCOM/Generating_GUIDs)
- A string formatted with {optional-string}@{string}`.

However, AMO also has add-on ids that

[2018-02-08 11:47] vitaly-zdanevich opened #7520 "API: uploading of the WebExtension: 301, `HTTP error before end of send, stop sending`"
According to [this page](http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#uploading-without-an-id) I am trying to upload my WebExtension through the REST API. My code is:

    curl https://addons.mozilla.org/api/v3/addons \
        --form "upload=@$FIREFOX_FILEPATH" \
        --form "version=$VERSION" \
        -H "Authorization: JWT $JWT" \
        -v

I am getting:
[code]

I

[2018-02-08 11:51] diox commented on #7520
[The docs](http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#post--api-v3-addons-) do not say that you can omit the trailing slash - do include it! That's why you are getting a redirect, in fact.

[2018-02-08 11:51] #7520 closed

[2018-02-08 12:24] vitaly-zdanevich commented on #7520
Now I get 500 :(

[2018-02-08 12:28] diox commented on #7520
Without more information I suspect you're hitting https://github.com/mozilla/addons-server/issues/6862 because your JWT is incorrect (make sure the fields that should be integers, like `iat` and `exp`, are passed as integers and not as strings)

[2018-02-08 12:40] vitaly-zdanevich commented on #7520
Can my JWT be incorrect if I am getting greenlight from [jwt.io](https://jwt.io)?

[2018-02-08 12:49] diox commented on #7520
Because it's less strict than our own implementation, which does not like strings for things that should be `NumericDate` per JWT spec. As mentioned in #6862 we have a bug that causes us to return a 500 in that case, but it's still invalid. Don't use strings for those properties.

[2018-02-08 12:57] AlexandraMoga commented on #6850
There were no other regressions spotted around the language tools page.
Marking this as verified fixed

[2018-02-08 13:14] AlexandraMoga commented on #7443
There weren't any issues discovered at add-on submission or version updates (including legacy add-on updates). The extension package was also correctly rendered in the file viewer available in Reviewer tools.
Based on that I will mark this issue as verified fixed.

[2018-02-08 13:23] vitaly-zdanevich commented on #7520
Ok, now `iat` and `exp` as numbers, getting 400 with another strange message:
`{"error":"Duplicate add-on ID found."}`
How it can be possible?

[2018-02-08 14:56] vitaly-zdanevich commented on #7520
But [this api](http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#uploading-without-an-id) is POST, for `Uploading without an ID`.

[2018-02-08 15:05] eviljeff opened #7524 "Be consistent and have theme category URLs end in "/""
see https://github.com/mozilla/addons-frontend/issues/4252 for background.

[2018-02-08 15:32] eviljeff commented on #7514
good thing the v3 is still "experimental" 😆  - we just need addons-frontend to support both a single icon and a size:path dict first.  I'll log an issue.

[2018-02-08 15:49] kumar303 commented on #7518
I run into this every time I try to update docker. Erasing all containers and recreating the Docker env seems to work fine.

I have looked in all the logs I can find and these are the only suspicious entries. It doesn't point out anything obvious though.

rabbitmq: https://pastebin.mozilla.org/9077537 (connection_closed_abruptly)
mysql: https://pastebin.mozilla.org/9077538 (Got an error reading co

[2018-02-08 15:54] EnTeQuAk opened #7525 "UI-Tests don't handle missing waffle-switch gracefully"
I'm not sure since when this ever worked but let's just call it magic…

[code]

I think we need to provide `--create` to the `waffle_switch` commands in the Makefile. This is randomly breaking in our circleci ui tests

[2018-02-08 16:03] EnTeQuAk commented on #7525
Nevermind, this got already fixed in master

[2018-02-08 16:03] #7525 closed

[2018-02-08 16:31] philipcristiano commented on #7518
Using `stopasgroup=false` in the supervisor config I was unable to reproduce the problem. I don't know if this will cause other problems, if there are other child processes running that aren't cleaned up.

[2018-02-08 17:26] #7111 closed

[2018-02-08 23:07] jvillalobos commented on #7283
No.

[2018-02-08 23:09] jvillalobos commented on #7516
Removing the flag from the queue view is fine with me.

[2018-02-08 23:22] kumar303 opened #7529 "Allow collection IDs in API URLs"
All of the [collection API](https://addons-server.readthedocs.io/en/latest/topics/api/collections.html) endpoints seem to require a collection slug. Most other endpoints allow a slug *or* ID number. Can collection endpoints allow IDs too?

I'm mostly nervous about the [edit endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#edit) since it's possible to edit the sl

[2018-02-08 23:27] jvillalobos commented on #7481
I can see it being useful, but it looks like a very limited use case. I'd say it's either low priority or WONTFIX.

[2018-02-08 23:36] jvillalobos commented on #6615
We have a website where you can search for add-ons :P

The reviewer tools plans includes a tool for searching add-on code, but nothing new otherwise. You can search for add-ons in the queue, and you have some filtering options in the log. Looking for old reviews can be challenging sometimes, but adding a search tool just for that may be overkill.

[2018-02-09 01:30] SeanPrashad commented on #7301
Hi there, I'd like to help out with this bug if it's still available!

[2018-02-09 12:38] AlexandraMoga commented on #7111
Verified on AMO-dev with FF58, WIn10.
The link is now redirecting correctly to the add-on review page:
![reviews link](https://user-images.githubusercontent.com/31961530/36027858-a0320a2c-0da5-11e8-8a0b-8986e09dafc4.gif)
@eviljeff we might have a small inconsistency when it comes to empty reviews. The legacy site does not ignore them, so they will come up in count when looking at ratings in Dev Hu

[2018-02-09 14:52] #6758 closed

[2018-02-09 14:54] eviljeff commented on #7111
@AlexandraMoga it's not a particularly high priority fix, but it should probably be consistent in devhub and the new frontend, yeah.

[2018-02-09 15:13] eviljeff commented on #6850
re-opening this as datadog shows... basically no change.  Still averaging just less than a second which seems bizarrely high if every response after the first didn't have to hit the database at all for 24 hours.
Possibilities:
A) bug in the code and memcache isn't being used;
B) we're still sending too much data and we should consider pagination.

[2018-02-09 15:49] eviljeff commented on #7529
I'm trying to remember if there was a reason support for ID wasn't added too...  and I can't.  Something to do with private collections, maybe?  I suppose it's possible to add, but everything should be fine anyway 😉

[2018-02-09 16:10] #7301 closed

[2018-02-09 16:23] aswan opened #7534 "Add URL for reviews to search results"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
about:addons uses the search api to get the detailed results to display, but as described at https://bugzilla.mozilla.org/show_bug.cgi?id=1437068#c2, that url is not present in the new api.  I really don't want to put logic about constructing these urls into the client, please add

[2018-02-09 16:32] SeanPrashad commented on #6899
Hey there! I'd love to tackle this if it's still available!

[2018-02-09 19:00] jrbenny35 commented on #7381
Blocked by #7526

[2018-02-09 20:02] pwalm commented on #4531
I think we have to keep "Firefox" as it is part of our overall branding and shouldn't be dropped. So it would be:

[Firefox logo] Firefox Add-ons Developer Hub

Kind of a mouthful, but that's what we've ended up with!

[2018-02-09 21:04] kumar303 opened #7535 "Fall back to non-empty version release notes, regardless of locale"
### Describe the problem and steps to reproduce it:

- Set your locale (in the URL) to `en-GB`
- Submit an add-on to devhub
- Manage the version and enter in some *Version notes* such as a list of things you changed
- Wait for auto-approval
- View the detail listing in the **en-US** locale

### What happened?

You do not see any *Release notes* section on the page

### What did you expect to happe

[2018-02-09 21:26] diox commented on #7535
[There is](http://addons-server.readthedocs.io/en/latest/topics/development/translations.html). When you request something in a specific locale, we fall back to the default locale of the object, or the default locale of the server if no default locale exist on the object.

So it should work here, if the add-on default locale is set to `en-GB`... unfortunately, there is an nasty gotcha: the default

[2018-02-09 21:29] kumar303 commented on #7535
OK, thanks, I see. So for things like `Collection` where the default locale is on the model, we probably won't see this issue. That's good.

[2018-02-09 21:29] diox commented on #7535
Also worth noting: a while ago there was an attempt to fix this by magopian, by adding a third condition falling back to whatever language available. Unfortunately this caused issues with things that needed to sort by a translated field and that idea had to be abandoned. We could revisit this but I think it's too much of an investment compared to the 2 other possible workarounds I describe above.

[2018-02-09 21:31] diox commented on #7535
Yeah AFAIK it only happens with the Version release notes and the License name/text (if a custom one is picked).

[2018-02-09 21:41] diox commented on #6850
Random guess, would need some logging or cache stats to check: not enough requests to language tools so the cached data is evicted out of the cache before being useful. That'd be wild...

[2018-02-10 07:31] eviljeff commented on #6850
According to datadog it's getting an average of 38 requests every 30/min.  We don't know what combination of `lang` and `application` they were, but that's 1,824/day so at least _some_ of them have got to be duplicates that should have been returned from memcache.  The cache expiry was supposed to be 24 hours... so if it's happening more frequently than that then why?

[2018-02-10 11:54] diox commented on #6850
Memcached will evict things from its cache long before they have reached their expiration date, if there is not enough memory to store everything, following a Least Recently Used algorithm. It's therefore perfectly possible that the language tools cached data gets evicted since its usage is quite low for all the things we store in memcached (all cache-machine data)

That's why we'd need logging (t

[2018-02-10 13:38] grahamperrin commented on #2661
Search performed with Firefox 58.0, for _Vertical Tabs Reloaded_

https://addons.mozilla.org/en-US/firefox/search/?q=vertical%20tabs%20reloaded&platform=FreeBSD&appver=58.0

– five pages of results, none of which is https://addons.mozilla.org/en-GB/firefox/addon/vertical-tabs-reloaded/

Am I missing something again?

[2018-02-10 13:43] diox commented on #2661
Looks like it's an issue with your platform - it works fine on the legacy website using your link, or on the new site using "linux" as the platform instead of "FreeBSD". I'd file a bug over at addons-frontend, if there isn't one already.

[2018-02-10 13:46] grahamperrin commented on #2661
Confirmed, thanks.

With the classic site, and the same link, still with Firefox on FreeBSD-CURRENT, the required extension is first and foremost.

[2018-02-10 14:02] vitaly-zdanevich commented on #7520
My code:
[code]
Also it would be helpful for future developers to add some code examples to the documentation, in pure shell, Python3, node.

[2018-02-10 18:52] erosman commented on #6930
Note: I see a lot of add-ons with native messaging that have a weighting around 10. As mentioned in previous topic, the queues require a re-weighting. Otherwise they may never be looked at.

[2018-02-10 19:04] diox commented on #6930
We already have a command to recalculate weight on past auto-approved versions that have yet to be confirmed - it's just a matter of deciding what the new weight for `nativeMessaging` should be and implement it, and then we can use that command.

[2018-02-11 20:39] brampitoyo commented on #4531
@pwalm Sounds good. If you have a logotype vector file handy and haven’t got the time to refit the type, I’d be happy to do that and post the SVG + PNG here!

[2018-02-12 07:16] AlexandraMoga opened #7540 "Reviews count from DevHub is not consistent with reviews count in new frontend"
Follow up of [#7111](https://github.com/mozilla/addons-server/issues/7111)
Prerequisites: you need to have at least one add-on submitted; add-on contains empty user reviews

STR:

1. Log in to Developer Hub and go to Manage my submissions
2. Look at an add-on that has been rated and also includes some empty user reviews - make a note of the number of reviews displayed in dev-hub
3. Click on the "<

[2018-02-12 09:40] eviljeff commented on #7517
We should really drop l10n on `Rating.body`.

[2018-02-12 10:27] diox commented on #7517
Yeah - the migration to do it is just going to take a while...

[2018-02-12 12:18] eviljeff commented on #6850
After looking into cache stats and discussing on IRC we've decided to stop work on this until after cache-machine is removed.  Cache-machine fills up memcache with frequent requests that mean less frequently requested data - like the lang tools response - is evicted before being used.

[2018-02-12 13:19] ioanarusiczki commented on #7301
Verified fixed on AMO dev using FF58 (Win10). I also tested with some similar scenarios and I could no longer reproduce this issue.

![dreptunghiuri](https://user-images.githubusercontent.com/33448286/36098563-0b35395c-1008-11e8-9611-dd1b361972bf.gif)

[2018-02-12 15:48] ioanarusiczki opened #7544 "A logo inconsistency is observable on the first page when submitting an ad-on versus a theme"
Prerequisites:
User is logged in

STR:
1. Load AMO dev and hover over the username and open the drop down menu.
2. Click Submit a new add-on from Tools.
3. Observe the Add-on Developer Hub logo and click on it.
4. Load AMO dev and click on Submit a new theme from Tools.
5. Observe the logo and click on it.

Expected result:
In both cases the Developer Hub logo is displayed and user is redirected t

[2018-02-12 17:55] kumar303 opened #7547 "Say 'custom URL' instead of 'slug' in collection error messages"
We display collection slug validation messages (from the API) to the user. However, the UI refers to a slug as a *custom URL*, not a slug. Can we update these error messages to use the term *custom URL*?

<img width="691" alt="screenshot 2018-02-12 11 48 26" src="https://user-images.githubusercontent.com/55398/36111298-49139ed4-0feb-11e8-95ca-df6af41a634b.png">
<img width="691" alt="screenshot 201

[2018-02-12 19:30] erosman commented on #6519
Content/Compare fails to show the files:

Add-on:
[code]

[2018-02-12 19:38] devaneymoz opened #7548 ""Top-rated extensions" filtering needs variety"
We often feature "Top-rated extensions" on the homepage. While the displayed content is indeed top-rated (usually showing nothing less than 4.5 star-rated stuff), we tend to see the same four top-rated extensions featured in the shelf for days on end. It looks like this:

![screen shot 2018-02-12 at 11 16 46 am](https://user-images.githubusercontent.com/8496249/36115674-a5baaab8-0fe8-11e8-9587-fb1

[2018-02-12 22:55] jvillalobos commented on #7548
We could have a set of extensions of which a small number are randomly selected for that module. What is the lowest rating you think should an add-on have to qualify? 4.0, 4.5, something else? Would it suffice to have the 20 top-rated add-ons to make the module random enough?

Caching may be a technical limitation here. So ti could be that the selection is random but it only changes every day or s

[2018-02-13 00:18] AdiProdan opened #7551 "https://addons.mozilla.org/en-US/firefox/addon/cryptonite-by-metacert/"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
https://addons.mozilla.org/en-US/firefox/addon/cryptonite-by-metacert/
This extension is for some reason missing..

### What happened?
Page says: "Sorry, but we can't find anything at the address you entered."

### What did you expect to happen?
I expected to find the add-on

### Anything else we shou

[2018-02-13 00:31] diox commented on #7551
This add-on has been disabled by reviewers because of a couple issues with it. Once they are fixed by the author(s) it will return.

[2018-02-13 00:31] #7551 closed

[2018-02-13 00:37] AdiProdan commented on #7551
Awesome reply time, thanks!!

On Tue, Feb 13, 2018 at 1:31 AM, Mathieu Pillard <notifications@github.com>
wrote:

[2018-02-13 01:18] devaneymoz commented on #7548
We currently have around 70 5-star extensions with a minimum user base of 1,000. How about randomizing from that set?

Further, unless there are concerns about randomizing from a set that's too large, what if we went with a pool that was extensions with min. 4.5 star rating and 1,000 users? That would ensure an even broader cross-section of content.

[2018-02-13 13:05] diox opened #7555 "Drop `info_request` field from `Version`"
In #7283 the `info_request` field will be replaced by a `pending_info_request` field on `AddonReviewerFlags`.

To ensure a clean migration, we'll do the usual:
- Drop the field from the model, keeping the database column (On dev/stage/prod `Version.info_request` already has a default in the database)
- In a push after that one, drop the column

[2018-02-13 15:03] vcarciu opened #7556 "Pressing Enter will disable the submission process instead of finish it"
Steps to reproduce:
1.Go to dev hub and start a submission for a new webextension
2.After a successful validation, press "Submit version" button without completing all mandatory fields(ie. categories or change the slug if it was used before)
3.Complete the mandatory fields and press Enter keyboard button

Expected results:
The webextension is successfully submitted

Actual results:
Submission is c

[2018-02-13 15:29] AlexandraMoga opened #7557 "User reviews count from Add-ons manager is inconsistent with the new frontend"
STR:

1. Access AMO homepage and install an extension that has both written and empty reviews (i.e. https://addons.mozilla.org/en-US/firefox/addon/open-via-idm-manager/)
2. After the installation is complete, go to about:addons and check the installed add-on in the Extensions tab
3. Click on 'More' to see additional details for this add-on and observe the number of reviews displayed
4. Click on <#

[2018-02-13 17:16] shell1 commented on #7340
@diox  Confirmed that this code can go away when ESR 52 EOL (Aug 28th) - needs to stay until then.

Shell filing bug with Will to remove the developer documentation on MPC now.  We don't want to expand the use, since the probe was meant during Fx50-56 transition releases.  We're just supporting it until end of life to avoid any weird behavior changes (of turning off partial e10s for some users).

[2018-02-13 17:42] diox commented on #7340
Ok thanks. Lowering priority for now.

[2018-02-13 19:53] #7435 closed

[2018-02-13 20:59] jrbenny35 commented on #7524
What would need to be done for this?

[2018-02-14 06:04] eviljeff commented on #7524
I'm not 100% certain but changing the regexs that relate to themes in https://github.com/mozilla/addons-server/blob/master/src/olympia/browse/urls.py#L22:L92 is where I'd start.

[2018-02-14 06:55] eviljeff commented on #7557
This would require a breaking change in the legacy (1.5) API and potentially changes in Firefox code (Add-on Manager is _not_ part of AMO).  Firefox 60 (in Nightly now) is expected to have a rewritten Add-on Manager which will use the newer 3.0 API, where both rating count with text reviews, and without is available.

[2018-02-14 06:55] #7557 closed

[2018-02-14 07:24] eviljeff commented on #7547
Hmm.  But the API field _is_ called `slug` so, as an API validation error message, it's correct.  Is this the first time this problem has come up?

[2018-02-14 07:26] eviljeff opened #7561 "Use Scandir to speed up our os.walk usage"
One of our dev dependancies uses scandir and the description implies it's double++good
https://github.com/mozilla/addons-server/pull/7549
We should use it in prod code too (?)

[2018-02-14 11:57] vcarciu commented on #6758
Can we add "qa: not needed" on this one ?

[2018-02-14 14:22] #6548 closed

[2018-02-14 14:27] #7056 closed

[2018-02-14 14:41] wagnerand commented on #7435
STR:

1. Make sure the `beta-versions` waffle switch is enabled:
2. Have a public add-on with at least one approved version.
3. Submit a new version for that add-on with a beta version number, for example `3.1beta1`.
4. Check the *beta* checkbox during submission to submit that version to the beta channel.
5. Flip the `beta-versions` waffle switch.

A)
1. Submit a new version for that add-on with

[2018-02-14 15:38] kumar303 opened #7563 "Compare search results add-on data to add-on detail data"
The API exposes add-on detail data in [search results](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search) but the frontend doesn't make much use of this. It always loads all data from the [detail endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#detail) because it needs a few fields that are missing from search results. For example, it needs

[2018-02-14 15:53] eviljeff commented on #5805
#7514 is connected to this.  As mentioned in that issue we do actually generate more than 64px (despite what devhub says) but just don't expose them in the API.  Is 1024px still needed?

[2018-02-14 15:59] diox commented on #5805
Note that IIRC we scale the icons up so a 1024x1024 might be super ugly depending on the source...

[2018-02-14 22:23] jrbenny35 commented on #7524
I was able to get this working adding this url : ```url('^themes/(?:(?P<category>[^ /]+)/)?$', views.personas, name='browse.personas'),```

However I must keep the existing url ```url('^themes/(?P<category>[^ /]+)?$', views.personas, name='browse.personas'),``` for the url at ```themes/``` to work.

Any tips or something I'm missing?

[2018-02-15 00:38] diox commented on #7534
Since the v3 API will be frozen soon, should be called `ratings_url` while we still have a chance to do this right...

[2018-02-15 00:45] diox commented on #7514
32, 48, 64 appear to be the only sizes that are actually working, at least for the add-ons I'm testing with. Since the legacy API was returning only 32 and 64, I suggest that the v3 API only return those 2 sizes as well, and we can figure out what to do about the other sizes afterwards.

[2018-02-15 00:46] diox commented on #7513
Yeah, that's a good point. We need to get the frontend to send us that parameter.

[2018-02-15 01:00] diox commented on #7514
I think we can add a new `icons` field to the response, and not touch the `icon` one. We'd eventually drop `icon` entirely, but that enables us to implement it without waiting for the frontend.

So, it would look like this:
[code]

[2018-02-15 09:07] EnTeQuAk commented on #7513
Any opinions about naming? Let's call this `force_outgoing_links` maybe?

[2018-02-15 10:27] AlexandraMoga opened #7573 "Add a link to Add-on review log in Reviewers dashboard for users with Review:Content permission"
Prerequisites: Access AMO with a user who has Reviews:Content permission

STR:
1. Log into AMO and select Reviewer Tools from the user menu
2. Check the options available for your user in Reviewers dashboard

Actual result:
There is no link pointing to Add-on Review Log

Expected results:
Content reviewers should have Add-on Review Log on their dashboard since they have access to this queue via a

[2018-02-15 10:29] diox commented on #7513
`wrap_outgoing_links` maybe?

[2018-02-15 10:30] #7510 closed

[2018-02-15 11:08] eviljeff commented on #7514
Yeah, added on `icons` - it's accurately named too.

I found from testing yesterday that all the icon sizes were generated when i selected a new icon for an existing listing. I don't know how long that's been true for though.

[2018-02-15 11:32] eviljeff commented on #7514
Yes, and we don't really want to upscale all the existing 64x64 icons to 512.

Really the feature is broken - we say 64 is the max in devhub (so that's probably the max size uploaded by a Dev); then resize them anyway. It's quite likely all the icons at 128, 256, 512 are useless therefore -we should probably just delete them.

[2018-02-15 11:37] diox commented on #5805
@eviljeff mentioned the same thing in #7514:

I agree. We should start from scratch for anything above 64... Maybe the plan could be:
- Delete any icons > 64px
- Start supporting higher sizes in devhub
- Return what is available in the API, through the new `icons` property.

The problem is finding out what's available without having to store yet another field on `Addon`...

[2018-02-15 11:37] diox commented on #7514
I agreed. Moving this discussion to #5805 :)

[2018-02-15 12:03] eviljeff commented on #5805
We could rely on `.exists()` on the filename (they're consistently named).

When it comes to the larger sizes (larger than 64, or whatever we decide is the "minimum required size" in the future) I think we should only generate them if the source is equal or greater than that size so we never upscale (e.g. dev uploads a 128px icon, we create 32, 48, 64, 128, but but 256 and 512).

Aside: 48 seems u

[2018-02-15 12:05] diox commented on #5805
I'd like to avoid calling `.exists()` on the (network) filesystem when serving an API response though... I guess we'll have to add a field.

Agreed on the rest. And 48 is definitely useless.

[2018-02-15 13:23] ioanarusiczki opened #7576 "The new frontend pages are not displayed when the back button of the browser is used"
STR:
1.  Load AMO stage and click on an ad-on to open it's detail page.
2. Open read reviews link.
3. From the reviews page click on View classic desktop site.
4. Click the back button of your browser and observe the address bar.
5. Click the back button one more time and observe the page displayed.

Expected results:
The pages from the address bar are displayed.

Actual results:
The Reviews page

[2018-02-15 16:03] eviljeff commented on #7524
you should be able to combine that into a single regex

[2018-02-15 16:24] kumar303 commented on #7513
@aswan What's the rationale for this change request? Privacy? The outgoing server gives us an opportunity to warn about phishing attempts and also a central location to address malicious links. However, I'm not aware that we've ever employed that functionality.

[2018-02-15 17:25] jrbenny35 commented on #7524
I think when I use the first example the category of ```None``` doesn't get passed so django returns a 404.

[2018-02-15 17:34] aswan commented on #7513
Discussed in IRC, but Firefox uses the search API to gather addon metadata that is presented in about:addons.  Without this change, the homepage is totally obscured in the addons details:

![screen shot 2018-02-15 at 9 25 39 am](https://user-images.githubusercontent.com/3308522/36271397-5edb3160-1233-11e8-8b9e-47607d94f7fe.png)

[2018-02-15 18:04] kumar303 commented on #7547
Yes, well, it would be nice to change the field to `custom_url` but I could live without that part.

It's the first time we've built a frontend screen using this API field so yes. The legacy site referred to this data as a "slug" but I don't think that's a term we should expect users to understand.

The alternative to patching the API for this change is to maintain the localization string on the f

[2018-02-15 18:15] kumar303 commented on #7529
Well, huh, this is actually pretty difficult to work around. The problem is that we have to change the browser URL after the user edits their slug. This would work fine in a server side application but on a client side application it causes a race condition against how we invalidate/reload data. Anyway, I have a hack in place to avoid the race condition but the whole thing would be simpler if we h

[2018-02-15 23:40] diox commented on #7207
dupe of https://github.com/mozilla/addons-server/issues/7465 which I fixed.

[2018-02-15 23:40] #7207 closed

[2018-02-16 10:05] wagnerand commented on #7427
The info-request email has this now. Let's close this and evaluate further whether and which templates need more updates.

[2018-02-16 10:05] #7427 closed

[2018-02-16 11:29] #7514 closed

[2018-02-16 12:28] eviljeff commented on #7547
`slug` isn't a particularly user friendly term, I agree, though if we change it for collections then arguably it should be consistent and changed for add-ons too and I'm less than convinced that changing `slug` to `custom_url` everywhere in the API and docs would make it easier to understand, especially when add-ons are returned as part of a collection API response.

If we _don't_ change it to `cu

[2018-02-16 12:36] diox commented on #7547
They definitely are.

IMHO any API error that could be returned to *users* of the frontend should be localized. Some of our errors are not, but for most of them it's errors that should not happen unless something is seriously wrong with the client - things like an invalid combination of parameters in the search API, for instance.

We're still wildly inconsistent (mostly because even on the server

[2018-02-16 13:04] AlexandraMoga commented on #6548
Verified on AMO-dev, FF58 (Win10x54)

I've sent the following request and both collection meta-data and add-on details were returned:
[code]
There was no pagination implemented after all, as far as I understood from your [discussion](https://github.com/mozilla/addons-server/pull/7546)

[2018-02-16 14:26] AlexandraMoga commented on #7514
Verifed on AMO dev, with FF58, Win10x64

Checked with the following add-on and the new `icons` property is returned; the old `icon_url` property is also present:
[code]
![image](https://user-images.githubusercontent.com/31961530/36311897-76348f84-1335-11e8-84e1-e1616548bb07.png)

[2018-02-16 15:06] #7534 closed

[2018-02-16 15:17] eviljeff commented on #7576
dupe of #5894

[2018-02-16 15:17] #7576 closed

[2018-02-16 15:27] eviljeff commented on #7524
maybe your regex is wrong :)
Actually, you shouldn't need the non-`/` variant - there is a middleware class that adds a slash to any url that would otherwise 404.  Just changing the regex to the new one should be enough.

[2018-02-16 16:36] kumar303 commented on #7547
Even though things are inconsistent, I think it would be a pragmatic fix to simply tailor the localized error messages to the frontend when we need them -- this would fulfill the ultimate goal of shipping a good product to end users.

However, if now is a good time to dive into a more robust fix then we'd need some kind of code that we can differentiate from a normal string. For example, here's wh

[2018-02-16 16:40] diox commented on #7283
@jvillalobos do we need a migration for existing information requests ? if so, with what deadline ?

[2018-02-16 17:03] #6899 closed

[2018-02-16 17:04] diox commented on #6899
Thanks, @SeanPrashad !

QA: make sure sorting by name when searching addons still works. You can't do that on the new frontend, but it should be possible on the legacy site and in the API.

[2018-02-16 18:21] #7208 closed

[2018-02-16 22:16] SeanPrashad commented on #7405
Hi there, I would like to work on this bug if it's still available!

[2018-02-16 22:50] jvillalobos commented on #7283
I'm thinking there are lots of old needinfo's that we never cleared, so doing a migration could have unintended consequences. What would be the outcome of not migrating them?

[2018-02-17 00:05] diox commented on #7283
Not migrating them would mean they'd no longer be flagged as needing info in the queues. Reviewers would still view the request for info in the activity log for the relevant version, but it would look as if the request had been cleared by the developer at some point.

[2018-02-19 08:27] AlexandraMoga commented on #7208
Could you please add some STR to help us test this?

[2018-02-19 10:13] AlexandraMoga opened #7594 "Add-on submission is stuck in validation state"
STR:

1. Log into Developr Hub
2. Submit a new extension
3. Wait for your validation results

Actual result:
Extension is stuck in validation mode and no results are triggered

Expected result:
Validation is successfully completed for the submitted extension

Notes:
- it is also happening at theme submission, when using the theme generator wizard (submission is stuck in upload mode)
- reproduced o

[2018-02-19 10:38] AlexandraMoga opened #7595 "User is redirected to 'My Add-ons' after deleting a static theme from 'My Themes' list"
STR:

1. Log into Developer Hub
2. Go to Manage my Submissions -> My Themes
3. Delete one of your static themes listed in this queue

Actual result:
After theme deletion is confirmed, the user is redirected to My Add-ons queue

Expected result:
After theme deletion, the user is redirected back to My Themes queue

Notes:
- also reproduces when deleting a static theme from Manage status and versions

[2018-02-19 10:47] ioanarusiczki commented on #7510
I verified this with FF58 (Win10).
@diox I don't see Emoji Cheatsheet and Light Up the Morning from the above list but instead below the Download videos I get a red banner with the message This add-on does not support your browser.
Could you please confirm that this is as expected ?

![disco pane](https://user-images.githubusercontent.com/33448286/36374052-b86b7bbc-1572-11e8-8350-2cdbdcf7799c.png)

[2018-02-19 10:53] EnTeQuAk commented on #7510
I feel like this could be because of the recommendation engine that's also involved maybe? With my set of add-ons, I can see the missing ones on your machine. I'm not to sure about the incompatible recommendation though, that should be a bug imho, TAAR should not return such thing.

[2018-02-19 10:55] EnTeQuAk commented on #7510
I could be completely wrong but if you disable all telemetry stuff in your Firefox settings I think you should see an untampered list.

[2018-02-19 10:58] ioanarusiczki commented on #7056
@eviljeff Can we help by verifying here ? If so, please provide some more details.
Thanks!

[2018-02-19 11:06] diox commented on #7510
@ioanarusiczki where are you testing? dev?

Disco Pane updates are always tricky to test as the add-ons they are referencing may not exist on dev/stage, or may not be in the same state as prod's.

[2018-02-19 11:36] diox commented on #7283
QA:

This isn't automated yet, so please test the rest first, and when everything is ok I'll enable this.

[2018-02-19 12:25] ioanarusiczki commented on #7510
@diox Hi! This is from AMO dev. Is the message displayed because it could not find an equivalent to match with for Emoji and the Light up theme?

[2018-02-19 12:26] xXm0ma55acr3Xx opened #7597 "Remote access enabled from another person that I have not permitted"
### Describe the problem and steps to reproduce it:
My Facebook account is persistently and aggressively being logged into by two jealous stalkers that keep changing my passwords and using Samsung and Verizon store apps to control my screen with remote control access, or key loggers or password settings, and have locked me out of two of my accounts. I am waiting for a fraud case to finish being in

[2018-02-19 12:35] diox commented on #7510
No, missing add-ons are ignored. The message is displayed because on dev specifically, Video DownloadHelper is not compatible with your version of Firefox.

[2018-02-19 12:40] #7478 closed

[2018-02-19 12:50] ioanarusiczki commented on #7510
Ok, then I'll mark it as verified fixed.
Thanks!

[2018-02-19 12:59] muffinresearch commented on #7513
@diox is that the right milestone? Looks like the frontend patch is ready to go.

[2018-02-19 13:15] diox commented on #7513
It is. I don't want to push both the API and the frontend at the same time, because then if the API is deployed first, we'll get responses without the wrapping for a short while. So I've planned to push the API part next week to be on the safe side.

[2018-02-19 13:16] AlexandraMoga commented on #6899
Verified on AMO-dev, FF58 (Win10x64)

Results:
1. Sort by Name on the legacy site still works as expected; checked for extensions, themes, search tools, collections, DevHub (My Add-ons)
2. Sort in the API (I guessed you were referring to v3.0) :
 - extension search - in general sorting by name will show the correct results but there are some inconsistencies; the below request, for example, will li

[2018-02-19 13:34] diox commented on #6899
Name sorting does not take translations into account, it uses english (if no english translation is available, it uses the one in the add-on's default locale).

[2018-02-19 13:36] diox commented on #6899
Also, blank name personas with no versions are weird, but that's not something coming from these changes. Please file a new issue about these so we'll take a look.

[2018-02-19 14:03] AlexandraMoga commented on #6899
The two add-ons I've mentioned (id 492376 and id 494543) both had an English (en-US) translation in their locales file and both had default_locale set to en-US. They are listed among add-ons starting with "C" while their (english) names are starting with "G" respectively "D".
This is what I don't really understand.

For the second point, I will open an new issue as suggested.

[2018-02-19 14:12] AlexandraMoga opened #7599 "Blank name personas with no versions are returned as search results"
STR:

1, Send a search request that will return themes, sorted by name:
[code]
2. Observe the search results listed on the first 8 pages

Actual result:
A list of themes with blank names and no versions is displayed

Expected result:
A list of themes correctly sorted by name is displayed

Notes:
Reproduced on AMO dev, FF58, (Win10x64)

Here is how the results look on the frontend: https://addons-d

[2018-02-19 14:15] diox commented on #6899
@AlexandraMoga : ok, that's bad. It's not a regression though, it's yet another issue. I think it's because we don't explicitly set which translation to use when indexing the name we use for sorting purposes (for the affected add-ons, some translations do start with a "C") . It's a minor problem since very few add-ons provide translations for their name and we don't care much about sorting by name

[2018-02-19 14:28] AlexandraMoga commented on #6899
Thanks, @diox
I will file  a separate issue for this point then.

Since no other problems specifically connected with name sort were spotted, I will mark this one as verified fixed.

[2018-02-19 14:45] AlexandraMoga opened #7600 "Add-ons with localized names are not correctly listed among search/?sort=name results"
STR:

1. Send a search request that will return extensions, sorted by name
[code]
2. Look at the search results and locate the following add-ons:  **id 492376** and **id 494543**
3. Check the names for these two add-ons and compare them with the other names listed in the results

Actual result:
The two add-ons (english) names are starting with letter "G" respectively "D" while all other results ar

[2018-02-19 14:50] diox commented on #7600
I think we should be forcing activation of either `settings.LANGUAGE_CODE` locale or whatever the add-on default locale is when we index add-ons.

[2018-02-19 15:29] AlexandraMoga commented on #7534
Verified on AMO-dev, Win10x64
The `ratings_url` property was added in the API and redirects to addon user reviews while `review_url` redirects to reviewer tools
@diox - should this change have any impact on addon reviews? Would be worth to look for regressions in this area?

![image](https://user-images.githubusercontent.com/31961530/36384955-bc2bdf2c-1599-11e8-9845-20c9531fb857.png)

[2018-02-19 15:31] wagnerand commented on #7110
After some discussion/clarification in IRC and digging through the code, we are going to do the following:

When a rating that doesn't have a review text gets flagged by the user, we just don't set the flag internally. This affects the legacy frontend only.

This might seem a little odd, but the API already behaves that way and since the new frontend uses the API it shows the same behavior. Althou

[2018-02-19 15:36] diox commented on #7534
It should not have, no. It was relatively straightforward, just adding a property, so I don't expect any regression in addon reviews.

[2018-02-19 15:37] AlexandraMoga commented on #7279
@jvillalobos could you please confirm what @diox mentioned above to know exactly what was expected here?

[2018-02-19 15:39] AlexandraMoga commented on #7534
Thank you!
In this case I'm marking this issue as verified fixed.

[2018-02-19 17:02] EnTeQuAk commented on #7600
Agreed but that'll still result in weird results during sorting, e.g if we don't have an entry for that add-on in the requested language by the user right? I'm not sure if we can avoid that, it could very well be a missing "locale not available in your language" warning or so to make it more visible?

[2018-02-19 17:05] wagnerand commented on #4531
@ddurst could we split the headline changes into a different issue, please?

I'm going to update the image as per https://github.com/mozilla/addons-server/issues/4531#issuecomment-363406568, which is good to go, but it seems the other task needs some more work.

[2018-02-19 17:08] diox commented on #7600
Well, it could be weird, but at least it'll be more predictable than it is right now.

I don't think we should present any warning or message to the user about it. It's a niche feature (we don't even expose it on the frontend currently), and as long as the order is stable, I think it's ok.

[2018-02-19 17:19] jvillalobos commented on #7279
That's correct, I'm trying to reduce permission overlap going forward.

[2018-02-19 17:31] jvillalobos commented on #7283
Then I think we should migrate the most recent ones, which should still be valid. Maybe all the ones that were created in the previous 3 weeks. We could also coordinate with reviewers to have needinfo's mostly cleared by the time the migration is run. @wagnerand, thoughts?

[2018-02-19 17:56] wagnerand commented on #7283
Generally, I'd rather migrate all of them than missing an important one.

@diox what unintended consequences do you have in mind?

[2018-02-19 18:16] diox commented on #7283
@jvillalobos said that, not me :)

One thing to keep in mind is that fetching the original date of the request in SQL is difficult.  So giving every add-on that had an info request a deadline of {push date + 7 days} works, but anything more adds more work, as it probably means writing a one-off command.

[2018-02-19 18:49] wagnerand commented on #7283
Oops, you're right. So, @jvillalobos anything specific you had in mind?

Yep, I was going to write that but then deleted it. You'd have to deal with the activity log :(

I am fine with giving every add-on we migrate a deadline of 7 days, if that makes your life easier.

[2018-02-19 22:07] jvillalobos commented on #7283
My concern would be add-ons that have open info requests that are no longer valid - and may be months or years old - suddenly getting notified about expired info requests. If that's not the case or the admins can spend some time to clear the old ones, it's no problem to migrate them all.

[2018-02-20 01:59] SeanPrashad commented on #7405
I was trying to recreate the issue on my local machine but I'm only able to find [this](https://addons.mozilla.org/en-US/developers/theme/submit) webpage for submitting a new theme. I don't think that's what I need to be looking for - where would I find the Theme Wizard?

[2018-02-20 06:46] AlexandraMoga commented on #7279
Thanks! Since this is the expected behavior, I'm marking this as verified fixed.

[2018-02-20 07:39] #7518 closed

[2018-02-20 08:45] eviljeff commented on #7208
Upload a screenshot/preview and icon in devhub and a profile photo in account settings. For each there should be an original file accessible too (with different urls)

Screenshots with the "full size" url of
[https://addons-dev-cdn.allizom.org/user-media/previews/__full__/128/128936.png](https://addons-dev-cdn.allizom.org/user-media/previews/full/128/128936.png)
should have an original at
[https:/

[2018-02-20 08:59] davidhedlund opened #7607 "OpenSearch entries: "Add to Firefox" buttons still active after installation"
### Describe the problem and steps to reproduce it:
* Visit https://addons.mozilla.org/en-US/firefox/search/?type=search
* Click on any entry.
* Click on the "Add to Firefox" button.

### What happened?
* The "Add to Firefox" buttons are still blue after you have installed them. This shouldn't happen because you cannot install them again. You get this message if your'e trying to install them again

[2018-02-20 08:59] eviljeff commented on #7056
@ioanarusiczki if you upload a static theme - or create one via the wizard - then a preview of the theme should be saved as a screenshot.  I don't know what new frontend displays for static themes currently, but legacy frontend should display them as a standard extension style page - and the preview should be shown as a screenshot (with the version as the preview description).

As an extra step yo

[2018-02-20 09:49] davidhedlund commented on #7607
The page uses the old layout with blue background. Is the https://addons.mozilla.org/en-US/firefox/search-tools/ deprecated?

Then I should mention this on another issue I submitted: https://bugzilla.mozilla.org/show_bug.cgi?id=1439514

[2018-02-20 11:06] #4531 closed

[2018-02-20 11:08] #7110 closed

[2018-02-20 11:21] diox commented on #7405
@SeanPrashad : this is the new static theme wizard, it's currently behind a switch that is not activated in prod or your local environment. To enable it locally, run:
`docker-compose exec web bash ./manage.py waffle_switch allow-static-theme-uploads on`

Then in Developer Hub, select "Create a New Add-on" (not "Submit a New Theme"), and then "Create a theme". You should see the wizard.

[2018-02-20 12:00] AlexandraMoga commented on #7283
Verified on AMO-dev, FF58, Win10x64
**1. tested and working:**
  -  "Require developer to respond" checkbox - shows a fixed 7 days deadline for non admin users; deadline can be modified by users in Reviewers:Admin group
 - "Clear information request" button added in "More Actions", working for users in Reviewers:Admin group; when used, an event is triggered in the Add-on review log
  - Developers

[2018-02-20 12:47] AlexandraMoga commented on #7208
Thanks @eviljeff
Verified on AMO-dev, FF58 (Win10x64) with all image types and checked the image URLs for each case. The images are correctly rendered.

Below is an example for an extension icon:
normal:
https://addons-dev-cdn.allizom.org/user-media/addon_icons/495/495198-64.png?modified=1519128532
original:
https://addons-dev-cdn.allizom.org/user-media/addon_icons/495/495198-original.png?modified

[2018-02-20 13:20] #7453 closed

[2018-02-20 13:37] wagnerand commented on #7283
Yes, some are years old. Admins can go through them and clear the invalid ones, but going through 5000 add-ons will take a while.

As a workaround, could we migrate every item with a deadline that already expired? Would that send out any emails? This would only negatively impact the add-ons that had their need-info added in the past week. That's 40 add-ons and we can easily go through them.

[2018-02-20 14:23] AlexandraMoga commented on #7469
Verified on AMO-dev, with FF58, Win10x64

The template looks ok, just two small issues to address:

1. there are two "Hello"s in the intro
2. maybe the "Contact us" link should be displayed on the same line with "_You can also get in touch with us using these channels_" to make it similar to the other links in the body

![image](https://user-images.githubusercontent.com/31961530/36429045-3533a6aa-

[2018-02-20 14:39] SeanPrashad commented on #7405
Thanks for that heads up @diox! Unfortunately, when I try to run that command, I get the following error:

<img width="936" alt="screen shot 2018-02-20 at 9 30 20 am" src="https://user-images.githubusercontent.com/13009507/36429649-3dc45776-1621-11e8-8ba3-02473b012e31.png">

Should I try and edit the `manage.py` file myself?

[2018-02-20 14:40] AlexandraMoga commented on #7478
@diox , this should be in dev, right? I've test it now but I am not receiving the new template.

[2018-02-20 14:57] vitaly-zdanevich commented on #7520
@diox something wrong with my code? I cannot find any error above...

[2018-02-20 15:03] AlexandraMoga commented on #7453
Checked with requesting Super Review for code and content and in both cases there was no email sent to the developer.
This an be marked as verified fixed

[2018-02-20 15:04] ioanarusiczki opened #7610 "After static theme submissions the screenshots display visual issues on old pages"
STR:
1. Load AMO dev and submit a static theme.
2. Click on View Listing from Edit information to check the preview of the the theme saved as a screenshot.
3. Observe the screenshot after you click on the view classic desktop site.
4. Click on Edit information below the submitted theme and access the Listed Review Page and Unlisted Review Pages.
5. Observe the screenshots from image gallery and ab

[2018-02-20 15:17] AlexandraMoga commented on #7518
Could you please add a "qa:not needed" label to this issue?
Thank you

[2018-02-20 15:42] ioanarusiczki opened #7611 ""Esc" key doesn't work to get out full screen view for addon screenshots on Listed Review Page"
STR:
1. Load AMO dev and from Developer Hub go to Manage My submissions.
2. Click on Edit information below a submitted static theme.
3. Click the image displayed below the name of your theme.
4. Try to close it using "Esc" from your keyboard.
5. Click an image from Image Gallery and try to close it using "Esc" key.

Expected results:
The image is no longer displayed on screen.

Actual results:
No

[2018-02-20 16:02] diox commented on #7283
@wagnerand actually I just realized... I have a flag that I set when we send the "one day left" notification, to avoid sending that twice. So we could set whatever deadline we want *and* set that flag to True to avoid sending any notification.

[2018-02-20 16:06] kumar303 commented on #7513
This frontend change has landed: https://github.com/mozilla/addons-frontend/pull/4408

[2018-02-20 16:07] diox commented on #7283
@AlexandraMoga :

2) [a] It's possible yeah. Because of #7441 if your user does not have `Addons:Review` for now it will not use the right email template. So please test with that permission for the moment. I'm going to try to land a fix for #7441 in the tag.

2) [b] I'll look into that.

[2018-02-20 16:23] ioanarusiczki opened #7614 "An error message is displayed when submitting a second version of a static theme before the approval of it's first version"
STR:
1. Load AMO dev and submit a static theme using the theme wizard.
2. While the first version is waiting for approval try to submit a second version.
3. Click on Finish Theme and observe the screen.

Expected result:
The second version can be submitted while the first one is disabled.

Actual results:
An error message is displayed.

Notes:
This issue is also reproducible when static themes are

[2018-02-20 16:28] diox commented on #7405
sorry, remove the extra `bash` in the command I gave you.

[2018-02-20 16:29] jvillalobos commented on #7607
Yes, that page is deprecated and will go away when the old front-end is no longer supported. The new page is the one Firefox points to, as you pointed out in the Bugzilla report.

Please specify which version of Firefox you were using that showed the transparent button.

[2018-02-20 16:29] wagnerand commented on #7283
That works for me too. As long as we don't send any emails for the ones we migrate (but all other ones that get flagged after the migration).

[2018-02-20 16:29] ioanarusiczki commented on #7056
Hi, I made some tests on AMO dev, FF58 (Win10) and I filed the following
https://github.com/mozilla/addons-server/issues/7610
https://github.com/mozilla/addons-server/issues/7611
https://github.com/mozilla/addons-server/issues/7614
I'll update this when other issues will be discovered during this week.

[2018-02-20 16:30] diox commented on #7478
It should be, yes. What are you seeing? Keep in mind this is only sent once, for your very first listed submission.

[2018-02-20 16:31] davidhedlund commented on #7607
@jvillalobos

Firefox 58.0.2 (64-bit) for GNU/Linux

[2018-02-20 16:31] diox commented on #7520
Sorry, I don't have time to debug what's wrong with your code. We do have a node module implementing this API: https://github.com/mozilla/sign-addon/ and this is used by a CLI client: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext

[2018-02-20 16:55] SeanPrashad commented on #7405
Still doesn't look like it's working 😞:

<img width="1691" alt="screen shot 2018-02-20 at 11 54 04 am" src="https://user-images.githubusercontent.com/13009507/36437421-ee66b3f4-1634-11e8-83fd-1dc9327e5fb4.png">

[2018-02-20 16:57] #7469 closed

[2018-02-20 16:59] diox commented on #7405
Welp. Add `--create` to that command, that should fix it.

[2018-02-20 16:59] #7441 closed

[2018-02-20 17:05] SeanPrashad commented on #7405
Should `--create` be placed anywhere specifically?

<img width="1686" alt="screen shot 2018-02-20 at 12 04 40 pm" src="https://user-images.githubusercontent.com/13009507/36437927-63b799c4-1636-11e8-941d-01b5d16b53d6.png">

[2018-02-20 17:14] SeanPrashad commented on #7405
It worked! I used this command: `docker-compose exec web ./manage.py waffle_switch allow-static-theme-uploads on --create`

[2018-02-20 17:23] vcarciu commented on #7110
Verified as fixed. No empty flagged reviews seen anymore on https://reviewers.addons-dev.allizom.org/en-US/reviewers/queue/reviews

[2018-02-20 18:19] diox commented on #7283
@AlexandraMoga FWIW I've manually trigged the last warning notification email on dev, and a few were sent and should be available in the fake mail admin for you to check.

[2018-02-20 18:39] #7283 closed

[2018-02-20 22:41] jvillalobos commented on #7607
I can reproduce the issue:

1) Go to https://addons.mozilla.org/en-US/firefox/search-tools/
2) Click on the Booking.com entry.

Result: the button has some transparency, but still allows installation (for me).

Oddly, if I go to AMO directly and search for "booking.com", I can find the same listing and the button looks right. So, it may have to do with the transition from old to new front end that

[2018-02-20 22:43] davidhedlund commented on #7607
@jvillalobos Thank you for identifying this.

[2018-02-21 09:29] AlexandraMoga commented on #7607
This was also reported a while back in [#4047](https://github.com/mozilla/addons-frontend/issues/4047)

[2018-02-21 09:34] davidhedlund commented on #7607
@alamanda Thank you. @jvillalobos Can you please merge your [comment](https://github.com/mozilla/addons-server/issues/7607#issuecomment-367146522) to the issue she mentioned and close this issue?

[2018-02-21 09:38] davidhedlund commented on #7607
@jvillalobos Well the issue should not be closed. I just removed the issue we discussed from it. The green button issue remains.

[2018-02-21 09:42] davidhedlund commented on #7607
@jvillalobos I merged your comment.

[2018-02-21 09:56] davidhedlund commented on #7607
@jvillalobos Can you please remove your comment https://github.com/mozilla/addons-server/issues/7607#issuecomment-367146522

I think you want to read this issue from the beginning again.

[2018-02-21 11:50] AlexandraMoga commented on #7283
I've checked again today to see if the deadline template is sent and this time it worked with the same user I used yesterday. Below is an example:
- deadline notification
![image](https://user-images.githubusercontent.com/31961530/36478130-5606415a-170c-11e8-9a31-766d8a7f35dd.png)

I was also able to look into the Add-ons with expired information request queue and observed that a new custom flag i

[2018-02-21 11:53] diox commented on #7283
@AlexandraMoga please do that, linking the add-on you've been testing on.

[2018-02-21 12:15] #2659 closed

[2018-02-21 12:17] diox commented on #2659
QA:
- URLs for existing icons should behave exactly like before: they should include a `modified={number}` bit that changes whenever the add-on is modified
- URLs for *new* icons should include a `modified={hash}` bit that does not change when the add-on is modified. It should only change when the icon itself is updated.

[2018-02-21 12:20] AlexandraMoga opened #7623 "No action triggered in Add-on review history when developer uses "This request for information has been resolved'' checkbox"
Follow up for [#7283](https://github.com/mozilla/addons-server/issues/7283#issuecomment-367027273)

STR:

1. Log in to Reviewer Tools with an Admin account
2. Go to Auto-Approved add-ons queue and pick an add-on to review
3. Use the Reviewer reply action, mark the 'Request more info' checkbox and Save your review
4. Access the DevHub page for the add-on you just reviewed and submit a new version
5

[2018-02-21 12:20] diox commented on #7406
#2659 is now implemented, so when implementing this one needs to be careful about changing the `icon_hash` after crushing. That probably means changing the way `icon_hash` is generated to use the one of the destination icons instead of the original source, otherwise the hash would not necessarily change after crushing...

Also note that previews need to go through this as well, not just icons.

[2018-02-21 12:21] diox commented on #7623
@AlexandraMoga have you retested that today ? I've made a fix for this late yesterday.

[2018-02-21 12:23] ioanarusiczki opened #7624 "Screenshot previews for static themes are not centered on Listed review page"
STR:
1. Load AMO dev and from Dev Hub go to Manage My submissions.
2. From My Themes tab click on edit information for a static theme with multiple versions.
3. Click on Listed review page.
4. Click the image displayed below the name of the theme and observe layout.
5. Click an image from Image Gallery and observe layout.

Expected results:
The screenshot is centered.

Actual results:
The screensh

[2018-02-21 12:39] diox commented on #7594
Working for me locally but not on dev, so I suspect it's an ops issue.

[2018-02-21 12:40] AlexandraMoga commented on #7623
Retested today by using the clear information request checkbox available in the version edit page and a developer response was displayed in add-on review history:

![image](https://user-images.githubusercontent.com/31961530/36480453-0d2b791a-1715-11e8-96e4-0ea4b49521fd.png)

[2018-02-21 12:40] #7623 closed

[2018-02-21 12:42] AlexandraMoga commented on #7283
This can be marked as verified fixed based on the above test results.

[2018-02-21 13:22] vcarciu commented on #4531
Verified as fixed :
![logodevhub](https://user-images.githubusercontent.com/1583842/36482158-fdc16736-171a-11e8-9d9d-9a2dc6bc24e8.png)

[2018-02-21 14:28] AlexandraMoga commented on #7441
I've tested with different users having the above permission sets by posting reviewer replies, information requests, add-on rejections.
The correct email templates were sent for each case and a copy of the email was also sent to these users if they were included in the Activity mail group.
I'm marking this as verified fixed.

[2018-02-21 15:32] AlexandraMoga commented on #7469
Verified as fixed on AMO stage, FF58 Win10x64

![image](https://user-images.githubusercontent.com/31961530/36488826-173b3824-172d-11e8-970d-06a47876eede.png)

[2018-02-21 15:41] #7513 closed

[2018-02-21 15:55] AlexandraMoga commented on #7478
Verified on AMO stage with FF58 Win10x64

@diox not sure if this has anything to do with how fake mail interprets data but when I looked at this template, there was also the HTML version displayed right below the email.
Here is the log entry if you want to have a look yourself - https://addons-internal.stage.mozaws.net/en-US/admin/mail#msg-29327

![image](https://user-images.githubusercontent.com/

[2018-02-21 16:04] diox commented on #7478
Yes, this email is one of the only emails that is sent in both HTML and text formats.

[2018-02-21 16:09] vcarciu commented on #7435
Verified as fixed :
![beta2](https://user-images.githubusercontent.com/1583842/36490660-743c0554-1731-11e8-9a5b-46ae201e3d59.gif)

[2018-02-21 16:14] AlexandraMoga commented on #7478
In that case, this can be marked as verified fixed

[2018-02-21 16:26] jvillalobos commented on #7607
What's left in this bug is a duplicate of https://github.com/mozilla/addons-frontend/issues/3954

In the future, please try to break down issues into individual parts, so they are easier to track and resolve.

[2018-02-21 16:26] #7607 closed

[2018-02-21 16:38] caitmuenster commented on #7298
Hey @anweshknayak, how's it going with this bug?

[2018-02-21 16:46] davidhedlund commented on #7607
@jvillalobos

Thanks.

That is what I did.

[2018-02-21 20:50] kumar303 opened #7626 "Discopane (Discovery) does not load in dev due to a KeyError"
### Describe the problem and steps to reproduce it:

Load the Discopane home page on dev, such as https://discovery.addons-dev.allizom.org/en-US/firefox/discovery/pane/60.0a1/Darwin/normal

### What happened?

You see an *Internal Error* banner at the top

### What did you expect to happen?

It should show add-ons and themes.

### Anything else we should know?

The request to `https://addons-dev.a

[2018-02-21 20:58] rafspiny commented on #7504
Hi, what do you think is the best approach in this case? I was thinking about the following:
- Update the h2 tag on a successful __Basic information__ form submission
- Request another endpoint to retrieve the top-left quadrant information and update the view, if there is already such an endpoint.

Do you have anything else beside this very simple idea?

[2018-02-21 21:33] diox commented on #7504
There isn't a good endpoint to call to retrieve this information. Manually updating the h2 does not sound entirely terrible, so go for it if that's easy enough to identify what section was updated.

[2018-02-21 21:39] diox commented on #7594
Which fixed itself - apparently it was a temporary connection error on dev.

[2018-02-21 22:00] diox commented on #7483
This screenshot has expired, but this is a frontend issue, not a server one. @erosman can you please re-file over https://github.com/mozilla/addons-frontend ? Thanks. That new issue should probably filed as need ux to get UX input on this, they may disagree with you :)

[2018-02-21 22:00] #7483 closed

[2018-02-21 22:02] diox commented on #7610
Marking as p2 to get some attention, but static themes are still behind a switch for now so it does not impact prod.

[2018-02-21 22:11] diox commented on #7540
Is it just a matter of displaying the number of reviews with text instead of all reviews ?

[2018-02-21 22:12] #7481 closed

[2018-02-21 22:12] diox commented on #7599
Weird enough that it should be looked at.

[2018-02-21 23:22] #7626 closed

[2018-02-22 08:09] AlexandraMoga commented on #7594
This is still reproducing intermittently especially with add-ons that are supposed to trigger warnings or errors.
This only happens on -dev.

[2018-02-22 11:25] diox commented on #7594
Assigning ops to look into this instability

[2018-02-22 11:58] #3098 closed

[2018-02-22 12:08] diox commented on #7547
We do something like this for authentication related errors already (exposing both a human readable error message and a code) but having to do this for every single error would get tedious...

 In this particular case those are error messages that are completely under our control. Saying "Custom URL" instead of "slug" is not so bad, and it should still be obvious it refers to the `slug` since the

[2018-02-22 12:37] #7547 closed

[2018-02-22 12:39] vcarciu commented on #3098
Verified as fixed :
![savechanges](https://user-images.githubusercontent.com/1583842/36539078-3963ea84-17de-11e8-9b8f-95a39396974c.gif)

[2018-02-22 14:42] philipcristiano commented on #7594
Is there information about how the backend part of this process works in development? I don't know much about this.

The previous case was an intermittent problem connecting to RabbitMQ. According to Sentry, that hasn't happened today (only yesterday). Due to our access model scheme, I can't look into this much without recreating the RabbitMQ instances first.

[2018-02-22 14:46] vcarciu commented on #7626
Verified as fixed:
![discopane](https://user-images.githubusercontent.com/1583842/36544772-eda0aa9e-17ef-11e8-8162-281713cca1b9.png)

[2018-02-22 14:57] diox commented on #7594
The flow is:
- The developer uploads an add-on
- The view responsible for this parses the manifest inside the uploaded add-on, and queues a celery task to do the validation
- Celery workers pick up that task and process it. This marks the file upload as processed.
- While all this was happening, the developer upload page was polling an API. When the file is finally marked as processed that polling

[2018-02-22 15:56] AlexandraMoga commented on #7594
@diox @philipcristiano Yes, I was reproducing the issue this morning, this is why I've re-opened the case.
However, now the submission seems to be working. Maybe it needed a bit more time.
I guess we can close the issue for now and we'll keep monitoring -dev to see if this will happen again.

[2018-02-22 16:12] vcarciu commented on #7547
Verified as fixed :
![serverslug](https://user-images.githubusercontent.com/1583842/36549638-f4560558-17fb-11e8-8efd-2828e9b249f9.png)

[2018-02-22 17:36] diox opened #7635 "Prevent non-images to be uploaded through user photo or collection icon"
Through the add-on previews/icons upload code does check that the uploaded content is indeed an image (and not animated), the user photo and collection icon ones don't. Ultimately it's not a very big deal as it will get cleaned up later by the `gc` cron since we won't be able to resize them, let's prevent those broken uploads in the first place.

[2018-02-22 20:01] rafspiny commented on #7504
@diox It should be easy. I will apply the first solution then.

[2018-02-23 11:33] kewisch opened #7640 "Only show queue tabs the reviewer has permissions for"
The reviewer queue tabnav bar shows tabs that some reviewers don't have access to. The tab bar should be updated to adhere to permissions. See:
https://github.com/mozilla/addons-server/blob/360517b91eaf4311cf3f1c5c972014c9badd550e/src/olympia/reviewers/templatetags/jinja_helpers.py#L68-L115

We should add in checks for legacy reviewer permission, and moderated reviews permissions.

[2018-02-23 11:44] AlexandraMoga commented on #2659
Verified as fixed on AMO-dev, FF58 Win10x64

- 1st scenario:
 icon URL before add-on updates
[https://addons-dev-cdn.allizom.org/user-media/addon_icons/494/494655-64.png?**modified=1519375853**](https://addons-dev-cdn.allizom.org/user-media/addon_icons/494/494655-64.png?modified=1519375853)
 icon URL after some updates applied to the add-on
[https://addons-dev-cdn.allizom.org/user-media/addon_icon

[2018-02-23 11:45] wagnerand opened #7641 "500 error when visiting a beta versions listing page when beta versions are disabled."
STR:
1. Make sure the `beta-versions` waffle is disabled.
2. Go to a beta versions listing page, e.g. https://addons-dev.allizom.org/en-US/thunderbird/addon/lightning/versions/beta

https://sentry.prod.mozaws.net/operations/olympia-prod/issues/2760044/

[2018-02-23 13:22] AlexandraMoga commented on #7513
Verified as fixed on AMO-dev, FF58, Win10x64

- with wrap parameter set

![image](https://user-images.githubusercontent.com/31961530/36596021-fcc6b2e4-18ac-11e8-960f-b4242940d209.png)

 - without wrap parameter

![image](https://user-images.githubusercontent.com/31961530/36596029-03e7fda8-18ad-11e8-8ecf-4c00e7846ccf.png)

[2018-02-23 13:46] AlexandraMoga commented on #2087
Since this is not reproducing anymore and the old site will soon become obsolete, this can be marked as verified fixed.

[2018-02-23 14:03] AlexandraMoga commented on #2260
Verified in [2393](https://github.com/mozilla/addons-server/issues/2393) and [2395](https://github.com/mozilla/addons-server/issues/2395) for the additional issues observed

[2018-02-23 14:07] AlexandraMoga commented on #2261
This was solved in the (long) meantime.

[2018-02-23 14:08] AlexandraMoga commented on #2388
This doesn't apply anymore since post review was introduced.

[2018-02-23 14:27] AlexandraMoga commented on #3452
This is no longer an issue.

[2018-02-23 14:31] AlexandraMoga commented on #2520
No longer an issue

[2018-02-23 15:20] #7641 closed

[2018-02-23 15:45] ioanarusiczki opened #7646 "Theme name field is not updated when changing the image"
STR:
1. Load AMO dev and from Dev Hub submit a static theme using the wizard by clicking on Create a theme.
2. Click on the Browse button and select an image from your folder.
3. Click on Select a different header image and choose another file.
4. Observe the "Theme name" field from the Theme generator page.

Expected result:
The name of the second image is displayed.

Actual result:
The name of t

[2018-02-23 16:01] vcarciu commented on #7641
Verified as fixed:
![betaver](https://user-images.githubusercontent.com/1583842/36603486-929e1616-18c3-11e8-945b-b0b83c6f872f.png)

[2018-02-23 22:25] andreicristianpetcu commented on #6891
[In my other bug](https://github.com/mozilla/addons-server/issues/7034) I wanted to add an addon to a collection. I really did not care about the UI I used to add it. I noticed I can add the addon to the collection from the addon's home page. Here is a print screen.

![screenshot from 2018-02-24 00-23-49](https://user-images.githubusercontent.com/922368/36619860-0d02c66a-18f9-11e8-8a74-eec143fd4b1

[2018-02-23 22:50] kumar303 opened #7648 "Collection API returns encoded HTML entities"
### Describe the problem and steps to reproduce it:

STR: Create a collection with the `&` character in the description. See https://github.com/mozilla/addons-frontend/issues/4375

### What happened?

The API endpoint returns HTML encoded entities such as `&amp;`. Example:

[code]

### What did you expect to happen?

Well, I'm not sure. If this is expected then we can deal with it on the frontend.

[2018-02-23 22:55] diox commented on #7648
The `description` field for Collections is a bit wonky, it cleans up links inside the description to fight against spam, and to do this it forces the input to go through `bleach`. As a result the `description` field always return escaped content. Changing that behavior is annoying, especially since we'd need to retroactively fix all existing content on top of changing the way the link removal code

[2018-02-23 22:57] kumar303 commented on #7648
That works for me! I already have a patch to deal with it (https://github.com/mozilla/addons-frontend/pull/4447). I was just confused when I checked to see if I had to fix any other pages. I guess not.

[2018-02-24 04:01] SeanPrashad opened #7652 "Incorrect spelling of `submit` for button type"
### Describe the problem and steps to reproduce it:
Whilst figuring out #7405, I ran across a piece of code that has `sumbit` as the type for a button instead of `submit`.

### What happened?
N/A

### What did you expect to happen?
N/A

### Anything else we should know?
The source file in question can be found here:

https://github.com/mozilla/addons-server/blob/82a9e8cab26248c4ef4323922d85760b559

[2018-02-26 06:03] EnTeQuAk commented on #6837
I'm removing my assignment for now, this got a bit better after the latest search update and might require much more in-depth changes to fix fully.

[2018-02-26 09:49] ioanarusiczki commented on #7594
I tried to make submissions this morning but this issue is still reproducible.  One static theme sample passed validation but all the other types did not.  This issue is reproducible on AMO dev with FF58 (Win10).

![not working lang pack](https://user-images.githubusercontent.com/33448286/36663615-cdca3a16-1aea-11e8-93bf-07d47a71ddd4.gif)

The wizard also has problems, it won't pass through the up

[2018-02-26 11:46] #7635 closed

[2018-02-26 12:38] AlexandraMoga commented on #7635
@diox until now the user photo and collection icon allowed only .jpg and .png uploads. I'm not sure I understand what changed exactly with this new feature.

[2018-02-26 13:02] diox commented on #7635
@AlexandraMoga the code didn't completely prevent this before - we only checked the mime type sent by the browser, which could be crafted, allowing someone to send a non-image.

If you want to check this thoroughly you'll need to be able to craft an arbitrary request to the server (or modify an existing one created by your browser) to send a non-image with an `image/png` content type. Just verifyi

[2018-02-26 13:10] #7640 closed

[2018-02-26 13:39] AlexandraMoga commented on #7635
Verified as fixed on AMO-dev, FF58 Win10x64

Uploading an image file (i.e. .jpg and .png) for the user photo and the collection icon is working as expected.
Non-image files are rejected.

[2018-02-26 14:23] kewisch commented on #7640
QA: Check the reviewer tools tab strip that shows the queues with different permission sets:
* legacy reviewer
* post-reviewer
* ratings moderation reviewer
* content reviewer
*

[2018-02-26 14:30] kewisch opened #7655 "Show expired info requests in the tabnav strip"
The tabnav in the reviewer tools does not show expired info requests. I'm going to shorten some of the labels so it fits and add it. I am also going to add the count on the dashboard page.

[2018-02-26 14:54] ioanarusiczki opened #7657 "Prevent changing the extension type from Admin Settings in devhub"
STR:
1. Load AMO dev and from Dev hub go to Manage My Submissions.
2. Click on Edit information for a submitted add-on.
3. From Admin Settings change the add-on type from Extension to Theme.
4. Go back to Manage my submissions and try to access My Themes tab.

Expected result:
My Themes tab is displayed.

Actual result:
Oops! We had an error. The content of the theme tab is not visible.

Notes:
Th

[2018-02-26 17:03] diox opened #7658 "Cachebust Personas images with the Persona checksum"
We already compute and store a `checksum` for each `Persona` object, but for their images (footer, header, thumbnail) we still used the related `Addon` `modified` field as a cachebusting string. Let's use the `checksum` instead.

Do this after #7406 goes in production to avoid users/CDN caching the non-crushed version.

Similar to #2659 which implemented cachebusting based on icon hashes for add-o

[2018-02-26 17:04] diox commented on #7658
Patch is going to be something like:
[code]

[2018-02-26 17:51] diox commented on #7658
Also: `approve_rereview()` in `reviewers/tasks.py` needs to recalculate the theme checksum, like the `save_theme` task in `addons/tasks.py` does. That probably just means importing and calling `theme_checksum()` with the persona instance.

[2018-02-26 19:16] philipcristiano commented on #7594
This appears to be intermittent even with the same file. I was able to get a validated extension but when trying again it hung. I don't yet know the cause and this may take some time to dig into.

[2018-02-27 08:16] AlexandraMoga commented on #7640
Verified as fixed on AMO-dev, FF58 Win10x64

Tested with each permission individually and then with several combinations.
Below is a view for a user with `Addons:Review` and `Ratings:Moderate` permissions
![image](https://user-images.githubusercontent.com/31961530/36717474-e1fb6840-1ba6-11e8-9945-7b919fd35d1d.png)

[2018-02-27 10:01] ioanarusiczki opened #7664 "Create a Theme button should not be active during an add-ons's validation"
STR:
1. Load AMO dev and go to Dev Hub to submit a new add-on.
2. Upload an extension using Select a file button.
3. While the file is in validation state click the Create a Theme button.
4. Observe the page.

Expected result:
Create a theme button is not active.

Actual result:
Create a theme button can be clicked and the theme generator page is displayed.

Notes:
This issue is reproducible on AM

[2018-02-27 11:42] vcarciu commented on #7657
The user profile will return "Oops..." page too after following the same steps. Not reproducible for other profiles.

[2018-02-27 13:28] diox commented on #7172
Nothing left to do here, the last bit landed last week.

[2018-02-27 13:28] #7172 closed

[2018-02-27 14:38] ioanarusiczki commented on #7113
This issue is also reproducible on AMO dev for dictionaries - using FF58 (Win10).

![dictionaries general](https://user-images.githubusercontent.com/33448286/36734500-4ff5a006-1bdc-11e8-8124-b7de0fc7c7dc.png)

[2018-02-27 14:57] #7406 closed

[2018-02-27 14:59] diox commented on #7406
QA: make sure image uploads across the site still work correctly once this lands on dev.

[2018-02-27 15:27] vcarciu commented on #7594
@philipcristiano  : I can reproduce the issue right now

[2018-02-27 15:36] diox commented on #7594
FWIW there was a deploy earlier today right after @philipcristiano commented but before @vcarciu did, so maybe it's related.

[2018-02-27 17:30] #7555 closed

[2018-02-27 17:36] EnTeQuAk opened #7668 "Update signing-clients to 1.5.0 for SHA2 manifest hashes"
Update signing-clients to 1.5.0 to add SHA2 support to manifest hashes.

See https://github.com/mozilla/signing-clients/commit/1a00de847c5da549b398ca5d0acaed8a9803d278 for more details.

Refs #4933

[2018-02-27 21:11] philipcristiano commented on #7594
The logs in Kibana show only a single log line mentioning the upload file, in either the working or broken case. There are no errors listed in the Kibana or Sentry when I've uploaded something.

The deploy case is a good lead that I'll take a look into. I'll be out tomorrow so I'll pick this up again on Thursday.

[2018-02-27 22:35] #7405 closed

[2018-02-27 22:41] SeanPrashad commented on #7646
Hey everyone - I'm going to take a crack at this in the next few days!

[2018-02-28 07:38] EnTeQuAk commented on #7646
Awesome @SeanPrashad!

Just so that we're clear on what the bug here really is: Imho it's almost a feature that we don't randomly overwrite the theme name. So we'd have to store some information if the users have overwritten the theme name but even then I'm unsure if the current behaviour is still preferable.

Any opinions on this? I don't want you to waste too much time on something that - at lea

[2018-02-28 07:52] eviljeff commented on #7611
is this _just_ happening for static themes?  It seems odd it wouldn't be same for other addon types.
Fwiw Static Themes will have their own review tools anyway but I'm interested to know if there is something special about the `Preview` records created.

[2018-02-28 07:57] AlexandraMoga commented on #7555
@diox what exactly is the impact of this change? Where should we focus our attention?

[2018-02-28 07:58] eviljeff commented on #7610
hah, great bug - I think it's because I didn't create "thumbnail" sized versions of the previews, so somehow another random image is being substituted.   We're only explicitly supporting Static Themes on the new frontend - where it apparently works - but this would be good to fix anyway because it's a very visible bug if someone switches to the old frontend.

[2018-02-28 08:00] eviljeff commented on #7624
Probably because they're a different size to standard screenshots.

As static themes are going to use custom reviewer tools (similar to the existing LWT tool, rather than the extension ones) this won't be a bug there so going to close.

[2018-02-28 08:00] #7624 closed

[2018-02-28 08:33] AlexandraMoga commented on #7655
Verified on -dev and stage and here is how the tabnav looks for users that have all permission sets:

![image](https://user-images.githubusercontent.com/31961530/36777576-a931c2c6-1c72-11e8-9ae2-a6cb46a8c4bc.png)

@kewisch The Expired tab streches to the next row and also overlaps the 'New Add-ons' tab.

[2018-02-28 08:58] ioanarusiczki commented on #7611
When I filed this issue I was testing the screenshot implementation for static themes but I checked again now and the issue is reproducible for other add-on types too when screenshots are added. (verified with FF58, Win10x86).

I'll update the name of this issue.

[2018-02-28 09:38] ioanarusiczki commented on #7405
Verified fixed on AMO dev with FF58 (Win10).

![browser preview sepline](https://user-images.githubusercontent.com/33448286/36780374-82611f62-1c7b-11e8-96d4-e7c3249b7db1.png)

[2018-02-28 09:48] kewisch commented on #7655
Ah, interesting. In my tests all counts were zero so it didn't overflow. I think we should shorten "Rating Reviews" to "Ratings" and maybe "Content Review" to "Content". @wagnerand wdyt?

[2018-02-28 09:49] AlexandraMoga opened #7673 "Users with Reviewers:Admin permission do not have visibility to add-ons with 'Needs Admin Review' flag"
Prerequisites: have a user account with at least  the following reviewer permission sets: `Addons:Postreview, Addons:ContentReview, Reviews:Admin`

STR:

1. Log in to Reviewer Tools with an account including the permissions mentioned above
2. Select the Auto-Approved add-ons queue from the dashboard
3. Observe the add-ons currently pending for review in the auto-approved queue

Actual results:
Add

[2018-02-28 11:06] diox commented on #7555
There should be no impact to production. I've just marked the bug as not needing qa.

[2018-02-28 12:59] ioanarusiczki commented on #7406
Verified this issue on AMO dev with FF58 (Win10)
Checking uploads for images:
- Collections icons
- User profile picture
- Screenshots and icons for add-ons
- Screenshots  and previews for static themes - issue #7610 was filed already and it is still reproducible
Images and previews for Lightweight themes

[2018-02-28 13:12] diox opened #7676 "Implement `current_compatible_version` in language tools API, add-on type filtering, and better caching"
We want Firefox users to be able to directly install langpacks from the browser. [bug 1429610](https://bugzilla.mozilla.org/show_bug.cgi?id=1429610) will implement the APIs needed for this in Firefox itself, and they need to be able to hit AMO APIs for this.

The [language tools API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#language-tools) is not currently suitable for

[2018-02-28 13:15] diox commented on #7676
Base SQL query code for a single add-on:
[code]

This needs to be done in a transformer so that only one query is made when returning 100+ add-ons. Big question is how cache-machine would react to this, maybe we'll need a `no_cache()`.

[2018-02-28 14:19] wagnerand commented on #7655
I'm fine with either, would slightly prefer to shorten the names. I use a wide-screen monitor, but I am not sure every reviewer does.

[2018-02-28 14:26] wagnerand commented on #7673
Just as background info. In the current implementation, the permission to see admin-flagged reviews is `ReviewerAdminTools:View`. Not sure if that is supposed to be that way.

[2018-02-28 14:45] #7668 closed

[2018-02-28 16:31] #6520 closed

[2018-02-28 16:45] jvillalobos commented on #7673
Yes, `Reviews:Admin` was intended to be the permission for admin reviewers.  The `Reviewers: Admin` group currently has `Reviews:Admin` as its only permission. Since the admin reviewers are in other groups with other permissions, they are currently unaffected by this bug.

If `ReviewerAdminTools:View` is the permission that currently gates the admin reviewer actions, we can just change the PRD and

[2018-02-28 16:53] diox commented on #7673
`ReviewerAdminTools:View` is used by some older code, but if it's safe to do so we should definitely replace its usage with `Reviews:Admin` only.

[2018-02-28 17:13] kumar303 commented on #7529
I think there is a different cache race condition now, which I've seen once or twice. So, yeah, this is definitely something we need. I'll switch to ID urls in https://github.com/mozilla/addons-frontend/issues/4293

[2018-02-28 19:10] tofumatt opened #7679 "Change anonymous user image url/picture_type to a null value"
Currently when you request a user from the API (https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#get--api-v3-accounts-account-(int-user_id|string-username)-), if the user hasn't set their profile image we get `/static/img/anon_user.png` as a `picture_url`, but I think it would be better to set an empty one so we can more easily check to see if one is set. The front-end shoul

[2018-02-28 19:20] jvillalobos commented on #7673
Sounds good to me.

[2018-02-28 21:57] pizzahut2 opened #7681 "Can't search for search tools"
### Describe the problem and steps to reproduce it:

I was trying to find a search engine for a particular website, however the search field at https://addons.mozilla.org/de/firefox/search-tools/ doesn't search for search tools. I eventually guessed the parameter I need to use to make it happen, but the website needs to be fixed.

Edit: I found the correct URL and parameter is used at about:prefer

[2018-02-28 22:11] aswan opened #7682 "ratings_url isn't actually a URL"
### Describe the problem and steps to reproduce it:
Fetch addon details and refer to the ratings_url property added in #7534

### What happened?
The ratings_url is just the path part of the URL without the protocol or hostname.  eg, for ublock origin it is:
[code]

### What did you expect to happen?
Expected to see the full URL including `https://addons.mozilla.org/` (or whatever is appropriate) a

[2018-02-28 22:15] diox commented on #7682
Yeah, good point.

We need to pass that through our `absolutify()` helper like we do for other URLs.

[2018-03-01 13:43] EnTeQuAk commented on #4933
https://github.com/mozilla/addons-server/issues/7668 will land next Thursday. I opened another issue about this since this one is explicitly about a broader picture. I wonder if we can close it too though given that stuff like that is being tracked in bugzilla?

[2018-03-01 15:16] EnTeQuAk opened #7688 "Remove old Trunion based signing code"
In #6640 we switched from Trunion to Autograph.

This is now live, switched on and tested for quite some time.

Let's remove the old code.

Also, switch release-import based langpack signing over to Autograph.

[2018-03-01 16:54] philipcristiano commented on #7594
I've looked through it a bit and diving through the code to try and figure out what is going on in the process.

The logging for this process is pretty sparse and would be helpful if more can be added about when events are sent to celery and what decisions are being made for whether to validate.

For a broken case the only logs are:

[code]

Can someone add more logging throughout the process? Fro

[2018-03-01 16:59] #7682 closed

[2018-03-01 17:09] #7658 closed

[2018-03-01 17:11] diox commented on #7658
QA:
- Create a theme (not a static theme, a Persona-style theme)
- Make sure the images work, note their URLs
- Modify the theme metadata.
- Make sure the images still work: the URLs should not have changed.
- Submit an update to that theme, and approve it.
- Make sure the images are updated, the URL should not have changed.

Regarding URL change, what you want to pay attention to is the `modified

[2018-03-01 17:28] SeanPrashad commented on #7646
Hey @EnTeQuAk! I've just begun inspecting code but from the GIF in the OP, it looks like the theme name is being populated based on the uploaded header image filename.

From my perspective, if I were a user who wanted to create a new theme, say `Octocat`, but my header image was named `Monkey.png`, it would be an extra step in my workflow to correct the contents of that form control. Now in realit

[2018-03-01 21:31] diox opened #7691 "Don't convert empty strings to "/" when wrapping outgoing links in the API"
For add-ons that have contribution url set to an empty string somehow instead of `None`, when outgoing links wrapping is enabled (so, requests from the frontend, which uses `wrap_outgoing_links=true` query parameter) we end up with `"/"` instead of `""`.

This is bad because then the frontend considers it's an actual URL and displays the contributions card.

[2018-03-01 22:00] #7691 closed

[2018-03-01 22:05] #7381 closed

[2018-03-01 22:06] jrbenny35 commented on #7381
Fixed in #7565

[2018-03-01 22:34] muffinresearch commented on #7691
Looks good one stage:

Before:
<img width="1470" alt="crafowl-wrebray-oystee_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/36873527-a4a1d0be-1da0-11e8-8c83-81551b4af0e6.png">

After:
<img width="1549" alt="crafowl-wrebray-oystee_ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/36873550-b625f31a-1da0-11e8-9eae-79849565fbac.png">

[2018-03-01 22:36] muffinresearch commented on #7691
Here's a before on production for https://addons.mozilla.org/en-US/firefox/addon/enhancer-for-youtube/?src=search

<img width="1404" alt="enhancer_for_youtube _ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/36873654-0340a596-1da1-11e8-82c4-0523a58deba3.png">

[2018-03-01 22:55] muffinresearch commented on #7691
After on production:

<img width="1418" alt="enhancer_for_youtube _ _add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/36874372-94d1bff2-1da3-11e8-87ca-bba6cd3d42ab.png">

[2018-03-02 08:09] EnTeQuAk commented on #5271
Started working on this again, full speed ahead towards Django 1.11!

[2018-03-02 08:18] EnTeQuAk opened #7696 "Upgrade to npm 5.x or higher"
Currently our debian docker image **and** travis make use of npm 3.x which compared to more recent npm versions might slow things down quite a bit.

Let's upgrade this and get into faster CI builds for free.

[2018-03-02 10:56] AlexandraMoga commented on #7682
Verified as fixed on AMO-dev, FF60.0a1 Win10x64

![image](https://user-images.githubusercontent.com/31961530/36895650-5486e04c-1e18-11e8-914b-01e3c4ed0df8.png)

Also looked in add-ons manager, where the issue was first spotted, and the link is redirecting correctly:

![verif-rev-count](https://user-images.githubusercontent.com/31961530/36895681-768251f4-1e18-11e8-950e-fadb8b6b2785.gif)

[2018-03-02 14:06] ioanarusiczki opened #7700 "Problems with uploading screenshots for add-ons on AMO dev"
STR:
1. Load AMO dev and from Dev Hub go to a submitted add-on from the list.
2. From Edit information click on Edit Images and add some screenshots/images.
3. Click Save changes.
4. Observe the screenshot section.

Expected results:
Screenshots are displayed.

Actual results:
Image changes being processed state is not changing. The loading state or another picture instead the one uploaded is visi

[2018-03-02 14:36] AlexandraMoga opened #7701 "Updated themes do not appear in Theme Updates queue in Rev Tools"
Prerequisites: User has Persona:Review permissions

STR:
1. Select a theme (lightweight) from AMO and click on Edit details
2. Upload a new design - header and footer - and save your changes
3. Access Reviewer Tools and check the 'Theme Updates' queue

Actual result:
The theme updated at step 2 is not listed among the available updates

Expected result:
The theme updated at step 2 is listed among

[2018-03-02 14:53] AlexandraMoga opened #7702 "[Lightweight] Theme design is not displayed in edit theme details page after submission"
STR:

1. Log in to Developer Hub and click on Submit a New Theme (lightweight)
2. Fill in the theme details, upload a design and click on Submit Theme
3. In the confirmation page , select 'edit listing'

Actual result:
The details page of the new submitted theme opens but there is no preview of its design displayed

Expected result:
The details page of the new submitted theme opens and a preview o

[2018-03-02 17:43] #7019 closed

[2018-03-02 18:13] #7269 closed

[2018-03-02 18:22] eviljeff commented on #7529
If you're waiting to start work on mozilla/addons-frontend#4293 I have a patch for this ready - just need to add some more tests to double check it works okay for all collection endpoints.  Will be ready Monday.

[2018-03-02 18:36] diox commented on #7700
I can't reproduce right now. Do you still see this? Do you also see this on stage? Since I can't reproduce I'm tempted to blame the weird worker issues we've seen on dev recently...

[2018-03-02 18:45] philipcristiano commented on #7594
With @bqbn's help to get onto the RabbitMQ nodes, I restarted RabbitMQ and the nodes seem to be happily clustered. They previously thought they were clustered but didn't see each other running :/

I've tested validation again and it seems to be working. There are now logs from the Celery instances tracking task time. It looks like this is now fixed.

[2018-03-02 18:50] diox commented on #7700
https://github.com/mozilla/addons-server/issues/7594#issuecomment-370015342 was closed by ops so I'm closing this one, working under the assumption that it was the same core issue.

[2018-03-02 18:50] #7700 closed

[2018-03-02 21:06] rafspiny commented on #6789
I guess that a small change in the [footer.html](https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/new-landing/components/footer.html#L19) file like the one below should be enough:
`<li><a href="{{ url('pages.about') }}">{{ _('About') }}</a></li>`

If it's ok, there is already a pull request for it

[2018-03-03 13:42] CuriousLearner commented on #5116
Hey @eviljeff

I'm working on this issue.
I did change `.DevHub-Navigation ul li.avatar img` to have a `height` of `40px`, same as the `width` of the selector in the file: `static/css/devhub/new-landing/base.less.css`

But once I refresh the page, I did not see any change. Am I missing something here?

[2018-03-03 13:51] CuriousLearner commented on #5116
Ah, seems like I'm able to get it done. But I think this file in in `.gitignore`. How do we get past it?

[2018-03-03 13:59] CuriousLearner commented on #5116
I guess that it should be modified in some other file and the `*.less.css` file is generated. Is that correct? Can you please provide me a pointer on this?

[2018-03-03 14:32] eviljeff commented on #5116
yes, `base.less.css` is generated from `base.less`

[2018-03-03 14:50] CuriousLearner commented on #5116
Oh, thanks, I figured out we're using https://github.com/jsocol/jingo-minify for minifying assets. I'm done with the patch, will raise a PR in just few mins :)

[2018-03-03 15:11] eviljeff commented on #7529
So, I remembered _why_ we only implemented slug lookup for collections, and not id also:
In the Collections update PRD, collections were supposed to lose the private/public switch and effectively a public collection is one that has a url you've shared with people, and a private one is one you've not shared (typically a collection that is intended to be public would have a friendly slug, and a coll

[2018-03-03 20:32] CuriousLearner commented on #7561
@eviljeff The scandir functionality is already added in CPython for 3.5+. So, what exactly needs to be done here and what is the version of Python we prefer on add-ons server?

[2018-03-03 21:14] diox commented on #7561
We are still using Python 2.7.x currently. This issue is about replacing our usage of `os.walk` in our python code with the version that comes from `scandir`.

[2018-03-04 11:25] CuriousLearner opened #7714 "Avoid using reserved Python keywords in naming attributes for models.py"
### Describe the problem and steps to reproduce it:
`type` is a reserved keyword in Python. It refers to the type of object being formed dynamically.

I was just browsing the code casually, when I saw the `Addon` model uses `type` as one of the attribute.

IMHO, we should change that to something like `addon_type` which would be more verbose. This would also avoid unforeseen problems with using re

[2018-03-04 11:27] CuriousLearner commented on #7714
Here is what I'm referring to:

<img width="868" alt="screen shot 2018-03-04 at 4 51 57 pm" src="https://user-images.githubusercontent.com/8039608/36945004-109d7a7e-1fcd-11e8-83ae-edbb7617eb80.png">

[2018-03-04 13:32] diox commented on #7714
While I would not have chosen `type` if I had been around when this naming decision was made, I don't think it's worth doing. `Addon.type` is never referenced on its own, it's always `{instance}.type` or `.something(type=...)` which can't conflict with anything. `addon_type` is needlessly redundant, and there would be ton of code to update for limited gains.

[2018-03-04 13:32] #7714 closed

[2018-03-04 13:40] CuriousLearner commented on #7714
@diox Agree that it would be a lot of change in the code-base. But it is just a decision on if we can now make the things correct.

https://stackoverflow.com/questions/10568087/is-it-safe-to-use-the-python-word-type-in-my-code

While `instance.type` would work, it can cause a lot of problems. Believe me, I've been in those code bases when there were a lot of problems shadowing a built-in.
It is ne

[2018-03-04 13:43] CuriousLearner commented on #7561
@eviljeff @diox I've raise a PR for this :)

[2018-03-04 13:44] CuriousLearner commented on #6489
@kumar303 @eviljeff I've raise a PR for this :)

[2018-03-04 14:31] diox commented on #7714
I'm perfectly aware of what problems if can cause, and I still don't think it's worth changing. We have a ton more important stuff to worry about than this.

[2018-03-04 15:15] CuriousLearner commented on #7679
Hey @tofumatt @diox I'm almost done with the patch. The only thing is that I've made changes in the user model:

[code]

[2018-03-04 16:08] tofumatt commented on #7679
We can't know what issues exist in your patch without seeing it. If you'd like feedback on a patch it's best to open a pull request.

[2018-03-04 17:38] CuriousLearner commented on #7679
@tofumatt Sure, I've explained the issue on the PR. My only question is with generating migrations for changes in the DB models.

[2018-03-04 17:47] CuriousLearner commented on #7696
@EnTeQuAk Where do I start looking for this issue? Can you please provide a pointer?

[2018-03-04 18:01] CuriousLearner commented on #2529
Seems like the url is not available publically What is the issue, can you please attach a screenshot or gif? @erosman

[2018-03-04 18:52] arantius opened #7717 "API server gives me JSON status instead of XPI download"
See here for both the (Python) source calling the API, and the console output it produces:
https://gist.github.com/arantius/76956f94891d27f6be63e8c730d2c5fd

Key highlight:

    Downloading https://addons.mozilla.org/api/v3/file/881494/greasemonkey-2018.03.04.6nightly-an+fx.xpi?src=api ...
    Got 4888 bytes; writing greasemonkey-2018.03.04.6nightly.xpi.

Those 4888 bytes are the JSON result I'd e

[2018-03-04 19:29] diox commented on #7679
As with pretty much everything in addons-server, it's legacy : when the code was initially written (almost 9 years ago) django migrations didn't exist... We want to switch, see https://github.com/mozilla/addons-server/issues/3705 but this is far from trivial as some database tables in production differ slightly from what's in the models.

[2018-03-04 21:33] erosman commented on #2529
I filed that nearly 2 years ago ;)
Here is the new URL:
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/431642/file/content/browser/m_browser.js#top`

Check the horizontal scroll.

[2018-03-04 22:43] davidhedlund opened #7719 "addons.mozilla.org/en-US/firefox/collections/<user>/<collection>/edit/: Add pink bg to deleted add-ons"
### Describe the problem and steps to reproduce it:
Edited my [WebExtensions](https://addons.mozilla.org/en-US/firefox/collections/DavidHedlund/webextensions/) collection.

I discovered that [Nano Defender](https://addons.mozilla.org/en-US/firefox/addon/real-nano-defender/) has been removed from addons.mozilla.org, that should be indicated when I edit my collection.

### What happened?
![screensho

[2018-03-05 06:48] #6789 closed

[2018-03-05 07:48] CuriousLearner commented on #2529
Ah, seems like I cannot access it :(

[2018-03-05 07:51] eviljeff commented on #7681
I've re-logged this here: https://github.com/mozilla/addons-frontend/issues/4496

[2018-03-05 07:51] #7681 closed

[2018-03-05 07:55] eviljeff commented on #7701
@diox regression from #7658 ... somehow?  (I can't think of any other LWT changes recently)

[2018-03-05 08:33] vcarciu commented on #6789
Verified as fixed:
![about](https://user-images.githubusercontent.com/1583842/36964857-92cde1b2-2060-11e8-8044-2480b37729d3.gif)

[2018-03-05 08:38] AlexandraMoga commented on #7701
I've checked again this morning and the Updated Themes queue seems to be working now.
Maybe it was a regression from [#7594](https://github.com/mozilla/addons-server/issues/7594#issuecomment-370015342) instead?
I will close this issue, since the problem can't be reproduced anymore but we will keep checking this functionality to make sure it won't happen again.

[2018-03-05 08:38] #7701 closed

[2018-03-05 09:35] EnTeQuAk commented on #7529
So my take on this would be that there's two views on collections:

* The end-user that primarily accesses collections via the web-ui
* The API-view which primarily is being used by addons-frontend directly and I doubt the number of users viewing/modifying collections via the API will be high

(following are my own thoughts without remembering all the details of the collections PRD tbh, sorry if I

[2018-03-05 09:41] AlexandraMoga commented on #7658
Verified on AMO-dev, FF58 Win10x64

Imag URLs:
- after upload:
[https://addons-dev-cdn.allizom.org/user-media/addons/495387/preview.png?**modified=7e3ec1a4**](https://addons-dev-cdn.allizom.org/user-media/addons/495387/preview.png?modified=7e3ec1a4)
- after some meta changes:
[https://addons-dev-cdn.allizom.org/user-media/addons/495387/preview.png?**modified=7e3ec1a4**](https://addons-dev-cdn.alli

[2018-03-05 10:48] erosman commented on #2529
What about this one?
`https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/437194/file/content/browser/m_browser.js#top`

If you can access the dev version review tools

Add-on: mKiosk: Kiosk Mode for Firefox
URL: https://addons.mozilla.org/en-US/firefox/addon/mkiosk/
Version: 2016.05.0 or older
File: content/browser/m_browser.js

[2018-03-05 11:40] diox commented on #7701
I also suspect #7594 : LWT submission does depend on a couple tasks, so when celery is down, they are left in limbo.

[2018-03-05 11:42] diox commented on #7658
My bad, it definitely should change when there is an update (the only time it should change). So your test verifies that everything works as expected.

[2018-03-05 12:31] AlexandraMoga commented on #7658
@diox, thanks for clarifying that part.
This can be marked as verified fixed then.

[2018-03-05 14:34] AlexandraMoga opened #7721 "The color and opacity selectors in static theme wizard are are not displayed for RTL direction"
STR

1. Log in to DevHub and submit a static theme by using the wizard
2. In the submission form, click on the 'Header area background' field

Actual result:
The color and opacity selection bars are missing from the color picker

Expected result:
Color and transparency selection is possible in the static theme wizard when using RTL direction

Notes:
- reproduced on AMO-dev, FF58 Win10x64
- the iss

[2018-03-05 15:31] diox commented on #6850
For reference, a datadog dashboard with the eviction and cache miss stats: https://app.datadoghq.com/dash/569624/amo-prod-memcached-stats

[2018-03-05 16:49] vcarciu commented on #7594
@philipcristiano : then can we mark this as closed?

[2018-03-05 16:58] #7561 closed

[2018-03-05 17:14] diox commented on #7504
Though this is annoying, it's a lot of work to fix with translations etc. We could automatically refresh the page or call an API just to get the name, but I don't think it's worth the effort for such a minor issue, so I'm wontfixing this.

[2018-03-05 17:14] #7504 closed

[2018-03-05 17:52] jvillalobos commented on #7081
As it stands, it doesn't look like this will be needed, so closing at least for now.

[2018-03-05 17:52] #7081 closed

[2018-03-05 17:56] kumar303 commented on #7529
This is not my understanding of [simplified collections](https://docs.google.com/document/d/1DutmS8yco-hNiKJ1-0MrkAkze7Ue88xpA4b-MWx6MLI/edit#). My read is this: There will no longer be a concept of public/private. All collections will exist at a URL, period. We will not link to user collections anywhere on the site. If someone discovers a URL then they will see the collection.

What you're sugges

[2018-03-05 22:51] jvillalobos opened #7723 "Update default license options in dev hub"
Ran into this while closing old bugs. [Bug 943523](https://bugzilla.mozilla.org/show_bug.cgi?id=943523) was filed to make Apache 2.0 a default license option. The current list is:

We should evaluate if these are the best options to offer.

[2018-03-06 00:03] caitmuenster opened #7724 "Update email template for signed extensions"
Related to #7352. We should update the email template generated when a developer signs an unlisted extension. This template covers both new unlisted signs and updated unlisted signs.

It looks like the current template is located [here](https://github.com/mozilla/addons-server/blob/master/src/olympia/reviewers/templates/reviewers/emails/unlisted_to_reviewed_auto.ltxt).

Updated template is below t

[2018-03-06 06:57] AlexandraMoga commented on #7561
Please add some STR or the label 'qa:not needed'
Thank you

[2018-03-06 07:00] AlexandraMoga commented on #7504
@diox  could you also add a wontfix label for this, please? Thank you

[2018-03-06 07:21] eviljeff commented on #7449
The `DeniedName` model is supposed to be used to filter out invalid names like this... so either a) this isn't working somehow or b) "Firefox" and "Mozilla" aren't in the DeniedName list on -dev or stage.

DeniedName list can only be edited in django admin so someone with Admin rights will need to check to see what's in the list.

[2018-03-06 09:23] eviljeff commented on #7529
I was going on "Collections are private unless URL is shared." from the PRD, but with a way of 'unsharing' by simply changing the slug.  Using IDs in the URL/API makes it so can never unshare a collection once the url is out there (and theoretically any collection could be discovered by enumerating through the IDs, though it'd be non-trivial with the username - max 6 million tries)

I wasn't propo

[2018-03-06 09:52] #5116 closed

[2018-03-06 10:30] muffinresearch commented on #7529
So if I'm understanding the [Simplified Collections PRD](https://docs.google.com/document/d/1DutmS8yco-hNiKJ1-0MrkAkze7Ue88xpA4b-MWx6MLI/edit) correctly I think this will be the way forward:

* Collections marked with the private property will only be visible to the developer that created them (in other words they stay private and are only accessible by the authenticated developer)
* The API can b

[2018-03-06 11:01] ioanarusiczki commented on #5116
This issue is verified on AMO dev with FF58(Win10).
7680 pixels height
![7680 pixels height](https://user-images.githubusercontent.com/33448286/37028704-a5d27b14-213d-11e8-91da-c791c9fc648a.png)

5000 pixels width
![5000 pixels width](https://user-images.githubusercontent.com/33448286/37028731-b8823362-213d-11e8-97a9-190f5345c997.png)

[2018-03-06 11:25] #7688 closed

[2018-03-06 11:36] AlexandraMoga commented on #7610
Actually, this can also occur on the new frontend when submitting a packed theme, in which the image `headerURL` is defined by an empty.png (i.e. used for example when submitting a multiple backgrounds theme)
See this theme as an example: https://addons-dev.allizom.org/en-US/firefox/addon/additional-bckg-standard/

![image](https://user-images.githubusercontent.com/31961530/37030293-21896ccc-2143-

[2018-03-06 12:35] AlexandraMoga commented on #7019
As discussed with @eviljeff on IRC, the testing focus for this issue was concentrated on regressions around the static theme wizard and on submission and installation of packed static themes that have additional backgrounds.

Results:
1. As far as the wizard is concerned, there were no significant regressions observed
2. I haven't encountered issues during the submission process
3. Installation al

[2018-03-06 12:40] ioanarusiczki commented on #7688
@EnTeQuAk Hello, can you provide some STR for QA? If it is qa is not needed please add the label.
Thank you!

[2018-03-06 12:56] vcarciu commented on #6489
@eviljeff @jvillalobos

From " Let's make the Contributions URL clickable (opens in new tab) in the Edit page, when it's set. That should encourage devs to try it out. I don't see other concrete actions to do." I understand that the url should be clickable in Edit Basic information section, where the Contribution url is set, but this is not happening.

Please confirm me that I correctly understand

[2018-03-06 13:08] AlexandraMoga opened #7729 "Theme preview is not correctly rendered for static themes with additional backgrounds"
Follow up for [#7019](https://github.com/mozilla/addons-server/issues/7019)

STR:

1. Log into Developer Hub and submit a new static theme that includes additional backgrounds (i.e. [this example](https://github.com/mdn/webextensions-examples/tree/master/themes/weta_mirror)
2. After submission, go to the theme review page and approve it
3. Open the theme's details page and observe the preview disp

[2018-03-06 13:09] eviljeff commented on #6489
agreed, that's not working 😿

[2018-03-06 13:40] CuriousLearner commented on #6489
I've tested the changes locally.

Also, I've found that another commit had Circle CI failed because of ImportError for `scandir`, but I could already found it in dev requirements.

[2018-03-06 14:23] ioanarusiczki opened #7731 "Images larger than 3 MB can be uploaded as profile photos"
STR:
1. Load AMO dev and go to Edit profile
2. Upload for the Profile photo an image larger than 3 MB (I tried with 3.78MB, 3.91MB)
3. Click update account
4. Upload again an image larger than 4 MB
5. Click update account and observe the screen

Expected result:
After step 3 Please use images smaller than 3MB and Errors found message are displayed.

Actual results:
Only after a file larger than 4

[2018-03-06 14:47] diox commented on #7731
The correct size is definitely 4, not 3. For some reason the code does:
[code]

Which is causing the value to be rounded down to 3...

[2018-03-06 14:52] eviljeff commented on #7561
@CuriousLearner thanks for the fix!

[2018-03-06 14:53] eviljeff commented on #6489
server has been updated

[2018-03-06 14:53] #6489 closed

[2018-03-06 15:36] eviljeff commented on #7451
@jvillalobos can you suggest what the ideal layout would be given that some locales have the temerity to have long(er) words?

[2018-03-06 15:39] #7676 closed

[2018-03-06 16:03] CuriousLearner opened #7733 "UI tests on master branch are failing"
### Describe the problem and steps to reproduce it:
@eviljeff I noticed that even after fixing the `scandir` requirement issue, the CI test on master branch are failing.

### What happened?

Here is the latest run for Circle CI on master branch commit

https://circleci.com/gh/mozilla/addons-server/15386?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Here are th

[2018-03-06 16:10] #7721 closed

[2018-03-06 16:47] eviljeff commented on #7729
Additional backgrounds that don't specify tiling properties are broken (I've replicated locally)

[2018-03-06 16:58] vcarciu commented on #6489
Verified as fixed :
![contriblink](https://user-images.githubusercontent.com/1583842/37046197-67518eba-2170-11e8-8bd4-3c38ed7f46f4.gif)

[2018-03-06 17:00] jvillalobos commented on #7451
We don't want to crop the names or the other metadata, so inevitably they'll have to break into a new line for those cases. It doesn't look as neat English, but I don't think it looks terrible or confusing.

If we can make them a bit wider to accommodate more languages, that's okay with me, but I don't want to completely change the layout for this.

[2018-03-06 17:22] eviljeff commented on #7451
There is already wrapping by default so does anything need to be done?

I could make the text label the same length as the input, though that'll lead to more wrapping;
I could extend the input box width though it looks better as is with a gap, imo;
I can't really make it all wider without the inputs and labels above being wider than the preview below (I seem to recall the preview width matching th

[2018-03-06 17:23] eviljeff commented on #7019
@AlexandraMoga You found a bug in Firefox 🎉 https://bugzilla.mozilla.org/show_bug.cgi?id=1443561

[2018-03-06 17:37] CuriousLearner commented on #7561
Yay! Thanks @eviljeff for the quick reviews :)

[2018-03-06 17:53] jvillalobos commented on #7449
"Mozilla" and "Firefox" aren't on either list. The denied names filter is applied to other properties (like collection names) and its scope is planned to be expanded (see #7252). So, that list should be focused on targeting spam. Blocking those terms will probably lead to many false positives, so I don't think that's the right place for that filter.

[2018-03-06 18:21] jvillalobos commented on #7529
Sounds reasonable.

I'd prefer to only support the slug, since ID enumeration would be trivial to find existing collections. I know they're all technically public, but I'd favor not making them so easy to find.

[2018-03-06 18:30] jvillalobos commented on #7451
Extending the input box to match the max width of the label would make this look better IMO. There would still be a gap, just a smaller one.

[2018-03-06 19:08] zbraniecki commented on #7676
Thank you @diox!

[2018-03-06 21:53] rafspiny commented on #7449
In the meantime I added a test to check that DeniedName is used when updating a user's display_name. I didn't find such a test elsewhere so I added it and made it available in this pull request #7736

How (and if) this shall be addressed then?
- Creating a separate list of reserved_name
- Making display_name unique

[2018-03-06 22:05] roncajette opened #7737 "pdf"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-03-06 22:41] jvillalobos commented on #7737
Closing due to lack of information. If you have a bug to report about addons.mozilla.org, please make sure you include all the relevant information.

[2018-03-06 22:41] #7737 closed

[2018-03-07 01:02] #7594 closed

[2018-03-07 01:28] diox commented on #7702
Can you retest ? I suspect it was because of the same root issue behind https://github.com/mozilla/addons-server/issues/7594

[2018-03-07 01:49] devaneymoz opened #7740 "March 2018 Disco Pane content update"
For the **22 March** push, can we please REMOVE:

- Search by Image
- Emoji Cheatsheet
- Video DownloadHelper

... and REPLACE them with Firefox Multi-Account Containers, Forecastfox, New Tab Override (so we'll also KEEP To Google Translate); plus three new themes:

**Separate your online lives** with [Firefox Multi-Account Containers by Mozilla ](https://addons.mozilla.org/firefox/addon/multi-acc

[2018-03-07 07:00] AlexandraMoga commented on #7019
Considering that the AMO part is working, I will mark this as verified fixed.
The feature will be retested once the Firefox bug will be fixed.

[2018-03-07 07:16] AlexandraMoga commented on #7381
Could you please add a "qa:not needed" label to this issue?
Thank you

[2018-03-07 07:17] AlexandraMoga commented on #7269
Could you please add a "qa:not needed" label to this issue?
Thank you

[2018-03-07 07:47] #7652 closed

[2018-03-07 07:49] eviljeff commented on #7652
QA:
check both the "Cancel and Disable Version" buttons in the upload flow, and the static theme wizard's "Back" button work as before.

[2018-03-07 10:09] eviljeff commented on #7385
roughly I'm thinking this as the plan:
1. Differentiate STs in reviewer tool queues
   a) stop extension queues from including STs
   b) create new queues for STs only (non-interactive)
   c) stop auto approve for STs
2. modify review page for single ST review
   a) modify to prominently show preview image for single ST review
   b) modify to support simple approve; numbered reject; (duplicate mar

[2018-03-07 10:37] AlexandraMoga commented on #7721
Verified as fixed on AMO dev, FF58, Win10x64

![image](https://user-images.githubusercontent.com/31961530/37087802-079ef3ec-2204-11e8-95c1-d318a6906c66.png)

[2018-03-07 10:43] AlexandraMoga commented on #7451
@eviljeff Note also that for RTL, the  right margin is not consistent with the rest of the page

![image](https://user-images.githubusercontent.com/31961530/37088097-e4d1c546-2204-11e8-8e8d-c6bf40c34e97.png)

[2018-03-07 11:23] diox commented on #7657
Not sure I consider this a bug. Changing the add-on type is not exactly an action that one can make lightly. It *will* break things depending on the add-on, because files etc will be missing.

[2018-03-07 11:27] diox commented on #7717
There is a bug in your script, you're not downloading the URL you are printing (the file), but instead [just re-downloading `result['url']`](https://gist.github.com/arantius/76956f94891d27f6be63e8c730d2c5fd#file-sign-py-L56), which is, well, the URL if the result you already downloaded.

[2018-03-07 11:27] #7717 closed

[2018-03-07 11:28] AlexandraMoga commented on #7702
I can still 'partially' reproduce this, both on dev and stage. You can see in the below screencast that the header design appears now in the Edit section. Also, if you wait a few seconds and refresh the page, the previews are displayed as well.

![theme preview](https://user-images.githubusercontent.com/31961530/37089930-1ce1334e-220b-11e8-9267-989301783f89.gif)

[2018-03-07 11:43] AlexandraMoga commented on #7594
Confirmed as fixed (for good hopefully :wink:)

[2018-03-07 11:57] AlexandraMoga commented on #7652
I've looked for regressions around the affected buttons and everything seems to be working normal.

I'm going to mark this as verified, on AMO-dev, FF58, Win10x64.

[2018-03-07 14:25] diox commented on #7614
Traceback:
[code]

[2018-03-07 14:36] diox opened #7741 "Create categories for static themes in local environnements"
Our local envs, as initialized by `make initialize_docker`, are missing categories for static themes. They should be created using `generate_categories(amo.FIREFOX, amo.ADDON_STATICTHEME)` from landfill app.

[2018-03-07 16:26] jvillalobos commented on #7385
FWIW, the reviewer tools plan includes consolidating the behavior of most reviewer tools, and that means that the interactive queues for themes will probably go away.

[2018-03-07 16:27] eviljeff commented on #7385
orly? 😮 I thought the interactive queue would have been a blocker.  That makes things a lot easier then.

[2018-03-07 16:32] diox commented on #7610
The weird unrelated images are probably caused by old data on dev. We typically don't see this because we overwrite existing images, but as @eviljeff points out this wasn't done for thumbnails, so that's why we see this here.

[2018-03-07 16:41] EnTeQuAk opened #7743 "Remove django-cache-machine"
After quite some time we finally decided to remove django-cache-machine.

It's partially blocking our Django 1.11 upgrade (#5271) and I assume there will be a measurable positive impact from removing it.

This issue is to track what's needed to be done to get there.

TODO:

* [x] Remove all `no_cache()` calls
* [x] Do not inherit from `CachingQuerySet`, `CachingManager`, or `CachingMixin`
* [x] Ba

[2018-03-07 16:43] caitmuenster commented on #7298
@anweshknayak, we're going to open this bug up for other contributions to take since we haven't heard from you in awhile. Please do feel welcome to come back and pick up another bug!

[2018-03-07 16:44] anweshknayak commented on #7298
hey @caitmuenster sorry. I missed this. I am a bit occupied with some stuff lately. So I am not able to look into this. :smile:

[2018-03-07 16:53] diox commented on #6850
#7676 should have helped, will monitor the situation.

[2018-03-07 17:32] EnTeQuAk opened #7744 "Create (continuous) performance-tests to measure cache-machine impact"
Refs / blocks https://github.com/mozilla/addons-server/issues/7743

Move our [load-tests](https://github.com/mozilla/amo-loadtest/) into the addons-server repository, similarly to how our ui-tests work and improve / extend them to test at least the following scenarios:

 * upload an add-on
 * Browse landing page (`/en-US/firefox/`)
 * Browse themes (`/en-US/firefox/themes/abstract/`)
 * Browse add

[2018-03-07 19:49] #7614 closed

[2018-03-07 21:15] Callek opened #7745 "Allow signing api validation override parameter"
<mat> Callek: can you file an a bug over on https://github.com/mozilla/addons-server for an admin validation override parameter to the signing API?

For more context, releng would like the ability to ensure that all langpack submissions produced by actual automation during a release are signed, regardless of any issues/bugs in the validation API. So providing the ability for a release engineering

[2018-03-07 22:34] rafspiny commented on #7731
@diox beside the trivial fix, should a test be created for this one? and if so, do you think of a way to test it without using a fixtures with a 4.xxMB png? Mocking is not really usable unless the piece of code you highlighted is refactored I suppose.

[2018-03-07 23:41] diox commented on #7731
Mocking the photo object should work ?

[2018-03-08 06:40] eviljeff commented on #7731
Note this is the legacy frontend and right now the replacement edit account profile page is being worked on for the new frontend.  So unless it's an easy fix I wouldn't bother because the code will be deprecated within weeks and deleted within months.

[2018-03-08 10:56] #6850 closed

[2018-03-08 12:43] eviljeff opened #7750 "Display static themes in addon queues to static theme reviewers"
Part of #7385
Static themes are add-ons so will be displayed in the add-on review queues - new addons and updates.  But they should only be shown to reviewers who have appropriate permissions - and non-static-theme add-ons hidden from reviewers who only review static themes.

[2018-03-08 12:55] eviljeff opened #7752 "Link Preview for static themes to Version it's for"
part of mozilla/addons#501
We render an svg preview for each version of a static theme and save it in a `Preview`.  We need a fk to the Version so we can display the appropriate preview in the right places.

[2018-03-08 13:04] diox commented on #6607
This is used to fetch global stats from Google Analytics and feed them into the `global_stats` table.

It uses the column name 'webtrends_DailyVisitors' when inserting rows, and I don't think this data is accessible from anywhere, so it's only useful to people with direct access to the database.

That table is replicated in telemetry and there is no data with this name after 2017-08-21. Does it me

[2018-03-08 13:06] diox commented on #7702
I think this happens because of the png crushing that makes the preview/thumbnail generation take just a second or two more, which is enough to be an issue here.

[2018-03-08 13:19] eviljeff commented on #6658
I'm closing this for now as we apparently asked back in October for more details and no update.  Re-open if we get the info and can still replicate.

[2018-03-08 13:19] #6658 closed

[2018-03-08 13:44] CuriousLearner commented on #4693
@SeanPrashad Are you working on this one? :)

If not, then let me know, I'd like to take this up!

[2018-03-08 13:56] EnTeQuAk commented on #7688
Sorry for the late response. The only thing this changes is removing old code so the only thing you'll have to check is that submitting an add-on or updating it still works and that they get signed.

[2018-03-08 14:04] #7529 closed

[2018-03-08 14:46] SeanPrashad commented on #4693
Please feel free to take it over @CuriousLearner! ✌🏽

[2018-03-08 14:46] #7741 closed

[2018-03-08 14:52] vcarciu commented on #7688
That was already tested, so marking the issue as verified.

Thanks!

[2018-03-08 15:43] vcarciu commented on #7668
This issue was verified according to a set of tests discussed with @EnTeQuAk . All tests were passed. Marking issue as verified.

[2018-03-08 16:34] eviljeff opened #7756 "Delete static theme preview for a version when version is deleted"
part of mozilla/addons#501

We render an svg preview for each version of a static theme and save it in a Preview.  Previews need to deleted when the version is deleted.

[2018-03-08 17:17] arantius opened #7758 "RFE: Tag to suppress validation warnings"
I've got the same several warnings for every version of my extension.  Some things baked into open source third party code, and some things that I just have to do, to do what my extension does.  It's counterproductive to see these each and every time validation happens.  I'd like some way to suppress this message.  To indicate that I've seen it, I've evaluated it, and I choose to ignore it.

Somet

[2018-03-08 18:47] diox commented on #6850
Just beautiful:

![language-tools-api-perf](https://user-images.githubusercontent.com/187006/37169863-6e4cfb06-2309-11e8-9db7-4a6f93d69077.png)

[2018-03-08 18:55] diox commented on #7733
It's been flaky from time to time but it's passing now https://circleci.com/gh/mozilla/addons-server/15487

Also note that those are integration tests and not the main unit tests we run on travis (though both should always be passing on master)

[2018-03-08 18:55] #7733 closed

[2018-03-08 19:16] jvillalobos commented on #6607
I didn't know that existed, and it sounds like nobody relies on it. @benmiroglio, do you know anything about this? If not, it sounds like it can be removed.

[2018-03-08 19:18] benmiroglio commented on #6607
Nope -- I don't touch GA at all.

[2018-03-08 19:18] jvillalobos commented on #7745
Most of the blocking issues brought up by the linter have to do with corrupt files or other errors that would make the add-on not installable. Just want to make sure you're comfortable with potentially pushing broken files to users this way.

[2018-03-08 20:07] diox commented on #6607
Perfect let's kill it :)

Also worth looking if that allows us to remove extra libraries. It looks like oauth2client, gflags, google-api-python-client and httplib2 are no longer required after removing this code...

[2018-03-09 04:51] neetapandey opened #7763 "XPATH CHECKER"
### Describe the problem and steps to reproduce it:
Thre used to be a add-ons Xpath Checker, which is no more available.

### What happened?
Could not find the add-ons on Firefox
### What did you expect to happen?
Please have it back , its very usefull add-on

### Anything else we should know?
http://www.seleniumpoint.com/install-firebug-firepath-xpathchecker-firefox-addons-for-selenium

Go throug

[2018-03-09 06:43] eviljeff commented on #6850
That's an amazing reduction!

[2018-03-09 07:02] #7750 closed

[2018-03-09 09:05] #7451 closed

[2018-03-09 09:10] muffinresearch commented on #7599
@AlexandraMoga can you reproduce this on production at all?

[2018-03-09 12:02] AlexandraMoga commented on #7599
@muffinresearch yes, I can see his behavior in production as well, both in the API and on the frontend.

Here is an example from prod:
https://addons.mozilla.org/en-US/firefox/addon/-40913/?src=search
![image](https://user-images.githubusercontent.com/31961530/37206690-6cd2b0e2-23a2-11e8-85ba-61dd1bc2bb60.png)

[2018-03-09 12:12] deepanshu-jain1999 commented on #7731
I want to contribute on this issue but I don't know the procedure . I am new in open source.
 Please help

[2018-03-09 14:19] AlexandraMoga commented on #7750
@eviljeff could you please explain which permissions you are referring to when saying "appropriate permissions"?
I thought that users with legacy add-on reviewer permissions will have visibility to static themes since they are listed in the Legacy queues (New Add-ons, Add-on Updates)
However, I was able to see static themes in these queues only when logging in with an Admin user.

[2018-03-09 14:54] diox commented on #7599
I've been digging into this a little and those themes are super old, and although they have a blank name, they are working in the legacy site. The API does return all necessary data for them (their slug is a little weird, but should work). So I'd say it's a frontend bug rather than a server bug - I'm not sure what we could do on the server side regarding their names...

[2018-03-09 14:59] diox commented on #7599
Side note: I don't know if that was done on purpose, but on the legacy site, it's almost impossible to search lightweight themes and order the result by name (it's easy for every other type of add-on).

[2018-03-09 15:19] eviljeff commented on #7731
@deepanshu-jain1999 you should choose another issue - @rafspiny was already looking into it.

[2018-03-09 15:26] diox commented on #7506
Is that a restriction we have elsewhere on the site ? I don't remember having something to prevent this elsewhere.

[2018-03-09 15:34] #7610 closed

[2018-03-09 15:36] SeanPrashad commented on #7646
Just an update @EnTeQuAk - I've opened a PR with my take on what a possible solution would be.

Like I mentioned earlier, I don't think we should populate the Theme name with the header image name at all. More than likely, the header image's file name isn't professional and doesn't necessarily reflect the name that the creator would want to have. If I'm not mistaken, this Theme name is what will b

[2018-03-09 15:38] eviljeff commented on #7750
I added a new permission (`Addons:ThemeReview`)- but haven't yet created any groups that use it.  I'll check with Product if they want an existing group changed or a new one created.

So you can't fully test this right now - you can test that Static Themes don't show up for legacy-only reviewers but you can't check that only Static Themes show up (and not legacy addons) for users that are only sup

[2018-03-09 15:54] AlexandraMoga commented on #7750
@eviljeff in that case, would it make sense to test this feature as an Admin user (since is the only one who has visibility to Static Themes queue) or should we consider it blocked until the relevant group for the `Addons:ThemeReview` gets settled?

[2018-03-09 15:56] eviljeff commented on #7750
Admin users should be able to see Static Themes in those queues.  But they'll also seem legacy addons, which a pure static theme reviewer wouldn't see.

[2018-03-09 15:56] eviljeff commented on #7750
so blocked-ish

[2018-03-09 16:12] jvillalobos commented on #7763
It's likely the add-on was removed by the developer at some point. You can try finding a similar one by [searching the site](https://addons.mozilla.org/firefox/search/?q=xpath%20checker).

[2018-03-09 16:12] #7763 closed

[2018-03-09 16:14] eviljeff opened #7765 "Review page for Static Themes"
Part of mozilla/addons#501 and #7385

We need to optimize the Reviewer review page for static theme reviewing.

- the Preview needs be the full size and prominent
- Any details not relevant for Static Themes can be hidden
- generally it would be nice to de-clutter and reduce the amount of page the content takes up

[2018-03-09 16:24] #7729 closed

[2018-03-09 16:43] eviljeff commented on #7765
Open questions:
- do we need replicate the pre-set responses for rejections?
  - if so, can they be implemented like addons, i.e. canned responses that can be edited?
- are shortcut keys to approve/reject, etc like in the LWT tools needed?

@jvillalobos

[2018-03-09 17:28] jrbenny35 opened #7767 "Update addon generation for UI tests"
Looks like a new AMO homepage update has been pushed and the docker image has been updated. We need to update the addon generation to match.

[2018-03-09 17:56] eviljeff opened #7769 "Update staff & theme reviewer groups with Static Theme permission"
They both need `Addons:ReviewTheme` because I thought it a good idea at the time to create a new Permission and add a whole bunch of methods to check for that permission rather than the existing `Personas:Review` permission 😒

[2018-03-09 18:42] mstriemer commented on #3389
This appears to be fixed now, the sign in link on AMO sends the user to the login start endpoint instead of directly to FxA.

[2018-03-09 18:42] #3389 closed

[2018-03-09 19:07] #7767 closed

[2018-03-09 20:49] jvillalobos commented on #7765
Yes, let's reuse canned responses for this.

No, I don't think we need the keyboard shortcuts. If they turn out to be important, we should consider implementing something like it for all reviewer tools, further down the line.

I think it should also be possible to inspect the background image(s) individually, since some themes contain images with inappropriate content that isn't visible in normal

[2018-03-10 13:20] #7679 closed

[2018-03-10 22:14] gponimansky commented on #5217
Seems like a duplicate issue with #7298

[2018-03-12 08:10] AlexandraMoga opened #7773 "An internal server error is received after Static Theme approval in Reviewer Tools"
STR:

1. Log in to Reviewer Tools with an Admin account
2. Click on Static Themes queue in Reviewer's dashboard
3. Filter your results to view the available Static themes waiting for approval
4. Select a theme to review and Approve it

Actual result:
The user receives an internal server error after submitting a static theme approval

Expected result:
Static Theme approval is successfully submitted

[2018-03-12 08:13] eviljeff commented on #7769
Ideally we should do this closer to the review tools being "finished" for static themes to avoid the confusion of exposing half-finished tools that don't work yet.

[2018-03-12 08:20] eviljeff commented on #7773
The review page isn't finished (not started either) so while I'd be happy if it was working already, I'd also be surprised.  see #7765 - closing as a dupe because we can track that it's working in that issue.

[2018-03-12 08:20] #7773 closed

[2018-03-12 08:31] eviljeff commented on #7750
#7769 to add the permissions - though we might not do that for a few weeks so Persona reviewers aren't confused by half-finished and partially functional tools suddenly appearing.

[2018-03-12 08:33] eviljeff commented on #7773
Thanks for the report though - I know I need to add reviewer points as part of #7765 now

[2018-03-12 08:46] eviljeff commented on #834
Seems like this was done in https://bugzilla.mozilla.org/show_bug.cgi?id=1402064 - re-open if we have more work to do.

[2018-03-12 08:46] #834 closed

[2018-03-12 12:03] AlexandraMoga opened #7774 ""Webextension could not be loaded' error message is displayed when submitting a new add-on"
STR:

1.  Log in to Developer Hub and submit a  add-on
2.  Check the validation report during version upload

Actual result:
A "Webextesnion could not be loaded" error message is displayed

Expected result:
Add-on successfully passes validation

Notes:
- also happens with static themes when using the submission wizard
- reproduced on AMO-dev, FF58 Win10x64

![image](https://user-images.githubuserc

[2018-03-12 14:38] kumar303 commented on #6953
Well, I just wanted to make sure the API is including theme descriptions when they exist. If it already does then maybe we can close this bug?

[2018-03-12 15:04] AlexandraMoga commented on #7529
Verified on AMO-dev with several collection endpoints and compared results returned by collection slugs and collection IDs.  The results seemed to be consistent and there were no errors observed.

Here is an example:
[code]
works the same as
[code]

In addition, I've looked for regressions in the frontend as suggested in [#4505](https://github.com/mozilla/addons-frontend/issues/4504)

[2018-03-12 17:12] #7774 closed

[2018-03-12 17:50] EnTeQuAk commented on #7774
The fix is heading towards -dev, should be there in a few minutes.

[2018-03-12 17:52] caitmuenster commented on #7370
Hey @kewisch and @wagnerand, do we still need a template for extensions that get rejected because the developer did not reply to a needinfo?

[2018-03-12 20:45] arantius opened #7778 "Validation error "/version" should match format "versionString" should say what the versionString format is"
I tried to automatically submit a nightly build for signing and self-serving.  The (partial) result was:

    {
      "guid": "{e4a8a97b-f2ed-450b-b12d-ee082ba24781}",
    ...
      "validation_results": {
        "errors": 1,
        "success": false,
    ...
        "messages": [
          {
            "uid": "ba64e9016ce74252b49bc45f074ef667",
            "dataPath": "/version",
            "t

[2018-03-12 21:16] diox commented on #7563
Are `previews` needed for search results? If not, will they ever be? It's be nice to be able to drop them from ES entirely.

[2018-03-12 23:27] diox commented on #6607
Looks like it was introduced for Marketplace back in the day: https://bugzilla.mozilla.org/show_bug.cgi?id=821923

[2018-03-13 07:32] AlexandraMoga commented on #7774
Verified fixed on AMO-dev, FF58 Win10x64

![image](https://user-images.githubusercontent.com/31961530/37327974-110c7980-26a1-11e8-8664-9ad973c7d592.png)

[2018-03-13 09:39] ioanarusiczki commented on #7610
I verified this issue using FF58 (Win10) for static themes submitted using upload file and the wizard features.  Also I checked the multiple backgrounds theme mentioned above by @AlexandraMoga.
I filed https://github.com/mozilla/addons-frontend/issues/4540 for what I've noticed during tests.

Marking it verified fixed.

![fixed for old pages](https://user-images.githubusercontent.com/33448286/3733

[2018-03-13 10:03] ioanarusiczki commented on #7614
Verified fixed on AMO dev using FF58 (Win10).

[2018-03-13 10:24] AlexandraMoga commented on #7729
I've verified this on AMO-dev with several examples and there are a few issues that need to be clarified.

@eviljeff
The following examples are showing that theme preview is not an exact representation of what the theme will look in the browser once installed:
[1] - background alignment is not rendered correctly in theme preview
[2] - the preview shows a transparency in the left corner which is no

[2018-03-13 11:12] AlexandraMoga commented on #7451
Verified on AMO-dev with FF58, Win10x64.
The reported layout issues have been fixed, except for the RTL alignment mentioned above. I will mark this as verified and open a new case to track the RTL issue.

![image](https://user-images.githubusercontent.com/31961530/37338434-1f8c98c2-26c0-11e8-8f10-efdc5e47c768.png)

[2018-03-13 11:15] zeviaran opened #7782 "Find a friend"
Hi. I'm zevi from Israel. I got two mail addresses from a friend in Ukraine, and I can not seem to get in touch with her. Unfortunately she also can not get in touch with my email addresses. We agreed that we would search the various search engines on the Internet for a solution. I hope I've come to the right place. I would be very happy if you could help me.
Here are the two addresses of the frie

[2018-03-13 11:22] AlexandraMoga opened #7783 "Color selectors in static theme submission wizard have layout issues in RTL"
STR:

1. Log into Developer Hub and submit a new static theme using the wizard
2. Switch to an RTL locale
3. Observe the text layout for the color selectors

Actual result:
The color selector area does not have the same margins as the LTR locales

Expected result:
Color selector area has the same margins for RTL and LTR

Notes:
- reproduced on AMO-dev, FF58 Win10x64

![image](https://user-images.g

[2018-03-13 11:58] diox commented on #7599
I noticed that although the legacy frontend is able to display the page, installing or previewing the theme does not work, because of the empty name. I'm going to add a dummy "Untitled" name to them, which the API will return as well, and see if that fixes it.

[2018-03-13 12:30] diox commented on #7599
Note that although fixing their name will fix the theme on the legacy site, the new frontend has another issue because of the slugs https://github.com/mozilla/addons-frontend/issues/4541

[2018-03-13 12:35] AlexandraMoga commented on #7679
Verified on AMO-dev, (Win10x64) and here are my results:
- for `picture_url` - the value is set to `null` when the user has no picture uploaded to the user profile
- for `picture_type` - there are two results:
 1. request details for a user that has no profile picture -> returns  `picture_type`:  `""` (1st screenshot)
 2. upload an image for the same profile and then delete it
 3. request the same

[2018-03-13 12:38] CuriousLearner commented on #7679
@AlexandraMoga I guess that is because of the earlier data. What we can do is running a query on dev/prod making all `picture_type` that are `""` to `null`.

cc @eviljeff

[2018-03-13 12:39] CuriousLearner commented on #7679
I think we can include that in migration only. Let me know what would be the best way to handle this and I'll do that :)

[2018-03-13 12:42] #7752 closed

[2018-03-13 15:48] ioanarusiczki commented on #7752
@eviljeff Could you please provide some STR for QA. I see #4425 is still open. I don't understand exactly what appropriate preview in the right places means at this moment.
Thank you!

[2018-03-13 15:50] bobsilverberg commented on #7316
@eviljeff This will definitely help with https://github.com/mozilla/addons-frontend/issues/2757, or whatever follow-up is filed for it. Will the new code just add an extra string to the array of permissions already returned by the API?

[2018-03-13 16:01] #7419 closed

[2018-03-13 16:02] diox commented on #7419
QA:
- Verify that the "More Actions" (clear pending info request, clear admin content/code review, disable/enable auto approval, etc) for admins on a review page are still available when needed and working correctly

[2018-03-13 16:11] #6953 closed

[2018-03-13 16:18] eviljeff commented on #7316
I think so, yes, but I've not thought about it since I logged the issue after I discovered _why_ the list in Firefox didn't match AMO.  No-one from the Firefox side asked us to support this extra manifest property - I'm not sure why it wasn't added in the permissions block of the manifest either.

[2018-03-13 16:19] #6607 closed

[2018-03-13 16:20] #7599 closed

[2018-03-13 16:48] eviljeff commented on #7752
This is mainly a back-end change that was blocking other issues.

You can verify by submitting a static theme and checking legacy frontend's detail page for the screenshot.  There should be only preview only (no caption) for the current version - so if a second version is submitted and approved the preview should update.  (Previously there would be all previews for all versions on the same page).

[2018-03-13 16:50] #6693 closed

[2018-03-13 16:51] EnTeQuAk commented on #6693
Pushed a fix for that edge-case again. Let's please open new issues in case you find more edge-cases here. Should be heading to -dev soon and will make it into todays tag.

[2018-03-13 16:54] EnTeQuAk commented on #7782
This is the bug-tracker for addons.mozilla.org and anything Add-ons related. Please don't use this bug-tracker for anything else.

Closing.

[2018-03-13 16:54] #7782 closed

[2018-03-13 17:15] eviljeff commented on #7679
@CuriousLearner if you know the sql just include it here and our operations staff will run it directly on the databases.

[2018-03-13 19:37] jvillalobos opened #7790 "Add OpenCollective to list of allowed payment providers"
Please add OpenCollective (opencollective.com) to the list of allowed providers for contributions. See #6309 for a previous addition.

[2018-03-13 21:30] jrbenny35 opened #7792 "Search Integration tests failing"
Looks like this [PR](https://github.com/mozilla/addons-frontend/pull/4536) changed the CSS for the search field.

[2018-03-14 08:58] AlexandraMoga commented on #6953
@eviljeff could you please add some steps to verify this issue?
https://github.com/mozilla/addons-frontend/issues/3892 is still reproducing, so I am guessing this not what I'm supposed to verify at this point.
Thanks!

[2018-03-14 09:07] eviljeff commented on #6953
https://addons-dev.allizom.org/api/v3/discovery/ should have `description` for any themes in the list that have descriptions defined on AMO.  E.g. the first one, https://addons-dev.allizom.org/en-US/firefox/addon/swirley-purple/ does.
If mozilla/addons-frontend#3892 is still happening there's some work needed on the frontend side, I guess -  @kumar303

[2018-03-14 09:08] eviljeff commented on #6953
(This is assuming I've understood the problem correctly!)

[2018-03-14 09:12] ioanarusiczki opened #7797 "Error message is displayed in classic view for static theme detail pages"
STR:
1. Load AMO dev and from Developer Hub submit a static theme or choose an already submitted static theme.
2. Open the theme's detail page and change to classic view.
3. Observe the screen.

Expected results:
The page is displayed without layout issues.

Actual results:
Oops! We had an error message is displayed.

Notes:
This issue is reproducible on AMO dev with FF58 (Win10).

![static themes

[2018-03-14 09:29] ioanarusiczki commented on #7752
Hello @eviljeff !
I made some testing on AMO dev with FF58 (Win10) and notices the followings:
1. The legacy frontend's detail page has an issue so I filed https://github.com/mozilla/addons-server/issues/7797
2. The submission and the previews displayed while submitting a static theme work as expected. Also I could install the themes.
3. I checked the themes detail page on the new frontend and the

[2018-03-14 09:56] AlexandraMoga commented on #6953
I've verified the API changes on stage and the theme description field is now populated when a theme has a description in AMO.

Here are some examples:

![image](https://user-images.githubusercontent.com/31961530/37395239-72432e8c-277e-11e8-8331-0ca91dbe9d6a.png)

[2018-03-14 10:00] ioanarusiczki commented on #7018
The name issue is tracked under https://github.com/mozilla/addons-server/issues/4809
I'm marking this issue verified fixed on AMO dev (Win10).

[2018-03-14 10:38] AlexandraMoga commented on #6693
Verified as fixed on AMO-dev, with FF59 Win10x64

There were no other edge cases identified

![image](https://user-images.githubusercontent.com/31961530/37397513-7bf618e4-2784-11e8-89bf-feda78342577.png)

![image](https://user-images.githubusercontent.com/31961530/37397527-8585dd4a-2784-11e8-9de3-b2aad3085ebd.png)

[2018-03-14 11:06] AlexandraMoga opened #7798 "'Add-on validator' and 'Add-on submission' page show different validation results for the same extension"
STR:

1. Submit an extension that will generate an error (i.e. incorrect use of 'mozilla.org' in add-on ID) via the add-on validator page  (https://addons.allizom.org/en-US/developers/addon/validate)
2. Observe the validation results
3. Submit the same extension in the add-on submission page (https://addons.allizom.org/en-US/developers/addon/submit/upload-listed)
4. Observe the validation results

[2018-03-14 12:52] AlexandraMoga commented on #7419
I've verified the options from "More Actions" section in AMO stage and all available actions seem to be working correctly.

I will mar this as verified fixed.

[2018-03-14 12:54] #7792 closed

[2018-03-14 13:25] #7664 closed

[2018-03-14 13:43] diox commented on #7797
Not entirely surprising since we haven't particularly focused on making the legacy site work, but it should not 500...

It's because of this from the version preview changes:
`{% set previews = list(version.previews) %}`

`list` is undefined in the template context.

[2018-03-14 14:04] arantius commented on #7724
Re: my dupe filed in the wrong place:

I'd really like to be able to turn these off; I expect to be doing ~nightly automated unlisted builds now, and I don't need/want an email about each of them.  This is different from how I might feel about listed builds.

[2018-03-14 14:08] diox commented on #7724
@arantius sorry if my comment there sounded harsh: don't worry about filing bugs on the `addons` repos, it's our catch-all and we monitor it and re-file if necessary.

Can you open a new issue (in addons-server directly while you're at it :) for it? I think it makes sense to have an option for this, but this deserve a separate issue.

[2018-03-14 14:10] arantius opened #7802 "Allow developers to opt-out of auto-approval notifications"
See also https://github.com/mozilla/addons-server/issues/7724

I'd like to be able to opt out of email notification of newly signed/reviewed versions separately, based on whether that version is listed or unlisted.

[2018-03-14 14:10] arantius commented on #7724
No offense taken.  RFE filed: #7802

[2018-03-14 14:21] diox commented on #7802
This looks like a good idea to me, no need for unwanted emails for unlisted uploads. @jvillalobos thoughts?

[2018-03-14 14:39] diox commented on #7778
Moved to https://github.com/mozilla/addons-linter/issues/1905

[2018-03-14 14:39] #7778 closed

[2018-03-14 14:41] wagnerand commented on #7370
@caitmuenster Can you elaborate on that? There is a rejection template that is filled with whatever reason the reviewer provides.

[2018-03-14 14:41] EnTeQuAk commented on #7778
Short note, a number should not include leading zeros according to our implementation. Does that help you already maybe?

[2018-03-14 14:43] diox commented on #5948
This field was changed to a `TextField` (was previously a `CharField` limited to 255 chars) a few months ago in 3e1f925458ff315635b6020c4cbfd5d8f819ce32

[2018-03-14 14:43] #5948 closed

[2018-03-14 14:49] bobsilverberg commented on #7316
I believe the reason it works the way it does is because of how Chrome implements it, and we needed to maintain compatibility, so I doubt it will ever appear as an actual permission string in the manifest. As far as https://github.com/mozilla/addons-frontend/issues/2757#issuecomment-372694056 goes, as long as the permission appears in the array of permissions returned by the API, and its name is `

[2018-03-14 15:22] caitmuenster commented on #7370
Oh, yes -- this canned response would specifically be for rejections caused by the developer not replying to a needinfo within the given timeframe.

@kewisch mentioned on IRC that only the admins are rejecting for this reason, so I wasn't sure if this specific canned response was still needed.

[2018-03-14 15:29] wagnerand commented on #7370
Ah, thank you. I thought you were talking about the templates in the code :)

I can't find a canned response on AMO for lack of response. Where do you see it?

[2018-03-14 15:48] AlexandraMoga opened #7804 "Theme preview is not always an exact representation of how the theme will look in the browser"
STR:

1. Visit a static  theme details page i.e. https://addons-dev.allizom.org/en-US/firefox/addon/more-bckg-preview-3/
2. Look at the theme preview in the screenshots section
3. Install the theme and compare the browser view with the screenshots

Actual result:
Theme preview is not an exact representation of what the theme will look in the browser once installed

Expected result:
Theme preview s

[2018-03-14 15:51] AlexandraMoga commented on #7729
I think we should follow the last observations in a separate case (opened [#7804](https://github.com/mozilla/addons-server/issues/7804) for that).
The initial issue is not reproducing anymore, so I'm marking this as verified fixed.

[2018-03-14 15:53] caitmuenster commented on #7370
It doesn't exist yet. :) I proposed creating a new canned response because I saw some people using it earlier this year before we changed the guidelines about acceptable summaries/descriptions.

[2018-03-14 16:00] ioanarusiczki commented on #7752
I'm marking this issue verified fixed on AMO dev, FF59 (Win10) after the confirmation received on irc from Andrew.

[2018-03-14 16:01] wagnerand commented on #7370
Ah, sorry for the back and forth.

Yes and no: Yes, I believe we need a canned response for admins. No, I am not sure whether that one is worth adding to the ones on AMO.

[2018-03-14 16:02] AlexandraMoga commented on #7750
@eviljeff since this issue is only partially testable, can we suggest to postpone the milestone or mark it as blocked by #7769 ?
I'd like to be able to test the full functionality of the static themes queue before marking this issue as verified.
Does this work for you?

[2018-03-14 16:09] #7797 closed

[2018-03-14 16:21] eviljeff commented on #7750
Does marking this issue as verified and re-checking queue visibility as part of #7769 work for you?

[2018-03-14 16:28] caitmuenster commented on #7802
Thanks @arantius!

I chatted with @jvillalobos about this. We're not in favor of letting developers opt out of some notifications (like notes from reviewers, although that doesn't apply to unlisted emails), but it might make sense to have a setting to disable auto approval notifications.

I still want developers to receive a confirmation message when their unlisted extension is signed. If possible

[2018-03-14 16:34] eviljeff commented on #7773
Going to say this was fixed with #7765

[2018-03-14 16:36] eviljeff commented on #6804
See https://github.com/mozilla/addons-server/pull/7766#discussion_r174069534 for some thoughts/problems around the API and https://github.com/mozilla/addons-server/issues/7563#issuecomment-372465411

[2018-03-14 17:36] CuriousLearner commented on #7679
Sure, we need to set the `picture_type` explicitly to `null` where currently it is empty string. Since, `picture_url` is a model property, rest everything would be taken care of.

[code]

[2018-03-14 17:52] bqbn commented on #7679
The above sql has run on -dev and -stage environments.

[2018-03-14 17:57] jvillalobos commented on #7370
Closing this until/if it's clear it's needed.

[2018-03-14 17:57] #7370 closed

[2018-03-14 18:00] jvillalobos commented on #7802
Yes, it's still possible for reviewers to reject or needinfo unlisted versions, so those notifications should still be mandatory. We can have a setting to opt-out of auto-approval email, which is admittedly not that useful.

[2018-03-14 18:01] CuriousLearner commented on #7679
Awesome @bqbn ! Thanks for the heads up!

@AlexandraMoga Can you please test this now? :)

[2018-03-14 20:13] jvillalobos commented on #7261
@devaneymoz What's the status of this?

[2018-03-14 20:20] devaneymoz commented on #7261
@jvillalobos The new card design was discussed some weeks back during one of our Tuesday Leadership meetings and the general consensus was the card design needs validation before implementation.

@pwalm you had mentioned something about putting together a test on usertesting.com. Is that still in play?

[2018-03-14 20:28] jvillalobos opened #7808 "Synchronize dev marketing email setting with Basket"
We send developer marketing email to developers who check that box in their user profile ("stay up-to-date with news and events"). Sending the email is done through Salesforce, which has its own unsubscribe mechanism. After every mass mailing, we need to manually synchronize the unsbuscribe requests we get via that system with the AMO setting. For practical (and also legal) reasons, we need to mak

[2018-03-14 21:04] kumar303 opened #7809 "Documentation is out of date (readthedocs build is failing)"
It looks like our readthedocs build has been failing for a while. The latest is: https://readthedocs.org/projects/addons-server/builds/6890274/

Command that fails:

[code]

<details>
<summary>Output</summary>

[code]

</details>

[2018-03-14 21:14] kumar303 opened #7811 "Upload/submit a new listed add-on version through the API"
This API feature would support the highly requested [`web-ext submit`](https://github.com/mozilla/web-ext/issues/804) command and improve automation abilities for add-on developers.

In addition to the existing [upload](https://addons-server.readthedocs.io/en/latest/topics/api/signing.html#upload-version) endpoint, we want an endpoint (the same one, maybe) that would allow us to upload a new add-o

[2018-03-14 22:46] diox commented on #7809
Ah, I noticed the other day that it wasn't up to date and forgot to file an issue for it...

This is because readthedocs is only building using our `docs.txt` requirements file but it also needs `system.txt`. Our `tox.ini` config does that correctly. Not sure what readthedocs are using or where to configure that, I don't think I have access.

[2018-03-14 23:06] diox commented on #7811
I think the 3 requirements are categories, summary and license, so we'd need to add that. But presumably we'd also want to be able to set any of the fields available through devhub submission and not just those.

[2018-03-14 23:13] birtles commented on #7811
The request we've had from add-on developers here in Japan is to be able to set the summary, description, and release notes, and to be able to do it for multiple locales too.

On the add-on developer experience team we're keen to see this happen soon and are prepared to put resources behind the `web-ext` bits. Please let me know if there's anything else we can do to help.

[2018-03-15 06:50] AlexandraMoga commented on #7679
I've re-tested this today and now `picture_type` is always set to a `null` value.

I'm marking this issue as verified fixed

[2018-03-15 07:39] erosman opened #7814 "Suggestion: "Compatible with Firefox 57+" is not as informative as before"
Since FF57 and the changes to AMO, seeing "Compatible with Firefox 57+" on every add-on that comes up in searches and listings (dominantly geared towards WE add-ons) is no longer as informative as it once was.

Opting a reverse method (i.e a legacy tag) or at the very least a smaller tag (e.g. "Firefox 57+" or "Quantum") seems to be a possible enhancement to the UI.

TBH, IMHO, it is not even nece

[2018-03-15 08:22] eviljeff opened #7815 "Remove stylus"
We use Stylus for enhancing our css files for a [very small number of files](https://github.com/mozilla/addons-server/search?utf8=%E2%9C%93&q=extension%3Astyl) and it makes little sense to support it for only 4 files.  We should either convert them to Less format that we use everywhere else (68 files) or just flatten them to css.  Then we can remove the dependency and the associated code we have f

[2018-03-15 08:25] eviljeff commented on #7814
I don't see the "Compatible with Firefox57+" tag on the new frontend - where are you seeing this?

[2018-03-15 08:39] erosman commented on #7814
It came up here

https://addons.mozilla.org/en-US/firefox/tag/proxy

[2018-03-15 09:11] eviljeff commented on #7814
Okay, so it's on the legacy frontend.  If we do end up reimplementing that page on new frontend (I don't think it will be) then the tag won't be there.
We're not doing any more work on legacy frontend so this won't be fixed.

[2018-03-15 09:11] #7814 closed

[2018-03-15 09:12] eviljeff commented on #7811
(I'm certain we have an existing issue asking about this but I can't find it)

I'd prefer we implement POST/PATCH on the /addon/ API endpoint rather than attempt to hack something (more) onto the signing endpoint.

[2018-03-15 09:31] AlexandraMoga commented on #7750
I'm going to mark this as verified for the following features:
- Static Theme queue available in Reviewer's dashboard - visible to Admins only **[1]**
- Static Theme extension 'type' added in New Add-ons/Add-on updates queues and in Advanced search - visible to Admins only **[2]**
- Static Theme queue not available to users with Legacy reviewer permissions (i.e. New Add-ons/Add-on Updates) queues

[2018-03-15 09:34] erosman commented on #7814
I see... just out of curiosity, are "tags" still used in the new front-end?

[2018-03-15 09:41] AlexandraMoga opened #7816 "Do not show 'Themes (Static)' as an advanced search option to non-static theme reviewers"
Follow up form #7750

STR:
1. Log in to Reviewers Tools with a user having legacy reviewer permissions (i.e. New Add-ons/Add-on Updates)
2. Select the 'New Add-ons' queue from the dashboard
3. In the pending add-ons list, click on Advanced search option
4. Check the available options in the 'Add-on type' filter

Actual result:
Legacy reviewers can filter by 'Themes (Static)' which will return an e

[2018-03-15 10:09] eviljeff commented on #7814
They aren't exposed in the UI, but are supported in the API and are still used as a factor in freetext search, iirc.  @jvillalobos might have a link/doc to the plans around tags.

[2018-03-15 10:38] eviljeff commented on #7816
as long as they can't review them I think it's fine.

[2018-03-15 10:49] diox commented on #7816
Yeah it's not worth the complexity.

[2018-03-15 10:49] #7816 closed

[2018-03-15 10:55] eviljeff commented on #7804
@AlexandraMoga I don't understand [2] - what transparency?

Btw, the guidence from UX & Product was to render a "typical" Firefox UI with default toolbar and view options - i.e. without the Menu and Bookmarks toolbar being visible.

[2018-03-15 11:17] #7740 closed

[2018-03-15 11:20] #7673 closed

[2018-03-15 14:12] AlexandraMoga opened #7818 "'Compatibility Test' from DevHub is not working"
STR:

1. Access Developer Hub
2. Scroll down to Tools section and click on Compatibility Test - i.e. https://www.extensiontest.com/

Actual result:
The page is not accessible (an internal server error is received)

Expected result:
The compatibility check page is loading

Notes:
- not sure if this is just a temporary issue, so I thought it's better to have it reported
- reproduced from all AMO ser

[2018-03-15 14:59] ioanarusiczki opened #7819 "Error loading Themes page in old view"
STR:
1. Load AMO stage and click on Themes.
2. Switch to classic view.
3. Observe screen.

Expected result:
Legacy page is loaded.

Actual result:
Oops! We had an error. message is displayed.

Notes:
This issue is reproducible on AMO stage with FF59 (Win10).

![legagy page - themes](https://user-images.githubusercontent.com/33448286/37470810-0060afe4-2871-11e8-9d8f-2d92e70ee09b.gif)

[2018-03-15 15:06] EnTeQuAk commented on #7819
This is working on -dev again and a duplicate of https://github.com/mozilla/addons-server/issues/7797

The fix will land in next week's milestone.

[2018-03-15 15:06] #7819 closed

[2018-03-15 15:34] ioanarusiczki commented on #7797
Verified fixed on AMO dev with FF59 (Win10).

[2018-03-15 16:47] tofumatt opened #7822 "average_addon_rating is returned as a string, not a float"
### Describe the problem and steps to reproduce it:
The API returns the prop on a `User` response's `average_addon_rating` as a string but really it should be a float. I'd be great if this was set properly from the API, as right now it causes us to have to locally typecast it.

[2018-03-15 17:53] jvillalobos commented on #7814
The plan is to bring them back, but that's probably happening on the second half of the year.

[2018-03-15 21:14] jvillalobos opened #7825 "Add-on Metadata Handling Updates"
This is a tracker for the work needed to update add-on metadata handling on AMO. The main goal is to have a clearer separation between what metadata is defined in the manifest and what is defined and editable on AMO.

* [ ] Import the name, summary, and icon from the add-on package.
  * Add support for importing SVG icons (and possibly other image sizes). This doesn’t mean AMO needs to keep them a

[2018-03-15 22:00] diox commented on #7811
https://github.com/mozilla/addons-server/issues/7825 would help nicely with the summary (though it still does not solve the category & license)

[2018-03-16 00:48] diox commented on #7809
@andymckay can you give access to someone on our team so that we can change the command readthedocs uses and fix this issue ? Neither @kumar303 , @muffinresearch nor I have that kind of access.

[2018-03-16 01:47] gponimansky commented on #7298
Issue stems from the grammar of several languages, [Russian Example](https://github.com/mozilla/addons-server/blob/7013e50e0687b48bbd88c89fb8af867c1eca4843/locale/ru/LC_MESSAGES/django.po#L2847).
A possible fix is adding inline CSS of margin-top: 20px to the <small> tag.

However that will require the changing several language files, and possibly impact the other [CSS margins](https://github.com/m

[2018-03-16 07:59] AlexandraMoga commented on #7818
Compatibility test is back, so I'm going to close this.

[2018-03-16 07:59] #7818 closed

[2018-03-16 09:21] AlexandraMoga commented on #7804
@eviljeff If you compare the theme screenshot with the actual view from the browser, you can see that in the preview the **_orange_** color looks more "transparent" and sort of blends in with the rest of the design, while in the browser the **_orange_** shows no "transparency" and ends abruptly. I think the preview is showing the theme more "beautiful" than it actually looks once installed. Does t

[2018-03-16 11:10] eviljeff commented on #7804
@AlexandraMoga it appears it's just how wide the browser it and how wide the images are - if it's smaller the images overlap so the top one (with the insect) fades into the orange one (the preview is rendered at 680px).

Here is the browser at about 110px wide:
![screenshot 2018-03-16 19 07 41](https://user-images.githubusercontent.com/768592/37517778-7f9e264c-294d-11e8-88e9-e285221eb889.png)

[2018-03-16 11:22] eviljeff commented on #7804
actually, [1] seems to be the same - it's a really weird rendering that I wouldn't have guessed from the manifest... but resize the window to about 872px and the preview matches Firefox

![screenshot 2018-03-16 19 20 48](https://user-images.githubusercontent.com/768592/37518232-4a41f7ba-294f-11e8-8fc8-e0ce275a3226.png)

[2018-03-16 11:29] wagnerand opened #7830 "Redirect beta versions to the stable channel"
Part of #7163.

To prevent beta users from being stranded after we disabled new beta version submissions, we redirect all beta versions to the stable channel.

STR:
0. Make sure the waffle `beta-versions` is true.
1. Install the beta version of an add-on and close Firefox.
2. Submit a beta update to that add-on, then immediately flip the `beta-versions` waffle to false. (It's best to use a differe

[2018-03-16 12:05] AlexandraMoga commented on #7773
@eviljeff  has this been fixed only for recent submissions?
I've tried to approve/reject themes listed in the Static Theme queue but any version older than 3 days is still generating an internal server error.

[2018-03-16 12:27] AlexandraMoga commented on #7804
@eviljeff indeed, resizing the browser will show the theme design exactly as in the preview.
However, for most of the cases the users will use the browser at its full size, so the differences could still prove misleading.
LWT previews by comparison offered a more accurate representation in general.
Maybe showing theme previews for different screen sizes could be a solution(?)

[2018-03-16 12:34] #7830 closed

[2018-03-16 13:37] ioanarusiczki commented on #7664
Verified fixed on AMO dev with FF59 (Win10).

![button blocked](https://user-images.githubusercontent.com/33448286/37523524-e2fcb8f2-292f-11e8-9da1-7fec8d29ad8e.gif)

[2018-03-16 14:17] AlexandraMoga commented on #7599
I've verified theme search with AMO-dev on the legacy site and a list of "Untitled" themes is now returned when ` sort=name`. The themes can be previewed and installed.

![image](https://user-images.githubusercontent.com/31961530/37525075-6b20f500-2934-11e8-8e1e-beeb83448d18.png)

@diox when searching in the API, theme name is still returned as a `null` value. I thought I was supposed to be "Untit

[2018-03-16 14:36] diox commented on #7599
@AlexandraMoga I haven't bothered to reindex so the search API will still return the empty name. As long as the frontend issue still exist there is no point in doing the reindex to fix the search API.

[2018-03-16 14:57] AlexandraMoga commented on #7740
Verified on AMO-dev with the _little_ data available and below you can see the current layout.
A full validation will be made once the changes will be available on prod.

![image](https://user-images.githubusercontent.com/31961530/37527521-e41e07da-293a-11e8-9953-da56ffaf1c7d.png)

[2018-03-16 15:06] #7765 closed

[2018-03-16 15:11] eviljeff commented on #7773
@AlexandraMoga at the time #7765 wasn't actually closed - it was just now.
It _should_ fix the error for all submissions, but tbh we're only interested in new submissions from this point.

[2018-03-16 15:12] AlexandraMoga commented on #7599
Ok, in that case I'm marking this as verified for fixing theme search on the legacy site.
For the remaining issues, I'll wait for a fix to land in [addons-frontend/issues/4541](https://github.com/mozilla/addons-frontend/issues/4541)

Verified on AMO-dev, FF59 Win10x64

[2018-03-16 15:16] #7724 closed

[2018-03-16 15:46] eviljeff commented on #7804
LWT previews are 680x100 but half scale so effectively showing 1360x200 of theme - showing more width but also showing twice as much height than the average user would see*.  Static theme previews are 680x100 but full scale.  It's difficult to know what is "normal" size for users but for an average user with a 680px wide browser window static theme previews are more accurate than LWT's previews.

[2018-03-16 16:47] kumar303 opened #7832 "Cannot nullify notes for an add-on in a collection"
### Describe the problem and steps to reproduce it:

Set add-on `notes` to `null` like this example:

`POST` a body of `{"addon":"17432","notes":null}` to `/api/v3/accounts/account/10631143/collections/food/addons/`

### What happened?

[code]

### What did you expect to happen?

The [docs](https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-add-ons-create) say th

[2018-03-16 17:05] eviljeff commented on #7832
Does just leaving `notes` out of the request body work?

btw `notes` is supposed to be optional the same as `description` is optional for the `Collection` itself - do you send `description = null` in that case?

[2018-03-16 17:12] kumar303 commented on #7832
Yes, leaving `notes` out of the request works but I'm not sure how we would be able to update *existing* notes to effectively delete them in that case. Are we expected to set `notes` to an empty string instead?

[2018-03-16 17:23] andymckay commented on #7809
@diox should have access now.

[2018-03-16 17:40] diox commented on #7809
Turns out readthedocs wants a single requirement file anyway :( I'll try to fix it by requiring `system.txt` inside `docs.txt`.

[2018-03-16 18:27] #7809 closed

[2018-03-16 18:48] kumar303 commented on #7832
I was mostly thinking of `PATCH` requests in that last comment

[2018-03-16 23:43] rafspiny commented on #7731
yep @eviljeff
I finally had some free time to look into Mock and I came up with a test case.
It was a good exercise and I hope it is ok.
Pull request at: https://github.com/mozilla/addons-server/pull/7836

[2018-03-17 02:19] kmaglione commented on #7223
Removing support for the RDF update format is a high priority for us at this point. It would allow us to remove thousands of lines of hard-to-maintain code and tests.

I don't particularly care whether AMO continues to support the RDF format (it seems unnecessary, since we no longer support updating non-WebExtension add-ons), but it definitely needs to serve the JSON format as soon as possible.

[2018-03-19 08:58] AlexandraMoga commented on #7673
Verified on AMO-dev with several users having different reviewer permissions, including `Reviews:Admin`
This permission is giving visibility now to add-ons pending for Admin Code/Content Review:

![image](https://user-images.githubusercontent.com/31961530/37586242-703976f2-2b64-11e8-8fe7-125ccfeb4744.png)

Verifed fixed on AMO-dev, FF59, Win10x64

[2018-03-19 10:36] #7731 closed

[2018-03-19 11:31] eviljeff commented on #7832
Looks like setting `null` \ `None` is generally prevented in DRF http://www.django-rest-framework.org/api-guide/fields/#allow_null - though I'm not sure how you're supposed to clear optional values otherwise 😕

[2018-03-19 11:51] #6804 closed

[2018-03-19 14:19] #7815 closed

[2018-03-19 14:21] #7756 closed

[2018-03-19 14:26] eviljeff opened #7844 "Handle static themes not specifying a primary header image (or being missing)"
From mozilla/addons-linter#1913

[2018-03-19 14:31] eviljeff opened #7845 "Support Chrome-style color fields and syntax for static themes"
According to https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/theme some of the color fields have Chrome equivalents and support an additional syntax as well as standard css formats.  Our previews should translate/support these too, because Firefox does.

[2018-03-19 14:51] kumar303 commented on #7811
I thought so too but I couldn't find one. I'm sure it will turn up 😄

[2018-03-19 15:40] eviljeff opened #7846 "Disable persona creation wizard/redirect to static theme wizard"
When we launch static themes we need to redirect the old LWT wizard url to the new page and change any appropriate links/menu items.

Open questions:
- do we need all the current entry points - e.g. should there be a create a theme button when we have the wizard button inside the add-on flow.  If so where should it go - the wizard directly or do the same as the add-on flow?
- should we allow exist

[2018-03-19 15:42] eviljeff commented on #7846
Note: we may want a separate waffle for this so QA can still test the old persona wizard without disabling all static theme uploads on -dev.

[2018-03-19 15:42] ioanarusiczki commented on #7731
This issue is verified fixed on AMO dev with FF59 (Win 10)

![4 mb](https://user-images.githubusercontent.com/33448286/37605893-de4ddcd6-2b9c-11e8-8dd0-179e26949d09.png)

[2018-03-19 15:47] eviljeff opened #7847 "Create migration script to migrate existing LWT to static themes"
Existing lightweight themes should become static themes so AMO doesn't have to support the code for both.

<<Needs more details about migration strategy and what we will do for clients <Fx53 that don't support static themes>>

[2018-03-19 16:20] vcarciu commented on #7815
@eviljeff : Can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-03-19 16:27] diox opened #7848 "Revisit the way we do the django admin permission checks"
By default, the django admin is guarded with the following:
- A `has_permission()` method on the admin site, which checks against `<user>.is_staff`.
- Various `has_*_permission()` methods on each model admin class, which use `<user>.has_perm()`, building a permission string corresponding to what the model admin is for and what action the user is doing.
- For object deletion, the `has_*_permission(

[2018-03-19 16:40] AlexandraMoga opened #7850 "Theme can't be installed for preview in the browser from static theme review page"
Follow up for #7765

STR:

1. Log in to Reviewer Tools on AMO-dev and select 'New Add-ons' from reviewer's dashboard
2. In the New add-on queue filter by Themes(static) - [this link](https://reviewers.addons-dev.allizom.org/en-US/reviewers/queue/new?searching=True&text_query=&needs_admin_code_review=&application_id=&addon_type_ids=10)
3. Select a theme pending for review (one of the more recent on

[2018-03-19 16:40] AlexandraMoga opened #7851 "Remove "Reject multiple versions" action for static themes in reviewer tools"
Follow up for #7765

STR:

1. Log in to Reviewer Tools on AMO-dev and select 'Add-on Updates' from reviewer's dashboard
2. In the Add-on updates queue filter by Themes(static) - [this link](https://reviewers.addons-dev.allizom.org/en-US/reviewers/queue/updates?searching=True&text_query=&needs_admin_code_review=&application_id=&addon_type_ids=10)
3. Select a theme pending for review and click on Re

[2018-03-19 16:54] AlexandraMoga commented on #7773
Verified as fixed on AMO-dev, FF59, Win10x64
All static themes from New Add-ons/Add-on updates queue can be approved or rejected.

[2018-03-19 17:03] diox commented on #7253
I gave this a shot but #7848 is a blocker - the way permissions are handled now it's very hard to have any granularity in the admin tools.

[2018-03-19 18:42] eviljeff commented on #7832
Some comments before we make any changes -
- setting an empty string will work, though obviously an empty string is different than null, and you'd get back that empty string if you queried the collection again (not sure if frontend treats `null` differently than `''`)
- setting null as part of a full dict of localisations _should_ work - i.e. `"description": {"en-US": null}` rather than `"descript

[2018-03-19 20:59] peiying2 opened #7852 "Grammatical error "... with a the author ...""
A localizer found this error:

https://github.com/mozilla/addons-server/blob/1fa8f3a3cd2fbb755ec800d9f0a7133c4119dc7f/locale/en_US/LC_MESSAGES/django.po#L5547

[2018-03-20 01:41] birtles commented on #7811
Thanks, that's very helpful. I think hacking on the AMO API is pretty far outside our usual area of work (we're basically platform engineers) so let me see if there are any existing plans to work on that in the AMO team before we consider taking it on.

[2018-03-20 07:05] AlexandraMoga opened #7853 "New static theme version is listed in the 'New Add-ons' queue if all previous versions are disabled"
Follow up for #7765

STR:

1. Log in to Developer Hub and submit a new static theme
2. Go to the theme's review page and reject it
3. Go back to Developer Hub and submit a new version for the same theme
4. Check Static Theme queues in Reviewer Tools to see in which list your theme is pending for review

Actual result:
The new submitted version is listed in 'New Add-ons' queue, even if it had a pre

[2018-03-20 07:16] AlexandraMoga commented on #7765
Verified on AMO-dev, with FF59, Win10x64
Here are some observations:
1. themes can be composed of several backgrounds, so an image gallery could actually be useful for reviewers; in the current implementation, you can't know how many images are there unless you navigate through all the available screenshots
2. for Admin Reviewers: More Actions section includes the 'Disable auto-approval' button wh

[2018-03-20 08:33] AlexandraMoga commented on #6804
Could you please add some STR to understand what we need to test here?
Thanks

[2018-03-20 09:24] EnTeQuAk commented on #7815
The code that got removed here was primarily used in the reviewer tools. So a quick click-through there that verifies that nothing looks off should suffice.

It's mostly a 1:1 translation so I'm not too worried.

[2018-03-20 09:42] eviljeff commented on #7765
The caption on the preview shows x of y, but anyway, I believe this satisfies "possible to inspect the background image(s) individually".  Jorge to file follow-ups if the implementation needs changing  as there weren't any UX descriptions or mock-ups.

Yes.  It's harmless, but shouldn't be there.

It's a bit of an open question what admin flagging should look like for static themes.  (I couldn't s

[2018-03-20 10:32] AlexandraMoga commented on #7756
Verified on AMO-dev with FF59, Win10x64

I've checked theme preview rendering on the add-on details page and in Reviewer Tools and the preview matches the current approved version (there are no screenshots connected to disabled/deleted versions or previously approved versions)
In parallel, I've looked in the API and the theme `preview` property is also returning a single preview with an ID matchin

[2018-03-20 10:50] AlexandraMoga commented on #3051
This is now applicable to static theme review as well.

[2018-03-20 11:31] AlexandraMoga opened #7854 "Remove 'Disable Auto-approval' option from More Actions section for static theme reviews"
Follow up from #7765

STR:

1. Log in to Reviewer Tools with an account that has Reviews:Admin permission
2. Select 'New Add-ons' queue from the dashboard and filter the pending list by 'Themes (static)'
3. Pick one of the pending themes to see its review page (i.e. https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/additional-bckg)
4. Scroll down to More Actions section and observe t

[2018-03-20 12:10] AlexandraMoga opened #7855 "Add specific admin flag for Static themes"
Follow up for #7765

After testing Static themes review page I've had some observations:

1. themes can be composed of several backgrounds, so an image gallery could actually be useful for reviewers; in the current implementation, you can't know how many images are there unless you navigate through all the available screenshots
2. 'Request super review' will set a 'Needs Admin Code Review' flag wh

[2018-03-20 12:12] AlexandraMoga commented on #7765
I've filed #7854

I've submitted several unlisted static themes and here are the results:
1. they appear in the Unlisted queue
2. they can be downloaded for preview in the browser
3. reviewer actions can be performed, i.e. Confirm Approval, Reviewer reply, Comment etc + More Actions for Admin Reviewers
4. theme previews are NOT available
5. reject action is NOT available

@eviljeff please have a l

[2018-03-20 13:34] AlexandraMoga commented on #7724
Verified as fixed on AMO-dev with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/37657571-0f3946fc-2c54-11e8-8a81-2a2b309a324e.png)

[2018-03-20 15:21] AlexandraMoga commented on #7830
I have followed the steps mentioned above and the results are as expected.

With the waffle off:
- it is not possible to update an installed beta version to a new beta version
- an installed beta version can be updated to a new listed (stable) version

Verified on AMO-dev, Nightly 61.0a1, Win10x64

[2018-03-20 16:04] kumar303 opened #7856 "Document partial add-on objects returns from the search API"
Document how the [search](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search) endpoint returns add-ons that contain a `current_version` object without a `license` field. Are any other fields missing?

[2018-03-20 16:22] eviljeff commented on #7765
we only generate previews for listed versions, so no previews for unlisted is to be expected.  Afaik we don't support Rejecting for any type of addon for unlisted so that's okay too.