[2017-07-21 15:19] eviljeff commented on #5956
Is this cause for us accelerating the 'drop contributions and replace with a simple link' [changes](https://docs.google.com/document/d/1DjXQbl_hZlRe4bqE9B-cLPfq64wYFa19TU9DfsOpckQ/edit)?

[2017-07-21 15:37] #5972 closed

[2017-07-21 15:51] eviljeff commented on #5838
Are you displaying _username_ or _display_name_ (the latter I would have thought is more appropriate)?
And if `display_name` I wonder if `has_anonymous_display_name` is more appropriate?

p.s. the username generates a 16 bytes suffix, encoded as hex, so unless they want "annonymous-40440440440440440440440440440440" they'd be okay :)

[2017-07-21 16:04] andymckay commented on #5838
cc @mstriemer, if I remember, the reason for that suffix was to a concern that there was nothing distinguish different anonymous users. It might have been issue #1518.

[2017-07-21 16:05] eviljeff commented on #5729
@devaneymoz if you include them here we can add them to the static category definitions.

[2017-07-21 16:42] bqbn commented on #5708
Yeah, the code is up to date. I just tried to run it manually, and found that because we have so many records, the process got OOM killed before it could even finish.

[code]

and we have this in the kernal logs,

[code]

Looks like the whole thing can't fit in memory at one time and the deletion needs to be done in a way that saves memory. :)

[2017-07-21 17:04] muffinresearch commented on #5015
I've been testing this locally and threading works fine in Gmail using django-anymail with mailgun to send real emails. I'm seeing threading in two separate accounts used to do the developer and reviewer parts of this.

_Once caveat is that I'm using the web-interface to send the emails not replies via email._

Set-up was pretty simple I used this in a local_settings.py file with:

[code]

Next st

[2017-07-21 18:38] eviljeff commented on #4271
is this obsolete now, given we're deprecating embedded extensions along with legacy xul ones?

[2017-07-21 18:40] #5950 closed

[2017-07-21 18:42] diox commented on #5708
Ok that explains it. I wanted to do things cleanly and use the model etc, and since it worked on dev/stage I thought it'd be reasonable... Can you manually delete rows in the database + files older than 6 months on prod then ? Then the cron should work, it will have much less to handle without that big initial chunk of data.

[2017-07-21 18:45] andymckay commented on #4271
If reviewers didn't need it by now they won't need it by the time 57 is on release, so sure.

[2017-07-21 18:45] #4271 closed

[2017-07-21 18:56] bqbn commented on #5708
Is the operation simply to delete rows in one table, i.e. file_uploads, and doesn't involve other tables? If it is the case, I think it should be safe for me to do it manually.

[2017-07-21 18:59] diox commented on #5708
It's just this table (and the directory for the files) - it may reference other tables, but nothing should refer to it.

[2017-07-21 19:34] muffinresearch commented on #5956
Since this is on -dev and relates to the sandbox I think we can downgrade this from a p1.

[2017-07-21 19:36] muffinresearch commented on #5956
I don't think this particular issue is, but the sooner we can move away from the current implementation the better.

[2017-07-21 19:40] muffinresearch commented on #5510
That's a good reason to leave it how it is then 👍

[2017-07-21 19:56] bqbn commented on #5708
OK, I'll find a time to do it early next week and update the ticket.

[2017-07-21 21:34] diox opened #5981 "Get rid of the Category model"
We shouldn't need the `Category` model, the `StaticCategory` constants should be enough, together with, say, a simple `JSONField` to store categories on `Addon`s.

[2017-07-22 11:10] lamoure opened #5982 "dgsdazh6745a"
im on this page: https://addons.mozilla.org/de/firefox/user/sharath-av/?src=api

clicking on this link: https://addons.mozilla.org/de/firefox/addon/soundgrab/?src=userprofile

and then i get referred to this one: https://addons.mozilla.org/de/firefox/addon/soundgrab/?src=userprofile

[2017-07-22 16:22] jvillalobos commented on #5830
As far as I know, they don't show up on the mobile site, so I don't think we need to take any additional action to make they incompatible.

[2017-07-22 16:35] jvillalobos commented on #5982
If you have an issue to report, you'll have to set a sensible title and more details than what you provided. Closing for now.

[2017-07-22 16:35] #5982 closed

[2017-07-23 17:15] tsl143 commented on #5589
Also I find written `fuzzy` infront of the translate strings, does that mean something(I am not sure how translation works for this)
<img width="762" alt="screen shot 2017-07-23 at 10 43 44 pm" src="https://user-images.githubusercontent.com/5318732/28501384-883154be-6ff8-11e7-89fb-e2e3cdcbc695.png">

[2017-07-24 06:32] ValentinaPC commented on #5972
Verified as fixed on AMO-dev FF54(Win 7).
Postfix video:
![cc](https://user-images.githubusercontent.com/15685960/28510815-fbaedf74-7052-11e7-8013-9bfc1a268740.gif)

[2017-07-24 06:33] ValentinaPC commented on #5888
Based on https://github.com/mozilla/addons-server/issues/5972#event-1174098545 I'll mark this issue verified.

[2017-07-24 06:48] ValentinaPC commented on #5950
Verified as fixed on AMO-dev FF54(Win 7).
Postfix screenshot:
![2017-07-24_0944](https://user-images.githubusercontent.com/15685960/28511219-ee323632-7054-11e7-930e-fbb0e89fb29f.png)

[2017-07-24 07:10] ValentinaPC commented on #5830
Based on above comments we can mark this verified fixed.
Verified on AMO-dev FF54(Win 7).
Postfix screenshot from add-on details page - where compatibility range is no longer listed:
![2017-07-24_1009](https://user-images.githubusercontent.com/15685960/28511927-3a0a3296-7058-11e7-96f7-31e4d306db59.png)

[2017-07-24 09:33] diox opened #5986 "Hide "compatibility reports" link for web extensions in devhub"
The "compatibility reports" link in devhub sidebar menu when editing an add-on is useless for web extensions and should be hidden.

[2017-07-24 09:57] ValentinaPC commented on #3841
from irc:
`mat  -  you're right that it was never shown to end-users`

We can mark this verified fixed, because the rest of the issue was fixed as shown in the above screenshot.

[2017-07-24 10:17] sblask opened #5988 "Add-on submission broken if you use en-GB to submit an en l10n'd webext."
From my question on dev-addons@mozilla.org:

I tried to submit a new extension (https://github.com/sblask/webextension-enhanced-image-viewer/releases/download/1.0.0/enhanced_image_viewer-1.0.0-firefox.zip), but the page to do that looks like in the attachment. No input fields where you'd expect one. When I try to submit anyway it says field required. There is a display: none on the input element,

[2017-07-24 10:57] ValentinaPC commented on #5815
Verified this on **AMO-prod** FF54(Win 7) but the new changes did not land, should they?
This is the Disco Pane, now:
![untitled](https://user-images.githubusercontent.com/15685960/28520346-c7ec4828-7077-11e7-9efd-b9cd93239666.png)

[2017-07-24 11:14] muffinresearch opened #5989 "Unify categories"
We've talked about this here and there before and I think the consensus was that unifying the add-on categories in AMO is something we want to do.

To that end do we can we sort out what the mappings should be and discuss what it would take to make the change?

┆Issue is synchronized with this [Jira Task](https://mozilla-hub.atlassian.net/browse/ADDSRV-149)

[2017-07-24 11:17] EnTeQuAk commented on #5815
They will land this week because I missed the window for this last cycle.

[2017-07-24 11:17] ValentinaPC commented on #5897
Verified if links redirecting MDN pages are localized and seems like they arent't.
Verified in AMO-dev FF54(Win 7).
Tried for:
- https://developer.mozilla.org/en-US/Add-ons/Distribution/Submitting_an_add-on
- https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on
- https://developer.mozilla.org/en-US/Add-ons
- https://developer.mozilla.org/en-US/Add-ons#Contact_u

[2017-07-24 11:22] ValentinaPC commented on #5815
I thought **_I_** missed it :D

[2017-07-24 11:53] eviljeff commented on #5988
Weird, I can submit that add-on zip without a problem locally and on addons-dev.  Can you link to the broken listing?

[2017-07-24 11:55] ValentinaPC commented on #5988
I think @sblask is trying with a non-en locale.... seems like that kind of behavior. I may be wrong.

[2017-07-24 12:13] diox opened #5990 "Simplify add-on compatibility code"
Add-on compatibility is defined as the set of conditions that disables (greys out) the install button for an add-on on AMO.

Some of the code to handle add-on compatibility is present in triplicate, depending on the context (detail page, listing page) and template style (impala/non impala), with some variants functioning in a completely different way than the rest (for some we handle it directly i

[2017-07-24 12:28] sblask commented on #5988
https://addons.mozilla.org/en-US/developers/addon/enhanced-image-viewer6/submit/details

[code]

My OS locale is en-GB.

@eviljeff if you say it works for you, that means that it's not an issue that I use localization strings in the title (https://github.com/sblask/webextension-enhanced-image-viewer/blob/master/manifest.json#L31)?

I also have this issue that is locale related: https://github.com/

[2017-07-24 12:43] eviljeff commented on #5988
good call ... it's the `en-GB` locale (the dev edition profile I use for work is `en-US`).
I'm not sure if it's `en-GB` per se, or if it's the combination of that and the default locale for the add-on being `en` which we don't support (AMO only supports `en-US` and `en-GB`)

[2017-07-24 12:46] eviljeff commented on #5988
yeah, I can't replicate even using `en-GB` locale, if I change the zip to use `en-US`.

[2017-07-24 12:49] eviljeff commented on #5988
@sblask you should be able to work around this by either changing the add-on to use en-US, or submitting from http://olympia.dev/en-US/developers/addon/submit/distribution instead.

[2017-07-24 12:54] diox commented on #5990
@jvillalobos : thoughts ?

[2017-07-24 13:11] sblask commented on #5988
I can try later today. I assume I have to delete the existing submission first? Will I get a problem because the ID is already used?

This page: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization should probably be updated to reflect this issue (unless this gets fixed soon) because it happily gives `en` as example for default_locale.

I never minded, but I sometimes had

[2017-07-24 15:33] spoji commented on #4990
For reviewers that need this feature, note that we integrated it back inside the add-on "AMO Queue Helper 5.7.1" : https://addons.mozilla.org/en-US/firefox/addon/amo-queue-helper/

[2017-07-24 16:11] #5728 closed

[2017-07-24 19:15] gregglind opened #5994 "static page: shield study 16 - pioneer"
Static consent page for Study 16 - Pioneer

https://bugzilla.mozilla.org/show_bug.cgi?id=1382761

[2017-07-24 22:37] sblask commented on #5988
Deleting the extension and submitting it again with default locale being en-US fixed the issue.

[2017-07-25 08:37] SVSanta opened #5998 "Admin Tools gives "404 Not Found" error"
Steps to reproduce:

1. Login with any admin user.
2. Click on "Tools>Admin Tools".

Expected results:
The "Admin Tools" page is displayed.

Actual results:
A 404 page is displayed.

Notes/Issues:
Verified on FF54(Win 10). Issue is reproducing on the STG and DEV servers.
Gif for this issue:
![admin tools 404](https://user-images.githubusercontent.com/28138132/28563102-7e2018a8-712d-11e7-9cee-78c72

[2017-07-25 08:45] wagnerand commented on #5998
Afaik, admin pages are behind VPN now.

[2017-07-25 09:06] #5988 closed

[2017-07-25 09:13] SVSanta commented on #5998
My VPN is up and running, same issue for the rest of the team, maybe we haven't been granted access yet.

[2017-07-25 09:21] wagnerand commented on #5998
Summoning @jasonthomas ...

[2017-07-25 09:29] EnTeQuAk commented on #5990
I agree, that code is a huge pain in the ass and cleaning that up does make things a lot easier long-term. Keeping @diox' sanity is usually a good idea too :)

[2017-07-25 09:50] diox opened #5999 "Add-on indexing (or other task) sometimes happen too early"
We can sometimes end up indexing add-ons too early before the transaction has been committed. I believe this is what's been happening in those cases:

https://github.com/mozilla/addons-server/issues/4894
https://github.com/mozilla/addons-server/issues/5588

We developed [post-request-task](https://github.com/mozilla/django-post-request-task) to solve this, but never deployed it on AMO (it was depl

[2017-07-25 09:51] diox commented on #5588
Closing in favor of https://github.com/mozilla/addons-server/issues/5999

[2017-07-25 09:51] diox commented on #4894
Closing in favor of https://github.com/mozilla/addons-server/issues/5999

[2017-07-25 09:51] #4894 closed

[2017-07-25 09:51] #5588 closed

[2017-07-25 10:19] ValentinaPC opened #6000 "Error message in Disco Pane under each add-on"
Steps to reproduce:
1. Load about:addons using Nightly browser
2. Activate/deactivate the legacy pref while accessing Disco Pane

Expected results:
No issues displayed.

Actual results:
An error message is displayed under each add-on/theme.

Notes/Issues:
- I could no longer reproduce it a new Nightly profile.
Screenshot:
![nightly](https://user-images.githubusercontent.com/15685960/28567646-b8afe

[2017-07-25 11:09] #5994 closed

[2017-07-25 11:33] wagnerand opened #6001 "Conflicting setuptools versions"
`make update_docker` calls https://github.com/mozilla/addons-server/blob/master/Makefile-docker#L96 which installs the latest _setuptools_ version. Later on, we install a very specific version of it in https://github.com/mozilla/addons-server/blob/master/requirements/prod.txt#L439 which causes failures if a new _setuptools_ version has been released but we haven't locked it in the requirements (ye

[2017-07-25 11:55] SVSanta commented on #5994
Please add some STR or the label "qa: not needed". Thanks!

[2017-07-25 12:29] jasonthomas commented on #5998
@SVSanta Please file a bug in Cloud Services: Operations: AMO Operations with the users in your team that need access.

[2017-07-25 12:54] SVSanta commented on #5998
Hello Jason, I think that Stuart Colville already sent you an email with all ldap accounts for our team. Please confirm and I will close this issue.

[2017-07-25 13:00] vcarciu commented on #5015
It looks that emails are not threaded from any place where I send a reply

[2017-07-25 13:18] jasonthomas commented on #5998
Just saw the email. I've added everyone to the correct VPN group. You will need to reconnect to the VPN to access the new endpoint. Please ping me on irc if you have questions. Thanks!

[2017-07-25 13:18] #5998 closed

[2017-07-25 14:19] muffinresearch commented on #5015
Let's see if the adding `<` and `>` makes any difference.

As a side note - I saw looking at http://wesmorgan.blogspot.co.uk/2012/07/understanding-email-headers-part-ii.html that it would be expected that  the references header should be growing as more replies are sent.

[2017-07-25 14:22] EnTeQuAk commented on #5209
QA:

This change covers many parts of AMO, first and foremost our search which should continue work properly and no jumpy ranking changes should be noticable. Smaller ranking changes here and there e.g for similar or identical names are expected.

Make sure that addons-frontend works as expected, ElasticSearch is entirely used throughout the APIs that are used for addons-frontend.

Let me know if

[2017-07-25 14:29] #5595 closed

[2017-07-25 14:39] eviljeff commented on #6000
That message is coming from https://github.com/mozilla/addons-frontend/blob/77c2a5b3e937aadc51bd3ed70f84369eee192c40/src/disco/components/AddonCompatibilityError/index.js#L49 so I'd assume it's a frontend issue but it's when `reason` is something 'else' so it's possible it originates in the API, I guess.  Have you changed your user agent to a non-Firefox one?  That could explain it.

[2017-07-25 14:42] diox commented on #5990
Going to close this and comment in [the google docs about finding compatible versions for pre-57](https://docs.google.com/document/d/1ui9Zq1iCzIA5DIneHN5i1LzGhs9HOdN9h8532SuqavY/edit#) - between the other 2 issues we have already opened it should be enough.

[2017-07-25 14:42] #5990 closed

[2017-07-25 14:48] muffinresearch commented on #6000
@ValentinaPC do you still have the old profile that caused this around - can you check if the user-agent string is looking as expected?

[2017-07-25 14:52] ValentinaPC commented on #6000
@muffinresearch : unfortunately I had a problem with the profile I reproduce this and is no longer accessible.
But, I've looked to the user agent - if you are talking about the string from about:support - and seemed ok.
I don't know how to change it, though. Or maybe something I did, changed it?

[2017-07-25 14:56] diox commented on #3610
[Django's new-style middlewares](https://docs.djangoproject.com/en/1.11/topics/http/middleware/#writing-your-own-middleware), available from Django 1.10 and greater, should allow you to wrap the view in a context manager nicely (just wrap `get_response()`). That's an interesting option...

[2017-07-25 15:31] muffinresearch commented on #6000
@ValentinaPC ok, if this can be reproduced then we can look at it, if it's difficult to repro it's going to be difficult to debug.

[2017-07-25 15:59] #5986 closed

[2017-07-25 16:26] eviljeff opened #6004 "Add throttling to the Abuse API"
To prevent abuse, natch.

[2017-07-25 17:11] wagnerand commented on #5966
What we'd look for here specifically is removing the `trans` keyword or the `_()` shortcut from links to MDN, to make them non-localizable.

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: me (@wagnerand)

[2017-07-25 17:18] muffinresearch commented on #5589
This will be going away in Q4 so should be a low priority - if there's a fix in progress then it's ok to continue.

@tsl143 the fuzzy marker is there because the translation is a "fuzzy" match for the english key. This translation will not be used until a translator has a chance to update and fix the translation. When they do that they would typically remove the fuzzy marker. It's a useful feature

[2017-07-25 17:56] mstriemer commented on #5838
Andy is right. We didn't want the reviews section for an add-on to be all "Anonymous User" so the number is included to show that it is a specific user that hasn't set a username. We only use the first few digits from the random suffix in this username so it isn't too long.

Also as Andrew said the display name should be checked too. I think we use `name` on addons-server which is essentially `sel

[2017-07-25 19:00] eviljeff commented on #5592
Do we want to stop linking to profiles in certain _places_ (i.e. APIs) or try to selectively include the profile url in the API depending on the user?  Example:
user review page -  should we
a) exclude the url for all reviews?
b) only include the url for developer replies (developer of that add-on)
c) determine if the profile should be included by seeing if they are have any listed add-ons (they'r

[2017-07-25 19:04] eviljeff commented on #5592
@tofumatt for the api consumption

[2017-07-25 19:10] tofumatt commented on #5592
(c) is definitely the best option for the front-end–the API should be able to tell/mark a user as "having a public profile" and I think if it isn't public (eg will result in a 404) we shouldn't get it in the response. That would also allow for authenticated requests (admins or something) to get URLs in the response... rather than just never showing the info. If a developer leaves a review and they

[2017-07-25 20:44] eviljeff commented on #5592
The implementation isn't really more work - I can just change the main Serializer and every response gets the correct profile url, or not ... but I'm currently trying to avoid having to do an extra query for each review in the response because we don't store if a user is developer - it takes a query to find out.

[2017-07-25 20:57] akehsanz opened #6008 "where is Firefox Cookie Swap extension: https://addons.mozilla.org/firefox/3255/"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
I cannot find the Firefox Cookie Swap extension:
 https://addons.mozilla.org/firefox/3255/
### What happened?
just putting me here...
### What did you expect to happen?
go to there...
### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

how to fix

[2017-07-25 21:25] ericjung opened #6009 "Cannot search for 57+ addons *only*"
### Describe the problem and steps to reproduce it:

I want to search AMO for addons that only work with Firefox 57 or above (WebExtensions)
https://addons.mozilla.org/en-US/firefox/search/?platform=mac&appver=57.0

### What happened?

I used https://addons.mozilla.org/en-US/firefox/search/?platform=mac&appver=57.0, and AMO displayed addons that were compatible with Firefox 56 and earlier.

### Wh

[2017-07-25 22:17] diox commented on #6009
Yeah, there is an issue with app version filtering that I noticed today - essentially it does not work as expected. You can work around that by searching for the `firefox57` special tag that we add to all WebExtensions: https://addons.mozilla.org/en-US/firefox/search/?platform=mac&appver=57.0&tag=firefox57

This is tracked in https://github.com/mozilla/addons-server/issues/5277

[2017-07-25 22:18] diox commented on #6008
Your link is wrong, where did you get it ? The correct one is https://addons.mozilla.org/en-US/firefox/addon/3255/ which redirects to https://addons.mozilla.org/en-US/firefox/addon/cookieswap/

[2017-07-25 22:18] #6008 closed

[2017-07-26 08:23] ValentinaPC commented on #6000
@muffinresearch : If you want you may close this and I'll reopen as soon as I will reproduce it again.

[2017-07-26 09:17] SVSanta commented on #5986
Verified as fixed on AMO-dev FF54(Win 10).
Postfix screenshot:
![compatibility](https://user-images.githubusercontent.com/28138132/28613873-659c58ee-71fc-11e7-8461-2e30c825e98d.PNG)

[2017-07-26 09:25] SVSanta commented on #5998
Verified as fixed on AMO-dev FF54(Win 10).
Postfix screenshot:
![admin working](https://user-images.githubusercontent.com/28138132/28614173-84f5b09a-71fd-11e7-99ae-3925109bb8e6.PNG)

[2017-07-26 10:28] darktrojan opened #6014 "User reviews could include application version and OS"
Because people sometimes post useless reviews ("It's not working!"), any more information would be more useful to the developer, and maybe also to other users reading reviews. ISTR the Play Store lists the device and Android version with reviews.

[2017-07-26 10:29] ValentinaPC commented on #5637
@muffinresearch : I think that, maybe, because of the changes from Admin Tools and the VPN implementation, the "Find replacement" option is no longer working as explained above....for me is not working at all.
- I've added a replacement for an add-on in stage using this page: https://addons-internal.stage.mozaws.net/en-US/admin/staff-models/addons/replacementaddon/ but, while accessing the button

[2017-07-26 10:33] muffinresearch commented on #5637
@ValentinaPC the browser doesn't know what host you're pointing at, so it will always hit production for the replacement if you use the button in about:addons - I don't think there's a pref to change that. You'll need to try create the url manually to test it rather than hit the button.

[2017-07-26 10:35] ValentinaPC commented on #5637
@muffinresearch : I did this: "Go to addons list in the browser, click the find replacement link - change the host from production to https://addons.allizom.org/ and run the link on stage. You should see the replacement you specified." - but still not redirected as expected, as before the VPN change.

[2017-07-26 10:56] harry-7 commented on #5966
I would like to take up this task.

[2017-07-26 11:02] muffinresearch commented on #5637
The previous instructions only worked before the replacement tool was in production. Now to test in stage:

- Add a new guid to stage
- Go to https://addons.allizom.org/find-replacement/?guid=[GUID_YOU_WANT_TO_TEST]
- Check it redirects to where you expect it to.

[2017-07-26 11:05] diox opened #6016 "Stop hardcoding '99' as the maximum Firefox version ever possible"
In the [version compare code](https://github.com/mozilla/addons-server/blob/ddc439ca0cdf64b6569f36dbdf7c6cd64629e717/src/olympia/versions/compare.py), the [search code](https://github.com/mozilla/addons-server/blob/f74cf659602a1c4f066a537ba52c8d620111cda1/src/olympia/search/views.py#L580-L582) and the [applications definition](https://github.com/mozilla/addons-server/blob/ddc439ca0cdf64b6569f36dbd

[2017-07-26 11:20] diox commented on #6016
Note: the `AddonIndexer` uses 9999 as the maximum value instead. Currently `version_sidebar()` used to display the app version facets sidebar converts it to `99` and excludes it because it's in the app's `exclude_versions`. When fixing this issue, be careful about that, we don't want to suddenly show "Firefox 9999' in the sidebar as one of the possible versions to filter on...

[2017-07-26 11:20] EnTeQuAk commented on #5994
https://addons-dev.allizom.org/en-US/firefox/shield_study_16 is the page this added, this looks great and I think that @gregglind and co are testing these too.

[2017-07-26 12:15] SVSanta opened #6018 ""Admin Tools" issue on STG and DEV"
Steps to reproduce:

1. Connect to the Mozilla VPN.
2. Login with any admin user.
2. Click on "Tools>Admin Tools".

Expected results:
The "Admin Tools" button is not displayed or the button redirects to the: "https://addons-internal.dev.mozaws.net/" and "https://addons-internal.stage.mozaws.net/" links.

Actual results:
A 404 page is displayed after clicking the "Admin Tools" button.

Notes/Issues

[2017-07-26 13:34] #5464 closed

[2017-07-26 14:05] ValentinaPC opened #6020 "500 error page while adding "Notes" from Manage User page"
Prerequisites:
Being logged with an admin account.

Steps to reproduce:
1. Load Manage User page i.e. https://addons-dev.allizom.org/en-US/firefox/users/edit/2392246
2. Type a "Reason for change" and "Notes"
3. Click "Update Account" button

Expected results:
Account is updated or a message is displayed.

Actual results:
An "Oops..." page is loaded.

Notes/Issues:
- issue is also reproduced using

[2017-07-26 14:30] muffinresearch commented on #6000
@ValentinaPC Ok lets do that. Thanks!

[2017-07-26 14:37] EnTeQuAk commented on #5966
@harry-7 go for it! Please let us know if the information in the issue helps or if you need anything else.

[2017-07-26 14:40] diox commented on #5277
@jvillalobos spent a lot of time trying to figure out the current compatibility code and I know have the beginning of a plan, but I need your approval on this:

- Fix search filtering on app version : filter out extensions with min version higher than app version or (if strict compatibility is enabled) max version lower than app version
- Default to disabling version compatibility filters entirely

[2017-07-26 14:46] EnTeQuAk commented on #6001
My action plan here is the following: I'd like to remove `setuptools` from `requirements/prod.txt` since we are explicitly installing and upgrading it in our `Dockerfile` and there's no inherit need to keep it up-to-date, on-build is perfectly fine.

We do explicitly install the latest version of pip and setuptools in every docker container right now anyway.

On the other hand, there's a very good

[2017-07-26 14:51] ValentinaPC commented on #5595
Please add some STR for us to check this or the label "qa: not needed".
Thanks in advance!

[2017-07-26 16:29] jvillalobos commented on #5277
The list looks good. Just one note:

Some legacy add-ons may already have strict compatibility set with a max version that is lower than 56.*, so we should respect it in those cases.

That's okay with me, but I will need a heads up for when this will happen in case we need to publish something about it.

[2017-07-26 16:32] eviljeff commented on #5955
We could change the algorithm to generate up to 999 I guess... but that's not really a fix.

As discussed in the meeting, I think the fix involves being smarter about allocating slugs based on the name to addons that have only unlisted versions.  We could:
* not allocate a slug at all (bad idea, as all our code expects one for non-deleted addons)
* give it a numeric slug equal to the add-on ID.  (

[2017-07-26 17:04] ValentinaPC commented on #6000
I managed to reproduce this as follows:
1. Create a new clean Nightly profile
2. Install https://addons.mozilla.org/en-US/firefox/addon/user-agent-switcher/ (set `extensions.allow-non-mpc-extensions` pref on true if not able to install it)
3. Change the default user agent
4. Change the Disco Pane to point to -dev (not reproducing for -stage Disco Pane redirect)
5. Uninstall the add-on
 ..... ta da

[2017-07-26 18:09] jvillalobos commented on #6014
Reviews aren't meant to be used for support or bug reports. Adding metadata to a review that is in itself useless (and probably will be deleted by a moderator) probably won't add much for the developer to act upon.

We plan to unify the feedback UI so users are better aware of their options (review, get support, report abuse) and hopefully avoid all the misreporting we get now. I'd rather not add

[2017-07-26 18:12] eviljeff commented on #6001
remind me why we have to install setuptools in the docker container before `install_deps`?

[2017-07-26 18:28] EnTeQuAk commented on #6001
We don't have to do that explicitly, generally only installing / upgrading pip to the latest version suffices. That'll usually pull an up-to-date version of setuptools though.

[2017-07-26 20:53] eviljeff commented on #6004
@jvillalobos what limits should we put on the abuse API?  And should they apply to everyone*?

e.g. a user is limited to 1 abuse report per minute.  Or should it be like 10 an hour? or 20 a day?  (you get the idea)

* everyone meaning both an authenticated user and an anonymous user (identified by their IP address for uniqueness)

[2017-07-26 21:15] jvillalobos commented on #5989
Just to clarify scope, we're referring to the categories for extensions on desktop and Android, right?

Other categories, which presumably are out of scope:
* Thunderbird and SeaMonkey: we plan to move to a separate site.
* Dictionaries and Language Packs: they have a single category per application, but that's just an implementation detail for not having categories.
* Themes and Complete Themes:

[2017-07-26 21:19] eviljeff commented on #5592
The compromise I came up with skips the full database query in a few places:
* we assume all authors of an add-on are a developer (obvious) so include the url
* we assume all replies to a review are from a developer so include the url, because only they can reply.
* we assume all reviews _aren't_ from a developer, because they shouldn't (can't?) write a review on their own add-on, so don't include

[2017-07-26 21:21] tofumatt commented on #5592
But I would *want* a review from a developer to shown a link to their profile. To start with, it's good to link across pages on the site, but also I think giving a developer who is probably more of an advanced user special treatment (and also a bonus link to their profile to advertise their own add-ons) is a good thing.

[2017-07-26 21:21] eviljeff commented on #5592
The test is basically
[code]

[2017-07-26 21:29] eviljeff commented on #5592
I don't agree with your conclusion that submitting an add-on (literally **any** add-on) makes you inherently more worthy of special treatment.  Even if so, we're talking an extra query per review.  So 25 extra database queries per 25 reviews returned in a page (the current serializer takes up to 7, depending on replies.  So up to 32)

[2017-07-26 21:35] tofumatt commented on #5592
The link to a developer account drastically improves trust/verification though. Let's say I change my display name to AgileBits or some other prominent developer's name and start posting reviews. The link to the profile will allow someone to see if it's the real developer or not.

[2017-07-26 21:35] tofumatt commented on #5592
I mean I guess that's an issue in general... without links to profiles the effort to impersonate someone has gone way down.

[2017-07-26 23:02] jvillalobos commented on #5955
Long term, I think the solution is to make the slug optional, and only available to add-ons with listed versions (the aforementioned _bad_ idea). This requires a bunch of work, like making all developer and reviewer pages work exclusively with the numerical ID instead of the slug, which we should do anyway IMO. The slug is mutable and we shouldn't be relying on it for any internal workings. We mig

[2017-07-26 23:07] bqbn commented on #5209
I was checking the logs of the new elasticsearch cluster and see a lot warnings such as

[code]
Not sure if this means we should change to use `excludes` everywhere `exclude` is used.

Just FYI.

[2017-07-27 06:33] cosminbadescuSV opened #6026 "The AMO -dev server returns 502"
### Describe the problem and steps to reproduce it:
Access https://addons-dev.allizom.org/ with a new profile.

### What happened?
A 502 error message is displayed.

### What did you expect to happen?
The page from https://addons-dev.allizom.org/ should be displayed without any issues.

### Anything else we should know?
This issue is reproducing constantly on AMO-dev server.
Verified on Firefox 56

[2017-07-27 08:45] ValentinaPC opened #6027 "No "Up and Coming" themes in some pages for some categories"
Steps to reproduce:
1. Load themes Websites category i.e. https://addons.allizom.org/en-US/firefox/themes/websites
2. Click on "View All Up & Coming" link https://addons.allizom.org/en-US/firefox/themes/websites?sort=up-and-coming
3. Navigate between pages

Expected results:
There are no display or layout issues.

Actual results:
No results displayed in page 3 and after.

Notes/Issues:
- same resu

[2017-07-27 10:12] #6009 closed

[2017-07-27 10:17] diox commented on #6009
QA: what has been fixed here is only the version filtering in the sidebar (altering max version for legacy extensions is covered in another issue). The versions displayed in the sidebar should depend on the search results themselves, and picking a version should refine the results and only show you add-ons which are compatible (*) with the version you picked.

(*) Where compatible means:
 - The ad

[2017-07-27 10:51] diox opened #6028 "Remove compatibility popup message and "Install Anyway" option"
When an add-on is deemed incompatible with your current app (e.g. Firefox) version, but you still have the right app (usually because the add-on has enabled strict compatibility, which is not the default), the install button is greyed out and a message saying that the add-on is not compatible with your version appears.

Depending on the reason behind the incompatibility, we can display a small "?"

[2017-07-27 11:58] eviljeff commented on #5592
Lets say you change your name to AdblockPlus, upload a theme, and start posting AdblockPlus reviews.  The fact you have a linked profile makes it _more_ misleading.  You could have your malware infested fork listed in your profile too.  If only the developers of that add-on, and admins, had profile links it would indicate if it was one of the developers.

[2017-07-27 12:06] eviljeff commented on #5592
@jvillalobos had it in the Desktop Scoping PRD so he'll can make the call 😛
If it's desirable to link to account profiles in all reviews then that's what we'll do, and have to work out how to optimize the database queries (or live with the inefficiency).

[2017-07-27 14:20] tofumatt commented on #5592
Hmmm, neat idea. Eventually we might want some kind of "verified developer badge" or whatever but now I'm way off topic.

Okay your point convinced me, your way sounds good! Only he add-on's developer gets a link in reviews. 👍🏻

- Matthew Riley MacPherson (sent from mobile)

[2017-07-27 14:21] eviljeff commented on #6004
I did 1 per minute, regardless of authenticated or not.  Can be changed.

[2017-07-27 14:34] ValentinaPC opened #6030 "Search is unavailable in Admin page"
Steps to reproduce:
1. Load Admin Tools page i.e. https://addons-internal.stage.mozaws.net/en-US/admin/
2. Make a search after add-on name or ID

Expected results:
A list of add-ons is displayed.

Actual results:
Search is unavailable.

Notes/Issues:
- not reproducing on -dev
- reproducing also from Server Tools - Manage Elastic Search - https://addons-internal.stage.mozaws.net/en-US/admin/elastic

[2017-07-27 14:51] ValentinaPC opened #6031 ""Log out" from Admin Tools is returning a 500 error page"
Steps top reproduce:
1. Load a page from Admin Tools where you have a Log out link i.e. https://addons-internal.stage.mozaws.net/en-US/admin/models/access/group/
2. Click on "Log out"

Expected results:
User is logged out.

Actual results:
An 500 error page is displayed.

Notes/Issues:
- "View site" link is working as expected
Verified on FF54(Win 7). Issue is reproducing for dev and stage.
Video

[2017-07-27 15:18] vcarciu commented on #5015
The emails are still not threaded(sent many developer replies and they are still sent in separate threads). I added the details of messages received today :
[original_msg(4).txt](https://github.com/mozilla/addons-server/files/1180408/original_msg.4.txt)
[original_msg(5).txt](https://github.com/mozilla/addons-server/files/1180409/original_msg.5.txt)
[original_msg(6).txt](https://github.com/mozilla/

[2017-07-27 15:19] EnTeQuAk commented on #5008
Related to https://github.com/mozilla/addons-server/issues/5964

[2017-07-27 15:23] muffinresearch commented on #4547
Closing this since we're not currently planning to action it. However, we may revisit this in the future depending on the direction reviewer tools goes in.

[2017-07-27 15:23] #4547 closed

[2017-07-27 15:26] muffinresearch commented on #3947
I don't think we need this any more, please reopen it if we do.

[2017-07-27 15:27] jvehent commented on #5964
@g-k and @peterbe have evaluated options for socorro and can probably contribute their findings here.

[2017-07-27 15:30] wagnerand commented on #3947
@muffinresearch are we going to remove that information from the API?

[2017-07-27 15:36] wagnerand commented on #5015
😩

Can we maybe set the message-id manually? We're referencing emails like <494585/1532646@addons-dev.allizom.org> but I don't see where we'd ever set such a message-id.

[2017-07-27 15:40] kumar303 commented on #3492
In a triage meeting we decided not to fix this even though we acknowledge that our API is not up to spec. The problem with changing it is that we'd need to also patch [web-ext](https://github.com/mozilla/web-ext) and [sign-addon](https://github.com/mozilla/sign-addon/) as well as write a blog post so that all developers using our API know to change their existing scripts and applications. Thanks f

[2017-07-27 15:40] #3492 closed

[2017-07-27 15:43] muffinresearch commented on #3138
Closing this since we have no immediate plans to extend the admin api endpoints, we can simply use the django admin for this. We can always reopen this if that changes.

[2017-07-27 15:43] #3138 closed

[2017-07-27 15:51] muffinresearch commented on #1642
We're working on solutions to related issues separately now so closing this one.

[2017-07-27 15:51] #1642 closed

[2017-07-27 15:55] muffinresearch commented on #3345
Let's check and see if we can move this to an admin page rather than exposing this as content mixed into the front-end display.

[2017-07-27 15:56] muffinresearch commented on #3345
@jvillalobos was there a specific use-case for this view on the data, since reviewer tools has some of this data already?

[2017-07-27 16:02] muffinresearch commented on #1050
Relates to #3610

[2017-07-27 16:11] muffinresearch commented on #958
Closing this on the basis that it doesn't seem to be a regularly recurring problem and there's no obvious action to carry out.

[2017-07-27 16:11] #958 closed

[2017-07-27 16:15] muffinresearch commented on #834
Keeping this open to figure out all the apis used in Firefox and to work out what the replacements would be.

[2017-07-27 16:19] kumar303 commented on #6026
There was a problem with the cryptography library which was fixed in https://github.com/mozilla/addons-server/pull/6025 Dev should be functioning again. Sorry about that.

[2017-07-27 16:19] #6026 closed

[2017-07-27 16:36] jvillalobos commented on #3345
We don't need to expose if a review is up for moderation in the user UI, and there's a review moderation tool in the reviewer tools, so I don't think we need a separate admin tool either.

[2017-07-27 16:38] diox opened #6033 "Implement new post-review weights"
Follow-up of https://github.com/mozilla/addons-server/issues/5475 : some new weights need to be implemented once the linter supports them.

Need to follow this list: https://github.com/mozilla/addons-linter/issues?utf8=%E2%9C%93&q=label%3A%22project%3A%20auto%20approval%22%20

We need:
* [x] <script> tag with a remote URL - mozilla/addons-linter#1321 (weight: 40)
* [x] Violate the Mozilla Conditio

[2017-07-27 16:43] jvillalobos commented on #6004
20 a day sounds okay to me. Someone doing bulk reporting (say, for spam) may run into a 1-per-minute limit.

[2017-07-27 16:54] eviljeff commented on #2000
@mstriemer can remember any more context on this?  Is it common occurrence?

[2017-07-27 17:07] mstriemer commented on #2000
I'm not sure how common it is. Seems like an edge case but we allow users to recreate deleted add-ons on the site so seemed like something we should support.

[2017-07-27 17:08] eviljeff commented on #2000
but we _do_ allow users to re-submit deleted add-ons under the same guid, as long as it's the same user.

[2017-07-27 17:11] mstriemer commented on #2000
Through the API? That's what this was for.

[2017-07-27 17:11] eviljeff commented on #2000
yep.  Already fixed then 🎉

[2017-07-27 17:11] #2000 closed

[2017-07-28 06:37] cosminbadescuSV commented on #6026
This issue is verified as fixed on Firefox 56.0a1 under Wind 7 64-bit.

Please see the attached video:
![fixed502](https://user-images.githubusercontent.com/15885467/28705421-57ae4882-7378-11e7-9144-20b1e5194009.gif)

[2017-07-28 07:28] ValentinaPC commented on #5815
Verified as fixed on AMO-prod FF54(Win 7)
Postfix screenshot:
![untitled](https://user-images.githubusercontent.com/15685960/28707061-874860da-737f-11e7-837a-d78061cdb1ca.png)

[2017-07-28 08:34] ValentinaPC commented on #6009
@diox : a couple or questions:
- `sidebar` is the "Filter Results" menu?
- `versions` are the Firefox versions you can select from the filter menu?
- I cannot submit an add-on with `maxversion` over 53, so even if I have `strict compat` set, I cannot put a `maxversion` over the ones listed in the filter menu - 54, 55, 56, 57...so the add-on will not be listed through results, nu?

Thanks in advanc

[2017-07-28 09:04] diox commented on #6009
- `sidebar` is the "Filter Results" menu?
- `versions` are the Firefox versions you can select from the filter menu?

Yes to both

- I cannot submit an add-on with `maxversion` over 53, so even if I have `strict compat` set, I cannot put a `maxversion` over the ones listed in the filter menu - 54, 55, 56, 57...so the add-on will not be listed through results, nu?

I don't follow. What's listed in

[2017-07-28 09:20] ValentinaPC commented on #6009
How do I find add-ons compatible with older FF versions?

[2017-07-28 09:43] diox commented on #6009
It's not easy to do - the sidebar is meant to refine results, so that can't help you do that (it sucks, I know - IMHO the functionality is almost useless to end-users)

Your best bet is to find an existing legacy add-on and upload a new version (and approve it) with the restrictions that you want regarding compatibility.

[2017-07-28 12:18] ValentinaPC commented on #6009
**Case 1:**
- new version for https://addons-dev.allizom.org/en-US/firefox/addon/video-downloader-player/?src=search
- `strictcompatibility` set
- `maxversion` is 36 - lower than selected from the sidebar (54)
Results: the add-on is still displayed, but on grey, is this ok? shouldn't be removed entirely?

**Case 2:**
- new version for https://addons-dev.allizom.org/en-US/firefox/addon/firebug/?src

[2017-07-28 12:39] ValentinaPC commented on #6009
I think that was he problem! Things seem to work as expected for both Case 1 and 2.

Could you please select "Firefox 56" from the sidebar and see if Case 3 is working as expected?
Thanks!

[2017-07-28 12:43] diox commented on #6009
Case 3 seems to be working properly: when selecting 56.0 I see it, when selecting 54.0 I do not

(pro tip: you can manually set a version that is not displayed in the sidebar by manipulating the URL. So for instance this searches for anonymox using Firefox 54.0: https://addons-dev.allizom.org/en-US/firefox/search/?q=anonymox&platform=all&appver=54.0&page= )

[2017-07-28 13:01] ValentinaPC commented on #6009
It is ok to be grey? because of the value of the **minversion**, yes?

Thanks for the tip :)

[2017-07-28 13:27] diox commented on #6009
I'm using nightly (56), so it's not greyed out for me (it's marked as experimental, so I see yellow&black stripes)

Using release (54), it is indeed greyed out when it appears in search results (because I forced it through changing `appver` in the URL) - as expected, since it's not compatible with the actual version of Firefox I'm using.

[2017-07-28 13:32] ValentinaPC commented on #6009
I was also using FF54. I thought that the search will be refined while changing the filter option from the sidebar and the results will not care about the version browser that I am using, but only about what I've selected.

So, it seem like, everything works here, as you expect, yes?

[2017-07-28 13:40] diox commented on #6009
The results being returned or filtered out depend entirely on the sidebar (and the version pre-selected initially in the sidebar is your current version). But when displaying each result, the version of the browser you are using is used to determine whether or not you can install it and show you the appropriate button.

To give another example: you could technically search for Firefox 54 compatibl

[2017-07-28 13:44] ValentinaPC commented on #6009
Thanks fro clarification!
I think we can follow the other dependencies, and mark this as verified-fixed.

[2017-07-28 17:16] #6004 closed

[2017-07-28 17:27] eviljeff opened #6042 "make the accounts API 404 for non-developer users"
..., except for admins and your own account
part of #5592

[2017-07-28 17:33] jvillalobos opened #6043 "Admin ACR Reports dashboard is down with "Search Unavailable" message"
If I go to https://addons-internal.prod.mozaws.net/en-US/admin/compat, I get an error page with the message "Search Unavailable". This page displays reports from the Add-on Compatibility Reporter, and it's used to identify add-ons with recent compatibility problems.

It was working recently, so this might be related to the move to the internal server behind the VPN (cc @jasonthomas).

[2017-07-28 17:44] eviljeff opened #6044 "Stop including links to the user account profile on other pages."
part of #5592
This is relating to addons-server pages, so primarily devhub, but probably reviewer tools too (as standard reviewers currently aren't 'admin enough' to see everyone's account profile pages).  No need to change existing user facing pages as the account profile will only be unavailable on the new front-end.

[2017-07-28 17:55] wagnerand commented on #6043
Same error message as #6030.

[2017-07-28 17:57] caitmuenster commented on #5600
Brian Smith just advised that we revise the opt-in language from "stay up-to-date with news and events relevant to add-on developers" to "stay up-to-date with news and events relevant to add-on developers (including the about:addons newsletter).

Any chance we could get this patched by Aug 2?

[2017-07-28 18:02] caitmuenster commented on #5600
Per @eviljeff's advice, I'm opening a new issue.

[2017-07-28 18:02] #5600 closed

[2017-07-28 18:04] caitmuenster opened #6045 "Update text for developer profile notification box "news and events""
Brian Smith just advised that we revise the opt-in language from "stay up-to-date with news and events relevant to add-on developers" to "stay up-to-date with news and events relevant to add-on developers (including the about:addons newsletter).

Any chance we could get this patched by Aug 2 (next issue send date)?

**11:11am PST edit: No need for an unscheduled push -- it's ok if this goes throug

[2017-07-28 18:26] eviljeff commented on #6043
I can replicate this locally too so it's not VPN related

[2017-07-28 18:27] mw-ding opened #6046 "Invalid strict_min_version causes silent upload failure (can't select platform)"
### Describe the problem and steps to reproduce it:

1. upload my add-on package
2. get some warnings after the validation process
3. **[This is when the problem happen]** cannot select the platform checkboxes, because they are all disabled
4. click the "continue" button but got error in submit the add-on

![error](https://discourse-paas-production-content.s3.amazonaws.com/original/2X/6/644487f4b6

[2017-07-28 20:14] bqbn commented on #6043
This is because the ES hostname isn't configured correctly on the internal instances. I just filed a PR for this, which should fix it by next release.

[2017-07-28 21:21] jvillalobos commented on #6046
Can you attach or point to the file you're trying to upload?

[2017-07-29 01:14] mw-ding commented on #6046
@jvillalobos can you leave me an email address so that I can only share it with you?

[2017-07-29 07:42] #5647 closed

[2017-07-29 17:29] jasonthomas commented on #6043
This should be fixed on prod now.

[2017-07-29 19:32] yfdyh000 opened #6048 "[ideas] Filter add-ons permissions during search"
Expect to happens:
1. Indexing and allows to filter ["permissions"](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/permissions) during search.
2. Show popular permissions on the sidebar of the search page (like filtering "Compatible for"), allowing click them to add filter to query, like permissionsHas() and permissionsNot().
3. In addition, I hope combinable filters to re

[2017-07-30 04:12] tsl143 opened #6049 "Review mails to addon developer doesnt contain the review comment"
### Describe the problem and steps to reproduce it:
A user reviewed an addon, the mail was sent to addon developer.

### What happened?
The mail received was not having the actual review comment

### What did you expect to happen?
The mail should have the review comment.

### Anything else we should know?
<img width="563" alt="screen shot 2017-07-30 at 9 39 30 am" src="https://user-images.githubus

[2017-07-30 13:59] wagnerand commented on #6030
@ValentinaPC This should have been fixed in https://github.com/mozilla-services/cloudops-deployment/pull/963. Could you please re-check?

[2017-07-30 13:59] #6030 closed

[2017-07-31 08:05] ValentinaPC commented on #6030
Verified as fixed on AMO - stage FF54(Win 7).
Search is working as expected using https://addons-internal.stage.mozaws.net/en-US/admin/
Postfix video:
![search in stage](https://user-images.githubusercontent.com/15685960/28768392-224798f0-75e0-11e7-8082-67c53eed3639.gif)

[2017-07-31 08:40] ValentinaPC commented on #6043
Verified this on AMO-dev FF54(Win 7).
The page indicated in the first comment is still not working on -dev (works on -stage) even if the #6030 was fixed.
Screenshot from dev:
![compat](https://user-images.githubusercontent.com/15685960/28769548-ab60f4e8-75e4-11e7-8f90-190c112bae9b.png)

Reopening until further notice.

[2017-07-31 09:15] ValentinaPC opened #6053 "Unable to search past page ~1250 of results"
Steps to reproduce:
1. Make an empty search on AMO-dev https://addons-dev.allizom.org/en-US/firefox/search/?q=&appver=54.0&platform=windows
2. Go to last page

Expected results:
Last page is loaded without any issues.

Actual results:
An "Search Unavailable" page is loaded. 503 error in the console.

Notes/Issues:
- issue is reproducing on both -dev and -stage

Verified on AMO-dev Ff54(Win 7).
Vid

[2017-07-31 09:31] diox commented on #5591
This popup will go away in #6028

[2017-07-31 09:31] #5591 closed

[2017-07-31 09:37] diox commented on #1879
This should have been fixed some time ago, I believe in https://github.com/mozilla/addons-server/commit/188b5099789d6bbc1463a8eccedfe67dd1ffb061

[2017-07-31 09:37] #1879 closed

[2017-07-31 09:42] #6045 closed

[2017-07-31 09:47] diox commented on #6031
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/623664/

The `django/contrib/admin/templates/registration/logged_out.html` template is parsed using django-jinja and not django template engine. It's just a matter of updating `JINJA_EXCLUDE_TEMPLATE_PATHS` to include `registration\/`.

[2017-07-31 10:02] diox commented on #6053
There are too many results: https://sentry.prod.mozaws.net/operations/olympia-stage/issues/631649/

In aff92bc15e1533ceb334760a01c48529803b8383 I added something in the API to handle this... and I just realized we have 2 implementations of `ESPaginator`, one with the fix (the API) and one without...

[2017-07-31 10:12] eviljeff opened #6056 "refine which users are "developers"; which users can see all user account profiles"
part of #5592

Currently `UserProfile.is_developer` is defined as a user that has _any_ type of add-on associated with them, (owner, developer, viewer, 'listed' or not), that is not deleted, regardless of status.  Only users that are `is_developer` will have their profiles publicly viewable by all.

Users that will be able to see any user account profile (admin-ish) have `Users:Edit`.

Do either o

[2017-07-31 10:17] diox commented on #6053
We should replace `amo.utils.ESPaginator` by `api.paginator.ESPaginator` but first, @bqbn, can you check what's the value of `index.max_result_window` setting in ES ? It should be 25000. See https://www.elastic.co/guide/en/elasticsearch/reference/current/index-modules.html#dynamic-index-settings

[2017-07-31 10:34] ValentinaPC commented on #1879
Verified as fixed on AMO-dev FF54(Win 7)
Postfix video:
![reply](https://user-images.githubusercontent.com/15685960/28774136-ee1ef248-75f4-11e7-8acd-0d1dc4f8cfd9.gif)

[2017-07-31 10:39] ValentinaPC commented on #6045
@eviljeff : can you please point out the page where the changes were made?
Thanks!

[2017-07-31 10:41] eviljeff commented on #6045
https://addons-dev.allizom.org/en-US/firefox/users/edit in the notifications section at the bottom

[2017-07-31 11:05] #4947 closed

[2017-07-31 11:16] #6031 closed

[2017-07-31 11:32] ValentinaPC commented on #6045
Verified as fixed on AMo-dev FF54(Win 7);
Postfix screenshot:
![2017-07-31_1424](https://user-images.githubusercontent.com/15685960/28775745-45b67e84-75fc-11e7-822f-61aa764fc6f0.png)

From some users there is a "new" label after the notification options, why is that?
![new](https://user-images.githubusercontent.com/15685960/28775953-22a11ebc-75fd-11e7-8ea1-8e1070a67b31.png)

Thanks!

[2017-07-31 11:45] ValentinaPC opened #6057 "Special chars make navigation through search results inconsistent"
Steps to reproduce:
1. Load AMO homepage https://addons.mozilla.org/en-US/firefox/
2. Type a special char in the search field i. e. "@" and make a search
3. Change filter menu option to "Any Firefox" and "All Systems"
4. Navigate to next page

Expected results:
Results are listed.

Actual results:
No results found.

Notes/Issues:
Verified on FF54(Win 7). Issue is reproducing on all AMO servers.
Vi

[2017-07-31 11:55] eviljeff commented on #6045
It's shown when the notifications are being set for the first time.

[2017-07-31 12:00] ValentinaPC commented on #4947
Verified this on AMo-dev FF54(Win 7) for:
- themes
![2017-07-31_1450](https://user-images.githubusercontent.com/15685960/28776716-78a0fe74-7600-11e7-89fd-30f9d2d00c89.png)
- add-ons
![2017-07-31_1458](https://user-images.githubusercontent.com/15685960/28776766-c934cc1c-7600-11e7-8aaf-122847cfe16d.png)
- statistics
![2017-07-31_1458_001](https://user-images.githubusercontent.com/15685960/28776773-d

[2017-07-31 12:07] ValentinaPC commented on #6045
I did not change anything, just accessed the page.

[2017-07-31 12:17] diox commented on #979
Note that we removed indexing users in #6017 because no code was using it. If we ever end up implementing this, we'll need it back.

[2017-07-31 12:18] ValentinaPC commented on #6031
Verified as fixed on AMO-dev https://addons-internal.dev.mozaws.net/en-US/admin/models/ using FF54(Win 7) - log out is working as expected.
Postfix video:
![logout](https://user-images.githubusercontent.com/15685960/28777395-8b19383e-7603-11e7-8a3f-80e18a74f504.gif)

[2017-07-31 12:25] diox commented on #6057
See also https://github.com/mozilla/addons-server/issues/3248

[2017-07-31 12:27] diox commented on #4129
Is this still relevant? This isn't on our radar for 57 and as @jvillalobos said it seems very edge-casey.

[2017-07-31 12:32] ValentinaPC commented on #3765
This is also happening from the new Admin Tools page: https://addons-internal.dev.mozaws.net/en-US/admin/.
Video:
![admin](https://user-images.githubusercontent.com/15685960/28777816-5495ba4c-7605-11e7-8ad5-cb3272733249.gif)

Maybe now... worth fixing?

[2017-07-31 13:01] muffinresearch commented on #6027
@diox @EnTeQuAk any ideas about this one?

[2017-07-31 13:14] diox commented on #6027
The count in this page is hardcoded for performance reasons, and sometimes wrong depending on the popularity of themes.

See https://github.com/mozilla/addons-server/blob/11748c0f70e5aa630bd68bb554b7a6b5106eb7b0/src/olympia/browse/views.py#L307-L313 and https://github.com/mozilla/addons-server/blob/11748c0f70e5aa630bd68bb554b7a6b5106eb7b0/src/olympia/browse/views.py#L244-L247

This is not a new bu

[2017-07-31 13:21] diox commented on #3345
Closing as wontfix for now then.

[2017-07-31 13:21] #3345 closed

[2017-07-31 13:23] ValentinaPC commented on #6027
I've added the label P2 just considering that any user can run into this issue. :)
But, you are entitle to do as you think is more correct.

[2017-07-31 13:26] #6028 closed

[2017-07-31 13:30] ValentinaPC commented on #6045
This can be marked as verified-fixed.
Thaks, @eviljeff !

[2017-07-31 13:58] jasonthomas commented on #6043
The ES host configuration is correct on dev and other search functionalities work. Is the /admin/compat area failing because we are missing data in elasticsearch?

[2017-07-31 14:01] EnTeQuAk opened #6060 "Fix ElasticSearch 5 deprecation warning"
`[2017-07-26T14:11:16,878][WARN ][o.e.d.c.ParseField       ] Deprecated field [exclude] used, expected [excludes] instead`

https://github.com/mozilla/addons-server/issues/5209#issuecomment-318208925

Not blocking release since it continues to work. Would be nice to fix though.

[2017-07-31 14:04] diox commented on #6043
That would be my guess as well. @jvillalobos is it working in prod?

[2017-07-31 14:14] #3438 closed

[2017-07-31 14:18] ValentinaPC commented on #5591
This was fixed by removing the popup in #6028 .
Marking verified fixed.
Postfix screenshot:
![fr](https://user-images.githubusercontent.com/15685960/28781902-4baaa154-7614-11e7-9b0f-040ab43dad2a.png)

[2017-07-31 14:21] EnTeQuAk commented on #5209
So, this got merged now and is on -dev and -stage. Apparently I did not add a proper "fixed" message to the commit.

[2017-07-31 14:21] #5209 closed

[2017-07-31 14:37] ValentinaPC opened #6061 ""Continue to download" button is not working for incompatible add-ons"
Steps to reproduce:
1. Set contribution roadblock for an incompatible with you FF version add-on i.e. https://addons-dev.allizom.org/en-US/firefox/addon/pearl-fiber/
2. Click on "Continue to download" button

Expected results:
Button is working and redirects to "Meet add-on developer" page.

Actual results:
Button is not working.

Notes/Issues:
Verified on AMO-dev Ff54(Win 7).
Video fro this issue

[2017-07-31 14:44] ValentinaPC opened #6062 "Small display issue for incompatibility message at hover"
Steps to reproduce:
1. Hover over an incompatible add-on in a category page or in "versions history" page i.e. https://addons-dev.allizom.org/en-US/firefox/addon/who-is-this-person/versions/

Expected results:
Text is aligned.

Actual results:
Text is not aligned.

Notes/Issues:
Verified on AMO-dev FF54(Win 7).
Screenshots for this issue:
![allvers](https://user-images.githubusercontent.com/156859

[2017-07-31 14:54] diox commented on #6061
This is an interesting edge case. Not sure what to do in this scenario. Letting the user continue to the roadblock page feels wrong, they should not be able to install the add-on anyway. Maybe just change the message, leaving "Add to Firefox" and greying out the button as normal? IMHO there is no point in showing the roadblock page at all if the add-on version we're linking to is incompatible.

[2017-07-31 14:57] muffinresearch commented on #6061
I don't know that anything needs to be done for this case. @jvillalobos what do you think?

[2017-07-31 15:01] diox commented on #6062
I'll find a way to remove the "View other versions" text when you're already on the versions page. And try to do something for the homepage as well...

[2017-07-31 15:14] ValentinaPC opened #6064 "HTML User details are not rendered correctly in "Meet add-on_name developer" page"
Steps to reproduce:
1. Load Edit Profile page and add some accepted HTML code in Details section https://addons-dev.allizom.org/en-US/firefox/users/edit
2. Save the changes
3. Create a developer profile in Dev Hub and access the page "Meet add-on_name developer" page i.e. https://addons-dev.allizom.org/en-US/firefox/addon/popup-incompat/developers
4. Observe "Who is developer_name?" section

Expec

[2017-07-31 15:19] ValentinaPC commented on #3438
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-07-31 15:51] harry-7 opened #6066 "make initialize_docker fails"
I followed the steps listed in [install docs](https://addons-server.readthedocs.io/en/latest/topics/install/docker.html) for setting up development environment with docker. When I was executing `make initialize_docker` it failed with the following error.
[code]

This is detailed log.
[log.txt](https://github.com/mozilla/addons-server/files/1188084/result.txt)

[2017-07-31 16:36] #5592 closed

[2017-07-31 17:29] bqbn commented on #6053
`index.max_result_window` was using the default value `10000`, and I've just set it to `25000`.

@diox, why 25000 and not other value?

[2017-07-31 18:20] eviljeff opened #6067 "Change submission upload step to allow application selection"
We currently only allow changing platforms during upload, with the option to switch between **All** and explicitly specifying **Windows**, **Linux**, **MacOS**, **Android**.  So there is no way to specify that the add-on supports all Firefox Desktop applications, but not Firefox for Android.

In the past this wasn't required because the developer had to specify which applications their add-on supp

[2017-07-31 19:08] diox commented on #6053
@bqbn : 25000 is slightly higher than the number of public add-ons we have, so this allows all pages of an empty search with no filters to work.

[2017-07-31 19:35] mw-ding commented on #6046
@jvillalobos ping?

[2017-07-31 20:54] jvillalobos commented on #6049
I haven't had this problem before. It's possible that the review was submitted initially without text and later edited. This needs reliable steps to reproduce.

[2017-07-31 21:05] jvillalobos commented on #6046
You can send it to amo-admins AT mozilla DOT org, or jorge AT mozilla DOT com.

[2017-07-31 21:07] jvillalobos commented on #6061
Agree with @diox. It'd be nicer to show the normal button, disabled.

[2017-07-31 21:09] jvillalobos commented on #6043
Yes, it's working on prod now.

[2017-07-31 21:12] jvillalobos commented on #4129
Probably not worth the effort. The devs I've talked to are aware they need to give users time to switch over.

[2017-07-31 21:12] #4129 closed

[2017-07-31 21:31] jvillalobos commented on #6056
For profile visibility, I would prefer that to be limited to:

1. Users with an owner or developer role
2. in a listed add-on
3. that is not deleted (doesn't matter other status)

Is your suggestion that we change the meaning of `UserProfile.is_developer`? Where else is it used?

[2017-07-31 21:40] #6043 closed

[2017-07-31 23:34] jvillalobos opened #6069 "Simplify Contributions feature"
This is a tracking issue for the changes to the Contributions feature, as specified in [this document](https://docs.google.com/document/d/1DjXQbl_hZlRe4bqE9B-cLPfq64wYFa19TU9DfsOpckQ/edit?ts=597f51b1#).

- [x] [Product] Ask developers for domains they would like to use for contributions.
- [x] Add a Contributions URL field in the developer tools. #6070
- [x] [Product] Notify developers so they can

[2017-07-31 23:42] jvillalobos opened #6070 "Add a Contributions URL field in the developer tools"
Part of #6069.

Add a `Contributions URL` field to the Edit Information page, below Tags. The tooltip explanation should read: `If you would like to request monetary contributions from your users, set this to a page where they can do so.`.

In edit mode, below the text field, there should be a list of the supported domains: `Supported domains: paypal.com, patreon.com`. I'll update this list when w

[2017-07-31 23:44] jvillalobos opened #6071 "Update Contribute section in listing pages"
Part of #6069.

The Contribute button, when visible, should open the Contributions URL (#6070) in a new tab (using the outgoing redirect like all external URLs).

Remove link to Developer Profile, developer image, and suggested amount from contribution block.

[2017-07-31 23:46] jvillalobos opened #6072 "Remove Developer Profile and Roadblock pages from Contributions"
Part of #6069.

The Developer Profile (Meet the Developer) and contribution roadblock pages are no longer needed.

[2017-07-31 23:47] jvillalobos opened #6073 "Remove Manage Developer Profile and Manage Payments sections"
Part of #6069.

Remove the no longer needed Manage Developer Profile and Manage Payments sections from the devhub.

[2017-07-31 23:51] jvillalobos opened #6074 "Remove Contributions section from developer statistics dashboard"
Part of #6069.

Note on timing: the communication that goes out to developers before the switch the new contributions system will explain to them when the switch will happen. After the switch, they should get a few weeks to export their contributions stats before we completely remove them.

[2017-07-31 23:53] jvillalobos opened #6076 "Old contributions cleanup"
Part of #6069.

If there's anything left (Paypal code, unused DB fields or code), kill it with fire.

[2017-08-01 00:34] diox commented on #6070
Is it actually possible to set up a paypal URL to request a payment/donation without using http://paypal.me/ ?

[2017-08-01 00:35] mw-ding commented on #6046
@jvillalobos Thanks. Already send you the link. Please take a look

[2017-08-01 06:10] EnTeQuAk opened #6078 "name, description, hotness and summary are not excluded from Addon _source field"
See https://github.com/mozilla/addons-server/pull/6077 for a few more details.

We exclude certain fields from addons search `_source` for performance reasons. This doesn't work for `name`, `description`, `hotness` and `summary` while others are properly excluded.

[2017-08-01 07:48] ValentinaPC commented on #6049
I could reproduce the initial issue, if following the suggestion @jvillalobos added above.

STR:
1. Write an empty review for any add-on while using the new desktop pages i.e. https://addons-dev.allizom.org/en-US/firefox/addon/webext-compat/
2. Edit the empty review by adding some text
3. Observe Fake Mails logs - https://addons-internal.dev.mozaws.net/en-US/admin/mail

Results:
Initial review tex

[2017-08-01 08:38] ValentinaPC opened #6079 ""Not available for your platform" message is missing for dictionaries"
Steps to reproduce:
1. Submit a dictionary which is not compatible with your operating system i.e. https://addons-dev.allizom.org/en-US/firefox/addon/dictionary-for-ff-and-thunder/ (compat with Linux while using Windows)

Expected results:
The message "Not available for your platform" is displayed in add-on details page.

Actual results:
No message displayed.

Notes/Issues:
- add-on can be install

[2017-08-01 08:50] EnTeQuAk commented on #6057
Interesting, luckily this doesn't seem to be a regression. I can take a look to see wether this is ElasticSearch related or something else.

[2017-08-01 09:07] diox commented on #6079
This is the real bug: it should not be possible to do this, as it's pointless.

[2017-08-01 09:12] wagnerand opened #6081 "Remove review renomination from devhub"
The review renomination link on the devhub causes some issues with nomination and review dates and in almost all cases developers use it to renominate their already rejected version which causes the version to go back into the queue.

It will become a real problem with post-review when nominated files will be auto-approved.

@jvillalobos agreed to remove it.

[2017-08-01 09:20] #6062 closed

[2017-08-01 09:20] #1548 closed

[2017-08-01 09:21] #4469 closed

[2017-08-01 09:24] diox commented on #6061
With contributions roadblock going away in #6072 and the fact that it's an edge case to begin with I don't believe it's worth fixing.

[2017-08-01 09:24] #6061 closed

[2017-08-01 09:25] diox commented on #6064
This page will be removed in #6072 so I don't think it's worth looking into this.

[2017-08-01 09:25] #6064 closed

[2017-08-01 09:26] diox commented on #3514
The "roadblock" functionality will be removed in #6072 so I don't think it's worth looking into this any further.

[2017-08-01 09:26] #3514 closed

[2017-08-01 09:26] diox commented on #5079
#6069 will be tracking this.

[2017-08-01 09:26] #5079 closed

[2017-08-01 09:27] diox commented on #5674
The contributions "roadblock" page will be removed in #6072 so I don't think it's worth looking into this any more.

[2017-08-01 09:27] #5674 closed

[2017-08-01 09:28] diox commented on #5956
We're replacing contributions entirely in #6069, and this was only reproductible on dev anyway, so let's close this.

[2017-08-01 09:28] #5956 closed

[2017-08-01 09:28] diox commented on #4817
This page will be removed in #6072 so I don't think it's worth looking into this.

[2017-08-01 09:28] #4817 closed

[2017-08-01 09:31] diox commented on #6053
Taking this to eliminate the duplicate `ESPaginator`.

[2017-08-01 10:27] diox opened #6083 "Remove duplicate ESPaginator"
Both `amo/utils.py` and `api/paginator.py` contain a `ESPaginator` class. It's a custom `Paginator` that avoids doing an extra request to fetch the `count`, since ES provides that in the results already.

Unfortunately, the 2 classes are not exactly the same. One is compatible with our custom ES wrapper, one is compatible with elasticsearch-dsl. Fixing this could end up being a rabbit hole filled

[2017-08-01 10:46] muffinresearch commented on #6018
Filed an ops bug here to take care of this with a redirect: https://bugzilla.mozilla.org/show_bug.cgi?id=1386196

[2017-08-01 11:23] ValentinaPC commented on #6053
Verified this on AMO-dev FF54(Win 7).
Issue is still reproducing for themes and collections.
Please see video:
![search-themes-coll](https://user-images.githubusercontent.com/15685960/28823180-fd84005e-76c4-11e7-9e4e-79fbbf3e7533.gif)

[2017-08-01 11:38] ValentinaPC commented on #1548
1. In what concerns new submissions - I cannot verified this because submission is blocked if the install. rdf does not contain the `strictCompatiblily` preference.
2. If I make an update to an already submitted add-on, I am not able to see if the red banner is displayed because the updated add-on is not listed in Manage My Submissions page (even if I added myself as an owner of the add-on)

@diox

[2017-08-01 13:01] ValentinaPC commented on #6062
Verified as fixed on AMO-dev FF54(Win 7).
![homepage](https://user-images.githubusercontent.com/15685960/28826388-acfbe314-76d2-11e7-9d3d-0f76ca47353d.png)
![listing](https://user-images.githubusercontent.com/15685960/28826389-acfcd5d0-76d2-11e7-8313-e792145c46b4.png)

[2017-08-01 13:07] #6060 closed

[2017-08-01 13:11] eviljeff commented on #6056
Technically, there aren't any listed add-ons.  An add-on with >0 non-deleted listed versions?

Yes.  Though if we change it as you suggest I think we'll need an alternate property - it's mainly used to control if a user account can be deleted, though we use it to show/hide a few other random bits of UI.

[2017-08-01 13:15] diox commented on #6053
Ugh there are a lot of those... this will need to be handled by an artificial limit in the app's pagination, I think.

[2017-08-01 13:17] ValentinaPC opened #6086 "Incompatibility message is not entirely RTL in listing pages"
Steps to reproduce:
1. Search for an incompatible add-on i.e. https://addons-dev.allizom.org/ar/firefox/search/?q=popup&appver=55.0&platform=windows while using a RTL lang
2. Hover over the incompat add-on i.e. "PopupMaster"

Expected results:
There are no display or layout issues.

Actual results:
The red mark is on the wrong side.

Notes/Issues:
- same in version history page
- we can also add a

[2017-08-01 13:18] diox commented on #1548
2. is weird. If you are a developer of an add-on you'll see it in Manage My Submissions page... that's always been the case ?

Try to figure out why this is not working for you and you'll be able to bypass restrictions by just adding you as a developer on an add-on that already has strict compatibility enabled.

[2017-08-01 13:23] eviljeff commented on #6081
Note, this link is used to resume a submission that has been cancelled before full meta-data has been provided.

We don't have an Incomplete file status, so files are created as Awaiting Review; we stop the confusion of exposing that status to the developer by locking them into the listed submission flow; to abort the submission (for example, to access their unlisted versions) we therefore have to

[2017-08-01 13:28] wagnerand commented on #6081
Afaik, that link is on a different page (`src/olympia/devhub/templates/devhub/addons/listing/item_actions.html`) and that one I don't touch.

[2017-08-01 13:29] ValentinaPC commented on #1548
It turns out that the add-on I've updated at 2. is listed in Manage My Submission, but being created looong time ago, is not listed in the first page....because the list was sorted by creation.

The red banner is no longer displayed in Dev Hub for incompatible add-ons if they don't have `strictcompatibility` preference set.
![red-compat](https://user-images.githubusercontent.com/15685960/28827542-

[2017-08-01 13:40] eviljeff commented on #6081
It's linking to the same url/view, because its the same thing, just inside rather than outside the add-ons page on devhub.  I think the benefit of it being there outweighs occasional misguided developers; if it causes a problem with auto approval then fix auto-approval instead imo.

[2017-08-01 13:45] wagnerand commented on #6081
The current problem is that developers can re-nominate rejected versions, which causes
* extra effort for reviewers/admins
* broken metrics because suddenly the nomination timestamp is past the rejection timestamp.

The problem in post-review is that if a rejected version can be re-nominated, it will be auto-approved the next time the cronjob runs.

[2017-08-01 15:04] spoji opened #6088 "Rejecting an add-on version with Chinese characters shows an empty rejection."
### Describe the problem and steps to reproduce it:
I tried to reject version 1.5.2 of https://addons.mozilla.org/en-US/editors/review/kobeengineerinput with the following text :
=-==-==-==-==-==-=
HrJasn,

由於以下問題，您的附加元件沒有通過同行評議：

1）根據您的附加元件的工作原理和描述方式，由於此附加元件是受限/非公眾受眾，此附加元件不適合列在“網上商店”上。 請將您的加載項提交為“不公開”。 有關更多信息，請參閱https://developer.mozilla.org/zh-CN/Add-ons/Distribution# 了解更多詳細信息。

=-==-==-==-==-==

[2017-08-01 15:40] jvillalobos commented on #6081
Thanks for the reminder of why we have that link on the devhub. I totally forgot we introduced it when we did mixed listed/unlisted.

Given that, I think it's best to limit the impact of the change to where it really matters. So, I think we have two options:

1. Hide it when the version was rejected before.
2. Hide it when the version uses WebExtensions.

I suspect admin reviewers will prefer opti

[2017-08-01 15:53] wagnerand commented on #6081
That's the crux of the problem. We don't know why a version was disabled. Therefore we cannot check whether a version was rejected.

Can we hide it for all listed add-ons?

[2017-08-01 16:27] jvillalobos commented on #6081
There's a review log that can be used to figure that out.

I suppose that hiding it for add-ons with `Approved` status would work. @eviljeff, does that make sense?

[2017-08-01 16:34] wagnerand commented on #6081
I can see the reviewer of that patch crying already. :)

[2017-08-01 16:42] eviljeff commented on #6081
There are no listed add-ons 😄

[2017-08-01 16:43] diox commented on #5277
There is a mechanism in place to add admin overrides to add-ons compatibility info (`CompatOverride`), but it's not an ideal tool for the job, because it's completely generic: it does not care why the override is there, it just applies it. It would not know whether a particular version is legacy or not and thus
whether or not the override should continue to be applied when a new version is uploade

[2017-08-01 16:45] wagnerand commented on #6081
Yes, **LISTED VERSIONS**...

Also, have we ever used the activity log other purpose than just logging stuff, e.g. make control flow decisions.

[2017-08-01 16:48] diox commented on #6081
Yeah, let's not use the activity log for anything else than, well, logging. I can see the myriad of edge cases and performance issues coming from a mile away.

[2017-08-01 16:48] bqbn commented on #6053
I don't understand why this issue happens to ES v5 but not ES v1.6.

The difference I can tell is that v1.6 doesn't have `index.max_result_window` setting, however considering we already set `index.max_result_window` to 25000 for v5, shouldn't the issue be gone, or is it a different issue now?

[2017-08-01 16:49] eviljeff commented on #6081
Agreed, activity log is not to be relied upon really.
We have `reviewed` dates that may be usable (on `Version` or `File`? I forget)

[2017-08-01 16:50] jvillalobos commented on #6070
Yeah, it does look like we should be using paypal.me instead of paypal.com. Not sure if people with business accounts get different URLs, though.

[2017-08-01 16:52] wagnerand commented on #6081
version.reviewed is only set for non-decisions (need-info for example).
file.reviewed is only set for decisions (approval, rejection).

[2017-08-01 16:53] eviljeff commented on #6081
That would work.  Though would leave the case for new submissions being repeatedly renominated and/or being auto-approved.

[2017-08-01 16:55] diox commented on #6053
We had a similar issue in v1.6, but I don't remember what the max limit was.

It turns out that 25000 is enough if you only search for regular add-ons... but if you include personas (lightweight themes) or collections the number of potential results grows significantly and that limit becomes too low.

I do think we should keep the limit at 25000, though, and solve this on the app side. There is me

[2017-08-01 16:55] wagnerand commented on #6081
So, all webextensions and all add-ons with status `APPROVED` then?

[2017-08-01 16:57] jvillalobos commented on #6056
Either way is fine. In a different issue I was wondering if having an `Approved` status is sufficient, but I don't know about the edge cases.

[2017-08-01 16:59] eviljeff commented on #6056
Requiring the Add-on to be `Approved` works.  It's also pretty straightforward - I worry about having to explain the logic involving.

[2017-08-01 17:00] eviljeff commented on #6056
I'm going to make the changes with #6042 fwiw

[2017-08-01 17:01] jvillalobos commented on #6081
Sounds okay to me.

[2017-08-01 18:05] eviljeff commented on #6081
So, the link was already excluding add-ons with status Approved.  The patch therefore is _only_ excluding webextensions.

[2017-08-01 20:13] wagnerand commented on #6081
Turns out, that's not going to work (https://github.com/mozilla/addons-server/pull/6087#discussion_r130683672).

Let's step back and restate the goal (some might have forgotten 😉):
Developers should not be able to re-nominate a version that has been rejected.

Since we don't have a dedicated field for that, let's instead check when a version has been reviewed. We can check for that using `files.re

[2017-08-01 22:25] jvillalobos commented on #6046
The problem is this line in your manifest: `"strict_min_version": "1.0"`

Removing it fixes the upload problem. We should probably make this case a hard error, though I'm not sure if this is linter code or server code. /cc @EnTeQuAk @wagnerand

[2017-08-01 22:30] jvillalobos commented on #5277
`Legacy extensions are not compatible with Firefox 57 or higher. Use a maxVersion of 56.* or lower.`

I think legacy devs are already tired of hearing about WebExtensions :|

[2017-08-01 22:36] devaneymoz opened #6090 "Disco Pane content update - August 2017"
Since July's Disco programming didn't go live until late in the month, let's leave all the same extensions in place, but swap in three new themes for the **20 August** push.

[Colors](https://addons.mozilla.org/firefox/addon/c-o-l-o-r-s/) by andreacastillo
[Ibbis Persona](https://addons.mozilla.org/firefox/addon/ibbis-persona/) by desipunk
[Two Fireflies](https://addons.mozilla.org/firefox/addon/t

[2017-08-02 05:41] yfdyh000 opened #6093 "Unexpected "Extensões" or "Extensions" in zh-CN rss"
Check the https://addons.mozilla.org/zh-CN/firefox/extensions/format:rss?sort=created, the title is Extensões, it looks be "pt" locale, this is not Chinese.

In addition, check the https://addons.mozilla.org/zh-CN/firefox/extensions/tabs/format:rss?sort=updated, the title is "Extensions", that is English instead of Chinese.

[2017-08-02 07:54] yfdyh000 commented on #6093
The titles seems to be randomly shown, both are "Bővítmények" & "扩展" (work fine) for now.

[2017-08-02 08:44] mw-ding commented on #6046
It works now. Thanks Jorge.

[2017-08-02 09:37] diox commented on #6093
Yeah, there are a couple calls to `ugettext` that should be lazy and are not, so the language used first in that thread persists:

* https://github.com/mozilla/addons-server/blob/5d456ba5e3d0494ce59d7b82f6a3fb663f60d801/src/olympia/browse/feeds.py#L92
* https://github.com/mozilla/addons-server/blob/5d456ba5e3d0494ce59d7b82f6a3fb663f60d801/src/olympia/browse/feeds.py#L107

[2017-08-02 12:13] #6081 closed

[2017-08-02 12:26] SVSanta opened #6097 ""Collections" search by "Name" displays wrong number of results"
Steps to reproduce:

1. Load AMO homepage https://addons.mozilla.org/en-US/firefox/
2. Click on the "Collections" button.
3. Click on the "Most Followers" sorting method and observe the number of results.
4. Click on the "More>Name" sorting method and observe the number of results.

Expected results:
The number of results are the same.

Actual results:
The number of results are different.

Notes/I

[2017-08-02 12:59] #6093 closed

[2017-08-02 14:21] vcarciu commented on #5015
I am not sure if I am doing something wrong here or not, but if I add more developer replies, I still can see as different threads in my email client :(

[2017-08-02 14:34] wagnerand commented on #6081
STR:

* A rejected version should not have the "Request Review" link the devhub. (Please test for both initial submissions and public add-ons with rejected versions)
* It should still be possible to "Cancel Review" and "Request Review" for pending versions.
* It should be possible to cancel and resume a submission (during the submission process).

[2017-08-02 14:35] ValentinaPC commented on #6081
Verified this on AMO-dev FF54(Win 7).
Postfix screenshots:
![auto-approved-no_rev_req](https://user-images.githubusercontent.com/15685960/28878721-c309f57a-77a8-11e7-8631-36a21b7213aa.png)
![cancel_rev_req](https://user-images.githubusercontent.com/15685960/28878727-c6f97f84-77a8-11e7-9afb-915becd504fa.png)
![incom-req_rev](https://user-images.githubusercontent.com/15685960/28878729-cdf49d64-77a8-

[2017-08-02 14:38] SVSanta opened #6099 ""support section" from review redirects to addon details page"
Steps to reproduce:

1. Load AMO homepage https://addons.mozilla.org/en-US/firefox/ .
2. Click on any addon.
3. Click on the "Write a Review" button.
4. Click on the "support section" hyperlink.

Expected results:
The user is redirected to the "Support Site".

Actual results:
The user is redirected to the addon details page.

Notes/Issues:
Verified on FF54(Win 10). Issue is reproducing on all AMO

[2017-08-02 15:08] vcarciu commented on #6093
Verified as fixed :
![chn1](https://user-images.githubusercontent.com/1583842/28880392-94ba3540-77ad-11e7-80c3-b851b9430508.png)
![chn2](https://user-images.githubusercontent.com/1583842/28880396-984f3fe8-77ad-11e7-81f2-17a41cb9bbd6.png)

[2017-08-02 15:48] ValentinaPC commented on #6028
Verified this as fixed on AMO-dev FF54(Win 7).
Postfix screenshots:
![add-on_details](https://user-images.githubusercontent.com/15685960/28882158-134c14aa-77b3-11e7-960b-60eb691c8b06.png)
![eula](https://user-images.githubusercontent.com/15685960/28882160-13504c14-77b3-11e7-80b3-6300b709f2ca.png)
![homepage](https://user-images.githubusercontent.com/15685960/28882161-1353a36e-77b3-11e7-8438-246923

[2017-08-02 16:07] eviljeff commented on #5015
Almost out of ideas for this.  We could generate a full list of references, based on how we now consistently generate message IDs from the addon, version and activity ids.

[2017-08-03 00:41] yfdyh000 commented on #6093
Thanks. Verified as fixed.

[2017-08-03 10:24] diox opened #6101 "Remove restrict-new-legacy-submissions waffle switch"
`restrict-new-legacy-submissions` waffle switch is unlikely to be deactivated at this point, it should be removed and considered always enabled.

[2017-08-03 13:21] wagnerand opened #6103 "With post-review, don't show waiting webextensions in the pre-review queue"
While a webextension submission waits for the auto-approval cronjob, it should not be shown in the pre-review queues in order to avoid a human reviewer picking it up.

It sounds like an edge-case, but due to reviewers' habits of picking reviews from the bottom of the queue, it's not as unlikely to happen as one might imagine.

[2017-08-03 14:48] yfdyh000 opened #6104 ""Get data from the clipboard" & "Input data to the clipboard" is not localizable"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
e.g. https://addons.mozilla.org/zh-CN/firefox/addon/new_tongwentang/ - Permissions
https://addons.mozilla.org/en-us/firefox/addon/new_tongwentang/

### What happened?
Keep in english. I can not find it in source code and Pontoon.

### What did you expect to happen?
Strings localizable.
### Anything el

[2017-08-03 15:20] vasilicamihasca opened #6105 "Contradiction between a webextension compatibility and “Compatible with Firefox 57+” label"
**Steps to reproduce:**
1. Try to install the following webextension on Firefox 56 or Firefox 57: https://addons.mozilla.org/en-US/firefox/addon/xtense-we/?src=search

**Expected results:**
I’m not sure which should be the expected result here but I’m thinking about 2 options:
1. “Compatible with Firefox 57+” label is not displayed for webextensions with  strict_max_version < 57.0
2. Force all web

[2017-08-03 15:25] wagnerand commented on #6105
Nice edge case you found there.

It's a webextension but it has a `"strict_max_version": "54.0"`.

[2017-08-03 15:29] jvillalobos commented on #6105
`strict_max_version` usually doesn't make any sense for add-ons using WebExtensions. Most of the time, we should be telling the developer not to do that. In the rare cases where it makes sense, I think it's an edge case we can accept.

[2017-08-03 15:29] #6105 closed

[2017-08-03 23:35] jvillalobos commented on #6070
We should also add a note to the existing Manage Developer Profile and Manage Payments sections indicating that they're going away:

`This page will soon be removed in favor of the Contributions URL field in the main Edit page. Make sure to use that field to keep Contributions enabled.`

[2017-08-04 05:23] EnTeQuAk opened #6111 "Catch zips using '\' in file-paths"
See https://github.com/mozilla/addons-linter/issues/1426 for much more details.

tldr; zip doesn't allow paths to contain backslashes but windows did that in the past and users do submit extensions like that. I don't know current behavior and couldn't find anything related to that in sentry so potentially we simply accept zips like that.

Should add at least a test though.

[2017-08-04 08:36] ValentinaPC opened #6112 "Misleading link while trying to delete your account"
Steps to reproduce:
1. Submit an add-on using your newly created account
2. Try to delete your account
3. Click on the link available in the "Delete User Account" page

Expected results:
Should redirect to a page where user can see its submitted add-ons.

Actual results:
Link redirects to "My Profile" page, where there are no add-ons, if the author has unlisted or unreviewed add-ons.

Notes/Issues

[2017-08-04 09:46] vasilicamihasca opened #6113 "Several add-ons are not displayed as suggestions in search list"
**Steps to reproduce:**
Navigate to https://addons-dev.allizom.org/en-US/firefox/ and type the following add-ons names:
- “navigation stats” for https://addons-dev.allizom.org/en-US/firefox/addon/navigation-stats/
- “context menu demo” for https://addons-dev.allizom.org/en-US/firefox/addon/context-menu-demo/

**Expected results:**
The add-on is successfully displayed in the search suggestion list.

[2017-08-04 10:56] muffinresearch commented on #6111
We should *not* accept zips using backslashes in paths and should flag it to developers.

[2017-08-04 10:59] EnTeQuAk commented on #6111
I was just stating my guess of our current behavior, if we do that, we indeed should change it.

[2017-08-04 11:01] EnTeQuAk commented on #6113
I'll take a look at this, afair the autocomplete does search very differently than our actual search so I'm not sure what we can do about it. Potentially use our new API views and hook them into the views.

[2017-08-04 11:20] muffinresearch commented on #6111
Aha ok - it makes more sense now - I was confused by "so potentially we simply accept zips like that" which sounded like a future direction which conflicted with the linter issue.

Feel free to clarify the original description and delete my comments.

[2017-08-04 13:48] ValentinaPC opened #6115 "Text can be moved up inside the search field"
Steps to reproduce:
1. Paste in the search field a text that uses only the upper side of the line i.e `జత చేయు`
2. Select the text and move the cursor down

Expected results:
Text is not moved.

Actual results:
Text is moved.

Notes/Issues:
- unselecting the text after step 2, and typing some normal text will cause some display issues inside the search field.

Verified on FF54(Win 7). Issue is rep

[2017-08-05 12:03] dessant opened #6116 "Search results have changed considerably"
I have an add-on which was in a steady 4th position for this query since it was published:
https://addons.mozilla.org/en-US/firefox/search/?q=Search+By+Image
https://addons.mozilla.org/en-US/firefox/addon/search_by_image/

About 3 days ago statistics have stopped updating on evenings, and when the stats finally appeared yesterday, I've seen that downloads have dropped to nothing, and that the add-

[2017-08-06 07:12] yfdyh000 opened #6117 "Cannot find the "Merge All Windows" add-on during search"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Search it or try adding it to my collections on https://addons.mozilla.org/.

### What happened?
It is not there.

### What did you expect to happen?
Actual results.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)
i.e. https://addons.mozilla.

[2017-08-06 11:28] EnTeQuAk commented on #6117
Could be a duplicate of https://github.com/mozilla/addons-server/issues/6116, leaving this open till I can take a look at this on Monday.

[2017-08-06 12:04] diox commented on #6117
I wonder if search by relevance is broken somehow. Autocomplete does find it.

[2017-08-06 13:00] yfdyh000 commented on #6117
It does not appear in the auto-complete results on AMO site.

[2017-08-06 13:10] diox commented on #6117
Mmm. It does appear if you search for "merge". But then again, it also appears in search results if you only search for that. So it seems that the broken part is not relevancy scoring but rather queries with multiple words.

[2017-08-06 21:23] yfdyh000 commented on #6117
Ah, you're right. Also occur for ["Close Unused Blank Tabs"](https://addons.mozilla.org/firefox/addon/close-unused-blank-tabs), this [query](https://addons.mozilla.org/firefox/search/?q=close+&platform=windows&appver=57.0&tag=firefox57) including it.

This blocks adding them to my collection. I remember having reported a similar issue on Github or Bugzilla, but I could not find it, it seems relate

[2017-08-07 08:10] ValentinaPC opened #6118 "Permissions are duplicated for each platform in Reviewer Tools"
Steps to reproduce:
1. Submit a webextension with permissions and multiple files  i.e. https://addons-dev.allizom.org/en-US/firefox/addon/webext-auto-approval/
2. Go to Editor Tools and observe in webextension review page the files/permissions section
3. Approve the webextension
4. Repeat step 2.

Expected results:
Permissions are written once, together with platform files availability, as before

[2017-08-07 11:43] wagnerand commented on #5015
With the latest changes, threading works fine for me on prod. I'm closing this for now, until we have a specific example where it doesn't.

[2017-08-07 11:43] #5015 closed

[2017-08-07 12:04] ValentinaPC commented on #6060
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-07 16:33] #5277 closed

[2017-08-07 16:35] diox opened #6119 "Hide the install button for incompatible add-ons entirely in search/browse"
From https://github.com/mozilla/addons-server/issues/5277#issuecomment-318074010

Hide the install button for incompatible add-ons entirely in search/browse/homepage and instead, show an expanded compatibility explanation and a link to the All Versions page.

[2017-08-07 16:41] diox commented on #5277
QA:
* Legacy extensions should not be allowed at submission time if they target 57 or higher. Since it was already the case for new uploads (legacy uploads were not allowed unless targeting 53 strictly), this mainly concerns updates. Note that at the moment Complete Themes are not restricted at upload. I plan to do this in #5133
* At upload time, legacy extensions should have strict compatibility

[2017-08-08 08:32] peter-kehl opened #6123 ""Manage My Submissions" links to the "Next Listed Version," but that link fails"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Visiting https://addons.mozilla.org/en-US/developers/addons?page=2 logged in as myself

### What happened?
I've submitted a new version of add-on SeLite Selblocks Global. The above page says:
Listed Version: 2.70
Next Listed Version: 2.71
"2.71" links to https://addons.mozilla.org/en-US/firefox/addon/

[2017-08-08 09:26] diox commented on #6123
That's on purpose. We no longer show pending versions in there, because they are not signed and therefore not installable.

[2017-08-08 09:52] peter-kehl commented on #6123
Then don't show links to the pending versions either.

[2017-08-08 10:01] diox commented on #6123
I don't dispute the issue, merely gave an explanation as to why it's not shown on the public versions listing page :)

I agree we should not link to the listing page if the version is not public. Unsure if the best solution is to avoid linking in that case or always linking to the developer version edit page instead.

[2017-08-08 12:04] ValentinaPC commented on #5277
Verified this on AMO-dev FF54(Win 7) and obtained the following results:

- Updates for legacy add-on are not allowed if new version is targeting 57.0 - a suggestive message is displayed;
- updates with `maxversion` like `56.0`/`56.*` or under are working;
![newvers-57](https://user-images.githubusercontent.com/15685960/29071086-bd9fc19a-7c4a-11e7-902e-3cac68b85c4b.png)

- not sure about this - "s

[2017-08-08 12:56] diox commented on #5277
What I mean is that now, for legacy add-ons, even if strict compatibility is not set in `install.rdf` it will be set behind the scenes, *in the database*. It's what forces the add-on to then be hidden from search results if the client version is higher than the max version (when strict compatibility is enabled for an add-on, its max version is honored when searching and filtering w/ a Firefox vers

[2017-08-08 13:07] ValentinaPC opened #6126 "Different results at submission vs. update for a multiple-apps compatible legacy add-on if maxversion over 56.*"
Steps to reproduce:
1. Submit an add-on compatible with Firefox, Thunderbird and SeaMonkey while having `maxversion` for Firefox : `57.0` i.e. https://addons-dev.allizom.org/en-US/developers/addon/new-mixed-legacy-add-on/edit
2. Add a new version for this add-on, maintaining the `maxversion` value

Expected results:
Both steps have the same result.

Actual results:
New submission can be done witho

[2017-08-08 13:12] diox commented on #6126
I disagree with the expected results. Change the `maxVersion`, it should not be possible for legacy add-ons to be marked as compatible with Firefox 57, that was precisely one of the goals of #5277.

[2017-08-08 13:16] wagnerand commented on #6126
@ValentinaPC has a point though. I doesn't seem logical that we allow an initial legacy submission but not any updates...

[2017-08-08 13:16] ValentinaPC commented on #6126
My supposition was based on the fact that **new legacy add-on submission can be done, if add-on is compatible with multiple apps** (beside FF, like Thunderbird or SeaMonkey), but u`pdates no.`
If you think this is expected, I can adjust my opinion, but if you ask me, is not ok.

[2017-08-08 13:37] ValentinaPC commented on #5277
Thanks for the explanations!
While setting the `maxversion` for a new version of a legacy add-on to 56.0, deleting the `strictCompatibility` option from `install.rdf`, using a browser with version higher than `maxversion`, FF57, the legacy add-on will be hidden from search.
- Example: https://addons-dev.allizom.org/en-US/firefox/addon/saveas/?src=search

Based on this and the above comment this ca

[2017-08-08 13:42] diox commented on #6126
Fair enough. I can apply that restriction to both new submissions and updates.

[2017-08-08 13:58] #5482 closed

[2017-08-08 14:21] EnTeQuAk opened #6128 "Fix ElasticSearch function scoring"
refs https://github.com/mozilla/addons-server/issues/6117 and refs https://github.com/mozilla/addons-server/issues/6116 but this is more for a discussion of what we actually have to do.

From what I found it could be that our function scoring is simply ignored, at least in the old api. So… what the old API does *right now* is something like this:

[code]

Which apparently is wrong for multiple rea

[2017-08-08 14:44] EnTeQuAk commented on #6128
To elaborate this a bit more… in case we're going to switch both APIs to what the docs suggest we'd be doing something along the lines of…

[code]

Since it seems using `functions` and `weight` is the new way to go?

[2017-08-08 14:48] EnTeQuAk commented on #6128
https://github.com/elastic/elasticsearch-dsl-py/blob/master/test_elasticsearch_dsl/test_query.py#L295-L324 seems to support my last idea to rewrite that scoring in both places...

[2017-08-08 14:51] #6126 closed

[2017-08-08 14:53] EnTeQuAk commented on #6128
https://github.com/elastic/elasticsearch-dsl-py/blob/master/test_elasticsearch_dsl/test_search.py#L73-L85 supports that as well. Which means the fix for the new api is relatively straight forward…

[2017-08-08 15:05] EnTeQuAk commented on #6116
We found potential problems that caused this. We're working on this so stay tuned. I can't promise this will be fixed in this weeks deployment but I'm sure we will get something up and running next week at the latest.

[2017-08-08 16:14] diox commented on #6123
It turns out this issue has already been reported as #5533

[2017-08-08 16:14] #6123 closed

[2017-08-08 16:17] #5533 closed

[2017-08-08 16:18] diox commented on #5533
@vishal-chitnis submitted a PR fixing this. Thanks again!

[2017-08-08 16:31] diox commented on #6104
Those strings are a bit special... To keep things in sync with Firefox, their translations are imported from mozilla central repos into our database. They are technically localizable, it's just that the translations need to be present in mozilla central repos instead. If you look at the french version for instance, it's there.

Now... https://hg.mozilla.org/l10n-central/zh-CN/file/tip/browser/chro

[2017-08-08 16:38] diox commented on #6104
It looks like the script that updates the permissions (`manage.py update_permissions_from_mc`) isn't run in a cron or at startup, I thought we had done that. I've ran it on dev and stage and will ask ops to do it in prod in a moment.

[2017-08-08 16:49] diox commented on #6104
We ran the script everywhere, should be fixed now.

[2017-08-08 16:49] #6104 closed

[2017-08-08 17:13] wagnerand commented on #5589
@tsl143 Did you have any chance to work on this yet? If not, maybe another issue might be better to take since the current design is going away quite soon which makes this issue obsolete.
Of course, if you have something already, feel free to send it our way, please :)

[2017-08-08 17:16] caitmuenster commented on #5966
Hey @harry-7, how's it going with this bug?

[2017-08-08 17:17] jvillalobos commented on #4736
Unassigning this issue since there has been no reply in the PR.

[2017-08-08 18:09] harry-7 commented on #5966
@caitmuenster  I am unable to setup the developer environment on my pc. I raised an issue on the issue tracker but no improvement.

[2017-08-08 18:12] wagnerand commented on #5966
Hi @harry-7 what is the link to the issue you opened?

[2017-08-08 21:36] caitmuenster commented on #5379
Hey @atiqueahmedziad, how are you doing with this?

[2017-08-09 04:34] harry-7 commented on #5966
@wagnerand  #6066  is the link

[2017-08-09 06:02] EnTeQuAk opened #6131 "Remove legacy add-on bulk validation"
So apparently the last bulk validation we will ever run was with Firefox 56 which means, if we're not going to do that anymore we can as well delete all code related to it.

Do we need to wait for ESR to loose support for legacy add-ons as well?

I'm not sure we want to delete the data associated to it too, at least not too fast but I honestly can't think of a scenario where we might need to use i

[2017-08-09 08:10] ValentinaPC commented on #6104
Verified as fixed on AMO-prod FF54(Win 7).
Postfix screenshots from some languages:
![fr](https://user-images.githubusercontent.com/15685960/29111524-473de94c-7cf3-11e7-9f04-cae3e6d85408.png)
![ka](https://user-images.githubusercontent.com/15685960/29111523-473dc17e-7cf3-11e7-915f-88a3e43890cd.png)
![zh-cn](https://user-images.githubusercontent.com/15685960/29111525-473ff8b8-7cf3-11e7-8245-dec85fb

[2017-08-09 08:30] ValentinaPC commented on #6126
@diox : now is a little contradiction between the new message you've added in this issue and the banner from my submission page. Maybe you can add the same message that is displayed while new submissions in case of single app legacy add-on - "Starting with Firefox 53, new extensions on this site can only be WebExtensions." ?

As far as restriction for new submission : multiple app legacy add-on fa

[2017-08-09 09:09] tsl143 commented on #5589
@wagnerand I am not working on this right now.

[2017-08-09 09:42] diox commented on #6126
It's not a contradiction if you consider "until" in the top message excludes 57 itself :)

[2017-08-09 09:56] wagnerand commented on #6066
Can you pull the latest code and try again, please?

[2017-08-09 10:10] ValentinaPC commented on #6126
So we are ok with leaving this as it is now?

[2017-08-09 10:12] diox commented on #6126
I think so yes. Note that the message at the top can be edited by admins at any time, so we may change it as we get closer to 57 stable.

[2017-08-09 11:42] DanyBG opened #6133 "old drivers"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-08-09 11:47] #6090 closed

[2017-08-09 11:49] ValentinaPC commented on #6126
Marking this verified, considering above comments.

[2017-08-09 11:54] #6133 closed

[2017-08-09 12:12] ValentinaPC opened #6134 ""+Add to Firefox" for experimental legacy add-ons triggers an installation popup"
Steps to reproduce:
1. Click on "+Add to Firefox" for an **experimental** legacy add-on i.e. https://addons.allizom.org/en-US/firefox/addon/adblock-plus/

Expected results:
The button does not trigger any popup.

Actual results:
The button triggers a popup.

Notes/Issues:
- reproducing only for experimental add-ons
- was not reproducing while verifying #6028 on -dev
Verified on FF54(Win 7). Issue

[2017-08-09 12:13] EnTeQuAk commented on #6066
@wagnerand we're trying to debug this in IRC right now, we're getting close, that error is resolved and the next one should be straight forward. I'll post the fixes here once we get everything running.

[2017-08-09 12:22] diox commented on #6134
Weird. I'm not able to reproduce... I know our button css/js code is finicky, but still...

[2017-08-09 12:25] diox commented on #6134
Ah, nevermind, it looks like the add-on I was testing with is no longer experimental. I can reproduce with a legacy experimental add-on as noted in the description of the issue.

[2017-08-09 12:42] ValentinaPC opened #6135 "Incompatible add-ons inside of a collection trigger installation popups"
Steps to reproduce:
1. Add an incompatible add-on to a collection i.e. https://addons.allizom.org/en-US/firefox/collections/Vivre/e-coll/ (i.e Gmail Notifier (restartless))
2. Go to collection details page and click on "+Add to Firefox" button for the incompatible add-on

Expected results:
The button does not trigger any popup.

Actual results:
The button triggers a popup.

Notes/Issues:
- after c

[2017-08-09 13:28] ValentinaPC commented on #6061
"Continue to download" from inside a collection is still redirecting to "Meet the developer" page.
Keep this in mind while implementing #6072 .

[2017-08-09 14:22] muffinresearch commented on #6097
/cc @EnTeQuAk this is probably a long-standing issue but cc'ing you just in-case it's ES related in some way.

[2017-08-09 14:49] EnTeQuAk commented on #6097
I'm sure this existed long before the upgrade, could be a bug in the old `ESPaginator` class that takes the `count` from ElasticSearch or maybe there's a weird filter being used in between the two. I can look into it together with the other ElasticSearch stuff.

[2017-08-09 15:15] diox commented on #6097
The collection list ordered by name is *not* handled by ElasticSearch, actually. It's straight from the database using the awful `order_by_translation`. Don't ask me why...

[2017-08-09 15:22] jvillalobos commented on #6131
I have no objections to dropping the bulk validator now. The [compatibility checker](https://addons.mozilla.org/developers/addon/check-compatibility) and the compatibility tests in the validator should stay at least until we launch 57 on release (Nov 14th).

[2017-08-09 15:40] EnTeQuAk commented on #6131
Cool, yeah I'm mostly talking about the stuff in zadmin.

[2017-08-09 15:51] SVSanta opened #6136 ""Changes Saved" message with invalid data"
Steps to reproduce:
1. Login with any user that has 1+ extensions submitted.
2. Navigate to: Manage My Submissions>Edit Information.
3. Click on "Edit" from the "Basic Information" section.
4. Unselected all options from the "Categories" section.
5. Click on the "Save Changes".

Expected results:
The changes are not saved.

Actual results:
The "Changes Saved" message is displayed.

Notes/Issue:
Ve

[2017-08-09 16:02] ValentinaPC opened #6137 "Search results will not return searched collection"
Steps to reproduce:
1. Search for a collection using it's exact name i.e. "Webdev Toolbox - Ivan Krstić"

Expected results:
The collection is listed as first result.

Actual results:
Collection is listed through results, but is hard to be found.

Notes/Issues:
Verified on FF54(Win 7). Issue is reproducing on all servers.
Video for this issue:
![coll](https://user-images.githubusercontent.com/15685

[2017-08-10 06:38] harry-7 commented on #5966
@wagnerand

[2017-08-10 06:40] EnTeQuAk commented on #6046
The linter does not know about app versions, amo-validator did but that was mostly a hack. It's probably best to get this validated in addons-server.

[2017-08-10 08:40] wagnerand commented on #6066
We solved this in IRC, thanks to @EnTeQuAk. Iirc, he's going to follow up with a post-mortem.

[2017-08-10 08:40] #6066 closed

[2017-08-10 08:49] ValentinaPC opened #6141 "Lang Pack with maxversion 57.0 can be submitted but cannot be installed"
Steps to reproduce:
1. Submit a language pack with `maxversion 57.0a1` i.e. https://addons.allizom.org/en-US/firefox/addon/acholi-ug-lp-57/

Expected results:
Language Pack cannot be submitted.

Actual results:
Language Pack is successfully submitted.

Notes/Issues:
- `maxversion` in public pages is displayed as "`57.0a1`"
- `maxversion` in Dev Hub is "`------`" with the possibility to set it to 5

[2017-08-10 09:29] ValentinaPC opened #6142 "Themes sorting criteria does not display results as expected"
Steps to reproduce:
1. Load Themes homepage https://addons.allizom.org/en-US/firefox/themes/
2. Click on any sort option from the left i.e "Top rated"

Expected results:
Ratings stars are displayed for each theme and ordered as expected.

Actual results:
Daily users are listed for each theme.

Notes/Issues:
- same for each sorting criteria
- **apparently reproducing on new desktop pages for extens

[2017-08-10 09:32] diox commented on #6141
@jvillalobos how should we treat language packs exactly?

[2017-08-10 11:41] ValentinaPC opened #6144 "Sorting by Popularity is not working inside of a collection"
Steps to reproduce:
1. Load details page for a collection i.e. https://addons.allizom.org/en-US/firefox/collections/mozilla/webdev-toolbox-ivan-krsti%C4%87/
2. Sort the add-ons inside by popularity

Expected results:
Add-ons inside the collection are sorted by number of users.

Actual results:
Add-ons inside the collection are not sorted.

Notes/Issues:
Verified on FF54(Win 7). Reproducing on stag

[2017-08-10 16:46] krupa commented on #6141
Lang packs should be supported post-57. They remain unaffected by the cutover.

[2017-08-10 16:52] wagnerand commented on #6141
This is a valid bug. A developer should be able to set 57 as a version for langpacks.

[2017-08-10 17:21] muffinresearch opened #6147 "Display slugs related to the guids in the find replacement admin tool"
The find replacement admin tool allows entering a guid to make a replacement via a path mapping. The downside of this is some guids are not obvious.

To make it easier to know what the mappings represent it would be handy if the page could lookup and display the slugs related to the guid in the admin so that we know what's being replaced more easily.

[2017-08-10 17:24] muffinresearch opened #6148 "Add a test link to the admin tool for replacement addons"
It would be handy to show a test url for the replacements to be able to quickly test a replacement works as expected without needing to manually construct a URL.

[2017-08-10 17:42] jvillalobos commented on #6141
To clarify, the issue as originally file is _not_ an issue because we want language packs to support 57. The fact that 57 doesn't appear in the version selection dropdown _is_ an issue that should be corrected.

[2017-08-10 18:05] mw-ding commented on #6046
Thanks guys for the help. Feel free to close this issue. Problem fixed in my end already.

[2017-08-10 20:58] krupa opened #6150 "Don't hide the install button for compatible add-ons while displaying disabled buttons"
### Describe the problem and steps to reproduce it:
1. Load https://addons.mozilla.org/en-US/firefox/extensions/?sort=featured
2. Notice the install buttons for listed add-ons

### What happened?
For compatible add-ons, the install button is only visible on mouse-over whereas the disabled buttons are grayed out and are always shown.

### What did you expect to happen?
- Call-to-Action buttons for

[2017-08-11 05:28] vitaly-zdanevich opened #6151 "Can I publish my test version for a limited number of users?"
I can make a private listing on Chrome Store but looks like can not at AMO.

In Private Listing I mean that I can set emails of people that can open extension page on AMO (other users will see 404).

I need this during development phase of my extension.

[2017-08-11 06:09] EnTeQuAk commented on #6083
We are seeing increasingly high numbers of errors because of https://github.com/mozilla/addons-server/issues/6053 so I'm trying to do this right now to mitigate our error rates.

[2017-08-11 06:21] bqbn commented on #6083
To add some info from #amo channel:

For the past  6 hours, there were about 115K errors like below on one ES node (there are 9 on -prod).

[code]

The 500 errors increased a lot because of this.

[2017-08-11 09:29] diox opened #6153 "Make lang=lang in our db queries safer"
In order to cache make all our database queries dependent on the current language we do
`qs = qs.extra(where=['"%s"="%s"' % (lang, lang)])` in `amo/models.py`. It's ugly, and I'm not totally sure it's still useful because cache-machine does make the cache keys depend on the current locale, but I don't really want to find out if we can remove that.

What we could do however is make it safer. `lang`

[2017-08-11 09:33] #6134 closed

[2017-08-11 09:33] #6135 closed

[2017-08-11 10:25] wagnerand opened #6154 "Add admin UI for disabling/enabling linter rules"
This is a counterpart for https://github.com/mozilla/addons-linter/issues/1436. That issue will enable linting rules to be dynamically disabled or enabled without having to change the codebase or push the code to servers.

We need some kind of UI that lists all linting rules and probably a checkbox or something to disable or enable each one.

[2017-08-11 10:41] diox commented on #6153
Gave it a try but I'm seeing some test failures that don't look good... https://travis-ci.org/diox/olympia/builds/263432269

[2017-08-11 11:03] #5966 closed

[2017-08-11 11:39] diox commented on #6151
AMO does not support private versions like this no. Through AMO, you have the following possibilities:
- Submit an unlisted version of your add-on, then distribute it yourself. Note that if you want updates to work, you'll have to add support for them yourself since AMO is not handling distribution.
- Submit a beta version of your add-on (unfortunately only possible once you already have a public

[2017-08-11 11:54] nkestrel opened #6156 "Extensions missing when searching with non-'en-US' locale"
The `en-GB` locale (and other non-`en-US` locales) cannot find the Cookie AutoDelete extension.

https://addons.mozilla.org/en-GB/firefox/search/?q=cookie+autodelete&appver=57.0&platform=windows
![](https://i.imgur.com/GpDwi5y.png)

https://addons.mozilla.org/en-US/firefox/search/?q=cookie+autodelete&appver=57.0&platform=windows

![](https://i.imgur.com/1pk4Ccj.png)

[2017-08-11 12:43] ValentinaPC commented on #6134
Verified as fixed on AMO-dev FF54(Win 7).
Postfix video:
![exp](https://user-images.githubusercontent.com/15685960/29213396-cd7354f2-7eab-11e7-8a97-7ea51a006a17.gif)

[2017-08-11 12:50] ValentinaPC commented on #6135
@diox : do you think is worth fixing the button color or better leave it like this? I mean experimental incompatible add-ons inside a collection have inactive yellow button.
Screenshot:
![2017-08-11_1548](https://user-images.githubusercontent.com/15685960/29213594-8c91c8fa-7eac-11e7-9d1f-3346fab12cbf.png)

[2017-08-11 12:52] #6153 closed

[2017-08-11 12:57] ValentinaPC commented on #6153
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-11 12:59] ValentinaPC commented on #5966
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-11 13:11] diox commented on #6135
I did the best I could but collection list pages are weird... this will have to do until someone complains :)

[2017-08-11 13:15] diox commented on #6131
Do we have anything in place to do compatibility bumps on language packs ? Should we ? How do they get their compatibility info updated these days ?

[2017-08-11 13:20] ValentinaPC commented on #6135
Verified as fixed on AMO-dev FF54(Win 7).
Postfix video:
![coll](https://user-images.githubusercontent.com/15685960/29214669-e92943be-7eb0-11e7-92e2-77aef8f6dcdb.gif)

[2017-08-11 13:37] wagnerand commented on #6131
Language packs never get their compatibility bumped (and they shouldn't). Shortly after every new Firefox release, we manually pull the latest langpacks from ftp and sign them (using `/admin/langpacks`).

[2017-08-11 13:41] diox commented on #6131
Ok perfect, I wasn't sure if it was done through the compat tool or not, ignore my comment then :)

[2017-08-11 14:54] #6083 closed

[2017-08-11 15:21] #5133 closed

[2017-08-11 16:11] rctgamer3 commented on #5303
Bump

[2017-08-11 16:15] wagnerand commented on #5303
What is the exact text for that? What kind of information does the text mean?

[2017-08-11 17:43] diox commented on #6156
@EnTeQuAk *maybe* it's not related to the elasticsearch upgrade, but this the timing is suspicious. In any case, it's bad, we should look into it. Maybe an issue with translations somehow.

[2017-08-11 18:16] jvillalobos commented on #6151
You can also submit a listed version and mark it as experimental, which gives it less visibility on the site.

We may support private add-ons in the future, but it's not on this year's roadmap. We're focusing on the move to WebExtensions at the moment.

[2017-08-11 18:16] #6151 closed

[2017-08-11 20:26] jvillalobos opened #6161 "Admin ACR Reports dashboard is down again"
Same issue as #6043. /cc @jasonthomas

[2017-08-11 22:47] gravyboat commented on #6069
This is a great feature for those of us who refuse to work with PayPal, thanks for the thorough issue and associated documentation.

[2017-08-11 23:19] bjherbison opened #6162 ""Find a Replacement" button for Legacy Extensions links to a list of incompatible extensions"
Steps to reproduce:
* Click about:addons / Legacy Extensions / Find a Replacement.

Actual result:
* The page displayed starts with two add-ons which aren't compatible with Firefox 57.

Expected result:
* The button should link to a list of add-ons which are only compatible with Firefox 57.

[2017-08-13 16:22] yfdyh000 opened #6164 "After the last update, some legacy add-ons‘s install button were grayed out or complete disabled"
### Describe the problem and steps to reproduce it:
After the AMO site last update, some add-ons (compatibility not specified to latest)'s install button were grayed out or complete disabled for original Firefox.

For example:
1. https://addons.mozilla.org/firefox/addon/autoproxy-ng/
2. https://addons.mozilla.org/firefox/addon/tab-utilities-fixed/

### What happened?
1. The install button were com

[2017-08-13 17:34] diox commented on #6164
1. The developers of those add-ons have marked it compatible with Firefox 3.0.9 - 26.0a1 and Firefox 17.0 - 39.* respectively. Legacy add-ons compatibility is now strict to prepare for the switch to 57 and that's why the install button is now greyed out.
2. This was unintentional, because of other fixes to the button disabling code, I'll see what I can do about it.

[2017-08-13 17:45] yfdyh000 commented on #6164
I think they should be max=56.0, unless the add-on developer set the strict compatibility. This is the previous act.

[2017-08-13 17:55] diox commented on #6164
For each Firefox release, we bump the compatibility of *most* legacy add-ons on AMO to the next version. Emphasis on *most*. I'm not sure why those have not been bumped in a while, maybe @wagnerand knows.

[2017-08-14 06:26] apoorvasingh17 commented on #4574
Hi, can I work on this?

[2017-08-14 07:42] EnTeQuAk commented on #6066
So the problem was as far as we found out a few stale `django-mozilla-product-details` files which we removed and re-synced which eventually fixed the problem described here:

 * (outside container) look for `src/olympia/lib/product_json` folder
 * (outside container)  remove all `*.json` files in there: `rm -rf src/olympia/lib/product_json/*`
 * (outside container)  restore the `readme.md` file a

[2017-08-14 07:57] EnTeQuAk commented on #4574
I'm not sure if @lavish205 is currently working on this, if not, sure @apoorvasingh17 go for it!

[2017-08-14 08:41] apoorvasingh17 commented on #4574
@EnTeQuAk Thank you :)
Where can I find the guidelines to set up the environment?

[2017-08-14 08:55] wagnerand commented on #6164
Looking at the compatibility settings, it seems both failed compatibility bumping at some point.

[2017-08-14 09:00] EnTeQuAk commented on #4574
@apoorvasingh17 you can find everything you need in http://addons-server.readthedocs.org/en/latest/topics/install/docker.html and the already mentioned https://wiki.mozilla.org/Add-ons/Contribute/Code#Improve_addons.mozilla.org_.28AMO.29

[2017-08-14 15:16] MarkCSmith commented on #5637
Sorry to comment on a closed issue,but are there docs for this feature? My specific question is whether add-on authors will be able to configure a recommended WE replacement for their own legacy add-on, or if they will need to ask someone at Mozilla to do that for them.

[2017-08-14 15:21] jasonthomas commented on #6161
cc @bqbn

[2017-08-14 15:49] muffinresearch commented on #5637
@MarkCSmith hi, this feature is only for admins to setup replacements. There is a discourse thread can contribute suggestions: see https://discourse.mozilla.org/t/favorite-webextensions/17087

[2017-08-14 16:56] bqbn commented on #6161
The issue may have to do with this error log:

[code]

Nginx somehow resolved the upstream (in this case, localhost) to "[::1]", which doesn't exist. I've set the upstream to "127.0.0.1" on the instance for now.

@jvillalobos please check again.

[2017-08-14 17:27] bqbn commented on #6161
It looks like the IP resolution is part of the issue. In #6043, towards the end, it's also mentioned that the issue may be "we are missing data in elasticsearch"? How was that solved?

[2017-08-14 17:40] bqbn commented on #6161
Elasticsearch returned 400 bad request. See below,

[code]

[code]

[2017-08-14 17:52] kumar303 opened #6165 "Document the version compatibility API response better"
The [`version.compatibility`](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#version-detail-object) data structure in API responses isn't documented very well.

[2017-08-14 18:04] tofumatt opened #6167 "Add new footer links"
See: https://github.com/mozilla/addons/issues/471

[2017-08-14 20:33] jvillalobos commented on #6162
That's because we haven't removed all legacy add-ons from the Featured Add-ons collection. This is scheduled to happen on September 1st. /cc @devaneymoz in case there has been any change of plans.

[2017-08-14 20:33] #6162 closed

[2017-08-14 21:21] jvillalobos commented on #6161
Still not working.

[2017-08-14 22:12] bqbn commented on #6161
Yeah, I'm able to reproduce it. And it's due to the 400 error I posted above. We need some help to check why the application is sending a request that the ES doesn't recognize.

[2017-08-14 22:54] devaneymoz commented on #6162
Yes - legacy content will be removed from the Featured Extensions collection on 1 September.

[2017-08-14 23:10] diox commented on #6161
The tool relies on a specific index, which itself uses dynamic mapping. That index is filled with add-on compatibility data by `compatibility_report` cron. Crucially, the tool needs at least one document with data for the latest released version of Firefox to work, because it's using it as a sort field. (That's because it's using dynamic mapping: the field would not exist otherwise).

Unfortunatel

[2017-08-14 23:19] #6141 closed

[2017-08-15 06:22] yfdyh000 commented on #6111
Due to use of [`path`](https://nodejs.org/docs/latest/api/path.html). I tried to changes to `path.posix.` or [path-posix](https://www.npmjs.com/package/path-posix), but encountered a variety of errors for build or debugging, did not succeed.

[2017-08-15 09:01] EnTeQuAk commented on #2661
I like the extensive definitions of custom analyzers which we might want to look at https://github.com/mozilla/zamboni/blob/master/mkt/search/indexers.py#L168-L227

[2017-08-15 09:16] tofumatt opened #6168 "API does not surface custom license URL"
### Describe the problem and steps to reproduce it:
See/blocks: https://github.com/mozilla/addons-frontend/issues/2589

The output of https://addons-dev.allizom.org/api/v3/addons/addon/fb-purity-cleans-up-facebook does not include a license URL but the Django app uses `addon.current_version.license_url()` to create one. If that URL should always just be `{addon_url}/license/{addon.current_version.

[2017-08-15 12:59] EnTeQuAk commented on #2661
might even be worth a separate issue but I stumbled upon the fact that we define boost factors of `0.X` (e.g 0.8 for summary matches, 0.3 for description matches etc). But given that all these boost factors are by default getting **multiplied** we actively reduce the score for matches in these fields. This isn't documented like that so I feel like this was an accident. @diox any idea why we do tha

[2017-08-15 13:04] EnTeQuAk commented on #2661
Another thing: We also do not have any *exact match* preferring rule in there that would immediately boost exact add-on name matches. I feel like that could be a useful feature, especially if people are actively searching for an add-on that isn't used that much used or potentially not as SEO described as others but insists he wants that because a friend of a friend recommended it.

[2017-08-15 13:41] pamadini commented on #6164
I've noticed the same issue when using the website in Firefox 55, and as a workaround I've manually updated the compatibility metadata for the latest version of the add-on I'm maintaining.

However, this is still a bug in the compatibility checking. Many legacy add-ons have been uploaded with the default setting of strict compatibility disabled, in which case the maximum version is usually set to

[2017-08-15 17:30] atiqueahmedziad commented on #5379
@caitmuenster I had to close the previous pr due to having conflicts. I will open a new pr within this week. :D

[2017-08-16 09:03] ValentinaPC commented on #6053
Verified as fixed for themes and collections using FF54(Win 7).
Issue is still **reproducing** for add-ons, while making an empty search with filters set to "Any Firefox" and "Windows" - to display more results.
Please see video:
![add-ons](https://user-images.githubusercontent.com/15685960/29355718-c45022a6-827a-11e7-9517-93bfc930bcd3.gif)

[2017-08-16 09:13] diox commented on #2661
Regarding the boost values, I have no idea, it does feel like an accident. Do check the `_score` in results to confirm your findings, it seems like a weird oversight...

In any case, yes, a rule for exact matches would be great (there is one in Marketplace, it needs a raw, non analyzed version of the `name`.)

[2017-08-16 09:25] ValentinaPC commented on #5133
Verified as fixed on AMO-dev FF54(Win 7).
Same rules as for legacy add-ons are applied to CT as well.
Postfix screenshots fro new submissions and new version:
![ct](https://user-images.githubusercontent.com/15685960/29356284-6f042d90-827c-11e7-8779-bfb02b28969b.png)
![new-version](https://user-images.githubusercontent.com/15685960/29356285-6f07be24-827c-11e7-8b65-4474ba37dc6a.png)

[2017-08-16 10:34] diox commented on #6168
There is a property of the `license` object that is supposed to be used for this, `url`. However it's currently returning `null` for custom licenses. Custom licenses should be displayed by AMO, as you noted it should be `{addon_url}/license/{addon.current_version.version}/`.

 I'll make the API return that for the `url` property instead of `null` when it's a custom license, but you'll need to impl

[2017-08-16 10:36] duckgoduck opened #6172 "[_a_] pet"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-08-16 10:40] #6172 closed

[2017-08-16 10:48] tofumatt commented on #6168
Sounds good. Yeah, we would need to create the page as well, but for now we can at least add the link for mobile pages and they'll get the desktop fallback.

Thanks! 👍

[2017-08-16 12:18] EnTeQuAk commented on #2661
yeah, I am currently doing that. Especially reading through `_explain` is tiring but from what I see it seems that it's more an accident since we essentially lowering the score.

I'm writing tests for that though to verify my findings.

[2017-08-16 14:47] ValentinaPC commented on #6141
Verified this on AMO-dev FF54(Win 7).
Submission and new version uploads work as expected for Lang Packs. Compatibility options are available in Dev hub, until `57.0` and `*`

The only thing I wanna ask you, @diox, is that: we are ok with setting `maxversion` automatically to `56.*` if is set to "`*`" in install.rdf? More precisely #5277 applies to Lang Packs as well?

[2017-08-16 15:12] diox commented on #6141
Lang packs should not be submitted with `*` anyway, so yes, that should be fine.

[2017-08-16 15:24] #6168 closed

[2017-08-16 15:27] ValentinaPC commented on #6141
Marking as verified-fixed.

[2017-08-16 16:01] EnTeQuAk opened #6174 "Create a script that copies our public AMO add-ons for local development"
This is already WIP but I'm opening this issue to track it's progress.

The script should scrape our API and website to download all public add-on data that we have to simplify local development, e.g to test our search results and result scoring better.

[2017-08-16 20:08] jvillalobos opened #6176 "Quick Locale Switcher 2 doesn't appear in search results"
[This add-on](https://addons.mozilla.org/addon/quick-locale-switcher-2/) doesn't appear on search results for "Quick Locale Switcher", while the original Quick Locale Switcher does appear. See [this query](https://addons.mozilla.org/en-US/firefox/search/?q=quick+locale+sqitcher&appver=any&platform=all) for example.

One unusual thing I noticed about Quick Locale Switcher 2 is that its metadata is

[2017-08-16 20:15] diox commented on #6176
A variation of #6156 maybe ? /cc @EnTeQuAk

[2017-08-16 21:08] atsay opened #6177 ""Get Firefox Now" button on AMO in Chrome not working"
When you visit AMO from Chrome, and go to an extension listing or detail page, there is a green "Get Firefox Now" button that should take you to the Firefox download page. This button is currently not clickable.

Unsure how long it's been broken, but this impacts Firefox acquisition efforts.

Screenshot: https://www.dropbox.com/s/riwdztookcy1qj7/Screenshot%202017-08-16%2011.07.44.png?dl=0

[2017-08-16 21:15] wagnerand commented on #6174
Maybe one of the following does already what you need:

https://github.com/andymckay/addons-server-mirror
https://github.com/cr/webextaware

[2017-08-16 21:17] diox commented on #6177
Dammit. It's a regression from last week changes to the button styles. Fortunately the fix should be easy, so I'll cherry-pick it into this week's tag.

[2017-08-16 21:22] atsay commented on #6177
Oh thank goodness it's recent! Thanks for fixing!

[2017-08-16 22:03] atsay opened #6180 "Add "Get Firefox Now" button to AMO Theme pages in Chrome"
We currently only show these buttons for extension listing and detail pages but not themes. This impacts our ability to do Firefox acquisition campaigns around themes.

[2017-08-17 00:10] devaneymoz opened #6181 "When Firefox 57 releases, AMO Homepage should not present legacy extensions"
Legacy extensions will not work in Firefox 57. As such, the AMO homepage shouldn't spotlight any legacy content whatsoever.

For manually programmed editorial areas, this is easy enough to address (https://github.com/mozilla/addons/issues/457).

But the AMO homepage has system-generated content buckets that require consideration. Namely, extensions sorted as **Popular** and **Up & Coming**.

[2017-08-17 07:06] EnTeQuAk opened #6183 "unify collation settings for local mysql database"
I noticed that our collation settings aren't in sync for our local mysql docker container:

[code]

Let's configure that properly.

[2017-08-17 07:16] EnTeQuAk commented on #6176
yeah, maybe. I'll look into it together with the other search related issues.

[2017-08-17 09:07] ValentinaPC commented on #6168
Verified as fixed on AMO-dev FF54(Win 7, Android 7.2.1)
Custom License is displayed as a link and works as expected.
Postfix screenshots:
![license](https://user-images.githubusercontent.com/15685960/29404767-9ab1c0b0-8344-11e7-8ad7-630c7e7e092a.png)

[2017-08-17 09:14] diox commented on #6181
We can try to filter them out, but ultimately, it will look weird if we suddenly remove add-ons incompatible with 57 from these sections, especially if we do it now... Note that the homepage is cached and should not vary depending on the user-agent, so if we do any filtering it must apply to everyone (unless we do it in JavaScript after loading of the page, but that'd be janky)

/cc @jvillalobos f

[2017-08-17 09:14] #6177 closed

[2017-08-17 09:23] #6161 closed

[2017-08-17 09:54] ValentinaPC commented on #6161
Verified this in **stage** and ACR is working.
- dev is down, but based on early discussions is ok.
- prod - I have no rights, maybe someone can take a look there.

Screenshot from stage using FF55(Win 7):
![stage-acr](https://user-images.githubusercontent.com/15685960/29406879-21c04b70-834b-11e7-807e-dbefbcf28bb0.png)

[2017-08-17 10:04] ValentinaPC commented on #6177
Verified as fixed on AMO-dev Chrome Version 60.0.3112.90 (Win 7).
Postfix video:
![getff](https://user-images.githubusercontent.com/15685960/29407248-76786bce-834c-11e7-80e5-1980aa920fbf.gif)

[2017-08-17 10:05] diox commented on #6161
The fact that stage works is accidental :) It won't be fixed in prod today, will be next week.

[2017-08-17 10:11] diox commented on #6161
nvm: I just cherry-picked it, it *will* land on stage later today and go out in prod. I figured since the cron was broken anyway there was no possibility of further regression so we might as well try to get it fixed sooner than later since there were no conflicts when cherry-picking it.

[2017-08-17 10:46] tsl143 commented on #5224
@ValentinaPC I think this is already fixed by some other patch :)

<img width="1222" alt="screen shot 2017-08-17 at 4 14 16 pm" src="https://user-images.githubusercontent.com/5318732/29408786-34016a14-8367-11e7-9cbd-da71981012f4.png">

<img width="1214" alt="screen shot 2017-08-17 at 4 14 22 pm" src="https://user-images.githubusercontent.com/5318732/29408809-4ad9f148-8367-11e7-8c58-ea2b272b1f1f.pn

[2017-08-17 12:22] ValentinaPC commented on #5224
As you can see in my screenshot, the problem is in listing pages, not add-on details: https://addons-dev.allizom.org/ar/firefox/search/?q=webext&platform=windows&appver=
![listing](https://user-images.githubusercontent.com/15685960/29412037-cd6a8f12-835f-11e7-81bb-7731909057a3.png)

Thanks a lot, for your reply!

[2017-08-17 12:47] tsl143 commented on #5224
Oh, my bad :(
I will take this bug to fix  :)

[2017-08-17 13:30] #4757 closed

[2017-08-17 13:31] #6183 closed

[2017-08-17 14:00] mkaply opened #6188 "Unlisted add-on not signed even though email received saying it was signed"
Customer uploaded their add-on to AMO (unlisted) and received this email:

Your add-on, Anpassungen für Stadt Freiburg 1.1.5, has passed our
automatic tests and is now signed and ready for you to download at
https://addons.mozilla.org/de/developers/addon/695134/versions . Note
that you need to be logged in as a developer of the add-on before
downloading.

Upon downloading, the add-on is NOT signed

[2017-08-17 14:11] willdurand opened #6189 "Autocomplete endpoint returns results with null names"
Hi,

The autocomplete endpoint returns results with `null` value for the `name` field.

[The documentation](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#autocomplete) says it returns a subset of fields but its behavior is similar to the search API. In the [add-ons object documentation](https://addons-server.readthedocs.io/en/latest/topics/api/internal.html#addon-detail-obj

[2017-08-17 14:26] SVSanta opened #6190 "Diferent results for same empty search"
Steps to reproduce:

1. Perform an empty search.
2. Perform the same empty search a few more times.

Expected results:
The results are displayed in the same order.

Actual results:
The results are displayed in different orders, this issue also reproduces when refreshing the page after the search is performed.

Notes/Issues:
Verified on AMO-dev FF55(Win 10).
Gif for this issue:
![empty search dif r

[2017-08-17 14:59] ValentinaPC commented on #4757
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![searchbar](https://user-images.githubusercontent.com/15685960/29418672-ab43e9e0-8375-11e7-83e7-f9a7201b89d2.gif)

[2017-08-17 17:39] jvillalobos commented on #6188
I can reproduce this on -dev. Not sure what is going on here, since previous versions that were signed aren't very different. It's usually some manifest error, so it could be related to the very old compatibility range.

[2017-08-17 17:42] jvillalobos commented on #6181
I agree that we should do this, and also agree that the timing needs to be right. I'm thinking we could do this after 57 hits Beta, on September 26th.

[2017-08-17 22:12] kumar303 opened #6191 "Expose rating counts grouped by star in API"
The API (maybe [add-on detail API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#get--api-v3-addons-addon-(int-id%7Cstring-slug%7Cstring-guid)-)?) needs to expose rating counts grouped by stars. It could look something like this (just an idea):

[code]
Here is how we will be rendering it [in the UI](https://github.com/mozilla/addons-frontend/issues/2564):

<img width="461" a

[2017-08-18 00:08] diox commented on #6191
The reviews API already has a `show_grouped_ratings` parameter for this : http://addons-server.readthedocs.io/en/latest/topics/api/reviews.html

Is that enough for you ? It's not ideal for perf to have this in the add-on detail API.

[2017-08-18 08:34] ValentinaPC commented on #6180
Verified this on AMO-dev Chrome Version 60.0.3112.101 (Win 7).
The "Get Firefox now" button was added to personas as well, in details page and work as expected.
Postfix screenshot:
![personas](https://user-images.githubusercontent.com/15685960/29450865-2568fdd0-8409-11e7-9a18-1d996c474855.png)

In themes homepage pr listing pages the "+Add" button is still displayed, and inactive - @diox - do we w

[2017-08-18 08:58] diox commented on #6180
Sigh, it's a completely different button code, because of course it is. I'll look into it.

[2017-08-18 09:02] #6174 closed

[2017-08-18 09:03] EnTeQuAk commented on #6174
Done, closed since we decided not to publish that script in our repository. If someone needs it, feel free to ping me.

[2017-08-18 09:13] EnTeQuAk commented on #6190
I'm assigning this to me to re-test once https://github.com/mozilla/addons-server/pull/6171 get's merged, I can't reproduce this with the changes in #6171 anymore.

[2017-08-18 09:15] #5224 closed

[2017-08-18 12:08] SVSanta commented on #6018
Verified as fixed on AMO-dev FF55(Win 10)
Postfix gif:
![admin tools](https://user-images.githubusercontent.com/28138132/29458297-0a5c1d9c-8427-11e7-87ba-6fe88fb37b63.gif)

[2017-08-18 13:02] ValentinaPC commented on #5224
Verified as fixed on AMO-dev FF55(Win 7).
Postfix screenshot:
![rtl](https://user-images.githubusercontent.com/15685960/29459961-9966e1b4-842e-11e7-86c3-472a681de8cb.png)

[2017-08-18 15:44] vcarciu opened #6196 "Green install button for incompatible langpacks"
Steps to reproduce:
1.Go to https://addons.mozilla.org/en-US/firefox/addon/english-us-language-pack/ on latest nightly
2.Try to install the lang pack from the green install button

Expected results:
If the lang pack is not compatible with Firefox version, the button should not be green

Actual results:
The button is green, but an incompatibility message is displayed when trying to install it and l

[2017-08-18 15:49] diox commented on #6196
Paging @jvillalobos and @wagnerand for input.

So, this is a langpack that was created for Firefox 55.0. It's marked as compatible with Firefox 55.0 and later on AMO.

*Technically*, AMO seems to be behaving as expected: it's considering the langpack as compatible by default since strict compatibility is not enabled for this add-on, so it presents a 57 user with a green install button. Should AMO

[2017-08-18 15:53] wagnerand commented on #6196
For langpacks, it doesn't matter whether the author set the `strictCompatibility` flag or not. They are always strict-compatible.

Imho, the button should not be green and there should be a message about incompatibility.

[2017-08-18 15:53] kumar303 commented on #6191
Oh! I somehow totally forgot about that one. Thanks, I'll try it with that and see if I run into any issues.

[2017-08-18 15:53] #6191 closed

[2017-08-18 15:55] diox commented on #6196
Ok, I'll force them to be considered as having strict compatibility always enabled then.

[2017-08-18 17:18] EnTeQuAk commented on #6156
I'm pretty sure it's the regression we found that's related to the upgrade and our scoring / matching. For example, the add-on is perfectly reachable via https://addons.mozilla.org/en-GB/firefox/search/?q=autodelete&appver=57.0&platform=windows so it doesn't seem locale related.

I'm assigning this to me in any case

[2017-08-18 17:23] EnTeQuAk commented on #6190
This seems to have been fixed by https://github.com/mozilla/addons-server/pull/6171, I can't reproduce this anymore on -dev.

Please feel free to re-open in case I missed anything.

[2017-08-18 17:23] #6190 closed

[2017-08-18 17:33] EnTeQuAk commented on #6156
actually… I tested this again and it seems unrelated to my recent changes so there's another bug lurking somewhere. I'll look into it.

[2017-08-18 17:33] EnTeQuAk commented on #6176
Given #6156 is actually valid and not fixed by my recent changes I'll close this as a duplicate.

[2017-08-18 17:33] #6176 closed

[2017-08-18 17:40] EnTeQuAk commented on #6117
Alrighty, I finally got this reproduced locally with properly synced public prod data. This is indeed valid, once an add-on only has en-GB (or pt-BR or anything that's not en-US) it's not listed anymore. I'll dig deeper.

[2017-08-18 17:41] EnTeQuAk commented on #6128
I'm going to close this issue since the merging of #6171 actually fixed the result scoring quite a bit, there will be a follow-up but I'll open another issue for it. I'll also follow up with each of the other bugs separately.

[2017-08-18 17:41] #6128 closed

[2017-08-18 17:43] EnTeQuAk commented on #6156
Alrighty, I finally got this reproduced locally with properly synced public prod data. This is indeed valid, once an add-on only has en-GB (or pt-BR or anything that's not en-US) it's not listed anymore. I'll dig deeper.

[2017-08-18 17:50] EnTeQuAk commented on #6117
Closing as fixed, see screenshots. They're from my local environment, these changes are on -dev and should soon be on -stage and -prod next week.

![screenshot from 2017-08-18 19-50-10](https://user-images.githubusercontent.com/139033/29470919-77f54618-844e-11e7-9efe-21eab9a30df9.png)
![screenshot from 2017-08-18 19-49-49](https://user-images.githubusercontent.com/139033/29470921-782b820a-844e-11e

[2017-08-18 17:50] #6117 closed

[2017-08-18 17:58] EnTeQuAk commented on #6137
This is about boosting exact matches more, this got better with recent fixes but we still ignore exact matches mostly. I'll work on this next week with other issues.

[2017-08-18 19:53] freaktechnik opened #6199 "Daily users stats are broken since 16.08.2017"
### Describe the problem and steps to reproduce it:
The daily users stat count is 0 starting from 16.08.2017 for all extensions. This also includes all the substats like versions etc.

### What happened?
The usage stats say 0 users for every extension

### What did you expect to happen?
At least my usage of the extensions should show up (so the stats should have at least one user reported)

### An

[2017-08-18 19:56] jvillalobos commented on #6199
I can confirm on other add-ons as well.

[2017-08-18 21:46] bqbn commented on #6199
8/17 data on [1] is restored.

8/16 has not because I don't have the privilege to run some of the scripts that can regenerate those data. I've asked for that privilege in a Bugzilla ticket. We'll have to wait for that.

[1] https://addons.mozilla.org/en-US/firefox/addon/justintv-stream-notificatio/statistics/usage/?last=30

[2017-08-19 00:04] tofumatt opened #6200 "Clear up garbage playmate themes from stage"
### Describe the problem and steps to reproduce it:
I'm debugging add-ons and searching for themes, then I get a screen full of women in lingerie. Coffee shop development becomes awkward, contributors feel off-put during development, and I let out a frustrated sigh knowing this is likely just data from production.

Search https://addons.allizom.org/en-US/firefox/search/?q=a&cat=themes to see what

[2017-08-19 15:13] jiskte opened #6201 "kompozer/0.8b3"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-08-19 16:48] wagnerand commented on #6201
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

If there isn't any contact info available for that developer we're sorry about that, but we aren't able to offer support for add-one th

[2017-08-19 16:48] #6201 closed

[2017-08-19 18:11] diox commented on #5906
I just noticed [the migration had mistakenly been added to the root directory](https://github.com/mozilla/addons-server/blob/master/960-drop-no-total-contributions-column.sql) instead of `/src/olympia/migrations/` so it has never been executed in dev/stage/prod. Let's fix this.

[2017-08-19 21:59] tofumatt opened #6205 "Add a search param for featured add-ons"
The new search mocks include a switch to include only featured add-ons, but the current search API doesn't support returning only featured add-ons.

Maybe this is unclear or really tough to implement and I think it's a bit of a strange feature anyway. Would this be a tough option to add to the [Search API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#search)?

See: https://

[2017-08-20 01:27] tofumatt opened #6206 "Ignore platform filter for personas"
This isn't a blocker but it would be nice if the `platform` filter was ignored when it will only cause empty result sets. For the new search filter (https://github.com/mozilla/addons-frontend/issues/2956) we allow sending `sort`, `platform`, and `type` params (in any combination).

When `type=persona` and `platform` is set to anything there are no results returned, even though the persona *should*

[2017-08-20 04:27] Divya063 commented on #1822
@EnTeQuAk  I would like to take this issue.

[2017-08-20 17:26] diox commented on #6206
Yeah, we should just always consider them available for all platforms at indexing time, that way you could even search for all add-ons (regardless of type) for a given platform.

[2017-08-21 07:30] ValentinaPC commented on #6117
Searched for that extension on AMO-dev using FF57(Win 7) and I was not able to find it.
URL from the bar: https://addons-dev.allizom.org/en-US/firefox/search/?q=merge&appver=57.0&platform=linux
Screenshot:
![merge](https://user-images.githubusercontent.com/15685960/29508024-85b61688-865b-11e7-839f-7ef8ac2433e3.png)

[2017-08-21 10:41] #6086 closed

[2017-08-21 11:06] #5906 closed

[2017-08-21 11:19] vcarciu commented on #6190
@EnTeQuAk
Please let me know if this should be applied to Collections search , where the issue is still reproducible :
![searchsearch](https://user-images.githubusercontent.com/1583842/29517004-a5860340-867b-11e7-84e3-03b455c21520.gif)

[2017-08-21 11:42] ValentinaPC commented on #6086
Verified on AMO-dev FF55(Win 7).
Postfix screenshot:
![rtl-incompat](https://user-images.githubusercontent.com/15685960/29517634-acdcd364-867e-11e7-8f8b-c52ca577fe6b.png)

@tsl143 - should we align the text to the right, to remove the white space between the incompat sign and the text? Not sure how is correct. Thanks!

[2017-08-21 11:43] EnTeQuAk commented on #6190
mhmm, seems like this still fails. But I can't reproduce this anymore with my recent changes for regular add-ons search.

Mind opening a new issue for collections search being random like that?

[2017-08-21 11:45] vcarciu commented on #6190
@EnTeQuAk : sure, thanks

[2017-08-21 11:45] EnTeQuAk commented on #6117
That Extension is not on -dev unfortunately. If you create an add-on with that name (And `Merge Windows` as another one) you should be able to find them.

https://addons-dev.allizom.org/en-US/firefox/addon/merge-all-windows/

[2017-08-21 11:54] diox opened #6208 "UndefinedError in devhub edit view"
We are seeing this in sentry: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/621265/

`UndefinedError` in /zh-CN/developers/addon/easyscreenshot/edit: `'form' is undefined`

The relevant template (`devhub/addons/edit/basic.html`) bit:
[code]

Both `editable` and `form` are absent (they are present when this template is rendered from a different view responsible for showing a single

[2017-08-21 11:57] tsl143 commented on #6086
Doing the text right align will give something as
<img width="357" alt="image" src="https://user-images.githubusercontent.com/5318732/29518146-dea723a6-8695-11e7-8f4e-ffd9646b6732.png">
is that fine?

[2017-08-21 12:10] vcarciu opened #6209 "Different results for same empty search in collections"
Steps to reproduce:
1.Perform an empty search on collections (https://addons-dev.allizom.org/en-US/firefox/collections/)
2.Perform the same empty search a few more times.

Expected results:
1.Search results should be displayed in the same order

Actual results:
The results are displayed in different orders, this issue also reproduces when refreshing the page after the search is performed.

Please

[2017-08-21 12:11] vcarciu commented on #6209
Issue found during verification of #6190

[2017-08-21 12:13] vcarciu commented on #6209
This was verified in AMO-dev FF55(Win 7).

[2017-08-21 12:46] ValentinaPC commented on #6117
While submitting an add-on with that name, it can be found during search or added in a collection.
Verified as fixed on AMO-dev FF55(Win 7).
Postfix screenshots:
![merge-s](https://user-images.githubusercontent.com/15685960/29519941-e945fafc-8687-11e7-8593-bd7786da92d4.png)
![mw](https://user-images.githubusercontent.com/15685960/29519942-e9482412-8687-11e7-911c-2b066537a2b0.png)

[2017-08-21 12:48] ValentinaPC commented on #6086
@EnTeQuAk : opinion?

[2017-08-21 13:00] tsl143 commented on #4209
This issue also replicates with `Download` button on chrome and other browsers.
<img width="908" alt="screen shot 2017-08-21 at 6 19 26 pm" src="https://user-images.githubusercontent.com/5318732/29520473-cd1dd11c-869e-11e7-8725-c7afcd3c98b6.png">

<img width="892" alt="screen shot 2017-08-21 at 6 19 05 pm" src="https://user-images.githubusercontent.com/5318732/29520464-c208c6e2-869e-11e7-86c9-6af9

[2017-08-21 13:22] #6119 closed

[2017-08-21 13:49] diox commented on #6180
I tried to do this, but it would require significant tweaks to the style, because the "Get Firefox Now!" button is much larger and it breaks the grid layout used in personas listing, so I don't think it's worth doing right now.

Attaching the patch just in case someone wants to take a look:
[code]

[2017-08-21 13:49] #6180 closed

[2017-08-21 14:46] EnTeQuAk commented on #6086
thanks @tsl143 for the quick turnaround. Yeah, right aligning that text sounds like a great idea.

[2017-08-21 15:34] ValentinaPC commented on #6119
Verified as fixed on AMO-dev FF55(Win 7).
Postfix video:
![incompat](https://user-images.githubusercontent.com/15685960/29526760-5a7ebf4e-869f-11e7-98f3-836f1fd1e79b.gif)

[2017-08-21 15:39] ValentinaPC commented on #6150
Verified this on AMO-dev FF55(Win 7).
Compatible add-ons display the installation button only at hover, as before.
Please see the screenshot:
![incomapt-_vs _compat](https://user-images.githubusercontent.com/15685960/29526971-076b9d30-86a0-11e7-8273-06675842c78b.png)

[2017-08-21 15:43] diox commented on #6150
@jvillalobos should we always display the green install button in search or only at hover? I didn't want to change this behavior so I only hid the incompatible buttons, but if it makes more sense to always chose the green buttons it's easy to do.

[2017-08-21 15:49] ValentinaPC opened #6212 "Compatible add-ons have "Download anyway" link"
Steps to reproduce:
1. Load details page to a compatible with your browser add-on i.e. https://addons-dev.allizom.org/en-US/firefox/addon/webext-simple/?src=search or https://addons-dev.allizom.org/en-US/firefox/addon/firebug/?src=search

Expected results:
There is a green installation button.

Actual results:
There is a "Download anyway" link under the installation button.

Notes/Issues:
- reprod

[2017-08-21 16:37] hwine opened #6214 ""Find a replacement" is not designed to be helpful."
### Describe the problem and steps to reproduce it:
With 57 & support for legacy add-on's enabled, the link for "Find a replacement" is not designed to be helpful. While the URL from Firefox 57 includes the name, and some features, of the legacy add-on, every request is redirected to "https://addons.mozilla.org/en-US/firefox/collections/mozilla/featured-add-ons/?src=find-replacement"

### What hap

[2017-08-21 16:58] EnTeQuAk commented on #6209
Actually, this could very well be missing data on -dev, this works perfectly fine on -stage and -prod -> https://addons.allizom.org/en-US/firefox/search/?cat=collections&sort=all

We don't have stats running on -dev and most popular afair is based on our stats. Stage has bits of our production data so it does have some stats or at least most popular ratings copied.

[2017-08-21 16:58] #6209 closed

[2017-08-21 17:18] #6208 closed

[2017-08-22 10:36] eviljeff commented on #6200
Well... we can't programmatically filter existing personas based on an individual's definition* of what is appropriate or not.  Those personas were with acceptable content guidelines* when uploaded to production.
You're getting those particular personas because you're searching for "a" - if you searched for "b" the results are different.  As it's stage no-one is going to care if you delete anythin

[2017-08-22 10:42] tofumatt commented on #6200
Yeah, I get there isn't a programmatic way to do this. I also understand I'm being a prude 😅

When I'm at home it's just sort of annoying, but I'm actually thinking about the developer who *is* working on this from a cafe in Qatar or Indonesia. In Europe or the Americas I'll generally just get a raised eyebrow, but this stuff (unexpectedly, to a new developer at least) popping up on a screen might

[2017-08-22 10:43] eviljeff commented on #6189
looks like a l10n fail somewhere along the way - https://addons-dev.allizom.org/api/v3/addons/autocomplete/?app=android&q=adblock%20P&lang=pt-BR includes the name but https://addons-dev.allizom.org/en-US/firefox/addon/verificador-ortogr%C3%A1fico-para-p isn't broken enough not to have the name.

[2017-08-22 10:47] diox commented on #6200
:+1: and IMHO, it's just as problematic for *users* in those countries as well, in production. I'm no prude either, I don't mind for myself, but this could be a bit embarrassing (or worse!) for some users...

[2017-08-22 11:51] codefisher opened #6221 "External API to delete unlisted add-ons"
I have been using the API to create unlisted add-ons.  I would like to be able to easily clean them up after because I am getting quite a lot of them now.  There is no way in the API to delete add-ons.  I know it might be a security risk to allow this for any add-on, but for those that are unlisted it might be permitted?

For a bit of context to this question see my online tool: https://codefisher

[2017-08-22 14:21] #6212 closed

[2017-08-22 14:23] diox commented on #6212
QA: I moved the "Download anyway" link into the warning being shown when there are no compatible versions. It should now be hidden when the add-on is compatible, and shown otherwise, unless we can't find an appropriate platform (*)

Please test with various platform/version incompatibility/browser scenarios.

(*) It can't be shown if the *platform* is incompatible, because we would not know which

[2017-08-22 15:19] mkaply commented on #6188
Is this going to be looked at? This seems like a pretty big deal. Has anyone else reported issues?

[2017-08-22 15:31] diox commented on #6188
It's priority 2, so we are treating it as a pretty big deal. Nobody else has reported this kind of issue however, so it could be that only this particular add-on is affected.

[2017-08-22 15:55] diox commented on #6188
From the logs of my new upload on dev:
Not signing version 1532773: not for a Firefox version we support :/data/olympia/src/olympia/lib/crypto/packaged.py:144

This is bad because it's a) only raised at signing time and b) silently ignored (though logged...). It happens for legacy extensions targeting a pretty old (< 37) version of Firefox as their max version in the manifest. It started happening

[2017-08-22 17:14] wagnerand commented on #5589
No problem, we're closing this then.

[2017-08-22 17:14] #5589 closed

[2017-08-22 17:29] #6188 closed

[2017-08-22 17:32] diox commented on #6188
This should be fixed on master, and will land on -dev shortly. It will be cherry-picked to land on prod on Thursday.

@mkaply : once the fix hits prod, will you need us to sign your version or can you delete the broken one(s) and upload a new one?

[2017-08-22 17:44] mkaply commented on #6188
Deleting broken and reuploading should be fine. Thanks!

[2017-08-23 03:47] andymckay opened #6226 "Upload a webextension with a bogus strict_max_version and it hits amo-validator"
### Describe the problem and steps to reproduce it:

Upload the extension here: https://www.dropbox.com/s/lp21hwbooscovat/new-firefox-extension.zip

### What happened?

Got an error that said "This tool only works with legacy add-ons."

### What did you expect to happen?

It's not a legacy add-on, yet that string is from amo-validator: https://github.com/mozilla/amo-validator/blob/50e2e5cb9c6d1a94

[2017-08-23 04:30] vishal-chitnis commented on #3919
Hi, I have found the template used for this page. I would like to work on this.

[2017-08-23 06:58] EnTeQuAk commented on #6226
This is indeed very weird, as far as I know the we decide whether or not to use linter vs validator based on if there's a `manifest.json` present in which case we mark an extension as a WebExtension so there is not much parsing going on before that decision is happening.

[2017-08-23 09:06] #6156 closed

[2017-08-23 09:10] diox commented on #6226
Maybe some weird exception handling - if we catch the error by accident and we do a `if` without a `else` to call the linter or the validator, we might end up calling the linter, raising an exception, catching it, calling the validator? It should be rather obvious to spot if that's the case.

[2017-08-23 09:21] diox commented on #6226
Good news is that I can reproduce this locally.

[2017-08-23 09:25] EnTeQuAk opened #6227 "Delete bulk validation models and database entries."
We're removing views, forms and templates for our bulk validation in #6131 but not yet database related entries.

Let's do that too.

* ValidationResultMessage
* ValidationResultAffectedAddon

[2017-08-23 11:09] tofumatt commented on #6206
Another thing to note is that passing the `appversion` param (eg `/search/?appversion=57.0&app=firefox&q=test`) will result in only extensions being returned because themes seem not to have this compatibility info set. Searching for themes specifically with the same query (eg `/search/?appversion=57.0&app=firefox&q=test&type=persona`) results in zero themes/zero search results.

It would also be n

[2017-08-23 11:10] diox commented on #6206
We should apply a similar strategy for the `appversion` as the one I describe for the `platform` above: just set a low min, high max compatibility with Firefox for all personas.

[2017-08-23 12:07] tsl143 commented on #3649
@eviljeff / @EnTeQuAk
Can anyone please review this ?
:)

[2017-08-23 12:42] ValentinaPC opened #6230 "Sorting add-ons after "Type" does not work as expected in Reviewer Tools"
Steps to reproduce:
1. Load New Add-ons queue in Reviewer Tools https://addons.allizom.org/en-US/editors/queue/new
2. Sort the add-ons after "Type"

Expected results:
Add-ons are sorted alphabetically.

Actual results:
Add-ons are not sorted alphabetically.

Notes/Issues:
- reproducing in all queues.
Verified on FF55(Win 7). reproducing on dev and stage.
![2017-08-23_1542](https://user-images.gith

[2017-08-23 12:56] tmm88 opened #6231 "converting the README file and so on so forth from *.rst extension to *.md"
**i would like to point out the the suggestion of:**
- *converting the README file and so on so forth from .rst extension to .md extension*

---

**motivation:**
- *making files easier to be modified and edited;*
- *making files easier to be maintained;*

[2017-08-23 13:52] vcarciu commented on #6188
Verified as fixed by submitting a legacy extensions targeting an old (< 37) version of Firefox as max version in the manifest on AMO-dev. After downloading the extension, it was signed (verified with the same legacy extension on Stage where it was not signed) :
![signed](https://user-images.githubusercontent.com/1583842/29619255-526db4b0-8823-11e7-97a7-1f09da5418e4.png)

[2017-08-23 13:59] ValentinaPC commented on #6212
Verified this on AMO-dev FF55(Win 7) and obtain the following:

- link not shown for incompatible platform
![not_shown_for_incomp_plat](https://user-images.githubusercontent.com/15685960/29618882-2938fa10-8822-11e7-81bb-d8f09f487e01.png)

- "Download anyway" triggers a download
![down](https://user-images.githubusercontent.com/15685960/29618966-6153b1ec-8822-11e7-90e1-4afa9e3f06ca.gif)

- checked

[2017-08-23 14:05] diox commented on #6212
1. I decided against it showing it in the listing pages. If people want to download anyway they can go to the add-on detail page
2. It's not ideal but let's keep it for now until someone complains because it's just a cosmetic edge case and I'm sick of this button code...

[2017-08-23 14:52] ValentinaPC commented on #6212
Based on above verification and comments we can mark this as verified-fixed.

[2017-08-23 15:11] EnTeQuAk commented on #6001
Unassigning myself for now until I really have time to work on it.

[2017-08-23 15:41] #6131 closed

[2017-08-23 16:57] yfdyh000 opened #6235 "Change default sorting to be "Updated" on "developers/addons" (my add-ons) page"
### Describe the problem and steps to reproduce it:
Open https://addons.mozilla.org/developers/addons, see your uploaded add-ons.

### What happened?
There may be many add-ons, and they are sorted by name by default. This is unreasonable.

### What did you expect to happen?
Updated date sorted by default.
Consider grouping for recent updates, listed, etc.

### Anything else we should know?
If the

[2017-08-23 16:59] yfdyh000 commented on #6235
Maybe this issue should be reported at https://github.com/mozilla/addons-frontend/issues?

[2017-08-23 17:16] andymckay opened #6236 "uBlock origin can't upload their extension"
Mostly in https://github.com/gorhill/uBlock/releases/tag/1.13.10, I'm filing on their behalf.

My guess is that uBlock already has a WebExtension in the Beta channel and the check to see if a WebExtension version already exists does not take that into account. That's a guess though, someone should check that's the case.

Would like to give this a bit of priority if we can please.

[2017-08-23 19:49] wagnerand commented on #6236
Side note: I was able to override the failed validation and submitted the version on behalf of the author.

[2017-08-23 20:33] dessant commented on #6200
Most of them may also infringe on someone's copyright. 😋

[2017-08-23 22:22] tofumatt commented on #6200
That may be true, although we have to rely on copyright holders to inform us of violations because of, I believe, how DMCA safe harbour works. Or something like that. I am not a lawyer 😆

[2017-08-23 23:46] jvillalobos commented on #6150
I would prefer that we always show the buttons, if that isn't hard to do. The hover behavior is a bit strange and has confused others.

[2017-08-23 23:55] jvillalobos commented on #6214
The Featured Add-ons list is the fallback option, in case there are no set replacements for the particular add-on you're looking for. The Find Replacement feature is optimized to provide some alternatives for the top add-ons, but for the long tail there won't be anything else we can recommend.

We hope this will become more useful as more add-ons are ported and we have more to choose from as recom

[2017-08-23 23:55] #6214 closed

[2017-08-24 00:07] diox commented on #6150
Ok, I'll do it for next week's push

[2017-08-24 03:26] hwine commented on #6214
Ah, got it. That makes more sense. It would be nice if the experience was smoother, but that's not a bug.

In an ideal world, there would be a brief note for the long tail folks "Sorry, we don't have a a strong recommendation, here are some things to browse through."

[2017-08-24 04:33] eviljeff commented on #6200
If we're just talking about stage, and we havn't synced data from prod in a loooong time, the easiest fix may just be to delete any theme you don't like the look of.  That won't address the issues for users of prod who may not (or whose country may not) approve of certain themes though.

[2017-08-24 05:31] EnTeQuAk commented on #6235
This is actually perfectly fine here. The developer hub is on addons-server and will stay here for quite some time. The developers home page https://addons.mozilla.org/developers/ does contain a new layout and way of showing listed vs unlisted but I agree, sorting by something more reasonable is a good idea. Although, it's hard to argue that sorting by name is predictable and easy to figure out fo

[2017-08-24 05:40] #3919 closed

[2017-08-24 05:52] MikkCZ commented on #6214
Well, the featured list currently contains a lot of legacy addons. This will change before the release or beta, right?

[2017-08-24 07:23] ValentinaPC commented on #3919
Verified this as fixed on AMO-dev FF55(win 7).
Postfix screenshot:
![summ](https://user-images.githubusercontent.com/15685960/29654457-fda4a95a-88b5-11e7-83ad-8ac7578adcb4.png)

@EnTeQuAk : Should we add the same text in Basic Information also?
Please see screenshot:
![dev-hub](https://user-images.githubusercontent.com/15685960/29654529-42104f2c-88b6-11e7-88e2-dbb0ee90d439.png)

[2017-08-24 08:22] #6018 closed

[2017-08-24 08:22] #6147 closed

[2017-08-24 08:24] #6148 closed

[2017-08-24 08:31] #6042 closed

[2017-08-24 08:31] #6056 closed

[2017-08-24 08:47] #3649 closed

[2017-08-24 10:09] #6226 closed

[2017-08-24 10:54] eviljeff commented on #6167
There wasn't any UX so I just tried to make it look like it was supposed to be there...ish.  Or was it supposed to look like mozilla.org's list of links?  Hmm.  Anyway, what do you think?
![firefox footer](https://user-images.githubusercontent.com/768592/29663418-9af0cb48-88fd-11e7-8289-bec3d5d93d69.png)

[2017-08-24 11:28] madalincm opened #6237 "Older versions of legacy add-ons can't be downloaded"
### Steps to reproduce:
1. Open a legacy add-on Version History page. I.e: https://addons.allizom.org/en-US/firefox/addon/fastest-notifier-for-gmail/versions/?page=1#version-0.1.6.1-signed
2. Hover over any version and observe the install button.

### Expected results:
The button is grayed out but there is a link to download the version anyway.

### Actual results:
Any of the versions displayed in

[2017-08-24 11:29] ValentinaPC commented on #6226
Verified as fixed on AMO-dev FF55(Win 7).
A bogus strict_max_version does not turn the webextenstion into a legacy add-on.
Postfix screeenshot:
![bogus](https://user-images.githubusercontent.com/15685960/29664447-451112f2-88d8-11e7-9e1c-b090d1b0b15b.png)

[2017-08-24 12:05] ValentinaPC commented on #6056
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-24 12:49] diox commented on #6237
Yes, I placed the "Download anyway" link in the comp info box on the detail page, but I didn't want to overload the other pages with more links.

[2017-08-24 13:59] gaby2300 commented on #6214
I am sorry but till "Find a replacement" isn't really helpful and even
leads to non compatible with Firefox 57 addons, wouldn't it be better to
avoid offering the option?

On 24 August 2017 at 02:52, Michal Stanke <notifications@github.com> wrote:

[2017-08-24 14:00] yookoala opened #6239 "Incorrect language redirection in addons.mozilla.org"
### Describe the problem and steps to reproduce it:

Website should follow browser's language priority when doing redirection / content detection. The "Accepted-Language" header include priority for the language in it. All redirection or locale detection should respect the priority specified there.

For example, when provided with this "`Accepted-Language`" header:
[code]
a website should:

1. fin

[2017-08-24 14:04] diox commented on #6214
Yes.

Nightly is not release for a reason :)

[2017-08-24 14:12] madalincm opened #6240 "Legacy-add-ons that have contribution roadblock can't be downloaded from the collection page they are listed"
### Steps to reproduce:
1. Open this collection page: https://addons.allizom.org/en-US/firefox/collections/mozilla/webdev-toolbox-ivan-krsti%C4%87/
2. Scroll to the FoxyProxy Standard add-on and try to install it.

### Expected results:
The add-on can be downloaded.

### Actual results:
The Continue to download button is inactive.

### Notes/Issues:
Verified in FF55(Win7) Issue can be reproduced i

[2017-08-24 14:18] diox commented on #6240
I think I'd rather work on removing contributions that fixing this one...

[2017-08-24 15:31] gaby2300 commented on #6214
Of course! But as we are trying to get as many Nightly users as we can and
they are already grumbling about the addons issue, I thought this wculd be
yet another item to grumble about and lead them to stop using Nightly and
Firefox all together. It's not what we want, is it?

On 24 August 2017 at 11:04, Mathieu Pillard <notifications@github.com>
wrote:

[2017-08-24 17:34] jvillalobos commented on #6200
A "mature" flag has been considered before, but never prioritized. It's still in the back burner and could be considered for next year.

Additionally, new themes will allow us to have unlisted themes. We could potentially remove all mature themes from AMO and have them be unlisted instead. That's more of a content decision, but again, not for the near future. /cc @atsay @devaneymoz

[2017-08-24 17:42] jvillalobos commented on #6214
I would expect Nightly users to understand that nothing around it is a finished product, and things are bound to break. If they decide to stop using Nightly, I really doubt it will be because the recommendations feature wasn't useful for them.

[2017-08-24 18:46] jvillalobos opened #6245 "Non-admins should be able to delete add-on recommendation tool entries"
In #5637, users with `Addons:Edit` should have access to the tool and add recommendations. I didn't specify it, but they should also be able to delete added recommendations (and edit, not sure if that was tested). @devaneymoz pointed out that he didn't have permissions to delete. Hopefully this is an easy thing to fix.

[2017-08-24 21:01] diox commented on #3947
@wagnerand shouldn't we? Is there any reason to keep this information anymore at all with the impending switch to webextensions-only in Firefox 57?

[2017-08-24 23:54] atsay commented on #6200
I just want to clarify that women in bikinis are ok per guidelines, but definitely not rambo-style killing sprees.

Flagging could work if it happened on the review side. But how would you handle all the themes that are already there?

[2017-08-25 00:07] tofumatt commented on #6200
Thanks. Sorry to equate them too, that was lazy of me. I haven't encountered any gore yet, just bikinis.

I'm not sure how to deal with the data that's already there aside from a "flag as mature" button we could slowly click on all the offending themes. I don't think this is the kind of thing we should (expect to) automate.

I'd simply like reviewers and developers to have a simple, opt-in checkbo

[2017-08-25 00:25] atsay commented on #6200
I suppose hunks would meet the same fate? https://addons.mozilla.org/en-US/firefox/search/?q=hunk&cat=themes

[2017-08-25 00:35] tofumatt commented on #6200
Sadly, yes. I just see fewer of them in the search results for whatever reason, but I would just think of all of those themes as being at least somewhat "mature" in their nature.

Though https://addons.mozilla.org/en-US/firefox/addon/christmas-hunk/ is amazing and I'm better for knowing about it.

[2017-08-25 03:41] grahamperrin commented on #6181
FWIW I reckon that the changes should be sooner. Maybe also change the servers' caching policies for a limited period.

(IMHO it's weird to find a very prominently featured extension that's explicitly abandoned; to feature any extension that results in a yellow alert after installation; and so on.)

[2017-08-25 08:00] eviljeff commented on #6167
@pwalm what do you think ^ ?  It's shown on the user facing pages (until addons-frontend takes over) and devhub detail pages (but not developer landing)

[2017-08-25 08:23] cosminbadescuSV commented on #6148
This issue is verified as fixed on FF57.0a1 and  FF55.0.2 under Wind 7 64-bit on -dev server.

The “Test” link is added in the “url” column and after you click on the link, it redirects the user to the inserted path.

Please see the video:
![replacement-addons](https://user-images.githubusercontent.com/15885467/29705606-7e7aa7b0-8987-11e7-8eb3-de5a6ae3aabc.gif)

[2017-08-25 08:43] cosminbadescuSV commented on #6147
This issue is verified as fixed on FF57.0a1 and  FF55.0.2 under Wind 7 64-bit on -dev server.

The “Guid slug” column is displayed in the find replacement admin tool and contains the name of the Add-on from the Add-on URL path.

Please see the video:
![slugname](https://user-images.githubusercontent.com/15885467/29706431-80c983e4-898a-11e7-9641-71de36bac412.gif)

[2017-08-25 10:15] #6150 closed

[2017-08-25 11:47] ValentinaPC commented on #6150
Verified as fixed on AMO-dev FF55(Win 7).
Postfix screenshot:
![compat-incompat](https://user-images.githubusercontent.com/15685960/29712719-e59938d2-89a3-11e7-8f7b-d3754975f407.png)

[2017-08-25 12:04] madalincm commented on #6156
Verified as fixed in addons.mozilla.org in FF55(Win7)
The extension is correctly returned when performing a search:  https://addons.mozilla.org/en-GB/firefox/search/?q=cookie+autodelete&appver=57.0&platform=windows
Postfix screencast:
![engb](https://user-images.githubusercontent.com/15685441/29713307-a4a48afe-89a6-11e7-8961-68b02886d210.png)

[2017-08-25 14:17] diox commented on #6236
Note that fixing this creates another potential problematic edge case:
- User installs a beta (webext) version
- User then wants to install the public (legacy) version which has a higher version number
- Firefox fails to install, since it's a downgrade from a webext.

[2017-08-25 15:11] andymckay commented on #6236
At least in Firefox 57 that will cease to be a problem.

[2017-08-25 17:34] kumar303 opened #6250 "422 response from GitHub hook"
I just learned about [github hooks](http://addons-server.readthedocs.io/en/latest/topics/api/github.html) so I set one up 🍰

I'm not sure what it should do but when I tested it in a PR, I got a 422 response. It looks like some tests before that got 200 responses but those only happened when I was configuring the hook. Any ideas?

<details>
  <summary>Request headers</summary>

[code]
</details>

<

[2017-08-25 17:43] kumar303 commented on #6250
my test PR: https://github.com/kumar303/sound-control/pull/9

[2017-08-25 18:55] jvillalobos opened #6251 "Developer-disabled add-ons show in Featured Add-ons promo box"
We got a [report from a user](https://twitter.com/monzta/status/901124779729715200) that pointed out a disabled add-on showing up in the homepage. It turns out the add-on was disabled by the developer, but the Featured Add-ons promo box still displays it. We shouldn't show add-ons in that state when we're showing featured add-ons.

[2017-08-26 11:12] ExE-Boss opened #6253 "Changelog doesn’t appear if it is submitted after the extension is reviewed"
### Describe the problem and steps to reproduce it:
1. Submit an extension update
2. Start writing the changelog for the latest version
3. Have it reviewed
4. Finish writing the changelog for the latest version
5. Submit the changelog for the latest version

### What happened?
The changelog for the version doesn’t appear

### What did you expect to happen?
The changelog for the version should appe

[2017-08-26 11:16] diox commented on #6253
I do see the changelog so I assume it was just a temporary caching issue...

[2017-08-26 11:28] ExE-Boss commented on #6253
Well, I still don’t see the changelog, and I uploaded the extension.

![AMO – Application Button – Missing 0.1.5 Changelog](https://user-images.githubusercontent.com/3889017/29740914-5fc74982-8a62-11e7-9ab5-06fde7079fc2.png)

[2017-08-26 22:51] grahamperrin commented on #2661
When attempting to add to a collection, I often have to enter the numeric ID of an extension (after failure to find with all name-based attempts). Should I add an example to this issue? Or raise a new issue in this repo?

[2017-08-27 04:50] EnTeQuAk commented on #2661
More data  ever hurt to get more information about search behavior, so
an example is greatly appreciated!

On Sun, Aug 27, 2017, at 12:51 AM, Graham Perrin wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/2661#issuecomment-325166185
  2. https://github.com/notifications/unsubscribe-auth/AAIfGaemSyGmiQWSzunA0A5WFXs2aLEqks5scKFpgaJpZM4Id7jJ

[2017-08-27 18:38] atiqueahmedziad commented on #5965
Could be fixed hiding the body's overflow with css. Will that be the right choice?

[2017-08-27 18:55] diox commented on #5965
No, I don't think so. It hides the problem, but that's a hack. Let's find a better solution.

If I remove the following in [`reviews.less`](https://github.com/mozilla/addons-server/blob/master/static/css/impala/reviews.less), the scrollbar disappears:
[code]

This was something you added a while ago, in af42e54ccce13443ed7c19b96e0f8944c99150e5 ; maybe this can be changed into something else, or th

[2017-08-28 03:32] eviljeff commented on #6071
To work with the existing contribution functionality - which we aren't going to remove immediately as we have to notify developers - the new 'Contribute' button will only be shown when the developer hasn't set up the Paypal stuff already.  That seems the cleanest way of doing it.

[2017-08-28 05:49] #2166 closed

[2017-08-28 07:40] dessant opened #6258 "Flag CSP header for review only if needed"
CSP works by restricting features, if a feature is not explicitly restricted through its directive or if it doesn't fall back to a declared `default-src`, it means it is allowed. Setting a custom CSP header is optional.

The [default CSP header](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Content_Security_Policy#Default_content_security_policy) is `"script-src 'self'; object-src 'sel

[2017-08-28 09:16] ValentinaPC commented on #5094
"Urdu" language was added to desktop pages, but while selecting the language the content of AMO (old desktop pages) si not RTL. Is this ok?
Postfix screenshots:
![ur](https://user-images.githubusercontent.com/15685960/29766854-e755d846-8be8-11e7-9254-d64d6a4b3972.png)
![ur-footer](https://user-images.githubusercontent.com/15685960/29766855-e7573024-8be8-11e7-9e1f-cd24334f767b.png)

[2017-08-28 09:20] EnTeQuAk commented on #5094
fair point, I missed that during review. I looked it up again and yeah, urdu is indeed an RTL language.

@atiqueahmedziad mind submitting a patch that adds urdu to `settings.LANGUAGES_BIDI` as well and check that it's properly rendered as RTL?

[2017-08-28 09:25] #6070 closed

[2017-08-28 10:18] wagnerand commented on #3947
@diox imho, we can remove it.

[2017-08-28 10:20] diox commented on #6258
https://github.com/mozilla/addons-linter/issues/1298 should have taken care of this, so maybe this wasn't enough? cc @EnTeQuAk for investigation.

[2017-08-28 10:21] wagnerand commented on #6258
The mentioned CSP does not show a raise a warning for me, when running against the linter.

[2017-08-28 10:37] #6236 closed

[2017-08-28 10:41] eviljeff commented on #6071
@jvillalobos can you clarify the logic re: existing contribution functionality co-existing with this new contribution url?

Currently the logic is:
- if paypal/charity stuff is set, show the old button, including links to developer profile
- elseif the developer profile is set, just link to that
- elseif the new contribution url is set, show a button that links to that url.

i.e. work like now unl

[2017-08-28 11:45] dessant commented on #6258
My last submit is from Aug 16, 2017, and it has this warning:
[code]

CSP header:
[code]

https://addons.mozilla.org/en-US/firefox/addon/view-page-archive/

[2017-08-28 11:50] ValentinaPC commented on #6070
Verified as fixed on AMO-dev FF55(win 7)
Postfix screenshots:
![contrib](https://user-images.githubusercontent.com/15685960/29772161-1efdeb6e-8c00-11e7-8ef8-54c8ea986e3d.png)
![edit](https://user-images.githubusercontent.com/15685960/29772165-22db864c-8c00-11e7-8ab9-be608518ecd8.png)
![edit_001](https://user-images.githubusercontent.com/15685960/29772168-299b9fee-8c00-11e7-9607-16b3493eb817.png)

[2017-08-28 12:33] ValentinaPC commented on #3919
Verified as fixed in Edit Information using FF55(Win 7) in AMO-dev.
Postfix screenshot:
![summ](https://user-images.githubusercontent.com/15685960/29773456-463b5f6c-8c06-11e7-9047-dee7e31a460a.png)

[2017-08-28 12:55] dessant commented on #6258
I've checked both headers now with addon-linter 0.24.0 and they are not flagged anymore indeed. https://github.com/mozilla/addons-linter/pull/1434 was likely not in production at the time of my last submit. Sorry for not checking again before opening the issue. 😋

[2017-08-28 12:55] #6258 closed

[2017-08-28 13:31] SVSanta commented on #6190
Verified as fixed on AMO-dev FF55(Win 10).
Postfix gif:
![fixed empt search](https://user-images.githubusercontent.com/28138132/29775590-497db1ae-8c0e-11e7-9acc-aa818e60d176.gif)

[2017-08-28 13:38] aswan opened #6261 "Disco Pane passes different information than "Add to Firefox" button for LWTs"
### Describe the problem and steps to reproduce it:
This was originally reported in bugzilla at https://bugzilla.mozilla.org/show_bug.cgi?id=1393361
The issue is that themes installed from the disco pane don't include the icon (among other things).

### What happened?
A user-visible symptom is that if a theme is installed from the disco pane and then viewed in about:addons, it does not have an ico

[2017-08-28 13:41] ValentinaPC opened #6262 "Incompatibility banners look concatenated in My Profile"
Steps to reproduce:
1. Submit an add-on that is compatible with Firefox for Android and that is not compatible with your platform i.e. https://addons-dev.allizom.org/en-US/android/addon/saveas/
2. Go to My profile page and hover over you add-on while using Nightly

Expected results:
Incompatibility banners have no display issues.

Actual results:
Incompatibility banners have layout issues.

Notes/

[2017-08-28 13:41] diox opened #6263 "Don't create File instances for Personas in tests"
`amo.tests.addon_factory()` creates a `File` instance for every `Addon` it creates. For better or worse, Personas are not supposed to have `File`s (see the [creation code](https://github.com/mozilla/addons-server/blob/796f06d43afd01b8e2e871485e870a49f1b21758/src/olympia/addons/forms.py#L478)) so it should avoid creating any in that case.

[2017-08-28 13:48] diox commented on #6261
It looks like the API (all endpoints) does pass this data, so I think this is a frontend bug. Thoughts, @tofumatt ?

[2017-08-28 13:56] SVSanta commented on #6258
Please add some STR or the label "qa: not needed". Thanks!
Maybe we can test and find some scenarios around the fixed issue.

[2017-08-28 13:59] ValentinaPC commented on #6261
@diox : can add that this is also happening while installing a theme for new desktop pages.

[2017-08-28 14:14] EnTeQuAk commented on #6250
I honestly have no ideas but let's summon @andymckay who wrote github support and might know more details.

[2017-08-28 14:23] ValentinaPC commented on #6261
Closing this due to its transfer to addons-frontend.

[2017-08-28 14:23] #6261 closed

[2017-08-28 16:38] #6196 closed

[2017-08-28 16:39] #6263 closed

[2017-08-28 18:12] atiqueahmedziad commented on #5094
@ValentinaPC Thanks for notifying.
@EnTeQuAk Offcourse I will love to submit a patch for that. Thnaks

[2017-08-28 20:17] kumar303 opened #6268 "Consider adding release notes to the add-on detail API"
As of https://github.com/mozilla/addons-frontend/issues/2760 we will always display release notes for the current version (if they exist) on the add-on detail page. Currently this means we will have to make a separate API request to get the version detail object.

Would it be possible just to include `current_version.release_notes` in the [add-on detail API](https://addons-server.readthedocs.io/en

[2017-08-28 20:34] diox commented on #6268
Note: we need to tread carefully here. So far we've avoided loading translations from the `current_version` (and well, `current_beta_version`), to avoid extra queries when *listing* add-ons. We can probably live with the extra query on the detail endpoint, but until now we've re-used the same serializer almost everywhere.

The extra query per add-on is hard to avoid because we don't know about the

[2017-08-28 20:46] diox opened #6270 "Omit `license` from search API results"
The search API currently returns `null` for every `license` field under the `current_version` of add-ons it returns. This is because we don't index that information in ES and we build a fake `Version` instance when serializing, without giving data for that field, so it ends up being `None`.

We hopefully don't need to return that data in search results, so it could be omitted entirely from the sea

[2017-08-28 20:49] diox commented on #6262
Is it just happening on the my profile page?

[2017-08-28 20:52] diox commented on #6253
@ExE-Boss  What's the exact URL you were using (including locale - the link you give above does not include one and that redirects to an URL that is dependent on the browser configuration) to reproduce the issue?

[2017-08-28 20:56] ExE-Boss commented on #6253
The full URL is [https://addons.mozilla.org/en-GB/firefox/addon/application-menu/versions/0.1.5](https://addons.mozilla.org/en-GB/firefox/addon/application-menu/versions/0.1.5).

It works on en-US, but not on en-GB.

[2017-08-28 21:11] diox commented on #6253
Yeah, that's it. Somehow you ended up with an empty (but existing) translation for your release notes in `en-GB`, and that's causing the issue. This is really a devhub issue, we need to figure out how that happened.

[2017-08-28 21:11] krupa opened #6271 "Don't allow install of legacy add-ons on 57 for Android"
### Describe the problem and steps to reproduce it:
1. Install the latest nightly on your Android device
2. Navigate to addons.mozilla.org
3. Try to install Adblock Plus or any legacy extension

### What happened?
Install of Adblock Plus is successful

### What did you expect to happen?
Install of legacy extensions is not allowed on 57

[2017-08-28 21:12] jvillalobos commented on #6071
This issue and following issues in #6069 should be waffled-off (or not implemented) until we have given developers some time to use the new field and be prepared. With this issue the plan is to change to the new URL wholesale. No need to have both systems working in parallel.

[2017-08-28 21:15] diox commented on #6271
This is an addons-frontend bug (probably a dupe of https://github.com/mozilla/addons-frontend/issues/2888 which lands this week in prod)

[2017-08-28 21:15] #6271 closed

[2017-08-29 04:35] tsl143 commented on #5357
What should be ideal behavior for this -
- Shall we restrict number of lines?
- Shall we restrict height and put scroll?

[2017-08-29 05:55] ValentinaPC commented on #6262
@diox : did not see it in other places. Will take a closer look today.

[2017-08-29 06:27] eviljeff commented on #6071
Okay, the developers can fill in the field in devhub but it won't be exposed anywhere publicly until the old contribution feature is removed/disabled.

[2017-08-29 08:24] eviljeff opened #6273 "Add support for collection contributors to API"
Not sure if this was a change in the [PRD](https://docs.google.com/document/d/1DutmS8yco-hNiKJ1-0MrkAkze7Ue88xpA4b-MWx6MLI/edit) or it was overlooked when the rest of collections was implemented (possibly the latter as contributors weren't mentioned on the main Desktop Scoping doc, and only briefly mentioned at the end of the collections PRD)

Need:
- Contributors will need to be able to access an

[2017-08-29 08:29] eviljeff commented on #6273
@jvillalobos can you confirm about the 'change of ownership' function?  The existing collections feature allows it as part of managing contributors but the PRD doesn't mention it explicitly.  I do wonder how useful it will be - the only unique reference to a collection is the url, containing the owners username  -if it's transferred to another user it's going to have a different url with no way to

[2017-08-29 10:36] eviljeff commented on #6069
@jvillalobos can you log an issue for "Change data sent in Add-ons Manager API."?  I don't understand what needs to be done/changed.

[2017-08-29 13:44] SVSanta opened #6276 "Add to collection issue"
Steps to reproduce:

1. Navigate to "Collections>Create a Collection" page.
2. In the "Enter the name of the add-on to include" field type "add".
3. Hove over any of the suggestions.
4. Click on the "Add to Collection" button.

Expected results:
The add-on is added to the collection.

Actual results:
The add-on is not added and the string is deleted from the "Enter the name of the add-on to includ

[2017-08-29 20:14] #6268 closed

[2017-08-29 20:14] #6270 closed

[2017-08-29 21:02] devaneymoz opened #6278 "Disco Pane content update - September 2017"
For the **14 September** push, can we please REMOVE:
- Privacy Badger
- Awesome Screenshot Plus

... and REPLACE them with:

**Tab Customization** with [New Tab Override by Sören Hentzschel](https://addons.mozilla.org/firefox/addon/new-tab-override/)
Set the page you see every time you open a new tab.

**Up your emoji game** with [Emoji Cheatsheet by Johann Hofmann](https://addons.mozilla.org/fire

[2017-08-29 21:22] jvillalobos commented on #6069
It's explained in the PRD and is awaiting review by @mstriemer. We just need to see what checks are in place in the Add-ons Manager side to decide what we can change without breaking backward compatibility.

[2017-08-29 21:37] jvillalobos commented on #6273
I don't think we need change of ownership. The main use case for which we'll continue supporting contributors (for now) is the [Featured Themes collection](https://addons.mozilla.org/collections/mozilla/featured-personas/), which has various active contributors. It shouldn't be too hard to dupe a collection in a different account to simulate transfer of ownership.

[2017-08-30 01:25] grahamperrin opened #6279 "Filter by compatibility within collection API"
`project: firefox 57 compatibility`

## Enhancement request

At https://github.com/mozilla/addons-server/issues/4974#issuecomment-305976199 (2017-06-03) under _Add label to listing pages to highlight WebExtensions · Issue `#4974` · mozilla/addons-server_,  @erosman wrote:

Additionally, it should be possible to:

- exclude legacy items

– in other words, **filter by compatibility**.

If not filter

[2017-08-30 02:34] grahamperrin commented on #2661
Collections later.

First, here's a more basic failure:

https://addons.mozilla.org/en-Gb/firefox/search/?q=british+spell&appver=55.0&cat=1%2C0 fails to find either [British English Dictionary](https://addons.mozilla.org/firefox/addon/british-english-dictionary/) or [British English Dictionary (Marco Pinto)](https://addons.mozilla.org/firefox/addon/british-english-dictionary-2/):

![2017-08-30 03

[2017-08-30 05:25] eviljeff commented on #6231
Agreed with @EnTeQuAk.

[2017-08-30 05:25] #6231 closed

[2017-08-30 05:28] eviljeff commented on #6221
The Addons API doesn't have any modification functionality right now, only Listing and Detail (and Create, via the separate signing API).  At some point we do plan to expand it so all actions can be carried out via the API though - probably Q1 2018, though we might be able to start late Q4.

[2017-08-30 05:48] eviljeff commented on #6239
What's happening is we have fallback code that takes an unsupported long code (`zh-HK`) and converts it into a short code (`zh`) which then converts to the default for that short code (`zh-CN`).  Then, because a locale has been 'found', it ignores the subsequent locale codes in the accept header.  (It can also be replicated with `pt-XX,pt-BR` which redirects to `pt-PT` instead)

For zh-* see #5829

[2017-08-30 05:55] yookoala commented on #6239
Is there anyway to override this redirection? The fallback of `zh-HK` or `zh-Hant-HK` should have been `zh-Hant` (if made available in #5811).

[2017-08-30 06:06] eviljeff commented on #5829
tbh, this change (in django) makes me uneasy.  `zh-CN` is a _locale_ code - Chinese understood in mainland China, whereas `zh-hans` is a language+script code - Chinese written in Simplified Chinese (not just understood in mainland China).  It's converting one thing to something different - although it's true that zh-CN has typically been misused to mean Simplified Chinese anyway.

[2017-08-30 06:10] eviljeff commented on #6239
In the end `zh-Hant` wasn't made available in #5811, as #5829 mentions.

There isn't a way to override the redirection, we need to fix the logic.  In the meantime you can visit https://addons.mozilla.org/zh-TW/firefox directly.

[2017-08-30 08:14] eviljeff opened #6280 "Remove Support and Viewer Addon author classes"
So lets remove them in devhub and elsewhere.

Original issue text:
~From https://bugzilla.mozilla.org/show_bug.cgi?id=1393849~

~The devhub UI (apparently) already prevents Non-[Owner|Developer] users from replying by disabling the reply button, but the API needs to enforce the check too.
Also need to fix email replies to not send reply tokens, and to check authorship class when considering if the

[2017-08-30 08:45] ValentinaPC commented on #6268
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-30 08:45] ValentinaPC commented on #6270
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-08-30 09:08] eviljeff commented on #6245
From some digging: it's occurring because the delete action does some [additional checking](https://github.com/django/django/blob/fac74b84a3abd92f1a49070f31ec7c8c0df8b698/django/contrib/admin/options.py#L1718) to see if the UserProfile [has permission](https://github.com/django/django/blob/f8bce94997739e4e61919cddff84fc3e3302d8f7/django/contrib/admin/utils.py#L155) to do a delete on that object an

[2017-08-30 09:10] eviljeff commented on #6245
Or we could change UserProfile, of course.

[2017-08-30 09:19] diox commented on #5829
See https://code.djangoproject.com/ticket/18419 for the discussion in Django. It looks like `zh-CN` was indeed considered to be Simplified Chinese and that's why they changed it.

In any case, I'm not sure we'll be able to avoid the change, unless we keep a copy / symlink the old locales files for the strings translated in django itself and ignore the warning.

[2017-08-30 09:20] ValentinaPC commented on #6071
Verified this on AMO-dev FF55(Win 7) and obtained the following:
- while setting the Contributions URL from Edit Information page for an add-on - no public contribution can be seen in add-on public details page - https://addons-dev.allizom.org/en-US/developers/addon/video-downloadhelper/edit
- for add-ons that have old contributions already set and we add a Contribution URL noting changes - https:

[2017-08-30 09:27] yookoala commented on #5829
In practice, `zh-CN` and `zh-SG` are subsets of `zh-Hans`; `zh-TW` and `zh-HK` are subset of `zh-Hant`. So `zh-CN` if not resolved directly, should be resolved as `zh-Hans`.

The difference within the subsets are usually vocabularies and translation costumes (much like the difference between `en_US` and `en_UK`).

[2017-08-30 09:31] eviljeff commented on #6071
@ValentinaPC you'll need to set the waffle switch `simple-contributions` in /admin to be able to test this now.

[2017-08-30 09:50] eviljeff commented on #6273
Hmm.... but thinking about it, we need change of ownership for that case in particular - to be able to create a collection and assign it's ownership to Mozilla.  If the use case is just for featured collection that can be a setting in /admin though.
If collaborators is only useful for Mozilla featured collections too that could _also_ be a setting in /admin too?

[2017-08-30 09:53] #6206 closed

[2017-08-30 10:04] diox commented on #6251
Screenshot from that twitter post, in case it disappears:

![disabled_showing_up_in_featured](https://user-images.githubusercontent.com/187006/29867153-f9221128-8d7a-11e7-805d-68d207f62b35.jpeg)

My guess is that's because the promo modules work in their weird mysterious ways... The featured extensions list (e.g. https://addons.mozilla.org/en-US/firefox/extensions/?sort=featured) does not show dis