[2018-05-15 14:27] AlexandraMoga commented on #7223
I confirm that updates are also working for me in seamonkey

[2018-05-15 15:04] diox commented on #8198
@AlexandraMoga sorry, forgot an important step. Your add-on needs to have a "Target Locale" set. This is done through Admin Settings in the developer hub.

[2018-05-15 15:19] eviljeff commented on #7847
@AlexandraMoga I asked ops to migrate the first four of those (I wanted some back-ups in case something went wrong and broke the existing themes).

New frontend seems to error if you aren't logged in (I don't know if there an issue already logged about static theme detail pages failing to load) but after logging in, or using legacy frontend, shows them.

If someone is wrong or some data should be

[2018-05-15 19:59] EnTeQuAk commented on #7808
The API keys have been deployed by ops so that -dev and -stage can be tested. Please make sure that checking and unchecking "stay up-to-date with news and events related to add-on developers" works properly.

All other notifications have not been touched but can be verified to be working properly.

Checking and unchecking should already cover most of this issue. Once you check the "stay up-to-date

[2018-05-15 20:31] rctgamer3 opened #8262 ""More Actions" is too far down on the review page"
The whiteboard fields are blank or only contain one line most of the time. Having to scroll down 800 pixels of whiteboards gets cumbersome if I want to be notified if a new version gets submitted:

Two improvements I thought of:

- Move the "More Actions" section above the whiteboard(s)
- If a whiteboard is empty (`:empty`), hide them (`display:none`), and only show the empty whiteboard if a butto

[2018-05-16 00:13] devaneymoz opened #8263 "Featured Extensions `src` not being tracked in all cases"
Go to the AMO homepage. Content programming changes frequently, but typically we have a "Featured extensions" shelf somewhere on the page.

If you find it, click one of the featured extensions in the module display. For example, I see Enhancer for YouTube, I click it, I go to its detail page, and the URL looks like so:

https://addons.mozilla.org/firefox/addon/enhancer-for-youtube/?src=featured

N

[2018-05-16 00:27] devaneymoz opened #8264 "Use `src=collection` when clicking on collection shelf on homepage"
Go to the AMO homepage. Content programming frequently changes, but often we'll use a collection to feed into a homepage shelf.

Currently we have a "Privacy tools" collection on the homepage. If you click one of the individual extensions directly from the shelf—for instance Ghostery—you click thru to its detail page and the URL looks like so:

https://addons.mozilla.org/firefox/addon/ghostery/

N

[2018-05-16 08:00] AlexandraMoga commented on #7808
@EnTeQuAk I've checked the Developer notifications section on -dev and stage and I have not observed any issues with checkbox responsiveness

@pmac could you please check my account activity in Salesforce?
You should look for the following user:
- dev:  _email_ - amoga@mozilla.com, _username_ - 4m0g4_D3v
- stage: _email_ - amoga@mozilla.com, _username_ - Amoga_stage

Let me know if you need any ot

[2018-05-16 09:40] diox commented on #8198
@AlexandraMoga I believe that's just due to caching. We cache things with the URL for 24 hours, so if you change the query string you get the updated results.

[2018-05-16 09:47] willdurand opened #8265 "Resized profile picture is not (always?) generated"
### Describe the problem and steps to reproduce it:

I tried to upload a profile picture with the API, as described here: https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#uploading-a-picture. I tried with the new frontend feature I am working on as well as with `curl`.

### What happened?

The API call works and I get a response payload containing a `picture_url` but this UR

[2018-05-16 09:54] EnTeQuAk commented on #8071
Indeed, that's because Jinja2 (and Django for that matter) doesn't allow overwriting blocks from includes. So that the block has to be around the actual include of `user_login` and we'll have to pass in some context to actually set a proper overwrite somehow. This might get a bit more tricky.

If you're up for it @piyushmittal25, please let us know. You may have to research that a bit and stumble

[2018-05-16 10:42] EnTeQuAk commented on #8222
This should create a completely new account for you, we're not also clearing the link to FxA. So it's expected that your profile photo isn't there anymore.

What you can do

* Create an account
* Upload profile picture
* View the raw profile picture in the browser (right-click on it, "view image")
* delete account
* make sure the previously opened link doesn't work anymore and 404s. This could tak

[2018-05-16 10:56] AlexandraMoga opened #8266 "Migrated LWT can't be installed on AMO"
Prerequisites:
- use an unbranded version of Firefox
- apply the following prefs: `xpinstall.signatures.required` - `false` ; `xpinstall.signatures.dev-root` - `true`

STR
1. Log in to AMO and go to the details page of a migrated LWT - see https://addons-dev.allizom.org/en-US/firefox/addon/green-space2/
2. Click on 'Add to Firefox'

Actual result:
Theme is not installed because Firefox reads it as

[2018-05-16 10:57] AlexandraMoga opened #8267 "Ratings are missing for migrated LWT"
STR:

1. Log in to AMO-dev and go to the details page of a migrated LWT - see https://addons-dev.allizom.org/en-US/firefox/addon/green-space2/
2. Check the statistics card (users, average rating) displayed at the top right side

Actual result:
There are no stats available for the migrated lightweight theme

Expected result:
User downloads, average rating and number of reviews (written and unwritte

[2018-05-16 11:15] AlexandraMoga commented on #7847
@eviljeff I have verified the details page for the first four themes in the list and checked the details migrated. So far we have: theme name, author, description, preview, more info card.
I have filed follow up issues for what I've considered worth mentioning. It might be that some of these observations are already in your implementation plan, but since the [PRD](https://docs.google.com/document/

[2018-05-16 11:42] eviljeff commented on #8266
I think it's because I just set the status rather than pushed it through the signing process.

[2018-05-16 11:48] eviljeff commented on #7847
@AlexandraMoga thanks!

[2018-05-16 12:06] eviljeff commented on #2695
I'm going to close this now as we're going to remove everything related to personas at the same time.

[2018-05-16 12:06] #2695 closed

[2018-05-16 13:12] diox commented on #8266
oops :>

[2018-05-16 13:43] eviljeff commented on #8187
Tbh, it's really difficult to fix without reworking how devhub handles localisation, and if we did that there would be a lot of other changes.

[2018-05-16 13:44] philipcristiano commented on #8139
https://addons.allizom.org/en-US/firefox/api/v4/addons/search/ is up.

[2018-05-16 13:55] psiinon commented on #8117
Pontoon are also on 1.11 but they're looking at implementing this via middleware: https://github.com/mozilla/pontoon/pull/964
@diox is this something we could do in AMO as well?

[2018-05-16 13:58] diox commented on #8117
Not a huge fan of using a property called `_reserved` :) But yes, we could probably do something like that.

[2018-05-16 14:26] diox opened #8269 "Run all static images through pngcrush"
We have a bunch of images in our repos that could be losslessly optimized. Let's do it.

[2018-05-16 14:27] jezdez commented on #8117
@diox In the spirit of keeping the tech debt low, could we please release an app to do this that we can all use instead of a wild growth of middlewares allover the place?

[2018-05-16 14:31] diox commented on #8117
Sure. Note that currently nobody is working on this for addons-server, and it's unlikely to change in Q2, however trivial this might be.

[2018-05-16 14:42] diox commented on #8269
Also for the Firefox logo that was changed in https://github.com/mozilla/addons-server/pull/8257, transform it to an 8-bit image to reduce size further, like it was done with the old logo before it was updated.

[2018-05-16 14:51] diox commented on #8269
The full patch for this breaks github...

[2018-05-16 15:34] caitmuenster commented on #8166
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @muffinresearch

[2018-05-16 15:38] #8224 closed

[2018-05-16 15:40] wagnerand opened #8272 "Version detail pane is cut off"
Example URL: https://addons.mozilla.org/en-US/firefox/addon/har-export-trigger/

<img width="826" alt="screen shot 2018-05-16 at 16 48 04" src="https://user-images.githubusercontent.com/873258/40127608-0fcbae26-5930-11e8-98d7-2a169f878836.png">

Looks like it doesn't happen for all resolutions, but I can definitely reproduce on my monitor.

[2018-05-16 15:57] jezdez commented on #8117
@diox Sure, what I'm afraid is that everyone won't be able to work on this in a manner that prevents creating tech debt.

@psiinon Which makes me wonder if you could drive the effort to write an app as part of https://github.com/mozilla-services/foxsec/issues/886?

[2018-05-16 17:33] pmac commented on #7808
I don't see that email address in salesforce at all. Are we sure that's the one it is sending?

[code]

[2018-05-16 17:44] EnTeQuAk commented on #7808
My bad! The configs have been deployed but I didn't flip the switch. It's flipped now!

Both on -dev and -stage, I tested on my account cgrebs@mozilla.com on stage and that account now exists on basket.

[2018-05-16 18:04] EnTeQuAk opened #8274 "Remove notifycompat and notifyevents from database."
https://github.com/mozilla/addons-server/pull/8258 removed them from our code and once that lands in the May 23rd milestone we can add a migration that removes these fields from the database too.

Since it's something on the `users` table we should make ops aware of the migration.

[2018-05-16 18:05] pmac commented on #7808
I'll also recommend the [RestMail](http://restmail.net/) service for testing all of this. I've got that domain set to automatically add a "testing" flag in Salesforce, and it's nice to not subscribe so many times with your own email address. It works like this:

1. Sign up for a thing with `<any-username>@restmail.net` (e.g. the-dude-2018-05-16@restmail.net)
2. Go look at the mailbox on restmail.n

[2018-05-16 18:12] championshuttler commented on #8172
@eviljeff Sure I will try to do it :)

[2018-05-16 19:06] championshuttler commented on #8274
I will try to solve it ;)

[2018-05-16 19:25] jvillalobos commented on #8263
When you click on "See more featured extensions", you land on a search page, which is why the `src` changes to `search`.

Would it make sense to use the `featured` value whenever the search page has the "featured only" checkbox selected?

While testing this, I also noticed that if you go directly to the featured add-ons collection and click on an entry, the `src` is `collection`, so we might want

[2018-05-16 19:29] jvillalobos commented on #8264
Should the `src` for collections in the homepage be the same as for any other random collections on the site? Would it be more useful to have a `homepage` or `homepage-collection` value for `src` so they can be differentiated?

[2018-05-16 20:17] devaneymoz commented on #8264
It would definitely be more useful if we can get more granular with the 'src' from homepage collections.

I think the ideal case would be to know the specific collection it originated from, as well. In other words, we often have the same extension promoted in multiple concurrent homepage collections (e.g. uBlock Origin is in the "Featured" collection, as well as "Ad blockers" collection; understan

[2018-05-16 20:26] devaneymoz commented on #8263
I think it does make sense to use the "featured" value whenever the search page has the "featured only" checkbox selected, since that's effectively taking the same action as navigating to the featured collection.

[2018-05-16 20:39] jvillalobos commented on #8262
I think having the whiteboards collapsed when empty makes sense, and it's a relatively easy fix to implement.

[2018-05-16 20:40] jvillalobos commented on #8262
/cc @wagnerand @kewisch

[2018-05-17 07:54] AlexandraMoga opened #8281 "User accounts can't be updated on the legacy pages"
STR:

1. Log in to AMO-stage with a newer account
2. Select Edit my Profile from the User menu (https://addons.allizom.org/en-US/firefox/users/edit)
3. Edit some of the available fields
4. Click on Update Account

Actual result:
A server error is received after submitting an account update

Expected result:
User account is successfully updated

Notes:
- reproduced also on AMO-dev with the legacy p

[2018-05-17 08:11] EnTeQuAk commented on #8281
That's because of the new basket integration, I didn't know it throws
that kind of error for unknown users. I'll fix this asap

On Thu, May 17, 2018, at 9:54 AM, Alexandra Gal-Moga wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/8281
  2. https://github.com/notifications/unsubscribe-auth/AAIfGcO_VNUTrU6IIj4Qy8TdstUwSk8Eks5tzSy9gaJpZM4UCk6k

[2018-05-17 08:18] ioanarusiczki commented on #8222
@EnTeQuAk  Hi Chris, I made one test following the above steps and I managed to get 404 but not on the same profile where I deleted the account (pasted the link in a new profile, also if I send the link to someone else it's a 404) This is it https://addons-dev-cdn.allizom.org/user-media/userpics/10/10641/10641629.png?modified=1526482992
Same in Chrome or Edge.
![404notfound](https://user-images.gi

[2018-05-17 08:47] ioanarusiczki commented on #8224
I verified this on AMO dev with FF60(Win10).  I also checked other old pages, new logo seems to be present everywhere.
![new logo](https://user-images.githubusercontent.com/33448286/40166764-0784dbbe-59c8-11e8-9d90-21943c194e02.png)

[2018-05-17 10:35] jotes commented on #8117
@diox I'm not a fan of `_reserved` myself, however as it's stated -> It's only to keep legacy apps alive untill they'll migrate to Django 2.0

[2018-05-17 10:54] psiinon commented on #8117
@diox if I were to add @jotes's https://github.com/jotes/django-cookies-samesite package to addons-server what would you require from a PR?

@jezdez I'm trying to coordinate adding samesite support to all of our services :)

[2018-05-17 11:01] diox commented on #8117
@psiinon we'd need a couple integration tests somewhere in our repos making sure it's behaving normally.

Also I think it'd be best for that app to live under the mozilla org with more people having access to it in case we need to make changes to it.

[2018-05-17 11:08] vcarciu commented on #8139
Closing based on comment from above.

[2018-05-17 11:08] #8139 closed

[2018-05-17 11:31] eviljeff commented on #4997
One new extra python3 blocker:

basket-client ==0.3.12

And one false blocker (because it's just a backport of py3 functionality):

futures ==3.2.0

[2018-05-17 11:35] #8281 closed

[2018-05-17 11:36] EnTeQuAk commented on #8281
The fix just got merged and should be on -dev and -stage in a few minutes.

[2018-05-17 11:48] #8254 closed

[2018-05-17 11:50] muffinresearch opened #8284 "Implement quoted search"
### Describe the problem and steps to reproduce it:

We get asked for this a lot and it seems like a reasonable request. We should add support for quoted searches that would mean for the quoted search stemming would be bypassed.

### What happened?

Currently AFAIK only searches based on stemmed terms are carried out. This means a search for `fixed` will actually search for the stem `fix` irrespec

[2018-05-17 12:07] muffinresearch commented on #8263
@devaneymoz if you could file these issues on mozilla/addons-frontend in future it would be handy since that repo is where changes would need to be made to `src` params.

[2018-05-17 12:14] spoji commented on #8220
@EnTeQuAk Now file id [950590](https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/950590/) is reporting 404, which is quite weird because this file was available when this bug was submitted 8 days ago.

It feels like sometimes, when a new version is uploaded by the dev, the second last file id becomes unavailable.

[2018-05-17 12:39] #7223 closed

[2018-05-17 12:49] AlexandraMoga opened #8285 "Buttons from More Actions section in Add-on review page are not working"
STR:

1. Log in to AMO Reviewer Tools with a user that has add-on review permissions
2. Select the Auto-approved queue from Reviewer's dashboard (https://reviewers.addons.allizom.org/en-US/reviewers/queue/auto_approved)
3. Pick an add-on that is currently pending for review to access its review page
4. Scroll down to More Actions section and click on any of the available buttons

Actual result:
Th

[2018-05-17 12:54] willdurand opened #8286 "Notifications endpoint should only return the notifications the user is interested in"
### Describe the problem and steps to reproduce it:

Call the notifications endpoint: https://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#notifications-list

### What happened?

We get all the notifications (11 at the time of writing), even if the user is not a developer.

### What did you expect to happen?

We should only get the notifications that will be displayed to the use

[2018-05-17 12:56] diox commented on #8285
This is because of #8139 ; this is (accidentally, but I don't think we need to change that yet?) using v4, and we haven't whitelisted v4 in the locale middleware so we're hitting a redirect instead of POSTing normally.

[2018-05-17 12:57] diox commented on #8285
in `settings_base.py` we need to modify `CORS_URLS_REGEX` and `SUPPORTED_NONAPPS_NONLOCALES_PREFIX`

[2018-05-17 14:26] vcarciu commented on #8139
Verified as fixed with various /v3/ vs /v4/ API urls.

[2018-05-17 15:36] #8285 closed

[2018-05-17 15:54] EnTeQuAk opened #8289 "User deletion might set already set username"
STR:

 * Another user already has set "Anonymous-631" (say, user-id 12314141)
 * the actual user with the id 631 is deleted
 * User with id 631 get's re-deleted because of data-scrubbing
 * Now we're setting username to "Anonymous-631"

…but that'll fail because username needs to be unique

[2018-05-17 16:54] vcarciu commented on #8285
Verified as fixed for all buttons from description

[2018-05-17 17:51] eviljeff commented on #8272
Can't replicate with that addon any more - a new version has been approved.
Realistically as this is legacy frontend it's a wontfix anyway.

[2018-05-17 17:52] eviljeff opened #8290 "v4 api needs CORS, etc, settings applied like v3 does"
Proper fix from of #8285

[2018-05-17 17:53] wagnerand commented on #8272
Can still reproduce. As I said, it might depend on your resolution or screen size.

Also I @muffinresearch before I filed this to see whether it's even worth it.

[2018-05-17 18:14] eviljeff commented on #8272
It's a minor UI issue on legacy frontend that only affects certain users with certain monitor resolutions... I stand by my wontfix opinion.

[2018-05-17 18:30] muffinresearch commented on #8272
@wagnerand I can't reproduce either currently. Can you provide details of how to repro e.g. what resolution you're running?

[2018-05-17 18:44] jessilyndavis commented on #7808
Hey y'all - Jess here Basket/Salesforce keeper.

Basket Dev is not setup for this newsletter ID. I recommend we continue testing to make Basket Stage work (which heads up: does point to Salesforce Production).

I checked cgrebs@mozilla.com in Prod - he *is* in Salesforce - but the newsletter subscription for the id "about-addons" is not checked. The code in AMO is not working.

I just did an API c

[2018-05-17 19:35] jessilyndavis commented on #7808
UPDATE: We're blocking on enabling Basket stage and prod until this has been tested in Basket Dev.

No code will work until I get the configs set up in Basket Dev.

[2018-05-17 20:14] diox commented on #8220
From IRC discussion:

Looking into the database/filesystem right away when someone sees the error for the first time would be useful to debug. But I noticed a few things that look fishy in the code:

https://github.com/mozilla/addons-server/blob/5777fe9ca061473121c5f3617619cdba3a8cfba5/src/olympia/files/views.py#L107 and https://github.com/mozilla/addons-server/blob/5777fe9ca061473121c5f3617619cdb

[2018-05-18 08:46] AlexandraMoga opened #8296 "Consider configuring the user display name also as a unique value"
STR:

1. Log in to AMO
2. Select Edit my Profile from the user menu (https://addons-dev.allizom.org/en-US/firefox/users/edit)
3. Set a display name In the Edit profile page and click on Update Profile
4. Log in with another account on AMO
5. Repeat 2 and 3, making sure that you set the exact same display name for this user as well

Actual result:
The profile is successfully updated, allowing an al

[2018-05-18 08:56] jotes commented on #8117
@diox definitely! In case of Pontoon `SameSite=strict` broke integration with `Firefox Accounts` but `SameSite=lax` is fine.

[2018-05-18 09:27] eviljeff commented on #8296
a call for @jvillalobos

[2018-05-18 09:37] eviljeff commented on #8068
I don't see what changed in django 1.11 that we can't do now in 1.8

[2018-05-18 10:43] AlexandraMoga commented on #8254
@eviljeff does this require any QA?

[2018-05-18 10:45] AlexandraMoga commented on #8172
@eviljeff is this essentially a duplicate of #8274 then?

[2018-05-18 11:41] wagnerand commented on #8272
The height of the viewport needs to be large enough so all content fits on the screen when the page is being loaded.

The reason for that seems to be https://github.com/wagnerand/addons-server/blob/master/static/css/impala/footer.less#L13 . Removing `position: absolute` fixes it.

[2018-05-18 11:56] AlexandraMoga commented on #7223
Verified as fixed on AMO-dev, Win10x64 with the following applications:

 **1. Firefox 60.0 release, Firefox 60.0 ESR, Firefox 52.8.0 ESR, Nightly 62.0a1**
 - check for updates from add-ons manager and background (automatic) updates are working;

**2. Thunderbird 52.7.0**
- check for updates from add-ons manager and background (automatic) updates are working;

**3.  SeaMonkey 2.49.3**
 - check for

[2018-05-18 13:37] spoji commented on #8220
I'll poke one of you (diox / EnTeQuAk) on IRC next time I get this problem so you can check this live.

[2018-05-18 13:43] eviljeff commented on #8172
@AlexandraMoga no, this issue removed the columns and references from the code; #8274 will tidy up the database.

[2018-05-18 13:45] eviljeff commented on #8172
QA is just user profiles still work and you can log in; create a user; etc.  Things you may test anyway.

[2018-05-18 13:47] #8248 closed

[2018-05-18 14:16] #8197 closed

[2018-05-18 15:25] muffinresearch opened #8299 "Configure TAAR lite prod endpoint for stage for recommendations"
The prod endpoint is up and runnning at https://taarlite.prod.mozaws.net/taarlite/api/v1/addon_recommendations/{guid-here}

[2018-05-18 16:10] muffinresearch opened #8300 "API wrapper for TAAR lite should show fallback if < 4 addons are unavailable."
Refiled from: https://github.com/mozilla/addons-frontend/issues/5044

### Describe the problem and steps to reproduce it:
* Go to https://addons-dev.allizom.org/en-US/firefox/addon/bloody-vikings/
* Ensure you have the `taar_cohort` cookie set to `TAAR_COHORT_INCLUDED`
* Note the empty recommendations block.

### What happened?
<img width="1057" alt="bloody_vikings__ _add-ons_for_firefox" src="htt

[2018-05-18 17:06] jvillalobos opened #8302 "Stop using username"
AMO has a username field and a display name field. The distinction exists because usernames used to be for authentication, and they had stricter formatting requirements (like no spaces). The display name was meant as a more user-friendly name that would fall back to the username if not set.

Since we're using FxA for auth on AMO, this distinction doesn't make sense anymore. To address issues like

[2018-05-18 17:07] jvillalobos commented on #8296
When there's no display name AMO shows the username, so even if this bug was fixed, you could still set a display name that is the same as somebody else's username.

The real solution™️ here is to have only one field, and make it unique. I filed https://github.com/mozilla/addons-server/issues/8302 for this, so I'm closing this issue in favor of that one.

[2018-05-18 17:10] eviljeff commented on #8302
the username is used in urls though

[2018-05-18 17:12] eviljeff commented on #8302
What should happen for currently non-unique display names?

Tbh, it would be a lot more straightforward to drop `display_name` instead

[2018-05-18 17:29] jvillalobos commented on #8302
How about this:

1) Drop `display_name`.
2) Relax the rules for `username` so they are "unique `display_name`".
3) Notify developers about the changes.

This way we don't break existing URLs and developers get the choice to switch back to their nicer names if they don't mind the change in their user URLs. Display names can be encoded so they work as slugs, right?

[2018-05-18 17:56] eviljeff commented on #8255
There's an argument here if we need something as heavy as feature gates, given how we develop our API.  Feature gates is based on the assumption (that I understand - plz correct) that there is a "stable" and "beta" API, both of which have changes, so feature gates allow features to be enabled on the "beta" API and then later enabled on the "stable" API.  AMO, on the other hand, has effectively a "

[2018-05-18 18:49] eviljeff commented on #8302
I did some local testing.  Our current username validation rejects any spaces and most special characters (anything other than letters+numbers+`-`+`~`).  However, when I edited via django-admin, which bypassed any validation, I was able to set a username such as `This is a special username!` which worked in the url fine(*).

So we can pretty much allow anything, but encoding "abnormal" characters

[2018-05-18 20:37] diox commented on #7808
I don't follow: you want us to test on Basket Dev but you mention above that it's not set up for this newsletter ID. How can we test this on dev then ?

[2018-05-19 23:20] inushuk8 opened #8310 "lost my datas\"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-05-20 05:54] rctgamer3 commented on #8310
@inushuk8 - Please do not report issues that have nothing to do with the development of the server-side of addons.mozilla.org.

[2018-05-20 05:55] EnTeQuAk commented on #7808
The basket integration has been configured and tested on basket stage,
that was a decided to not needlessly rely on a development system and
stage worked great so far. Why dev?

On Fri, May 18, 2018, at 10:37 PM, Mathieu Pillard wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/7808#issuecomment-390325400
  2. https://github.com/notifications/unsubscribe-auth/AAIfGbRlOrC7ReGq2la

[2018-05-20 06:03] EnTeQuAk commented on #8255
A gate is not bound to a specific version, except the one it's
explicitly configured for.
gates are a way to do that request.version compare in a more documented,
easier to find fashion, especially if specific new functionality goes
all the way down to models. Looking for 'is_gate_active("responsive-profile-picture-
url")' is much easier than just the V3/b4 compare.
Gates do not rely on the idea t

[2018-05-20 06:05] EnTeQuAk commented on #8255
Also, given a v4 to v5 move you can just copy all gate flags to the v5
gate config and have everything working, that way you don't need to look
for the request.version calls.

On Sun, May 20, 2018, at 8:03 AM, cg@webshox.org wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/8255#issuecomment-390284679
  2. https://github.com/notifications/unsubscribe-auth/AAIfGbgRlgQEaDvpAN7GKDX

[2018-05-21 00:30] is2ei commented on #7298
Hi, I'm Issei.
Could I work on this issue?

[2018-05-21 10:32] diox commented on #7808
It seems to be working from AMO's perspective on stage, in the sense that submitting the form causes us to store a basket token for the user and refreshing the page shows the right checkboxes being checked. It does not appear to be synced with https://www.allizom.org/en-US/newsletter/existing/{token} however.

@jessilyndavis @pmac : I'm confused as to what's happening and where we should be testin

[2018-05-21 10:59] diox opened #8314 "Don't hide basket exceptions from the user when changing subscribtions: let it 500"
Spawn off https://github.com/mozilla/addons-server/issues/7808 which is already confusing enough.

When [we interact with basket for the newsletters](https://github.com/mozilla/addons-server/blob/0dd09387d0de1ed51f5c799103b94e98cfbfd4d5/src/olympia/amo/utils.py#L367-L397), we catch exceptions, log them, and continue.

At least for subscribing and unsubscribing, but possibly for the fetch call as w

[2018-05-21 11:02] diox commented on #8314
Also worth noting: currently I do see the exception in the logs, but not in sentry :(

[2018-05-21 11:26] AlexandraMoga commented on #8248
I've verified the new simplified static theme previews for the sections in which they are currently available:

**1. Developer Hub**

![image](https://user-images.githubusercontent.com/31961530/40303729-a9e5968c-5cfc-11e8-9eb4-d43bef3056b7.png)
----
![image](https://user-images.githubusercontent.com/31961530/40303761-cbe6d110-5cfc-11e8-80c6-dab6dc946adc.png)

**2.  Rev Tools**

![image](https://us

[2018-05-21 11:40] eviljeff commented on #8248
You can see what the list view image will be because I implemented it as the "thumbnail" for the preview (and the shelf view will be the list view cropped).

@pwalm to decide on any changes to the new design.

[2018-05-21 11:41] #8289 closed

[2018-05-21 11:48] #8310 closed

[2018-05-21 13:02] #8080 closed

[2018-05-21 13:12] ioanarusiczki opened #8317 "The add-on submission is stuck in validation state on AMO dev"
STR:

1. Load AMO dev and from dev hub try to submit an extension.
2. Observe page.

Expected result:
Submission is completed without issues.

Actual result:
Submission won't pass through the validation state - is stuck

Notes:
This issue is reproducible on AMO dev with FF60(Win10),
This is reproducible with static themes too.

![won t pass validation state](https://user-images.githubusercontent.c

[2018-05-21 13:18] diox commented on #8317
We just updated celery to 4.1.1 and kombu to 4.2.0 could it be related?

Saw this in sentry:
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4342770/

And in the logs:
[code]

[2018-05-21 13:55] jessilyndavis commented on #7808
Stage did not work when I tested it on Friday. If the newsletter subscription is not showing on https://www.allizom.org/en-US/newsletter/existing/{token} - then that subscription setting was not stored for that contact in Salesforce.

Said another way: while the checkboxes appear to be working in AMO, and an API call is successfully talking to Basket to at least pass over a contact's email address

[2018-05-21 14:01] jessilyndavis commented on #7808
Test scripts:
**1) Check box to opt-in from AMO interface - existing contact in Salesforce.**

Make sure contact has in Salesforce:
“AMO Email Opt-in?” = True
Double Opt-in = True
Subscriber = True
Email Opt-out = False

Make sure contact has in Email preference center:
About:addons = Subscribed

**2) Check box to opt-out from AMO interface.**

Make sure contact has in Salesforce:
“AMO Email Opt-i

[2018-05-21 14:03] diox commented on #7808
@jessilyndavis : on stage, I see in our logs "invalid newsletter" when trying to subscribe / unsubscribe to about:addons. (As far as our code is concerned the identifier of that newsletter in basket is `about-addons`)

[2018-05-21 14:05] jessilyndavis commented on #7808
@diox  - the newsletter config has been deactivated on stage until it is proven to work as expected on Dev.

Do you have automated tests running on stage? Or are the errors from manually testing?

[2018-05-21 14:07] diox commented on #7808
That was manually testing.

[2018-05-21 14:19] diox commented on #8317
Deploy issue, fixed itself.

[2018-05-21 14:19] #8317 closed

[2018-05-21 14:44] ioanarusiczki commented on #8317
Yes, it works again now - verified fixed on AMO dev with FF60(Win10). I tested with a couple of extensions.
![passed validation](https://user-images.githubusercontent.com/33448286/40313447-78c65b50-5d1e-11e8-8c12-47dad2f49dab.png)

[2018-05-21 15:59] diox commented on #8314
In addition, our `subscribe` call is currently asynchronous. I'm going to change that in order for errors to be more visible and newsletter data shown to be more reliable (*)- it's only going to matter for users editing their profile, which hopefully does not happen too often.

(*) We've had issues on stage where it's lagging by 2 minutes, or more if basket workers are down.

[2018-05-21 16:30] caitmuenster commented on #7298
Hey @is2ei! Go for it! Feel free to let @muffinresearch know if you have any questions. :)

[2018-05-21 17:13] diox commented on #7808
@AlexandraMoga : you can test again on dev and stage. A few things to note though:
- Use the email center to see if it's sync-ed up with AMO. The URL is `https://www-dev.allizom.org/en-US/newsletter/existing/{token}` and `https://www.allizom.org/en-US/newsletter/existing/{token}` for dev and stage, respectively. You'll need your user basket token, you can ping a dev on IRC to get it (I'll add it t

[2018-05-21 18:43] jessilyndavis opened #8320 "Additional parameters for dev marketing email setting with Basket"
This is a feature enhancement to the work done in: https://github.com/mozilla/addons-server/issues/7808

Please add these 2 parameters to the Basket API calls:
1) source_url = https://addons.mozilla.org/firefox/users/edit
2) optin = Y

Additional details on how this is setup:
http://basket.readthedocs.io/newsletter_api.html#news-subscribe

1) "Source URL" allows us to acknowledge in our system whe

[2018-05-21 19:17] caitmuenster opened #8322 "May 2018 updates to DevHub landing copy - signed in view"
﻿This is the monthly update to the [Add-ons Developer Hub](https://addons.mozilla.org/developers/). These updates pertain to the view developers see when they are signed-in.

**Current screenshot:**
﻿
![screen shot 2018-05-21 at 10 56 25 am](https://user-images.githubusercontent.com/23342476/40325351-3bf3038c-5cf0-11e8-8b9b-0a1e5c1c35fd.png)

**Changes:**

- Change “Get Started” to “Welcome Back”

[2018-05-21 19:22] caitmuenster opened #8323 "May 2018 updates to DevHub - signed-out view"
This is the monthly update to the [Add-ons Developer Hub](https://addons.mozilla.org/en-US/developers/). These updates pertain to the view developers see when they are not signed in.

**Current screenshot**

![screen shot 2018-05-21 at 10 58 32 am](https://user-images.githubusercontent.com/23342476/40325605-495237ea-5cf1-11e8-849e-1220704bcf26.png)

**Changes to "Update Your Legacy Extension" box:

[2018-05-21 21:29] Rob--W opened #8324 ""From" e-mail header uses nobody@mozilla.org without name"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

I submitted an add-on that got auto-approved, and then received an e-mail.

### What happened?
The "From" header in the e-mail is:

[code]

### What did you expect to happen?

The "From" header should have a human-readable name, e.g. "Mozilla Add-ons". Two days ago, I got a user review notification w

[2018-05-22 07:54] AlexandraMoga commented on #8299
I have verified that the recommendations API endpoint on stage is receiving information from the TAAR lite prod endpoint. In more exact terms:
a) ` https://addons.allizom.org/api/v3/addons/recommendations/?recommended=true&guid={guid-example}`
is receiving recommendations from
b) `https://taarlite.prod.mozaws.net/taarlite/api/v1/addon_recommendations/{guid-example}/`

I have also checked that:
-

[2018-05-22 09:31] AlexandraMoga commented on #8080
Verified as fixed on AMO-dev, with FF60, Win10x64

I have checked the theme data both for existing themes and newly submitted themes that did not have a defined `textcolor` and `accentcolor`. In both cases, the value for these two properties was `null`
I've also submitted theme updates with defined `textcolor` and `accentcolor` to make sure the values are updated accordingly.
Here is an example of

[2018-05-22 09:32] eviljeff commented on #8150
yeah I think a change to frontend to re-define the theme constant for searches from `persona` to `persona,statictheme` shouldn't be that difficult.  (he says, without knowing how difficult it may be)

[2018-05-22 12:02] ioanarusiczki commented on #8289
@EnTeQuAk Hello Chris, could you add some STR for QA testing ?
Thanks!

[2018-05-22 12:30] davidhedlund commented on #5510
@wagnerand

That's useful, thanks. Do you know how I can list all collections by https://addons.mozilla.org/collections/mozilla/ ? Unfortunately this didn't work:

[2018-05-22 13:23] diox commented on #5510
@davidhedlund : http://addons-server.readthedocs.io/en/latest/topics/api/collections.html#list

[2018-05-22 13:35] davidhedlund commented on #5510
@diox Thanks but I have already read that, can you just give me the URL? https://addons.mozilla.org/collections/mozilla/results/format:json didn't work either.

[2018-05-22 13:37] davidhedlund commented on #5510
@diox I'm writing a script to the Free Software Foundation so your help is appreciated. I've been stuck on this long enough to ask for help.

[2018-05-22 13:44] diox commented on #5510
Issues is not the right place to ask for help. Try discourse forums, mailing lists or IRC. You're right though, I forgot that you can't list collections belonging to somebody else than you (and that to access you own you need auth). I don't think there is a way around this though.

[2018-05-22 13:45] davidhedlund commented on #5510
@diox Thank you for verifying.

[2018-05-22 13:46] #8314 closed

[2018-05-22 13:47] davidhedlund commented on #5510
@diox

Should I submit a new issue for that?

[2018-05-22 14:01] AlexandraMoga commented on #7808
I have followed the recommended steps and re-tested this feature on -dev and stage.
Dev could not be verified as no tokens were generated. Waiting to receive the required tokens in order to complete testing on -dev as well.

**For -dev:**
1. user **4m0g4_D3v** (amoga@mozilla.com) - old account with active subscription - _token not received yet_
2. user **basket-dev** (basket-dev@restmail.net) - ne

[2018-05-22 14:06] diox commented on #7808
Note: I made some changes in https://github.com/mozilla/addons-server/issues/8314 that should land on dev shortly, that makes most errors received from basket cause a "oops" in AMO, making it more obvious when something goes wrong. Worth re-testing with that.

[2018-05-22 14:11] #8300 closed

[2018-05-22 14:12] davidhedlund commented on #5510
@wagnerand I submitted https://github.com/mozilla/addons/issues/722, you can ignore what I asked you about.

[2018-05-22 15:16] ioanarusiczki commented on #8172
Verified fixed on AMO dev with FF60(Win10).
Tested: login, create a user, user profile pages - view profile, edit profile.

[2018-05-22 18:10] philipcristiano commented on #8158
commit-fixed link for the code https://github.com/mozilla/addons-server/blob/021863cdea3ac87145adc5df0b44b91fd71b8aba/src/olympia/addons/models.py#L515

[2018-05-22 19:01] jessilyndavis commented on #8320
For this particular integration between the AMO Dev user profile settings email opt-in waffle and Basket, yes!

If/when you want to put the about:addons email opt-in somewhere else on the AMO site (or anywhere else) - then no.

[2018-05-22 19:05] jvillalobos commented on #8320
@EnTeQuAk this looks like a trivial addition. Can it be done this quarter?

[2018-05-22 20:52] jessilyndavis commented on #7808
@AlexandraMoga - I could not find either user in -dev Salesforce. It looks like Dev is not working. @diox - can you debug?

For stage: your test results validates test cases 1, 2, 3.

Can you test Scenario 4? With someone who's currently subscribed, go to the email preference center and unsubscribe from "about:addons" from the email preference center. Then check to make sure you're unsubscribed in

[2018-05-22 20:54] diox commented on #7808
Could dev suffer from the same issue we had with stage before and async requests, with workers not processing stuff? From my testing it seems that once I enabled the sync mode (@AlexandraMoga did their testing before that) I suddenly was able to get tokens, but not before.

I don't think we care anywhere whether the user that has subscribed to this is actually a developer.

[2018-05-22 21:01] jessilyndavis commented on #7808
Thanks @diox ! That could be it. @AlexandraMoga - can you give a quick test on Dev again now that the sync requests are enabled?

Also, glad to hear that this integration won't send y'all errors if a non AMO Dev user subscribes/unsubscribes from the email pref center. Brilliant!

[2018-05-23 11:45] AlexandraMoga commented on #8300
Verified on AMO-stage with FF60 by using several add-on examples. In all cases, when guids returned by TAAR did not have or had only partial equivalents on AMO stage, the recommendations displayed were brought from `fallback`.

Here is a concrete example:
[code]
Response:
`"outcome": "recommended_fallback",`
   ` "fallback_reason": "invalid_results",`

Check the same guid with the TAAR-lite endpoi

[2018-05-23 12:44] diox commented on #6642
QA: This affects all asynchronous tasks on the site. So check that things like add-on validation is still working, as well as sending emails, indexing add-ons for search, uploading themes, uploading previews, etc.

[2018-05-23 12:53] wagnerand commented on #8158
I found statements in the activity log. (https://github.com/mozilla/addons-server/blob/021863cdea3ac87145adc5df0b44b91fd71b8aba/src/olympia/addons/models.py#L509)

[code]

I checked locally that `send_mail` is called properly and that the outgoing email appears in the fake-email log.
We also use that same `send_mail` function for abuse reports and others and those emails arrive just fine.

[2018-05-23 13:02] AlexandraMoga commented on #8248
@eviljeff when you're saying that the listing view will be same as the "thumbnail" for the theme preview, are you referring to the below screenshot?

![image](https://user-images.githubusercontent.com/31961530/40425898-6669fd38-5ea2-11e8-8238-15fc0045b9df.png)

cropped version:
![image](https://user-images.githubusercontent.com/31961530/40426005-a2aad5b0-5ea2-11e8-96d1-7096a505234a.png)

[2018-05-23 13:40] pmac commented on #7808
Updates to/from the email pref center on bedrock will take a few seconds to happen. I'd imagine there is also some level of caching on the AMO side for these kinds of things. All that to say I would not expect these settings to sync between these systems as quickly as they're expected to in the attached GIF. I'd try refreshing for 30s or so to see if it eventually comes through.

[2018-05-23 13:41] jessilyndavis commented on #7808
@AlexandraMoga - thanks for the gif! That is incredibly helpful to see. When you click "unsubscribe" for about:addons in the email preference center, are you scrolling down to the bottom of the page and clicking the "Save Preferences" button? You'll need to do that for the setting to be saved from Basket -> Salesforce.

[2018-05-23 13:55] eviljeff commented on #8248
@AlexandraMoga yes.  the thumbail is `list view.svg` and `shelf.svg` and `more by shelf.svg` files ux provided (see zip at the top) are basically just cropped versions of `list view.svg`

[2018-05-23 14:08] AlexandraMoga commented on #7808
@jessilyndavis thanks for drawing the attention to the 'Save Preferences' button, You are right, I forgot to click it when I tested that part.

I've re-run the scenario and now the changes are successfully applied on the email preference center. However, after waiting ~15 mins, the new status was still not reflected on AMO. I've also logged out and logged back in.

![image](https://user-images.git

[2018-05-23 14:16] pmac commented on #7808
Did the change definitely apply in the email pref center? Try a hard refresh (hold shift and refresh) on that page to ensure that it's really unsubscribed. Or I can look in basket itself if I can get the token.

[2018-05-23 14:22] ioanarusiczki commented on #8289
I talked with @diox so I did the following test on AMO dev with FF60(Win10):
1. Created two users anonymous-316651f91f257f0b80132a390b7a842f with currentUserID:10641648 and anonymous-2ec6790b1a7fde02d428f62eb4188536
2. Renamed the second user anonymous-10641648
3. Deleted the first user anonymous-316651f91f257f0b80132a390b7a842f (from the old pages)
4. Re-logged in and checked the username, it's a

[2018-05-23 14:27] jessilyndavis commented on #7808
@diox - better question: when the AMO Dev user settings page is displayed, are you fetching the latest subscription info from Salesforce to display opt in/out status?

[2018-05-23 16:10] jessilyndavis commented on #7808
@AlexandraMoga - did you have the unsubscribe issue on stage? (where you unsubscribe from email preference center, and still are subscribed in AMO interface)

[2018-05-23 16:15] AlexandraMoga commented on #7808
@jessilyndavis I've tried both on -dev and stage, and for both cases, I'm still subscribed in AMO.
FYI,
- on -dev I have tested this part with user basket-dev-new@restmail.net  - https://www-dev.allizom.org/en-US/newsletter/existing/86f48bf1-66aa-4744-ac1a-367cf16510b4/
- on stage - user - amoga@mozilla.com - https://www.allizom.org/en-US/newsletter/existing/2e0e40b6-cf50-4283-8a3e-2c8150042da1/

[2018-05-23 16:17] diox commented on #7808
AMO fetches the state from basket before displaying the edit page.

[2018-05-23 16:18] jessilyndavis commented on #7808
@AlexandraMoga - did you retest today on stage?

[2018-05-23 16:34] vcarciu commented on #7808
@jessilyndavis : Yes, Alexandra retested today on Stage, but right now she is not at the office anymore and will continue to test tomorrow if anything else is needed.

[2018-05-23 16:50] pwalm commented on #8248
This looks awesome, I will make the shapes less bold. 👍

[2018-05-23 17:05] diox commented on #7808
There is definitely something wrong in the way we display the state we got from basket. Looking into it...

[2018-05-23 18:26] #7808 closed

[2018-05-23 18:32] wagnerand commented on #8158
When I filed this issue, I was looking into that as well. What strikes me is that it stopped working on Nov 6, which is nowhere near a push date. I looked at the tags, and there didn't seem to be any extra-pushes for that date.  @philipcristiano are there any logs that would confirm we didn't push that day?

I also don't see how permissions would be involved in that. We're calling `send_mail` dire

[2018-05-24 06:59] AlexandraMoga commented on #7808
I've retested the the scenario on -dev and stage and these are my new results:

**For dev** - Unsubscribing from `about:addons` in the email preference center seems to be working. The subscription checkbox from AMO account page is unmarked. The `about:addons` newsletter is no longer displayed in the email preference center:
![image](https://user-images.githubusercontent.com/31961530/40468990-c23dc

[2018-05-24 10:11] diox commented on #7808
@AlexandraMoga I haven't yet cherry-picked the change I made late last night for stage, so the difference in behaviour is normal. The fact that on dev `about-addons` disappears from the email preference center is also normal I think, it's a configuration difference on salesforce side.

[2018-05-24 10:50] #8322 closed

[2018-05-24 11:34] diox commented on #7808
@AlexandraMoga you can retest on stage.

[2018-05-24 11:35] #6642 closed

[2018-05-24 12:12] AlexandraMoga commented on #7808
Stage is working as well:

![image](https://user-images.githubusercontent.com/31961530/40484467-65b88748-5f64-11e8-8e8c-98652e606758.png)

Since no other problems have been noticed in the meantime, I'm going to mark this issue as verified fixed on AMO -dev and stage with FF60, Win10x64

[2018-05-24 12:35] AlexandraMoga commented on #8248
@pwalm , thanks for taking in consideration my suggestion.

Until the updated design will be ready, I'm marking this issue as verified fixed, since the implementation was following the specs provided in the .zip attached to the issue.

Verified with AMO -dev, FF60, Win10x64

[2018-05-24 12:42] #6849 closed

[2018-05-24 13:18] #8323 closed

[2018-05-24 13:28] diox commented on #5174
Asked @sylvestre on IRC and he told me to wait until Firefox 61 just in case.

[2018-05-24 13:42] jessilyndavis commented on #7808
Brilliant! Glad to hear stage is working!

I'm setting up Basket Prod now with the "about-addons" configuration now. I'll comment here when it's ready.

The showing/disappearing difference between stage and dev on the email preference center is expected and controlled on the Basket/Salesforce side. In production the newsletter will show whether someone is subscribed or not, to allow other email su

[2018-05-24 13:56] jessilyndavis commented on #7808
"about-addons" is live in Prod and showing in the email preference center for someone I just subscribed via API call:

https://www.mozilla.org/en-US/newsletter/existing/675fd639-f956-4f34-8629-7d64c4c4af11

Please enable this in prod when you're ready and let me know how testing goes!

[2018-05-24 14:01] diox commented on #7758
cc @jvillalobos for input

[2018-05-24 14:05] jessilyndavis commented on #7808
Thanks @pmac! Right now it's EN only - but I'll work with @caitmuenster if/when it's ready to be l10n'ed to file the bedrock bug and setup all the Salesforce/Basket l10n goodness.

[2018-05-24 14:21] wagnerand commented on #7758
Since those message are currently equally seen by developers and reviewers, suppressing them would hide them for both, which is undesirable.

[2018-05-24 15:04] philipcristiano commented on #8158
There does not appear to have been a deploy at that time. I had to check Datadog as Jenkins doesn't have information back that far.

I was able to gain access to SocketLabs which does allow searching by email. It turns out the email address used was on the suppression list.

[code]

It looks like Google nack'd the address on Nov 6th and it's stuck around since then. I've removed the email from the

[2018-05-24 16:11] iamkhush commented on #8166
Hey, I am interested to work on this.
I have looked into this and it looks we can fix this with either using jinja truncate tag (http://jinja.pocoo.org/docs/2.10/templates/#truncate)  or using css.
Not sure whats the best way . Suggestions?

[2018-05-24 16:22] philipcristiano commented on #8158
@wagnerand Not a very easy way that I'm aware of. We'd need to write something to compare a list of admin emails we use in the config and check them against socketlabs.

Might be possible to export metrics from socketlabs and send counts of moco emails that don't get delivered.

These wouldn't address errors unrelated to problems at the API provider. And end-to-end solution would catch more cases.

[2018-05-24 16:22] #8158 closed

[2018-05-24 16:35] diox opened #8343 "UnicodeEncodeError: 'ascii' codec can't encode character u'\uff09' in position 0: ordinal not in range(128)"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4304510/

[code]

[2018-05-24 21:00] jvillalobos commented on #7758
Agree with Andreas that we would first need to have separate views for reviewers and developers, since reviewers need to see everything (or at least not be affected by any message suppression system). @wagnerand, is there an open issue for it?

[2018-05-24 22:29] jvillalobos commented on #6390
We met today to discuss progress, and the current plan is to enable these redirects on the week of June 18th. Given the coming Work Week, I'm bumping this back up to P2.

[2018-05-24 22:37] jvillalobos opened #8344 "Reject submissions for legacy add-ons that are not compatible with Firefox"
Legacy add-ons that aren't compatible with Firefox or Firefox for Android should be rejected on upload, with the following message:

The plan is to turn this on the week of June 18th, so __it should be waffled off until then__. Given the Work Week in between, this is a P2.

[2018-05-24 23:17] bqbn commented on #6390
So based on the comments so far,  the to-be-redirected URLs are:

1. `/<locale>/thunderbird/...`
2. `/<locale>/seamonkey/...`
3. `/update/VersionCheck.php` with `appID={3550f703-e582-4d05-9a08-453d09bdfdc6}` for `versioncheck.addons.mozilla.org` and `versioncheck-bg.addons.mozilla.org` domains.

Where should they be redirected to?

[2018-05-24 23:32] Sancus commented on #6390
1. https://addons.thunderbird.net/<locale>/thunderbird/...
2. https://addons.thunderbird.net/<locale>/seamonkey/...
3. https://versioncheck.addons.thunderbird.net and https://versioncheck-bg.addons.thunderbird.net respectively.

[2018-05-25 10:19] AlexandraMoga commented on #6849
I have verified the new /ratings/ endpoint by sending several requests with mixed queries.
Here are two examples:
[code]
[code]
@diox, just to double check:
`v3` api still uses `/reviews/review/`  to fetch add-on ratings and this endpoint does not work with `v4` api
`v4` api uses `/ratings/rating/`  to fetch add-on ratings and this endpoint does not work with `v3` api
Is this correct?

[2018-05-25 10:28] diox commented on #6849
Is this correct?

That is correct.

[2018-05-25 10:30] #8255 closed

[2018-05-25 10:34] diox commented on #8284
That is not entirely true. [We **are** already boosting on exact matches](https://github.com/mozilla/addons-server/blob/2d8cf8c6b35ae54dd1880f0ba3aa89a21b41185e/src/olympia/search/filters.py#L302-L328). Or rather, we should be. The problem is that it doesn't seem to be working correctly, and we are not sure why. I'd rather fix this than implement quoted search tbh.

[2018-05-25 10:46] AlexandraMoga commented on #8255
Could you please add STR or the label 'qa:not neded"?

[2018-05-25 10:59] AlexandraMoga commented on #8323
Verified as fixed on AMO-dev with FF60, Win10x64

![dev-hub-promo](https://user-images.githubusercontent.com/31961530/40541273-c821af30-6023-11e8-9991-99d4d5dededf.gif)

[2018-05-25 11:02] AlexandraMoga commented on #6849
I'm marking the issue as verified fixed on AMO-dev.

[2018-05-25 11:08] diox commented on #7250
Done in #7253 a while ago.

[2018-05-25 11:08] #7250 closed

[2018-05-25 11:09] diox commented on #7251
Done a while ago in https://github.com/mozilla/addons-server/issues/7848

[2018-05-25 11:09] #7251 closed

[2018-05-25 11:12] diox commented on #7176
I've replaced this tracking issue by a project: https://github.com/mozilla/addons-server/projects/2

[2018-05-25 11:12] #7176 closed

[2018-05-25 11:13] AlexandraMoga commented on #8322
Verified as fixed on AMO-dev with FF60, Win10x64

![dev-hub-log-promo](https://user-images.githubusercontent.com/31961530/40541740-c61cbf16-6025-11e8-9167-cd18eab476fb.gif)

[2018-05-25 11:21] diox commented on #8284
See also https://github.com/mozilla/addons-server/issues/6837 in which we did implement the exact match I'm talking about in my previous comment... it got re-opened because well, it doesn't work like it should :(

[2018-05-25 11:22] diox commented on #3571
@AlexandraMoga can you still reproduce this?

[2018-05-25 11:35] diox commented on #8284
Between addons and addons-server repos we've got ~ 20 issues opened around search dealing in various ways with the fact that relevancy is broken. My point is that we need to fix relevancy and exact match, and I bet that then we won't need to implement quoted search at all.

[2018-05-25 11:36] diox commented on #8284
To add to that, I firmly believe that anything forcing the user to add specific magical characters to their search query is bad UX. Users shouldn't need to search for `"something"` to find an add-on named that way. It should be higher up in the results, at the top even if it's an exact match.

[2018-05-25 11:41] wagnerand commented on #7758
I thought I filed an issue, but I can't find it right now.

I did find #746 however which sounds quite similar to this one. Might be a dupe?

[2018-05-25 11:42] EnTeQuAk opened #8350 "Uninformative "IOError: write error""
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/367360/

This exception is pretty useless. I wonder if it's related to https://github.com/getsentry/raven-python/issues/732#issuecomment-176854438

Is that maybe something we can add to our uwsgi config?

[2018-05-25 11:43] EnTeQuAk commented on #8350
what do you think about that @philipcristiano?

[2018-05-25 11:59] AlexandraMoga commented on #3571
@diox  yes, I can still reproduce the issue with both links:
https://addons-dev.allizom.org/en-US/firefox/search/?sort=relevance
https://addons-dev.allizom.org/en-US/firefox/search/?sort=hotness

Note that `relevance` needs to appear as a sort query in the URL, in order to reproduce the issue. Also, when comparing search results between `relevance` and `hotness`, there doesn't seem to be much of a

[2018-05-25 12:30] AlexandraMoga commented on #7963
@diox I can't find issues with add-on count and the list is updated when I'm adding a new item.
However, the Path filed still doesn't record the path I've supplied.

I have just added two more add-ons to the list - https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/replacementaddon/

[2018-05-25 12:32] eviljeff commented on #8255
Both the case where the original `Rating.rating` is returned, and the new `Rating.score` should be tested.
Easiest way to test original behaviour is to check addons-frontend still works for retrieving, creating, and editing user ratings.
To test the new behaviour the kind of testing in https://github.com/mozilla/addons-server/issues/6849#issuecomment-392009543 is probably good enough - see that th

[2018-05-25 13:37] diox commented on #3571
Ah, but there is. If the frontend is changing the parameters on its own then yes the results will be different... can you open up a new issue on addons-frontend and link this one? I'm not entirely sure the API side is fixed, but let's at least make the frontend consistent before chasing any server side bugs down...

[2018-05-25 13:39] diox commented on #8191
Note : image deletion will be implemented with other actions in #7268, this is only the basic foundation.

[2018-05-25 13:39] #8191 closed

[2018-05-25 14:03] diox commented on #3571
Err I misread, thought the URL was changing without user interaction from `?sort=relevance` to `?sort=hotness`. If that's not the case then yeah, sorry, no frontend issue to see here :)

[2018-05-25 14:05] AlexandraMoga commented on #3571
Yes, it was always a matter of user interfering with the sort options. Sorry if it wasn't clear in the server bug. I guess this can be closed then.

[2018-05-25 14:06] philipcristiano commented on #8350
Seems reasonable!

[2018-05-25 15:19] diox commented on #8343
STR:
- Go to https://addons-dev.allizom.org/en-US/firefox/addon/ublock-origin/versions/%C3%A9%C3%A6%C3%A7%C3%A0'c

Expected Results:
- See a 404 because the parameter for the version is invalid

Actual Results:
- A 500 oops page

[2018-05-25 17:50] jvillalobos commented on #7758
Yes, Iet's close this one in favor of the other one. There's still the issue of figuring out what to do about linter flag classification, which appears to be the main blocker for this.

[2018-05-25 17:50] #7758 closed

[2018-05-25 18:05] diox commented on #8286
So the form has this, that we should probably steal for the API:
[code]

Not sure I like the idea of hiding stuff in API results though. Maybe instead we should expose which notifications are dev-only notifications and let the frontend knows whether the user is a developer or not when they log in ? Or even when they call this API?

[2018-05-25 18:32] bobsilverberg opened #8354 "Collection add-ons list API returns inaccurate results when sorting"
I'm working on a feature to sort the add-ons in a collection for https://github.com/mozilla/addons-frontend/issues/3991 and I have found that the results I get back are problematic in two ways:

1. They don't seem to be sorted using the sort sequence I requested. I tried both `name` and `popularity` and both seem to return results in a random order.
2. I am getting duplicates for a number of add-o

[2018-05-25 18:34] willdurand commented on #8286
It would be faster/more efficient for the frontend to get only what it needs (rather than filtering 70% of the receiving data because that won't be used in any case).

This endpoint already depends on the authenticated user so it is more about receiving an accurate response than hiding stuff.

[2018-05-25 18:47] diox commented on #8286
Fair warning, this API will eventually be slow anyway because of the basket integration :) And it's not that much extra data. But yeah, you're probably right, let's do see on the API side.

[2018-05-25 20:48] caitmuenster commented on #7808
Hi @diox, @cgrebs , and @AlexandraMoga -- the Salesforce/AMO sync will be complete as of Friday, May 25 at 3pm PDT. Can you please turn it on and test it on Monday? (If things are not going well after it is turned on, you can turn it off.)

@jessilyndavis and I will be observing a US holiday on Monday but will be able to jump in and help troubleshoot first thing on Tuesday.

Thanks!

[2018-05-27 04:00] is2ei commented on #7298
@muffinresearch
Is this fixed in #7298 ?

[2018-05-28 06:53] EnTeQuAk commented on #8286
I'd argue this as part of filtering data the user has access to so this is a matter of permissions in a way. I think filtering out the data should be fine.

I wonder though - not sure how that currently works - if a developer looses the developer-state, we don't unsubscribe him anywhere currently, do we?

[2018-05-28 10:05] diox commented on #8286
Right, but it shouldn't matter that much I think. They shouldn't receive developer-specific notifications if they are not a developer, and they can unsubscribe from the newsletter from the email preferences center anyway (see also https://github.com/mozilla/addons-server/issues/8320)

[2018-05-28 10:33] #8343 closed

[2018-05-28 10:56] EnTeQuAk commented on #8220
Short status update: We added more stuff so that exceptions should be more visible but they still aren't. Kibana is empty and Sentry too, so we're not tending towards less of errors that are ignored somewhere (though also investigating) towards debugging potential race-conditions / concurrency problems.

Stay tuned

[2018-05-28 12:03] #7963 closed

[2018-05-28 12:04] diox commented on #7963
@AlexandraMoga count / old list showing up will still be an issue on stage/prod (should be fine on dev), but I've fixed the path editing.

[2018-05-28 12:27] diox opened #8364 "Add-on total/average downloads counts cron seems broken on dev"
It's difficult to notice on dev since we don't process stats fully there, but https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4350303/ seems to indicate https://github.com/mozilla/addons-server/issues/6642 broke the task that updates total/average downloads counts.

[2018-05-28 12:30] diox commented on #8364
Other tasks that look like they might have been affected:
- https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4350366/
- https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4350406/

[2018-05-28 14:11] willdurand commented on #8286
I just noticed that the notification `announcements` is returned twice by the API.

[2018-05-28 14:22] diox opened #8367 "Stop computing average_daily_downloads"
We compute both `average_daily_users` and `average_daily_downloads` for every add-on. There is a big difference however: only the former is computed on the last couple of weeks. `average_daily_downloads` is computed over the entire time the add-on has existed, making it largely irrelevant. Unsurprisingly, it's not exposed anywhere in the site except the admin page.

Let's get rid of it?

[2018-05-28 14:22] diox commented on #8364
See also https://github.com/mozilla/addons-server/issues/8367

[2018-05-28 16:34] diox commented on #8367
AFAIK, no. Look at adblock-plus for instance:
https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/statistics/

Nowhere is the /total/ average number of daily downloads displayed. Even if you select a custom range and go far in the past (in which case the data would be recalculated anyway), we only display the total number of downloads and the average number of daily users, but not the aver

[2018-05-29 05:01] Sancus commented on #6390
There are some other URLs I've pulled from the client. Not sure how feasible some of these are to rewrite though. We can and will, of course, change URLs in the client but it'd be best to avoid breaking old versions if possible.

1. `https://services.addons.mozilla.org/%LOCALE%/%APP%/*` (used for the discovery pane and a couple other things)
2. `https://services.addons.mozilla.org/api/v3/addons/se

[2018-05-29 08:18] AlexandraMoga commented on #8255
I have checked the JSON response for the new `v4` ratings endpoint and the value  posted by the user is expressed under `score`

Example:
`https://addons-dev.allizom.org/api/v4/ratings/rating/?addon=greenleafs-v2`

![image](https://user-images.githubusercontent.com/31961530/40646315-759fd226-6331-11e8-91ac-280442205806.png)

I've checked the ratings component on the frontend (submitting reviews, e

[2018-05-29 08:31] AlexandraMoga commented on #7963
Retested after the fix and the Path field is now populated correctly.

![image](https://user-images.githubusercontent.com/31961530/40647110-bc711406-6333-11e8-9a19-22e8078e1344.png)

Verified as fixed on AMO-dev with FF60, Win10x64

[2018-05-29 08:43] eviljeff commented on #8290
QA:
- Test the frontend works as normal, especially logging in and out;
- confirm #8285 is still fixed- i.e. reviewer tools more actions are okay.

[2018-05-29 09:43] diox commented on #6390
Firefox uses those as well, so they can't be blindly be redirected.

[2018-05-29 10:15] AlexandraMoga commented on #8191
I have verified this on AMO-dev with an Admin user and a user from Staff (group having `Users:Edit` permission):
- all the functionalities mentioned in the above list are present
- requested editable fields (except for picture deletion which is not implemented here) were implemented
- changes applied to the user profile through the Admin pages are successfully applied

Questions for @diox :
1. The

[2018-05-29 10:21] diox commented on #8191
1. Will be automatically handled when we switch to the new frontend for the user profile pages
2. It's a bonus feature :)
3. Sort of. For now you need full admin to access those, and specific permissions will be added when implementing #7268

[2018-05-29 10:33] AlexandraMoga commented on #8265
Unable to reproduce the issue on the new frontend either.

[2018-05-29 10:39] AlexandraMoga commented on #8191
Thanks for your answers.
Marking the issue as verified fixed on AMO-dev with FF60, Win10x64

[2018-05-29 10:56] #8364 closed

[2018-05-29 10:57] diox commented on #8364
Difficult to QA those issues as most of them rely on data that is not present or exposed on dev/stage, like stats. I'll monitor sentry on dev/stage to see if the errors go away.

[2018-05-29 10:59] AlexandraMoga commented on #8343
I've tired this link and several others and I'm receiving a 404 instead of a 500:

![image](https://user-images.githubusercontent.com/31961530/40654946-60d93b7c-6348-11e8-9bbc-8e23e7172da9.png)

I'm going to mark the issue as verified fixed on AMO-dev with FF60, WIn10x64

[2018-05-29 11:08] #8320 closed

[2018-05-29 11:36] diox commented on #8181
This is really a duplicate of https://github.com/mozilla/addons-server/issues/7811

[2018-05-29 11:36] #8181 closed

[2018-05-29 11:41] AlexandraMoga commented on #8320
Could you please add STR to this issue or the label 'qa:not needed'?
Thanks

[2018-05-29 11:43] EnTeQuAk commented on #8320
STR:
 * Subscribing and unsubscribing to newsletters on the user profile page should work as expected
 * Especially the about-addons (developer news) which tests the basket integration explicitly

[2018-05-29 12:35] AlexandraMoga commented on #8290
I've made a quick check-up of the frontend, targeting the most important functionalities, including the log in/log out function. I have not encountered noticeable issues. A more in depth analysis will be made on stage during  our release testing.

I've also checked the More actions section in Reviewer Tools and the buttons are still functional:

![more actions](https://user-images.githubuserconten

[2018-05-29 13:59] EnTeQuAk commented on #8350
:+1:

[2018-05-29 14:14] jessilyndavis commented on #7808
@diox - did this go live yesterday?

[2018-05-29 14:16] diox commented on #7808
No. We didn't get an answer from QA when we asked yesterday on IRC.

[2018-05-29 14:17] EnTeQuAk commented on #7808
No it didn't, QA wasn't around yesterday because of a national holiday. We'll flip this on today if nothing's in our way.

[2018-05-29 14:25] eviljeff commented on #7941
QA: should be working now.  As before, this only applies to AMO stage.

[2018-05-29 14:25] #7941 closed

[2018-05-29 14:57] caitmuenster commented on #7808
Awesome! Flip away!

[2018-05-29 15:45] muffinresearch commented on #7298
@is2ei I don't understand the question. The linked issue is this bug. Did you mean to link some other issue or PR?

[2018-05-29 15:55] willdurand opened #8377 "The notifications API endpoint returns the notification named "announcements" twice"
### Describe the problem and steps to reproduce it:

From: https://github.com/mozilla/addons-server/issues/8286#issuecomment-392537562

Retrieve the user notifications for any user.

### What happened?

The notifications API endpoint returns the notification named "announcements" twice.

### What did you expect to happen?

The notifications API endpoint returns the notification named "announcement

[2018-05-29 15:59] Football777 opened #8378 "d"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-05-29 21:00] Sancus commented on #6390
OK so the v3 URLs were newly added and do not yet exist in any release version of Thunderbird. I am working on a client patch now to change these to point at live.thunderbird.net, which will redirect to the correct place. So we won't have to worry about server-side redirects for these on AMO.

Thus the final list of things that will need rewrites is:

1. `https://addons.mozilla.org/<locale>/thunde

[2018-05-30 00:31] is2ei commented on #7298
@muffinresearch
Sorry, the link was wrong. I mean this commit refers this issue #7298 https://github.com/gponimansky/addons-server/commit/7013e50e0687b48bbd88c89fb8af867c1eca4843
The comment says "Fixed Issue #7298".

[2018-05-30 00:33] gponimansky commented on #7298
Oh @is2ei it's a workaround fix will update it. I suggested where a true fix may take place.

[2018-05-30 01:09] Callek opened #8381 "Allow the ability, via API, to specify a langpack is not appropriate for android"
c.f. https://bugzilla.mozilla.org/show_bug.cgi?id=1462689

This would ideally be part of the upload/signing API but is acceptable seperately. The underlying issue is that when release engineering uploads Language Packs AMO is then declaring the language packs as compatible with Android.

I'm told the compat flag is per-upload (version) so is not feasable to do via web UX every release.

[2018-05-30 10:37] diox opened #8382 "TypeError in email change task"
If you have changed your email once before, the task will fail when you try to change it again because of:

https://sentry.prod.mozaws.net/operations/olympia-stage/issues/4363465/

[code]

This is because of https://github.com/mozilla/addons-server/issues/6642 again

See https://github.com/mozilla/addons-server/issues/8384 which is a dupe but has far better STRs for the same problem.

[2018-05-30 10:50] EnTeQuAk commented on #7744
Test run on stage, with cache-machine enabled: https://gist.github.com/EnTeQuAk/42bcdd872559e49a23c08eb6bcf9f823

[2018-05-30 11:10] AlexandraMoga opened #8384 "Changing your primary email address back to the original email from the FxA page is not reflected in AMO"
Follow up for #7941

STR:
1. Log in to AMO stage and open your account page (i.e. https://addons.allizom.org/en-US/firefox/users/edit/)
2. Click on Manage Firefox Accounts to open the FxA page in a new tab
3. Add a secondary email to your account
4. Set the secondary email as your primary email address
5. Go back to your AMO account page and refresh the page in order to see the modified results
6.

[2018-05-30 11:11] AlexandraMoga commented on #7941
I have verified this on AMO stage an here are my test results:

1.Have your AMO account page open
2.Open FxA page in a new tab to add a secondary email to your account, then set it as a primary e-mail
=> change is reflected in AMO user account page once the page is refreshed

@eviljeff  for the first time you reset your primary email address in FxA, the changes are applied in AMO. When re-setting

[2018-05-30 11:14] eviljeff commented on #8384
dupe of #8382

[2018-05-30 11:16] diox commented on #8382
Forward-duping to #8384 which has far better STRs for the same problem.

[2018-05-30 11:16] #8382 closed

[2018-05-30 11:21] muffinresearch commented on #8381
@diox would it be feasible to add something to the signing API to make this possible?

[2018-05-30 11:30] muffinresearch commented on #8284
@diox fair enough. I'll mark this as YAGNI. Let's aim for fixing https://github.com/mozilla/addons-server/issues/6837 if exact matches are boosted correctly and that negates the need for quoting that sounds good to me.

Closed in favour of fixing https://github.com/mozilla/addons-server/issues/6837 instead.

[2018-05-30 11:30] #8284 closed

[2018-05-30 11:50] diox commented on #8381
It's feasible, but not trivial at all, we are going to bump into the longstanding issues around platforms vs applications that we have in the codebase.

- The signing API currently [hardcodes](https://github.com/mozilla/addons-server/blob/ca259238f23be0dc2d85742d3921a1800aea1ac0/src/olympia/devhub/tasks.py#L123) platform compatibility as `PLATFORM_ALL`, causing every upload going through it to be

[2018-05-30 12:00] Callek commented on #8381
I'm ok with a temporary work-around API that allows me to set a version as "not for Android" that I call seperate to (and sometime very shortly after) the version upload.

[2018-05-30 12:10] diox commented on #8381
I'd prefer to avoid that.

It's currently possible through devhub but as the last issue I linked to (https://github.com/mozilla/addons-server/issues/2572) mentions, it doesn't entirely work (*), so I'd prefer the data to be correct from the beginning instead of hacking around it after the fact.

(*) I haven't investigated into why yet - on top of the platforms vs applications I mention above, ther

[2018-05-30 12:35] eviljeff opened #8385 "show static theme preview image in devhub's list of submissions"
LWT show an icon - that we no longer generate for static themes because it's not used in frontend - so its difficult to differentiate between your submissions.  We can use the "thumb" preview image.

[2018-05-30 13:11] #8384 closed

[2018-05-30 13:17] willdurand opened #8387 "Delete account endpoint should clear cookies when deleting current user's account"
### Describe the problem and steps to reproduce it:

1. Create a user account on AMO
2. Log in and go to the "edit profile page"
3. Delete your profile
4. Try to log in

### What happened?

An error will occur after the FxA step, likely a `401` (not authorized) from the API in the dev tools.

### What did you expect to happen?

The user is successfully logged in and a new profile has been created.

[2018-05-30 13:20] diox commented on #8381
We discussed this further on IRC. Ideally, there would be something in the manifest indicating what applications the add-on is compatible with but alas, there isn't (and Firefox does not like arbitrary properties it doesn't know about).

However, langpacks are currently completely not working in Firefox for Android. There are some plans to support similar functionality in the future, but nothing i

[2018-05-30 14:48] jessilyndavis commented on #7808
@EnTeQuAk @diox - are we live? Things working ok? I saw: https://github.com/mozilla/addons-server/issues/8320#issuecomment-393074892

[2018-05-30 15:30] EnTeQuAk commented on #7808
This is now live.

[2018-05-30 15:32] AlexandraMoga commented on #7808
@jessilyndavis @EnTeQuAk This is verified on prod as well. I've managed to subscribe to 'about:addons' from AMO and unsubscribe is possible both from the email preference center and from AMO.

[2018-05-30 15:41] caitmuenster commented on #7783
Hey there @deepanshu-jain1999, how's it going with this issue?

[2018-05-30 15:43] muffinresearch commented on #8166
@iamkhush CSS would be preferred in this case.

[2018-05-30 15:44] wagnerand commented on #8324
Mentor: @eviljeff

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-05-30 15:47] eviljeff commented on #7957
FYI, this wizard is turned off by default. If you are locally running addons-server on docker you can enable it by adding a flag (a "waffle switch") in django admin here: http://olympia.test/admin/models/waffle/switch/ called "allow-static-theme-uploads". It will look something like this:
![screenshot 2018-05-14 19 08 20](https://user-images.githubusercontent.com/768592/40015086-2ec2203a-57aa-11e8

[2018-05-30 15:50] muffinresearch commented on #5217
Duplicate of #7298

[2018-05-30 15:50] wagnerand commented on #5217
Yep, thank you.

[2018-05-30 15:50] #5217 closed

[2018-05-30 16:10] ioanarusiczki opened #8390 "A .jpg photo with portrait orientation is not correctly displayed on User profile info card and for the add-on screenshot section"
STR:

1. Load AMO dev and go to Edit profile page
2. Upload a .jpg photo of any size that has less than 4 MB and has a portrait orientation. Observe it's display after photo is selected from folder
3. Update account and click on View Profile
4. View the image saved

Expected results:
The image is displayed in portrait orientation.

Actual results:
The image is displayed in landscape view.

Notes:

[2018-05-30 16:15] diox commented on #8354
To sort by name using the database I think we have to use `order_by_translation`, just sorting on `addon__name__localized_string` won't cut it. No idea about what's going on with the rest, but it may have to do with the way to tables are joined together.

[2018-05-30 17:05] eviljeff commented on #8324
Easiest fix for this is to replace `NOBODY_EMAIL` with `ADDONS_EMAIL` everywhere and remove `NOBODY_EMAIL`

[2018-05-30 20:28] diox commented on #8377
Removing the old notification from the database makes sense, make sure that Saleforce is fully synced up and we're not going back though.

Also note that the legacy page doesn't appear to suffer from this problem, so maybe the API can be smarter here.

[2018-05-30 20:46] diox commented on #8390
@ioanarusiczki can you attach to this issue the file you were testing with ?

[2018-05-30 21:33] jessilyndavis commented on #8320
@AlexandraMoga - If possible, could you try a brand new user opt-ing into the newsletter from AMO on Stage?

I need to check Salesforce to make sure the parameters passed through correctly.

Thank you.

[2018-05-30 22:22] bqbn commented on #6390
Question: do we need to match the appID for seamonkey? or is it that `3550f703-e582-4d05-9a08-453d09bdfdc6` is the appID for both thunderbird and seamonkey?

[2018-05-30 22:24] diox opened #8394 "Viewing file validation results on a file that somehow had no file validation attached is broken"
Not a super common use-case, but when developer/reviewer/admin tries to access validation results for a `File` that somehow exists but has no `FileValidation` instanced attached, we fire the validation task *synchronously* to generate a display a fresh `FileValidation`.

`handle_file_validation_result()` is the end of the chain of tasks that takes care of that, and it returns the `FileValidation`

[2018-05-30 22:26] diox commented on #8394
Need to double-check but we can probably drop the return value entirely, and just re-fetch the `FileValidation` in the view (we've got the `File` instance already) once the task is done.

[2018-05-30 22:30] jvillalobos commented on #6390
SeaMonkey uses `{92650c4d-4b8e-4d2a-b7eb-24ecf4f6b63a}`, Thunderbird uses `{3550f703-e582-4d05-9a08-453d09bdfdc6}`

[2018-05-31 00:48] Sancus commented on #6390
Thanks, yes I had just copy pasted from above... edited my comment to add the Seamonkey appID as well.

[2018-05-31 06:32] AlexandraMoga commented on #8320
@jessilyndavis  - I've created a new user on stage and subscribed to the about:addons newsletter from AMO:
The new user is: retest-basket-stage@mailinator.com

[2018-05-31 06:33] EnTeQuAk commented on #7158
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/3272326/

Linking this deadlock problem to this issue, since this might help solve it.

[2018-05-31 07:00] AlexandraMoga commented on #8384
Verified as fixed on AMO stage with FF60, Win10x64

![sync fxa](https://user-images.githubusercontent.com/31961530/40766769-43e43f22-64b9-11e8-8376-167b8249a098.gif)

[2018-05-31 07:01] AlexandraMoga commented on #7941
Verified via #8384

[2018-05-31 10:36] championshuttler commented on #8367
I would like to work on it :)

[2018-05-31 11:09] #8381 closed

[2018-05-31 11:21] diox commented on #8394
Downgrading because I missed something when I filed this, I need to investigate more. `json_file_validation()` does call `tasks.validate()` synchronously, but it calls the function directly, so it looks like it's bypassing the workers entirely, avoiding the problem.

The fact that we have this sentry traceback does indicate that there is a way for this code to be hit through celery though, I just

[2018-05-31 11:21] #8266 closed

[2018-05-31 11:33] diox commented on #8394
The review page will also [trigger validation on a file](https://github.com/mozilla/addons-server/blob/ed50263fba6ea5820eeeeb72a36fcf57eb6ea2ff/src/olympia/reviewers/views.py#L848-L855) if it's somehow absent. It's also done by calling the function directly, though.

[2018-05-31 11:38] madalincm opened #8402 "Performing a search from the Searh tools second page returns only search tools"
### Steps to reproduce:
1. Open the search tools landing page: https://addons.allizom.org/en-US/firefox/search-tools/
2. Scroll down the page and click the next button to navigate to the page 2
3. Perform a search using any search term
4. Observer the returned extensions

### Expected results:
Extensions of all types are returned.

### Actual results:
Only search tools are returned

### Notes/Issu

[2018-05-31 11:47] diox commented on #8394
Closing as invalid for now as I can't reproduce this anywhere.

[2018-05-31 11:47] #8394 closed

[2018-05-31 12:14] EnTeQuAk commented on #8402
cc @willdurand as I think this may be a frontend-thing. From what I can tell once you click on the "next page" button you're leaving the `/search-tools/` page and enter the regular search. I don't think that should happen.

[2018-05-31 12:17] EnTeQuAk commented on #7744
I'm going to close this with https://github.com/mozilla/addons-server/pull/8358 being merged. I'll file separate issues to continuously improve these tests but for our cache-machine removal they're fine and working good.

[2018-05-31 12:17] #7744 closed

[2018-05-31 13:16] AlexandraMoga commented on #6642
We have tested several actions that could have been affected by this change, like:
- submitting various add-on types and checking the validation results
- performing various actions that would trigger emails (i.e. add-on submissions, review actions, developer replies, abuse reports, user reviews etc)
- submitting add-ons and checking that they are indexed for search, i.e they can be found in searc

[2018-05-31 13:37] willdurand commented on #8402
I guess it is a frontend issue, investigating...

[2018-05-31 13:51] willdurand commented on #8402
So, I believe that is intended (but I was not there when this was decided). My understanding is that `/search-tools/` is a landing page and we have to go to the search page for more results.

See also: https://github.com/mozilla/addons-frontend/issues/4496

[2018-05-31 13:58] EnTeQuAk commented on #8402
Interesting, that's a bit confusing but then "working as expected" I think. The results do what the user expects though, mostly, so this shouldn't be much of a problem.

Thanks for investigating! Closing.

[2018-05-31 14:15] ioanarusiczki opened #8404 "Pano type images (larger in size and wider) have display issues after upload in dev hub"
STR:
1. Load AMO stage and for a submitted add-on upload as screenshots some images but make sure they are above 3MB in size and wide (as in the attachment)
2.Click the Save Changes and observe the screen

Expected result:
Images are uploaded and displayed.

Actual result:
Images are displayed in continuous loading state for a while and then blank.

Notes:
This issue is intermittent but most of th

[2018-05-31 14:32] willdurand commented on #8402
See the filters on the left, you will see that the "add-on type" is "search tools" when you navigate to page 2. That's why the search behaves differently.

[2018-05-31 14:46] madalincm commented on #8402
When you access https://addons.allizom.org/en-US/firefox/search-tools/ the filter "add-on type"  is set to Search Tool.
![landingpagefilter](https://user-images.githubusercontent.com/15685441/40789078-3b8519dc-64fa-11e8-9648-e8de28545735.png)
 If you perform a search in there the request that is fired is this one:
https://addons.allizom.org/api/v3/addons/search/?app=firefox&appversion=60.0&platfor

[2018-05-31 14:51] willdurand commented on #8402
ah right, we should probably not display the filters on `/search-tools/`.

[2018-05-31 14:55] diox commented on #7268
@jvillalobos what kind of matching do we want for this search? We can do exact (case-insensitive), prefix (the value needs to start with the string searched to match) or full text. Currently the functionality exists already (except for description, what is description for a user profile?) but it's a prefix search, i.e. the email/username needs to start with the string used for search. Is that ok o

[2018-05-31 15:27] AlexandraMoga commented on #8266
@eviljeff  I am still reproducing the issue. Do you think that your update was also applied to the already migrated themes? For example, if I download the theme .xpi, there is no META_INF file in the package.

[2018-05-31 16:55] eviljeff commented on #8266
The ones we migrated before will stay broken -  I'll have ops do some more.

[2018-05-31 17:41] eviljeff commented on #8266
Tried to migrate these:
https://addons-dev.allizom.org/en-US/firefox/addon/building-a-snowman/
https://addons-dev.allizom.org/en-US/firefox/addon/wolf-eye-to-eye/

But got a fail in the celery task that generates the previews:
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4366764/

Would still be interested to know if they're signed properly though!

[2018-05-31 17:47] jvillalobos commented on #7268
I think I'm referring to the bio when I write description. Doing prefix search should work for now (and including the bio in this case probably won't be useful). We can see later if we need something more powerful.

[2018-05-31 18:28] madalincm commented on #8402
Reopening based on comment https://github.com/mozilla/addons-server/issues/8402#issuecomment-393556441

[2018-05-31 18:37] AlexandraMoga commented on #8266
Those themes can be installed and their package also contains the META_INF file

![image](https://user-images.githubusercontent.com/31961530/40800888-3b441fd4-651a-11e8-94f4-7d7ed78aea99.png)

Marking issue as verified fixed on AMO-dev, with Nightly 61.0b10, Win10x64

[2018-05-31 18:45] eviljeff opened #8405 "Static theme migration preview image migration broken after celery pickle changes"
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4366764/

irc discussion:
[code]

[2018-05-31 18:49] eviljeff commented on #8266
logged the preview generation fail as #8405

[2018-05-31 18:55] diox commented on #8405
Another option is to benefit from the post-request-task stuff: force the tasks to all be delayed until after a certain point, in which case the point is the transaction commit. We are seeing this issue because we're outside the request-response cycle, so the post-request-task is not enabled. But maybe we can enable it and fire the signals it listens to...

[2018-05-31 20:13] willdurand commented on #8402
@madalincm could you reopen this issue on addons-frontend instead? thanks!

[2018-06-01 04:44] deepanshu-jain1999 commented on #7957
Hello, Is there any direct url to access this page.

[2018-06-01 06:30] iamkhush commented on #6741
@PhillypHenning were you able to fix the last error somehow - `Problem installing fixture` ?

[2018-06-01 08:54] EnTeQuAk opened #8407 "mn locale broken on master"
[code]

[2018-06-01 09:07] #8407 closed

[2018-06-01 09:13] eviljeff commented on #8405
Looks like it listens to the standard django.core.signals `request_finished` and `request_started` which i'm a little wary about firing because what else is listening for them.  We want to call https://github.com/mozilla/django-post-request-task/blob/master/post_request_task/task.py#L23 directly really.

[2018-06-01 09:53] diox commented on #8405
Yeah calling `_start_queuing_tasks()` and `_send_tasks_and_stop_queuing()` should work.

[2018-06-01 10:39] diox commented on #7249
Note: because it's a nice summary, I've edited https://github.com/mozilla/addons-server/issues/7249#issuecomment-375784344 to reflect those terminology changes.

[2018-06-01 10:48] diox opened #8410 "Replace add-on admin with django admin"
The current add-on admin is a [custom view](https://github.com/mozilla/addons-server/blob/db3cbaa2e24f132ac5966469402ff4d127c725f4/src/olympia/zadmin/views.py#L354) that re-uses some styles of the django admin, and provides minimal functionality: it lists the add-on name, slug and status, as well as all files attached to a version attached to the add-on. It lets you modify the status of either the

[2018-06-01 10:55] diox commented on #8410
In particular, that means `AddonAdmin` needs to:
- Show all files, with creation date, version, channel, id, platform, status and hash through some inline admin
- Allow status changes, both for files and the add-on
- Make sure status changes for both addon and files are logged like it's done in add-on manage zadmin

[2018-06-01 11:54] eviljeff commented on #7783
I linked the page in RTL local in https://github.com/mozilla/addons-server/issues/7783#issuecomment-386048998

[2018-06-01 11:55] eviljeff commented on #7957
No - either submit a static theme in an xpi or use the static theme wizard.

[2018-06-01 12:12] eviljeff commented on #7044
As LWT are being migrated to static themes in Q3 I'm wontfix'ing this

[2018-06-01 12:12] #7044 closed

[2018-06-01 12:14] eviljeff commented on #5486
After reading https://mixmax.com/blog/to-yarn-and-back-again-npm I'm not sure if we should still do this.

[2018-06-01 12:18] EnTeQuAk commented on #5486
Probably not necessarily… npm has evolved massively in the last few years so I think an up-to-date npm should be fine.

[2018-06-01 12:18] eviljeff commented on #1282
wontfixing this because the sentry links don't work any more and it's not clear what was broken.

[2018-06-01 12:18] #1282 closed

[2018-06-01 12:27] EnTeQuAk commented on #1282
The errors are still in sentry though and are still happening. I never investigated this more though and it could very certainly be legacy + Thunderbird/SeaMonkey related

[2018-06-01 12:34] diox commented on #1282
Won't matter much with the migration to static themes. Although we do need to make sure the migration script doesn't blow up with those add-ons...

[2018-06-01 13:26] eviljeff commented on #5486
let just do #7696 instead then

[2018-06-01 13:26] #5486 closed

[2018-06-01 13:38] EnTeQuAk commented on #7696
@CuriousLearner sorry for the late response, I didn't see the notification. Unfortunately I don't think that issue is a good contributor issue since it involves knowing how we build our JavaScript and you'll have to test loads of different parts of AMO to ensure things don't break unexpectedly.

I do hope you'll consider a few other issues though! We're happy to help you there.

[2018-06-01 14:21] jessilyndavis commented on #8320
Brilliant! Thanks @AlexandraMoga ! Everything passed through correctly.

[2018-06-01 14:32] EnTeQuAk commented on #7744
Test run on NewRelic with cache-machine disabled: https://rpm.newrelic.com/accounts/1402187/applications/76231391/transactions/table?type=app&tw[start]=1527844990&tw[end]=1527862414#sort=8%2C1

Test results from locust: https://gist.github.com/EnTeQuAk/f9bc6ee6e3834238d8931c3a132a5c8e (they're less uniquified than the previous tests)

[2018-06-01 14:40] rebmullin opened #8412 "Update static theme preview image sizes proposal/discussion"
Static theme preview image sizes:
680x92 - "full" - keep this for header on detail page

Note: we're currently using 680x92 size on the search listing view since it has comparable height to lwt. These image's width will be stretched a bit at the larger bps (which is what we were currently doing) until the lwt have these same sizes and/or are migrated.

*proposed change (from 670x64)*:
760x64 - "th

[2018-06-01 14:44] EnTeQuAk opened #8413 "Fix potential performance regressions for cache-machine removal"
After https://github.com/mozilla/addons-server/issues/7744 there are a few views that show signs of issuing too much queries and behaving differently depending on how much data is shown.

`/<lang>/thunderbird/search-tools/format:rss` is really slow with 1.7s. This could have been cache-warming but seems to be related to Thunderbird directly.

`/de/firefox/` - our Startpage is much slower than it s

[2018-06-01 17:30] bobsilverberg commented on #7832
@eviljeff I'm about to start working on the feature to edit and/or delete notes for an add-on in a collection, so I was wondering where this stands. I can see how it's basically the same issue as we've discussed previously for review text. Is simply making the notes field into a non-localized text field an option? I know that's not trivial, and would require a migration, but it seems like maybe th

[2018-06-01 17:36] bobsilverberg commented on #7832
It might be that we can simply set the notes field to `''` and make the front-end smart enough to know that that means there are no notes. I suppose that's the simplest fix for this.

[2018-06-01 19:09] jvillalobos commented on #7832
We don't need them to be localizable, no.

[2018-06-02 06:30] bqbn commented on #6390
The redirection rules are deployed to -dev environment. Please test.

[2018-06-02 10:56] grahamperrin commented on #6394
Thanks. TBH I stopped visiting collections after features such as _sort_ disappeared with the new look … and I haven't reviewed issues recently to tell whether reintroduction is on the roadmap for this year. Laziness here (priorities elsewhere).

[2018-06-03 01:44] RiffRaffMama opened #8420 "Lost List of FF add-ons for mobile"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened? Clicked link to list of FF add-ons available for mobile FF

### What did you expect to happen? To arrive at a link that showed that very list

### Anything else we should know?
Came from here: https://support.mozilla.org/en-US/questions/928073
(Please include a link to the page, sc

[2018-06-03 11:10] EnTeQuAk opened #8421 "Basket integration causes user-profile edits to throw server errors."
There are various exceptions visible in sentry that show that we get request timeouts and more from the Basket API, we should probably report them but fail in a more reasonable way for the user and throw an error message but avoid them landing on a 500-page.

https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4365243/

[code]

https://sentry.prod.mozaws.net/operations/olympia-prod/issue

[2018-06-03 11:11] EnTeQuAk commented on #8421
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4365243/

[2018-06-03 11:15] EnTeQuAk commented on #8421
cc @pmac on this to maybe investigate the timeouts and 504-errors we see. These should obviously not happen that often and we see at least 20-30 exceptions that happened since we flipped the switch last week.

[2018-06-03 11:16] EnTeQuAk commented on #8220
So, we published more things that should potentially help to fix or to mitigate the problem.

It'd be great if you could look out for more cases of where you receive either an unexpected 404, wrongfully changed/unchanged files etc and report them as soon as you see anything.

[2018-06-04 06:47] EnTeQuAk commented on #8420
This issue tracker is for the development of addons.mozilla.org. Please use [Discourse](https://discourse.mozilla.org/) for support.

[2018-06-04 06:47] #8420 closed

[2018-06-04 06:49] AlexandraMoga commented on #8320
@jessilyndavis here is a new user I used to test again in prod:
prod-fxa@restmail.net

[2018-06-04 09:56] eviljeff commented on #5981
I took a stab at this on code-quality-Friday.  Took the best part of a day to remove the obvious references to Category and `toStaticCategory`/`fromStaticCategory` and a huge number of tests fail at this point. I estimate it will take at least another day of work to have tests pass (plus some database migration work).  But, as the majority of the changes are in legacy code paths, then a) we're cha

[2018-06-04 10:09] EnTeQuAk commented on #7743
Alrighty, I started working on this more in-depth and started from scratch removing cache-machine from our code.

From what I see there are multiple ways to tackle this, let me explain a bit more.

Either…
* Remove the caching mixins from our models but continue using cache-machine helpers (`cached_with`, fragment caching, etc)
* Remove cache-machine completely

Now, for now I took the second appr

[2018-06-04 11:52] wagnerand commented on #8410
It would be nice if that page had a safety net that catches invalid status combinations. This has been a problem in the past.

[2018-06-04 12:22] spoji commented on #8220
@EnTeQuAk With a new version of CardBook pushed to AMO by the dev today, I now got a different result now when using compare  https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/976451...972478/ .

I'm getting a "Oops! We had an error." message.

[2018-06-04 12:43] AlexandraMoga commented on #8407
@EnTeQuAk could you please add STR or the label 'qa:not needed'

[2018-06-04 13:07] spoji opened #8424 ""Next diff" shortcut on review compare links doesn't always work."
### Describe the problem and steps to reproduce it:
Go to https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/976451...972478/ , expand folders /chrome/content/addressbooksconfiguration/ then click on wdw_addressbooksAdd.js

Once wdw_addressbooksAdd.js is loaded, press "n" or click the "next diff" link on the quick navigation menu.

### What happened?
Compare tool jumps to file /chrom

[2018-06-04 13:20] jessilyndavis commented on #8320
Perfect! Prod is working great.

Thanks @AlexandraMoga ! :)

[2018-06-04 13:28] AlexandraMoga commented on #8381
@diox I could use some more details to better understand what changed exactly with this patch.
So far, I've seen that in the submission steps, the 'Android' platform checkbox is disabled but I assume there should be more than that.
![image](https://user-images.githubusercontent.com/31961530/40917118-c781026c-680a-11e8-981e-8bd9aedf816a.png)

[2018-06-04 14:02] EnTeQuAk commented on #8220
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4374099/

And https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4374098/ is very much related / the same.

So, from what I can see it feels like some files get deleted (or… marked as deleted) mid-extraction / reading which then results in this IOError.

[2018-06-04 14:06] diox commented on #8381
@AlexandraMoga : that's almost it, except that:
- Submission should work after that, and the add-on should not be marked as compatible with Firefox for Android
- It should also apply if the language pack is uploaded through the API ( the add-on should not be marked as compatible with Firefox for Android - previously it was)
- Submission of other types of add-ons should work as it did previously.

[2018-06-04 14:07] pmac commented on #8421
I can't see that project in Sentry. Do you have more info you can give me on when these are happening and for what exact URL? I'll try to trace them down on my side. FWIW I don't see errors in Sentry for basket that seem to correlate.

[2018-06-04 14:20] flodolo opened #8425 "Allow to retrieve only official language packs from API"
cc @aswan and @zbraniecki

Related to [bug 1429610](https://bugzilla.mozilla.org/show_bug.cgi?id=1429610) and issue #8198.

Right now, the API returns a list of all compatible language packs. For the use in Firefox, we'd only need the list of language packs owned by RelEng, i.e. reviewed and signed-off. The reason is that a language pack can easily generate a YSOD in the user's browser.

Given tha

[2018-06-04 14:33] diox commented on #8425
Dupe of https://github.com/mozilla/addons/issues/730

I wasn't thinking about adding another type, I think I'd rather avoid it, but I can explore that idea a little. My plan was to add a `author=<username>` and have Firefox pass `author=mozilla` - we already use this author elsewhere - but I haven't started working on this yet.

[2018-06-04 14:33] #8425 closed

[2018-06-04 15:03] wagnerand commented on #8220
The file exists on the filesystem in the expected place.

[code]

[2018-06-04 15:07] EnTeQuAk commented on #8220
Then maybe we're still talking about some kind of race-condition which I thought all-along and which would be super-hard to prove. We do have a lock-file and we - in theory - verify that the files exist on disk after extraction, which at the point of the traceback already happened. This is all quite confusing or at least unclear currently.

[2018-06-04 15:14] wagnerand opened #8426 "File link on review page should trigger download, not install"
### Describe the problem and steps to reproduce it:
Reviewers should not install add-ons in the profile they're reviewing in for security reasons. Therefore, offering an install when clicking on the file link is not helpful. The link should trigger a download instead.

1. Open a review page.
2. Click on a file link.

### What happened?
Firefox trying to install the add-on.

### What did you expect

[2018-06-04 15:22] madalincm commented on #8402
I have logged https://github.com/mozilla/addons-frontend/issues/5182
Closing this issue.
Thanks @willdurand

[2018-06-04 15:22] #8402 closed

[2018-06-04 15:32] eviljeff commented on #8150
Addons-frontend seems to have gone with A) from looking at https://github.com/mozilla/addons-frontend/pull/5067 so closing this.

[2018-06-04 15:32] #8150 closed

[2018-06-04 15:58] EnTeQuAk commented on #8220
![screenshot from 2018-06-04 17-51-55](https://user-images.githubusercontent.com/139033/40928129-de23d150-6820-11e8-8f5b-768a12095013.png)

[2018-06-04 17:29] wagnerand opened #8428 "Add version reference to ReviewerScore"
Adding a version reference to the ReviewerScore will allow us to more efficiently query review events.

[2018-06-04 18:47] devaneymoz opened #8431 "June 2018 Disco Pane content update"
For the **21 June** push, please adjust Disco Pane programming to reflect as the following...

**Bokeh Beta** by [Joe.lv](https://addons.mozilla.org/firefox/addon/bokeh-beta/)

**Stop sneaky trackers** with [Privacy Badger by EFF](https://addons.mozilla.org/firefox/addon/privacy-badger17/)
Block invisible trackers and spying ads that follow you around the web.

**Customize new tab pages** with [Ta

[2018-06-05 05:26] EnTeQuAk commented on #8377
No, this hasn't been done yet. We only recently synced up with Salesforce properly so I think we'll be able to clear this up maybe next push.

[2018-06-05 09:47] eviljeff commented on #8385
These are the two alternate ways of doing this I came up with:
![theme preview alternates](https://user-images.githubusercontent.com/768592/40968385-564be79e-68ad-11e8-8c72-238a787affb1.png)

The top is devhub landing page that shows the most recent three submissions of any type; the bottom is the "my submissions" page that has tabs for extensions and themes - the latter containing both LWT and st

[2018-06-05 09:48] eviljeff commented on #8385
@jvillalobos for UX decision on above ^

[2018-06-05 10:02] wagnerand opened #8436 "Update add-on review weighting"
@kewisch and I reviewed the current review weighting for add-ons and identified a few factors that we'd like to have changed:

**Abuse reports**
From: 1 abuse report in the past year: 10 points
To: 3 abuse reports per 6 weeks: 10 points

**eval, document.write**
From: 20
To: 50

**'script' tag with a remote URL**
From: 40
To: 100

**Unsafe DOM: innerHTML**
From: 20
To: base of 50, then 10 per inst

[2018-06-05 10:03] wagnerand commented on #8436
Setting P2 as we'd like to land this before the end of the quarter.

[2018-06-05 10:54] #8428 closed

[2018-06-05 11:17] AlexandraMoga commented on #8381
Verified as fixed on AMO -dev with FF60, Win10x64 and Android 7.0

- language packs can be submitted without Android compatibility, result also visible in dev hub (also applicable to new versions for older lang packs)
- other add-on types can be submitted with Android compatibility
- a language pack submitted through the API will also be set as incompatible with Android
- Android incompatibility i

[2018-06-05 11:38] #8286 closed

[2018-06-05 11:59] eviljeff opened #8437 "Update legacy profile edit page to tell users how to update their email address"
To copy from [the addons-frontend comment](https://github.com/mozilla/addons-frontend/issues/3144#issuecomment-377195562):

#4925 was the first (of many!) implementation issues about this.

[2018-06-05 13:17] AlexandraMoga commented on #8324
Verified as fixed on AMO-dev with FF60, WIn10x64

The email will come from `Mozilla Add-ons <nobody@mozilla.org>` when a new user submits his very first add-on, a developer submits a new add-on, an unlisted add-on or a new version for an existing add-on.

![image](https://user-images.githubusercontent.com/31961530/40978278-d90d3d80-68db-11e8-8dd1-87baf5826481.png)

[2018-06-05 17:15] eviljeff commented on #8169
Going to close this for now as no answer from the reporter in almost a month.  We can re-open.

[2018-06-05 17:15] #8169 closed

[2018-06-05 18:06] willdurand commented on #8377
Reopening as `announcements` notifications are still sent twice for users who are developers.

[2018-06-05 19:56] jvillalobos commented on #8385
I like the one on the top. The dev shouldn't need the whole preview to recognize their theme. @pwalm, what do you think?

[2018-06-05 22:57] pwalm commented on #8385
Yep, I agree with @jvillalobos . Top one!

[2018-06-06 06:09] AlexandraMoga commented on #8166
@iamkhush this issue doesn't look completely fixed on my side. You can see that my view doesn't fully match the screenshot provided by you after the fix:
![image](https://user-images.githubusercontent.com/31961530/41019819-0553eaf0-6969-11e8-8e4e-82c44b7fa8c4.png)

[2018-06-06 06:18] AlexandraMoga commented on #8377
I've noticed that after the user hits 'Update profile' the `announcements` notification is shown three times:

![image](https://user-images.githubusercontent.com/31961530/41020168-7b79bb96-696a-11e8-99c8-720f48823360.png)

[2018-06-06 06:45] willdurand commented on #8377
This is more a UI bug implied by this API issue. Once the API stops sending duplicates, that won't happen.

[2018-06-06 06:56] EnTeQuAk commented on #8426
I'm marking this as p4 since it's easy enough to simply do a right-click and "save as". It's something that'll be nice to fix though.

[2018-06-06 07:58] AlexandraMoga commented on #8286
I've checked this in the frontend by signing in with a developer and with a regular user account:

**[1] regular user**
![image](https://user-images.githubusercontent.com/31961530/41024212-488b3e1e-6977-11e8-90b7-dc03fe5640fb.png)

**[2] developer** (ignoring the duplicate `announcement` notification)
![image](https://user-images.githubusercontent.com/31961530/41024261-6e7882d0-6977-11e8-9f5d-c179

[2018-06-06 08:48] #8144 closed

[2018-06-06 09:13] AlexandraMoga commented on #8387
I've followed the steps provided and a user is now able to log back in with the same credentials after the account was previously deleted.
A new auth_token cookie is assigned at the time of login.
I'm marking the issue as verified fixed on AMO -dev with FF60, Win10x64

[2018-06-06 09:56] wagnerand commented on #8426
Reviewers have been using this workaround for years now, hundreds of times each week.

With the introduction of post-review, the risk of accidentally installing a harmful add-on has increased significantly. Therefore, I'd like to get this resolved rather sooner than later.

I'm happy to give this a try myself if someone can point me to an approach we could take here.

[2018-06-06 10:01] cosminbadescuSV opened #8447 "Check for updates is not working on -dev and stage"
### Describe the problem and steps to reproduce it:
Install an version of extension that is not the latest and try to update it to the latest version.

### What happened?
1528278842164    addons.update-checker    WARN    Request failed: https://versioncheck.allizom.org/update/VersionCheck.php?reqVersion=2&id={e0635c55-2d9c-4939-b3c1-3a28458aa2a3}&version=1.0&maxAppVersion=undefined&status=userEnab

[2018-06-06 10:14] EnTeQuAk commented on #8447
[code]

This is very likely related to https://github.com/mozilla/addons-server/pull/8372

[2018-06-06 10:54] diox opened #8450 "Handle translated fields in django admin"
Translated fields currently do not show up in the django admin - for instance if you look at the django admin page for an add-on, it should show the name, but doesn't.

Even if it did show up, we need to display all translations in the change pages instead of just the translation in the user's current language. We've got some form fields for this, but they need to be integrated into the admin.

[2018-06-06 11:03] diox commented on #7268
Couple more questions for you @jvillalobos :+1:

I edited your description to replace `Reviews:Edit` with `Ratings:Moderate`, because `Reviews:Edit` doesn't exist, but is that right? Do we want a new permission - in which case it'd be `Ratings:Edit` - or do we want to re-use the permission used to moderate ratings atm?

Also : it's difficult for us to allow users with that permission to access jus

[2018-06-06 11:04] EnTeQuAk opened #8451 "Update our logging to have a unified logging-level"
We are currently running into various problems:

We have too much logging (DEBUG) on -production and travis can't finish because we issue way too many log-statements. Let's fix this.

Looking at https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/log_settings_base.py#L116-L117 we currently only set a log-level if none is already set. Unfortunately most of our loggers have already

[2018-06-06 11:12] deepanshu-jain1999 commented on #7783
When I am changing in "static/css/devhub/static-theme.less" it shows this error-
Permission denied: u'/code/static/css/devhub/static-theme.less.css'

[2018-06-06 12:05] eviljeff opened #8453 "Drop static pages from legacy frontend that haven't been (& won't be) migrated to new frontend"
addons-server has a number of pages that show some static content about the site.  Some have already been rewritten on addons-frontend; some are non-AMO branded landing pages (e.g. shield studies); the rest are obsolete and won't be migrated.  We could drop any unused pages now, or decide on appropriate redirects.

From: https://github.com/mozilla/addons-server/blob/master/src/olympia/pages/urls.p

[2018-06-06 12:17] diox commented on #8447
@cosminbadescuSV let me know if that fixes it for you on dev and I'll cherry-pick this to stage.

[2018-06-06 12:30] cosminbadescuSV commented on #8447
This issue is verified as fixed on AMO-dev in FF62 under Win 7 64-bit.

![animation](https://user-images.githubusercontent.com/15885467/41038348-80a58864-699e-11e8-8ef1-2944cae4c9e2.gif)

[2018-06-06 13:13] muffinresearch opened #8454 "Update to node 8 in production"
Node 6 is now in maintenance LTS and since node 8 has been active LTS for a while we should be OK to switch over to it in production.

* Update to node 8 on -dev and test everything is ok
* Update on stage and then production.

[2018-06-06 13:14] EnTeQuAk commented on #8166
@iamkhush hey, do you have time to look into the other issue @AlexandraMoga just reported? Seems like the title is pushing the add-on metadata to the side.

Please us know if you have any questions.

[2018-06-06 13:20] #8377 closed

[2018-06-06 13:22] muffinresearch commented on #8454
See also https://github.com/mozilla/addons-frontend/issues/5215

[2018-06-06 17:38] jvillalobos opened #8455 "Remove link to FAQ from Developer Hub landing page"
The [Developer Hub](https://addons.mozilla.org/developers/) landing page has links to various useful resources for developers. There's a link in the Support column pointing to an [FAQ](https://addons.mozilla.org/faq) that is in the old front-end and won't be migrated to the new one. It should be removed.

[2018-06-06 17:41] jvillalobos commented on #8453
I can confirm the deletion list:

Also filed https://github.com/mozilla/addons-server/issues/8455 since I just found out we link to the old FAQ from devhub.

[2018-06-06 17:58] jvillalobos commented on #7268
I think the `Reviews` permission was a copy-paste error. Doesn't seem to make sense that review moderators would be the ones banning accounts. I changed it to `Users:Edit`, like you pointed out.

I don't think we need anonymizing anymore. Banning and deleting should cover all use cases we need.

It should delete add-ons if the user being deleted is the only one associated with them.

[2018-06-06 18:13] diox opened #8456 "Deploy static files using a hash approach"
AMO predates the introduction of staticfiles in django and as such addons-server handling of static files has always been a bit... clunky.

A while ago addons-server was modified to properly separate media and static files, and make use of `collectstatic`. However, we're still not using staticfiles to the fullest and instead our cachebusting strategy entirely depends on `jingo_minify` on addons-se

[2018-06-06 19:00] eviljeff commented on #8412
I'm wary about doing this until mozilla/addons-frontend#5174 is resolved (either as wontfix or otherwise).

[2018-06-07 05:12] EnTeQuAk opened #8460 "Remove template fragment caching"
As part of #7743, splitted off to make review easier.

[2018-06-07 05:38] EnTeQuAk opened #8462 "Merge cache_nuggets and lib.cache"
As part of #7743, splitted off to make review easier.

This will create one central point for cache-helpers in addons-server.

[2018-06-07 05:42] EnTeQuAk commented on #7743
Updated the issue description with what's left todo once #8460 and #8462 are done.

[2018-06-07 06:00] EnTeQuAk commented on #8454
Shame on me… I should have thought of that when I deprecated node 6 on addons-linter. Luckily it still works but I'm glad we're doing this. Thanks for taking care of this!

[2018-06-07 08:43] iamkhush commented on #8166
@EnTeQuAk sure. I will take a look at it.
@AlexandraMoga I checked it on firefox and chrome . Which browser is this screenshot from?

[2018-06-07 09:07] AlexandraMoga commented on #8166
@iamkhush the screenshot is taken from FF 60.0.1, and I have the same view in Chrome.

[2018-06-07 11:36] eviljeff commented on #8166
From a bit of debugging I _think_ it's just due to the difference in length of text between "Created" and "Last Updated" - 76% is enough to allow the text in the `.DevHub-MyAddons-item-modified` span to not line wrap; because "Last Updated" is slightly longer it does wrap.

I can't establish why @iamkhush is seeing "Created" instead of "Last Updated" dates, but it's a side effect - and non-English

[2018-06-07 12:09] diox commented on #8436
Does that mean we should go back further in the past than just 6 weeks? Use the whole history?

[2018-06-07 12:11] AlexandraMoga commented on #8377
Verified fixed on AMO -dev with FF60, Win10x64. The 'about:addons' notification is returned only once.

![image](https://user-images.githubusercontent.com/31961530/41098468-21311ff8-6a64-11e8-9281-24789102e410.png)

[2018-06-07 14:16] spoji commented on #8220
Added notes from today's conversation on #amo :

I've received a HTTP 400 error for CardBoook via https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/980734...976451/ done at 2018-06-07 @ 10:10AM EDT

Note that the dev just updated the new version on AMO a few minutes ago. I've just received an email that a new version is available for review.

[2018-06-07 17:00] gabru-md commented on #8455
Hi, I have never contributed to Mozilla. I would like to solve this issue and contribute to the community.
@jvillalobos can I be assigned to this issue? :smiley:

[2018-06-07 17:33] jvillalobos commented on #8455
@gabru-md sure, go for it. I think [this is the file](https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/new-landing/components/footer.html) you'll want to change.

Mentor: @eviljeff  :D

[2018-06-08 02:02] deepanshu-jain1999 commented on #7783
#8463 Fix issue #7783

[2018-06-08 05:40] #8455 closed

[2018-06-08 05:55] EnTeQuAk commented on #8421
For the gateway timeouts (there's 17 more):

[code]

For request timeouts:

[code]

Rate limit reached:

[code]

And general request-timeout:

[code]

[2018-06-08 06:08] EnTeQuAk commented on #3745
@jvillalobos can this be part of https://github.com/mozilla/addons-server/issues/7825 or maybe something we can target once we disable support for legacy add-ons fully? Not sure it's worth doing this now.

[2018-06-08 06:19] EnTeQuAk commented on #7088
@diox or @eviljeff I may need a bit of a history lesson here… looking at https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/cron.py#L230-L259 we never calculated the `hotness` for personas which seems to be the problem we are hitting here.

Can we simply do that? Or should we expose a different value for themes here?

[2018-06-08 07:32] EnTeQuAk commented on #8426
I put this into the Q3 reviewer tools improvement project.

[2018-06-08 07:38] EnTeQuAk commented on #7332
Sorry, it's still unclear to me what's actually expected here. If an add-on only has an arabic title, we show that, but that's not the problem we're talking about here right? :thinking:

[2018-06-08 07:42] EnTeQuAk opened #8475 "Correct update-counts database indices"
* Drop addon_id index, not needed anymore
* Drop count index, should not be used (and is relatively useless imho)
* Drop addon_and_count (addon_id,count)
* Drop addon_date_idx (addon_id,date)
* Add (date, addon_id) index

Part of #5712

[2018-06-08 08:30] #8437 closed

[2018-06-08 08:54] eviljeff commented on #7088
Yeah, in the legacy frontend for the `up-and-coming` sort/section we use `Persona.movers` for LWT, and `hotness` for Addons - the API only looks at `hotness` only.  (tbh I noticed this while investigating stats migration for LWT and forgot to file an issue about it).

We _could_ calculate `hotness` for LWT too - though it doesn't use `UpdateCount` so it'd need some tinkering - but just switching t

[2018-06-08 09:03] eviljeff commented on #7332
The title is supposed to be  "Content Review `addon.name` `addon.version` (Listed)" but with Arabic (and other RTL locales, I guess) it ends up being rendered as "Content Review `addon.version` `addon.name` (Listed)" which reads strangely.  In the template "Content Review `addon.name`" and `addon.version` are two separate spans but due to the joy of l10n and mixing rtl and ltr on the same line the

[2018-06-08 09:04] #7783 closed

[2018-06-08 10:05] AlexandraMoga commented on #8455
Verified fixed on AMO-dev with FF60, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/41152544-95821e58-6b1c-11e8-8fa6-51fe33bae8fe.png)

[2018-06-08 10:10] diox commented on #8344
We also want a script that removes all add-ons not compatible with either Firefox or Firefox for Android from the site.

[2018-06-08 10:21] eviljeff commented on #8344
That script can be a separate issue.

[2018-06-08 10:28] wagnerand commented on #8436
Could we go back 30 weeks? (which means a max of 50 points)

[2018-06-08 10:29] wagnerand commented on #8426
Thanks!

[2018-06-08 10:41] diox commented on #8436
We can try, yes. Right now I have no idea what the query will look like :)

[2018-06-08 11:04] eviljeff commented on #3360
I think we can just dupe this to #5981 - the obsolete categories will go away when we drop the `Category` model

[2018-06-08 11:04] #3360 closed

[2018-06-08 11:30] eviljeff commented on #5829
blocked by mozilla-services/cloudops-deployment#1404 pretty much

[2018-06-08 11:38] diox opened #8476 "Disable or delete add-ons not compatible with Firefox or Firefox for Android"
In https://github.com/mozilla/addons-server/issues/8344 we want to reject submissions of add-ons not compatible with Firefox or Firefox for Android. We also need to take care of the existing ones, disabling or deleting them.

Among these, those compatible with Thunderbird or Seamonkey will show up on addons.thunderbird.net, which will run a copy of our database, having done the same thing in rever

[2018-06-08 11:38] diox commented on #8344
Filed https://github.com/mozilla/addons-server/issues/8476

[2018-06-08 11:40] diox commented on #8476
Could almost be a migration but we probably want more control over when to fire it, so it needs to be a management command.

It's essentially just a matter of doing:
`Addon.objects.public().exclude(appsupport__app__in=(amo.FIREFOX.id, amo.ANDROID.id)).delete()`

(The question is, do we want to delete them permanently, soft-delete them, or just disable them)

[2018-06-08 11:53] eviljeff commented on #8476
IMO, soft-delete for now.  We can actually delete later once we know everything is okay (perhaps with the legacy bonfire of the addons).

[2018-06-08 12:03] eviljeff opened #8477 "drop the unnessecary api url name prefixes for default version"
When I added namespacing to the API I was a little overcautious - you have to explicitly specify the API version in all url names.  So `addon-detail` had to be `v4:addon-detail` even when `v4` is the default.  Not only is this extra cruft, it means that when we have a `api/v5/` and that becomes the default we need to do it all over again.  Instead lets go back to just `addon-detail` for the defaul

[2018-06-08 12:06] eviljeff commented on #8344
We'll also need to stop developers from being able to add those applications via devub edit version

[2018-06-08 13:02] pmac commented on #8421
Very strange. Can you tell me what kinds of requests these are? Are they mostly looking up user info (`/news/lookup-user/`) or subscribing to newsletters (`/news/subscribe/`)? I'll increase the subscription rate-limit.

[2018-06-08 13:02] pmac commented on #8421
/cc @jgmize @metadave

[2018-06-08 13:08] bobsilverberg opened #8479 "Do not allow administrators to maintain collections"
The collections API currently gives anyone with the `Collections:Edit` permission access to edit a collection, delete a collection and maintain the add-ons in a collection. As per our conversation about privileged APIs, nobody other than the owner, or a collaborator, should be able to maintain a collection via the API.

The issue of collaborators can be handled separately, but for now we should up

[2018-06-08 14:29] #8354 closed

[2018-06-08 14:39] pmac commented on #8421
I've just deployed an update to the rate-limits on basket. They are now limited to 4 requests every 5 min. This should hopefully alleviate some of the rate-limit errors for simple mistakes with the checkboxes.

[2018-06-08 14:51] EnTeQuAk opened #8480 "Make XPI extraction less error-prone, report errors better"
Looking at Kibana I see a lot of the following…

[code]

Or https://gist.github.com/EnTeQuAk/2827c1e1772edd9bdeb57e666f994a0b

Or

[code]

Or… https://amo-kibana.prod.mozaws.net/_plugin/kibana/#/doc/amo.*/amo.olympia_web.docker.addons-2018-06-08/amo.olympia_web.docker.addons/?id=AWPfQAFrWGaGEttLO_4d

[code]

All that is mildly concerning and I'm currently unsure if these are errors we forward to t

[2018-06-08 14:56] EnTeQuAk commented on #8421
Perfect, thanks! That seems to me much more reasonable.

Both, seems to happen on all the endpoints eventually. It happens more often on lookup-user but we simply call that endpoint more often so take that with a bit of salt.

prod is us-west-2, dev and stage are us-east-1.

Does that help?

[2018-06-08 15:14] #8450 closed

[2018-06-08 15:22] EnTeQuAk commented on #7088
Perfect, I'll do that! I never knew about `Personas.movers`

[2018-06-08 15:55] jvillalobos commented on #3745
Yes, it should be part of #7825. We don't want developers making compat changes on AMO in the future.

[2018-06-08 16:16] diox commented on #8344
In addition, Thunderbird and Seamonkey compatibility info needs to be hidden everywhere. In particular I think we should hide it from the applications page.

[2018-06-08 16:36] diox commented on #8476
Another query we'll want to run is `ApplicationsVersions.objects.filter(application__in=(amo.THUNDERBIRD.id, amo.SEAMONKEY.id))`. With the patch for https://github.com/mozilla/addons-server/issues/8344 active, that will ensure old compatibility information is removed (which will matter since those applications will be invalid in the form used to edit compatibility info in devhub)

[2018-06-08 16:57] #8453 closed

[2018-06-08 17:26] #8385 closed

[2018-06-08 18:04] eviljeff commented on #8479
I think we need to work out what to do about collaborators first -  one of the suggestions was to (effectively) drop a list of collaborators per collection in favour of a permission (e.g. `Collections:Edit`) so frontend could use that permission as a way of seeing if the collection could be edited and show the appropriate edit button.  So that would be the opposite change for editing (could still

[2018-06-08 18:16] eviljeff commented on #8302
@jvillalobos what would be the minimum relaxing that would be needed to have "nice" usernames?  Is allowing spaces sufficient?  We already support mixed case.

[2018-06-08 20:09] jvillalobos commented on #8302
Looking at the [top display names](https://sql.telemetry.mozilla.org/queries/54942/source), here's what I think we need to support (besides what's already supported + spaces).

* Punctuation (`Ipswitch, Inc.`, `Paolo "Kaosmos"`, `Justin Scott (fligtar)`, `Yahoo!`).
* Other common symbols (`Поиск@Mail.ru`, `V@no`, `Vlad & Serge Strukoff`). `+`,  `<`, `>`, `=`, `[`, `]`, `{`, `}`, also come to mind.

[2018-06-08 22:38] pwalm commented on #8412
@rebmullin yep, fine by me. Do you need new assets?

[2018-06-09 14:42] davidhedlund opened #8486 "Add-ons for all platforms listed under "Other users with this extension also installed""
### Describe the problem and steps to reproduce it:
Visited https://addons.mozilla.org/en-US/firefox/addon/trackmenot/ with the binary release of Firefox ESR 60.0.2 (64-bit) for GNU/Linux.

### What happened?
The "Other users with this extension also installed" section lists the add-on ([Steganos Privacy Suite](https://addons.mozilla.org/en-US/firefox/addon/steganos-privacy-suite/)) that are avail

[2018-06-09 16:11] diox commented on #8486
Steganos Privacy Suite is not a legacy add-on. It is, however, a windows-only add-on for some reason.

[2018-06-09 16:52] davidhedlund commented on #8486
@diox Sorry, you are right.

[2018-06-09 16:54] davidhedlund commented on #8486
@diox Should add-ons not available for my OS be displayed for me?

[2018-06-11 06:52] iamkhush commented on #8166
@eviljeff thanks for looking into it.
I tested with some other solution. Instead of setting width for `.DevHub-MyAddons-item-details` I set width for `.DevHub-MyAddons-item-modified` . Curently I set this up to `210px` so that the date doesnt fall off to the next line. I am not sure about other languages though. But then it seems like a tough problem to crack.
Attached screen shot in the new PR  h

[2018-06-11 07:35] AlexandraMoga commented on #7783
Verified as fixed on AMO-dev with FF60, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/41218228-0c40ccea-6d63-11e8-862f-65fb8d8bb1b8.png)

[2018-06-11 08:59] AlexandraMoga commented on #8453
After checking the above links on -dev:
- the links from the Deleted list are now returning a 404
- the first two links from the Redirect group are also on the Deleted list => they return a 404; the rest of the links are redirecting to the indicated landing pages
- the already migrated links are unchanged (open in their corresponding new frontend pages)
- the FAQ links was also removed from the fo

[2018-06-11 11:12] AlexandraMoga commented on #8437
Verified as fixed on AMO-dev with FF60, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/41228520-53f72566-6d81-11e8-8877-c780d0ebd91d.png)

[2018-06-11 11:59] AlexandraMoga commented on #7517
Verified as fixed on AMO -dev with FF60, Win10x64

![fix loc review](https://user-images.githubusercontent.com/31961530/41230231-ace9c48e-6d87-11e8-82d7-02400dee4131.gif)

The similar issue noticed when editing a collection will be filed separately.

[2018-06-11 12:01] Callek commented on #7745
@muffinresearch - Not currently, no. The qbtq here is that release automation sends to AMO, and requires signed langpacks to be returned or it blocks (or could delay) the release. This could be very very bad in a case of a chemspill, doubly so if it happens on a weekend or holiday when the AMO team cannot respond to the urgency.

I feel like we would want to prevent AMO from needing to do deploys

[2018-06-11 12:29] AlexandraMoga opened #8490 "Collection name and description display different values specific to the locale used when the fields were edited"
STR:

1. Log in to AMO -dev
2. Go to My Collections and select one of your collections to view its details page
3. Switch to a different locale
4. Edit the collection name and description
5. Switch back to the previous locale

Actual result:
The updated collection name and description are not displayed

Expected result:
Updated collection name and description should be displayed regardless of the

[2018-06-11 13:50] AlexandraMoga commented on #8144
Verified as fixed on AMO -dev with FF60, Win10x64

The rating title has been removed on the legacy site from Write a Review component and from the Reviews listing page:

[1] Add-on review
![image](https://user-images.githubusercontent.com/31961530/41235270-2041ceb8-6d97-11e8-974a-b76baaec8575.png)
[2] Theme review
![image](https://user-images.githubusercontent.com/31961530/41235292-2b21c7de-6d97-1

[2018-06-11 14:29] SVSanta opened #8491 "Installing extensions on old pages using the MMB gives a permission error"
STR:

1. Load AMO and click on the "Wiew classic desktop site" button.
2. Hover over an extension and using the middle mouse button click on the "+ Add to Firefox" button.

Expected result:
A new page is opened with the add extension popup.

Actual result:
A new page is opened with the warning "Firefox prevented this site from asking you to install software on your computer." is displayed.

Notes:

[2018-06-11 23:18] is2ei commented on #7298
@gponimansky
Thanks for your comment! I confirmed the issue can be reproduced. I will work on this issue.

[2018-06-12 10:27] AlexandraMoga commented on #8450
I've verified the new admin layout for Addon details page on AMO -dev and here are my observations:
- localized fields are present for sections that support localization i.e. name, summary, description, homepage, privacy policy etc
- the fields can be edited by admins and the changes are reflected in AMO add-on details page

localized fields
![image](https://user-images.githubusercontent.com/31961

[2018-06-12 10:41] lavish205 commented on #4658
Hi
I would like to work on this bug.

[2018-06-12 13:47] is2ei commented on #7298
Hi @muffinresearch
Could I ask you a question?
I tried to run addons server locally.
I got an error. Do I miss any instruction?
https://pastebin.mozilla.org/9087468

[2018-06-12 13:50] ioanarusiczki commented on #8385
Verified fixed on AMO dev with FF60(Win10)

dev hub landing page
![dev hub landing page](https://user-images.githubusercontent.com/33448286/41294371-96f21b52-6e60-11e8-9ebf-9f9406a91834.png)

manage my submissions page
![manage my submission page](https://user-images.githubusercontent.com/33448286/41294386-9eb79e20-6e60-11e8-8a45-4d5e1721cfc1.png)

[2018-06-12 14:42] ioanarusiczki opened #8497 "After submitting a static theme "Go to my submissions" should redirect to "My Themes" tab"
STR:
1. Load AMO dev and submit a static theme
2. Click on Go to my Submissions button after the submission is complete
3. Observe the tab displayed in Manage my submissions page

Expected result:
My Themes tab is opened with sorting option "Created" displaying the last submitted theme.

Actual result:
My Add-ons tab is displayed.

Notes:
This issue is reproducible on AMO dev with FF60(Win10).

![

[2018-06-12 20:27] eviljeff commented on #4658
@lavish205 go ahead. It's mainly deleting code.  Search for `tabzilla`

[2018-06-12 21:00] diox commented on #8450
1. I don't know how important that is, but it doesn't look like a problem with my changes, but rather a potential problem at import time.
2. Yeah, deletion of translated fields doesn't really delete anything. I prefer keeping the blank fields to help debug issues around that. You can file a new issue about the styling.

[2018-06-12 21:05] #8460 closed

[2018-06-12 21:10] EnTeQuAk opened #8498 "Replace fixtures with factory boy"
This will be more like a meta-issue to work on since this won't be easy to do in one go.

We should replace our current JSON fixtures with [factory-boy](http://factoryboy.readthedocs.io/en/latest/) and make more use of it throughout our code-base.

A good starting point could be to use factory-boy instead of our current `addon_factory` and similar factory functions.

[2018-06-12 21:11] #8367 closed

[2018-06-12 23:16] diox opened #8505 "Always let IOErrors be raised in zip file handling"
In https://github.com/mozilla/addons-server/pull/8328 and others we let more exceptions be raised by the file viewer instead of hiding them. There is one more laying around:

https://github.com/mozilla/addons-server/blob/8e17250cf42c275799b3dc331102242c9f9a3544/src/olympia/files/utils.py#L602-L606

`BadZipFile` is probably fine catching but `IOError` is not. It turns out that the only (?) place wh

[2018-06-13 05:35] AlexandraMoga commented on #8460
Could you please add STR or the label 'qa:not needed'?
Thank you

[2018-06-13 06:54] AlexandraMoga commented on #8354
I've verified the available collection sort options on AMO -dev and here are the results:
- _sort=name_ - returns the add-ons in a collection sorted by their names. Localized add-on names are also sorted according to the `lang` parameter sent in the URL:
`https://addons-dev.allizom.org/api/v3/accounts/account/AlexandraMoga1/collections/kelpie/addons/?sort=name&lang=de`
- _sort=popularity_ - due to

[2018-06-13 09:43] AlexandraMoga opened #8506 "The locale name and its corresponding field are split on different rows on Addon Admin page"
Follow up for #8450

STR:
1. Log in to AMO Admin tools
2. Go to Django Admin pages - Addons
3. Open the details of and add-on with translated fields ( see https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/495691/?_changelist_filters=type__exact%3D1%26status__exact%3D4)
4. Observe the layout of the translated fields (name, summary, description etc)

Actual result:
The locale na

[2018-06-13 10:03] AlexandraMoga commented on #8450
@diox
regarding 1. I've looked at the api response for the same add-on and it is indeed showing only 49 locales. So, this needs more investigation to see why haven't all the localization files been imported.

For the styling part, I've filed #8506

Marking this issue as verified fixed on AMO-dev with FF60, Win10x64

[2018-06-13 13:47] AlexandraMoga commented on #8367
I've checked the Addon admin pages and the `average_daily_downloads` filed is no longer displayed in the Stats section.

![image](https://user-images.githubusercontent.com/31961530/41354770-7abd63ec-6f28-11e8-9fec-ff364e623342.png)

Since this seems to be the only affected part that can be verified, I'm going to mark this issue as verified fixed on AMO -dev with FF60, Win10x64

[2018-06-13 16:27] spoji commented on #8220
More logs!

Got a 504 (took too long to respond) on ublock-origin via https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/985780...968516/

This was at 2018-06-13 9:26AM PST.

[2018-06-13 17:49] AaronLaBrie opened #8507 "Add-on submission, slug already in use"
### Describe the problem and steps to reproduce it:

Trying to submit an add-on for the first time, there's a slug conflict with an existing add-on. Changing the slug and submitting the form just resets to the (conflicting) slug and the `This slug is already in use. Please choose another.` message.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant

[2018-06-13 18:25] EnTeQuAk opened #8508 "Upgrade to ElasticSearch 6"
* Add ElasticSearch 6 to Travis
* Figure out exact ElasticSearch version

[2018-06-13 18:42] bobsilverberg opened #8509 "Create and utilize special permissions for collection collaborators"
As discussed at the all-hands, we will need a permission which indicates that a user is allowed to edit any collections owned by Mozilla, as well as a permission that indicates that a user may edit one specific Mozilla-owned collection. The front end will use these permissions to enable collection edit features for those users for the allowed collections.

[2018-06-13 19:06] EnTeQuAk opened #8510 "Increase cache timeouts for theme updates"
We are currently exposing the icons of our lightweight themes (personas) in `services/theme_update.py` both as a base64 data URL and absolute URL. That's costly.

The update data is cached for 3600 seconds (one hour). We should increase this to at least 1 day.

Also, let's investigate if we even need that data in the first place.

[2018-06-13 19:30] jvillalobos commented on #8507
There was an old entry with the same name and slug. Can you please try again?

[2018-06-13 20:32] AaronLaBrie commented on #8507
Works now, thank you!

[2018-06-13 20:32] #8507 closed

[2018-06-13 23:00] #8462 closed

[2018-06-13 23:33] diox commented on #8451
https://github.com/diox/olympia/commit/cb503be0176d0c87e9b5788a16ccdae125633d6b is a start

It gets rid of the custom logging merging thing going on inside `log_configure` currently. It fixes the issues we've seen in tests having extra logging that we don't need.

Work left to do on this:
- Make dev/stage/prod envs custom `logger_name` work again
- Fix services (they depend on `log_settings_base`,

[2018-06-14 05:46] AlexandraMoga commented on #8462
Could you please add STR or the label 'qa:not needed'?
Thanks!

[2018-06-14 08:44] AlexandraMoga opened #8516 "Some extension localizations are not imported in AMO"
STR:

1. Log in to AMO and submit and extension with a significant number of localizations (see attached .xpi)
2. After the extension is approved, compare the number of localizations imported in AMO with the number of localization files from the package

Actual result:
There are 37 localizations imported in AMO, while the package contains 56 files

Expected result:
AMO should support more locales

[2018-06-14 08:58] EnTeQuAk commented on #8516
This is interesting, I'd be more interested to see if that works
in Firefox?
Because we're using more or less all the languages that Firefox itself
is localised in and don't support anything on top of it because we're
unable to show them anyway because we can't show our own content -
strings, numbers, date/time formatting etc - in languages that neither
Django, Babel (library were using for format

[2018-06-14 09:41] EnTeQuAk opened #8517 "Implement custom resolve that resolves v3/v4 api-urls based on request"
Our future testing-plan for v3/v4 APIs is that we intend to simply run V3 tests twice and test V4 with that, with custom overwrites if needed for V4 specific changes.

We will need to implement a custom resolve-helper that uses drf_resolve and force a namespace again for v3/v4 related urls.

[2018-06-14 09:48] #8071 closed

[2018-06-14 09:51] #4658 closed

[2018-06-14 11:07] EnTeQuAk commented on #8220
We're working on a ops-side solution to this: https://bugzilla.mozilla.org/show_bug.cgi?id=1468709

[2018-06-14 11:17] EnTeQuAk commented on #8490
I'd say this is working as expected? It might not be completely obvious that you're editing the name for German only in this case so some helper-message or so might help the user being aware of this.

[2018-06-14 11:20] EnTeQuAk commented on #8460
This is hard to test explicitly but if you notice any of the legacy pages become very unresponsive or super slow, that could be related to this change. We do have monitoring on this though so I'm marking this as qa not needed for now. Just be aware that this changes performance characteristics of our legacy pages.

[2018-06-14 12:21] lavish205 commented on #8274
I would like to work on this bug. Please guide me with some initial steps.

[2018-06-14 12:32] EnTeQuAk commented on #8413
This got already fixed and merged in an attempt to split these as part of the fragment cache removal. There might be more, let's open specific issues for them.

[2018-06-14 12:32] #8413 closed

[2018-06-14 14:44] ioanarusiczki opened #8520 "Static Theme Wizard - The "Name" field from the second page of the submission should be non editable"
STR:
1. Load AMO dev and submit a static theme using the theme wizard
2. Observe that the form has a Theme Name field on both pages during submission

Expected result:
Theme name* can only be edited on the first page.

Actual result:
The name of the theme can be edited on both pages during submission.

Notes:
The second name field should not be editable because when the static theme is installed t

[2018-06-14 15:45] #8510 closed

[2018-06-14 18:02] eviljeff commented on #7908
@jvillalobos can you clarify what thumbnail size we want?  Currently we generate 200x150.  You want to increase that to 640x400?  (Is that not a little large for a thumbnail?)

[2018-06-14 19:37] jvillalobos commented on #7908
1280x800 and 640x400 are the dimensions recommended to developers by the Chrome Store. I suggest we use the same aspect ratio for the thumbnails we generate, but not necessarily the same size. We could aim for something like 320x200, which is close to the current sizes.

[2018-06-15 04:50] davidhedlund commented on #5989
Should be added to "Add-on Type" in https://addons.mozilla.org/en-US/firefox/search/
* Dictionary
* Language Pack
* Complete Theme

Is this the right issue to discuss this in or should I open a separate issue?

[2018-06-15 07:37] AlexandraMoga commented on #8071
Verified as fixed on AMO-dev with FF60, Win10x64. Logging out from a page set under /developers/ will redirect to DevHub homepage

![devhub logout](https://user-images.githubusercontent.com/31961530/41456055-0316aa36-7088-11e8-904d-7f0046c36dd4.gif)

[2018-06-15 07:48] AlexandraMoga commented on #4658
Verified as fixed on AMO -dev with FF60, Win10x64

![image](https://user-images.githubusercontent.com/31961530/41456543-754847bc-7089-11e8-8815-58a64df804d6.png)

[2018-06-15 13:35] #8166 closed

[2018-06-15 16:19] jvillalobos commented on #5989
It's a separate issue.

[2018-06-15 16:22] davidhedlund opened #8526 "Missing "Add-on Type" entries in https://addons.mozilla.org/en-US/firefox/search/"
The "Add-on Type" drop down menu in https://addons.mozilla.org/en-US/firefox/search/ should have these entries:
* Language Pack
* Dictionary
* Complete Theme

[2018-06-15 16:26] EnTeQuAk opened #8527 "Cleanup logger names"
Our current logger names are not unified and don't even have very common prefixes. They're also quite bad to search for in Kibana, e.g "accounts" etc.

Current loggers that we have

 * accounts
 * accounts.sqs
 * accounts.verify
 * adi.downloadcounts
 * adi.themepopularitymovers
 * adi.themeupdatecount
 * adi.updatecounts
 * devhub
 * mkt.purchase
 * signing
 * test
 * z.access
 * z.accounts
 * z.

[2018-06-15 16:28] davidhedlund commented on #8526
@diox Done: https://github.com/mozilla/addons/issues/739

[2018-06-15 16:52] EnTeQuAk opened #8529 "Backport cache.get_or_set from Django 1.11"
This is a stop-gap for the cache-machine removal, part of #7743.

Let's backport `cache.get_or_set` from Django 1.11 as a replacement for our own `cached` and `cached_with` helpers.

[2018-06-15 17:39] EnTeQuAk opened #8530 "Use migrate management command instead of syncdb"
We should make use of the `migrate` management command (probably via `migrate --syncdb` or so) in preparation of us moving towards django-migrations eventually.

[2018-06-15 17:40] EnTeQuAk opened #8531 "Don't use cache-machine caching backend"
It got removed in more recent versions, let's use `django.core.cache.backends.memcached.MemcachedCache` instead.

[2018-06-15 17:42] EnTeQuAk opened #8532 "Fold jingo_minify into addons-server"
In preparation and as part of our upgrade to Django 1.11 we should fold jingo_minify into addons-server to eventually get rid of it and get more control over it.

[2018-06-15 17:44] EnTeQuAk opened #8533 "Remove our own assert3xx implementation in favor of Django's assertRedirects"
Our own `assert3xx` could simply be forwarding to `assertRedirects` and set `fetch_redirect_response` to `False` to achieve the same behaviour.

[2018-06-15 17:45] EnTeQuAk opened #8534 "Use quote_etag for etag quoting"
This is a very small change but might help to improve code-quality and makes etag-quoting a bit clearer and more correct.

[2018-06-15 17:50] EnTeQuAk opened #8535 "Refactor stats.models to make use of django-extension's JSONField"
We have our own JSONField implementation which is ugly and unnecessary to maintain.

django-extension does have a `JSONField` implementation that is compatible with ours, let's use that.

[2018-06-15 17:58] EnTeQuAk commented on #7743
This is being split up a bit, this issue will be solely focused on removing the model layer of cache-machine

[2018-06-15 17:59] EnTeQuAk commented on #5394
Closing in favor of https://github.com/mozilla/addons-server/issues/8220

[2018-06-15 17:59] #5394 closed

[2018-06-15 18:49] #8431 closed

[2018-06-15 19:07] bqbn opened #8538 "Fix slow queries caused by collections"
### Describe the problem and steps to reproduce it:
We see slow queries in database that look like these:

[code]

### What happened?
These slow queries happened during a period of time when we see spikes in datadog dashboard, such as [1] and [2]. However, there is no application logs that proves the link between the two.

[1] https://app.datadoghq.com/dash/391675/amo-prod-frontend-apis-usageperfo

[2018-06-15 20:00] MCBama opened #8539 "Permission to delete many-to-many relationship tables unable to be granted"
I've created an "instructor" Group as a staff member and granted them the permission to add/edit/delete custom user objects called 'Student' through the admin interface. Each student is assigned to a group named "student." When attempting to delete a student through the admin interface as a logged in instructor, I get a permission error stating:

[code]

I log back in as a super user and I can see

[2018-06-15 20:48] wagnerand opened #8540 "Consider adding a notice/warning to developers about Thunderbird submissions"
Following #8344, we might want to add a notice or similar to developers during submission of a version that is compatible to both Firefox and Thunderbird to let them know/remind them that Thunderbird versions need to be submitted to another site.

[2018-06-15 21:29] diox commented on #8538
Going to look if we can remove the pages using those queries right now on the legacy site.

[2018-06-15 22:35] EnTeQuAk commented on #8539
Sorry, I may be missing something but I'm a bit confused here. What does this have to do with addons-server or addons.mozilla.org?

[2018-06-15 22:48] eviljeff commented on #7908
From discussion:
We're going to create a single max 1280x800 preview, and a 320x200 thumbnail.

Frontend will initially consume this 1280x800 preview and display at full size (or whatever fits on screen) but will also look at using `srcset` to use other sizes - and addons-server will return other sizes when we know what we need.

[2018-06-15 23:13] eviljeff commented on #7908
Discussion with @willdurand ^ (need link to srcset issue)

[2018-06-15 23:20] willdurand commented on #7908
strict? or max size? 😋

[2018-06-16 07:22] mozillawhyjustwhy opened #8543 "Since when you block user for no reason?"
### Describe the problem and steps to reproduce it:
See https://github.com/mozilla/addons-frontend/issues/5294

### What happened?
See https://github.com/mozilla/addons-frontend/issues/5294

### What did you expect to happen?
Login

### Anything else we should know?
Title said it all.

[2018-06-16 07:47] #8543 closed

[2018-06-17 04:15] MCBama commented on #8539
Hrm. Interesting. Somehow I went to django issues and followed a link here...Misplaced issue. Sorry I didn't notice.

[2018-06-17 04:15] #8539 closed

[2018-06-17 04:52] eviljeff commented on #8477
closing in favour of #8517

[2018-06-17 04:52] #8477 closed

[2018-06-17 05:01] eviljeff commented on #8412
@rebmullin if I'm remembering the outcome of the meeting in SF correctly, we are going ahead with your size changes in the issue description and the thumbnail will be used for the search results only.

The shelves (i.e. the boxes that currently contain 4 short images) will change to use the main preview size, but scaled down so they're not cropped (and display 3 on a line).  Have I got all that co

[2018-06-17 22:38] davidhedlund opened #8545 "Apache License, version 2.0 is not on the add-on license list"
### Describe the problem and steps to reproduce it:
[DuckDuckGo Privacy Essentials](https://addons.mozilla.org/en-US/firefox/addon/duckduckgo-for-firefox/) is distributed under **Apache License 2.0**.

However, I cannot select "Apache License, version 2.0" for my add-on https://addons.mozilla.org/en-US/developers/addon/gtsv/ownership. These licenses are on the list:

### What did you expect to hap

[2018-06-18 04:19] nothingisdead opened #8546 "Enable CORS for /api/v4/file/ endpoints"
### Describe the problem and steps to reproduce it:
After signing an addon using the v4 API, it is impossible to download it in any environment restricted by CORS, even when sending a correct `Authorization` header.

I followed the instructions on http://addons-server.readthedocs.io/en/latest/topics/api/signing.html, and was able to sign my addon. However, when using [fetch](https://developer.mozi

[2018-06-18 04:20] erosman opened #8547 "[Reviewer Tools] Weighting Allocation Anomaly"
I have seen a few examples that could be anomalies.

Example:
https://reviewers.addons.mozilla.org/editors/review/952494/

Version 1.5 · June 5, 2018 · Approved (Confirmed) Weight: 100
Version 1.6 · June 18, 2018 · Approved Weight: 100
Version 1.7 · June 18, 2018 · Approved Weight: 13

2 versions where uploaded and the weight went from 100 to 13.

[2018-06-18 09:51] ioanarusiczki opened #8554 "Static themes are missing the description field from Add-on details"
STR:
1. Load AMO dev and go to a static theme's listed page.
2. Observe that the same text is displayed at the summary (text at the left of the Install Button and into the "Above this theme" section).
3. Go to Dev Hub - Edit information page - and try to edit the Above this theme section for the new frontend.

Expected result:
The Description field in dev hub is available in Add-on Details.

Actua

[2018-06-18 09:52] EnTeQuAk opened #8555 "Recent travis build failures (log them here, let's report them)"
An ongoing log of (random) errors that happen during our Travis runs. Let's save them here so that we're able to report them easier.

[2018-06-18 09:58] EnTeQuAk commented on #6462
This is configured now and running every Thursday, needs to be checked and improved upon.

[2018-06-18 09:58] #6462 closed

[2018-06-18 09:59] EnTeQuAk commented on #5000
We don't cache our tox environment anymore.

[2018-06-18 09:59] #5000 closed

[2018-06-18 10:01] EnTeQuAk commented on #7696
This will be fixed once https://github.com/mozilla/addons-server/issues/8454 is done.

[2018-06-18 10:01] #7696 closed

[2018-06-18 10:16] EnTeQuAk commented on #8531
Fixed in https://github.com/mozilla/addons-server/pull/8548

[2018-06-18 10:16] #8531 closed

[2018-06-18 10:36] AlexandraMoga opened #8556 "Wider images will cover the image name in the hover section on static theme review page"
STR:

1. Log in to AMO -dev
2. Open the review page for a static theme including a wider image - see https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/st-theme-zip-d
3. Observe the layout of the image hover section

Actual result:
The image name is covered by the picture preview

Expected result:
The image name should be visible also when wider pictures are used. For instance, the na

[2018-06-18 10:39] muffinresearch commented on #8540
Assigned to @jvillalobos for input.

[2018-06-18 10:45] EnTeQuAk commented on #8555
https://travis-ci.org/mozilla/addons-server/jobs/393558829 (will be restarted though)

[code]

https://github.com/mozilla/addons-server/pull/8551
[code]

[2018-06-18 10:54] eviljeff commented on #8555
https://travis-ci.org/eviljeff/olympia/jobs/393225499 (not 100% sure if Travis fail or us but can't replicate locally)
Will restart so copying to pastebin: https://pastebin.com/XppwEE8i

[2018-06-18 10:56] diox commented on #8547
If the initial weight mostly came from the size of code changes that would not be an anomaly.

[2018-06-18 10:57] #8545 closed

[2018-06-18 11:39] eviljeff commented on #8546
Did you try this before when it was the `/v3/` API?  (Trying to establish if we broke something with the recent API upgrade or if it's always been like this)

[2018-06-18 12:57] erosman commented on #8547
The point is that the last reviewed version was 1.5 weighted at 100
1.6 was compared with 1.5 and weighted at 100
1.7 was compared with ?? and weighted at 13

[2018-06-18 13:10] #8451 closed

[2018-06-18 13:10] #8530 closed

[2018-06-18 13:11] #8533 closed

[2018-06-18 13:20] nothingisdead commented on #8546
I just tried it, and I get the same result on the `/v3/` API.

[2018-06-18 13:28] diox commented on #8546
The question is, did it work before ? The introduction of the v4 API is recent, and we're trying to determine if it used to work before that.

Note that even though that does look like a bug, the signing API isn't really designed for being used in a browser. As you noted, following redirections is an issue when you have to pass authorization.

[2018-06-18 13:40] AlexandraMoga opened #8558 "Last Update date for migrated themes should not be the date of the migration"
STR:

1. Load AMO -dev
2. Open the details page of a migrated theme - https://addons-dev.allizom.org/en-US/firefox/addon/building-a-snowman/
3. Observe the Last Update date value

Actual result:
The Last Update date is the date of the migration

Expected result:
The Last Update date is the date when the theme author made the last changes

Notes:
 - reproduced on AMO -dev with FF60, Win10x64

![ima

[2018-06-18 13:46] diox commented on #8555
Also seen that
[code]

A few times. Which is weird. Could it be an issue on launchpad side?

[2018-06-18 13:51] nothingisdead commented on #8546
As far as I can tell, it has the same behavior on the `/v3/` API. Do you mean before that?

It is perhaps an odd use case... my goal is to write a serverless app and provide additional functionality via an optional WebExtension. It is a password management app, so I wanted to give users the ability to easily build and sign their own version of the extension if they choose.

If CORS was enabled, I

[2018-06-18 13:58] diox commented on #8546
I (we) mean on `/v3/` API before we introduced the `v4` API. That is, on `v3` API before May 17th.

Your use-case is a bit unusual but I agree it would work if `CORS` was working properly, so we should definitely fix it.

[2018-06-18 13:58] AlexandraMoga commented on #8451
Please add STR or the label 'qa:not needed'.
Thanks!

[2018-06-18 14:02] nothingisdead commented on #8546
Ah, sorry. That I don't know. :( Thanks for looking into this.

[2018-06-18 15:09] rebmullin commented on #8412
@eviljeff  Actually I am not sure about the 670x64 (suggested thumbnail change above) anymore b/c if we scale this down (for mobile/shelves), I think the height *could* get too short:

comparing 1 breakpoint example:
scaling down 680x92
![Alt text](https://monosnap.com/image/s4b5cDAljUbWEyCRq0BhJJvbTjgE9w.png)

scaling down 670x64
![Alt text](https://monosnap.com/image/ep7ifSCuSra9GAwiKmBwgaOQfGfo

[2018-06-18 15:43] eviljeff commented on #8554
static themes don't have a description - new frontend shouldn't display that block on the detail page (can you log an issue on addons-frontend).

[2018-06-18 16:24] nothingisdead commented on #8546
I think https://github.com/nothingisdead/addons-server/commit/bec7e6805da8776670053284922050f1af6286cf should fix this. I didn't submit a pull request because I don't have an environment set up to test the change... let me know if you want me to.

[2018-06-18 16:29] diox commented on #8546
It might work as a hack but we apply CORS globally to all views, so if it's not working we need to understand why instead of hiding the problem.

[2018-06-18 16:31] diox commented on #8546
Ah, I think I see what's happening. It's not a new issue, and I don't think this patch would fix it. The problem is that view is relying on `X-Accel-Redirect` to let nginx serve the file. Most of the headers we set are ignored as nginx is taking over and returning content on its own.

We'll see what we can do but it's unlikely to be fixed soon.

[2018-06-18 16:37] nothingisdead commented on #8546
Oh I see. That makes sense... thanks for looking at this.

[2018-06-18 16:41] jvillalobos commented on #8540
We need to message those developers once the move is done, so I think the warning is unnecessary.

[2018-06-18 16:41] #8540 closed

[2018-06-18 19:37] jrbenny35 opened #8560 "Change circleci build steps so that we can see test failures easier"
This is mainly for the ```integration-tests``` job, but right now you have to download a text file containing the job log because it can get too long. We should just split this up so that we can easily see what happens when a test fails.

[2018-06-19 06:14] EnTeQuAk commented on #8508
Slightly blocked by https://github.com/travis-ci/apt-source-whitelist/issues/379 - not a hard block though, we can get around it.

[2018-06-19 06:36] EnTeQuAk opened #8564 "Remove ipython from packages on travis"
We install IPython and ipdb by default in `dev.txt` which is fine, and should potentially be run by CircleCI UI Tests (since that's the only place where we install **everything** from scratch already).

But let's maybe try to simplify our travis installation a bit and don't install ipython / ipdb there.

[2018-06-19 07:58] AlexandraMoga opened #8565 "DevHub homepage for logged in users has layout issues in several locales"
STR:

1. Log in to AMO -dev
2. Rename one of your your add-ons by adding a longer name
3. Open DevHub homepage
4. Change your locale to  `it`

Actual result:
The add-on information is not correctly aligned to the right

Expected result:
There are no alignment issues when the locale is changed

Notes:
 - the first attempt at fixing this was made for #8166
 - other locales: `de, da, es, fr, nl` etc

[2018-06-19 08:00] AlexandraMoga commented on #8166
The wrapping issue reported is now fixed. There are still some issues with the alignment when selecting several locales but I filed #8565 to track this separately.
Verified on AMO -dev with FF60, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/41583670-dfbc52b0-73ad-11e8-9bc7-5006b9515dd9.png)

[2018-06-19 08:12] EnTeQuAk commented on #8565
I just tested this, luckily this doesn't look like a regression for regular entries.

From what I can tell, setting

[code]

seems to fix this once and for all. I'll take a look at this.

[2018-06-19 08:19] AlexandraMoga commented on #8413
@EnTeQuAk  please let me know if there is anything to test around this issue, or otherwise mark it with 'qa:not needed'
Thank you

[2018-06-19 10:35] #8538 closed

[2018-06-19 12:27] AlexandraMoga commented on #8344
Verified on AMO -dev after enabling the `disallow-thunderbird-and-seamonkey` switch

Issues:
- with the switch enabled, submission of any new webextension  will generate the "Thunderbird and SeaMonkey" compatibility error
- when submitting a legacy extension (with install.rdf) that has compatibility set for multiple applications (i.e. Firefox, Firefox for Android, Seamonkey, Thunderbird) the "Thun

[2018-06-19 12:51] diox commented on #8344
Second point is fine and expected. First and third though... That's super weird, need to fix that.

[2018-06-19 13:00] AlexandraMoga opened #8567 "Changing application from Thunderbird to Firefox doesn't route back to addons.mozilla.org"
STR:

1. Load AMO -dev homepage
2. From Other Applications switch to Thunderbird or Seamonkey
3. Observe the URL
4. Change back to Firefox
5. Observe the URL again

Actual result:
After changing back to Firefox, the user lands on https://addons.thunderbird.net/en-US/firefox/

Expected result:
After changing back to Firefox, the user lands on https://addons-dev.allizom.org/en-US/firefox/

Notes:
 -

[2018-06-19 13:23] diox commented on #8567
This is expected since https://github.com/mozilla-services/cloudops-deployment/pull/2070 hasn't been merged yet

[2018-06-19 13:30] diox commented on #8208
Going to remove one of the two warnings because it's in my way, but it's hard to fix this properly because we don't know it's a webext for sure since we're bailing early because of the invalid filename. Getting rid of legacy extensions will work around this :-)

[2018-06-19 13:52] eviljeff commented on #8555
Got the following in https://travis-ci.org/mozilla/addons-server/jobs/394103429
[code]
(going to restart the job)

[2018-06-19 13:53] #7908 closed

[2018-06-19 14:18] AlexandraMoga commented on #8510
@diox I've made a quick check around lightweight themes to make sure that everything works as before.
Is there anything more specific that could be verified?

[2018-06-19 14:54] diox commented on #8510
@AlexandraMoga check that *updates* to lightweight themes still work... with a catch: only one update per theme per day is guaranteed to work, clients might need to wait for 24 hours until the next update is served if more than one is made to the theme.

[2018-06-19 15:02] diox commented on #8567
Commit has landed.

[2018-06-19 15:02] #8567 closed

[2018-06-19 15:50] #8535 closed

[2018-06-19 16:12] #7909 closed

[2018-06-19 16:24] #8529 closed

[2018-06-19 18:33] pwalm commented on #8412
Can we scale horizontally without changing the height?

[2018-06-19 19:15] rebmullin commented on #8412
hey @pwalm This is actually what we are doing right now - scaling the width with a fixed height (which causes cropping).  We need to be able to keep the same aspect ratio - which means scaling height too - in order for this to work.  Even if we enforce a small min height I think with the different alignment issues, we will run into issues...

Im’ just thinking tho - maybe we could increase the hei

[2018-06-19 20:04] rebmullin opened #8572 "add a static theme type to disco pane on dev only"
If we can get this set up on dev we can begin some testing here

[2018-06-19 20:58] eviljeff commented on #8412
Just to be clear, what you're asking for is:

Do you really need both "Header size" and "Search listing size" when they're 10px width different?

[2018-06-19 21:33] rebmullin commented on #8412
ahh mistype! So sorry for confusion but search listing should be 760x92 (for reason discussed above about ideally not stretching images) and mobile ideally should have the same aspect ratio...so maybe about ~528x64.

height is still TBD tho (per my last comment) so this still might change a bit..

[2018-06-20 05:54] davidhedlund commented on #3936
@diox Thanks.

[2018-06-20 06:13] davidhedlund commented on #3901
@mstriemer Yes I found it in the newer API. Thanks.

[2018-06-20 06:45] AlexandraMoga commented on #8431
Verified on AMO -dev. Full validation will be mad in prod.

[2018-06-20 08:42] AlexandraMoga opened #8578 "Legacy AMO homepage menu is showing some translation issues on -dev and stage"
STR:

1. Load AMO -dev homepage - https://addons-dev.allizom.org/en-US/firefox/
2. Switch to a different locale
3. Check the Menu options beneath the Logo

Actual result:
The menu items are not translated when the locale is changed

Expected result:
The menu items are translated after the locale is changed

Notes:
- For stage, - https://addons.allizom.org/en-US/firefox/ -  the menu items seem to b

[2018-06-20 08:49] AlexandraMoga commented on #8567
@diox does your last comment imply that this issue should be fixed now? I'm still seeing the same behavior on -dev.

[2018-06-20 09:12] davidhedlund opened #8579 "tag=firefox57 in the API URL includes legacy add-on"
A legacy add-on, Tab Mix Plus, is included in the JSON results:

[2018-06-20 09:39] AlexandraMoga commented on #8510
@diox I haven't reached a limit for the number of updates allowed:
- submitted 4 updates on -dev - https://reviewers.addons-dev.allizom.org/en-US/reviewers/themes/queue/single/theme-updates-test
- submitted 3 updates on stage - https://reviewers.addons.allizom.org/en-US/reviewers/themes/queue/single/theme-updates-test

Is this a relevant result?

[2018-06-20 09:46] AlexandraMoga commented on #8535
@EnTeQuAk Please let me know if there is anything to be tested or otherwise add a 'qa:not needed' label
Thank you

[2018-06-20 10:18] diox commented on #8567
It should be, yes. The first part is working for me - I'm redirected to addons.thunderbird.net if I choose "Thunderbird" in AMO. The second part isn't, but that's a bug on addons.thunderbird.net side, not AMO. I'd file it over at https://github.com/thundernest/addons-server

[2018-06-20 10:20] diox commented on #8579
This tag is not 100% guaranteed to work, there are some known edge cases with it. We don't use it anymore, and don't link to it much, so it's wontfix.

[2018-06-20 10:20] #8579 closed

[2018-06-20 10:21] davidhedlund commented on #8579
@diox Thank you for the information. I'll remove the tag from the URL's in my code.

[2018-06-20 10:27] diox commented on #8578
@EnTeQuAk wild guess: is this caused by https://github.com/mozilla/addons-server/issues/8529 ?

[2018-06-20 10:36] diox commented on #8578
`side_nav()` was modified to use `make_key()`, but `site_nav()` didn't, so it's not taking the language into account when caching...

[2018-06-20 10:41] eviljeff commented on #8412
There are some easy-ish options here:
 - if the mobile size is the same aspect ratio as the search listing size then just use search listing size for mobile/shelves size and downscale with css.  So `preview[0].image_url` is header size ; `preview[0].thumbnail_url` is search listing size.
- have a second preview - i.e. one preview per aspect ratio - so each would have a full size and a thumbnail si

[2018-06-20 11:55] AlexandraMoga commented on #8567
The first part is working for me as well. I've refiled the issue on the Thunderbird server - https://github.com/thundernest/addons-server/issues/3

[2018-06-20 13:15] eviljeff opened #8583 "set all image sizes in recreate_previews task"
Some old previews don't have size data stored, so may as well backfill at the same time.

[2018-06-20 13:33] AlexandraMoga commented on #8538
I've checked the removed features on AMO stage:
1. Public collections, except for the Featured collections, are no longer listed [pic.1]
2. Sort options (i.e. Recently added, Most followers, Name etc) have been removed from the sidebar and the header menu [pic.1]
3. Collection feeds have been removed [pic.1]
4. Contributors part from Edit collection has been removed [pic.2]

@diox
- Users with `Co

[2018-06-20 14:19] AlexandraMoga opened #8584 "Add-on screenshot thumbnails are causing layout issues in add-on review page"
STR:

1. Log in to AMO stage
2. Access the review page of a add-on that has some screenshots included - https://reviewers.addons.allizom.org/en-US/reviewers/review/add-on-indexing-retest
3. Observe the page layout

Actual result:
The screenshot thumbnails are breaking the layout of the add-on information and the image gallery

Expected result:
The screenshot thumbnails should fit with the rest of

[2018-06-20 14:31] vcarciu commented on #7909
Verified as fixed :
![addscreenshot](https://user-images.githubusercontent.com/1583842/41665096-d326b0ba-74af-11e8-8289-66829f68f560.png)

[2018-06-20 14:55] eviljeff commented on #8555
In https://travis-ci.org/eviljeff/olympia/jobs/394562181
[code]
(will restart)

[2018-06-20 14:55] eviljeff commented on #8555
And from https://travis-ci.org/eviljeff/olympia/jobs/394562182
[code]

[2018-06-20 15:05] diox commented on #8538
Admins used to see an extra admin tab in the collection edit window. That's what I've removed.

`Collection:Contribute` not working alone is a concern. Can you file a new issue for this? It'll be easier to track down, and I think we can live with this for a week.

[2018-06-20 15:06] #8578 closed

[2018-06-20 15:07] AlexandraMoga commented on #7908
I've checked the devhub screenshot upload component on AMO stage by uploading several image types of various sizes
I haven't noticed issues at upload and the previews are generated.

I have found that the new thumbnail size is breaking the layout of add-on reviews page for which I filed #8584

I'm going to mark the issue as verified fixed on AMO stage with FF60, WIn10x64

[2018-06-20 15:27] muffinresearch opened #8586 "Detect if an upload is a dictionary and give it the correct type."
Allow upload of webextension dictionaries. In their manifest, they should have the following:
[code]

They should be recognized as dictionaries in AMO when uploaded. https://github.com/mozilla/addons-linter/issues/2055 will add dictionary-specific validation to the linter.

[2018-06-20 15:30] #8517 closed

[2018-06-20 15:30] muffinresearch opened #8587 "Migrate Dictionaries to Web Extension format"
Automatically convert all dictionaries on AMO to the new format. This can't be done until they are supported on release, and will require notifying developers as well.

[2018-06-20 15:35] muffinresearch commented on #6739
Superceded by https://github.com/orgs/mozilla/projects/24

[2018-06-20 15:35] #6739 closed

[2018-06-20 15:51] AlexandraMoga commented on #8578
Fixed on -dev

![image](https://user-images.githubusercontent.com/31961530/41669642-ee73c1fe-74ba-11e8-9305-64fae0a700b3.png)

@diox let me know when this can be verified on stage too

[2018-06-20 16:22] EnTeQuAk commented on #8516
I assign this to me to do a bit more research on this, not necessarily to fix it.

[2018-06-20 16:23] diox commented on #8547
When 1.5 was auto-approved, the size of code changes compared to the latest confirmed version was fairly high, causing a bump to 100. Same with 1.6, even though 1.5 was then confirmed, the weight stored didn't change. Finally for 1.7 the last confirmed version was 1.6 already had there wasn't a lot of code changes detected as a result, so the weight is low.

[2018-06-20 16:23] #8547 closed

[2018-06-20 16:25] EnTeQuAk commented on #8509
I see that the frontend related issue is in Q2, so I assume we should get to do this as soon as possible?

[2018-06-20 16:25] EnTeQuAk commented on #8506
@diox you worked on this, is it okay to assign this to you? I would understand if you have enough of the admin for now though :rofl:

[2018-06-20 16:43] erosman commented on #8547
@diox
That is the anomaly. Version 1.6 was NEVER confirmed.
Did you check the addon?

The point is that the last reviewed version was 1.5 weighted at 100
1.6 was compared with 1.5 and weighted at 100 **<- Not human Reviewed**
1.7 was compared with ?? and weighted at 13

If this is the case, then developer can bypass the review system easily.

[2018-06-20 17:34] pwalm commented on #8412
@rebmullin @eviljeff The latter sounds cleaner with these sizes/ratios:
- Header is 680x92
- Listing is 760x92 / 528x64

Will this solve the issue? If so, I'll provide updated images (with the reduced prominence of icons/address bar text)

[2018-06-20 18:16] rebmullin commented on #8412
@eviljeff @pwalm, It sounds like we all agree the latter/2nd option would be the best solution since it provides a mobile version and we can maybe more easily add other resolutions in the near future.

so @pwalm, I think we will have 1 more "mobilish" size -  so something like this for final sizes:

Header:  680x92 / 473/64
Listing: 760x92 / 528x64

does this look good to everyone?

[2018-06-20 19:49] pwalm commented on #8412
Fantastic. I'll whip up those new sizes this afternoon and attach them to this issue.

[2018-06-20 20:48] bobsilverberg commented on #8509
Yes please. I hope to get this in by the end of the month.

[2018-06-20 20:56] diox commented on #8506
It's really just css, and a minor issue IMHO.

[2018-06-20 20:57] diox commented on #8547
Sorry, I meant 1.5. My point still stands: it's all because of the size of code changes between the confirmed versions at the time it was auto-approved.

[2018-06-20 21:01] diox commented on #8509
I did this as part of #8538 actually. Need to double-check if everything is ready on the API side though, as I was focusing on the legacy site.

[2018-06-20 23:02] pwalm commented on #8412
Attached!
[amo static theme svgs.zip](https://github.com/mozilla/addons-server/files/2121385/amo.static.theme.svgs.zip)

[2018-06-21 05:56] EnTeQuAk opened #8593 "Fix recent circleci failures"
We are seeing regular circleci failures

[code]

something introduced them to happen regularly.

[2018-06-21 06:05] AlexandraMoga opened #8595 "'Groups' option from django admin pages shows 0 available groups"
STR:

1. Log in to AMO with an admin account
2. Access Admin Tool and go to Django admin pages
3. Click on the 'Groups' option from the tools list

Actual result:
User lands on https://addons-internal.dev.mozaws.net/en-US/admin/models/auth/group/ which shows 0 available groups

Expected result:
The user should be able to see all the user groups available

Notes:
- if I access groups from 'Manage u

[2018-06-21 06:37] AlexandraMoga opened #8596 "User with Collections:Contribute permission don't have access to 'featured-personas' collection"
Follow up for #8538

STR:

1. Log in to AMO dev with a user with `Collections:Contribute` permission
2. Access the `featured-personas` collection - https://addons-dev.allizom.org/en-US/firefox/collections/mozilla/featured-personas/

Actual result:
The user doesn't have access o the collection - an internal server error is received

Expected result:
The user has access to view and edit the collecti

[2018-06-21 06:44] AlexandraMoga commented on #8538
I understand now. Admin users don't have this extra tab any longer when editing a collection.

Filed #8596 for the permission issue.

Marking this issue as verified fixed.

[2018-06-21 06:47] AlexandraMoga commented on #8578
Fixed in stage too.

Marking issue as verified fixed.

[2018-06-21 06:47] EnTeQuAk opened #8597 "Commit product-detail json files into git"
We should start committing the product-details json files into our repository. It takes a significant amount of time to download them on every test-run, they're not necessarily needed for tests either but we can also just start adding them to our repository.

They don't change that much and django-product-details takes care of making sure to now download anything that hasn't changed.

Preferably t

[2018-06-21 06:49] EnTeQuAk commented on #8593
This broke, as I feared in e482894b025fc80f7e72a674260e92c8221d1cca

[2018-06-21 07:11] EnTeQuAk commented on #8593
https://github.com/django-extensions/django-extensions/commit/0791541788798247971a652c55a955304bd68d6d is the commit that introduced our breakage.

This is a bit confusing since I'd guess that utf-8 support is something we want?

We are also setting

[code]

… Still investigating.

[2018-06-21 07:20] EnTeQuAk commented on #8593
Indeed… by default docker-setup database get's created with `latin1`

[code]

so…

[code]

looks kinda broken to me…

[2018-06-21 07:27] EnTeQuAk commented on #8593
https://github.com/django-extensions/django-extensions/pull/1214

[2018-06-21 07:33] AlexandraMoga opened #8598 "Theme listing pages are displaying a server error on the legacy site"
STR:

1. Load AMO  Themes homepage
2. Select a theme to view its details page - i.e. https://addons-dev.allizom.org/en-US/firefox/addon/lilac-prediction/

Actual result:
An internal server error is displayed

Expected result:
Theme details page is displayed

Notes:
- reproduced on -dev and stage with FF60, WIn10x64

![image](https://user-images.githubusercontent.com/31961530/41704268-7d2b41fa-753e

[2018-06-21 07:56] EnTeQuAk commented on #8598
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/4406389/

[2018-06-21 08:33] EnTeQuAk commented on #8596
This broke in 39ddb65aefebd0a10b97f997cac2f73b7b4ba9e7 which introduced `amo.permissions.COLLECTIONS_CONTRIBUTE` in various places but never specified it in our `constants.permissions` module.

@eviljeff imho we simply need to add that permission or is there anything else we should do? I think you have a bit more context here than I do

[2018-06-21 08:35] EnTeQuAk commented on #8595
This is very low priority since it always has been like that. I do agree, if we extend our admin tools we should maybe hide these django internal apps in the model list but that's likely not going to be fixed anytime soon.

[2018-06-21 10:46] #8593 closed

[2018-06-21 10:46] #8583 closed

[2018-06-21 11:39] AlexandraMoga commented on #8510
In that case, since there were no other issues discovered, I'm going to mark this as verified fixed on AMO stage with FF60, Win10x64

[2018-06-21 12:16] diox commented on #8596
I knew I forgot something in that PR :(

[2018-06-21 12:28] #8584 closed

[2018-06-21 13:34] AlexandraMoga commented on #8584
Verified fixed on AMO -dev

![image](https://user-images.githubusercontent.com/31961530/41722344-eec6e4fe-7570-11e8-9cdf-6bfc9c1bcbdb.png)

![image](https://user-images.githubusercontent.com/31961530/41722352-f392a9dc-7570-11e8-872f-8e896b15a63d.png)

[2018-06-21 14:14] EnTeQuAk opened #8602 "Use memcached in our unittests by default"
We are using LocMemCache in our unittests, potentially for performance reasons. The problem is that we won't run into any of memcached problems, e.g a max cache-key length of 250 characters and others. (e.g https://github.com/mozilla/addons-server/issues/8598)

Let's use memcached by default.

[2018-06-21 14:22] AlexandraMoga commented on #8584
fixed on stage too

[2018-06-21 14:29] EnTeQuAk commented on #8587
How is this supposed to work regarding backward compatibility for Firefox 60 LTS? Although I'm not sure if Firefox 60 already supports this, there are parts already in the schema so maybe we're already good?

[2018-06-21 15:02] #8598 closed

[2018-06-21 15:23] #8596 closed

[2018-06-21 15:48] vcarciu commented on #8598
Verified as fixed on -dev

[2018-06-21 16:09] vcarciu commented on #8596
Verified as fixed in -dev

[2018-06-21 16:15] caitmuenster opened #8604 "Send daily summary of reviews to add-on developers"
Related to issue #6817.

When add-on developers receive email notifications about new user reviews, they want to be able to read the text of the reviews in the notification email. We should be able to provide this to them.

@jvillalobos proposed that this could be achieved by sending a daily summary of new reviews to add-on developers. I would also be interested in exploring the possibility of cre

[2018-06-21 16:16] vcarciu opened #8605 ""Oops..." page returned when accessing user profile page in legacy site"
Steps to reproduce:
1.Go to legacy AMO-dev site and login with some valid credentials
2.Go to  "My profile" page

Expected results:
Profile page is displayed without issues

Actual results:
"Oops..." page is displayed

Notes :
Not reproducible on the new AMO site

[2018-06-21 16:23] jvillalobos commented on #8604
I'm more in favor of the daily summary because:
1) Less email in general.
2) Less email to devs in case of review spamming.
3) More likely to show the "final" version of the review.
4) Easier to implement (I assume).

[2018-06-21 17:01] eviljeff commented on #8605
This was due to an add-on* that had an incorrect type (type=theme, which is a LWT, and the addon was actually an extension).  Given it's -dev I believe it was someone (with at least `Addon:Edit` permission) tinkering with the type in devhub or django admin.

I changed the type of the add-on to `extension` and the profile page worked again.

*https://addons-dev.allizom.org/firefox/addon/wharwhal-gr

[2018-06-21 17:01] #8605 closed

[2018-06-21 17:08] eviljeff commented on #7657
I'm going to fix this by [re]moving the admin only settings from devhub.  You will only be able to make those kind of breaking changes from django admin in future (where you really should know better)

[2018-06-21 17:47] rebmullin opened #8607 "Period in username might cause 404"
### Describe the problem and steps to reproduce it:

Go to [addons-dev.allizom.org/en-US/firefox/user/c.cheng
](http://addons-dev.allizom.org/en-US/firefox/user/c.cheng
)
### What happened?

Returns 404

### What did you expect to happen?

user page will appear

### Anything else we should know?

404 is on new site only, on legacy it's okay

I think this is b/c they have a period in their name, wh

[2018-06-21 18:56] alexander255 commented on #8604
Hi! I'm apparently the reason why this issue was opened.
I just wanted to comment that I think that sending daily digests instead of the current behaviour would be absolutely OK for me and the idea of making review spam less annoying (never really had this through) is probably a good one.
At least for me however, it would be quite useful if there was a seperate digest sent for each add-on, so that

[2018-06-21 19:57] #8350 closed

[2018-06-21 21:41] jvillalobos opened #8611 "API for voting for user reviews"
[Ratings PRD](https://docs.google.com/document/d/1oUz9Ng9v159IPdW4UqHhbNspWa9m5SaicAAX5jU7OjA/edit#heading=h.z6eh8thy43a6).

Logged in users should be able to vote on a user review's helpfulness, up or down, once. They can't vote for reviews they wrote, or for add-ons they have authored. They should be able to undo or change their vote.

┆Issue is synchronized with this [Jira Task](https://mozilla

[2018-06-21 21:43] jvillalobos opened #8612 "Include uselfulness score in user reviews API"
[Ratings PRD](https://docs.google.com/document/d/1oUz9Ng9v159IPdW4UqHhbNspWa9m5SaicAAX5jU7OjA/edit#heading=h.z6eh8thy43a6).

User reviews should be sorted by usefulness, which is calculated as `(positive votes - negative votes)`. The usefulness score should also be exposed in the API so it can be shown in the front-end.

[2018-06-22 05:07] EnTeQuAk opened #8617 "Use black for automatically formatting our source code"
I've been dreaming to do this on addons-server for a long time and now that black grows to a quite sophisticated tool to do proper source formatting in python projects we may as well try.

Their style guide: http://black.readthedocs.io/en/stable/the_black_code_style.html

Black is very opinionated and obliterates our current imports-style-guide to some extent. It doesn't touch the ordering there a

[2018-06-22 06:31] AlexandraMoga commented on #8431
Verified fixed in prod

[2018-06-22 09:27] ioanarusiczki opened #8618 "Re-enable button should have a darker contrast to look as being active"
STR:
1. Load AMO dev and go to the Manage Status and Versions page of an add-on from dev hub.
2. Disable a version.
3. Observe the re-enable button.

Expected result:
Re-enable is displayed as being active - the button's colour makes it obvious.

Actual result:
Re-enable looks like is not active.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF60(Win10).

![re-enable](https://us

[2018-06-22 09:43] willdurand commented on #8607
it is worth mentioning that the API returns a 404 (the frontend does not do anything special).

[2018-06-22 10:47] diox commented on #8607
We seem to have old 80k+ accounts with a period in the username. Ugh :( Most of them appear to be unused, but yeah, we should allow the API to fetch them...

[2018-06-22 10:54] diox commented on #8617
I'm not a super big fan of how black wraps long lists of things, IMHO the way it does it doesn't improve readability at all. It gets worse with long inline `if`/`else`:
[code]

That being said, having such a formatter, integrated into our editors, with a big community etc, seems like the right thing to do, so I dunno...

[2018-06-22 11:08] AlexandraMoga commented on #8593
Please add STR or the label 'qa:not needed'
Thanks

[2018-06-22 11:11] diox opened #8620 "Remove collections_users table"
The collections contributors featured was removed in 39ddb65aefebd0a10b97f997cac2f73b7b4ba9e7 and pushed to prod, we can now remove the table.

Before that, maybe add contributors to the featured theme collection to the "Featured Themes Contributors".

[2018-06-22 11:12] #8344 closed

[2018-06-22 11:12] AlexandraMoga commented on #8583
@eviljeff could you please point to something more specific that should be tested here?
Thank you

[2018-06-22 11:13] eviljeff commented on #8617
I'm not really convinced unless we can tweak the settings further.  From a look at some of the diff (it's really, really, long) it makes some changes that seem unnecessary and just increase the number of lines.
[code]
(wot?)

And seemingly _always_ expands the list of imports onto separate lines (unless the entire statement fits onto one line):
[code]

It also knowingly ignores the line length lim

[2018-06-22 11:15] AlexandraMoga commented on #8517
Could you please add STR or the label 'qa:not needed'?
Thanks

[2018-06-22 11:15] diox commented on #8509
So, the *second* part is done: if you've got `Collections:Contribute`, you can edit the Featured Themes Collection, in the API and the legacy site. The missing part is allowing edition of mozilla-owned collections by some specific users - it can not use the same permission, needs to be another one, those are not the same users.

[2018-06-22 11:16] AlexandraMoga commented on #6462
Could you please add STR or the label 'qa:not needed'?
Thank you

[2018-06-22 11:19] eviljeff commented on #8617
Fwiw, I can see how in some cases it _could_ simplify code review, but those cases are infrequent from my recollection.  For on-boarding contributors I don't see the argument it's an improvement: it's at best a neutral change to different arbitrary rules, and at worse adding extra counter-intuitive rules that they won't discover until Travis spits out a list of errors.

[2018-06-22 11:45] AlexandraMoga commented on #7595
It seems that I forgot to add a very important aspect. This will reproduce only when deleting a static theme, either from My Themes list or from Manage status and versions page.
Re-named and relabeled the issue appropriately.

[2018-06-22 12:07] diox commented on #8509
Maybe the permission to edit mozilla-owned collections should just be `ADMIN_CURATION` ? That's the one used for, well, the curation tools.

[2018-06-22 12:31] wagnerand opened #8622 "Invalid link in all versions page throws 500"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/4410846/

[2018-06-22 13:12] eviljeff commented on #8607
#8302 will make this obsolete (though will be more work than fixing whatever small bug is preventing this - probably just a regex somewhere)

[2018-06-22 13:14] eviljeff commented on #8607
btw, during investigation for #8302 I'm pretty sure `.` is prevented even on the legacy account profile edit page so I guess these are super old accounts?

[2018-06-22 13:46] vcarciu commented on #8350
@EnTeQuAk  : can you please add some STRs to this issue or mark it as "qa: not needed" ?

[2018-06-22 14:06] AlexandraMoga commented on #8344
Verified fixed on AMO -dev with FF60, Win10x64 with the `disallow-thunderbird-and-seamonkey` switch enabled:
- add-on compatible only with Thunderbird and Seamonkey will generate the appropriate error at validation [1]
- the applications section from Manage status and version page is restricted to maximum two applications - Firefox or Firefox for Android [2],[3]
- Thunderbird and Seamonkey compati

[2018-06-22 14:09] ioanarusiczki commented on #8554
@eviljeff Done https://github.com/mozilla/addons-frontend/issues/5364

[2018-06-22 15:21] wagnerand commented on #8436
@diox To make it easier, let's change the abuse reports rule to:

Each abuse report in the past 6 weeks: 15 points

[2018-06-22 15:22] jvillalobos commented on #8604
Agree. Doing a multi-add-on digest could be confusing and bloated for some devs.

[2018-06-22 15:34] EnTeQuAk commented on #8617
For what it's worth, I actually love it and that has been my way of formatting things since 2007 … well, until 2015 :rofl:

That's currently not really possible and they're quite opinionated in that regard. That said, I'm sure they accept contributions. I tried yapf as an alternative to find something that matches more our code-style but it has quite a few problems that didn't work for us. As an e

[2018-06-22 15:40] jvillalobos commented on #8607
The most recent modified date for those accounts is `2016-09-04`. The last login date shows many of those accounts are still active, though.

[2018-06-22 16:20] EnTeQuAk commented on #8272
Given that this is the last open issue in our "legacy frontend" label and that we'll eventually end up implementing this in the new frontend I don't think it's worth fixing any edge-cases anymore.

I'm closing this. If anyone objects to it, by all means, please re-open. I also don't think contributions make much sense here.

[2018-06-22 16:20] #8272 closed

[2018-06-22 16:22] EnTeQuAk commented on #6741
This seems to be related to some wrong versions of dependencies, specifically django-extensions. Can you make sure you're running `make update_deps` to fix this?

I'm also closing this, given that the celery startup got fixed a long time ago. If there are any further issues, please step by `#amo` in IRC or open a new issue.

[2018-06-22 16:22] #6741 closed

[2018-06-22 16:23] eviljeff commented on #8583
We just ran the `recreate_previews` task on -dev.  There's probably not much to check but all addon API responses should have a list of two values in `previews[ ].image_size` now.  E.g. https://addons-dev.allizom.org/api/v3/addons/addon/cam/ but with all addons.

[2018-06-22 16:28] caitmuenster opened #8626 "Remove survey link from AMO new submission email"
We are getting ready to close out the extension developer survey. Let's remove CTA to take the survey from the AMO new submission email.

[2018-06-22 16:39] EnTeQuAk commented on #6112
User profile editing and deletion is now implemented in the new frontend. Closing.

[2018-06-22 16:39] #6112 closed

[2018-06-22 16:41] EnTeQuAk commented on #6810
Moved to the frontend - https://github.com/mozilla/addons-frontend/issues/5369

[2018-06-22 16:41] #6810 closed

[2018-06-22 16:43] EnTeQuAk commented on #3212
@jrbenny35 I wonder if we can close this and add these classes along new tests where they're needed?

[2018-06-22 16:45] EnTeQuAk commented on #6452
I'll get something going here, I looked at the whole process how FxA worked a few weeks ago when working on our locust.io tests.

[2018-06-22 16:59] eviljeff commented on #8527
I'm not sure we need that much functionality, but it _would_ be consistent if we changed everywhere to use `@logged` instead of importing `get_logger`.

[2018-06-22 17:16] eviljeff commented on #8558
yeah, I'm going to wait until after #8405 is fixed (and maybe #8412)

[2018-06-22 17:51] jvillalobos opened #8629 "Restrict use of "dynamic theme" tag"
We're going to use the ["dynamic theme" tag](https://addons.mozilla.org/en-US/firefox/tag/dynamic%20theme) to keep track of dynamic themes on AMO. We need to make it so developers can't change it on their own (I believe we have done this for tags like "jetpack" and "firefox57").

The add-ons currently under that tag all seem to belong there, so they wouldn't need to be removed from it.

[2018-06-22 17:52] jvillalobos opened #8630 "Tag all submitted dynamic themes using the "dynamic theme" tag"
All submitted dynamic themes (extensions that use the `theme` permission) need to be tagged as "dynamic theme".

[2018-06-22 17:53] jvillalobos opened #8631 "Tag all existing dynamic themes using the "dynamic theme" tag"
All dynamic themes currently on AMO should be tagged as "dynamic theme".

[2018-06-22 18:01] caitmuenster opened #8632 "Update Dev Hub - signed in view"
Here are the changes for our regularly scheduled Dev Hub (signed in view) programming updates:

**Current view:**
![2018 06 22 dev hub - signed in](https://user-images.githubusercontent.com/23342476/41791719-74e1872a-760b-11e8-9a27-e08701cf687e.png)

**Updates:**
- Remove content from the left hand column
- Move content from the right hand column to the left hand column
- Add new content to right

[2018-06-22 18:11] caitmuenster opened #8633 "Update Dev Hub - signed out view"
Here are the changes for our regularly scheduled Dev Hub (signed out view) updates.

**Current view:**
![2018 06 22 dev hub - signed out](https://user-images.githubusercontent.com/23342476/41792099-8f60bf3e-760c-11e8-90ef-030e6abb6152.png)

**Updates**
Remove all text from "Help us improve the developer experience" box.

Replace with:

- Headline: Resources for a successful launch
- Copy: You’ve b

[2018-06-22 19:53] championshuttler commented on #8597
Hi @EnTeQuAk I am interested in solving this bug.
should we remove the product json files from.gitignore so that they will commit into git.
https://github.com/mozilla/addons-server/blob/master/.gitignore#L12-L18

[2018-06-25 05:34] EnTeQuAk commented on #8597
should we remove the product json files from.gitignore so that they will commit into git.
/.gitignore@master#L12-L18

Maybe, if that's alright for you I'd rather do that myself because I need to test a few things I'm not yet certain of. Especially how to handle changing data, e.g is there a good way to automate this etc. Please have a look at a few other issues and we're happy to help there!

[2018-06-25 09:11] AlexandraMoga commented on #3493
I've had a look in the API docs and the information regarding the use of '_secret_' has been added.
The link to jwt.io debugger is working and the user can verify the token by clicking the link and following the verification instruction.

However, the JWT example desplayed in the docs is still not updated, meaning that if I copy/paste the example token in the debugger, I'm still seeing the 'Invali

[2018-06-25 09:38] eviljeff commented on #8554
Apparently static themes _do_ have a description now.

[2018-06-25 10:05] #7657 closed

[2018-06-25 10:24] AlexandraMoga commented on #8583
I've compared the image data returned for several older add-ons and noticed that on stage there are cases with `'image_size'` not being stored while on -dev this situation is not occurring anymore (with the samples I've tested with, at least)

**stage** - missing image size
https://addons.allizom.org/api/v3/addons/addon/image-block/
https://addons.allizom.org/api/v3/addons/addon/download-statusbar

[2018-06-25 10:30] eviljeff commented on #8583
👍 we'll run on stage after the tag.

[2018-06-25 10:46] eviljeff opened #8640 "Drop `dev_agreement` from Addon model"
`Addon.dev_agreement` is unused. The actual property checked is `read_dev_agreement`, on `UserProfile`  instead.  We should delete `dev_agreement` from Addon.

Afaik it's only referenced in `addons/admin.py` and some fixtures.

[2018-06-25 10:53] #8564 closed

[2018-06-25 11:00] #8274 closed

[2018-06-25 11:31] #8476 closed

[2018-06-25 11:34] #8620 closed

[2018-06-25 11:46] ioanarusiczki commented on #7956
@willdurand https://github.com/mozilla/addons-frontend/issues/5388

[2018-06-25 11:46] #7956 closed

[2018-06-25 12:12] AlexandraMoga commented on #8564
Please add a "qa:not needed" label to this issue.
Thanks

[2018-06-25 12:22] vcarciu opened #8642 "Different URLs for "Manage firefox account" links in legacy and new frontend."
Steps to reproduce:
1.Login to AMO-dev
2.From Edit Profile, click the "Manage firefox account" link from both new frontend and legacy frontend
3.Observe the URLs

Expected results:
URLs are the same

Actual results:
Links are different (https://accounts.firefox.com/settings for new frontend, https://stable.dev.lcip.org/settings for legacy frontend)

Please see a photo of this bug :
![fxa](https://

[2018-06-25 12:28] #8436 closed

[2018-06-25 12:28] vcarciu commented on #8274
Can you please add "qa: not needed" for this issue?

[2018-06-25 12:45] vcarciu commented on #8642
I think that this should be logged under frontend. Moving and closing this one.

[2018-06-25 12:45] #8642 closed

[2018-06-25 12:53] sam-malanchuk opened #8643 "Self-Signed Add-on not availible in Firefox Quantum"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
I self-sign published an add-on and it is displaying the "Not compatible with Firefox Quantum" error. You can view it at: [https://addons.mozilla.org/en-US/firefox/addon/1932612822a14a4ba6cc/](https://addons.mozilla.org/en-US/firefox/addon/1932612822a14a4ba6cc/)
### What happened?
The add-on was creat

[2018-06-25 13:08] diox commented on #8643
Because this add-on only has self-hosted (unlisted) versions, it should not have a public listing page. The fact that it has is a bug, it's only available to you because you're the author.

To install it, you need to download it from devhub instead.

[2018-06-25 13:30] EnTeQuAk opened #8644 "Unify @write and @use_master into one @use_primary_db decorator"
We have a `@write` and `@use_master` decorator which do basically the same.

Let's unify them and name that resulting decorator `@use_primary_db` or `@use_master_db` to be explicit.

[2018-06-25 14:04] mraza007 commented on #8633
Oh okay that's fine maybe I can find something else @EnTeQuAk

[2018-06-25 14:48] AlexandraMoga opened #8645 "Seamonkey and Thunderbird add-ons are not hidden in search suggestions on AMO"
STR:

1. Load AMO -dev legacy site
2. Search for an add-on that has only Thunderbird and Seamonkey compatibility - i.e. Lightning
3. Observe the search results

Actual result:
Thunderbird and Seamonkey add-ons are listed in search suggestions

Expected result:
Thunderbird and Seamonkey add-ons are hidden from search suggestions

Notes:
- follow up for #8476
- reproduced on AMO-dev with FF60, Win10