[2017-03-21 10:24] #3715 closed

[2017-03-21 10:26] eviljeff commented on #3752
link shouldn't be shown for unapproved themes

[2017-03-21 10:27] ValentinaPC commented on #3639
Yeah :) Fixing it is our common goal.

[2017-03-21 10:30] EnTeQuAk commented on #3769
Maybe the problem here was that the add-on really has not been reviewed yet? Can't reproduce anymore since the add-on is not accessible anymore.

[2017-03-21 10:30] #3769 closed

[2017-03-21 10:31] eviljeff commented on #3775
this isn't an addons website bug.

[2017-03-21 10:31] #3775 closed

[2017-03-21 10:32] EnTeQuAk commented on #3776
Closing because of that and because it's now unrelated to AMO.

[2017-03-21 10:32] #3776 closed

[2017-03-21 10:33] EnTeQuAk commented on #3809
Closing as wontfix since all that is or at least will be reimplemented by addons-frontend

[2017-03-21 10:33] #3809 closed

[2017-03-21 10:39] EnTeQuAk commented on #3869
Closing because that's an edge-case that is only valid for the case that you are replying to your own review and it's going to be reimplemented in addons-frontend anyway.

[2017-03-21 10:39] #3869 closed

[2017-03-21 10:45] eviljeff commented on #3872
Looks like the review that was linked in the activity log was subsequently deleted so it didn't exist any more.

[2017-03-21 10:45] #3872 closed

[2017-03-21 10:45] wagnerand commented on #4981
PR updated.

[2017-03-21 10:46] ValentinaPC commented on #3769
Issue is still reproducing. Verified this on AMO-dev FF52(Win 7).
Another example: https://addons-dev.allizom.org/en-US/firefox/addon/genscript-test/
Yes, the add-on is not reviewed.

After approving it will delete the "Works with Firefox" banner.

If you think the behavior is ok, I can live with this also.

[2017-03-21 10:48] eviljeff commented on #3879
double label is double-plus-good 😆

[2017-03-21 10:48] #3879 closed

[2017-03-21 10:49] EnTeQuAk commented on #3877
It's not currently important or blocking, also it doesn't destroy any actual data so it'd be nice to fix.

[2017-03-21 10:52] ValentinaPC commented on #3715
I am still able to reproduce this on clean profile using AMO-dev FF52(Win 7)
Please see screenshot:
![dev](https://cloud.githubusercontent.com/assets/15685960/24144140/d8b6356a-0e34-11e7-946c-1fce9172cab3.png)

Note reproducing on production.

[2017-03-21 10:55] EnTeQuAk commented on #3965
That will be reimplemented in addons-frontend sooner or later so let's close it here.

[2017-03-21 10:55] #3965 closed

[2017-03-21 10:56] eviljeff commented on #3998
this form has been removed so I think it's fixed... please re-open/re-file if it's still reproducible.

[2017-03-21 10:56] #3998 closed

[2017-03-21 11:00] diox commented on #4031
Wontfixing because it's a minor issue in admin tools (plus https://github.com/mozilla/addons-server/issues/4031#issuecomment-262485133)

[2017-03-21 11:00] #4031 closed

[2017-03-21 11:02] diox commented on #4056
Minor issue that will be fixed in addons-frontend when it implements desktop.

[2017-03-21 11:02] #4056 closed

[2017-03-21 11:03] diox commented on #4058
Minor issue that will be fixed in addons-frontend when it implements desktop.

[2017-03-21 11:03] #4058 closed

[2017-03-21 11:04] ValentinaPC commented on #4903
The "nativeMessaging" permission is listed as expected in AMO-dev FF52(Win 7).
Postfix screenshot:
![firefox](https://cloud.githubusercontent.com/assets/15685960/24144670/c98aa04c-0e36-11e7-9dc4-2afe6b3dcda0.png)

[2017-03-21 11:05] diox commented on #4060
@shell15 End of January was a couple months ago, is this issue still necessary? Did we end up sending that mail by another method ?

[2017-03-21 11:09] EnTeQuAk commented on #4080
This should have been by #4095 when we dropped our (partially broken) uniqueness checks for add-on names.

[2017-03-21 11:09] #4080 closed

[2017-03-21 11:11] diox commented on #4110
Let's kill it or re-implement it cleanly in addons-frontend.

[2017-03-21 11:14] diox commented on #4148
@EnTeQuAk says it's a dupe of another fileviewer bug.

[2017-03-21 11:16] vcarciu commented on #3998
Yeah , this is now fixed :
![leastoneplatform](https://cloud.githubusercontent.com/assets/1583842/24145140/8d54dfdc-0e38-11e7-93dd-457194b9e95b.png)

[2017-03-21 11:17] wagnerand commented on #4148
Can we link to the other fileviewer bug, then?

[2017-03-21 11:25] diox commented on #4396
Not an addons-server bug, might be a bug in addons-frontend or platform, please re-open in addons-frontend for investigation.

[2017-03-21 11:25] #4396 closed

[2017-03-21 11:31] diox commented on #4511
We'll see what we can do about it in #4974

[2017-03-21 11:31] #4511 closed

[2017-03-21 11:33] EnTeQuAk commented on #4531
Is there any update on this that needs or can be implemented by us?

[2017-03-21 11:34] diox commented on #4551
Unlikely to be fixed before addons-frontend re-implement desktop.

[2017-03-21 11:34] #4551 closed

[2017-03-21 11:37] diox commented on #4555
@elfne could you provide the manifest of the add-on causing the problem so we can reproduce the bug again and fix it ?

[2017-03-21 11:39] eviljeff commented on #4557
@jvillalobos for comment because these screens are exactly as you and ux designed.

[2017-03-21 11:43] EnTeQuAk commented on #4565
@jasonthomas what certificates are used on -stage, is this bug maybe related to that? Doesn't sound too AMO related to me though but I'm not sure.

[2017-03-21 11:46] EnTeQuAk commented on #4572
This can and should be fixed by addons-frontend once it implements this feature. Given that the language selector is super old and messy, let's not touch it.

[2017-03-21 11:46] #4572 closed

[2017-03-21 11:49] EnTeQuAk commented on #4582
This is because of caching and eventually that number will be correct.

[2017-03-21 11:49] #4582 closed

[2017-03-21 12:08] diox commented on #4650
Will be fixed in addons-frontend re-implementation of desktop.

[2017-03-21 12:08] #4650 closed

[2017-03-21 12:09] diox commented on #4824
It's working fine for us. Can you retry and provide the add-on causing the issue ?

[2017-03-21 12:13] ValentinaPC commented on #4396
Logged: https://github.com/mozilla/addons-frontend/issues/2116

[2017-03-21 12:54] EnTeQuAk commented on #4685
I think that's the ideal or at least planned behavior. The compare automatically compares the currently listed version with the one you're reviewing. So, if a version update get's rejected or just another update happens while a version is in review you end up "ignoring" that version-update and I think that's alright since you'd miss some context otherwise because imho you want to see the diff from

[2017-03-21 12:54] #4685 closed

[2017-03-21 12:57] diox commented on #4716
Which URLs are you talking about ? Trailing slash should matter in most of our API URLs, it's part of the URL.

[2017-03-21 13:04] diox commented on #4729
See also https://github.com/mozilla/addons-server/issues/4149

[2017-03-21 13:08] diox commented on #4736
Broken javascript that @eviljeff says he almost fixed but didn't :) The javascript that is responsible for the checkbox uses an overzealous CSS selector and ends up affecting all the checkboxes instead of only the ones for desktop.

[2017-03-21 13:12] diox commented on #4745
@madalincm can you still reproduce ? can you link the affected add-on ?

[2017-03-21 13:15] diox commented on #4750
We can't reproduce any more so I suspect it's yet another manifestation of (a variant of) mozilla/addons/issues/324 ; the old file you were comparing to was disabled, the path to the file should have changed but that wasn't done by the time you were looking at the version.

[2017-03-21 13:15] #4750 closed

[2017-03-21 13:16] diox commented on #4751
In the corresponding template, we should be using `name` instead of `display_name` so that it falls back to `username` correctly.

[2017-03-21 13:16] eviljeff commented on #4754
closing in favour of #4760

[2017-03-21 13:16] #4754 closed

[2017-03-21 13:17] wagnerand commented on #4751
I think we should be using `display_name` generally but fall back to `name` if `display_name` is empty.

[2017-03-21 13:23] eviljeff commented on #4753
I can't reproduce this on -dev - are there particular themes that are affected?

[2017-03-21 13:26] diox commented on #4757
Agreed, that's the way to fix this, find the template the change the link.

[2017-03-21 13:37] diox commented on #4791
Mobile site has been migrated to a new one, so this is no longer valid.

[2017-03-21 13:39] erosman commented on #4685
I am not sure I understand what you are saying.

The compare tool, sould compare the latest upload with the last approved vesion.

Example:
v1.4 Approved
v1.5 Approved
v1.6 Approved
v1.7 Unapproved
v1.8 Current Upload

Instead of comparing v1.8 with v1.6, sometimes it compares v1.8 with v1.5 (auto select the compare versions)

Is that planned behaviour?!!

[2017-03-21 13:42] EnTeQuAk commented on #4818
I think that's a good idea, showing that information explicitly is probably more clear.

[2017-03-21 13:43] diox commented on #4821
We won't get to fix that issue before it gets remade in addons-frontend.

[2017-03-21 13:43] #4821 closed

[2017-03-21 13:44] #4824 closed

[2017-03-21 13:46] eviljeff commented on #4827
button doesn't need to be on either side really so right is as good as left.

[2017-03-21 13:46] #4827 closed

[2017-03-21 13:46] ValentinaPC commented on #4753
I can not longer reproduce this either, on AMO-dev, but seems to still reproduce on AMO-stage.
Theme example: https://addons.allizom.org/en-US/editors/themes/queue/single/francais-theme
Theme is listed in Pending queue and has the status "pending" even if the theme was flagged.
See screenshot also:
![2017-03-21_1545](https://cloud.githubusercontent.com/assets/15685960/24150094/770c2036-0e4d-11e7-8

[2017-03-21 13:49] diox commented on #4829
That add-on is set to support both the old mobile and android platforms, so you'll get redirected to either one of those.

[2017-03-21 13:49] #4829 closed

[2017-03-21 13:50] EnTeQuAk commented on #4834
That's a good enhancement but if we want that it should land in addons-frontend and not on addons-server anymore. Also, usually something like that is quite hard to do correct.

I'm going to close this since it probably won't be touched / fixed / added in addons-server any time soon if ever.

[2017-03-21 13:50] #4834 closed

[2017-03-21 13:52] diox commented on #4836
You should enter the exact add-on name, spaces should not be ignored.

[2017-03-21 13:52] #4836 closed

[2017-03-21 13:53] diox commented on #4930
will be done together with https://github.com/mozilla/addons-server/issues/4931

[2017-03-21 13:53] #4930 closed

[2017-03-21 13:53] ValentinaPC commented on #4791
This is not a mobile site bug , to be fixed by mobile redesign.
AMO server displays a message for the user to use the mobile site, while using browser under some dimensions.

Screenshot for en-US locale and RTL locales:
![info](https://cloud.githubusercontent.com/assets/15685960/24150464/78100a14-0e4e-11e7-9d47-6ac1effc8dcf.png)

[2017-03-21 13:55] eviljeff commented on #4852
We'll go with what @jvillalobos said.  The only reason you'd want to revert the deletion via the moderated review log is if they should be kept so reflagging them seems a little redundant.

[2017-03-21 13:55] #4852 closed

[2017-03-21 14:03] EnTeQuAk commented on #4791
Ah, sorry, we misunderstood the issue. It's a RTL bug really.

[2017-03-21 14:06] diox commented on #4880
Will not be fixed before we move to new addons-frontend for desktop.

[2017-03-21 14:06] #4880 closed

[2017-03-21 14:10] EnTeQuAk commented on #4933
Assigning to @muffinresearch for further planning since the bugzilla bug is also assigned.

[2017-03-21 14:14] diox commented on #4941
It sounds like that's an editorial problem, not an addons-server bug: someone has added this add-on to the featured section on Android, and we don't prevent/filter that.

With great powers come great responsibilities.

[2017-03-21 14:14] #4941 closed

[2017-03-21 14:15] diox commented on #4942
Sounds like the count from the first page is not filtering something correctly.

[2017-03-21 14:24] diox commented on #4975
e10s compatibility will not matter very soon as it will be force-enabled on everyone. We do want to label web extensions instead though, to indicate that they will be future-compatible. https://github.com/mozilla/addons-server/issues/4974

[2017-03-21 14:26] eviljeff commented on #4976
this isn't bug on addons.mozilla.org - can you re-file on https://bugzilla.mozilla.org/enter_bug.cgi?product=www.mozilla.org

[2017-03-21 14:26] #4976 closed

[2017-03-21 14:31] diox commented on #4659
Disco pane bugs should be opened in https://github.com/mozilla/addons-frontend

[2017-03-21 14:31] #4659 closed

[2017-03-21 14:32] diox commented on #4141
Disco pane bugs should be opened in https://github.com/mozilla/addons-frontend

[2017-03-21 14:32] #4141 closed

[2017-03-21 14:44] wagnerand commented on #4975
Plans have changed. It won't be force-enabled before 57. Reopening, so we can discuss whether we need to do this or not...

[2017-03-21 14:45] #4982 closed

[2017-03-21 14:46] davidhedlund commented on #4975
@wagnerand

Can you please give me a official reference for that?

[2017-03-21 14:51] davidhedlund commented on #4976
@eviljeff Thanks, filed to https://bugzilla.mozilla.org/show_bug.cgi?id=1349222

[2017-03-21 14:51] wagnerand commented on #4975
https://wiki.mozilla.org/Electrolysis#Add-ons_Schedule

[2017-03-21 14:53] eviljeff commented on #1727
This will be implemented on addons-frontend so closing this on addons-server.

[2017-03-21 14:53] #1727 closed

[2017-03-21 14:54] #4110 closed

[2017-03-21 14:54] wagnerand commented on #4975
Also, the table is slightly outdated. According to @shell15 we won't enable e10s for add-ons without MPC=true even if they don't use shims.

[2017-03-21 14:55] eviljeff commented on #2526
@jvillalobos decision time ⏳

[2017-03-21 14:55] davidhedlund commented on #4975
@wagnerand Thank you very much.

[2017-03-21 14:55] eviljeff commented on #4819
This will be implemented on addons-frontend so closing this on addons-server.

[2017-03-21 14:55] #4819 closed

[2017-03-21 14:56] davidhedlund commented on #4975
@wagnerand Can you please ask him to add that to https://wiki.mozilla.org/Electrolysis#Add-ons_Schedule ?

[2017-03-21 14:58] wagnerand commented on #4975
Yes, I already pinged her :)

[2017-03-21 14:58] davidhedlund commented on #4975
@wagnerand Thanks again.

[2017-03-21 15:06] eviljeff commented on #958
@mstriemer can you provide some more information on this, specifically what url would give inconsistent output under what circumstances?

[2017-03-21 15:06] davidhedlund commented on #4975
@wagnerand Based on https://wiki.mozilla.org/Firefox/AddOns/Status/current#Schedule would you say that Firefox 57 or 58 will implement Electrolysis absolutely fully?

[2017-03-21 15:06] jvillalobos commented on #1177
Yeah, we can reopen if this becomes a priority on the client side.

[2017-03-21 15:06] #1177 closed

[2017-03-21 15:09] eviljeff commented on #1808
This is done, afaik.

[2017-03-21 15:09] #1808 closed

[2017-03-21 15:12] diox opened #4990 "Remove user reviews translations feature"
Speaking about the feature that does translations of user reviewers, in https://github.com/mozilla/addons-server/issues/4110#issuecomment-265272693 @jvillalobos said:

We are voting for removing it if possible. It's not used much and it has bugs we don't want to maintain.

[2017-03-21 15:13] diox commented on #1583
That feature will hopefully go away in https://github.com/mozilla/addons-server/issues/4990

[2017-03-21 15:13] #1583 closed

[2017-03-21 15:14] jvillalobos commented on #4060
We've been doing messaging in various forms, and we're tracking all compatibility issues and comms on [Bugzilla](https://bugzilla.mozilla.org/show_bug.cgi?id=1335456) now.

[2017-03-21 15:14] #4060 closed

[2017-03-21 15:19] diox commented on #4951
It's a valid issue, but it's unlikely we'll ever get to fix it before migrating to addons-frontend.

[2017-03-21 15:19] #4951 closed

[2017-03-21 15:26] davidhedlund commented on #4975
https://github.com/mozilla/addon-compatibility-reporter/issues/77

[2017-03-21 15:29] #3958 closed

[2017-03-21 15:30] #2264 closed

[2017-03-21 15:30] ValentinaPC commented on #4018
This is still reproducing on AMO-dev FF52(Win 7).
Screenshot:
![vi](https://cloud.githubusercontent.com/assets/15685960/24155301/1b07aa62-0e5c-11e7-83bb-ed3f1b89d81d.png)

[2017-03-21 15:31] eviljeff commented on #2264
This was a deliberate decision.

[2017-03-21 15:38] eviljeff commented on #2277
not a bug and we're going to rewrite everything in addons-frontend anyway

[2017-03-21 15:38] #2277 closed

[2017-03-21 15:52] diox commented on #4845
Should this be filed in addons-frontend instead ?

[2017-03-21 15:53] eviljeff commented on #2882
if this is a one-off, going to close it.

[2017-03-21 15:53] #2882 closed

[2017-03-21 15:59] jasonthomas commented on #4845
No, this is for ravenjs configured for assets generated by addons-server.

https://github.com/mozilla/addons-server/blob/master/src/olympia/conf/prod/settings.py#L252-L253

[2017-03-21 16:11] jvillalobos commented on #2526
We briefly discussed this during the review work week. My position is that supporting hidden on top of what we have (listed, unlisted, beta, etc.) is too much, so we should look into this feature as a replacement rather than an addition. All that said, no decision was made 💾.

[2017-03-21 16:14] jvillalobos commented on #4557
Haven't heard any complaints about this one. While possible, I don't think it's likely that you need to go to the management page after uploading an unlisted version. What you generally want is just get the signed file.

[2017-03-21 16:14] #4557 closed

[2017-03-21 16:19] jasonthomas commented on #4565
This add-on on stage is not signed. Although I am not sure why it was not, it's possible that we didn't run bulk signing on android add-ons on stage? Looks like it was signed on prod.

`stage: 14K Jul 25  2014 tap_translate-0.3.0-an-android.xpi`
`prod: 18K Jan 28  2016 tap_translate-0.3.0-an-android.xpi`

[2017-03-21 16:26] EnTeQuAk commented on #3966
Given that this is imho expected behavior I think this can be closed. If there is an actual issue here please fee free to re-open at any time.

[2017-03-21 16:26] #3966 closed

[2017-03-21 16:27] jvillalobos commented on #4518
I think adding it to `base` makes sense. I suggest adding it after the `To learn more about the review process` line:

[2017-03-21 16:42] mstriemer commented on #958
I think the STR would be something like:

1. Upload an invalid add-on with version `1.1`, it is assigned guid `A` (how unique!)
2. Once that upload fails, fix the add-on and upload it again with version `1.1`, it is assigned guid `B`.
3. Wait for the `B` version to pass validation.
4. Check `/addons/@my-addon/versions/1.1/uploads/A`
    * You see that it was invalid
    * You also see that the ass

[2017-03-21 16:44] eviljeff commented on #3294
this sounds like the same issue as #4565

[2017-03-21 16:44] #3294 closed

[2017-03-21 16:45] diox commented on #3619
Same root cause as mozilla/addons/issues/324; will be fixed when we fix https://github.com/mozilla/addons-server/issues/4649

[2017-03-21 16:45] #3619 closed

[2017-03-21 16:48] pwalm commented on #4531
@fangshih @brampitoyo Any way we can update these files?

[2017-03-21 17:06] #4972 closed

[2017-03-21 17:13] eviljeff commented on #4947
mentor @EnTeQuAk

[2017-03-21 17:17] jvillalobos commented on #4791
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @tofumatt

[2017-03-21 17:19] jvillalobos commented on #4757
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @diox

[2017-03-21 17:19] diox commented on #4751
`name` uses `display_name` but falls back to `username` if empty.

[2017-03-21 17:21] jvillalobos commented on #4736
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @eviljeff

[2017-03-21 17:22] wagnerand commented on #4751
So, is this a sub-bug of https://github.com/mozilla/addons-server/issues/3388 ?

[2017-03-21 17:24] wagnerand commented on #4751
Mentor: @wagnerand

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-03-21 17:24] jvillalobos commented on #4574
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @eviljeff

[2017-03-21 17:30] jvillalobos commented on #3752
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @eviljeff

[2017-03-21 17:33] #4748 closed

[2017-03-21 17:42] diox commented on #4977
So, although reviews from `Anonymous user xxx` do seem to come from users that haven't set a username/display name, we still don't delete reviews from "deleted" users.

This is the delete view: https://github.com/mozilla/addons-server/blob/71dbbec022dc1d3073261148e7d2db2264525603/src/olympia/users/views.py#L93-L108

It calls [`.anonymize()`](https://github.com/mozilla/addons-server/blob/71dbbec022

[2017-03-21 17:43] jasonthomas commented on #4565
I've signed add-ons on stage.

[2017-03-21 17:43] #4565 closed

[2017-03-21 17:58] #3692 closed

[2017-03-21 18:03] jvillalobos commented on #4571
This dialog is pretty terrible, but probably not worth fixing with the old frontend. For now I think we just need to make sure there's proper spacing between the buttons.

[2017-03-21 18:03] jvillalobos commented on #4571
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @eviljeff

[2017-03-21 18:50] davidhedlund commented on #4975
@wagnerand @diox Added to top of this issue:

[2017-03-21 18:59] wagnerand commented on #4975
@davidhedlund I think we already clarified that some products might not even be using e10s. Why list them here again?

[2017-03-21 19:16] davidhedlund commented on #4975
@wagnerand This is still valid for Firefox for Android, right?

[2017-03-21 19:41] wagnerand commented on #4975
I don't know.

Also, this is kind of blocked on #3947

[2017-03-21 20:29] davidhedlund commented on #4975
@wagnerand Interesting.

[2017-03-22 03:33] fangshih commented on #4531
Hey, Just updated the image and assets based on our discussion
Here is the SVG asset:
https://www.dropbox.com/s/05b6oqh5yq189td/image-port-extension.svg?dl=0
Thanks!
![landing page - not signed in with sidebar - visual design](https://cloud.githubusercontent.com/assets/4862573/24180897/8af76b0a-0ef2-11e7-989b-96b42a5fb360.png)

[2017-03-22 03:47] brampitoyo commented on #4531
I like it. Thank you, @fangshih!

[2017-03-22 05:35] smayer97 commented on #2264
Why were these closed?
Why was it deliberate? What is the point of removing such important functionality?
WIthout, Firefox is not much different than Chrome, et. al...

Please reconsider!

[2017-03-22 05:41] smayer97 commented on #2264
For those following along, be sure to also follow the info at the link provide above:
 https://discourse.mozilla-community.org/t/no-favorite-button-in-new-amo-design/8015/16?u=smayer97

[2017-03-22 09:39] tofumatt opened #4994 "[Dev Hub] Add ratings to listings in signed-in view"
Originally filed on addons-frontend, but should be here.

See: https://github.com/mozilla/addons-frontend/issues/1717

[2017-03-22 09:40] EnTeQuAk commented on #4018
It just wasn't on -stage yet, it's fixed there now.
![screenshot from 2017-03-22 09-39-45](https://cloud.githubusercontent.com/assets/139033/24191373/8b1e64d0-0ee3-11e7-9521-16749ef979a2.png)

[2017-03-22 09:56] vcarciu commented on #4929
Verified as fixed

[2017-03-22 10:09] ValentinaPC commented on #4018
I made the check in -dev - you can see the URL in my screenshot.

Verified again in AMO-dev FF52(Win 7), and seems to be fixed now.
Postfix screenshot:
![secondcheck](https://cloud.githubusercontent.com/assets/15685960/24192616/3dc11678-0ef8-11e7-99e9-66e4fbff706d.png)

[2017-03-22 10:09] #4018 closed

[2017-03-22 10:12] eviljeff commented on #2572
going to close this if we can't reproduce.

[2017-03-22 10:32] eviljeff commented on #3715
![screenshot 2017-03-22 10 30 39](https://cloud.githubusercontent.com/assets/768592/24193610/c6e78a30-0eea-11e7-841e-9da023f07187.png)
- they never wrap onto the 4th line for me

[2017-03-22 10:52] eviljeff opened #4997 "Fix/Replace/Upgrade Python3 dependencies"
https://pyup.io/account/repos/github/mozilla/addons-server/
Old dependencies that aren't compatible are blocking our smooth and totally uncomplicated upgrade of addons-server codebase to Python3, so we need to fix those first.

Work needed for prod / local development:
* [x] schematic ==0.4 - mozilla/schematic#4 (but obsolete after django migrations #3705 anyway)

Obsolete so will be removed:
* [x

[2017-03-22 11:34] ValentinaPC commented on #4972
Verified this on AMO-dev FF52(Win 7) and there are 2 cases:
- I was able to reply to the mail I receive after the **only version of my add-on was rejected** - no e-mail was received afterwords.
- If I've replied to the mail I received, after rejecting first version of an add-on, **that also has a second version** - I received an e-mail as @wagnerand mentioned in his comment.

I think this is happe

[2017-03-22 13:13] eviljeff commented on #958
I'm thinking the fix is to either:
*  disallow `/addons/<addon-guid>/versions/<version-num>/uploads/<upload-guid>` and only have `/addons/<addon-guid>/versions/<version-num>/uploads/` or
* do a lookup on `<upload-guid>` instead

[2017-03-22 13:22] eviljeff commented on #958
but... https://github.com/mozilla/addons-server/blob/master/src/olympia/signing/views.py#L226 says its already filtering on guid so not sure what the root of the issue it.

[2017-03-22 13:39] EnTeQuAk opened #5000 "Automate clearing travis cache once requirements are modified"
We cache our tox environment to make our travis tests fast. Make our `addons-robot` clear the caches once we modify our requirements files.

[2017-03-22 14:30] pwalm commented on #4531
Great work, @fangshih ! 😄

[2017-03-22 15:21] mstriemer commented on #958
Ah, I had it backwards. It's that the version is always the latest regardless of which `FileUpload` you check. Version is found in https://github.com/mozilla/addons-server/blob/8139d46431864e5cf3895f2ae216a0ef5e72cac2/src/olympia/signing/views.py#L237.

I think this means you could get the opposite results then, it looks like the validation succeeded but none of the files are signed.

[2017-03-22 15:40] ValentinaPC opened #5003 "Let's change "My Add-ons" title from Developer Hub homepage"
Steps to reproduce:
1. Load Deb Hub landing page while being signed in https://addons.allizom.org/en-US/developers/
2. Observe "My Add-ons" section

Expected results:
The section containing themes, add-ons, webextensions, etc. should be named "My Submissions" - for consistency.

Actual results:
The section has the "My Add-ons" title.

Notes/Issues:
- there is also a "My Add-ons" link in the header

[2017-03-22 15:43] wagnerand commented on #5003
We use _add-ons_ as the umbrella term for extensions (XUL/SDK/webextensions), themes, language packs, dictionaries...

[2017-03-22 15:55] ValentinaPC commented on #5003
I know... but we have separate tabs regarding add-ons and themes in My submissions and also the other "My Add-ons" (link from Dev Hub header) is redirecting to "My Add-ons" tab....that is why I made the suggestion.

[2017-03-22 16:26] krupa commented on #4809
I don't think that the current behavior should be the expected behavior which makes this a valid bug. We should keep this open so that we can track this as something that needs to get done. I can see the current behavior being confusing to users who install the add-on and see a different add-on name be listed in the add-ons manager.

[2017-03-22 16:27] #4907 closed

[2017-03-22 16:32] ValentinaPC commented on #2572
I've tried to reproduce this issue using AMO-dev FF52(Win 7), and obtained the results:
- after deleting the "Firefox for Android", from Dev Hub - Compatibility section, for my add-on, I was still able to see the add-on in the Android Add-ons listing pages and through search suggestions
- after accessing the add-on details page, things are displayed as expected

Used add-on:  https://addons-dev.al

[2017-03-22 17:47] jvillalobos commented on #4990
Yeah, let's drop it.

[2017-03-22 17:58] jvillalobos commented on #4818
In the Status & Versions page we only show the `AMO` and `Self` tags when there are versions of both kinds, since most developers have one or the other and not both, and we didn't want to clutter things too much. I think it makes sense to show them on the devhub landing page, since you could have both.

Additionally, unlisted versions should have their status (usually `Approved`) next to them, lik

[2017-03-22 18:11] #4162 closed

[2017-03-22 18:31] #4990 closed

[2017-03-22 18:48] kumar303 opened #5006 "Saved ratings are cached too aggressively"
### Describe the problem and steps to reproduce it:

See https://github.com/mozilla/addons-frontend/issues/2019 for STR

### What happened?

* A new rating/review is posted
* When the page is refreshed, it makes an API request for a saved review by user ID and add-on ID
* The first time you request this, you get 0 results
* The second time, you see the result.

### What did you expect to happen?

[2017-03-22 20:23] jvillalobos commented on #5003
We'll change other pages in the developer hub to match what is in this homepage, when we get to them. I think what's in the new homepage makes more sense.

[2017-03-22 20:23] #5003 closed

[2017-03-22 21:20] bqbn opened #5007 "This is a test for integrating sentry with github"
https://sentry.dev.mozaws.net/operations/olympia-prod/issues/366815/

[code]

[2017-03-22 21:20] #5007 closed

[2017-03-22 22:27] EnTeQuAk opened #5008 "Find a simpler replacement for our current encrypted api-key fields"
Porting https://github.com/EnTeQuAk/m2secret (originally forked from Andy and originally written back in 2009) to https://github.com/pyca/cryptography/ kinda revealed that our currently used system for api-keys is a little bit over-engineered for it's use-case and also revealed how old and not up-to-date cryptographicaly m2secret is (sha1+hmac, no constant time compares, it's generally a bit more

[2017-03-22 22:45] services-ops opened #5009 "Test Sentry integration with Github"
https://sentry.dev.mozaws.net/operations/olympia-prod/issues/377872/

[code]

[2017-03-22 22:46] #5009 closed

[2017-03-23 08:13] ValentinaPC commented on #4818
@jvillalobos : What would be the difference between an add-on with all version listed and and add-on with all versions unlisted in Dev Hub landing page?

[2017-03-23 09:21] ValentinaPC opened #5011 "Remove automatic validation filter from Reviewer Tools->Logs->Signed Beta Files Log"
Steps to reproduce:
1. Load page https://addons.allizom.org/en-US/editors/beta_signed_log?filter=131 while being signed in with an admin account
2. Select "Failed automatic validation" from the drop-down
3. Click "Filter" button

Expected results:
A list of failed automatic validation add-ons is listed, or an empty one if none.

Actual results:
Even if "Failed automatic validation" option is selec

[2017-03-23 09:53] vasilicamihasca opened #5013 "Inconsistency between AMO and desktop description for host permission"
**Steps to reproduce:**
1. Navigate to https://addons-dev.allizom.org/en-US/firefox/addon/promptable321/
2. Compare the permission description from desktop pop-up with amo pop-up.

**Expected results:**
Amo and desktop pop-ups display the same descriptions.

**Actual results:**
AMO pop-up specifies the entire url, including the “*” parts.

**Additional notes:**
- This issue reproduces on AMO-dev u

[2017-03-23 10:00] ValentinaPC commented on #4990
Verified as fixed on AMO-dev FF52(Win 7).
Translate feature from "Moderated reviews" queue is no longer available.
Postfix screenshot:
![notranslation](https://cloud.githubusercontent.com/assets/15685960/24242397/4df2ab42-0fc0-11e7-825d-db46e5adb488.png)

[2017-03-23 10:23] kewisch opened #5015 "Developer replies are not threaded"
### Describe the problem and steps to reproduce it:

1) Receive two developer replies or other messages on one add-on

### What happened?
* The emails show up as two separate threads in my email client

### What did you expect to happen?
* Replies should include a References header to make them show up as one thread in my email client.

[2017-03-23 11:22] diox commented on #4945
Fixed in https://github.com/mozilla/addons-server/pull/4996

[2017-03-23 11:22] #4945 closed

[2017-03-23 11:46] ValentinaPC commented on #4162
Verified this on AMO-dev FF52(Win 7) for 2 cases: empty `shortname` and missing `shortname`.
First case returned:
![shortname](https://cloud.githubusercontent.com/assets/15685960/24246191/dd009ac0-0fce-11e7-833a-7a5002b08713.png)

Second case returned:
![noshortname](https://cloud.githubusercontent.com/assets/15685960/24246200/e7ad9220-0fce-11e7-9c2a-09acf9390a80.png)

@EnTeQuAk : Should we handle

[2017-03-23 13:26] jvehent commented on #5008
Before picking an algorithm, we need to answer the question "_Does AMO ever want to show users their current API tokens, or simply allow them to change them?_".

Sites differ in this approach. Twitter will show API tokens, AWS will not. Obviously, the latter is more secure because a DB leak or fraudulent access to an account wouldn't leak tokens, but it's also less usable.

I have a strong prefere

[2017-03-23 13:29] kewisch opened #5016 "Fileviewer performance needs improvement"
### Describe the problem and steps to reproduce it:

1) Visit https://addons.mozilla.org/en-US/firefox/files/browse/521169/ when it is not cached
2) open modules/ical.js

### What happened?

**Request for (1):**
Blocked: → 0 ms
DNS resolution: → 0 ms
Connecting: → 0 ms
Sending: → 0 ms
Waiting: → 26604 ms
Receiving: → 7025 ms

**Request for (2):**
Blocked: → 0 ms
DNS resolution: → 27 ms
Connecting:

[2017-03-23 14:34] diox opened #5017 "Remove is authenticated check in with_user decorator"
In https://github.com/mozilla/addons-server/blob/6e48cd0bf96af266e8ff349ba6b8d248a4d3c86b/src/olympia/accounts/views.py#L199-L202 we're redirecting the user with a message saying they are already logged in if they try to go through the `with_user` decorator.

In https://github.com/mozilla/addons-frontend/issues/2139 because we changed the API token cookie name, the frontend thinks the user is not

[2017-03-23 14:43] kumar303 commented on #5017
Here are the steps to reproduce it in a fresh browser session which may help in illustrating how it's a problem for the frontend: https://github.com/mozilla/addons-frontend/issues/2157

[2017-03-23 14:47] kumar303 opened #5018 "Expose Firefox Accounts login errors to the frontend"
When there is a Firefox Accounts login error triggered by the frontend (example: https://github.com/mozilla/addons-frontend/issues/2157), the server will put the error message into a Django message cookie and redirect to the frontend server (i.e. express/NodejS).

This message will not be displayed. Let's display it!

One solution would be to add a query string parameter to the redirect that inclu

[2017-03-23 15:20] eviljeff commented on #4753
it's showing as flagged now... it sounds like caching

[2017-03-23 15:24] ValentinaPC commented on #4753
You must do a search, and in search results see its status.
Please see video:
![flagged](https://cloud.githubusercontent.com/assets/15685960/24255240/93ccb6e4-0fed-11e7-8c33-0878343047cc.gif)

[2017-03-23 15:41] mstriemer commented on #5017
So everyone is getting logged out when the cookie type changes I guess? Is this the problem?

1. User is suddenly logged out (jwt_api_auth_token is no longer used and no api_auth_token is set).
2. User logs in again.
3. AuthenticateView checks user data in request.session and sees the user is logged in.
4. Error message about already being logged in.

If that's the case it seems like the cookies b

[2017-03-23 16:03] muffinresearch commented on #4974
@jvillalobos could another possibility be to add a "deprecated" label to non-webext? I'd worry that "Future-compatible" is a bit abstract.

[2017-03-23 16:08] diox commented on #5017
Yes.

That's correct. But, by removing the check, the user would get both a new session and a new token, which would then be in sync.

Yes, that could work. But I am not sure if we can detect when the session expires at the moment.

We though about that, but thought it might be a little brutal.

[2017-03-23 17:08] jvillalobos commented on #4974
We're intentionally avoiding negative messaging on the first phase, which is why we want to highlight WebExtensions instead. I agree the label is a bit abstract, but that's the best option we have so far. Suggestions welcome :)

[2017-03-23 17:16] adamopenweb opened #5019 "Theme switching on AMO causes tab to go blank"
### Describe the problem and steps to reproduce it:
**URL**: https://addons.mozilla.org/en-US/firefox/themes/
**Browser / Version**: Firefox 55.0
**Operating System**: Linux

**Steps to Reproduce**
1. Navigate to: https://addons.mozilla.org/en-US/firefox/themes/
2. Try out one of the themes by hovering your mouse over "Globules Multicolores" or "ABSTRACT'".

### What happened?
The tab goes blank

[2017-03-23 17:30] diox commented on #5019
Thanks, this looks like a Firefox bug though (that should be filed on bugzilla) - I can reproduce on Firefox 55 but not on Firefox 52 on Linux (and the code that does the preview on AMO hasn't changed in ages)

[2017-03-23 17:32] vcarciu commented on #4981
Verified for all scenarios described in the bug , please see my comments below and let me know if this should be reopened:

- Admin can always delete : OK
![admin](https://cloud.githubusercontent.com/assets/1583842/24258573/e571321e-0ff6-11e7-9b0f-6b60891dab90.png)

-  Author of review  can delete his reviews : OK
![authorofreview](https://cloud.githubusercontent.com/assets/1583842/24258704/3c71e5

[2017-03-23 17:52] wagnerand commented on #4981
Yeah, this is correct. If a review is deleted, all replies are deleted too.

Good catch. I fixed it in #5021.

[2017-03-23 18:08] eviljeff commented on #4753
oh, I see now

[2017-03-23 18:38] EnTeQuAk commented on #4997
Plan to get rid of M2crypto:

* [x] Port m2secret to cryptography to support python 3
 * done: https://pypi.python.org/pypi/m2secret-py3
* [ ] signing-clients: https://github.com/mozilla/signing-clients/pull/19
* [ ] port django-aesfield to use new m2secret + to python 3 (and more recent django apis)

[2017-03-23 19:25] jvillalobos commented on #4818
In the previous comments I'm recommending we show the `AMO` or `Self` tag next to the version, so at least you know what channel is the latest one. However, we won't show if it's only-listed, only-unlisted, or mixed. That distinction is too specific to be useful IMO.

[2017-03-24 08:43] ValentinaPC opened #5022 "Stats on AMO-dev are forever loading"
Steps to reproduce:
1. Go to Statistics page for any add-on with public stats i.e. https://addons-dev.allizom.org/en-US/firefox/addon/noverflow/statistics/?last=365

Expected results:
Some stats or no results are displayed.

Actual results:
Dashboards are forever loading.

Notes/Issues:
- if the period is changed, a `js` error is displayed in the browser console - "TypeError: this._recipeManager i

[2017-03-24 09:18] diox commented on #5022
Dev does not have working stats.

[2017-03-24 09:18] #5022 closed

[2017-03-24 09:22] ValentinaPC commented on #4799
Verified as fixed on AMO-prod FF52(Win 7).
Postfix screenshot:
![disco](https://cloud.githubusercontent.com/assets/15685960/24287934/30bc10da-1084-11e7-9731-94cf2561197b.png)

Note: all links work as expected.

[2017-03-24 09:28] ValentinaPC commented on #5022
It should, at leas as those from Stage....imho.

[2017-03-24 09:30] eviljeff opened #5023 "remove mobile templates"
The future is now - mobile pages are all served by addons-frontend so the mobile templates and support packages (e.g. django-mobility) can be removed from addons-server.

[2017-03-24 10:38] diox commented on #5017
Django session backends have `get_expiry_age()` and `get_expiry_date()` but they are actually useless for us because we don't manipulate the session expiry, so it's always set `settings.SESSION_COOKIE_AGE` into the future, which is **not** what we want.

Fortunately, because we're using signed cookies for the session backend, we actually can extract the timestamp and figure out the max age:
[code]

[2017-03-24 10:54] kumar303 commented on #5008
I'm glad we're finally moving this off of M2Crypto! Here are some responses just for historical context:

The use case of the secret API key is this: a developer uses it to generate a one-time token (a JWT) to [upload their add-on package](http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#put--api-v3-addons-[string-addon-id]-versions-[string-version]-) to Mozilla. Mozilla then

[2017-03-24 11:10] vcarciu commented on #4981
Reviewers can also delete developers replies : Is this correct?

Yeah, this is correct. If a review is deleted, all replies are deleted too.

I think that we have a misunderstanding here . So, the reviewer(not admin) can delete a developer reply for a NOT flagged review : is this correct?

[2017-03-24 11:35] wagnerand commented on #4981
Hm, that sound wrong. Do you have an example for that on -dev?

[2017-03-24 11:52] wagnerand commented on #4981
I can't reproduce this:

![screen shot 2017-03-24 at 12 52 08](https://cloud.githubusercontent.com/assets/873258/24293176/c613196a-1090-11e7-97fa-8fdcbbcc0d2f.png)

[2017-03-24 12:48] rctgamer3 commented on #4990
This feature was very useful for translating Russian/Cyrillic, and other reviews not in English to decide if they would qualify for vulgar language/spam/deletion. At the bare minimum, I woudl've expected a leftover of this feature to persist in the moderated review queue.

[2017-03-24 13:22] eviljeff commented on #958
Can `addon.versions.filter(version=version_string)` ever return more than one match anyway?  (We enforce a unique version string.)  I guess you can use an upload guid with the wrong version and get weird data.  Is that an edge case we should worry about?  (The correct response for a version/upload mismatch would have to be a 500 I suppose)

[2017-03-24 14:01] diox commented on #5017
I've played with that locally but I had to revert it, because although we can set up the expiry on the new cookie to be the right one, out of the box we can't do that with django signing classes - it just uses the current time for the timestamp.

I thought about this more and decided to simply refresh the API token - the user does go through FxA, in a way they just re-authenticated, so I don't thi

[2017-03-24 15:00] eviljeff commented on #4972
correct, you should be only able to reply to the last (non deleted, non beta) version of an add-on.

[2017-03-24 15:21] kumar303 commented on #5017
Sounds good to me

[2017-03-24 15:30] ValentinaPC commented on #4972
From Dev Hub and from your Inbox, as well, correct?

[2017-03-24 16:12] eviljeff commented on #4972
yeah.  But the logic isn't defined in one place so there's a possibility they might be different (incorrectly)

[2017-03-24 16:31] mstriemer commented on #958
I don't see a unique constraint on `version` in my database. I thought it created a version that could just be invalid and would be ignored in other places.

I see that the validation is rejected if a version already exists though [1]. So maybe we just need to only set the version fields if this is the latest file upload.

Or we could ignore this since people probably aren't checking old uploads,

[2017-03-24 19:55] #5017 closed

[2017-03-25 15:43] erosman opened #5033 "Developer Reply is emailed to the wrong person"
I have come across 2 situations so far that the Developer Reply is sent to the wrong person.

1- Developer reply when Sources are requested & Sources are uploaded
With inclusion of sources, addon is automatically moved to the admin queue and out of the hands of the Info requester.

2- Emails sent to the person leaving a Comment
I left a comment (for other reviewers) on an addon which I had never r

[2017-03-27 08:56] ValentinaPC commented on #4134
This kind of add-ons have other "form" in listing pages: a "view other versions" functional link and no "Download Anyway".
Example add-on details: https://addons-dev.allizom.org/en-US/android/addon/divtranslate/?src=cb-dl-mostpopular
Example listing pages: https://addons-dev.allizom.org/en-US/android/search/?q=divtranslate&cat=1%2C0&appver=&platform=

[2017-03-27 10:10] diox commented on #5006
It turns out that it's caused by the fact that cache-machine caches `count()` calls for 5 minutes without ever invalidating them. Pagination uses a `count()` call and therefore returns an empty page, not even bothering to evaluate the results queryset (which would work, as its cache is properly invalidated).

I'll have to think of something. Maybe bypass pagination if you're specifying both `user`

[2017-03-27 11:42] diox commented on #5006
I have a patch to avoid the `count()` when both `user` and `addon` parameters are set, just fetching one or zero results, but I realized that's wrong: you can have more than one result, as it's possible for a user to leave multiple reviews for the same add-on as long as it's on different versions.

@kumar303 : do you have the version id available in addons-frontend when you make that request ? If

[2017-03-27 12:19] vcarciu commented on #4981
@wagnerand
I am not able to reproduce this scenario anymore :(

[2017-03-27 12:36] wagnerand commented on #4981
Ok, I'm closing this. If it comes up again, please file a new issue.

[2017-03-27 12:36] #4981 closed

[2017-03-27 13:14] diox opened #5036 "Remove 'restricted' user group and associated code"
The "Restricted Users" group was created 5 years ago in 18a7611706151902c9a3752419fa36e295e7b859 as a fix for https://bugzilla.mozilla.org/show_bug.cgi?id=753995. There is no interface to add users to this group in AMO, it seems it was coded with Marketplace in mind, back when the 2 were sharing the same code and database. The restriction code still exists on AMO though, and is used for reviews an

[2017-03-27 13:29] ValentinaPC opened #5037 "Title is not wrapped for non-en locales while in "Add-ons for Android" Themes homepage"
Steps to reproduce:
1. Load Themes homepage on desktop - "Add-ons for Android", using AMO-dev while your language is set to `Italiano` - https://addons.allizom.org/it/android/themes/

Expected results:
There are no display or layout issues.

Actual results:
Page title overlays the search bar.

Notes/Issues:
- reproducing also for Search Tools homepage: https://addons.allizom.org/it/android/search-

[2017-03-27 14:46] kumar303 commented on #5006
Ha, yeah, I suspected `count()` caching. It has bitten us so many times.

In this particular situation I'm pretty sure we will always have a version ID. However, it would be easy to forget about needing this for future API calls.

Is there no way to stop doing a `count()` and always rely on the cached query? Or is that buried in the guts of Django?

[2017-03-27 14:58] diox commented on #5006
I'd have to use a different paginator that:
1) does not expose the `count()`
2) does not use the `count()` at all internally (for number of pages calculations and optimization when you request the last page).

Essentially we'd need to switch to infinite-style pagination (no number of pages / total number of results displayed, just prev/next links). It's doable, but is that what we want ?

[2017-03-27 15:05] kumar303 commented on #5006
I'm not really sure if we need page numbers or not. I haven't seen them in any mocks. A custom paginator seems fine as long as it's well tested. Obviously, it's not ideal.

Maybe this is something we could just punt until we are able to ditch cache machine? The STR to reproduce this bug (https://github.com/mozilla/addons-frontend/issues/2019) is a pretty obscure edge case. I don't think many users

[2017-03-27 15:06] vcarciu commented on #4981
Verified as fixed with the scenario from #5021  :
![deleteownreview](https://cloud.githubusercontent.com/assets/1583842/24363313/25cb4b28-1318-11e7-94b6-b20cb5cbf822.gif)

[2017-03-27 15:12] kumar303 commented on #5006
@pwalm hi! We discovered a limitation that we can workaround by never showing page 1, 2, 3... links in any paginated screen (search, review list, etc). Do you think we can live without that? I don't recall seeing specific page links in any of the mocks. We would still be able to show a previous / next button.

[2017-03-27 15:37] diox opened #5038 "Improve coverage of reviews code"
When running reviews tests, the following paths are not covered:
[code]

Total coverage is 98% but the codepaths not covered are scary, there are things like permission checks, invalid forms, and... the whole `spam()` view.

[2017-03-27 15:38] EnTeQuAk commented on #4434
I wonder if you mean 03dc6c26e4995133fa3c59ab50d20c76cf71fdfd by "recent update" since this only removed the actual file-link from the breadcrumb but didn't really show the file-path before. Do you maybe have a screenshot of where the path was before?

[2017-03-27 16:01] erosman commented on #4434
I dont have a screenshot and I cant get it anymore but...

For example:
https://addons.mozilla.org/en-US/firefox/files/browse/616882/file/js/bg.js#top
Where you have
[code]

It would have appeared in front of it.
Since h3 is a block element, it would have been placed after  `<a>...</a>`

Its data (I imagine) would have come or was the same as `data-short="js/bg.js"`

`<a class="file selected" data

[2017-03-27 16:03] EnTeQuAk commented on #4434
That helps! Thanks!

[2017-03-27 16:17] diox opened #5040 "Remove 'Spam' class and code in reviews"
The `Spam` class and associated code in reviews is used to automatically try to detect reviews spam.

It's very basic, and partly redundant with the flagging already done when a review is posted. The URL to check for potential spam reviews is broken and nothing links to it. According to @jvillalobos reviewers and admins don't use it, instead they just look at the queue of reviews to moderate.

Let

[2017-03-27 16:25] diox commented on #5036
Per @jvillalobos on IRC this is unused.

[2017-03-27 16:55] eviljeff commented on #4809
Closing this if there's no short term plan to implement.  Updating listing metadata from new versions would be a significant change in how the site works so needs a proper plan.

[2017-03-27 17:01] #4926 closed

[2017-03-27 17:01] #4957 closed

[2017-03-27 17:23] #5040 closed

[2017-03-27 17:42] #4518 closed

[2017-03-27 19:29] manvideo commented on #4518
Please send my imail language Persian I don't red English if not Persian
please don't send

On Mar 27, 2017 23:49, "Andrew Williamson" <notifications@github.com> wrote:

[2017-03-27 20:38] andymckay commented on #4916
We don't display these in the install prompts in Firefox either. I don't think we should be displaying these unless you want to get into a general "content script" permission which would be something like "Alters the way websites look on these sites....". I don't think Chrome does this.

I would consider this seperate from the general permissions work we've done.

Also pinging @aswan to confirm th

[2017-03-27 20:53] aswan commented on #4916
not confirmed :-)
This code changed more recently than what's newest on searchfox but see:
http://searchfox.org/mozilla-central/rev/7419b368156a6efa24777b21b0e5706be89a9c2f/toolkit/components/extensions/Extension.jsm#384-388

[2017-03-27 21:16] andymckay commented on #4916
Well ignore what I just said :) Thanks for the confirmation!

[2017-03-27 22:23] belibelibeli opened #5044 "Problems with working with Firefox"
### Describe the problem and steps to reproduce it:  This link doesn't work to install add-on:
https://addons.mozilla.org/en-US/firefox/addon/email-signature-rescue/
(Please include as many details as possible.)

### What happened?  Doesn't work.  It does not auto-populate in gmail.com

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screen

[2017-03-27 22:23] belibelibeli commented on #5044
Not working with Firefox.

[2017-03-28 01:59] davidhedlund opened #5045 "API for finding out web extensions"
### Describe the problem and steps to reproduce it:
I don't know how to figure out if an add-on is a _web extension_. https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#add-on-feature-compatibility is only helpful to find out how to list add-ons that are _Electrolysis (multiprocess) compatible_, this is not not the same thing.

[2017-03-28 01:59] davidhedlund commented on #5045
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-03-28 02:08] davidhedlund commented on #5045
[Add-on Compatibility Reporter](https://github.com/mozilla/addon-compatibility-reporter) should add extra text in the **Add-on Manager** next to each add-on by changing the "Compatible with multiprocess" to "[Not] compatible with multiprocess. This is [not] a web extension".

[2017-03-28 07:15] tofumatt commented on #5044
It looks like that add-on is no longer available. If you had installed it previous Please contact the add-on author; this is just the issue tracker for the website that hosts the add-one for Firefox. Unfortunately we can't provide any support for the add-ons themselves.

[2017-03-28 07:15] #5044 closed

[2017-03-28 09:33] diox commented on #5045
Should be done as part of https://github.com/mozilla/addons-server/issues/4974

Note that Add-on Feature Compatibility does make the distinction between webextensions and other types of extensions : any (and only) webextension should return `compatible-webextension` through that API, so you can definitely use it to confirm whether or not an add-on is a webextension. There is just one small limitat

[2017-03-28 09:33] #5045 closed

[2017-03-28 09:50] ValentinaPC commented on #4926
Verified as fixed on AMO-dev FF52(Win 7).
Postfix screenshot:
![2017-03-28_1245](https://cloud.githubusercontent.com/assets/15685960/24399305/fe9beca4-13b4-11e7-9d43-8dd08d896a45.png)

[2017-03-28 09:54] ValentinaPC commented on #4957
Verified as fixed on AMO-dev FF52(Win 7).
Postfix screenshots for `French` and `Italiano`:
![fr](https://cloud.githubusercontent.com/assets/15685960/24399519/b2c08302-13b5-11e7-9a30-346f558f6acf.png)
![it](https://cloud.githubusercontent.com/assets/15685960/24399520/b2c552b0-13b5-11e7-8f53-7f47a8af7985.png)

[2017-03-28 10:58] diox commented on #4974
Pretty sure the `restartless` (and maybe `jetpack`) tag has been broken for a while (not being updated) but the mechanism is sound, I can re-use it yeah. I'll also add something to the API.

[2017-03-28 11:08] #4491 closed

[2017-03-28 11:12] ValentinaPC commented on #4518
Verified as fixed on mail client (Yahoo) and Admin Tools - Fake Email - Logs using AMO-dev FF52(Win 7) and the message about migrating to WebExtensions is displayed. Also displayed while add-on update or rejection.
Not displayed for WebExtension review.
Postfix screenshots:
![2017-03-28_1403](https://cloud.githubusercontent.com/assets/15685960/24402309/9f8f63e2-13c0-11e7-9792-92055f3364bb.png)
![y

[2017-03-28 11:46] ValentinaPC commented on #4915
I have encountered a similar issue regarding "Review History"....or the same :)
This is ONLY happening on AMO-dev.
- Error message returned: "We had a problem retrieving review notes /api/v3/addons/addon/494241/versions/1531859/reviewnotes/, UNAUTHORIZED, {"detail":"Error decoding signature."}"
- Error message returned in a new-clean profile: same as @jvillalobos ' s

_Logging out and back in does

[2017-03-28 12:00] ValentinaPC commented on #4491
Verified as fixed on AMO-dev FF52(Win 7).
Source code file cannot be added for listed or unlisted add-ons during new file submission.
Postfix screenshots:
![newfile-unlisted](https://cloud.githubusercontent.com/assets/15685960/24403819/4403b332-13c7-11e7-8293-f3701cffd816.png)
![nosourcecodefile](https://cloud.githubusercontent.com/assets/15685960/24403820/440765c2-13c7-11e7-9efc-5fd9ecf475ce.png)

[2017-03-28 13:01] #5036 closed

[2017-03-28 13:02] #5038 closed

[2017-03-28 14:35] diox commented on #5019
FWIW the code that we use to preview themes https://github.com/mozilla/addons-server/blob/2eeedbfab1dd46a9d51e4195ad1bf403a2941cec/static/js/zamboni/personas_core.js#L7

I can still reproduce with today's nightly on Linux. Will open a bug (bugzilla is down for maintenance atm)

[2017-03-28 15:41] vcarciu opened #5049 "Average rating stars is not looking good"
Steps to reproduce:
1.On Android, go to https://addons-dev.allizom.org/en-US/android/addon/shamrocks2/
2.Observe the average rating stars under number of users (2,5 out of 5)
3.Open "Read all 3 reviews" link under rating section
4.Observe the Ratings(2x4 star ratings and one of 3 stars rating)

Expected results:
The average rating stars should indicate an average of 3,66 out of 5 stars

Actual res

[2017-03-28 15:56] eviljeff commented on #3726
closing this tracker now ActivityMail is launched and the remaining issues are not super high priority.

[2017-03-28 15:56] #3726 closed

[2017-03-28 16:03] diox commented on #5019
Firefox bug tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1351352

[2017-03-28 16:03] #5019 closed

[2017-03-28 16:12] #4971 closed

[2017-03-28 16:24] diox commented on #5049
Re-triggering the task that calculates the average fixed it for this particular add-on.

@vcarciu can you try to figure out STRs leading to this state with a fresh add-on ? This one has some very old reviews, some of them deleted - I suspect it's related but it's hard to find out what happened without more precise STRs. It might be that it's just a problem with dev and its frequent deploys breakin

[2017-03-28 16:33] wagnerand commented on #5037
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @tofumatt

[2017-03-28 16:35] wagnerand commented on #4947
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-03-28 16:42] wagnerand commented on #2606
We're going to redesign the desktop pages very soon, closing.

[2017-03-28 16:44] wagnerand commented on #2516
Mentor: @muffinresearch

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-03-28 16:50] wagnerand commented on #3514
@lavish205 are you still working on this?

[2017-03-28 17:10] eviljeff opened #5050 "replace django-cronjobs with something better"
part of #4997

Current thinking is a lightweight wrapper `cron` command that just fires off a job from a settings defined list of possiblities.

Most of the file locking is redundant because the jobs are some combination of a) trivial and quick b) create a celery task and exit c) execute rarely (once/twice a day).  There may be some jobs that need special consideration though.

[2017-03-28 17:14] TonnesM opened #5051 "Change "log in attempt" to "login attempt""
Currently, there's an occurrence of "log in" (verb) where "login" (noun) is intended [1],[2], which could be a typo. There might be more, I just spotted it during l10n.

"Your log in attempt could not be parsed. Please try again."

[1] https://pontoon.mozilla.org/en-GB/amo/LC_MESSAGES/django.po/?search=log+in+&string=148869
[2] https://github.com/mozilla/addons-server/blob/master/src/olympia/accou

[2017-03-28 18:05] atsay commented on #4926
Awesome, thanks!

[2017-03-28 21:28] bqbn commented on #3503
I'd like to re-open this issue for consideration.

The tld'r is that one of our dependencies, namely jingo_minify, has a one line dependency on the git history,

https://github.com/yohanboniface/jingo-minify/blob/master/jingo_minify/management/commands/compress_assets.py#L42

and as a result, we have to copy the entire .git/ directory (about 833MB at the moment) into the container image.

Previous

[2017-03-28 21:45] bkzhang commented on #5051
PR'ed

[2017-03-28 21:57] diox commented on #3503
Yeah. We want to get rid of jingo-minify but that is unlikely to happen soon... We'll look into just generating a UUID instead of using the git commit id...

[2017-03-28 22:06] diox opened #5055 "Remove django-mobility and all code serving mobile-specific pages"
Now that we've switched the mobile site to mozilla/addons-frontend + API we don't need all the code that serves a different mobile template, detects mobile users etc, we should remove that.

One thing to make sure is that we don't still need some of this stuff behind the scenes. Like, I don't know how the mamo cookie system works at the moment. Does it rely on something in addons-server code setti

[2017-03-28 22:17] davidhedlund commented on #5045
https://github.com/mozilla/addon-compatibility-reporter/issues/78

[2017-03-28 22:18] davidhedlund commented on #4974
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-03-28 22:31] TAnthrax opened #5056 "Thunderbird most popular extensions list has broken link"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
The issue occurs on page 3/68 near the bottom of the list at [https://addons.mozilla.org/en-US/thunderbird/extensions/?sort=users&page=3](https://addons.mozilla.org/en-US/thunderbird/extensions/?sort=users&page=3) when you click on the extension Clean Links it leads to a custom 404 page here: [https:/

[2017-03-29 08:25] #5051 closed

[2017-03-29 08:54] eviljeff commented on #5023
forward dupe with #5055

[2017-03-29 08:54] #5023 closed

[2017-03-29 09:22] ValentinaPC commented on #5051
What about:
![2017-03-29_1221](https://cloud.githubusercontent.com/assets/15685960/24447627/4d5b67a0-147a-11e7-9b51-0614061eabf8.png)
 ?
Thanks!

[2017-03-29 09:29] tofumatt commented on #5051
That one should be “log in” (it is correct) because it is the action of logging in (a verb).

English is the worst, really.

[2017-03-29 09:31] ValentinaPC commented on #5051
My bad! I thought I can get away easy :)
Still not being able to receive the above message.... :(

[2017-03-29 09:34] ValentinaPC commented on #4971
Verified as fixed on AMO-dev FF52(Win 7).
Postfix screenshot from:
![unlisted](https://cloud.githubusercontent.com/assets/15685960/24447955/561c4340-147b-11e7-96ff-b654a6f45a5c.png)

[2017-03-29 10:00] muffinresearch commented on #5055
The cookie setting on the desktop frontend is in JS so that bit needs to stay.

I don't think there's anything else related to the mobile middleware that needs to stay. The mechanism for redirection is all happening at the nginx level so the mobile middlewares are not involved.

The only other consideration is looking at the way that the mobile middelware optimizes caching - I'm not sure if we're

[2017-03-29 11:24] diox commented on #5055
mmm, atm we do the detection in nginx, but we also have the middleware active, re-doing the detection (useless) and adding `User-Agent, X-Mobile` to the `Vary` header. The proposed optimization here makes sense, but for now we can keep the existing `Vary`.

So IMHO we should:
1) Consider that `Vary` optimization, but in another issue
2) Remove django-mobility in this issue, but keep (move it to ad

[2017-03-29 11:59] muffinresearch commented on #5055
Would it make sense to have nginx add vary headers? Afaik we're not varying on user-agent from the addons-frontend app presently.

[2017-03-29 12:39] madalincm commented on #4556
At this moment the warning is displayed when you first open the add-on submission page. The warning should be displayed only if the user presses continue and no option is selected.
Please view this is screencast:
![warningaddonsubmission](https://cloud.githubusercontent.com/assets/15685441/24454796/e19b8024-1495-11e7-9543-06fe81e65b6b.gif)

[2017-03-29 13:01] vcarciu commented on #5049
@diox - You are right , with new reviews the average looks good. I tried also to delete/edit some reviews and everything was ok in this case too , so I guess that it's just a problem with -dev , as you said.

[2017-03-29 13:05] diox commented on #5055
It probably would. addons-server currently sends:
`Vary: Accept-Language, User-Agent, X-Mobile`

If all of those would be set at the nginx level it would simplify things. They should definitely be needed on all pages where we have the UA detection, as well as pages depending on the user language. We can probably skip `X-Mobile` if we don't use it, but it doesn't hurt to have it.

Random notes:
- I

[2017-03-29 13:56] diox commented on #5049
Closing for now. Re-open if you find more cases.

[2017-03-29 13:56] #5049 closed

[2017-03-29 14:06] vcarciu commented on #5049
@diox - There is one more scenario for the average on Android. If you have more than one reviews/user on desktop, then the average will include all the reviews for this user in the math, not only the last one. The problem is that on Android we are displaying only last review for an user and this will lead to misunderstandings for the Android users. What do you think?

[2017-03-29 14:23] diox commented on #5049
That's a valid issue, yeah. I think we should only care about the latest review for each user. Can you open a different issue for that ?

[2017-03-29 14:33] tofumatt commented on #5049
One other thing I just realised about averages: because we hide star ratings that don't have text reviews, you could leave five 5-star reviews with no text, one 1-star review with text, and would see an average of 4.5 or 5 stars with a single 1-star review visible.

Not much way around this, but it could look weird 🤷‍♀️

[2017-03-29 14:40] diox commented on #5049
Yeah, this could look a little weird. On mobile we don't seem to be displaying the count for each rating - we display that on desktop (see https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/ on the right next to the reviews) and it would help a little (need to pass `show_grouped_ratings` to the [reviews list API](http://addons-server.readthedocs.io/en/latest/topics/api/reviews.html#list-r

[2017-03-29 15:26] ValentinaPC opened #5059 "Average ratings should be calculated using the latest review for each user only"
Steps to reproduce:
1. Leave two reviews to the same add-on on desktop
2. Go to mobile page of this add-on i.e https://addons.allizom.org/en-US/android/addon/login/?src=ss
3. Verify the average rating stars

Expected results:
Average is calculated correctly.

Actual results:
Average is not calculated correct.

Notes/Issues:
- on mobile only the last review is displayed, even if the average is made

[2017-03-29 15:36] ValentinaPC commented on #5059
I just observed I've logged it in the wrong place...or...not?

[2017-03-29 15:39] diox commented on #5059
No, it's fine: the average rating calculations are done by addons-server.

[2017-03-29 15:48] diox commented on #3503
I added a `--use-uuid` option to `compress_assets` command and upgraded jingo-minify in #5058. I'll follow up with a PR to use that option.

[2017-03-29 15:54] bkzhang commented on #5056
It seems like the addon was removed, it does not appear for me.

[2017-03-29 16:47] bqbn commented on #4931
Can I get an estimated timeline for this, if possible?

Logging 2.0 is supposedly a lot better than our current logging platform. For example, we no longer share the elasticsearch and kibana cluster with other non-amo services and there is a dedicated grep host in each environment that developers will have access to as well.

[2017-03-29 17:30] diox commented on #4931
It should be ready for next week's tag.

[2017-03-29 19:14] jvillalobos commented on #5056
Yes, it sounds like it was a temporary caching issue. I don't see the add-on on the first few pages of that list.

[2017-03-29 19:14] #5056 closed

[2017-03-29 19:21] lavish205 commented on #3514
yes

[2017-03-29 19:21] lavish205 commented on #3514
yes @wagnerand, I'm unable to reproduce it. Can you help me in re-producing this bug.

[2017-03-29 19:59] eviljeff commented on #3381
is this still valid?

[2017-03-29 20:42] reza122 opened #5064 "https://www.trendyol.com/Her-Bedende-siklik---Kadin-Tekstil/ButikDetay/160326/Kadin"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-03-29 20:42] #5064 closed

[2017-03-29 21:18] jvillalobos commented on #3381
I don't think so? Either way, we're making some changes to the submission flow with the post-review work, so this will change anyway.

[2017-03-29 21:18] #3381 closed

[2017-03-29 22:03] #3503 closed

[2017-03-30 01:41] pwalm commented on #5006
I'd rather we didn't remove the "1 2 4... 18" numbers from pagination. It's a good/quick way to show users how many results they have to sift through. I've designed this for AMO:
<img width="931" alt="screen shot 2017-03-30 at 9 40 38 am" src="https://cloud.githubusercontent.com/assets/6797635/24483779/f45a9e38-152c-11e7-8622-fc26fad83722.png">

If this is a blocker, are there any alternative opti

[2017-03-30 07:41] pwalm commented on #4818
Do you guys need guidance from ux on this? Or do you just need to a show a tag or something similar to denote this extensions status?

[2017-03-30 07:45] designakt commented on #4768
We show the users image, and to make it more explicit a tooltip could be added. But I don't think we need to be more explicit about it than that.

[2017-03-30 07:47] pwalm commented on #3653
Yep, I can build this into AMO desktop screens. Do we need this on Devhub too?

[2017-03-30 08:03] ValentinaPC commented on #3514
@lavish205 : just click on the add-on link from the first comment and you will be able to reproduce this.
The button should be blue for both "normal" and experimental add-ons.
The confusion is made because of the fact that "Add to Firefox" button for an experimental add-on is yellow.
Hope I helped!

[2017-03-30 08:06] lavish205 commented on #3514
@ValentinaPC can you provide me an example, how it should actually look like?

[2017-03-30 08:08] ValentinaPC commented on #3514
Yes, sure -> https://addons-dev.allizom.org/en-US/firefox/addon/leechblock/?src=hp-dl-featured

[2017-03-30 09:23] diox commented on #5006
We have another workaround that doesn't change pagination. @kumar303 you weren't a fan of my proposal in https://github.com/mozilla/addons-server/issues/5006#issuecomment-289429125 but it's still on the table :)

[2017-03-30 11:38] ValentinaPC commented on #4572
@EnTeQuAk : I am able to reproduce this **on device** under FF52(Android 6.0.1).
While the language selector from desktop will be "fixed" with the new frontend, this fix will also propagate on device?

[2017-03-30 13:18] diox commented on #4703
Forward-duping to https://github.com/mozilla/addons-server/issues/5055

[2017-03-30 13:18] #4703 closed

[2017-03-30 14:27] diox commented on #949
Here is a detailed analysis of why we need each of those middlewares.

[code]

Needed for datadog dashboards. Would be nice if they were combined into a
single middleware, though.

[code]

Needed to make `REMOTE_ADDR` correct.

[code]

Not currently on master, but soon will be. Needed for logging. It sends the request.summary event log that our logging
platform expects.

[code]

Needed for app/loc

[2017-03-30 14:27] #949 closed

[2017-03-30 15:12] kumar303 commented on #5006
I'm fine with https://github.com/mozilla/addons-server/issues/5006#issuecomment-289429125 (requiring a version ID) but I was just worried we'd forget about it in the future. Maybe the API can raise a 400 error if version is omitted somehow?

[2017-03-30 15:17] diox commented on #5006
Well from an API standpoint you could very well want to omit it, fetching all reviews from a user for a particular add-on (which is something that doesn't work yet, admittedly - atm we only get the latest version anytime an `addon` is passed - but I was planning to fix that and only fetch the latest version if `addon` is passed without other parameters)

[2017-03-30 15:52] #4613 closed

[2017-03-30 16:11] kumar303 commented on #5006
Alright, I suppose we could make the frontend code throw an error which should help us not accidentally get aggressively cached results.

[2017-03-30 16:45] #4556 closed

[2017-03-30 17:21] #5050 closed

[2017-03-30 17:21] #4916 closed

[2017-03-30 18:24] diox opened #5069 "Remove total_contributions field and related task"
`Addon` has a `total_contributions` field that well, represents the total number of contributions (donations) made to this add-on through AMO. We recalculate this field each time a contribution is made through a celery task.

But is that field useful to anyone ? It's not exposed anywhere AFAIK. Removing it would free up the task queues a little bit.

[2017-03-30 18:25] diox commented on #5069
@jvillalobos are you using this field ? Can we get rid of it ?

[2017-03-30 19:58] jvillalobos commented on #5069
You can see contribution stats in the statistics dashboard. I suppose that's where it's used.

[2017-03-30 20:00] jasonthomas commented on #5069
Can we just move this task to cron?

[2017-03-30 20:04] diox commented on #5069
The contribution stats dashboard uses the `Contribution` model/table rows, *not* that `total_contributions` field.

[2017-03-30 20:08] jvillalobos commented on #5069
If it's not being used, it's okay by me to remove it.

[2017-03-30 21:11] krupa commented on #4809
Please let us not close valid bugs just because it is a significant change to fix them. We can add a label like 'future' or 'hard to fix' but I don't think "requires proper planning" is a reason to close a bug as wontfix.

This is a user-facing bug which can lead to confusion. If we choose to wontfix the issue, please enumerate the thinking behind that reasoning which is not just "it has always be

[2017-03-30 22:59] krupa commented on #4974
Does 'future-compatible' translate easily to other locales easily?

Can we maybe highlight them by using something like https://www.dropbox.com/s/jrs2b5xmod0c7b7/Screenshot%202017-03-30%2015.58.06.png?dl=0 which is what yelp uses to indicate "hotness". That way we can highlight webextensions without getting into the messy web of compatibility.

[2017-03-30 23:48] jvillalobos commented on #4974
I don't think an icon will help make the flag more understandable, but it gives me the idea that there should be a hover text expanding on what it means.

[2017-03-31 14:21] muffinresearch commented on #4700
@eviljeff @diox are there concrete bugs that we can break out of this? It would be good to close this if we can file or point to specific bugs for each part that played it's part in creating this experience.

[2017-03-31 14:40] diox commented on #4700
Best I can tell there are 3 separate issues being reported here:
- Initial ["Could not parse the manifest file."](https://github.com/mozilla/addons-server/blob/b6db781146f9d18b20baff73800dfab0486bd722/src/olympia/files/utils.py#L656) ; This is an error when reading the zip file. AFAIK we haven't had any other complaints about this, it could be a temporary issue - we were deploying at the time this

[2017-03-31 16:40] muffinresearch commented on #4974
Ping @devaneymoz + @pwalm for input on this, since this labelling is a combination of UX + editorial.

[2017-03-31 17:07] devaneymoz commented on #4974
It's my understanding this label will only be a temporary thing displayed during the ramp up to 57, then it goes away. And it's further intended to speak to the leading edge tech audience, so I think that gives us some leeway to be more esoteric with language.

While I agree "future-compatible" is a bit abstract and would make for a good Death Cab for Cutie song title, I think it's primarily accur

[2017-03-31 17:23] andymckay commented on #4974
Could you say "Firefox 57+" compatible? I'd like to avoid using the term WebExtension if it all possible. We could force all non-WebExtensions to not have compatibility beyond Firefox 56, inside AMO. And then just do a lookup to determine which version it works on.

[2017-03-31 17:30] devaneymoz commented on #4974
@andymckay that's not a bad idea.

[2017-03-31 18:25] atsay commented on #4974
It might read better as "Compatible with Firefox 57+"

[2017-04-01 09:27] lavish205 commented on #3514
@wagnerand We need to remove class `caution` class from `<a>` from `src/olympia/addons/templates/addons/includes/install_button.html`. but value of class seems to be variable.
Can you help me in locating file from which we are passing value of the class in this template?

[2017-04-01 10:23] leedoyle opened #5073 "Clean Links deleted from AMO for allegedly not working with e10s"
Clean Links is a great extension that many users enjoyed, and in fact, the most popular and capable choice for deobfuscating links.
![LastSeenOnAMO](https://cloud.githubusercontent.com/assets/25978190/24577823/1859bb18-16de-11e7-9e3b-05271e432d52.png)
[extension link](https://addons.mozilla.org/en-US/firefox/addon/clean-links/)
[archived link](http://web.archive.org/web/20170311015206/https://addo

[2017-04-01 18:58] bkzhang commented on #4757
I'll pick this up

[2017-04-01 20:53] eviljeff commented on #4700
The slug issue is (iirc) an addon named `name` getting a slug of `name1`,
because `name` exists; but then the page JS seeing the name is `name` and
changing the slug to `name`, which then causes an error on submission
(obvs). It's possible this only happens on the second attempt (e.g. you
have some field error on the first submit of the page)

The categories bug I'm not sure about, but (random ide

[2017-04-01 23:17] diox commented on #3596
One way to fix this issue without doing #4649 and #3598:
- Move all unlisted files to a specific `unlisted-files/` directory, that works like the `guarded-addons` one, that is, there are no direct URLs for the files in that directory, you have to go through the django views that do the relevant permission checks, and then use `X-Accel-Redirect` if it's an unlisted file
- Avoid touching unlisted fi

[2017-04-02 09:19] lavish205 commented on #4744
I would like to work on this bug. @eviljeff

[2017-04-02 09:21] lavish205 commented on #3752
I would like to work on this bug. @eviljeff

[2017-04-02 13:26] linditajuve opened #5075 "face"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-02 23:08] brampitoyo commented on #3634
I believe we’ve completed the UI design for this feature, so I’m taking the label off. Feel free to put it back on if there’s anything else that we should work on!

[2017-04-03 02:55] EnTeQuAk commented on #5075
Please fill in the required fields if you have an actual problem to report. Closing this because of missing information to act on.

[2017-04-03 02:55] #5075 closed

[2017-04-03 06:40] EnTeQuAk commented on #4572
I do think so, yes. Otherwise it's a bug imho that needs fixing in addons-frontend. Mind filing a bug there?

[2017-04-03 07:08] EnTeQuAk commented on #5073
Please contact the add-on author about his add-on as we do not remove add-ons unless there's a good reason, if something is not e10s compatible a user gets a proper warning instead.

[2017-04-03 07:08] #5073 closed

[2017-04-03 09:12] fitojb commented on #4658
It doesn’t appear like Tabzilla has any future, given that [a new global navigation component](https://github.com/mozilla/bedrock/pull/4738) is being built…

[2017-04-03 09:25] muffinresearch commented on #3632
Assigned to @EnTeQuAk to get an idea of what needs doing to implement this.

[2017-04-03 09:50] diox opened #5077 "Remove stats.models.ClientData and database table/foreign keys pointing to it"
The `ClientData` model was added in a32b7c3c4d029cb79a29f2dfc8c4cee6efafa4ff ; Its purpose is to "Help track user agent and download source data of installs and purchases."... for Marketplace. AMO does not need/use it, we should remove it.

[2017-04-03 10:25] EnTeQuAk commented on #3514
@lavish205 thanks for looking into this!

The `caution` class comes from https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/buttons.py#L201-L210 and there's a few tests referring to it in src/olympia/addons/tests/test_buttons.py (lines 238, 248, 260). Let me know if you need more information about this.

[2017-04-03 10:47] diox opened #5079 "Replace paypal-based contribution mechanism by something simpler"
AMO Contributions code relies entirely on Paypal, which we call using an API, with some callbacks on our side etc. We also have contributions stats for developers.

All of this is a bit complex, with lots of code involved, for a feature that is itself important (giving developers a mean to receive donations) but not widely used. It's a maintenance burden, we should try to simplify it.

@jvillalobo

[2017-04-03 12:08] wagnerand opened #5081 "Activity email: Reviewer replies, information requests issues"
### Describe the problem and steps to reproduce it:

The activity email feature currently misses an important piece which makes it very difficult to work with and limits usefulness severely: Information requests are not picked up.

Actually the issue is two fold:
1) On AMO, reviewers cannot sent a _Reviewer reply_, only an _Information request_, which is not picked up by activity mail and therefor

[2017-04-03 12:28] diox commented on #5069
Task was removed in https://github.com/mozilla/addons-server/issues/5070 ; the field is still here but can be removed at any time. Note that it defaults to `NULL` so we should be able to remove it from the models first and then from the db at a later date.

[2017-04-03 12:33] diox commented on #4607
From @eviljeff in #4700:

[2017-04-03 12:36] diox opened #5082 "Impossible to select a category if submission went wrong"
It's possible to end up in a state where [it's impossible to select a category when editing details of an incomplete add-on](https://github.com/mozilla/addons-server/issues/4700#issuecomment-280711860).

From #4700 @eviljeff had a theory:

That seems plausible. It certainly does not happen often (if it's even still possible to reproduce) - but we should look into this.

[2017-04-03 12:38] diox commented on #4700
I updated #4607 and filed https://github.com/mozilla/addons-server/issues/5082. The initial issue with the "could not parse the manifest file" remains but I believe it was just a temporary issue ; fixing the other 2 would unblock developers ending in this situation, so I'm closing this bug.

[2017-04-03 12:38] #4700 closed

[2017-04-03 12:45] diox commented on #4931
This is blocked by https://github.com/mozilla-services/python-dockerflow/pull/9

[2017-04-03 14:02] muffinresearch commented on #2448
Since there are no current plans to do this , closing. We can always reopen if needed.

[2017-04-03 14:15] muffinresearch commented on #4658
@fitojb thanks for the heads up. Our new desktop UX which is being worked on in Q2 features the new logo so I think for now for this specific issue we can resolve it there without relying on any upstream project.

[2017-04-03 14:23] ValentinaPC opened #5083 ""Upload another file" is not available for and Android compatible add-on"
Steps to reproduce:
1. Submit an add-on compatible only with Android i.e. https://addons-dev.allizom.org/en-US/developers/addon/legacy-android/versions/1531893
2. Add a new file for its version

Expected results:
A new file can be added.

Actual results:
"Upload another file" button is not available.

Notes/Issues:
- only "Android" option is displayed in the file drop-down
- if a new compatibility

[2017-04-03 15:18] ValentinaPC opened #5085 "Trying to submit a multi-platform add-on after an 1-platform add-on will not reset the platform availability"
Steps to reproduce:
1. Select an Android-only compatible add-on file from submission page https://addons-dev.allizom.org/en-US/developers/addon/submit/upload-listed
2. Observe platform availability (only Android available -> expected)
3. Refresh the page and select a multi-platform compatible add-on file
4. Observe the platform availability

Expected results:
Platform availability is reset.

Actua

[2017-04-03 15:20] diox commented on #4974
I apologize for the bike-shedding, but I am not a big fan of any of those proposals.
- "Compatible with Firefox 57+"  exposes Firefox version numbers, which are pretty opaque/meaningless/confusing for end-users. I suspect most end-users don't know which version they are running.
- "Webextension" has similar issues. What is a "WebExtension" for a end-user ?
- "Future-compatible" is vague (though it

[2017-04-03 15:23] davidhedlund commented on #4974
@diox What about adding dev.addons.mozilla.org?

Example
* https://addons.mozilla.org/en-US/firefox/addon/bulk-media-downloader/
* https://dev.addons.mozilla.org/en-US/firefox/addon/bulk-media-downloader/ -- To show additional information on the page for developers.

[2017-04-03 15:28] diox commented on #4974
This issue is not about showing additional information to developers, it's about adding it to end-users. I'll add the information to the API and developers will be free to use an extension or whatever they like to display it, but this is not what we are worried about here.

[2017-04-03 17:05] jvillalobos commented on #5081
Why does there need to be a distinction between an info request an a reply? If a reviewer is sending something to the developer, it should be because there's still something pending from the developer.

[2017-04-03 17:33] wagnerand commented on #5081
Not every reviewer reply is a information request. Imagine the following scenario:

1. Developer sends a reply (for whatever reason) with some questions.
2. Reviewer replies and answers questions (currently using information request, although it's not really an information request).
3. Add-on is now marked as "Information needed", when it really doesn't need any information.

[2017-04-03 20:13] jvillalobos commented on #5081
After step 2, the add-on should either be reviewed by the reviewer, or it's pending something from the developer. I think adding the checkbox makes this more complicated than it should be.

[2017-04-03 20:35] Akkuma commented on #4716
@diox http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#uploading-a-version vs http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#downloading-signed-files vs http://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#profile

I've used REST APIs quite a bit and never expect a trailing slash to matter, since I've never ran into a case until now tha

[2017-04-03 20:56] diox commented on #4716
If the only one without a trailing slash is the one to download signed files, then it makes sense as the extra stuff after the last slash is just to make it look more like a filename - as mentioned in the docs it's just for convenience.

Overall our APIs were built with a mandatory trailing slash in mind, because that's the default in the framework we use. I do agree that it could be slightly bett

[2017-04-03 20:56] #4716 closed

[2017-04-04 09:37] kewisch commented on #5081
The upside to an "information request" is that these can be ignored in the list until the developer replies. If there is no such checkbox and everything is a developer reply, then reviewers will be looking at information requests multiple times until they are actually resolved.

[2017-04-04 10:19] diox commented on #5006
Closing with qa not needed as it's just the API part ; QA will be needed in https://github.com/mozilla/addons-frontend/issues/2019 once frontend is updated to use the new API parameter.

[2017-04-04 10:19] #5006 closed

[2017-04-04 11:01] diox opened #5090 "Remove sandbox field from Review model"
The `Review` model has this field:
`sandbox = models.BooleanField(default=False)`

It does not appear to be used anywhere. If that's truly the case, let's remove it.

[2017-04-04 11:46] wagnerand commented on #5081
Unfortunately, the reality is that it's not working that way. There are plenty of examples only from a couple of weeks since we rolled this out.

Another example:

1. Reviewer rejects an add-on for some reason.
2. Developer sends a _Developer reply_ asking for clarification, more details etc.
3. Reviewer responds with explanations, further information etc. They are forced to use _Information reque

[2017-04-04 12:47] ValentinaPC opened #5092 ""Read More" link from add-on description is not displayed for Italiano"
Sorry for the noise - moved to https://github.com/mozilla/addons-frontend/issues/2225

[2017-04-04 12:48] #5092 closed

[2017-04-04 13:21] wagnerand opened #5093 "Fetching Add-on review history fails"
### Describe the problem and steps to reproduce it:

1. Go to https://addons.mozilla.org/en-US/developers/addon/qirimtatarca-til-destesi/versions
2. Click _Show Review History_ for version 52.0

### What happened?

[code]

### What did you expect to happen?

Seeing the review history.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-04 13:27] ValentinaPC commented on #5093
This is happening, for sure, starting from about a week ago.
Please see my comment from https://github.com/mozilla/addons-server/issues/4915

[2017-04-04 13:42] wagnerand commented on #5093
Actually, I think https://github.com/mozilla/addons-server/issues/4915#issuecomment-289744624 is related to this issue, while the original report for #4915 is something else, as the error message is different.

[2017-04-04 13:47] ValentinaPC commented on #5093
As you can read in my comment, I also received Jorge's error, while using a new clean profile, that is why I chose to comment there and not to log another issue.

[2017-04-04 13:51] ValentinaPC opened #5094 "Please add "Urdu" language to AMO desktop site"
Steps to reproduce:
1. Load AMO-dev page on desktop https://addons-dev.allizom.org/en-US/firefox/
2. Change the language to "ur"

Expected results:
The language is available in the drop-down.

Actual results:
The language is not available in the drop-down.

Notes/Issues:
Verified on AMO-dev FF52(Win 7).
The language is added to mobile site as for https://github.com/mozilla/addons-frontend/pull/220

[2017-04-04 14:03] diox commented on #5093
I missed a spot when changing the token cookie name in #4907. Will fix.

[2017-04-04 14:14] #5093 closed

[2017-04-04 14:49] ValentinaPC commented on #5093
Verified as fixed on AMO-dev FF52(Win 7).
New submission, listed/unlisted or mixed add-ons/webext, awaiting or approved versions - all seem to return correct the info from Review History section using an old or a new-clean profile.
Postfix screenshots:
![2017-04-04_1745](https://cloud.githubusercontent.com/assets/15685960/24662764/befbd5be-195e-11e7-9a77-f9736cbbdeb0.png)
![untitled](https://cloud

[2017-04-04 14:51] ValentinaPC commented on #4915
Based on #5093 I'll close this also and mark it verified-fixed.

[2017-04-04 14:51] #4915 closed

[2017-04-04 14:56] jvillalobos commented on #5081
Yeah, I agree on naming the feature something more general than "Information request", since this is more about having an online chat between developers and reviewers. I also agree that those messages should be included in the activity email. What I think makes this more complicated than needs be is to have two different message types, so I think that should be dropped for now.

[2017-04-04 15:00] wagnerand commented on #5081
I considered that too. However, I do think that having a clear note indicating that an action is required is important.
As a follow up of this issue, I'd like to rewrite the need-info mail to make it similar to regular replies, or even use the same template and just add a note at the beginning.

[2017-04-04 15:00] ValentinaPC commented on #4915
Synchronization and its odd results. Sry @muffinresearch :)

[2017-04-04 18:39] devaneymoz opened #5099 "Disco Pane content update - April"
For the **20 April** push, can we please REMOVE:

- Video DownloadHelper
- all three current themes

… and REPLACE them with Bulk Media Downloader and three new themes.

**Download media**
with [Bulk Media Downloader](https://addons.mozilla.org/firefox/addon/bulk-media-downloader/)
Manage massive audio, video, and image downloads with this lightweight tool.

[themes]

[Japanese Tattoo](https://add

[2017-04-04 21:39] kumar303 opened #5102 "Make database migrations work locally in Docker"
### Describe the problem and steps to reproduce it:

Get new code for development with a command like this:
[code]

### What happened?

The database migrations fail. Every. Single. Time. (Well, it feels like it.) It's usually some kind of foreign key constraint because of mismatched column types.

### What did you expect to happen?

I just want want my rug back, man. It really tied the room togeth

[2017-04-04 22:14] kumar303 commented on #5102
Example: https://github.com/mozilla/addons-server/pull/5091#issuecomment-291648954

[2017-04-04 22:35] diox commented on #5102
That's super annoying to maintain. Sure, you can do this once, but it needs to work for a new env as well... So you'd have to hack something around which migration to start from, and hope for the best... The real solution is to sync production with the django models, and then use django migrations instead of schematic and stop this nightmare... but for that, we need time.

[2017-04-04 22:43] kumar303 commented on #5102
I guess my real feature request is "make DB migrations work in Docker." I don't care how it happens.

[2017-04-05 05:51] EnTeQuAk opened #5104 "Upgrade to ElasticSearch 5.x"
We are currently running a very old version of elasticsearch which is already out of life at the moment. Let's upgrade to elasticsearch 5.x.

@bqbn what version is it we're upgrading to exactly on ops-side? 5.3 already or is it still 5.1?

We started working on this last year at our all hands and ran into a few problems running it on travis, let's finish this.

I discovered that running elasticsea

[2017-04-05 09:04] muffinresearch commented on #5099
@EnTeQuAk As always we'll need get the strings landed early to give translators as much time as possible ahead of the 20th release.

[2017-04-05 09:23] diox commented on #5102
That's https://github.com/mozilla/addons-server/issues/3705

[2017-04-05 09:23] #5102 closed

[2017-04-05 09:24] diox commented on #5077
Re-opening to re-re-fix the migration, per https://github.com/mozilla/addons-server/pull/5091#issuecomment-291648954

[2017-04-05 10:25] ValentinaPC opened #5105 "Search by tags is returning an old mobile page while "View Mobile Site" link is clicked"
Steps to reproduce:
1. Load details page for an add-on that has some tags available i.e. https://addons.mozilla.org/en-US/firefox/addon/instant-translate/
2. Click on any listed tag
3. Click "View Mobile Site" from page footer

Expected results:
Nothing happens because the page does not exist on mobile.

Actual results
An old mobile page is displayed.

Notes/Issues:
Verified on FF52(Win 7). Issue

[2017-04-05 13:14] ValentinaPC opened #5109 "Admin changed add-on status to "awaiting..." will not remove it from a collection"
Prerequisites:
- user is signed in with an admin account;

Steps to reproduce:
1. Create a collection in AMO-stage i.e. https://addons.allizom.org/en-US/firefox/collections/Vivre/collection-unreviewed-add-on/
2. Pick an add-on from that collection and change its status to "Awaiting review"
3. Go to collection page again

Expected results:
Add-on is no longer displayed inside the collection.

Actua

[2017-04-05 14:10] madalincm commented on #4556
Verified as fixed in FF52 (Win7) in addons-dev.allizom.org
postfix screencast:
![4556postfix](https://cloud.githubusercontent.com/assets/15685441/24709494/c292cd6c-1a22-11e7-865b-b31a242b3fb1.gif)

[2017-04-05 14:58] diox commented on #4533
What's left for this issue:
- Implement actual auto approval in the command
- Run it one more time manually (once in dry-run, once for real)
- Verify that everything went right, and run it via crontab

Once that is done I'll work on [post-review](https://docs.google.com/document/d/1hVx-NbuVRc0wKXSdt8eHceObexY93YFzMXtqYC95nUs/edit#) next - adding a list of auto approved add-ons/versions in reviewer

[2017-04-05 15:00] ValentinaPC opened #5110 "Legacy add-on with correct maxVersion is restricted at submission with incomplete error message"
Steps to reproduce:
1. Try to submit a legacy add-on that has an accepted `maxVersion` (ex. 52) but without `strict compatibility `

Expected results:
A clarification error message is displayed.

Actual results:
The message "Starting with Firefox 53, new extensions on this site can only be WebExtensions." is displayed.

Notes/Issues:
- user may be confused about the reason of its submission restri

[2017-04-05 15:32] jvillalobos commented on #5110
We don't want to encourage people to use `strictCompatibility`, and we can respond to it if they ask us about it. For now I'd rather not change the text, but will reconsider if it becomes a big problem.

[2017-04-05 15:32] #5110 closed

[2017-04-05 16:53] jvillalobos commented on #4533
I reviewed the add-ons flagged by the first command run and nothing stood out as a problem. We're good to go with the current set of rules.

[2017-04-05 18:52] jvillalobos commented on #5081
After some discussion on IRC, I'm still not sure about the checkbox and splitting replies and info requests. I suggest splitting it into a separate bug, and focus on the more critical issue here:

1. Rename the `Information request` tab in review pages to `Reviewer reply`. Reword the line that appears in the form from `This will request more information from the developer.` to `This will send a me

[2017-04-05 22:23] kumar303 opened #5112 "Prevent redux from logging so much server side"
Our Redux logger prints the entire state tree on the server for every dispatched action. This is useful on the client but not so much on the server. Let's quiet it down.

[2017-04-06 01:01] caciola opened #5113 "Click Video Download"
### What happened?
The  Click Video Download  not is run...

[2017-04-06 08:38] vcarciu opened #5114 "Support section from "Write a review" for is not working at a second try"
Steps to reproduce:
1.Go to any add-on with support section )https://addons.allizom.org/en-US/firefox/addon/stratiform/?src=hp-dl-featured )
2.Click "Write a review " button
3.In the Review pop-up window, click the "support section" link and observe that you were redirected to add-on detail page with support links in the right side
4.Click again "Write a review" button
5.In the Review pop-up windo

[2017-04-06 09:39] ValentinaPC opened #5116 "Profile picture with significant difference between height and width brakes Dev Hub page"
Steps to reproduce:
1. Set a profile picture (with big height) - https://addons.allizom.org/en-US/firefox/users/edit
2. Load Developer Hub page i.e. https://addons.allizom.org/en-US/developers/
3. Observe account icon

Expected results:
There are no display or layout issues.

Actual results:
The account icon brakes the page.

Notes/Issues:
- issue is also reproducing for profile picture with big w

[2017-04-06 10:17] ValentinaPC commented on #4234
@diox : new files are in the "updates" category? Because new files that are legacy add-ons with `maxVersion` over 53 are not restricted.

[2017-04-06 10:23] diox commented on #4234
What and where are you testing exactly ? Is the waffle enabled ?

[2017-04-06 10:34] ValentinaPC commented on #4234
Yes, the waffle is enabled. Stage.
I submitted a webextension and selected only Linux, then added a new file for the same version but other platform (new file was a legacy add-on with `maxVersion` 55) and it was not restricted.

[2017-04-06 10:53] diox commented on #4234
This is an edge case we are not concerned about for this issue. There is another issue filed to prevent you from doing this, https://github.com/mozilla/addons-server/issues/4689

[2017-04-06 11:07] eviljeff commented on #4744
@lavish205 great.
The two files that need changing are
https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/email/submission.html
https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/email/submission.txt

[2017-04-06 11:12] eviljeff commented on #3752
@lavish205 great.
Should just be a matter of wrapping https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/personas/edit.html#L55 in `{% if ... %}` where you check `addon.status == amo.STATUS_PUBLIC`

[2017-04-06 11:54] ValentinaPC opened #5117 ""Cancel Review and Disable Version" for third version also disables second unapproved version of an add-on"
Steps to reproduce:
1. Submit a listed add-on https://addons.allizom.org/en-US/developers/addon/submit/upload-listed and approve it
2. Add a second listed version for this add-on (without approve)
3. Add a third version, but stop the submission process by clicking the "Cancel Review and Disable Version"
4. Go to "Manage Status and Versions" page

Expected results:
Only third version is disabled.

[2017-04-06 12:14] ValentinaPC opened #5118 "Legacy add-on with "maxVersion" 53.0a1/53.0a2 is not restricted at submission"
1. Try to submit a legacy add-on with `strict compatibility` set to `true` and `maxVersion`: 53.0a1

Expected results:
Submission is restricted.

Actual results:
Submission passes.

Notes/Issues:
- add-ons with `maxVersion` 53 or 54.0a2 are restricted
Verified on FF55(Win 7). Issue is reproducing on AMO-stage and -dev.

Attaching used add-on.
[fx54-0a2-sc.zip](https://github.com/mozilla/addons-ser

[2017-04-06 12:17] eviljeff commented on #4809
Just _some_ of the problems with changing to rely on the current version's xpi data to be the source of truth for metadata are: we have extra data that isn't in the manifest (summary; categories; version notes; etc); multiple files per version which might have different names and other metadata;  all localisation of metadata would need to be in the xpi or AMO wouldn't know what to do about changes

[2017-04-06 12:35] ValentinaPC opened #5119 "Multipack extension containing unsigned add-ons does not raise a warning at validation"
Steps to reproduce:
1. Submit a multi-pack extension containing unsigned add-ons

Expected results:
A warning about this is displayed during submission.

Actual results:
No warning.

Notes/Issues:
Verified on FF55(Win 7). Issue is reproducing on all AMO-servers.
Used extension: https://addons.allizom.org/en-US/firefox/addon/multipackaddon-test/

[2017-04-06 15:25] jvillalobos commented on #5113
If this is a problem you're experiencing with an add-on, please contact the add-on developer for help.

[2017-04-06 15:25] #5113 closed

[2017-04-06 16:56] EnTeQuAk commented on #5099
Scheduled merging the changes (opening the PR a bit earlier) for next Tuesday (04/11) after the tag.

[2017-04-06 17:26] #4931 closed

[2017-04-06 17:29] jvillalobos commented on #4974
I think "Compatible with Firefox 57+" has become the top choice. The "future" options sound like we're promising too much, and we really don't want to use "WebExtensions".

For the tag I suggest we use "firefox57".

For the hover text, I'm suggesting "This add-on is built on new technology that is compatible with future versions of Firefox."

[2017-04-06 18:23] krupa opened #5121 "Show the add-on status and last updated date when there are no related versions"
### Describe the problem and steps to reproduce it:
1. Submit a new add-on
2. After the submission is complete, navigate to Manage Status & Versions
3. Delete the version
4. Check the add-on status shown on the left-hand side navigation bar

### What happened?
The Last Updated: section is empty
The add-on status is not displayed anywhere

### What did you expect to happen?
'Last Updated:' shows th

[2017-04-06 20:51] atsay commented on #4974
I wouldn't use "future" here either. I suggest this: "This add-on is built with new technology that is compatible with Firefox 57 and beyond."

[2017-04-06 22:27] kumar303 opened #5122 "Provide error codes for failed API auth responses"
### Describe the problem and steps to reproduce it:

Open a page on mobile AMO, let your auth token expire (see https://github.com/mozilla/addons-frontend/issues/2130), and try to do something requiring auth like submit a star rating.

### What happened?

The API returns a response like:
[code]

### What did you expect to happen?

We need some kind of error code we can use, like:
[code]
### Anythi

[2017-04-06 22:41] kumar303 commented on #5122
I would be using the code for https://github.com/mozilla/addons-frontend/issues/2238 but I can use the message string until it's ready.

[2017-04-06 23:45] diox commented on #5122
Random drive-by thought I need to write down somewhere: investigate whether providing an empty implementation for `perform_authentication()` for `AddonSearchView` and similar class that don't need auth entirely improves perf or not. It makes auth lazy, which might help (or might not make a difference : maybe `authentication_classes = []` is enough to avoid hitting most of the code anyway)

[2017-04-07 06:43] EnTeQuAk commented on #4768
The tooltip part is relatively useless for mobile imho, I'm closing this as it's currently the best we can do.

[2017-04-07 06:43] #4768 closed

[2017-04-07 08:50] dstillman opened #5124 "Error submitting extension to unlisted channel via API or website"
### Describe the problem and steps to reproduce it:

I haven't been able to submit a new unlisted version of my (small) WebExtension since April 2. New listed versions work via the website.

### What happened?

I get a timeout from the API via `web-ext`. On AMO, I get "Oops! We had an error. We'll get to fixing that soon." trying to submit after successful validation (with a single warning and no

[2017-04-07 08:57] dstillman commented on #5124
Oh, and I should probably mention, for `web-ext` I [modified](https://github.com/mozilla/web-ext/issues/877#issuecomment-289139651) the `sign-addon` module locally to pass the `channel` parameter to the API in order to fix a bug in `web-ext` when the last-uploaded version from the website was listed. But this doesn't apply to the website attempts, obviously — for that I'm just selecting "On your o

[2017-04-07 09:45] diox commented on #5124
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/390602/

cc @EnTeQuAk since that looks similar to the encoding issues we had with other devhub/file viewer parts in the past.

[2017-04-07 10:09] erosman commented on #4974
What about "**Multi-Process**" tag to indicate addon is Multi Process Compatible?!

[2017-04-07 10:14] EnTeQuAk opened #5125 "remove Addon.prerelease column?"
I can't tell much about how it's supposed to be used but it's apparently unused so let's get rid of it if possible.

[2017-04-07 10:21] diox commented on #5112
Should this be in addons-frontend ?

[2017-04-07 10:59] EnTeQuAk commented on #4321
Closing as this isn't not really a problem for us on addons-server and it makes more sense to work on something webpack related instead of switching to yarn imho.

[2017-04-07 10:59] #4321 closed

[2017-04-07 11:41] Tormen opened #5128 "Trying to attempt to donate using the "contribute" button always fails"
User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:52.0) Gecko/20100101 Firefox/52.0
Build ID: 20170330221232

Steps to reproduce:

* open "about:addons"
* select addon (in my case "Add URL to Window Title")
* click "preferences"
* click "contribute" button
* which redirects (opens a new tab) for:
https://addons.mozilla.org/en-US/firefox/addon/add-url-to-window-title/developers?src=api
* click "contri

[2017-04-07 13:55] diox commented on #5077
Fixed again in 2f905b0ac1189079b862edafd0587ab964230d00

[2017-04-07 13:55] #5077 closed

[2017-04-07 14:36] diox commented on #5059
I've got [a branch that implements this](https://github.com/diox/olympia/tree/improve-reviews-aggregate-query), but I want to get a second opinion on this.

@jvillalobos doing this will lower the total reviews count (since older reviews from a given user would be ignored) and alter the averages (for the same reason). Does that seem ok to you ? It seems fair to me but at the same time changes the e

[2017-04-07 14:38] #4533 closed

[2017-04-07 15:32] eviljeff commented on #5124
@dstillman do any of the filenames in your zip include non-ascii characters?

[2017-04-07 16:31] kumar303 commented on #5112
Ha, sorry. https://github.com/mozilla/addons-frontend/issues/2239

[2017-04-07 16:31] #5112 closed

[2017-04-07 16:38] jvillalobos commented on #5059
Yes, it makes ratings more accurate, so I'm okay with it.

[2017-04-07 17:54] dstillman commented on #5124
Nope. I'm bundling XRegExp, which has all sorts of crazy characters in it, but filenames themselves are all ASCII. (And the same code, with `applications.gecko.update_url` removed from the manifest, uploads successfully on the listed channel.) Here's the ZIP if it's helpful: [first_mention-1.0.5.zip](https://github.com/mozilla/addons-server/files/906396/first_mention-1.0.5.zip)

[2017-04-07 19:42] diox commented on #5124
Mmm, I must be wrong about the sentry traceback then.

[2017-04-07 19:52] chickahoona opened #5130 "Links for an own uploaded app are broken"
### Describe the problem and steps to reproduce it:

I uploaded an app some time ago and never published it. Now I wanted to upload a new version and follow on this page:
https://addons.mozilla.org/de/developers/addons?sort=name

This link for example:
https://addons.mozilla.org/de/developers/addon/psonopw/edit

(Also all other links related to my app, e.g. https://addons.mozilla.org/de/developers

[2017-04-08 13:48] diox commented on #5124
Actual sentry traceback for the devhub upload attempt: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/390109/

Somehow the `Version` ends up with no files, or at least an empty `all_files` property.

[2017-04-08 13:56] diox commented on #5124
The code that fails was added in 16448298581c81d6c3e0cafc7cbcc3f900d803f1, which is consistent with @dstillman reporting that it started to happen on April 2nd - that code was pushed on March 30th. It affects 5 other users according to sentry, bumping priority.

[2017-04-10 07:19] elfne commented on #4555
Hi,

sorry for this late answer, I was on vacation.
Unfortunately, I don't have a copy of the manifest which caused problem.
Just in case I'll have a look this evening on my personnal laptop but
chances are quite thin...
Regards
Maxime

2017-03-21 12:37 GMT+01:00 Mathieu Pillard <notifications@github.com>:

[2017-04-10 08:32] ValentinaPC opened #5133 "Complete Themes with maxVersion>53 are not blocked at submission"
Prerequisites:
- flag "`restrict-new-legacy-submissions"` enabled

Steps to reproduce:
1. Try to submit a Complete Theme with `maxVersion` set to 55 in AMO-dev https://addons-dev.allizom.org/en-US/developers/addon/submit/upload-listed

Expected results:
Complete Themes are treated like legacy add-ons, therefore blocked at submission if `maxVersion` over 53.

Actual results:
Complete Themes can be

[2017-04-10 08:45] JustOff opened #5134 "Source code viewer returns error"
### Describe the problem and steps to reproduce it:
Follow "View the source" link for any add-on.

### What happened?
[code]
### What did you expect to happen?
The source should be there.

[2017-04-10 08:48] EnTeQuAk commented on #5134
Please see https://mail.mozilla.org/pipermail/dev-addons/2017-April/002713.html fore more details. This is a temporary measure to fix an ongoing performance problem we had server-side and we disabled the source-viewer for public until it's properly resolved. It will be re-enabled, we just don't have a date for that yet.

[2017-04-10 08:48] #5134 closed

[2017-04-10 08:58] JustOff commented on #5134
Since you've closed this issue (despite it still unresolved) where can I track the status of the problem to know when the source-viewer will be re-enabled?

[2017-04-10 09:01] EnTeQuAk opened #5135 "Improve source-viewer i/o performance, make sure it's not DOSable"
In our last push (https://mail.mozilla.org/pipermail/dev-addons/2017-April/002713.html) we had to disable our source-viewer temporarily to make sure our servers are not impacted too much by it. It's only available to reviewers and admins for now.

This issue is to track progress on fixing potential issues or thinking about other ways of re-enabling the source-viewer, e.g make it more performant, p

[2017-04-10 09:02] EnTeQuAk commented on #5134
I just opened https://github.com/mozilla/addons-server/issues/5135 for it, there'll be more added to it as I finish cleaning up my notes.

[2017-04-10 09:03] JustOff commented on #5134
Thank you.

[2017-04-10 09:14] kewisch commented on #4234
@jvillalobos, @diox  What are we doing for legacy add-ons that are in the queue right now and we have to reject because of issues? I suspect uploading a new version with fixes will still consider this addon to be "new". Developers can be unhappy if after waiting for a long while we rejected them with a valid (but possibly minor) issue and fixing that issue is not possible without rewriting as a We

[2017-04-10 09:21] ValentinaPC opened #5136 "Submission is not working on AMO-stage"
Steps to reproduce:
1. Try to submit an add-on in AMO-stage - https://addons.allizom.org/en-US/developers/addon/submit/upload-listed

Expected results:
User is able to submit an add-on.

Actual results:
User is blocked by a **continuous validation**.

Notes/Issues:
After 30 minutes, an error message is displayed;
Verified on FF52(Win 7). Issue is _only_ reproducing on -stage.
See screenshot for th

[2017-04-10 09:23] kewisch opened #5137 "amo-editors spam from activity email"
amo-editors has been getting various email from AMO replying to spam that is not setting activity mail uuids. Example (most headers removed for brevity):

[code]

[2017-04-10 09:47] #5122 closed

[2017-04-10 09:50] diox commented on #5133
The PRD only mentioned extensions, not themes, complete or not, I suspect because the new theme stuff isn't ready yet. @jvillalobos can you confirm it's ok?

[2017-04-10 09:54] diox commented on #4234
No, AFAIK the restrictions should not apply in this case.

[2017-04-10 09:57] ValentinaPC commented on #5133
Based on https://blog.mozilla.org/addons/2017/02/16/the-road-to-firefox-57-compatibility-milestones/ -"Legacy Add-ons" section, and the idea that CT are in fact legacy add-ons, I made the supposition that is should behave alike....

[2017-04-10 09:57] diox commented on #5137
It's controlled by the `activity-email-bouncing` waffle switch. @jvillalobos @bqbn should we disable that switch ?

[2017-04-10 13:16] #5124 closed

[2017-04-10 13:17] diox commented on #5124
I fixed this on our `master` branch, it should land in production Thursday around 19:00 UTC.

[2017-04-10 13:19] #5059 closed

[2017-04-10 13:19] diox commented on #5059
QA: note that the fix will only be applied once a new review/rating is posted for each affected add-on.

[2017-04-10 13:38] diox commented on #5137
To clarify: I know the waffle switch controls exactly that and only that ; my concern is, what are the consequences of disabling those bounces ?

[2017-04-10 13:56] jasonthomas commented on #5136
There was a issue with a rabbitmq node in our cluster on stage which caused the cluster to be sad. I've fixed the node and restart all workers. This should now be working.

[2017-04-10 13:56] #5136 closed

[2017-04-10 14:08] ValentinaPC commented on #5136
Yes it does. Thanks!
Verified as fixed on AMO-stage FF52(Win 7).
Postfix screenshot:
![stage](https://cloud.githubusercontent.com/assets/15685960/24865570/5486aae0-1e10-11e7-8dc8-076a201dbf37.png)

[2017-04-10 14:17] jvillalobos commented on #5137
This was introduced in #3555. The consequence of those bounces is that some malformed replies from legitimate developers will get dropped with no action. I suppose those are rare enough and don't warrant the volume of spam amo-editors is getting (I'm told it's 1-2 emails per minute).

I'll disable the switch for now.

[2017-04-10 15:56] jvillalobos commented on #5137
It's off now and that fixed the problem. @jasonthomas is investigating if there's a way to filter the spam emails on the socketlabs side. We can enable the switch again if we find a good way to filter those emails.

[2017-04-10 15:56] #5137 closed

[2017-04-10 19:46] jvillalobos commented on #4234
If the restrictions don't apply in that case (which is good), we should still review them.

[2017-04-10 19:48] jvillalobos commented on #5133
We hadn't made a decision on Complete Themes when we filed #4234, and this issue is valid. Not a terribly urgent thing, since new Complete Themes should be extremely rare.

[2017-04-10 20:06] kumar303 commented on #4757
Hi @bkzhang , sorry for the inconvenience but I had to revert this commit, see https://github.com/mozilla/addons-server/commit/0efeed55fb1c05050b7e0da99edde02cde6b92b5

Can you reapply the patch without the jétpack.xpi file?

The patch introduced a new file named jétpack.xpi even though an old one still exists. This is what github showed in the file list:
<img width="996" alt="screenshot 2017-04-1

[2017-04-10 21:05] raymak opened #5144 "Shield Study 10 (Page Reload Study) Static Pages"
Consent Page for Shield Study 10 - Page Reload Study
See bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1353879

[2017-04-10 22:09] jvillalobos opened #5146 "Add Manage API Keys to Dev Hub footer"
The Tools menu in the AMO header has some developer options, one which is `Manage API Keys`. It takes you to a [page](https://addons.mozilla.org/developers/addon/api/key/) where you can generate API keys to submit add-ons. The new [Developer Hub](https://addons.mozilla.org/developers/) doesn't offer that option. I think it should be added to the footer, in the `Tools` subsection (under `Compatibil

[2017-04-10 22:20] atsay commented on #5146
Sounds good. Do you think we ought to add a Tools menu to the header as well?

[2017-04-11 03:56] #5144 closed

[2017-04-11 07:38] ValentinaPC opened #5149 "Gmail account does not receive activity emails while being in "Activity Mail CC" group"
Prerequisites:
- user has a Gmail account that is added to "Activity Mail CC" group - https://addons-dev.allizom.org/en-US/admin/models/access/group/

Steps to reproduce:
1. Add a reviewer reply from Manage Status & Version page for an add-on i.e. https://addons-dev.allizom.org/en-US/editors/review/webext-activity
2. Check your Gmail account (that was added to the activity mail cc group)

Expected

[2017-04-11 10:50] diox opened #5151 "Remove 'remove-summaries-from-personas' task"
In 267a28110239ae7198b474ca4babcc21528d99a0 a task was added to remove useless summaries from Personas. We ran this on dev/stage/prod, fixing https://github.com/mozilla/addons-frontend/issues/2191, so we can remove the task now.

[2017-04-11 14:31] jvillalobos commented on #5146
I think it's okay to keep them at the bottom. I actually want to get rid of the Tools menu for most cases and that's why I was reviewing all the options it currently has.

[2017-04-11 15:01] diox opened #5154 "Add a list of auto-approved add-ons in reviewer tools"
We're about to automate auto-approval of a fraction of webextensions updates (#5155), using the command in #4533. Later, we're going to relax the rules and move to full auto-approval with post-approval human review.

To do that we need to add a list of auto-approved add-ons in reviewer tools. From the [post-review implementation plan](https://docs.google.com/document/d/1rZvM2QGk8WtkNUDRvLEvrbqZ190

[2017-04-11 15:04] diox opened #5155 "Automate auto-approval task"
This is just to add the `manage.py auto_approve` command from #4533 to the crontab. It needs to be run every hour.

[2017-04-11 18:09] jvillalobos opened #5156 "Empty name in lightweight theme breaks layout, preview and installation"
Just noticed today that a number of lightweight themes didn't have a name. [Here's one example](https://addons.mozilla.org/addon/rainbowczechia109/), which may be fixed by the developer soon.

The listing page looks like this (notice the by-line):
<img width="729" alt="theme" src="https://cloud.githubusercontent.com/assets/62568/24923633/5ebdfd20-1eaf-11e7-9b48-076893e2579a.png">

More importantly

[2017-04-11 18:22] devil67 opened #5157 "Advanced Dork Google Hack for Firefox"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-11 18:36] tofumatt commented on #5157
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org

[2017-04-11 18:36] #5157 closed

[2017-04-11 22:04] quinnwizard opened #5159 "Owncloud / Nextcloud link not working from many, many different referring sources"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-11 23:55] EnTeQuAk commented on #5159
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org

[2017-04-11 23:55] #5159 closed

[2017-04-12 00:02] quinnwizard commented on #5159
Okie doke.  No problem.  Thanks for the quick reply 😃

On Apr 11, 2017 7:55 PM, "Christopher Grebs" <notifications@github.com>
wrote:

[2017-04-12 04:30] atsay commented on #4974
Here are the [URLs](https://docs.google.com/spreadsheets/d/16cPPQDPILEK3RujBhbJlbI7hyNjKr_vykWAC14yxlY0/edit#gid=0) you can link the label to. The articles are not ready yet, but when they are they will appear on these pages.

[2017-04-12 08:01] thib3113 commented on #5130
same error for me .

[2017-04-12 08:04] wagnerand commented on #5130
I probably means you aren't logged in, or are logged in with the wrong account. Please double-check.

[2017-04-12 08:12] thib3113 commented on #5130
@wagnerand : i'm good logged in ...

I can see the plugin's versions
![image](https://cloud.githubusercontent.com/assets/5489218/24947738/344b5f7e-1f68-11e7-88f1-f004b578da25.png)

And if I click on the version link
I can see it :
![image](https://cloud.githubusercontent.com/assets/5489218/24947784/5856b5e4-1f68-11e7-9798-2f471e1a01d0.png)

But If I click on the link for the .xpi :

![image](https

[2017-04-12 08:13] wagnerand commented on #5130
Can you please provide the devhub link to your add-on?

[2017-04-12 08:28] thib3113 commented on #5130
@wagnerand oh yes .... read too quickly ...
this : https://addons.mozilla.org/fr/developers/addon/dealabs-non-officiel/edit ?

[2017-04-12 08:38] wagnerand commented on #5130
@thib3113 Ok, I can reproduce the bug, please file a new issue.

[2017-04-12 08:42] wagnerand commented on #5130
@chickahoona Please double-check that you are logged in with the right account.

[2017-04-12 08:59] thib3113 opened #5161 "Links for an own uploaded app are broken ( link to .xpi )"
### Describe the problem and steps to reproduce it:
I've uploaded an application, in invisible mode .

The upload work good, but when I try to retrieve the signed .xpi, I've a 404 error .
### What happened?
I've a 404 link ... I've tried the link in the webui, the link at the end of the upload, and the link in the email ... They are the same, but all don't work

### What did you expect to happen?

[2017-04-12 09:03] diox commented on #4974
@atsay can you provide a single link that will redirect according to the locale ?

[2017-04-12 09:05] diox commented on #5130
@thib3113 actually don't file a new issue, it's already known as https://github.com/mozilla/addons/issues/324 ; If you wait a bit (~ one hour IIRC) the problem should automatically fix itself. Alternatively, you can set your add-on as "visible", which works around the core of the issue.

[2017-04-12 09:06] diox commented on #5161
Hi, thanks for the issue. It's already known as mozilla/addons#324 ; If you wait a bit (~ one hour IIRC) the problem should automatically fix itself. Alternatively, you can set your add-on as "visible", which works around the core of the issue.

[2017-04-12 09:06] #5161 closed

[2017-04-12 09:06] thib3113 commented on #5161
https://github.com/mozilla/addons/issues/324

[2017-04-12 11:15] ValentinaPC commented on #4974
@diox: should we display this label in search results pages also, as we do for the "require restart" label? Thanks!
Here is a screenshot:
![labels](https://cloud.githubusercontent.com/assets/15685960/24955025/6bb4db9e-1f8a-11e7-9799-3088b4033dd9.png)

[2017-04-12 11:17] diox opened #5164 "Reset AddonApprovalsCounter for add-ons when they are auto approved"
`AddonApprovalsCounter` is supposed to only be incremented for human reviews, and reset when an add-on is auto-approved, so that it always counts the number of human approvals the add-on had in a row.

Right now `auto_approve` does not reset it when it approves an add-on, it should.

[2017-04-12 11:37] diox commented on #4974
@jvillalobos see @ValentinaPC question, should we?

[2017-04-12 12:10] davidhedlund opened #5166 "Where do I find API to list add-ons in collections"
### Describe the problem and steps to reproduce it:
I had a look at https://addons-server.readthedocs.io/en/latest/topics/api/addons.html to find API for [Collections](https://addons.mozilla.org/en-Us/firefox/collections/).

### What happened?
I didn't find anything.

### What did you expect to happen?
That collections should be mentioned on the link

[2017-04-12 12:11] davidhedlund commented on #5166
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-04-12 12:14] diox commented on #5166
Sorry, there is no API to do that currently, and it's unlikely to happen in the near future.

[2017-04-12 12:14] #5166 closed

[2017-04-12 12:16] davidhedlund commented on #5166
@diox Can you please open this issue again, I changed the topic.

[2017-04-12 12:17] davidhedlund commented on #5166
[mylabel:important](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aimportant%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-04-12 12:23] diox commented on #5166
As mentioned this is unlikely to ever happen before we completely replace collections by a different mechanism, so keeping that issue opened would just be noise for us at the moment.

[2017-04-12 12:24] davidhedlund commented on #5166
@diox I see.

[2017-04-12 12:26] diox commented on #5164
@wagnerand pointed out on IRC that my interpretation of the PRD was likely wrong, and I agree. Instead of maintaining a counter of the human reviews, we should maintain a counter of the auto approvals instead.

Relevant sentence from the PRD:

It is slightly ambiguous, but it makes more sense to keep a counter of auto-approvals. The situation we want to avoid is `> N` consecutive auto approvals, t

[2017-04-12 12:33] wagnerand commented on #5164
Well, at least that's how I read the sentence. I might be wrong as well!

[2017-04-12 14:03] ValentinaPC opened #5168 "Add-on "Require Restart"/"Compatible with Firefox 57+" labels are not RTL"
Steps to reproduce:
1. Load details page for an add-on with "Require Restart"/"Compatible with Firefox 57+" label
2. Change the language to a RTL one i.e.: https://addons-dev.allizom.org/ar/firefox/addon/clearly/?src=hp-dl-featured

Expected results:
Label is RTL.

Actual results:
Label is not RTL.

Notes/Issues:
- not reproducing for search results pages.
![2017-04-12_1644](https://cloud.githubus

[2017-04-12 14:31] #5099 closed

[2017-04-12 15:16] chickahoona commented on #5130
@wagnerand Thanks for that tip. Fixed my problem.

[2017-04-12 15:16] #5130 closed

[2017-04-12 19:56] atsay commented on #4974
Jorge is out for the week so I'll decide for him. Yes, let's put them in search results too!

[2017-04-12 20:10] davidhedlund commented on #5166
[mylabel:open](https://github.com/search?utf8=%E2%9C%93&q=commenter%3Adavidhedlund+%22mylabel%3Aopen%22+in%3Acomments&type=Issues&ref=searchresults)

[2017-04-12 20:16] diox commented on #5166
@davidhedlund Could you please stop adding comments like these to issues? Every time you do that, a number of people receive a github notification and/or email for something that is completely irrelevant to them. Use bookmarks or any external site to track your issues, thanks.

[2017-04-12 20:33] davidhedlund commented on #5166
@diox No thanks, I'm the add-on repository maintainer for GNU IceCat. We need to track activities that meet our goals.

[2017-04-12 20:39] davidhedlund commented on #5166
@diox Perhaps I'll be migrating the issues to Sync. I'll think about it.

[2017-04-12 22:46] davidhedlund commented on #5166
@diox I cannot use Sync, its broken in IceCat, so I reported the bug. Thank you for inspire me to have a look at it.

I have to come up with something else.

[2017-04-13 01:20] davidhedlund commented on #5166
@diox I've removed all my labels from all issues on all repositories on GitHub now.

[2017-04-13 13:58] ValentinaPC opened #5172 "2 Firefox target app add-on with a restricted "maxVersion" returns 500 error page at submission if selected after an unrestricted legacy add-on"
Steps to reproduce:
1. Go to submission page and select a legacy add-on with unrestricted `maxVersion` i.e 51, with Firefox target application -  https://addons.allizom.org/en-US/developers/addon/submit/upload-listed
2. Do not click Continue button or refresh the page
3. Select a second legacy add-on with 2 target applications, both for Firefox, but the second with `maxVersion` restricted i.e 53

[2017-04-13 14:03] diox commented on #5172
https://sentry.prod.mozaws.net/operations/olympia-stage/issues/393949/

I don't think it's related to the legacy restrictions ; In fact, from the traceback, I think it must be possible to reproduce this with just one specially crafted add-on.

[2017-04-13 14:16] ValentinaPC commented on #5172
There are 2 cases:
1. Is related to legacy add-ons only because if above STR are followed a legacy add-on with a version that should have been restricted, passes validation.

2. Is not related because, the 500 error page is displayed for any add-on, with 2 target applications.

After fixing the 500 error, it should be nice to recheck this scenario.
Thanks Mat, for checking this edgy case.

[2017-04-13 14:22] diox commented on #5172
Looks like it's only related to the second add-on having duplicate target application. We should not 500 in this case. I guess it should be a validation error - Firefox probably does not care, but there is no good reason for accepting this.

[2017-04-13 14:29] ValentinaPC commented on #5172
Yes, you are right - Firefox does not care and returns: "1492093683723	addons.xpi	WARN	Ignoring duplicate targetApplication entry for {ec8030f7-c20a-464f-9b0e-13a3a9e97384} in install manifest"

[2017-04-13 16:38] Tobithy commented on #5128
Same issue here. Can't contribute from any browser.

Let me do my good works please!

[2017-04-13 18:24] atsay commented on #4974
Here's the response I got from SUMO re: a redirecting link. Apparently we can't do that at the moment: "Our new platform doesn't support redirects to different locales yet, but we're working with our vendor to implement that in the future. What we're doing in the interim is creating separate links for each locale, but we plan to change that in the future."

[2017-04-13 19:05] andymckay opened #5174 "Remove the Firefox hotfix from AMO"
Please note that this bug can't be started until we've got the work in Firefox done, or at least https://bugzilla.mozilla.org/show_bug.cgi?id=1355937 is done.

When that happens, we can remove the Hotfix add-on off of AMO:

https://addons.mozilla.org/en-US/firefox/addon/firefox-hotfix/

This means we can also remove anything from AMO that mentions the hotfix and there's a little bit:

https://gith

[2017-04-13 19:49] diox commented on #4150
Has it ever worked ?

From looking at the code, When `ReviewerScore.award_points()` is called, the addon is already public, so when it tries to find out the waiting time using the queue, it fails to find it and never awards the bonus points.

I guess the fix would be to pass the `version` as well, and just check `version.nomination` difference with the current date to find if it's old enough to wa

[2017-04-13 19:51] spoji commented on #4150
It work, a while ago. It was forking for sure when I started reviewing add-ons in mid 2015.

[2017-04-14 00:16] diox commented on #4687
Since all issues from previous comment are filed, I don't think there is anything left to do in this issue.

Since then we've fixed 2 of those issues, moving away from JWT and adding an identifier on the profile that we can rotate when a user is compromised.

[2017-04-14 00:16] #4687 closed

[2017-04-14 00:41] grahamperrin commented on #4974
Re: choices of wording, I'm fairly certain that in at least one other WebExtensions-related issue, the word _legacy_ was proposed. For what it's worth I don't view that word as negative in a context such as this.

[2017-04-14 03:11] dstillman commented on #5124
Confirmed fixed — thanks.

[2017-04-14 21:05] #4150 closed

[2017-04-16 15:27] diegocr commented on #5128
An user of one of my add-ons just brought that to my attention:

https://addons.mozilla.org/addon/bluhell-firewall/reviews/861154/

This doesn't seems a new problem, rather a regression? it has been reported a number of times in the past:

1. https://bugzilla.mozilla.org/show_bug.cgi?id=646860

2. https://github.com/mozilla/addons-server/issues/2988

Please fix this at your earliest convenience :-

[2017-04-17 14:47] jvillalobos commented on #5128
I'm getting this message consistently in the contribution popup:

[2017-04-17 14:51] marcoagpinto commented on #5128
I have been getting the error too.

[2017-04-17 14:52] marcoagpinto commented on #5128
![error_communicating_paypal_20170417](https://cloud.githubusercontent.com/assets/5192600/25092467/c4b019b2-2385-11e7-8023-130827203a0b.png)

[2017-04-17 17:27] palant commented on #5128
Yes, this issue was brought to my attention by a fellow add-on developer and I could reproduce it consistently myself.

[2017-04-17 19:14] andymckay commented on #5128
@diox did you change this recently? I can consistently reproduce it too.

[2017-04-17 20:37] diox commented on #5128
No, I haven't - nobody has touched this code in years in fact. I recently [removed a task spawn by the contribute page that calculated the total number of contributions for a given add-on](https://github.com/mozilla/addons-server/issues/5069), but that's not the core paypal/contribution code.

We've had intermittent problems with Paypal for basically forever though, so this is not surprising. It u

[2017-04-17 20:48] diox commented on #5128
Logs indicate that paypal started rejecting the data we send them (which would seem to confirm the problem comes from a change on their side):
`Paypal Error (580001): Invalid request: Data validation warning(line -1, col 0): String "TRUE" is not valid boolean value.`

[2017-04-17 20:49] andymckay commented on #5128
Ah sorry about that.

[2017-04-17 21:27] psionikangel commented on #4571
I think I have a working fix for this bug. You can see it here https://github.com/psionikangel/addons-server/commit/775c0c661ae9c54ecf1eb35abd9d979f3d0ddddc

This is what it looks like in my dev environment:
<img width="570" alt="screen shot 2017-04-17 at 17 07 34" src="https://cloud.githubusercontent.com/assets/547413/25105495/d3d39056-2392-11e7-9303-ab6aad2ebd85.png">

If you think that would be

[2017-04-17 21:31] diox commented on #5164
@jvillalobos replied in the PRD comments that he had the original implementation in mind originally. Let's not change it then.

[2017-04-18 04:17] EnTeQuAk opened #5181 "Update pytest-django to 3.x"
We should upgrade pytest-django to version 3.x at some point. We ran into a few database related issue on our last attempt and they're hard to debug.

See https://github.com/mozilla/addons-server/pull/4770 for a few more details.

[2017-04-18 04:18] EnTeQuAk opened #5182 "Upgrade bleach to version 3.x"
See https://github.com/mozilla/addons-server/pull/4883 for a few more details.

blocked by mozilla/bleach#271

[2017-04-18 11:21] vcarciu commented on #4150
Bonus points are now given for review > 7 days :
![bonuspoints](https://cloud.githubusercontent.com/assets/1583842/25128407/543358da-2442-11e7-9046-270e4ada1ec5.gif)

[2017-04-18 11:45] ValentinaPC opened #5188 "Localize resctrict legacy add-ons banner from Dev Hub"
Steps to reproduce:
1. Load add-on distribution/submission page i.e https://addons-dev.allizom.org/en-US/developers/addon/submit/distribution
2. Change the language and observe the legacy restriction banner (https://addons-dev.allizom.org/de/developers/addon/submit/distribution)

Expected results:
The banner is localized.

Actual results:
Banner is not localized.

Notes/Issues:
Verified on FF52(Wi

[2017-04-18 12:59] ValentinaPC opened #5190 "Wrong error message while uploading an add-on after changing the language"
Steps to reproduce:
1. Go to add-on submission page and select an invalid file for submission (tried with a legacy add-on with `maxVersion` 55) https://addons-dev.allizom.org/en-US/developers/addon/submit/upload-listed (but do not click "Continue")
2. Change the language (i.e. https://addons-dev.allizom.org/ga-IE/developers/addon/submit/upload-listed)
3. Select the same file again

Expected result

[2017-04-18 13:05] diox commented on #5188
This was discussed when it was implemented and we decided not do translate it, because the text is dynamic, it's entered by admins and can be changed at runtime.

[2017-04-18 13:05] #5188 closed

[2017-04-18 14:11] diox commented on #4974
@atsay: The links are still not working. I'd prefer not merging broken links that I and QA can't test, and we're tagging today for this Thursday's push. Should I wait and include them for next week ?

[2017-04-18 14:17] milupo opened #5192 "list of add-ons containing the locales hsb and dsb"
Hi,

is it possible to get a list of add-ons containing the Sorbian locales hsb and dsb? I'd like to make Sorbian users aware of add-ons that have been translated into Upper Sorbian and/or Lower Sorbian.

Thanks in advance and regards,
Michael Wolf

[2017-04-18 15:30] atsay commented on #4974
@diox Are they broken, or just not redirecting (they are loading for me)? SUMO says, "Now that we have the article up, we have to submit this list to our vendor so they can set up the redirects. It will take them 1-2 days." I got this message yesterday, so I guess the redirects should work by tomorrow?

[2017-04-18 15:33] diox commented on #4974
They are all redirecting to the Mozilla Support (English) home page for me at the moment

[2017-04-18 16:38] diox commented on #4974
@atsay missed the tag anyway... so the links will be for next week. Can we in the meantime make the redirect URLs more consistent with the locales on AMO ? I'd like to make the following changes:

* Change https://support.mozilla.org/kb/webextensions-en to https://support.mozilla.org/kb/webextensions-en-us
* Change https://support.mozilla.org/kb/webextensions-pt to https://support.mozilla.org/kb/w

[2017-04-18 17:10] caitmuenster commented on #3514
Hey @lavish205 -- how are you doing with this bug?

[2017-04-18 17:33] atsay commented on #4974
Joni said she changed the links as requested.

[2017-04-18 18:26] andymckay commented on #5192
Sorry, we don't store that information in AMO. You might try using the API to get add-ons and examining them to see if you can find those locales: http://addons-server.readthedocs.io/en/latest/topics/api/index.html

[2017-04-18 18:26] #5192 closed

[2017-04-18 20:34] kumar303 opened #5194 "Cannot connect to MySQL because of django-environ bug"
See https://github.com/joke2k/django-environ/issues/117

Example of the error you get:

django.db.utils.OperationalError: (2002, "Can't connect to local MySQL server through socket '/var/lib/mysql/mysql.sock' (2)")

[2017-04-18 21:04] kumar303 commented on #5194
Reverted in  https://github.com/mozilla/addons-server/pull/5195

[2017-04-18 21:04] #5194 closed

[2017-04-19 09:20] #5151 closed

[2017-04-19 11:02] #5164 closed

[2017-04-19 11:11] muffinresearch opened #5199 "Selectively import addon data from production"
Following a discussion from ops re: data importing from production it was suggested the best approach would be for engineering to write some scripts to import selective data from production on a periodic basis.

Open questions:

* Would we start -dev / stage from scratch when running this or just overwrite imported data?
* Aside from a list of required add-ons would we also want to improve fake da

[2017-04-19 11:12] muffinresearch commented on #5199
Pinging @diox + @EnTeQuAk for input.

[2017-04-19 11:54] diox commented on #5199
FWIW, a while ago it was decided to do the exact opposite on both Marketplace and AMO, because it was too hard to fully anonymize the data ; Sadly, the work to create the data from scratch was never truly completed on AMO.

That's probably still the main concern. Even if we did anonymize all personal information, there is still the matter of deciding whether or not to import disabled or even just

[2017-04-19 12:37] imran14300 opened #5200 "a"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-19 12:40] tofumatt commented on #5200
This is the issue tracker for the add-ons site and related projects, not for an add-on.

If you're having an issue with an add-on please contact the developer directly; you can find a link to their contact details on the add-on page on https://addons.mozilla.org/

[2017-04-19 12:40] #5200 closed

[2017-04-19 13:12] ValentinaPC opened #5201 "Sorting options don't list themes with corresponding details"
Steps to reproduce:
1. Load Themes homepage and select a sort option i.e. https://addons.allizom.org/en-US/firefox/themes/?sort=up-and-coming
2. Observe details for listed themes
3. Change the sort option i.e. https://addons.allizom.org/en-US/firefox/themes/?sort=rating
4. Repeat step 2

Expected results:
Different sorting details are listed together with theme name and author.

Actual results:
Sa

[2017-04-19 14:24] EnTeQuAk commented on #5192
What we do store is what add-ons have translations for their `name`, `homepage_url` and `description` but that's about it. I'll agree with Andy here, it's probably up to you to fetch that information for now.

[2017-04-19 15:39] muffinresearch commented on #5128
@jvillalobos assuming paypal doesn't resolve the issue their end do we have a plan for what we want to do with simplifying paypal contributions - I'm wondering if ripping out the old integration is going to be the best way forward unless there's a simpler change we can make?

@diox and I were talking about it and one suggestion that came up was to think about using paypal.me links - see https://ww

[2017-04-19 15:39] tofumatt commented on #2440
I don't think this a good first bug anymore because the style for that header and the revert we needed was messy. I think I mentioned that in the past but I lost the comment.

[2017-04-19 15:46] muffinresearch commented on #2258
Looks like this has been fixed already:

![nimbus_screen_capture_-_editable_screenshots____add-ons_for_firefox](https://cloud.githubusercontent.com/assets/1514/25188959/a674ff8a-251f-11e7-864f-c16acf5a207d.png)

[2017-04-19 15:46] #2258 closed

[2017-04-19 16:24] jvillalobos opened #5205 "Deleted accounts can be easily recreated because of FxA"
Admins often delete user accounts because of spamming and other bad activity. This used to work well because it took some effort to create the account again. It looks like, since the move to FxA, deletion doesn't accomplish this goal and it's trivial to log in again and recreate the deleted account.

There are a couple of ways this could be fixed:
1) When an account is deleted, add a flag to it or

[2017-04-19 16:44] jvillalobos opened #5206 "Update text in FAQs to reflect changes in review process and WebExtensions"
The [FAQ](https://addons.mozilla.org/en-US/faq) and [Developer FAQ](https://addons.mozilla.org/en-US/developer_faq) are significantly outdated. This is just a quick text update to reflect recent events. We need to decide if we still need them for the new front end, or rely on MDN or the Developer Hub.

[2017-04-19 16:48] muffinresearch commented on #5199
Ok I think we need to start this over and kick off with the problems that we currently have wrt to data and then work out the best solutions to those problems - @andymckay has also raised concerns around moving prod data anywhere in any capacity. Any concerns around privacy etc are definitely very valid.

[2017-04-19 16:48] #5199 closed

[2017-04-19 17:28] muffinresearch opened #5207 "Discuss solutions for data differences between -dev and stage vs prod"
Dev and stage currently run old and different data to production. We have a number of problems with this.

The main one that comes up frequently is that it's very difficult to test the disco pane on -dev or stage because the addons that are setup by id don't necessarily exist on -dev or stage.

Another issue is that we don't test -dev and stage against something that's necessarily representative o

[2017-04-19 17:30] muffinresearch commented on #5207
Pinging @EnTeQuAk, @diox, @jasonthomas, @bqbn and @andymckay to add input to this.

[2017-04-19 17:53] diox commented on #5207
I don't have great insights, but I want to emphasize that any solution is not going to be trivial. There are a lot of different database tables and columns, lots of different states the various files can be in, etc. That makes generating proper data difficult and tedious, any solution will take some time to implement.

The way forward is properly to continue adding features to https://github.com/m

[2017-04-19 17:56] diox commented on #5207
Worth pointing out that Marketplace did exactly that for dev (keeping stage a prod copy) - at some point it switched from prod imports to generated data, and that seemed to work fine.

[2017-04-19 18:14] jvillalobos commented on #5128
Long term I'd like to just have a URL field for contributions, so we can support more than Paypal.

If we can't fix this issue quickly, I think the short-term solution is to remove the feature for now. I can announce it in the blog so developers know why it isn't working anymore.

[2017-04-19 20:23] andymckay commented on #5128
I wrote a lot of this code and can probably remember how to set up the Paypal sandbox and see what's going on if you want to investigate the current problem. I'm all for making it simpler in the long term though :)

[2017-04-19 21:21] raajitr commented on #4751
Hi, can i work on this? I am new to contributions.

[2017-04-20 06:33] EnTeQuAk opened #5209 "Upgrade to ElasticSearch 5.1"
We need to uprade to ElasticSearch 5.x and are on target of 5.1 explicitly. This issue is to keep track of what's still needed to do and what's been already done about it.

* [x] Get ElasticSearch 5 to run on Travis
 * [x] Remove custom travis install script if possible
 * [x] ElasticSearch 5 by defaults has http-auth enabled, it's disabled in docker-compose but we can't change configs on travis..

[2017-04-20 09:37] EnTeQuAk commented on #5104
Closing in favor of https://github.com/mozilla/addons-server/issues/5209… apparently I fail at finding issues :^)

[2017-04-20 09:37] #5104 closed

[2017-04-20 10:34] diox commented on #5209
One big point: figure out a plan to handle the upgrade in production. Especially if we deploy code that is not backwards-compatible with 1.x.

[2017-04-20 10:47] diox opened #5211 "Implement Add-ons Post-Review Process"
This is a tracking bug for implementing Add-ons post-review process.

Essentially post-review is the follow-up of https://github.com/mozilla/addons-server/issues/4533 : the goal is to automatically approve WebExtensions without human intervention ; human reviews are done after the add-on has been pushed to public, prioritized depending on various factors.

* PRD: https://docs.google.com/document/d

[2017-04-20 12:05] ValentinaPC commented on #3567
This can be marked as verified-fixed.

[2017-04-20 12:09] jasonthomas commented on #5207
I think we need QA input on here since they perform the majority of the testing. They may have additional scenarios in their testplan that are not covered here and it would be good insight to see what their needs are to validate the application. /cc @krupa

[2017-04-20 12:16] wagnerand commented on #4751
Hi, you don't need to ask for permission, just submit a pull request when you are ready!

[2017-04-20 12:33] nkestrel opened #5213 "Cannot submit new localized webextension, name/summary are blank with 'This field is required'"
Cannot submit new localized extension due to `This field is required` error for blank name/summary.
Inspecting the page reveals the hidden input elements have correct values but still doesn't work.

![Empty fields](https://pageshot.net/images/fd079739-07d5-49f8-a0b5-53a659156e41.png)

Uploaded extension: https://github.com/nkestrel/mediaurltimestamper

Update: This happened on https://addons.mozil

[2017-04-20 13:31] #5154 closed

[2017-04-20 14:02] diox opened #5214 "A ActivityLogToken exception can happen after signing an add-on"
When signing an add-on, we send an activity email to the addon author(s). The [code](https://github.com/mozilla/addons-server/blob/d7710012aeae80a3a9bc67289c89f5a6657a5db6/src/olympia/activity/utils.py#L218-L229) does this:
[code]

I just saw the `token.reload` line fail with `ActivityLogToken matching query does not exist` on dev, when using `auto_approve` command:
https://sentry.prod.mozaws.net/

[2017-04-20 14:05] diox commented on #5214
Note that [the PR to put `auto_approve` in a crontab](#5162) was merged late on purpose ; it is scheduled for next week's push so we're safe for this week.

[2017-04-20 14:13] vcarciu commented on #5207
Another big difference between -dev , Stage and Prod is the absence of valid statistics data. If we want to keep the Stats as an important part of AMO, we should add accurate data for this section too.

[2017-04-20 14:35] ValentinaPC commented on #5154
@diox : This is not in -dev yet, yes? Thanks!

[2017-04-20 14:47] ValentinaPC opened #5216 ""57+" compatibility link is hard to be noticed"
Steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/
2. Observe the compatibility link

Expected results:
There are no display or layout issues.

Actual results:
The link is hard to see because of its color.

Notes/Issues:
Verified on AMO-dev FF52(Win 7).
Screenshot for this issue:
![2017-04-20_1755](https://cloud.githubusercontent.com/assets/156

[2017-04-20 14:48] muffinresearch commented on #5128
Before we jump into bigger changes I think it warrants further investigation to make sure there's not some simple change that can be made to our requests to get this working. Would be good to find out if there's anthing in the error messages that helps pin down the error paypal is trying to tell us about.

@diox would you have some time to investigate a bit further?

[2017-04-20 14:59] vcarciu opened #5217 "UI issues for cyrillic languages"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/bg/developers/addons (Same for Russian)
2.Observe the header

Expected results:
No UI issues in Cyrillic languages

Actual results:
There are overlaying issues for Cyrillic languages

Notes:
I know that there are small overlaying issues for other non Cyrillic languages and we agreed that these will not be fixed, but in this case the UI iss

[2017-04-20 15:03] muffinresearch commented on #5216
@ValentinaPC I think this was in the process of being deployed - a hard refresh and I see it:

<img width="401" alt="awesome_screenshot_plus_-____add-ons_for_firefox" src="https://cloud.githubusercontent.com/assets/1514/25237548/dce2c750-25e2-11e7-9e4a-2a9b81772820.png">

[2017-04-20 15:03] #5216 closed

[2017-04-20 15:04] eviljeff commented on #4571
@psionikangel great, can you submit a pull request with your commit?  Reference this issue (`#4571`) in the pull request summary so it links together.

[2017-04-20 15:27] ValentinaPC commented on #4974
These links don't work neither **if clicked from the comment** or from webext details page using "Compatible with Firefox 57+" link. I think I have to wait until next week, @diox?
I'll reopen this until the redirect links will be fixed to better keep track of changes.

Verified the other things on AMO-dev using FF52(Win 7).
- label is also a link
- hovering over the label some info are displayed
-

[2017-04-20 15:29] ValentinaPC commented on #5216
Yep, I was moving to quickly 💃

[2017-04-20 15:50] #5214 closed

[2017-04-20 15:51] diox commented on #5154
It is, but it depends on two things:
- To see the list, you need the permission. I've given it to members of the Staff and Senior Reviewer groups
- To see add-ons in the list, some add-ons need to be auto-approved. I'm debugging issues with that as we speak (was blocked by #5214) so for the moment the list is empty on dev.

[2017-04-20 16:07] diox commented on #4974
I don't control those links so I simply don't know. @atsay can you look into that?

[2017-04-20 17:10] vcarciu commented on #2258
Confirming that it is fixed :
![contrib](https://cloud.githubusercontent.com/assets/1583842/25243333/55852898-2605-11e7-800b-79e4a196de33.png)

[2017-04-20 17:18] nkestrel commented on #5213
Duplicate of #4254.

[2017-04-20 17:18] nkestrel commented on #5213
Closed.

[2017-04-20 17:18] #5213 closed

[2017-04-20 17:23] nkestrel commented on #4254
Workaround for me was to switch to https://addons.mozilla.org/en-US/ and resubmit as a new addon.

[2017-04-20 19:25] diox commented on #4975
Worth noting that Firefox also has its own (small) blocklist of add-ons it will not enable multiprocess for : https://dxr.mozilla.org/mozilla-central/source/browser/extensions/e10srollout/bootstrap.js#97

[2017-04-20 22:40] psionikangel commented on #4571
@eviljeff And done. The pull request is created https://github.com/mozilla/addons-server/pull/5222

[2017-04-21 05:38] EnTeQuAk commented on #5209
cc @bqbn about his plans about the upgrade in production. As far as I know we can't easily migrate to a es5 cluster and need to re-index things but I assume you may have a better overview here.

The problem here is that I'm currently not building it backwards-compatible with 1.x since that's almost impossible (since our elasticsearch libraries don't support multiple versions at the same time) so i

[2017-04-21 07:52] ValentinaPC commented on #4974
When I started to test this, I saw the tag "firefox57" in add-ons details page.
Searching by this tag returned all add-ons compatible with 57+, and I consider it very helpful, but that was yesterday, today, no tag. Do you know something about this, @diox ?

[2017-04-21 07:58] ValentinaPC commented on #5154
Thanks!
I'll give a look after the queue is populated with some add-ons.
Can you give me a notice, here?

[2017-04-21 10:05] ValentinaPC commented on #5099
Verified as fixed on AMO-prod FF53(Win 7).
Postfix screenshot:
![untitled](https://cloud.githubusercontent.com/assets/15685960/25273141/322fe58e-2693-11e7-85a2-f24b4547679a.png)

[2017-04-21 10:41] diox commented on #2870
We've reduced it to 2. django-mobility will go away in #5055 and cache-machine... well, that's a story for another issue. Let's close this.

[2017-04-21 10:41] #2870 closed

[2017-04-21 10:58] diox commented on #4974
I ran the command to add the tag to existing (public+listed) webextensions on dev and stage but somehow they were not indexed after that, so they have the tag but don't show up when searching for it (https://addons.allizom.org/en-US/firefox/tag/firefox57 and https://addons-dev.allizom.org/en-US/firefox/tag/firefox57) yet. I'm currently reindexing both dev and stage to see if that fixes the issue.

[2017-04-21 11:22] diox commented on #4974
Reindexing somehow made things worse, investigating.

[2017-04-21 12:47] diox commented on #4974
Ah, just had to wait. Now everything should be working, @ValentinaPC ; you can see the tag on webextensions detail pages and you can search for it.

[2017-04-21 13:07] diox commented on #5154
@ValentinaPC I populated it with some add-ons: https://addons-dev.allizom.org/en-US/editors/queue/auto_approved

Their last review column is blank, I suspect because the migration to initialize that column was a bit too restrictive.

It'd be worth doing the following:
 - Create a basic web extension that does not use any special features (in particular: no custom csp, no permissions, no content sc

[2017-04-21 13:15] #4571 closed

[2017-04-21 13:47] ValentinaPC opened #5224 "WebExtension compatibility label is not correctly RTL"
Steps to reproduce:
1. Load details page of a WebExtension i. e. https://addons-dev.allizom.org/en-US/firefox/addon/webext-simple/
2. Click on the "firefox57" tag
3. Change the language to a RTL one i.e. https://addons-dev.allizom.org/ar/firefox/tag/firefox57
4. Observe the "Compatible with Firefox 57+" label

Expected results:
Label is RTL.

Actual results:
Label is not correctly RTL.

Notes/Issu

[2017-04-21 13:54] ValentinaPC commented on #4974
Verified the tag part on AMO-dev FF53(Win 7) and seems to work as expected.
Tag is automatically added for new submissions, listed for already submitted webextensions and  search by tag is returning all compatible webext.
![2017-04-21_1653](https://cloud.githubusercontent.com/assets/15685960/25280581/242fa49a-26b3-11e7-9814-a2fffad5fc01.png)
![2017-04-21_1653_001](https://cloud.githubusercontent.c

[2017-04-21 14:13] ValentinaPC commented on #4855
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-04-21 14:17] ValentinaPC commented on #4730
This can be marked as verified-fixed.

[2017-04-21 14:39] ValentinaPC commented on #2460
This can be marked as verified-fixed.

[2017-04-21 14:46] ValentinaPC commented on #5154
I've added a basic WebExtension on AMO-dev: https://addons-dev.allizom.org/en-US/firefox/addon/webext-simple/
Approve it. Added a second version for it and waited. Passed over an hour. Second version is still awaiting.
Now I am pinging you :)

[2017-04-21 14:52] diox commented on #5154
Done. You can now see the add-on in the list, with the time it was last reviewed by someone.

[2017-04-21 15:04] ValentinaPC opened #5225 "No version number displayed after add-on name"
Steps to reproduce:
1. Load details page of any public add-on on AMO-dev i.e. https://addons-dev.allizom.org/en-US/firefox/addon/video-downloadhelper/?src=hp-dl-mostpopular
2. Observe add-on version number

Expected results:
Last public version number is listed after add-on name.

Actual results:
The version number is not listed after add-on name.

Notes/Issues:
Verified on FF53(Win 7). Issue is o

[2017-04-21 15:08] diox commented on #5225
Yeah, that looks like something I broke while refactoring the way the labels are displayed.

[2017-04-21 15:14] ValentinaPC commented on #5154
Verified on AMO-dev FF53(Win 7).
An Auto Approved Add-ons queue is displayed in Reviewer Tools for add-ons.
After following the STR indicated by Mat, the simple webextension appears in the Auto Approved Add-ons queue with the correct time.
Please see screenshots:
![2017-04-21_1811](https://cloud.githubusercontent.com/assets/15685960/25283945/344c4094-26be-11e7-832a-a0527263c956.png)
![2017-04-21_1

[2017-04-21 15:18] diox commented on #5155
Somehow doesn't work on dev, re-opening.

[2017-04-21 15:21] ValentinaPC commented on #5154
I'll mark this verified fixed, then.

[2017-04-21 15:55] atsay commented on #4974
I received this from the SUMO team:
"To be safe, please use this link: https://support.mozilla.org/kb/firefox-add-technology-modernizing
It will automatically redirect to the different locales. Just be aware that we might have to change the link when we move back to the new platform, but the above link will work in the interim. We'll keep you posted of that though."

Since we have until next week

[2017-04-21 16:42] eviljeff commented on #5156
I can't replicate this bug - the submission and edit forms always require a name to be supplied.  Please reopen with STR.

[2017-04-21 16:42] #5156 closed

[2017-04-21 17:11] muffinresearch opened #5228 "Add a page endpoint to handle finding addon replacements"
A new feature [1] is being added to Firefox with a link to AMO to find alternative add-ons.

For this feature to be implemented we need to add an endpoint as a placeholder for actual functionality. The real functionality is TBD, for now this should just be a URL that doesn't 404.

The URL will be: `/find-replacement/?guid=XXXXX`

[1] https://mozilla.invisionapp.com/share/HUAUGBGWZ#/screens/2277745

[2017-04-21 17:25] tofumatt opened #5229 "Clarify max characters error message upon addon submit"
[Originally submitted to addons-frontend](https://github.com/mozilla/addons-frontend/issues/2295)

-----

### Describe the problem and steps to reproduce it:
An newly submitted addon with supporting i18n names can hit the name limit without a clear message on addons.mozilla.org.

### What happened?
The addon name i18n for Dutch is for example "Shop & winkel goedkoop bij Amazon.com zonder extra kos

[2017-04-21 17:45] anewuser opened #5230 "Broken character escaping on frontpage"
![untitled-1](https://cloud.githubusercontent.com/assets/6733770/25289686/11274cde-26a1-11e7-842e-a2f4d3ebdfce.png)

`<p class="desc vtruncate" data-oldtext="Point &amp;amp;amp; click to forbid&amp;#x2F;allow any class of requests made by your browser. Use it to block scripts, iframes, ads, facebook, etc.">Point &amp;amp; click to forbid/allow any class of requests made by your brows…</p>`

[2017-04-21 19:44] psionikangel commented on #5037
Hi @tofumatt and others,

I have prepared a fix for this bug at https://github.com/psionikangel/addons-server/commit/751db86f14dbdc4a6c8bfdd5211574410ea83223

Here are some **before** screenshots:
_italian_
<img width="1002" alt="before-italian" src="https://cloud.githubusercontent.com/assets/547413/25293424/de8afb24-26a8-11e7-9c57-05dc74c64e01.png">
_portuguese_
<img width="967" alt="before-portu

[2017-04-22 18:20] IanKHall opened #5235 "What happened to the Color Contrast Analyzer Firefox Extension? I tried to download it from the CCA site and Mozilla didn't find it."
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-22 18:22] IanKHall commented on #5235
https://addons.mozilla.org/en-US/firefox/addon/7313/ documents the error.
Here's where I expected to download the FF extension from:
http://juicystudio.com/article/colour-contrast-analyser-firefox-extension.php

[2017-04-23 08:30] lavish205 commented on #3514
@caitmuenster this is merged.

[2017-04-23 08:40] lavish205 commented on #3514
we can close this issue. @ValentinaPC

[2017-04-23 10:14] lavish205 commented on #4736
I would like to work on this bug.

[2017-04-23 11:28] diox commented on #3514
QA: when verifying this, in addition to checking whether the roadblock "continue to download" button for experimental add-ons is blue, please check whether the regular install button for experimental add-ons with no contribution roadblock set is still displayed using the yellow/black label.

[2017-04-23 11:29] diox commented on #3514
Closing, but I think it may have broke something (see my previous comment). We'll see.

[2017-04-24 07:38] ValentinaPC commented on #4752
Could you provide the place, Mat? Thanks!

P.S.: I recall asking you this on Friday, but...no trace ... (

[2017-04-24 08:06] ValentinaPC commented on #3514
Unfortunately, **experimental** add-ons have the same label as the **normal** ones: green/white.
Please see screenshot and video:
![add-ondetails](https://cloud.githubusercontent.com/assets/15685960/25327411/baed470e-28dc-11e7-87e6-8345b6ec4f82.png)
![contribution-exp](https://cloud.githubusercontent.com/assets/15685960/25327739/f56ea516-28dd-11e7-9eaa-c5902376a224.gif)

[2017-04-24 08:32] vcarciu commented on #4571
Verified as fixed :
![modals](https://cloud.githubusercontent.com/assets/1583842/25328719/a3c9122e-28e1-11e7-91f7-e331bee6a216.png)

[2017-04-24 10:39] #5225 closed

[2017-04-24 11:08] ValentinaPC commented on #5225
Verified as fixed for add-ons/webextensions using AMO-dev and FF53(Win 7).
Postfix screenshot:
![2017-04-24_1405](https://cloud.githubusercontent.com/assets/15685960/25334477/6013cc20-28f7-11e7-93e5-848891ac0225.png)

[2017-04-24 11:32] eviljeff commented on #4736
@lavish205 great.
You need to change the js in https://github.com/mozilla/addons-server/blob/master/static/js/zamboni/devhub.js#L975:L999 - probably either the `checkOther` function or the `$main` selector.  I'm not sure why _only_ this functionality is broken, but the max category counting and `checkMain` seem to working okay.

[2017-04-24 14:26] diox commented on #3514
Once this is reverted:

I think the patch should be to remove the `'caution'` class in the `prepare()` method in the `InstallButton` class, when `self.show_contrib is True` (where it's already removing the download class) and not touch the other classes at all. Test-wise, a new test should be made specifically with an add-on with `addon.annoying = amo.CONTRIB_ROADBLOCK`, `addon.takes_contributions

[2017-04-24 14:31] #4752 closed

[2017-04-24 14:43] vcarciu opened #5241 "Distance between "Permissions" link and "Add to Firefox" button is too little in RTL"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/fa/firefox/addon/unparsablepermissions/?src=cb-dl-updated

Expected results:
Distance between "Permissions" link and "Add to Firefox" button is the same like for non RTL languages

Actual results:
Distance between "Permissions" link and "Add to Firefox" button is too little in RTL

Please see video for this bug :
![rtldistance](https://clo

[2017-04-24 15:50] diox commented on #5155
It turns out logging from crons was broken. @jasonthomas fixed it in https://github.com/mozilla-services/cloudops-deployment/pull/637 ; Keeping this issue opened because I'd like to be sure there isn't *also* a problem with the command. Now that logging is fixed it should be easier to figure that out.

[2017-04-24 17:15] jvillalobos commented on #5235
That add-on hasn't been updated in over 7 years and is no longer active. That's why the listing page is not available. I suggest you contact the developer about this.

[2017-04-24 17:15] #5235 closed

[2017-04-24 18:07] diox commented on #5155
That was https://sentry.prod.mozaws.net/operations/olympia-dev/issues/394551/ , which is a network error: the signing server was not reachable from dev because crons didn't require talking to it before, so the networking wasn't set up to let them do that. This is now fixed, the command is now running normally on dev.

[2017-04-24 18:07] #5155 closed

[2017-04-24 18:26] #4744 closed

[2017-04-24 18:59] eviljeff commented on #5149
Hopefully redundant question : it's not in your spam folder or something is it?

[2017-04-24 20:11] baxem opened #5246 "multifox"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-04-24 20:18] #5246 closed

[2017-04-24 21:00] tofumatt commented on #5246
This is the issue tracker for the add-ons site and related projects, not for an add-on.

In the case of multifox that add-on is no longer available. Sorry about that; but my understanding was the add-on developer has unlisted the add-on.

[2017-04-25 08:16] ValentinaPC commented on #5149
Nope.

[2017-04-25 08:47] diox commented on #5172
Fixed in amo-validator 1.10.62 that has [just been merged](https://github.com/mozilla/addons-server/commit/3006c08abfc454fac3d15a587b40043f6a4ee9b4).

[2017-04-25 08:51] #3572 closed

[2017-04-25 09:08] ValentinaPC commented on #4752
Verified this as fixed on AMO-dev FF53(Win 7).
After first version of a webextension is submitted and manually approved, the second version can be auto-approved and the counter is set to "0"(also, the counter is reset to 0 after every auto-approval).
Counter will be incremented every time a new version is added and manually approved.

Please see postfix screenshots:
![no_version_approved_after_las

[2017-04-25 12:23] diox commented on #5128
Some progress: the sandbox is configured on dev. I found the [docs for the Paypal API we're using](https://developer.paypal.com/docs/classic/api/adaptive-payments/Pay_API_Operation/) so I tried fixing the error that appear in our logs, replacing `TRUE` by `true`... only to find another one: `Paypal Error (579008): You must specify only one primary receiver and at least one secondary receiver`.

I

[2017-04-25 13:11] diox commented on #5128
https://github.com/mozilla/addons-server/issues/5255 seems to have fixed this, at least on dev. It'll land in production next Thursday around 19:00 UTC.

[2017-04-25 13:11] #5128 closed

[2017-04-25 13:36] ValentinaPC opened #5257 "Checking admin "Override failed validation" option blocks submission with a 500 error page"
Prerequisites:
User is logged with an admin account.

Steps to reproduce:
1. Select to submit an add-on that fails validation due to a reason that allows you to "Override failed validation" (example: legacy add-on) using AMO-dev  https://addons-dev.allizom.org/en-US/developers/addon/submit/upload-listed (listed or unlisted)
2. Check "Override failed validation" and click "Continue/Sign Add-on" but

[2017-04-25 13:51] wagnerand commented on #5149
@ValentinaPC could you please try again?
Several admins use their gmail account and we receive emails just fine.

Also note that need-info's are not part of activity email (yet) and thus not delivered to members of the "Activity Mail CC" group.

[2017-04-25 14:06] ValentinaPC commented on #5155
If the conditions from #4533 are fulfilled, a version of a manually reviewed add-on is auto-approved, in the range of approximately an hour.

We can mark this verified-fixed, also based on the checks from #4752.

[2017-04-25 14:29] vcarciu commented on #5128
Verified as fixed on -dev , by making several donations. No errors from bug description were found:
![contrib](https://cloud.githubusercontent.com/assets/1583842/25390587/a64c2fa8-29dc-11e7-9d39-943228b126dc.gif)

[2017-04-25 14:46] diox opened #5258 "Reviewer tools adjustments for post-review"
For reviewers with `Addons:PostReview` permission, **if the last version of the add-on they are looking at has been automatically approved**, the review page needs to:

* [x] Display recent user ratings and abuse reports in reviewer tools #5272
* [x] Display recent abuse reports about developers of add-ons in reviewer tools #5310
* [x] Have ability to store reviewer approval for auto-approved add-

[2017-04-25 14:48] diox commented on #5258
PRD calls for mocks but it's probably not necessary. The new new rejection email template is needed however.

[2017-04-25 14:52] ValentinaPC commented on #4744
@eviljeff :
I am not receiving an e-mail after add-on submission. Am I doing something wrong?
I receive an e-mail ONLY after approve.
I've checked Fake mail page also, and no trace of this there either.

[2017-04-25 15:00] eviljeff commented on #4744
You only get the email if it's your first submission.  You can either use a fresh account or delete all the add-ons from your existing account.

[2017-04-25 15:06] ValentinaPC commented on #5172
Verified as fixed on AMO-dev FF53(Win 7).
If the submitted add-on has 2 target applications a corresponding error is returned.
Postfix screenshot:
![2017-04-25_1800](https://cloud.githubusercontent.com/assets/15685960/25392567/a5bcc19c-29e1-11e7-99e6-b37e20143c63.png)

@diox : Can #5257 be a regression of this?
ThanKs!

[2017-04-25 15:10] Tormen commented on #5128
Sounds good.
Thanks!
Can't wait next Thursday :)

Tormen

On 25 April 2017 4:29:44 PM vcarciu <notifications@github.com> wrote:

[2017-04-25 15:10] diox commented on #5172
No, a different commit caused that regression in #5257, I'll update the issue.

[2017-04-25 15:11] diox commented on #5257
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/395343/

That's caused by the fix for #3572

[2017-04-25 15:20] ValentinaPC commented on #4744
Verified as fixed on AMO-dev FF53(Win 7) using a new account.
Postfix screenshot:
![mail](https://cloud.githubusercontent.com/assets/15685960/25393325/dc9a60aa-29e3-11e7-88c2-57c2ede5c3ad.png)

[2017-04-25 15:33] ValentinaPC commented on #3752
@eviljeff : do we also wanna remove the "View Listing" link for unapproved themes?
Please see screenshot:
![view-listing-aww](https://cloud.githubusercontent.com/assets/15685960/25393906/7283e806-29e5-11e7-9085-2b9bcc377cd5.png)

[2017-04-25 15:48] eviljeff commented on #3752
@jvillalobos not sure what's expected or desired functionality ^

[2017-04-25 16:02] ValentinaPC commented on #3752
I think we should let the link for "pending approval" themes, and remove it just for rejected ones. :)

[2017-04-25 16:06] #5257 closed

[2017-04-25 16:39] #5081 closed

[2017-04-25 16:56] eviljeff opened #5261 "Add UserProfile API public view methods"
Supports user profile pages on addons-frontend.

First step - API(s) to allow publicly viewable information to be shown ([e.g.](https://addons.mozilla.org/en-US/firefox/user/eviljeff/))

PRD [spec](https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit?pli=1#heading=h.t8mr6z8hqji)

[2017-04-25 17:05] diox commented on #4974
Crap, I missed that. So what's the status, which link should we be using come Thursday (date of our push)? I can change it and cherry-pick into our tag, I just don't want to go back and forth.

[2017-04-25 17:06] atsay commented on #4974
Please use this link: https://support.mozilla.org/kb/firefox-add-technology-modernizing

[2017-04-25 17:22] eviljeff opened #5263 "Add UserProfile edit API to self-modify AMO profile information"
Supports user profile pages on addons-frontend.

We need to add API methods to support editing user profile data, so a page similar to https://addons.mozilla.org/en-US/firefox/users/edit can be created on front-end.

PRD [spec](https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit?pli=1#heading=h.5cheild9uc3u)

see #5261 for view API

[2017-04-25 18:16] eviljeff commented on #5263
The current 'admin' manage edit profile has some overlap with #3138

[2017-04-25 18:41] eviljeff opened #5264 "drop user profile localisation"
We allow the bio to be localised currently, and a handful of users (~100) do this.  We're going to drop this minor feature because the addons-frontend won't support this.

[2017-04-25 19:51] jvillalobos commented on #3752
If the listing page is visible while awaiting review, I suppose it makes sense to show the link in that case.

[2017-04-25 20:07] eviljeff commented on #3752
_Is_ it visible (for normal theme submitters)?  I'm not familiar with the norms around themes.

[2017-04-26 00:58] anewuser opened #5266 "Review for deleted addon is still displayed on user page"
### Describe the problem and steps to reproduce it:
Open https://addons.mozilla.org/firefox/user/onemen/

### What happened?
You can see the review this user left for an addon that has been deleted by its developer.

[2017-04-26 09:00] ValentinaPC opened #5267 "Redirection links that use "outgoing.stage.mozaws.net" are not woking"
Steps to reproduce:
1. Load any add-on details page https://addons.allizom.org/en-US/firefox/addon/fireftp/?src=hp-dl-featured
2. Click on "Add-on home page" link (or any link that uses `outgoing.stage` from add-on details page)

Expected results:
User is redirected to that page.

Actual results:
The external page is not loaded.

Notes/Issues:
- issue is also reproducing on mobile

Verified on FF5

[2017-04-26 09:35] EnTeQuAk commented on #5267
Short note: This seems to be working on prod, scaling down p1 to p2

[2017-04-26 10:10] ValentinaPC commented on #5267
I was marking this p1, because I don't want this to end-up in production, tomorrow. :)

[2017-04-26 10:14] EnTeQuAk commented on #5267
I think this is operations related and nothing we changed in our code :)

[2017-04-26 10:45] #4974 closed

[2017-04-26 11:26] ValentinaPC commented on #3752
It is visible for the owner of the theme. Can be simple user, not necessarily and admin.
![2017-04-26_1423](https://cloud.githubusercontent.com/assets/15685960/25432181/207f9c2e-2a8c-11e7-8de5-de1ef7b0427f.png)
![2017-04-26_1425](https://cloud.githubusercontent.com/assets/15685960/25432250/5ab54718-2a8c-11e7-8e9f-e8f2b484f039.png)

[2017-04-26 11:31] ValentinaPC commented on #4974
Verified as fixed on AMO-dev FF53(Win 7).
Postfix video:
![link57](https://cloud.githubusercontent.com/assets/15685960/25432416/038ea906-2a8d-11e7-9321-ace9cdc107a1.gif)

[2017-04-26 11:47] ValentinaPC commented on #4760
Verified this on AMO-dev FF53(Win 7).
On the review page of a deleted add-on there are 2 options:
- Request super-review
- Comment
The first one, still replies a 500 error page.
The same happens for add-ons with no versions.
Please see the video:
![500](https://cloud.githubusercontent.com/assets/15685960/25432910/1a64e08a-2a8f-11e7-8b55-5ddab24b46d6.gif)

Reopening.

[2017-04-26 11:51] diox commented on #4760
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/381333/

[2017-04-26 11:56] ValentinaPC commented on #5257
@eviljeff : what should we do if the same "500 error page" is displayed for other cases when the user want to "Override failed validation", like in the next video?
![double](https://cloud.githubusercontent.com/assets/15685960/25433276/78333e54-2a90-11e7-9efe-e82686aae52c.gif)

[2017-04-26 12:00] eviljeff commented on #4760
well, I only fixed __info requests__ as per this issue

[2017-04-26 12:07] eviljeff commented on #5257
what are the 'other cases'?

[2017-04-26 12:15] diox commented on #4894
I've waited a while before running the command to find inconsistencies again. This time, I found nothing, so I believe the issues we saw before came from migrations altering statuses manually without reindexing afterwards, or something similar.

I'm closing this, but leaving the command in the repos for now, it may prove useful if such a problem reappears.

[2017-04-26 12:18] ValentinaPC commented on #5081
Verified this on AMO-dev FF53(Win 7), and obtained the following results:
- "Request more info" tab was replaced by "Reviewer Reply" tab
- "Reviewer Reply" text line that appears in the form  was replace from "This will request more information from the developer." to "This will send a message to the developer"
- "Reviewer Reply" tab does not contain a checkbox to that tab that indicates whether t

[2017-04-26 12:25] ValentinaPC commented on #4760
I've reopened this only because https://github.com/mozilla/addons-server/issues/4754 was marked as dupe of this one, and that bug mentioned both requests (info and super).
Thanks for you quickly reply! :)

[2017-04-26 12:39] ValentinaPC commented on #5257
The case from my example is for the error "Found duplicate target application elements", as you can see in the above video. I said "other cases" because maybe there are more.
If is just only this one, then I am sorry for misleading you.

[2017-04-26 12:43] diox commented on #3318
Forward duping to https://github.com/mozilla/addons-server/issues/5172

[2017-04-26 12:43] #3318 closed

[2017-04-26 12:45] diox commented on #5257
So, your original problem when overriding failed validation came from a regression in #3572, but *now* it's directly tied to duplicate targetapplication elements, so #5172 should be re-opened for this specific edge case.

[2017-04-26 12:46] diox commented on #5172
From https://github.com/mozilla/addons-server/issues/5257#issuecomment-297378992 the original 500 is still happening when overriding validation, so a fix should be made in addons-server as well, not just the validator.

[2017-04-26 12:54] ValentinaPC commented on #5257
I will do as you tell me. :)
I thought is related to this because, here we are dealing with "Override failed validation".
Thanks, Mat.

[2017-04-26 12:57] ValentinaPC commented on #5257
Verified as fixed using AMO-dev FF53(Win 7) for the case regressed from #3572.
Postfix video:
![overr](https://cloud.githubusercontent.com/assets/15685960/25435556/08fd2302-2a99-11e7-8fa3-2b76d04994b8.gif)

[2017-04-26 13:02] ValentinaPC opened #5268 "No error message while trying to delete an account if no "e-mail format" is used"
Steps to reproduce:
1. Try to delete an account by entering some text in the Email field from delete user page - https://addons.allizom.org/en-US/firefox/users/delete - that does not have an e-mail format

Expected results:
User should be informed that the text entered is not an e-mail.

Actual results:
No message is displayed.

Notes/Issues:
- if the e-mail format is used text@text.text then a me

[2017-04-26 13:27] EnTeQuAk commented on #3415
Closing this, given that we don't use CircleCI for anything except image builds anymore.

[2017-04-26 13:27] #3415 closed

[2017-04-26 13:52] EnTeQuAk opened #5271 "Upgrade to Django 1.11 (latest LTS)"
* [x] Figure out if it's reasonable to directly jump to 1.11
 * Especially since Django 1.9 is already out-of-live this is worth trying to skip upgrading to a potentially insecure version
* [x] Check compatibility of our 3rd party libraries against Django 1.11 and patch accordingly
* [x] Fix DeprecationWarnings ahead of the upgrade
* [x] Remove jingo
* [x] Remove jingo-minify / move it into our co

[2017-04-26 13:57] #5172 closed

[2017-04-26 13:59] diox commented on #5172
Note: when overriding failed validation because of duplicate target applications, the dupes will now be ignored, so if the min/max versions specified inside are different, well, too bad.

[2017-04-26 14:56] eviljeff commented on #5081
TBH, a different template is supposed to be used now if the person sending the info request (or replying) is an editor.  Or more accurately, has access to send the message and isn't one of the add-on authors.
Which add-on was tested?  Were you one of the add-on authors too?

[2017-04-26 14:59] vcarciu commented on #4966
Your own empty reviews are not displayed in listing pages, only on reviews pages. Same issue for users with Addons:Edit permission :
![review](https://cloud.githubusercontent.com/assets/1583842/25441132/0c65f990-2aaa-11e7-96a8-5a1a65ef95f6.gif)

The rest of cases are fixed.

[2017-04-26 15:06] ValentinaPC commented on #5149
@wagnerand : "need-info's" means: the newly added "reviewer reply" and the old "request super review"?

Anyway, same happens while approving or rejecting add-ons, as I mentioned in "Notes" section.
Maybe I need to do something else with my account?
Fake mails logs are recording every activity as expected;

Other example:
I was using my admin account to add the account that has the Gmail account as

[2017-04-26 15:13] ValentinaPC commented on #5081
Add-on used: https://addons-dev.allizom.org/en-US/developers/addon/tlegacy-7/versions
Yes, I was also the author.
The mails where sent the the people from Activity Mails CC, and were identical.

Was this removed?

[2017-04-26 15:17] ValentinaPC commented on #5172
Ok.

Verified as fixed on AMO-dev Ff53(Win 7).
Postfix video:
![overr](https://cloud.githubusercontent.com/assets/15685960/25442054/a21054c0-2aac-11e7-8018-7a480db118d9.gif)

[2017-04-26 15:25] eviljeff commented on #4966
Yeah, that was a deliberate decision.  The listing page content is heavily cached and I didn't want to throw in a per-user change that may break that.

On the listing page the top few reviews we show are always sans-empty-reviews; the full review page shows your own empty reviews, or all empty reviews for admins as specified.

@jvillalobos and @wagnerand can comment if that's okay

[2017-04-26 15:37] eviljeff commented on #5081
Yes, I was also the author.
The mails where sent the the people from Activity Mails CC, and were identical.

Everyone gets the same template, because it only changes _why_ the message was sent, and that's the same for everyone.

(On prod you'd be blocked from reviewing your own add-on so you've hit an edge case).

If you remove yourself from the addon and send a reviewer message then a different t

[2017-04-26 15:39] diox opened #5272 "Display recent user ratings and abuse reports in review page (for users with postreview permission)"
In the review page, if the reviewer has the `Addons:PostReview` permission, display recent user ratings and abuse reports (for the add-on or the developers, if there are any reports), with links to the full lists, below the add-on metadata and right above “More about this add-on”.

[2017-04-26 15:43] diox opened #5273 "Add ability to store reviewer approval for auto-approved add-ons"
We want reviewers with `Addons:PostReview` permission to be able to confirm approval of an auto-approved add-on.

This means that, on the review page, for auto-approved add-ons, if the reviewer has the Addons:PostReview permission, the approve resolution should be available, and shouldn’t display the form for comments and canned responses. Instead, it should only show the Save button. Approving an

[2017-04-26 15:44] eviljeff commented on #5149
I see you're testing on -dev.  To get real emails in your inbox that email address would need to be in the  https://addons-dev.allizom.org/en-US/admin/settings#email_qa_allow_list setting (the yahoo address is; the gmail address isn't).  Someone in ops will be able to add it (ask on irc)

[2017-04-26 15:49] diox opened #5274 "Stop sending email to developers when requesting super-review of an auto-approved add-on"
For auto-approved add-ons, the request superreview option should still be available, but it should not send an e-mail to the developer.

[2017-04-26 15:52] diox opened #5275 "Implement rejection of auto-approved add-ons by human reviewers"
Rreviewers with `Addons:PostReview` permission should be able to reject an auto-approved add-on.

The *Reject* action should, in that case, include a way to select which versions of the add-on are affected by the rejection. All of those versions should be disabled once the review is saved, and should be listed in the email sent to the developer.

[2017-04-26 15:57] diox commented on #5275
@jvillalobos can you provide the email template ? (mocks shouldn't be necessary, I can come up with the UI, but you're welcome to add some too if you have something specific in mind)

[2017-04-26 16:01] ValentinaPC commented on #5081
This one, too, is expected?

When I've replied from Review history - Dev Hub or from Reviewer Reply - Reviewer Tools for an add-on that wasn't mine things worked as expected.

[2017-04-26 16:01] EnTeQuAk commented on #1573
And maybe see if https://pypi.python.org/pypi/django-webpack-loader works good enough to implement Webpack + that loader and be able to switch away from jingo-minify?

[2017-04-26 16:04] mstriemer opened #5276 "Use Firefox schemas for manifest validation"
We're importing Firefox schemas in addons-linter and they're going to be used for validating the manifest file.

This will need some extra QA to verify that manifest files are still validated correctly after the change.

[2017-04-26 16:06] mstriemer commented on #5276
This was fixed by #5247.

[2017-04-26 16:06] #5276 closed

[2017-04-26 16:38] jvillalobos opened #5277 "All legacy add-ons (non-webextensions and themes) need a strict max version of Firefox 56.*"
Firefox 57 won't support legacy add-ons. Specifically:

* All extensions that aren’t WebExtensions.
* Complete themes.

All legacy add-ons will need to show up as incompatible with Firefox 57 and above. So, for legacy add-ons that don't already have strict compatibility set, we should set it to a `maxVersion` of `56.*`. This only applies to compatibility with desktop Firefox, since compatibility w

[2017-04-26 16:45] eviljeff commented on #3752
@lavish205 do you want to work on another commit for this issue?  We need to change it to be `addon.status in [amo.STATUS_PUBLIC, amo.STATUS_PENDING]`

[2017-04-26 17:11] EnTeQuAk commented on #5209
From our vidyo meeting:

We do have a separate "promote" stage in our deployments, so what we'll try to do to go live is:

 * Setup a new ElasticSearch 5 Cluster
 * Push the new instances that talk to a new ElasticSearch 5 cluster but do not promote them yet
 * Run re-index (potentially without ``--with-stats`` for performance reasons) on newly created instances so that es5 cluster get's filled wi

[2017-04-26 17:32] jvillalobos commented on #4966
It's okay with me.

[2017-04-26 17:35] eviljeff commented on #4966
closing as per https://github.com/mozilla/addons-server/issues/4966#issuecomment-297485034 then

[2017-04-26 17:35] #4966 closed

[2017-04-26 18:17] bqbn commented on #5267
The issue was because the newly auto spawned outgoing instances on -stage weren't provisioned successfully. This has been fixed.

The issue wouldn't have affected -prod because outgoing is a separate application.

[2017-04-26 18:17] #5267 closed

[2017-04-26 18:31] lavish205 commented on #3752
cool, I'll fix this. @eviljeff

[2017-04-26 19:45] jvillalobos commented on #5275
[Here's what I'm thinking for the rejection email](https://docs.google.com/document/d/1so1dLqu5qtYhdcffExtSKE2NO99f1MvKDZKVIk3tAjo/edit#).
/cc @atsay @wagnerand @kewisch for feedback.

[2017-04-26 19:55] eviljeff commented on #5264
https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit?pli=1#heading=h.5cheild9uc3u for PRD mentioning dropping default locale setting

[2017-04-26 20:28] psionikangel commented on #2516
Hello @muffinresearch and others,

I have prepared a fix for this issue here: https://github.com/psionikangel/addons-server/commit/0bb0bbd92ca84162268433fd578a094998697884

This is a gif showing the fixed behavior in my development environment:

![delete-button-fix](https://cloud.githubusercontent.com/assets/547413/25455291/476a9c88-2a9d-11e7-9685-9b0ab84d454a.gif)

Could you review this when you

[2017-04-27 07:46] wagnerand commented on #5275
Lgtm.

[2017-04-27 08:05] vcarciu commented on #4966
Verfied as fixed then . Empty reviews are hidden in the other cases

[2017-04-27 08:06] ValentinaPC commented on #5267
Verified as fixed on AMO-dev FF53(Win 7, Android 6.0.1).
Postfix video:
![outgoing](https://cloud.githubusercontent.com/assets/15685960/25473540/8804f54a-2b38-11e7-95f6-28687720ccdf.gif)

[2017-04-27 10:12] EnTeQuAk commented on #5268
I'm closing this, this is a browser-specific problem imho. For example, it works for me (see attached screenshots).

This is related to us using `type="email"` in the input field, which is a good thing.

![screenshot from 2017-04-27 17-09-49](https://cloud.githubusercontent.com/assets/139033/25478798/b049092c-2b6c-11e7-83d7-7c72eb780246.png)
![screenshot from 2017-04-27 17-10-27](https://cloud.git

[2017-04-27 10:12] #5268 closed

[2017-04-27 10:19] EnTeQuAk commented on #5266
This is definetely because we only soft-delete an add-on, reviews themselves are also only soft-deleted so maybe there's a bug in between that doesn't make tihs work properly.

[2017-04-27 10:53] #3752 closed

[2017-04-27 10:58] kewisch commented on #5275
lgtm too. Is there a separate email they get if they fail to address the issues for multiple versions and we disable the add-on completely?

[2017-04-27 13:43] diox commented on #5055
@bqbn could you tell me if we set `Vary` header at nginx level right now, and if so what do we set and where ? Also, while I'm at it, where does the mobile detection happens ? Thanks.

[2017-04-27 13:59] ValentinaPC commented on #3752
Verified as fixed in AMO-dev FF53(Win 7).
Pending approval themes also have "View Listing" link.
Postfix screenshot:
![2017-04-27_1631](https://cloud.githubusercontent.com/assets/15685960/25486779/e6a65b70-2b6a-11e7-924a-87977b2a4263.png)

[2017-04-27 14:06] ValentinaPC commented on #5276
I've tried submission for a bunch of different files (webextensions, legacy add-ons, or other add-ons, beta versions, etc.) for both listed and unlisted distribution and validation worked as expected.

We can mark this verified fixed.

[2017-04-27 14:54] kumar303 opened #5284 "Add a comment about keeping SESSION_COOKIE_AGE in sync with addons-frontend"
After https://github.com/mozilla/addons-frontend/pull/2290 lands we should add a comment to addons-server about keeping the SESSION_COOKIE_AGE setting in sync with the addons-frontend setting. I'm just filing this so I don't forget to add it.

[2017-04-27 16:19] jvillalobos commented on #5275
Not at the moment. We only have one reject resolution. We can consider expanding that in Q3 if it turns out we're doing this often.

[2017-04-27 16:56] lavish205 commented on #4736
@eviljeff @ValentinaPC how can I reproduce the same issue in my local system.

[2017-04-27 17:32] eviljeff commented on #4736
easiest way is to start uploading a webextension, because they are cross-platform by default

[2017-04-27 17:34] bqbn commented on #5055
We don't set Vary header at the nginx level. The headers we set are following
[code]

The mobile detection happens at nginx level. It checks the UA and the mamo cookie. The logic happens in the following sequence.

If mamo is set to "on", redirects to the mobile site.
If mamo is set to "off", redirects to the desktop site.
If mobile UA, redirects to the mobile site.
otherwise fall back to the desk

[2017-04-27 21:38] #5284 closed

[2017-04-27 22:35] kumar303 opened #5288 "Querying saved reviews with the API is broken for admins"
### Describe the problem and steps to reproduce it:

* log in to `addons-frontend` as an Admin (e.g. go to https://addons-dev.allizom.org/ and click 'View Mobile Site')
* go to an add-ons detail page
* select a star to rate it
* refresh the URL using the browser refresh button

### What happened?

The saved stars disappear

### What did you expect to happen?

The saved stars should appear just as

[2017-04-27 23:29] bqbn commented on #5209
So on -stage, with the current 1.6 ES, the ```./manage.py reindex``` command returned quickly in about one minute. However, it left about 45K tasks in rabbitmq for celery to crunch through.

We have 9 c4.2xlarge ES nodes and 5 t2.xlarge celery nodes in -prod, whereas 3 t2.large ES nodes, and 2 t2.large celery nodes in -stage. Obviously, the two setups are not comparable.

```./manage.py reindex --

[2017-04-28 01:19] EnTeQuAk commented on #5288
Assigning @eviljeff given that it's his commit and he probably knows best how to fix this. But please feel free to re-assign :)

[2017-04-28 06:39] ValentinaPC commented on #4974
**@diox** : the part about the `firefox57` tag was not pushed to prod?
Thanks!

[2017-04-28 09:05] eviljeff commented on #5288
Is the API request authenticated?  If it was the review should included because it's [your review](https://github.com/mozilla/addons-server/blob/master/src/olympia/reviews/views.py#L397) (and because you're an admin)
Secondly, you're sure it only affects admins?  They [specifically](https://github.com/mozilla/addons-server/blob/master/src/olympia/reviews/views.py#L396) shouldn't get any extra filt

[2017-04-28 09:45] diox commented on #4974
It was: https://addons.mozilla.org/en-US/firefox/search/?tag=firefox57

[2017-04-28 10:18] EnTeQuAk commented on #5217
We'll have to work on this given that it's in our devhub which won't be replaced by addons-frontend anytime soon. It's low-priority though imho.

[2017-04-28 10:24] EnTeQuAk commented on #5201
I'm going to close this since we probably won't work on this given the new addons-frontend is upcoming and under heavy development. I don't know if something like that is planned, maybe @muffinresearch or @pwalm would know or could get inspired by the idea :)

[2017-04-28 10:24] #5201 closed

[2017-04-28 10:47] EnTeQuAk commented on #5190
I fixed this by making the error message translatable but now that I think about it… is that what you actually mean in this error or what do you mean by "specific error message"? Like, after switching the language (and explicitly selecting the file again!) you don't get any validation errors like you did before?

[2017-04-28 11:18] diox commented on #5055
So... from that answer and what I can see in the code, https://github.com/jbalogh/django-mobility#varying-on-user-agent is not true is on current configuration. That is to say, though we do the detection in nginx, we keep both django-mobility python middlewares in all situations (local/dev/stage/prod) and therefore, it adds `User-Agent` and `X-Mobile` to the `Vary` header in responses, and re-does

[2017-04-28 11:21] #5118 closed

[2017-04-28 12:23] eviljeff commented on #5149
If this can be replicated on prod, or with the email address in `email_qa_allow_list` please re-open.

[2017-04-28 12:23] #5149 closed

[2017-04-28 12:47] lavish205 commented on #4751
Hi @raajitr are you still working on this bug?

[2017-04-28 12:49] lavish205 commented on #4574
I would like to work on this bug, @eviljeff can you please provide some information to start with this bug?

[2017-04-28 12:52] lavish205 commented on #3326
I would like to work on this bug.

[2017-04-28 13:40] diox opened #5292 "Add locked/has_info_request/has_admin_review flags to AutoApprovalSummary"
Currently, when `auto_approve` runs, it skips add-ons that are locked by other reviewers, or have info requests pending, or are flagged for admin reviews. However, it doesn't store info about add-ons it skips that way like it does for other criteria - they are just skipped, and we lose the info explaining why they were skippped.

Let's stop doing that. Consider those 3 things are regular criteria