[2017-04-28 14:18] muffinresearch commented on #3326
@lavish205 go for it

[2017-04-28 14:24] ValentinaPC commented on #5190
When I said I don't get any specific validation error I meant that in stead of "Starting with Firefox 53, new extensions on this site can only be WebExtensions" - named above "specific error" translated in the selected language I receive just a "Sorry, we couldn't load your add-on." error message.

And the issue, as described in the first comment is still reproducing, but as I said before, not eve

[2017-04-28 14:44] #4751 closed

[2017-04-28 14:53] ValentinaPC commented on #5164
Verified as fixed on AMO-dev FF53(Win 7).
Counter is incremented every time a version of an extension is human reviewed and reset after every auto-approve.
Postfix screenshots:
![2017-04-28_1211](https://cloud.githubusercontent.com/assets/15685960/25534085/70550b02-2c3b-11e7-8463-623faf573f46.png)
![2017-04-28_1752](https://cloud.githubusercontent.com/assets/15685960/25534138/92d0edfe-2c3b-11e7-95

[2017-04-28 15:02] ValentinaPC opened #5293 "Version number of the add-on listed in the Auto-Approved queue is not correct"
Steps to reproduce:
1. Submit a new version for a listed public add-on that qualified for auto-approve i.e. https://addons-dev.allizom.org/en-US/developers/addon/webext-simple/versions (v12)
2. Go to Reviewer Tools - Queues - Auto Approved Add-ons - https://addons-dev.allizom.org/en-US/editors/queue/auto_approved
3. Observe the version number near the add-on name

Expected results:
Version number

[2017-04-28 16:02] diox opened #5294 "Display auto approval summary info in review page for users with Addons:PostReview"
In the add-on review page, if the user has `Addons:PostReview` permission, display auto approval summary for each version that could have been auto-approved (i.e. is a unreviewed, listed webextension).

This is mostly a bonus feature to help QA and devs debug issues with auto-approvals, but could be useful for human reviewers as well.

[2017-04-28 17:05] eviljeff commented on #4574
@lavish205 thanks.
This should be just a css change.  I changed the Resume 'link' to actually be a button, which meant it lost some styling.  It's specified here https://github.com/mozilla/addons-server/blob/master/static/css/devhub/listing.less#L120:L130 and it might just be a matter of adding something similar to https://github.com/mozilla/addons-server/blob/master/static/css/devhub/listing.less

[2017-04-28 17:44] bqbn commented on #5055
What is the purpose for adding ```Vary: User-Agent``` header now that we're removing the django-mobility middleware anyway?

According to https://bugzilla.mozilla.org/show_bug.cgi?id=1330939#c13 there should already be a responsive 404 page for mobile. I think it's in https://github.com/mozilla/addons-server/pull/4715.

[2017-04-28 17:46] lavish205 commented on #4574
@eviljeff What I understand is, I need to add blue color to `button.link` and add `text-decoration: underline` for hover property.

[2017-04-28 17:54] diox commented on #5055
The purpose is to let upstream caches cache pages differently since for the same URL, depending on the user agent, you might get served a mobile or a desktop page. *Technically* we should also vary on `Cookie` but I'm going for the exact same result here first before messing with things.

There *is a responsive 404 already, I'm not saying otherwise :) The problem is, we can not serve it to desktop

[2017-04-28 20:07] kumar303 opened #5297 "Provide a filter param to hide reviews without a body"
The [list reviews](http://addons-server.readthedocs.io/en/latest/topics/api/reviews.html#list-reviews) API will hide reviews without a body (i.e. star ratings) by default as of https://github.com/mozilla/addons-server/pull/5227#issuecomment-296651852

As discussed on IRC:

1. The API should not exclude reviews without a body by default (https://github.com/mozilla/addons-server/commit/b098079c45f#d

[2017-04-28 20:11] bqbn commented on #5055
@diox please create a bugzilla ticket for this and we can discuss the details there.

Nginx should be able to add the Vary header for the clients and pass a header for the application.

[2017-04-29 06:19] bqbn commented on #5209
After importing some production stats data of addon id 1865 to -stage, I ran ```./manage.py reindex --with-stats``` again on -stage, and unfortunately, the command still stuck in some endless loop, and didn't want to return successfully.

The tables that were used to dump data from -prod are:
[code]

Are there other means we can use to verify that ```./manage.py reindex --with-stats``` will be suc

[2017-04-29 09:45] rctgamer3 opened #5300 "Signature Verification Error: the signature on this .jar archive is invalid because the certificate used to sign this file has an unrecognized issuer."
Running Firefox on Ubuntu 16.04.2 LTS with WSL. Tried installing my own Firefox 2 theme and it borks on `ignature Verification Error: the signature on this .jar archive is invalid because the certificate used to sign this file has an unrecognized issuer.`
https://addons.mozilla.org/firefox/downloads/latest/firefox-2-theme-for-firefox-3x/addon-6898-latest.xpi

[code]

[2017-04-30 05:43] Gitoffthelawn commented on #5135
What is the ETA to fix this?  It's rather important.

[2017-05-01 01:30] EnTeQuAk commented on #5190
Ah, I misunderstood the issue then. I'm on PTO now so I can't look into that any further but maybe once I'm back or someone else can depending on importance, looks like a edge-case to me though.

[2017-05-01 01:32] #5230 closed

[2017-05-01 07:11] rctgamer3 opened #5302 "Give reviewers some points for info requests and admin flags"
Not my idea, remembered this bug when it was first filed, was curious what happened to it, but it was left to rot in the graveyard, so reposting here (1125326)

[2017-05-01 07:11] rctgamer3 commented on #5302
I'm not sure how needinfo should be handled nowadays. Needinfo is still there, but marked as developer replies back and forth.

[2017-05-01 07:14] rctgamer3 commented on #4922
And reviewers/admins.

[2017-05-01 07:18] rctgamer3 opened #5303 "Leftover strings suggest to put reviewer instructions in the NFR field instead of on the whiteboard"
Title. I submitted an update to one of my add-ons and, during the submission process saw this pass by. There's a dedicated whiteboard field for this kind of data, but it still currently instructs developers to put credentials/reviewer instructions (how to review/use the add-on) in the Notes for Reviewers.

[2017-05-01 11:10] wagnerand commented on #5302
I'm 👎  on that.

[2017-05-02 08:27] ValentinaPC commented on #5118
Verified as fixed on AMO-dev FF53(Win 7).
Tried submission with `maxVersion` 53.0a1/53.0a2 and submission was restricted.
Postfix screenshot:
![2017-05-02_1122](https://cloud.githubusercontent.com/assets/15685960/25609968/1454e45c-2f2a-11e7-946d-3f8e10386661.png)

[2017-05-02 09:13] ValentinaPC commented on #5230
Verified this in AMO-dev FF53(Win 7).
Tried with different characters.
Postfix screenshot:
![2017-05-02_1210](https://cloud.githubusercontent.com/assets/15685960/25611593/5cf3b584-2f30-11e7-896d-a8fd63009a82.png)

[2017-05-02 09:34] ValentinaPC commented on #4751
Verified as fixed on AMO-dev FF53(Win 7).
Postfix video:
![revname](https://cloud.githubusercontent.com/assets/15685960/25612505/ac0e57f2-2f33-11e7-90b1-8a9f6d1512b7.gif)

[2017-05-02 09:58] diox opened #5304 "Make shield study 11 page translatable"
Quoting @squarewave in #5298:

Though the PR has already been merged, opening this issue to track this in the milestone.

[2017-05-02 09:58] #5304 closed

[2017-05-02 10:30] diox commented on #5135
Through it would be good to fix it... maybe we should consider replacing it with just a link to a source repo, entered by the developer (stored on the `Addon` model, not the `Version` or `File`). It would be much, much simpler and just as good for users IMHO.

[2017-05-02 10:32] wagnerand commented on #5135
Another idea: Rename "View Source" to "Download Source" and force download the latest public XPI file on click.

[2017-05-02 10:50] diox commented on #5055
https://bugzilla.mozilla.org/show_bug.cgi?id=1361323

[2017-05-02 11:20] muffinresearch commented on #2873
Update: running this recently I get gettext 0.18.2 and running it via docker is needed since you require the django settings etc to do the extraction.

[2017-05-02 13:16] shuvvro opened #5307 "multifox not working"
### Multifox not working

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-05-02 13:17] #5307 closed

[2017-05-02 14:30] kumar303 commented on #5288
This will be fixed by https://github.com/mozilla/addons-server/issues/5297 so I'm closing it in favor of that one.

[2017-05-02 14:30] #5288 closed

[2017-05-02 14:32] kumar303 commented on #5297
By doing this, the legacy frontend will need to explicitly hide reviews without a body

[2017-05-02 14:47] ValentinaPC opened #5309 "Auto-approval counter is not working as expected"
Steps to reproduce:
1. Submit an add-on that meets the criteria from #4533 and manually approve it i.e. https://addons-dev.allizom.org/en-US/developers/addon/webext-simple-wow/versions
2. Add a new version for this add-on (and wait for auto-approve)
3. Meanwhile go to add-on review page and see the auto-approval counter

Expected results:
Counter is "0".

Actual results:
Counter is "1".

Notes/Iss

[2017-05-02 14:52] diox commented on #5309
It seems to me the counter is still 1 and not 0 because it has not been auto-approved yet.

[2017-05-02 14:57] ValentinaPC commented on #5309
Hm...I thought it should start with 0, because it should count the number of approvals after first auto review, as the name says "Approvals since last automatic review", in this case 0 approvals... or did I got it wrong? :(

[2017-05-02 15:02] diox commented on #5309
It should really say "Approvals since last automatic review or the beginning of the life of the add-on, whichever comes first" but that's too long :) Alternatively you can think of it as "Total number human approvals, except it's reset when the add-on is automatically approved".

[2017-05-02 15:03] #5309 closed

[2017-05-02 15:06] diox opened #5310 "Display abuse reports for add-on developers in reviewer tools"
I can't seem to find any page that displays the list of abuse reports for a given user. We do display the list of abuse reports *for an add-on* in reviewer tools, but that's it.

We should add such a page, for users with the right permission. We'll then link to it in the add-on review page if there are any reports about the developers of that add-on (see #5272)

[2017-05-02 15:15] kewisch opened #5311 "Expose permissions on the review page"
To aid reviewers in making quick decisions on the approval status of an add-on, we would like to expose the permissions an add-on has in the reviewer tools.

The permissions are per-file, so we need to include them down in the files section:
![image](https://cloud.githubusercontent.com/assets/607198/25624805/e15065aa-2f5a-11e7-9568-f87dc3044cc3.png)

[2017-05-02 15:27] ValentinaPC opened #5312 "500 error page for "Listed Review Page" link"
Steps to reproduce:
1. Add a new version that qualifies for auto approve for a public add-on that has reviews under 10k in AMO-dev i.e. https://addons-dev.allizom.org/en-US/developers/addon/bidninja/edit
2. Click on "Listed Review Page" link (https://addons-dev.allizom.org/en-US/editors/review/bidninja)

Expected results:
Review page for that add-on is loaded.

Actual results:
A 500 error page is

[2017-05-02 15:33] diox commented on #5312
https://sentry.prod.mozaws.net/operations/olympia-dev/issues/459866/

The tracekback seems to imply it's because there is a deleted version on that add-on - we do some weird hacks in the review page in that case.

[2017-05-02 16:01] diox commented on #5272
Note: because we didn't have a page for user abuse reports, I've splitted this issue in two, creating #5310 ; this issue is now only about user reviews and add-on abuse reports, not developer abuse reports.

[2017-05-02 16:19] #5312 closed

[2017-05-02 16:21] #5264 closed

[2017-05-02 16:29] vcarciu commented on #5294
If the webextension is not candidate for auto-approval(CSP linter warning displayed at submission) , we should not display the auto approval summary.
This is the webextension with CSP linter warning displayed at submission : https://addons-dev.allizom.org/en-US/firefox/addon/jeckmanel/ .
Please see screenshot with the auto approval summary section :
![autoapproval](https://cloud.githubusercontent.

[2017-05-02 16:32] diox commented on #5294
We *should* display it. It's mean to debug why a version has not been auto-approved...

[2017-05-02 16:36] diox commented on #5294
What's expected here:
- After a little while (less than an hour), if nobody is locking the review page (you are, at the moment I'm writing this), auto approves script runs and tries to auto-approve this version
- The script notices the file is using a custom CSP, and therefore marks the version as *not* auto-approves, recording the reason
- The review page will display those reasons in the summary

[2017-05-02 16:36] #5294 closed

[2017-05-02 16:38] muffinresearch commented on #5304
Just awaiting incoming translations.

[2017-05-02 16:45] #5311 closed

[2017-05-02 17:07] eviljeff commented on #5241
mentor @eviljeff (me)
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

This is likely just a simple css fix.  I can provide some more context.

[2017-05-02 17:08] eviljeff commented on #5224
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.
@tofumatt

[2017-05-02 17:10] eviljeff commented on #5168
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.
@tofumatt

[2017-05-02 17:13] kewisch commented on #5168
The version number probably also needs to go on the other side, so the order would be:

LTR: Name - version [label]
RTL: [label] version - Name

[2017-05-02 17:18] wagnerand commented on #3514
Hey @lavish205 are you still working on this? @diox gave some great guidance in the comment above.

[2017-05-02 17:38] lavish205 commented on #3514
yeah I'll push a fix soon.

[2017-05-02 17:47] eviljeff commented on #4574
https://github.com/mozilla/addons-server/blob/master/static/css/devhub/listing.less#L116 I think

[2017-05-02 19:26] Gitoffthelawn commented on #5135
Having an **additional** *Download Source* button makes sense.

But being able to quickly view the source within the browser is a much better option for a common task.  Otherwise, just to check if an extension is e10s-compatible,users will have to:

1. Go to AMO
2. Find a link to download the source
3. Download the source archive
4. Open the source in an unzipper (many users will need to rename th

[2017-05-02 19:34] wagnerand commented on #5135
Exactly. But we are moving towards a webextension-only world, so the importance of e10s compatibility for add-ons keeps decreasing.

[2017-05-02 21:16] jvillalobos commented on #5302
We need to re-evaluate all the points system when we move to post-reviews, and I don't think we'll spend any time changing the pre-review points system. We'll consider this request for post-reviews, but closing this bug since we won't fix it.

[2017-05-02 21:16] #5302 closed

[2017-05-02 21:22] jvillalobos commented on #5272
Per a suggestion in the PRD, can we filter the user reviews so we only get the ones with 3 stars or less?

[2017-05-03 00:01] diox commented on #5272
Sure.

[2017-05-03 06:17] Gitoffthelawn commented on #5135
Very true.  But at the same time, WebExtensions won't be universal for more than half a year... at the earliest.  (When was the last time Mozilla didn't delay a major technological shift?)

In the meantime, Mozilla will gather much better telemetry data and crash reports if more people are using e10s... especially from those users who actually use extensions.  But right now, it is a huge PITA for

[2017-05-03 08:25] ValentinaPC commented on #5312
Verified as fixed on AMO-dev FF53(Win 7).
Review page is available for add-ons with hard deleted versions.
Postfix video:
![review](https://cloud.githubusercontent.com/assets/15685960/25652853/d2c7e006-2ff2-11e7-901e-35b2ad0737d7.gif)

[2017-05-03 09:06] ValentinaPC commented on #5311
Verified as fixed on AMO-dev FF53(Win 7).
Postfix screenshot:
![2017-05-03_1136](https://cloud.githubusercontent.com/assets/15685960/25654238/fd409142-2ff8-11e7-9ae1-ac0f5db20910.png)

[2017-05-03 09:51] ValentinaPC commented on #5311
@kewisch : I forgot something - for add-ons with no permissions should we list "Permissions: None" in review page? Thanks!

[2017-05-03 09:53] wagnerand commented on #5311
@ValentinaPC We do list "Permissions: None" for **webextensions** that don't require any permissions. We don't show the permissions block at all for legacy add-ons.

[2017-05-03 10:57] diox commented on #5135
Finding e10s information is irrelevant to this discussion: the source viewer was never a good solution for this, since it's up to the add-on developer to enable that link or not. Plus, as you yourself noted, it's really not practical for this usage anyway. Fortuantely, displaying e10s information on AMO has its own issue, https://github.com/mozilla/addons-server/issues/4975

[2017-05-03 11:19] eviljeff commented on #5228
@muffinresearch is the URL fixed?
I propose `/api/v3/addons/find-replacement/xxxxxx` (drop requirement for `?guid=` too)

[2017-05-03 11:20] #5272 closed

[2017-05-03 13:04] ValentinaPC opened #5319 "Theme description from edit listing is not localized"
Steps to reproduce:
1. Change language in AMO-stage homepage i.e. https://addons.allizom.org/es/firefox/
2. Submit a theme with description https://addons.allizom.org/es/developers/theme/submit
3. Go to Edit listing page for the submitted theme

Expected results:
Description is displayed.

Actual results:
Theme has no description.

Notes/Issues:
- not seeing any description in edit listing page fo

[2017-05-03 14:24] ValentinaPC commented on #5272
Verified this on AMO-dev FF53(Win 7).
This is the way it looks right now:
![userabuse-report](https://cloud.githubusercontent.com/assets/15685960/25664854/905e0b1e-3024-11e7-8003-4618c50d7c82.png)

Do we wanna list the explicit reviews and reports? or should we only list the links with redirection?

[2017-05-03 14:37] diox commented on #5272
The PRD asked for the lists of recent reports/reviews, so I've paginated the list to 5 + gave the full link (which is already present in the top part, but I don't think it hurts to have it twice :)

And yeah, only reviews of 3 stars and under with a text should show up in the "Bad User Reviews" list.

[2017-05-03 14:41] vcarciu commented on #5294
Verified as fixed then . This is what I can see when no human manually approves the webextension with cusom CSP :
![customcsp](https://cloud.githubusercontent.com/assets/1583842/25665778/4697c986-3027-11e7-822e-abcd857b2c58.png)

Also, if there are not enough human approvals :
![autoapprovalsummary](https://cloud.githubusercontent.com/assets/1583842/25665830/6a112060-3027-11e7-8b1c-c7085d23b911.pn

[2017-05-03 15:21] ValentinaPC commented on #5272
You answered to my next question with this :) So we list 5 of the reviews.
We are not interested in listing "good" reviews?

[2017-05-03 15:23] muffinresearch opened #5321 "Revert the updated link for shield study 8"
Since an add-on update was enough to do what was needed the change in the link that landed in #5299 needs to be reverted.

[2017-05-03 15:23] diox commented on #5272
No, only the "bad" ones: it's to help reviewers figure out if an auto-approved add-on is suspicious or not, so good reviews are not necessary.

[2017-05-03 15:25] vcarciu opened #5322 "Collector's notes are not RTL"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/fa/firefox/collections/esorhjy/playpc/

Expected results:
Collector's note is RTL

Actual results:
Collector's notes is not RTL

Please see screenshot for this bug :
![colnot](https://cloud.githubusercontent.com/assets/1583842/25667954/d1483a2e-302d-11e7-8eb5-9a2a694a43b7.png)

[2017-05-03 15:26] ValentinaPC commented on #5272
The number limit applies for abuse reports also, I think this is also intended.

Marking this verified fixed.

[2017-05-03 15:29] vcarciu commented on #3935
Verified as fixed :
![longtextnotes](https://cloud.githubusercontent.com/assets/1583842/25668136/6f6daf04-302e-11e7-8959-6021dd2f30e5.png)

[2017-05-03 15:35] #5321 closed

[2017-05-03 15:44] muffinresearch commented on #5304
Translations handled as cherry-picks see https://public.etherpad-mozilla.org/p/amo-2017.05.04

[2017-05-03 17:46] muffinresearch commented on #5228
It'll be worth checking with aswan, but I think this is expected to be a web-page rather than an API.

[2017-05-03 17:51] andymckay commented on #5228
about:addons is redirecting to a page on AMO, so yeah its a page. There might be an AMO API behind it, but about:addons doesn't need to know about it.

[2017-05-03 17:54] jvillalobos opened #5324 "Remove Mobile as an application option in version edit page"
STR:
1. Go to an add-on management page
2. Go to the Status & Versions page
3. Click on a version
4. Under Compatibility, click on Add Another Application

Result:
You'll see "Firefox for Android" and "Mobile" as separate, confusing options.

"Mobile" corresponds to an old platform we no longer support. We should at least remove that option from the Add Another Application list. Removing it as a v

[2017-05-03 18:09] eviljeff commented on #5228
Oh! I assumed it was an API that would be consumed and shown within AOM, but okay.

[2017-05-04 00:39] bqbn opened #5328 "Reduce the amount of logs mozLog is sending to logging 2.0"
### Describe the problem and steps to reproduce it:
Currently mozlog creates a new log entry for each request. The logging traffic is too much in -prod and probably unnecessary.

### What happened?
The logging 2.0 backends can't keep up with the amount of logging traffic, unless we spend more money on much beefier instance types and adding more instances.

### What did you expect to happen?
Can we

[2017-05-04 06:47] Gitoffthelawn commented on #5135
@diox If https://github.com/mozilla/addons-server/issues/4975 has a chance of getting resolved, I agree.  But if not, this has been the only semi-reasonable solution.

[2017-05-04 06:49] Gitoffthelawn commented on #4975
+1 for a solution

[2017-05-04 07:35] cosminbadescuSV opened #5329 "Overlapped words in promo banner"
### Describe the problem and steps to reproduce it:
Go to https://addons.mozilla.org/en-US/firefox/ and navigate in the promo banner.

### What happened?
Words are overlapped in the promo banner for some Add-ons.

### What did you expect to happen?
Words to not be overlapped in the promo banner for some Add-ons.

### Anything else we should know?
Verified on FF55.0a1 and FF53.0 under Wind 7 64-bit

[2017-05-04 10:22] ValentinaPC opened #5331 "New Add-ons review percentage is not calculated correctly"
Steps to reproduce:
1. Load Reviewer Tools homepage https://addons.allizom.org/en-US/editors/
2. Hover over New Add-ons - Current waiting times - percentage bar

Expected results:
Add-on reviewing percentage is calculated correctly.

Actual results:
Add-on reviewing percentage sum is incorrect.

Notes/Issues:
- review add-on percentage is calculated correct for "Updates" section.

Verified on FF53

[2017-05-04 11:11] diox commented on #5293
This is because of the `GROUP BY versions.addon_id` we're doing to exclude duplicate add-ons from the list. Not sure yet how I can fix it without subqueries.

Maybe just displaying the current approved version would be enough ? There could be edge-cases - it could be different from the latest auto-approved if it has been reviewed by a human since, or if the latest auto-approved versions has been d

[2017-05-04 11:17] #4760 closed

[2017-05-04 13:14] #5328 closed

[2017-05-04 15:20] diox commented on #5105
Old mobile pages are gone and this bug appears to be fixed.

(Ideally we should to replace the tag view/links by a regular search like `https://addons.mozilla.org/en-US/firefox/search/?tag={insert_tag_here}`)

[2017-05-04 15:20] #5105 closed

[2017-05-04 15:22] diox commented on #5013
@eviljeff do we care?

[2017-05-04 15:26] diox commented on #5303
TIL we have a `whiteboard` field...

[2017-05-04 15:30] diox commented on #5016
cc @EnTeQuAk since it's close to #5135

[2017-05-04 15:32] diox commented on #5190
(not related to legacy switch off - would happen regardless, removing label)

[2017-05-04 15:38] eviljeff commented on #5013
It would be nice if they were the same - and Firefox's messaging is more user friendly - but I don't think it's essential.
Also the problem is there isn't a written spec of how Firefox's permission UX is supposed to work so we're limited to copying how it appears to work (or reading all the code) then doing it again each time someone changes Firefox.

In this particular case, AMO is displaying the

[2017-05-04 16:05] diox commented on #5324
Possibly related (I don't remember how everything is tangled together) https://github.com/mozilla/addons-server/issues/3360

[2017-05-04 16:41] diox opened #5334 "Make the admin environment view useful"
STR:
* Visit https://addons-dev.allizom.org/en-US/admin/env as an admin

Expected results:
- A useful page detailing the server environment

Actual results:
- A blank page with just `<WSGIRequest: GET '/en-US/admin/env'>`.

[2017-05-04 17:06] #5334 closed

[2017-05-04 22:34] wagnerand opened #5337 "Be explicit when a submission failed auto-approval"
[code]

Thanks! 😄

[2017-05-05 08:36] ValentinaPC commented on #5334
Verified as fixed on AMO-dev FF53(Win 7)
Postfix screenshot:
![env](https://cloud.githubusercontent.com/assets/15685960/25738677/1786f4e4-3187-11e7-9ce3-f723a3fba417.png)

[2017-05-05 09:17] #5055 closed

[2017-05-05 10:00] #5292 closed

[2017-05-05 10:12] #5337 closed

[2017-05-05 10:34] eviljeff commented on #5011
@jvillalobos does anyone actually use the signed beta files log?   (And when would there be any failed validation)

[2017-05-05 12:55] spoji opened #5339 "Exposing long list permissions on the review page create minor UI issues"
### Describe the problem and steps to reproduce it:
On Firefox, looking at https://addons.mozilla.org/en-US/editors/review/samo-select shows a long list of permissions that somewhat create a bad UI experience for the reviewer.

On Google Chrome 53, the UI of this same review page is broken. See :
![chrome_ui_broken](https://cloud.githubusercontent.com/assets/2171145/25746168/36ee3fca-3170-11e7-889

[2017-05-05 13:51] ValentinaPC commented on #5337
Verified on AMO-dev FF53(Win 7).
There are 2 cases when we do not specific why the add-ons it was not auto-approved:
- embedded webextensions (example: https://addons-dev.allizom.org/en-US/developers/addon/embedded-webextension-2/edit)
- add-on flagged by admin during submission (example: https://addons-dev.allizom.org/en-US/editors/review/multiple-)

What should we do with these?

The rest of cas

[2017-05-05 13:57] ValentinaPC commented on #5292
What should be checked here extra beside what was checked in #5294 and #5337 ?
Many thanks!

[2017-05-05 14:18] diox opened #5341 "Don't display approvals counter for non-webextensions in reviewer tools"
The approvals counter in reviewer tools is only useful for auto-approvable add-ons, only display it for webextensions.

[2017-05-05 14:33] diox commented on #5337
Only "pure" webextensions can be auto-approved

Not a webextension

[2017-05-05 14:36] diox commented on #5292
You can test this change with updates of add-ons that are flagged for admin review, locked by a reviewer (keep the review page opened, wait till auto-approve script runs, refresh the page) or have an info requests.

Previously, those add-ons would be skipped by auto-approval, and you'd see "no attempt recorded yet" in auto approval summary info, which was false (they were just skipped). Now, you s

[2017-05-05 14:52] eviljeff commented on #4760
I'm not sure if it's intended or not - the behaviour of review pages for deleted add-ons has never been defined - but it's as now on prod as far as I can see.  One thing is the comment is always counted as listed, even if you do the comment via the review-unlisted page.
You can log a follow-up issue if you want... though given it's priority I'm not sure if it'll ever be fixed.

[2017-05-05 16:19] #5261 closed

[2017-05-05 16:31] #5341 closed

[2017-05-05 16:34] eviljeff opened #5343 "Add a collections API - view"
This will just be the view collection functions necessary to implement the profile page.
[PRD](https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit#heading=h.z5wk3ws26iay)

[2017-05-05 17:01] jvillalobos commented on #5011
No, we've never really had the resources to cover beta files. I suppose we added that filter because at some point there would be validation rules that would block it from being automatically signed, but they were never added.

I think the filter can be safely removed. Not so sure about the log.

[2017-05-08 07:00] ValentinaPC commented on #5337
Marking this verified fixed.

[2017-05-08 08:00] ValentinaPC commented on #5341
Verified as fixed on AMO-dev FF53(Win 7).
Postfix screenshot:
![no-counter](https://cloud.githubusercontent.com/assets/15685960/25795329/8098cc02-33dd-11e7-831f-74ac44b3e213.png)

[2017-05-08 08:03] ValentinaPC commented on #4760
Marking this verified-fixed.

[2017-05-08 08:52] vcarciu commented on #4982
Verified as fixed :
![betapunctuation](https://cloud.githubusercontent.com/assets/1583842/25797187/dc861810-33e4-11e7-8930-380f1e6545f0.png)

[2017-05-08 09:24] ValentinaPC commented on #5292
Yes, I've checked that in #5337 .
Verified as fixed on AMO-dev FF53(Win 7)
Postfix screenshots:
![not_run_yet](https://cloud.githubusercontent.com/assets/15685960/25793800/d3a84bb8-33d6-11e7-8531-58d40517c1b2.png)
![2017-05-08_1223](https://cloud.githubusercontent.com/assets/15685960/25798285/3b0d1cb8-33e9-11e7-9983-c63cfdc54237.png)

[2017-05-08 16:03] muffinresearch commented on #5329
Looks like a subtle difference in font sizes are causing this - it doesn't happen for me on OSX.

[2017-05-08 22:58] jvillalobos opened #5356 "User bio HTML support broken"
See for example this profile: https://addons.mozilla.org/user/MaDonna/

The HTML is just shown directly on the page, rather than parsed. I would guess this is related to #5264.

[2017-05-09 08:29] ValentinaPC opened #5357 "Wrap add-on summary in public pages"
Steps to reproduce:
1. Add a multiple line summary for a public add-on i.e. https://addons-dev.allizom.org/en-US/firefox/addon/tab-mix-plus/?src=cb-dl-mostpopular
2. Go in its category listing page and hover over it i.e. https://addons-dev.allizom.org/en-US/firefox/extensions/tabs/

Expected results:
The summary is wrapped and causing no issues.

Actual results:
The summary is not wrapped.

Notes/

[2017-05-09 13:24] #5324 closed

[2017-05-09 13:57] ValentinaPC commented on #5105
Following the above steps, a mobile page is not loaded and the same page is refreshed, as intended.
Postfix video:
![view](https://cloud.githubusercontent.com/assets/15685960/25854411/8cf4afa6-34d8-11e7-98b7-3c4224cbaa29.gif)

Marking this verified-fixed.

[2017-05-09 14:11] #5228 closed

[2017-05-09 14:29] diox commented on #5310
Since what we really care in this case are reports for developers of add-ons, I'm going to simply modify the queries for the abuse reports for a given add-on to include the add-on developers. It will prevent cluttering the review UI with more info while still providing the functionality we want.

[2017-05-09 15:34] eviljeff commented on #5356
![screenshot 2017-05-09 16 32 32](https://cloud.githubusercontent.com/assets/768592/25859015/294fae18-34d5-11e7-890f-9c0f85093bd9.png)

@jvillalobos which do you prefer to be 'correct'? (1st is what's on prod)

Raw string is `u'<b>bold</b> \r\n rn linebreak \r\n <script>alert()</script> <i>italic</i> <br>br linebreak</br> <a href="http://awesome/">a link</a>'`

[2017-05-09 16:44] vcarciu commented on #5324
Verified as fixed :
![removemobile](https://cloud.githubusercontent.com/assets/1583842/25862202/eed7de3e-34ef-11e7-900a-a1e80b5be0f0.png)

[2017-05-09 17:05] jrbenny35 commented on #4563
@krupa @davehunt @EnTeQuAk I would like to start on the next few tests. Krupa suggested I add some search tests.

Currently there are a few search tests here: https://github.com/mozilla/Addon-Tests/blob/master/tests/desktop/test_search.py

Which ones do we really want to bring over? Or what do we want these search tests to do initially.

I also want to test installing an addon.

[2017-05-09 19:40] jvillalobos commented on #5356
I prefer the last one.

Also, glad I already ate. 🌯

[2017-05-09 20:20] eviljeff commented on #5356
Note that one keeps the text for the link, which is a little different than what the localised version before used to do.
🍣

[2017-05-09 20:26] jvillalobos commented on #5356
Noted.

[2017-05-10 00:35] devaneymoz opened #5364 "Disco Pane content update - May 2017"
For the **25 May** push, we'll leave all current extensions featured (Bulk Media Downloader, uBlock, Awesome Screenshot Plus, Emoji Keyboard), and just REPLACE the three themes...

[new themes]

[Colorful Mandala](https://addons.mozilla.org/firefox/addon/colorful-mandala-by-candelora/) by Candelora
[Fiery Lion](https://addons.mozilla.org/firefox/addon/fiery-lion/) by Cheddo
[Sunshines Bright](http

[2017-05-10 08:45] ValentinaPC opened #5366 "Add-on compatibility cannot be changed if Mobile option is present"
Steps to reproduce:
1. Load Manage page for an add-on that has Mobile set through its Compatibility options i.e. https://addons-dev.allizom.org/en-US/developers/addon/phony/versions/1425918
2. Add/delete some compatibility options and "Save changes"

Expected results:
Changes are saved.

Actual results:
Changes are not saved.

Notes/Issues:
- not reproducing for add-ons that don't have "Mobile" co

[2017-05-10 09:46] diox commented on #5366
Certainly a regression from #5324, yes. I wonder how it has been handled in the past when deprecating applications, it's something that has not been done in a very long time...

[2017-05-10 10:07] diox commented on #5366
Since we can't add them back, I think the solution will be a migration to remove the compatibility info for the "Mobile" app.

[2017-05-10 10:33] #5310 closed

[2017-05-10 10:56] #5366 closed

[2017-05-10 10:57] diox commented on #5366
Once https://github.com/mozilla/addons-server/commit/1fca3dd2119a4759a3049a4f44c97ad5c4471cc0 has landed on dev we'll cherry-pick it to stage. It will remove usage of that application directly in the database.

[2017-05-10 11:09] madalincm opened #5368 "Warning about display name and username displayed even if the fields are completed"
### Steps to reproduce:
1. Register a new account on AMO
2. Confirm the account and go to my account page
3. Complete the username and display name fields
5. Go to the Details field and enter a link in the text box
6. Click the Update Account button

### Expected results:
A warning message that the no links are allowed in the details field is displayed. The warning message about the username and d

[2017-05-10 13:37] muffinresearch opened #5371 "Make initialize_docker fails"
Setting up addons-server via docker on a new machine, the `make initialize_docker` command fails with:

[code]

Possibly caused by: https://github.com/mozilla/addons-server/commit/2c487211d24c5a61a325de3ec6dbca676d255e6e

[2017-05-10 13:42] diox commented on #5371
Should automatically fix itself tomorrow when we push, but I'm going to make the script more robust anyway.

[2017-05-10 13:44] muffinresearch commented on #5371
FWIW as a workaround, reverting temporarily the patch here [1] allowed the initialization step to complete.

[1] https://github.com/mozilla/addons-server/commit/2c487211d24c5a61a325de3ec6dbca676d255e6e

[2017-05-10 13:58] ValentinaPC opened #5372 ""Weekly downloads"are 0 for every search tool"
Steps to reproduce:
1. Load search Tools page on stage i.e. https://addons.allizom.org/en-US/firefox/search-tools/
2. Sort by "Weekly downloads"

Expected results:
Search tools have different weekly downloads numbers.

Actual results:
All search tools have 0 weekly downloads.

Notes/Issues:
- reproducing for CT also;
- it is interfering with testing :) ;

Verified on FF53(Win 7). Issue is **ONLY**

[2017-05-10 14:26] ValentinaPC commented on #5310
Verified as fixed on AMO-dev FF53(Win 7).
- Developer abuse reports are added in the review page of every add-on submitted by the reported developer.
- For auto-approved add-ons the developer abuse reports and add-ons abuse reports are in the same page and use the same counter.

Postfix screenshots:
![2017-05-10_1712](https://cloud.githubusercontent.com/assets/15685960/25903424/0daaba06-35a5-11e7-

[2017-05-10 14:58] wagnerand opened #5375 "Display abuse reports for user on an admin viewable user profile page"
Similar to https://github.com/mozilla/addons-server/issues/5310, I'd be good to show user abuse reports on the user profile page (for users with the right permission).

[2017-05-10 15:46] #5356 closed

[2017-05-10 16:33] eviljeff commented on #5339
assigned Andreas because he added the feature.

[2017-05-10 16:46] eviljeff commented on #5375
Is this required sooner than Q3 when addons-frontend will replace the existing (legacy) profile page?

[2017-05-10 16:56] wagnerand commented on #5375
Maybe not required, but if easy, it would be a quick win. Currently, we have to go through salesforce...

Adding @jvillalobos for making a decision.

[2017-05-10 16:58] jvillalobos commented on #5375
Not required before the new front end.

[2017-05-10 17:07] eviljeff commented on #5331
It's just rounding
2/644 = 0.31% (rounded to 0%)
3/644 = 0.47% (rounded to 0%)
639/644 = 99.22% (rounded to 99%)
There isn't an easy fix - if we round up <1 then it'd be 1% + 1% + 99% and there would be other cases where it'd be like 1.49% + 1.49% + 99.02% that'd still be wrong.

[2017-05-10 17:07] #5331 closed

[2017-05-10 17:28] #5371 closed

[2017-05-10 17:38] eviljeff commented on #5109
@jvillalobos is this admin edge case worth handling?

[2017-05-10 18:32] atsay opened #5379 "Remove footer field from theme submission form"
### Describe the problem and steps to reproduce it:
Theme footers are obsolete, so we should remove the field on the theme submission form where we ask for a footer image.

### Anything else we should know?
https://www.dropbox.com/s/k5gvodd0c88pazg/Screenshot%202017-05-10%2011.31.23.png?dl=0

[2017-05-10 18:54] wagnerand opened #5380 "Dockerhub build fails because of ipython"
[code]

https://hub.docker.com/r/addons/addons-server/builds/bvhjzmmc4wtqqfrf7xf23hx/

[2017-05-10 19:59] #5380 closed

[2017-05-10 20:06] jvillalobos commented on #5109
No, I don't think this matters much.

[2017-05-10 20:35] #5109 closed

[2017-05-11 07:13] ValentinaPC opened #5383 "Collection name and description are not localized in edit page"
Steps to reproduce:
1. Go to Collections homepage
2. Change the language i.e https://addons.mozilla.org/fr/firefox/collections/
3. Create a collection
4. Change the language to `en` or other (not the one used to submit the collection)
5. Click "Edit collection"

Expected results:
Collection has name and description as submitted.

Actual results:
Collection has no name or description.

Notes/Issues

[2017-05-11 07:43] ValentinaPC commented on #5356
Verified as fixed on AMO-dev FF53(Win 7) in both My Profile and Developer profile pages.
Postfix screenshots:
![myprofile](https://cloud.githubusercontent.com/assets/15685960/25938041/9d4129a2-3636-11e7-8029-c1a9d0c752ef.png)
![html](https://cloud.githubusercontent.com/assets/15685960/25938045/a1021ac4-3636-11e7-8a10-590399a86e07.png)

[2017-05-11 08:18] ValentinaPC opened #5384 "Remove "Add-ons for Mobile" option from "More...""
Steps to reproduce:
1. Load AMO homepage https://addons-dev.allizom.org/en-US/firefox/
2. Click on "More..." option from the menu

Expected results:
"Add-ons for Mobile" option is not listed.

Actual results:
"Add-ons for Mobile" option is listed.

Notes/Issues:
- "Mobile" compatibility no longer being listed in Dev Hub ( #5324 ), no use to confuse the user;
- clicking on it redirects as expected.

[2017-05-11 08:25] ValentinaPC commented on #5366
Verified as fixed on AMO-dev and stage using FF53(Win 7).
Seems like the Mobile compat option was removed from all available add-ons. (although I could not check it all :) )
Postfix video:
![compat](https://cloud.githubusercontent.com/assets/15685960/25939742/911f8172-363c-11e7-8a10-4062b38bc588.gif)

[2017-05-11 09:21] madalincm opened #5385 "Experimental add-ons available on all platforms have the install button text black"
### Steps to reproduce:
1. Open https://addons.allizom.org/en-US/firefox/addon/no-shoes-radio-add-on-for-fire/ and observe the button
2. Open https://addons.allizom.org/en-US/firefox/addon/fireplurk/ and observe the button

### Expected results:
Both experimental add-ons not compatible on current Firefox version have the same button.

### Actual results:
The button for the all platform add-on has

[2017-05-11 11:02] diox commented on #5273
From comments in the implementation plan, the reason why storing this info is useful:

For the last part, the review history, just using activity log should be enough. For the first part, I'm debating different solutions:
- Store manual approval ("confirmation") in a new field in `AutoApprovalSummary`
- Delete the `AutoApprovalSummary` instance when a reviewer manually approves that version
- Add

[2017-05-11 11:15] ValentinaPC commented on #5384
In time.... only the link changed and not the option name.

[2017-05-11 14:24] eviljeff commented on #5081
I kept the 'more information requested' action even though it's named 'Reviewer Reply' in the UI.  If @wagnerand can log a new issue for his 'info requested' checkbox idea i'll change that in there so the 'info request' action is used when the checkbox is checked, etc.

[2017-05-11 14:25] #5293 closed

[2017-05-11 14:26] diox commented on #5293
**QA:** the version number displayed in that list is now the current public version. It will not necessarily have been auto-approved, but it's an edge case I'm willing to live with for the time being (in the future, all add-ons will be auto-approved anyway)

[2017-05-11 14:48] ValentinaPC commented on #5081
We can mark this verified-fixed and follow-up the other details.

[2017-05-11 15:50] #5274 closed

[2017-05-11 16:48] jvillalobos commented on #5384
This doesn't need to be changed, at least not in the old front end. The distinction between "mobile" and "Android" is strictly internal, and shouldn't be confusing for end users.

The new frontend, as it currently stands, won't have that option in the main navigation.

[2017-05-11 16:48] #5384 closed

[2017-05-11 17:12] kumar303 commented on #4566
We decided to [shut down the admin](https://github.com/mozilla/addons-frontend/issues/2373) for now.

[2017-05-11 17:12] #4566 closed

[2017-05-11 20:02] eviljeff opened #5387 "remove 'webext-permissions' waffle"
It's not needed any more (and confusing contributors!)

[2017-05-11 22:13] deniz4424 opened #5388 "multifox"
multifox  eklentisi neden yok bulamıyorum  lütfen yeniden eklenti olarak verirmisiniz. mozilla güncellemesi sonrasında eklenti çalışmadı  yeniden yüklemek istedim ancak siz kaldırmışsınız ilgini ve cevabınızı bekliyorum. teşekkürler.

[2017-05-11 22:22] andymckay commented on #5388
Please see the comments in #4714.

[2017-05-11 22:22] #5388 closed

[2017-05-12 08:24] #5241 closed

[2017-05-12 08:30] ValentinaPC commented on #5274
Verified as fixed on AMO-dev FF53(Win 7) in Admin Tools - Fake mails log page.
The only mail sent is to "`amo-editors+somethingbad@mozilla.org`" and not to the developer.
Postfix screenshot:
![2017-05-12_1119](https://cloud.githubusercontent.com/assets/15685960/25989581/64095e46-3705-11e7-96f8-0a75ec07f1fc.png)

[2017-05-12 09:19] vcarciu commented on #5241
Verified as fixed :
![distance](https://cloud.githubusercontent.com/assets/1583842/25991775/31860bba-370d-11e7-9386-403fb6588173.png)

[2017-05-12 09:32] #5387 closed

[2017-05-12 11:33] deniz4424 commented on #4714
benzer bir eklenti varmı acaba

[2017-05-12 13:43] ValentinaPC commented on #5293
Verified as fixed on AMO-dev FF53(Win 7).
The version listed in the `Auto Approved Add-ons` queue is the last public version of the add-on.
Postfix screenhsots:
![queue](https://cloud.githubusercontent.com/assets/15685960/26000575/264bdf70-3732-11e7-91f6-98c163e1c2de.png)
![review](https://cloud.githubusercontent.com/assets/15685960/26000582/2c79184a-3732-11e7-91dd-fd703c61963e.png)

[2017-05-12 15:31] #5343 closed

[2017-05-12 17:15] harikishen commented on #2351
i would love to takeup this bug

[2017-05-12 17:18] harikishen commented on #2351
also is the textarea supposed to be resizeable ???

[2017-05-12 18:12] muffinresearch commented on #5329
Doesn't happen on windows 10 either.

<img width="1036" alt="screenshot_12_05_2017__19_11" src="https://cloud.githubusercontent.com/assets/1514/26010960/f437a5e0-3746-11e7-913b-0a36124891ff.png">

[2017-05-12 18:13] #5329 closed

[2017-05-12 18:25] wagnerand opened #5394 "File viewer fails to display file contents"
It happened again. I know. I'm sorry.

The file viewer failed horribly for file 641732.

<img width="1675" alt="screen shot 2017-05-12 at 20 19 36" src="https://cloud.githubusercontent.com/assets/873258/26011335/3769d042-3740-11e7-8a35-f20d405333ff.png">

Pinging @EnTeQuAk as he'll sure love to see this.

[2017-05-12 19:23] muffinresearch commented on #2351
@harikishen yep - it would be fine to make it not resizable.

[2017-05-12 19:24] muffinresearch commented on #5394
@wagnerand I've not look at this on the site, but from the screenshot it says the highlighted file is a directory. Or is that you can't view the files under the directory at all too?

[2017-05-12 19:27] wagnerand commented on #5394
Correct. There should be at least a manifest file (otherwise it wouldn't have passed validation and therefore wouldn't be accepted).

[2017-05-12 20:14] harikishen opened #5395 "Fails while running 'make initialize_docker'"
The make script to initialize db fails
This is the output of the command https://pastebin.mozilla.org/9021528

[2017-05-12 20:18] harikishen commented on #5395
I would like to takeup this issue and fix this

[2017-05-13 08:27] harikishen commented on #2568
The issue is not fixed

[2017-05-13 19:04] leedoyle commented on #5073
@EnTeQuAK it doesn't explain why mozilla team deleted the extension from AMO

[2017-05-14 06:12] EnTeQuAk commented on #5395
I don't see anything in the paste you linked, mind checking and posting all the details you have? I just reset and initialized my database locally and it worked just fine.

[2017-05-14 06:12] #5395 closed

[2017-05-14 06:13] EnTeQuAk commented on #5395
I closed the issue for now but please feel very free to re-open at any time with more information if necessary.

[2017-05-14 06:26] EnTeQuAk commented on #5394
😠 I'll take a look shortly, let's hope we can still see something in the server-logs. I assume this was on prod?

[2017-05-14 07:32] EnTeQuAk commented on #2568
This works perfectly for me as far as I can tell, can you post any specific details and more information about what doesn't work? If possible preferred as a new github-issue.

[2017-05-14 08:47] wagnerand commented on #5394
Yes! Thank you!

Christopher Grebs <notifications@github.com> schrieb am So. 14. Mai 2017 um
08:26:

[2017-05-14 10:10] harikishen commented on #5395
@EnTeQuAk I think there is some issue

[2017-05-14 10:10] harikishen commented on #5395
Thought the script did work now

[2017-05-14 10:10] harikishen commented on #5395
It would be great if you look into it

[2017-05-14 10:11] harikishen commented on #5395
Sorry about the pastebin link I had by mistake set it to be available only for a day

[2017-05-14 10:12] harikishen commented on #5395
this was the issue i faced earlier https://github.com/mozilla/addons-server/issues/2568

[2017-05-14 21:42] shk-gb opened #5399 "multifox is gone?"
### Describe the problem and steps to reproduce it:
Popular add-on Multifox is missing from the add-ons server.

### What happened?
Popular add-on Multifox is missing from the add-ons server.

### What did you expect to happen?
Multifox used to be listed and is one of the most important add-ons.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant fil

[2017-05-14 21:49] shk-gb commented on #5399
Sorry, I just realized there's already an issue for this #4667

[2017-05-14 21:49] #5399 closed

[2017-05-15 01:07] EnTeQuAk commented on #5394
Still investigating… I can't see anything obvious related to that file but I found

[code]

which isn't something that's in that package but there are quite a few… can't find anything containing a file in that package though… still searching…

[2017-05-15 01:21] EnTeQuAk opened #5400 "l10n extraction files because of escaping errors in pl and hi_IN"
[code]

The errors in question are related to our latest shield study 11, maybe some of the manual edits?

[2017-05-15 01:27] EnTeQuAk commented on #2873
I'm starting to get somewhere with my addons-robot refactoring so I'll tackle fixing the requirements for running the extraction again, this week.

[2017-05-15 04:51] EnTeQuAk opened #5404 "UnicodeDecodeError on file-download for files with unicode filenames"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/390602/
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/390569/

Full traceback

[code]

This could be a regression of 5faa1026194545e20c96ba2e6625b441ffd82892

[2017-05-15 04:58] EnTeQuAk commented on #5395
Interesting, I can't reproduce and this was fixed for quite some time. It'd be really nice to get some kind of log or so to reproduce or follow along this easier if you have it or if you're able to reproduce.

[2017-05-15 05:13] EnTeQuAk commented on #5395
Maybe this got fixed by https://github.com/mozilla/addons-server/issues/5374?

[2017-05-15 05:17] harikishen commented on #5395
Hmm

[2017-05-15 05:50] erosman opened #5407 "[Auto-Review] Not picking up Unacceptable JQuery Libraries"
ref: `https://addons.mozilla.org/en-US/editors/review/706533/`

Version 1.1.2 · March 17, 2017
Approved By Mozilla on May 11, 2017, 10:15:11 PM

Above should not have passed the AUTOMATIC review.

[2017-05-15 07:47] cosminbadescuSV commented on #5329
I can confirm that this issue is verified as fixed on FF55.0a1 and FF53.0 under Wind 7 64-bit in AMO prod server, please see the video below:
![overlappedfix](https://cloud.githubusercontent.com/assets/15885467/26047413/c7dbca28-395b-11e7-8ef5-37b9343353ff.gif)

[2017-05-15 08:31] eviljeff opened #5408 "Add user notifications API"
The existing user profile allows users to manage their own email notifications and we need an API replacement for this.

Follow on from #5261

[2017-05-15 09:20] diox commented on #5407
It's not an auto-approval criteria.

If we're talking about a jQuery file that is directly imported from their website, and should not be allowed, this should be done in addons-linter. Otherwise, we have no way to reliably detect this.

cc @jvillalobos

[2017-05-15 09:23] harikishen commented on #3297
I would like to take this up.

[2017-05-15 09:24] wagnerand commented on #5407
Version 1.1.2 contains a jQuery 3.1.1 that validation recognized as valid.

[2017-05-15 09:25] harikishen commented on #2435
I would like to work on this issue.

[2017-05-15 09:28] harikishen commented on #2372
I would like to work on this.

[2017-05-15 09:39] harikishen commented on #4869
I would like to work on this.

[2017-05-15 09:40] harikishen commented on #4869
But this is the output i get
<img width="512" alt="image" src="https://cloud.githubusercontent.com/assets/8170184/26051702/963946ba-3980-11e7-810a-4b0faff864f0.png">
Not the one mentioned in the issue.

[2017-05-15 09:56] erosman commented on #5407
I was actually referring to other JQueries such as `jquery-ui.min.js` which is NOT recognised by the validator.

[2017-05-15 10:26] wagnerand commented on #5407
If, a file is not recognized as a known library, it's just yet another file. We (currently) cannot detect a library that just doesn't match the hashsum. We therefore cannot reject (post-review or not) a file that includes a non-matching library file.

[2017-05-15 11:19] muffinresearch commented on #5364
@EnTeQuAk you ok to get the updated strings landed ASAP so there's enough time to get the translations ahead of the 25th push?

[2017-05-15 11:22] erosman commented on #5407
As a suggestion, auto-approval can consider/detect minified files (ie files without line breaks for XXX length characters).

[2017-05-15 11:36] diox commented on #5407
This is out of scope for the current auto-approval mechanism.

For post-review (planned this quarter), something like that (which may not be 100% reliable) will be included to bump the add-on up in the post-review queue.

[2017-05-15 11:36] #5407 closed

[2017-05-15 11:41] eviljeff commented on #3297
@harikishen great.  You need to change the `dev_ver_url` variable in `get_context_data` (https://github.com/mozilla/addons-server/blob/master/src/olympia/editors/helpers.py#L536) to be dev_ver_url = reverse('devhub.addons.versions', args=[self.id]) if the version channel is unlisted, and keep it as self.addon.get_dev_url('versions') otherwise.  Easiest place is to put it next to the existing chann

[2017-05-15 12:06] diox commented on #5275
@jvillalobos what subject should I use for the email ? For the basic reject action it's `Mozilla Add-ons: %s %s didn't pass review` and we insert the add-on name and version number. (I don't think it will be practical to use all affected version numbers here - and since we already sent an approval email, it'd need to be different...)

[2017-05-15 12:41] EnTeQuAk commented on #5364
@muffinresearch yeah, I am just about to prepare the patch so it can land after our tag tomorrow

[2017-05-15 12:42] #5400 closed

[2017-05-15 12:42] #5404 closed

[2017-05-15 13:23] davehunt commented on #4563
Yay! 🎉

[2017-05-15 14:11] muffinresearch opened #5409 "Add statsd count for auto approvals"
Would be nice to track auto approvals via datadog assuming no metrics for this are already sent.

[2017-05-15 14:14] #5273 closed

[2017-05-15 14:26] muffinresearch opened #5410 "Track successful / failed submissions via statsd"
There's a bunch of stats already being sent related to upload, but it's unclear if they're the right stats in order to track the health of submissions via the devhub.

The ideal solution to this would be to track submission successes and failures via a statsd count.

[2017-05-15 16:11] harikishen commented on #3297
@eviljeff How do I verify whether the fix works ?

[2017-05-15 16:38] eviljeff commented on #3297
If you've set up a local instance of AMO then `make test`  http://addons-server.readthedocs.io/en/latest/topics/install/docker.html#running-common-commands

I expect one or more tests will fail, in which case you can you just fix it/them and that's enough.

[2017-05-15 17:32] harikishen commented on #3297
[This](https://pastebin.mozilla.org/9021759) is the result when I run the tests without changes.

[2017-05-15 18:37] eviljeff opened #5411 "User account admin functionality"
The new [desktop scope PRD](https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit?pli=1#heading=h.5cheild9uc3u) calls for the exact existing functionality administering user accounts.  I.e. in addition to an admin being able to change everything the user can change (biography, username, etc) they can also set/view account notes; change email address; anonymize the ac

[2017-05-15 18:58] eviljeff commented on #5408
@diox separate api?  (probably `/account/xxx/notifications/`)  Or implement directly in `UserProfileSerializer`?

[2017-05-15 21:01] jvillalobos commented on #5073
The add-on was disabled because it was causing problems for users (unrelated to e10s) and we wanted to prevent more people installing it and having a bad experience. It's up to the developer to submit a new version that addresses these issues. Given it hasn't been updated in over 2 years, it seems unlikely.

[2017-05-15 21:09] jrbenny35 commented on #4563
For installing I am guessing this could only be done from a deployed instance? Trying this on the live server, firefox rejects the install.

[2017-05-15 21:22] jrbenny35 opened #5412 ""Top Rated" sort does not always sort correctly"
1. Navigate to https://addons.mozilla.org
2. Type "Video WithOut Flash" into the search box
3. Search for said addon
4. Click "Top Rated"

Scroll down and you will see it is sorted fine until you get to "Flash Player for Youtube". This addon is rated a 5 but the addon before it, "Youtube and more – Easy Video Downloader" is rated a 4.

[2017-05-15 21:37] jvillalobos commented on #5411
Having a separate admin tool is ideal, but not in the current plans, so I think keeping the existing behavior is the better way forward. The django-admin page doesn't seem to have the same functionality.

I'd like to dedicate some focus to admin tools sometime in Q4/Q1-2018, but that depends on what else is happening then.

[2017-05-15 21:42] jvillalobos commented on #5275
`Mozilla Add-ons: One or more versions of %s didn't pass review`

[2017-05-15 21:44] diox commented on #5412
I don't have access to the db in prod to check, but I bet this is not what it looks like. When you do a search on "top rated", it does not use the true average rating ; rather it uses a [bayesian average](bayhttps://en.wikipedia.org/wiki/Bayesian_average) to purposefully skew the results, essentially favoring add-ons with more reviews with a strong average rating.

Though "Flash Player for Youtube

[2017-05-15 21:45] diox commented on #5412
(I'll add that we should expose the bayesian average rating through the API, it's useful information)

[2017-05-16 08:47] eviljeff commented on #5411
To be clear, any existing behaviour is bound in the current django-frontend that will be dropped when desktop is finished for addons-frontend later this year.  So what we're talking about is effectively *new* functionality.  Either:

a) spend development resources adding extra admin functionality (and complexity) to the account API; then spend development resources adding the same functionality to

[2017-05-16 09:07] davehunt commented on #4563
I believe Firefox will only allow add-ons to be installed from certain sites. It should be possible to trick the live server instance into allowing the install though. Perhaps @muffinresearch could advise. I know we've looked into this before.

[2017-05-16 09:09] ValentinaPC opened #5415 ""Updates" queue is active while "Queues" option is clicked"
Steps to reproduce:
1. Load Reviewer Tools page https://addons-dev.allizom.org/en-US/editors/
2. Click "Queues"

Expected results:
Queues page is loaded. "New Add-ons" tab is active.

Actual results:
Queues page is loaded. "Updates" tab is active.

Notes/Issues:
- I've search a few times `new submitted add-ons` in Updates queue and was scarred that could not find them, because of this. :)
- initia

[2017-05-16 09:15] #1574 closed

[2017-05-16 10:39] muffinresearch commented on #5411
We should discuss this further, but I would very much like to get away from having admin functionality interleaved with user  pages.

For now if we need additional admin functionality to edit user pages I'd propose we should make a specific page in the current addons-server admin app.

[2017-05-16 10:43] ValentinaPC opened #5417 "Use "fastclick" on AMO desktop"
Steps to reproduce:
1. Load details page for any add-on i.e. https://addons-dev.allizom.org/en-US/firefox/addon/tab-notifier/?src=cb-dl-featured
2. Click on "Add-on Review"

Expected results:
User is redirected to Reviewer Tools page.

Actual results:
Nothing happens.

Notes/Issues:
- I've logged this as a follow up for https://github.com/mozilla/addons-frontend/issues/1883 on desktop.
- not repro

[2017-05-16 10:46] tofumatt commented on #5411
I agree.

I've always found it a straightforward way of building apps–to simply add some admin checks into the controllers/views+templates rather than build a new admin page, but even I agree when we want the admin behind a VPN for security reasons and not part of the "user-facing" app. 👍

Mixing and matching is the worst-case I think because it's confusing and arguably a lot of our admin security

[2017-05-16 11:24] muffinresearch commented on #5417
@ValentinaPC I not sure how this is related to the fastclick issues on addons-frontend.

This is just a link and you're using a desktop browser, I don't think there should be anythying else interfering with the link, though you could check the console + browser console to be sure.

* Can you confirm if this is a clean profile with no addons that might intercept clicks?
* Can you show the full wind

[2017-05-16 11:57] EnTeQuAk commented on #2661
I just found https://blog.algolia.com/algolia-v-elasticsearch-relevance/, not completely relevant but it's at least a good source of inspiration and mentiones ElasticSearch quite a bit (despite being obviously about Algolia but who can blame them)

[2017-05-16 12:21] #5263 closed

[2017-05-16 12:35] eviljeff commented on #3297
`addon.is_listed` was removed, yes - that was one of the changes I mentioned. The `is_listed` property has been replaced with a per-version `channel` property.

You have a lot of broken tests, probably because AMO hasn't been set-up correctly.  Did you do all the commands in http://addons-server.readthedocs.io/en/latest/topics/install/docker.html#setting-up-the-containers ?  If you'd already downl

[2017-05-16 12:54] wagnerand opened #5419 "Do not send super-review request notifications to amo-editors"
We're slowly phasing out the amo-editors mailing list, since we have activity email now. @kewisch and I are ok with removing email notification to that mailing list for super review requests, since we don't look at them anyway currently. Long term, super-review might shift a little bit with post-review, but we can tackle that at a later time. It won't probably involve sending a mail to a mailing l

[2017-05-16 13:16] ValentinaPC opened #5421 "Search will not list any search results even if there are some suggestions"
Steps to reproduce:
1. Load AMO homepage https://addons-dev.allizom.org/en-US/firefox/
2. Make a search after "423"

Expected results:
If search suggestions are displayed, after finalizing the search, results should be listed.

Actual results:
One search suggestion is displayed, but clicking on the green arrow or hitting "enter" will not display the search suggestion.

Notes/Issues:
- other exampl

[2017-05-16 13:17] harikishen commented on #3297
yea i followed the steps in both

[2017-05-16 13:32] ValentinaPC commented on #5417
Maybe I misunderstood that bug, or I've checked it...wrong?
Anyway, on desktop, there is an intermittent issue related to clicks, as described above.
- I can confirm that this is reproduced on a clean new profile (now happened while clicking on Admin Manage button )
- Attaching the video including the status bar of the window (new clean profile was used this time)
- And, yes, I can be reproduced o

[2017-05-16 14:46] #5419 closed

[2017-05-16 14:59] diox commented on #5415
This is just because going to /queues/ redirects to the /queues/update, on purpose.

[2017-05-16 14:59] #5415 closed

[2017-05-16 15:14] diox commented on #5372
I think this is just because we don't have stats data for dev and stage - it's just luck that add-ons were imported with the weekly downloads numbers set correctly in most cases (or bad luck that they are not set for the search tools on stage...).

Not sure what we can do here, maybe set random numbers ? The stats pipeline definitely does not work on dev/stage and it's not trivial to set it up.

[2017-05-16 16:15] harikishen commented on #1822
I would like to take this up.

[2017-05-16 17:10] jvillalobos commented on #5322
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @tofumatt

[2017-05-16 17:13] jvillalobos commented on #5125
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @EnTeQuAk

[2017-05-16 17:13] eviljeff commented on #5125
@EnTeQuAk can you add some detail for a contributor to get started?

[2017-05-16 17:14] jvillalobos commented on #5090
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @diox

[2017-05-16 17:27] wagnerand commented on #3326
@lavish205 are you still working on this?

[2017-05-16 18:23] harikishen commented on #3297
but the tests succeed when i run `make test_failed`
https://pastebin.mozilla.org/9021910

[2017-05-16 19:42] jvillalobos commented on #5411
Is this different from the admin app in https://github.com/mozilla/addons-frontend/issues/2373?

[2017-05-16 19:50] wagnerand opened #5426 "Wrong review link for unlisted activity email"
### Describe the problem and steps to reproduce it:

1. Submit an unlisted add-on.
2. As an unlisted reviewer, make a comment.
3. Make a developer reply.

### What happened?

The Reviewer contains the link to the listed add-on.

### What did you expect to happen?

The Reviewer email should contain the link to the unlisted add-on.

[2017-05-16 19:57] jrbenny35 commented on #5412
But wouldn't think be confusing to the user? Currently one of my tests I am adding in #5363 will fail when tested on a deployed instance because the rating does not go from high to low.

[2017-05-16 22:09] tofumatt commented on #5411
Yes, that's the React-based app we'll be phasing out. @muffinresearch was talking about the addons-*server* Django admin app.

[2017-05-17 08:49] #5426 closed

[2017-05-17 09:06] ValentinaPC commented on #5419
@wagnerand : You are talking about the "`Dear Superheroes...`" mails sent to `amo-editors`, yes?
This kind of mails are no longer sent.
Verified on AMo-dev FF53(Win 7) using Fake mails logs and may Yahoo client.
Only an `admin flag` notification is sent to add-on developer.
Postfix screenshots:
![fakemail](https://cloud.githubusercontent.com/assets/15685960/26146552/3e4eed2c-3af9-11e7-8ba5-bca9379

[2017-05-17 09:20] vcarciu commented on #5400
Can you please add some STRs to this bug or mark it as "qa:not needed" ?

[2017-05-17 09:21] vcarciu commented on #5404
Can you please add some STRs to this bug or mark it as "qa:not needed" ?

[2017-05-17 09:22] vcarciu commented on #3780
Can you please add some STRs to this bug or mark it as "qa:not needed" ?

[2017-05-17 10:45] #5364 closed

[2017-05-17 10:45] ValentinaPC opened #5428 "Wrong message while user logs in from 2 AMO tabs"
Steps to reproduce:
1. Open AMO-stage in 2 tabs while being logged in
2. Sign out from each tab independently
3. Sing in from each of the tabs

Expected results:
At the second tab, user is announced that he is already signed in.

Actual results:
User appears to be signed in, but the message "You could not be logged in. Please try again. Need help?" is displayed.

Notes/Issues:
- refreshing the pag

[2017-05-17 10:51] diox commented on #5412
Maybe, but that's a product issue, I'm merely stating that it's not a bug :)

I'd be in favor of displaying the bayesian average everywhere instead of the actual average, but then we'd have to tweak copy slightly to remove indications that it's an average, because then *that* would confuse users who'd do the simple math and wonder why it does not match...

[2017-05-17 10:53] wagnerand commented on #5419
Yes, talking about the email to amo-editors.

[2017-05-17 11:25] ValentinaPC commented on #4025
This can be misleading while in production.
Please see screenshot:
![newvers](https://cloud.githubusercontent.com/assets/15685960/26151705/9e85867a-3b0c-11e7-84a8-b9cfcee0e532.png)

[2017-05-17 11:33] EnTeQuAk commented on #2817
This isn't solved yet, it's initial implementation got reverted and maybe I'll just wait till @muffinresearch finishes his library to properly generate the RTL locales. The original PR can then be re-used.

[2017-05-17 12:08] vcarciu commented on #5426
Verified as fixed by adding a reviewer Reply from Unlisted Review Page , then adding a Developer reply. Both emails used the the link to unlisted add-on :
![unlistedreply](https://cloud.githubusercontent.com/assets/1583842/26153125/b9b82c6c-3b12-11e7-9b2c-3dcdc26b5739.png)

[2017-05-17 12:37] vcarciu commented on #3780
Verified as fixed :
![confirm approval](https://cloud.githubusercontent.com/assets/1583842/26154065/b085972a-3b16-11e7-9348-1cea4f5c7c33.gif)

[2017-05-17 12:38] vcarciu commented on #5273
Verified as fixed :
![confirm approval](https://cloud.githubusercontent.com/assets/1583842/26154103/d9d0c258-3b16-11e7-93ef-17047560fe00.gif)

[2017-05-17 16:29] jvillalobos opened #5431 "Hide public source viewer links temporarily"
The public source viewer was taken down due to performance issues, which are being investigated in #5135. At the moment users are getting a confusing error message, which has lead to lots of bug reports.

Since the main issue may take a while to resolve, in the short term we should hide those links to prevent users running into those errors.

They are present on [listing pages](https://addons.mozi

[2017-05-17 16:38] EnTeQuAk commented on #5135
So, from our discussion on IRC I think there are a few options we have.

Re-opening the current file-viewer for public usage isn't one of them. It still has performance problems even if only used internally and they are not easy to fix. Aside these there's no real good reason why we should provide a file-viewer interface to the public.

So, if we want to allow people to download the add-on files t

[2017-05-17 16:52] wagnerand opened #5432 "Cannot change name of language pack on AMO"
### Describe the problem and steps to reproduce it:

This happens on prod only!
1. For a langpack, go to the *Edit Information* page in the devhub, e.g. https://addons.mozilla.org/en-US/developers/addon/czech-cz-language-pack/edit
2. Change the name.
3. Change the summary.

### What happened?

After step 2, the title is not changed.
After step 3, the summary **and** name are changed to the exact s

[2017-05-17 17:00] wagnerand commented on #5432
My money is on https://github.com/wagnerand/addons-server/blob/master/src/olympia/zadmin/tasks.py#L619

[2017-05-17 17:41] wagnerand commented on #5135
What I suggested [above](https://github.com/mozilla/addons-server/issues/5135#issuecomment-298598385) would still work for me.

[2017-05-17 17:56] Gitoffthelawn commented on #5135
I have to respectfully disagree.  I'm "the public" and I have used AMO's file-viewer interface quite a bit for years.  I have found it to be very useful.  (BTW, as a usability expert, I do recommend consulting with your userbase before making assumptions about their needs.)

I like this idea.  It sort of exists, as "Add-on home page" and "Support site" links, but a real "View Source" link could be

[2017-05-17 18:10] jvillalobos commented on #5135
I agree that giving developers the option to link to a repository, separate from a homepage and support link, would be valuable, and maybe sufficient to replace `View Source`. There is some added value in allowing to inspect the package directly in case users don't trust the package matching the sources. However, in that case they shouldn't trust us showing the right sources either and it would be

[2017-05-17 19:58] hckr commented on #5135
Why does the message suggest a lack of permissions? Wouldn't it be better to change the message and/or hide "view the source" link for anyone but reviewers and admins?

[2017-05-17 20:07] jvillalobos commented on #5135
See the recently filed #5431

[2017-05-17 20:17] jrbenny35 commented on #4563
@muffinresearch thoughts?

[2017-05-17 20:18] jvillalobos opened #5433 "Give WebExtensions higher priority on search results"
As part of the transition to Firefox 57, at some point we need to give WebExtensions higher ranking in search results, to encourage users to install WebExtensions over legacy extensions. This behavior should be gated by a waffle flag since the timing to make it live on prod isn't clear yet.

[2017-05-17 20:26] diox commented on #5433
Easy enough, we just need to figure out a boost value that works. We should be able to do this at runtime I think, just adding a should clause with the appropriate boost if the waffle is turned on.

[2017-05-17 21:30] muffinresearch commented on #4563
@jrbenny35 you need the browser to think it's connecting to addons.mozilla.org if you want installs to happen by default.

You can add exceptions (See about:preferences#security) but bear in mind the new frontend will be eventually using mozAddonManager and that's restricted even more so working within those restrictions will be more future proof.

In the past I made a PoC branch that faked this u

[2017-05-18 06:23] harikishen commented on #5090
@diox I would like to take this up.

[2017-05-18 07:14] ValentinaPC commented on #5432
For what it's worth this is not happening on AMO-stage or -dev.

[2017-05-18 08:51] wagnerand commented on #5432
Yes, as mentioned in the initial comment.

The reason for that is that is because language packs are generally pulled from FTP by an automated process, and the bug seems to be in there.

[2017-05-18 09:18] muffinresearch commented on #2817
@EnTeQuAk the lib is released on npm see https://github.com/mozilla/potools/ for details.

[2017-05-18 09:20] harikishen commented on #5125
I would like to take this up. @EnTeQuAk.

[2017-05-18 09:21] ValentinaPC commented on #5149
@eviljeff
- I tried for the account `carcium@gmail.com`, which is in the `email_qa_allow_list` and the user of that account received a real e-mail while a developer/reviewer activity was made
- Also he did not receive any e-mail if he replied as a reviewer for an add-on (i guess this is ok, yes?)

[2017-05-18 09:23] eviljeff commented on #5149
yep, that seems as expected

[2017-05-18 09:25] ValentinaPC commented on #5149
Thanks!

[2017-05-18 09:48] eviljeff commented on #3438
Well, I did the second bullet point :)  Is the first still valid?

[2017-05-18 09:48] eviljeff opened #5439 "add user delete to user account API"
There should be a way for users to delete their accounts.
Although there are issues around 'deleting' your AMO account now it's linked to FxA #5205 and #2451

[2017-05-18 11:00] eviljeff opened #5440 "de-anonymise UserProfile"
from irc

I'm thinking of changing `def anonymize` to override `delete` as we never actually delete.  And it's how we do soft-delete on other models.

`is_anonymous` is defined on AbstractBaseUser https://docs.djangoproject.com/en/1.8/topics/auth/customizing/#django.contrib.auth.models.AbstractBaseUser.is_anonymous so we need to keep that one.

anonymous usernames just need renaming.

[2017-05-18 11:06] diox commented on #3438
Yeah, I think so. Your refactor does make it easier to fix but I don't have time for it currently.

[2017-05-18 11:21] SVSanta commented on #5368
Another way to reproduce this is to add an invalid link in the "Homepage" field.

[2017-05-18 12:08] ValentinaPC opened #5441 ""Not yet rated" for a reviewed add-on in Moderated Reviews queue"
Steps to reproduce:
1. Leave a reply to an add-on review i.e. https://addons.allizom.org/en-US/firefox/addon/speed-dial/reviews/714811/
2. Report the reply (I used another account to do this)
3. Go to Reviewer Tools - Moderated Reviews tab and search the report

Expected results:
Add-on name, review title, review author, review date, locale, review text, report motive, report author, date and time

[2017-05-18 12:19] ValentinaPC opened #5442 "Add search in Auto Approved Add-ons queue"
Steps to reproduce:
1. Load Auto Approved Add-ons queue from Reviewer Tools https://addons.allizom.org/en-US/editors/queue/auto_approved

Expected results:
A search field is displayed.

Actual results:
No search field.

Notes/Issues:
- being at the beginning of auto-approvals, this does not seem mandatory, but in the future will be useful to be able to search for a specific auto-approved add-on.

[2017-05-18 12:27] #2351 closed

[2017-05-18 12:32] EnTeQuAk commented on #3780
STR:

* Create a WebExtension with `_locales` and damage one of the `messages.json` (e.g remove some parts of it or so, make it invalid JSON)
* Try to upload (new add-on or an update, doesn't matter) that WebExtension, the add-on should now ignore the failed locale and continue validation.

Before this fix we returned a "Unexpected error" while validating.

[2017-05-18 12:34] EnTeQuAk commented on #5404
Hard to test on dev or stage, simple STR once the fix goes live: Try to hit https://addons.mozilla.org/firefox/downloads/latest/youku_com/addon-91132-latest.xml

I can test this once the production deploy goes through.

[2017-05-18 12:36] diox commented on #5421
Only happens when you search for numbers, and it's intended - there is a shortcut built into the suggestion view (and only there, apparently) that gives you the add-on with the corresponding ID.

[2017-05-18 12:36] #5421 closed

[2017-05-18 12:51] harikishen commented on #5322
i would like to take this up.

[2017-05-18 12:54] #2873 closed

[2017-05-18 13:02] wagnerand commented on #5432
As per my [earlier comment](https://github.com/mozilla/addons-server/issues/5432#issuecomment-302154356) it seems that during the initial pull of a language pack, we set the summary to the name (because there is no summary yet). What actually happens is that the summary **instance** is set as the name, leading to name and summary being linked to a single row in the translations table.

[code]

Fur

[2017-05-18 13:02] SVSanta opened #5443 ""400 Bad Request" after long word search"
Steps to reproduce:
1. Navigate to the AMO home page.
2. Perform a search for ~8100 characters.
3. Click on any hyperlink button on the page.

Expected results:
The user is redirected to the correct page.

Actual results:
The "400 Bad Request" error page is displayed.

Notes/Issues:
Issue is reproducing on all AMO servers.
Verified on FF53(Win 10 64Bit).
When performing a search with more than 10.

[2017-05-18 13:11] wagnerand commented on #5432
After fixing the issue, a very dirty hack could be to delete all langpacks before we pull them again for the next release.
I hope someone has a less crappy idea.

[2017-05-18 13:52] ValentinaPC opened #5445 "Links from "Add-on Review Log" for unlisted/mixed add-ons load the listed review page of the add-on"
Steps to reproduce:
1. Pick a mixed versions add-on, or unlisted i.e. https://addons.allizom.org/en-US/firefox/addon/wombarog-rhingon-whawk/
2. Go to its unlisted review page https://addons.allizom.org/en-US/editors/review-unlisted/wombarog-rhingon-whawk
3. Leave a comment (any type)
5. Go to Logs -> Add-on Review Log from Reviewer Tools - https://addons.allizom.org/en-US/editors/reviewlog and cli

[2017-05-18 14:00] SVSanta opened #5446 ""Statistics" spinner overlapping "search suggestions""
Prerequisites:
User is logged with an admin account.

Steps to reproduce:

1. Navigate to the AMO home page.
2. Tap on any addon that has statistics available.
3. Tap on the "View statistics" button.
4. Quickly introduce 3 letters in the search field.

Expected results:
"Search suggestions" overlaps the "Statistics" spinner.

Actual results:
"Statistics" spinner overlaps the "search suggestions".

[2017-05-18 14:28] muffinresearch commented on #5443
What is the expected "correct" page for this kind of search request?

Personally I think the 414 error is right, but the presentation could be improved.

[2017-05-18 14:33] ValentinaPC commented on #2351
Verified as fixed for the cases mentioned in this issue, using AMO-dev FF53(Win 7).
Postfix video:
![modals](https://cloud.githubusercontent.com/assets/15685960/26207148/6550b260-3bef-11e7-981f-beb2a203d12a.gif)

There are some other places where maybe we can also apply this fix:
- theme review
- submit collection
- edit collection
![2017-05-18_1732](https://cloud.githubusercontent.com/assets/1568

[2017-05-18 14:44] SVSanta commented on #5443
Well for the first scenario when you introduce ~8100 characters, the problem is first that there is no error displayed until you click on any hyperlink button. As a side effect if he wants to use the AMO page again he has to open a different tab, so that is a big issue since the user is unaware of the workaround.

For the ~10.000 characters search, the 414 error message should be displayed and cha

[2017-05-18 15:00] diox commented on #5443
No actual user should ever do that, though...

[2017-05-18 16:36] #5440 closed

[2017-05-18 19:38] jvillalobos commented on #5432
A DB script could duplicate the strings on `translations` and change, say, `summary` to point to the new one.

[2017-05-18 19:41] harikishen commented on #3297
@eviljeff ???

[2017-05-18 20:04] wagnerand commented on #5432
Heh, what could possibly go wrong. 😄

[2017-05-19 07:49] ValentinaPC commented on #5440
Verified the anonymize feature from User Profile while being logged with an admin account on AMO-dev using FF53(Win 7), and observed the following:
- even if there is "Notes" filed in the "Anonymize" section, it cannot be completed - why there?
- anonymizing a user will redirect to an admin page where incomplete and incorrect info about this action will be displayed - who anonymized, but not whom

[2017-05-19 08:40] eviljeff commented on #5440
It does some weird things, but it's functioning as before.

[2017-05-19 09:27] ValentinaPC commented on #5440
"as before" means "correct"?

[2017-05-19 10:58] wagnerand opened #5453 "Show reason for activity email"
For admins to distinguish whether they are actually involved in a review or getting an activity email because there are a member of the CC group, it would be useful to know why they got an activity email.

The email should not something like one of:
`You are receiving this mail because you are an author of the add-on.`
`You are receiving this mail because you reviewed this add-on.`
`You are receiv

[2017-05-19 11:21] #5433 closed

[2017-05-19 11:40] eviljeff commented on #5440
Don't know why the admin log is wrong - seems to be a bug.  The others are just the way the tool works now - correct is up to Product to decide and log an issue to ask us to change.

[2017-05-19 11:57] ValentinaPC opened #5456 ""Confirm approval" message is recorded in Dev Hub at the not-approved version of an add-on"
Steps to reproduce:
1. Go to review page for an add-on that has a version that was **not** auto-approved from some reason i.e. https://addons-dev.allizom.org/en-US/editors/review/catrid-ratel-magoodpird-csp
2. Click "confirm approval"
3. Go to Manage Status & Versions page and click Review history

Expected results:
Auto-approval confirmation is not listed (maybe?).

Actual results:
Confirmation o

[2017-05-19 12:16] ValentinaPC commented on #5440
Should I log an issue for the admin log?
Also, we can mark this verified?
Thanks @eviljeff !

[2017-05-19 12:20] eviljeff commented on #5440
Admin-only functionality like that is being re-implemented in Q3 and it's not going to be fixed before then so I wouldn't bother logging an issue.
Sounds otherwise verified to me!

[2017-05-19 13:10] ValentinaPC commented on #5433
Verified this on AMO-dev FF53(Win 7) while enabling the waffle "`boost-webextensions-in-search`".
Searching after "permissions" search term will boost the webextensions through the first page of search results and leave the legacy add-ons at the end, but not sure if interfering with the "`name-match boost`"?

Made 2 screenshots with and without the waffle:
![untitled](https://cloud.githubuserconte

[2017-05-19 13:20] diox commented on #5433
It's ok. We might tweak the boost to give them an even bigger priority, we'll look into that when enabling it.

[2017-05-19 13:25] ValentinaPC commented on #5433
Looking forward :)

[2017-05-19 14:11] #5206 closed

[2017-05-19 14:38] vcarciu commented on #3780
The validation is still failed, even if now the message is more clear, saying that you have invalid JSON files :
![invalidjson](https://cloud.githubusercontent.com/assets/1583842/26252803/f0a5f634-3cb9-11e7-91e4-9e71999cf294.png)

[2017-05-19 14:56] EnTeQuAk commented on #3780
That message should only me raised if you have a invalid `manifest.json`, mind uploading the add-on you tried?

[2017-05-19 15:10] vcarciu commented on #3780
@EnTeQuAk :
[dpnopermissions-1-an+fx.zip](https://github.com/mozilla/addons-server/files/1014676/dpnopermissions-1-an.fx.zip)

[2017-05-19 15:55] eviljeff opened #5458 "use npm for our libs"
Security! Prosperity!

Contents of /lib/ that we need to migrate to using npm:

- [x] jqModal.js  #5702
- [x] jquery-ui #5580
  - jquery-ui\autocomplete.js
  - jquery-ui\core.js
  - jquery-ui\datepicker.js
  - jquery-ui\menu.js
  - jquery-ui\mouse.js
  - jquery-ui\position.js
  - jquery-ui\sortable.js
  - jquery-ui\widget.js
- [x] jquery-1.12.0.js #5571
- [x] jquery.browser.js #5585
- [x] jquery.c

[2017-05-19 16:14] #5453 closed

[2017-05-20 14:50] harikishen commented on #5090
What all are the things to keep in mind while removing fields from models for this project ? I mean will it break something ? @diox

[2017-05-20 14:51] harikishen commented on #5322
@tofumatt is this concerned with modifying the templates or modifying the styling ???

[2017-05-20 17:48] diox commented on #5090
You need to create a SQL migration with the necessary `ALTER TABLE` command to remove the field, and put that in `src/olympia/migrations/xxx-migration-name.sql` - look in that folder for more migrations for inspiration. `xxx` needs to be replaced with the latest migration number + 1.

[2017-05-20 18:41] harikishen commented on #5090
@diox is it necessary that i should update the latest working copy of master branch ?

[2017-05-20 21:48] sblask opened #5459 "Screenshot captions configured for en-US are invisible for en-GB"
### Describe the problem and steps to reproduce it:
I added new screenshots and captions for https://addons.mozilla.org/en-US/firefox/addon/simple-form-fill/ in the default locale en-US (I don't want to localize anything)

### What happened?
By chance I had en-GB enabled when looking at the page, the screenshots are there, but no captions.

### What did you expect to happen?
The captions should al

[2017-05-21 09:39] harikishen commented on #5090
i get about 111 errors while running the tests after doing the said changes.
https://pastebin.mozilla.org/9022278
https://pastebin.mozilla.org/9022279
https://pastebin.mozilla.org/9022280
https://pastebin.mozilla.org/9022281
https://pastebin.mozilla.org/9022282
https://pastebin.mozilla.org/9022283
these are just some of them i can't fit the entire log to pastebin at a time

[2017-05-21 11:01] diox commented on #5090
I would recommend updating your working copy of master yes, just to make sure your migration is named correctly, yes.

Regarding your errors, you need to run the tests with a new, fresh db (`--create-db` option).

[2017-05-21 11:24] harikishen commented on #5090
thanks @diox i'm kind of new to tests so didn't think of the db.

[2017-05-21 13:05] harikishen commented on #5090
https://pastebin.mozilla.org/9022287 this is the only error remaining

[2017-05-21 13:06] harikishen commented on #5090
I fixed the errors with json files but this one seems to have some issue with guarded-addons section

[2017-05-21 13:07] harikishen commented on #5090
and may i know what the files in guarded-addons are ?

[2017-05-21 13:41] harikishen commented on #5090
@wagnerand @diox any idea what causes that failure ?

[2017-05-22 08:04] ValentinaPC commented on #5453
Verified as fixed on AMO-dev using FF53(Win 7) and Fake Mail Logs page.
Postfix screenshots:
![untitled](https://cloud.githubusercontent.com/assets/15685960/26297996/2f63b49e-3ede-11e7-96f4-f5de60b8db30.png)

[2017-05-22 08:41] #5090 closed

[2017-05-22 10:40] diox opened #5464 "Logging in triggers a reindex of the user document in ElasticSearch"
Logging in causes `user.log_login_attempt(True)` to be called, which saves the user, which triggers a reindex of that user in ES. ~~It feels unnecessary and means that if ES is down, logging in will result in an error (though you'd be logged in if you ignore that error).~~ (it's done asynchronously so it's not the end of the world - just a waste of resources)

I'm pretty sure we don't need to do t

[2017-05-22 10:51] harikishen commented on #5090
@diox @wagnerand @eviljeff thanks

[2017-05-22 12:29] ValentinaPC commented on #5263
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-22 12:30] ValentinaPC commented on #5261
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-22 12:51] #5432 closed

[2017-05-22 12:52] #5431 closed

[2017-05-22 13:31] ValentinaPC commented on #5206
Verified both pages on AMO-dev FF53(Win 7)
1.  FAQ
- should we directly redirect the user while clicking on [Firefox](https://www.mozilla.org/en-US/firefox/desktop/) and [Firefox for Android](https://www.mozilla.org/en-US/firefox/android/) to the corresponding pages, or let the same page load for both links (as it happens now)?

2. Developer FAQ
- can we add the wiki page and not a redirection pag

[2017-05-22 13:44] ValentinaPC commented on #4869
@harikishen I think meanwhile some changes where introduced, and the results from the initial issue, changed.

@tofumatt : I am also receiving the page from the @harikishen 's comment.
Is this the case? Showing an empty page for Complete Themes homepage?
Thanks!

[2017-05-22 14:04] ValentinaPC commented on #5431
Verified this on AMO-dev FF53(Win 7).
- Source code links is hidden from add-on listing pages, All Version pages, and All Development Channel Version pages.
![untitled](https://cloud.githubusercontent.com/assets/15685960/26312580/b76ae8d0-3f10-11e7-97e3-e287fba8454c.png)

- source code is still available while accessed from add-on review page
![source](https://cloud.githubusercontent.com/assets/15

[2017-05-22 14:25] EnTeQuAk commented on #5431
Correct, only public links got removed for now. The file-viewer is still relevant for our editors doing reviews.

[2017-05-22 14:37] #5408 closed

[2017-05-22 14:52] ValentinaPC commented on #2817
Verified this on AMO-dev FF53(Win 7)
- **`dbg`** which is debug ltr (left to right) - returns an `Oops...` page
- **`dbr`** which is debug rtl (right to left) - returns an `502 Bad Gateway` page
Screenshots:
![dbg](https://cloud.githubusercontent.com/assets/15685960/26314678/67735040-3f17-11e7-94f2-cf665e69a527.png)
![dbr](https://cloud.githubusercontent.com/assets/15685960/26314677/6772db38-3f17-

[2017-05-22 15:17] EnTeQuAk commented on #2817
Hmm, that's weird. I'll take a look at this early tomorrow and see
what's wrong, hoping that dev isn't completely unusable.

On Mon, May 22, 2017, at 09:52 PM, ValentinaPC wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/2817
  2. https://github.com/mozilla/addons-server/issues/2817#event-1091965872
  3. https://github.com/notifications/unsubscribe-auth/AAIfGc8U0NNkrCkZs-EMOFLx

[2017-05-22 15:45] ValentinaPC commented on #2817
Beside these 2 pages, dev seems to work well. :)

[2017-05-22 17:39] jrbenny35 commented on #4563
Do I need to upload a blank addon to try and install? Right now I am using one of the addons that get made from the ```conftest.py``` and I am getting a ```the addon could not be installed because it does not match the addon nightly expected``` message.

[2017-05-22 18:08] #5439 closed

[2017-05-22 18:14] jvillalobos opened #5465 "Update links in FAQs"
Followup from https://github.com/mozilla/addons-server/issues/5206#issuecomment-303100566

[2017-05-22 18:14] jvillalobos commented on #5206
Thanks, I'll fix those too.

[2017-05-22 19:11] harikishen commented on #3297
This is the change i've made at [editors/helpers.py](https://github.com/mozilla/addons-server/blob/master/src/olympia/editors/helpers.py)
https://pastebin.mozilla.org/9022424
L579-L583

No tests seem to break. Just let me know if there is something wrong.

[2017-05-22 20:21] wagnerand commented on #5465
@jvillalobos that KDE page is not that helpful anymore, what about https://choosealicense.com/ ?

[2017-05-22 20:41] kewisch opened #5468 "Activity mail should appear to come from the actual sender"
Right now activity email is sent with the header `From: amo-editors@mozilla.org`, with no name.

This makes it hard to easily see who the email is really from. It would be great to show the actual sender's name (i.e. the reviewer or developer).

The header would be `From: Philipp Kewisch <amo-editors@mozilla.org>`.

Possibly we should use another email address to avoid email clients saving the nam

[2017-05-22 21:16] jvillalobos commented on #5465
The FAQ is just listing a bunch of them, including the one you mention.

[2017-05-22 21:24] wagnerand commented on #5465
Ok, so merge anway and deal with it later?

[2017-05-22 21:28] wagnerand commented on #5465
Ah, now I see what you mean. Still the description for that url says something about a "table for comparison", which doesn't seem to be there any longer.
No blocker though, we can update that list later.

[2017-05-23 01:46] EnTeQuAk commented on #2817
I know I fixed this before, this is the error: https://sentry.prod.mozaws.net/operations/olympia-dev/issues/608345/ - I'll open a new issue and fix this once I'm in the office in a few :)

[2017-05-23 06:11] EnTeQuAk opened #5470 "locale compilation throws errors, dbr and dbl don't have plural forms defined"
`dbr` and `dbl` locales don't have proper locale forms defined: https://sentry.prod.mozaws.net/operations/olympia-dev/issues/608345/

zh_CN is broken on compilation:
[code]

`pa` is broken on compilation:

[code]

And `it` has an irregular newline defined in a msgstr: `locale/it/LC_MESSAGES/django.po:7585: 'msgid' and 'msgstr' entries do not both end with '\n'`

[2017-05-23 06:34] EnTeQuAk commented on #2817
Will be handled inhttps://github.com/mozilla/addons-server/pull/5471

[2017-05-23 09:35] ValentinaPC commented on #5439
Please add some STR for us to verify this or the label "qa: not needed". Thanks!

[2017-05-23 10:09] #5470 closed

[2017-05-23 10:52] ValentinaPC commented on #5264
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-23 10:59] ValentinaPC commented on #5214
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-23 11:02] ValentinaPC commented on #5206
I saw you logged a follow up issue for this, so we can mark this verified fixed.

[2017-05-23 11:03] eviljeff commented on #5264
STR:
look at some user profiles with biography sections, preferably old profiles for high profile users e.g. the developers of Adblock Plus.
See the biography isn't broken.

[2017-05-23 11:12] ValentinaPC commented on #5122
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-23 11:14] ValentinaPC commented on #5387
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-05-23 11:45] ValentinaPC commented on #5432
This fix is already in prod? Can be checked already? Thanks!

[2017-05-23 12:07] #5275 closed

[2017-05-23 12:08] ValentinaPC commented on #2817
@EnTeQuAk : This issue was not fixed by https://github.com/mozilla/addons-server/issues/5470, which is closed.
The "Oops..." and "502 Bad Gateway" errors are still displayed.

[2017-05-23 12:08] diox commented on #5258
All dependencies fixed, closing this tracking bug.

[2017-05-23 12:08] #5258 closed

[2017-05-23 12:24] diox opened #5473 "Prioritize post-review queue with risk factors evaluation"
For post-review, we need to sort the list of auto-approved add-ons in reviewer tools according to a set of factors representing the "risk" to end-users.

The set of factors is defined here: https://docs.google.com/spreadsheets/d/1CZEECHHqEmK87fNiWNslAsFQBL7zxYF-c63-zZVZuqw/edit#gid=0

It would be set at (auto-)approval time, stored in a new field in `AutoApprovalSummary` and then used to sort the

[2017-05-23 12:41] ValentinaPC commented on #5264
Verified as fixed on AMO-dev FF53(Win 7).
- checked the biography section on several developers (Wladimir Palant, Giorgio Maone, Anthony Lieuallen)
- checked for different languages
- checked HTML tags
- checked updates on my own profile

Biography looks all good.
Postfix screenshots:
![details](https://cloud.githubusercontent.com/assets/15685960/26354638/2374a544-3fce-11e7-8035-804a48f9fde0.png)

[2017-05-23 14:21] goums opened #5474 "API allways return 404"
I'm trying to connect to the addon store API, with a nodejs script, as described on the documentation:
http://addons-server.readthedocs.io/en/latest/topics/api/auth.html#example-request

I'm trying different endpoint but I keep getting a 404 NOT FOUND error.

Has the API url changed?
Am I doing anything wrong?

Here is the script I'm using:
[code]

Thanks in advance for your help

[2017-05-23 14:23] goums commented on #5474
I'm trying different endpoint, GET/POST, with/without data, but I always get:
`Body { url: 'https://addons.mozilla.org/api/v3/accounts/profile/', status: 404, statusText: 'NOT FOUND', ... }`

[2017-05-23 14:30] diox commented on #5473
Basic factors:

| Risk Factor | How much is an "instance"? | Value/instance | Min | Max |
| ----------- | -------------------------- | -------------- | --- | --- |
| Admin review flag | One flag; can only have one | 100 | 0 | 100 |
| Size of code changes | 5 Kb code changed | 1 | 0 | 100 |
| Abuse reports | 1 abuse report in the past year | 10 | 0 | 100 |
| Negative ratings / reviews | 1% of ratin

[2017-05-23 14:31] diox opened #5475 "Use static analysis flags in post-review queue prioritization"
https://github.com/mozilla/addons-server/issues/5473 will implement the basic post-review queue prioritization that depend on a number of risk factors and associated weights.

This issue is for tracking additional factors that depend on static analysis flags. They are described in the [Post-review prioritization weights document](https://docs.google.com/spreadsheets/d/1CZEECHHqEmK87fNiWNslAsFQBL7z

[2017-05-23 14:41] EnTeQuAk commented on #2817
Yeah, unfortunately -dev isn't updating at the moment. I'll update the issue once it actually lands.

[2017-05-23 14:42] ValentinaPC commented on #5275
@diox - Seems like the the option to reject multiple auto-approved versions is not yet available. Is it because this is not yet in dev or because you postpone it to Q3?
Here is the screenshot:
![nomultiple](https://cloud.githubusercontent.com/assets/15685960/26359852/38fea20a-3fdf-11e7-9901-4547c1c4b2aa.png)

[2017-05-23 14:47] diox commented on #5275
Dev is having deploy issues at the moment.

[2017-05-23 14:50] ValentinaPC commented on #5275
Thanks for info.

[2017-05-23 15:19] diox commented on #5473
Note: size of code changes depend on https://github.com/mozilla/addons-linter/issues/1304 + some field to store the information in addons-server.

[2017-05-23 15:48] kumar303 commented on #5122
This is a bit tricky to test but I verified it when I landed https://github.com/mozilla/addons-frontend/issues/2238

[2017-05-23 16:11] #5474 closed

[2017-05-23 16:12] eviljeff commented on #5474
Fixed.  It'll be live on Thursday.

[2017-05-23 21:36] atsay opened #5480 "MaDonna's profile page is hanging"
### Describe the problem and steps to reproduce it:
Go to https://addons.mozilla.org/en-US/firefox/user/MaDonna/
It takes a long time to load, if at all.

### What happened?
It seems to only affect her page and not others on AMO. Possible we've come upon an edge case with her in terms of size of profile page?

### What did you expect to happen?
I expected it to load like any other AMO page.

### A

[2017-05-23 21:39] kumar303 commented on #5480
I experienced this too.

@bqbn could we look at the slow query logs for clues? This user develops an incredible amount of themes so her profile page may be causing a slow query.

[2017-05-23 22:07] rctgamer3 opened #5481 "Add-on source code not viewable for non-reviewers even with devhub source code viewing checked"
Title.

Could only view the source after logging in. Not sure why this page suddenly requires review permission to view.

STR (in a private tab/window/while not being logged into AMO):
1. Open ABPs version [page](https://addons.mozilla.org/addon/adblock-plus/versions)
2. Click on [View the source](https://addons.mozilla.org/files/browse/541651/) for any version
3. "Not allowed" page shows up.

[2017-05-23 22:12] jvillalobos commented on #5481
Closing as a dupe of mozilla/addons-server#5135. See also mozilla/addons-server#5431, which should land this week.

[2017-05-23 22:12] #5481 closed

[2017-05-23 22:20] jvillalobos opened #5482 "Facilitate finding legacy add-ons during transition to WebExtensions"
AMO listing pages show the latest version of an add-on. When Firefox 57 starts riding the trains, blocking all legacy add-ons, users of older versions of Firefox and ESR will start running frequently into listings that have a WebExtensions version they can't use, and older legacy versions that they can use but can't easily find.

We should check if it's practical for AMO to figure out the latest c

[2017-05-23 22:46] Parudas commented on #5431
Public link is still visible for me.
![spectacle ea4940](https://cloud.githubusercontent.com/assets/16246945/26379586/3cae81d2-401a-11e7-8c08-8143038f667b.png)

Clicking it results into:
![spectacle vs4940](https://cloud.githubusercontent.com/assets/16246945/26379596/521d177c-401a-11e7-8597-2515d69d39fd.png)

Maybe not the best wording when dealing with open source compliance, someone could think

[2017-05-23 22:49] diox commented on #5431
@Parudas : the fix has landed in our master branch, but will only be deployed tomorrow (we tag every tuesday, deploy that tag every thursday)

[2017-05-24 01:02] bqbn commented on #5480
I haven't found any slow queries related to this user. However, Kibana does show an error:

[code]

[2017-05-24 05:40] EnTeQuAk commented on #5432
The fix will be in production this Thursday, I already verified on -dev that the fix is working as expected.

[2017-05-24 08:33] eviljeff commented on #5480
Seems to happening when fetching the list of reviews she's written, rather than the themes she's developed.

[2017-05-24 08:45] eviljeff commented on #5480
@bqbn you mean sentry?  I had a look in Kibana and couldn't see much (though it's hard to see much unless you know which log entry you're looking for)

[2017-05-24 08:54] ValentinaPC commented on #5432
While not reproducing in -dev from the beginning, thought it should be checked on prod.

[2017-05-24 08:58] eviljeff commented on #5480
According to https://addons.mozilla.org/api/v3/reviews/review/?user=6199839 she's written 5573 reviews (many of them in reply to other user's reviews, seemingly) so that's possibly choking something.

[2017-05-24 11:03] ValentinaPC commented on #5465
Verified this on AMO-dev FF53(Win 7).
Link from [Developer FAQ](https://addons-dev.allizom.org/en-US/developer_faq) is redirecting as expected.
Links from [FAQ](https://addons-dev.allizom.org/en-US/faq) page - Firefox and Firefox for Android - redirect as expected.

There is an issue with the "gallery" link from FAQ page, Mobile section, redirects to the wrong page.
Can we fix that too?
Please see

[2017-05-24 12:06] ValentinaPC commented on #2817
Verified dbl si dbr "languages" in AMO-dev FF53(Win 7).
Both options are loading the corresponding pages.
Postfix screenshots:
![dbl](https://cloud.githubusercontent.com/assets/15685960/26400998/5f13bb80-408c-11e7-9bc6-0b6f2d9c9249.png)
![dbr](https://cloud.githubusercontent.com/assets/15685960/26400997/5f017010-408c-11e7-8d37-ec4ac737eae1.png)

[2017-05-24 12:06] #2817 closed

[2017-05-24 12:59] vasilicamihasca opened #5484 "Server error at add-on approval"
**Steps to reproduce:**
1.Navigate to https://addons-dev.allizom.org/ro/editors/queue/new
2.Try to approve an add-on.

**Expected results:**
The approval process is successfully completed.

**Actual results:**
Oops page is displayed.

**Additional notes:**
- This issue might be related to #5275
- This issue reproduces on AMO-dev using Firefox 55.0a1 (2017-05-23) under Windows 10 64-bit.
- Please s

[2017-05-24 13:10] ValentinaPC commented on #5275
Verified this on AMO-dev FF53(Win 7), and observed the following:

1. all extensions have the "Reject Multiple Versions" tab their review page
![rejectm](https://cloud.githubusercontent.com/assets/15685960/26403104/9c673274-4095-11e7-8c2e-80fcb96333be.png)

2. extensions with only an awaiting version don't have anything in the "Reject Multiple Versions"
![rejsimple](https://cloud.githubusercontent

[2017-05-24 14:10] muffinresearch commented on #5484
I've asked ops to look into this since it looks to be a network issue looking at the sentry error: https://sentry.prod.mozaws.net/operations/olympia-dev/issues/608691/

[2017-05-24 14:16] muffinresearch commented on #5484
@vasilicamihasca this should be fixed now the instance has been re-deployed.

[2017-05-24 14:16] #5484 closed

[2017-05-24 15:17] vasilicamihasca commented on #5484
Verified fixed on AMO-dev using Firefox 55.0a1 (2017-05-24) under Windows 10 64-bit. The add-ons are successfully approved. See postfix screencast:
![animation](https://cloud.githubusercontent.com/assets/18114210/26410851/1408e78e-40ad-11e7-89d6-a4fca38baa41.gif)

[2017-05-24 15:55] vcarciu commented on #5468
The actual sender is still not displayed in activity mail :
![amoeditors](https://cloud.githubusercontent.com/assets/1583842/26412779/85b17c20-40b2-11e7-99ca-8c265bc282db.png)

[2017-05-24 17:16] #3297 closed

[2017-05-24 17:30] bqbn commented on #5480
@eviljeff I mean Kibana in logging 1.0. But yeah, Sentry seems to have it too.

[2017-05-24 18:08] eviljeff opened #5486 "switch to yarn for our node dependencies"
It's the new shiny/stringy.

[2017-05-24 18:08] muffinresearch commented on #5480
Related sentry links here: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/604935/ and here: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/604894/

[2017-05-24 18:08] eviljeff commented on #5486
we should do https://github.com/mozilla/addons-frontend/issues/2431 too

[2017-05-24 18:14] eviljeff commented on #5480
@EnTeQuAk  suggests changing the `{% if reviews %}` in the template may be enough (it causes the whole queryset to be evaluated).
Alternatively could do `{{ for ... }} ..  {{ else }} ... {{ endfor }}`

[2017-05-24 18:17] eviljeff opened #5487 "drop css and js pollyfill for old IE versions"
from https://github.com/mozilla/addons-server/pull/5485#discussion_r118325940

[2017-05-24 23:54] aswan opened #5489 "Mozilla extensions showing up in "Up & Coming""
### Describe the problem and steps to reproduce it:
I just loaded AMO and noticed that 2 of the entries under Up & Coming Extensions are "Search Shield Study" and "Firefox OnBoard".  I don't think either of these are intended to be directly installed by users.

### What happened?
see above

### What did you expect to happen?
These extensions shouldn't show up on the front page.  I guess ideally th

[2017-05-25 07:49] ValentinaPC commented on #3297
Verified this onAMO-dev, stage and production and I was not able to reproduce it. The link redirection is made correctly.
@eviljeff : I feel that I am doing something wrong... can you give me a hand?
Thanks!

[2017-05-25 08:26] #5487 closed

[2017-05-25 08:31] eviljeff commented on #3297
@ValentinaPC when a listed version is submitted the email should be as before, with a slug in the url.  When you submit an unlisted version the email sent to say the xpi is signed url should contain the numeric add-on id instead.

[2017-05-25 11:52] wagnerand commented on #5468
Approval/Rejection emails are not part of the activity email feature yet. Can you please try using reviewer or developer reply?

[2017-05-25 12:22] ValentinaPC commented on #3297
True. Thanks!

Verified this on AMO-dev FF53(Win 7).
The activity mail for unlisted version contains the URL with the numeric add-on id.
Postfix screenshot:
![2017-05-25_1508](https://cloud.githubusercontent.com/assets/15685960/26449991/e046bca8-415d-11e7-82f6-5ad5a6a34fd2.png)

[2017-05-25 12:43] eviljeff opened #5490 "Add create/edit collections API"
#5343 added the read only view; we need to add create, update, and delete API support.

[2017-05-25 13:17] SVSanta opened #5491 "Empty string in "Add-on Reviewer Performance" from Reviewer Tools for users without display name set"
Steps to reproduce:

1. Go to Account Settings and delete your Display Name - https://addons.allizom.org/en-US/firefox/users/edit
2. Go to Reviewer Tools homepage and click on "Performance".
3. Click on the drop-down arrow button for "View statistics for user".

Expected results:
Reviewer name are listed.

Actual results:
Empty strings are displayed for reviewers with no listed name.

Notes/Issues

[2017-05-25 14:18] harikishen commented on #5445
I would like to take this up.

[2017-05-25 14:21] vcarciu commented on #5468
Using reviewer or developer reply , this looks fixed :
![notif](https://cloud.githubusercontent.com/assets/1583842/26454065/94d618a2-416e-11e7-9788-ac7c6b3a43ce.png)
![sender](https://cloud.githubusercontent.com/assets/1583842/26454079/9e474afa-416e-11e7-8d7b-a3a88c200f1e.png)

[2017-05-25 14:21] #5468 closed

[2017-05-25 16:08] davehunt commented on #4563
@jrbenny35 I suspect the addons created through `conftest.py` are not real addons and just a façade for the UI. We probably need a 'real' add-on, though it can be a very basic one like we use in FoxPuppet: https://github.com/mozilla/FoxPuppet/blob/master/tests/web/webextension.xpi

[2017-05-25 16:43] jrbenny35 commented on #4563
@davehunt Great Idea!

[2017-05-25 17:48] eviljeff commented on #5411
After finishing the delete endpoint for accounts here's the state of things:
* Anonymise: it's the same as user delete so for the 'admin anonymize' just call the user delete.  If a hard delete is needed (that removes fk-linked content like reviews too) then continue to link to the existing /admin/ model delete, as the current user profile pages do.
* Changing of user settings: In the same way admi

[2017-05-25 17:48] #5411 closed

[2017-05-25 19:49] jvillalobos commented on #5489
They're both intentionally listed. AMO is all or nothing, you can't get hosting without listing and showing up on various sections of the site.

[2017-05-25 19:49] #5489 closed

[2017-05-25 20:34] caitmuenster commented on #5445
It's all yours, @harikishen!

[2017-05-25 20:58] jrbenny35 commented on #4563
Should I upload a blank .xpi file to an addon, or would we just need to 'upload' an addon to amo and do it that way.

@davehunt if we do it like foxpuppet, would that be really seeing if that addon is installed?

[2017-05-25 23:17] tofumatt opened #5495 "Docker commands and Makefile do not work on Windows Subsystem for Linux"
### Describe the problem and steps to reproduce it:
All of this is run inside [WSL](https://msdn.microsoft.com/commandline/wsl/about)
Run a `git clone` of addons-server, have Docker for Windows installed, and use `docker-compose.exe pull` and `docker-compose.exe up -d` to get the latest images and run the docker images.

After that, follow the docs and use `make initialize_docker`

### What happen

[2017-05-26 08:32] harikishen commented on #5445
@caitmuenster thanks

[2017-05-26 10:13] davehunt commented on #4563
@jrbenny35 I think we should use FoxPuppet here.

[2017-05-26 15:48] jrbenny35 commented on #4563
I get using foxpuppet, but what I am saying is that should I try and get an xpi uploaded to the db so that we can click 'add to firefox' and it downloads that way?

[2017-05-26 15:56] davehunt commented on #4563
I guess so, but this isn't my area of expertise. Perhaps @EnTeQuAk or @muffinresearch can provide more insight. Back when I was planning to write this test I was going to use the API to submit an add-on, but with localserver you shouldn't need to do that.

[2017-05-26 17:21] muffinresearch commented on #5480
@eviljeff could you take a look at running up a patch for this next week?

[2017-05-26 17:22] muffinresearch commented on #5486
Most importantly verifying the lock file for yarn installs is necessary.

[2017-05-26 17:33] #5125 closed

[2017-05-26 17:56] tofumatt commented on #4869
Ah yes, because of how we fallback to addons-server the page displayed now is the correct one; it used to show the mobile one but does so no longer.

Still, it arguably isn't a valid URL as we don't serve "complete themes" for Android so it should 404 IMO.

[2017-05-26 20:36] aswan commented on #5489
So when I brought this up on IRC, @andymckay (I think it was him) asked me to file this here.  I think this needs addressing, it sounds like you think the shield/onboarding maintainers should make them unlisted and do their own hosting?

[2017-05-26 22:31] jvillalobos commented on #5489
If that's what meets their needs, yeah. But I know that at least in the Firefox OnBoard case I asked them specifically whether they wanted to be hosted and they said yes.

[2017-05-27 14:25] harikishen commented on #5445
@eviljeff how do i reproduce the issue locally ???

[2017-05-28 16:42] Gitoffthelawn opened #5504 "Selecting item in search dropdown does not open it"
- Type a few characters into the search field.
  - Use the keyboard arrows to highlight an item.
  - Press enter.

The item is not loaded as expected.

[2017-05-28 16:50] Gitoffthelawn opened #5505 "Remove extraneous data from URLs"
AMO adds extraneous data to the URLs, making bookmarking a nightmare.

For, example, from search, `?src=ss` gets added to the URL.

From updates, `?src=cb-dl-updated` gets added to the URL.

If the user bookmarks the former, and then later visits the identical extension via the recently updated AMO page, the FF UI will make it appear as though the item was never bookmarked.

If the user then bookm

[2017-05-28 16:53] tofumatt commented on #5505
Those URLs aren't extraneous, they're for analytics, as I understand it.

I am so rusty on analytics I can't recall if we could amend the URL with JS after it loads to get it out of the URL bar while still getting the analytics result we desire, but we could try that?

They do serve a purpose for us though, so we can't remove them right away, I think...

Though interestingly the addons-frontend do

[2017-05-28 17:04] Gitoffthelawn commented on #5505
Thanks @tofumatt

If data is being collected (and actually used), perhaps header referers could be used instead.

BTW, any idea if/how any analytics data is actually used?

[2017-05-28 17:08] tofumatt commented on #5505
No problem.

Yeah, it's possible we could be tracking things better. We are moving to a new frontend (https://github.com/mozilla/addons-frontend/) which won't add these query strings, for what it's worth 😄

I'm not sure the specifics but I would imagine it's in the [Mozilla Websites Privacy Policy](https://www.mozilla.org/en-US/privacy/websites/). Sorry, I'm not very involved with the old add-ons

[2017-05-28 17:25] Gitoffthelawn commented on #5505
Thanks again @tofumatt 👍

I don't see the info in the Privacy Policy, but I'm more wondering if/how anyone is actually using the data (as opposed to if they are allowed to collect it).  I wonder if the collected data is actually useful, or if collecting it could just be scrapped... thus simplifying all the URLs.

[2017-05-28 19:14] diox commented on #5505
It's used for both analytics and stats provided to add-on developers.

You can see it in action on statistics pages like https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/statistics/downloads/sources/?last=30 : every different source in the legend corresponds to a `src` parameter. The full list of valid parameters is documented here: http://addons-server.readthedocs.io/en/latest/topics/a

[2017-05-28 19:14] #5505 closed

[2017-05-28 20:54] Gitoffthelawn commented on #5505
@diox What about using header referers instead of URL params?

BTW, is it known if other devs actually use those stats for anything?  Personally, I've never found them useful.  It's a lot of info... but to what end?  I didn't find any of the information actionable.

[2017-05-29 04:23] tsl143 commented on #4952
@muffinresearch I find it a bit odd (data inconsistency), in the same API response, the `authors` key is `null` but `theme_data.author` has value `MystMaker`(the author name).

[2017-05-29 06:38] ValentinaPC commented on #5504
Please take a look at: #4821

[2017-05-29 08:44] EnTeQuAk commented on #1026
Given that this is a nightmare to do and we're going to run the validator only against a very limited amount of add-ons beginning Firefox 57 I'm going to close this.

[2017-05-29 08:44] #1026 closed

[2017-05-29 08:44] EnTeQuAk commented on #1828
We launched quite a few improvements over the time, I'm going to close this so that we can create a new issue if there's anything new coming up.

[2017-05-29 08:44] #1828 closed

[2017-05-29 08:53] jvillalobos commented on #5505
I know of many developers who look into these stats very carefully to see if there are ways they can improve the performance of their listing. AMO admins also use this sort of data often.

I agree that we should continue using something similar for the new front-end, since it's very valuable.

[2017-05-29 09:50] wagnerand opened #5508 "Reviewer rejection box shows list for rejecting multiple versions."
### Describe the problem and steps to reproduce it:

When using the "Reject" (single version) action in the reviewer tools, it shows an empty list for selecting versions.

### Anything else we should know?

![screen shot 2017-05-29 at 11 48 50](https://cloud.githubusercontent.com/assets/873258/26545181/2f676172-4454-11e7-8321-9d516b2ba621.png)

[2017-05-29 09:55] EnTeQuAk commented on #3780
@vcarciu heh, you made the `manifest.json` file invalid, that's not what this issue is actually about and the error for that is expected. Please make the `_locales/en/messages.json` invalid and you should not run into any errors imho.

[2017-05-29 10:05] diox commented on #5508
Not technically a regression since the field didn't exist before :)

[2017-05-29 10:08] jvillalobos commented on #5508
![62f538b129e13afc6c7d9b9278b63f63f4c91e1f8fd1077c36e088039bf538f8](https://cloud.githubusercontent.com/assets/62568/26545844/82ef48a6-4467-11e7-9810-8cc4f516b018.jpg)

[2017-05-29 10:10] diox commented on #5275
1. Works as intended
2. Works as intended, but may need to be clarified : it's only for public versions, I just could not name the action "Reject Multiple Public Versions" because it would have been too long. I'll look into modifying the description to make that clearer.
3. See above.
4. That's a minor issue, but yeah, it should be fixed.
5. Minor issue we don't really care about.
6. Works as inte

[2017-05-29 10:11] Gitoffthelawn commented on #5504
@ValentinaPC That's it.  Thank you.  Closing.

[2017-05-29 10:11] #5504 closed

[2017-05-29 10:12] diox commented on #5508
In addition, from QA feedback in #5275 , the following tweaks are required:
- Clarify in the description of the "Reject Multiple Versions" action that's it's limited to public versions. Also make sure it does not appear for the unlisted review page
- Make sure the same version does not appear twice in the list if it has multiple files (needs a `.distinct()`).

[2017-05-29 10:12] Gitoffthelawn commented on #4821
What is the ETA to land the new addons-frontend?

[2017-05-29 10:14] Gitoffthelawn commented on #5505
Thank you @jvillalobos .  Glad to know the data is being used.

What about the idea of using a referer instead of a URL param?

[2017-05-29 10:23] EnTeQuAk commented on #1822
@harikishen go for it, it's all yours! If you have any questions please let me know.

[2017-05-29 10:25] wagnerand commented on #5508
Meh!

The second line in the description above the versions list should also be hidden.

[2017-05-29 10:31] EnTeQuAk commented on #5443
I'm triaging this but I think it's an edge-case and low-priority

[2017-05-29 11:11] ValentinaPC commented on #5275
@diox : #5508 instead of #5008, I suppose :P

Because a separate issue was logged to track some of the issues here, we can mark this verified-fixed.

[2017-05-29 11:18] diox commented on #5275
Right :)

[2017-05-29 11:36] jvillalobos commented on #5505
That would be up to the engineers to figure out if it's a better solution.

[2017-05-29 11:45] diox commented on #5505
I do agree it'd be much better, but it would involve overhauling the stats pipeline and analytics, and that's a part of our architecture that's super old and not trivial to modify, so it's unlikely to happen any time soon.

[2017-05-29 12:02] eviljeff commented on #5495
Do the docker commands work if just entered directly?  (i.e. not using makefile).  I've been running AMO on Docker for a while, since before WSL was available, and I found all the docker stuff worked but there wasn't any makefile support natively in Windows.

[2017-05-29 13:22] Gitoffthelawn commented on #5505
@diox Thank you.  That's unfortunate, but understandable.  If you think of any other solutions, just let me know, and we can discuss it.

BTW, as a kludge, and certainly not an officially supported/recommended solution, would it be possible for me to use either:

 - https://addons.allizom.org/
or
 - https://addons-dev.allizom.org/

where I can freely use a WebExtension API extension to remove the

[2017-05-29 13:39] diox commented on #5505
I don't understand your question. You can use addons.allizom.org (stage) or addons-dev.allizom.org (dev) for testing purposes, but it's not intended for end-users: data uploaded there may disappear or be modified without warning, and they use different signing certificates, making it impossible for users to install add-ons from those sites without some modification to their Firefox.

[2017-05-29 14:17] wagnerand opened #5510 "Add external API to collections"
In order for Personas Plus to be migrated to WebExtensions, we need an external API to access a user's collections, at least the *Favorites* one.

[2017-05-29 14:33] wagnerand commented on #5510
@muffinresearch I am marking this P2, so we don't lose track. We don't need this right away, but soon so we can start migrating PP.

[2017-05-29 14:37] diox commented on #5412
Confirming that it's because of bayesian average. Ratings have changed a bit since this issue was opened, but "Easy Youtube Video Downloader Express" appears before "Flash Player for YouTube™" for the same reason I suspected earlier: though its raw average rating is lower, because it has a lot more reviews, and most of them are positive, it comes out on top.

@jvillalobos this can be confusing. He

[2017-05-29 14:45] jvillalobos commented on #5412
Exposing the bayesian average will lead to other users questioning why it doesn't match the average they would expect (in some cases), so I don't think that's much better than the current situation. And I think it makes sense to rank add-ons using it, so I would like to keep the current behavior.

Maybe in the future we can do something like what Yelp does, which is show the rating with a differen

[2017-05-29 14:59] #5412 closed

[2017-05-29 15:20] tofumatt commented on #5495
If I run `docker.exe exec -t -i addonsserver make initialize_docker_inner` from WSL, sadly no. But I think that's a WSL bug:

[code]

And of course the command from the `Makefile` won't directly work because `docker` can't be found as it's `docker.exe` on Windows.

I think there's upstream stuff happening here too, but we aren't even able to get to the point of running the command right now.

FWIW

[2017-05-29 15:30] wagnerand commented on #5456
@diox does this fix https://github.com/mozilla/addons-server/issues/1542 as well?

[2017-05-30 05:32] EnTeQuAk commented on #5432
This is now in production, I think @wagnerand could verify this is fixed?

[2017-05-30 05:40] EnTeQuAk commented on #5482
Given that our listings are primarily fetched from ElasticSearch and that we have a reasonably good integer representation for firefox-versions I'd say this should be possible. We also have `is_webextension` indexed as a last resort.

@diox any opinions about that?

[2017-05-30 06:27] EnTeQuAk commented on #4563
Sorry but I don't get the question or problem here. Eventually you'll need to upload an add-on either via the API or the UI to make sure you get a "proper" add-on you can test with. Our factories do create good add-ons already but eventually you'd want to run tests on -dev or so.

[2017-05-30 06:33] jrbenny35 commented on #4563
@EnTeQuAk I guess what I am asking is what would be the better way. Right now I can't get past the validation for a manifest.json even though it is correct. I am also running into the same error using an .xpi or .rdf that has already been generated.

[2017-05-30 07:15] EnTeQuAk commented on #4563
What errors do you get? Did you try using the API (http://addons-server.readthedocs.io/en/latest/topics/api/signing.html#uploading-a-version)?

[2017-05-30 07:23] jrbenny35 commented on #4563
I was usually getting a "Error parsing Jason file" or "manifest.json not found". I'll try that API upload.

[2017-05-30 07:28] EnTeQuAk commented on #4563
Can you maybe attach the add-on you're trying to upload?

[2017-05-30 08:21] eviljeff commented on #5495
I've thought about replacing the makefile for external (non container) commands but I couldn't see a good cross platform alternative.   Likely wouldn't help your WSL problems though, which I guess are more about trying to run Windows stuff (Docker for Windows) via WSL.

[2017-05-30 08:31] muffinresearch opened #5515 "Docker hub build is failing due to ipdb version requiring python 3+"
The docker hub build started failing this morning with the following:

`The command '/bin/sh -c pip install 'ipython<6' ipdb supervisor' returned a non-zero code: 1`

Looking further into the logs shows:

[code]

Whilst the ipython was pinned in https://github.com/mozilla/addons-server/issues/5380 it looks like ipdb need to be pinned too.

Link to build: https://hub.docker.com/r/addons/addons-serv

[2017-05-30 08:36] muffinresearch commented on #5515
Marking as high-priority since this will block the hub build from successfully completing.

[2017-05-30 08:40] muffinresearch commented on #5515
Looks like the latest ipdb is still 0.10.3 (2017-04-22) so this might need further investigation unless somehow we were pulling in an old version.

[2017-05-30 08:43] EnTeQuAk commented on #5515
ipdb is pulling in ipython which recently dropped python 3, I can take a
look at this in a few minutes

On Tue, May 30, 2017, at 03:40 PM, Stuart Colville wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/5515#issuecomment-304812704
  2. https://github.com/notifications/unsubscribe-auth/AAIfGWkB00BzLylVNhb3V39-_oDnxH_4ks5r-9XvgaJpZM4Np-jg

[2017-05-30 08:56] muffinresearch commented on #5515
As noted by @eviljeff on irc both the failing builds are PRs. If the next latest build is fine then we can downgrade the priority of this.

[2017-05-30 08:57] muffinresearch commented on #5515
The latest build failed too: https://hub.docker.com/r/addons/addons-server/builds/bsc4chnatrgj52ryxfzlg7e/

[2017-05-30 09:48] #5515 closed

[2017-05-30 10:51] diox commented on #5482
For the record, I don't think serving old versions of an add-on is such a great idea: that means users are potentially using an insecure or unmaintained add-on (without even knowing it!).

That being said... addons-server already supports filtering out incompatible add-ons from listings:
- The modern API and legacy search views do it directly in ES already. The parameter is [`appversion` for the m

[2017-05-30 12:25] #5146 closed

[2017-05-30 12:40] wagnerand opened #5519 "Admin bulk compatibility validation page responds with 500."
I was about to run compat bulk validation.

https://addons.mozilla.org/en-US/admin/validation throws https://sentry.prod.mozaws.net/operations/olympia-prod/issues/609425/ 🚨.

[2017-05-30 12:43] eviljeff commented on #5445
To get an unlisted version you just need to submit an addon to your local AMO, but choose you don't want to list it on the website.  Then in devhub edit page for that add-on they'll be link to it's unlisted review page.  From there the instructions and video in the first comment should help to finish reproducing.

[2017-05-30 12:58] harikishen commented on #5445
@eviljeff Thanks

[2017-05-30 13:01] eviljeff commented on #5510
Fwiw, we have the collections API now.  It's the authentication that's the issue - our current external auth, JWT, isn't particularly well regarded.  The method of getting the keys is possibly a bit beyond the average Personas Plus user too.

(I'd like to see all of our APIs be available externally, ideally)

[2017-05-30 13:02] Gitoffthelawn commented on #5505
@diox Thanks.  That answers my question. :)

Just to learn more (and satisfy curiosity), how does one set up Firefox to use different signing certificates?  Is it documented somewhere?

[2017-05-30 13:10] wagnerand commented on #5519
This fails because there are some jobs in the `validation_jobs` which don't have a corresponding *appversion* (using `curr_max_version_id` and target_version_id`) anymore. Sadly those columns were not linked using a foreign key constraint, which caused this when we removed *Mobile* in https://github.com/mozilla/addons-server/pull/5367.

[2017-05-30 13:16] diox commented on #5519
[code]

[2017-05-30 13:56] #5508 closed

[2017-05-30 14:12] #5456 closed

[2017-05-30 14:33] diox opened #5520 "Allow admin to "vouch" for add-ons"
As part of the [prioritization of the post-review queue](https://github.com/mozilla/addons-server/issues/5473), we need to let admins vouch for add-ons. ~~Multiple admins can do it, decreasing the priority of the add-on in the queue each time, and we should have a simple way for an admin to add/remove their vouch.~~

~~It should probably live in admin tools somewhere.~~

It should be a simple inte

[2017-05-30 15:02] vcarciu commented on #3780
@EnTeQuAk : _locales/en/messages.json was the file made invalid for my testing . Please see the error from full validation report :
![locale](https://cloud.githubusercontent.com/assets/1583842/26589927/f217a93a-4561-11e7-9208-95e80890aea7.png)

[2017-05-30 15:05] ValentinaPC commented on #5508
Verified as fixed on AMO-dev FF53(Win 7).
- awaiting versions don't have multiple rejection option
![awaiting](https://cloud.githubusercontent.com/assets/15685960/26589263/3f6c7244-4560-11e7-90bf-391484b2381a.png)
- unlisted versions don't have multiple rejection option
![unlisted](https://cloud.githubusercontent.com/assets/15685960/26589474/d34ff490-4560-11e7-86b3-fac74268266e.png)
- second line

[2017-05-30 15:35] vcarciu opened #5522 ""View Mobile Site" link is not working on AMO-dev"
Steps to reproduce:
1.Go to AMO-dev
2.Click "View Mobile Site" link at the bottom of the page

Expected results:
Mobile view is correctly displayed

Actual results:
Top of the desktop page is displayed and a "#" is added to url

NOTES :
Not reproducible on Stage

Please see video for this bug :
![viewmobile](https://cloud.githubusercontent.com/assets/1583842/26591516/9707d9fc-4566-11e7-88be-110fbe

[2017-05-30 15:52] jrbenny35 commented on #4563
This is what I was trying to do.
[code]

This would generate a manifest.json, write it to a tmp directory and then I would zip it up. This probably isn't the best way but I was basing it on an example I saw.

[2017-05-30 16:33] andymckay commented on #5482
Not necessarily, its possible for the add-on author (I believe) to maintain an old version of an add-on by setting the compatibility properly.

[2017-05-30 16:56] diox commented on #5482
It's not possible right now because we don't care about compatibility on homepage/category pages/detail page, but I it would if we did, yes.

It would still be quite annoying for the developer, who would risk ending up serving a broken update (since we simply serve the most recent compatible version when serving updates) to their users if they mess it up. Please the versioning would be a nightmare

[2017-05-30 17:03] andymckay commented on #5482
We have a very real problem coming up soon, if you could give us a better alternative, let us know.

[2017-05-30 17:06] wagnerand commented on #5491
Mentor: me (@wagnerand)

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-05-30 17:33] wagnerand commented on #3514
There hasn't been much activity in some time, so we're opening up that bug for everyone.

[2017-05-30 17:34] wagnerand commented on #3326
There hasn't been much activity in a while, so we're opening up that bug for everyone.

[2017-05-30 19:23] wagnerand commented on #5520
Not sure if this is clear from reading the plan: The feature is supposed to
work in both ways, meaning admins could also use it to *increase* the
priority.

Mathieu Pillard <notifications@github.com> schrieb am Di. 30. Mai 2017 um
16:33:

[2017-05-30 19:55] muffinresearch commented on #5522
This was due to the JS being broken - the patch was reverted so this should be resolved now.

Revert was in: https://github.com/mozilla/addons-server/commit/677f00a3df6aea0756a05d86e72393ada7830231

[2017-05-30 19:55] #5522 closed

[2017-05-30 19:59] devaneymoz opened #5526 "Disco Pane content update - June"
For the 15 June push, can we REMOVE:

- Bulk Media Downloader

... and REPLACE it with Enhancer for YouTube and three new themes.

**Improve videos** with [Enhancer for YouTube by Maxime RF](https://addons.mozilla.org/firefox/addon/enhancer-for-youtube/)
Enjoy a suite of new YouTube features, like cinema mode, ad blocking, auto-play control, and more.

[themes]

Sebastian Kitty by [SassyGirl1016](

[2017-05-31 02:31] EnTeQuAk commented on #3780
Actually, that is the expected output for this. I just wasn't sure if the linter would complain - it does which is good. The original problem was that instead of a proper error like you get now the user got a 500 server error presented.

I'm going to close this as I think you just verified it's fixed, I just wasn't sure what to expect, sorry about that!

[2017-05-31 02:31] #3780 closed

[2017-05-31 05:33] EnTeQuAk opened #5528 "Lots of Django deprecation warnings"
This is what we currently get while running our tests:

[code]

[2017-05-31 08:56] vcarciu commented on #5522
Verified as fixed :
![vimob](https://cloud.githubusercontent.com/assets/1583842/26623993/34fa667a-45f8-11e7-8f2f-cc03d5a5a2c7.gif)

[2017-05-31 12:35] vcarciu opened #5531 ""Next listed version" link will return a 404"
Steps to reproduce:
1.Submit a new add-on and approve it
2.Submit a new version for the add-on
3.Go to Manage Status & Versions page for this add-on and press the link next to "Next listed version"

Expected results:
We have 2 possibilities here. We can deactivate the link for the next listed version because it is not public and it will always return a 404 or we can display the awaiting review ver

[2017-05-31 12:50] ValentinaPC opened #5532 "Weird message in add-on review page at refresh after a "multiple rejection" action"
Steps to reproduce:
1. Go to review page for an add-on with an approved version i.e. https://addons-dev.allizom.org/en-US/editors/review/webext-vv-automatic1
2. Go to "Reject multiple versions" and select the version but no comment and save
3. Add a comment and click save again
4. Click back from the browser and refresh the review page (click "Resend")

Expected results:
Page is refreshed.

Actual

[2017-05-31 12:54] vcarciu opened #5533 ""Next listed version" link will return a 404"
Steps to reproduce:
1.Submit a new add-on and approve it
2.Submit a new version for the add-on
3.Go to Manage Status & Versions page for this add-on and press the link next to "Next listed version"

Expected results:
We have 2 possibilities here. We can deactivate the link for the next listed version because it is not public and it will always return a 404 or we can display the awaiting review ver

[2017-05-31 14:29] eviljeff commented on #5531
I guess this is a dupe of #5531

[2017-05-31 14:29] #5531 closed

[2017-05-31 15:20] wagnerand opened #5536 "Reviewer reply vs need-info"
Currently, a reviewer reply that is sent using the review tools (website) is always an information request. However, there are a significant amount of cases where a reply does not ask for information but in fact answers questions from a developer.

We need a way to distinguish between regular replies and information requests. https://github.com/mozilla/addons-server/issues/5081 suggested to add a

[2017-06-01 09:13] EnTeQuAk opened #5544 "Developer notification returns 500 in case user email is null."
Sentry: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/379893/

So apparently the `UserProfile.email` is None and that's why the notification fails. I don't know yet why it's None, "It's a very old account from ~2012 I've started reusing recently if that helps." (quote).

[2017-06-01 09:21] SamHH commented on #5544
Hey, I'm the guy who reported this in IRC.

Username: `ClutchHunter`
Addon name: `Bukubrow`

Here is the updated ZIP I'm trying to upload just in-case it's helpful.

[bukurow-webext.zip](https://github.com/mozilla/addons-server/files/1044232/bukurow-webext.zip)

Cheers!

[2017-06-01 10:44] eviljeff commented on #5544
Part of the FxA login is matching/updating the email address so that's weird...  I'd put this under 'component: firefox accounts' - I think it's reasonable for all non-login related code to assume email is non-null.

[2017-06-01 10:50] diox commented on #5544
Hold on, which user is it failing for ? It looks like the problem is triggered when going through `EditorSubscription` instances, so presumably the `email` that is `None` is one of the subscribers, not the add-on author ?

[2017-06-01 10:58] diox commented on #5544
Yeah, that's it. I can reproduce locally. STR:
- Submit an add-on
- Approve it in reviewer tools with another user account, and subscribe to updates
- Somehow remove the email associated with the account you just used to subscribe (set to `None`)
- With the original user account (that does have an email), submit a new version, that crashes

We should ignore `EditorSubscription`s pointing to users

[2017-06-01 10:58] eviljeff commented on #5544
Ah.  Yes.  It's https://addons.mozilla.org/en-US/firefox/user/Anonymous-6307327/ - an editor that was previously involved in the thread whose account was subsequently deleted (soft deleted, where we anonymize, including clearing the email adddress).  The EditorSubscription record wasn't deleted though (because no cascade)

[2017-06-01 14:22] eviljeff commented on #5536
The footer is because we pass `perm_setting='individual_contact' ` - it's not part of the template but added later in the `amo.utils.send_mail` and its supposed to added to all unsolicited emails.   If you want something changing around that log a different issue.

[2017-06-01 14:33] wagnerand commented on #5536
Ah. Interesting that none of the other comms emails use it.

[2017-06-01 14:36] eviljeff commented on #5536
Maybe we should that's why I want a separate issue - Jorge and others might have opinions.

[2017-06-01 16:00] jrbenny35 commented on #4563
@EnTeQuAk ^

[2017-06-01 16:38] diox commented on #5520
mmm, the [implementation plan](https://docs.google.com/document/d/1rZvM2QGk8WtkNUDRvLEvrbqZ190hvHfOle4zVRllQmw/edit#) seems to contradict this:

This is further confirmed by the [prioritization weights document](https://docs.google.com/spreadsheets/d/1CZEECHHqEmK87fNiWNslAsFQBL7zxYF-c63-zZVZuqw/edit#gid=0):

| Risk Factor | How much is an "instance"? | Value/instance | Min | Max |
| ----------- |

[2017-06-01 16:46] wagnerand commented on #5520
Hm, weird.

@jvillalobos why not make this work both ways? Quite a few add-ons come to my mind where we'd generally want to have a closer look at submissions...

[2017-06-01 18:02] kumar303 commented on #5480
The site is still running out of memory, possibly due to this URL. From IRC after the deploy:

12:57 jason: so I am pretty sure it's https://addons.mozilla.org/en-US/android/user/MaDonna/ that is causing the OOM, but I am trying to get more concrete evidence

The page still loads slowly (and in a broken state) for me so I'm going to re-open the bug.

[2017-06-01 18:46] diox commented on #5480
The removal of the `{% if reviews %}` should not have changed much:
- It's paginated (the view does `reviews = amo.utils.paginate(request, user.reviews.all())`), so the query would be limited (20 items is the default)
- The query is only executed once, since it's the same variable, django queryset caching would prevent the query from being executed a second time
- The page is doing the same thing

[2017-06-01 18:51] bqbn commented on #5480
We verified, on one of the production instances, by running
[code]
could reproduce the oom kill.

One curl command could cause a uwsgi process uses as much as 4GB memory before the process is finally oom-killed.

[2017-06-01 19:27] diox commented on #5480
Found it.

Post mortem on how I discovered it, because that was not trivial:

Newrelic was helpful to pinpoint the issue : from slowest transactions, it linked me this page, and provided details on what happened in specific instances of this problem. It showed that rendering `vcard.html` was super slow, and the slowness was caused by calling `Memcached get_multi`. It also shown that a limitedless

[2017-06-02 05:53] EnTeQuAk commented on #3960
This is closed but for documentation:

So the `ProgrammingError: (2014, "Commands out of sync; you can't run this command now")` theoretically (we're about to verify that) came from us calling `call_command('index_stats', ...)` inside a celery-task. `call_command` resets transactions and does quite a few other magic things so I extracted the relevant code into a method that get's now directly call

[2017-06-02 06:46] EnTeQuAk opened #5549 "Update to Celery 4.x"
There's a massive amount of new features, cleanups and improvements in celery 4.x: http://docs.celeryproject.org/en/latest/whatsnew-4.0.html

We're currently using Celery 3.x and should upgrade to 4 eventually. Unfortunately there's quite a few blockers and things that need changing since it's not backwards compatible at all.

This issue is to track all tasks that should be done to achieve celery

[2017-06-02 08:36] wagnerand opened #5551 "Add a link to report a bug on github to the 500 error page"
If a user comes across a 500 error, it would be helpful to both us and them if they could easily file an issue on github with the relevant information (incl. steps to reproduce and sentry information) from that 500 page.

I think @EnTeQuAk has some more insights here.

[2017-06-02 08:41] EnTeQuAk commented on #5551
Sentry supports ending the error event id to users: https://docs.sentry.io/clients/python/integrations/django/#message-references - we should do that and show that id to users, bold and large and make people include them.

That'd allow us to link issues to sentry and the other way around and simplifies the search for duplicates.

[2017-06-02 08:54] EnTeQuAk commented on #5480
This apparently is still occouring: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/604935/

[2017-06-02 09:03] eviljeff commented on #5480
https://github.com/mozilla/addons-server/releases/tag/2017.06.01-2 isn't on prod yet (apparently)

[2017-06-02 09:17] diox commented on #5480
It will be deployed on prod today, it was too late yesterday because there were issues with the deploy itself.

[2017-06-02 10:03] harikishen commented on #5551
I would like to help on this.

[2017-06-02 10:07] harikishen commented on #5533
I would like to work on this.

[2017-06-02 12:11] #5528 closed

[2017-06-02 12:14] EnTeQuAk commented on #5480
Heh, I didn't read backlog correctly. Sorry for the misunderstanding :)

[2017-06-02 12:14] #5480 closed

[2017-06-02 12:45] wagnerand opened #5554 "Developer reply does not clear 'need-info' flag"
### Describe the problem and steps to reproduce it:

At least in some cases (if not all), when a developer replies to a message from a reviewer, the *need-info* flag does not get dropped.

STR:
1. As a developer submit an add-on.
2. As a reviewer, do a "reviewer reply" on the review tools page. The add-on should have the "information requested" flag afterwards.
3. As the developer, reply to the re

[2017-06-02 14:08] wagnerand opened #5556 "Investigate random test failure"
https://travis-ci.org/mozilla/addons-server/jobs/238752936
https://travis-ci.org/mozilla/addons-server/jobs/238755834

both failed even though the changes were entirely unrelated to the test. The test passed in the second run without any further code changes.

[2017-06-02 14:09] #5519 closed

[2017-06-02 14:13] wagnerand commented on #5519
Since we don't have the needed data on -dev, I'm going to test this manually once it has been pushed to prod.

[2017-06-02 14:36] kumar303 commented on #5480
We're deploying it today at 9:30 Pacific

[2017-06-02 14:56] #5554 closed

[2017-06-02 16:39] #5445 closed

[2017-06-02 18:07] atsay commented on #5480
Thanks everyone for fixing this!

[2017-06-03 13:47] erosman commented on #4974
A couple of suggestion:
- Collections could also benefit from the tag
- Wouldn't a shorter tag be more aesthetically pleasing? for example **Firefox 57+ ✔️**

[2017-06-05 07:30] bqbn commented on #5209
I just ran the "manage.py reindex --with-stats" again, using the latest commit in the try-elasticsearch-latest branch (04825539bc15a499770ccbff996e56f619d94e80).

The command still doesn't return even after all tasks in rabbitmq have been processed by celery workers. In the end, I had to delete the entries in zadmin_reindexing table to make the command return.

It may be worth noting that this tim

[2017-06-05 11:14] eviljeff opened #5571 "Fetch jquery with npm"
part of #5458

Look out for javascript errors throughout the (non-mobile) site.

[2017-06-05 11:15] #5571 closed

[2017-06-05 11:16] eviljeff opened #5572 "Remove unused js libraries"
Part of #5458

There shouldn't be any impact, but watch out for random javascript errors throughout the site.

[2017-06-05 11:17] #5572 closed

[2017-06-05 11:28] #5491 closed

[2017-06-05 12:44] #5556 closed

[2017-06-05 12:57] diox commented on #5459
Somehow this add-on ended up with empty en-GB translations for the captions, which is why the captions are showing up correctly in every language (no translation in that language -> it falls back to the default, which is en-US in this case) except en-GB.

Can you try the following:
- Go to the add-on edit page
- Choose edit captions
- Look at the localization menu: it should now change "English (B

[2017-06-05 13:01] diox commented on #5510
From IRC discussion, we're probably going to have to implement oauth2...

[2017-06-05 13:39] sblask commented on #5459
I am pretty sure I tried just that already, but I just tried again and it's still the same problem. After deleting the localization, British English is not visible anymore, but when I then go back to editing images and click on the localization menu, it is back. Is that expected?

Can it be related to being a webextension?

[2017-06-05 13:43] diox commented on #5459
Not what I expected no... Sadly I think this is just related to our developer hub and translations mechanism being old and buggy.

[2017-06-06 04:00] EnTeQuAk commented on #5209
Hmm, so unfortunately the traceback didn't change, I hoped the closed cursor fix fixed the problem or at least would lead us to another issue on the way. I'll continue investigating.

[2017-06-06 04:06] EnTeQuAk commented on #5510
Which would have many advantages for us to be honest:

 * It's (very) widely used, wether it's good or not, many people know it and many libraries implement it
 * I think oauth2 as excellent client support, especially from various javascript libraries
 * It's relatively simple to hook in a 3rd party authentication provider (fxa) into the pipeline if desired

There's lots more but I think these are

[2017-06-06 04:45] EnTeQuAk commented on #3632
So, I started working on this, it's a bit of work to get the calculation right and properly stored / updated everywhere and think about a migration scenario but from what I see we do have all the relevant data in our database already so the implementation won't require touching our stats-pipeline.

This will still take a bit more time to implement since I am planning to update our local stats gene

[2017-06-06 07:00] EnTeQuAk commented on #3632
cc @jvillalobos and @diox that the average_daily_users count is about to be changed which is in use for our auto-approval process. I should have numbers available soon I hope, latest end of this week to see what changes are required.

[2017-06-06 07:17] EnTeQuAk commented on #3632
So, currently we are calculating our average daily users over 7 (today + past 6 days) days for all installations.

We are now changing this to a window of 13 days (today + past 12 days) for all `userEnable`'d installations.

Just so that we summarize what we decided in the comments above.

[2017-06-06 07:58] SVSanta commented on #5480
Verified as fixed using AMO-prodFF55(Win 10 64Bit).
Postfix video:
![madonna](https://cloud.githubusercontent.com/assets/28138132/26819335/16b3b078-4aa7-11e7-9ee8-6e42e3cf6f9e.gif)

[2017-06-06 08:09] SVSanta commented on #5491
Verified as fixed using AMO-dev FF55(Win 10 64Bit).
Postfix screenshot:
![clipboard01](https://cloud.githubusercontent.com/assets/28138132/26819669/92ce7b92-4aa8-11e7-9f8f-3b8d307f2b53.jpg)

[2017-06-06 08:39] ValentinaPC commented on #5473
There is a new column in the Auto-Approved queue from Reviewer Tools:
![2017-06-06_1135](https://cloud.githubusercontent.com/assets/15685960/26820695/62356ca8-4aac-11e7-8246-01122cb6b448.png)
Not sure what type of sorting should be applied there - given the fact that all the values are 0.
Can this be verified or we should wait for other issues to be fixed, @diox ?
Thanks!

[2017-06-06 09:09] ValentinaPC commented on #5520
Verified this on AMO-dev FF53(Win 7).
In the "Edit Information" of an add-on, 'Admin Settings" section there is a new "Add-on Reputation" field with different values.
![rep](https://cloud.githubusercontent.com/assets/15685960/26821894/bfc7779a-4ab0-11e7-8c55-eb253260ce0b.png)

1. All option work while selected
2. Is there a place where this reputation can be checked, beside dev hub?
3. Add-on posi

[2017-06-06 09:39] diox commented on #5473
The sorting should be down using this column, then last human review, then add-on creation date. The weight value depends on the table in the comment above, with the following caveats:
- Size of code changes is not implemented yet
- Add-on reputation, implemented in #5520, goes from -300 to +300

Note that the weight is calculated only once, at auto-approval time, and I haven't bothered to re-calc

[2017-06-06 09:42] diox commented on #5520
2. No
3. It should change for future auto-approvals, per #5473

[2017-06-06 09:59] ValentinaPC commented on #5445
Verified as fixed on AMO-dev FF53(Win 7).
Unlisted or mixed versions add-on that have been reviewed will redirect to the correct page from Add-on Review Logs.
Postfix video:
![unlistedlogs](https://cloud.githubusercontent.com/assets/15685960/26823908/0226fd84-4ab8-11e7-978d-c3d377dda6b1.gif)

[2017-06-06 10:54] EnTeQuAk commented on #5475
For what's needed in addons-linter:

* `eval, evalInSandbox, document.write` - #1047 - code: `DANGEROUS_EVAL`
* `setInterval, and on* attributes` - #1206 - code: `NO_IMPLIED_EVAL`
* <script> tag with a remote URL` -  needs issue filed, we only warn generally on `<script>` tags
* `Unsafe DOM: innerHTML` - #1187 - code: `UNSAFE_VAR_ASSIGNMENT`
* `Custom CSP` - #562 - code: `MANIFEST_CSP`
* `Plain HT

[2017-06-06 11:45] ValentinaPC commented on #5520
As per last 2 comments, we can mark this verified-fixed.

[2017-06-06 14:52] ValentinaPC commented on #5473
Why do we show -3 to +3 on Edit Info page from Dev Hub and not -300 to +300?

[2017-06-06 14:59] diox commented on #5473
The reputation gets multiplied by -100 to find the weight. (Each "positive step" in the reputation equals -100 weight, decreasing priority, each "negative step" equals +100 weight, increasing it)

[2017-06-06 15:14] #5490 closed

[2017-06-06 15:19] diox opened #5579 "Update submission process for post-review"
Per https://docs.google.com/document/d/1rZvM2QGk8WtkNUDRvLEvrbqZ190hvHfOle4zVRllQmw/edit#:

The submission flow will have the following changes:

* Replace the Developer Agreement step with a step linking to the 3 main documents: Developer Agreement, Review Policy, and Review Rules. Each document will have a checkbox next to it indicating the developer has read them and agreed to them.
Ensure all

[2017-06-06 15:25] eviljeff opened #5580 "Fetch jquery-ui from NPM"
part of #5458

Look out for javascript errors throughout the (non-mobile) site.

[2017-06-06 16:48] #3140 closed

[2017-06-06 17:29] pwalm commented on #5482
So, if we have two versions of the add-on (legacy and webextension) and we can check the user agent, can we just show the user the appropriate add-on for their browser version? That way the user gets the add-on they need and we don't need to do any other messaging. This would be the most painless option (for the user).

[2017-06-06 19:25] Rob--W commented on #5482
Jorge's initial report covers the situation in the future when Firefox 57 is stable; I am going to focus on the issues in the present.

When a new version is at least as powerful as its predecessors, it makes sense to mark the old versions as obsolete. However, with WebExtensions this is different: WebExtensions are the only supported add-on type in Firefox 57, and their functionality is limited c

[2017-06-07 04:15] EnTeQuAk opened #5582 "Remove legacy devhub index page"
Our new devhub pages landed with mozilla/addons-frontend#1021 but our old index page is still in our code.

* [ ] Remove `devhub/index.html` - or replace it by the new index.html
* [ ] Add migration to remove waffle flag.
* [ ] Find unused css and images and remove them

[2017-06-07 07:06] EnTeQuAk commented on #4563
I see… let's comment that step by step…

So far so good…

Now, I expect that you're commenting things in and out properly but this line is your problem. It creates a zip that has a directory named `webext` in it in there is your `manifest.json` - an XPI is expected to have the manifest.json at the root-level of a zip file.

It's generally better to use https://docs.python.org/3/library/zipfile.htm

[2017-06-07 10:07] diox commented on #5473
Re-opening to adjust negative reviews weight.

[2017-06-07 11:17] eviljeff opened #5585 "fetch common jquery plugins from npm"
part of #5458
The following are jquery plugins we should be able to fetch from npm

- [x] jquery.browser.js
- [x] jquery.cookie.js
- ~jquery.hoverIntent.js~ official release not on npm
- [x] jquery.pjax.js
- [x] jquery.timeago.js
- ~jquery.zoomBox.js~ not on npm

[2017-06-07 11:25] eviljeff opened #5586 "use less.js from the existing less dependency"
part of #5458
We install less v2.7.2 from NPM to use for compiling our less files... then use ancient v1.3.0 in local environments to debug.

[2017-06-07 13:36] diox commented on #5475
Note: `nativeMessaging` does not need a linter issue for now, I'll just detect it from the permission list.

[2017-06-07 14:20] ValentinaPC opened #5588 "Incomplete webextension listed in search results page"
Steps to reproduce:
1. Go to a webextension details page an click on the `firefox57` tag option i.e. https://addons.allizom.org/en-US/firefox/addon/tampermonkey-%E5%9F%BC%E5%9F%BC-%C3%A3-%C4%83%C4%83/?src=search
2. Observe first webextension from the search results page (WebExt-simple-stage)

Expected results:
Incomplete webextensions are not listed in the search results.

Actual results:
Incomple

[2017-06-07 14:21] #5582 closed

[2017-06-07 14:24] SVSanta commented on #3571
Issue also reproducible sorting by "Relevance".
Videos for the issue:
![not the same results](https://user-images.githubusercontent.com/28138132/26883455-ece48ea2-4ba5-11e7-9e4a-1224044849a9.gif)

[2017-06-07 14:36] vcarciu opened #5589 "Account settings is not completely RTL"
Steps to reproduce:
1.Login to AMO Stage and select Account Settings (https://addons.allizom.org/en-US/firefox/users/edit)
2.Set the language to any RTL language (ie. https://addons.allizom.org/ar/firefox/users/edit)

Expected results:
The entire page is in RTL

Actual results:
Info for every section is not RTL

Please see video for this issue:
![rtlaccountssettings](https://user-images.githubuser

[2017-06-07 14:44] ValentinaPC opened #5590 "Add-on browser incompatibility red mark is not RTL"
Steps to reproduce:
1. Load a page for an add-on that is not compatible with your Firefox version and change the language to a RTL one i.e. https://addons.allizom.org/ar/firefox/addon/tlegacy-versioncomapt/
2. Observe the incompatibility red mark

Expected results:
Red mark is RTL.

Actual results:
Red mark is not RTL.

Notes/Issues:
Verified on AMO-stage FF53(Win 7). Issue is reproducing on all A

[2017-06-07 14:45] vcarciu commented on #2817
@EnTeQuAk :
Can we solve this on Stage too? Both Debug Robot languages are returning  502 Bad Gateway

[2017-06-07 14:52] eviljeff commented on #5417
I managed to reproduce this after a while... but then after the button not working for multiple clicks it suddenly worked again.  (After I cleared the console; coincidence unknown).

The buttons don't have any event listeners on them (according to devtools inspect) that could be blocking the click but the top-level page div, and the body tag itself both have click listeners from raven.min.js.  (di

[2017-06-07 14:55] eviljeff commented on #4977
I thought this was expected behaviour - once you leave a review it doesn't get deleted if you delete (anonymize) your account.  This is what we tell the user too https://github.com/mozilla/addons-server/blob/master/src/olympia/users/templates/users/delete.html#L40

[2017-06-07 14:59] ValentinaPC opened #5591 "Small format issue for add-on browser incompatibilty tooltip"
Steps to reproduce:
1. Load https://addons.allizom.org/fr/firefox/addon/tlegacy-versioncomapt/
2. Click on the "`?`"

Expected results:
There are no layout issues.

Actual results:
There is a small format issue.

Notes/Issues:
Verified on AMO-stage FF53(Win 7). Issue is reproducing on all AMO servers.
Screenshot:
![2017-06-07_1736](https://user-images.githubusercontent.com/15685960/26885288-f0eced

[2017-06-07 15:13] #5586 closed

[2017-06-07 15:14] #5526 closed

[2017-06-07 15:16] EnTeQuAk commented on #2817
interesting, this appears to 502 on -dev now for me too. I'll investigate.

[2017-06-07 15:17] #5473 closed

[2017-06-07 15:19] eviljeff opened #5592 "Don't link to user account profiles for non-developers in the API"
Edited to focus this issue on just stop including the user profile url in the API responses.

Follow up issues to this:
- [ ] make the accounts API 404 for non-developer users, except for admins and your own account #6042
- [ ] stop including links to the user profile on other pages. #6044

[2017-06-07 15:23] ValentinaPC commented on #5582
Navigating through Dev Hub will be enough while checking this?
Thanks!

[2017-06-07 15:24] eviljeff commented on #5592
@jvillalobos can you confirm about timing on this - do you only want it to happen when we have addons-frontend serving user profiles for both mobile and desktop?  Or are you okay with us stopping linking to profiles gradually? Would you want the existing user profile pages (i.e. the ones we serve from addons-server now) blocked as well before the addons-frontend user pages are implemented?

[2017-06-07 15:26] ValentinaPC commented on #5473
Changing the `reputation` will not change anything in Reviewer Tools, yes?

[2017-06-07 16:08] ValentinaPC commented on #5473
![2017-06-07_1907](https://user-images.githubusercontent.com/15685960/26888748-a52e5e8a-4bb4-11e7-946f-45fb563a8728.png)

About the table: we can check, for now, only the reputation? Or, the other cases too? and, if yes, can you give me a hand?
Many thanks!

[2017-06-07 16:11] diox commented on #5473
If you want to check just one flag, it should be doable by just submitting normally, setting the reputation, then submitting an update that would be auto-approved. Just ignore the other flags (don't set admin review flag, don't add abuse reports or negative reviews, don't reject versions, etc)

[2017-06-07 16:17] ValentinaPC commented on #5473
Yes, doing that. But...the other options are implemented? could be checked?

[2017-06-07 16:18] EnTeQuAk opened #5593 "Compile our locales on travis before running tests"
So apparently our `dbr` and `dbl` locales are broken on -dev again, looking at https://sentry.prod.mozaws.net/operations/olympia-dev/issues/608333/ this should have been catched by the test added in https://github.com/mozilla/addons-server/commit/aba4b7c860233a78c71384746bac5427edb80484 but wasn't because we are not compiling our locales on travis.

[2017-06-07 16:20] diox commented on #5473
Sorry, misread your comment. Everything in that table has been implemented *except* size of code changes.

[2017-06-07 16:22] ValentinaPC commented on #5473
Ok, will check everything.

Also, while the reputation is between -300 and +300, why I am seeing 310 for "Terrible(-3)"?
Soory for being such a pain in your ... :D

[2017-06-07 16:23] diox commented on #5473
My guess is that another factor is in play. Either abuse report or past rejection (keep in mind the reputation value is "inverted", multiplied by -100)

[2017-06-07 16:27] EnTeQuAk commented on #5582
Yes, sorry for the missing notes.

The code that got removed should have been unused since either February (old devhub index page) or much much longer (some of the images / css) so generally, yes, navigating through devhub pages should verify this being fixed. Maybe a closer look at any potential missing images in the network tab but that's it.

Thanks!

[2017-06-07 16:30] ValentinaPC commented on #5473
As you can see, Is a newly submitted webextension with no abuse report or rejection.
Maybe the abuse report for me, as in the developer of the webextension?

[2017-06-07 16:31] diox commented on #5473
Ah, yes, abuse reports against the developer count as well.

[2017-06-07 16:31] tofumatt opened #5595 "API endpoint to report an add-on/flag an add-on"
The AMO frontend will soon have a "report a problem" button (we didn't have one before) but there is no API for reporting an issue with an add-on so we'll need one to implement that feature.

[2017-06-07 17:10] eviljeff opened #5596 "Collections API follow-up"
From re-reading the [PRD](https://docs.google.com/document/d/1cJ1k8HsAb6taauvJMDLOiYMa1McfUXNgEtax3hoToPc/edit#heading=h.z5wk3ws26iay) there are a few things missing:

- ~stop linking to the user profile for collections~ will do it with #5592
- ~featured collection indicator~ dropped from PRD
- sort addons in a collection by [popularity; name; time/date added]
- uuid for collection detail
- sort c

[2017-06-07 17:15] eviljeff opened #5597 "Accounts API page is a bit long"
Lets move the collections to a separate page.

[2017-06-07 17:29] eviljeff commented on #5595
When will this likely be needed for?

[2017-06-07 17:36] eviljeff opened #5598 "Accounts API delete photo"
How can one delete a profile photo via the accounts API?

[2017-06-07 17:44] tofumatt commented on #5595
It would be great to have it this quarter but I know I brought it up way late. We can’t have flag for abuse on new (optional) desktop pages or more importantly mobile at all until it’s implemented though.

- tofumatt

From: Andrew Williamson
Sent: 07 June 2017 18:29
To: mozilla/addons-server
Cc: tofumatt ☕️; Author
Subject: Re: [mozilla/addons-server] API endpoint to report an add-on/flag anadd-on

[2017-06-07 18:04] #5597 closed

[2017-06-07 21:29] caitmuenster opened #5600 "Update text for developer notification checkbox "add-on events and contests""
Currently, developers see these notification options when they edit their account settings on https://addons.mozilla.org/en-US/firefox/users/edit:

![notifications](https://user-images.githubusercontent.com/23342476/26902212-3dbc2074-4b8d-11e7-9742-7ff42572b5cc.png)

Following a discussion with @amyt and @jvillalobos, we would like to update the text next to the box  "add-on contests or events are

[2017-06-07 21:44] jvillalobos commented on #5600
@atsay is the `amyt` you want :P

[2017-06-07 21:57] jvillalobos commented on #5592
I'm okay with stopping the linking gradually. The first point (make the accounts API 404 for non-developer users) should only be done in the new front end, since it's a bigger change that should be announced.

[2017-06-07 22:09] jvillalobos commented on #4977
Yeah, anonymizing doesn't delete any content, which is the current expected behavior.

[2017-06-07 22:14] jvillalobos commented on #5520
The specification is correct. If an add-on should have a bad reputation, then that should be reflected on the other risk factors rather than admin opinion. If something isn't being covered in the risk factors (note that past rejections are included), then that's something that should be fixed in the prioritization, rather than a manual override.

Also note that the reputation points are extremely

[2017-06-07 22:27] atsay commented on #5600
Let's not leave out the hyphens, and take out the period to stay consistent: "stay up-to-date with news and events relevant to add-on developers"

[2017-06-07 23:05] jvillalobos commented on #5482
I don't think this is possible because once you submit a WebExtension version you're not allowed to submit legacy versions anymore (#3061).

Having said that, we're talking about a window of a couple / few months, and not many add-ons update that often. There may be cases where developers have a problem with an old branch and can't update it, but those should be a small group and admins can overri

[2017-06-08 09:10] ValentinaPC commented on #5473
Is there a way to delete abuse reports against developers?

[2017-06-08 09:38] diox commented on #5473
Not that I know of. I can work on adding a quick and dirty admin in the django admin pages (/admin/models/) if that's a problem for you.

[2017-06-08 09:51] diox opened #5601 "Add basic admin for abuse reports"
QA asked for a way to delete abuse reports in #5473 ; it might prove useful for admins too in the future, to delete spam.

[2017-06-08 10:27] wagnerand commented on #5015
@kewisch would you agree that we'd probably want them to be grouped by *version*, not *add-on*?

[2017-06-08 10:28] muffinresearch commented on #5015
@eviljeff would you be able to take a look at this and see what it would take to fix when you have a moment?

[2017-06-08 10:59] wagnerand opened #5604 "Don't show "Confirm approval" for pending versions."
If the latest submitted version is pending review, we shouldn't show the "Confirm approval" action.

[2017-06-08 11:05] ValentinaPC commented on #5473
Verified this on AMO-dev FF53(Win 7) and obtained the following results:

1. **admin flag - is this possible before auto-approve if this is a mandatory criteria for an add-on to be auto-approve?**
1'. admin flag after auto-approve - does not make any changes on the weight
2. abuse reports - weight is incremented with 10 - **2 abuse reports to developer does not
increment weight with 10 more, is th

[2017-06-08 11:08] diox commented on #5473
1. Yes, because in the future admin review will no longer prevent auto-approval. This is something you can't test right now, unfortunately, so you'll have to trust me :)
2. It should count (if the developer is a *listed* developer)

[2017-06-08 11:16] ValentinaPC commented on #5604
@wagnerand : I have a question for you. :)
If the add-on has last version "awaiting" and the previous "auto approved" the "Confirm approval" action should not be possible for the last **public** version than after approving the awaiting version?
Thanks!

[2017-06-08 11:29] ValentinaPC commented on #5473
1. Will do this - I mean - trust you :)
2. There are listed 2 abuse reports on me - am I a **listed** developer?
![me](https://user-images.githubusercontent.com/15685960/26926559-e70efc72-4c56-11e7-917f-570868a0099c.png)

[2017-06-08 11:47] wagnerand commented on #5604
Well, I think this is a stop gap only until we roll out post review.

I don't think we need to show the "Confirm approval" action because the latest version is pending review which can mean two things:
1) Either it hasn't been auto-approved yet, so humans should wait until the auto-approval task ran.
2) It failed the auto-approval criteria, which means it needs to be reviewed by a human.

So for 1

[2017-06-08 11:49] ValentinaPC commented on #5597
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-06-08 11:52] ValentinaPC commented on #5586
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-06-08 11:53] ValentinaPC commented on #5528
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-06-08 11:55] eviljeff commented on #5586
its only used in local development

[2017-06-08 11:55] ValentinaPC commented on #5490
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-06-08 11:55] ValentinaPC commented on #5487
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-06-08 11:56] eviljeff commented on #5597
The docs are http://addons-server.readthedocs.io/en/latest/topics/api/accounts.html and http://addons-server.readthedocs.io/en/latest/topics/api/collections.html but I don't think there's much for you to do there.

[2017-06-08 12:14] ValentinaPC commented on #5604
As far as I know the "Confirm approval" option, if made, is applied to last _public_ version that was auto approved, even if the last _submitted_ version is **awaiting**.

Thanks for your reply!

[2017-06-08 12:24] eviljeff commented on #5487
I don't think we generally test in non-Firefox browsers like IE so no specific QA needed, just watch out for general javascript errors throughout the site.

[2017-06-08 12:25] wagnerand commented on #5604
Yeah, that's probably right. But it doesn't make much sense to confirm an old version if a new one is pending.

[2017-06-08 12:27] ValentinaPC commented on #5554
Verified on AMo-dev FF53(Win 7).
Flag is cleared after page refresh.
Postfix video:
![flag](https://user-images.githubusercontent.com/15685960/26928441-c7d81ebc-4c5e-11e7-9f5b-1dc89e641895.gif)

[2017-06-08 12:57] diox commented on #5473
Yes, but note that one of them is too old (April 4, 2016 - more than a year old) so it does not count.

[2017-06-08 13:20] eviljeff commented on #5600
@jvillalobos can you confirm the defaults for all of them too?  As I noted on irc yesterday, the developer notifications are only defaulting to `false` because the form is broken (in _another_ way)

[2017-06-08 13:20] ValentinaPC commented on #5473
Doh.

[2017-06-08 14:06] #5601 closed

[2017-06-08 14:54] vcarciu opened #5605 "Delete User Account page is not completely RTL"
Steps to reproduce:
1.Login to AMO Stage
2.Go to Account Settings and select Delete Account Link from bottom of the page
3.Change language to any RTL language (https://addons.allizom.org/ar/firefox/users/delete)

Expected results:
All fields are RTL

Actual results:
"I understand this step cannot be undone. * " text and checkbox should be aligned to right and "Delete my user account now" button sh

[2017-06-08 16:16] diox commented on #5588
So, that looks like it's an issue with that specific action then.

[2017-06-08 16:38] kewisch commented on #5015
Yes, by version would be great! If you could make it so that all previous message ids are mentioned in the `References` header it would be great, in case the opening message was deleted in the user's inbox.

[2017-06-08 17:32] eviljeff commented on #5015
message-ids are generated (involving a random element) per message so we'd need to store the message-id in the database after each email is sent so it can be referenced in subsequent emails.

Github seems to use something other than message-ids for it's `Reference` header - I'm guessing it works because they use a common 'In-Reply-To:` header, and reference that instead.  Do Github emails thread f

[2017-06-08 17:46] eviljeff commented on #4977
So... it's not a bug then?

[2017-06-08 18:26] chrismore opened #5608 "Add additional analytics tool to AMO for experiment"
The Firefox Growth team would like to perform an experiment and we need assistance of the AMO team to perform it.

Here's what we need:

1) In this file:

https://github.com/mozilla/addons-server/blob/master/static/js/zamboni/analytics.js

2) Add this code:

[code]

In StatCounter's admin interface, cookies have been disabled and all IPs are masked per our privacy policy.

3) Wrap the code in step

[2017-06-08 20:32] kewisch commented on #5015
github messages all have one parent and are only one level deep. If you delete the parent message, the first child message becomes parent. If you implement it like they do that would be fine with me.

[2017-06-08 22:05] jvillalobos commented on #5600
I'm thinking only the "events" checkbox (the one this bug is for) should be off by default.

There are a couple of settings we should revisit in other issues:

1) Compat and SDK settings won't be needed after the bulk compat check for 56, in a few weeks.
2) "new add-ons or Firefox features are available" is for contacting all registered users for marketing reasons. Not sure if we'll ever need to d

[2017-06-08 22:34] jvillalobos commented on #4977
Doesn't look like it.

[2017-06-08 22:34] #4977 closed

[2017-06-08 22:51] atsay commented on #5600
I want to keep #2 as a lifeline to communicate to all registered users, should the need arise. Agree the "Events" box should be unchecked by default.

[2017-06-08 22:52] jrbenny35 commented on #4563
@EnTeQuAk ```desktop.xpi``` was an xpi evilljeff suggested I try.

@diox Also suggested that I use an xpi from an addon that is already public (Firebug) , and upload that to the addon that is created from the fixture.

So doing:
```addon_xpi = open('/home/b4hand/Downloads/firebug-2.0.19-fx.xpi')```

and then:
```upload = FileUpload.objects.create(path=addon_xpi)```

followed by:
```Version.from_up

[2017-06-08 23:02] jvillalobos commented on #5608
Are there any documents you can point to so we can understand the motivation and goals behind this request? Is this a temporary change?

/cc @deadsquid

[2017-06-09 01:46] EnTeQuAk commented on #4563
The error you're getting is that the XPI could not be found. You're applying a file-object, not the path to `FileUpload.objects.create(...)` so this can't work. Anyhow, the real problem might not be that. Do you run this inside docker?

I am running this locally to reproduce your code:

[code]

I had to remove the `id` from the xpi to make sure this works but otherwise the code above succeeds for

[2017-06-09 02:03] jrbenny35 commented on #4563
By run inside docker you mean using ```make shell``` correct?

[2017-06-09 02:28] EnTeQuAk commented on #4563
Correct

On Fri, Jun 9, 2017, at 09:03 AM, Benjamin Forehand Jr wrote:

Links:

  1. https://github.com/mozilla/addons-server/issues/4563#issuecomment-307275196
  2. https://github.com/notifications/unsubscribe-auth/AAIfGf73cmZcXsSJX5ZdtjQP2lltMg8Kks5sCKgOgaJpZM4L0kfG

[2017-06-09 05:49] chrismore commented on #5608
TBD on how temporary. Let me talk to @deadsquid and osunick about it as they know the back story.

[2017-06-09 05:49] chrismore commented on #5608
Also, /cc @andymckay

[2017-06-09 06:34] jrbenny35 commented on #4563
Current state: https://github.com/jrbenny35/addons-server/tree/add_install_test

[2017-06-09 08:30] muffinresearch commented on #5608
Couple of immedidate questions aside from understanding the background. This snippet contains HTML with a `<noscript>` image beacon fallback so we can't just put this verbatim inside  `analytics.js`.

Is the no-js fallback required?

Using this in HTML would violate our Content Security Policy (CSP) too. Afaik `document.write` is not allowed to add script even if running from a JS file allowed by

[2017-06-09 09:08] ValentinaPC commented on #5601
@diox : I searched around Admin Tools page for the implementation and did not find anything new.
Can you enlighten me? :) Thanks!

[2017-06-09 10:07] diox commented on #5601
It should be in https://addons-dev.allizom.org/en-US/admin/models/ but unfortunately dev seems to be lagging behind at the moment so you can't access it :(

[2017-06-09 10:21] ValentinaPC commented on #5601
I am a patience woman. :)

[2017-06-09 10:22] ValentinaPC opened #5609 "Confirm approval option available in "Unlisted Review Page""
Steps to reproduce:
1. Load "Unlisted Review Page" for an auto-approved add-on i.e. https://addons-dev.allizom.org/en-US/editors/review-unlisted/webext-simple
3. Observe the options for Add-on history section

Expected results:
No "confirm approval" option.

Actual results:
Confirm approval option is available.

Notes/Issues:
- confirm approval action will be recorded in the Review **Listed** Page

[2017-06-09 11:39] ValentinaPC commented on #5572
This error while clicking on an add-on/theme name in View Mobile Site mode, can be related?
![first_click](https://user-images.githubusercontent.com/15685960/26973888-56cf86f6-4d21-11e7-8cfd-d1282b189617.png)

[2017-06-09 12:17] vasilicamihasca opened #5611 "Scroll click on “Report Abuse” link opens “AMO Contact Information” MDN page"
**Steps to reproduce:**
1.Navigate to https://addons-dev.allizom.org/en-US/firefox/addon/bloody-vikings/
2.Scroll click on “Report Abuse” link.

**Expected results:**
a) The add-on listing page is opened in a new tab just as “Permissions” link does.
b) Report abuse page is opened in a new tab ( https://addons-dev.allizom.org/en-US/firefox/addon/bloody-vikings/abuse/ )

**Actual results:**
AMO Cont

[2017-06-09 13:28] ValentinaPC opened #5612 ""Not Auto Approved Because" message is not listed for popular add-ons"
Steps to reproduce:
1. Submit a new version that qualifies to be auto-approved for a webextension with over 10k active users i.e. https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/
2. Observe the "Not Auto Approved Because " message

Expected results:
O corresponding message is displayed.

Actual results:
No message is displayed.

Notes/issues:
- initially the "Not Auto A

[2017-06-09 13:33] muffinresearch commented on #5482
As noted in the q3 planning doc the target for completing this work is 57 Nightly which is 2017-08-07.

[2017-06-09 13:41] muffinresearch commented on #5277
@jvillalobos do we have a target date for getting this done? Presumably 57 nightly (2017-08-07)?

[2017-06-09 14:00] eviljeff commented on #5572
No, this doesn't affect addons-frontend pages.

[2017-06-09 14:07] diox commented on #5612
I can reproduce and I have no idea what's going on yet...

Everything works as expected in a shell:
[code]

[2017-06-09 14:46] gkratoc1 opened #5614 "Review disappeared"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
I reviewed the MetaMask addon.  I went to the review's static link and it was gone.
### What did you expect to happen?
I expected the review to load.
### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)
https://addons.mozilla.or

[2017-06-09 14:57] wagnerand commented on #5614
It was probably flagged for moderation and deleted by the moderator.

[2017-06-09 14:57] #5614 closed

[2017-06-09 15:17] diox commented on #5601
Dev is now fixed.

[2017-06-09 15:24] chrismore commented on #5608
There is a no-JS version, let me drop that into here too. When we added this to www.mozilla.org, we had to adjust the CSP rules.

[2017-06-09 15:25] chrismore commented on #5608
non-JS version:

<div id="statcounter_image" style="display:inline;"><img
src="//c.statcounter.com/11365629/0/d1b4d3fb/1/" alt="StatCounter stats" style="border:none;" /></div>

[2017-06-09 15:25] wagnerand commented on #5609
I'm wondering whether that's something we'd explicitly want. It certainly seems useful and superior to commenting "ok", which is what the current process looks like.

@jvillalobos thoughts?

[2017-06-09 15:46] jvillalobos commented on #5277
Yes, we should aim to have this before 57 hits Nightly.

[2017-06-09 15:49] jvillalobos commented on #5277
I should also add that we decided [Android will follow the same compatibility path](https://blog.mozilla.org/addons/2017/05/18/compatibility-update-android/), so this issue now applies for Firefox and Firefox for Android.

[2017-06-09 15:49] chrismore commented on #5608
@muffinresearch here's a few PRs to add StatCounter and adjust the CSP on mozilla.org for this same type of test:

https://bugzilla.mozilla.org/show_bug.cgi?id=1352821#c15

CSP fix:

https://bugzilla.mozilla.org/show_bug.cgi?id=1352821#c16

[2017-06-09 16:26] diox commented on #5475
Closing to be verified by QA, but it's still missing some flags that have not been implemented in the linter yet. See https://github.com/mozilla/addons-server/issues/5475#issuecomment-306451131 for the list of missing "needs to be implemented in linter" flags

[2017-06-09 17:14] #5580 closed

[2017-06-09 17:32] eviljeff opened #5617 "remove unused static/js/submit/"
They were "removed" [5 years ago](https://github.com/mozilla/addons-server/commit/4f4b365032f036cfc8996737cf05af6fab892abe) but here they remain.

[2017-06-09 18:21] jvillalobos commented on #5609
Agree. The unlisted process should largely mimic the post-review process, though we don't have short-term plans to dedicate time to it.

[2017-06-09 20:35] jvillalobos opened #5619 "Don't sign Mozilla Signed Extensions"
[Mozilla Signed Extensions](https://wiki.mozilla.org/Add-ons/InternalSigning) are internal add-ons that will be signed using a different signature than the one used on AMO. While generally they won't be distributed on AMO, some people have shown interest in doing so because of the facilities AMO provides (auto-updates and statistics, mainly).

If one of these extensions is submitted, we should do

[2017-06-09 20:40] andymckay commented on #5619
Here's an example, basically you are looking for a specific OU in the signature along with the specific key information. Definitive information on that will be in the Firefox tree and @aswan can point you at that.

[2017-06-09 20:40] andymckay commented on #5619
https://bugzilla.mozilla.org/show_bug.cgi?id=1369532

[2017-06-10 11:22] Anirudh257 commented on #5385
Hey, I have just started contributing to open source and have a bit of knowledge about Front-end development. I would love to help you

[2017-06-12 07:23] ValentinaPC commented on #5601
Verified as fixed on AMO-dev FF53(Win 7).
The Abuse Reports page is available and functional in Admin Tools page.
Postfix screenshot:
![abuse-rep](https://user-images.githubusercontent.com/15685960/27022964-196623e4-4f59-11e7-9c84-c9688a667dbb.png)

[2017-06-12 09:27] ValentinaPC commented on #5475
@diox : I have the same question, like the one I've asked you in #5473, but now about "Custom CSP" flag... how it is possible to have an add-on **that uses a CSP**, auto-approved?
 I am very confused.

[2017-06-12 10:04] wagnerand commented on #5544
Hm, that user is no longer a reviewer. I think we could filter that early, to check whether the user we're going to send an `EditorSubscriptions` email really is a reviewer.

[2017-06-12 10:07] muffinresearch commented on #5544
Since this is blocking updates makeing this a p1.

[2017-06-12 11:13] diox commented on #5609
Closing the issue then because otherwise it becomes confusing :)

[2017-06-12 11:13] #5609 closed

[2017-06-12 11:21] diox commented on #5604
Note: per discussion in #5609 we do want to keep the action for unlisted versions (even though they are technically not "public").

[2017-06-12 11:28] diox commented on #5579
@jvillalobos can you clarify this:

Should developers see these documents on every update once this goes live, or just their next one (i.e. make sure they read this every time or just once because existing developers may not have read it yet) ?

Can I have more details on this ?

[2017-06-12 11:39] ValentinaPC commented on #5609
@diox:  this issue was not just for an unlisted review page having a "confirm approval" option, but for that action done in the _unlisted review page_ and _recorded in the listed review page_, as you can see in my notes.

[2017-06-12 12:02] diox commented on #5475
@ValentinaPC it's not currently possible. It will be in the future though (because at some point in the near future we'll allow all webextensions to be auto-approved once they pass validation)

[2017-06-12 12:04] diox commented on #5609
True. That will be fixed as well when I tweak this action for #5604

[2017-06-12 13:02] #5617 closed

[2017-06-12 15:52] eviljeff commented on #5595
We're going to do this early Q3 as its possible some of the functionality may change due to [addon reporting plans](https://docs.google.com/document/d/1hVx-NbuVRc0wKXSdt8eHceObexY93YFzMXtqYC95nUs/edit#heading=h.st01cgqqxqnz)

[2017-06-12 16:45] #5604 closed

[2017-06-12 17:09] #5544 closed

[2017-06-12 21:39] jrbenny35 commented on #4563
@muffinresearch Do you think you could look at this again please? I feel we are close

[2017-06-12 22:29] jvillalobos commented on #5579
Just the next time they submit an add-on, either a new one or an update. We just want everyone to be aware of the existence of these documents.

The text in the first paragraph of the last submission step says `You're done!`, followed by a couple of sentences about waiting for review. For WebExtensions, those two sentences should be removed. The new message should read `You're done! This version i

[2017-06-13 03:30] EnTeQuAk commented on #4563
I am looking into why you might receive a 404 on download for the add-on you created, i just reproduced this locally and will update you with a short snippet that works as expected.

as far as i can tell the download link is not pointing to the correct file in `user-media`

[2017-06-13 04:21] erosman commented on #4964
The Blank reviewer has become the new method of spamming reviews.

The are scores of **Anonymous user ****** who register for the sole purpose of leaving good or bad reviews for competing addons.

I am not sure what purpose it serves to allows such spams.

[2017-06-13 04:34] erosman opened #5625 "Allowing Spam Registration is ruining the AMO experience"
Recently, there have been a myriad of **Anonymous user 11111** registering on AMO.

These users, spam the reviews, some with good or bad reviews, in order to promote favourable extensions and demote competing ones.

The new system of allowing blank reviews further empowers spammers and trolls at the cost of alienating developers. (ref: #4964 , #4966)

Contrary to what is understood, such reviews a

[2017-06-13 04:37] EnTeQuAk commented on #4563
alrighty, this is what i came up with: https://gist.github.com/EnTeQuAk/bb59f4cceccc2e8f910d14ab2df3e42e

I added comments that should make it easier to integrate into your fixtures I hope. the problem indeed was that the files werent reviewed yet.

this now allows me to call the download. for some reason (the file hashes match properly imho) i still get a file corrupt error. I assume that will be

[2017-06-13 04:37] erosman commented on #4966
Blank reviews nonetheless affect the graphical rating display which has created a new avenue for the spammers to spam AMO and alienate developers.

[2017-06-13 05:20] ParticleCore commented on #5625
The decision and justification supporting these kinds of reviews has been terrible since day one. Trying to encourage more engagement from mobile users to review add-ons by allowing 0 registration and 0 content review is not worth the toll it is taking to the developers and the reviewers that have to, yet again,
waste more time to go through the reported reviews just to find out it is yet another

[2017-06-13 08:49] SamHH commented on #5544
Still getting the `Oops! We had an error. We'll get to fixing that soon.` upon submission of my updated ZIP. Has this not made it into production yet?

[2017-06-13 09:11] wagnerand commented on #5544
We freeze the code every Tuesday and deploy every Thursday.

[2017-06-13 09:15] diox commented on #4563
@EnTeQuAk : the problem is, he does not have access to the real signing server, so the signature won't be correct and Firefox will consider the add-on corrupt at install time. This is why I suggested on IRC a few days ago to re-use an existing add-on from prod, and just create the relevant `File` and `Version` instances manually.

[2017-06-13 09:37] diox commented on #5211
Random showerthought: Once post-review is live in production and works well, *maybe* we could:
- Remove the `auto_approve` cronjob and the concept of awaiting review - make everything public right away. `STATUS_AWAITING_REVIEW` would go away.
- Simplify `AutoApprovalSummary`, removing all conditions and the concept of `verdict`, leaving only weight computation, and call it automatically at upload

[2017-06-13 10:16] wagnerand commented on #4954
We are getting closer on publishing the new review process. Could we add those checkboxes to the submission flow and developer hub, so we can ask developers to tick it if necessary?

[2017-06-13 12:05] diox commented on #5588
@ValentinaPC can you reproduce the problem on dev using a newly created add-on? I need STRs from a fresh add-on.

[2017-06-13 13:23] #5612 closed

[2017-06-13 13:24] kewisch commented on #4954
...or hardware.

[2017-06-13 13:50] vcarciu commented on #5600
Verified as fixed :
![usernotif](https://user-images.githubusercontent.com/1583842/27085566-4f7900fa-5058-11e7-84a6-7fb024068942.png)

@eviljeff
Not sure about the "New" red text , is this present because I newly created this account and submitted an extension?

[2017-06-13 14:04] diox commented on #5579
Regarding the message, at least at the beginning, "now available" won't be true (because the script to auto approve is executed once every hour). I suggest something vague like "will be available shortly" or "should be available within a couple hours".

[2017-06-13 14:24] eviljeff commented on #5600
Yes.  It's shown when the notifications are being set for the first time.

[2017-06-13 14:46] vcarciu commented on #5544
Verified as fixed by adding a new version to an extension approved by an user which was deleted after that :
![n0500](https://user-images.githubusercontent.com/1583842/27088395-35ade49e-5060-11e7-82f0-7e8c1517d7a7.gif)

[2017-06-13 15:10] vcarciu commented on #5600
Thanks

[2017-06-13 15:15] vcarciu opened #5629 "Site administration page is not centered on -dev"
Steps to reproduce:
1.Go to https://addons-dev.allizom.org/en-US/admin/models/

Expected results:
The page is correctly aligned

Actual results:
All the content under the header is wrongly aligned to the left

NOTES:
Not reproducible on Stage

Please see video for this issue :
![siteadministration](https://user-images.githubusercontent.com/1583842/27089859-4a1546d0-5064-11e7-8ef6-a28a914ef1ab.gif)

[2017-06-13 15:18] diox commented on #5629
It's ugly but it was a quick hack to make the list of items on the other pages in the admin wider. We don't really care about the design of those pages as long as it still works.

[2017-06-13 15:18] #5629 closed

[2017-06-13 15:38] SVSanta opened #5631 ""Compatibility" pop-up for deleted addons"
Prerequisites:
User is logged with an admin account.

Steps to reproduce:

1. Navigate to the AMO home page.
2. Click on "Tools>Manage My Submissions.
3. "Ctrl+Click" on the "Edit Information" for an add-on.
4. Delete the add-on.
5. Click back on the first Tab with the "Manage My Submissions" page.
6. Click on the "Compatibility" button for the deleted add-on.

Expected results:
The pop-up display

[2017-06-13 16:12] #5536 closed

[2017-06-13 20:12] jvillalobos commented on #5211
For WebExtensions add-ons, that's the expectation, yes.

Like you point out, there are still legacy add-ons (including new ones that support Thunderbird and SeaMonkey), and non-extension types. Complete themes should probably still be reviewed, but I wouldn't mind moving search engines, dictionaries, and language packs to a post-review model, since their risk is very small. @wagnerand and @kewisch

[2017-06-13 20:17] jvillalobos commented on #5579
I mentioned in another issue that we want the approval to be immediate. I'd prefer that we do that before turning post-review on, and avoid having to go through multiple stages of review experience.

[2017-06-13 20:23] diox commented on #5579
As long as there are legacy add-ons needing the review process, I don't want to make approval immediate, because that adds complexity to the status workflow, edge cases, potential bugs, to an already fragile codebase. This is precisely one of the reasons why I chose to make auto approve a cronjob separate from this mess in the first place.

[2017-06-14 04:41] EnTeQuAk commented on #5631
I'm going to close this as that's a huge edge-case and given that you just deleted the add-on I don't expect anyone to expect clicking a link in another tab to work properly. Eventually we're going to rewrite the developer hub also in our shiny new addons-frontend and until then I'd say we can live with that bug.

Please re-open in case I misunderstood the importance of this bug.

[2017-06-14 04:41] #5631 closed

[2017-06-14 04:52] EnTeQuAk commented on #5611
@wagnerand or @jvillalobos should this be changed? This is going to change with the new addons-frontend desktop work very soon anyway so I assume it's worth closing if no one as any concerns doing so.

[2017-06-14 05:28] EnTeQuAk commented on #5591
This is only because the space before the colon in our french translation is not a non-breaking-space, I'll try to fix that via Pontoon and see where how it goes.

[2017-06-14 05:31] EnTeQuAk commented on #3632
https://github.com/mozilla/addons-server/issues/5632 is now open for review and planned to land next week or should this be delayed because some preparations are needed (statistics, blog post etc?) @wagnerand @jvillalobos?

[2017-06-14 05:33] EnTeQuAk commented on #4148
i was sure there was one, I'm marking this as `triaged` since I can't find the other one and this is apparently still a problem some times.

[2017-06-14 05:38] EnTeQuAk commented on #5119
is this referring to https://developer.mozilla.org/en-US/Add-ons/Extension_Packaging#Multi-item_extension_XPIs and the warning "From the release of Firefox 53, multiple item extension packages are no longer supported and will not load. As a consequence, these packages are no longer accepted by AMO."?

Given that we don't accept legacy add-ons anymore I assume this can be closed?

Please feel free

[2017-06-14 05:50] EnTeQuAk commented on #5300
see https://wiki.mozilla.org/Add-ons/Extension_Signing#FAQ that themes don't need to be signed and we don't do that on AMO so I asusme this is the reason why Firefox warns but still installs your theme properly.

If you want the warning to go away for unsigned themes it'd be better to file something in Bugzilla, http://bugzilla.mozilla.org/

I'm going to close this since there's nothing we can do

[2017-06-14 05:50] #5300 closed

[2017-06-14 05:53] EnTeQuAk commented on #5372
indeed, the issue here is that we don't sync any data from production to stage and production. There is vague plans but until that stage is executed properly (and I assume we'll file separate issues accordingly) this won't ever work for -dev or -stage.

I'm going to close this, it's on our map but given the complexity will take quite some time to figure out.

[2017-06-14 05:53] #5372 closed

[2017-06-14 05:56] EnTeQuAk commented on #5383
this is not nice but technically not a bug since that collection does not have an english translation, so we don't show one. I also assume we'll figure out a nicer interface or don't enable collections / translations of collections in the future anyway so I'm going to close this.

[2017-06-14 05:56] #5383 closed

[2017-06-14 06:00] EnTeQuAk commented on #5385
unfortunately I am going to close this bug given that this particular part is currently being reworked as part of our new https://github.com/mozilla/addons-frontend so I'd feel bad having anyone work on this and replace that work soon after.

There's quite a few other open bugs that should be easy to work on and have a mentor assigned @Anirudh257 so please have a look at https://github.com/mozilla

[2017-06-14 06:00] #5385 closed

[2017-06-14 06:02] EnTeQuAk commented on #5417
I'm marking this as `triaged` since it appears to be valid from the looks of it but I am guessing this is very low priority given that it's an edge-case and very hard to reproduce.

[2017-06-14 06:12] EnTeQuAk commented on #5441
I might be misunderstanding the issue here but the locale is clearly visible, the report motive is visible in the red block, same as report author and the time.

That "not yet rated" block is part of how the review is being displayed on the addons detail page too, we're using a similar view here so yes, if the add-on is not yet rated this appears, otherwise it'd be the stars.

Does that answer you

[2017-06-14 06:15] EnTeQuAk commented on #5442
I triaged this since it sounds like a reasonable idea but cc @diox and @jvillalobos whether or not this needed in the future (and could be closed if not)?

[2017-06-14 07:10] Anirudh257 commented on #5385
Thanks.!!

[2017-06-14 09:25] wagnerand commented on #5211
Sounds good to me. Do we sign all of them?

[2017-06-14 09:28] wagnerand commented on #5611
I think this should point to the *report abuse* page, but @jvillalobos might know what's going on.

[2017-06-14 09:38] EnTeQuAk commented on #5611
Fair warning: As far as I see this link as been like this since forever unless I'm blind and can't read git blame 🤔

[2017-06-14 10:09] wagnerand commented on #5611
That would explain why we get so many user abuse reports that complain about a certain add-on.
But we do get add-on abuse reports too! How do users reach that page?

[2017-06-14 11:12] muffinresearch commented on #5619
@eviljeff, since you worked on #4688 would you be able to look into providing a rough idea on how much work this would take?

[2017-06-14 11:41] #5596 closed

[2017-06-14 12:24] kewisch opened #5633 ""Reject Multiple Versions" does not allow rejecting pending versions"
### Describe the problem and steps to reproduce it:
* Submit a few versions of an extension
* Upload one as pending review
* Go to reject multiple versions

### What happened?
* It is not possible to also reject the pending version, only past versions are selectable

### What did you expect to happen?
* It should be possible to also reject the pending version

### Anything else we should know?
Thi