[2018-03-20 16:35] caitmuenster opened #7857 "Remove content reviewers from being cc'd on emails to developers"
One of the content reviewers reported that he receives notifications when other reviewers take action (request more info, etc) on extensions he has content reviewed. ([Example](https://www.dropbox.com/s/7w3ze5x0n3t6e7o/2018.03.20%20-%20%20Fwd-%20Mozilla%20Add-ons-%20Action%20Required%20for%20Time%20to%20Decimal%201.0%20copy.pdf?dl=0).) The content reviewer also reported that he had not opted in to

[2018-03-20 16:41] jvillalobos commented on #7223
It's currently planned as a Q2 project.

[2018-03-20 17:11] eviljeff commented on #7848
As well as `UserProfile.has_perm` there's `UserProfile.has_module_perms` but I can't remember how that's used.

[2018-03-20 17:21] #7790 closed

[2018-03-20 17:24] CuriousLearner opened #7858 "Generate migration for footer removal from RereviewQueueTheme model"
### Describe the problem and steps to reproduce it:
The `footer` attribute on `RereviewQueueTheme` model will be removed in PR: https://github.com/mozilla/addons-server/pull/7718 as part of issue: https://github.com/mozilla/addons-server/issues/5379

We need to generate a migration that removes the field from the database.

Also remove `personal_footer` folder

### What happened?
Footer field is c

[2018-03-20 17:39] eviljeff commented on #7848
Replacing `UserProfile.has_perm` is probably the way to go, agreed.  The reason I eventually didn't do that for ModelAdmin/AdminSite was there wasn't an easy match between our ACL permissions and the "perm" that django builds and thought it would clutter up UserProfile with other model specific logic.  (Subclassing ModelAdmin didn't turn out great either though).

One option is to have a dict that

[2018-03-21 04:11] kmaglione commented on #7223
OK. As of today, RDF update manifests are pre-processed and fed to the JSON backend, and cause a deprecation warning to appear in the console. So there are about 10 weeks until those warnings start appearing for release users.

[2018-03-21 04:25] aswan commented on #7223
We should also make an official deprecation announcement for developers who self-host updates.  There is a late June merge/release event at which point 61 will be released and 62 beta will branch from central.  If this will be deployed some reasonable time before merge day, we can announce that 61 will be the last version to support RDF update manifests.

[2018-03-21 06:51] erosman opened #7863 "[Reviewer Tools] Weighting Threshold Adjustment"
At the moment, thresholds are set to end at the mark and new threshold to start from higher weighting.
A minor change in threshold formula from > to >= would prove beneficial. In other words, the threshold should belong to the next higher level.

For example, weighting of 20 is applied for Native Messaging.

Currently, that would put it in 0-20 band and consequently in the ignore band.

Options ar

[2018-03-21 07:03] AlexandraMoga commented on #7765
Based on the above comments, I'm marking this issue as verified fixed.
For all other identified issues and open discussion points bugs were filed separately.

Verified on AMO-dev, FF59 Win10x64

[2018-03-21 07:28] eviljeff commented on #7850
You're correct.  This is the same as other webextension based add-ons since the id became optional in Firefox 48.  We can't really fix this on the AMO side (if we could, we'd fix it for all add-ons, not just static themes)

[2018-03-21 07:28] #7850 closed

[2018-03-21 07:49] erosman opened #7865 "[Reviewer Tools] Weighting Incentive Adjustment"
Currently the review incentive rewards are set as the following:

POST_REVIEW_WEIGHT_HIGHEST_RISK 151+ -> 140 points
POST_REVIEW_WEIGHT_HIGH_RISK 101-150 -> 120 points
POST_REVIEW_WEIGHT_MEDIUM_RISK 21-100 -> 90 points
POST_REVIEW_WEIGHT_LOW_RISK 0-20 -> 0 points

Specially on top, where the weighting can go as high as 350 (for complex add-ons), the incentives do not appear to match the weighting

[2018-03-21 07:56] eviljeff commented on #7385
This became a tracker issue - themes are listed in the queues appropriately; and the review page is customized.  @jvillalobos to review the tools and file follow-up issues for changes requested and calling this closed in the meantime.

[2018-03-21 07:56] #7385 closed

[2018-03-21 09:33] wagnerand commented on #7857
Removing them would mean they wouldn't get a notification for replies to their own need-infos either. If we are not going to split that flag into separate flags (content vs add-on) like discussed in https://github.com/mozilla/addons/issues/609 I'd prefer if they just ignore those instead instead of missing out on potential relevant ones.

[2018-03-21 10:27] ioanarusiczki opened #7866 "The classic view is not available when a first version is submitted and then rejected by reviewer"
STR:
1. Load AMO dev and submit an extension - I tested with static themes using the wizard
2. From rev tools pages - Listed review Page - reject the first version
3. Go back to the add-on detail page and click on view classic site.

Expected result:
The page is displayed.

Actual result:
We're sorry, but we can't find what you're looking for message is displayed.

Notes:
This issue is reproducibl

[2018-03-21 10:37] diox commented on #7848
Yeah, that's what I was thinking about and I'll try to go that route.

At the moment since `is_staff` requires `Admin:%` and `is_superuser` requires `*:*` I'm not sure there is much difference... This will definitely need to change.

`is_staff` only gives access to the admin tools without opening any specific part of it (so if a user only has `is_staff` without `is_superuser` and without any permi

[2018-03-21 10:41] ioanarusiczki opened #7868 "Image Gallery for previously submitted versions is not displayed for the reviewer"
STR:
1. Load AMO dev and submit a static theme.
2. Approve the first version and then submit another one.
3. Go to the Listed Review page.
4. Check for Image Gallery.

Expected result:
An Image gallery with screenshots of previous submitted versions is available for the reviewer.

Actual result:
Only the last screenshot of the last submitted version is available.

Notes:
This issue is reproducible

[2018-03-21 10:44] diox commented on #7866
@ioanarusiczki can you link the add-on? I suspect this is because you're logged in as the author of the add-on or with admin rights.

[2018-03-21 10:45] diox commented on #7865
@jvillalobos for consideration

[2018-03-21 11:50] diox commented on #7249
We already have an `Admin:%` permission that only the `Admins` group should have. Can we re-use this (and rename the group) ?

[2018-03-21 12:11] vcarciu commented on #7790
Verified as fixed:
![opencollective](https://user-images.githubusercontent.com/1583842/37709103-c5b25212-2d11-11e8-83ec-d7a9d27bfeeb.gif)

[2018-03-21 12:16] eviljeff commented on #7868
It's not a bug per se  - I didn't intend the review page to show the previews for previous versions, only the one under review.

[2018-03-21 12:24] ioanarusiczki commented on #7866
@diox For the issue above I was logged as the author, and I also have admin rights with that account.
 I uploaded another one here https://addons-dev.allizom.org/en-US/firefox/addon/v1-rejected-theme/
When I use an account without admin rights the new front end displays Page not found same as for the old page.

[2018-03-21 12:29] EnTeQuAk commented on #7858
This should also address https://github.com/mozilla/addons-server/pull/7718#discussion_r175695796 (`If this lands we should remove all files in that folder too`) as well once deployed.

[2018-03-21 12:50] EnTeQuAk commented on #5379
@atsay @jvillalobos this is going to land with https://github.com/mozilla/addons-server/pull/7718 probably next week. Does this need some developer communication?

We'd also remove footer files and model fields one week after this change lands, does that work for you?

[2018-03-21 13:57] EnTeQuAk commented on #7858
There's nothing you can do specifically, it's just a reminder to remove those files once this change will be deployed. It'll be removed directly from our servers, correct.

[2018-03-21 14:01] #5379 closed

[2018-03-21 14:11] vcarciu opened #7871 "If a theme is opened from list of flagged themes in rev tools, then no option is provided for reviewers"
Steps to reproduce :
1.Login to AMO-Stage with an account with reviewers permissions
2.Go to https://reviewers.addons.allizom.org/en-US/reviewers/themes/flagged
3.Select any theme from the list

Expected results:
The teme is opened and some options(Approve, Reject, etc.)  are provided for reviewers

Actual results:
No options are provided for reviewers

NOTES:
This is reproducible only for Flagged

[2018-03-21 14:17] EnTeQuAk commented on #7646
Alrighty, so I discussed this with @eviljeff and we actually like the current behaviour. It gives the form a good default and doesn't overwrite any manual changes.

That's why I'm just going to close this issue, although I'm really sorry for all the work and brain you put into this. Thanks a lot for this!

Sorry for getting back to this issue so late.

[2018-03-21 14:17] #7646 closed

[2018-03-21 14:20] vcarciu opened #7872 "Rejection reason is displayed in review history even if the theme was approved."
Steps to reproduce:
1.Login to AMO-Stage with an account with review permissions
2.Go to https://reviewers.addons.allizom.org/en-US/reviewers/themes/pending
3.Select any theme, select Reject button and chose a reason for rejection
4.Change your mind and approve the theme, then press Commit Review button
5.Press Your Review History button

Expected results:
No reason is listed under Reason column f

[2018-03-21 14:25] EnTeQuAk commented on #7743
This is blocked by https://github.com/mozilla/addons-server/issues/7744 so I'm removing the milestone for now.

[2018-03-21 14:32] eviljeff opened #7873 "Show the static theme preview in devhub"
At the very least we should show it in the "Done" step of submission, so the developer knows what we're generated.  It would be nice to show it|them - somewhere - in the versions page too (possibly a follow-up issue).

[2018-03-21 14:37] EnTeQuAk commented on #5271
Clearing milestone for now to avoid moving this every week again and again.

[2018-03-21 15:12] eviljeff commented on #7872
marking this low priority because LWT are going to be replaced by static themes soon

[2018-03-21 15:13] eviljeff commented on #7871
marking this low priority because LWT are going to be replaced by static themes soon

[2018-03-21 15:13] eviljeff commented on #7868
@jvillalobos to comment/close

[2018-03-21 15:14] eviljeff commented on #7863
@wagnerand for consideration

[2018-03-21 15:39] wagnerand commented on #7783
Mentor: @eviljeff

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-03-21 16:21] caitmuenster commented on #7857
Good point. Should I close this issue, then, in favor of mozilla/addons#609 ?

[2018-03-21 16:29] wagnerand commented on #7857
https://github.com/mozilla/addons/issues/609#issuecomment-358418371 is a little bit different from this one and the suggested fix for that (which is actually not separating the `need-info` flag wouldn't solve this issue.

Yet both of these issues are linked together as I believe separating the `need-info` flags would fix both.

Otherwise, we'll have to find a separate fix for this one.

[2018-03-21 16:35] atsay commented on #5379
No comms needed, and removing files sounds good. Thanks!

[2018-03-21 16:35] diox commented on #6804
You should be able to test this by looking at the detail page of a static theme : in both the new and old frontend, its preview should be shown and always match the preview for the current public version (only).

[2018-03-21 16:38] muffinresearch commented on #6451
@eviljeff @bqbn is there an update on where were have got to with this so far? Are there any open questions?

[2018-03-21 16:39] diox commented on #7808
@jvillalobos is there any deadline for this?

[2018-03-21 16:43] davidhedlund commented on #2971
I think a background color should be used to indicate obsoleted add-ons.

### Describe the problem and steps to reproduce it:
Edited my [WebExtensions](https://addons.mozilla.org/en-US/firefox/collections/DavidHedlund/webextensions/) collection.

I discovered that [Nano Defender](https://addons.mozilla.org/en-US/firefox/addon/real-nano-defender/) has been removed from addons.mozilla.org, removed a

[2018-03-21 16:45] diox commented on #7866
Technically a dupe of https://github.com/mozilla/addons-frontend/issues/4244 then (and a wontfix for the legacy frontend because we don't care there)

[2018-03-21 16:45] #7866 closed

[2018-03-21 16:57] jvillalobos commented on #7808
There's a hard deadline from Legal that I don't remember right now (maybe @caitmuenster does), but this is planned as a Q2 project, which should be within their requirement.

[2018-03-21 16:58] kumar303 commented on #7856
@diox do you know what other fields might be missing from the search endpoint? We just need to know how to deal with it for the frontend code.

[2018-03-21 17:03] krupa commented on #7804
I am going to reopen this issue and let @jvillalobos close the issue once he comments with his thoughts. Keeping the issue in the open queue makes it easier for QA to track it.

[2018-03-21 17:10] caitmuenster commented on #7808
We need this by the time GDPR kicks into effect on May 25.

[2018-03-21 17:16] diox commented on #7856
I think it used to be documented... maybe we lost that in a refactor. The only differences should be:
- Similar to `current_beta_version`, `current_version` omits `license` and `release_notes`
- Objects inside the `authors` array do not get a `picture_url`

[2018-03-21 17:18] diox commented on #7808
I'm bumping the priority then, to ensure it will be fully ready by then.

[2018-03-21 18:00] eviljeff commented on #2971
I'm going to close this issue as addon-server API is functional, and the legacy frontend collection edit screens are deprecated.  If something needs addressing in addons-frontend for the new edit collection screens it's best to file a new issue there.

[2018-03-21 18:00] #2971 closed

[2018-03-21 18:35] jvillalobos commented on #7847
See [PRD](https://docs.google.com/document/d/1d9acBumpdK87sYg7Ah98BEKvL7b4tuO-RDpgqbm7FTs/edit#heading=h.ph0yhtsx9uv6) and [migration cases](https://docs.google.com/document/d/18Wyc7l7Na2pVtaU1j4VhCM63nbawziOzIFJC_giRk74/edit) for an overview. I can post more specifics here later, but this week is crazy.

[2018-03-21 18:39] jvillalobos commented on #7865
Redirecting to @caitmuenster and @wagnerand.

[2018-03-21 18:42] jvillalobos commented on #7249
The goal here is to limit what Full Admins do, so they don't have permission to do whatever and then we are safer including more people in that group. The current admin group is more like "System Admins", and we want to have a lower access group that is more like "Site Admins". Hope this makes sense :).

[2018-03-21 18:44] jvillalobos commented on #7868
The current theme review tool doesn't allow to look at past versions or diff, and generally a theme diff wouldn't be that useful, so I think we can close this.

[2018-03-21 18:44] #7868 closed

[2018-03-21 19:36] caitmuenster commented on #7865
I talked about this with @wagnerand and @kewisch a few days ago, and we're open to recalculating points.

I do like @erosman's proposed updates. Andreas and Philipp, could you weigh in?

[2018-03-21 21:06] bqbn commented on #6451
My latest update is here: https://bugzilla.mozilla.org/show_bug.cgi?id=1419516

tldr; it's deployed on -dev and -stage, waiting to be tested and a go-ahead signal to be deployed to -prod.

[2018-03-21 21:27] kewisch commented on #7865
I like the suggestion, thanks erosman for putting it up! Especially in relation to the current points, it keeps in mind that we don't want to encourage low reviews, and even HIGH is similar to before giving 101-150 points.

One thing we should keep in mind is the effect on incentives. Points can currently go as high as 800 in theory, so reviewing 3 of those would move someone from level 1 to 2. Th

[2018-03-21 21:51] caitmuenster commented on #7865
Thanks @kewisch! I'm not too concerned about moving levels because of the [new recognition program](https://wiki.mozilla.org/Add-ons/Reviewers/Recognition). However, you bring up a good point about proportional weights. The incentive program will compare the number of reviews and review weight, which will help balance those concerns.

[2018-03-22 07:03] CuriousLearner commented on #7858
@EnTeQuAk Sure, thanks!

I've raised the PR. Can you please review that? https://github.com/mozilla/addons-server/pull/7859

[2018-03-22 08:06] AlexandraMoga commented on #6804
This was verified via server issue #7756 and frontend issue [#4425](https://github.com/mozilla/addons-frontend/issues/4425)

[2018-03-22 10:26] diox commented on #7851
This is not specific to static themes and is the expected behavior: "Reject multiple versions" is intended for public versions only. However one could argue that, since they are not auto-approved, this option is in fact a bit useless for static themes. Maybe we should remove it ? cc @jvillalobos

[2018-03-22 10:48] wagnerand commented on #7865
I like the suggestion but wanted to make a small tweak to it to incentivize high(est) risk add-on reviews more. I realized making changes without also adapting the risk categories bares risk on our side.

I suggest that we take a look at #6930 and #6821 first, potentially adapt other weights based on what we learned since we started post review and then see whether we have to change the category t

[2018-03-22 11:42] vcarciu opened #7886 "Force enable\disable addon is not working for some extensions"
Steps to reproduce:
1.While being logged with an admin account, go to https://reviewers.addons.allizom.org/en-US/reviewers/review/noscript
2.Click Force Enable\Disable button

Expected results:
Addon is enabled\disabled without any issue

Actual results:
Button becomes grayed out and no action is performed

NOTES:
Not reproducible for another tested extensions

Please see a video for this bug :

!

[2018-03-22 11:52] diox commented on #7886
https://sentry.prod.mozaws.net/operations/olympia-stage/issues/3363302/

`OperationalError/api/v3/reviewers/addon/{pk}/enable/`
`error(1213, 'Deadlock found when trying to get lock; try restarting transaction')`

That's weird...

[2018-03-22 12:17] vcarciu commented on #7815
Verified rev tools and everything works fine. Marking issue as verified

[2018-03-22 12:53] eviljeff commented on #7249
I got: All:Admin is full admin is system administrators but it will "be used to gate Full Admin tools" and "to limit what Full Admins do".  So full != full and system administrator is not someone who can administrator the system (i.e. has `*:*`)?  Doesn't make sense to me, sorry.

The PRD doesn't mention System Admins or Site Admins, only Full Admins.  Has the [4 user types](https://docs.google.co

[2018-03-22 13:35] diox commented on #7853
It's slightly annoying but not specific to static themes

[2018-03-22 14:05] diox commented on #7886
@bqbn is there any way I could get permission to run `SHOW ENGINE INNODB STATUS` when I want to on stage to debug this? Without it it's hard to understand why a simple `UPDATE` with the primary key would result in deadlocks that consistently.

[2018-03-22 14:35] diox commented on #7857
Discussed in standup meeting, it's annoying but not a p2 - the solution is not entirely clear here, we need to decide whether we want separating the flag or not.

[2018-03-22 14:37] diox commented on #7798
This is because those checks are performed at submission time and are not real linter checks. They can depend on various factors specific to the user, the add-on and/or the current state of AMO, and that's why they are not available during external validation.

[2018-03-22 15:37] eviljeff opened #7888 "Generate simple theme preview for thumbnails"
As @diox observed, an entire page full of downsized versions of our current static theme previews, complete with representations of the browser chrome, may not look so good.

We want to show a realistic representation of what the theme will look like, but at the same time it has to look appetizing enough to want to install it.  One solution could be to render a simple version of the theme as the t

[2018-03-22 16:09] eviljeff commented on #7847
From a quick read the PRD seem possible... but one concern is around supporting backwards conversion from LWT we've converted to static themes.

It may be a considerable amount of work to implement this and it's enabled only at the end of Q2 (or late in Q2).  How long will this be used for when we're planning to remove support on AMO generally for old Firefox versions in Q3 after the ESR is out of

[2018-03-22 16:09] eviljeff commented on #7847
Might be best to discuss the above in a meeting with everyone who needs to be involved ^

[2018-03-22 16:17] AlexandraMoga commented on #7844
@eviljeff please try with this one. I can reproduce constantly with this example.

[additional bckg - standard.zip](https://github.com/mozilla/addons-server/files/1838353/additional.bckg.-.standard.zip)

[2018-03-22 16:21] eviljeff commented on #7832
Notes from investigating:
Hacking around `allows_null` selectively worked out okay.  https://github.com/eviljeff/olympia/tree/7832-null-values-clear-translation-field
Trying to have the Translation be deleted if `localized_string == None` worked out less okay.  Doing in in the `TranslationSerializerField` was too high level because it doesn't know about the `Translation` object; doing it in `Trans

[2018-03-22 16:30] eviljeff commented on #7844
thanks - the file is called "Fox.png" but the manifest says "Fox" so I think it's just a variant of:

Specifying the file as "Fox" in the manifest and the file actually being named "Fox" (no ext) appears to work.

[2018-03-22 17:33] #7856 closed

[2018-03-22 18:05] diox commented on #7822
This caused https://sentry.prod.mozaws.net/operations/olympia-prod/issues/3365259/, so we reverted it in the tag in https://github.com/mozilla/addons-server/commit/be2425e4462e2a7e2f298cd9930f15e7b76343fb

The problem is that the model field is still a `CharField`, something I failed to notice earlier. It will require more work to properly fix.

[2018-03-22 20:21] spoji opened #7892 "Reviewers cannot click the extension's main screenshot thumbnail anymore."
### Describe the problem and steps to reproduce it:
Go to any review link, for example https://reviewers.addons.mozilla.org/en-US/reviewers/review/instarss

Try to click the main screenshot thumbnail.

### What happened?
There is not a full image showing up.

### What did you expect to happen?
The full size image should appear via jquery-lightbox

### Anything else we should know?
The DOM element

[2018-03-22 20:28] caitmuenster commented on #7892
Thanks @spoji! Bumping this up in priority as the content reviewers need to be able to see the screenshot thumbnail to approve content.

[2018-03-22 20:31] spoji commented on #7892
For content reviewers that needs a quick solution for this :

 - Go to the inspector tool (F12)
 - Find and delete the DOM element with the id "addon-summary-wrapper"
 - Click the image

[2018-03-22 23:35] diox commented on #7886
Thanks, it's working, that'll help

[2018-03-23 07:10] eviljeff commented on #7822
`average_addon_rating` is the average of ratings of the addons that user has developed so it'll be `None`|`''` for the majority of users.

Can we just convert it in a `SerializerMethod` field?

[2018-03-23 07:35] AlexandraMoga commented on #7740
Verified as fixed on AMO-prod, FF59 Win10x64

![image](https://user-images.githubusercontent.com/31961530/37816919-83347e20-2e7d-11e8-8aff-e1e2b8dc5d6b.png)

[2018-03-23 08:44] AlexandraMoga opened #7896 "Wide images are not fully visible for preview in static theme review page"
Follow up for #7765

STR:

1. Log in to Dev Hub and submit a new static theme (I used the wizard and uploaded a header image of 3000x200px)
2. After submission, go to Reviewer Tools and search for your theme in the New Add-ons list (see https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/brave-cat)
3. Check the theme preview section and navigate to see all the associated images

Actual

[2018-03-23 10:33] diox commented on #7822
We could, but I'd rather also fix the column/field on the model to be consistent

[2018-03-23 11:29] wagnerand opened #7899 "Show the developer agreement page on April 1 again."
The review policies become effective April 1, so we need to show the developer agreement page to everyone starting from that date to make sure they have accepted the new policies.

[2018-03-23 11:42] diox commented on #7892
Bisecting this indicated that it broke in 187bee262e81fd155db9f64c5f4b4208fb7fea81 (#7805) which is not super surprising. Now to find out why...

[2018-03-23 14:50] AlexandraMoga commented on #7844
I've re-tested the above scenarios and the submission process can be completed now.

I'm marking this as verified fixed on AMO-dev with FF59, WIn10x64

[2018-03-23 15:08] jvillalobos commented on #7847
Stuart and I talked about this yesterday, and I agree the timing doesn't make much sense. I'll update the docs (maybe), and we'll meet next week to talk about this.

[2018-03-23 15:14] jvillalobos commented on #7888
Do you have a screenshot or mock I can look at? I'd like to understand what you're picturing.

[2018-03-23 15:21] jvillalobos commented on #7249
Sorry, terminology is my eternal foe.

The PRD defines "Full Admins" as the people who will be able to use all of the admin tools specified in the doc. They won't necessarily have access to `*:*`, which is what I referred to as "System Admins" in my previous comment. The goal is that we can have more people as Full Admins without worrying that they have access to absolutely everything.

To put it

[2018-03-23 15:24] jvillalobos commented on #7851
Yes, I think it makes sense to not have "Reject Multiple Versions" for static themes.

[2018-03-23 15:24] #7854 closed

[2018-03-23 15:30] #7804 closed

[2018-03-23 16:40] jvillalobos commented on #7846
Further down the line I expect we will have a "Create a New Extension" button and a "Create a New Theme" button, both leading to the same point, since the flow is the same. So, let's keep the existing "Create a New Theme" access points, but have them point to the beginning of the submission flow, not directly to the wizard. Once this is done on -dev, @caitmuenster and I will create some kind of gu

[2018-03-23 16:58] #7892 closed

[2018-03-23 17:13] diox commented on #7249
Is there a table somewhere with all admin-related groups showing Group Name - Tools they need access to ? With that we could figure out exactly what we want.

[2018-03-23 17:14] diox commented on #7249
(Ignoring what group currently exist if that helps - we can change them as needed)

[2018-03-23 17:17] diox commented on #3877
Wontfixing this because lightweight themes are about to be replaced with static themes, which behave more like regular add-ons.

[2018-03-23 17:17] #3877 closed

[2018-03-23 17:19] diox commented on #5319
Wontfixing this because lightweight themes are about to be replaced with static themes, which behave more like regular add-ons.

[2018-03-23 17:19] #5319 closed

[2018-03-23 17:32] diox commented on #6665
Wontfixing this because lightweight themes are about to be replaced with static themes, which behave more like regular add-ons.

[2018-03-23 17:32] #6665 closed

[2018-03-23 20:09] jvillalobos commented on #7249
**System Admins** (not mentioned in PRD)
Permission: `*:*`
Access to: all admin tools in PRD, everything under `/admin/`, including `/admin/models/`

**Full Admins**
Permission: `All:Admin`
Access to: admin tools in PRD labeled as for "Full Admins".

**Other Admin Groups**
Similar to Full Admins, they should each have their own permission and access limited to the tools specified in the PRD.

The

[2018-03-23 21:05] jvillalobos opened #7907 "Support bigger screenshot uploads"
This is a tracker for a Q2 project for improving add-on screenshot sizes. These are the tasks that need to be covered:

- [ ] Allow uploading larger images on devhub.
- [ ] Document maximum and recommended image sizes on devhub.
- [ ] Stop upscaling images on front-end #4197.
- [ ] Ensure front-end shows the right dimensions for the image #1519.
- [ ] [PM] Communicate changes to add-on devs and up

[2018-03-23 21:07] jvillalobos opened #7908 "Allow uploading larger screenshots on devhub"
Part of #7907.

The developer hub must allow image uploads of up to 1280x800, both in PNG and JPG format. I believe we already do post-upload processing to ensure the images have a reasonable file size, but if I'm wrong about it, we need to do something like that.

[2018-03-23 21:11] jvillalobos commented on #7908
This maximum is the same that the Google Chrome Store sets, which makes it easier for developers to have the same/similar images for both listings.

[2018-03-23 21:16] jvillalobos opened #7909 "Show maximum and recommended screenshot sizes on devhub"
Part of #7907

Add the following text below the `Add a Screenshot...` button:

/cc @devaneymoz @atsay for content review (Meridel too?).

[2018-03-24 14:05] wagnerand commented on #7865
Philipp and I are working on updating the weights, risk categories and points. I'm closing this an open a new issue once we have the final numbers.

[2018-03-24 14:05] #7865 closed

[2018-03-24 14:05] wagnerand commented on #6821
Philipp and I are working on updating the weights, risk categories and points. I'm closing this an open a new issue once we have the final numbers.

[2018-03-24 14:05] #6821 closed

[2018-03-24 14:06] wagnerand commented on #6989
This has been implemented a while ago.

[2018-03-24 14:06] #6989 closed

[2018-03-24 14:08] wagnerand commented on #7863
Philipp and I are working on updating the weights, risk categories and points. I'm closing this an open a new issue once we have the final numbers.

[2018-03-24 14:08] #7863 closed

[2018-03-26 08:18] eviljeff commented on #7908
I believe we do allow larger screenshots to be uploaded, but then downscale them.  Is 1280x800 to be the new standard size, or are you asking for an additional size in addition to 700x525?

[2018-03-26 08:51] AlexandraMoga commented on #7854
Verified as fixed on AMO-dev, FF59, Win10x64

'Disable auto-approval' button is no longer displayed to Admin reviewers in static theme review page:

![image](https://user-images.githubusercontent.com/31961530/37895984-72015568-30eb-11e8-9395-247b6ef2c66f.png)

I've also checked that 'Disable auto-approval' works as expected for the auto-approved/content queues.

[2018-03-26 08:55] eviljeff commented on #7506
@ioanarusiczki the selecting of another add-on part is weird - is it always chatzilla?  And was the actual theme generated okay?  (I'm also wondering if the same thing would happen if you uploaded a zip file with a manifest that had the name with special characters in.)

[2018-03-26 09:17] AlexandraMoga opened #7911 "Non-legacy reviewers do not have access to extension code and validation information"
Prerequisites: Log in with a user with no legacy reviewer permissions (i.e. can have only `Addons:PostReview` or `Addons:ContentReview` permissions)

STR:
1. Log in to Reviewer Tools and select the Auto-approved add-ons queue from the dashboard
2. Pick an add-on that is pending for review to access its review page
3. In Add-on history section, click on Validation/Contents link

Actual result:
The

[2018-03-26 09:45] AlexandraMoga opened #7912 "Screenshot thumbnail should not be present in static theme review page"
Follow up for #7892

STR:

1. Log in to Reviewer Tools and select the 'New Add-ons' queue from the dashboard
2. Filter the results by 'Themes(static)' and select a theme pending for review
3. Observe the top section of the theme review page

Actual review:
There is a screenshot thumbnail present right below the theme preview section, also impacting the layout for the theme description

Expected re

[2018-03-26 10:16] #7822 closed

[2018-03-26 10:17] diox commented on #7822
QA: when this was first introduced it caused some old accounts with no ratings posted to not be able to log in (see mozilla/addons-frontend#4627), so please check that.

[2018-03-26 10:59] diox opened #7913 "Add-on info is placed after the thumbnail in review page if summary is too long"
### Describe the problem and steps to reproduce it:
- Go to the review page for an add-on containing a large enough description

### What happened?
- Add-on info is displayed after the thumbnail
![reviewer-tools-no-flex](https://user-images.githubusercontent.com/187006/37902684-808bea26-30f5-11e8-9c3f-ae04b3553520.png)

### What did you expect to happen?
- Add-on info should always be placed in th

[2018-03-26 11:03] diox commented on #7913
Note: the obvious solution is to remove the `wrap` on `.addon-info-and-previews` `flex-flow` but it was added to handle static themes previews, letting them take the first row and then wrap before displaying the rest. This is still possible, just need to be smarter about it.

[2018-03-26 11:08] diox commented on #7911
It's a problem, but this is not new - the permission check uses `check_addons_reviewer()`, which uses `Addons:Review` if the add-on is listed - that hasn't changed recently.

[2018-03-26 11:14] AlexandraMoga opened #7914 "Image gallery in add-on review page is displayed vertically"
STR:

1. Log in to Reviewer Tools and select the 'New Add-ons' queue from the dashboard
2. Select an add-on pending for review (i.e. https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/simplecrew-webclipper)
3. Scroll down and observe the layout of the image gallery

Actual result:
Image gallery is displayed vertically

Expected result:
Image gallery is displayed horizontally (as it us

[2018-03-26 11:17] diox commented on #7913
See also https://github.com/mozilla/addons-server/issues/7914

[2018-03-26 11:32] eviljeff commented on #7913
`addon.type` is in a class in <div id="addon"> if that helps to selectively remove it for non-themes

[2018-03-26 13:01] AlexandraMoga commented on #7892
Verified on AMO-dev, FF59, Win10x64

Screenshots can be previewed and navigation through image gallery is possible:

![image prev](https://user-images.githubusercontent.com/31961530/37907804-d35cc34c-310e-11e8-9642-9ab950ff6d42.gif)

For all the related issues discovered, new bugs were filed.

[2018-03-26 13:34] diox commented on #7912
@eviljeff any reason not do do this? :+1:
[code]

[2018-03-26 14:15] AlexandraMoga commented on #5379
Verified as fixed on AMO-dev, with FF59, Win10x64:
- themes can be submitted/updated
- themes can be approved/rejected
- themes can be previewed and installed

![image](https://user-images.githubusercontent.com/31961530/37911028-a778dd7a-3117-11e8-9bea-b9ea51fa40a0.png)

[2018-03-26 14:37] AlexandraMoga commented on #7852
Verified as fixed on AMO-dev with FF59 Win10x64

https://addons-dev.allizom.org/en-US/developer_faq

![image](https://user-images.githubusercontent.com/31961530/37912917-43a62bc2-311c-11e8-840f-c75039ba183e.png)

[2018-03-26 14:54] ioanarusiczki commented on #7506
@eviljeff @diox  Hey,
1.  I did some more testing with this issue and it looks like things get very strange when I rename an add-on with special chars in the manifest too. It's not always chatzilla, actually every time it's a different add-on. The wizard has the same behavior if the steps of submissions are completed.
-> I submitted a file with a manifest that contains only special chars in the na

[2018-03-26 15:05] ItielMaN commented on #7852
When will this fix be available to other locales?
https://pontoon.mozilla.org/he/amo/all-resources/?search=a+the+au&string=166658

[2018-03-26 15:06] diox commented on #7852
We need to extract the locales to do that, and that process is still manual. It'll happen soon.

[2018-03-26 16:11] #7913 closed

[2018-03-26 16:11] #7914 closed

[2018-03-26 16:12] eviljeff commented on #7912
Only that I was trying to avoid adding more template conditionals unless it was really necessary - it's not possible with css?

[2018-03-26 16:17] diox commented on #7912
It's totally doable with css, yeah. The template way is not strictly necessary, but does avoid useless db queries, so it balances out the additional complexity...

[2018-03-26 16:27] eviljeff commented on #7912
I didn't think with the review page extra db queries were worth worrying about.  I don't care that strongly about it though.

[2018-03-26 16:32] diox commented on #7912
I don't think it's really worth worrying about, just a nice bonus :) I'll see which way feels simpler.

[2018-03-26 17:00] eviljeff commented on #4997
New python3 blockers since last time I looked at this post 😞

supervisor ==3.3.4
pathtools ==0.1.2

hawkauthlib ==2.0.0
PyFxA ==0.5.0

[2018-03-26 17:16] #7845 closed

[2018-03-26 17:59] diox commented on #7886
Spent more time on this but it's tricky.

The deadlock appears to be caused by fetching the add-on data itself - but it should be the same transaction, so I don't get it.

The obvious thing to try is [`select_for_update()`](https://docs.djangoproject.com/en/1.11/ref/models/querysets/#select-for-update), but with django-cache-machine in play, you can't control the query that fetches data (caused by

[2018-03-26 18:03] rafspiny commented on #7595
I can pick it up

[2018-03-26 20:15] jvillalobos commented on #7857
Would this be fixed by not including content reviewers in review updates if the version has been content approved? It seems unnecessary to keep a reviewer in the loop after their participation as content reviewer has ended.

[2018-03-26 20:53] diox commented on #7857
mmm maybe yeah. The content approval is not directly stored on the version, it's just a date linked to the add-on, but maybe we can still do something similar to that idea.

In order to gather the list of reviewers that need to receive the email, we fetch all `ActivityLog` objects for the given `version`, and look if they came from someone with any kind of reviewer permission. We could simply excl

[2018-03-26 21:33] jvillalobos commented on #7908
There are a few things at play:
* What is accepted in the upload form. If we're already accepting 1280x800 or larger, then we're good on this point.
* What dimensions of thumbnails are we generating from these uploads. The Chrome Web Store recommends 1280x800 or 640x400, so ideally we should aim for the same ratio to make developers' lives easier.
* Which thumbnails we show on the front end. That'

[2018-03-26 21:54] jvillalobos commented on #7857
What about this: if the version has an `APPROVE_CONTENT` action, only message users with code reviewer permission.

That's okay with me, but I'd like to hear from @wagnerand for other cases we may be overlooking.

[2018-03-26 22:02] diox commented on #7857
I think that'd work, yeah.

[2018-03-27 06:20] rafspiny commented on #7502
This one should be an easy fix that I can pick up.

[2018-03-27 06:47] AlexandraMoga commented on #7913
@diox, I've compared the layout from dev with the current look from stage and there are some differences. You can see that stage looks a bit more 'organized' overall (rows are clearly delimited and there is more spacing between the two columns)

**[1] dev**
![image](https://user-images.githubusercontent.com/31961530/37951056-ab5ac37c-31a3-11e8-88e5-9ce39d92a36b.png)
**[2] stage**
![image](https://

[2018-03-27 06:59] AlexandraMoga commented on #7914
Verified as fixed on AMO-dev, FF59 Win10x64

![image](https://user-images.githubusercontent.com/31961530/37951497-481e17da-31a5-11e8-8795-8c112f8b9caa.png)

[2018-03-27 07:26] AlexandraMoga opened #7920 "Keyboard navigation in screenshots preview is not always accurate in reviewer tools"
STR:

1. Log in to Reviewer Tools and choose an add-on to view its review page (i.e. https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/simplecrew-webclipper)
2. Click on the main add-on screenshot to preview it
3. Exist screenshot preview
4. Click again on the main add-on screenshot
3. Press the left navigation key to preview the next screenshot

Actual result:
Navigation jumps to a

[2018-03-27 08:53] AlexandraMoga opened #7921 "'Preview' section from Edit information page should be displayed only for static themes"
STR:

Prerequisites: user has some add-ons submitted

1. Log in to Developer Hub and go to Manage my Submissions page (i.e. https://addons-dev.allizom.org/en-US/developers/addons)
2. Select and add-on to view it's Edit information page
3. Observe the top section of the page

Actual result:
There is a 'Preview' section reserved for static theme previews

Expected result:
The "Preview" section shoul

[2018-03-27 10:14] diox commented on #7920
Note that it works fine the first time.

It seems that each time you re-open the lightbox, keys will move forward one additional image. So the second time you open it, pressing right when viewing the first image will show you the 3rd one, and pressing it again will show the 5th. If you close and re-open the lightbox once more, again from the first image, and press right, this time it will jump to

[2018-03-27 10:37] eviljeff commented on #7888
I did a bit of html tinkering to show what static themes would look like mixed in with LWT results.  New frontend currently uses the full LWT 680x100 preview and then does some tricks with scaling/clipping on the search results and landing pages for the responsive design - but displays them 64px high.

You can see the sample static theme inserted into each page, with both the Firefox UI style prev

[2018-03-27 10:39] eviljeff commented on #7888
Also, as you can see, the careful preview we rendered is getting either badly scaled or cropped too.

[2018-03-27 11:11] AlexandraMoga commented on #7845
@eviljeff in order to test this, I've submitted a static theme with the following properties - https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/theme#Chrome_compatibility
and verified that previews are generated based on the values used.

Here is one of the examples I've created: https://addons-dev.allizom.org/en-US/firefox/addon/st-with-chrome-properties-7/

If this does no

[2018-03-27 11:12] AlexandraMoga commented on #7873
Verified as fixed on AMO-dev, FF59, WIn10x64

[1] Final submission step

![image](https://user-images.githubusercontent.com/31961530/37958433-33ca508c-31b9-11e8-86b2-ad35c16160eb.png)

[2] Edit information page

![image](https://user-images.githubusercontent.com/31961530/37958466-48d29c5a-31b9-11e8-926c-f18c0cb5ecad.png)

[2018-03-27 11:14] muffinresearch opened #7922 "Listen to FXA SQS queue to process account deletions"
To conform with GDPR we need to listen to the FXA SQS message queue and delete a user's account in response to a user deleting their FXA account.

Work to listen to the SQS queue is already in progress [1] so fixing this issue would be about adding the relevant code to specifically listen to the deletion message and action it.

[1] https://github.com/mozilla/addons-server/issues/6451

[2018-03-27 11:30] muffinresearch commented on #6451
Thanks @bqbn

@eviljeff would be good to get this QA'd and then we can look to turn this on in prod once we're happy everything looks good. Could you add some notes for QA to know how and where to test this and what it should look like if it works etc.

[2018-03-27 11:46] diox commented on #7913
No need for a new issue, I'll fix this here.

[2018-03-27 13:14] wagnerand commented on #7857
So, if content-reviewer A sends an information request and content-reviewer B content-approves before the developer replies, none of them will get the developer reply email. Hm.

I am particularly interested in this use-case. This happens usually when the first reviewer made a mistake or missed something. In that case, I think we should really let them know so they can adjust and remember that nex

[2018-03-27 13:15] #7899 closed

[2018-03-27 13:27] eviljeff commented on #7845
lgtm.

[2018-03-27 13:30] wagnerand commented on #7899
STR for testing:

Note: The `config` mentioned below refers to a config setting (`/admin/models/zadmin/config/`). The config key is `last_dev_agreement_change_date` and the value is a date in the following format: `2018-04-01 15:00`.

a) Without a config set, make sure that:
  1. a new developer is shown the developer agreement page when submitting a new add-on.
  2) an existing developer (that ha

[2018-03-27 13:47] AlexandraMoga commented on #7845
In that case, this can be marked as verified fixed on AMO-dev with FF59, Win10x64.
- theme previews are generated
- themes are correctly handled in Reviewer Tools
- themes can be installed

[2018-03-27 14:02] AlexandraMoga commented on #7822
@diox I've tested the login function with several accounts but I'm not sure how we could properly cover this part:

[2018-03-27 14:09] diox commented on #7822
Well this is hard for me to tell because we don't know how those accounts ended up in that state... @vcarciu's account was affected on prod, maybe on stage and dev as well ?

[2018-03-27 21:34] jvillalobos commented on #7857
Doesn't content approval generally mean the info request isn't needed anymore?

The second reviewer would need to be an admin, right? Does it happen often enough that they original reviewer can't be pinged directly?

[2018-03-27 21:41] wagnerand commented on #7857
We can only assume that if the person who approved the content is the same person who requested the information. Otherwise, it is likely but not guaranteed.

As far as I know, you don't need to be an admin for that. Pinging the original reviewer is fine if the second reviewer is an admin, but if not, admins likely won't notice.

[2018-03-27 21:44] jvillalobos commented on #7888
Cropping is unavoidable, I suppose. It'd be nice if the shelves expanded vertically to become 2x2 rather than 1x4, but that's a separate discussion.

What I'd like to avoid is what is shown in the "Search results / category list page (wide browser)" screenshot, which is cropping the image vertically. Can we at least make sure the full height of the preview is shown? Maybe in the future we can do s

[2018-03-28 06:44] #7502 closed

[2018-03-28 08:00] eviljeff commented on #7888
I can refile some of this on addons-frontend, specifying what changes are needed there.

What about the preview itself though -  do you think the "full" preview, complete with illustrative Firefox UI, scaled down and cropped horizontally where necessary, is okay?  I.e. the "simple preview" idea and this issue is a wontfix?

[2018-03-28 08:40] hiikezoe opened #7933 "Avoid calling parse_addons in Version.from_upload"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Both in Addon.from_upload and fetch_langpack,  we already have parsed addon data but we don't use it for Version.from_upload at all.

[2018-03-28 09:04] AlexandraMoga commented on #7899
Verified as fixed on AMO-dev, with FF59, Win10x64

I've gone through all of the above scenarios and the results were as expected.

[2018-03-28 09:25] AlexandraMoga commented on #7913
Verified as fixed on AMO dev and stage with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38020502-1196ed52-3283-11e8-9118-b12caba706c4.png)

[2018-03-28 10:26] diox commented on #7848
As part of this, `AdminTools:View` permission is replaced by `Admin:Tools`. This still allows the same thing: access to admin tools living under `/admin` that are not based on django admin (i.e. not `/admin/models`)

[2018-03-28 10:43] eviljeff commented on #7922
What does AMO need to do when it gets the SQS message that the linked FxA has been deleted?  Just delete the account straight away?  Do we need to inform the user in any way?  Afaik we don't email users when their account is deleted right now (because we ask for confirmation on the site and warn them, etc)

Probably a different issue, but what about all existing AMO accounts that relate to deleted

[2018-03-28 10:56] diox commented on #7922
Also, what happens to their add-ons? Currently you can't delete your user account if you're still a developer of a non-deleted add-on.

[2018-03-28 11:24] #7858 closed

[2018-03-28 11:35] eviljeff opened #7935 "Show a banner in persona creation wizard to try static theme wizard"
After we launch static themes, but before we disable creating LWT, we could show a banner in the LWT wizard encouraging users to try out the static theme wizard instead.

Needs some rudimentary UX (color at least, but if more than a boring box, then that too) and messaging copy.

[2018-03-28 12:25] eviljeff commented on #6451
@bqbn

Messages are retrieved in batches of 10.  For each of them the body of the message is processed, and if it's a `primaryEmailChanged` event the details (email, fxa_id, timestamp) are sent off to a celery task (`primary_email_change_event`) to do the update.  Non-`primaryEmailChanged` events aren't sent to celery, and each message is deleted from the sqs queue regardless.  Then the next 10 is

[2018-03-28 12:48] ioanarusiczki commented on #7506
As an update - I noticed now that the above behavior is for accounts with admin rights.
When using the scenario for an account without admin permissions the second page displays an error message while making a submission. Same behavior for the Static Theme Wizard.
This is reproducible on AMO dev and AMO stage with FF59(Win10).

![messages1](https://user-images.githubusercontent.com/33448286/380296

[2018-03-28 13:16] #7253 closed

[2018-03-28 13:33] muffinresearch opened #7936 "Collections API appears to allow whitespace only collection names"
Based on the report in https://github.com/mozilla/addons-frontend/issues/4652

The API should also presumably prevent white-space only collection names?

[2018-03-28 14:54] diox commented on #7808
@jvillalobos can we get a test server for dev, and api keys for dev and stage/prod ?

[2018-03-28 16:34] #7921 closed

[2018-03-28 17:01] jvillalobos commented on #7888
I think the cropped "full" preview is a better way forward than the "simple" one. So yeah, I think we can close this one.

[2018-03-28 17:44] jbuck commented on #6451
There are no rate-limiting controls implemented on our side, and there are currently 7M messages in the queue in prod. I'd recommend purging that queue before using it

[2018-03-28 19:40] jvillalobos commented on #7808
@pmac can you help diox set this up?

[2018-03-28 23:47] jvillalobos commented on #7249
Okay, to try to clarify this, I've renamed things (in the PRD and the opening comment of this issue). Full Admin -> Advanced Admin, and `All:Admin` -> `Admin: Advanced`.

The `Admin: Advanced` permission should only gate features that are indicated as for Advanced Admins in the PRD. I want each feature to be gated by a single permission, and then we can use group mappings to give users the permiss

[2018-03-29 04:49] eviljeff commented on #6451
There's an argument for processing them, to catch any primary email changes we missed... but 7 million is a lot and if the user logged into AMO in the meantime we'd have updated the email then so they'd be obsolete.

On balance, purging is probably for the best and we can look into a manual correction for historic changes as a follow-up.

[2018-03-29 06:03] hiikezoe commented on #7825
SVG support should be done in #4161?

[2018-03-29 06:39] AlexandraMoga commented on #7921
Verified as fixed on AMO stage with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38073768-1468f95a-3335-11e8-8622-7494534b574b.png)

[2018-03-29 07:28] hiikezoe opened #7940 "Original icon filename extension should not always be 'png'"
We always use '.png' for original icon image files even if the original file is a jpeg image, it's super weird.  Given that we will support SVG (#4161), should we drop the filename extension?

[2018-03-29 07:53] eviljeff commented on #6451
QA:
This can be tested on -dev only .  I'll file a follow-up issue to have right settings added for stage&prod so you can do stage/prod QA when that one is closed.

1. Login to AMO with a Firefox Account
2. go to your account profile edit page and load the 'Manage Firefox Account' link in a different tab
3. add a secondary email address in FxA; go through the email confirmation dance; switch secon

[2018-03-29 07:57] eviljeff opened #7941 "Update FxA SQS settings for stage&prod"
Follow from #6451 ; arns from https://bugzilla.mozilla.org/show_bug.cgi?id=1419516#c4

arn:aws:sqs:us-east-1:927034868273:amo-account-change-dev / amo-account-change-dev
arn:aws:sqs:us-east-1:142069644989:amo-account-change-stage / amo-account-change-stage
arn:aws:sqs:us-west-2:361527076523:amo-account-change-prod / amo-account-change-prod

-dev is already there but should probably be moved out of

[2018-03-29 09:47] diox commented on #7825
Yes.

[2018-03-29 09:49] diox commented on #7940
Yeah, it's a bit weird. We do need to be careful and make sure we can always guess the path though, without having to store yet another field in the db just for this.

[2018-03-29 09:50] #7851 closed

[2018-03-29 10:16] hiikezoe commented on #7940
I meant 'always use'.  :)

[2018-03-29 10:28] hiikezoe opened #7943 ""image/jpg" is invalid MIME type"
We have 'image/jpg' in IMG_TYPES, but it's actually invalid.

As per [MIME type document on MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types), the correct mime type for jpeg image is only 'image/jpeg'.

[2018-03-29 10:30] muffinresearch commented on #7940
@hiikezoe not sure if it's being used to bugzilla, but you can edit your original issue description in Github :)

[2018-03-29 10:31] muffinresearch commented on #7943
@hiikezoe Can you add an STR to this issue please?

[2018-03-29 10:31] muffinresearch commented on #7936
@eviljeff how is this p4?

[2018-03-29 10:32] hiikezoe commented on #7940
Oh, thanks.

[2018-03-29 10:46] eviljeff commented on #7936
User enters a nonsense name; user gets a broken collection.  p4 because low impact to anyone else and they can edit the collection again to fix it, looking at the screencast. Bump it up if you want.

[2018-03-29 11:00] muffinresearch commented on #7943
Looks like this dates back a long, long way to https://github.com/mozilla/addons-server/commit/a89b89f129fd690bc98606ed0417ba8d4b6ecb2d I can't see any comments in the related bugzilla issues re: any compat reasons for this being done then, so we can probably forgo an STR.

[2018-03-29 14:32] AlexandraMoga commented on #7822
I have tested this with several accounts for new and older users.
I have not encountered log in issues when users had no ratings posted.
I did not have access to an old account affected by the previous login issue, so this aspect is not covered entirely.
I will mark this as verified fixed based on the results I had for the accounts I've tested with.

Verified on AMO dev and stage with FF59, Win10x

[2018-03-29 15:22] ioanarusiczki opened #7946 "Incomplete status after making an add-on visible again before auto-approval"
STR:
1. Submit an add-on
2. Before the add-on is auto-approved from the versions page click on Invisible.
3. Observe that the status changes from Awaiting Review to Invisible.
4. Click on Visible.
5. Observe the status.

Expected result:
The Awaiting Review status is displayed.

Actual result:
Incomplete status is displayed and the listed page is not available.

Notes:
This issue is reproducible o

[2018-03-29 15:24] diox commented on #7946
Similar to https://github.com/mozilla/addons-server/issues/3051 , could be a dupe.

[2018-03-29 15:27] ioanarusiczki commented on #7946
@diox Yes, I filed a different issue for this scenario because I could not tell if technically this could be a dupe of https://github.com/mozilla/addons-server/issues/3051

[2018-03-29 16:09] eviljeff commented on #7888
closing this issue.  Frontend work has been logged as mozilla/addons-frontend#4661

[2018-03-29 16:09] #7888 closed

[2018-03-29 21:52] hiikezoe opened #7947 "Reuse IMG_TYPES for 'data-allowed-types'"
Once we drop 'image/jpg' from IMG_TYPES (#7944), we should reuse it for 'data-allowed-types' so that we can simply add 'image/svg+xml' in IMG_TYPES when we support SVG images.

[2018-03-30 08:32] hiikezoe commented on #7933
This issue is definitely a 'qa: not needed' issue, but I don't have the permission to set the label.

[2018-03-30 09:21] AlexandraMoga commented on #7502
Verified as fixed on AMO-dev with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38132651-90c5d88a-3414-11e8-83bc-2fe1f0c874cf.png)

[2018-03-30 11:04] AlexandraMoga commented on #7848
@diox I went through your comments related to everything that changed here but I'm not absolutely certain that I'm getting the full picture:
- is "Staff' as a group no longer available?
- is Admin:Curation permission assigned to a specific group?
- are other permissions affected by these changes?

I'm just trying to make sure I'm testing all the important parts affected by these changes.
Thank you

[2018-03-30 11:25] diox commented on #7848
`Staff` group is still there. What changed is an internal `is_staff` method which, annoyingly, has nothing to do with that group.

What changed is:
- `Admin:Curation` is introduced. This is given only to a new group called `Content Curators`. For more details about this part, check out https://github.com/mozilla/addons-server/issues/7253
- The way we determine who has access to the admin tools hav

[2018-03-30 12:44] #7947 closed

[2018-03-30 12:45] diox commented on #7943
QA: make sure you can still upload jpg images everywhere in devhub.

[2018-03-30 12:47] diox commented on #7947
QA: Make sure images upload across the site works, including rejecting non-images.

[2018-03-30 14:03] ioanarusiczki commented on #7798
I've noticed the following scenario on AMO stage and AMO prod with FF59(Win10).
- go to the validator on dev hub and select a static theme
- try to submit a static theme
- Observe the differences.

Validator
![validator](https://user-images.githubusercontent.com/33448286/38140391-2fa5f4ae-343c-11e8-92c4-6737c22f880d.png)

Submission
![submission](https://user-images.githubusercontent.com/33448286/

[2018-03-30 17:41] mkaply commented on #7187
How often are there platform specific extensions anymore with WebExtensions?

[2018-03-30 17:47] diox commented on #7187
There are still android-specific or desktop-specific add-ons, and we are still supporting legacy add-ons as long as Firefox 52 ESR is supported.

Ultimately as @eviljeff points out above we are going to remove the files per platform thing at some point, but right now we can't.

[2018-04-02 06:50] tofumatt opened #7953 "Show a different 404 message for unlisted/removed add-ons"
### Describe the problem and steps to reproduce it:
1. Publish and add-on
2. Get some downloads and users
3. Remove your add-on from the site
4. Try to visit the old URL and get a generic 404 message

Right now add-one that have been removed/unlisted from the site, by the author or by admins/review team, always show a 404 message saying the add-on can’t be found.

This means we get a lot of big re

[2018-04-02 09:20] AlexandraMoga commented on #7851
Verified as fixed on AMO-dev, FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38191058-bc41e8ca-366f-11e8-93b3-6fb659e101cb.png)

[2018-04-02 12:12] ioanarusiczki opened #7954 "The icons are not updated immediately on the add-on detail page"
STR:
1. Go to Edit images in dev hub for a submitted ad-on
2. Click Upload a custom icon and select an image (I used a .png sample)
3. Save changes, click on view listing to see the icon
4. Go back to images and change the image (I used a .jpg sample this time)
5. Save changes, click on view listing again and observe the icon

Expected results:
The new photo is visible.

Actual results:
The first

[2018-04-02 12:17] diox commented on #7953
The API already returns `is_disabled_by_developer` and `is_disabled_by_mozilla` when an add-on still exists but has been disabled by the developer or well, Mozilla. The frontend already has code to handle that.

The only case that this does not handle is an add-on that has been deleted by the developer entirely, not just disabled (by them or by us). IMHO we shouldn't try to be handling this case:

[2018-04-02 12:37] tofumatt commented on #7953
Hmm... okay, I'll check the API results of add-ons we've been having issues with and report back.

But if an add-on was published on the open internet and then "permanently deleted", still showing a "no longer available" message might be nice. I don't think that's any kind of violation of user expectation/privacy in my mind, especially as we often end up responding in GitHub comments with "it was

[2018-04-02 13:14] ioanarusiczki opened #7956 "Add-on custom icons are not correctly displayed"
STR:
1. Go to Edit images in dev hub for a submitted ad-on
2. Upload a .jpg sample from edit images using upload a custom icon button
3. Save changes and click on View Listing
4. Observe the icon on the ad-on detail page

Expected result:
Images look a bit squashed.

Actual result:
Images are correctly displayed.

Notes:
This issue was reproducible for the user info card but then fixed [here](http

[2018-04-02 13:59] ioanarusiczki commented on #7947
I verified upload of images for the user profile thumbnail, add-on icons and screenshots, uploads for
lightweight themes and static themes.
For the observed issues I filed https://github.com/mozilla/addons-server/issues/7954 and https://github.com/mozilla/addons-server/issues/7956
This was verified on AMO dev with FF59 (Win10).

[2018-04-02 14:33] AlexandraMoga commented on #7848
I've verified several scenarios on AMO-dev and here are my results:

**Working:**
1. Users included in groups with `Admin:Tools` and `*:*` have access to `/admin/` and `/admin/models/`
2. Users with `Addons:Edit` and `Admin:Curation` permission can access `/admin/models/addons/replacementaddon/`

**Needs info:**
1. Admin users (with `*:*` permission) can't see all the tools available in django adm

[2018-04-02 15:05] ioanarusiczki opened #7957 "Separator line is not correctly displayed on the second page of the theme wizard submission"
STR:
1. Go to dev hub to submit a static theme using the theme wizard.
2. Check the display of the separator line before the Cancel and Disable Version and Submit version at the bottom of the page.

Expected result:
There is some space between the licence section , line and the buttons.

Actual results:
Separator line is right next to the licence section, has no space.

Notes:
This issue is reprod

[2018-04-02 20:42] diox commented on #7956
@ioanarusiczki does that happen on stage as well, or only dev ?

[2018-04-02 22:06] jvillalobos commented on #4962
We send these to developers all the time, so I'm bumping this up a bit.

[2018-04-03 01:16] diox commented on #4962
The activity templates are plain text, so we need to 1) make sure they are not sent as HTML 2) disable auto-escaping in them.

[2018-04-03 06:50] AlexandraMoga commented on #7253
After testing this functionality, I have the following results:

**Working:**
1. Users with `Addons:Edit` have view access to Replacement add-ons tool (tested with `Staff` group)
2. Users with `Admin:Curation` have edit/delete access to Replacement add-ons tool (tested with `Content Curators` group)
3. Users with `Addons:Edit` or `Admin:Curation` can view only Replacement add-ons tool in the djang

[2018-04-03 07:27] ioanarusiczki commented on #7956
@diox it happens in stage too

Here's the screenshot
![stage](https://user-images.githubusercontent.com/33448286/38235344-75cded66-3729-11e8-8a97-790f48c95d16.png)

[2018-04-03 09:17] #7846 closed

[2018-04-03 09:25] eviljeff commented on #7846
QA:
to enable this you need to add and enable a waffle switch named `disable-lwt-uploads` in /admin
Once enabled all the links to the old LWT wizard should point to the add submission flow instead, e.g.:
- the tools menu in devhub/legacy frontend when you're logged in
- the legacy frontend browse pages (just Theme, afaik)
- devhub links to submit a theme on the page

In addition, the url to the ol

[2018-04-03 09:38] diox commented on #7253
@AlexandraMoga I only touched the permissions, so I don't think this is because of my changes. Can you open a new issue for this?

[2018-04-03 09:59] #7943 closed

[2018-04-03 09:59] diox commented on #7943
https://github.com/mozilla/addons-server/pull/7944 fixed this.

[2018-04-03 10:27] AlexandraMoga opened #7963 "Replacement add-on tool shows some behavior issues"
Prerequisites:
User logs in with an Admin account

STR:
1. Log in to AMO-dev, switch to the legacy site and select Admin Tools from the user menu
2. Go to 'Site Settings and Environment'  and select 'Django admin pages' option
3. From the list of available tools, choose 'Replacement addons' (https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/replacementaddon/)
4. Click on 'Add replac

[2018-04-03 10:35] AlexandraMoga commented on #7253
I've filed #7963 to cover the observed issue.

I'm going to mark this issue as verified fixed based on the  test results mentioned above (Working section)

[2018-04-03 10:41] diox commented on #7848
@AlexandraMoga  Regarding 1, I'm fixing this. Regarding 2, which user were you testing with?

[2018-04-03 11:00] AlexandraMoga commented on #7848
@diox I've tried with user  testemaildev11, included in a test group for which I added only an "Admin:Tool" permission - see https://addons-internal.dev.mozaws.net/en-US/admin/models/access/group/50099/

[2018-04-03 11:12] diox commented on #7848
Are you sure you were testing with that user ? I've removed myself from `Staff` and added myself to that group, and I can't access Replacement Add-ons.

[2018-04-03 11:23] ioanarusiczki commented on #7943
This was tested in #7947 I'm marking this verified fixed on AMO dev with FF59(Win10)

[2018-04-03 11:32] AlexandraMoga commented on #7848
Hm...I think I might have mixed my accounts somehow. I don't have visibility to any tools inside /admin/models/ with this account, as it should be.
Sorry for the noise.

[2018-04-03 11:34] diox commented on #7848
I fixed the other issue through https://github.com/mozilla/addons-server/pull/7964 so I think we're good now.

[2018-04-03 11:34] #7848 closed

[2018-04-03 11:47] AlexandraMoga commented on #7848
Verified as fixed on AMO-dev, with FF59, WIn10x64

All the available tools are now displayed to Admin users:

![image](https://user-images.githubusercontent.com/31961530/38247343-99db9126-374d-11e8-8b7e-316ea8ccd041.png)

[2018-04-03 12:21] CuriousLearner commented on #6906
PR issued: https://github.com/mozilla/addons-server/pull/7961

[2018-04-03 12:34] muffinresearch commented on #7936
Yeah I can see that the impact is minimal if this state is self-inflicted. However, I also think we should increase the priority on the basis that we should _always_ validate against bogus data getting into the system.

[2018-04-03 13:56] #7911 closed

[2018-04-03 13:57] #6906 closed

[2018-04-03 14:25] ioanarusiczki commented on #7846
I added and then enabled the waffle switch disable-lwt-uploads in /admin.
I checked that Submit a new theme redirects to the add-on submission flow from:
- devhub - tools - submit a new theme
- devhub - manage my submissions page - submit a new theme
- devhub https://addons-dev.allizom.org/en-US/developers/ submit a new theme button
- new frontend AMO homepage and the legacy frontend
 The existing

[2018-04-03 15:02] AlexandraMoga commented on #6451
I've verified both scenarios mentioned above and the primary email update is reflected in AMO:
- by refreshing the Edit profile page opened in a separate window after the primary email is changed from FxA
- by checking the user profile in Admin Tools after the primary email is changed from FxA

I'm marking this issue as verified fixed

[2018-04-03 15:43] wagnerand opened #7968 "'Reject multiple versions' does not include version pending review"
When rejecting multiple versions in the reviewer tools, a version that is currently pending review (not auto-approved) is not rejected.

STR:
1. Submit an add-on version. Wait for auto-approval to run.
2. As an admin reviewer, disable auto-approval (yellow button at the bottom of the page).
3. As the developer, submit another version.
4. As the reviewer, try to reject all versions using "Reject mu

[2018-04-03 16:38] eviljeff commented on #7941
QA:
same procedures as #6451 but this time on stage.  Prod will be enabled by ops once stage is verified.

[2018-04-03 17:11] eviljeff commented on #7922
We could delete the add-ons too, I suppose.  Though as that's a very non-reversible thing I'd be somewhat worried about doing it automatically as a result of a message from FxA (or any 3rd party service) because we don't know what warnings they've been given.

[2018-04-03 18:13] CuriousLearner commented on #7953
I would say that specific messages would definitely help in removing confusion. Although, I was curious to know this case:

- If I have an addon having slug `xyz` and I delete it.
- Someone else, or even me recreate an addon with `xyz`.

Does it have the same slug allocated?

[2018-04-03 20:28] diox commented on #7953
If an add-on is deleted - not just disabled - by its author then the slug becomes available again to everyone.

[2018-04-03 23:24] devaneymoz opened #7972 "April 2018 Disco Pane content update"
For the **19 April** push, can we please REMOVE all current featured extensions and themes and REPLACE them with...

**Spring is Here** by [LisaAtTheBeach](https://addons.mozilla.org/firefox/addon/spring-i-368421-2/)

**Stop Facebook tracking** with [Facebook Container by Mozilla](https://addons.mozilla.org/firefox/addon/facebook-container/)
Isolate your Facebook identity into a separate “containe

[2018-04-04 07:16] bqbn opened #7973 "monitor_fxa_sqs command fails with an error on -dev and -stage"
### Describe the problem and steps to reproduce it:

The monitor_fxa_sqs command fails with an error on -dev and -stage as below:

[code]

### What happened?
AFAICT, it may have to do with https://github.com/mozilla/addons-server/pull/7966.

### What did you expect to happen?
No error when the command runs.

### Anything else we should know?
(Please include a link to the page, screenshots and any

[2018-04-04 07:17] eviljeff commented on #7963
Might just be django admin's annoying caching?

[2018-04-04 11:51] shiri1248 commented on #7957
I would like to work on this issue.

[2018-04-04 11:57] AlexandraMoga commented on #6906
I have verified this on AMO stage by following the steps provided:
1. submitted a new add-on version (1.0) (auto-approved)
2. submitted second version (1.1) while add-on was locked by a reviewer and approved it manually
3. submitted a third version (1.2)  which was auto-approved.

I've checked the Compare tool for version 1.2 and the version file was correctly compared with the previous version 1.

[2018-04-04 12:28] ioanarusiczki opened #7975 "While creating a collection a limited number of chars can be added when describing it"
STR:
1. Load AMO dev and go to Create a collection page.
2. Try to type in the Describe your collection field a longer text.
3. Save the collection and click edit this collection.
4. Try to continue adding text. Observe that the new front end allows adding more text in the field.

Expected results:
Description field while creating the collection allows adding a longer text.

Actual results:
Only a

[2018-04-04 13:56] davidhedlund commented on #2971
@eviljeff

Where do I submit that?

[2018-04-04 14:18] eviljeff commented on #2971
@davidhedlund https://github.com/mozilla/addons-frontend/ but I'm not sure if the collection edit implementation is finished there yet.

[2018-04-04 14:28] davidhedlund commented on #2971
@eviljeff Thanks. I'll file it much later then just to make sure.

[2018-04-04 14:43] eviljeff commented on #7975
I'm a little confused about this issue - it's connected to a front-end change?  If it's a bug in the addons-server based edit collection page we won't be fixing it because its deprecated (in favour of the new addons-frontend edit collection page)

[2018-04-04 14:45] bobsilverberg commented on #7975
I was just typing what @eviljeff said. This is an old screen that is being replaced by a new front-end screen, and I don't think this has any connection to https://github.com/mozilla/addons-frontend/issues/4505. I think this can be closed.

[2018-04-04 14:49] eviljeff commented on #7975
going to close for now then - re-open with some clarification if we've misunderstood the situation.

[2018-04-04 14:49] #7975 closed

[2018-04-04 15:00] #7973 closed

[2018-04-04 15:39] caitmuenster commented on #7957
Hey @shiri1248! Go for it! Mentor is @eviljeff.

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2018-04-04 16:53] eviljeff opened #7976 "theme update service should serve details of static theme xpi for migrated LWT"
The LWT update service should - in addition to serving updated metadata for installed themes - return a link to replacement static theme when LWT has been migrated to a static theme.

The expectation is that a LWT itself would be deleted as part of the migration so typically the update would _either_ return the existing LWT JSON response _or_ some JSON detailing the new static theme xpi.

#7223 wi

[2018-04-04 17:36] aswan commented on #7976
The sibling browser-side work is tracked at:
https://bugzilla.mozilla.org/show_bug.cgi?id=1430276

[2018-04-04 20:13] jvillalobos commented on #7935
I'm not sure we need a banner. We want to get early use from staff and big theme designers at first, and then we'll do the switch. Also, before the switch, we will notify all theme designers about it, so we can mention how they can try it out.

[2018-04-04 21:08] jvillalobos commented on #7385
I'll add followups on https://github.com/mozilla/addons-server/issues/7855

[2018-04-05 01:55] smayer97 commented on #2264
For those interested in following along, here are the links to the Issue Reports for each of the items I have identified…You may want to add your comments or simply subscribe to follow along on the development:

Add To Collection - List not sorted by name – https://github.com/mozilla/addons/issues/676
Add To Collection - Cannot search the list – https://github.com/mozilla/addons/issues/677
Add To

[2018-04-05 05:32] eviljeff commented on #7935
sounds like a wontfix then.

[2018-04-05 05:32] #7935 closed

[2018-04-05 05:59] eviljeff commented on #7954
It's likely just the processing time - we resize and crush the images on a celery task and only then is the image updated.  I'm guessing if you took a few seconds more to navigate to the listing page it would work?

[2018-04-05 06:26] eviljeff commented on #7976
@aswan Ideally this would be supported in Firefox release at the point we start mass-migrating LWT so users are migrated locally at the same time AMO migrates.  Do you know when the browser-side work is expected to land?

[2018-04-05 06:34] eviljeff commented on #7973
QA:
check the FxA email updating added in #6451 still works on -dev.  Checking both scenarios for -dev probably isn't necessary - it'll either be working or it won't.

(#7941 adds the settings for -stage)

[2018-04-05 07:17] eviljeff commented on #7922
so, users who are developers and delete their FxA account, we could either:

A. not delete their AMO account, because of their add-ons - which is probably breaching GDPR.  We could do something like email the user to tell them we've not deleted their account and why but for them to fix it and delete the add-ons they'd have to recreate the FxA account and log into AMO which seems a crappy experienc

[2018-04-05 09:09] vcarciu commented on #7941
@eviljeff  : Changing secondary email with primary email in fxa will not change the email from account settings page on Stage (it's working on -dev) :
![secondarymail](https://user-images.githubusercontent.com/1583842/38357066-3a65a726-38ca-11e8-9997-af0ddfc0d2bf.gif)

[2018-04-05 09:13] AlexandraMoga commented on #7973
I've retested this on AMO-dev, with the scenarios from #6451 and the user email is still updating as expected, based on the primary email set in FxA page.

Stage seems to be having issues, but those are mentioned in #7941

[2018-04-05 12:07] muffinresearch commented on #7972
@EnTeQuAk would you be ok to pick this up for the push on the 19th?

[2018-04-05 13:06] EnTeQuAk commented on #7972
Absolutely, also put it into my personal task-list for the 04.19 deployment

[2018-04-05 13:11] tofumatt opened #7982 "Add an optional `firefox_url` field for custom "Download Firefox" URLs"
### Describe the problem and steps to reproduce it:
The Facebook Container add-on has a custom URL to "Download Firefox", currently hard-coded to add-on ID on the frontend. This is fragile and not super-extendable, so it'd be nice if we could set a custom "Download Firefox" url for an add-on if it's part of a custom campaign or something.

Not sure if we want some kind of custom Mozilla-specific o

[2018-04-05 14:02] JohanLorenzo opened #7984 "`modal-delete-version` should make the important notice more obvious"
### Describe the problem and steps to reproduce it:

1. As an release engineer testing code to automate addon signing/publication, submit a new version of an addon against the staging instance
2. Because you want to rerun that automation code, go to https://addons.allizom.org/en-US/developers/addon/$YOUR_ADDON/versions and delete this new version. This opens `modal-delete-version`
3. As you know y

[2018-04-05 14:24] eviljeff opened #7986 "Allow Addon type filter in Addon search api to be multiple values"
Currently we just accept a string http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-detail-type but we should accept a comma-separated list (string) to be able to search for multiple types at the same time.  Immediate use-case is static-themes on frontend where "theme" type of addon may need to be both LWT (personas) and static theme.

[2018-04-05 15:16] eviljeff opened #7988 "Add a migrated_themes model"
We need a table to link the original LWT and the static theme replacement.
It'll be needed for #7976 at least, and we may decide to do some other redirection/handling elsewhere in the future too.

[2018-04-05 16:35] wagnerand opened #7989 "Allow admin reviewers to undo approval confirmation"
Sometimes mistakes happen and admins have to correct a review. Correcting a rejection is easy, but there is currently no way to undo a "Confirm Approval" or "Approve Content" action (and thus put it back into the review queue).

Admins need a way to revert "Confirm Approval" (for add-on reviews) and "Approve Content" (for content-reviews).

A button in lower of the page in the "More Actions" secti

[2018-04-05 16:40] aswan commented on #7976
We haven't scheduled it but really its just a choice between 61 or 62.  61 releases on 6/26 and 62 releases on 8/21.  Should we make this a priority for 61?

[2018-04-05 17:11] vcarciu opened #7990 "Internal server error received in prod for an extension which passed the validation"
Steps to reproduce:
1.Try to submit this to prod as a developer : https://send.firefox.com/download/88742b657e/#ONm6UyOW-7F7gf5wIqrkQw

Expected results:
If add-on successfully passed the validation, then the submission should be possible

Actual results:
Internat server error received at next step after submission

NOTES:
NOT reproducible on Stage with exactly same extension
NOT reproducible if t

[2018-04-05 17:18] vcarciu commented on #7990
My link from the bug expired. Sorry for that and below I attached it as .zip:

[ublock_origin-1.15.18-an+fx.xpi.zip](https://github.com/mozilla/addons-server/files/1881035/ublock_origin-1.15.18-an.fx.xpi.zip)

[2018-04-05 17:25] EnTeQuAk commented on #7990
I don't think that's a p1, I checked the sentry error - https://sentry.prod.mozaws.net/operations/olympia-prod/issues/2870827/ - and that seems to be a relict from the chrome add-ons -> firefox conversion stuff that was going on end of last year where tons and tons of duplicate add-ons were created.

We fixed that for unlisted add-ons but imho only fixed it for new, unlisted, uploads and never con

[2018-04-05 17:30] jvillalobos commented on #7989
Admins should be able to content-reject or code-reject add-ons after approval. If the review is known to be incorrect, you should know at that point that it should be rejected, no? How often does a case come up where a review was approved accidentally and can't be followed up on at the same moment?

[2018-04-05 17:34] jvillalobos commented on #7982
There's an ongoing project (FIA) to enable creating Firefox builds that bundle an add-on with them. The idea is that, eventually, many/all add-ons on AMO would have a similar link (one idea is to offer Firefox+add-on if you visit an add-on page on AMO using a different browser).

The project is getting started and depending on the early results we will determine whether we should do something like

[2018-04-05 17:54] jasonthomas opened #7991 "Is save_stats_to_file writing to the correct path?"
I noticed on prod that save_stats_to_file is putting stats data into `/mnt/efs/addons.mozilla.org/shared_storage/uploads/<addon_id>/`. I think this data should be put into sub directory instead, maybe `/mnt/efs/addons.mozilla.org/shared_storage/uploads/statistics/<addon_id>/` so that the uploads directory is easier to manage.

https://github.com/mozilla/addons-server/blob/318d0dc4e35c1e28a3e9c41e7

[2018-04-05 18:01] jvillalobos commented on #7855
Probably best to have a new type of admin review, to avoid conflicts with existing admin reviews.

[2018-04-05 18:05] jvillalobos commented on #7912
From #7855:

Hiding the thumbnail helps, but the other comments also address the hidden behavior of clicking on it to see a larger preview and the other background images in the theme.

[2018-04-05 18:16] jvillalobos commented on #7922
Do we know what the UX is like when deleting a FxA account? Is there a message explaining everything will be nuked?

Given this is a legal matter, I suspect A won't be an option. The main loss for developers in the case of accidental deletion would be the ratings and reviews for the add-on. The rest can be replicated by the devs (except maybe slugs). I think that's something we can live with.

[2018-04-05 18:27] muffinresearch commented on #7922
@jvillalobos it looks like this:

<img width="637" alt="firefox_accounts__delete_account" src="https://user-images.githubusercontent.com/1514/38384362-d7b81158-3906-11e8-9ad6-cc41d4207c49.png">

So there's nothing to make it clear that a deletion will have impact beyond FXA.

Following further discussion with @eviljeff I would like to check if we really need to make this change.  Maybe the facilit

[2018-04-05 22:39] Keith94 opened #7996 "Wrong version detected in add-on compatibility error"
### Describe the problem and steps to reproduce it:
1. Install Firefox Nightly 61.0a1
2. Visit https://addons.mozilla.org/en-US/firefox/addon/color-tailor/

### What happened?

### What did you expect to happen?
Installing the add-on should be possible on Firefox 61

### Anything else we should know?
![image](https://user-images.githubusercontent.com/5490615/38395329-04a0cb40-3922-11e8-9492-cc4f70

[2018-04-05 22:51] atsay commented on #7982
We started exploring this late last year, and currently are able to create an installer with a hard-coded add-on. Problem is it's hacky, and there is no pre- or post-install experience. There's a [PRD](https://docs.google.com/document/d/1BukJcOsfXoP651IN8P2BTZ8jpc83KAa3caMKlpjTxDQ/edit) that isn't finalized but if interested feel free to take a look. We plan to start the x-func meetings for this p

[2018-04-06 07:52] eviljeff commented on #7976
62 is fine - that coincides with when 52ESR goes out of support so when we were planning to do the migration.

[2018-04-06 08:35] eviljeff commented on #7988
Actually, i'm reconsidering the special model/table idea (after I finished the code and migration already) and think it may be best to add the field to the `Persona` model as every (non-deleted) LWT will be migrated.  If we want to clear up LWT data in the future we can just drop the unneeded columns at that point from Persona, leaving the links to the replacement static themes.

[2018-04-06 08:56] eviljeff opened #7997 "simplify our settings files"
we have:

- settings.py
- settings_base.py
- dev/settings.py
- stage/settings.py
- prod/settings.py
(and settings_test.py)

with a lot of duplicate settings.  Let's simplify!

[2018-04-06 09:38] erosman opened #7998 "[Review Tools] Handling of JSON and CSS is hampering the Review"
I had already mentioned this issue e.g. mozilla/addons#313 mozilla/addons#455

Just now, I spent about 5 minutes trying to load `manifest.json` and every time being faced with multiple "Page is slowing down your browser" and finally failing to load.

`https://addons.cdn.mozilla.net/en-US/firefox/files/browse/881906/file-serve/manifest.json`

It is quite similar with medium to large size CSS files

[2018-04-06 11:57] eviljeff commented on #7769
QA: just need to finish the last part of the testing from #7750

[2018-04-06 12:07] wagnerand commented on #7989
In the recent case, an add-on was approved when it was meant to be content-approved (and therefore no code-review was involved). We didn't know whether it is safe or not, but we weren't able to put the add-on back into the queue for a reviewer to pick it up.

Instead we had to expedite the review (which wouldn't have been necessary, based on the risk) using an admin reviewer.

I don't expect that

[2018-04-06 13:33] EnTeQuAk commented on #7991
I also don't see any usage data on `ArchiveListView` and `ArchiveView` in NewRelic (which are used to download statistic data), docs are in https://addons-server.readthedocs.io/en/latest/topics/api/stats.html

Do you see anywhere else some usage data of these APIs?

Given that it's in apiv3 and we want to make apiv3 stable sometime soon or rather now we should maybe usefulness of these APIs and sa

[2018-04-06 13:55] EnTeQuAk commented on #7595
I can't reproduce this as well, closing.

[2018-04-06 14:01] Keith94 commented on #7996
Windows 10

[2018-04-06 14:40] eviljeff commented on #7991
From a quick look at AMO stats dashboard for ABP we _do_ prevent older stats from being retrieved via the website currently, so we can't just remove the APIs.  I'm assuming it's a block in the view code somewhere we can easily remove though.

I've no idea about the original justification - that old stats were a huge problem - I wasn't working on AMO full time then.  IMO either we've got to allow o

[2018-04-06 14:44] eviljeff commented on #6639
@wagnerand what would you expect to be changed here?

[2018-04-06 15:28] #7984 closed

[2018-04-06 15:39] wagnerand commented on #6639
Redirecting to @jvillalobos.

[2018-04-06 16:05] jasonthomas commented on #7991
I believe `save_stats_to_file` and archiving stats were done to mitigate performance issues in AWS since we thought that the large stats table within the database was the culprit. It ended up not being the real issue.

Even though the stats table continue to grow I think we could just continue to maintain them in the database and have the APIs reference the data directly. We also spoke in the past

[2018-04-06 16:28] eviljeff commented on #7941
The sqs messages FxA is sending are from their stage server (which we don't use).  Filed mozilla/fxa-auth-server#2387 to fix.

[2018-04-06 17:12] jvillalobos commented on #6639
The Not Found page is in the old front-end, so that's one thing to fix. As for the content of the page, it could be something more specific, like "This review no longer exists", but I'm hesitant of creating a page just for this.

[2018-04-06 20:49] bqbn commented on #7991
Second that! A directory with a lot files in it has always been an issue for us. Every time we can have a nested directory to store files, we should probably do it.

I vote for having the stats in a separate database cluster if possible. Daily stats indexing causes a lot IOs to the database during which it may have impacted users browsing the website.

[2018-04-06 22:31] jvillalobos opened #8004 "Add Liberapay to list of allowed payment providers"
Please add Liberapay (liberapay.com) to the list of allowed providers for contributions. See #6309 for a previous addition.

[2018-04-06 23:44] Keith94 commented on #7996
The issue is reproduced when `privacy.resistFingerprinting` = `true`

[2018-04-06 23:44] #7996 closed

[2018-04-07 22:31] otoha0x01 opened #8006 "jjapan"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-04-07 22:32] otoha0x01 commented on #8006
Nothing

[2018-04-07 22:32] #8006 closed

[2018-04-07 22:32] otoha0x01 commented on #8006
Nothing

[2018-04-07 22:33] otoha0x01 commented on #8006
Nothing

[2018-04-07 22:33] otoha0x01 commented on #8006
Hallo

[2018-04-07 22:43] rctgamer3 commented on #8006
Please do not post empty and irrelevant to AMO-issues on this repo.

[2018-04-09 10:43] #7968 closed

[2018-04-09 10:45] rafspiny commented on #7936
I would like to be assigned to this one if it is ok.

[2018-04-09 11:34] eviljeff commented on #6639
Exposing deleted things to end-users isn't usually a good idea.  (even if we're only exposing their existence)

Looks like frontend doesn't support the url to a review reply because they implemented it inline - we dropped the reply link from that email in the meantime (with #6817).  I guess addons-frontend could capture and redirect the old reply urls but it's a bit edge case.

[2018-04-09 12:37] wagnerand opened #8008 "Only show public (and pending) add-ons in 'Expired Info Requests' queue"
Rejected or deleted add-ons don't need to show up in the "Expired Info Requests" queue as their is nothing to be done for reviewers.

Instead we should only show public (and pending for legacy/auto-approval disabled) ones.

[2018-04-09 14:33] eviljeff commented on #7936
@rafspiny okay, go ahead.  I think the fix would be in https://github.com/mozilla/addons-server/blob/master/src/olympia/bandwagon/serializers.py#L43:L51

[2018-04-09 14:48] #7997 closed

[2018-04-09 15:08] #8008 closed

[2018-04-09 16:38] jvillalobos commented on #6639
Fair enough. We _could_ show something different if you're logged in and you're a dev for the add-on being reviewed. But that's a tad too specific.

https://github.com/mozilla/addons-frontend/issues/2771 is open to support URLs to specific reviews.

[2018-04-09 16:39] jvillalobos commented on #6639
Closing this, since I don't see any action to take other than what's tracked in other issues.

[2018-04-09 16:39] #6639 closed

[2018-04-09 17:02] wagnerand opened #8012 "Regular reviewers should not be able to approve/reject add-ons pending admin content-review"
A regular reviewer should not be able to approve or reject an add-on that is pending admin content-review (and vice versa).

[2018-04-10 07:49] eviljeff commented on #8012
I'm not sure I entirely understand this issue.  Isn't content review about auto-approved webextensions?  How can they be approved or rejected by a legacy addon reviewer?  Unless you're talking about content reviewers approving or rejecting the content review?  ("regular" reviewer was ambiguous)

[2018-04-10 08:09] wagnerand commented on #8012
Yes, I didn't mean legacy reviewers. The issue is that a regular add-on (post) reviewer is able to approve or reject a webextension that is pending admin content-review.

[2018-04-10 08:11] eviljeff commented on #7855
refocusing the issue to admin flags - the other problems are addressed in other issues.

[2018-04-10 08:58] #8012 closed

[2018-04-10 12:28] ioanarusiczki opened #8017 "The user profile avarage ratings is updated with a delay"
Copied issue https://github.com/mozilla/addons-frontend/issues/4587 here

STR:
1. Load AMO dev and create a new account.
2. Submit some add-ons.
3. Using a different account rate the add-ons.
4. Check the user info card of your new account to see if the average rating is updated.

Expected results:
Average rating of developer’s add-ons is displayed with dark grey for a developer with rated add-ons

[2018-04-10 14:11] ioanarusiczki commented on #7968
Verified fixed on AMO dev with FF59 (Win10).

![bothversions are rejected](https://user-images.githubusercontent.com/33448286/38561976-193a7db2-3ce2-11e8-81b6-3c84ceced8a1.gif)

[2018-04-10 14:24] eviljeff commented on #7989
looks like this is a wontfix then

[2018-04-10 14:24] #7989 closed

[2018-04-10 15:09] vcarciu commented on #7769
This is what I see when adding a new user to the Reviewers: themes group :
![staticthemepermission](https://user-images.githubusercontent.com/1583842/38565542-43199a34-3cea-11e8-99cf-759d9304cd60.png)

[2018-04-10 15:44] eviljeff commented on #4962
@ioanarusiczki this issue is about developer replies to an addon review, i.e. reviewer tools, not a user rating (which is still incorrectly referred to a review in some places.)

[2018-04-10 15:44] #7855 closed

[2018-04-10 15:49] ioanarusiczki commented on #7997
@eviljeff Could you please provide some STR for QA or add the qa not needed label ?
Thank you!

[2018-04-10 15:52] eviljeff commented on #7997
no specific QA needed - just make sure the sites are working as normal.

[2018-04-10 15:56] vcarciu commented on #8004
Verified as fixed :
![liberapay](https://user-images.githubusercontent.com/1583842/38568251-e75c906e-3cf0-11e8-82ae-424ef2fd82c5.gif)

[2018-04-10 16:17] #7769 closed

[2018-04-10 16:37] eviljeff commented on #8017
This is deliberate - it's updated with a daily cron job that recalculates all users's average ratings.

[2018-04-10 16:37] #8017 closed

[2018-04-10 20:55] caitmuenster opened #8022 "[Review Tools] Change "New Add-ons" to "New Themes" on Theme Review Homepage"
On the theme reviewer homepage, the queues for static themes are referred to as "New Add-ons," "Add-on Updates," and "Add-on Review Log."

It would be great to swap out "add-on" for "theme" or "static theme" in those instances before this goes live. :)

![reviewer tools - theme view](https://user-images.githubusercontent.com/23342476/38583088-b79e9216-3cc6-11e8-9d29-29b0fc5b4616.png)

[2018-04-11 07:42] eviljeff commented on #8022
The reviewer tools for static themes _are_ the add-on review tools though - you would just see either static themes or non-static themes in the queues depending on which permissions you have (and both types in the same queue if you had both permissions).  Static themes are add-ons and it's been a deliberate choice to [consolidate](https://github.com/mozilla/addons-server/issues/7385#issuecomment-3

[2018-04-11 12:32] ioanarusiczki commented on #8008
@wagnerand I verified this issue on AMO dev (Win10).
1. Deleted or rejected add-ons don't need to show up in "Expired Info Requests" queue.

2. I tested with an add-on the auto approval disabled scenario. First version was auto approved and the second version disabled, v3 is awaiting review because Has auto-approval disabled flag set. I also requested a super review. I don't see the add-on in  "Ex

[2018-04-11 13:58] wagnerand commented on #8012
STR:

a)
1. Flag an add-on for admin add-on review (from the regular review page).
2. Go to the content review page and make sure you don't see "Approve Content" and "Reject multiple versions".
b)
1. Flag an add-on for admin content review (from the content review page).
2. Go to the add-on review page and make sure you don't see "Confirm Approval", "Reject" and "Reject multiple versions".

[2018-04-11 14:38] eviljeff commented on #7912
Taking this from @diox 😛 because I'll fix the rogue preview image at the same time as #7896 (and the counter is going to be unnecessary with the change to how background images will be presented.

[2018-04-11 14:59] caitmuenster commented on #8022
Ok, cool. The headings should be clear from that homepage, though. I'll give the theme reviewers a heads up about encountering more "add-ons" terminology.

[2018-04-11 15:01] vcarciu commented on #8012
@wagnerand  : I verified following the steps from above :
a)
![admincodereview](https://user-images.githubusercontent.com/1583842/38625032-40980444-3db2-11e8-9fa8-db27c7d7d328.png)

b)
![contentreview](https://user-images.githubusercontent.com/1583842/38625054-4e348190-3db2-11e8-9b71-6db63075c7cd.png)

Please let me know if anything else is needed

[2018-04-11 15:18] vcarciu commented on #8012
Marking issue as verified.

[2018-04-11 15:56] ioanarusiczki commented on #4962
@eviljeff I am sorry for misunderstanding the issue.

I verified the dev replies for add-on reviews with the fakemail.
The I'd issue is fixed.
![fixedtext](https://user-images.githubusercontent.com/33448286/38627505-ce011d7a-3db7-11e8-8069-ad5370dd55b9.png)

First question:

HTML text is displayed as in the screenshot below. Please let me know if this is the expected behavior.
![html text](https:/

[2018-04-11 15:59] vcarciu commented on #7855
@eviljeff : if the reviewer is in Reviewers:Themes group then after requesting a super review I correctly see the flag :
![adminstaticthemerev](https://user-images.githubusercontent.com/1583842/38628574-59706bc0-3dba-11e8-8407-f1583185b5c4.png)

If I request a super review using an admin account for a static theme , I still see "Needs Admin Code Review" flag. Is this correct?

Thanks

[2018-04-11 16:11] wagnerand opened #8027 "Use separate activity log types for 'admin content review' and 'admin add-on review'"
When a reviewer requests admin review, the log entry just says "Super review requested", but it does not say which one (add-on vs content).

We should use separate activity log types so we can distinguish them on the review page and on the logs page.

[2018-04-11 19:23] caitmuenster opened #8028 "Restrict content reviewers from using add-on reviewer canned responses"
Content reviewers are currently able to use code review canned responses when rejecting an extension. To help prevent confusion and potential slip ups, I'd like to restrict them to only being able to select content review related canned responses.

The canned responses that apply to content review are:
- Add-on not suitable for listing
- Spam
- Acceptable Use Policy (which I think we wanted to ret

[2018-04-11 20:53] wagnerand commented on #8028
Yes, that totally makes sense.

Although that might alter the scope of this issue a bit, I believe we could hit two birds with one stone here and that might actually make this easier to fix:

One of the things that have been cumbersome from the beginning for both developers and reviewers is how we have to *reject all versions* when we find a listing to be inappropriate.
The issue for developers is

[2018-04-12 07:56] eviljeff commented on #8027
while you're at it, add one for admin theme review too please :)  (#7855)

[2018-04-12 08:14] eviljeff commented on #8028
From a code point of view, Add-ons are not approved, Files are.  So adding another property which controls the Add-on status would either be a significant change (if done properly) or add some nasty hacks elsewhere in codebase (if done in the easiest way).  E.g. we add another Addon status == everywhere in the code has to handle the extra status; we add another disabled property that determines th

[2018-04-12 08:36] eviljeff commented on #4962
@ioanarusiczki they're sent as plain text so a bit of html syntax is fine - and likely will have been what the author of the message intended.

Yes please.  Unfortunately the email's are generated in different ways so each instance needs to be handled separately.

[2018-04-12 09:07] wagnerand commented on #8028
A wild hope would be that maybe we would be able to get away with just re-using `ADDON_STATUS_INCOMPLETE`. Maybe not.

Hah, I had a longish paragraph about that in my earlier comment which I removed because the whole comment was already quite long :)

   Spam
   Acceptable Use Policy

For those, there is usually no follow-up possible or allowed.

usually requires follow-up by the developer, which

[2018-04-12 09:33] #4962 closed

[2018-04-12 09:58] eviljeff commented on #8028
Addon status will automatically update to the correct status if there's a change on the versions (there are many changes that trigger the update status method), unless it's set to `STATUS_DELETED` or `STATUS_DISABLED`.  So setting it to `STATUS_INCOMPLETE` is no guarantee it will stay unavailable.

This should be spun off into a separate issue really, as @caitmuenster's request is easily doable wi

[2018-04-12 11:13] vcarciu commented on #7769
Now I can see both lightweight and Static themes if I add an user to Reviewers : themes group :
![revtoolspermissionsthemes](https://user-images.githubusercontent.com/1583842/38674010-ae4dae86-3e5b-11e8-86e1-d6986560df7b.png)

[2018-04-12 12:59] wagnerand commented on #8008
Yes, please do. It's an easy patch, low effort.

[2018-04-12 14:08] ioanarusiczki commented on #7997
I'm marking this issue verified fixed on AMO stage with FF59(Win10 and Android 8.0).
Release testing is complete. Test results are [here](https://testrail.stage.mozaws.net/index.php?/plans/view/9257).

[2018-04-12 14:09] vcarciu commented on #7855
I am sorry for my last comment, I selected an item from "Static theme" queue, but it was an extension, not a static theme, so the flag is correct.

Marking bug as verified.

[2018-04-12 14:49] ioanarusiczki opened #8031 "Rating developer Reply has escaped characters"
As a followup for https://github.com/mozilla/addons-server/issues/4962
STR:
1. Load AMO dev and make a developer reply on someone's review. Make sure you use "We'll" or "I'd". Also use "&".
2. Check the fake mail to see the email sent.

Expected results:
Text is displayed without issues.

Actual result:
Content of the reply is partially escaped such as WE&#39;LL I&#39;d &amp;

Notes:
This issue is

[2018-04-12 15:38] #7988 closed

[2018-04-12 19:56] jvillalobos commented on #8022
Could just be renamed to `New`, `Updates`, and `Review Log`. Keep it generic.

[2018-04-13 04:11] EnTeQuAk opened #8033 "Implement a `Request-ID` that allows us to track a request through the system"
Supports https://github.com/mozilla/addons-server/issues/7744

The idea is to have a unique request-id that is recorded internally for now but can be exposed to different layers in the long term. Among them, sentry (in addition to their own error event id), the frontend and performance tests that allow correlating request-related data.

My primary use case for this are new regression tests that wi

[2018-04-13 04:46] rfk commented on #7922
FYI we're investigating UX/messaging requirements on the FxA side right now in https://github.com/mozilla/fxa/issues/289.  It sounds like it might suffice for us to say to the user "go visit all the places you used your account, and make sure you delete things there as well", but we're waiting on final designs and confirmation there.

[2018-04-13 04:59] EnTeQuAk opened #8035 "Forward unique request id to sentry and logs"
Following up on https://github.com/mozilla/addons-server/issues/8033 we should forward our unique request id to sentry and our kibana logs.

Things that need to be done:

 * Log the request id in `olympia.core.logger:AmoLoggerAdapter` (potentially via adding it to our thread-local in `olympia.core.__init__` which isn't nice but more or less the only reliable way right now)
 * Call `client.extra_co

[2018-04-13 07:49] #7896 closed

[2018-04-13 07:49] #7912 closed

[2018-04-13 08:54] eviljeff commented on #8022
![screenshot 2018-04-13 16 52 58](https://user-images.githubusercontent.com/768592/38725873-2d23eaba-3f3b-11e8-85fb-d02148db959b.png)

[2018-04-13 09:07] erosman opened #8036 "[Reviewer Tools] Legacy Review Incentive to match WE"
Legacy Review Incentive could more closely match WE Review Incentives,
In fact, they may even be justified for more advantageous incentives.

[2018-04-13 09:09] eviljeff commented on #7986
Also, autocomplete and featured api endpoints (follow-ups if particularly difficult)

[2018-04-13 09:09] deepanshu-jain1999 commented on #7957
I am new to open source and i want to work on this issue. Please help me

[2018-04-13 09:15] eviljeff commented on #7957
@deepanshu-jain1999 great, I don't know if @shiri1248 has started on this already though.

[2018-04-13 09:44] ioanarusiczki opened #8037 "Edit information page becomes unresponsive after screenshots are uploaded and description field contains a long text field"
STR:
1. Load AMO dev and go to Dev Hub to Edit information page for a submitted add-on.
2. Edit Add-on details by adding in the Description field a long description (that needs scroll down on the listed page).
3. Edit Images by adding a set of 20+ screenshots (I used a sample of 20 photos of 36MB then another 20 photos, total size 8.67 MB).
4. Observe the screen after the images for upload are sel

[2018-04-13 09:45] eviljeff opened #8038 "Change preview for static themes with additional backgrounds for Firefox 61(?) changes"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1443561

Firefox will now display the primary background _below_ the additional backgrounds.  Often the primary background would be empty or transparent so it won't make a difference in those cases but otherwise will.

The change in Firefox will also fix the additional_backgrounds alignment bug (all alignments other than left top, top, right top wer

[2018-04-13 10:00] wagnerand commented on #8036
Legacy add-ons are going away in just a few months, so I am not sure how much effort we should put into this, also given the very low volume of legacy submissions we get these days and the fact that a lot of them are handled by @kewisch and me.

Ultimately a question for @caitmuenster though.

[2018-04-13 10:17] wagnerand opened #8041 "Provide a proper way to content-reject a listing"
(Spun off from https://github.com/mozilla/addons-server/issues/8028#issuecomment-380592253)

The current way of content-rejecting a listing involves rejecting all public versions. This has a couple drawbacks:

1) Most of the issues that warrant a content-reject are unrelated to any submitted version.
2) The author can re-enable their listing themselves without addressing the issues by just submitt

[2018-04-13 12:08] CuriousLearner commented on #7696
@EnTeQuAk Ping :)

[2018-04-13 12:39] eviljeff commented on #5931
I'm going to drop the model entirely and encode the list as a constant.

[2018-04-13 13:44] #8033 closed

[2018-04-13 14:04] eviljeff commented on #7524
@jrbenny35 did you finish this?

[2018-04-13 15:01] caitmuenster commented on #8036
Yeah, I don't think we should be incentivizing legacy reviews at this point. :)

[2018-04-13 15:08] #8036 closed

[2018-04-13 15:39] erosman commented on #8036
Maybe the point was misunderstood.

Changing the current 80 to 90 or 100 etc should takes about 5 seconds to implement and makes it more in-tune with WE review.

Currently there are legacy add-on on the queue waiting to be reviewed for 50 days. I thought that might  encourage faster turn over.

Legacy and Thunderbird add-ons will be around for another 5 months, AFAIK.

[2018-04-13 16:49] jvillalobos commented on #8041
What do you suggest? Disabling the existing files is the most effective way to hide the listing without resorting to yet another disabled state and allowing the developer to make corrections at the same time.

The other way to do this would be to do a global-disable, but that would block the developer from being able to make corrections. I would argue that that is a worse situation than the curren

[2018-04-16 05:51] EnTeQuAk commented on #5229
This will certainly go away once we improved our metadata handling https://github.com/mozilla/addons-server/issues/7825 and only allow changing this via updating things in the manifest.

I'll leave this open though since a proper error message has to be implemented there too.

[2018-04-16 05:55] AlexandraMoga commented on #8033
Please add STR to this issue or the label "qa:not needed"

[2018-04-16 05:57] EnTeQuAk commented on #3690
We're not removing them but actually integrating them into this repository very soon. Closing this.

[2018-04-16 05:57] #3690 closed

[2018-04-16 06:09] EnTeQuAk commented on #6397
@jvillalobos does this need some kind communication on the blog or elsewhere, otherwise, I'd like to get this into this weeks milestone or next weeks.

[2018-04-16 06:48] #6931 closed

[2018-04-16 06:53] #8022 closed

[2018-04-16 07:26] #7972 closed

[2018-04-16 07:52] #4562 closed

[2018-04-16 08:39] muffinresearch commented on #7922
Thanks @rfk. I'm going to close this for now, and we can re-open it as and when there's an action to take on the AMO side.

/cc @eviljeff

[2018-04-16 08:39] #7922 closed

[2018-04-16 09:04] AlexandraMoga commented on #7912
Verified as fixed on AMO-dev with FF59, Win10x64

![image](https://user-images.githubusercontent.com/31961530/38799816-3234dba6-416e-11e8-998e-4c35f873e8db.png)

[2018-04-16 09:27] wagnerand opened #8057 "Make sure all rejected versions during `Reject multiple versions` action have the same timestamp"
Currently, when rejecting multiple versions, each reject gets its own timestamp, which makes it impossible to group those rejects and identify the unique action that lead to it.

The easiest solution would be to make sure all rejects have the exact same timestamp.

[2018-04-16 10:14] AlexandraMoga commented on #7896
Verified on AMO-dev, with FF59 Win10x64

A preview with a hover property is present for all the images composing a static theme:

![st hover](https://user-images.githubusercontent.com/31961530/38803269-59b29f34-4177-11e8-9f03-94cf82f7fbfc.gif)

@eviljeff couldn't there also be a hover for the main theme preview?

[2018-04-16 10:55] #6397 closed

[2018-04-16 11:04] AlexandraMoga commented on #8022
Verified as fixed on AMO-dev with FF59, Win10x64

[1] theme reviewers:

![image](https://user-images.githubusercontent.com/31961530/38805284-f63486be-417d-11e8-8b65-301701543e6f.png)
--
[2] legacy reviewers:

![image](https://user-images.githubusercontent.com/31961530/38805419-6c06a8e0-417e-11e8-96d9-da0d5b86720f.png)
--
[3] Admin reviewers:

![image](https://user-images.githubusercontent.com/3196

[2018-04-16 11:13] AlexandraMoga commented on #6931
@eviljeff does this impact Reviewer Tools as a whole or should we test only the Ratings Moderation component?
Thanks

[2018-04-16 11:26] AlexandraMoga commented on #7988
Please add some STR to this issue or the label "qa:not needed"

[2018-04-16 11:50] ioanarusiczki opened #8059 "Add-ons that are no longer public should not be displayed in Expired info request queue"
Followup for https://github.com/mozilla/addons-server/issues/8008

Prerequisites:
Admin rights in dev hub

STR:
1. Load AMO dev and go to Reviewer Tools to the Expired info request queue.
2. Click an add-on from the list and then go to Edit(admin).
3. From View All click on Invisible from Listing Visibility section.
4. Go back to  Expired info request queue and check if the add-on is still in the

[2018-04-16 11:54] AlexandraMoga commented on #4562
Verified on AMO-dev, with FF59, Win10x64

[1] logging out from https://addons-dev.allizom.org/en-US/developers/
![dev hub log out](https://user-images.githubusercontent.com/31961530/38807453-4e5e0016-4185-11e8-8d67-b245f36fa560.gif)

@EnTeQuAk  When signing out  of [https://addons-dev.allizom.org/en-US/**developers/addons**](https://addons-dev.allizom.org/en-US/developers/addons), shouldn't the us

[2018-04-16 11:56] ioanarusiczki commented on #8008
I filed https://github.com/mozilla/addons-server/issues/8059
Also checked the third issue auto-approval disabled status with more information request expired will show up in the queue.

[2018-04-16 13:12] AlexandraMoga commented on #7972
Verified on AMO-dev, with FF59, Win10x64
The full content will be verified in production.
![image](https://user-images.githubusercontent.com/31961530/38810928-d7ff676e-4190-11e8-818b-29d21984c6db.png)

[2018-04-16 13:57] eviljeff commented on #6931
@AlexandraMoga primarily it's the ratings moderation tool.  And the dashboard links too.

[2018-04-16 15:16] AlexandraMoga opened #8061 "Unbroken strings in collection names are breaking the layout of the edit collection form on smaller screen sizes"
STR:

1. Log in to AMO-dev with an Admin account on an Android device
2. Check the details page for a collection - see https://addons-dev.allizom.org/en-US/firefox/collections/AlexandraMoga1/testing-collection-urlid/
3. Click on Edit Collection
4. Observe the layout of the add-on list below the edit collection form

Actual result:
Unbroken strings in collection names are breaking the layout of the

[2018-04-16 15:16] AlexandraMoga commented on #8061
Wrong repo!

[2018-04-16 15:16] #8061 closed

[2018-04-16 15:18] wagnerand opened #8062 "Allow content-reviewers to approve or reject if the review has sources attached."
This is a follow-up from #8012.

We still want content-reviewers to be able to content-review if the add-on has sources attached.

[2018-04-16 15:27] eviljeff commented on #7896
Hover is for exposing backgrounds that are scaled down to fit on the page but the preview is already displayed at the full size its rendered at.

[2018-04-16 17:25] EnTeQuAk commented on #4562
Fair point, yes they should. I'll push a follow-up patch tomorrow morning to land this in this weeks milestone too. I forgot our legacy views :laughing:

[2018-04-16 17:31] eeazye opened #8064 "LastPass"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

I tried downloading LastPass to my laptop this afternoon & for some reason am not able to do so. I clicked

### What happened?

I clicked on the link to download LastPass & this page popped up
Not Found

We're sorry, but we can't find what you're looking for.

The page or file you requested wasn't fo

[2018-04-16 17:53] rctgamer3 commented on #8064
Just grab it from here: https://addons.mozilla.org/addon/lastpass-password-manager/

[2018-04-16 19:42] rafspiny commented on #7936
@eviljeff I added a test like this:
[code]

Although this test seems to be legit, is unexpectedly passing. Probably, I missed something, but I would have expected this test to fail.

Then I realised that I was looking at the view, not the API. I should look at the API explained here: https://addons-server.readthedocs.io/en/latest/topics/api/collections.html

Is that correct?

[2018-04-16 20:04] bobsilverberg opened #8065 "addon_count for collections is not accurate"
The `addon_count` returned for a collection from the `collections` API is the number of add-ons that have been added to the collection, but some of those may have subsequently removed/deleted from the site, so it is no longer the true number of add-ons in the collection, from the perspective of a user.

This is causing issues on the frontend both in terms of the number of add-ons reported for a co

[2018-04-16 20:15] bobsilverberg commented on #8065
There seems to be more weirdness that just removed add-ons. In this example: https://addons.mozilla.org/en-GB/firefox/collections/smayer97/for-search-engines/, the collection detail page states that the collection holds 8 add-ons, but 10 are displayed, and if you edit the collection there are 11 in it. The difference between the 10 and 11 could be explained by a deleted/removed add-on, but I'm not

[2018-04-16 20:28] jvillalobos commented on #6397
No, it's not a big change.

[2018-04-16 20:47] jvillalobos commented on #8064
It's possible there's a dead link on their site. You can use the link provided in the previous comment, or contact LastPass about the website issue.

[2018-04-16 20:47] #8064 closed

[2018-04-17 07:39] eviljeff commented on #5931
Because it relies on stat imports and downloads from real links it's only possible to test fully on prod after it's deployed.

For prod: check the statistics dashboard for a popular add-on (e.g. adblock plus) and see that its downloads by source numbers seem roughly same as the previous few days (i.e. not all blank)
https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/statistics/downloads/s

[2018-04-17 09:17] eviljeff commented on #7936
@rafspiny yes, that's the legacy view, rather than the API views.  If you add your test to `CollectionViewSetDataMixin` in test_views.py it will apply to both Collection creation and updates. There are few methods already which show how the tests are written.  `CollectionViewSetDataMixin.test_biography_no_links` is quite similar to what you need to test - it would just be doing `data.update(name=u

[2018-04-17 12:51] wagnerand opened #8068 "Clean up using timestamps in activity log with Django 1.11"
After Django 1.11 lands, (#5271), we should clean up setting the correct timezone in `ActivityLog.create()`, by overriding the `created` field as described in https://docs.djangoproject.com/en/1.11/ref/models/fields/#django.db.models.DateField.auto_now_add which enables us to pass `created` in the constructor of the `ActvitiyLog` class and its subclasses.

[2018-04-17 12:53] #8057 closed

[2018-04-17 16:26] #8062 closed

[2018-04-17 16:37] EnTeQuAk commented on #4562
This probably won't land this weeks milestone, it's actually quite a bit of work and refactoring that is needed to get this working for the legacy legacy devhub page too.

[2018-04-17 17:38] eviljeff commented on #8041
with the two examples of a) developers knowingly uploading offensive content and b) spammers spamming, admins should maybe just be disabling the listing rather than rejecting all versions.  Either way, do we care about inconveniencing such developers?

[2018-04-17 17:52] eviljeff commented on #8041
In the absence of more use cases I'd vote wontfix.

[2018-04-17 18:35] wagnerand commented on #8041
Sorry, there are other cases that require an update on the listing:

1) Missing or incomplete privacy policy
2) Some data practises need to be explicitly mentioned in the description. Since this has been a recent addition to our policies, there a quite many add-ons affected by this.
3) Inappropriate screenshots (not necessarily spam/abusive). This is usually when screenshots use the Mozilla tradem

[2018-04-17 19:58] EnTeQuAk commented on #7808
@pmac Do you have some more information regarding a test server for dev and api keys for dev and stage/prod?

[2018-04-17 20:38] pmac commented on #7808
Oh. Hi. Yes. My apologies for apparently missing a ping a while back. I'm happy to help. Perhaps we should setup a meeting on vidyo or IRC to fully hash out requirements and move from there. I need to know what kinds of requests you expect to send from your various instances.

[2018-04-18 06:40] eviljeff commented on #8065
`addon_count` is value that gets calculated in a task - supposedly after every modification to the collection, so if it's not the same as add-ons you can see in collection edit then something isn't working, I guess.  The count doesn't exclude based on status so, yeah, it wouldn't include disabled/deleted add-ons too.   (Also, I can't see it's called when the add-on's status changes either)

[2018-04-18 06:48] eviljeff commented on #8065
Fwiw, we don't list collections publicly in new frontend, so we could drop it (or stop pre-calculating it at least).  @bobsilverberg is there anywhere we show this value outside of the the collection page itself?

[2018-04-18 07:16] eviljeff opened #8070 "collection slugs can be set to be all numeric when we don't support that in the API"
From mozilla/addons-frontend#4653 - entirely numeric slugs aren't allowed - either for collections or addons - because there's no way to differentiate an ID from a slug in a url. (This was more a policy of consistency until #7529 added the ability to refer to collections by ID as well as slug).

But we don't enforce this in the API for creating/editing a collection so you can end up with an inacce

[2018-04-18 07:28] AlexandraMoga commented on #4562
In order to keep things tidy, I'm going to mark this as verified fixed since it addressed the main request.
For the second scenario, I will file a new bug.

[2018-04-18 07:43] AlexandraMoga opened #8071 "When signing out of /developers/addons the user should land on DevHub homepage instead of AMO"
Follow up for #4562

STR:

1. Log in to Developer Hub
2. Navigate to https://addons-dev.allizom.org/en-US/developers/addons
3. Sign out

Actual result:
User is redirected to AMO homepage when signing out of /developers/addons

Expected result:
User is redirected to DevHub homepage when signing out of /developers/addons

Notes:
reproduced on all AMO servers with FF59, Win10x64

![dev hub log out](h

[2018-04-18 10:16] diox commented on #8065
See https://github.com/mozilla/addons-server/issues/6629 regarding the task being broken

[2018-04-18 10:31] eviljeff commented on #8065
the more reason to just drop the value from the API response and remove it entirely with legacy collection pages :)

[2018-04-18 10:45] bobsilverberg commented on #8065
I have yet to look into it fully, but I think we need it for pagination, even if we do not want to display the number of add-ons in the collection on the details page (although I think we still want to do that as well). Is calculating it on the fly before sending the API response a possibility, rather than storing it?

[2018-04-18 11:00] rafspiny commented on #7135
I would like to contribute on this one, if it is still valid.

[2018-04-18 11:45] AlexandraMoga commented on #8062
Verified as fixed on AMO-stage, with FF59, WIn10x64
Content reviewers are allowed to approve/reject content for an add-on with sources attached.
I've also  checked several additional scenarios involving attached source code and admin flags and the results were as expected.

[2018-04-18 12:25] eviljeff commented on #8065
It's certainly possible, though it's an extra db query per collection, which could get expensive if it were to be included in the list response for a user with many collections.

If it were limited to detail responses then it's acceptable; if it was only needed when the add-ons were included too (i.e. http://addons-server.readthedocs.io/en/latest/topics/api/collections.html#get--api-v3-accounts-ac

[2018-04-18 13:47] AlexandraMoga commented on #6948
One additional note; sometimes, a new flagged review will not appear in the moderated queue unless some older reviews are processed, or another review gets flagged in the meantime

[2018-04-18 13:50] AlexandraMoga commented on #6931
Verified on AMO-stage with FF59, Win10x64
I haven't noticed other problems besides the issue reported in #6948

[2018-04-18 15:37] jvillalobos commented on #6698
@AlexandraMoga Can you please split the DevHub landing page issue into a separate one? The theme edit issue isn't worth fixing now, since we're moving to static themes.

[2018-04-18 17:57] wagnerand opened #8075 "Stop using amo-editors AT mozilla DOT org"
The amo-editors mailing-list has been deprecated for about two years now. Review emails are using a different system and there has been an auto-responder forwarding users to the right process since we started the deprecation.

I have been monitoring the list since it's deprecation and pretty much all emails arriving are spam.

Currently, the list is still referenced in the following places:

* The

[2018-04-18 18:01] jvillalobos commented on #8075
Sounds good to me.

[2018-04-18 22:09] caitmuenster commented on #8075
🚢it

[2018-04-19 08:39] eviljeff opened #8080 "Change theme_data JSON for LWT to be `null` for undefined textcolor / accentcolor"
See #8067 for full background.  In brief, we return `"#"` when `textcolor` or `accentcolor` hasn't been set by the theme designer via the LWT creation wizard, which isn't correct.  We should return `null` instead.

[2018-04-19 09:57] #7936 closed

[2018-04-19 14:32] #8075 closed

[2018-04-19 14:35] wagnerand commented on #8075
STR:

1. Submit a new add-on. Make sure the welcome email doesn't have the `reply_to` header.
2. Send a reviewer or developer reply (using review tools or developer hub). Make sure the sender email is *nobody@mozilla.org*.
3. As a reviewer subscribe to an add-on review (on the bottom of a review page). Submit another version for that add-on. Make sure the notification email you get comes from *nob

[2018-04-19 15:10] ioanarusiczki opened #8083 "A name of a searched collection is not suggested in the list (old pages)"
STR:
1. Load AMO stage and go to Collections
2. Make a search entering the name of a collection in the search field
3. Observe the suggested results

Expected result:
The name of the collection is displayed as the first suggestion in the list.

Actual result:
The collection is not displayed in the list.

Notes:
This issue is reproducible on AMO dev and AMO stage with FF59 (Win10).
Sometimes the li

[2018-04-19 16:43] Callek opened #8084 "Please reduce cron interval for signing addons."
Can we reduce the interval in the sign langpack cron?

Context: Release Engineerings langpack uploads submit a set of language packs and then wait for them to be signed, frequently the task times out after waiting for around 10 total minutes since the API says they are still not yet signed. If we can reduce the cron timing to less than every 10 minutes that should greatly increase the release thro

[2018-04-19 17:00] vcarciu commented on #7972
Verified as fixed in prod.

[2018-04-19 17:01] muffinresearch commented on #8084
@diox would you have any concerns about moving to 5mins?

[2018-04-19 17:06] diox commented on #8084
It should be fine.

[2018-04-20 07:52] #8084 closed

[2018-04-20 08:57] AlexandraMoga commented on #8084
Could you please add some STR or the label "qa:not needed"?
Thank you

[2018-04-20 09:29] bjherbison commented on #8062
When will this get deployed? I thought deployment day was Thursday but I still can't review content for many add-ons.

[2018-04-20 09:55] wagnerand commented on #8062
This was deployed yesterday. Let's follow up on IRC.

[2018-04-20 10:32] diox commented on #8084
@AlexandraMoga make sure addons are now auto-approved every 5 minutes instead of 10.

[2018-04-20 11:19] muffinresearch opened #8090 "Document how search works"
We have a number of bugs filed regarding search. It would be good to document in simple terms the various steps that are used by search that inform how it works.

This should provide examples of each step e.g. removal of stop words and stemming and any other specific details that would be relevant.

[2018-04-20 12:31] EnTeQuAk commented on #1416
This never got implemented and probably won't in the near future, looking at #1415, stats need a entirely different solution at some point that make them more scalable and usable. Archiving isn't one of them, rolling up data etc should be more future-proof.

[2018-04-20 12:31] #1416 closed

[2018-04-20 12:48] EnTeQuAk commented on #7990
@diox I may need a second opinion about my idea how to "fix" this:

Now, given that we force random slugs for unlisted add-ons these days but still have tons of unlisted add-ons with old, incremented slugs (e.g addblock-plus-99 etc) we need to make sure that an upload of an add-on with the same name at least doesn't throw a server error.

So, I'd like to simply increment `MAX_SLUG_INCREMENT` to `9

[2018-04-20 12:51] diox commented on #7990
I don't have strong opinions one way or the other. It feels ugly, but it may be enough...

[2018-04-20 12:55] EnTeQuAk commented on #7745
I don't see the reason behind this. Since you're able to lint the langpacks locally too you get about 90% of the checks that we do and can make sure that the langpacks are in good quality.

Given that you shouldn't need an override parameter, that just opens the door for more folks asking about something like that and lessens the control over quality that we have. If you have any specific issues,

[2018-04-20 12:57] EnTeQuAk commented on #7515
Not so easy, unfortunately, this needs to be done carefully since the messages retrieved from the linter are saved in the database and have to be readable by a reviewer too.

So, if the user submits his add-on with a French locale we have to save both versions somehow or - much much more complicated - sync the localized strings to addons-server and translate them on demand. I'm not sure what path

[2018-04-20 13:17] muffinresearch commented on #7745
@Callek See the responses above. Are the any specific linting issues you're regularly hitting that we can look at fixing?

[2018-04-20 13:34] AlexandraMoga commented on #5931
I've checked several add-ons with public stats and the Download by Source count is showing similar results for the past few days.
Here is an example for Adblock Plus:
![image](https://user-images.githubusercontent.com/31961530/39053789-8ab00614-44b8-11e8-9180-2ef719d5d2fa.png)
Marking issue as verified fixed om AMO-prod with FF59, WIn10x64

[2018-04-20 15:48] EnTeQuAk commented on #7808
@jvillalobos just to clarify: The salesforce <-> basket integration will only be happening for developer announcements, I won't touch any of the other notification-types (e.g "my add-on is reviewed by a reviewer", "someone writes a review of my add-on" etc). We can implement them incrementally but I guess they're less relevant from a legal perspective? Can you confirm that?

[2018-04-20 16:01] caitmuenster opened #8093 "Update DevHub"
It's been awhile since we've updated https://addons.mozilla.org/developers/. Here are some changes to the "What's New" box for the month of May. (We'll try to submit updates to the Dev Hub on a monthly basis.)

![screen shot 2018-04-20 at 8 59 00 am](https://user-images.githubusercontent.com/23342476/39061443-1884d658-4479-11e8-9a33-a62ea9c75319.png)

**Column 1:**
Replace “What’s New” with “Get S

[2018-04-20 16:03] jvillalobos commented on #7808
Correct. We only care about the development announcements at present.

[2018-04-20 18:05] bjherbison opened #8094 "Content Review list should only show add-ons where Approve Content will be shown"
As a content reviewer I don't want to waste my time on add-ons which I can't review. When an add-on is flagged "Needs Admin Code Review" the add-on is still show in the Content Review list, but "Approve Content" isn't one of the options.

I tried to [review rested](https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/rested) and after looking the add-on over I went down to the actio

[2018-04-21 10:41] wagnerand opened #8099 "Remove all beta-versions code"
This is the last part of #7163.

We need to remove all code handling beta-versions.

QA:
Testing information are a bit hard to give since beta versions touch a lot of places. Please do a complete cycle of add-on submission, devhub check, listing check, add-on review, new version submission etc.

[2018-04-22 02:45] W1LD0WL opened #8104 "https://addons.mozilla.org/en-US/firefox/user/w1ld0wl/"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2018-04-23 05:25] EnTeQuAk commented on #7991
I solved this in https://github.com/mozilla/addons-server/pull/8091 but linked to the wrong issue. We decided to step back from statistics archiving and are not saving any more data to EFS. We also removed the respective views.

Let's give this code a week to land properly and see if there were any actual users we didn't notice in DataDog or NewRelic and if not let's get rid of the archived stats

[2018-04-23 05:25] #7991 closed

[2018-04-23 06:05] EnTeQuAk commented on #7990
It does feel ugly but we need a limit and cleaning up existing slugs feels much more like a no-go. I'll get this done for this weeks push.

[2018-04-23 06:46] AlexandraMoga commented on #7991
Could you please add STR or the label "qa:not needed"?
Thanks

[2018-04-23 09:01] ioanarusiczki commented on #8093
Verified fixed on AMO dev with FF59 (Win10).

![get started](https://user-images.githubusercontent.com/33448286/39116764-e9acdc5a-46ed-11e8-8180-94163d7fb18f.png)

[2018-04-23 10:12] #8027 closed

[2018-04-23 13:07] AlexandraMoga commented on #8075
Verified on AMO-dev, with FF59, Win10x64 via the Fake mail log:
1. The welcome email sent to new users at their very first add-on submission doesn't contain a `reply_to` header (see email log [#5378](https://addons-internal.dev.mozaws.net/en-US/admin/mail#msg-5378))
2. @wagnerand I have left reviewer/developer replies and in all cases the notification was coming from <notifications@addons-dev.alli

[2018-04-23 14:50] wagnerand commented on #8075
Thanks for testing.

Point 2 is fine.

[2018-04-23 17:49] piyushmittal25 commented on #8093
@caitmuenster @EnTeQuAk  @AlexandraMoga @ioanarusiczki  @jvillalobos @robhudson
I am new to https://mozillians.org/ and I think you all help me in voching me. So, please Vouch me ,link: [https://mozillians.org/en-US/u/piyushmittal25/](https://mozillians.org/en-US/u/piyushmittal25/)

[2018-04-23 21:16] andymckay opened #8112 "Duplicate host permissions on AMO"
### Describe the problem and steps to reproduce it:

Visit https://addons.mozilla.org/en-US/firefox/addon/okta-verify-auto-send/

### What happened?

Note that the permissions look like below:

<img width="397" alt="screen shot 2018-04-23 at 2 14 53 pm" src="https://user-images.githubusercontent.com/74699/39153710-c3f06aa0-4700-11e8-8b14-e03c2359e0ac.png">

### What did you expect to happen?

More

[2018-04-23 21:25] caitmuenster commented on #8093
You're all vouched, @piyushmittal25! 🎉

Welcome onboard. I look forward to seeing you around the project.

[2018-04-24 02:36] deepanshu-jain1999 commented on #7783
I want to work on this issue.

[2018-04-24 05:26] powert9n opened #8114 "Broken link to old versions of ColorfulTabs"
### Describe the problem and steps to reproduce it:
On the ColorfulTabs add-ons page (https://addons.mozilla.org/en-US/firefox/addon/colorfultabs/?src=search), in the "About this extension" section, there is a link that is supposed to take me to previous versions of the extension.  The information on the page says "Previous versions are available at https://addons.mozilla.org/en-US/firefox/1368/hi

[2018-04-24 08:08] jvillalobos commented on #8114
That link was included by the add-on author in the description, so we can't really change it for him. The link should actually point to https://addons.mozilla.org/addon/1368/versions/. Try contacting the author to get that fixed.

[2018-04-24 08:08] #8114 closed

[2018-04-24 10:27] psiinon opened #8117 "Support SameSite cookie attribute on sessionid"
### Describe the problem and steps to reproduce it:

Firefox 60 introduces support for the SameSite cookie attribute: https://blog.mozilla.org/security/2018/04/24/same-site-cookies-in-firefox-60/
This provides significant protection against CSRF vulnerabilities and so it should be applied to the sessionid cookie.
It looks like its been added to Django https://code.djangoproject.com/ticket/27863 bu

[2018-04-24 10:33] eviljeff commented on #7783
@deepanshu-jain1999 great - this should just be a css fix

[2018-04-24 10:48] diox commented on #8117
You beat me by 20 minutes :)

I'd love to get this, we need to evaluate how much work (and how much of a hack) it is to get it now cause it's going to take us a while to get to Django 2.1 even if it were to be released right now.

[2018-04-24 10:51] diox commented on #8117
Also, we want this on the API cookie as well, which is different than the session one (it's essentially a separate session token)

[2018-04-24 11:05] psiinon commented on #8117
:+1:

[2018-04-24 12:58] diox opened #8118 "Implement recommendations API with A/B"
We need an API that returns add-on recommendations from a single guid. We want to do A/B testing on this so it also needs some way for the frontend to ask for a fallback list of add-ons instead, managed by addons-server, which is the "B" side of things.

Rough implementation plan:
- inherit from `AddonSearchView`
- implement different filter_backends: keep `ReviewedContentFilter` but add a custom

[2018-04-24 13:38] AlexandraMoga commented on #7986
I've sent several requests using multiple add-on types in the same call and the api returned values for all the  types requested
Here is an example used:
[code]
Marking this as verified fixed on AMO-dev

[2018-04-24 14:30] ioanarusiczki commented on #8027
I verified this issue on AMO dev with FF59 (Win10).
Activity log types can be distinguished on the review page and logs page.

Super-review requested from Auto Approved add-on queue
![addon review](https://user-images.githubusercontent.com/33448286/39193630-b87facaa-47e4-11e8-80b4-b243cbab10ba.png)

Super-review requested from Content review queue
![content review](https://user-images.githubuserco

[2018-04-24 19:17] #8099 closed

[2018-04-25 10:27] #7524 closed

[2018-04-25 12:09] diox commented on #8112
That add-on has the following permissions set:

[code]

Guess Firefox simplifies that to a single domain, we should as well. Not sure it should be done on the server though, we might want to keep the API closer to the truth and have the frontend just display a simplified output to the user.

[2018-04-25 14:01] AlexandraMoga commented on #7936
I have tested this by enabling the "Save Collection" button from DevTools and entering only blank spaces in the collection name field. The form can't be saved unless actual characters are provided.

Marking as verified fixed on AMO-dev with FF59, Win10x64

![white space coll](https://user-images.githubusercontent.com/31961530/39250669-011f8b04-48aa-11e8-97f1-e138be90bc84.gif)

[2018-04-25 14:06] EnTeQuAk opened #8124 "Allow tracking cache-requests in tests"
Implement a request log for tests to count cache requests as part of #7743

See #7743

[2018-04-25 14:07] diox opened #8125 "Add setting to disable cache-machine on dev"
As part of the work to remove cache-machine (#7743) we need to add a setting to disable it on dev and dev only for now.

[2018-04-25 14:07] EnTeQuAk commented on #8124
Fixed in https://github.com/mozilla/addons-server/pull/8122

[2018-04-25 14:07] #8124 closed

[2018-04-25 14:07] diox commented on #8125
Fixed in c3e6d3cc1fa46f0298a4c008a441f50fc3701df9 (#8123)

[2018-04-25 14:07] #8125 closed

[2018-04-25 14:08] diox commented on #8125
QA: no specific things to check, so just make sure there is nothing new broken while browsing the site on dev.

[2018-04-25 15:30] eviljeff opened #8128 "Fix migration 1010"
16:48 philipcristiano> 2018.04.12 had migrations 1009 and 1011
16:54 eviljeff: "Any migration file with a number greater than the current version will be applied to the database and the version tracker will be upgraded." -https://github.com/mozilla/schematic
16:55 So merging 1011 first updated the version to 1011, then 1010 wouldn't be run because it was lower than the current version

16:59 evilj

[2018-04-25 15:36] eviljeff commented on #8128
gonna dupe this to mozilla/addons#705

[2018-04-25 15:36] #8128 closed

[2018-04-25 21:25] caitmuenster commented on #8036
Apologies, @erosman, this fell off my radar.

I'm fine with updating the legacy points to reach parity with WebExtensions (as it does seem like we could use some more help reviewing Thunderbird extensions in the queue, at least until the TB fork of AMO finalizes -- @kewisch, do you know when that is expected to happen?), but I don't think we'll be able to allocate engineering resources to it. :/ I

[2018-04-26 02:55] deepanshu-jain1999 commented on #7783
Thanks

On Tue, 24 Apr 2018, 4:03 pm Andrew Williamson, <notifications@github.com>
wrote:

[2018-04-26 04:35] erosman commented on #8036
IMHO, it is a really small change. It is not like the multi-tier Post Preview system (although that shouldn't pose a challenge either).

Currently, updates are set to 80 and new reviews to 120 (and 30 for search plug-ins and 60 for dictionaries) AFA I recall.
There is a single line of code that set the figure of 80 (wherever it is) and changing the 80 to some other figure is quite a minor change.

[2018-04-26 04:38] deepanshu-jain1999 commented on #7783
It seems in this way on linux .

![issue](https://user-images.githubusercontent.com/31172305/39286083-98c03c1c-4939-11e8-8628-86834a6658dc.png)

[2018-04-26 07:57] muffinresearch commented on #8112
Closing as this is now moved to https://github.com/mozilla/addons-frontend/issues/4871

[2018-04-26 07:57] #8112 closed

[2018-04-26 08:31] deepanshu-jain1999 commented on #7783
Thanks I got it . Actually I am new to open source. So I feel afraid how to do it. Please help me where I will get this issue in project. Is this problem specific to window 10 user because it seems fine on linux

![newissue](https://user-images.githubusercontent.com/31172305/39293949-f7a26b6a-4957-11e8-9d31-51adcb743b87.png)

[2018-04-26 10:15] wagnerand opened #8134 "Don't use "Action Required" for emails to reviewers because it breaks threading."
#7366 asked for updating the subject to make it clear to developers that action is required on their side. However, this breaks threading for reviewers, especially for staff that is supposed to follow up with lose ends.

For need-info emails, the developer should keep getting the email with "Action Required" in the subject, but reviewers shouldn't to prevent breaking the threading in email clients

[2018-04-26 13:44] diox opened #8136 "Signing API seems to sometimes consider a version is not attached to a file upload for some time"
@Callek is having an issue where after using the signing API to create a new version, somehow for a little while the API returns that there are no files attached to the upload, preventing him from downloading the signed file.

Logs: https://taskcluster-artifacts.net/eX0G8c2OT2O22G1kgllNGA/0/public/logs/live_backing.log

[2018-04-26 13:53] #8118 closed

[2018-04-26 16:31] eviljeff opened #8139 "Freeze the v3 API; create a v4 API"
Firefox 60 uses the v3 api so we can't make any breaking changes.  So we're going to freeze the v3 api and create a v4 endpoint.  v4 will immediately be the same as v3, but will in the future have breaking differences.
Round table discussion points:
* we'll use feature flags to control the differences.  These could be flags in the serializers or in the views.
* documentation will update to referen

[2018-04-26 16:49] devaneymoz opened #8140 "Replacement Recommenation tool not accessible"
We're still utilizing the **legacy -> WebExtensions** replacement recommendation tool. However, it appears some recent back end changes have made it inaccessible to me—the content wrangler of said tool.

The tool used to be accessible via here:

https://addons-internal.prod.mozaws.net/admin/staff-models/addons/replacementaddon/add/

But I believe changed to here:

https://addons-internal.prod.moza

[2018-04-27 11:51] AlexandraMoga commented on #8118
I've tested this by using the new add-on recommendation endpoint (`/api/v3/addons/recommendations/`) to send requests to the -dev server. I've applied the parameters mentioned in the [API docs](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#recommendations) and checked the response values.

I'm not sure if this has to do with the amount of data available on -dev, but most of

[2018-04-27 14:25] eviljeff commented on #8118
yeah, I expected a lot of blank results too, similar to the discopane TAAR feature - TAAR is returning guids but if they aren't available on amo-dev then their details aren't returned.
What's happening underneath is the guid passed to our API is being passed along to https://taar.dev.mozaws.net/taarlite/api/v1/addon_recommendations/<guid>/

to double check it's just missing addons you could try to

[2018-04-27 14:34] diox commented on #8140
It did change, sorry, I forgot to let you know. Obviously the "Oops" isn't intended though... Could you retry and let me know if that's still happening ?

[2018-04-27 15:16] ioanarusiczki commented on #8134
@wagnerand I tested this issue on AMO dev with FF59 (Win10) using the fake mail from admin tools.
The "Action Required" is not in the subject of the email when reviewers receive replies from developers.
Problem is that when the reviewer replies, the email sent to the developer doesn't have the "Action Required" title either. I tried testing it making a reviewer reply from Auto Approved Add-ons que

[2018-04-27 16:09] eviljeff opened #8144 "Drop rating title"
New frontend doesn't allow you to set a rating title, so we're going to drop it from the model and database (and thus in legacy frontend too)

[2018-04-27 16:40] muffinresearch commented on #8144
Presumably this is blocked on switching fully to the new frontend?

[2018-04-27 16:49] eviljeff commented on #8144
I was going to drop it entirely, from legacy frontend too.

[2018-04-30 07:28] AlexandraMoga commented on #5895
I think this can also be closed by #8115

[2018-04-30 09:09] wagnerand commented on #8134
I believe this is ok, since "Action Required" should only be part of the subject when the reviewer sends a reply from within the reviewer tools page and checks the "Require developer to respond in less than … days".

[2018-04-30 09:48] ioanarusiczki commented on #8134
Yes, apparently I checked the wrong e-mail
The author receives "Action required"
![the right email](https://user-images.githubusercontent.com/33448286/39422086-a8d1e338-4c74-11e8-8221-77298139109e.png)

This is verified fixed on AMO dev with FF59 (Win10).

[2018-04-30 09:48] #5895 closed

[2018-04-30 10:39] diox opened #8147 "Remove plugin finder service code"
Any support for PFS, the Plugin Finder Service, has been removed from Firefox a while ago. We still have code dealing with that however, `services/pfs.py`, and possibly some nginx rules going with that. We should remove all that.

Relevant links:
- https://www.fxsitecompat.com/en-CA/docs/2014/plugin-finder-service-has-been-shut-down/
- https://wiki.mozilla.org/PFS (points to https://pfs.mozilla.or

[2018-04-30 10:46] diox commented on #8147
Can't find any `z.pfs` occurrences in the logs either FWIW.

[2018-04-30 11:29] AlexandraMoga commented on #5895
Verified as fixed on AMO-dev with FF59, WIn10x64 and Android 7.0
Also see results from #7524

[2018-04-30 11:35] #8147 closed

[2018-04-30 11:59] ioanarusiczki commented on #8147
Could you please add some STR or add qa not needed label?
Thank you!

[2018-04-30 13:47] #8070 closed

[2018-04-30 13:48] eviljeff commented on #8070
Fixed by removing the lookup by ID function in the API.  Slugs can be all numeric again.

[2018-04-30 14:04] diox commented on #7223
@jvillalobos Since even the oldest supported versions of Seamonkey and Thunderbird are based off Firefox 45 or newer, can we drop support for RDF update manifests entirely? I'd be a lot easier to write and test the patch that way.

[2018-04-30 14:59] ioanarusiczki commented on #8125
I checked AMO dev with FF59(Win10 and Android 8.0).  I'm marking it verified fixed.
Went through:
- search
- amo homepage and the features from the drop down menu below username, detail pages for an add-on/lightweight theme
- dev hub
- rev tools

[2018-04-30 15:22] eviljeff opened #8150 "Allow both static themes and lightweight themes to be requested with type=persona?"
#7986 added the ability to request a comma-separated list of types in the API and for frontend to use it there are two options:

A) use the feature in #7986 directly and change the API requests in frontend from `type=persona` to `type=persona,statictheme`.
B) have a request of `type=persona` from the API be interpreted as `type=persona,statictheme`.

[2018-04-30 21:36] caitmuenster commented on #8094
Hey @wagnerand -- I'm also not sure what's causing the block. :) Could you give us a quick summary?

[2018-05-01 02:08] devaneymoz opened #8153 "May 2018 Disco Pane content update"
For the **17 May** push, here's the full page content line-up for Disco Pane...

**Distortion** by [DarkHunt3r](https://addons.mozilla.org/firefox/addon/distortion/)

**Ad blocking & privacy protection** with [Ghostery by Ghostery](https://addons.mozilla.org/firefox/addon/ghostery/)
A simple set-up lets you take control of the ads you see and how you’re tracked on the internet.

**Re-imagine tabs*

[2018-05-01 18:56] bobsilverberg opened #8154 "The recommendations API is not returning curated results"
STR:

Look at the response from https://addons-dev.allizom.org/api/v3/addons/recommendations/?guid=%7B9D6218B8-03C7-4b91-AA43-680B305DD35C%7D&recommended=false&lang=en-US&wrap_outgoing_links=true

Expected:

The results array should contain the 4 curated add-ons.

Actual:

The results array is empty.

Note that the same thing happens if you change `recommended` from `false` to `true`. The outcome

[2018-05-02 05:08] EnTeQuAk commented on #8139
We'll need to configure http://www.django-rest-framework.org/api-guide/versioning/#urlpathversioning or http://www.django-rest-framework.org/api-guide/versioning/#namespaceversioning - both do the same thing, I think I like `NamespaceVersioning` better

My proposal back what I meant with feature-flags is something like https://gist.github.com/EnTeQuAk/6ef738f5f467d06f686a5ed7cdac5fcc - which I use

[2018-05-02 07:36] ioanarusiczki opened #8156 "Two or more add-ons with the same name can be submitted"
Prerequisites:
User is logged in

STR:
1. Go to dev hub and submit an add-on.
2. Submit a new add-on using the same name.
3. After they're auto approved go to AMO homepage and make a search.
4. Observe results.

Actual results:
The search returns two add-ons with the same name.

Expected results:
User should be warned during submission that the name already exists and he should change it to avoid

[2018-05-02 07:43] AlexandraMoga commented on #8070
Test results:
1. Requested a collection by slug - collection details returned
`https://addons.allizom.org/api/v3/accounts/account/amoga1/collections/spring-is-in-the-air/`
2. Requested _the same collection_ by ID - collection details not found
`https://addons.allizom.org/api/v3/accounts/account/amoga1/collections/5744645/`
3. Created and edited a collection with a numeric slug on the frontend and

[2018-05-02 08:40] eviljeff commented on #8139
now we're going to have to come up with feature names like "break_this_bit_of_the_api_to_fix_issue_1234" 😛

[2018-05-02 08:41] eviljeff commented on #8156
Not sure that's a bug, rather a long term feature.  @jvillalobos to confirm.

[2018-05-02 08:56] eviljeff commented on #8154
3 of them are there now (and `uBlock0@raymondhill.net` doesn't seem to exist on -dev) so it _does_ appear to be caching, or more likely a delay in elasticsearch indexing.  The question is how long it took after you added them...

[2018-05-02 10:09] eviljeff commented on #7223
@jvillalobos once we've removed legacy xul addons from AMO in Q3 they can't get security updates either, so we're just left with the edge case of very early webextensions from Firefox 42.  Is Firefox 42-44 using alpha quality webextension APIs and addons enough of an edge case to ignore (in Q3)?

[2018-05-02 10:11] diox commented on #7223
Looking at MDN, before Firefox 45 WebExtensions could not do much at all. Firefox 45 is when they started being really able to do interesting things. Before that, they could not intercept requests, manipulate tabs or windows, have actions etc.

[2018-05-02 11:33] diox commented on #8154
Were they just not public at the time? It takes a few minutes for auto-approval to make new submissions public.

[2018-05-02 11:57] eviljeff commented on #7847
@jvillalobos can you confirm which LWT statuses we will be migrating?  Personas can have the following statuses:
    STATUS_NULL: _(u'Incomplete'),
    STATUS_PENDING: _(u'Pending approval'),
    STATUS_PUBLIC: _(u'Approved'),
    STATUS_DISABLED: _(u'Disabled by Mozilla'),
    STATUS_DELETED: _(u'Deleted'),
    STATUS_REJECTED: _(u'Rejected'),
    STATUS_REVIEW_PENDING: _(u'Flagged for further re

[2018-05-02 12:01] eviljeff commented on #7847
@jvillalobos another question: localisation - in theory LWT could have been localised (name and description are TranslatedFields; the Persona wizard has a l10n selector) but generating localised xpis is more difficult, and more likely to result in broken output given the state of some localisation.

[2018-05-02 14:53] bobsilverberg commented on #8154
I'm pretty sure it was at least 30 minutes or more after I added them, but no worries. They are appearing now. I wasn't able to add the one for uBlock. I'll ping @eviljeff about that in IRC. This can now be closed.

[2018-05-02 14:53] #8154 closed

[2018-05-02 15:14] wagnerand commented on #8094
If the add-on has sources attached, then content-review can be done by regular content-reviewers. This was done in #8062.

[2018-05-02 15:28] eviljeff commented on #8083
If this is just affecting legacy frontend I'm going to wontfix because we don't have the ability to search collections at all in new frontend.

[2018-05-02 15:28] #8083 closed

[2018-05-02 15:30] jrbenny35 opened #8157 "Add fxa account options to createsuperuser script"
It would be great if we could create a superuser and have an fxa account tied to that.

[2018-05-02 15:34] jrbenny35 commented on #8157
Looking [here](https://github.com/mozilla/addons-server/blob/master/src/olympia/users/models.py#L102) it seems there is a ```username``` and ```fxa_id``` option, as per @EnTeQuAk comments on IRC.

[2018-05-02 15:40] eviljeff commented on #6698
(I edited the issue to remove the references to the theme edit page)
mentor: me

[2018-05-02 16:04] bjherbison commented on #8094
An example of a current add-on in the content review queue which where there is no "Approve Content" action link for me:
https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/cisco-jabber-guest
It has flag Needs Admin Code Review, but as I noted in an earlier comment that flag doesn't always cause Approve Content to be hidden.

[2018-05-02 16:10] wagnerand commented on #8094
That add-on is pending admin code review and doesn't have sources attached so it must be reviewed by an admin.

[2018-05-02 16:41] diox commented on #8140
I've been given access and it's working for me using https://addons-internal.prod.mozaws.net/en-US/admin/models/addons/replacementaddon/ ; previously I was seeing a not allowed error, as expected.

@jvillalobos noticed that @devaneymoz wasn't in the right group, so it should fix itself once he is.

[2018-05-02 17:02] eviljeff commented on #7783
@deepanshu-jain1999
The problem isn't OS specific, but is specific to RTL locales (e.g. Arabic, Hebrew, Urdu, etc).  I should have linked to one of those pages to demonstrate, e.g. https://addons-dev.allizom.org/ar/developers/addon/submit/wizard-listed

[2018-05-02 17:04] bjherbison commented on #8094
So it either should either have Content Approve available, or not be in the list of items to be content reviewed.

[2018-05-02 17:12] wagnerand opened #8158 "Add-on deletion emails are no longer sent"
We used to get an email when an add-on gets deleted. Those emails stopped on Nov 6, 2017.

The code is still there (https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/models.py#L514) so I am not sure what broke.

[2018-05-02 18:04] muffinresearch opened #8160 "How do add-ons end up with no author?"
Following on from https://github.com/mozilla/addons-frontend/issues/4907 it would be good to understand the paths that allow an add-on to get to a state without an author.

Presumably this isn't a desirable stat? If there are bugs allowing it we should look to fix them so it's not possible to get to this state.

<img width="1169" alt="the_pirate_bay_search____add-ons_for_firefox" src="https://user

[2018-05-02 18:14] diox commented on #8160
We have https://github.com/mozilla/addons/issues/422 filed already, we might want to dupe one way or the other.

[2018-05-02 19:42] jvillalobos commented on #7223
That's late August at the earliest, so still some time away.

I agree that early WebExtension add-ons aren't a major concern.

[2018-05-02 19:46] jvillalobos commented on #8156
We allow duplicate names for unlisted add-ons, but not listed ones. Maybe we're not making name checks when it's the same user because they are allowed to re-submit previously deleted add-ons? That would still make this a bug, though.

Not sure what feature @eviljeff is referring to.

[2018-05-02 23:09] diox commented on #7223
But legacy add-ons on Firefox 45+ would still get the security updates if we completely switch to JSON.

The number of add-on authors still maintaining a legacy version of their add-ons is already probably quite small (since it means maintaining 2 versions or giving up on ever getting new users), supporting the even smaller number of people that use an obsolete version of Firefox *and* have one of

[2018-05-02 23:25] diox commented on #8156
We killed name uniqueness checks for listed uploads a year ago in https://github.com/mozilla/addons-server/issues/4095 :)

[2018-05-03 05:31] deepanshu-jain1999 commented on #7783
Thanks I got it. It should be in this style
![solved](https://user-images.githubusercontent.com/31172305/39561084-f60501b4-4ec0-11e8-9994-6555565545bd.png)

I have done it on browser . Now I am going to implement it inside project

[2018-05-03 06:01] EnTeQuAk commented on #8139
:rofl: :innocent:

[2018-05-03 08:09] muffinresearch commented on #8160
@diox yep I'll dupe this to the older bug.

[2018-05-03 08:09] #8160 closed

[2018-05-03 09:30] rctgamer3 commented on #7059
This wasn't fixed, the page still contains elements relevant to the page, such as the new radio buttons for listed/unlisted.

[2018-05-03 09:47] rctgamer3 commented on #7059
Follow up: Seems good as-is right now, maybe drop part of the bold text.

[2018-05-03 09:52] eviljeff commented on #8156
I forget I did that in 2016 🙄, heh.  Closing as the kill order was given and carried out.

[2018-05-03 09:52] #8156 closed

[2018-05-03 10:53] eviljeff opened #8164 "replace amo.utils.no_translation with django's translation.override"
less custom cruft plz

[2018-05-03 11:56] #8164 closed

[2018-05-03 13:56] AlexandraMoga opened #8166 "Unbroken strings in add-on name are causing layout issues on DevHub landing page"
Split up from #6698

STR:
1. Log in to Developer Hub - https://addons-dev.allizom.org/en-US/developers/
2. Submit a new add-on with a long unbroken name
3. After submission, go back to DevHub landing page

Actual result:
The addon name is not wrapped causing layout issues on the DevHub landing page

Expected result:
Unbroken add-on names should be wrapped on DevHub landing page

Notes
Reproduced o

[2018-05-03 13:57] AlexandraMoga commented on #6698
I have filed #8166 for the DevHub landing page issue

[2018-05-03 20:07] ghost opened #8169 "[Question] What happened to the Statistics API?"
### Describe the problem and steps to reproduce it:
I was about to work on a project which relies on the AMO Stats API. I saw sometime last week there was documentation for this API ([here's a Wayback Machine link to said documentation](https://web.archive.org/web/20170930213829/http://addons-server.readthedocs.io:80/en/latest/topics/api/stats.html)). When I checked this week, the Stats API seems

[2018-05-04 03:14] EnTeQuAk opened #8172 "Remove unused 'notifycompat' and 'notifyevents' from UserProfile"
Looks like they were added in 2010 in de8c6ef38af16ddbe4e761ab4db1f0c2eeb9b7a6 but never used.

[2018-05-04 07:49] deepanshu-jain1999 commented on #7783
When I signup on the project locally it redirect to "refuse to connect ". What am i doing wrong?

[2018-05-04 10:46] eviljeff commented on #7783
That's quite a vague error and impossible to debug without more details.  If you visit the #amo irc channel we might be able to suggest something.

[2018-05-04 11:10] deepanshu-jain1999 commented on #7783
Yes I have posted on    http://disq.us/p/1s9bdf6

[2018-05-04 14:51] Callek opened #8179 "Support unlisted => listed promotion, without resigning"
This is just one of the possible ways to help release engineering's use cases with automatically submitting addons to AMO for signing.

Background
----------------

Release engineering does:

1. Builds release version of firefox about 1 to 2 weeks ahead of the release date
1. Submits Language Packs to AMO on the initial build date
1. Takes those language packs and bundles them with some build type

[2018-05-04 14:57] Callek opened #8180 "Do not mark an addon as incompatible if there is a previous version that is compatible."
Currently if you visit addons.mozilla.org and look at language packs, with Firefox 59, you'll see `This add-on is not compatible with your version of Firefox.`

Though in the "More Versions" link at the bottom left you will see a compatible version.

This is because language packs all set min_version and max_version to be very restrictive (only one major version of Firefox) rather than allowing a

[2018-05-04 15:02] #8157 closed

[2018-05-04 15:03] Callek opened #8181 "Support pre-filling in data required to list an addon, without needing to upload an addon as listed at the same time"
During release engineering's process right now, we have langpacks that we submit as "unlisted" on beta, and then on release (release candidates) we submit them as listed.

This has the downside that for any language pack that has not been listed prior to now, we have a human-effort blocked process in the release pipeline.

We should either be able to populate that metadata via API at first listed

[2018-05-04 15:06] Callek commented on #8180
Note: that in implementing a fix this, we might want to be careful here though, since for example: https://addons.mozilla.org/en-US/firefox/addon/shqip-language-pack/versions/ has a version that is compatible with 61beta, and 62a1 all the way down... That version is 38.0.5

[2018-05-04 15:10] wagnerand commented on #8179
The review process is very different for unlisted vs listed. Also, there are different and conflicting validation rules.

[2018-05-04 15:11] diox commented on #8180
This was deemed too complex to implement for the general add-on population in the past - AMO relies heavily on the concept of `current_version`, which is the latest publicly available version.

Specifically for langpacks though, we can do something. The [language tools API](http://addons-server.readthedocs.io/en/latest/topics/api/addons.html#language-tools), if the `appversion` parameter is passed

[2018-05-04 15:14] Callek commented on #8179
@wagnerand In my mind, AMO could treat this as "your thing already passed unlisted, and is fine that way, but since you want to list it now, lets start over and validate it all"

So we'd send it through all the validation rules for listed, we'd do the review process from scratch, etc. and only when everything passes we'd offer it on AMO itself, but the only magic difference being no need to re-sig

[2018-05-04 15:59] wagnerand commented on #8179
In lots of cases files won't pass because they use an `update_url` which is forbidden in listed versions.

[2018-05-04 16:54] jvillalobos commented on #8179
We decided not to support this back when we started signing add-ons.

Given the very specific requirements language tools have and will have in the future, we should seriously consider whether AMO is the right place for them.

[2018-05-04 16:54] #8179 closed

[2018-05-04 21:40] Callek commented on #8180
@diox - Would this help in the situation of a user visiting: https://addons.mozilla.org/en-US/firefox/addon/ca-language-pack/ as opposed to *just* visiting https://addons.mozilla.org/en-US/firefox/language-tools/

I ask because the latter page seems to be what you're referring to but the former page is what the latter links to.

[2018-05-04 22:25] diox commented on #8180
What I'm saying is that we implemented something like this in the API for the language tools page, so we could implement something like this for the detail page as well *but only for langpacks*. We'd still have to consider UX here though, cause it'd be an exception to the way we offer versions for other add-ons.

[2018-05-05 05:04] Jerry7161 opened #8186 "Page not found"
Click on link (https://www.downloadhelper.net/support) at Video DownloadHelper Q&A
and received the page not found message.  Please File an Issue.
I am trying to find out how to enable H264 codec operation on Linux.

[2018-05-06 06:40] #8186 closed

[2018-05-06 09:11] EnTeQuAk commented on #8068
What is the "correct" time zone in this regard? We don't have a user timezone unless we introduce this as a setting, otherwise we're using UTC as far as I know.

[2018-05-06 13:29] spixy opened #8187 ""You are missing description" but description is filled"
Edit: this issue is fixed, see [my comment](https://github.com/mozilla/addons-server/issues/8187#issuecomment-386880051)

### Quick description
When I want to change default language, I am getting error "You are missing description" but description is filled (see image).

### What happened?
I made an addon in english as default language.
I added more languages.
I chose **Portugal** as default lang

[2018-05-06 13:37] spixy commented on #8187
Problem solved. It must be done in two steps:
1. write description and press **Save changes**
2. change default language and press **Save changes**

However, this should be fixed.

[2018-05-06 17:23] HaKDMoDz opened #8188 "Missing 'Coffee Mug' Firefox Extension Download Page"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

**Operating System:  Kali Linux 2.4
Browser:   Firefox Quantum 64bit version 60**

### What happened?
**https://shaneliesegang.com/projects/coffee.php**
directed my browser to
**'https://addons.mozilla.org/en-US/firefox/2677/'**

### What did you expect to happen?

Expecting to be taken to '**Coffee

[2018-05-06 19:37] rctgamer3 commented on #8188
This is not an AMO bug. The developer simply forgot to include **/addon/** in the URL.
https://addons.mozilla.org/en-US/firefox/addon/2677/

[2018-05-06 20:11] #8188 closed

[2018-05-07 06:34] EnTeQuAk commented on #8169
I removed the statistics API as part of https://github.com/mozilla/addons-server/issues/7991 because it was unused and hasn't been thought through when we originally implemented it.

While we're at it, what are you trying to solve with a statistics API? That might help thinking about another implementation in the future.

[2018-05-07 09:15] wagnerand commented on #8068
What I meant is that we should just set `default=timezone.now` for `created`, so that it override the parent and we can synchronize the timestamps for the same event in the activity logs.

[2018-05-07 12:01] diox opened #8191 "Implement basic user admin page"
Split from #7268, this issue is about implementing the base user admin page without the special actions that will be available depending on permissions (those will be implemented in a separate issue after this one is done).

Users with `Users:Edit` should see all user data in the admin page:
  * User ID.
  * Email address.
  * Link to profile page.
  * Metadata: username, description, image, locat

[2018-05-07 12:02] diox commented on #7268
I've split the base admin tool in #8191 and will start with that first, then implement the actions on top of it once it's built:

[2018-05-07 12:09] diox commented on #8150
I don't think returning static themes when type=persona is requested is a good idea, since their responses are completely different.

[2018-05-07 13:10] AlexandraMoga opened #8192 "Add-on submission is stuck in validation state on AMO-dev"
STR:

1. Log into Developr Hub
2. Submit a new extension
3. Wait for your validation results

Actual result:
Extension is stuck in validation mode and no results are triggered

Expected result:
Validation is successfully completed for the submitted extension

Notes:
- it is also happening at theme submission, when using the theme generator wizard (submission is stuck in upload mode)
- it is simila

[2018-05-07 13:38] wagnerand commented on #8192
Actually, this has just been fixed. Could you retry with an account that **does** have an API key, in oder to verify?

[2018-05-07 13:48] ioanarusiczki commented on #8037
This issue was also reproducible on AMO dev with FF59(Win10) with a large number of images but without adding text in the description field as mentioned in the initial scenario -  please note that this scenario is intermittent
![page unresponsive2](https://user-images.githubusercontent.com/33448286/39705174-4a0a4e60-5216-11e8-9c2d-b59eff53ae22.gif)

[2018-05-07 13:58] diox opened #8193 "Remove code supporting the "Add-on Collector""
Add-on Collector is a super-old special add-on that was [introduced in 2009](https://blog.mozilla.org/addons/2009/06/10/introducing-add-on-collections/) and [retired in 2012](https://blog.mozilla.org/addons/2012/03/07/add-on-collector-retiremen/).

Amazingly we still have code supporting it and calculating stats for it... which [fail every time](https://sentry.prod.mozaws.net/operations/olympia-pr

[2018-05-07 14:04] AlexandraMoga commented on #8192
I have tried again with a user that has an API key and the issue seems to be intermittent. Some add-ons are validated, other are stuck. I could not observe a clear pattern that separates one from the other.

[2018-05-07 14:10] wagnerand commented on #8192
Can you provide an example of a stuck add-on?

[2018-05-07 14:38] diox commented on #6643
Hadn't noticed this issue when filing https://github.com/mozilla/addons-server/issues/8193 so I'll paste what I have written here:

Add-on Collector is a super-old special add-on that was [introduced in 2009](https://blog.mozilla.org/addons/2009/06/10/introducing-add-on-collections/) and [retired in 2012](https://blog.mozilla.org/addons/2012/03/07/add-on-collector-retiremen/).

Amazingly we still

[2018-05-07 14:38] diox commented on #8193
dupe of #6643

[2018-05-07 14:38] #8193 closed

[2018-05-07 14:39] vcarciu commented on #8192
@wagnerand :
I will provide an example of a stuck add-on.
Also, please note that exactly the same add-on passed validation without issues using a new account and a new profile, before adding the api keys in manifest.json.

[vraddon-3.57-an+fx-windows.xpi.zip](https://github.com/mozilla/addons-server/files/1980270/vraddon-3.57-an.fx-windows.xpi.zip)

[2018-05-07 14:42] nukeador opened #8194 "Json export should only include lang code as key"
### Describe the problem and steps to reproduce it:
I'm trying to consume the data exported from addons language stats, reading from the json file linked.

Example:
https://addons.mozilla.org/firefox/addon/easyscreenshot/statistics/usage/languages/?last=30
https://addons.mozilla.org/firefox/addon/easyscreenshot/statistics/locales-day-20180407-20180507.json

### What happened?
The json file has the

[2018-05-07 14:45] nukeador opened #8196 "Json export: Total number of users count mismatch"
### Describe the problem and steps to reproduce it:
I'm trying to consume the data exported from addons language stats, reading from the json file linked.

Example:
https://addons.mozilla.org/firefox/addon/easyscreenshot/statistics/usage/languages/?last=30
https://addons.mozilla.org/firefox/addon/easyscreenshot/statistics/locales-day-20180407-20180507.json

### What happened?
The json file has a v

[2018-05-07 14:47] diox opened #8197 "TypeError: <lambda>() got an unexpected keyword argument 'status'"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/673512/

[code]

[2018-05-07 14:48] jvillalobos commented on #8194
If we can make this change easily without breaking stuff, I'd like it to be done soon. This supports a localization project currently in the works.

[2018-05-07 14:49] diox commented on #8197
This happens on this URL: https://addons.mozilla.org/de/thunderbird/addon/british-english-dictionary-2/contribute/complete

Basically the redirect we put in place for the legacy contribution pages doesn't work on this one.

[2018-05-07 14:57] aswan opened #8198 "Duplicate entries in language-tools api endpoint"
### Describe the problem and steps to reproduce it:
Fetching either
https://services.addons.mozilla.org/api/v3/addons/language-tools/?app=firefox&appversion=60.0&type=language&lang=en-US
or
https://services.addons.mozilla.org/api/v3/addons/language-tools/?app=firefox&appversion=60.0&type=language

The `results` array has a number of (mostly) duplicated entries.  For example, the first entry is for

[2018-05-07 14:58] diox commented on #8194
I'm all for it, but it would break backwards-compatibility for anyone using those JSON (including ourselves in our statistics pages, those would need to be fixed)

[2018-05-07 15:04] diox opened #8199 "UnicodeDecodeError: 'utf8' codec can't decode byte 0x97 in position 0: invalid start byte"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/344876/

[code]

[2018-05-07 15:06] diox commented on #8199
The code:

[code]

I think just handling `UnicodeDecodeError` in the `except` clause should be enough. I doubt it's a path we came up with.

[2018-05-07 15:15] willdurand opened #8200 "Update Account endpoint documentation (`picture_url`)"
After https://github.com/mozilla/addons-server/issues/7679, the `picture_url` can be `null` and we no longer receive the URL of the default profile picture. [The documentation](http://addons-server.readthedocs.io/en/latest/topics/api/accounts.html#get--api-v3-accounts-account-(int-user_id|string-username)-) should reflect these changes.

[2018-05-07 15:17] diox commented on #8198
Also, not passing `appversion=` at all gives results that don't exhibit the issue as well. Annoyingly we can't reproduce on stage.

[2018-05-07 15:57] aswan commented on #8198
I believe that with langpack signing now happening in an automated way from the Firefox release pipeline, this is going to happen with every release (ie, we'll get langpacks as part of each RC build, the actual release, and any dot releases)

[2018-05-07 16:06] diox commented on #8198
Makes sense. I was working under the assumption that it would not happen and didn't test it, but we definitely want to support that.

[2018-05-07 16:14] jvillalobos commented on #8194
I doubt there are many external consumers of those JSON files. I can't find them on GA, but maybe @philipcristiano or @bqbn can get server logs for those?

[2018-05-07 16:58] jvillalobos commented on #8191
The following should be editable: username, display name, description, location, image (just deleting the existing image is enough).

[2018-05-07 19:39] jvillalobos commented on #8196
After giving it some thought, I think this may be because of the changes we made to the active user count on https://github.com/mozilla/addons-server/issues/3632. The total user counts are just counting enabled installs, while other stats pages probably include both enabled and disabled installs.

[2018-05-08 07:47] PayneLessDesigns opened #8206 "Disconnect Website"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Just try the "Get Disconnect" button and see if you get a "Not Found" page.
### What happened?
The "Get Disconnect" button on https://disconnect.me/disconnect sends me to a page like a 404 Error page --- "Not Found"
### What did you expect to happen?
I expected to get the Disconnect extension for Fx.

[2018-05-08 09:52] Caspy7 opened #8207 "Searching for an Image toggle addon and the correct results are buried."
I came across this this post
https://www.reddit.com/r/firefox/comments/8huosl/help_addin_to_hide_images_in_firefox_59_and_higher/
saying, in part, "no matter how much I search for I can not find a working plugin that switches off/on showing/loading of images in web pages."

I did a search on AMO: https://addons.mozilla.org/en-US/firefox/search/?q=toggle+images
using "toggle" instead of hide and on

[2018-05-08 12:15] wagnerand opened #8208 "Submitting webextension with an invalid filename raises errors about the file being legacy"
Submit the following invalid webextension: [invalid_webextension.zip](https://github.com/mozilla/addons-server/files/1983794/invalid_webextension.zip)

Actual results:
<img width="978" alt="screen shot 2018-05-08 at 13 58 12" src="https://user-images.githubusercontent.com/873258/39756497-2c0e2242-52ca-11e8-9e96-a55fa09460cd.png">

Expected results:
Only the very first error should be raised.

[2018-05-08 13:12] eviljeff commented on #8164
QA: the changes concern emails, primarily.  So perform some actions in a non-English locale that would send an email, and check that there is no-non-English in the response.
E.g. send an abuse report ("User" and the different add-on type names should be in English in the email); delete an Add-on (the email should be in English)

[2018-05-08 16:54] wagnerand commented on #8192
Would you mind trying again on -dev, please?

[2018-05-08 16:58] jvillalobos commented on #8194
We can be more specific and go with `addon\/[^/]+\/statistics\/locales-[^/]+json$`, since that's the only one we might change.

[2018-05-08 17:00] jvillalobos commented on #8194
Oh, and we would need to make sure the referrer is not AMO, since we want to measure external consumers of that data, not just how often it's loaded from the stats page.

[2018-05-08 17:24] wagnerand opened #8211 "Some developers have more than one active API key"
Some developers have more than one active API key, which is not supported and throws errors since the retrieval function relies on having only one.

We should enforce that in the database if possible, and figure out what to do with the affected keys.

[2018-05-08 17:27] wagnerand commented on #8211
For the record, the following sql query can be used to determine affected keys:

`SELECT created, modified, user_id, is_active  from api_key where user_id in (select user_id from api_key group by user_id having sum(is_active) > 1) order by user_id, created;`

[2018-05-08 20:48] jvillalobos commented on #8206
That's a bad link on the developer's website. You can find the add-on here: https://addons.mozilla.org/addon/disconnect/

[2018-05-08 20:48] #8206 closed

[2018-05-08 21:50] diox commented on #8198
Firefox is not the only consumer of this API, it's also used by addons-frontend. It can return different types depending on what parameters you pass.

Regarding the files, there is no guarantee there will only be one - it all depends on what was set at upload time, and although it's controlled by the scripts set up by release engineering, I'm hesitant to make more assumptions, since this very issu

[2018-05-09 04:58] EnTeQuAk commented on #7808
QA: This feature is behind a waffle-flag, I'll update the issue once it is properly configured on -dev, -stage and later -prod. (We need the API keys set before it can be flipped on).

Please make sure that without the flag, all user notifications are selectable and unselectable. Same with the flag. There isn't a good way to trigger a newsletter except via SalesForce once the flag flipped, we migh

[2018-05-09 06:30] AlexandraMoga commented on #8192
@wagnerand I've verified again on -dev and stage and the validation seems to be working now.

[2018-05-09 09:40] AlexandraMoga commented on #8164
I have performed several actions on stage that generate an email (user abuse report, add-on abuse report, add-on review, add-on deletion, reviewer replies etc) and I've noticed the following:
1. the predefined email is sent in English (default notification text set for a specific action)
2. add-on name (when add-on is localized) will be rendered in the subject and body in the locale set by the use

[2018-05-09 10:18] wagnerand commented on #8192
Yay, thank you. Closing...

[2018-05-09 10:18] #8192 closed

[2018-05-09 10:24] wagnerand opened #8214 "Remove zadmin langpack fetcher"
Language packs updates are handled by releng now, no more need to import them manually.

[2018-05-09 11:33] diox commented on #7223
QA: please test that add-on updates still work correctly in Firefox, Thunderbird and Seamonkey supported versions (including ESR).

[2018-05-09 11:36] #8214 closed

[2018-05-09 11:38] eviljeff commented on #7783
That's not irc... that's a website with a directory listing of irc channels.

[2018-05-09 12:09] #8153 closed

[2018-05-09 12:34] spoji opened #8220 "Compare link for reviewers doesn't show the proper diffs"
### Describe the problem and steps to reproduce it:
Using the AMO "Compare link" for CardBook 28.8 : https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/950590...947955/ shows that the entire codebase has been changed. However, if you download manually submissions 950590 and 947955 and compare them using Beyond Compare, the changes are minimal.

@kewisch had the same issue yesterday w

[2018-05-09 12:52] wagnerand commented on #8220
This is because for some weird reason, the file viewer can't "find" file id `947955`, see (https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/947955/ reporting 404).

I have seen this a couple of times lately, I know @EnTeQuAk has been looking into this.

[2018-05-09 16:01] diox opened #8221 "Use guids instead of ids in disco pane data"
We currently hardcode discopane contents inside [src/olympia/discovery/data.py](https://github.com/mozilla/addons-server/blob/master/src/olympia/discovery/data.py) so that strings get picked up by translators. To avoid accidentally linking to the wrong add-on if one gets deleted, we use their primary keys ids and not their slugs, which could potentially be re-used.

Using the ids makes it difficul

[2018-05-09 17:34] nukeador commented on #8194
A lot of them last week probably was my script, I would check a couple of weeks ago just in case.

[2018-05-09 17:47] muffinresearch opened #8222 "Delete the user image file when an account is deleted."
When a user account is deleted we should delete any image file rather than just delete the db reference to it.

We should also consider how to clean-up orphaned images if they're not already being reaped at some point.

Needs to be in the 2018.05.24 push at the latest.

[2018-05-09 17:55] jvillalobos commented on #8194
Thanks, Wei. It appears to be a small number either way, so I'd be okay with changing the JSON file. I'll reiterate that we should do this soon *if* it can be done quickly. AMO has a very full plate for the quarter, so we'll have to work around this if this delays other work significantly.

[2018-05-09 17:57] muffinresearch opened #8223 "Clear last_login_attempt_ip on user deletion"
We already anonymize most data when a user deletes their account we should also clear `last_login_attempt_ip` when a user deletes their account too.

This should also look to remove this for already deleted accounts too.

Needs to be in the 2018.05.24 push at the latest.

[2018-05-09 18:05] jvillalobos opened #8224 "Update Firefox logo in old front-end header"
Brought up in https://github.com/mozilla/addons/issues/712.

We expose old front-end pages in some cases, particularly the public statistics dashboard for some add-ons ([example](https://addons.mozilla.org/addon/adblock-plus/statistics/?last=30)). We haven't planned when to port them to the new style, so it would be good to at least update the Firefox logo in the header.

[2018-05-09 19:00] bqbn commented on #5207
+1 for the above. This sounds like a data generation tool that's going to be more reliable and secure than dumping and restoring databases.

[2018-05-09 19:27] EnTeQuAk commented on #8223
We might want to extend that a bit and look into

 * `last_login_ip`
 * `last_login_attempt` (a datetime from when the last login attempt was)
 * `last_login_attempt_ip? (referenced in this issue)

too.

[2018-05-09 20:27] bobsilverberg opened #8226 "It should be possible to remove a review's body via the API"
This is related to https://github.com/mozilla/addons-frontend/issues/4367. It is currently not possible to pass a `null` into an API call to the edit endpoint to remove a review's body, but we would like to be able to do that. I understand that there are complexities behind the scenes on the server side which convert the string passed into the API into a localizedString, so that will need to be de

[2018-05-10 08:27] ioanarusiczki commented on #8157
Please add QA not needed label if QA is not needed.
Thanks!

[2018-05-10 10:00] vcarciu commented on #6643
Please add some STRs for this issue or mark it as "qa:not needed"

[2018-05-10 10:59] eviljeff commented on #5207
Missing all non-public add-ons (and non-public versions of those add-ons) seems a significant drawback.  Even among public add-ons and versions the long tail is where there will be the kind of edge cases that are most likely to break our carefully designed code.  For -dev that could be an acceptable loss; for stage it seems too much of a risk.

[2018-05-10 11:41] eviljeff commented on #8226
See mozilla/addons-server#7832 also - it's the same underlying problem with the current API l10n implementation

[2018-05-10 13:31] eviljeff commented on #8164
@AlexandraMoga it was already broken - the code that forces it back to `en-US` only affected a few small parts, like the add-on type and the unsubscribe footer - so it's not any _more_ broken than before 😆

Arguably we shouldn't be localizing Add-on name in the emails either - can you file a follow-up issue?

[2018-05-10 14:15] AlexandraMoga opened #8230 "Add-on name is localized in emails generated after a specific user action"
STR:

1. Log in to AMO and select a localized add-on to view its details page
2. Shift to a non-English locale (i.e. https://addons.allizom.org/ar/firefox/addon/adblock-plus-test/?src=search)
4. Post an abuse report for this add-on
5. With an admin account, open the fake email log and look for the abuse report notification
6. Inspect the email content (subject, body etc)

Actual result:
The name o

[2018-05-10 14:18] AlexandraMoga commented on #8164
Logged #8230 as follow up

I'm marking this issue as verified fixed

[2018-05-10 17:57] Callek commented on #8136
@diox so looks like this didn't solve it on my end...  a recent log for langpack-ar: https://taskcluster-artifacts.net/A3CEW_YQQ2u5LnMdT4Gy4Q/0/public/logs/live_backing.log

[2018-05-10 18:55] championshuttler commented on #8224
Hi @jvillalobos , I would like to work on it

[2018-05-10 19:38] Abhi-khandelwal commented on #1652
hey @mstriemer , I want to work on this issue as my first contribution

[2018-05-10 20:11] jvillalobos commented on #8224
Great. If you need any guidance, maybe @eviljeff can help?

[2018-05-10 20:15] mstriemer commented on #1652
Hi, I no longer work on this project and I'm not sure if this is a good first bug but someone else on the team can help you out. I think @diox has looked at the authentication code some since then.

[2018-05-10 22:54] diox commented on #1652
@Abhi-khandelwal please pick something else as your first contribution, this is complex work, requiring knowledge of FxA and coordination with the team responsible for it. (https://bugzilla.mozilla.org/show_bug.cgi?id=1432189 has more information for people interested)

[2018-05-11 09:13] eviljeff commented on #8224
for the header used on the statistic page you can just update the image in static/img/icons/

Looks like we have 6 other "firefox" images of various sizes in static/img/ though (excluding shield studies), which could also be updated - I'm not sure where they are used exactly, or if they are used at all still.

[2018-05-11 12:09] eviljeff opened #8239 "remove Logging1.0 support on AMO"
#4931 added MozLog support for Logging2.0 but we left 1.0 logging in place.  A year later, lets finally drop it from our codebase (one less py2.7 dep too!)

[2018-05-11 14:41] #8211 closed

[2018-05-11 15:20] diox commented on #8211
QA:
- Make sure you can't generate multiple API keys in any way. Also, if you have an account that did have multiple API keys before, like @vcarciu had on dev, make sure it's no longer the case and the api keys page is accessible, you can submit add-ons etc.

[2018-05-11 17:37] #8239 closed

[2018-05-12 05:06] deepanshu-jain1999 commented on #7783
I have solved login problem but I am unable to access page http://olympia.test/en-GB/developers/addon/submit/wizard-listed locally.

[2018-05-13 14:08] grahamperrin commented on #2661
It's half-funny :-) that [a search for _font_](https://addons.mozilla.org/en-GB/firefox/search/?page=5&q=font&sort=relevance&type=extension) finds _Drudge-Fakenews_ – <https://addons.mozilla.org/addon/drudge-fakenews/reviews/1120505/>. On one hand, I love occasional serendipity.

On the other, I _would_ love results to be more relevant by default …

[2018-05-14 05:38] AlexandraMoga commented on #8239
Please add STR or the label 'qa:not needed"
Thanks

[2018-05-14 09:55] #8199 closed

[2018-05-14 09:56] #8222 closed

[2018-05-14 09:56] #8223 closed

[2018-05-14 10:15] #8200 closed

[2018-05-14 10:58] wagnerand commented on #8158
@philipcristiano are there any mail server logs we can check? I just tested this locally and the email is logged in the *fake mail* system which means it should have been sent successfully.

[2018-05-14 11:05] AlexandraMoga commented on #7223
Verified on AMO-dev, Win10x64 with the following applications:

 **1. Firefox 60.0 release, Firefox 60.0 ESR, Firefox 52.8.0 ESR, Nightly 62.0a1**
 - check for updates from add-ons manager is working;
 - background (automatic) updates are working

**2. Thunderbird 52.7.0**
 - works only with legacy add-ons;
 - check for updates from add-ons manager is working;
 - background (automatic) updates NOT

[2018-05-14 11:08] diox commented on #7223
Can you fully describe what your testing protocol was in seamonkey/thunderbird ? What configuration variables did you change, what add-on were you testing with, what did you click on, etc ?

[2018-05-14 11:18] AlexandraMoga commented on #8200
Please add STR or the label 'qa:not needed'
Thanks

[2018-05-14 11:30] eviljeff opened #8248 "change static theme previews to generate paint style simple ui"
As argued in #7888, the current "realistic" static theme previews (that attempt to show Firefox's UI) will get busy, especially when there are many on the same page.  So instead we will render a more simple, stylized, preview.

[amo static theme svgs.zip](https://github.com/mozilla/addons-server/files/2000457/amo.static.theme.svgs.zip)

[2018-05-14 12:14] AlexandraMoga commented on #7223
1. Thunderbird:
- configuration:
extensions.webapi.testing -  true
xpinstall.signatures.required - false
xpinstall.signatures.dev-root - true
extensions.update.url - [pointing to -dev](https://versioncheck-dev.allizom.org/update/VersionCheck.php?reqVersion=%REQ_VERSION%&id=%ITEM_ID%&version=%ITEM_VERSION%&maxAppVersion=%ITEM_MAXAPPVERSION%&status=%ITEM_STATUS%&appID=%APP_ID%&appVersion=%APP_VERSIO

[2018-05-14 13:36] AlexandraMoga commented on #8223
@EnTeQuAk @muffinresearch  I guess this can't be easily verified directly from AMO, right? Is there another method available to us to test these changes?

[2018-05-14 15:11] EnTeQuAk commented on #8223
Unfortunately, there isn't, as you don't have access to the database to test this properly. I'll take care of making sure that re-anonymizing usre-data works properly on dev and stage.

[2018-05-14 15:12] ioanarusiczki commented on #8222
@EnTeQuAk Hi Chris, I verified this issue on AMO dev and AMO stage with FF60 (Win10) like this:
- signed in using a new account (on dev - cephicloph@2anom.com, on stage - anna.banc34@gmail.com) and I went to Edit profile and added a profile photo, then from Edit profile page I deleted the account.
- to check if the profile picture was deleted I signed back (because it allows you to, a known issue)

[2018-05-14 15:16] philipcristiano commented on #8158
I'm trying to grab access to the account to see if there are any logs in the email sending API service. The log lines internally appear to be debug, so nothing show up in Kibana after a quick search.

[2018-05-14 15:55] diox commented on #7223
@AlexandraMoga also, can you double-check that the behaviour you're seeing on thunderbird and seamonkey is different that what you're getting on stage? That is, make sure that my changes - currently only present on dev - are what's causing your problems.

[2018-05-14 18:08] eviljeff commented on #7783
ah, yes, it's turned off by default.  You can enable it by adding a flag (a "waffle switch") in django admin here: http://olympia.test/admin/models/waffle/switch/ called "allow-static-theme-uploads".  It will look something like this:
![screenshot 2018-05-14 19 08 20](https://user-images.githubusercontent.com/768592/40015086-2ec2203a-57aa-11e8-97ae-d983908aefb6.png)

[2018-05-14 18:12] eviljeff commented on #8139
Oh, and check the v4 API is there.  Basically any API url that currently has `/v3/`  should now also be available as `/v4/` with identical functionality (in this first commit - later the functionality will diverge)

e.g.
https://addons-dev.allizom.org/api/v3/addons/search/
https://addons-dev.allizom.org/api/v4/addons/search/

[2018-05-15 01:30] deepanshu-jain1999 commented on #7783
Thanks

[2018-05-15 08:38] EnTeQuAk commented on #8220
Also to confirm: This works fine after a few minutes (or hours) right?

[2018-05-15 09:00] AlexandraMoga commented on #7223
@diox
Thunderbird - background updates solved by modifying `extensions.update.interval` to `1`
Seamonkey - I compared -dev with stage by using basically the same add-ons and stage updates were applied while on -dev they weren't. Below are my examples:
STAGE:
https://addons.allizom.org/en-US/seamonkey/addon/lightning/versions/
https://addons.allizom.org/en-US/seamonkey/addon/reminderfox/versions/
D

[2018-05-15 09:10] wagnerand commented on #8220
I'm not sure.

[2018-05-15 09:11] eviljeff opened #8254 "add v4 documention; explain v3/v4 setup; archive v3;"
Mostly this is a v3 -> v4 find&replace.  We also need an explanation about v4 being the new unstable API and full of new goodness, and v3 being the old reliable, and that v4 is the default (as much as we can "default" without /api/ being available to us).
v3 api docs archive will be taken as the 2018.05.17 tag - once it exists RTD can expose that as a specific version for us to link to.

[2018-05-15 09:26] eviljeff opened #8255 "Add API feature gates"
We need a sensible way of turning on/off features at a view or serializer level per api, so when we add a new feature to the v4 API, or remove something but have a fallback/shim for v3, it's only there for the correct version of the API.  I.e. don't break the v3 api; don't clutter the v4 api with obsolete response.

https://github.com/mozilla/addons-server/issues/8139#issuecomment-385866348 had a

[2018-05-15 09:36] #8198 closed

[2018-05-15 09:38] diox commented on #7223
@AlexandraMoga so, only seamonkey is an issue then, and only a specific set of add-ons?

[2018-05-15 09:49] ioanarusiczki commented on #8153
Verified on AMO-dev with FF60(Win10) and the content is updated. (-dev is missing the Stop Facebook tracking and Crazy Cats Action)
Full validation will be made in prod.

[2018-05-15 10:04] AlexandraMoga commented on #7808
@EnTeQuAk  I have checked the Developer notifications section on AMO-dev, without a flag (since there is no flag set yet) and everything seems to be working as expected. I've also checked that the developer receives an email when a user writes a review for one of his add-ons.

Let me know once the flag is set so we can cover the second part of this test.

[2018-05-15 10:40] AlexandraMoga commented on #7223
@diox form the set of add-ons I've tested with, only those that were based on the [Adblock Plus](https://addons-dev.allizom.org/en-US/seamonkey/addon/adblock-plus-sm/?src=search) package worked.
Here are some additional examples of add-on that did NOT work:
https://addons-dev.allizom.org/en-US/seamonkey/addon/enigmail/versions/
https://addons-dev.allizom.org/en-US/seamonkey/addon/foxclocks/version

[2018-05-15 10:59] diox commented on #8221
This can't be done while Personas haven't been replaced by Static Themes, because Personas have no guids.

[2018-05-15 11:04] muffinresearch commented on #8221
@diox don't they have a pseudo guid e.g. `something@getpersonas.com` ?

[2018-05-15 11:11] diox commented on #8221
No, I thought so, but I checked and they don't have one at all.

[2018-05-15 11:17] diox commented on #7223
I don't understand what's going on, and I have had a miserable time trying to debug this with seamonkey myself, but I can reproduce the issue, so I'll revert my patch before it makes the tag.

[2018-05-15 11:33] #7847 closed

[2018-05-15 11:46] muffinresearch commented on #8221
Maybe not in the data, but IIRC that psuedo guid is used to introspect them in `mozAddonManager`.

[2018-05-15 11:48] AlexandraMoga commented on #8071
@piyushmittal25 @EnTeQuAk I've verified this on AMO-dev but it seems that the issue is not fixed , or not on -dev yet? I'm still landing on AMO when signing out of /developers/addons.

[2018-05-15 11:58] vcarciu commented on #8139
@eviljeff  : the /v4/ is returning a 403

[2018-05-15 12:06] eviljeff commented on #8139
There is an ops change needed it seems (mozilla-services/cloudops-deployment#1978)

[2018-05-15 12:37] championshuttler commented on #8172
@EnTeQuAk I would like to work on it

[2018-05-15 12:57] diox commented on #8198
@AlexandraMoga you can create an upload a language pack compatible with FF60 (needs to have `strict_min_version` and `strict_max_version` set in manifest) and upload it normally, it will be auto-approved. Then you'll need to create another version of the same langpack with the same compatibility set. Finally you'll have to call the language tools API endpoint with the parameters described in the d

[2018-05-15 13:39] diox commented on #7223
Reverting (#8256) definitely fixed the seamonkey issue for me.

[2018-05-15 13:44] AlexandraMoga commented on #7847
@eviljeff does this implementation introduce anything that requires QA attention?
Thanks

[2018-05-15 13:49] eviljeff commented on #7847
It does, but ops need to run the migrate command on the server.  Can you select a few existing personas that are on dev and stage (so you can compare after the migration) and we'll ask ops to migrate those few.

[2018-05-15 14:02] kewisch commented on #8220
Same here, I reviewed enigmail about a week ago and still have the issue: https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/949849...922649/

[2018-05-15 14:06] spoji commented on #8220
Note that right now, I can't reproduce the issue anymore; https://reviewers.addons.mozilla.org/en-US/firefox/files/browse/947955/ extract properly for me. The original issue (compare via https://reviewers.addons.mozilla.org/en-US/firefox/files/compare/950590...947955/ ) is not there anymore on production.

[2018-05-15 14:15] AlexandraMoga commented on #8198
@diox
1. I've submitted a language pack as suggested above - see https://addons-dev.allizom.org/en-US/firefox/addon/%CE%B5%CE%BB%CE%BB%CE%B7%CE%BD%CE%B9%CE%BA%CE%AC-language-pack/versions/
2. I've sent the following request:
[code]
--> there are no results in the response