[2020-02-05 16:36] eviljeff commented on #13280
closing because no response.  We can reopen.

[2020-02-05 16:36] #13280 closed

[2020-02-05 16:37] caitmuenster commented on #13415
Coming soon -- a list of links that need updating and the updated link targets.

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

Mentor: @bobsilverberg

[2020-02-05 16:38] wagnerand commented on #13374
If this is your first contribution, please refer to wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2020-02-05 17:10] EnTeQuAk commented on #8508
@muffinresearch @diox @bqbn I just found this issue and wondered how it's priority is especially since support for the latest ES 5 version ended in March last year.

Looking at https://www.elastic.co/support/eol upgrading to ES6 will only be a step-stone to eventually land on ES7 as even ES6 isn't supported too long in the future as well.

[2020-02-05 17:27] diox commented on #8508
I'd like to do it as soon as possible, we just need to find the time.

We'd need to refresh [my branch](https://github.com/mozilla/addons-server/issues/8508#issuecomment-470850210) but it was almost good to go. If we wait for https://github.com/orgs/mozilla/projects/116 it might greatly simplify the migration: we might end up removing all individual stats storage on our side and that would mean no

[2020-02-05 17:32] bqbn commented on #8508
How does by late March sound to everyone? I also need to do some research and test and see how different new version is configuration wise.

Also, version wise, how about we upgrade it to v6.8.x this time? I mainly don't want to skip a version at this point.

[2020-02-05 17:47] wagnerand commented on #13416
Turns out, there are several strings that would need to be updated:

[code]

I think we should generally refer to it as "minified, concatenated or otherwise machine-generated code". @kewisch what do you think?

[2020-02-05 18:55] bobsilverberg opened #13420 "Eliminate needless and/or duplicate database queries from code-manager APIs"
This was discussed when we were talking about API performance for code-manager. I am not sure exactly what is involved here, but it was mentioned that the APIs have not been optimized, so that is something we should do to help improve API performance.

[2020-02-05 19:42] EnTeQuAk commented on #13382
I'll run a re-index on -dev.

[2020-02-05 19:50] EnTeQuAk commented on #13382
re-index ran and search results are updated.

[2020-02-05 19:50] #13382 closed

[2020-02-06 08:46] ioanarusiczki commented on #12726
@EnTeQuAk
I tested the API responses with Postman: first I deleted a version from dev hub. The response is created with a 200 status. Also the code manager file viewer will display the compare pages.

Examples:
API - version 1.0 has been deleted from dev hub by the developer
https://addons-dev.allizom.org/api/v4/reviewers/addon/618648/versions/1690094/compare_to/1690242/
Code Manager view:
https:/

[2020-02-06 09:44] diox commented on #12779
Taking since I had started looking at this a while back.

[2020-02-06 09:51] willdurand commented on #13411
I guess we should use `SCANNER_QUERY_RULE_` as a prefix. It's rather long but very accurate. I don't have a better idea..

[2020-02-06 10:59] willdurand commented on #13409
I think this will be covered by the feature in the reviewer tools.

[2020-02-06 12:03] diox commented on #13375
Tested this and it doesn't work - the `get_response()` function is not the actual view the handler will execute, and therefore the special attribute it looks for doesn't exist.

[2020-02-06 12:23] diox commented on #13375
The only way forward that I see right now is to re-implement `ATOMIC_REQUESTS` in a middleware. This is annoying though, because we still want `non_atomic_requests()` functionality, i.e. marking a view as not needing atomic requests regardless of the HTTP verb used.

That means we need to access the view function itself before deciding to wrap the call in an `atomic()` block. Unfortunately, in Dja

[2020-02-06 15:01] willdurand opened #13424 "Add an API for `DeniedGuid` model"
Refs https://github.com/mozilla/addons-server/issues/13409

---

[2020-02-06 15:02] willdurand commented on #13424
@kewisch and @wagnerand please let us know what the exact needs for this API are

[2020-02-06 15:02] willdurand commented on #13409
I filed https://github.com/mozilla/addons-server/issues/13424

[2020-02-06 16:08] ioanarusiczki commented on #13291
As discussed this is a qa not needed.

[2020-02-06 16:51] bobsilverberg commented on #12726
I think that with the current design, where comments are associated with the "new" version for a compare, this makes sense. Would a reviewer ever need to comment on a deleted version? @wagnerand What do you think?

[2020-02-06 20:05] diox commented on #13268
I think the permission to view results should also let you view the rules, so that you can navigate back and forth (but without changing anything). Typical use-case: me looking if a query is done :)

[2020-02-06 21:15] kewisch commented on #13424
Andreas' bullet points seem reasonable, though I think having a way to bulk add multiple guids would be helpful.

[2020-02-07 08:12] junngo commented on #13415
I submitted patch :)
Should I also need to change the link below[0]?

[0]
https://github.com/mozilla/addons-server/blob/dd1224e3e799d37efa17808acc2f50b445cdb6d1/src/olympia/lib/crypto/tasks.py#L42

[2020-02-07 08:54] diox commented on #13415
Yes.

[2020-02-07 10:42] diox opened #13431 "Stop excluding non-current listed versions in code search"
For the initial implementation of Scanner query rule task, we restricted the versions it runs on, excluding non-current listed versions. Now that we have done some initial testing, we've determined we no longer want to restrict versions that much.

STR:
- Submit a listed add-on, and then submit a new version for that add-on.
- Create a Scanner Query Rule that would match something in both versions

[2020-02-07 11:21] ioanarusiczki commented on #13382
@EnTeQuAk I verified AMO dev and the search results won't return plugins in autocomplete results.
Also the search API https://addons-dev.allizom.org/api/v4/addons/search/?type=search is no longer returning results.

The only difference with stage is in the Addon detail API, for example a deleted plugin in dev will return a 200 status and the details are available Example: https://addons-dev.allizo

[2020-02-07 11:30] diox commented on #13344
On the test we did on prod it was happening for ~ 20 versions. Instead of simply retrying, we could retry immediately with the other path (disabled path if we were using the regular one and vice-versa). That should be enough.

[2020-02-07 11:53] #13409 closed

[2020-02-07 13:28] wagnerand opened #13433 "File temporarily unavailable after add-on deletion"
### Describe the problem and steps to reproduce it:

When an add-on gets deleted, the file is unavailable in the reviewer and admin tools. I believe this is temporary, until the cronjobs have run. That can take a couple of hours tough, affecting admins.

Assuming STR:
(This might depend on the time of the hour you run this, due to the cronjobs runnin at :25 and :55 each hour)
1. Submit a new add-o

[2020-02-07 13:39] diox commented on #13433
https://github.com/diox/olympia/blob/13bf7ce0e813c3250c3a33148e7975c3ad70d3d4/src/olympia/addons/models.py#L608-L612

We can't do this synchronously when the add-on is deleted but we should fire up a task at that point to do it earlier than the crons (keeping them as a fallback).

[2020-02-07 14:53] junngo commented on #13415
I submitted PR again.
The URL is more than 80 characters long. Should I write less than 79 characters without exception?

[2020-02-07 15:24] AlexandraMoga commented on #13389
I've verified this on -dev by accessing the developer agreement page with a new user, from various IPs (using a VPN). I've managed to cover European countries as well as some from Asia and the Americas but I couldn't verify for China specifically.
Apparently it is not so easy to connect to China, even by using paid VPN services.

For the countries verified, the reCAPTCHA continues to work as expec

[2020-02-07 16:06] diox commented on #13424
For the record, I merged @willdurand's work for https://github.com/mozilla/addons-server/issues/13409 ; this will give us 2 APIs:
- `/api/v4/reviewers/addon/(int:addon_id)/allow_resubmission/`
- `/api/v4/reviewers/addon/(int:addon_id)/deny_resubmission/`

It's not exactly what was requested, but it's a start.

[2020-02-07 16:10] diox commented on #13415
Easiest way to fix this in this instance is to replace the `'''` a few lines below by `'''  # noqa` (note the 2 spaces after the three single quotes). That will tell our linter tool to ignore that part.

[2020-02-08 12:38] #11659 closed

[2020-02-10 10:01] #13282 closed

[2020-02-10 10:25] #13431 closed

[2020-02-10 10:30] AlexandraMoga opened #13444 "Block multiple versions flow for unlisted add-ons is broken"
### Describe the problem and steps to reproduce it:
1. Log in with a super admin
2. Open the Unlisted review queue - https://reviewers.addons-dev.allizom.org/en-US/reviewers/unlisted_queue/all
3. Select an add-on from the list
4. Use the Block multiple versions option to reject one or more versions
5. When redirected to the admin `/blocksubmission/add/` view, change the version range or edit any o

[2020-02-10 11:19] #12779 closed

[2020-02-10 11:21] #13270 closed

[2020-02-10 11:22] #13374 closed

[2020-02-10 12:36] ioanarusiczki opened #13446 "Errors when trying to open the files from the matched rules section"
I run quite often into a 404 or 504 when I try to open the old file viewer pages for the files with matched rules from the scanner result detail pages

Expected result:
Perhaps the listed versions could be linked to the new code viewer until the unlisted will be extracted? https://github.com/mozilla/addons-server/issues/13220#issue-548061943

Notes:
I can reproduce this issue with scanner results

[2020-02-10 13:47] ioanarusiczki commented on #13374
@mirefly https://addons-dev.allizom.org/en-US/developers/addon/webmail-ad-blocker/file/237880/validation.json returns a 404.
Verified on dev with FF72(Win10).

[2020-02-10 13:57] ioanarusiczki opened #13449 "Addons detail API responds with a 200 status for the deleted plugins on AMO dev"
Followup for https://github.com/mozilla/addons-server/issues/13382
STR:
1. An API request for a deleted plugin from AMO dev returns details. The Response is 200.
An example: https://addons-dev.allizom.org/api/v4/addons/addon/618634/

Expected result:
404 - Not found.

Notes:
On AMO stage the Addon Detail API for the deleted plugins (the old .xml formats) return a 404.

[2020-02-10 13:59] diox commented on #13449
I got a 404 for that URL ?

[2020-02-10 14:28] junngo commented on #13415
Thanks :)
I solved lint issue and submitted PR again.

[2020-02-10 16:08] #13268 closed

[2020-02-10 16:09] diox commented on #13268
Made `Admins:ScannersQueryView` and `Admins:ScannersQueryEdit`. As the name implies, having just the former should give you read-only access, the later read-write access (through results should still be read-only in any case)

[2020-02-10 16:36] #13341 closed

[2020-02-10 17:22] eviljeff commented on #13408
With some local testing based on some randomly generated guids&versions (2 million addons and 100k blocks):

135kb

30 seconds for the bloom filter generation + whatever time it will take for the database query to populate the list of guids&versions (~5 seconds) + file write time (~1 second)

For diffs I added an extra 100k guids&versions to the addons list, and an extra 10k guids&versions to the

[2020-02-10 17:25] eviljeff commented on #13408
If we land it on -dev we can get more realistic numbers on the db query, though as the addons and blocks are very outdated for non-production environments, probably not much better overall (there are very few blocks that are valid when importing from kinto)

[2020-02-10 19:36] Dawidek990 opened #13452 "Take screenshot automaticly"
Hello, I need to know what to do so that the "take screenshot" option immediately saved a photo to disk, and did not ask every time where to save the photo. I don't have to click anything after clicking "download".

Or some firefox add-on that works like this option.

[2020-02-10 19:50] rfk commented on #13452
Cross-referencing for context since this issue was filed in multiple places: https://github.com/mozilla/application-services/issues/2608#issuecomment-584317839. Please take this question to https://support.mozilla.org and the fine folks there can help you get it resolved.

[2020-02-10 19:57] diox commented on #13452
This repository is about issues with addons.mozilla.org (the website itself) and not a forum to request addons or support for Firefox. As suggested above please take this question to https://support.mozilla.org please, thanks.

[2020-02-10 19:57] #13452 closed

[2020-02-10 20:25] Dawidek990 commented on #13452
i dont see option "ask question" there.

[2020-02-10 20:30] rfk commented on #13452
Click on the name of the relevant product (e.g. "Firefox" or "Firefox Preview" or whatever) and scroll to the bottom of the page, there should be a link to ask a question.

[2020-02-11 10:22] #13344 closed

[2020-02-11 10:28] diox commented on #13344
STR:
- Upload an add-on
- Once it's approved, wait for a few minutes after the 25th minute of the hour has passed (e.g. if it was 14h20 when you started, wait until 14h30) and disable the add-on (don't touch the versions/files).
- Run a code search using scanners query rule admin, using a yara definition that should find the add-on
- Make sure it's found in the results

[2020-02-11 11:10] diox commented on #11768
That won't work, because the middleware always assume it should set the cookie if the method was not in `GET`, `TRACE`, `HEAD`, `OPTIONS`.

[2020-02-11 12:10] AlexandraMoga commented on #13431
I've created a scanner query rule on -dev and the submitted several add-ons that would match it. I've tried to cover the following scenarios:
- add-on with multiple listed versions, all matching the query rule => all versions were identified after the query run
- add-on with multiple listed versions, no matching rules => versions not identified after the query run
- add-on with mixed listed and un

[2020-02-11 12:19] diox commented on #13431
Yes. We're only excluding versions that belong to add-ons that have been force-disabled by admins.

[2020-02-11 12:32] ioanarusiczki commented on #13409
@willdurand I verified the new rev tools buttons on AMO dev with FF72(Win10).

When an add-on is deleted from admin tools by an admin from admin/models/addons/addon/ID/change/ the review page will display a red button "Deny resubmission" when the GUID is not in `DeniedGuid` or `Allow resubmission` when the GUID is in `DeniedGuid` for listed and unlisted add-ons.

Examples:
https://reviewers.addons

[2020-02-11 13:39] diox opened #13459 "Add filtering of scanner query results per version/addon properties"
Scanner Query Results admin has some filtering capabilities inherited from Scanner Results but we want more/different filters:
- Filtering by version channel (listed | unlisted | all)
- Filtering by file status
- Filtering by add-on status

More ?

We also talked about grouping results per add-on but it is be a separate issue (https://github.com/mozilla/addons-server/issues/12947)

[2020-02-11 13:43] wagnerand commented on #13409
The review page should still be accessible by using the AMO numerical ID.

Yes, the mentioned permission is specifically to see that (and other) admin buttons. To access the reviewer tools in general, you need more permissions.

reviewers.addons-dev.allizom.org/en-US/reviewers/review/207725b5b28d4f5a9b5b#history
but I can't tell about the activity log. Should an activity log about these actions be

[2020-02-11 13:51] wagnerand commented on #13459
* Filtering by add-on visibility state (visible | invisible | all)
* Filtering by file signed state (yes | no | all)

[2020-02-11 13:54] EnTeQuAk opened #13460 "Implement simplified mimetype detection for code-manager APIs"
Refs https://github.com/mozilla/addons-server/issues/12924#issuecomment-579748469

We discussed during the All Hands that we're going to decide to simplify mimetype detection for the most common file-types.

The whitelist should contain the following:

`.html, .js, .json, .css`

We'll probably update that list in the future.

[2020-02-11 14:05] diox commented on #12947
Note: it would also be useful for scanner query results (code search).

[2020-02-11 14:15] AlexandraMoga opened #13461 "The Run/Abort button is displayed to users with view only permissions in scanner query rules"
Follow up for #13268

### Describe the problem and steps to reproduce it:
1. Log in to AMO -dev with a user that has `Admin:ScannersQueryView` permissions
2. Open the Scanner query rule model
3. Make sure that the list contains a New rule pending for Run (you will need to do that with a user that has edit permissions first)
4. Observe the options available in the State column

### What happened?
T

[2020-02-11 14:19] ioanarusiczki commented on #13409
@wagnerand Thanks for clarifications. I'm going to mark this verified fixed on AMO dev with FF72(Win10).

[2020-02-11 14:57] AlexandraMoga opened #13462 "Revert report action throws a 404 for users with Admin:ScannersQueryEdit"
Follow up for #13268

### Describe the problem and steps to reproduce it:
1. Log in to AMO -dev with a user that has `Admin:ScannersQueryEdit` permissions (note that you shouldn't have any other 'scanner edit' related permissions)
2. Open the Scanner query results model
3. Mark a report as True positive, or any other action
4. Filter the results to see all States and click on Revert report for you

[2020-02-11 15:57] diox opened #13463 ""matched rules" filter in Scanners Query Results refers to Scanner Rules incorrectly"
STR:
- Load scanners query results admin
- Look at the matched rules filter

Expected results:
- It references Scanner Query Rules - rules created just for code search.

Actual results:
- It references Scanner Rules - rules created for uploads. That prevents the user from filtering through rules correctly.

[2020-02-11 15:59] bobsilverberg commented on #13460
@EnTeQuAk Just wondering, can we expect a bit of a performance boost from this? I recall you saying that mimetype detection was quite expensive, and I'm guessing this will cover most of the files in an extension.

[2020-02-11 17:28] rpl opened #13465 "Add to the abuse report API the new addon_install_source_url parameter"
### Describe the problem and steps to reproduce it:

As part of the changes needed for [Bug 1610844 - Include navigated page in add-on abuse report](https://bugzilla.mozilla.org/show_bug.cgi?id=1610844), we have to update the abuse reports API endpoint to allow an additional `addon_install_source_url` parameter (type: `string|null`).

The change on the Firefox side is in the following phabricator

[2020-02-11 19:33] EnTeQuAk commented on #13460
Yes, I am expecting a significant performance boost. If we indeed see that, we could talk about the general code of detecting the mimetype instead of guessing it from the filename and if we really really need the content-based detection. But that's another thing, let's try it out with the most common files and if that helps we can talk about others too and what the side-effects might be.

[2020-02-11 19:52] wagnerand commented on #13465
Please make sure to update the API documentation as well, as this is a requirement originating from the data-review.

[2020-02-11 19:58] jvillalobos commented on #13416
The proposed change look good to me.

[2020-02-11 20:09] bobsilverberg commented on #13465
Do we need to update the frontend to also pass this new parameter into its calls to the API?

[2020-02-11 20:33] #13463 closed

[2020-02-11 21:37] ajayyy opened #13637 "Release notes only appearing in author locale (en-CA)"
### Describe the problem and steps to reproduce it:

The release notes are not appearing on my addon page when viewed from a locale that is not my own (en-CA).

### What did you expect to happen?

I expected that the release notes show the default locale if no translation is available.

### Anything else we should know?

I do have translations setup for the description, but not the release notes.

[2020-02-11 22:20] #11768 closed

[2020-02-11 22:27] diox commented on #11768
STR:
- Log in as a reviewer and open a review queue page, like the auto approved queue
- Open developer tools

Expected results:
- `multidb_pin_writes` can be either present or absent, but its expiration date does not change while the queue is opened, and it doesn't flash yellow (which indicates it's being overwritten)

Actual results (before fix):
- `multidb_pin_writes` cookie is present, flashes

[2020-02-12 08:04] AlexandraMoga commented on #13268
I've verified the new scanner query rules permissions and I have the following results:
- users with `Admin:ScannersQueryView ` can view the scanner query results list and details and the scanner query rules and details; they cannot add, edit or delete rules; they don't have access to Actions in scanner query results
-  `Admin:ScannersQueryEdit ` have view and edit access to the scanner query resu

[2020-02-12 08:28] AlexandraMoga opened #13471 "Scanner query result list and detail views are not refreshed after reporting a false positive"
### Describe the problem and steps to reproduce it:
1. Open the scanner query results list - https://addons-internal.dev.mozaws.net/en-US/admin/models/scanners/scannerqueryresult/
2. Report one of the entries as False Positive
3. Observe the scanner query results page (ignoring the github page that opens in a new tab)

### What happened?
The scanner query results page is not refreshed. You can see

[2020-02-12 09:04] wagnerand commented on #13206
The admin UI should show the author(s), add-on GUID, version number, version channel, matched file(s) and matched line(s), with as many hits per page as performance allows.

Ideally, we would group those hits by add-on id/GUID, version channel, version id, matched file.

[2020-02-12 09:43] diox commented on #13465
@bobsilverberg it's not going to be a required field, AMO itself wouldn't have access to that information anyway. I imagine it would automatically be included for abuse reports coming from AMO through Firefox, though.

[2020-02-12 10:05] wagnerand opened #13472 "Store hash of in-xpi files"
It would be helpful to store the hash of each in-xpi file somewhere admins can access that, with search capability for a specific hash and most used identical files.

[2020-02-12 10:33] ioanarusiczki commented on #13270
@diox I went to Add scanner query rule but I only see the `Yara` scanner being available. I checked dev and stage.

[2020-02-12 10:56] diox commented on #13270
Both got my fix so that's what's expected.

[2020-02-12 12:00] eviljeff opened #13474 "refactor BlockSubmission to move DUAL_SIGNOFF_AVERAGE_DAILY_USERS_THRESHOLD to a setting"
Having it as a setting makes it easier to set for local debugging/development, and potentially we might want to have different thresholds on stage than prod (with the bonus that setting it to `0` effectively disables the bypass and forces dual signoff on all Blocks; and setting it to a super high number turns off dual signoff for all Blocks)

[2020-02-12 12:00] ioanarusiczki commented on #13463
@diox For the `by matched rules` filter I see the names of the created query rules associated with the scanner's name.
Verified on dev with FF72(Win10).

[2020-02-12 12:21] ioanarusiczki commented on #13270
@diox Yes, it's quite clear in the issue :))  But my mind went the other way because I saw yara already being there from the last week.
This issue is verified on dev and stage with FF72(Win10)

[2020-02-12 12:25] #13474 closed

[2020-02-12 12:29] rpl commented on #13465
@bobsilverberg I confirm what @diox just said: when AMO is reporting an abuse using the Firefox integrated report panel, the new property is going to be included in the submitted data by Firefox itself (when it is available in the addon db).

[2020-02-12 13:17] AlexandraMoga commented on #13344
@diox here are my test method and results:

- submitted 4 add-ons, 2 listed and 2 unlisted
- I approved the listed and waited for the auto-approval to run on the unlisted
- I forced disabled one of the listed and one of the unlisted add-ons
- waited until 12h28 and changed the status for them back to Approved
- at 12h31 I've deleted the remaining unlisted add-on
- at 12h31 I've set the remaining l

[2020-02-12 14:20] AlexandraMoga opened #13476 "Add-ons with invalid guids can be created on AMO by using the signing API"
### Describe the problem and steps to reproduce it:
1. Create an add-on package with an invalid guid format
2. Upload the add-on through the [signing api](https://addons-server.readthedocs.io/en/latest/topics/api/signing.html#post--api-v4-addons-) - this will create an add-on with no versions on AMO
3. Modify your add-on package by clearing the `guid` entry from the manifest
4. Go to DevHub - Mana

[2020-02-12 14:53] diox commented on #13476
The signing API doesn't validate the guid in the manifest, because it's the linter's job. The problem is, [the signing API creates add-on instance in database before validation occurs](https://github.com/mozilla/addons-server/issues/7135), so we can end up with an add-on instance in database with an invalid guid, and it's not re-checked afterwards - we trust the data from the db.

[2020-02-12 15:38] AlexandraMoga opened #13477 "Dual sign off should be required only when editing the version range in a Block"
Follow up for #13341

### Describe the problem and steps to reproduce it:
1. Go to Admin - Blocklist model
2. Open the list of existing blocks - https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/block/
3. Select one of the blocks and open its detail page (make sure that the block you selected would normally require dual sign-off, i.e. is either a listed add-on with >100k ADU or a

[2020-02-12 16:53] diox commented on #13206
We also discussed the fact that the actions (mark as true positive/false positive/unknown) aren't that useful:
- They are stored on `ScannerQueryResult` instances, which are *not* fed to machine learning (only `ScannerResult` are)
- Even if they were, the rules are arbitrary and not necessarily equivalent to submission rules

I'll probably remove them as part of this issue - that'll leave more spa

[2020-02-12 16:57] wagnerand commented on #13471
@diox Should this be closed in light of https://github.com/mozilla/addons-server/issues/13206#issuecomment-585304067?

[2020-02-12 17:01] diox commented on #13471
Yeah.

[2020-02-12 17:01] #13471 closed

[2020-02-12 18:28] devaneymoz opened #13478 "upload more hero area images"
To add more visual variety and programming flexibility to the homepage hero area, can we please upload the images found here:

https://drive.google.com/drive/folders/1wK2Fcgo2txAC4b0ZYt7wI6sCzeTpKep-

(Please note the folder also includes images that currently exist in admin)

@eviljeff

[2020-02-12 18:45] #13408 closed

[2020-02-12 18:46] eviljeff commented on #13307
@Abhi-khandelwal if you have a good idea how to change it, sure. (I've not had the chance to think about it)

[2020-02-12 18:52] eviljeff opened #13480 "Don't force a refresh on a new BlockSubmission when changing the min/max unless nessecary"
Currently if the min/max versions are changed for a multiple guid submission we force a refresh to the page to update the list of existing Blocks that would be impacted by the change.  Instead, we should make it more intelligent and don't do that if all the guids are new guids.  (i.e. no existing Blocks are referenced).   To make it clearer we might want to explicitly show a validation error to ma

[2020-02-12 19:09] muffinresearch commented on #13225
@eviljeff That's a good question, are there any details of how hotness and trending are actually calculated?

I wonder how much usage hotness and trending get and if there's an opportunity to simplify things further? It's not clear to me what the precise differences are.

/cc @diox

[2020-02-12 19:16] eviljeff commented on #13225
hotness is calculated as
[code]
from https://github.com/mozilla/addons-server/blob/master/src/olympia/addons/cron.py#L165-L203

[2020-02-12 19:19] eviljeff commented on #13225
Hotness is what we call trending in the codebase (because some obscure historial reason probably).  It's used on the second level of the homepage (e.g. https://addons.mozilla.org/firefox/extensions/) in the trending block.

[2020-02-12 21:31] diox commented on #13123
Project for the stats processing changes: https://github.com/orgs/mozilla/projects/116 (it's empty, but basically the whole project is blocking this).

[2020-02-13 08:34] ioanarusiczki commented on #13449
@diox Strange, it's 404 in the browser.

I still get this with Postman

![AMO dev response](https://user-images.githubusercontent.com/33448286/74415500-25fc6380-4e4c-11ea-9e2a-3c61026d0c26.png)

And the details are exposed.

On AMO stage it's a 404

![AMO stage - testing](https://user-images.githubusercontent.com/33448286/74415586-55ab6b80-4e4c-11ea-9a77-a1a1c1b9b96d.png)

[2020-02-13 08:48] ioanarusiczki commented on #13449
@diox So the second API on stage is incorrect - that was the reason I received a 404 in the first place.
On both servers the API return a 200 response, details are available and "status":deleted - so I'm going to close this issue.
Sorry for the confusion.

[2020-02-13 08:48] #13449 closed

[2020-02-13 09:44] AlexandraMoga commented on #13341
These are my results after having verified this issue on -dev:

- when a single block entry is edited, if the conditions for dual sign-off are met, the block will be Pending for dual sign-off (an entry in the Block submissions queue will be created)
- while the block is Pending for sign-off, users can still see the block details but without the new added changes (_Note: because #13283 is not fixed

[2020-02-13 10:06] diox commented on #13449
If you see details + `status: deleted` you're likely using an admin account when making the API request.

[2020-02-13 10:28] AlexandraMoga opened #13484 "Add a filter By Sign-off State option to the Block Submissions list view"
### Describe the problem and steps to reproduce it:
1. Log in with an admin user
2. Open the Blocklist submissions model - https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/blocksubmission/
3. Try to find the latest blocks Pending for sign-off

### What happened?
In the current format, there is no way to easily filter out block submission entries by their sign-off state

### What

[2020-02-13 10:45] AlexandraMoga opened #13485 "The Input Guids field from Block submissions detail view doesn't expand when clicked"
### Describe the problem and steps to reproduce it:
1. Log in with an admin account
2. Open a block submission detail page - https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/blocksubmission/66/change/
3. Click on the Input Guids field at the top of the page

### What happened?
Nothing happens
### What did you expect to happen?
The field should expand to expose the original list

[2020-02-13 12:17] #13460 closed

[2020-02-13 12:22] #13459 closed

[2020-02-13 12:42] EnTeQuAk opened #13487 "Move from debian-buster (prev testing) to rolling testing"
We do have one feature that relies on the most recent features to be available and that's our `libmagic` integration.

Another one depends on an up-to-date libgit2 library - see #13391

Let's move from an explicit debian buster - which we're currently using - to simply using debian testing to have a rolling target.

[2020-02-13 13:21] AlexandraMoga opened #13489 "Block history is not populated in block detail view when the add-on goes through dual sign-off"
### Describe the problem and steps to reproduce it:
1. Log in with a user that has `Blocklist:Create` permissions
2. Open the Blocklist model and add a new add-on to the list (make sure that you choose an add-on that requires sign-off - i.e. add-on with no stats or with over 100k ADU)
3. With a user that has `Blocklist:Signoff` permissions, open the Block Submissions list and look for the new bloc

[2020-02-13 13:30] AlexandraMoga commented on #13282
@eviljeff I can see the following logs when I'm looking in the Activity log and in a Block submission History:

Activity Log (sign-off for a new add-on added to blocks and a block edit)
![image](https://user-images.githubusercontent.com/31961530/74439447-e9912d80-4e74-11ea-8530-df9190f81aac.png)

Block submission history (with sign-off)
![image](https://user-images.githubusercontent.com/31961530/7

[2020-02-13 14:25] wagnerand opened #13490 "Add option to include disabled addons in code-search"
For some use cases it would be useful to have an option upfront to include disabled addons in the code-search, for example during the creation of a rule.

Since that can have significant impact on the performance, it should be off by default.

[2020-02-13 14:55] diox commented on #13461
This is slightly annoying to do because django admin doesn't let custom field methods receive the `request`. But we just have to hide them, the proper permission check is done later when the action is executed, so we can work around that limitation by just doing it in CSS or something like that.

[2020-02-13 16:28] eviljeff commented on #12461
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1615337 for access

[2020-02-13 16:38] diox commented on #13462
wontfix per https://github.com/mozilla/addons-server/issues/13206#issuecomment-585304067

[2020-02-13 16:38] #13462 closed

[2020-02-13 16:40] diox commented on #13272
Assigning to @EnTeQuAk for double-checking but the issue might be on the client side if it works when escaping the query parameter. /cc @bobsilverberg

[2020-02-13 16:47] diox commented on #12416
We've got #addons-bots on slack with the pullpanda notifications now, so maybe it'd make sense to move those here as well ?

[2020-02-13 16:49] diox commented on #13333
Sorry for not getting back to you sooner. I see you managed to upload a few versions since, so I'm going to close this, but let us know if we should re-investigate.

[2020-02-13 16:49] #13333 closed

[2020-02-13 16:51] #12752 closed

[2020-02-13 16:52] diox commented on #10580
Fenix is going to change how [add-ons will work in Firefox for Android](https://blog.mozilla.org/addons/2020/02/11/faq-for-extension-support-in-new-firefox-for-android/) and compatibility will be enforced in a stricter way.

[2020-02-13 16:52] #10580 closed

[2020-02-13 17:18] eviljeff commented on #13304
I'm going to change this flow with https://github.com/mozilla/addons-server/issues/13480 so there isn't a double save.  (It will either clearly error with a validation message, or save straight away).  So closing this issue.

[2020-02-13 17:18] #13304 closed

[2020-02-13 17:20] eviljeff commented on #13485
This is deliberate - if you click it then it expands to show what the original list of guids were in case you want to bulk delete them or similar.

[2020-02-13 17:23] eviljeff commented on #13124
@wagnerand / @jvillalobos to opine.  #12978 was explicitly about unlisted versions.

[2020-02-13 17:37] vcarciu opened #13491 "Cannot submit webextensions in Developer Hub"
Steps to reproduce:
1. Go to https://addons.mozilla.org/en-US/developers/addon/submit/distribution
2. Try to submit a valid webextension

Expected results:
Validation is passed without issues

Actual results:
Validation never ends

NOTES:
Was not reproducible on Stage today

[2020-02-13 18:12] #6452 closed

[2020-02-13 18:16] wagnerand commented on #13124
If feasible, I would appreciate if we could automatically disable all versions that are affected by a block. Otherwise, I will have to do it manually. In every case I can think of, a blocked version would also be disabled.

[2020-02-13 18:27] eviljeff commented on #13124
It's not how the Blocklist Admin tool was specified - currently it purposely doesn't touch the Addon/Version/File instances at all. So this would be out of scope for the Blocklist projects and worked on separately/later.

[2020-02-13 21:06] jvillalobos commented on #13124
Yeah, the tool didn't contemplate status changes as designed. I can see it being useful to disable the versions once blocked, though it might get confusing if removing a block doesn't revert the status changes (and if we do that, then we would need to somehow store the previous state, etc).

[2020-02-14 00:03] diox commented on #13491
Fixed by #13492

[2020-02-14 00:03] #13491 closed

[2020-02-14 06:43] AlexandraMoga commented on #13485
@eviljeff nothing happens when I click on that field, hence my belief it was left there unintentionally.
If the field was supposed to expand then the purpose of this issue can be changed.

![2020-02-14_08-40-26](https://user-images.githubusercontent.com/31961530/74507735-f9a51d80-4f05-11ea-8ea9-eeee58131afa.gif)

[2020-02-14 09:12] vcarciu commented on #13491
Verified as fixed during sanity yesterday.

[2020-02-14 10:00] ioanarusiczki commented on #13465
@diox
- I sent abuse reports from Postman with [Addon Abuse Report API](https://addons-server.readthedocs.io/en/latest/topics/api/abuse.html#submitting-an-add-on-abuse-report) and the "addon_install_source_url": null is available in response.

- I sent string type values such as "addon_install_source_url" :"xyz", "addon_install_source_url" :"https://addons-dev.allizom.org/en-US/firefox/" , "addon_

[2020-02-14 10:01] #13250 closed

[2020-02-14 10:53] #13283 closed

[2020-02-14 10:56] wagnerand commented on #13124
@AlexandraMoga, @eviljeff and I are a bit unclear on what this issue asks for. Is it one of the following?
* Add a new action "Block multiple versions" to the reviewer tools page for listed versions
*  Disable the versions when you click the "Block add-on" button on the reviewer tools page
* Disable the versions during blocking the add-on in the admin tools (regardless of whether the action origin

[2020-02-14 11:21] eviljeff commented on #13485
Looks like there's a javascript load failure (that doesn't occur in local development)

[2020-02-14 11:44] wagnerand opened #13497 "Remove references to the 'Staff' group"
The _Staff_ group is going away, let's remove referencing it from the code.

QA:
* Test that the reviewer tools leaderboard still works. (`/reviewers/leaderboard/`)
* Test that the weekly reviewer report emails are still sent (1 for code-review, 1 for content-review, every Monday morning)

[2020-02-14 11:59] AlexandraMoga commented on #13124
@wagnerand my initial intent was to have what was mentioned in your second point:

However, if you have something more practical in mind we can go with that.

[2020-02-14 12:02] eviljeff commented on #13485
The problem is that `/en-US/admin/models/jsi18n/` - the javascript file that handles translations in Django - is blocked by our strict CSP that disallows javascript from outside of the CDN.

`{% url 'admin:jsi18n' %}` is loaded on most of the django admin templates and `gettext()` from it is used in the snippet of javscript that adds the show/hide link.

Added complication - if we just add `/en-US

[2020-02-14 12:06] eviljeff commented on #13478
@devaneymoz what's the deadline on this?  (if any)

[2020-02-14 13:10] #12416 closed

[2020-02-14 14:15] #13497 closed

[2020-02-14 16:58] devaneymoz commented on #13478
No firm deadline but as soon as it's convenient would be great. You think we can get the images uploaded within February?

[2020-02-15 09:59] #11969 closed

[2020-02-15 12:26] Abhi-khandelwal commented on #13485
Hello @eviljeff, can I take this issue?

[2020-02-15 12:59] #11570 closed

[2020-02-15 21:51] eviljeff commented on #13485
what's your fix?

[2020-02-17 07:58] AlexandraMoga commented on #11768
I've verified the reviewer queues on -dev and I have the following results:
- `multidb_pin_writes` cookie is present but it's expiration date doesn't change while the queue is opened and it doesn't flash yellow
- the lock icon is present next to a queue entry if another reviewer has opened that particular review page; the lock disappears after a few seconds if the other reviewer closes the review

[2020-02-17 08:02] AlexandraMoga commented on #13408
@eviljeff should I test this on -dev? If so, can you give me some instructions?
Thanks

[2020-02-17 09:17] diox commented on #11768
1. Yes
2. That's different. You mean a request to `review_viewing`, not `queue_viewing` right ? That one should stay as a `POST`, because it serves both to check who's viewing and also to set yourself as the person currently reviewing this particular add-on.

[2020-02-17 09:37] diox commented on #13485
For our own pages in addons-server we replaced django's dynamic js18n view by a generated file for each locale that is served by the static host, with a query string to cachebust (So it looks like `
https://addons.cdn.mozilla.net/static/js/i18n/en-US.js?b=2f8e7bf4-5e459a61`)

In the admin though... using the same strategy would require altering the templates that include that script. It's a bit tr

[2020-02-17 10:36] AlexandraMoga commented on #11768
Yes, it's `review_viewing`. My bad.

[2020-02-17 10:39] eviljeff commented on #13485
I suppose we just need to override the url django adds to the admin https://github.com/django/django/blob/2.2.10/django/contrib/admin/sites.py#L256 to a view that calls our own `jsi18n` url with a query string appended.  Or yeah, just hack a simple bit of js that has a trivial `gettext` function so it doesn't django admin's js doesn't fail.

[2020-02-17 11:34] diox opened #13506 "Explicitly route each celery task to a specific queue"
Our `default` celery queue is used by too many tasks. It's usually fine, except last Thursday when we ran a manual git extraction of all unlisted add-ons: suddenly the `default` queue was full and some critical tasks where still incorrectly routed there, but because the queue was so full they were never executed as quickly as we wanted. See https://github.com/mozilla/addons-server/issues/13491 for

[2020-02-17 13:05] eviljeff commented on #13478
@devaneymoz some of these images are a different aspect ratio (currently they're all sized 960x460) and/or portrait.  What should be done about them?
 - Resize to 960x460 with padding (fixed color though 😿 because no transparency on jpegs)?
 - Crop to 960x460?
 - Resize to length 960, with a variable height depending on the image.  (Not sure how well addons-frontend will cope with oddly sized imag

[2020-02-17 14:11] AlexandraMoga commented on #13283
An existing block can no longer be updated in the following cases:
- when the single block edit is waiting for sign off
- when the blocked guid is pending for sign off as part of a multiblock submission

Additionally, guids that are pending for sign off can't be added as new blocks. The following error message is received:
`GUID {guid} is already in a pending BlockSubmission`

@eviljeff I have som

[2020-02-17 14:36] ioanarusiczki commented on #13459
@diox I verified on dev with FF73(Win10) the filters. I did not find issues. Maybe one thing: the matched rules filter is now at the top of the page. If the list of rules gets longer it could make the rest of the added filters less visible. On the other hand matched rules could be the most important filter criteria for the scanner query results.

[2020-02-17 14:52] diox commented on #13459
The ordering of filters is subject to change in the future, not worrying about it now.

[2020-02-17 15:07] wagnerand opened #13508 "Deleting a group fails"
### Describe the problem and steps to reproduce it:

STR:
1. Create a user group
2. Add some users to it
3. Try to delete the group.
### What happened?

[code]

### What did you expect to happen?

Group is successfully deleted.

### Anything else we should know?

https://sentry.prod.mozaws.net/operations/olympia-dev/issues/7296022/?query=is:unresolved

[2020-02-17 15:48] eviljeff commented on #13283
There's a message shown at the bottom of the log.  As there wasn't any UX it wasn't clear how prominent (or where) the warning should be so I went with that.

yes, I thought they were already.  Can you file a follow-up?

[2020-02-17 16:41] #13506 closed

[2020-02-17 17:00] vcarciu commented on #13465
After talking with @diox , I am reopening this in order to add the parameter in admin review for abuse report.

[2020-02-17 17:10] muffinresearch commented on #12080
@diox is enough information provided to be able to special case this 403?

[2020-02-17 17:27] diox commented on #12080
Yes. We currently do catch the fact that there is no invitation for this user on the addon in the URL, and redirect to the developer page for that addon, causing a 403:
https://github.com/mozilla/addons-server/blob/355855ffc761b9cc1f22625ed2c0952f5bf66dc6/src/olympia/devhub/views.py#L416-L421

Instead of doing this, we should:
1) Check if the user is an author on the add-on. If they are, then redi

[2020-02-17 17:49] rpl opened #13511 "Add addon_install_source_url to the abuse report field rendered in the related admin views"
### Describe the problem and steps to reproduce it:

As a followup to #13465, the property `addon_install_source_url` of the abuse reports submitted to AMO should be rendered as part of the related admin views.

[2020-02-17 17:52] rpl commented on #13511
Hey @diox, this is the followup of #13465, @vcarciu was looking into verify [Bug 1610844 - Include navigated page in add-on abuse report](https://bugzilla.mozilla.org/1610844) today and he noticed that the property is not yet visible.

[2020-02-17 18:33] diox commented on #13465
Closing in favor of #13511

[2020-02-17 18:33] #13465 closed

[2020-02-18 02:10] mirefly commented on #13433
I investigated this issue and found that we did not mount `/code/storage/guarded-addons` to the container at all (https://github.com/mozilla/addons-server/blob/master/docker-compose.yml#L37-L41). So the deleted files (after deleting an add-on) will not be available even after the crobjob (or I missed something?). It looks like we have to add something like:
[code]
into https://github.com/mozilla/a

[2020-02-18 08:41] ioanarusiczki commented on #13460
@EnTeQuAk Please add some STR for qa.
Thanks!

[2020-02-18 09:43] diox commented on #13433
That looks correct - it's not something that happens often for local development so we must have overlooked it as it works fine in tests without nginx. On dev/stage/prod it works because we don't use `docker-compose` there at all.

[2020-02-18 10:15] #13487 closed

[2020-02-18 11:36] #13415 closed

[2020-02-18 11:53] AlexandraMoga opened #13520 "Prevent deleting an existing block if its guid is present in a Block Submission"
Follow up for #13283

### Describe the problem and steps to reproduce it:
1. Log in with an admin account
2. Open the list of exiting blocks in admin tools and edit one of the entries (make sure that your selection meets the criteria for sign off requirements)
3. Try to delete the block while it's still pending for sign off

### What happened?
The block can be deleted

### What did you expect to h

[2020-02-18 12:04] AlexandraMoga commented on #13283
@eviljeff I couldn't see the message you refer to. If by _at the bottom of the log_ you mean the Block history, #13489  is currently blocking the verification.

[2020-02-18 12:22] AlexandraMoga commented on #13474
I've verified that the sign off process still respects the threshold set up from #13285

[2020-02-18 12:28] eviljeff commented on #13489
The `-` generally means there's an error generated while trying to get the value.  It's a django admin "feature" that means bad data is less likely to take down the entire admin page - the downside is when an error _does_ happen you don't know what it is.  I'll see if I can replicate locally.

[2020-02-18 14:39] ioanarusiczki opened #13522 "The admin should not be able to create a new block from rev tools for an add-on with dual sign off"
STR:
1. Block an add-on using admin tools with `Add block` which required dual sign-off
2. While the add-on is in Pending state go to rev tools to it's review page. Example: https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/shret-sheasaur-starse2
3. As an admin click the Block add-on blue button

Expected result:
The button should be in "Update" state or greyed out already.

Actual r

[2020-02-18 14:47] AlexandraMoga commented on #13522
The fix proposed in #13283 worked from admin tools because the check is made on the guid input field when a new block is added. However, when the request is coming from rev tools, I think that check is skipped, hence the possibility to create duplicate block submissions.

[2020-02-18 15:05] AlexandraMoga opened #13523 "500 error triggered when attempting to add to blocks a previously deleted block (signed-off)"
### Describe the problem and steps to reproduce it:
1. Log in with an admin user
2. Open the admin blocklisting tool and add a new guid to blocks (make sure that your selection requires sign-off)
3. With another user that has `Blocklist:Signoff` rights, Approve the block submission
4. With the first user, open the block list view and delete the newly published block
5. Try to block the same guid a

[2020-02-18 15:17] diox commented on #12947
I've been [investigating this in a branch](https://github.com/diox/olympia/commit/7f8ef353909cf71810fb8f586806abc54c38a9a6#diff-9641c78db9860fa42e17601aa1218253R93-R98). I could get it to work by having a filter class that does this:
[code]

There are 2 issues with that approach though:
- The filter needs to be at the bottom of the list. It needs to be processed last, because there are actually 2

[2020-02-18 16:33] #13511 closed

[2020-02-18 16:55] #13490 closed

[2020-02-19 01:43] bqbn commented on #8508
We've built a v6.8.6 ES cluster in -dev environment. Any suggestion how we proceed to switch to that cluster?

Hopefully, there is a way for us to run the new version in -dev and -stage for a week or two before upgrading -prod. :)

[2020-02-19 09:35] ioanarusiczki commented on #13415
@caitmuenster

I verified this on AMO dev with FF73(Win10). The following EW are available while making an add-on submission:
[More information on Developer Accounts](https://extensionworkshop.com/documentation/publish/developer-accounts/)
[More information on Add-on Distribution and Signing](https://extensionworkshop.com/documentation/publish/signing-and-distribution-overview/)
[source code submi

[2020-02-19 10:09] diox commented on #8508
I was hoping the new stats storage would be ready in time, but that looks unlikely at this point, since we haven't started the work on it.

Because we need a new data structure, it's going to be difficult to have on dev & stage for more than a week - keeping the code compatible with both data structures is not trivial - I don't think we have the developer time to do it.

My plan was:
- Finish up t

[2020-02-19 10:47] diox commented on #12315
I know we have been looking for potential good first python bugs, it might be more of a good *second* bug, but worth considering for someone that knows python, is familiar with unit testing and would be willing to spend some time debugging things.

[2020-02-19 11:30] bjherbison opened #13532 "Content reviewers can't review some old add-ons"
Two add-ons have showed up recently which I, as a content reviewer, can't content-approve.

https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/soundfixer
https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/turn-off-the-lights

The first was already fixed (by approval by an admin). Tthe second is currently on the content review list but the Approve Content action re

[2020-02-19 11:42] diox commented on #13532
So you can access both pages, but it's the action that causes the error in both cases ?

[2020-02-19 11:57] diox commented on #13532
I don't have reviewer permissions anymore, so I can't reproduce the exact issue myself, but both add-ons are recommended, which I bet is where the problem is coming from.

[2020-02-19 12:22] bjherbison commented on #13532
Interesting. There was no easy way for me to see it was recommended because https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/turn-off-the-lights only includes "recommend" in the text of a bad user rating.

So the Approve Content link should be disabled and have a mouse-over that says "You aren't allowed to content-approve recommended add-ons". (Or better yet, not show it in the

[2020-02-19 12:35] AlexandraMoga opened #13533 "Scanner query rule stuck in Running mode"
### Describe the problem and steps to reproduce it:
1. Create a new scanner query rule
2. Save the rule and Run it
3. Refresh the page several times until the number of identified results doesn't increment anymore
4. Check the rule State

### What happened?
The Rule is still in a Running state

### What did you expect to happen?
The rule State is Completed

### Anything else we should know?
There

[2020-02-19 13:03] ioanarusiczki commented on #13487
@EnTeQuAk I believe this is a qa "not needed" ?

[2020-02-19 13:14] AlexandraMoga commented on #13532
The fact that a recommended add-on ends up in the Content review queue looks like a regression from https://github.com/mozilla/addons-server/pull/13192 which re-enabled content review on metadata changes.

However, it is still not very clear how a user with only Review:Content permissions was able to actually open the review page for those add-ons. I tried with a content reviewer on -dev but I rec

[2020-02-19 13:18] wagnerand commented on #13532
The user also has `ReviewerTools:View`, which I think we added a while ago to mitigate some other access issue.

[2020-02-19 13:33] lafonth opened #13534 "Submit new version: Warning sources missing"
Hello,
I got several times this case.
Developers are submitting a new version of their add on. In past versions, they were uploading sources correctly.
But not on the new one, it is impossible to us as reviewers to proceed to the review and have to ask the developer to upload sources of this new version. Which is slowing down the process.

It would be interesting to at least warn developers that t

[2020-02-19 13:58] AlexandraMoga commented on #13490
I've submitted several add-ons on -dev (both listed and unlisted) and targeted a specific rule.  Then, I've Forced Disabled some of them and created a scanner query rule that would also identify disabled add-ons.
After the query run, the Forced Disabled add-ons were present in scanner query results.

I've created a second query rule, this time excluding disabled add-ons. After the query run, Force

[2020-02-19 14:08] AlexandraMoga commented on #13497
I did some testing on -dev around this but I couldn't find any bad consequences after the group removal.
I had a user that used to be in the Staff group. Apart from losing access to all the relevant tools that were being granted by this group, there were no issues observed.

The reviewer leaderbord can still be accessed and changes to reviewer points are reflected accordingly.
The two reviewer rep

[2020-02-19 14:23] ioanarusiczki commented on #13511
@diox
- the Addon install source url field is available in admin tools dev on /admin/models/abuse/abusereport/25466/change/ into the Abuse Report section and at the bottom of the page.
- I sent using Postman string type values and the field was populated. The maximum number of chars allowed is 255. If I'm sending some long unbroken string at one point it would break the layout of the page but I do

[2020-02-19 15:59] diox commented on #13511
You can file a follow-up for places where we don't break strings for abuse reports - I suspect it will also happen for other fields, and we can force word-wrapping to handle that.

[2020-02-19 17:06] mojtabadaneshi opened #13535 "Change delete version warning message to make it clear reviews won't be removed too"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
Go to a addon listing versions
Delete a version of your addon
A popup will show include a warning that 1 file and X reviews will remove
Click on Yes button.
### What happened?
Version will remove but related reviews still remain.
### What did you expect to happen?
I except all related reviews to delet

[2020-02-19 17:32] devaneymoz commented on #13478
Difficult to say in the abstract what's the best path, but **crop to 960x640** feels like the optimal path. Would you agree?

[2020-02-19 20:39] jvillalobos commented on #13535
The expected behavior is probably that the message should be removed, since we're no longer tying reviews/ratings to specific add-on versions. I think we stopped deleting them because of that change.

[2020-02-20 01:34] bqbn commented on #8508
OK, the plan is about the same as what I have in mind except that it has a tighter schedule. I think it's still reasonable though and we should try it.

One question I have, is it correct that only the cron jobs trigger the writes to the ES cluster? For example, if I disable the cron jobs on the admin instance, is it right that no other tasks will write to the ES cluster?

Meanwhile, I wrote a dra

[2020-02-20 06:37] aarushivij commented on #5551
Hello, This shall be my first bug to contribute into moz add-ona
Can I work on it?
Also how can I get started?
Thank you
Aarushi

[2020-02-20 10:00] diox commented on #8508
No, writes to the ES cluster are done by celery tasks which can be triggered by a bunch of things, like someone saving an add-on for instance. Shutting down the cron helps though, as it disables add-on auto-approvals (a source of add-on changes) and disables stats indexing (also it only happens once a day anyway).

[2020-02-20 10:23] diox commented on #5551
@jvillalobos can you provide some text to add to the 500 error page ? I guess we'll link to https://github.com/mozilla/addons/issues/new. The current content, for reference, is:
[code]

@aarushivij : you can follow https://addons-server.readthedocs.io/en/latest/topics/install/docker.html to install addons-server environment locally. For this issue, once the text to add has been provided, you'll wa

[2020-02-20 10:51] #13480 closed

[2020-02-20 11:39] bjherbison commented on #6936
The change noted in September has been reverted. The link in the e-mail now takes me to a page that I can't read so I need to change the URL before I can see any useful information.

As I noted last year, this issue causes me extra work multiple times a day.

[2020-02-20 11:59] diox commented on #13005
We haven't quite figured out why this is happening - the waffle should be cached - but we can work around this by removing the `api-recommendations-priority` switch entirely. We're unlikely to ever turn it off anyway.

[2020-02-20 12:36] stoically commented on #7811
Would be useful to declare the compatible apps when submitting Add-on as well, since currently it always adds Firefox and Firefox Android as compatible.

[2020-02-20 12:36] aarushivij commented on #5551
Okay @diox I shall set up the environment first and then move forward with the issue.
Thanks :)

[2020-02-20 13:43] AlexandraMoga commented on #13209
This has been verified with multiple search queries in other scanner query issues.

[2020-02-20 14:02] bobsilverberg commented on #12924
@EnTeQuAk Isn't this fixed via https://github.com/mozilla/addons-server/issues/13460? And if so, shouldn't the milestone be set to `2020.02.20`?

[2020-02-20 14:05] bobsilverberg commented on #12725
@EnTeQuAk Should this be fixed now?

[2020-02-20 16:51] jvillalobos commented on #5551
[code]

[2020-02-20 17:01] wagnerand commented on #5551
We could make use of the `title` and `body` GET parameters to the `.../new`link to pre-fill some information, for example the reference.

Example link: https://github.com/mozilla/addons-server/issues/new?title=Server%20Error&body=Reference%20No:%20...

[2020-02-20 17:38] jvillalobos commented on #5551
That would kill the template text, no? Though I suppose we can include that in the body too...

[2020-02-20 18:38] caitmuenster commented on #5551
@jvillalobos Text LGTM!

[2020-02-20 19:07] EnTeQuAk opened #13541 "Integrate Google BigQuery SDK"
Refs https://bugzilla.mozilla.org/show_bug.cgi?id=1572873#c25

This issue is about adding the python dependency, creating necessary settings so that we can start experimenting on -dev.

[2020-02-20 19:11] EnTeQuAk opened #13542 "Create BigQuery service mocks"
Once we have the basic client and settings set-up from #13541 we need a way to test our stats dashboards against BigQuery query results.

[2020-02-20 20:32] EnTeQuAk commented on #12725
I investigated this and code-wise everything does look fine and with proper permissions (Admin permissions `*:*`) you'll see deleted versions just fine.

Unfortunately I can't access the review mentioned in the original issue in https://github.com/mozilla/addons-code-manager/issues/1159 - maybe @wagnerand can help making sure I'm not missing something here?

[2020-02-20 21:12] caitmuenster opened #13543 "Update links on autogenerated submission email"
A few links on the autogenerated add-on submission email (found in the file`https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/email/submission.txt`) should be updated to point to Extension Workshop.

* `https://developer.mozilla.org/Add-ons/AMO/Policy/Reviews` should be changed to `https://extensionworkshop.com/documentation/publish/add-on-policies/`

*  `htt

[2020-02-21 00:15] devaneymoz opened #13544 "sorting for "See more Recommenddd extensions""
### Describe the problem and steps to reproduce it:
From the AMO homepage click "See more Recommended extensions" text link within its shelf.

### What happened?
You're taken to a "search results" type page, with pagination that currently runs to four pages.

### What did you expect to happen?
Since the Search results page tells me there are (currently) "97 extensions found" I expect the four page

[2020-02-21 00:15] devaneymoz opened #13574 "Sorting for "See more Recommended extensions""
### Describe the problem and steps to reproduce it:
From the AMO homepage click "See more Recommended extensions" text link within its shelf.

### What happened?
You're taken to a "search results" type page, with pagination that currently runs to four pages.

### What did you expect to happen?
Since the Search results page tells me there are (currently) "97 extensions found" I expect the four page

[2020-02-21 08:32] AlexandraMoga commented on #13544
@devaneymoz this issue has been discussed in more detail in https://github.com/mozilla/addons/issues/1074 but we marked that as a wontfix.
In any case, I still believe this is a valid issue.

[2020-02-21 09:22] wagnerand commented on #12725
I can view the deleted file in the code-manager as well. Closing.

[2020-02-21 09:43] AlexandraMoga commented on #12725
@wagnerand you can see the page with an admin user, but can you access it with a regular reviewer? My understanding of the issue is that regular reviewers should also have view access to deleted files in code manager.
See also https://github.com/mozilla/addons-code-manager/issues/1162#issuecomment-589132568 for more details.

[2020-02-21 09:49] diox commented on #13419
Official announcement about the switch: http://exple.tive.org/blarg/2020/02/20/synchronous-messaging-were-live/

[2020-02-21 10:13] wagnerand commented on #12725
Reopening because of https://github.com/mozilla/addons-code-manager/issues/1162#issuecomment-589132568 until we know whether this is a permission/server issue, or a code-manager issue.

[2020-02-21 10:29] #13419 closed

[2020-02-21 10:56] #13489 closed

[2020-02-21 10:58] #13005 closed

[2020-02-21 10:59] diox commented on #13005
QA: can't test the original intermittent unit test failure, but make sure recommended add-ons still take priority as normal in search results.

[2020-02-21 10:59] wagnerand opened #13548 "Code-Manager API throws 500 for compare view"
### Describe the problem and steps to reproduce it:

https://code.addons.mozilla.org/en-US/compare/842807/versions/2157117...4447512/
(https://reviewers.addons.mozilla.org/en-US/reviewers/review/hydrator)

### What happened?

500: `InvalidSpecError: : failed to parse revision specifier - Invalid pattern ''`
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/6707032/

### What did you ex

[2020-02-21 11:12] bobsilverberg commented on #12725
@wagnerand I'm not seeing an answer here to the question of whether a non-admin should be able to see a deleted version. Should they be able to see one? If so then it sounds like there's still an issue here. @EnTeQuAk are you able to test with a non-admin account?

[2020-02-21 11:35] wagnerand commented on #12725
@bsmedberg Users that have the permission `Addons:ViewDeleted` should be able to view deleted files, and that worked for me on prod. @AlexandraMoga is currently re-testing on her side to see if she can confirm.

[2020-02-21 12:06] bobsilverberg commented on #13272
Looking at the network panel when testing via a local instance of code manager running at http://localhost:3000/en-US/compare/618629/versions/1690062...1690063, I see the request is being made to http://localhost:3000/api/v5/reviewers/addon/618629/versions/1690063/?file=users%20test&lang=en-US, so it appears that the front-end is already escaping the filename, but the API is still generating a 500

[2020-02-21 12:48] AlexandraMoga commented on #12725
@bobsilverberg @wagnerand I've retested with other examples and I can no longer reproduce the issue either. If the reviewer also has the `Addons:ViewDeleted` permission, the contents of the deleted versions were loaded in code manager.

This is another example - https://code.addons-dev.allizom.org/en-US/browse/618827/versions/1690268/

I'm closing the issue based on that.

[2020-02-21 12:48] #12725 closed

[2020-02-21 12:54] wagnerand commented on #12726
@bsmedberg Sorry for the delay here, I missed this. I think this behavior is ok for the time being. We might update it later if we identify a need for this.

[2020-02-21 13:06] #13433 closed

[2020-02-21 15:00] ioanarusiczki opened #13550 "Long unbroken string type values break the layout of the pages in Abuse Reports"
Follwup for https://github.com/mozilla/addons-server/issues/13511#issuecomment-588293381

STR:
1.  I used the [Abuse Report API ](https://addons-server.readthedocs.io/en/latest/topics/api/abuse.html#submitting-an-add-on-abuse-report)and I could populate data fields for the admin tool abuse report.
The layout of the page was broken for admin/models/abuse/abusereport/25492/change/ when I send long u

[2020-02-21 15:23] ioanarusiczki opened #13551 "Long unbroken string type values break the layout on addon review and abuse report pages"
Followup for https://github.com/mozilla/addons-server/issues/13511#issuecomment-588293381

STR:
1. I used the [Abuse Report API ](https://addons-server.readthedocs.io/en/latest/topics/api/abuse.html#submitting-an-add-on-abuse-report)and I could populate data fields for the reviewers/review/ and reviewers/abuse-reports/ pages
The following API parameters sent with long unbroken string type values c

[2020-02-21 15:31] ioanarusiczki commented on #13511
@diox I filed the issues, one on admin tools and the other one for rev tools and I tried to give as much details as I could.
While testing with the API the strings issues I found 2 parameters which I don't think I've seen as being added as data fields in the abuse report - detailed pages.

addon_name (string|null) – The add-on name in the locale used by the client.
addon_summary (string|null) – Th

[2020-02-21 15:33] EnTeQuAk commented on #13225
Mentioning https://bugzilla.mozilla.org/show_bug.cgi?id=1604849#c7 here, we're trying to pursue toe path of pulling data from bigquery for all the stuff we need instead of them pushing data to us.

I'll close this particular issue but will put some notes into the bugzilla bug when it makes sense and when we're talking more about the data. Thanks y'all

[2020-02-21 15:33] #13225 closed

[2020-02-21 17:47] wagnerand opened #13552 "Scanner query rule erroneus redirect"
### Describe the problem and steps to reproduce it:

Go to a scanner query rule page, and click on the link to a result.

### What happened?

All results for all rules are shown:

`/en-US/admin/models/scanners/scannerqueryresult/?matched_rules__id__exact=9&has_version=all&state=all&scanner=3` redirects to `/en-US/admin/models/scanners/scannerqueryresult/?e=1`

### What did you expect to happen?

O

[2020-02-21 17:49] diox commented on #13552
Yeah we need to find a better solution that hardcoding which parameters to send, especially now that the scanner results and scanner query results don't have the same filters.

[2020-02-21 17:51] diox commented on #13511
Currently we don't care and use what we already have in the database about the add-on. That may change in the future, but it's good enough for now.

[2020-02-21 17:51] #13206 closed

[2020-02-21 18:40] eviljeff opened #13555 "Re-implement individual Block deletion"
while implementing dual sign off for deleting multiple Blocks (#13086) I decided to disable per-Block deletions because it'd bypass the dual sign-off.  It's a nice feature to have though (otherwise you have to copy&paste the guid for the Block into the multiple delete text field) so we should reimplement that in a dual-sign-off-friendly way.

[2020-02-22 17:25] #12098 closed

[2020-02-22 23:17] ManishAradwad commented on #13416
Would like to work on this one...
I'm supposed to change only the prompt being displayed, right??

[2020-02-23 05:35] victorphoenix3 commented on #13543
Hi! I'd like to work on this issue.

[2020-02-23 05:58] victorphoenix3 commented on #12315
@diox Hi! I'd like to work on this.

[2020-02-23 10:00] diox commented on #12315
@victorphoenix3 : keep in mind this is not a good first bug, but as I mentioned above it's rather a good *second* bug for someone that knows python, is familiar with unit testing and would be willing to spend some time debugging things.

To work on it: have a look at https://addons-server.readthedocs.io/en/latest/topics/install/docker.html for installing addons-server and then check out my branch

[2020-02-23 15:56] victorphoenix3 commented on #12315
@diox I have built addons-server and also created a local branch from your branch `remove-appsupport` on my machine.

[2020-02-23 16:06] victorphoenix3 commented on #12315
You said in comments to your branch that its a single test failure. Would it be possible for you to please point out the test that is failing?

[2020-02-23 16:41] diox commented on #12315
https://travis-ci.org/diox/olympia/jobs/593594029 has the failing tests. Because the branch is a little outdated (*), the only one you should care about is `TestLanguageToolsView.test_memoize` in `src/olympia/addons/tests/test_views.py` (but it's worth re-testing the whole class or even the whole file to be sure). It's entirely possible that it's just a matter of updating the test itself (or the t

[2020-02-24 11:10] eviljeff commented on #13523
can you still replicate this?  I can't locally - I think it will have been fixed at the same time as https://github.com/mozilla/addons-server/issues/13489

[2020-02-24 12:10] eviljeff commented on #13444
I think the patch that implements dual sign off for deletes will fix this too (I changed how some of the params are handled).  If it doesn't when it closes, please re-open.

[2020-02-24 12:15] #13552 closed

[2020-02-24 12:46] AlexandraMoga commented on #13523
@eviljeff I will see if I'm still reproducing after  addons-server deploys are fixed. Right now, the most recent code available on -dev is from last Wednesday

[2020-02-24 14:49] AlexandraMoga commented on #13489
Verified fixed on -dev. Block history is populated again:

![image](https://user-images.githubusercontent.com/31961530/75161992-6cdc3a00-5725-11ea-9194-00323ad9d7e7.png)

[2020-02-24 14:56] AlexandraMoga commented on #13523
I've re-verified this scenario on -dev and is no longer reproducible after the fix for #13489

[2020-02-24 14:56] #13523 closed

[2020-02-24 17:32] wagnerand opened #13566 "Reviewer cannot access review tools page for add-on without public or pending versions"
### Describe the problem and steps to reproduce it:

An add-ons reviewer (with permissions `Addons:PostReview`) cannot access review pages for add-ons where all files are disabled.

### What happened?

"You're not allowed to view this page"

### What did you expect to happen?

They should be allowed to view the page and also do write operations like sending a reviewer reply or commenting.

### Any

[2020-02-24 17:57] diox commented on #13566
For most of reviewer tools, there are 2 separate permission checks:
- One in the view itself - typically done by `perform_review_permission_checks`
- One in the review helper, that restricts which actions are available (for the actual review page only)

I believe `Addons:PostReview` already covers the latter correctly - it's just that the former is needlessly paranoid, and restricts such reviewers

[2020-02-24 18:58] EnTeQuAk commented on #12725
Thanks a lot for testing this @AlexandraMoga - I wonder if issues like https://github.com/mozilla/addons-code-manager/issues/1130 are also similarly fixed right now. I haven't checked yet, might do so later tomorrow.

[2020-02-24 19:03] EnTeQuAk commented on #11838
While this still isn't the fastest from my recent testing we shaved off another ~2 seconds of waiting time when #13460 landed. From what I see #13420 will bring the rest of the achievable low-hanging fruits.

[2020-02-24 19:04] EnTeQuAk commented on #13420
What's involved here is that we need to look at database queries specifically done in the code-manager related APIs and make sure we don't issue duplicate or needless queries.

[2020-02-24 19:34] EnTeQuAk commented on #11904
![Screenshot from 2020-02-24 20-33-40](https://user-images.githubusercontent.com/139033/75184623-fa7b5200-5744-11ea-94f5-3c8499fb6391.png)

I'm going to close this one as processing and loading large files significantly improved with #13460 - while that's not the case for all files it's the case for the most common ones which will improve day-to-day business.

There's still #13420 but that work is

[2020-02-24 19:34] #11904 closed

[2020-02-24 19:59] bobsilverberg commented on #11904
@EnTeQuAk Sorry, I missed your request to redo my numbers, but I just checked now and I agree that performance is greatly improved.

[2020-02-24 20:03] #13543 closed

[2020-02-25 10:27] #13086 closed

[2020-02-25 10:27] #13444 closed

[2020-02-25 10:34] EnTeQuAk commented on #13272
The issue here is with the cache-key generation:

[code]

[2020-02-25 11:04] wagnerand commented on #11904
@EnTeQuAk The screenshot you added indicated all requests were cached. Could you try again with a clear cache?

[2020-02-25 12:45] bobsilverberg commented on #12725
@EnTeQuAk It looks like https://github.com/mozilla/addons-code-manager/issues/1130 is not yet fixed. See https://github.com/mozilla/addons-code-manager/issues/1130#issuecomment-590785551

[2020-02-25 12:46] ioanarusiczki commented on #13552
@diox
- I went from the general page /en-US/admin/models/scanners/scannerqueryresult/ and clicked on some rules from the `Matched rules` column. The scanner query rules page has a `Matched Results` field which shows the number of the results. If I click it it will redirect to en-US/admin/models/scanners/scannerqueryresult/?matched_rules__id__exact=21 where I see the list of results for a specific

[2020-02-25 13:01] AlexandraMoga commented on #13480
Verified fixed on -dev

- the block submission from requires one single Save if all added GUIDs represent new blocks even if the version range is changed
- the form needs to be Saved twice if the list of GUIDs contains an existing block which is affected by a version range change. In this case, a message is displayed to highlight why the changes to the Proposed blocks happened:

![image](https://u

[2020-02-25 13:05] #13478 closed

[2020-02-25 13:06] eviljeff commented on #13478
they're ready to check out on addons-dev @devaneymoz (amo prod on Thursday)

[2020-02-25 14:12] varunbankar commented on #13416
Would like to work on this
So as far I understand the word "obfuscated" needs to be changed to "minified, concatenated or otherwise machine-generated code"?

[2020-02-25 14:20] #13272 closed

[2020-02-25 14:51] AlexandraMoga commented on #13086
Here are my results after having verified the multiblock delete feature and its integration with the sign off process on -dev:

- add-ons that went trough the dual sign-off process before being published to blocks will also require sign-off when their GUIDs are deleted as part of a multiblock deletion
- add-ons that didn't require sign-off will also be deleted without further approval
- a delete r

[2020-02-25 15:14] #13476 closed

[2020-02-25 15:27] ioanarusiczki commented on #13005
@diox I verified on dev with FF73(Win10) - the see more links from the homepage, extensions/themes tabs and categories.
The recommended add-ons take the [priority ](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#addon-search-sort) as before.

[2020-02-25 15:35] varunbankar commented on #5551
@diox I set up the dev environment, made the change but how do I view the error 500 page?
I read the documentation and going to `/services/500` did not work.

[2020-02-25 15:52] varunbankar commented on #10113
I would like to work on this, from what I have understood is that

<img width="412" alt="Screenshot 2020-02-25 at 9 17 40 PM" src="https://user-images.githubusercontent.com/47035057/75263631-447f3900-5814-11ea-8dab-de0f99fef404.png">

goes to error 404 page if the addon is not public.

and that hyperlink should be hidden if the user is a regular user & plugin is not public

else if the user is `Ra

[2020-02-25 16:20] #13484 closed

[2020-02-25 18:12] diox commented on #8508
Because I haven't had much time to work on this yet, and the [stats project](https://github.com/orgs/mozilla/projects/116) have started getting some traction, we're back on waiting on it for a while to see if that would help us.

Being able to get rid of the stats related indexes would greatly simplify the migration (I suspect it would make updating my branch and fixing tests almost trivial) and g

[2020-02-25 18:12] bobsilverberg commented on #13574
Just wondering, are we going to implement this for *any* search with `random` as its sort sequence, or just for ones that are for recommended add-ons?

[2020-02-25 18:21] devaneymoz commented on #13574
That's a @jvillalobos call. I was just focused on having a place we can direct people to see a comprehensive list of Recommended extensions. Should probably exist for Recommended themes as well.

[2020-02-25 19:10] diox commented on #13574
`random` should only be available as a sort parameter when searching for recommended add-ons (and no query).

[2020-02-25 20:07] eviljeff commented on #13089
The major dual-sign off functionality is complete now so feel free to give it a try on stage/dev 😸

There are some outstanding bugs/feature requests in https://github.com/orgs/mozilla/projects/112 that will be worked on over the remainder of Q1 but I don't believe any of them are blockers for the MVP (I marked anything non-MVP as P4; and P3 for MVP - the stats P3 is blocked by the stats project th

[2020-02-25 20:07] #13089 closed

[2020-02-26 07:14] AlexandraMoga commented on #13444
This issue is verified fixed on -dev.
The Block multiple versions flow from Reviewer Tools is now working as intended.

[2020-02-26 08:00] AlexandraMoga opened #13577 "Block History should be more specific about the pending changes for a specific block"
Follow up for #13089

### Describe the problem and steps to reproduce it:
1. Go to the admin block list view
2. Open the edit page of a block with changes pending, i.e an edited or a deleted block pending for sign off (see [example](https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/block/1043/change/))
3. Check the Block History to see if there are any pending changes for this bl

[2020-02-26 08:03] AlexandraMoga commented on #13283
Filed #13577 for the pending changes message

[2020-02-26 09:36] victorphoenix3 commented on #12315
Hi @diox On `remove-Appsupport` branch the `addons-server_web_1` container does not start. So I am starting the containers on the `master` branch then changing my branch to `remove-Appsupport` to run the tests which are unsurprisingly failing.

But surprisingly the tests are also failing on the `master` branch. Have I done something wrong?

Traceback:

[code]

[2020-02-26 09:39] AlexandraMoga opened #13578 "Hide the 'Update' button in block submission details for Delete block requests"
Follow up for #13086

### Describe the problem and steps to reproduce it:
1. Open the Block submissions list view
2. Find an entry that is Pending for sign-off for a Delete action
3. Open its detail view
4. Notice the action buttons present in the form

### What happened?
There is an 'Update' button present, although there are no editable fields in the detail view

### What did you expect to happe

[2020-02-26 09:40] victorphoenix3 commented on #12315
Also the test failures on the two branches are different, on the `remove-Appsupport` branch I am getting assertion errors while on `master` I am getting migration errors.

[2020-02-26 09:59] diox commented on #12315
You shouldn't get any migration errors. After you switch branches, make sure to run `make update_docker` and if you're still seeing this, the first time after you switch branches, try passing `--create-db` to the test command.

[2020-02-26 10:18] AlexandraMoga commented on #13484
Verified fixed on -dev.
The Block submissions list can now be filtered by Sign-off state:

![image](https://user-images.githubusercontent.com/31961530/75334473-9bc2ef00-5890-11ea-9ca3-c72cb3bbc632.png)

Note that the 'Approved' and 'No Sign-off' states were used only for the waffle switch that was implemented temporarily, before the condition around ADU existed.

[2020-02-26 10:40] ioanarusiczki commented on #13522
@eviljeff

After an add-on is in pending state the add-ons review page displays "View Block Submission" and once it's clicked it redirects to the admin tools page https://addons-internal.dev.mozaws.net/en-US/admin/models/blocklist/blocksubmission/134/change/

![View Block Submission](https://user-images.githubusercontent.com/33448286/75337063-f5c5b380-5894-11ea-98f7-da6218e42e20.png)

Verified on

[2020-02-26 11:24] eviljeff commented on #13484
They're still used, but only momentarily from when the approval is issued (or the determination that dual signoff is unnecessary), until the cron job has finished and the `Block` instances created.  When kinto integration is enabled the jobs will take more time to finish so admins might see those states more frequently.  (If a submission stays in those states its an indication something went wrong

[2020-02-26 12:30] AlexandraMoga commented on #13272
Verified fixed on -dev.
All the file examples mentioned above are now returning a 200 response and their contents can also be loaded in code-manager.

[2020-02-26 13:13] ioanarusiczki commented on #13478
@eviljeff
- looks good to me on dev and stage - FF73(Win10).
![new images added](https://user-images.githubusercontent.com/33448286/75347798-41368c80-58aa-11ea-801a-e7d2a6b524c9.png)

- the [docs ](https://drive.google.com/drive/u/1/folders/1wK2Fcgo2txAC4b0ZYt7wI6sCzeTpKep-) do not include 2 pics left from the other time when pictures were added but I don't think it bothers anyone.

extrapics
![ex

[2020-02-26 13:40] eviljeff commented on #13478
oh, I didn't realise some of the existing images had been dropped.  I think we're okay with leaving them (if @devaneymoz doesn't want to use them he can just not select them).  Next time we can have a tidy up.

[2020-02-26 14:32] AlexandraMoga commented on #13476
Verified fixed on -dev.

The following error is raised in the following scenarios:

` "error": "Invalid Add-on ID in URL or package"`
- an add-on with an invalid `guid` declared in the manifest submitted through the signing api/webext
- an add-on with an invalid `guid` specified in the URL submitted through the signing api

[2020-02-26 14:44] wagnerand opened #13580 "Make some reviewer links visible even when add-on is deleted and use new add-on admin page for status"
Some links in the right navigation bar on the review tools page are unavailable when the add-on is deleted, and they should be available:

* Listed Review Page (if there are/were listed versions)
* Unlisted Review Page (if there are/were unlisted versions)
* Admin Page: This used to link to a custom add-on status admin page, which is indeed unavailable if the add-on is deleted. However, that page

[2020-02-26 16:36] diox opened #13582 "Add link to code-manager in scanners admin"
Scanners admin tools currently display links to files using the old file viewer. We want to add links to the code-manager as a second option for admins to use when viewing files, to get more feedback from them on code-manager issues and performance.

[2020-02-26 16:59] #12924 closed

[2020-02-26 18:26] #8939 closed

[2020-02-27 09:35] ioanarusiczki commented on #12924
@EnTeQuAk
The file https://code.addons-dev.allizom.org/en-US/browse/503019/versions/1541869/?path=lib%2Fbasedomain.js indicates a different MIME type now on AMO dev as the API https://addons-dev.allizom.org/api/v5/reviewers/addon/503019/versions/1541869/?path=lib/basedomain.js. I also see the code as being highlighted in code manager.
Checking the Privacy Badger on AMO dev I also see the same beha

[2020-02-27 11:28] wagnerand opened #13587 "Django admin add-on page misses locale keys for fields like name"
### Describe the problem and steps to reproduce it:

When going to a django admin add-on page, all localized strings for localized fields are listed, but we're not showing what locale the localized string belongs to.

### What happened?

Missing locale key (the name of the locale for the localized string)

### What did you expect to happen?

Showing the locale key.

### Anything else we should kno

[2020-02-27 11:46] #13587 closed

[2020-02-27 12:11] bobsilverberg opened #13589 "Add information about whether a file is minified to the reviewers API"
### Describe the problem and steps to reproduce it:
When retrieving information about a file via the [Browse](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#browse) and [Compare](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#compare) APIs, the consumer should be able to tell whether the file requested is minified, based on the determination from

[2020-02-27 12:17] muffinresearch opened #13590 "GitError: cannot locate local branch 'unlisted'"
There are 90k events in sentry for this see https://sentry.prod.mozaws.net/share/issue/8ea46d4d182144cd8c972708a2ffd633/

[code]

/cc @EnTeQuAk

[2020-02-27 12:49] bobsilverberg commented on #13574
That's not currently the case. I can request search results using `random` as a sort sequence and *not* request recommended add-ons only. I'm not sure this is a big issue, and I think it's fine to use this new approach for any search that is sorted by `random`, but I wanted to raise the question, which is why I did it at https://github.com/mozilla/addons-server/issues/13574#issuecomment-590991334.

[2020-02-27 12:53] diox opened #13591 "Split translations per locale in Elasticsearch instead of per analyzer"
When storing translations in Elasticsearch, and then querying them, we store them per `analyzer`. We have different language analyzers enable, like one for english and one for french for instance, and so when an add-on has an `en-US` and a `fr` translation for its name, it's stored as `name_l10n_english` and `name_l10n_french`. We also have a field without analyzer for the translation in the defau

[2020-02-27 12:56] diox commented on #13574
Can you file a new issue for this on `addons-server`, with the exact API request you're making ? I correctly get this error message when I try:
`["The \"sort\" parameter \"random\" can only be specified when the \"featured\" or \"recommended\" parameter is also present, and the \"q\" parameter absent."]`

[2020-02-27 13:21] bobsilverberg commented on #13574
Ah, you're right, my mistake. I tried changing the URL in addons-frontend, and forgot that we added code to make sure we do not send an API request like that to addons-server, so while I thought it was issuing the API request, it in fact was not, and was removing the `random` sort param.

[2020-02-27 13:39] ioanarusiczki commented on #13587
@diox If I understood this right, when I go to admin/models/addons/addon/503019/change/ the localized fields such as Name and Summary should show the language.  Perhaps I should re-check a little later?

![the language](https://user-images.githubusercontent.com/33448286/75450332-46add880-5977-11ea-99d2-68e6117dc528.png)

[2020-02-27 13:44] diox commented on #13587
Looks like it hasn't deployed yet. I did 2 commits in quick succession, the first one just to unbreak the test suite and the second one I merged my changes, and it looks like dev autodeploy missed the second one

[2020-02-27 14:28] bobsilverberg commented on #11904
Here's what I'm seeing, and I have the "Disable Cache" checkbox checked in the Network panel:

![Screenshot 2020-02-27 09 16 38](https://user-images.githubusercontent.com/142755/75453507-fff1bb80-5941-11ea-9fad-ee2f0fa8fb5c.png)

These timings all look low to me.

However, this is what I see in Chrome's devtools for the same request:

![Screenshot 2020-02-27 09 21 47](https://user-images.githubuse

[2020-02-27 16:02] diox opened #13593 "Banning a user through the admin view didn't immediately move the add-on files"
### Describe the problem and steps to reproduce it:
- Create a user and have it upload an add-on with a couple versions
- Ban a user through the admin. Use the button on its change view, *not* the bulk action on the change list view.

### What happened?
- We don't see anything in the logs indicating the files were moved until the cron picked them up

### What did you expect to happen?
- All the fi

[2020-02-27 16:04] diox commented on #13593
To check that the file wasn't moved, try downloading it from the admin tools right after banning the user. If the file wasn't moved, that should 404 until the cron moves the file to the correct place.

[2020-02-27 17:05] eviljeff opened #13594 "implement TestBlockSubmissionAdmin.test_cannot_reject_with_only_block_create_permission test"
Looks like I forgot to implement the `test_cannot_reject_with_only_block_create_permission`
 test - it's still just `pass`.

[2020-02-27 17:34] bobsilverberg commented on #11904
Further to the above, if transferring large amounts of data to the client is the main issue for API performance, then it's possible that when we're doing for truncation on the client will have less of an impact than we hoped. Unfortunately, it seems that the resource timings that I'm planning on landing in https://github.com/mozilla/addons-code-manager/issues/1450 don't take this "Content Download

[2020-02-27 23:45] caitmuenster opened #13597 "Theme preview image not showing up on listing or Dev Hub"
MaDonna reached out asking why of her newly submitted theme [Rainbow Rose and Butterflies](https://addons.mozilla.org/en-US/firefox/addon/rose-butterflies-by-m-donna/) didn't have a preview image on her Developer Hub Page:

![Annotation 2020-02-27 140547](https://user-images.githubusercontent.com/23342476/75497079-f84d0980-5977-11ea-87eb-0699f4dc60b6.jpg)

Interestingly the preview image also does

[2020-02-27 23:53] eviljeff opened #13598 "Handle updating an existing block with a regex"
When we import a block from the v2 blocklist that contains a regex in the guid field we expand the regex to a separate Block instance for each matching guid.  This is correct (and what we want).  What is currently undetermined is the behaviour if that block was to be updated or deleted - if changing a single block on AMO results in changes to a block on kinto that targetted multiple guids then we'

[2020-02-28 09:19] AlexandraMoga commented on #13597
Looks like the preview is available now.
In any case, I've uploaded a test theme myself on prod and indeed the preview is not available immediately after submission.

I could not reproduce on dev or stage.

[2020-02-28 09:33] ioanarusiczki commented on #13587
@diox Same today. Can I change the milestone with 05.03.2020?

[2020-02-28 09:55] diox commented on #13587
I initially intended to cherry-pick that but eventually didn't. I've corrected the milestone.

[2020-02-28 10:13] #13574 closed

[2020-02-28 12:52] ioanarusiczki opened #13599 "Align correctly the language [] on the admin addon page"
https://github.com/mozilla/addons-server/issues/13587 introduced the language for localized add-ons

STR:
1. Go to https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/616630/change/ or https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/503019/change/ and observe the beginning of the second, third or fourth row in the Name, Summary, Description, Homepage or Su

[2020-02-28 12:59] ioanarusiczki commented on #13587
@diox I verified this on dev with FF73(Win10).
I filed a followup here https://github.com/mozilla/addons-server/issues/13599

[2020-02-28 14:07] AlexandraMoga opened #13600 "Users with Blocklist:Signoff permission should have read access to the block list and detail view"
### Describe the problem and steps to reproduce it:
1. Login with a user that has `Blocklist:Signoff` permission
2. Open the admin Blocklist tool
3. Check the models you have access to

### What happened?
You can only access the Block submissions model

### What did you expect to happen?
You should be able to access the Blocks list and edit view in read only mode as well

### Anything else we shou

[2020-02-28 14:25] EnTeQuAk commented on #13597
This is most certainly a side-effect of the currently ongoing mass git-extraction that got started on Thursday evening with the push. I'm going to close this issue as theme previews will eventually be produced but might simply be delayed.

[2020-02-28 14:25] #13597 closed

[2020-02-28 14:57] eviljeff commented on #13598
@jvillalobos @wagnerand

[2020-02-28 15:05] wagnerand commented on #13598
I'm ok with doing (1) if the period where we run v2 and v3 isn't very long (say less than half a year).

I agree that (2) is too complex and probably not worth the effort given it is supposed to be of use for a transitional period only.

[2020-02-28 15:35] AlexandraMoga commented on #13599
Duplicate of #8506 (which also mentioned the missing locale names next to the text fields)

[2020-02-28 15:35] #13599 closed

[2020-02-28 15:36] diox commented on #8506
The regression was fixed in https://github.com/mozilla/addons-server/issues/13587 - the alignement issues are still there, though we don't particularly care much.

[2020-02-28 17:09] jvillalobos commented on #13598
Yeah, (1) sounds like the most reasonable approach, at least given the current plan of shipping v3 on ESR. If that changes we will need to re-evaluate.

[2020-03-01 15:11] gabbyprecious commented on #13510
Has anyone worked on this? Is it still open?

[2020-03-02 02:13] bjherbison commented on #13532
The situation has changed. They still show up on the content review queue for me, but I can't review the content review page for the add-on. My current content review queue contains impulse-blocker .

[2020-03-02 09:18] diox commented on #13532
This is specific to that add-on and is in fact the same root issue which I intend to fix (That add-on has no auto-approved non-disabled versions, so reviewers with just `Addons:PostReview` or `Addons:ContentReview` are unable to see it currently).

[2020-03-02 10:21] eviljeff opened #13616 "Generate MLBF for v3 blocklist and submit to kinto as attachment"
We need to build on the proof of concept for #13408 to save the blocklist as an attachment to a kinto record.

[2020-03-02 10:32] eviljeff opened #13617 "sign MLBF kinto attachments"
for MLBF attachments (#13616) to be trusted we need to sign them and include the signature in the kinto record submission.

[2020-03-02 10:53] eviljeff opened #13618 "Decide/Confirm/Set sign-off policy in AMO admin tool"
Dual sign-off has an active daily user threshold (setting `DUAL_SIGNOFF_AVERAGE_DAILY_USERS_THRESHOLD`) under (`<=` actually) which sign-off is bypassed, and over (`>`) is enforced.  An add-on with `0` adu also forces dual sign off to take into account unlisted only add-ons where statistics are absent from AMO's database (until #13123)

Currently it's 100k. Before we launch we should confirm that

[2020-03-02 10:54] eviljeff commented on #13618
@diox @jvillalobos I'm not sure who would make this call (or when), just filing so we're less likely to unintentionally overlook it

[2020-03-02 11:07] eviljeff commented on #13600
View for both `Block` and `BlockSubmission` should be available with `Reviews:Admin` - the permission that was originally requested.  Can you check if that's working?

[2020-03-02 13:29] diox commented on #13566
@wagnerand I've got a branch with a refactor of the reviewers permission checks. It would allow any kind of reviewer access to any listed review page, while still restricting the available actions as necessary, allowing them to reply or comment in almost any review (*). There is one question regarding public & private whiteboards though: viewing & editing those is allowed for anyone that can acces

[2020-03-02 13:52] AlexandraMoga commented on #13600
I do have view access if I'm adding the `Reviews:Admin` permission, but I thought we wanted to make the `Blocklist` permissions more independent. I guess we'll know better how much segregation we need when the feature will start to be used in prod.

[2020-03-02 13:52] #13600 closed

[2020-03-02 14:02] EnTeQuAk commented on #11904
Happy to hear @diox' thoughts on that but assuming you do have a reasonable internet connection 5s for ~500kb is way too much imho. I have no idea what to expect though.

We do support gzip on the API side, it doesn't look like it gets used by the code-manager at this time. Maybe that'll help for the download times?

[2020-03-02 14:13] #11857 closed

[2020-03-02 14:13] #11580 closed

[2020-03-02 14:15] diox commented on #11904
I'd say it's way too much as well.

gzip is enabled for all API requests by default in middleware.

[2020-03-02 14:59] EnTeQuAk commented on #11904
Correct but the client needs to request it with the right `Accept` headers.

[2020-03-02 15:00] #13578 closed

[2020-03-02 15:05] diox commented on #11904
All modern browsers should already make requests with the right `Accept-Encoding`. My Firefox is definitely sending that in code-manager, I see it on all API requests in the developer tools network panel.

[2020-03-02 17:09] caitmuenster commented on #12080
Note: this needs final text for the page.

[2020-03-02 17:11] caitmuenster commented on #10113
Mentor: @eviljeff

[2020-03-02 17:13] caitmuenster commented on #5551
Mentor: @diox

@varunbankar, were you able to figure out how to view the 500 error page?

[2020-03-02 17:15] caitmuenster commented on #13416
Mentor: @bobsilverberg

@ManishAradwad, it looks like you commented on this issue first. Do you still want to work on this issue?

[2020-03-02 18:10] eviljeff commented on #10113
So, this isn't as straightforward as it would seem at first glance.  The link is within a jinja helper that's used by developer hub as well as reviewer tools.  I don't think using the helper is gaining us much so my recommendation would be to include the template fragment directly in the reviewer tools template.

I.e. replace `{{ reviews_link(addon) }}` in https://github.com/mozilla/addons-server/

[2020-03-02 20:16] jvillalobos commented on #13510
@gabbyprecious yes, the issue is open

[2020-03-02 20:23] jvillalobos commented on #13618
100k is what was brought up a few times in our discussions with the Security people, and I think it's reasonable. I think @wagnerand has a regular meeting with them, so he can confirm they're okay with it.

[2020-03-02 22:12] ManishAradwad commented on #13416
Sure, I'd like to give it a try...

[2020-03-03 10:08] AlexandraMoga commented on #13578
Verified fixed on -dev

The 'Update' button is no longer present in a block submission pending for Delete sign-off.
![image](https://user-images.githubusercontent.com/31961530/75765062-90b40700-5d47-11ea-908a-ed7f7fb3c390.png)

The button is still there for Add/Change actions.

[2020-03-03 10:42] #13383 closed

[2020-03-03 10:48] ioanarusiczki commented on #13574
@diox I checked on AMO dev the following:
- a GET response for the search API with the query parameters below will return the extensions/themes in the same order.
https://addons-dev.allizom.org/api/v5/addons/search/?recommended=true&sort=random&type=statictheme&page=1
https://addons-dev.allizom.org/api/v5/addons/search/?recommended=true&sort=random&type=statictheme&page=2
https://addons-dev.allizo

[2020-03-03 12:10] #13580 closed

[2020-03-03 12:22] #13541 closed

[2020-03-03 12:34] #13308 closed

[2020-03-03 12:34] #13594 closed

[2020-03-03 13:55] ioanarusiczki commented on #13580
@wagnerand

I verified this on AMO dev with FF73(Win10):
- when the add-on is deleted from admin tools the listed and unlisted review pages will show the Actions section. This is an example of a deleted add-on which had a listed and an unlisted version:
https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/manthease-mosel-codcanzee2
https://reviewers.addons-dev.allizom.org/en-US

[2020-03-03 15:26] AlexandraMoga commented on #13383
I've created and run some scanner query rules on -dev and tracked the Completion rate while the rule was running.
- the progress is expressed in percentages and will be updated when the page is refreshed.
- you can check the progress both on the query list and detail view.
![image](https://user-images.githubusercontent.com/31961530/75789250-12b92580-5d72-11ea-97ff-7685f7717b29.png)

- If a run is

[2020-03-03 15:31] lafonth opened #13632 "Marking current status of each version when reviewer wants to reject an add-on"
When a reviewer wants to reject an add-on, he/she has to select which versions will be rejected.
Today, it is possible to reject a version which auto approval is confirmed by someone. Most of the time it's not the case, we have to avoid that.

So to avoid to loose time to search which version got confirmed, especially when there are many pages of versions. It would be interesting to have a simple

[2020-03-03 15:57] diox commented on #13383
It's technically `None` because in that was we don't try fetching the actual completion data (we might not have it available anymore at that point, so I figured it was fine to not display it)

We look for matches by starting with the oldest uploads, so that explains why. Maybe we should reverse that, that way we'd be more likely to see useful results first. I'll ask.

[2020-03-03 16:45] muffinresearch opened #13634 "Make the code manager the default link for reviewer tools"
To get reviewers using the new code manager more we should make the default link point to the new code manager.

For the escape hatch we have a couple of options. Either keep the old code manager link (e.g. swap the two) or alternatively we just link to the new code manager and provide the link to the old reviewer tools from the code-manager ui.

The former is easier, but the latter would prevent

[2020-03-03 16:53] bobsilverberg commented on #13634
FWIW, I'm in favour of the latter. I'm concerned that, as Stuart mentioned, users would just start clicking a different link.

When we discussed this in the past (either at the all-hands or in a meeting, I'm not sure), we also discussed not having a link to the old tool anywhere, and that the escape hatch would involve manually typing a URL, which would make it even less convenient to do.

[2020-03-03 17:24] jvillalobos commented on #13634
I like the second option too.

[2020-03-03 18:27] #12461 closed

[2020-03-04 07:37] AlexandraMoga commented on #12461
@eviljeff could you please add some test instructions to this issue?

[2020-03-04 07:39] AlexandraMoga commented on #13541
@EnTeQuAk could you please add some STR if there is anything QA could verify at this point?
Thanks

[2020-03-04 10:10] AlexandraMoga commented on #13308
Verified fixed on -dev.
Users with `Blocklist:Create` permission can now reject their own block submissions.

[2020-03-04 10:43] diox commented on #13637
Long-standing issue, duplicate of #7535 - https://github.com/mozilla/addons-server/issues/7535#issuecomment-364572845 for an explanation of what's going on, it's not easy to fix.

[2020-03-04 10:43] #13637 closed

[2020-03-04 11:44] #13485 closed

[2020-03-04 12:30] gabbyprecious commented on #13199
Is anyone working on this, can I jump on it?

[2020-03-04 12:41] ajayyy commented on #13637
Is there a way to set my release notes to be in US English?

[2020-03-04 12:48] diox commented on #13199
You can, if you're familiar with how the django admin works. Our install docs are over there: https://addons-server.readthedocs.io/en/latest/topics/install/index.html

I was thinking the link would be at the top of the add-on admin change page, next to the "History" and "View on site" links. For this, you need to have a [custom `change_form.html` template](https://docs.djangoproject.com/en/2.2/ref

[2020-03-04 12:50] diox commented on #13637
Easiest way right now is to copy-paste them in the US English locale.

Go to the version page, you can edit the release notes from there. When editing them, there should be a language selector in the top right corner of the page to change the locale for the translated fields on the page.

[2020-03-04 13:25] AlexandraMoga commented on #13485
Verified fixed on -dev:

![2020-03-04_15-21-14](https://user-images.githubusercontent.com/31961530/75883751-2cb73e80-5e2c-11ea-9069-ef663d944197.gif)

[2020-03-04 15:31] EnTeQuAk opened #13638 "Investigate BigQuery sample data"
Just adding this issue to track the work easier.

Once https://bugzilla.mozilla.org/show_bug.cgi?id=1619492 has been setup I'll be able to investigate the sample data we already have and make sure it's what we need and then use that to figure out our process forward to see what needs to be done in addons-server to make use of that data.

[2020-03-04 15:33] EnTeQuAk opened #13639 "Investigate a/b-like handover for new stats pipeline"
This is just a thought and open for discussion but I'm wondering how we're going to proceed as part of making sure the new BigQuery-based pipeline works as we want it.

From what I see we should be able to hide the BigQuery-based pipeline behind a flag and let that run / test by QA, community and others for N days/weeks and keep our old pipeline running. Once that happened we should switch over 10

[2020-03-04 15:57] diox commented on #13639
Behind a flag sounds good. The views already require auth for non-public data, so we could use a waffle flag and progressively enable that for users (maybe first staff, then people from a certain group, then all authenticated users, then everyone).

[2020-03-04 16:13] diox commented on #13634
Let's go with replacing the links everywhere and provide an escape hatch in code manager.

[2020-03-04 16:15] eviljeff opened #13642 "Serve details of blocked addons from AMO directly"
we need an endpoint setting up that will serve details of blocked addons.  Needs to be something that accepts a guid + version, either as GET params or url components

[2020-03-04 16:22] diox commented on #13582
Based on discussion in https://github.com/mozilla/addons-server/issues/13634 I will completely replace the link with the code-manager one. There will be a fallback link in code-manager.

[2020-03-04 20:51] Smile4ever commented on #5229
Has this been addressed?

[2020-03-04 21:17] Rob--W commented on #9118
Still relevant, keep it open.

[2020-03-04 22:51] diox commented on #9118
Since it's an op issue, Rob, do you mind filing a bugzilla bug in
Cloud Services / Operations: AMO ? Cc me on that and I'll get it moving.

[2020-03-04 23:00] Rob--W commented on #9118
Done: https://bugzilla.mozilla.org/show_bug.cgi?id=1620084

[2020-03-05 07:01] M-Reimer commented on #9016
Still no proper fix

[2020-03-05 11:58] EnTeQuAk opened #13648 "Implement support for manifest v3 csp config"
With manifest v3 the csp configuration changed and we need to support that.

It can now look like

[code]

but the old version where `content_security_policy` is a string is still valid for all manifest v2 add-ons for the time being.

This is needed in order to merge the addons-linter 1.22.0 update and a follow-up for https://github.com/mozilla/addons-linter/commit/a43e8ae83add365c13d3a630038291ec

[2020-03-05 12:04] EnTeQuAk commented on #13648
Actually… nevermind! False alarm, I got confused by the definition of "content_scripts" - in manifest v3 `content_scripts` inside a `content_security_policy` is defining a CSP config for content scripts.

That doesn't change the general `content_scripts` property at the root level that defines the content scripts - which is what the addons-server is using.

[2020-03-05 12:05] #13648 closed

[2020-03-05 12:37] wagnerand commented on #13566
@diox Can we change it so that users that only have the `ReviewerTools:View` can only read the page, but not send any request that would cause change of data, incl. reviewer replies, comments, whiteboard changes? It should be a true read-only.

[2020-03-05 12:38] Rob--W commented on #9118
:wezhou asked whether we should add the header to both AMO and the CDN in the bug. I'd say yes to the CDN, but no for AMO. Adding the header in AMO itself seems to be quite straightforward:

Public addons are available on the CDN:

https://github.com/mozilla/addons-server/blob/b0f6f466cd63d3957152ecc6177e36fbe8af99f1/src/olympia/versions/views.py#L88-L91

When both of the above conditions are true

[2020-03-05 13:42] bobsilverberg opened #13650 "Expose the file id for the base version in the compare endpoint"
This is required for https://github.com/mozilla/addons-code-manager/issues/1472.

As discussed at https://github.com/mozilla/addons-code-manager/issues/1471#issuecomment-595233529, we want to be able to construct a URL to the legacy file viewer for a compare page in the new Code Manager, and in order to do so we need the file id for both versions involved in a compare operation. The file id for th

[2020-03-05 14:27] diox commented on #13566
That's already the case and not changing - `ReviewerTools:View` will never allow write operations. I'm talking about other permissions, like someone with `Add-ons:PostReview` accessing a recommended add-ons page.

[2020-03-05 14:42] wagnerand commented on #13566
Ah, thanks for clarifying. I would prefer if only reviewers with the respective permission to review the add-on in question can update the whiteboards, for example only reviewers that have `Addons:RecommendedReview` can update them for recommended extensions?

[2020-03-05 14:44] diox commented on #13566
Ok. Per the description of the issue though, you want them to be able to post replies, though, right ? Just not update the whiteboards ?

[2020-03-05 14:48] diox commented on #9118
Yeah I'll deal with the AMO side in code.

[2020-03-05 14:57] eviljeff commented on #12461
QA:
with waffle `blocklist_legacy_submit` enabled, submit a Block (and signoff is signoff is needed).  The block should be submitted to the staging bucket[1] for addon blocks, and via kinto admin[2] the block should be available to be signed off.  When the block is signed off via kinto admin it should be in the publicly viewable blocklist too.  If the block is then edited on AMO the update should

[2020-03-05 15:00] eviljeff commented on #12461
Importing existing blocks and editing those is going to have to wait until https://github.com/mozilla/addons-server/issues/13598 is implemented (and even then it's a hack)

[2020-03-05 16:15] wagnerand commented on #13566
Yes, but only if they would have had access too if there was an add-on with public or pending versions.

Generally speaking should the file status not be a special case. The same permissions should apply depending on the other factors (recommended, unlisted etc), regardless of the file statuses.

For example, a user with `ReviewerTools:View` should be able to access any listed add-on review page,

[2020-03-05 16:46] diox commented on #13566
It makes sense, but the definition of what an auto-approved listed add-on is is tricky: Currently, it's an add-on with a current version set, and that current version needs to have been auto-approved. When all listed version files of an add-on get disabled, they lose that current version, and that's causing the issue here.

Consider the following scenarios: what should happen for each, for an user

[2020-03-05 18:52] bqbn commented on #9118
The CDN should be using whatever header the app returns, which is to say if the app returns that header for addons that satisfy https://github.com/mozilla/addons-server/blob/b0f6f466cd63d3957152ecc6177e36fbe8af99f1/src/olympia/versions/views.py#L88-L91
then the CDN should do too.

We can verify if that's the case once the fix lands for the app.

[2020-03-05 19:01] diox commented on #9118
We redirect to the CDN, and it's serving from nginx, bypassing the app completely.

Example with ublock origin:
* https://addons.mozilla.org/firefox/downloads/file/3509800/ublock_origin-1.25.0-an+fx.xpi is served by the app (and we need to apply the right CSP here), it redirects to:
* https://addons.cdn.mozilla.net/user-media/addons/607454/ublock_origin-1.25.0-an+fx.xpi?filehash=sha256%3A2c1becc2f

[2020-03-05 19:01] #13416 closed

[2020-03-05 19:20] spoji opened #13662 "EOL conversion should be ignored when comparing two versions"
This compare url https://code.addons.mozilla.org/en-US/compare/920304/versions/4957090...4976235/ shows that all the codebase has been changed. This is because the dev uploaded a new version with converted EOL.

### What happened?
One example of this can be found at https://code.addons.mozilla.org/en-US/compare/920304/versions/4957090...4976235/?path=app%2Feventpages%2Fblock.html

In this file, on

[2020-03-05 20:02] eviljeff commented on #5989
I guess the planned work to decide on the new set of categories in Q1 2019 didn't happen but I still think it'd help so keeping open for now.

[2020-03-05 20:40] diox opened #13651 "Code manager APIs contain full license and release notes text"
The version browse and compare API contain license information and release notes. In some cases it can be quite large, take the following request:
https://addons.mozilla.org/api/v5/reviewers/addon/920304/versions/4957090/?lang=en-US
Size: 90k
Size gzipped: 20k

Without license information:
Size: 50k
Size gzipped: 6k

Does the code manager need that info ? If we were to drop both both release notes

[2020-03-05 20:43] bobsilverberg commented on #13651
We don't need either of those, nor do we need compatibility info.

[2020-03-05 20:45] diox opened #13652 "Allow users with ReviewerTools:View to view validation results for listed add-ons"
`ReviewerTools:View` permission should allow you to see validation results for listed add-ons. This would be useful to allow users with that permission to access the code manager (code manager specific APIs already support that permission, they have `AllowReviewer` in their `permission_classes` which supports that permission for read-only requests)

[2020-03-05 20:52] diox commented on #13651
Ok, it seems present in a lot of requests, so I think we could get interesting perf wins for some add-ons that do contain license/release notes.

[2020-03-06 10:12] AlexandraMoga opened #13656 "Update DevHub homepage footer links to align with the new Firefox download page"
Follow up for https://github.com/mozilla/addons-frontend/issues/9089

### Describe the problem and steps to reproduce it:
1. Open Developer Hub homepage - https://addons.allizom.org/en-US/developers/
2. Check the links present in the page Footer (AMO footer)

### What happened?
The footer is still using the links used by the previous amo-frontend footer

### What did you expect to happen?
The foot

[2020-03-06 10:36] diox commented on #13651
So, the browse, compare and draft comment API all deal with versions, and all have the following fields for a version:
* `id`
* `channel`
* `compatibility`
* `edit_url`
* `is_strict_compatibility_enabled`
* `license`
* `release_notes`
* `reviewed`
* `version`

I'm thinking of stripping that down to:
* `id`
* `channel`
* `reviewed`
* `version`

For all 3 APIs. Is that ok @bobsilverberg ?

[2020-03-06 13:26] bobsilverberg commented on #13651
Yes, that looks fine @diox. We should update our types to match that. I will open a code manager issue for that.

[2020-03-06 13:54] #13652 closed

[2020-03-06 14:06] bobsilverberg opened #13660 "Optimize the amount of data transferred to code-manager"
There are a number of cases in Code Manager where we are receiving more information than we need in an API response. One example of this, which is already being addressed is documented in #13651

Some general issues that have been identified are:
1. API responses contain data we never use. #13651 is an example of that, but there may be others.
2. Duplicate data is being sent to a single "page" via

[2020-03-06 14:20] bobsilverberg commented on #13651
I have confirmed that we do not make use of the following fields from the version response:

* `compatibility`
* `edit_url`
* `is_strict_compatibility_enabled`
* `license`
* `release_notes`

We should update our types after this change lands, but it can land without having any impact on the operation of code-manager.

[2020-03-06 16:29] diox commented on #13662
Yeah. I'll explore a little bit, we should be able to pass down the right flags to ignore whitespace.

[2020-03-06 16:42] diox commented on #13662
This works:
[code]

Do we want to this enabled all the time ?

[2020-03-06 17:02] diox commented on #13662
Let's assume we want this enabled all the file for now, for parity with the old file viewer where it's not optional.

[2020-03-06 19:23] #13651 closed

[2020-03-06 20:00] jvehent commented on #13618
Is there any science to setting this limit, or are we going with gut feeling? (nothing wrong with gut feeling, but if we could sprinkle some science on it, that'd be good)

[2020-03-06 20:00] bobsilverberg opened #13665 "Reviewers APIs now returning `null` for `addon.name`"
Both the Browse and Compare endpoints are now returning `null` for `addon.name`, whereas before they would return an object with localized strings. It seems like this started after https://github.com/mozilla/addons-server/pull/13658 landed, but maybe something else landed that caused this.

This breaks addons-code-manager on dev.

[2020-03-06 20:09] diox commented on #13665
I was a bit overzealous when it came to preventing extra queries and didn't notice those endpoints were returning the add-on name. I'll change the code to allow translations for the add-on and that should fix it.

[2020-03-06 20:40] #13665 closed

[2020-03-06 21:06] jvillalobos commented on #13618
Not super science-y, but [this chart](https://sql.telemetry.mozilla.org/queries/68987/source#174133) shows that AMO add-ons with over 100K users account for over 80% of total usage. This doesn't account for unlisted ones, but we know the distribution is similar (a small number of top add-ons take most of the users).

[2020-03-06 21:11] jvehent commented on #13618
That's actually pretty good science 👍 100k makes sense to me based on that data. r+

[2020-03-06 22:51] eviljeff commented on #13618
Looks like we're good as is then.

[2020-03-06 22:51] #13618 closed

[2020-03-08 12:31] diox commented on #8230
We stopped sending abuse report emails in 27059216f3cd30d9f34d3ca8024a436f973550a8

[2020-03-08 12:31] #8230 closed

[2020-03-08 12:43] diox commented on #4092
I do think it's a good first bug for python/django contributors, the changes required are minimal.

To sum up, the issue is that we'd like to let developers (or people with specific `STATS_VIEW` permission) view statistics for add-ons that have been disabled by user. However, we don't want general public to view them.

A contributor would need to look at the views in the `stats` app and do the fol

[2020-03-09 00:06] AlanXu12 commented on #8262
Is this issue still open? I'm interested in working on it :)

[2020-03-09 09:33] wagnerand opened #13675 "Some add-ons are not getting auto-approved"
We are receiving reports from developers that some of their add-ons are not getting auto-approved: https://discourse.mozilla.org/t/self-signed-addon-is-currently-stuck-at-awaiting-review/55485/

Example: https://reviewers.addons.mozilla.org/en-US/reviewers/review/xifr (has been waiting for auto-approval since March 8)

[2020-03-09 09:36] wagnerand commented on #13675
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/6998391/?query=is:unresolved could potentially be related.

[2020-03-09 10:03] wagnerand commented on #13675
For some reason, the add-on with ID 2628757 did not have a name set, which aborted the auto-approval cronjob for that and all following add-ons. Setting a name made it run through.

[2020-03-09 10:10] willdurand opened #13676 "Rename "ml_api" to "mad" (or "mad_api")"
This is a clean-up issue to replace the "ml_api" placeholder with the codename of the... ML API we'll be using soon.

[2020-03-09 10:29] AlexandraMoga opened #13677 "Update strings that contain the term 'obfuscated' on the source code submission page"
Follow up for #13416

The Source code submission page - `/src/olympia/devhub/templates/devhub/addons/submit/source.html` - has two strings that still refer to 'obfuscated' code:

[code]

[code]

@wagnerand for the first occurrence, should 'obfuscators' be replaced with something else or eliminated altogether?

[2020-03-09 10:29] diox opened #13678 "Handle add-ons with no name in auto approval"
Somehow, an add-on with no name was successfully submitted and this [broke auto-approval](https://github.com/mozilla/addons-server/issues/13675).

Ideally this should be prevented completely (we thought it was...) but we should be able to avoid the issue when approving (refusing to approve the nameless add-on, or catching the failure, or avoiding it completely) and therefore prevent the breakage w

[2020-03-09 10:31] AlexandraMoga commented on #13416
I've checked the pages where the new terminology was updated and I could find two of them:

1. In the last submission step:
![image](https://user-images.githubusercontent.com/31961530/76202771-0dd6f480-61fe-11ea-879f-0f0d1e74b598.png)

2. On the manage version page (Source code field tooltip)
![image](https://user-images.githubusercontent.com/31961530/76202794-18918980-61fe-11ea-92d0-0d080335fd30.

[2020-03-09 10:39] #13675 closed

[2020-03-09 10:58] AlexandraMoga commented on #13678
It looks like the signing API doesn't throw an error when the `"name"` key is missing from the manifest or contains just an empty string.
However, in this case your add-on will be created without a version, so auto-approval wouldn't be triggered.
I'm still not sure how the issue seen in prod was possible.

[2020-03-09 11:13] diox commented on #13634
https://github.com/mozilla/addons-code-manager/issues/1471 added the link to the legacy file viewer in code manager in the browse view but we need to wait for https://github.com/mozilla/addons-code-manager/issues/1472 which takes care of the compare view. That issue is in turn blocked by https://github.com/mozilla/addons-server/issues/13650

[2020-03-09 11:14] diox commented on #13582
Closing as dupe of https://github.com/mozilla/addons-server/issues/13634

[2020-03-09 11:14] #13582 closed

[2020-03-09 11:17] wagnerand commented on #13677
Let's use `Code generators or minifiers`

[2020-03-09 11:57] ioanarusiczki commented on #13665
@diox For the Browse and Compare endpoints "name" returns the localized strings.

Examples:
https://addons-dev.allizom.org/api/v5/reviewers/addon/502991/versions/1541836/
https://addons-dev.allizom.org/api/v5/reviewers/addon/503019/versions/1541869/compare_to/1690313/

- I could open and view the pages in code manager too.

Verified on dev with FF73(Win10) with Postman.

[2020-03-09 12:20] wagnerand commented on #13566
The user should be able to access the page, send a reviewer reply, leave a comment and update the whiteboards.

Ideally, this would depend on the reason why the latest version was not auto-approved. For example, when an admin manually disables auto-approval, the review should be done by admins only. I don't see that many special cases like this one though, so maybe we can have general "write acces

[2020-03-09 13:22] ioanarusiczki commented on #13651
@diox
- On dev I made requests with Postman, on Browse, Compare, Version and Draft Comments endpoints and the following fields[ mentioned ](https://github.com/mozilla/addons-server/issues/13651#issuecomment-595788486) have been removed.
- the Browse, Compare, Version and Draft Comments endpoints display in the response "id", "channel", "reviewed" and "version".
- all the above apply in the respons

[2020-03-09 14:57] muffinresearch commented on #13642
@jvillalobos are we just simply aiming for parity with the existing pages to start with? Here's an example: https://blocked.cdn.mozilla.net/41a53d4b-120a-4ab0-9dbc-8a8d3802b734.html

@diox I'm thinking we probably should look at doing this with an API and expose this via addons-frontend rather than just a django page, what do you think? How much would it take to get an API up and running?

Another

[2020-03-09 14:58] muffinresearch commented on #13642
Another question is if we need to replicate https://blocked.cdn.mozilla.net/ or if we should not worry about that to start with? Do we care about having a page that allows for block navigation?

[2020-03-09 16:48] willdurand opened #13682 "Switch to Terser for JS minification"
This will prevent errors like this one I think:

[code]

But the main benefit is to allow newer JS syntax (and Terser is better maintained that Uglify).

[2020-03-09 17:49] jvillalobos commented on #13642
Yes. A few of things that will be different:
- The pages will need access by block ID (to support the legacy blocklist, unless we intend to keep the old pages for that), or add-on ID for v3. I don't think we need the version number, given there should only be one block per add-on ID.
- The bug link (`View block request`) is optional.
- Not sure what the deal is with `1. Blocked Add-ons` above the

[2020-03-09 19:06] #13616 closed

[2020-03-10 01:20] richard-hutchings commented on #5551
Hi is this a good issue to work on as an outreachy. i would like to work on it if so.
regards
Richard

[2020-03-10 01:30] liangyo6 commented on #13508
Can I work on this?

[2020-03-10 06:37] AlexandraMoga commented on #13616
@eviljeff is there anything that I could test for this?

[2020-03-10 08:08] EnTeQuAk opened #13689 "Deprecation warning htmlparser.unescape"
[code]

[2020-03-10 08:09] EnTeQuAk opened #13690 "Deprecation warning FixedOffset in reviewers.serializers"
[code]

[2020-03-10 09:30] EnTeQuAk opened #13691 "Investigate content-optimization flag implementation"
We need a list of features that actually go live when we turn on the content-optimization flag.

[2020-03-10 09:52] wagnerand opened #13692 "Update auto-approval message"
We want to update the auto-approval message to reflect some updates on the policy side. The following sentence should be removed: _In that case, you will be notified again with details and next steps._

[2020-03-10 10:06] diox commented on #5551
Hi, someone has already submitted a pull request for this.

[2020-03-10 10:06] #5551 closed

[2020-03-10 10:07] diox commented on #13508
You can but this is not a mentored bug, you'd be on your own regarding how to reproduce and fix this.

[2020-03-10 10:25] AlexandraMoga commented on #12461
I've verified the AMO blocklist - kinto integration on stage and I have the following results:

- add-ons with no sign-off + included in legacy checked
  - a new block is added on AMO -> an entry is created in kinto and Approval is available. The information added on AMO (i.e. version range, reason, URL) is visible in kinto;
  - a block is updated on AMO -> the updates added on AMO are visible on

[2020-03-10 10:33] eviljeff commented on #12461
yes, for new blocks and updates to the blocks.  Though if an existing block has "include in legacy" removed it should delete the block from the kinto blocklist.

it should, but I'm not super familiar with testing blocklist integration in Firefox.  afaik as long as the blocklist url is set to the stage blocklist then it will disable the addons once the blocklist is updated.

[2020-03-10 11:13] eviljeff commented on #13616
if you enable the `blocklist_mlbf_submit` waffle switch on -dev you will see regular records created with an attachment in https://kinto.dev.mozaws.net/v1/buckets/blocklist/staging_amo_dev/collections/addons-mlbf/ - once every 6 hours.  (next one would be scheduled for 12:00 UTC, and then 18:00 UTC, etc.)

[2020-03-10 11:16] eviljeff commented on #13616
it's not possible to interpret the bloom filter attachment manually, but you can see it's there, is non-0, and would change in the next 6 hours if a block was added/deleted (and possibly if a new addon/version was uploaded to AMO, but it depends on some complicated maths).

Don't enable the switch on stage yet, it's blocked there by https://bugzilla.mozilla.org/show_bug.cgi?id=1619994 and some oth

[2020-03-10 11:44] diox commented on #13566
Let's back up a little bit. We already have a property to restrict a review page to admins, that's `needs_admin_code_review`. When it's set, only admins are able to approve/reject something. It's already working, and will still work with my changes. I think we should continue to rely on this as it's an explicit signal that's easy to keep track of. If necessary (please tell me) we can automatically

[2020-03-10 12:06] diox opened #13694 "Investigate not generating new blocklist when we don't need to"
In https://github.com/mozilla/addons-server/issues/13616 we are now generating bloom filters for the blocklist every 6 hours and pushing that to kinto. Because there is a different salt every time, the blocklist blob is going to be different every time, even if there are no new blocks, and clients will download that new version (we don't support diffs) every time they download new remote settings

[2020-03-10 12:42] #12218 closed

[2020-03-10 12:47] eviljeff commented on #13694
If Firefox sticks with rule that any xpi signed after the signing-date from the last bloomfilter is okay then it should be fine to only produce new bloomfilters when the blocklist content has changed.  (Potentially we could switch to generating the filters on demand too for quicker reaction time to any blocks, but that could cause a strain if lots of separate submissions are approved in a short ti

[2020-03-10 12:53] ioanarusiczki commented on #13652
@diox
I created in admin tools dev a new group "Reviewers:Read Only" and added the `ReviewerTools:View` permission:
- The user in this group has access to view all rev tools queues the same way an admin does except that this user has no rights to modify anything. POST methods return a 403 Forbidden (for example when from the addon review page, to approve, reject or  add a comment is not possible).

[2020-03-10 13:11] Rob--W opened #13695 "Pass timestamp along with the generated filter cascade"
The blocklist should include a timestamp, so clients can determine whether the filter cascade can be relied upon for testing the blocklist state.

This timestamp should be synchronized with clock of the signing server, so that we do not inadvertently block add-ons that shouldn't be blocked, or allow add-ons that should have been blocked.

[2020-03-10 14:09] diox commented on #13207
We gave full access to the yara rule instead of doing this.

[2020-03-10 14:09] #13207 closed

[2020-03-10 14:10] #13676 closed

[2020-03-10 14:36] #13662 closed

[2020-03-10 14:41] diox commented on #13566
We met with Andreas to discuss this. The approach we're taking:
- Try to merge `Addons:Review` and `Addons:PostReview`, or at least give both to reviewers. We don't need the distinction that badly anymore now that we don't have legacy extensions anymore. This doesn't have to happen now, though.
- Keep current restrictions in place to access review actions (approve/reject). So, depend on `needs_adm

[2020-03-10 14:44] #13692 closed

[2020-03-10 16:47] willdurand opened #13697 "Add 'scanners' key in the MAD request body"
The API contract has slightly changed so we need to update our request to the MAD server from:

[code]

to:

[code]

[2020-03-10 17:00] #13697 closed

[2020-03-10 17:28] willdurand commented on #13682
This is an error in the `less` (js) library. Since it is only used in debug mode (it seems), I lowered the priority. I don't think we can do much right now.

[2020-03-10 17:32] willdurand commented on #13141
Erf, sorry @wagnerand, I mixed your nicknames...

[2020-03-10 17:36] diox commented on #13682
Maybe we should pin a lower version ? It used to work fine...

[2020-03-10 17:44] willdurand commented on #13682
I can bisect to find what has changed. I am not sure it is the less code and the error is a bit "dumb" because it is still valid js code...

[2020-03-10 18:45] eviljeff opened #13701 "submit kinto records as `to-sign` rather than `to-review`"
according to https://bugzilla.mozilla.org/show_bug.cgi?id=1619994#c6 when there isn't dual sign-off needed we need to set a different state to allow the /stage/ bucket records to signed by kinto and propagated to the live /blocklist/ bucket

[2020-03-10 19:49] hwj0418 commented on #12842
@eviljeff Hi I saw this issue is still open, could I take it? I have a solution already.

[2020-03-10 21:34] eviljeff commented on #12842
@hwj0418 go ahead

[2020-03-11 06:47] AlexandraMoga commented on #13616
@eviljeff https://kinto.dev.mozaws.net/v1/buckets/blocklist/staging_amo_dev/collections/addons-mlbf/ is throwing a 404:

![image](https://user-images.githubusercontent.com/31961530/76389784-c4f57c00-6374-11ea-8cbc-ba9ccb8c23ed.png)

[2020-03-11 09:25] willdurand commented on #13332
I requested a change in the API contract of the mad server (because this contract has changed). Once we have that, we'll be able to extract and store the score easily.

[2020-03-11 10:39] ioanarusiczki commented on #13662
@diox This issue is a bit hard for me to understand it since I don't have access in production. Could you add some STR, I believe there's something I should be looking for in the compare API?

[2020-03-11 10:44] eviljeff commented on #6730
I guess we should still do this?

[2020-03-11 10:48] diox commented on #13662
STR:
- Submit an add-on
- Submit another version with several changes to the existing files, including some changes that are only whitespace
- Look at the compare view for both versions in code manager

Actual:
- Whitespace changes show up

Expected:
- Whitespace changes should not show up, rest of the changes should.

[2020-03-11 11:05] ioanarusiczki commented on #13692
@wagnerand The sentence is no longer available. Verified on dev with FF73(Win10).

<img width="784" alt="autoapproval" src="https://user-images.githubusercontent.com/33448286/76410606-e23c4180-6398-11ea-9bf3-6511220c3407.png">

[2020-03-11 12:26] #13598 closed

[2020-03-11 12:43] eviljeff commented on #13617
https://bugzilla.mozilla.org/show_bug.cgi?id=1621615 for the autograph bug

[2020-03-11 12:58] eviljeff commented on #13695
in https://github.com/mozilla/addons-server/pull/13699 I've added the `last_sign_time` property, though currently just the dumb current time on AMO.  The value is the timestamp in milliseconds (i.e. milliseconds since the unix epoch), like kinto uses for it's `modified` record property.  Will that work as a value for your implementation @Rob--W ?

I'll replace the dumb current time with the last s

[2020-03-11 13:22] Rob--W commented on #13695
Thanks, that will do for now. It will help with testing the client implementation.

I do suggest to add a `# TODO` with a reference to this issue.

The implementation should be corrected when we ship though.
Otherwise the following can happen:

- When AMO's clock is behind Autograph's clock by X seconds, an add-on's signature may be later than `last_sign_time` (when the add-on is signed X seconds

[2020-03-11 13:37] AlexandraMoga commented on #13676
I've verified that the previous `ml_api` is now referenced as `mad` in scanner results, scanner rules and scanner rule creation.
I've also made some add-on submissions just to verify that there are no obvious regressions on that side.

[2020-03-11 14:13] Akhila499 commented on #4092
Hello Mentors,

I am Akhila and I am outreachy applicant for March 2020. I would like to work on this issue if it is considered as firstbug/outreachy eligible issue. I am currently reading through the Mozilla addon contribution page (https://wiki.mozilla.org/Add-ons/Contribute/Code).

@diox @eviljeff Kindly help me in getting up to speed with the issue.

[2020-03-11 15:33] diox commented on #13642
I'm also in favor of dropping the list completely. Let's go with the API + frontend approach, and support the old block ID so that we can eventually remove the old pages completely.

[2020-03-11 15:56] wagnerand opened #13705 "Allow admins to invalidate a user session"
Admins need a way to invalidate a user session to force a re-login into AMO.

We would probably want to add a button or action to the django admin user profile page that would clear `auth_id` for that user.

[2020-03-11 16:03] diox opened #13706 "Implement API to fetch details about blocks"
API side of https://github.com/mozilla/addons-frontend/issues/9216

The API only needs to fetch details about a specific block, not list them. It needs to support fetching by add-on `guid` + version or legacy block ID.

[2020-03-11 16:19] diox commented on #13424
@wagnerand or @kewisch : we need a spec for this API (what should it do, what parameters it should accept, what parameters it should return, who should have access) for this to move forward. Otherwise we'll remove it from the "Add-ons Q1 2020: Improve Admin Workflow" project.

[2020-03-11 17:51] willdurand commented on #13141
This is actually fixed by itself. The `score` will be displayed as part of https://github.com/mozilla/addons-server/issues/13332.

[2020-03-11 17:51] #13141 closed

[2020-03-11 18:17] eviljeff commented on #4092
@Akhila499 diox already detailed what to do in the comment above.  For general setup the wiki link you posted has all the details.

[2020-03-11 18:25] eviljeff commented on #13616
whoops, I meant: https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-mlbf/records  - note the server gets reset every day (I don't know when exactly - sometime after the 06:00 filter was uploaded) so looks like you'd have to check after 12:00UTC

[2020-03-12 03:15] JonPaque opened #13711 "Is the "1 Password X" extension for Firefox "recommended" or "not recommended"?"
I am a 1Password trial user, and was following directions to install the "1Password X" extension onto my Firefox browser.  I found, however, that Firefox states on its 1Password X extension webpage -- https://addons.mozilla.org/en-US/firefox/addon/1password-x-password-manager/ -- that "This is not a Recommended Extension".  In Firefox's initial Ad-Ons webpage -- https://addons.mozilla.org/en-US/fi

[2020-03-12 10:00] willdurand commented on #13141
marking as qa: not needed for now because it cannot be verified (yet)

[2020-03-12 10:17] diox commented on #13711
@devaneymoz this collection https://addons.mozilla.org/en-US/firefox/collections/4757633/password-managers/ should be updated to remove `1Password X` or renamed since that add-on is not recommended.

[2020-03-12 10:19] willdurand commented on #13711
@JonPaque sorry, it turns out that the issue was not technical but some sort of editorial confusion: the add-on was previously recommended but it is not anymore so we should have removed it from the list of "recommended password managers". This will be fixed shortly, thanks!

[2020-03-12 10:20] ioanarusiczki commented on #13662
@diox If I leave white spaces at the end of the lines, or the last codeline they are not interpreted as changes. Also white spaces are not interpreted as changes if I inserted them before or inside the code lines.

An example:

![The lines](https://user-images.githubusercontent.com/33448286/76511315-b3d36a80-645b-11ea-933a-44956a21f339.png)

[2020-03-12 10:22] willdurand opened #13713 "A theme is marked as recommended in the Search API results but it is not recommended anymore"
### Describe the problem and steps to reproduce it:

1. Go to: https://addons.mozilla.org/en-US/firefox/search/?recommended=true&sort=random&type=statictheme
2. Look for "Cheshire Cat -Night" (could be on the 2nd page)
3. Observe that is has a "recommended" badge
4. Go to its detail page

### What happened?

The add-on is not recommended so it does not have a "recommended" badge.

### What did you

[2020-03-12 10:25] diox commented on #13713
I believe this is due to a long-standing issue (*) with changes in a collection that don't trigger a reindex of the add-ons that were part of it before (themes use a special collection to figure out whether or not they are recommended, and not the "normal" mechanism in place for extensions). This is not a new issue, though we should definitely fix it.

(*) May have been reported already.

[2020-03-12 10:28] eviljeff opened #13714 "update bloomfilter key generation to use xpi file hash"

[2020-03-12 10:33] diox commented on #13713
Previously reported issue : https://github.com/mozilla/addons-server/issues/8673

[2020-03-12 10:45] diox commented on #13713
https://github.com/mozilla/addons-server/pull/12956 likely caused this : We removed the code for featured collections, and in doing that removed the code that indexed the add-ons when a featured collection changes in one way or another, but we still need to do this for this special featured themes collection.

[2020-03-12 10:46] diox commented on #13713
In the meantime I've asked ops to reindex the affected themes.

[2020-03-12 11:46] eviljeff commented on #13695
so as far I can see there are two routes we can do down here:
A) accurately keep track of the signing timestamps per certificate by extracting them after being returned from autograph and storing them in a field in files table (File model)
B) just return current time - 1 minute* to account for possible differences in system datetime between autograph and AMO instances plus the lag between the cert

[2020-03-12 12:41] willdurand opened #13717 "Improve the list of scanner results by removing some less essential information"
The list of scanner results has too many results and on small-ish screens, it is impossible to see everything. Let's see how we can improve the situation.

List of changes in the list of scanner results and in the list of scanner query results:

- the `channel` column has been removed
- the `created` date has a less verbose format
- the `channel` and `version` are displayed below the add-on name

[2020-03-12 12:55] diox commented on #13717
Note: when I added authors, I tweaked the CSS a little bit, and maybe this could be adjusted as well to waste less space.

[2020-03-12 13:11] willdurand opened #13718 "Sort scanner results by add-on GUID to "group" them in the list"
We could sort the scanner results by add-on GUID by default/all the time to make sure the results of the same version are listed next to each others.

[2020-03-12 14:16] willdurand commented on #13717
This seems to only be used for the list of scanner query results.

The changes described in the description above are for both scanner results and query results.

[2020-03-12 15:01] AlexandraMoga commented on #13717
I was also going to suggest to make the Action buttons narrower by removing the "Mark as" parts.
Example:

![image](https://user-images.githubusercontent.com/31961530/76535168-1db33a80-6483-11ea-9137-6bc36facdf9b.png)

[2020-03-12 15:12] AlexandraMoga commented on #13616
I was able to see the information today after 12:00 UTC. I'm going to look again tomorrow to see if anything changes if blocks have been added or or deleted.

[2020-03-12 15:14] willdurand commented on #13717
That's a good idea!

[2020-03-12 19:31] willdurand commented on #13718
mm I don't think this is actually feasible. I did not think about it when I filed the issue but sorting by GUID will only work when `created` dates are exactly the same.

[2020-03-12 19:56] willdurand opened #13721 "Add a link to retrieve all the add-ons of a given user in the scanner result detail pages"
We should add the following link to retrieve all the add-ons of a given user in the scanner result detail pages (next to the user info): `/en-US/admin/models/addons/addon/?authors=<user-id>`.

[2020-03-12 19:59] jvehent commented on #13695
So

- Clocks should be in near perfect sync (to the point where deltas are irrelevant).
- Certificates do not reflect the signing time. Their validity typically span over 90 days.

But why does that matter? I'm failing to make the connection between the signing dates of the blocklist and the add-ons being signed. Do we expect to put the ID+version of every single add-on ever issued in this blockli

[2020-03-12 20:17] Rob--W commented on #13695
We use a cascade bloom filter as the data structure to hold the blocklist. A normal bloom filter is like a set where you can query whether an item is definitely in the set. It has false-negatives though, i.e. the answer can be "yes" without the item being in the set. This is undesired (but with a low probability), and solved by creating a new set to store those known false negatives. And so on, un

[2020-03-12 21:10] jvehent commented on #13695
IIRC, the probability of a false-{positive,negative} impacted an add-on signed during the clock delta would be incredibly small. Is it worth worrying about it? Those servers will be in NTP sync, so there should never be more than a few milliseconds from each other.

[2020-03-12 22:27] jvillalobos commented on #13695
I agree it sounds like we're splitting hairs here. But I like option B, to mitigate the possibility of false positives.

[2020-03-13 03:00] bqbn commented on #13695
In AMO case, we run ntpd across all the deployed instances and they sync from the same server pool (AWS ntp server pool).

I believe Autograph instances do the same, but I'm cc'ing @erkolson to confirm.

[2020-03-13 07:17] Medlineme4 commented on #13721
@willdurand. I would like to contribute. How do I begin or see the full code?

[2020-03-13 07:21] junngo commented on #13721
Hello @Medlineme4
You can start contributing by viewing the documents below:
https://addons-server.readthedocs.io/en/latest/topics/install/docker.html

[2020-03-13 07:21] Medlineme4 commented on #13721
The action should be in the scanner result detail pages

[2020-03-13 07:22] Medlineme4 commented on #13721
@junngo. Thank you

[2020-03-13 09:41] eviljeff commented on #13714
Turns out (after the patch was ready to merge) that it would be inefficient to calculate the file hash on the Firefox side so we're likely going to switch the bloom filter hashing function instead.  Closing.

[2020-03-13 09:41] #13714 closed

[2020-03-13 10:32] #13717 closed

[2020-03-13 10:33] AlexandraMoga commented on #13701
@eviljeff should I verify that "no sign-off" blocks added/changed in AMO will not require additional Approval in kinto, i.e. the block is directly published and listed in https://kinto.stage.mozaws.net/v1/buckets/blocklists/collections/addons/records ?

[2020-03-13 11:45] eviljeff opened #13725 "Make changes to allow AMO to manage legacy blocklist with no kinto signoff"
Currently Block submissions via AMO admin are submitted to the /staging/ bucket and need to be signed off via kinto admin - even if AMO has already enforced a second sign off.  This is inefficient and inconsistent (v3 blocklist bloom filters won't require a second signoff).

On the kinto side there would need to be a change in their config to disable dual sign-off for the blocklist/addons collecti

[2020-03-13 11:46] eviljeff commented on #13725
If we do need signing we can reuse the aborted work in https://github.com/mozilla/addons-server/pull/13699

[2020-03-13 11:49] eviljeff commented on #13617
On the back of a recent meeting the current thinking is that signing the bloomfilter is ineffective against the kinds of attacks we'd want to prevent so closing this for now 😞

[2020-03-13 11:49] #13617 closed

[2020-03-13 12:19] AlexandraMoga commented on #13598
I've found some blocks coming from a regex submission among the guids that were batch imported on -dev.
The edit page for these blocks will show the following warning:
![image](https://user-images.githubusercontent.com/31961530/76619531-c9b45e80-6533-11ea-8ac4-0a13c45455fc.png)

The editing and sign-off part (if applicable) are still working as before.

[2020-03-13 12:24] diox commented on #13420
I already did a first pass on a couple of the APIs in other issues, going to re-use this issue for the last bit I had not looked at which is the compare API. That's strictly low-hanging fruits like duplicated or useless queries, we'll re-assess after.

[2020-03-13 12:49] AlexandraMoga commented on #13717
Verified fixed on -dev.
The scanner results and scanner query results list view layout is more compact and easier to read, i.e there's no horizontal scrollbar on the page anymore.

The changes to the `channel` and `Version` positions are also visible on a scanner detail page, both for normal and query results.

![image](https://user-images.githubusercontent.com/31961530/76622208-b906e700-6539-11ea

[2020-03-13 13:26] EnTeQuAk opened #13727 "Add additional dependencies needed for bigquery client library to run properly"
The google bigquery client library needs a few more dependencies to run properly: https://github.com/googleapis/python-bigquery/blob/master/setup.py#L31-L38

[2020-03-13 13:35] #13420 closed

[2020-03-13 13:37] diox commented on #13420
QA: check that there are no regressions in code-manager compare view (you can't test for database queries, but it doesn't hurt to verify this didn't break any functionality)

[2020-03-13 13:37] #13713 closed

[2020-03-13 14:48] diox opened #13729 "Clean up unused code around opensearch plugins"
We [stopped accepting](https://github.com/mozilla/addons-server/issues/12462) and then [disabled all opensearch plugins](https://github.com/mozilla/addons-server/issues/12463).

To clean things up we should now remove all dead code related to opensearch plugins: there is a lot of special handling since they weren't extensions.

To get started one can [set up addons-server locally](https://addons-s

[2020-03-13 18:34] eviljeff commented on #13701
if testing on kinto stage, yes.  If testing on kinto dev the records will just stay in the existing https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/records collection but the metadata in https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections should show "status": "to-sign" instead.

[2020-03-13 18:37] eviljeff commented on #13701
testing on kinto stage is a better end-to-end solution but is blocked on https://github.com/mozilla-services/remote-settings-permissions/pull/112 being merged though.

[2020-03-13 19:09] eviljeff commented on #13701
I've realised there's a bug on dev if both submitting to legacy kinto and mlbf are enabled at the same time.  Only the first kinto update would work (I'll fix next week)

[2020-03-14 03:49] ajinkabeer commented on #13729
Hey @diox, I am outreachy applicant. I would like to take work on this issue if that's alright. :)

[2020-03-15 08:02] dessant opened #13734 "Finding solutions for toxic reviews on Firefox Add-ons"
Firefox Add-ons has an issue of toxic reviews, which exposes developers to unnecessary stress, and makes them less likely to read and respond to reviews, out of precaution for their own mental well-being.

This toxicity not just affects developers, but projects suffer too, because developers are less likely to try finding solutions to issues in a toxic review, even if they report a valid issue. Mo

[2020-03-15 14:58] junngo commented on #13072
Hello @eviljeff
I'd like some advice about test code.
I saw test case related `reject_multiple_versions`  in test_views.py.
So, Dose it just check if `Reject Multiple Versions`label is shown on the screen?
Let me know if there's a better direction.

[2020-03-15 15:43] diox commented on #13072
@junngo heads up, https://github.com/mozilla/addons-server/pull/13720 will change a lot of things around reviewer actions and might inadvertently fix this issue, so I wouldn't try to fix it right now if I were you.

Once this is merged, update local environnement, and test manually by creating a theme, approving it in reviewer tools and checking if it can be rejected after that. Once you've confir

[2020-03-16 08:22] #12129 closed

[2020-03-16 08:34] willdurand commented on #13589
@diox @EnTeQuAk do you know why a new attribute is needed in the API response instead of code-manager looking into the linter results on its own?

[2020-03-16 09:46] #13727 closed

[2020-03-16 09:47] eviljeff commented on #8226
is this issue still valid - ratings/reviews aren't localised any more afaik

[2020-03-16 10:53] willdurand commented on #13194
So if the "force disable" does not disable the files, how should be name the button to disable the add-on + its files then? I am thinking about adding it to the django admin, next to the "force disable" one. WDYT?

/cc @wagnerand

[2020-03-16 11:22] #13566 closed

[2020-03-16 11:36] diox commented on #13566
QA: Check the original description, but also try all sort of scenarios around permissions in reviewer tools to make sure it still works. The key takeaway from these changes is that read-access to review page (and privacy policy/eula) should be available at all times for any kind of reviewer now, but actions on that page should be limited depending on the add-on you're looking at and the permission

[2020-03-16 11:45] diox commented on #13194
So, for posterity:
- We already move the files belonging to a disabled add-on to the guarded location on filesystem, and check the add-on state in all relevant code (devhub, update service, download views)
- The reason Admins need the files to be disabled in database is for consistency, that helps with raw SQL queries.
- @wagnerand confirmed that it was ok to lose the original `status` when doing

[2020-03-16 11:47] junngo commented on #13072
Thank you :)
I gonna work on it by referring content.

[2020-03-16 11:49] diox commented on #13589
That's a good point. I thought this wasn't available but it already is, so maybe we don't need that ? Or maybe the validation endpoint is called too late in code-manager ?

[2020-03-16 11:51] diox commented on #12043
Not worth the effort.

[2020-03-16 11:51] #12043 closed

[2020-03-16 11:53] EnTeQuAk commented on #13589
I thought that the decision whether or not a file should be minified or not will be happening in parallel to loading other parts of the site - including linter results.

So having it directly in the response sounded like the way to go.

[2020-03-16 13:28] eviljeff commented on #13734
@jvillalobos to opine.
Though I'll note we had Akismet integration for anti-spam and ended up removing it again as it wasn't useful enough in reality.

[2020-03-16 13:44] willdurand commented on #13194
I updated the issue to reflect what we are going to do (explained in the comment above)

[2020-03-16 13:50] #13589 closed

[2020-03-16 13:58] #13677 closed

[2020-03-16 14:05] willdurand commented on #13199
@wagnerand you wrote "listed is fine for now"–would it make sense to have 2 links instead? Maybe we could be smart and only show 2 links if there are both listed and unlisted versions (if possible)

[2020-03-16 14:09] ioanarusiczki commented on #13420
@diox I verified on dev with FF74(Win10) and it looks good to me: file navigation, comments, keyboard navigation.

[2020-03-16 14:34] #5410 closed

[2020-03-16 14:34] #6991 closed

[2020-03-16 14:34] #8028 closed

[2020-03-16 14:34] #7946 closed

[2020-03-16 14:39] wagnerand commented on #13199
@willdurand Yes, it would be great to show 2 links *if* there are both listed and unlisted add-ons. We should only show links to channels that we have versions for.

If we cannot determine that, it might make sense to show 2 links by default. Just keep in mind that reviewers would probably open the two links all the time, since it's cheaper to just CMD+Click on 2 links and the close one, than to c

[2020-03-16 14:43] willdurand commented on #13199
@willdurand Yes, it would be great to show 2 links if there are both listed and unlisted add-ons. We should only show links to channels that we have versions for.

Cool!

Good idea, thanks for the tip!

[2020-03-16 14:53] diox commented on #13199
FYI there are `has_unlisted_versions() and `has_listed_versions()` helpers on the `Addon` instances. Do pass `include_deleted=True` argument in both cases.

[2020-03-16 16:06] caitmuenster commented on #4092
Mentor: @diox

[2020-03-16 17:51] jvillalobos commented on #13734
Yes, like Andrew mentioned, we tried to implement something with Akismet, but targeting spam rather than toxicity. I think the learnings there apply to this as well: it takes a lot of human time investment to train a system to align to our expectations, and even with that investment it's not clear it will ever reach a satisfactory state.

I agree we haven't spent enough time working on review mode

[2020-03-17 09:23] #13706 closed

[2020-03-17 11:44] #11008 closed

[2020-03-17 11:44] #12201 closed

[2020-03-17 11:44] #11825 closed

[2020-03-17 12:44] #10623 closed

[2020-03-17 12:44] #12054 closed

[2020-03-17 14:12] wagnerand opened #13746 "Force-enable an add-on should set its status to Incomplete"
### Describe the problem and steps to reproduce it:

Follow-up of https://github.com/mozilla/addons-server/pull/13739#discussion_r393689628.

The Reviewer Tools button "Force-enable add-on" currently sets the status to `STATUS_APPROVED`. With change made in the patch linked above, this would leave the add-on in an invalid status since all files are disabled.

### What happened?

Clicking `Force-en

[2020-03-17 14:14] #13194 closed

[2020-03-17 14:43] ioanarusiczki commented on #13727
@EnTeQuAk Can qa test this issue? Please add some STR.
Thanks!

[2020-03-17 14:49] willdurand commented on #13746
@diox wrote on Matrix:

[2020-03-17 14:49] #13746 closed

[2020-03-17 14:56] eviljeff opened #13748 "import_blocklist shouldn't run everything against primary_db"
The import_blocklist command is pinned to the primary_db, as normal for celery tasks that make db changes, but in this case we run some very expensive (regex) queries against the database first that we _don't_ want slowing the primary database down with.

[2020-03-17 14:57] #13748 closed

[2020-03-17 16:29] devaneymoz commented on #13711
Thank you for raising this issue! It was my oversight not removing 1Password X from the Password Managers collection when the extension was removed from the Recommended program. The collection has been updated.

[2020-03-17 16:30] #13711 closed

[2020-03-17 16:41] AlexandraMoga commented on #13566
I've verified the new set-up for Reviewer permissions by following the guidelines provided and also taking into account the original issue reported.
I've tested both individual permissions and combinations of several permissions.
Overall, I didn't find inconsistencies and the outcome was within the guidelines.
A full report of the scenarios tested is [here](https://docs.google.com/spreadsheets/d/1

[2020-03-17 16:45] diox commented on #13566
@wagnerand to confirm, but we removed `ReviewerTools:View` from content-reviewers, and presumably regular reviewers as well. Ultimately I think we can live with that edge case (regular reviewers shouldn't care about content review anyway), the action will have taken place, it's just the redirect that is leading to an unauthorized page ?

[2020-03-17 16:47] AlexandraMoga commented on #13566
Yes, I've only seen the error there. It will (obviously) happen for any review queue for which the user doesn't have permission.

[2020-03-17 16:47] willdurand opened #13751 "`test_get_blocked_guids` intermittent test failure"
In Travis-CI:

[code]

[2020-03-17 16:53] diox commented on #13566
Ok. You can file a follow-up in case we decide to fix it, but I don't think it's very important.

[2020-03-17 17:02] wagnerand commented on #13566
Hm, do I understand correctly that a user with `Addons:PostReview` can access a content-review page and submit a content-review, but not access the content-review queue?

[2020-03-17 17:04] AlexandraMoga opened #13752 "'Invalid parameter: state` for a login triggered by a Block action from Rev Tools"
Prerequisites: User is logged out in django admin

### Describe the problem and steps to reproduce it:
1. Log in with an admin user on AMO
2. Open a listed add-on review page
3. Scroll down to More actions and click on 'Block add-on'
4. Enter valid admin credentials on the FxA login page
5. Click Sign in

### What happened?
The following error is received:
![image](https://user-images.githubuserco

[2020-03-17 17:06] AlexandraMoga commented on #13566
You cannot Approve or Reject a content review, but you can Comment, Reply or Request super review. However, as you stated, you won't have access to the content review queue.

[2020-03-17 17:21] #13199 closed

[2020-03-17 17:34] Akhila499 commented on #4092
Hi @diox @eviljeff I have installed Docker and was able to run olympia.test and was able to get into Sh shell. However, I use pycharm for my code changes and I am unable to figure out a way to run pycharm inside the Docker engine. I did try installing busybox but I seem to have hit a dead end there. KIndly help me in being able to run the addons server and the code from Pycharm concurrently on Ubu

[2020-03-17 17:45] wagnerand commented on #13566
Ah, ok. I agree it would be nice to fix, but not very important. Worst case, we can add all users with `Addons:PostReview` to the content-reviewers group.

[2020-03-17 18:58] #13650 closed

[2020-03-17 19:12] #13721 closed

[2020-03-17 20:07] diox commented on #4092
I am not sure anyone on the team use PyCharm at the moment, and if somebody is they are probably not using the docker integration, it's not needed. Don't run the project from inside PyCharm, follow our installation instructions over at https://addons-server.readthedocs.io/en/latest/topics/install/index.html to run a local env.

[2020-03-18 08:33] AlexandraMoga opened #13756 "Reviewers receive an unauthorized error when trying to view a review queue not covered by their permission"
Follow up for #13566

### Describe the problem and steps to reproduce it:
1. Log in with a user belonging to a specific reviewer group, i.e. `Addons:PostReview`
2. Open an add-on review page from a different review group - see https://reviewers.addons.allizom.org/en-US/reviewers/review-content/flyfis-tapion-snackabook
3. Post a Comment or a Reviewer Reply

### What happened?
The review is processe

[2020-03-18 09:12] willdurand opened #13757 "Return the add-on name in the blocklist/block API response"
We need the add-on `name` in the block API response so that the frontend can display it (see: https://github.com/mozilla/addons-frontend/issues/9216). Having the `name` in the response would avoid another API call (and because add-ons are blocked, it might not be easy to retrieve such information _via_ public APIs anyway).

@jvillalobos do we need any other information on the new (upcomping) block

[2020-03-18 10:16] AlexandraMoga opened #13759 "The blocklist api fails to fetch results if the queried guid contains a 'dot'"
Follow up for #13706

### Describe the problem and steps to reproduce it:
1. Send the following request to the [blocklist api](https://addons-server.readthedocs.io/en/latest/topics/api/blocklist.html#get--api-v4-blocklist-block-(int-block_id|string-guid))

[code]

### What happened?
The API responds with a 404 because the `guid` contains a `.` in its name

### What did you expect to happen?
The AP

[2020-03-18 10:52] #13759 closed

[2020-03-18 11:00] ioanarusiczki commented on #13589
@EnTeQuAk I was looking for `uses_unknown_minified_code` in Browse and Compare views for these files which look minified to me:
https://code.addons-dev.allizom.org/en-US/compare/618525/versions/1689955...1689956/?allowSlowPages=true&path=src%2Fcontribute%2Fcontribute.bundle.js
https://code.addons-dev.allizom.org/en-US/compare/618913/versions/1690391...1690392/?path=psl.min.js
If I make a request f

[2020-03-18 11:21] eviljeff opened #13762 "implement Block stashing so we don't need a new MLBF each time"
Similar to what crlite is doing (mozilla/crlite#53 mozilla/crlite#48) we should implement some sort of stash list of new blocks so we don't have to generate a new bloom filter - and the client doesn't have to download an entire new filter - each time a new block is added.

things tbd:
 - How often we should build a new filter  (every x days?  every x new blocks?)
 - Should we still look to build a

[2020-03-18 11:42] diox commented on #13762
Haven't thought this through, but how about:
- For the stash list, update either on demand or on 6 hours schedule (*)
- For the bloom filter, update every x weeks or y new blocks or blocks gets deleted/updated

I don't think we should build a new filter on schedule anymore if we do the stash list, cause we don't want clients to have to download it, right ?

(*) If we do it on demand, we need to ma

[2020-03-18 11:50] eviljeff commented on #13752
This is because we're using the `state` parameter to confirm what type of blocklist Submission object we want to make (add/change vs deletion) but it's conflicting with fxa which already uses a `stage` parameter.

I think we can just drop the `state` param from review pages (they don't try to delete submissions and the default is add/change), or otherwise we'll need to switch to a different param

[2020-03-18 12:06] AlexandraMoga commented on #13706
I've verified the [blocklist api](https://addons-server.readthedocs.io/en/latest/topics/api/blocklist.html#get--api-v4-blocklist-block-(int-block_id|string-guid)) on -dev and I have the following results:

- a block can be queried by the add-on `guid` or by our internal block `id` (exposed in the block detail URL)
- the api response exposes the internal block `id`, created and modified dates, min-

[2020-03-18 12:07] eviljeff commented on #13706
yes, for now https://github.com/mozilla/addons-frontend/issues/9216#issuecomment-600303607

[2020-03-18 12:34] AlexandraMoga commented on #13695
@eviljeff is this new `generation_time` key exposed in https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-mlbf/records or somewhere else?
I'm also not sure how I could practically verify what it was required here.

[2020-03-18 12:36] #13461 closed

[2020-03-18 13:22] ioanarusiczki commented on #13650
@EnTeQuAk The head/new version file id and base file id are available in the Compare API response.
Verified on dev with Postman.

![basefileid](https://user-images.githubusercontent.com/33448286/76965039-509a7a00-692c-11ea-9a27-e8d8f1f64fd0.png)

[2020-03-18 14:27] AlexandraMoga commented on #13701
Is there any progress on https://github.com/mozilla-services/remote-settings-permissions/pull/112? I don't have access to the issue to check the status myself.

Meanwhile, I've submitted a few "no sign-off" add-ons on -dev and checked the status in https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections, but I'm still seeing `"status":  "to-review"` instead of  `"to-sign

[2020-03-18 15:11] ioanarusiczki commented on #13194
@willdurand @wagnerand
I force-disabled an add-on from the review page https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/anonymox
Admin tools shows all files as being disabled here https://addons-internal.dev.mozaws.net/en-US/admin/models/addons/addon/325576/change/ and also here https://addons-internal.dev.mozaws.net/en-US/admin/addon/manage/anonymox/

I tested this using an admin a

[2020-03-18 15:19] AlexandraMoga commented on #13721
I've verified this feature on stage and I have the following results:

- the '[Other add-ons by these authors]' link was added in the following locations:  scanner results, scanner query results and scanner detail pages
- the link will redirect to `/admin/models/addons/addon/?authors=<user-id>` and will show add-ons submitted only by that user (if the add-on has only one author)

@willdurand there

[2020-03-18 15:34] eviljeff commented on #13762
If there's a release of Firefox that supports the v3 blocklist but _doesn't_ support stashing then we'll have to produce the full bloomfilter each time.  (Making that compatible will also require some thought)

Yes.  (I think it's every day, it might be more frequent than that)  Each time there are new items but less than would require a new filter to be generated a new attachment is uploaded to k

[2020-03-18 15:38] wagnerand commented on #13194
@ioanarusiczki Looks good, thanks!

[2020-03-18 15:50] willdurand commented on #13721
ugh, @wagnerand do you know why this is happening by chance?

[2020-03-18 15:55] wagnerand commented on #13721
I am not sure passing multiple users to the URL is supported. Would be nice if we added that.

[2020-03-18 16:02] AlexandraMoga commented on #13721
@willdurand I'll file file a follow-up and maybe you'll find a solution to this case eventually.

[2020-03-18 16:18] AlexandraMoga opened #13767 "'Other add-ons by these authors' link will retrieve the entire list of add-ons when multiple authors are present"
Follow up for #13721

### Describe the problem and steps to reproduce it:
1. Open the following scanner result - https://addons-internal.stage.mozaws.net/en-US/admin/models/scanners/scannerresult/2350/change/
2. Click on 'Other add-ons by these authors' link

### What happened?
The entire list of add-ons is retrieved.

### What did you expect to happen?
A list of add-ons belonging only to the list

[2020-03-18 16:29] eviljeff commented on #13695
my fix for https://github.com/mozilla/addons-server/issues/13701#issuecomment-600654422 had a bug in it.

[2020-03-18 16:33] #9118 closed

[2020-03-18 16:41] #9777 closed

[2020-03-18 16:56] willdurand commented on #13721
ok cool, thanks

[2020-03-18 16:57] willdurand commented on #13767
Marking as p2 so that we can discuss it during the stand-up. Main questions are:

- can we actually pass a list of author IDs? (the name `authors` suggested that it was the case but obviously I did not double check)
- should we fix the current implementation by providing one link per user instead? (cherry-pick?)

[2020-03-18 17:40] jvillalobos commented on #13757
Assuming the version range and reason are already there, I think the `name` is all that's needed.

Another bit that's maybe unusual is that the `name` can come from an unlisted add-on, which is something we normally wouldn't expose, but we want to in this case.

[2020-03-18 20:55] Rob--W commented on #9118
Thanks for fixing this @diox! When https://bugzilla.mozilla.org/show_bug.cgi?id=1620084 is fixed and AMO is updated, I can update my crxviewer so that the online version becomes equally fast as the extension version, at least for Firefox addons :)

[2020-03-18 21:22] diox commented on #9118
Sorry it took so long for something so trivial :) It dropped from my radar and I just caught it because of the stale notification...

[2020-03-18 21:24] eviljeff commented on #13701
my fix in #13735 was broken (and the tests too apparently or it would have been caught 🐼 )

[2020-03-18 21:41] #9883 closed

[2020-03-18 21:41] #6943 closed

[2020-03-18 22:09] eviljeff commented on #13701
It's merged now (as of a few hours ago)

[2020-03-18 22:41] #4580 closed

[2020-03-18 22:41] #7548 closed

[2020-03-18 22:41] #4607 closed

[2020-03-18 22:41] #4672 closed

[2020-03-18 23:41] #6221 closed

[2020-03-19 08:07] AlexandraMoga commented on #3256
This is still an issue so it would be good to keep it open

[2020-03-19 08:08] championshuttler opened #13775 "Telegram Channel should be removed from Connect with us Section"
Telegram Support is removed

https://addons.mozilla.org/en-US/developers/

[2020-03-19 08:58] willdurand commented on #13767
We decided to fix this in the next tag. A workaround is to edit the URL manually and only add one user ID in the query string (`?authors=1,2,3` => `?authors=1` or `?authors=2`, etc.)

[2020-03-19 09:09] willdurand commented on #13767
Ha, actually changing the query parameter name from `authors` to `authors__in` fixes the issue.

[2020-03-19 09:11] willdurand commented on #13767
@ioanarusiczki could you manually try that to test?

[2020-03-19 09:18] #13775 closed

[2020-03-19 09:38] ioanarusiczki opened #13778 "View product page link returns a 500 from the listed/unlisted review pages"
Followup for https://github.com/mozilla/addons-server/issues/13199

STR:
1. Load a page from admin tools from en-US/admin/models/addons/addon/1002608/change/
2. Click the REVIEWER TOOLS (LISTED) button
3. Click the View Product Page link from Actions

Expected result:
The add-on detail page is loading without errors.

Actual result:
500 Internal Server Error

Notes:
This issue is reproducible on A

[2020-03-19 09:42] #13695 closed

[2020-03-19 09:42] #13701 closed

[2020-03-19 09:44] ioanarusiczki commented on #13199
@willdurand I can navigate from en-US/admin/models/addons/addon/1002608/change/ to both: listed and unlisted review pages.

I filed an issue here https://github.com/mozilla/addons-server/issues/13778

verified on stage with FF74(Win10).

[2020-03-19 09:48] willdurand commented on #13778
oh I see, mmm. I guess we should use `EXTERNAL_SITE_URL` in the admin.

[2020-03-19 10:02] AlexandraMoga commented on #13656
This fix has introduced an alignment issue in the footer:

![image](https://user-images.githubusercontent.com/31961530/77055422-85183f80-69d9-11ea-923a-a126d066409d.png)

[2020-03-19 10:21] wagnerand opened #13779 "Broken link to other channel if add-on is deleted"
### Describe the problem and steps to reproduce it:

On the reviewer tools page, if the add-on is deleted, the "(Un)Listed Review Page" page links to `/reviewers/review/None`.

### What happened?

Broken link, see above.

### What did you expect to happen?

The link should go to the respective review page.

### Anything else we should know?
(Please include a link to the page, screenshots and any r

[2020-03-19 10:26] eviljeff commented on #13695
yes, it should be there in the record(s) the next time the cron job runs.

[2020-03-19 10:44] ioanarusiczki opened #13780 "Force-enable will not change the status of the add-on correctly"
Looks like a regression caused by https://github.com/mozilla/addons-server/issues/13194

STR:
1. Go the the review page of an add-on and click the "Force disable add-on" button
2. Check in dev hub the status
3. Return to the review page and click "Force enable add-on"

Expected result:
The status will be "approved" and the versions will be enabled automatically.

Actual result:
Status remains "inc

[2020-03-19 10:46] diox commented on #13780
This is expected from the changes we made, this was an inconvenience @wagnerand was prepared to live with, since they don't manually re-enable often, and will manually change the affected files status first.

[2020-03-19 10:46] #13780 closed

[2020-03-19 11:00] ioanarusiczki commented on #13780
@diox In that case, the button should be inactive and loose the "force-enable" state for good. I think it's worth filing the issue.

[2020-03-19 11:09] diox commented on #13780
No, the button is still useful: it will remove the `Disabled by Mozilla` state.

[2020-03-19 11:10] ioanarusiczki opened #13781 "Remove Force-enable state from the review addon page"
A followup for https://github.com/mozilla/addons-server/issues/13780
Because the force-enable state is no longer functional because of https://github.com/mozilla/addons-server/issues/13194

STR:
1. Load a review page for an add-on and force-disable the add-on
2. Observe the button

Expected result:
The button should be inactive after the operation or no longer available (like the clear add-on code

[2020-03-19 11:13] ioanarusiczki commented on #13780
@diox I've noticed that the state is "Incomplete". Is that ok?

[2020-03-19 11:27] avgupt commented on #4092
Hello is anyone still working in this issue? I would like to take this up.

[2020-03-19 11:28] diox commented on #13780
Yes, that is expected if all versions were disabled (on some old disabled add-ons that's not the case - for those, the add-on will become approved once re-enabled)

[2020-03-19 11:29] diox commented on #13781
As commented in https://github.com/mozilla/addons-server/issues/13780#issuecomment-601121134 the button is still useful even with its new limitations.

[2020-03-19 11:29] #13781 closed

[2020-03-19 11:39] eviljeff commented on #4092
As you can see @Akhila499 was working on it.  I don't know if they got past their general setup problems though.

[2020-03-19 11:40] ioanarusiczki commented on #13780
@diox Ok. Noted. The behavior is different now, we'll change the expected result into the release test case.
Thanks!

[2020-03-19 11:46] #13779 closed

[2020-03-19 12:08] AlexandraMoga commented on #13767
@willdurand I've tried your solution and indeed it seems to work.
In my example, having the link redirect to https://addons-internal.stage.mozaws.net/en-US/admin/models/addons/addon/?authors__in=11685651,11686381 will show only add-ons submitted by these authors.

[2020-03-19 12:25] EnTeQuAk commented on #13589
So, I looked into this. The changes implemented here aren't being used by the code-manager right now so there won't be any visible changes.

If I hit https://code.addons-dev.allizom.org/en-US/compare/618525/versions/1689955...1689956/?allowSlowPages=true&path=src%2Fcontribute%2Fcontribute.bundle.js and look into the network panel, I do see the `uses_unknown_minified_code` property to be `true`.

!

[2020-03-19 12:48] ioanarusiczki commented on #13589
@EnTeQuAk I can't make it visible from Postman but I see it too in the Network if I look at the response when I hit on the file.

![response in the network panel](https://user-images.githubusercontent.com/33448286/77068491-63c24e00-69ef-11ea-8f38-e1030fdf9163.png)

verified on dev with FF74(Win10).

[2020-03-19 13:07] #13767 closed

[2020-03-19 13:14] ioanarusiczki commented on #13779
@wagnerand I verified this on -dev with FF74(Win10).

I tested it like this: I deleted an add-on from
https://addons-internal.stage.mozaws.net/en-US/admin/models/addons/addon/1003947/change/

The review page:
https://reviewers.addons.allizom.org/en-US/reviewers/review/testingautoapproval has the link to "Unlisted Review Page" which redirects correctly to

https://reviewers.addons.allizom.org/en-US

[2020-03-19 13:19] AlexandraMoga commented on #13656
The footer is back to its previous state. i.e. there are no more layout issues currently.
Keeping the issue open to wait for a proper fix.

[2020-03-19 13:28] wagnerand commented on #13779
@ioanarusiczki Looks good, thank you!

[2020-03-19 13:32] avgupt commented on #4092
@Akhila499 please let me know if you're not working on the issue anymore. :)

[2020-03-19 13:38] ioanarusiczki commented on #13779
@wagnerand Alright. I'll mark it verified on dev with FF74(Win10).

[2020-03-19 13:58] diox commented on #13656
@championshuttler maybe you want to take another stab at this bug ? Be careful to avoid the problem @AlexandraMoga spotted by testing locally.

[2020-03-19 14:10] championshuttler commented on #13656
@diox will take a look this weekend :)

[2020-03-19 15:13] AlexandraMoga commented on #13767
Verified fixed on stage

[2020-03-19 15:25] AlexandraMoga commented on #13616
I've compared the previous data from https://kinto.dev.mozaws.net/v1/buckets/staging_addons_dev_allizom_org/collections/addons-mlbf/records with the new data generated today and the contents have changed, since there have been updates made to blocklist entries on AMO.

So, based on these observations I will mark the issue as verified fixed.

[2020-03-19 16:54] wagnerand opened #13787 "Trying to update a field that is invalid in several locales fails"
### Describe the problem and steps to reproduce it:

A developer had an invalid _Homepage_ set in the developer hub for several locales. Trying to update the value to something valid failed because the other locales still had the invalid values. The validator seems to validate all locales for a field at once, but the UI does not allow editing them at once.

### What happened?

Failure during save

[2020-03-19 17:05] diox commented on #13787
Note: in this instance the invalid homepage had been set years ago before we added stricter validation of URLs, hence the failure.

To fix this, we don't necessarily need to fix editing multiple locales at once, but rather don't validate locales that weren't touched.

[2020-03-19 17:21] #13694 closed

[2020-03-19 19:36] Akhila499 commented on #4092
@avgupt I am working on this issue. Thanks.

[2020-03-20 11:17] #13757 closed

[2020-03-20 11:24] eviljeff opened #13794 "upgrade to latest filtercascade lib with new hashing algorithm"
blocked on ~https://github.com/mozilla/filter-cascade/pull/6~ (and releasing a new version of filtercascde to pypi)

The salt is now used directly in the bloomfilter so we don't need to prepend it to the key. We should also consider:
- stripping out some of the non-defaults when we initialize the filter too (it was based on the crlite code but probably unnecessary and causes a bug if the number of

[2020-03-20 14:04] wagnerand opened #13795 "Fix invalid file status for disabled or deleted add-ons"
Some deleted or disabled add-ons have files that are approved, preliminary approved or even pending review. These files should be disabled for consistency and to ensure manual sql queries produce expected results.

@diox mentioned we should split it up in chunks to reduce load.
I would appreciate if we could do it by running an sql `UPDATE` statement manually against the database to keep effort lo

[2020-03-20 14:08] eviljeff commented on #13520
Is this still valid?  I thought I implemented this (but so many blocklist issues...)

[2020-03-20 14:25] eviljeff commented on #13534
thoughts @jvillalobos - I'm not sure where this warning would go (if we want one)

[2020-03-20 14:51] jvillalobos commented on #13795
For the first proposal, the followup queries would have `MOD(f.id, 6) = 1`, `MOD(f.id, 6) = 2`, ..., `MOD(f.id, 6) = 5`, in case that isn't clear.

[2020-03-20 14:53] eviljeff commented on #13392
Should this issue be refiled under a salesforce issue tracker?  It doesn't seem there's anything to do on our side.

[2020-03-20 14:54] #13705 closed

[2020-03-20 14:56] jvillalobos commented on #13534
I think we have a step in the upload process that reminds developers about this every time they submit a new version. Right, @wagnerand? Maybe this is about API submissions?

[2020-03-20 15:03] AlexandraMoga commented on #13520
@eviljeff yes, this is still valid now (unfortunately)

[2020-03-20 15:04] diox commented on #13795
First one gives me `ERROR 1093 (HY000): You can't specify target table 'files' for update in FROM clause`.

There is a `filesort` and `temporary table` that would be better to avoid in the second one, but we can probably live with it. I like the second one also because we can adjust the limit if we notice it's going well.

[2020-03-20 15:10] wagnerand commented on #13534
Correct, the devhub has this, but API does not suggest it nor does it even have an option to do it. There are a couple of open issues about it:
* https://github.com/mozilla/sign-addon/issues/409
* https://github.com/mozilla/addons-server/issues/9913

[2020-03-20 15:13] eviljeff commented on #13534
oh, I thought it was that the devhub warning was easy to miss.

[2020-03-20 15:17] diox commented on #13392
It's being tracked on their side but having it around here helps as a reminder (and also if we end up having to help on our side)

[2020-03-20 15:18] eviljeff commented on #13392
is there a link to the issue?

[2020-03-20 15:20] AlexandraMoga commented on #13701
I've seen that the status changed on -dev from `to-review` to `to-sign` but I guess I'll have to wait until the latest fix from #13772 is available on stage to be able to do an end to end test on kinto.

[2020-03-20 15:31] eviljeff commented on #13701
#13772 is dev only.

[2020-03-20 15:31] wagnerand commented on #13534
It's now a separate step int he submission process that forces you to click either "yes" or "no" in order to proceed.

[2020-03-20 15:31] jvillalobos commented on #13534
Since supporting source uploads are already covered elsewhere, I think what we need is to add a reminder on `web-ext`. I don't know if there's anything filed in that repo for it. /cc @rpl

[2020-03-20 15:33] AlexandraMoga commented on #13695
The `generation_time` key was present yesterday when I've checked the records.

![image](https://user-images.githubusercontent.com/31961530/77179169-c7707800-6ad0-11ea-9552-d08ac98d9415.png)

I'll look again after the records are reset.

[2020-03-20 15:35] wagnerand commented on #13795
@diox I didn't manage to avoid the temporary table. Resolving that subquery makes the statement fail because mysql does not support querying the table column you are trying to update.

[2020-03-20 15:40] wagnerand commented on #13795
The filesort we could probably avoid, I'm not sure we actually gain much from it. We'd have to run the query several times anyway, also more times than `total amount / files per chunk` since not all files we fetch in the subquery might belong to an add-on that is disabled or deleted.

[2020-03-20 15:49] AlexandraMoga commented on #13701
@eviljeff does it mean that stage is supposed to work now? If that is the case, I'm not having the behavior described in https://github.com/mozilla/addons-server/issues/13701#issuecomment-598656329

I've added a no sign-off block on AMO stage but in kinto that record is still pending for Approval:

![image](https://user-images.githubusercontent.com/31961530/77180710-fdaef700-6ad2-11ea-81b1-407dbe0

[2020-03-20 15:56] AlexandraMoga commented on #13759
This is verified fixed on -dev.
The following request will now return the block details:
`https://addons-dev.allizom.org/api/v4/blocklist/block/thisisaguid@gmail.com/`

[2020-03-20 16:04] AlexandraMoga commented on #13757
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/77182343-449dec00-6ad5-11ea-9712-6be5266aa195.png)

[2020-03-20 16:07] diox commented on #13795
Yeah, we'll do one run with the (second) query as-is on prod and see how that goes.

[2020-03-20 16:20] diox commented on #13392
@caitmuenster do you know if for this and https://github.com/mozilla/addons-server/issues/12472 there is a link (presumably private, doesn't matter) to track progress on this on Salesforce side ?

[2020-03-20 17:09] #13778 closed

[2020-03-20 17:31] bqbn commented on #13795
We ran the second command 5 times in -prod, and here are the results for each run.

[code]

As a result, the 6th run has no row to update.

[2020-03-20 17:39] wagnerand commented on #13795
Hm, even before we ran the statements, it seems the `hide_disabled_files` and `unhide_disabled_files` cronjobs are already overlapping.

2020-03-20 17:25:07.219 CET: Beginning job: hide_disabled_files
2020-03-20 17:55:07.072 CET: Beginning job: unhide_disabled_files
2020-03-20 18:00:45.608 CET: Ending job: hide_disabled_files
2020-03-20 18:02:48.788 CET: Ending job: unhide_disabled_files
(2020-03-

[2020-03-20 18:44] eviljeff commented on #13701
I thought so too but apparently there's more work on the kinto side to do.  It's being tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1623984

[2020-03-20 18:56] glasserc commented on #13701
The behavior in https://github.com/mozilla/addons-server/issues/13701#issuecomment-601770197 is a bit strange for having set the status to `to-sign`. It looks more like a `to-review` status. It might be worth clearing that status manually once by declining the changes.

[2020-03-20 18:56] eviljeff commented on #8611
stalebot would have closed this ages ago if it didn't ignore closed projects so takin' it's jub and closing it myself.

[2020-03-20 19:04] wagnerand opened #13797 "Add an identifier to cronjob begin and end statement to link them together."
Supports #13795.

Looking at a log that shows:
[code]

We need to know which one of the _End_ statements belongs to which _Begin_ statement.

[2020-03-20 19:08] diox commented on #13795
With the way the crons are written nowadays, it shouldn't be a problem if `hide_disabled_files` and `unhide_disabled_files` run in parallel, because they look at different rows (they use the same base query rules but one is using them to filter, the other to exclude).

Having the same cronjob overlapping is an issue, though.

[2020-03-20 19:11] eviljeff commented on #13701
From https://bugzilla.mozilla.org/show_bug.cgi?id=1619994#c6 I thought that's what needed to happen.  If not this issue needs re-opening and the correct way implementing.

[2020-03-20 19:43] wagnerand commented on #13795
https://github.com/mozilla/addons-server/issues/13797 should give us some answers.

[2020-03-22 00:19] #7021 closed

[2020-03-22 08:35] #6948 closed

[2020-03-22 09:35] #7113 closed

[2020-03-22 09:35] #10814 closed

[2020-03-22 09:35] #7573 closed

[2020-03-22 09:35] #10794 closed

[2020-03-22 09:35] #10406 closed

[2020-03-22 09:35] #9679 closed

[2020-03-22 09:35] #8988 closed

[2020-03-22 09:35] #7857 closed

[2020-03-22 09:35] #7920 closed

[2020-03-22 09:35] #6986 closed

[2020-03-22 09:35] #4699 closed

[2020-03-22 09:35] #10754 closed

[2020-03-22 09:35] #6878 closed

[2020-03-22 09:35] #6154 closed

[2020-03-22 09:35] #3133 closed

[2020-03-22 11:35] #10033 closed

[2020-03-22 11:35] #8965 closed

[2020-03-22 11:35] #10003 closed

[2020-03-22 11:35] #8977 closed

[2020-03-23 08:24] junngo commented on #13689
I submitted PR :)

[2020-03-23 08:44] AlexandraMoga commented on #6878
This issue was fixed in the meantime I believe. The need info flag is not removed on anew version upload unless the developer marks the Information  request resolved checkbox.

[2020-03-23 08:59] ioanarusiczki commented on #13775
@championshuttler Telegram support is removed from Connect with us section for both - logged in and logged out views. - verified on AMO dev with FF74(Win10).

![Telegram removed](https://user-images.githubusercontent.com/33448286/77299481-2dd5e000-6cf5-11ea-85f2-bf87f56e9672.png)

[2020-03-23 10:25] AlexandraMoga commented on #13461
Verified fixed on -dev.
The Run/Abort button is hidden for users with only Admin:ScannersQueryView.

![image](https://user-images.githubusercontent.com/31961530/77307075-4946e800-6d01-11ea-97f2-88f0901d2aa7.png)

[2020-03-23 10:42] ioanarusiczki commented on #13705
@wagnerand I tested on admin tools dev - FF74(Win10).

On the user's profile page from admin tools:
- The "Reset session(s)" button is available at the bottom of the page. All buttons from the section changed the appearance (look better than before).
- from dev hub after the session reset, the user is redirected to the fxA page and log in is possible.
- from the frontend pages the login of the use

[2020-03-23 10:42] diox commented on #13532
@bjherbison can you still reproduce this ?

[2020-03-23 10:43] diox commented on #12413
@spoji this should have been fixed, can you still reproduce ?

[2020-03-23 11:00] wagnerand commented on #13705
@ioanarusiczki Thanks for testing!

As far as I understand, the _Ban_ and _Reset session_  button should work independently.
* Banning a user prevents them from future logins, but if the user is already logged in, they can still use their current session.
* Resetting the session for a user invalidates the current session, which means they would be treated as a logged out user and would have to re-

[2020-03-23 11:02] diox commented on #6936
@bjherbison you should now be able to view the technical review page and reply there. Can you confirm ?

[2020-03-23 11:05] ioanarusiczki commented on #13778
@willdurand Verified on dev with FF74(Win10).

![works for me1](https://user-images.githubusercontent.com/33448286/77310428-fcfea680-6d06-11ea-95e5-a178189c5338.gif)

[2020-03-23 11:27] bjherbison commented on #13532
As of yesterday there were no add-ons in this state. (I'm still working through the overnight build-up.)

This isn't something I can reproduce by myself. From previous comments it recommended depends on content changes being made to recommended add-ons.

I will try to remember to add a message here if I see it again.

[2020-03-23 11:31] bjherbison commented on #6936
I can now see the /review-listed/ version of pages, but replying gives me "Oops! Not allowed.".

And replying would only be a partial solution as I would still need to edit the URL to content-approve or reject as those two options don't show up for me on the /review-listed/ version of pages.

[2020-03-23 11:39] bjherbison commented on #6936
Actually, I can reply. It now gives me the error after posting the reply.

But again, this is still no a full solution to the original problem.

I thought Caitlin proposed that the redirection solution above be implemented.
https://github.com/mozilla/addons-server/issues/6936#issuecomment-346573683

[2020-03-23 11:40] diox commented on #6936
Yeah, the error is just on the queue page you're redirected to. I know it's not a full solution, I'm working on a full fix.

[2020-03-23 11:51] AlexandraMoga commented on #13532
@diox in https://github.com/mozilla/addons-server/issues/13532#issuecomment-588222982 I've identified that recommended add-ons can end up in the content review queue when their metadata is being changed. It is very likely that the issue occurred in prod comes from the same regression. I could file a separate issue with clear STR.

[2020-03-23 12:03] diox commented on #13532
No Need for STRs. Backing up for a second:

https://github.com/mozilla/addons-server/issues/13566 should have fixed this sub-issue. So now, we're back to the original problem: content-reviewers are able to see the content review page of recommendable add-ons, but can't content review them. That is expected: the issue is that they shouldn't see recommendable add-ons in their queue in the first plac

[2020-03-23 12:34] AlexandraMoga commented on #13532
that's also the point I was trying to make, but probably I haven't been specific enough

[2020-03-23 12:52] eviljeff commented on #13752
This is something to do with how `state` is handled by FxA.  `state` contains an encoded copy of the url a client was trying to navigate to and it seems there's a max length - the ?guids on the end of the url exceeds that length

[2020-03-23 13:02] spoji commented on #12413
@diox Do you mean you are now hiding the buttons when the review page is being accessed through that permission?

Because I can still see the following action buttons :
Reject Multiple Versions
Reviewer reply
Request super-review
Comment

on https://reviewers.addons.mozilla.org/en-US/reviewers/review/foxyproxy-standard

[2020-03-23 13:04] diox commented on #13532
No no you're right and I got it, just wanted to clarify. *Technically* this is not a regression per se because the content review queue never excluded recommendable add-ons, it's just that before #13192 it was impossible for them to ever end up in that queue, since they had a content review at some point by just having their version manually approved.

@wagnerand Should we content review recommend

[2020-03-23 13:07] diox commented on #12413
Sigh. That's a bug. You should see reply, request super review & comment, but not any approve/reject actions.

[2020-03-23 13:17] ioanarusiczki commented on #13705
@wagnerand Thanks for the info!

- I checked again so I can confirm that the ban right now behaves like the Reset session - on the frontend or devhub. If using the session is wanted then I think that a separate issue should be filed.

- maybe the `Reset session` could be inactive if the ban was applied on the user ?

[2020-03-23 13:21] wagnerand commented on #13532
I don't think we need to change. It's also very unlikely that a recommended add-on would end up in the content review, since add-ons usually have been on AMO for quite some time and thus are already content-reviewed by the time they are becoming recommended extensions.

[2020-03-23 13:22] eviljeff commented on #13752
I'm not really sure if there's a good fix here on the AMO side.  We don't know if the user is auth'd in the admin internal instance from the reviewers domain, but if they're not, and the url is too long, it'll fail.  It could happen anywhere on the site we have a page behind auth - it's just obvious here because the guids param tends to make it longer than a straight path.

[2020-03-23 13:35] diox commented on #13532
See discussion above: because of #13192 they can end up in the content review queue if their metadata changes, and that has caused some confusion. So I can either exclude them from that queue, or let content reviewers content review them.

[2020-03-23 13:44] wagnerand commented on #13705
@diox I did not expect the behavior Ioana described. It sounds like we don't even need to use the _Reset session_ button if we ban a user? Can you confirm that from looking at the code?

[2020-03-23 13:52] wagnerand commented on #13532
To keep things feasible, let's allow content-reviewers to content-review recommended add-ons. At some point we should add a prominent visual indicator so that content-reviewers can't miss that they're reviewing a recommended add-on.

[2020-03-23 14:00] diox commented on #13705
Banning a user already resets their existing sessions, yes - it would be a pretty weak ban if it didn't affect users already logged in :) But the action to reset the sessions remains useful if you don't want to ban the user (since banning has other implications).

[2020-03-23 14:03] wagnerand commented on #13705
Ah, right. I suppose we're all good here then!

[2020-03-23 14:15] junngo commented on #13689
Hello, @eviljeff
Could I ask you about Lables?
I often solved issue on `contrib:welcome`. But, There are many `contrib: outreachy` labels now.
Can I try to solve issue on `contrib: outreachy`? Or Should I refrain from it?
I ask it for a good community.

[2020-03-23 14:24] diox commented on #13532
Alright, so this should be possible following changes made for https://github.com/mozilla/addons-server/issues/13566. Re-open if that's not the case.