[2019-06-24 11:07] ioanarusiczki commented on #10785
@eviljeff I checked with 2 accounts which had submitted lw themes.
My Themes tab - from [Manage my Submission](https://addons-dev.allizom.org/en-US/developers/themes) page in dev hub won't display them anymore. I only see a list of static themes right now.  Looks like they've been deleted.
Accounts I tested with: irusiczki@mozilla.com and rusiczki.ioana@gmail.com

If there's something else I could

[2019-06-24 11:14] ioanarusiczki commented on #11684
@EnTeQuAk Please add some STR for qa or mark it qa not needed.
Thanks!

[2019-06-24 16:12] kumar303 commented on #11639
@EnTeQuAk  the API response below for an unmodified file is still returning `diff: null`. That should be the diff of the fake hunk you added, right? I'm re-opening this just so we don't lose track of it but just let me know if I should open a separate issue.

[code]

<details>
<summary>Full response</summary>

[code]
</details>

[2019-06-24 20:42] jrbenny35 commented on #11565
I'll try and get this fixed by EOD tomorrow. Still traveling home from All-Hands

[2019-06-25 07:29] ioanarusiczki opened #11694 "Submission on AMO stage cannot be completed"
STR:
Go to Submit an add-on and upload an extension.

expected result:
Uploading is validated and I can go to the next page with Continue.

actual result:
The upload is not completed. There is no validation and the Continue button stays greyed out.

Notes:
Reproducible on AMO stage.
Not reproducible on AMO prod and dev.

![upload stage](https://user-images.githubusercontent.com/33448286/60078182-1

[2019-06-25 10:54] EnTeQuAk commented on #11694
I can reproduce this on -stage, one of the validation reports I produced was https://addons.allizom.org//en-US/developers/upload/f34200dddd1241f5a43628f576723037

I don't see anything in sentry so far

[2019-06-25 10:55] EnTeQuAk commented on #11639
Yeah, I'll look into this and see if this needs a separate issue or not.

[2019-06-25 11:32] EnTeQuAk commented on #11684
If signing works, this can be verified. The actual verification happens in production, making sure the linked sentry issue doesn't occur anymore.

[2019-06-25 12:04] #11534 closed

[2019-06-25 12:53] lavish205 commented on #11680
@diox can I work in this bug?

[2019-06-25 13:56] #11686 closed

[2019-06-25 13:59] #11680 closed

[2019-06-25 13:59] eviljeff commented on #11680
@lavish205 it's already fixed

[2019-06-25 14:44] #11639 closed

[2019-06-25 14:45] EnTeQuAk commented on #11639
The problem was a cache-layer I had to put into the API that cached multiple calls to generating diffs (which we are to fetch all the information in various places). This got fixed and should be heading to dev any minute now.

[2019-06-25 15:10] ioanarusiczki commented on #11534
@EnTeQuAk I uploaded the the addon on -dev. It's https://code.addons-dev.allizom.org/en-US/browse/616914/versions/1688318/?path=data%2Fconfig.json
And requested via Postman https://addons-dev.allizom.org/api/v5/reviewers/addon/616914/versions/1688318/?file=data/config.json

I receive in the response in `entries`
` "mime_category": "text",
                "mimetype": "text/html",`

![config](https:

[2019-06-25 15:28] EnTeQuAk commented on #11534
This will be on -dev once https://github.com/mozilla/addons-server/pull/11701 lands and the next -dev deployment is triggered.

[2019-06-25 15:44] #11663 closed

[2019-06-25 16:51] bqbn commented on #11694
I restarted celery processes in -stage environment. Please try it again.

Celery processes were OOM killed on one of 2 instances, and on the other instance, they died due to some underlying ec2 problem (not sure what it is yet).

[2019-06-25 19:03] eviljeff opened #11703 "remove lwt support in serializers"
We have specific support to return `theme_data` for LWT but with no LWT any more we can delete that code now.

[2019-06-25 19:04] mstriemer opened #11704 "heading_text is not localized in discovery API response"
### Describe the problem and steps to reproduce it:
The `heading_text` property of the discovery API response includes the English text.

### What happened?
Recommended extensions in about:addons are shown with an English heading and a localized description.

### What did you expect to happen?
Both the heading and description are localized.

### Anything else we should know?
https://services.addon

[2019-06-25 19:21] diox commented on #11704
Ah yeah, the text variant is missing the `ugettext` call when a `custom_heading` is set. I'll fix it.

[2019-06-25 19:27] milupo commented on #11704
Thank you diox. I'm the reporter of the Bugzilla bug 1559160.

[2019-06-25 20:12] jvillalobos commented on #8939
Generally we prefer people taking issues [labeled as good first bug](https://github.com/mozilla/addons-server/labels/contrib%3A%20good%20first%20bug), which are good for getting started.

But maybe @diox can give you some pointers for this one.

[2019-06-25 20:34] bqbn opened #11707 "Do not bounce emails for spammers"
### Describe the problem and steps to reproduce it:
Our email provider has reported that spammers are able to spoof sender addresses and have AMO bounce emails for them.

Please see details in https://bugzilla.mozilla.org/show_bug.cgi?id=1561413

This hurts our email reputation and can get us banned by ISPs.

### What happened?

See https://bugzilla.mozilla.org/show_bug.cgi?id=1561413 for details.

[2019-06-26 03:32] suhailsinghbains commented on #11691
Hi, Can I please work on this issue?
Thanks

[2019-06-26 07:29] ioanarusiczki commented on #11534
@EnTeQuAk
Yes, it's returning the correct `mimetype` now.

![the correct mimetype](https://user-images.githubusercontent.com/33448286/60160023-21236a80-97fd-11e9-9ad3-7a81c886af2d.png)

Verified on -dev with Postman.

[2019-06-26 07:38] EnTeQuAk commented on #11691
This is an assigned issue and not necessarily that is open for contributions. I'm sorry about that, but there's a whole list of other issues where contributions are very welcome! https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome

[2019-06-26 08:24] ioanarusiczki opened #11712 "500 errors received in Compare file for images"
Followup for https://github.com/mozilla/addons-server/issues/11639
STR:
1. Load a compare view such as
https://code.addons-dev.allizom.org/en-US/compare/390151/versions/1688198...1688302/
https://code.addons.allizom.org/en-US/compare/1002795/versions/2474830...2474841
2. Open a folder that contains images and click a file such as https://code.addons.allizom.org/en-US/compare/1002795/versions/24748

[2019-06-26 08:27] suhailsinghbains commented on #11691
Okay, thanks :)

[2019-06-26 08:36] muffinresearch commented on #11707
Marking as P2, but if it's possible to get something in for next week that would be even better.

@eviljeff are you ok to take this on?

[2019-06-26 09:02] ioanarusiczki commented on #11712
I recently found another file which returns 500
https://code.addons-dev.allizom.org/en-US/compare/390151/versions/1688198...1688302/?path=popup%2Ffonts%2Fglyphicons-halflings-regular.eot

[2019-06-26 09:04] EnTeQuAk commented on #11712
This will happen for all binary files. Fix is in progress

[2019-06-26 09:15] EnTeQuAk commented on #11712
This is related to https://sentry.prod.mozaws.net/operations/olympia-dev/issues/5990131/

[2019-06-26 09:46] ioanarusiczki commented on #11639
@EnTeQuAk My test results:

- I tried with  .json, .js, .css, svg, .md, .html and for these types the `diff` is displayed for each line with the            `type:" "` which means unmodified (at least for the files I checked on -dev and -stage).

Samples I tested with
https://code.addons-dev.allizom.org/en-US/browse/390151/versions/1688302/
https://code.addons.allizom.org/en-US/compare/1002795/vers

[2019-06-26 13:51] muffinresearch commented on #9540
@kumar303 please re-open if there is any further action required here.

[2019-06-26 13:51] #9540 closed

[2019-06-26 13:53] muffinresearch commented on #11560
@Patil2099 Thanks for asking, though unfortunately this is probably not the best kind of bug to work on as a contribution.

[2019-06-26 14:40] kumar303 commented on #9540
Our investigation showed that the large log messages (https://github.com/mozilla/addons-frontend/issues/6370) is what caused the DOS. There was also an increase in traffic but we are now able to handle that level of traffic since the logging problem was fixed.

[2019-06-26 15:03] eviljeff opened #11718 "drop 'all_personas' column from 'collections' table"
#11705 removes the column from the model; we should drop the column from the database with a migration in _the following milestone/deploy_

[2019-06-26 15:05] ioanarusiczki commented on #11639
@EnTeQuAk
As discussed , the diff for cose.sig and mozilla.rsa looks as expected.

[2019-06-26 15:22] ioanarusiczki commented on #11680
@eviljeff Verified on -dev - FF67(Win10)
flattr.com was added to Contributions URL in dev hub and works with all examples [above](https://github.com/mozilla/addons-server/issues/11680#issue-458939385)

![flattr com added](https://user-images.githubusercontent.com/33448286/60192874-55b81600-983f-11e9-9be8-e1b2fb5bd922.gif)

[2019-06-26 15:26] #11653 closed

[2019-06-26 15:28] diox commented on #11653
@jvillalobos it should go to prod next week. When it happens, if someone visits the review page they will see `Delayed because it's the first listed version` as (one of) the reasons the add-on wasn't auto-approved.

[2019-06-26 15:36] ioanarusiczki commented on #11663
Verified on AMO dev - FF67(Win10).

![approved and recommended](https://user-images.githubusercontent.com/33448286/60194061-56ea4280-9841-11e9-9c43-16180dc9af47.gif)

[2019-06-26 15:39] caitmuenster commented on #10824
Mentor: @eviljeff

[2019-06-26 15:39] eviljeff commented on #10824
The fix for this will probably end up touching a number of files.  I'd remove the urls that mention rss from the `urls.py` file(s), and then the views (in `views.py`).  Then see what tests fails and remove them also.

[2019-06-26 15:46] ioanarusiczki commented on #11694
@bqbn Looks like it's working again.

[2019-06-26 15:51] diox commented on #11612
It's actually because the `average_addon_rating` score has a bug and it takes into consideration deleted ratings.

[2019-06-26 15:53] #11694 closed

[2019-06-26 16:00] #11703 closed

[2019-06-26 16:12] jvillalobos commented on #11653
Thanks. @kewisch and @wagnerand might want to notify reviewers about this.

[2019-06-26 16:55] muffinresearch commented on #11707
"activity-email-bouncing" switch is now off in prod as a temporary measure.

[2019-06-26 17:54] EnTeQuAk commented on #11534
For potential future problems: In case this arises again, we might want to double-check if we can move to pygments file-detection instead which has much less dependencies and bugs are much easier to fix.

[2019-06-26 18:17] muffinresearch opened #11720 "Ui-test failure: Account already exists"
https://circleci.com/gh/mozilla/addons-server/34162

[code]

[2019-06-26 18:19] muffinresearch opened #11721 "Ui-test failure: Unable to locate element: .Home-FeaturedExtensions"
Unable to locate element: .Home-FeaturedExtensions

From: https://circleci.com/gh/mozilla/addons-server/34155

[2019-06-26 20:10] FatOrangutan commented on #9383
I believe this is still happening.

[2019-06-26 21:51] diox opened #11724 "Add `severity` and `message` to logging payload to improve stackdriver log viewing"
Stackdriver currently displays the whole json payload for each line of log because we don't set a `message` property. Similarly, because we don't set `severity` all messages are considered to be of the same severity, preventing us to filter by log level.

If we were to add those fields it would increase payload size (since they'd be duplicated) but we'd get better logging viewing experience.

[2019-06-26 21:58] diox commented on #11724
Note: ideally, all this would be part of some new spec, maybe mozLog 3.0, and handled in https://github.com/mozilla-services/python-dockerflow/blob/master/src/dockerflow/logging.py. In the meantime though I'd like to get nice logs in stackdriver so we'll probably have to implement it ourselves.

[2019-06-26 23:40] Patil2099 commented on #11718
Can I work on this ?

[2019-06-27 00:38] bqbn commented on #11724
I think the downside of doing this is probably increased payload, networking traffic and cost. Cost wise, we currently emit about 5 GB application logs per day. Doubling that should not be a huge deal.

Also maybe this can be made so that it can be switched on/off by an environment variable, so that if/when we stop using stackdriver, we can turned it off. The scenario is less likely to happen near

[2019-06-27 09:24] EnTeQuAk opened #11728 "Remove six py2/py3 compat code"
Python 3 support is now live for quite some time.

Let's remove our compatibility code.

[2019-06-27 10:17] ioanarusiczki opened #11729 "Add-on distribution agreement shows up for old accounts"
STR:
1. I signed in with an account that has submitted addons.
2. Clicked Submit an add-on

Expected result:
Distribution page is displayed.
https://addons.allizom.org/en-US/developers/addon/submit/distribution

Actual result:
Agreement page is displayed.
https://addons.allizom.org/en-US/developers/addon/submit/agreement

Notes:
Reproducible on -dev and -stage FF67(Win10).

![agreement](https://us

[2019-06-27 11:37] diox commented on #11729
That is expected since we changed the agreement last updated date.

[2019-06-27 11:37] #11729 closed

[2019-06-27 12:14] #11704 closed

[2019-06-27 12:14] diox commented on #11704
Will be fixed for production next week.

[2019-06-27 13:09] EnTeQuAk opened #11731 "Add more mimetypes to MIMETYPE_CATEGORY_MAPPING"
From https://github.com/mozilla/addons-server/pull/11713/files/cf97a28aa7505a91d4124823ec6a0fa6d37373a4#r298155184

[2019-06-27 13:10] #11712 closed

[2019-06-27 13:12] diox commented on #11653
@jvillalobos There is catch I didn't anticipate: if we delay auto-approval for the first version... then the add-on won't appear in either auto-approved or content approval queues, since those contain add-ons that have been auto-approved... Not sure what's the best way to address this.

[2019-06-27 13:21] EnTeQuAk commented on #11712
This is heading to dev and stage, and will be cherry-picked for todays push.

[2019-06-27 13:48] #11612 closed

[2019-06-27 13:49] diox commented on #11612
The fix for this will go to production next week on Thursday. After that it will take up to 24 hours for the value to be updated.

[2019-06-27 14:07] diox commented on #11557
@jvillalobos do we need the ability to search abuse reports by display name too? Currently we search by id or username, since display name is not indexed. Searching by display name would be costly in terms of performance.

[2019-06-27 14:34] ioanarusiczki commented on #11686
No regressions found after today's [release testing](https://testrail.stage.mozaws.net/index.php?/plans/view/18492).
verified on stage with FF67(Win10).

[2019-06-27 15:04] EnTeQuAk commented on #11639
@bobsilverberg @kumar303

So, we're now returning the full data of unchanged lines for unchanged files, except for binary files where we don't render any hunk information. That safes me from issues like #11712  but I figured, while we're only interested in "this binary file has changed", we might be more interested in the future about changes to images. Currently the `download_url` only contains t

[2019-06-27 16:11] kumar303 commented on #11639
Since we have quite a queue of feature requests I think we can wait until a reviewer requests it. I expect that we'll get some good feature requests once we are able to ship v1 and get reviewers using it daily.

[2019-06-27 16:17] diox opened #11733 "Reduce number of queries made by reviewer tools queues"
Some reviewer tools queues, at least auto-approved and content-review, make an extra query per item in the queue. That makes the number of sql queries blow up and in fact, locally, I can't load those queues when they are full (we have pagination at 200 items, it blows up before that).

The reason is quite subtle:
We correctly do `select_related('_current_version__autoapprovalsummary')`, so a `JOIN

[2019-06-27 17:27] jvillalobos commented on #11653
I think it's okay from a product perspective for the content review queue to show add-ons in a pending review state. I don't know if we've contemplated what happens if there's a content rejection while an add-on is in that state.

Not showing it in the auto-approved queue makes sense. It would probably lead to some mixups. Admins can check the content queue if they want to spot-check things pendin

[2019-06-27 17:29] jvillalobos commented on #11557
I think ID should be enough. We discontinued username, and admins should be able to find the ID based on the display name.

[2019-06-27 18:39] diox commented on #11653
Ok, I'll make the content review queue show add-ons in pending review state after I'm done fixing the queries for them in https://github.com/mozilla/addons-server/issues/11733

[2019-06-27 18:42] diox opened #11734 "Show add-ons pending review in content review queue"
To support https://github.com/mozilla/addons-server/issues/11653#issuecomment-506438252 we want to show add-ons pending review in the content review queue, not just auto-approved ones.

https://github.com/mozilla/addons-server/issues/11733 needs to be done beforehand so that is actually testable locally without blowing up...

[2019-06-27 19:48] jrbenny35 commented on #11565
I was able to get the frontend to load recommended extensions but I can't get recommended themes to work. Any tips @EnTeQuAk ? The recommendation system is new to me

[2019-06-27 19:49] jrbenny35 commented on #11721
This should be fixed with https://github.com/mozilla/addons-server/issues/11565

[2019-06-27 19:51] jrbenny35 commented on #11691
This depends on: https://github.com/mozilla/addons-server/issues/11565

[2019-06-28 07:32] ioanarusiczki commented on #11684
@EnTeQuAk I submitted an add-on on prod - https://addons.mozilla.org/en-US/firefox/addon/testing-git-extraction/
`byID: 2301517`

[2019-06-28 08:33] kewisch opened #11737 "Admin user profile search doesn't match substrings"
The search at `/admin/models/users/userprofile/?q=term` seems to be a prefix match, and does not accept wild cards.

Can we change the search to allow wild cards, and possibly make it a subtext match?

[2019-06-28 10:37] diox commented on #11557
Ok. We have username prefix search now (and email) so I'll leave this in, we can remove it later if necessary for performance reasons.

Closing this as we don't care about display name search per previous comment.

[2019-06-28 10:37] #11557 closed

[2019-06-28 10:42] EnTeQuAk commented on #11684
All worked nicely and the sentry errors about https://sentry.prod.mozaws.net/operations/olympia-prod/issues/5483678/?query=is:unresolved have completely disappeared.

So that helped and I can verify that it's working as expected.

[2019-06-28 13:37] EnTeQuAk commented on #11565
I don't quite get what this has to do with removing this particular test? The issue here has nothing to do with #11721 imho, let's keep them separated and fix them separated.

Can you elaborate what is being problematic here specifically? While it's technically possible to mark themes as recommendable - it's practically unsupported and they're not supposed to be marked as recommended. They have to

[2019-06-28 14:56] jrbenny35 commented on #11565
I'd rather split the two and focus on regular extensions for now.

Well the recommended themes still aren't being loaded on the frontend. I was able to get recommended extensions to work. It would be nice to have a fully working home page.

Do you know which collection is needed to put the themes under "Recommended Themes" on the frontend?

[2019-06-28 16:54] jrbenny35 commented on #11565
Looks like there are a few categories that aren't being loaded..

[2019-06-28 16:56] bobsilverberg opened #11739 "Please return unchanged diff content starting on line 1"
When a file has been unchanged we are now returning the entire content of the file in the `diff` of the response in the Compare API. Unfortunately the file content is starting on line 0, instead of line 1, which is causing some problems for the front end.

[2019-06-28 21:24] Patil2099 commented on #10824
Can I work on this issue?

[2019-06-28 22:53] jrbenny35 commented on #11565
I am seeing this within the nginx logs: ```72.18.0.11 - - [28/Jun/2019:22:32:54 +0000] "GET /api/v4/accounts/account/4757633/collections/be-more-productive/addons/?lang=en-US&wrap_outgoing_links=true HTTP/1.1" 404 23 "-" "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)" "-"```

It looks like I need to make a user that is numbered ```4757633```?

@kumar303 any thoughts?

[2019-06-29 01:52] kumar303 commented on #11739
This is causing keyboard navigation problems in addons-code-manager. Here are steps to reproduce the bug: https://github.com/mozilla/addons-code-manager/issues/887#issuecomment-506910356

[2019-06-29 15:39] brute4s99 commented on #11122
Here you go @402wasd Good Luck!

[2019-06-30 11:51] Vinnl opened #11746 "Include link to developer agreement page in corresponding API error"
### Is this a feature request or a bug?

Bug.

### What is the current behavior?

I guess the problem might be on the server-side, but I'm not sure where to report that... Anyway, my CI server has been signing and publishing new versions of my extension for quite a while now, successfully. Trying it again today suddenly [turned up](https://gitlab.com/Flockademic/plaudit/-/jobs/242630620) the follo

[2019-07-01 10:41] #11733 closed

[2019-07-01 10:42] diox commented on #11733
QA:
- Just make sure that reviewer tools queues work correctly.

[2019-07-01 10:57] AlexandraMoga commented on #11572
Verified fixed:

![image](https://user-images.githubusercontent.com/31961530/60431291-19523480-9c08-11e9-84d4-c180654d1a5c.png)

[2019-07-01 11:12] diox commented on #11558
Note: the actual problem is not that we find less results when searching for name, but rather that each result is duplicated n times when searching for guid for some reason. It's apparent in the gif, the first 10 results are the same abuse report, and 13 x 10 = 130.

[2019-07-01 12:50] AlexandraMoga commented on #11704
@diox  on -dev, we've added several add-ons with a custom heading in [Discovery items](https://addons-internal.dev.mozaws.net/de/admin/models/discovery/discoveryitem/) over time, but those haven't been translated.
I'm nor sure how I could properly verify this fix without some reliable data.

[2019-07-01 12:56] diox commented on #11704
You would need to add the exact strings used in prod (use what https://addons.mozilla.org/api/v4/discovery/editorial/ returns - pick a string currently being displayed in prod disco pane to have a higher chance of it being translated already)

[2019-07-01 13:29] AlexandraMoga commented on #11704
Thanks for the tip! I was able to verify with your method.

https://addons-dev.allizom.org/api/v4/discovery/?lang=de
[code]

I'm marking this issue as verified fixed on-dev.

[2019-07-01 14:45] AlexandraMoga commented on #11640
The abuse report summary section is now present on an unlisted add-on review page, both for pure unlisted versions and for add-ons with mixed versions.
Theme review pages will also display the Abuse reports and the Bad User Ratings sections.

Examples:
1. pure unlisted add-on
https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/2ffb1e9e78164a72b712

2. unlisted version of a mix

[2019-07-01 14:56] #11739 closed

[2019-07-01 15:43] kumar303 commented on #11565
What page is that request being made on? Are you sure that the category tests have all been updated to reflect the site changes per https://github.com/mozilla/addons-frontend/issues/8090 ? Maybe it would help to look at the failing tests and compare that to browsing the dev site? The dev site reflects what has been verified by the QA folks after removing all category pages.

[2019-07-01 15:48] diox commented on #11640
Forgot a code path, will fix.

[2019-07-01 16:56] #11558 closed

[2019-07-01 18:23] jrbenny35 commented on #11565
@kumar303, this was on the homepage. I know there are a few different categories that load on the homepage, but it seems 2 (recommended extensions, recommended themes) are always trying to load.

[2019-07-01 20:01] diox commented on #11633
https://gist.github.com/michenriksen/8710649 Also has a nice list of disposable email domains that should be more recent. @jvillalobos ok to add a migration to add all these plus our old ones into the new system ?

[2019-07-01 20:53] jvillalobos commented on #11633
Go for it!

[2019-07-02 10:22] diox opened #11755 "Normalize emails when checking restrictions"
When we check an email in `EmailReputationRestriction` and `EmailUserRestriction`, we should normalize them by removing any `.` and everything after `+`. That will make restrictions more effective against variations of the same email address, since some email providers like gmail let you have multiple aliases that way.

For the reputation part, this will require the fraud pipeline to also apply th

[2019-07-02 10:30] diox commented on #11633
Note: I'm adding a new, separate model for that, to make it better for performance with thousands of entries. That model with only support domains (no need to enter the full email pattern), with no wildcards.

[2019-07-02 10:40] wagnerand opened #11758 "Mark reminder email about expiring information request as such"
### Describe the problem and steps to reproduce it:

It is not obvious to developers that the reminder email we send one day before information request expiry is indeed a reminder and not a separate issue.

### What happened?

The reminder email looks exactly like the original email (except the remaining number of days to reply).

### What did you expect to happen?

We should make it clear that th

[2019-07-02 10:43] #11707 closed

[2019-07-02 10:45] #11640 closed

[2019-07-02 10:46] eviljeff commented on #10824
@Patil2099 sure.

[2019-07-02 11:29] #11641 closed

[2019-07-02 11:59] ioanarusiczki commented on #11739
@EnTeQuAk
All files I've checked on -dev  (files without changes) start their content at line one.

Examples
Compare API Reviewers - line one
https://addons-dev.allizom.org/api/v5/reviewers/addon/495710/versions/1541610/compare_to/1688333/?file=src%2Fbrowse%2Fstyle.bundle.css

![First line is one](https://user-images.githubusercontent.com/33448286/60511096-d496ce00-9cd9-11e9-9b01-d633b7ef4ace.png)

[2019-07-02 14:45] muffinresearch commented on #11707
@eviljeff how viable is testing this in stage? Also presumably we need a note in the release docs to re-enable "activity-email-bouncing" assuming this tests out ok?

[2019-07-02 14:46] ioanarusiczki commented on #11612
@diox In order to re-create this scenario I created a new account and submitted one add-on which I previously rated and then deleted a review - now I should see in both APIs `"average": 4`

The addons API https://addons-dev.allizom.org/api/v4/addons/addon/storse34manzee67pigehopuse returns `"average": 3.25 `
For now the user profile API https://addons-dev.allizom.org/api/v4/accounts/account/106418

[2019-07-02 15:07] bobsilverberg opened #11759 "No hunks are returned for a binary file via the Compare API"
When requesting a binary file via the Browse API, the contents of the file is returned to us, but when requesting the same file via the Compare API, no hunks (and therefore no changes) are returned to us. After the change implemented awhile back to the Compare API which is meant to return the contents of every file, whether is has been changed or not, I think we should expect to receive `hunks` wh

[2019-07-02 15:36] eviljeff commented on #11707
I suspect it's testing isn't viable because we don't how to force socketlabs to say an email is spammy.

I'll add a note.

[2019-07-02 15:46] diox commented on #11612
Yes, the task that updates it runs every day

[2019-07-02 15:57] #11755 closed

[2019-07-02 16:16] #11633 closed

[2019-07-02 16:20] diox opened #11760 "Change email restriction error message"
Current message:
`The email address you used for your developer account is not allowed for add-on submission.`

@eviljeff's proposal:
`The email address used for your account is not allowed for add-on submission.`

[2019-07-02 16:20] eviljeff commented on #11652
Could of different options here:
- add an additional guid property on `Addon` (`persistent_guid` or something).
- add a new table that is an `addon`.`id` -> `guid` lookup
- add a table that is a list of `guid` and add a new foreign key on `Addon` that links to the table.  We could switch some other models that fk to `Addon` to fk to the `GUID` table instead.
- add a `duplicated_guid` table that's

[2019-07-02 16:23] championshuttler commented on #11760
Can i take this up @diox

[2019-07-02 16:44] diox commented on #11760
Sure. In addition to changing it in the class responsible for this, do look for the tests to update that try to match on the exact message.

[2019-07-02 16:45] diox commented on #11652
FWIW I'd like to avoid the extra field in `addons` table. I like the simplicity of the last option.

[2019-07-02 19:02] bobsilverberg commented on #11759
@EnTeQuAk I'm interested to hear what you think about this.

[2019-07-02 20:47] diox opened #11765 "Check each throttle class before returning a 429 response in signing view"
If a single throttling class disallows the request, the other throttling classes never see the request and it never gets added to their history. That means essentially the throttling classes after the first one that failed don't count some requests towards their limit.

I submitted an issue and pull request to DRF fixing this (https://github.com/encode/django-rest-framework/issues/6667), it was me

[2019-07-03 06:00] AlexandraMoga opened #11767 "The Content review queue is inaccessible on -dev and stage due to an increased number of pending items"
**STR**

1. Log in to AMO dev or stage with a reviewer account
2. Try to access the Content review queue - https://reviewers.addons.allizom.org/en-US/reviewers/queue/content_review

**Actual result:**
The content review queue has too many entries, exploring its contents is very difficult and most of the time I'm receiving a 504 when I'm trying to open it.

**Expected result:**
The content review q

[2019-07-03 06:41] AlexandraMoga commented on #11653
Here are my test results after verifying this on -dev:

- new extensions, dictionaries and search tools submissions are now affected by the 24h auto-approval delay; the review page for add-ons in this state will show a _Delayed because it's the first listed version_ message; while the add-ons are under the delay flag, they won't be listed in the Auto-approved queue.
Here is an example of an add-on

[2019-07-03 06:50] AlexandraMoga commented on #11640
This looks fixed now. The ratings section is now present on the unlisted review page for the following add-ons:

https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/files-compare
https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-unlisted/terms-of-service-didn-t-read
https://reviewers.addons.allizom.org/en-US/reviewers/review-unlisted/teamweek-button

[2019-07-03 07:15] AlexandraMoga commented on #11755
@diox can this be verified only from Admin tools or do I need your help again when checking against the fraud pipeline?

[2019-07-03 07:20] AlexandraMoga commented on #11703
@eviljeff  is any QA required for this?
Thanks

[2019-07-03 08:22] AlexandraMoga commented on #11633
Verified on stage  with the new [Disposable email domain restrictions](https://addons-internal.stage.mozaws.net/admin/models/users/disposableemaildomainrestriction/) tool. I've tried to submit add-ons from accounts using pre-existing domain blocks and I've also added new domain restrictions. In both scenarios, users were blocked on on the Developer agreement page.

[2019-07-03 08:28] ioanarusiczki commented on #11707
@eviljeff Can this be marked with qa not needed in this case?
I don't think prod is accessible for qa either.

[2019-07-03 08:47] wagnerand commented on #11652
Could you sketch what the `duplicated_guid` table would include? How would that be different than approach 3 with FK a new table to `addon`.`id`?

[2019-07-03 09:13] AlexandraMoga commented on #11641
Abuse reports for unlisted add-ons will trigger the following email format (as seen in Fake mail)

[code]
If the reporter in known, the display name and the email address will also be mentioned in the body.

[2019-07-03 09:49] diox commented on #11767
Well #11738 was supposed to fix the perf issues making #11750 possible :) The increased number of items in there is expected, the 504 isn't...

[2019-07-03 09:50] diox commented on #11755
It applies to both the reputation check (using the fraud pipeline) and the email restriction check (that can be set from the admin). You can test using the latter

[2019-07-03 10:27] AlexandraMoga commented on #11767
@diox is still don't understand why we would show migrated themes in the Content review queue, because it looks like they are the culprit for the increased number.
This is one example: https://reviewers.addons-dev.allizom.org/en-US/reviewers/review-content/groovy-pink

[2019-07-03 10:33] diox commented on #11767
When we migrated them, we didn't mark them has having gone through content review (content review didn't exist for LWT). Previously the queue would only show auto-approved items, but I removed that check because it's now also considering pending items. As a result, it's now showing all (public or pending) add-ons that haven't been through content review regardless of whether or not they went throu

[2019-07-03 10:55] diox opened #11768 "Most reviewer queries are going to the primary database instead of the replica(s)"
If you monitor the processlist on both primary db and replica on stage, and load the reviewer tools, you'll notice that SQL queries made by reviewers coming from any review queue (and not the dashboard) will be made on the primary database, not the replica(s).

This is because, when you're viewing a queue, a POST is made via XHR to `/{locale}/reviewers/queue_viewing` every second, updating their p

[2019-07-03 10:56] diox commented on #11768
Note: this is easily testable by looking at the storage tab of developer tools. That cookie is present, and comes back immediately after being deleted as long as you're on a queue page.

[2019-07-03 11:20] diox opened #11769 "Reviewer tools queues pagination evaluates the full queries instead of `LIMIT`ing"
Reviewer tools queues don't paginate properly. For the reviewer everything looks ok, they get the right page, but underneath we run the full, unlimited query. For queues with thousands of rows this is incredibly inefficient. It's causing https://github.com/mozilla/addons-server/issues/11767 at the moment because on dev/stage there are 300k items in the content review queue.

Reviewer tools queues

[2019-07-03 11:27] ioanarusiczki commented on #11558
Yes, that I did not notice while filing the issue, but right now the duplicates are no longer displayed.
Same number of reports for Name, GUID or ID for the examples given[ above](https://github.com/mozilla/addons-server/issues/11558#issue-450809042)
Verified on -dev with FF67(win10)

[2019-07-03 12:02] muffinresearch opened #11771 "Add metrics for account restrictions"
The goal here is to add metrics for when a restriction prevents an action. This way we can graph the number of restrictions over time.

[2019-07-03 12:05] muffinresearch opened #11772 "Record submission restriction failures"
We probably need to think about this rather than just implement it, but the idea here is to consider if we should store data when we're making restriction decisions so we can do other things with it later.

If we do this the data would need to be cleared out periodically but that's a separate issue.

[2019-07-03 12:08] muffinresearch opened #11773 "Clear out restriction tables when data is over a certain age."
The exact time limits should be discussed (outside of this bug) but we should look to run a cron job that reaps all the data that's not relevant after [n] days.

We should also consider if this setting should be an env var so that this setting is not public.

[2019-07-03 13:29] AlexandraMoga commented on #11755
I have verified several combinations, especially around gmail and it seems that the new restrictions are working.
Example:
If I'm blocking `parentemail@gmail.com` in admin Email user restrictions, the following variations will be also blocked:
`parent.email@gmail.com`
`parentemail+extrachars@gmail.com`
`p.arentemail+extrachars@gmail.com`
`parent.email+extrachars+foo@gmail.com`

@diox we might run

[2019-07-03 13:32] diox commented on #11755
Yes, I'm willing to live with that, we'll see how problematic it becomes. I'd like to avoid having to enable this for each email provider individually if we can.

[2019-07-03 14:15] ioanarusiczki commented on #11612
@diox Verified on -dev
average_addon_rating is 4 in https://addons-dev.allizom.org/api/v4/accounts/account/10641890/

[2019-07-03 14:17] AlexandraMoga opened #11775 "Double entry for the Abuse Reports section on the /reviewers/abuse-reports/ page"
**STR**

1. Log in to AMO stage with a reviewer account
2. Open to the Auto-approval queue and select an add-on to review
3. Click on Abuse reports to view all the reports for the selected add-on - see https://reviewers.addons.allizom.org/en-US/reviewers/abuse-reports/botblockerlocale

**Actual result:**
There are two entries for the Abuse reports section

**Expected result:**
Abuse reports sectio

[2019-07-03 14:45] EnTeQuAk commented on #11759
This got removed as part of https://github.com/mozilla/addons-server/issues/11712

Now, I removed rendering hunks for binary files because of a server-error that was quite hard to fix otherwise, especially since we have to ensure the rendered content can be encoded into utf-8 somehow which is what we kinda have to enforce a JSON response level. We could however encode the binary content as base64,

[2019-07-03 16:42] bobsilverberg commented on #11759
That sounds fine to me, @EnTeQuAk. I think it would be fine to never show the contents of a binary file, neither in the Browse nor Compare view. If we decide to do that, then you could probably stop sending the `content` in the Browse API as well. We already display a download link for all files, so maybe instead of the contents of the file we could display a message informing the user that it is

[2019-07-03 16:46] kumar303 commented on #11565
@jrbenny35 oh, I see.

Yes, you do. You should control the account creation with the [`mozillaUserId`](https://github.com/mozilla/addons-frontend/blob/be89a2181b109a37002d3319949e95ded1e8824e/config/default.js#L359) config value. You could set that value yourself by [overriding the config](https://github.com/mozilla/addons-frontend/#local-configuration), too.

[2019-07-03 17:02] kumar303 commented on #11759
Not rendering binary files seems fine to me. I agree that the download link will be the most helpful thing for binary files.

[2019-07-03 17:28] wagnerand commented on #11759
Generally, that sounds good to me as well.

What files, other than images (which we do want to render), are usually marked as binary?

[2019-07-03 17:37] EnTeQuAk commented on #11759
in a simple webextension the certs RSA file for example. I'm not quite sure about other files such as pdf files or other stuff that might have made their way into the xpi file, afaik the linter isn't filtering all of it out but it's worth double checking. MP3/wav files for sound/speach related stuff maybe?

On Wed, Jul 3, 2019, at 7:28 PM, Andreas Wagner wrote:

[2019-07-03 17:54] wagnerand commented on #11759
Ok, that sounds fine. None of those would directly execute code in a webextensions context (and if they did, we would have a bigger problem than code-manager not rendering them).

[2019-07-03 19:43] bobsilverberg commented on #11759
This all sounds good. @EnTeQuAk Do you want to repurpose this issue to make it about not sending any content for binary files? I suppose that's not a blocker for the front-end, but seems like a reasonable thing to do if we do not need to consume the content.

[2019-07-03 19:51] bobsilverberg commented on #11759
I opened https://github.com/mozilla/addons-code-manager/issues/909 to track our changes to the front end, but they do not require any server side changes, although we should ensure they land before any changes to stop sending the content of binary files.

[2019-07-03 22:33] jvillalobos opened #11779 "Implement admin for Secondary Hero Shelf Blurb module"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#).

The Secondary Hero Shelf in the homepage will have a module with some text and a Call to Action on the left-hand side:

<img width="623" alt="Screen Shot 2019-07-03 at 4 22 47 PM" src="https://user-images.githubusercontent.com/62568/60628507-ee561500-9dae-11e9-840b-d64f60697694.png">

We nee

[2019-07-03 22:44] jvillalobos opened #11780 "Implement admin for Secondary Hero Shelf Promo modules"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#).

The Secondary Hero Shelf in the homepage will have three promotional modules with an icon, some text and a Call to Action:

<img width="623" alt="Screen Shot 2019-07-03 at 4 22 47 PM" src="https://user-images.githubusercontent.com/62568/60628507-ee561500-9dae-11e9-840b-d64f60697694.png">

We

[2019-07-04 07:46] EnTeQuAk opened #11782 "Reviewers Browse API: Stop rendering content for binary files"
As discussed in #11759, we are currently sending content for binary files for the browse views but aren't generating fake-hunks for binary files in the compare view.

We should simply stop returning content for binary files completely and offer the user a download-link instead.

That'll also prevent us from unforeseeable security issues.

[2019-07-04 07:46] EnTeQuAk commented on #11759
I opened #11782 for that and will be closing this issue instead. Let's make the server side changes then once the client changes landed.

[2019-07-04 07:46] #11759 closed

[2019-07-04 09:32] #11769 closed

[2019-07-04 09:33] diox commented on #11769
Will be qa'ed as part of https://github.com/mozilla/addons-server/issues/11767

[2019-07-04 09:34] diox commented on #11767
@AlexandraMoga I'm going to add a command to mark public migrated themes as content-reviewed, but I've also pushed to dev a fix for the perf issues in https://github.com/mozilla/addons-server/issues/11769 ; once this lands, can you check that dev works despite having 300k items in the queue ? Then I'll get rid of them.

[2019-07-04 09:35] #11767 closed

[2019-07-04 10:17] AlexandraMoga commented on #11767
@diox on -dev we had only ~68k items in the the queue, because LWT were only partially migrated there. Stage has ~386k items though.

I was able to access the queue on -dev - no more 504 errors, I can switch pages, submit reviews etc.
The loading times weren't very fast, but that might be improved (?) once you run the command to remove the themes.

[2019-07-04 10:38] diox commented on #11767
Ok I ran the script on dev, and it has reduced the number of items in the queue to ~ 26k. Loading times are still not fantastic but I think that should be enough for now.

[2019-07-04 10:46] AlexandraMoga commented on #11767
Interesting enough..the loading times, for me at least,  are even slower now that the themes have been removed.

[2019-07-04 10:47] diox commented on #11767
This is just because dev is unreliable. Database might be hot at one moment and cold at another.

[2019-07-04 12:07] bobsilverberg opened #11783 "Change type for change in unchanged file is '' instead of 'normal'"
When the Compare API returns information about a file that has not been changed, each change in the hunk is labelled with a type of `''`, whereas for a file that does include changes, each line which has been unchanged is reported as a change with a type of `normal`. Our code declares that the only valid types are `insert`, `delete` and `normal`, and that `''` is not a valid change type. This does

[2019-07-04 12:20] AlexandraMoga commented on #11767
This can now be marked as verified fixed on both -dev and stage.
The Content review queue is functional, I haven't run into server errors and the pending items have been decreased significantly with the removal of static themes.

[2019-07-04 12:29] AlexandraMoga commented on #11733
I haven't run into any issues with the Review queues (apart from #11767 which was fixed in the meantime)
I'm marking this issue as verified fixed on stage

[2019-07-04 12:42] ioanarusiczki commented on #11712
@EnTeQuAk Verified on -dev and -stage.

I receive a 200 Status with Postman with
https://addons.allizom.org/api/v5/reviewers/addon/1002795/versions/2474830/compare_to/2474841/?file=icon%2F176.png
or https://addons-dev.allizom.org/api/v5/reviewers/addon/390151/versions/1688198/compare_to/1688302/?file=popup%2Ffonts%2Fglyphicons-halflings-regular.eot

No error message in code-manager either

![the b

[2019-07-04 12:43] AlexandraMoga commented on #11734
@diox so we want to only show the add-ons in the Content review queue, without the option to Approve or Reject content?

The reviewer will have the following options:
https://reviewers.addons.allizom.org/en-US/reviewers/review-content/project-delay-approval-no-3

![image](https://user-images.githubusercontent.com/31961530/60667492-51f54680-9e72-11e9-92ee-0b2a558d279b.png)

I've noticed that https:

[2019-07-04 12:43] bobsilverberg commented on #11783
Example with a file with no changes:

`http://localhost:3000/api/v5/reviewers/addon/502955/versions/1541794/compare_to/1541798/?file=src%2Ffoo%2Fbar%2Fin-foo-bar.js&lang=en-US`

returns:

[code]

Example of a file with changes:

`http://localhost:3000/api/v5/reviewers/addon/502955/versions/1541794/compare_to/1541798/?file=META-INF%2Fmozilla.sf&lang=en-US`

returns:

[code]

[2019-07-04 12:45] diox commented on #11734
No, it should be possible to approve/reject content as well :(

[2019-07-04 12:53] EnTeQuAk commented on #11783
Yes, this is a bug. It should be `normal` instead, `" "` is the internal type description from git which isn't really useful.

[2019-07-04 14:22] EnTeQuAk commented on #11565
That user id matches `settings.TASK_USER_ID` in addons-server.

[2019-07-04 15:06] ioanarusiczki commented on #11703
@eviljeff I've noticed on AMO stage that some empty previews are displayed right after making a blank search.  Clicking one returns a 404.

![blank search ](https://user-images.githubusercontent.com/33448286/60676011-722f0080-9e86-11e9-8291-f0a8dc8ae18b.gif)

[2019-07-04 15:17] wagnerand opened #11787 "Compare API returns 500"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/6015560/ for https://addons.mozilla.org/api/v5/reviewers/addon/9702/versions/2522724/compare_to/4442523/?lang=en-US (https://code.addons.mozilla.org/en-US/compare/9702/versions/2522724...4442523/)

[2019-07-04 15:44] diox opened #11788 "Disallow submission of 3rd party language packs entirely"
We have very few 3rd party language packs currently and they cause all sort of potential problems inherent to what langpacks can contain. Let's disallow them completely for non-mozilla developers.

[2019-07-04 16:08] #11788 closed

[2019-07-04 17:05] jvillalobos opened #11790 "Extension risk score should be recomputed regularly"
I recently noticed an extension with lots of bad ratings and abuse reports, but its risk score was only 3. That's because they only submitted one version and the score was only computed on submission. This makes the risk score unreliable, especially considering all the one-version extensions we have.

A couple of ways this could be fixed:
* Recalculate the risk score for the current version when t

[2019-07-04 17:13] diox commented on #11790
Do you need this for versions that have already been confirmed, or just those in the post-review queue ? If that's the latter, we have a command that does this, `process_addons --task=recalculate_post_review_weight`. We could run that regularly if we want - it can be a little costly depending on the number of add-ons, but weekly should be fine.

[2019-07-04 17:42] jvillalobos commented on #11790
I think this would be useful to run for the ones that have been confirmed too. Increased abuse reporting might make us reconsider review decisions in the future.

[2019-07-04 18:56] kewisch opened #11791 "Content review queue contains all add-ons"
The content review queue now has many hundreds of thousands of entries, it looks like all the add-ons.

In addition, content reviewers can no longer reject add-ons in content review. It works fine in technical review.

[2019-07-04 18:57] wagnerand opened #11792 "Content review queue has too many items"
The content review queue has 437965 items. It seems the queue filter is not quite right.

We also got reports from reviewers that they can't content-reject some add-ons. Possibly because most of the entries are not actually pending content-review?

@diox

[2019-07-04 19:02] diox commented on #11790
We probably need to make the script a little smarter then, cause it might be doing too much extra work right now for such a volume of data.

[2019-07-04 19:26] jvillalobos commented on #11791
Duplicate of https://github.com/mozilla/addons-server/issues/11792 (I know this one came first, but the other one has better tags :P)

[2019-07-04 19:26] #11791 closed

[2019-07-04 20:31] diox commented on #11792
Running `manage.py process_addons --task=content_approve_migrated_themes` should fix it.

[2019-07-04 23:05] jvillalobos commented on #11792
Looks like search engines and dictionaries (maybe other legacy types) are also showing up and weren't cleared.

[2019-07-04 23:08] diox commented on #11792
Yes, but technically if those show up it's because they should cause nobody reviewed them.

[2019-07-04 23:23] diox opened #11793 "Use a permission instead of an email check to allow submission of langpacks"
Firefox release automation was blocked by our new langpack restrictions (https://github.com/mozilla/addons-server/issues/11788) today a few hours after it went live.

Their email is already in `ADDON_UPLOAD_RATE_LIMITS_BYPASS_EMAILS` to bypass rate limiting, but unfortunately it's a mozilla.org email, not a mozilla.com one, and we can't allow all mozilla.org emails to submit language packs, becaus

[2019-07-05 02:09] bjherbison commented on #11792
The number dropped to 6044, but has stuck in that range for a while. And the web site is still slow.

But the bigger problem now is I'm not allowed to content review.

There are a couple dozen new add-ons I'd like to reject, but I'm not allowed to reject them. The older add-ons I can reject (at all of the older add-ons I looked at), but I want to approve them and I didn't find any add-ons where th

[2019-07-05 04:16] tomprince commented on #11793
The failure of the release automation is tracked in https://bugzilla.mozilla.org/show_bug.cgi?id=1563651

[2019-07-05 08:54] kewisch commented on #11792
It seems some of the themes are back, or the task has not run completely. This one shows up for example:

https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/the-beach-with-intense-sunset

I can also confirm B.J.'s comment, content reviewers are not able to reject normal add-ons. This one for example: https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/adobe-flash-p

[2019-07-05 09:01] diox commented on #11792
- Themes are now included in content review (not migrated ones). This might have been a misunderstanding, we'll clarify. There shouldn't be too many of them, only pending ones I think.
- The content rejection being impossible is weird. I'm guessing it's only for non-auto approved add-ons, but we should fix that.

Could you file separate issues for those things and close this one ?

[2019-07-05 09:05] bjherbison opened #11795 "Unable to content review"
I am a content reviewer. After yesterday's update I am unable to find any add-on I can approve. I am also unable to reject any recent add-on I can find.

From bug #11792:

kewisch:

I can also confirm B.J.'s comment, content reviewers are not able to reject normal add-ons. This one for example: https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/adobe-flash-player-jdek

Going to ht

[2019-07-05 09:05] kewisch opened #11796 "Themes should not be included in content review"
Followup from #11792. Themes are now included in the content review, aside from migrated ones. As we have a different set of reviewers attending to themes, I feel it does not make sense to include themes in content review.

@jvillalobos, mat was mentioning there may have been a misunderstanding, can you confirm?

[2019-07-05 09:05] bjherbison commented on #11792
I filed https://github.com/mozilla/addons-server/issues/11795 for content review.

[2019-07-05 09:08] kewisch commented on #11792
Thanks B.J., very helpful! Closing this issue in favor of the two we just opened.

[2019-07-05 09:08] #11792 closed

[2019-07-05 09:35] diox commented on #11795
Can confirm this happens with non auto-approved add-ons only. I should have anticipated this, the whole code was built around this - you can access the page as a content reviewer but can't do much afterwards.

It goes deep, because content reviewing is re-using auto-approved actions like `confirm_auto_approved`, which don't really make sense any more if we allow non auto-approved add-ons to be con

[2019-07-05 10:06] EnTeQuAk commented on #11793
Side-note: Using a group also gives us more freedom to allow trusted developers for 3rd-party langpacks in the future maybe.

[2019-07-05 10:18] bjherbison commented on #11795
Does adding this to you To Do list imply this won't be fixed fast? With the content review list cluttered with add-ons I can't review (and no easy way to tell what I can review) the content review process will be much slower and much more frustrating until this is addressed.

[2019-07-05 10:19] diox commented on #11795
This is a priority 1 issue, it will get fixed today.

[2019-07-05 10:20] diox commented on #11734
Handled in https://github.com/mozilla/addons-server/issues/11795

[2019-07-05 10:20] #11734 closed

[2019-07-05 10:42] diox opened #11797 "Review page is making way too many (duplicated) sql queries"
Loading a simple content review page locally, I was greeted with this in the Django Debug Toolbar SQL panel:

We're duplicating the query to fetch the add-on - and the ones made by transforms ! - multiple times, and also loading versions etc several times. Some might be unavoidable, but we should at least work to reduce that number and make it more bearable.

Note that this was with an add-on that

[2019-07-05 11:00] championshuttler commented on #11760
Here you go @megha-kumarii

[2019-07-05 11:26] wagnerand commented on #11760
@megha-kumarii Hey, thank you for submitting a pull-request. Could you reply here so I can assign you, please?

[2019-07-05 11:32] diox commented on #11796
While we're at it: do we want search engines, language packs and dictionaries in there ?

[2019-07-05 11:51] megha-kumarii commented on #11760
✋ . @wagnerand thanks :)

[2019-07-05 11:55] #11793 closed

[2019-07-05 11:56] #11783 closed

[2019-07-05 11:57] bobsilverberg commented on #11782
@EnTeQuAk Our code currently assumes that `content` will always be present as a property and also be a `string`, so if you can return an empty string for `content`, as opposed to `null` or a missing `content` property, we might not have to make any changes to the front end.

Does that sound like a reasonable approach to you?

[2019-07-05 11:58] EnTeQuAk commented on #11782
Works for me.

[2019-07-05 12:08] #11795 closed

[2019-07-05 12:36] wagnerand commented on #11796
I'd say yes to all of those.

[2019-07-05 13:15] diox commented on #11796
Yes we want to content review them or yes we want to exclude them from the content review queue ? :)

[2019-07-05 13:28] ioanarusiczki commented on #11793
@EnTeQuAk I tested on -dev and -stage with a new gmail account then with irusiczki@mozilla.com account. - FF67(Win10)
When the accounts don't have the  `LanguagePack:Submit` permission I receive at submission a red error message ` You cannot submit a language pack`.

The Admins - can submit them if they're not added in the Submit language packs (auto signed) but I believe that is expected because

[2019-07-05 13:38] AlexandraMoga commented on #11795
@diox I've verified with several items pending in the Content review queue on -dev and stage, making sure I was including old add-ons that haven't been auto-approved (like search tools, lang packs and dictionaries), add-ons that have been auto-approved but not content reviewed and, finally, add-ons that have a delay auto-approval flag. For all these examples, I was able to Approve or Reject conten

[2019-07-05 13:40] diox commented on #11795
Order is actually not random, bit confusing because it's the add-on creation date (I haven't changed it).

Extra fields we can remove in a follow up.

[2019-07-05 13:47] wagnerand commented on #11796
We want to content review:
* extensions
* dictionaries
* language packs
* search engines

We do *not* want to content review:
* themes (since they go through a different review process)

[2019-07-05 14:34] kumar303 commented on #11759
It sounds like this is a dupe now? I will mark it as such but correct me if that's wrong.

[2019-07-05 16:02] jvillalobos commented on #11796
You can remove language packs from that list, since third party ones are being discontinued.

[2019-07-06 05:39] bqbn opened #11801 "theme_update_counts_from_file management command got OOM killed"
### Describe the problem and steps to reproduce it:
There is a cron job that runs `./manage.py theme_update_counts_from_file` daily (i.e. https://github.com/mozilla/addons-server/blob/master/scripts/crontab/crontab.tpl#L32). This job wasn't able to finish for 2019-07-04 date and it got OOM killed in the middle of running.

The kernel message showed the process used more than 6 GB memory before it'

[2019-07-06 05:46] bqbn commented on #11801
We did some more investigation, and tried to run the `theme_update_counts_from_file.py` in the management shell.

It turns out it is https://github.com/mozilla/addons-server/blob/master/src/olympia/stats/management/commands/theme_update_counts_from_file.py#L109 that caused the OOM, apparently it tried to load too many stuff from the database into the memory.

And it also appears this job has been

[2019-07-06 18:29] Patil2099 commented on #10824
@eviljeff  can you please tell me the possible names of RSS feed Views ?

[2019-07-08 07:59] polarityimb opened #11802 "Cannot sign my FF extensions"
Hi, starting in the beginning of June, we haven't been able to sign extensions.  Could it be related to the June 10th changes you made?

We really need to update our extensions, can you please help us figure out what's happening?  Here is the error we get:

403 Forbidden
error: received bad response from the server while requesting ..

OR

status: 403
response: {"detail":"Before starting, please r

[2019-07-08 08:06] EnTeQuAk commented on #11802
As the message is stating, `Before starting, please read and accept our Firefox Add-on Distribution Agreement as well as our Review Policies and Rules. The Firefox Add-on Distribution Agreement also links to our Privacy Notice which explains how we handle your information` - we changed our policies recently and that requires you to submit your next update through the developer hub and accept our u

[2019-07-08 08:06] #11802 closed

[2019-07-08 08:28] EnTeQuAk commented on #11801
Since when has it been failing? Since the mentioned 2019-07-04 or even before that?

[2019-07-08 08:34] EnTeQuAk commented on #11801
This command specifically is being used for our statistics dashboards, specifically for theme updates. So, as long as we do have that dashboard we'll need that data.

The mentioned line got added in https://github.com/mozilla/addons-server/commit/46e38faf3c970f50f4d8d55bc2d1f8a0f720240e#diff-fbf940e09a29be25c651f1a38db092deR103 and it feels to me it does load too much data from the database indeed

[2019-07-08 10:53] bjherbison opened #11803 "Provide a way to list add-ons for a developer, including non-public add-ons"
From a content review page for an auto-approve delayed add-on click an author name link.

Expected:
- Show a list of the add-ons for the author.

Actual:
- If all add-ons haven't been published the result is "Oops! We can’t find that page".

My current problem: The add-on I'm looking at looks like a dupe of one I approved a few hours earlier. I don't know whether the previous add-on was deleted by

[2019-07-08 11:23] wagnerand commented on #11803
I agree the review page should list all authors, including hidden ones.

[2019-07-08 12:49] bobsilverberg commented on #11782
@EnTeQuAk As discussed at https://github.com/mozilla/addons-code-manager/issues/909#issuecomment-508736098, I think a server side change will resolve this for us, without requiring any front end changes, so you do not need to wait for any front-end changes to land this. I'm just going to verify that this morning, but for now assume this is unblocked.

[2019-07-08 13:01] eviljeff commented on #11801
@EnTeQuAk we probably don't need it _forever_ but for a period of time we should have it to record the usage from user of old versions of Firefox who didn't upgrade.  If Product agreed suppose we could regard now as being a good enough period of time.

From what's said above it might be true that it's never worked properly which is disappointing because it was a challenge to develop and apparently

[2019-07-08 13:13] eviljeff commented on #11652
`duplicated_guid`:
[code]
where `addons` would contain (among many others)
[code]

approach 3 is an FK on Addon, not an FK in a new table to Addon

[code]

[2019-07-08 13:22] ioanarusiczki commented on #11783
@EnTeQuAk I checked with Postman on -dev and for unchanged files I see the  `type: normal` now.

Works for https://addons-dev.allizom.org/api/v5/reviewers/addon/502955/versions/1541794/compare_to/1541798/?file=src%2Ffoo%2Fbar%2Fin-foo-bar.js

Another example

![type is normal](https://user-images.githubusercontent.com/33448286/60813402-57b59980-a19c-11e9-9f89-e8f87e563134.png)

[2019-07-08 13:34] wagnerand commented on #11652
Thanks. It seems approach 3 is not preferred, according to https://github.com/mozilla/addons-server/issues/11652#issuecomment-507757008.

I assume for performance reasons, we don't want to move `guid` out of `addons`. Also, using FK to `addons.guid` (being a string), is probably also not great for performance?

[2019-07-08 13:47] eviljeff commented on #11652
I'm not sure about the performance impact, but it would complicate any place where we we filter/count add-ons based on their guid.  Using a string as an FK is either something that isn't a thing in django, or something I don't want to think about being a thing :P

Perhaps if we were designing the models and devhub anew, knowing deleting and reusing guids would be possible (and common), it would ma

[2019-07-08 15:38] eviljeff commented on #10824
the views used by the urls with rss in them

[2019-07-08 15:47] eviljeff commented on #11703
I think it just needed an ES reindex - I did dev myself and asked ops to do prod but stage wasn't reindexed after the remaining LWT were removed.

[2019-07-08 18:23] spoji opened #11804 "Support for pre-filled theme packages with Firefox Color."
One feature Firefox Color team would like to have it to be able to open the theme submission form on AMO with the theme package already filled in for validation. That would give a very easy way for theme developers to submit their creation through AMO.

By checking https://github.com/mozilla/FirefoxColor/issues/93, some talks with the addons team was done in the past.

One solution here would be t

[2019-07-08 18:51] jrbenny35 commented on #11565
Okay I should be able to fix this, just had to finish up some other work.

[2019-07-08 22:05] bqbn commented on #11801
My guess is it's been failing possibly since the LWT migration.

[2019-07-08 22:52] jrbenny35 commented on #11565
@EnTeQuAk this one? https://github.com/mozilla/addons-server/blob/master/settings_test.py#L52, I am not sure if we use ```settings_test.py``` or ```settings.py``` when setting up a local instance of AMO.

[2019-07-09 13:08] wagnerand opened #11806 "Allow passing parameters to log statements"
It would be nice if `log.debug` and friends allowed passing the `extra` parameter to add more logging fields.

[2019-07-09 13:10] EnTeQuAk opened #11807 "Add canned response relationship to draft comments api"
Follow-up for https://github.com/mozilla/addons-server/issues/11374

Once draft comments are exposed we need to allow them to store relations to canned response data.

[2019-07-09 13:22] polarityimb commented on #11802
Hi EnTeQuAk, thanks for your answer.
Where can we find the Firefox Add-on Distribution Agreement to accept?  We added an extension manually in our account in the developer hub, but it did not offer us the option to accept the new terms and conditions.  Can you please give me more details?  We need to be able to upload new versions of our old extension through the API, so it's not helping us to man

[2019-07-09 15:56] #11806 closed

[2019-07-09 16:20] jrbenny35 commented on #11565
How could I assign this to a user I create? The main issue is that there is no user by that task id.

[2019-07-09 16:28] EnTeQuAk commented on #11565
Correct, we're using settings.py for a local instance, not settings_test.

You could create that user in the serializer in the landfill app so that it's being created on setup maybe?

[2019-07-09 17:08] wagnerand opened #11810 "Bulk-banning users times out"
### Describe the problem and steps to reproduce it:

Bulk-banning a bunch of users makes the admin instance respond with a timeout.

### What happened?

Timeout :(

### What did you expect to happen?

All bans go through without a timeout.

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2019-07-09 17:14] muffinresearch commented on #11810
@eviljeff if you have a chance to look at this when you're back that would be appreciated.

[2019-07-10 07:01] megha-kumarii opened #11812 "Unable to setup the repo on ubuntu 19.04"
https://pastebin.com/Q2VumjKG

I am getting this error ,

I installed pip and docker-compose and when i am taking the pull its not working

[2019-07-10 08:17] ioanarusiczki commented on #10403
I can't tell if this issue is reproducible on prod or not but I see that it affects the appearance of  the `Recommended badge` for themes added in the collection in the search results, More themes by , User profile page and so on except for the detail page of the add-on.
To further explain: If I add a themes and `Save` changes the badge will be available on the detail page only and only if I `Save

[2019-07-10 08:45] wagnerand commented on #10403
Apart from this sounding like an odd bug, we are not recommending themes at the moment, are we?

[2019-07-10 08:46] wagnerand commented on #11812
Can you try using python3?

[2019-07-10 09:04] ioanarusiczki commented on #10403
@wagnerand Not yet, but this should affect right now the featured theme collection on prod with the original problem as described [above](https://github.com/mozilla/addons-server/issues/10403#issue-399351209)
The collection should serve for making the recommended themes instead of featured (starting at the end of this week).

[2019-07-10 09:08] eviljeff commented on #11810
need some more detail here - is it any users or just specific ones?  And how many is "a bunch"?

[2019-07-10 09:59] wagnerand commented on #11810
Any users. Yesterday I tried with 80 and 120 (and for a test run even just with a dozen or so) and every time it timed out.

[2019-07-10 10:16] EnTeQuAk opened #11813 "Validate filename in draft comments API"
The draft comment API currently does not validate the filenames stored. We should make sure that the filenames a comment belongs to is valid in our git storage.

[2019-07-10 10:24] wagnerand commented on #10403
Yes, I can reproduce this behavior in prod as well.

[2019-07-10 10:26] wagnerand commented on #10403
Raising priority as this affects recommendations.

[2019-07-10 11:04] ioanarusiczki commented on #11487
@wagnerand I don't know if it's being used by reviewers on prod.
Please, take a look.
Same as for https://github.com/mozilla/addons-server/issues/10403

[2019-07-10 12:02] EnTeQuAk commented on #11812
I think we solved this one on IRC.

[2019-07-10 12:02] #11812 closed

[2019-07-10 12:06] eviljeff commented on #11801
@jvillalobos to 🙄  and decide if it's worth fixing.

[2019-07-10 12:41] eviljeff commented on #10403
After looking at the code I'm pretty sure it's because in django admin the Collection instance either isn't saved when a CollectionAddon instance is created, or it's saved before the CollectionAddon is created, so things like the ES index and the featured status cache are updated too early.

We _had_ specific methods for adding and removing add-ons that specifically saved the Collection afterwards

[2019-07-10 12:55] muffinresearch commented on #11810
@wagnerand when it times out what are you seeing? Nginx timeout or Django? Just wondering if any external config changes could have affected this?

[2019-07-10 12:58] wagnerand commented on #11810
I think it's an nginx timeout.

[2019-07-10 13:07] muffinresearch commented on #11810
I'm not seeing anything obvious in the nginx config repo, but maybe @bqbn could confirm?

[2019-07-10 16:50] brassy- opened #11817 "Don't show "Custom heading" in the discovery card"
On the discovery pane and on the recommeded section in extensions manager, we're not going to display the heading.
![recommeded](https://user-images.githubusercontent.com/6309827/60988020-190e1380-a343-11e9-915a-8b3c874b9277.png)

cc @devaneymoz if more details are needed.

[2019-07-10 17:16] jvillalobos commented on #11801
The impact is that LWT users aren't being counted in theme usage stats? If so, I think it's fine to drop.

[2019-07-10 17:20] eviljeff commented on #11801
yes.

[2019-07-10 17:58] bqbn commented on #11810
There has no Nginx changes recently. Also we haven't touched Nginx configurations that may affect timing for a long time. Most changes we do for Nginx are route changes these days.

Could you provide any logs (from the browser's console for example) to help us investigate where the issue may happen? And which endpoint(s) were you hitting when you saw the timeout? Your source IP and approximate acc

[2019-07-10 18:03] eviljeff commented on #11810
I want to understand why it went from quick and efficient when it landed a few weeks to inefficient now.

[2019-07-11 08:45] #11760 closed

[2019-07-11 08:53] #11718 closed

[2019-07-11 13:02] EnTeQuAk commented on #11787
Kinda part of https://github.com/mozilla/addons-server/issues/11431 but some are separate, as such I'll keep them separate.

[2019-07-11 13:05] EnTeQuAk commented on #11731
Actually… after investigating this in #11731 I figured that `libmagic` doesn't know about these specific types.

XHTML is simply returned as `text/html` and RSS/Atom is returned as `text/xml` which is perfectly fine too.

[2019-07-11 13:05] #11731 closed

[2019-07-11 14:34] EnTeQuAk commented on #11626
So, currently you need `ReviewerTools:View` or `Addons:Review` permission as a base for things like `Addons:PostReview`, `Addons:ReviewUnlisted`, `AddonReviewerMOTD:Edit` etc, unless I'm mistaken.

If that's the case, then personally, I kinda like that idea if having finer grained permissions. I do see the point of being a "useless permission on it's own" but imho that's only a documentation issue

[2019-07-11 15:40] willdurand opened #11815 "Flowchart of the submission process"
We'd like to document the full submission process and given the complexity of this process, it'd be interesting to draw a [flowchart](https://en.wikipedia.org/wiki/Flowchart).

Do we have documentation about the submission flow already? (I could not find anything).

We'd like a technical view of the submission process, like where does the upload file ends up, when it is parsed, when/how is addons-

[2019-07-11 15:46] wagnerand commented on #11815
I think we do. I'll share the link with you.

[2019-07-11 15:53] peiying2 opened #11816 "Merge locales bn-BD and bn-IN into a single locale bn"
We are going to merge the two locales into one to fully utilize the community resources. The plan is:

Dev:
- AMO creates a bn folder at repo
- Move bn-BD repo content to bn repo and confirm it's all there (bn-BD has more content in comparison)
- Remove bn-BD, bn-IN repos

Pontoon (l10n):
- Pontoon dev migrates the data to bn (this includes contributors histories)
- L10n PM confirms the update and

[2019-07-11 15:56] willdurand commented on #11815
Thanks, I added some more info about which granularity we want.

[2019-07-11 17:22] jvillalobos commented on #11626
The `Reviewers: Add-ons` user group only has `Addons:PostReview`, which is sufficient permissions to access the tools and the post-review queue. Same for content reviewers with `Addons:ContentReview`. We refactored groups and permissions (in https://github.com/mozilla/addons-server/issues/6611, I think) so that it'd be easier to manage those groups.

So, while I don't expect there to be reviewers

[2019-07-11 17:25] vcarciu opened #11818 "Error message displayed when searching addons from recommended addons page"
Steps to reproduce:
1.Go to addons.mozilla.org
2.Press the "See more recommended extensions" link from homepage
3. Search for an addon and press Enter

Expected results:
A list of search results is displayed

Actual results:
"The "sort" parameter "random" can only be specified when the "featured" or "recommended" parameter is also present, and the "q" parameter absent." error is displayed and 0 re

[2019-07-11 17:29] bobsilverberg commented on #11818
@eviljeff and I discussed this in Whistler and I believe we decided to implement a server-side solution to avoid this error condition. We determined that if `q` is present then we should always make the sort `relevance` instead of `random`. If that logic is present in the API then this error condition will never occur.

I think that makes sense and will work, but it seems like we might also/instea

[2019-07-11 17:35] eviljeff commented on #11818
In whistler we only noticed the problem with autocomplete - so I fixed that in https://github.com/mozilla/addons-server/issues/11664 - for full search results we can't assume that a `q` means relevance.

[2019-07-11 17:39] eviljeff commented on #11818
2 possible fixes:
* change addons-server API behavior to ignore this invalid combination of params (by ignoring the `sort=random` if `q` is present
* change addons-frontend to not send `sort=random` from the search box ever.

[2019-07-11 17:54] devaneymoz commented on #11817
If we're dropping the Custom Headline I'd like to go into admin and manually edit the Custom Descriptions (i.e. if there's important wording from the former headline that we want to move into the description). When would this change take place so I can try to coordinate timing?

[2019-07-11 18:46] willdurand opened #11819 "Warnings related to django middleware in local dev"
Running `make initialize_docker`, we can see the following warnings in the logs:

[code]

[2019-07-11 19:10] mstriemer commented on #11817
I just mocked the API response from AMO to entirely remove the `heading_text` property and it looks fine. No console errors, bold text is hidden.

![Screenshot 2019-07-11 14 07 28](https://user-images.githubusercontent.com/211578/61078151-a2762200-a3e5-11e9-8f80-65e2946bde34.png)

[2019-07-12 04:53] erosman opened #11820 "[Review Tools] Review Log not Loading"
ref: `https://reviewers.addons.mozilla.org/en-US/reviewers/reviewlog`

**Review Log** has been slow-loading for a very long time, For the last couple of weeks or so, I am hardly ever able to load the page and 95% of the times I end up with a blank page.

The only time I recall it loading in recently was on the 1st of July when there were only a handful entries for the month.

HTTP response status

[2019-07-12 11:09] #10403 closed

[2019-07-12 11:35] wagnerand opened #11822 "Check last login ip against IP restrictions"
We should also match the last login ip against the IP restrictions in case the IP address changed between login and submission.

[2019-07-12 14:44] EnTeQuAk commented on #11431
So, I'd like to do the extreme here… there is a setting in our code called `NFS_LAG_DELAY` and I'd like to re-use that for the extraction. My current plan would be:

* use `flufl.lock` to create a lock specific to a version that would be extracted
* potentially sleep for a short amount of time (or `NFS_LAG_DELAY`) to ensure the lock is actually set - although flufl.lock ensures that as much as pos

[2019-07-12 14:58] #11374 closed

[2019-07-12 14:58] #11379 closed

[2019-07-12 14:58] #11380 closed

[2019-07-12 15:09] #11565 closed

[2019-07-12 15:22] ioanarusiczki opened #11825 "Cannot remove all recommended themes using django admin"
Followup for https://github.com/mozilla/addons-server/issues/10403
STR:
1. Load https://addons-internal.dev.mozaws.net/en-US/admin/models/bandwagon/collection/2143965/change/
2. Remove all themes from this collection and save changes
3. Load AMO dev

Expected result:
`Recommended themes` shelf is no longer available on the hompeage.

Actual result:
Shelf is displayed with 3 themes and See more rec

[2019-07-12 15:24] ioanarusiczki commented on #10403
@eviljeff This has been fixed on -dev , once I add a theme in the collection, it will show up for the homepage, `recommended` badge is attached in search results, user profile too , no need to click `save` twice.

While removing themes I've noticed an issue and filed a followup https://github.com/mozilla/addons-server/issues/11825

[2019-07-12 15:25] jrbenny35 opened #11826 "Multiple migrations with number: 1102"
[code]

[2019-07-12 18:27] eviljeff commented on #11825
Its just if you remove all of them, right? Removing one or more but leaving at least one works correctly?

[2019-07-12 18:49] wagnerand opened #11828 "Queue count of 'Other Pending Review' is too high."
### Describe the problem and steps to reproduce it:

The queue count of 'Other Pending Review' is 29 at the moment, but there are only 7 add-ons in that queue.

### What happened?

Wrong count of 'Other Pending Review'  in the reviewer tools

### What did you expect to happen?

Right count :)

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.

[2019-07-12 18:53] #11826 closed

[2019-07-12 20:37] jvillalobos opened #11830 "Implement admin for Primary Hero Shelf"
Part of [this PRD](https://docs.google.com/document/d/12aD_v5AOj1Y6VmT4xOuyNcrKfZxqhP8R_AOHroQVLV8/edit#).

The Primary Hero Shelf in the homepage will feature one extension, chosen from a subset of Recommended extensions:

<img width="623" alt="Screen Shot 2019-07-03 at 4 02 16 PM" src="https://user-images.githubusercontent.com/62568/60627685-16904480-9dac-11e9-8d5b-438676aeeb44.png">

Since this

[2019-07-13 10:46] #11782 closed

[2019-07-13 10:50] EnTeQuAk opened #11832 "Drop MonthlyPick model and zadmin integration"
Now that all the legacy pages are actually gone, we can start cleaning up some models.

Let's drop `MonthlyPick` model and it's zadmin integration accordingly.

It seems unused from what I can tell.

[2019-07-13 13:03] wagnerand opened #11833 "Broken locale"
[code]

But that string didn't change in the latest locale commit (https://github.com/mozilla/addons-server/commit/4de2828e68708f26ff473149924f4c67745d4547#diff-f69e969b065a0a64c1d68b1b90778d89R754). Did this change in master and pontoon is using old strings?

[2019-07-13 13:04] wagnerand commented on #11833
P2 as it breaks travis.

[2019-07-13 15:13] Abhi-khandelwal commented on #11832
HI @EnTeQuAk can I take this issue?

[2019-07-14 10:13] #11822 closed

[2019-07-15 08:12] EnTeQuAk commented on #11832
absolutely! Let us know if you need any more hints about what should be done.

If you start working on the issue we'd appreciate you telling us so that we can assign the issue to you.

[2019-07-15 08:16] Abhi-khandelwal commented on #11832
yeah sure, i would happily like to work on this issue

[2019-07-15 08:29] EnTeQuAk commented on #11832
You're assigned, let us know if you need any help. Generally, everything regarding / using the `MonthlyPick` model should be able to be removed. Regular code and unittests.

[2019-07-15 08:48] #11833 closed

[2019-07-15 09:03] eviljeff commented on #11828
I thought this was left broken on purpose though - to get a warning that the auto-approve job is broken.

[2019-07-15 09:10] wagnerand commented on #11828
This is an insufficient way to check for and notice auto-approval failures. When that happened a few months ago, no one had been noticing for months and it's impossible to figure out from just that number if something is broken or not (since there can always be files that have just been submitted, waiting for auto-approval), and even if you assume something is broken, there is no way to see which

[2019-07-15 11:29] eviljeff opened #11835 "log add-on guid reuse to our logging pipeline"
from https://github.com/mozilla/addons-server/pull/11824/ @EnTeQuAk said:

[2019-07-15 11:52] #11652 closed

[2019-07-15 13:22] #11828 closed

[2019-07-15 14:34] bobsilverberg commented on #11662
@EnTeQuAk https://github.com/mozilla/addons-code-manager/issues/858 has landed on dev. We should probably wait for it to be verified before proceeding with this issue, but hopefully that will happen soon.

[2019-07-15 15:15] muffinresearch commented on #11810
Before we try and spend time on fixing perf I think it would be good to make sure we're sure of where the problem lies.

- Is there a good way to see all sentry errors for just the admin instance?
- Is there a clear way to see metrics for just the admin instance we could also try and start adding some additional metrics to see what parts specifically are slow.
- Are we currently seeing any slow qu

[2019-07-15 16:24] muffinresearch commented on #11817
@devaneymoz For now we don't want to remove any data from the DB. To fix this issue we only need to with-hold `heading_text` from the API responses as that will get the desired output with the most minimal changes.

The other data is still in use by the HTML disco pane.

We can clean out the data when either:

* The new disco pane reaches an ESR
* Or we change the HTML disco pane sooner.

I'd pref

[2019-07-15 17:04] kumar303 opened #11838 "Every compare API request is slow for AdBlock Plus"
### Describe the problem and steps to reproduce it:

* Sign in to the Code Manager on dev
* Load a comparison for AdBlock Plus: https://code.addons-dev.allizom.org/en-US/compare/1865/versions/1529553...1688304/
* Open the Network panel and click to load a diff for any other file

### What happened?

Each request takes about 11 seconds

### What did you expect to happen?

The responses should be mu

[2019-07-15 17:29] davidhedlund opened #11839 "about:addons: doesn't list all add-ons from https://addons.mozilla.org/en-US/firefox/search/?recommended=true&type=extension"
### Describe the problem and steps to reproduce it:
Visited about:addons in Firefox 68.0.

### What happened?
Found some add-ons in the new "Recommendation"

### What did you expect to happen?
I expected all add-ons from [Recommended](https://addons.mozilla.org/en-US/firefox/search/?recommended=true&sort=users&type=extension) to be listed, at least when I hit the "Find more add-ons" button at the

[2019-07-15 17:35] devaneymoz commented on #11817
@muffinresearch Thanks for the breakdown of options. I'll flag for us to discuss in tomorrow's x-func.

[2019-07-15 18:02] muffinresearch commented on #11817
Sounds good.

For the fix here, we just need to remove `heading_text` from the discovery API responses, this way we avoid needing a Firefox release to get the desired result.

To QA this we'll need to make sure:

* All firefox releases with the recommended section work without `heading_text`in the API response.
* The html based disco pane used by older clients is unaffected.

@EnTeQuAk would you h

[2019-07-15 20:09] eviljeff opened #11841 "Backfill add-on deletions where guid has been reused"
follow-up for #11652

[2019-07-15 20:51] eviljeff opened #11842 "create API to expose primary shelf config to frontend"
all the admin model data needs to be exposed in a single API endpoint for frontend to consume

[2019-07-15 20:57] eviljeff commented on #11839
The discovery pane (the first page you see on about:addons) is showing a subset of recommended add-ons (and has for a number of years) and the "Find more add-ons" button just goes to the addons.mozilla.org homepage, which is also only showing recommended add-ons.  So I'm not clear what isn't as expected.  Can you provide a screenshot and urls for the links out of about:addons?

[2019-07-15 21:01] davidhedlund commented on #11839
![Screenshot at 2019-07-15 22:59:28](https://user-images.githubusercontent.com/6416073/61248942-64b22a00-a754-11e9-8e6d-fbc0e23e4c71.png)

![Screenshot at 2019-07-15 23:00:27](https://user-images.githubusercontent.com/6416073/61248956-6a0f7480-a754-11e9-8792-bb3358b896c1.png)

![Screenshot at 2019-07-15 22:59:53](https://user-images.githubusercontent.com/6416073/61248963-6c71ce80-a754-11e9-991d-be

[2019-07-15 21:24] eviljeff commented on #11839
@davidhedlund what are the screenshots showing exactly?  The add-ons shown all appear to be recommened add-ons.

[2019-07-15 21:42] davidhedlund commented on #11839
The "Find more add-ons" link is
* https://addons.mozilla.org/en-US/firefox/?utm_source=firefox-browser&utm_medium=firefox-browser&utm_content=find-more-link-bottom but it should be
* https://addons.mozilla.org/en-US/firefox/search/?recommended=true&utm_source=firefox-browser&utm_medium=firefox-browser&utm_content=find-more-link-bottom (note "recommended=true")

[2019-07-15 21:48] bqbn commented on #11810
I'm confused how the banning-bulk-users operation is executed. Is it done by going to a specific web page (using the browser), or is it done by running a command (e.g. manage.py command) on the admin instance? If it's done via a web page, then it probably has nothing to do with the "admin instance" (at least not the "admin instance" in ops terminology).

Assuming we're talking about the same "admi

[2019-07-16 07:13] AlexandraMoga commented on #11822
@wagnerand I've verified this on -dev with the following test method:

1. Log into AMO -dev
2. Open the user profile page in django admin and check the `Last login ip` stored for the user you've logged in with at step 1
3. Block this IP in Ip network user restrictions
4. Submit an add-on with this user and make sure you hit the IP restriction block
5. Change your IP address
6. Try to submit an add

[2019-07-16 07:24] AlexandraMoga commented on #11760
Verified fixed on -dev:

![image](https://user-images.githubusercontent.com/31961530/61274122-c5248400-a7b3-11e9-9cb8-77853aecea55.png)

[2019-07-16 08:19] AlexandraMoga commented on #11833
@EnTeQuAk does this need QA?
https://addons-dev.allizom.org/th/firefox/ doesn't seem to be broken.

[2019-07-16 08:37] EnTeQuAk commented on #11833
Actually no, this has already been verified by succeeding travis and circleci tests.

[2019-07-16 08:53] Obtin commented on #4574
Hello there,

I just signed the petition ".@jairamthakurbjp @prahladspate : PETITION TO
PROTECT TOURISTS IN HIMACHAL PRADESH" and wanted to see if you could help
by adding your name.

Our goal is to reach 150,000 signatures and we need more support. You can
read more and sign the petition here:

http://chng.it/2RQvpq9jmR

Thanks!
Tina

[2019-07-16 09:35] eviljeff commented on #11839
so... the issue is that you think the "Find more add-ons" button/link should point to the search, showing recommended add-ons, rather than the homepage, which only shows recommended add-ons?

If so, the discovery pane is actually generated directly in Firefox from 69 onwards, using the AMO API, so it'd be a Firefox change rather than AMO.  Calling @atsay rather than asking the request to be refile

[2019-07-16 09:41] AlexandraMoga commented on #11378
@EnTeQuAk I'm running into some errors with the [POST draft-comments](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#post--api-v4-reviewers-addon-(int-addon_id)-versions-(int-version_id)-draft_comments-) endpoint

To eliminate other possible error sources, I've made sure that the add-on I'm requesting is valid and my auth signature is correct.
Then, I've sent the followin

[2019-07-16 10:01] #11728 closed

[2019-07-16 10:03] EnTeQuAk commented on #11378
This seems to be related to https://sentry.prod.mozaws.net/operations/olympia-dev/issues/6054743/ - and a migration that hasn't been run properly. I'll fix this on -dev.

[2019-07-16 10:06] EnTeQuAk commented on #11790
I started working on this but I'll move this to the next milestone as I doubt I'll be able to land this in 2019.07.18 - I'll try nonetheless though.

[2019-07-16 10:07] EnTeQuAk commented on #11378
I fixed the migration on -dev manually, we had some weird double migrations lately so something may have gone wrong.

[2019-07-16 10:09] EnTeQuAk opened #11843 "drop `monthly_pick` table"
After https://github.com/mozilla/addons-server/pull/11840/ we should be able to drop the actual database table for the `monthly_pick` table.

Let's do this in the next tag or so.

[2019-07-16 10:11] #11832 closed

[2019-07-16 10:11] #11378 closed

[2019-07-16 10:20] AlexandraMoga commented on #11828
Verified fixed on -dev
Add-ons pending for auto-approval are no longer counted in the Other pending review queue:

![image](https://user-images.githubusercontent.com/31961530/61285691-12135500-a7ca-11e9-8806-8cc2b7106c8a.png)

[2019-07-16 10:25] Abhi-khandelwal commented on #11843
@EnTeQuAk , Can I take this one also :)

[2019-07-16 10:27] EnTeQuAk commented on #11843
Absolutely! I'll assign it to you right away if that's alright. Let us know if you need any help.

[2019-07-16 10:59] Abhi-khandelwal commented on #11843
To fix this , I guess i need to make changes in migrations files, Am I right ?

[2019-07-16 11:38] EnTeQuAk commented on #11843
That's correct, you need to create a new file in `migrations` that uses an increased number and in there you're going to have to write the SQL for dropping the table. There are quite a few examples in that folder as well for inspiration.

[2019-07-16 11:46] davidhedlund commented on #11839
Thanks. The "[Find more add-ons](https://addons.mozilla.org/en-US/firefox/?utm_source=firefox-browser&utm_medium=firefox-browser&utm_content=find-more-link-bottom)" link and text should be changed to "[Find more recommended add-ons](https://addons.mozilla.org/en-US/firefox/search/?recommended=true&utm_source=firefox-browser&utm_medium=firefox-browser&utm_content=find-more-link-bottom)"

[2019-07-16 13:04] AlexandraMoga commented on #11380
I've verified the [DELETE draft_comments] endpoint on -dev and to me it looks to be working as expected.
 - a successful delete request returns 204
 - if the requested `comment id` doesn't exist, the api returns 404
 - if you are trying to delete a comment which wasn't created by your current authenticated user, the api responds with a 404

[2019-07-16 14:04] AlexandraMoga commented on #11374
I've verified the [GET draft_comments](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#get--api-v4-reviewers-addon-(int-addon_id)-versions-(int-version_id)-draft_comments-) and [GET draft_comments by Id](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#get--api-v4-reviewers-addon-(int-addon_id)-versions-(int-version_id)-draft_comments-(int-comment_i

[2019-07-16 14:09] EnTeQuAk commented on #11374
This is how it's expected to work for now. It may potentially be opened up later on, to other reviewers and other add-on authors but last time we talked about that we wanted reviewers only to see their own comments. Especially since the primary communication tool will be the regular reviewer-tools "comment" section there.

[2019-07-16 14:33] AlexandraMoga commented on #11379
Verified on -dev with the [PATCH draft_comments](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#patch--api-v4-reviewers-addon-(int-addon_id)-versions-(int-version_id)-draft_comments-(int-comment_id)) endpoint

- original comment:
[code]
- patched comment:
[code]

[2019-07-16 14:59] wagnerand commented on #11810
Today at 4:33pm CEST I banned 65 users. The endpoint I am hitting was a POST request to https://addons-internal.prod.mozaws.net/en-US/admin/models/users/userprofile/ (GET parameters stripped). There are no console error messages (apart from a blocked JS by the page CSP, which should be unrelated). I am sending you the IP in private.

[2019-07-16 15:10] AlexandraMoga opened #11845 "504 nginx error received when trying to open a search tool review page"
**STR:**

1, Try to load the following search tools review page - https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/google-video-dev

**Actual result:**
The page is not loaded and after some waiting time a 504 is received

**Expected result:**
Search tool review page can be opened

Notes:
  - reproduced constantly on -dev with every search tool review page

![image](https://user-imag

[2019-07-16 15:17] eviljeff commented on #11845
might be a regression from #11843

[2019-07-16 16:42] muffinresearch commented on #11817
Having spoken further with @devaneymoz the issues with just removing `heading_text` is that it will result in some cases where the description doesn't necessarily follow without the heading:

So there's two options for how to deal with this:

**Option 1**

- Update the HTML disco pane to be more similar to the new recommendation cards in Firefox and not use heading data.
- Make the change to withh

[2019-07-16 16:42] atsay commented on #11839
This is working as intended. Everything on the homepage is part of Recommended Extensions.

[2019-07-16 16:42] #11839 closed

[2019-07-16 16:42] wagnerand commented on #11845
I don't believe so. Lots of pages on dev show timeout issues at the moment, for example the auto-approved queue or the review log.

[2019-07-16 17:08] davidhedlund commented on #11839
![Screenshot at 2019-07-15 23:00:27](https://user-images.githubusercontent.com/6416073/61314468-f37a8180-a7fc-11e9-9e7e-26fdd29f255a.png)

Shouldn't the text and link "[Find more add-ons](https://addons.mozilla.org/en-US/firefox/?utm_source=firefox-browser&utm_medium=firefox-browser&utm_content=find-more-link-bottom)" be replaced with "[Find more recommended add-ons](https://addons.mozilla.org/en-

[2019-07-16 17:12] atsay commented on #11839
The intention is that everything on the tab is recommended, but if you want to find more extensions you can go to AMO. In this context it made sense to take people to the homepage so they can browse the full library. It's true that everything on the homepage is also recommended, and that's to make it more likely to discover content from the Recommended program. From there, you can find anything th

[2019-07-16 19:39] davidhedlund commented on #11839
![Screenshot at 2019-07-15 22:59:28](https://user-images.githubusercontent.com/6416073/61324083-dbf9c380-a811-11e9-8e89-b1ba37133ca1.png)

The tab says

I think most people would find it useful if you included these add-ons should be included in the list or at the Extension tab under the "Recommended Extensions" section at about:addons if you want to keep a shorter list there:

Most people would f

[2019-07-16 20:11] devaneymoz commented on #11839
@davidhedlund If I'm understanding you properly, you're suggesting Decentraleyes, HTTPS Everywhere, uBlock Origin, and Zoom Page WE should be Recommended extensions? They actually in fact are already part of the Recommended program. If you were to go to each of their respective listing pages on AMO, you'll find the "Recommended" label applied to the,

[2019-07-16 20:42] dbxnr commented on #11174
Can I take this one?

[2019-07-16 21:04] jvillalobos commented on #11817
I think either option is okay. It sounds like Option 2 is less work and the only problem is wonky copy on old disco panes, for a limited time. I'd favor that.

[2019-07-16 21:39] devaneymoz commented on #11817
I'm fine with option 2 as well, and with limited time wonky copy.

My only remaining question is timing. Should I simply adjust copy at my earliest available opportunity? Is there an urgency to remove the heading_text from the API?

(I estimate it shouldn't take me more than a half-day to adjust copy for 100-ish extensions in admin.)

[2019-07-17 02:35] bqbn commented on #11810
According to the logs (which I shared in https://drive.google.com/drive/folders/1-gytPiNXs8_8PXMRqaTitXgMts0yvIy9) , it looks like the same request was tried 3 times.

[code]

First request was 503 after 60 seconds, second request was 302 after 7.2 seconds and third request was 403 after 0.048 second.

It looks like the app was still doing its work when the second and third requests arrived.

The

[2019-07-17 05:52] Alien426 commented on #11174
Take it.

[2019-07-17 07:28] EnTeQuAk commented on #11810
Which is weird as the banning doesn't seem to make use of celery, but maybe some follow-up tasks are :thinking:

[2019-07-17 07:40] AlexandraMoga commented on #11845
Reproducing in stage now. I repeat, only when I'm trying to open a search tool review page I run into constant 504s:
https://reviewers.addons.allizom.org/en-US/reviewers/review-content/wikipedia-ita-5

Then, if I'm trying to access any other page immediately after the above request 504's, other pages will timeout too.

Moreover, the frontend (addons.allizom.org) will not load correctly after these

[2019-07-17 07:53] AlexandraMoga commented on #11832
@EnTeQuAk does this require any QA?
Thanks

[2019-07-17 07:53] AlexandraMoga commented on #11728
@EnTeQuAk does this require any QA?
Thanks

[2019-07-17 08:04] EnTeQuAk commented on #11662
This actually got resolved by https://github.com/mozilla/addons-server/issues/11782 - which I merged on Saturday and maybe that's because no one has seen issues with images in the meantime :see_no_evil: It may have introduced a needless performance regression as it's calculating the mimetype needlessly but that's a different issue.

I'm going to close this but keep it in the milestone to verify an

[2019-07-17 08:04] #11662 closed

[2019-07-17 08:31] AlexandraMoga commented on #11378
I've verified this on -dev with the [POST draft_comment](https://addons-server.readthedocs.io/en/latest/topics/api/reviewers.html#post--api-v4-reviewers-addon-(int-addon_id)-versions-(int-version_id)-draft_comments-) endpoint.

Draft comments are stored according to the parameters sent. There is no validation done for `filename` and `lineno`, meaning that that any value could go into these fields

[2019-07-17 09:41] wagnerand commented on #11810
@bqbn Can you double-check the GET parameters? I did several rounds of banning (different users)

[2019-07-17 10:47] wagnerand commented on #11845
I am unable to reproduce this locally.

[2019-07-17 11:00] EnTeQuAk commented on #11845
So, while loading the page the mysql process list doesn't show any long running queries at least (I don't have access to the slow logs though.

[2019-07-17 11:01] wagnerand opened #11848 "Review page shows wrong previously deleted add-ons"
### Describe the problem and steps to reproduce it:

1. Submit a search plugin
2. Check the review page for that search plugin.

### What happened?

The page shows lots of unrelated entries for "previously deleted add-ons"

![](https://irccloud.mozilla.com/file/z7XFVSi8/Screenshot%202019-07-17%20at%2012.46.35.png)

### What did you expect to happen?

No unrelated entries.

### Anything else we sho

[2019-07-17 11:01] EnTeQuAk commented on #11845
Theme reviews seem to be accessible properly on -stage. Also, loading the whole content-review queue is super slow - it's huge unfortunately so that might be a reason too.

[2019-07-17 11:04] #11796 closed

[2019-07-17 11:58] EnTeQuAk commented on #11848
This is actually causing https://github.com/mozilla/addons-server/issues/11845, so I'm bumping up priority.

[2019-07-17 12:28] dbxnr commented on #11174
The add-on IDs are meant to be case sensitive (https://github.com/mozilla/addons-server/pull/11847#issuecomment-512222523) so this is perhaps intended behaviour?

[2019-07-17 12:31] muffinresearch commented on #11817
I would wait until the heading is gone, since then you'll be working with the desired end result.

The only other consideration is do we want to wait until new recommendations are closer to being in release? [Which on the basis this is out in 69 should be early September](https://wiki.mozilla.org/Release_Management/Calendar).

[2019-07-17 13:13] muffinresearch opened #11851 "Add param to filter the /api/v4/discovery/editorial/ to only show add-ons with a recommended status."
See also https://github.com/mozilla/taar/issues/157

To support moving TAAR to be base of only add-ons in the Recommended Extensions (RecEx) programme, we need to add a param to the /api/v4/discovery/editorial/ so that it only shows add-ons with a recommended status. That is not just "recommendable" but add-ons that are approved and have latest recommended signed version.

For example:

 `/api/v4/

[2019-07-17 13:25] #11845 closed

[2019-07-17 13:25] #11848 closed

[2019-07-17 13:38] mlopatka commented on #11851
@crankycoder Can you make sure that when the parameter on which to filter is landed, TAAR is filtering on that parameter with as little lag as possible.

[2019-07-17 13:48] crankycoder commented on #11851
@muffinresearch i'm putting in a patch to the python_mozetl job to use the `recex` option.

[2019-07-17 14:07] wagnerand commented on #11845
This landed on -dev. The page mentioned in the original comment loads fine for me now.

[2019-07-17 14:16] AlexandraMoga commented on #11796
Verified fixed on -dev.
I've submitted a theme and a language pack and they are not listed in the Content review queue:

https://reviewers.addons-dev.allizom.org/en-US/reviewers/queue/content_review?page=30

[2019-07-17 14:22] AlexandraMoga commented on #11845
I've opened several search tool review pages and I can conform the error can't be reproduced anymore
I'm marking this as verified fixed on -dev.

[2019-07-17 16:04] willdurand opened #11852 "Add a travis-ci job to prevent duplicate migration IDs"
Migration ID conflicts happen frequently so we should prevent that as soon as possible. Circle-CI builds usually fail but we don't always look at it so... let's do this in Travis-CI instead.

I could be as simple as a bash script that makes sure we don't have the same migration ID listed twice, or something more involved in a python test file :)

[2019-07-17 16:10] EnTeQuAk opened #11853 "Issue separate types for ending newline related changes"
Required for https://github.com/mozilla/addons-code-manager/issues/877

We am rewriting all end of file newline change flags (GIT_DIFF_LINE_CONTEXT_EOFNL, GIT_DIFF_LINE_ADD_EOFNL, GIT_DIFF_LINE_DEL_EOFNL) to be `normal`, `insert`, `delete` instead. So there's context being lost which creates a few issues.

Let's implement separate `normal-eofnl`, `insert-eofnl`, `delete-eofnl` types for these line

[2019-07-17 16:29] eviljeff commented on #11851
We use `?recommended=true` elsewhere in the API so I'd go with that for the parameter for consistency.

[2019-07-17 16:51] EnTeQuAk opened #11855 "Use user-id instead of username for git commit messages"
When you submit an add-on with a display name that contains `<` or `>` unfortunately git doesn't freely allow that in commit messages.

[code]

Let's try to use the user-id instead.

[2019-07-17 17:53] crankycoder commented on #11851
@muffinresearch https://github.com/mozilla/python_mozetl/pull/334 is ready to be merged. I'd like to wait until addons-server code lands so that we can make sure that the new `recommended` parameter matches up properly.

[2019-07-17 18:00] eviljeff commented on #11804
There's no easy way to implement this.  Hooking directly into the developer hub flow is a very fragile solution - and would need changes to allow it.

This _should_ be done via the signing API but a) an add-on where the first version is listed needs to be via devhub to collect extra metadata and b) submission requires a key from devhub which is impractical for a casual user of the FirefoxColor web

[2019-07-17 21:04] jvillalobos commented on #11804
This is very low-priority. I think we would need to finish and ship the work from the [Content Optimization project](https://github.com/orgs/mozilla/projects/39) and consider enabling the API for first submissions, if only for Color themes. Even then it would be a stretch to think Color users would use this vs. generating and uploading an XPI.

[2019-07-18 00:37] bqbn commented on #11810
Oh, you can check the application logs in stackdriver BTW. Just following the instructions [here](https://mana.mozilla.org/wiki/display/SVCOPS/AMO+Dev+Resources#AMODevResources-Stackdriverlogging), go to the Prod env logging console, use `label:type:olympia_internal` as the filter, then you can see all the app logs from that instance.

Best part is you can watch the app logs in (almost) real time

[2019-07-18 06:26] AlexandraMoga commented on #11848
Verified fixed on stage:

Search tools review pages are not displaying previously deleted versions anymore:

https://reviewers.addons.allizom.org/en-US/reviewers/review/wikipedia-ita-8

![image](https://user-images.githubusercontent.com/31961530/61434192-f761ed00-a93d-11e9-9b62-10a92d690cb4.png)

[2019-07-18 08:00] AlexandraMoga opened #11856 "Reviewers browse and compare API do not return the same content for `cose.manifest`"
**STR:**

1, Open the browse page for a `cose.manifest` file - https://code.addons-dev.allizom.org/en-US/browse/385621/versions/1655456?path=META-INF%2Fcose.manifest
2. Open a compare page for the same file - https://code.addons-dev.allizom.org/en-US/compare/385621/versions/1655456...1688374/?path=META-INF%2Fcose.manifest

**Actual result:**
The browse page shows no content for `cose.manifest` bec

[2019-07-18 10:14] eviljeff commented on #11804
I'm going to close this for now as it seems very unlikely we'll work on it.  It can be reopened if Product direction/priorities change.

[2019-07-18 10:14] #11804 closed

[2019-07-18 10:19] AlexandraMoga opened #11857 "Previously deleted entries should link to review pages that match the version distribution method"
**STR:**

1. Create an add-on with a custom guid
2. Submit it on AMO as an unlisted version
3. Delete the add-on
4. Submit the same package again as a listed version
5. Open the listed review page for this add-on and look at the Previously deleted entries section - see https://reviewers.addons.allizom.org/en-US/reviewers/review/note-taker
6. Click on one of the previous unlisted entries - https://

[2019-07-18 10:23] AlexandraMoga commented on #11652
I've verified this on stage and the Previously deleted entries section will appear now if the `guid` of the reviewed add-on has been used in previous submissions.

Here are some examples:
- https://reviewers.addons.allizom.org/en-US/reviewers/review/trustium-last-one
- https://reviewers.addons.allizom.org/en-US/reviewers/review/note-taker

Search tool review pages won't include this section since

[2019-07-18 10:32] eviljeff commented on #11857
Add-ons don't have distribution methods, versions do, so an add-on could have history in both listed and unlisted channels.  The review pages should do a better job of prompting the reviewer to look at the other review page when there is history in the other channel but that's a different (and long-standing) issue

[2019-07-18 10:39] AlexandraMoga commented on #11782
I've verified this on -dev, both with the api and the code-manager.
The browse api is returning now an empty content - `content: ""` - for binary files:

These are some examples:
- https://addons-dev.allizom.org/api/v5/reviewers/addon/385621/versions/1655456/?file=META-INF/cose.sig
- https://addons-dev.allizom.org/api/v5/reviewers/addon/385621/versions/1655456/?file=img/FacebookLike.svg
- https://

[2019-07-18 17:13] EnTeQuAk commented on #11539
I'm tackling https://github.com/mozilla/addons-server/issues/6668 and if the docker gods are with me autoreload with uwsgi "will just work" (tm)

[2019-07-18 22:43] jvillalobos commented on #11830
The background color will be chosen from a fixed palette, to be provided by @brassy- here.

[2019-07-18 22:54] jvillalobos commented on #11830
It should also be possible to feature _unlisted_ Recommended extensions in the homepage (and we most likely will at launch). The Call to Action will point to the homepage URL, so having one set should be another requirement to enable the checkbox in the admin, for unlisted ones.

[2019-07-19 06:03] rbrishabh commented on #11122
If no one is working for on this currently, can I take this up?

[2019-07-19 09:14] willdurand opened #11861 "Uncaught exception thrown when a zip file member is larger than the limit we set"
### Describe the problem and steps to reproduce it:

1. Create a XPI with a large text file (more than 150MB for example)
2. Submit it

### What happened?

So the error is not visible to the end user. There is a validation error page, which is expected but it does not say why the validation has failed.

In the logs, we can see an uncaught exception:

[code]

### What did you expect to happen?

I d

[2019-07-19 10:19] Abhi-khandelwal commented on #11838
@EnTeQuAk , Can I work on this issue ?

[2019-07-19 10:49] EnTeQuAk commented on #11861
There are three placeholders and values that are used to fill them. The problem more likely is that `archive`, `filename` or `filesize` is a bytes type object and the conversion is being wonky…

[2019-07-19 10:53] EnTeQuAk commented on #11861
Initially I thought that this is a regression of 2de22598bdd14b5bbd7f58d26b9d2fa6448ccdf9 but it doesn't seem likely, at least I don't see changes that may have caused it by looking at `git diff 91c882f549..703cdb9f96`

[2019-07-19 11:09] eviljeff commented on #11830
Okay, we could have an additional setting which would mark the item as referring to an unlisted-only add-on and then frontend would know to display it differently.

Unlisted versions can't be approved for recommended though, currently, so it's not possible to have an add-on without a listed version be recommended  - that's #11284.   (And we'd be referring the user to an install that wouldn't be ma

[2019-07-19 11:19] willdurand commented on #11861
oh right, I see the third one now. I guess we should not be logging `archive`.

[2019-07-19 11:22] EnTeQuAk commented on #11861
I think I agree, it doesn't add much information.

[2019-07-19 11:24] #11851 closed

[2019-07-19 11:30] EnTeQuAk commented on #11174
I think I agree, that this doesn't actually seem to be a problem looking at how Firefox handles GUIDs.

I'm going to close the issue with that, correct me if I'm mistaken though

[2019-07-19 12:08] EnTeQuAk commented on #11174
Apologies, @wagnerand correctly noted that the issue is indeed correct. The mentioned problem is that it seems our default compare - because of MySQL - is case insensitive and we want it to be case-sensitive.

Your title mentions that the behavior is different between new add-on submissions and new version submissions but the description states differently. From what I can see in the code the beha

[2019-07-19 12:46] AlexandraMoga commented on #11851
Verified fixed on -dev.
When calling `/discovery/editorial/?recommended=true`, only the add-ons that have a `Recommended` state in Discovery items will be returned.

[2019-07-19 13:35] eviljeff commented on #11830
would this be defined by two colours if it's for a gradient (a start and an end colour)?

[2019-07-19 13:56] muffinresearch commented on #11780
See attachment for SVG icons from Scott: [icons.zip](https://github.com/mozilla/addons-server/files/3411347/icons.zip)

[2019-07-19 14:16] EnTeQuAk opened #11862 "Enable dependabot"
With pyup not working anymore we should try to enable dependabot on addons-server.

[2019-07-19 14:17] eviljeff commented on #11815
@wagnerand are you sharing it offline?  Can we close this issue?

[2019-07-19 14:20] willdurand commented on #11815
No, that's not exactly what we need.

[2019-07-19 16:04] Abhi-khandelwal commented on #11659
@diox Can I work on this issue ?

[2019-07-19 16:28] Abhi-khandelwal commented on #11317
@EnTeQuAk Can I take this issue ?

[2019-07-19 17:10] muffinresearch commented on #11862
Filed request here: https://bugzilla.mozilla.org/show_bug.cgi?id=1567555 as I can only enable for sec updates only from the repo.

[2019-07-19 18:09] Abhi-khandelwal commented on #11634
@jvillalobos Can I work on this issue ?

[2019-07-19 19:30] Alien426 commented on #11174
How does the description differ from the title? Think about it!

I have changed the case of the ID.

A new version of the existing add-on can only fail if the comparison is case-sensitive.

Submitting a new add-on can only fail if the old ID and new ID are recognized as the same. Therefore in this case it must be a case-INsensitive comparison.

[2019-07-19 20:06] jvillalobos commented on #11284
Good job, me! We need this now for the homepage customization project.

Because of what we need in this particular case, we can get away with a partial fix: we can assume that the file being uploaded is already signed by Mozilla, has the Recommended file, and review coordination is happening manually. We would need that:

- [ ] the Recommended XPI upload works
- [ ] the status changes to Recommend

[2019-07-19 20:15] jvillalobos commented on #11634
I suggest you start with something from the [good first bugs list](https://addons-pm.herokuapp.com/contrib/good-first-bugs/?dir=desc&sort=updatedAt). This particular issue is part of the Q3 project, so it needs to be fixed fairly quickly.

If you feel confident you can do it, I'm not going to stop you :), but maybe someone from the team will step in and resolve it faster.

[2019-07-22 07:37] EnTeQuAk commented on #11862
pyup apparently started working again. But still, it'd at least be nice to get dependabot configured and have it as a fall-back - or try to figure out what happened pyup and decide accordingly.

[2019-07-22 07:41] Patil2099 commented on #10824
@eviljeff  I searched RSS keyword in every Views.py File that is present in /src/olympia/ and I didn't find it anywhere. Can you please guide me a little bit?

[2019-07-22 11:19] eviljeff commented on #10824
lambda r, id: redirect('addons.versions.rss', id, permanent=True)),

Good find on that one - it's a redirect to another url that we already removed.  You can delete that `url(...)` statement.  But it does seem the underlying view was already cleaned up so there's not much to do in this issue now, just drop that redirect url.

[2019-07-22 11:21] bobsilverberg commented on #11830
What I recall from the last meeting we had is that there will always be a single color that represents the start of the gradient, and then each gradient will be defined as having a different end color. If that is the case then the user would only need to choose one color for the gradient (the end color).

Can @jvillalobos and/or @brassy- confirm or deny this?

[2019-07-22 11:37] eviljeff commented on #11830
The start and end colours will both need to be defined somewhere though, I assume.  As the API would be returning one colour value I thought it may as well return both.  I think we're basically blocked on someone telling us at least one "gradient", and we can see how it's best represented (to the user the admin; and in the api., which may be different)

[2019-07-22 11:50] bobsilverberg commented on #11830
It does seem like the API should return both colors, and then they only ever need to be defined in one place (the server).

[2019-07-22 12:05] Patil2099 commented on #10824
@eviljeff  I made a pr that removes this code I also found some code that has RSS in it.
 def test_rss(self):
        self.log_creates(5)
        # This will give us a new RssKey
        self.get_response()
        key = RssKey.objects.get()

        assert isinstance(key.key, uuid.UUID)

        res = self.get_response(privaterss=key.key)
        assert res['content-type'] == 'application/rss+xml

[2019-07-22 12:38] brassy- commented on #11830
Meanwhile, here the 5 different gradients. The colors are coming from the new brand palette.

![ink80blue70](https://user-images.githubusercontent.com/6309827/61632831-11793380-ac8e-11e9-9f1f-0fbaf0c82425.png)
![ink80green70](https://user-images.githubusercontent.com/6309827/61632832-11793380-ac8e-11e9-8836-71297fac22c8.png)
![ink80pink70](https://user-images.githubusercontent.com/6309827/61632834

[2019-07-22 12:49] eviljeff commented on #11830
alright, unblocked!

[2019-07-22 13:51] wagnerand opened #11876 "Allow identification of banned accounts on database level"
Currently, banned accounts are identified by the following conditions:

`users.deleted = 1 AND users.email IS NOT NULL AND users.fxa_id IS NOT NULL`.

This makes it problematic to to identify banned accounts on redash (which is needed for reasons), since we cannot expose the email to redash.

Let's add some way to identify banned users and distinguish them from users who deleted their accounts the

[2019-07-22 14:29] #6668 closed

[2019-07-22 14:29] #11539 closed

[2019-07-22 14:30] EnTeQuAk commented on #11539
I marked this as fixed as I configured uwsgi auto-reload and it seems to work for me locally. That obviously doesn't mean that there won't be an edge-case where it doesn't so let's test this during daily business and see how that goes.

[2019-07-22 15:34] eviljeff commented on #10824
@Patil2099 we're going to keep those RSS feeds - they're developer facing and still work.  It's just that broken redirect.

[2019-07-22 16:14] Patil2099 commented on #10824
@eviljeff  Please Check the PR that I made.

[2019-07-22 16:22] muffinresearch commented on #11284
If the special cased add-ons can be signed as recommended outside our flows, do we need the steps listed above? Especially as presumably the links are going to be pointing to a static site?

[2019-07-22 16:41] muffinresearch commented on #11862
Ok dependabot is now configured.

[2019-07-22 16:41] #11862 closed

[2019-07-22 17:33] eviljeff commented on #11284
We strictly don't need this issue to allow add-ons with only unlisted versions to be to included on the hero shelves with an external link.  They would just be included without strictly being "recommended" on AMO.  (That was my bad to imply that in #11830).

If they are signed as recommended elsewhere (off-AMO) then that's good enough for Firefox.  And there isn't a need to upload the xpis to AMO

[2019-07-22 17:39] eviljeff opened #11882 "Allow addons with only unlisted versions to be linked externally on Primary Hero shelf"
From https://github.com/mozilla/addons-server/issues/11830#issuecomment-513022753

Filing separately because it's a follow on from #11842 - but makes the issue more complicated.

[2019-07-23 10:33] willdurand opened #11888 "Remove `scripts/hash_requirements.py` and update the documentation"
### Describe the problem and steps to reproduce it:

Say you want to add a new python dependency, go to https://addons-server.readthedocs.io/en/latest/topics/development/deps.html.

### What happened?

This page mentions the `scripts/hash_requirements.py` script but it does not work. This page is outdated.

### What did you expect to happen?

A page that explains how to add a new dependency nowada

[2019-07-23 11:17] #11816 closed

[2019-07-23 11:28] Abhi-khandelwal commented on #11888
Hi @willdurand , Can I take this issue ?

[2019-07-23 11:38] EnTeQuAk commented on #11888
Absolutely @Abhi-khandelwal, just let us know when you start working on it and if you need any further guidance.

[2019-07-23 12:26] eviljeff commented on #11810
There aren't many places we use sets, but I noticed we were passing a `set` of addon ids to be re-indexed rather than a `list`.  And as celery json serializes it's parameters and json doesn't do `set`s this might be the error.  #11895

[2019-07-23 12:35] #11317 closed

[2019-07-23 12:43] Abhi-khandelwal commented on #11888
@EnTeQuAk , you can assign this issue to me.

[2019-07-23 14:12] wagnerand opened #11902 "Review page very slow"
### Describe the problem and steps to reproduce it:

Every review page takes lots of seconds (6 or much longer) to load.
Example https://reviewers.addons.mozilla.org/en-US/reviewers/review/lastpass-password-manager takes consistently almost 8s.

### What happened?

Loading a review page: 🐌

### What did you expect to happen?

Loading a review page: ⚡️

### Anything else we should know?

Maybe rela

[2019-07-23 14:27] muffinresearch commented on #11797
@EnTeQuAk any ideas on what a fix for this would take in terms of time?

[2019-07-23 14:28] muffinresearch commented on #11902
Marking as P2 so we discuss this at the stand-up this week. We can always downgrade after then.

[2019-07-23 15:20] #11842 closed

[2019-07-23 17:01] kumar303 opened #11904 "Large files load slowly in the compare API"
### Describe the problem and steps to reproduce it:

* Go to https://code.addons-dev.allizom.org/en-US/compare/502868/versions/1541685...1688187/
* Click on `src/js/editor-popup.js`

This makes the following API request:
[code]

### What happened?

The API response takes 2699ms.

### What did you expect to happen?

The API response should be faster.

### Anything else we should know?

This slownes

[2019-07-23 18:35] EnTeQuAk opened #11906 "Update xpi fixtures to include referenced icons"
addons-linter validates valid icons if they're referenced in the manifest.json

Many of our fixtures define an icon but don't include one. We should clean that up to don't issue needless linter warnings.

I partially cleaned this up as part of https://github.com/mozilla/addons-server/pull/11889 but only as much as possible to get tests to pass as this PR needed to be cherry-picked.

[2019-07-24 06:59] AlexandraMoga commented on #11816
The https://addons.allizom.org/bn-BD/developers/ and https://addons.allizom.org/bn-IN/developers/ URLs are redirected to https://addons.allizom.org/bn/developers/
Also, manually selecting `বাংলা` from the languages list will load the `/bn/` locale

[2019-07-24 09:13] AlexandraMoga commented on #11842
@eviljeff I tried to figure out what can be tested at this point, but I can't find much.
I've noticed the new [`/hero/`](https://addons-server.readthedocs.io/en/latest/topics/api/hero.html?highlight=hero#hero-shelves) endpoint but apart form verifying that the api calls are working, there isn't any data to validate.
I've also tried to generate data from the new ["Hero"](https://addons-internal.sta

[2019-07-24 10:19] eviljeff commented on #11842
It will be easier when #11830 is complete, yes, but it should be possible now to create a `PrimaryHero` instance, link it to a `DiscoveryAddon` and set some details.  Nothing is validated though, and the details for the `DiscoveryItem` are only viewable/editable via the discovery admin at this point.

It won't be used on production for quite a while so there's no urgency to verify.

[2019-07-24 10:48] EnTeQuAk commented on #11797
Ideally not too much, I'll be looking at this today and tomorrow and see where we'll end up. Just noticed the higher priority issue #11902 and maybe investigation shows other slow downs too.

[2019-07-24 10:53] EnTeQuAk commented on #11902
I can look at that as part of #11797, I wonder if the deleted entries might be behind this again but we'll see.

[2019-07-24 10:54] EnTeQuAk commented on #8786
I'm closing this one as we're investigating this through other channels.

[2019-07-24 10:54] #8786 closed

[2019-07-24 10:54] EnTeQuAk commented on #7171
I'm closing this one as we're investigating this through other channels.

[2019-07-24 10:54] #7171 closed

[2019-07-24 12:08] muffinresearch commented on #11801
Ok so if I understand correctly the action here is to remove this cron and the script.

[2019-07-24 12:09] muffinresearch commented on #11797
Marking this as p2 too since it's probably related to #11902.

[2019-07-24 12:16] muffinresearch commented on #11675
I'm going to close this on the basis that the API response should tell you what's wrong. If you have further questions about it please re-open this issue.

[2019-07-24 12:16] #11675 closed

[2019-07-24 12:20] muffinresearch commented on #11817
Alternatively if we don't mind we can just make this change now and update the data to make it work.

[2019-07-24 12:34] #11888 closed

[2019-07-24 12:40] AlexandraMoga opened #11914 "Reviewers browse api returns empty content for a file that should have content"
**STR:**

1. Request the following file details:
[code]
2. Check the `content` and the `mime_category` values

**Actual result:**
`content` is empty and the returned `mime_category` is `binary`

**Expected result:**
When downloaded, the file looks like a normal .js file, therefore it should have some displayable content

**Notes:**
- You can download the file here: https://code.addons-dev.allizom.

[2019-07-24 14:19] #10824 closed

[2019-07-24 14:23] EnTeQuAk opened #11920 "Add specific documentation for diff structure in reviewers compare api"
In https://github.com/mozilla/addons-server/pull/11912 I mentioned it, we are going to have to document the `diff` structure to a much deeper extend than we currently do, e.g specify possible values etc.

[2019-07-24 14:26] #11855 closed

[2019-07-24 14:46] EnTeQuAk commented on #11737
That would significantly reduce it's performance for every search though. How much would that be used and how much value would be in there?

Do you have any specific scenarios where a prefix search won't give you the results you need?

[2019-07-24 14:52] EnTeQuAk commented on #11337
You may have to run `chown -R USER:USER ./storage` to transfer ownership back to you. That'll fix your problems.

If you run into any further problems, please let us know.

[2019-07-24 14:52] #11337 closed

[2019-07-24 15:13] peiying2 commented on #11816
@AlexandraMoga the same merge requests were completed for AMO linter and AMO Frontend. When all the codes are pushed to production, the behavior should be consistent.

[2019-07-24 16:36] wagnerand opened #11921 "Limit body of abuse reports to 10,000 characters"
We need to limit the body of abuse reports (both on AMO and coming from Firefox) to avoid issues and prevent misuse. The limit should be 10,000 characters.

[2019-07-24 17:20] eviljeff commented on #11801
yep.  We're going to remove it rather than try to fix it.

[2019-07-24 17:34] jrbenny35 opened #11922 "[Integration-Tests] CircleCI job is running forever due to a linter error"
Looks like the integration test job is running continuously as the addon that is submitted for the upload > approve > install test is failing to pass the linter checks.

[2019-07-24 17:44] caitmuenster commented on #11122
Go for it, @rbrishabh!

[2019-07-24 18:08] #11922 closed

[2019-07-25 05:34] EnTeQuAk commented on #11765
There is a new release that contains this fix out now.

[2019-07-25 06:51] AlexandraMoga commented on #11662
This has been verified as part of #11782. Also, https://github.com/mozilla/addons-code-manager/issues/856 can't be reproduced anymore.
I'm marking the issue as verified fixed.

[2019-07-25 08:50] #11921 closed

[2019-07-25 10:00] #11841 closed

[2019-07-25 14:36] EnTeQuAk commented on #11765
Actually, it might not be it yet… https://github.com/mozilla/addons-server/pull/11899#issuecomment-514906114

[2019-07-26 08:17] Abhi-khandelwal commented on #10642
@EnTeQuAk , Can I work on this issue ?

[2019-07-26 08:36] Abhi-khandelwal commented on #10111
@AlexandraMoga , is this issue still open? can i work on it?

[2019-07-26 10:36] eviljeff commented on #10642
@Abhi-khandelwal you _can_ but it's a very undefined task, and not particularly exciting (unless you really like static typing and python).  I'd advise looking at another issue tbh.

[2019-07-26 10:47] #10642 closed

[2019-07-26 10:47] EnTeQuAk commented on #10642
This won't be happening anytime soon, as such I'm closing it.

[2019-07-26 11:26] Abhi-khandelwal commented on #10642
Ok @eviljeff :)

[2019-07-26 12:02] Rob--W opened #11937 "Map edition=MozillaOnline to edition=china"
In order to tailor recommendations for the China repack of Firefox, we'd like the `edition=MozillaOnline` parameter to be mapped to `edition=china`.

See https://bugzilla.mozilla.org/show_bug.cgi?id=1564731

On Firefox's side, we would include `&edition=%DISTRIBUTION%` in the API URL for the disco pane. So `edition` would then not only contain `china` or `MozillaOnline`, but also potentially anyth

[2019-07-26 13:34] muffinresearch commented on #11937
@eviljeff would you be ok to take this on for release some time within the next few releases?

[2019-07-26 13:38] eviljeff commented on #11937
`edition=china` or `edition=MozillaOnline` will be both be returned as `edition=china` is today; any other value for `edition` (or omitted) will be treated as `edition=default`.

[2019-07-26 14:30] EnTeQuAk commented on #11765
https://github.com/encode/django-rest-framework/issues/6836 with upstream PR https://github.com/encode/django-rest-framework/pull/6837

[2019-07-26 14:53] #11853 closed

[2019-07-26 17:44] muffinresearch commented on #11817
@EnTeQuAk - could you liaise with Scott next week to see about making the change to withhold `heading_text `from the API response? I'm thinking if this can go out in the push for the 8th that should be fine, which will give you until to the 6th August to land it.

[2019-07-26 18:10] Abhi-khandelwal commented on #11852
Can I work on this issue ?

[2019-07-26 18:11] willdurand commented on #11852
@Abhi-khandelwal sorry, I don't think this issue is open to external contributions yet. We need to plan a bit more I believe.

[2019-07-26 18:13] Abhi-khandelwal commented on #11852
ohk @willdurand

[2019-07-26 20:10] devaneymoz commented on #11817
If we're landing this to go live on 8 Aug, I would wait to adjust copy just a day or two beforehand, since copy changes made in admin reflect pretty quickly on site.

[2019-07-27 10:24] bjherbison opened #11944 "Remove "—" entries from the content review list"
In the content review list there are some entries with a name of "—" (U+2014, em-dash), no version, and no link.

Currently there are two of these on the first page of content review (add-on IDs 13949, 14004), and some on later pages.
https://reviewers.addons.mozilla.org/en-US/reviewers/queue/content_review#review-actions

![Screenshot_2019-07-27 Reviewer Tools Add-ons for Firefox](https://user-im

[2019-07-27 18:55] Patil2099 commented on #11944
Can I work on this ?

[2019-07-29 08:16] ioanarusiczki commented on #11825
@eviljeff Sorry for the late answer, I've been away.

I checked this again with FF68 (win10) and I could reproduce it on dev : adding and removing works but when all themes are removed and django shows no content in this collection the frontend will continue to display the following 3 themes:

504236 Underwater Dolphins
616881 Bubble mode 7
498533 Flag of Colombia

If I leave one the frontend will

[2019-07-29 08:48] wagnerand commented on #11944
Hi @Patil2099. The cause of this issue is unknown to me at the moment, do you know what's causing it and what's necessary to fix it?

[2019-07-29 09:06] ioanarusiczki opened #11948 "The message won't show the correct number of items in a collection"
While testing for https://github.com/mozilla/addons-server/issues/11825 I've noticed the following:
1. Load django admin admin/models/bandwagon/collection/
2. Click a collection and add or remove some extensions or themes
3. Observe the number displayed by the message after the changes were saved

Expected result:
The number is correct.

Actual result:
The previous number of extensions is displaye

[2019-07-29 09:34] diox commented on #11944
Looks like those add-ons are super old and simply have no name at all in the database, causing the issue. I don't think we should change the code to remove them - it's likely that they should be rejected entirely instead (it should be impossible for new add-ons to get in this state).

[2019-07-29 09:36] EnTeQuAk commented on #11790
So, from what I read in the code so far I started to work on a task that tries to come up with a list of add-on ids that need a recalculation of the risk score by looking at abuse reports and ratings that happened in the last six weeks for abuse reports and a year for negative ratings and simply do a full recalc for those (to re-use the task and code we already have).

Ideally the recalc task will

[2019-07-29 09:37] diox commented on #11802
If you haven't agreed to the latest version, the developer agreement should be shown at upload time in devhub or when visiting the api keys page for the affected account.

[2019-07-29 09:47] diox commented on #11819
Yeah, this will only happen locally, because we do this in `settings.py` (used only for local installs):
[code]

To fix this, we should use logic similar to what `debug_toolbar` is doing (including checking for a class inheriting from `GZipMiddleware` and not directly `GZipMiddleware` itself, cause we're using a custom one) to find where the gzip middleware is and insert debug toolbar after it.

[2019-07-29 09:57] diox commented on #11910
Django's CSRF protections do include `Referer` header checking, so it's expected behavior.

[2019-07-29 09:57] #11910 closed

[2019-07-29 10:00] diox commented on #11902
Note that this review page has a lot of user reviews and reports. Maybe there is something to investigate there as well.

[2019-07-29 10:13] diox commented on #11876
We only need to know if `email` is not empty for this query though, so can't you expose that info and just that to redash instead ?

[2019-07-29 11:17] wagnerand commented on #11876
We need both `email` and `fxa_id` (for some reason I forgot). We can't expose whether it's empty or not since redash is basically a user on the AMO db that has access to certain columns per table.

[2019-07-29 11:19] diox commented on #11659
This is low priority for us for now and we aren't sure what's going on yet. So if you can figure out everything entirely by yourself - both what's happening exactly and what's needed to fix it - yes. Otherwise, no.

[2019-07-29 11:20] diox commented on #11487
Is it still an issue following the fix in https://github.com/mozilla/addons-server/issues/10403 ?

[2019-07-29 11:35] diox commented on #11876
I was thinking it was akin to a sql view and we could leverage that to expose "virtual" columns that represent more complex data we don't want to expose.

If it can't be done that way, then we could avoid the new column by having a separate table storing just the ban date for banned users for instance.

[2019-07-29 13:00] eviljeff commented on #11825
if the themes are still showing as recommended in the frontend (and they are in the api response too), but aren't in the featured themes collection, then it's possible (probable, imo) they've been directly added as a recommendable add-ons and then approved - i.e. the have DiscoveryItem entries that have been marked as `recommendable` and then the next version approved)

[2019-07-29 13:11] AlexandraMoga commented on #11855
@EnTeQuAk is the UI impacted in any way? For the record, I've been using a display name with `<` and `>` for some time now but there haven't been any errors. I guess this was only a backend issue.
Let me know if there is anything to test here, otherwise please add a "qa:not needed" label.
Thanks.

[2019-07-29 13:57] AlexandraMoga commented on #11841
@eviljeff if I understand correctly, this command should populate the "Previously deleted entries" section with all the deleted add-ons that used the same guid.
If that is the case, I'm having a hard time finding a good example to test with among the ~1000 add-ons that are pending review on -dev.
Is there a more practical way to verify that this works?

[2019-07-29 14:14] ioanarusiczki commented on #11921
@EnTeQuAk
For 10001 chars (using a nice tool https://www.blindtextgenerator.com/lorem-ipsum) I receive the message "Ensure this field has no more than 10000 characters." Right now the stage server still allows more than 10001 chars in the `message`, (as double checking).

![100001 chars not allowed](https://user-images.githubusercontent.com/33448286/62055320-0db45680-b224-11e9-8c9e-63a0a3df420c.pn

[2019-07-29 14:27] wagnerand commented on #11921
@ioanarusiczki Could you test this again from within Firefox once the patch lands on prod (after this Thursday), please?

[2019-07-29 14:32] ioanarusiczki commented on #11921
@wagnerand Sure, I'll update this issue on Friday.

[2019-07-29 14:35] wagnerand commented on #11921
Thank you! Note that you likely won't see much feedback inside Firefox (that will be worked on in the future), so you probably want to monitor the "Network" panel in the devtools when submitting the abuse report from Firefox. The request to AMO should respond with an HTTP status > 400.

[2019-07-29 15:20] jrbenny35 opened #11952 "Write a python script to generate a UUID for the fxa email within the integration-tests."
It seems that the UUID package will randomly not resolve. This add extra flakiness to the integration tests on circleci that really shouldn't exist. We should build a simple python script to generate an fxa email the tests can use.

[2019-07-29 15:21] jrbenny35 commented on #11952
Log of the failure:
[code]

[2019-07-29 15:33] eviljeff commented on #11815
https://docs.google.com/drawings/d/1zoYMuPPXad1VVgTn5NZQdHKFpcpgPHP43J5BfSLx2mY/edit

[2019-07-29 15:40] eviljeff commented on #11948
It's just django admin constructing the success string before the save has completed.  As it's entirely admin-facing I don't think it's worth fixing.  We can re-open if one of the (few) users of admin particularly wants it correcting.

[2019-07-29 15:42] #11948 closed

[2019-07-29 16:16] #11830 closed

[2019-07-29 16:16] mstriemer commented on #7535
This is affecting Firefox too, which I think would be expected. It looks like we'll find release notes and show the Release Notes button but then there's nothing there once it loads. Reported in [bug 1564497](https://bugzilla.mozilla.org/show_bug.cgi?id=1564497), but the reporter noted that this has been happening for a while.

[2019-07-29 16:42] mstriemer commented on #7535
For reference, Firefox is going through these requests (this is for the GB spell checker that the bug was reported for):

  * https://addons.mozilla.org/versions/updateInfo/4823513/en-US/ -> 301
  * /en-US/firefox/versions/updateInfo/4823513/en-US/ -> 301
  * /en-US/firefox/addon/461570/versions/2.75/updateinfo/ -> 301
  * /en-US/firefox/addon/british-english-dictionary-2/versions/2.75/updateinfo/

[2019-07-29 17:17] bjherbison commented on #11944
The first has 14,798 downloads (and a name of None). The next has over 9000. Could someone add a name to the database?
https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/gutscheinerabatte
https://reviewers.addons.mozilla.org/en-US/reviewers/review-content/tageshoroskop-das-t%C3%A4glich-f

In any case, I hacked up an URL and content-approved them. Do this is now a DB issue and not

[2019-07-29 17:38] #11944 closed

[2019-07-29 17:56] Patil2099 commented on #11775
Can I work on this @eviljeff ?

[2019-07-29 18:33] eviljeff commented on #11775
I think you just need to drop the abuse report inclusion from the specific abuse-reports template, but I've not looked through the code.

[2019-07-29 18:34] Patil2099 commented on #11775
I will look through that template and inform you about it. @eviljeff

[2019-07-29 20:57] jvillalobos opened #11958 "Stop sending email for abuse reports"
The introduction of abuse reports in `about:addons` has caused the volume to increase to a level that we can't manage by scanning the emails being sent to the admins list. Nobody is looking at the emails anymore, so let's get rid of them. We have better ways to go through them now.

[2019-07-30 07:33] Patil2099 commented on #11775
@eviljeff  I saw that reviewers/addon_details_box.html had a abuse reports table in it so I removed the table from abuse_reports.html because addon_details_box.html was included at various places but the abuse_reports.html was not so I changed abuse_reports.html. The expected result was achieved by it.

[2019-07-30 07:47] EnTeQuAk commented on #11790
@jvillalobos in https://github.com/mozilla/addons-server/pull/11950 I implemented this by looking only at abuser reports and ratings for indicators if the score needs to be recalculated or not.

Users are not taken into account, as this would make the PR much more complicated and it could be done in a follow-up.

For that to happen we'd need to know if we actually want to issue recalculation based

[2019-07-30 08:09] Patil2099 commented on #11121
@diox  do we have to add a validation to the forms.py file. If yes, Can I take this?

[2019-07-30 08:30] EnTeQuAk commented on #11855
Added the not-needed label, thanks for following up.

[2019-07-30 08:32] EnTeQuAk commented on #11838
Downgrading priority on this.

[2019-07-30 09:27] diox commented on #11121
Yes. You might run into other issues though, since we display the compatible apps dynamically. Try it out locally!

[2019-07-30 09:49] #11937 closed

[2019-07-30 10:01] l-hedgehog commented on #11937
Thanks!

[2019-07-30 10:18] AlexandraMoga commented on #11842
Verified fixed on -dev
Both endpoints are returning the add-on details  with the hero customization added in Discovery items.
`GET /api/v4/hero/`  - brings only one add-on randomly selected from the pool of Enabled primary heroes
`GET /api/v4/hero/primary` - brings the list of all Primary heroes enabled at a given moment

*Note: the `description` field will return the Custom description string add

[2019-07-30 11:25] eviljeff commented on #11841
this was the log from addons-dev when I ran it there:
[code]

[2019-07-30 11:28] eviljeff commented on #11841
From the log, https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/langpack-acyy@firefox.mozilla.org | https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/616584 is an example of a guid that has been deleted and reused a number of times.

[2019-07-30 11:43] AlexandraMoga commented on #11830
I've verified on -dev the Primary Hero section added to https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/discoveryitem/116/change/ and I have the following results:

- only add-ons with a Recommended state can be selected for the primary hero shelf; all other states will trigger the following error:
![image](https://user-images.githubusercontent.com/31961530/62125223-347e9580-b2

[2019-07-30 11:43] eviljeff commented on #11810
closing this for now; assuming the fix works.  Re-open if it's still timing out.

[2019-07-30 11:43] #11810 closed

[2019-07-30 11:43] AlexandraMoga opened #11966 "[Primary hero] Images and gradient colors are not correctly displayed"
### Describe the problem and steps to reproduce it:
1. Log in to AMO -dev with an admin account
2. Open the details for a discovery item - see https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/discoveryitem/116/change/
3. Scroll down to the Primary hero section
4. Observe the layout of the images and gradient colors available for selection

### What happened?
Images and gradient

[2019-07-30 11:44] AlexandraMoga opened #11967 "[Primary hero] View on site option is triggering a 500 error"
### Describe the problem and steps to reproduce it:
1. Log in to AMO -dev with an admin account
2. Open the details for a discovery item which was selected for the primary hero shelf - see https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/discoveryitem/116/change/
3. Scroll down to the Primary hero section
4. Click on View on site

### What happened?
You land on https://addons-in

[2019-07-30 12:54] AlexandraMoga commented on #11841
Filling in with another example - https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/01c0f48c41524035bb5f
I think we can mark this issue as verified fixed on -dev.

[2019-07-30 12:58] #11852 closed

[2019-07-30 13:05] #11958 closed

[2019-07-30 13:06] wagnerand commented on #11958
QA: When an abuse report is being created in Firefox or on AMO, it should still be recorded on AMO as usual, but no email should be sent out.

[2019-07-30 14:08] AlexandraMoga commented on #11937
Verified on -dev with the [Discovery](https://addons-server.readthedocs.io/en/latest/topics/api/discovery.html#get--api-v4-discovery-) api:

https://addons-dev.allizom.org/api/v4/discovery/?edition=china and https://addons-dev.allizom.org/api/v4/discovery/?edition=MozillaOnline will return the same alternative results for the discovery pane.

https://addons-dev.allizom.org/api/v4/discovery/, or ht

[2019-07-30 14:16] EnTeQuAk opened #11969 "Implement jinja bytecode cache"
We dropped template caching during our upgrade to django-jinja and never ended up re-implementing it.

Let's do that.

Theoretically it's just a matter of adding `django_jinja.builtins.extensions.CacheExtension` to the extensions list, and adding

[code]

to the `OPTIONS` configuration (and `enabled: False` to the local config)

[2019-07-30 14:38] #11952 closed

[2019-07-30 15:26] eviljeff opened #11971 "optimize queries for hero views"
We should check if the hero views aren't doing a stupid number of queries on each API request and optimize.

[2019-07-30 16:56] mkaply opened #11972 "AMO should honor canUninstall property and not allow some addons to be uninstalled."
### Describe the problem and steps to reproduce it:

Install and lock an addon from using Firefox policy.
Go to AMO for that addon.
Verify the addon can be removed.
Example policy for Facebook container:

{
  "policies": {
    "Extensions": {
      "Install": ["https://addons.mozilla.org/firefox/downloads/file/3302011/facebook_container-2.0.1-fx.xpi"],
      "Locked":  ["@contain-facebook"]
    }

[2019-07-30 18:05] #11790 closed

[2019-07-30 19:49] jvillalobos commented on #11790
I think we can skip recalculating for ADI changes for now.

[2019-07-31 05:59] AlexandraMoga commented on #11852
Could you please add STR or the label qa:not needed?
Thanks

[2019-07-31 07:36] EnTeQuAk opened #11980 "Upgrade Python to 3.8"
We are currently using Python 3.6 in our docker environment. We should fairly easy be able to upgrade to ~~3.7~~ 3.8.

Python 3.6 is already in "security fix only"-mode and doesn't receive any further bugfixes should they be needed.

Aside from many useful features, Python 3.7 is supposed to be one of the fastest releases of the CPython environment yet.

[2019-07-31 08:46] diox commented on #11980
We were (are?) blocked by https://github.com/celery/celery/issues/4849 when we migrated to Python 3 for the record, and that's why we chose Python 3.6.

[2019-07-31 08:54] willdurand opened #11981 "Create database table and model for `YaraResults`"
In order to store the results of the `yara` execution, we need a table and a Django model, named `YaraResults`. This model will have 1-1 relations with `FileUpload` (not null) and `versions.Version` (nullable).

[2019-07-31 08:58] EnTeQuAk commented on #11980
I know, all this can theoretically tackled once we upgraded to 4.3 as part of #9068

[2019-07-31 09:11] AlexandraMoga commented on #11790
@EnTeQuAk are you going to run the re-calculation script on -dev?

[2019-07-31 09:11] willdurand opened #11982 "Create a Django admin for `YaraResults`"
In order to view the `yara` results, we need a simple read-only Django admin. The list view should display:

- upload id (link to the detail view)
- add-on name with a link to the reviewer page
- channel
- matched rules

![Screen Shot 2019-07-31 at 11 09 24](https://user-images.githubusercontent.com/217628/62199461-d361cb00-b383-11e9-8f5d-74db1463ecc0.png)

The default detail view is probably fine

[2019-07-31 09:26] willdurand opened #11983 "Create a task to run `yara`"
We need a new Celery task to run yara. The task will:

- only target web extensions
- ~~unzip file uploads~~ edit: we can directly read the content of (each file of) the xpi
- compile the yara rules
- run yara on all the files ~~of the unzipped upload~~
- create a new `YaraResult` (cf. #11981) object
- ~~delete the unzipped file upload~~

If an exception occurs, we should log it but we should not

[2019-07-31 09:26] willdurand commented on #11983
Do you think I can use the waffle flag in the task directly? (early returning if the flag is `off` for instance)

[2019-07-31 09:27] willdurand commented on #11983
@diox Do you think I can use the waffle flag in the task directly? (early returning if the flag is `off` for instance)

[2019-07-31 09:43] eviljeff commented on #11980
Celery wasn't the only python3.7 blocker during the 2.7->3.6 upgrade iirc. Have you tried 3.7 on a branch yet?

[2019-07-31 09:43] EnTeQuAk commented on #11980
No, I only filed the issue :laughing:

[2019-07-31 10:21] diox commented on #11983
Use a switch instead of a flag (we don't need the added complexity of the flag).

Ideally, we wouldn't even add the task to the flow if the switch is off. If it makes your life easier, you could do an early return in the task instead, but that means firing up an extra useless task that's going to sit in the celery queue, so best to avoid it if possible.

[2019-07-31 10:41] willdurand opened #11984 "Create a Celery chords for tasks between `repack` and `handle_upload_validation_result`"
After #9068, we should create a _chord_ to run the Celery tasks of the submission process in parallel. The chord should be executed after _repack_ and should end with `handle_upload_validation_result`.

Doing this will allow us to add more tasks in parallel, such as the yara task described in #11983.

[2019-07-31 12:49] EnTeQuAk commented on #11790
Yes, I will be running it on -dev. Ideally we should prepare an already confirmed (public) add-on and report for example an abuse against it so that we could test that it actually works.

I can do that, or do you want to to directly confirm it's working?

The same scenario maybe with a rating. The descriptions in https://github.com/mozilla/addons-server/commit/1e0351c37c100f191526ba31730bbfd28db23

[2019-07-31 15:18] ioanarusiczki commented on #11958
@wagnerand I tested this on -stage with FF68(Win10). Here are my results:
- I sent a report from AMO (from the extension/theme detail page) and checked the fake mail where I did not find e-mails sent to amo-notifications+abuse@mozilla.org.
The reports are available in  the admin tool  Abuse Report en-US/admin/models/abuse/abusereport/
Same if I tested with Postman - through API.

- When I send a r

[2019-07-31 15:27] wagnerand commented on #11958
@ioanarusiczki I am not sure that Firefox pref will also change the abuse report endpoint, so maybe that abuse report sent from Firefox reached prod. Can you tell me what the add-on ID is you reported abuse for?

[2019-07-31 15:54] ioanarusiczki commented on #11958
@wagnerand
Stage ID 9609 Name: Ghostery
https://addons.allizom.org/en-US/firefox/addon/ghostery/
I also tried with https://addons.allizom.org/en-US/firefox/addon/mitzuluc/
ID 620313

[2019-07-31 15:56] wagnerand commented on #11958
@ioanarusiczki Yes, I can see your abuse report for Ghostery on prod. The abuse report message is "This is a test for admin tools stage - no e-mail should be received".

[2019-07-31 15:58] caitmuenster opened #11986 "Re-sort content review queue by most recently updated"
Currently the content review queue is sorted by "oldest to most recent" updates.

We'd like to flip it to be sorted from "most recent to oldest" updates for the August 8 push.

[2019-07-31 16:18] diox commented on #11820
See also https://github.com/mozilla/addons-server/issues/11902

[2019-07-31 16:55] kumar303 opened #11987 "Support compare mode for reviewing new add-ons"
### Describe the problem and steps to reproduce it:

* As a developer, submit a brand new, shiny add-on
* As a reviewer, try to use the *Compare* mode to review that add-on submission

### What happened?

There is no link to a *Compare* mode in the reviewer tools so this is not possible.

### What did you expect to happen?

This should be possible. The *Compare* mode for this case should show a di

[2019-07-31 17:07] eviljeff opened #11989 "Add localization support for secondary hero shelves"
#11779 and #11780 require the content to be localized and the "localization should work in the same way as the copy for Recommended extensions" so we need to hook into that.

[2019-07-31 17:11] EnTeQuAk opened #11990 "Fix uwsgi autoreload"
Follow-up of #6668, where I broke autoreload.

We should try and use `py-autoreload` option and see if we notice any problems regarding system performance.

[2019-07-31 17:14] EnTeQuAk opened #11991 "Fix `make debug` with uwsgi"
Follow-up of #6668, where I broke `make debug`

Either find a good solution for remote ipdb or use uwsgi's `--honour-stdin` option, which does sound promising.

[2019-07-31 17:16] willdurand commented on #11984
@diox I suppose we could do that as soon as #11983 lands, no? It seems only the linter task would be part of the set of parallel tasks, right? Once we have that, it should be relatively easy to add the yara task (#11983).

[2019-07-31 19:08] eviljeff commented on #11967
It's there by default - I overlooked removing it.

[2019-07-31 19:08] diox commented on #11984
Yes, and in fact that'd probably be a great thing to try without adding extra features like yara, just making a (dumb) chord and see if it still works.

[2019-07-31 19:12] eviljeff commented on #11966
wfm.  Maybe you need to force-refresh to clear the css file in the cache?

[2019-08-01 07:25] AlexandraMoga commented on #11790
@EnTeQuAk I've tried to summarize my results in a report which you can inspect [here](https://docs.google.com/spreadsheets/d/1IWSpL5_VR48XRF4sAssT9xD8MygFeOiv12F6bBsFCWc/edit#gid=0)
*Note that I've highlighted with red the weights that don't add up and with green those that look correct.

The basis of my analysis was this statement:

So far I have gathered the following observations:
- bad ratings

[2019-08-01 07:38] ioanarusiczki commented on #11853
@EnTeQuAk Can qa verify these changes or it's a qa not needed?

Clearly https://github.com/mozilla/addons-code-manager/issues/877 can be verified by qa when it lands.

[2019-08-01 08:13] ioanarusiczki commented on #11958
@wagnerand Thanks for checking!
I receive the abuse reports in stage after I modified `extensions.abuseReport.url`

[2019-08-01 08:21] rbrishabh commented on #11122
I am unable to run addons-server with docker on my machine. Is there any other way around this?

Thanks!

[2019-08-01 08:23] AlexandraMoga commented on #11966
Indeed, fixed by a force refresh:

![image](https://user-images.githubusercontent.com/31961530/62277350-ab8b6980-b44e-11e9-9f71-d0f7da191ffc.png)

[2019-08-01 08:23] #11966 closed

[2019-08-01 09:01] madalincm opened #12157 "“Edit Product Page” isn’t highlighted for an add-on with kanji characters in Developer Hub"
### Prerequisites:
User should have an account in order to log in and should have an add-on with kanji characters submitted.

### STR:
1. Access Developer Hub homepage: https://addons.allizom.org/en-US/developers/.
2. Click “My Add-ons” from the top menu bar, once the user is logged in.
3. Click the “Edit Product Page” link, located at the bottom of the kanji characters add-on.
4. Observe the page

[2019-08-01 11:26] EnTeQuAk commented on #11790
That is perfectly fine and how it has been working since forever.

Indeed, approval and rejection actions update the `modified` date ot the approval-summary object so should be taken into account. E.g, the following scenario should be working:

* Developer submits a new version on Monday
* The version get's auto-approved shortly after
* A new abuse report is being reported against that version
* A

[2019-08-01 12:53] AlexandraMoga commented on #11790
@EnTeQuAk

The following two examples have been recalculated, but according to what is expected, they shouldn't have been included:

[Example 1](https://reviewers.addons-dev.allizom.org/en-US/reviewers/review/perspicacious1)
 - submitted and auto-approved on Dec. 4, 2018, 12:15 p.m
 - has received 5 abuse reports from the auto-approval time until July 30, 2019, 6:36 a.m.
 - Approval is confirmed o

[2019-08-01 13:21] EnTeQuAk commented on #11174
I'm closing the PR, last time we discussed this we ended up deciding that the current behavior is perfectly fine for now.

[2019-08-01 13:21] #11174 closed

[2019-08-01 14:45] jrbenny35 opened #12000 "Remove reruns from circleci integration-test job"
With our test env and setup, it is hard to rerun a test as there may be database changes that are needed, or files that should be uploaded. I think it is better if we just fail the test as the reruns seem to run forever, or until circleci times out the job.

[2019-08-01 14:50] EnTeQuAk commented on #11790
Short update on that. With #11997 I disabled the weekly crontab so that we have more time to test this and fix issues if they occur.

So, this lands this week but it won't be executed until we decide to do that on our own. Probably not till the next tag.

#11997 Fixes the recalculation to only take the current version into account (once merged).

I'll check the mentioned examples later today.

[2019-08-01 16:20] #11981 closed

[2019-08-02 06:14] Alien426 commented on #11174
"src\olympia\files\utils.py"
line 1036: "if addon and addon.guid != guid:" (standard Python - case-sensitive)
line 1041ff: "Addon.objects.filter(guid=guid).exists()" (Django / MySQL)

"As a convenience when no lookup type is provided [...] the lookup type is assumed to be >exact<."
"In MySQL, a database table’s “collation” setting determines whether >exact< comparisons are case-sensitive. This is

[2019-08-02 10:19] #11882 closed

[2019-08-02 12:09] #11971 closed

[2019-08-02 12:23] eviljeff commented on #11458
going to forward dupe this to #11876 because it'll fix it and it's a p2.

[2019-08-02 12:23] #11458 closed

[2019-08-02 13:40] #11982 closed

[2019-08-02 13:44] ioanarusiczki commented on #11921
@wagnerand
I verified on stage and prod with FF68 (Win10) and here are my results:
- for reports sent from the addon's detail pages from AMO (with more than 10000 chars) the red message
 ` Please ensure this field has no more than 10000 characters.` is displayed right above the text box.  I also see:

 in the `Console` a yellow warning ->  `Reporting add-on for abuse failed: Error: Error calling:

[2019-08-02 13:47] wagnerand commented on #11921
Thank you @ioanarusiczki. I believe this issue can be marked as verified. I believe the reason you don't see a network request in Firefox for about:addons is that it probably won't be recorded in the network requests for that page. It should be shown in the network panel of the "Browser Toolbox" (which you can access if you have chrome and remote debugging enabled).

[2019-08-02 14:32] willdurand opened #12006 "Execute the `run_yara` task during submission (behind a waffle switch)"
The `run_yara` task (cf. #11983) should run during submission. It should be part of the "submission" chord added in #11984. In order to enable/disable this task, we should use a waffle switch.

[2019-08-02 15:01] willdurand opened #12007 "`YaraResult.matched_rules` should return a unique list"
It is possible to have a Yara rule that matches more than once for a given add-on, most likely because the rules are applied to all the files and it is possible that a rule gets triggered by more than one of these files.

The `matched_rules` property on the `YaraResult` model should return a unique list of rule names, instead of returning all the rule names and potentially duplicate names.

[2019-08-02 15:20] eviljeff opened #12010 "drop the Persona model"
Now we don't have any LWT we can drop the `Persona` model and all references to it.

[2019-08-02 16:07] eviljeff opened #12011 "drop personas and related tables from DB"
follow on from #12010 - can't be merged until after the 2019-08-08 tag, and we might want to keep the data around longer?

Tables:
`personas`
`theme_update_counts_bulk`
`theme_user_counts`

[2019-08-02 16:18] #11967 closed

[2019-08-03 05:44] Abhi-khandelwal commented on #12011
Can I take this issue?

[2019-08-03 06:05] Patil2099 opened #12015 "Unable to run locally"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?
When I run docker-compose exec web make initialize
It throws a lot of errors and I am unable to access the server.
{"Timestamp": 1564811299589151488, "Type": "z.devhub.task", "Logger": "http_app_addons", "Hostname": "fd02bf9da1a8", "EnvVersion": "2.0", "Severity": 6, "Pid": 1611, "

[2019-08-03 17:02] tapaswenipathak commented on #11815
Hello folks: Can I work on the ticket?

[2019-08-03 17:02] tapaswenipathak commented on #11920
Hi @EnTeQuAk: Can I work on the ticket or is the ticket internal?

[2019-08-03 17:03] tapaswenipathak commented on #6452
Hi folks: Can I work on the ticket?

[2019-08-03 17:04] tapaswenipathak commented on #11969
Hi @EnTeQuAk: Can I take the ticket?

[2019-08-03 17:06] tapaswenipathak commented on #11861
Hello folks: Can I add a fix for the ticket?

[2019-08-03 17:10] tapaswenipathak commented on #11135
Hello folks: Can I work on the ticket?

[2019-08-03 17:12] tapaswenipathak commented on #11980
Hi folks: Can I PR for the ticket?

[2019-08-03 17:12] tapaswenipathak commented on #11984
Hello folks: Can I PR for the ticket?

[2019-08-03 17:13] tapaswenipathak commented on #11431
Hello folks: Can I help or is the ticket open?

[2019-08-04 05:59] soniashvin commented on #11122
Hey @caitmuenster, I cannot see the bug, is it fixed? Or I am doing it wrong?
![image](https://user-images.githubusercontent.com/35840223/62420136-07522e80-b6ab-11e9-841f-62fd935de591.png)

[2019-08-05 07:18] EnTeQuAk commented on #12015
The Firefox accounts integration for local development is currently broken on the fxa-side, that's what the error is about.

afaik @b4jand is aware and looking into it, I'm not sure what the current status of it is.

Benny, is there already a tracking issue maybe I'm bugzilla?

On Sat, Aug 3, 2019, at 8:05 AM, Pankaj Patil wrote:

[2019-08-05 08:35] AlexandraMoga commented on #11982
@willdurand is there anything that can be tested around this atm?
I was able to access the view only Yara model with an admin account but there is nothing in there.

[2019-08-05 08:35] AlexandraMoga commented on #11981
Please add STR or the qa:not needed label.
Thanks

[2019-08-05 08:37] #12007 closed

[2019-08-05 08:43] ioanarusiczki commented on #11921
@wagnerand Yes, this issue is verified on AMO with FF68(Win10).
Also https://github.com/mozilla/addons-frontend/issues/8385 is marked verified.

[2019-08-05 08:47] EnTeQuAk commented on #11431
No, this issue isn't really suitable for contributors as it requires quite a few experimentation - locally as well as on our servers.

Please take a look at other issues that have the `contrib: welcome` label.

[2019-08-05 08:48] EnTeQuAk commented on #11984
This issue isn't really suitable for contributors as.

Please take a look at other issues that have the [`contrib: welcome`](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 08:49] EnTeQuAk commented on #11980
This issue isn't really suitable for contributors. It requires lots of testing and can't be solved before  #9068 has been solved.

Please take a look at other issues that have the [`contrib: welcome`](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 08:51] EnTeQuAk commented on #11969
This issue isn't really suitable for contributors. It requires lots of testing and lots of internal knowledge.

Please take a look at other issues that have the [`contrib: welcome`](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 08:51] EnTeQuAk commented on #11920
Unfortunately this issue isn't really suitable for contributors.

Please take a look at other issues that have the [`contrib: welcome`](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 08:53] EnTeQuAk commented on #11815
Unfortunately this issue isn't really suitable for contributors. It has actually been mostly solved with https://github.com/mozilla/addons-server/issues/11815#issuecomment-516042311 and requires quite a lot of understanding of AMO and it's code.

Please take a look at other issues that have the [`contrib: welcome`](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 09:44] wagnerand opened #12019 "Weekly reviewer report: Content-review numbers are too low"
### Describe the problem and steps to reproduce it:

The weekly content-review numbers are lower than they should be.

### What happened?

### What did you expect to happen?

### Anything else we should know?

This happens because search plugins and dictionaries that were submitted before auto-approval don't have an `AutoApprovalSummary`, but the SQL query does a full join.

[2019-08-05 09:44] #11990 closed

[2019-08-05 09:54] #11801 closed

[2019-08-05 09:54] #12010 closed

[2019-08-05 10:31] #11835 closed

[2019-08-05 11:08] AlexandraMoga commented on #11882
Unlisted add-ons are accepted as Primary heroes in Discovery items by marking the `Is external` checkbox
The unlisted add-on needs to have a homepage set in order to be enabled, otherwise the following error will be thrown:
![image](https://user-images.githubusercontent.com/31961530/62459415-f5928900-b787-11e9-86f0-f7200d6f9f2a.png)

Unlike listed add-ons, pure unlisted add-ons don't have to be re

[2019-08-05 11:15] #12019 closed

[2019-08-05 11:24] diox commented on #11135
No, this issue is already assigned. Please take a look at other issues that have the [contrib: welcome](https://github.com/mozilla/addons-server/labels/contrib%3A%20welcome) label.

[2019-08-05 11:47] AlexandraMoga commented on #11990
Please add STR or the qa:not needed label.
Thanks

[2019-08-05 11:52] AlexandraMoga commented on #11967
Verified fixed on -dev

![image](https://user-images.githubusercontent.com/31961530/62462512-4c03c580-b790-11e9-8263-df8f81fc913f.png)

[2019-08-05 12:12] AlexandraMoga commented on #11971
@eviljeff does this require QA?

[2019-08-05 12:14] AlexandraMoga commented on #11835
@eviljeff does this require QA?

[2019-08-05 12:18] AlexandraMoga commented on #11801
@eviljeff does this require QA?

[2019-08-05 12:23] diox commented on #11771
It can be useful, so I'll add it, but I think it'll be difficult to interpret. Failing a restriction check can happen at submission time, but also just when trying to get an API key. In addition, we'd log a failure every time the affected user reloads the page, re-submit their add-on, etc.

[2019-08-05 14:04] #11771 closed

[2019-08-05 14:10] #11560 closed

[2019-08-05 14:22] eviljeff commented on #11882
I didn't see the author listed in the mocks, and as we aren't linking to an add-on that will have a listing page, the user profile page might not exist.  If @bobsilverberg wants it adding to the response I could add it though.

[2019-08-05 14:37] eviljeff commented on #12010
QA: this removes an obsolete model only used for LWT, but due to the amount of code removed, and how closely it was used with the Addon model, it could break pretty much anything.  Look out for regressions in devhub and the addon API responses (search and single addon - detail - responses) in particular.

[2019-08-05 15:02] willdurand opened #12027 "Create database table and model for `ScannersResult`"
In order to store the results of the different scanner executions, we need a table and a Django model, named `ScannersResult`. This model will have 1-1 relations with `FileUpload` (not null) and `versions.Version` (nullable). The model will store the JSON `results` and a reference to the scanner that has produced these results.

[2019-08-05 15:06] willdurand commented on #9068
@EnTeQuAk what's the status of this issue? thanks!

[2019-08-05 15:10] jrbenny35 commented on #12015
We just filed an issue here: https://github.com/mozilla/fxa/issues/2074

Could be a good idea to put a ```try/except``` block around the installation addons, but not quite sure as fxa has been fine for a while now.

[2019-08-05 15:13] jrbenny35 commented on #12015
@Patil2099 you probably don't need to run the setup for ui-testing locally. You could get rid of this line in this file: https://github.com/mozilla/addons-server/blob/master/Makefile-docker#L97 until the problem is resolved.

[2019-08-05 16:24] diox commented on #11772
Doing this should help admins make decisions when they receive complaints by blocked users. There is a possibility that the tables storing the data might grow very fast, but hopefully the rate limits should prevent that from being too much of an issue.

Clearing data is covered by https://github.com/mozilla/addons-server/issues/11773

[2019-08-05 16:46] eviljeff opened #12030 "remove references to ADDON_PERSONA"
And other persona related code.

[2019-08-05 20:07] jvillalobos commented on #11882
I would prefer that we don't disclose authors for unlisted add-ons, since they might not expect to be exposed that way. We can revisit this if the design of the hero area changes.

[2019-08-06 06:03] AlexandraMoga commented on #12007
Please add STR or the qa:not needed label
Thanks

[2019-08-06 06:43] EnTeQuAk commented on #12015
The login should be fixed now: https://github.com/mozilla/fxa/issues/2074

[2019-08-06 06:43] #12015 closed

[2019-08-06 06:44] EnTeQuAk commented on #12015
Unsure, you won't be able to login too, so there's various things not working for local development in case of fxa being down.

[2019-08-06 06:54] EnTeQuAk opened #12035 "Optimize SQL for discovery items"
![Screenshot from 2019-08-06 08-49-32](https://user-images.githubusercontent.com/139033/62517490-cb90a380-b827-11e9-92d6-3c33c8bbefee.png)

[2019-08-06 07:39] willdurand commented on #11982
@diox @EnTeQuAk do you think we can inject fake data in -dev so that QA can verify the admin? Or should we just wait until we have real data coming from the Celery task?

[2019-08-06 09:07] ioanarusiczki commented on #12019
@wagnerand  If this issue can be verified on the testing environments can you provide some steps to reproduce for QA?
I currently see on dev and stage a large number of add-ons in the content review queue (over 5000 on dev and over 4000 on stage).

[2019-08-06 09:24] diox commented on #11982
I'd inject fake data and then remove it later once QA are done or make it very clear that it's fake so that we don't end up wondering what's going on later :p

[2019-08-06 09:27] wagnerand commented on #12019
@ioanarusiczki I don't think this can be tested before it lands on prod. If you want to test this, you would do a bunch of content-reviews for dictionaries and search plugins that were submitted before auto-approval was enabled for them (a safe bet is 2016 and earlier). Make not how many you reviewed and that number should be in the report that is generated next Monday.

[2019-08-06 09:33] AlexandraMoga commented on #11560
@diox what's the best way to test this? For starters, I can't even reproduce this STR on stage:

last_login_ip gets cleared on account ban

I am looking in `https://addons-internal.stage.mozaws.net/en-US/admin/models/users/userprofile/<userId>/change/` to get the Last login ip of the user I've just banned, but I see that the IP is still displayed.

As for -dev, I don't have examples of banned user

[2019-08-06 09:44] diox commented on #11560
`last_login_ip` *used* to be cleared immediately on ban, that was changed 2 months ago in https://github.com/mozilla/addons-server/pull/11596. The change I made here was that a year after the banned user has been last modified (*), that IP will be cleared.

(*) approximation of what was originally asked for that should be good enough for us.

We can alter that modification date for specific users

[2019-08-06 09:45] AlexandraMoga commented on #11982
Just an input: will this fake data allow an end-to-end testing of the feature? Otherwise, I'm not sure how useful it will be for us.

[2019-08-06 09:48] willdurand commented on #11982
@AlexandraMoga this will populate the database table with almost real data (or even, real data from my local setup). Given that the admin is read-only, I think it will be a pretty accurate/good way of testing this admin.

[2019-08-06 10:25] wagnerand commented on #8094
This is not properly solvable without #8041, so the interim solution here is to allow content-review even if the admin code flag is set.

[2019-08-06 10:25] #8094 closed

[2019-08-06 10:34] AlexandraMoga commented on #11560
Id | Banned | Last known activity time (ban date)
-- | -- | --
10641911 | Yes | Aug. 6, 2019, 9:55 a.m.
10641545 | Yes | Aug. 6, 2019, 9:58 a.m
10641834 | Yes | Aug. 6, 2019, 10:16 a.m.
10641830 | Yes | Aug. 6, 2019, 10:21 a.m.

@diox, if possible:
For the first Id, the last modified date should be `year - 1 day`
For the second Id, the last modified date should be `exactly one year`
For the last t

[2019-08-06 10:38] diox commented on #11560
The cron runs at 06:01 UTC every day. I can force it to test the command but it's probably best to wait for it to fire "naturally". With that in mind, for `exactly one year` in your tests, what's the exact date & time you want ?

[2019-08-06 10:40] #11817 closed

[2019-08-06 10:54] AlexandraMoga commented on #11560
If `year` is 365 days,  then my date should be Aug. 6, 2018, 9:58 a.m

[2019-08-06 11:18] EnTeQuAk opened #12039 "Remove queue counts from most reviewer pages"
We don't show the query counts on most of the pages in the reviewer tools anymore.

Let's remove them entirely too then.

Part of #11902

[2019-08-06 11:21] diox commented on #12039
This hasn't been useful for a long time, probably around 3636ea00bde5eb3f894a9528fcd50bc5178a1257 when I added the new dashboard and changed the nav. Recently the queues queries have changed, notably for content review, and I believe this might be the source of our slowdowns (we thought it would be https://github.com/mozilla/addons-server/issues/11797 but I'm not so sure - duplicate queries suck a

[2019-08-06 11:29] diox commented on #11560
Updated all modified dates on dev.

[2019-08-06 12:01] EnTeQuAk commented on #9068
I do have a working branch that I needed to pause to get some other stuff into the tag. I'll continue working on it after the tag and hope to have a PR up and running on Wednesday or Thursday at the latest

[2019-08-06 12:55] eviljeff commented on #12011
added another table to the list too.

[2019-08-06 13:17] #12039 closed

[2019-08-06 13:18] #12035 closed

[2019-08-06 13:32] willdurand commented on #11984
We decided that running the `chord` after the linter would make sense to only run the scanners and other tools on "valid" add-ons.

[2019-08-06 13:32] willdurand commented on #12006
It would probably be a good idea to time this task (with statsd).

[2019-08-06 13:33] willdurand commented on #11982
@AlexandraMoga I just added some data

[2019-08-06 13:34] eviljeff commented on #12030
QA: similar to the previous LWT removal issue, it touches a lot of places, so could break anything.  In particular I'd focus on static themes in devhub - the wizard and edit sections - because it's possible some shared js/css got removed accidently.

[2019-08-06 13:48] #11779 closed

[2019-08-06 13:52] EnTeQuAk commented on #11902
Unassigning the milestone but keeping the issue open for now.

@diox and I looked into it and landed #12039 which should improve the speed already. We will file separate issues for all the other performance optimisations we may find.

[2019-08-06 13:52] EnTeQuAk commented on #11797
Unassigning the milestone but keeping the issue open for now.

@diox and I looked into it and landed #12039 which should improve the speed already. We will file separate issues for all the other performance optimisations we may find.

[2019-08-06 13:53] EnTeQuAk commented on #11902
I'm going to close this issue in favour of #11902 which will be our meta issue to file other follow-up issues.

[2019-08-06 13:53] #11902 closed

[2019-08-06 14:26] diox opened #12041 "Duplicate queries caused by <Version>.compatible_apps"
Part of https://github.com/mozilla/addons-server/issues/11797

In the list of duplicate queries in the review page, we can see we're reloading the `Addon` that we already have. This is because we're displaying version compatibility information for each add-on, and that does this:
[code]

`version.is_compatible_app` does this:
[code]

Loading `self.addon` wouldn't be a problem if it's the same addo

[2019-08-06 14:36] diox opened #12043 "Extraneous queries in review page caused by ReviewForm"
Part of #11797

`ReviewForm` loads all a bunch of `Version` from the addon to allow the reviewer to reject multiple versions at once. It's bound to create duplicate queries with the loading of the latest and current version that the view already does, not to mention the display of the 10 versions shown in the history, but we can live with that. The main problem is that we only use the version numb

[2019-08-06 15:17] ioanarusiczki commented on #12019
@wagnerand
The problem is that I'm not the only one with access to test in rev tools and meanwhile others can make reviews too.
I could try to approve/reject a couple from Content Review queue ( if I find search engines and dictionaries in the list submitted before 2016) Friday afternoon and then check the number on Monday morning.

My only question is which report should I check (I can't tell if

[2019-08-06 15:24] wagnerand commented on #12019
That shouldn't be a problem, the report lists amount of reviews per reviewer.

The report is an email and should be in fakemail around noon your time on Monday.

No, this is about the weekly report email.

[2019-08-06 15:26] ioanarusiczki commented on #12035
@EnTeQuAk Is this qa not needed?

[2019-08-06 17:44] EnTeQuAk commented on #12035
Not quite, you can make sure the discovery items changelist in the admin works as expected. Ideally it should be a hell lot faster than before. Nothing changed from a logic point of view.

[2019-08-06 18:15] eviljeff opened #12047 "drop heading from primary hero serializer"
The mocks and PRD don't show heading being used for the primary hero shelf but it was included anyway because it was in the disco serializers.  Now it's going (#11817) we should remove it from the hero endpoints too.

[2019-08-06 18:39] #12030 closed

[2019-08-06 23:04] bqbn opened #12051 "`manage.py cron gc` command not able to finish itself"
### Describe the problem and steps to reproduce it:

In #amo channel, cgrebs asked us to check how the daily cron job `manage.py cron gc` runs, so we ran it manually on the command line, and it turned out this command failed because of the following error.

[code]

### What happened?

`manage.py cron gc` not able to finish itself and failed with the above error.

### What did you expect to happen?

[2019-08-07 06:07] AlexandraMoga commented on #8094
Verified fixed on -dev.

Scenarios tested:

- Add-on has Admin Content Review flag -> content reviewers _cannot_ approve content
- Add-on has Admin Content Review flag and Admin Code Review flag-> content reviewers _cannot_ approve content
- Add-on has Admin Code Review flag -> content reviewers _can_ approve content
- Add-on has Admin Code Review flag and source code -> content reviewers _can_ ap

[2019-08-07 06:34] AlexandraMoga commented on #11560
Looks like the cron job has run and the results seem to be correct:

ID | Banned | Modified date | IP cleared
-- | -- | -- | --
10641911 | Yes | year -1 | FALSE
10641545 | Yes | year (exact) | TRUE
10641834 | Yes | > year | TRUE
10641830 | Yes | > year | TRUE
10641912 | Yes | < year | FALSE
10641543 | No | > year | FALSE

I'm marking this as verified fixed on -dev

[2019-08-07 09:07] madalincm opened #12052 ""TypeError: i.renderTo is undefined" appears after a graphic from "Statistics" page has "No data available""
### STR:
1. Access AMO homepage: https://addons.allizom.org/en-US/firefox/.
2. Click on an add-on that has the "Visit stats dashboard" link in the "More information" section. (e.g. uBlock Origin: https://addons.allizom.org/en-US/firefox/addon/ublock-origin/?src=homepage-collection-featured)
3. Click on the "Visit stats dashboard" link in the "More information" section.
4. Once on the "Statistics"

[2019-08-07 09:08] EnTeQuAk commented on #11817
@devaneymoz this is on-target to land this Thursday.

[2019-08-07 09:50] wagnerand opened #12054 "Provide more granular error messages for generic submission failure"
Our generic submission failure reason is:
_Sorry, we couldn't load your WebExtension._

This also happens to be our second-most failure reason, covering about 20% of all failures. Let's try and be more granular about the actual error to give developers a chance to understand what went wrong and fix it, and avoid reports like https://github.com/mozilla/addons/issues/1083.

[2019-08-07 09:56] AlexandraMoga commented on #11817
I have verified the new discovery layout on stage, with Firefox versions that support Recommendations (Release 68, Nightly 70) and versions that still use the old Discovery pane (FF version < 68, including ESR 60).

With the `heading_text` property excluded from the `/api/v4/discovery/` endpoint, the two layouts are looking like this:

1. Add-on card in Discovery with Recommendations (Firefox >=68

[2019-08-07 09:57] diox commented on #12051
Inside `gc` function we have:

[code]

We should 1) make sure those are still necessary (I'm not sure they are, at least the second one) and 2) move them to a different cron while we figure this out.

[2019-08-07 09:59] #12041 closed

[2019-08-07 10:00] diox commented on #12041
QA:
- Play around app version compatibility for an add-on and see if it's still returned correctly in the API and the review page. The review page should also be faster as a result of these changes, but I'm not sure you can detect that easily (well at least it shouldn't be slower)

[2019-08-07 11:58] diox commented on #12043
Downgrading priority because it actually has a low impact. It would be nice to fix but that's just 2 extra queries and some columns.

[2019-08-07 12:29] diox opened #12055 "Make fewer queries when displaying activity logs"
Part of #11797

A lot of extra queries in reviewer tools (and elsewhere, like devhub) are caused by `ActivityLog`. When an `ActivityLog` is displayed, we load the json containing the representation of the arguments stored when the activity was recorded, and then fetch the corresponding instances from the database:

[code]

If there was a database relation between the object(s) the activity log is

[2019-08-07 12:31] diox commented on #12055
Note that this means displaying multiple activity logs scales extremely poorly: not only do we need to load each object separately, but we also fire their transformers if they have one, causing even more queries for each activity log (most of them duplicates).

[2019-08-07 12:45] diox commented on #12055
2 things that can be done here:
- Forcing the objects to be loaded with `only_translations()`. That will bring the number of queries down by avoiding most transforms, which hopefully we don't need (it's hard to tell without looking precisely at what's displayed for each possible action). We still need translations because we display things like add-on name. We'd still get a lot of duplicate querie

[2019-08-07 13:18] AlexandraMoga opened #12056 "Indicate which Secondary Hero Shelf is enabled"
Follow up for #11779

### Describe the problem and steps to reproduce it:
This issue is valid only if we are planning to maintain multiple secondary hero shelves at a time

1. Log into AMO -dev with an admin account
2. Open the Secondary hero shelf module - https://addons-internal.dev.mozaws.net/en-US/admin/models/discovery/secondaryheroshelf/
3. Observe the information available for each secondar

[2019-08-07 13:19] AlexandraMoga commented on #11779
I've verified the Secondary hero shelf module on -dev and I've come up with the following test results:

- the module can be accessed and used  by admins and users from the Discovery Recommendations Editors group
- the `/secondaryheroshelf/add/` form follows the requirements:
  - Headline has a max length of 50 characters and is mandatory [1]
  - Description has a max length of 100 characters and

[2019-08-07 15:13] diox commented on #11986
Didn't notice this issue so it missed the August 8th push window.

[2019-08-07 15:27] ioanarusiczki commented on #12010
@eviljeff

- UI looks alright, I did not find regressions. Test runs and results are here:
[AMO: Add-on Details, Buttons, Installations ](https://testrail.stage.mozaws.net/index.php?/runs/view/19550&group_by=cases:section_id&group_order=asc)
[AMO Search and Suggestions](https://testrail.stage.mozaws.net/index.php?/runs/view/19551&group_by=cases:section_id&group_order=asc)
[AMO developer pages](htt

[2019-08-07 15:34] #11983 closed

[2019-08-07 15:38] diox commented on #12051
So, after some investigation, it turns out that both are ... completely useless nowadays.

The part of the code that deals with `validate-*` files was introduced 9 years ago for b8423263c07. I can't find any trace of code creating these files in the history of the repos though, and this code seem to be a drive-by addition not relevant to the commit itself, which is about cleaning up collections (a

[2019-08-07 15:38] eviljeff commented on #11122
@soniashvin Hi, you need to have some add-ons to demonstrate this.  If you upload an add-on (any add-on - not listed on AMO will do) there's an extra menu item.

[2019-08-07 15:45] willdurand commented on #12006
Marking this issue as blocked by https://github.com/mozilla/addons-server/issues/11984 (which is blocked by https://github.com/mozilla/addons-server/issues/9068), unless we are OK with running this task synchronously.

[2019-08-07 16:17] caitmuenster commented on #11122
@rbrishabh Sorry to hear you are having problems with the add-ons server Docket. :/ Unfortunately, there are a lot of things that could be causing the problems. You might want to take a look at another issue outside of the add-ons server repo.

[2019-08-07 16:57] jvillalobos opened #12060 "Allow arbitrary values for `addon_install_method` in the Abuse Reports API"
The Abuse Reports API currently allows a limited set of values for `addon_install_method`, and doesn't accept reports using other values. On the Firefox side this was solved by defaulting reports to the "Other" method if the value didn't fit the predefined set. Some changes happened in those values since first established that have caused lots of reports to be classified under "Other".

To address

[2019-08-07 16:58] willdurand commented on #9068
@EnTeQuAk great, thanks. Could you please share a branch so that I can see the changes and build on-top of it?

[2019-08-07 18:01] jvillalobos commented on #12060
I filed the Firefox work on [this bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1572173).

[2019-08-07 21:34] jvillalobos opened #12063 "Discontinue compatibility overrides"
We introduced compatibility overrides along with "compatible by default" extensions, many years ago. Since WebExtensions, this feature has become unnecessary, and legacy add-ons are long gone. We can start removing this feature, returning an empty response so clients don't break. [Requests from Firefox will eventually go away](https://bugzilla.mozilla.org/show_bug.cgi?id=1572140), but it'll be a w

[2019-08-07 22:18] jrbenny35 opened #12064 "autoreload should be disabled on circleci"
Autoreload seems to be causing Out Of Memory errors on circleci. This PR disabled it as a test: #12058 and the tests were able to run. We should disabled autoreload for CI.

[2019-08-07 22:54] jrbenny35 commented on #12064
We could change this line to false: https://github.com/mozilla/addons-server/blob/master/docker/supervisor.conf#L8 and have a makefile command or something to just run ```exec web supervisorctl start olympia``` for local dev.

Thoughts @EnTeQuAk ?

[2019-08-08 08:36] ioanarusiczki commented on #12039
I initially thought it's about removing the numbers from https://reviewers.addons-dev.allizom.org/en-US/reviewers/ but it's not :)
@EnTeQuAk can you add some str for qa?

[2019-08-08 10:53] EnTeQuAk commented on #9068
You can checkout https://github.com/mozilla/addons-server/commits/9068-upgrade-celery-43 - but I won't guarantee any heavier changes are about to land. I'm currently looking into correcting the task error handling that mat mentioned in #8487 which may affect you but ideally it shouldn't.

[2019-08-08 10:54] EnTeQuAk commented on #12064
See https://github.com/mozilla/addons-server/pull/12058#discussion_r311970978 which might work too.

[2019-08-08 10:57] kewisch opened #12065 "Remove search plugins from content review"
We've decided to remove OpenSearch search plugins from content review, as we will not be migrating them to WebExtensions. I'm hoping we don't have WebExtension search plugins yet, or they are at least not the same type as OpenSearch plugins?

Noting #11796 for reference where we've also removed themes.

[2019-08-08 10:58] wagnerand commented on #12065
Note that this is blocked on a decision when we are going to disable existing non-webextension search plugins. If we keep them around until the end of ESR68, then we also need to content-review them, as that's about a year out.

[2019-08-08 11:00] kewisch commented on #12065
I thought we decided we were going to not keep them around that long and hence can move forward with removing them from content review.

[2019-08-08 12:07] #12047 closed

[2019-08-08 14:20] ioanarusiczki commented on #12035
@EnTeQuAk I verified this issue on django admin stage - FF68 (Win10).

- I did not have problems while editing the discovery items. I can't tell if there's a difference in speed terms because as long as I remember testing I never had a problem with discovery moving slow or slower.
- I've done some functional testing to see how it works.
One observation:
Editing `Custom Addon Name` and `Custom Head

[2019-08-08 14:56] ioanarusiczki commented on #12039
@EnTeQuAk I verified this issue on dev and stage

- except `All unlisted add-ons" queue all the other display the number of items.  Should I file a separate issue for this queue?

It's shown inside the report though.
![unlisted ](https://user-images.githubusercontent.com/33448286/62713500-832edc80-ba05-11e9-89ad-5b2947f0c55f.gif)

- The review pages load and function just fine.

[2019-08-08 15:16] #12011 closed

[2019-08-08 15:18] ioanarusiczki commented on #11772
@diox Is this recorded as a report in admin tools ? Please let me know if qa can verify this issue.

[2019-08-08 15:37] eviljeff opened #12069 "Add restrictions to stop hero shelves from being disabled"
There needs to be at least one primary and one secondary hero shelf enabled for frontend (or they'll be an ugly gap - if not an error).  We should add some restrictions to the admin `clean` methods to stop enabled shelves being disabled if they're the only ones enabled.

[2019-08-08 16:05] diox commented on #11876
Options are:
1) Field on `UserProfile` with the ban date
    - Migration would be costly (probably 2-5 minutes ?)
    - It would also have a small perf cost on every query, since Django fetches all columns by default.

2) Replace `deleted` field with `state` on `UserProfile`
    - Doesn't get us the ban date, so #11458 would still be an issue
    - Migration would be as costly as 1), and more comp

[2019-08-08 16:57] vcarciu opened #12070 "When sorting addons from a collection by name, one of extension is dissappearing"
Steps to reproduce:
1.Open this collection https://addons.mozilla.org/en-US/firefox/collections/15194964/test/edit/?page=1&collection_sort=-added
2.Sort addons by name

Expected results:
Collection are ordered by name and it shows 4 webextensions

Actual results:
After ordering by name, one of webextensions is dissappearing

Please see a video with the issue :
![collectionbyname](https://user-imag

[2019-08-08 16:59] kumar303 commented on #12070
The Network panel confirms that this is an API issue. The response contains the wrong number of items.

[2019-08-08 17:11] jvillalobos commented on #12065
That's the current thinking, but we'll confirm that next week.

[2019-08-08 18:13] diox commented on #11772
Yes, it's in the admin for user profiles. When someone encountered any kind of restriction during upload they'll appear at the bottom of their user admin page (regardless of the source of the restriction - if it was something ip-based, it would appear for all accounts attempting an upload from a restricted ip)

[2019-08-08 19:17] rpl commented on #12060
@diox, as I have been discussing yesterday with @jvillalobos, on the Firefox side we have two separate properties for what the `addon_install_method` represents on the abuse report API side: `installTelemetryInfo.source` and `installTelemetryInfo.method`.

[A brief description of this properties is part of the telemetry event definition in Events.yaml](https://searchfox.org/mozilla-central/rev/977

[2019-08-09 08:32] eviljeff commented on #11986
iirc from the standup, this was for content review, so #12065 would negate this.

[2019-08-09 08:32] #11986 closed

[2019-08-09 08:42] eviljeff commented on #11803
I'm reading the issue as a request to list all _addons_ for an author, including non-public ones, on the public account profile page.  We can't (won't) do that as it's a frontend page using the Addon API.  Potentially something could be added to the reviewer tools though?

[2019-08-09 09:58] #12051 closed

[2019-08-09 10:21] diox opened #12080 "Nicer 403 for author confirmation page when logged in with the wrong account"
### Describe the problem and steps to reproduce it:
- While logged in as the owner of an add-on, add someone as an author
- Log out, log back in with an account that has no permission over the add-on you used, and that is *not* the account you invited
- Follow the link in the confirmation email while still logged in with the account from the previous step.

### What happened?
You get a generic "Oo

[2019-08-09 11:25] eviljeff opened #12081 "move developer only properties out of UserProfile model"
We have the following properties stored for every user but only need them for the subset of users who have authored an addon because they're displayed on a public facing account profile page that is only accessible for addon authors.  In addition, django also retrieves these extra fields from the database every time the `UserProfile` instance is accessed - which is *a lot*.

We should move them to

[2019-08-09 11:30] eviljeff commented on #11876
I'm going to do 1. because it's the most straightforward in code and won't require any joins in sql.

It'll add a small perf hit but we have already have a large number of properties on `UserProfile` that aren't used for most transactions so moving _them_ to a different model would give us more gain that worrying about one more date field.  #12081 for that.

[2019-08-09 11:49] diox commented on #12070
@vcarciu can you figure out STR on dev? It doesn't happen with all collections, it depends on the add-ons inside it. That missing add-on only has a translation in `it` for its name (which matches its default locale, also `it`), I suspect it's part of the problem.

[2019-08-09 13:40] ioanarusiczki commented on #11772
@diox I tested this issue on admin tools -dev with FF68(Win10).

The `Developer Agreement Restriction` is always present in the reports. I've noticed that when the user is restricted the developer agreement will be displayed while making a submission every time (even if the user is not at the first submission).

I'll give an example for each scenario I've tested with:

**Ip network user restrictio

[2019-08-09 13:52] diox commented on #12060
Some background: Ultimately we've got a lot of abuse reports coming in so I wanted to keep the stored data as small as possible, which is why `addon_install_method` is stored as an integer, every possible value being predetermined in advance.

It's kinda unfortunate that we made one field only in the API though, it really needed 2 separate fields to follow Firefox more closely. I don't love the id

[2019-08-09 13:57] diox commented on #11772
I guess we could technically skip recording that one, yeah. Can you file a follow-up?

This is normal / by design

It's not needed, I'll fix that.

I forgot to make that readonly. I'll fix that.

I noticed and figured it wasn't a big deal. It's kinda automatic, I'll fix it if I can override it but I'm not sure I can.

[2019-08-09 14:02] rpl commented on #12060
This means that we still have to make sure of updating the addons-server code everytime we add (or change) the install telemetry info source and method, e.g. by creating an addons-server issue as soon as we are almost ready to land the change in Firefox.

I was wondering: could we also try to detect on the server side when some new unexpected value is being submitted from Firefox? so that we may n

[2019-08-09 14:09] diox commented on #12060
Ultimately there is no way around this as long as we store that data as integers though. We need a translation to known predetermined values.

Yeah, that's why we want to log something somewhere when we translate an unknown value into `Other`. I still hope we can get advance warnings before new values are added to Firefox to avoid this though.

[2019-08-09 14:13] ioanarusiczki commented on #11772
@diox Sure, I'll file what you asked first thing Monday morning.
Thanks for the quick review!

[2019-08-09 14:21] rpl commented on #12060
Sure, I agree, I think I'm going to add a note to the Events.yaml to point it out that we should open an issue in this repo when we are planning changes to them (but I wanted to also double-check with you if we are going to have a "backup plan" in case "the note goes unnoticed" ;-))

[2019-08-09 15:33] jvillalobos commented on #11803
It might be handy to have a developer profile page for reviewers, showing all add-ons and their status, linking to their respective review pages. That's a bigger project, though, and it's not a problem that comes up often. I suggest wontfixing this.