[2016-06-17 12:41] Noitidart commented on #2802
Oo thanks I fixed it up. Installed `web-ext`. I did `web-ext` sign I got an error here to:

[code]

![](http://i.imgur.com/20TxB2C.png)

[2016-06-17 12:44] andymckay commented on #2802
That's a different error, not a 401: Signature expired.

[2016-06-17 15:01] lavish205 commented on #2019
I'm working on this bug.
Should I replace it with [https://www.mozilla.org/en-US/MPL/](https://www.mozilla.org/en-US/MPL/), or just [https://www.mozilla.org](https://www.mozilla.org)

[2016-06-17 16:10] muffinresearch commented on #2889
@krupa did you have logs for this one from the other day?

[2016-06-17 19:02] milupo commented on #2868
Thank you, diox.

[2016-06-18 07:56] erosman commented on #1618
So ..... what is happening with the bug?
Has it been fixed?
Is it going to be fixed?
Would it update previous rate count once it is fixed?

[2016-06-18 09:37] diox commented on #1618
It has not been fixed yet. I can't give you a timeframe, it depends on a quite complex issue.

Review average will automatically be fixed - in fact it does adjust itself automatically after some time (and more reviews).

[2016-06-19 11:47] erosman opened #2934 "Statistics takes a break?!"
I have noticed that on some days, AMO stats takes a break :D
I am sure others have noticed it too and there might already be a bug posted.

For example: June 6th and 12th shows zero on all my addons.

Is this issue being looked into?

[2016-06-20 10:53] eviljeff commented on #2019
Lets make it `https://www.mozilla.org/MPL/`

[2016-06-20 12:12] rctgamer3 commented on #2934
The following dates lack daily statistics. Dates pulled from my Firefox 2 theme and AdBlock Plus' (public) statistics so should probably cover the majority of add-ons on AMO.

[code]
... Or just recalculate the whole table.

Everything before November 2008 seems to only include weekly stats (every Wednesday), no daily stats, so stopping here.

[2016-06-20 12:35] eviljeff commented on #2924
There was too much crazy in that bug - can you summarize _why_ we should anonymise "User since" when it's not personally identifiable data?

[2016-06-20 14:20] eviljeff commented on #2799
The discussion in https://bugzilla.mozilla.org/show_bug.cgi?id=928128 indicates it was indeed intended to deal with existing content - the concern was suddenly (silently) breaking descriptions that were otherwise okay before.

[2016-06-20 14:57] EnTeQuAk opened #2937 "Remove addons-linter flag"
This is now live and we have way better support for stuf than without. I think we should remove it sometime.

[2016-06-20 15:11] EnTeQuAk commented on #2924
if we're going to anonymize this we should maybe just set it to epoch time and be done with it. I can imagine given the crazy in that bug that setting it to `today` adds more weirdness that could be used to somehow do stuff... or not.

[2016-06-20 16:26] wagnerand commented on #2924
I am having a hard time following that bug myself. I just copied the remaining piece in https://bugzilla.mozilla.org/show_bug.cgi?id=1271741#c8 to here.

[2016-06-20 16:27] wagnerand commented on #2924
_epoch time_ is fine with me. I don't think `None` would work as the db field is defined as `NOT NULL`.

[2016-06-20 16:34] eviljeff commented on #2924
In the absence of a coherent 'why' I vote wonfix.

[2016-06-20 17:02] #2019 closed

[2016-06-20 17:04] kumar303 commented on #2019
thanks for the patch @lavish205

[2016-06-20 17:18] EnTeQuAk commented on #2924
I don't see that there is an actual bug too. Deleting this data should be easy enough though with updating https://github.com/mozilla/addons-server/blob/master/src/olympia/users/models.py#L399 and writing a fitting test.

[2016-06-21 07:06] ValentinaPC commented on #2019
Verified as fixed on AMO-dev FF47(Win 7)
Postfix screencats:
![opensource](https://cloud.githubusercontent.com/assets/15685960/16220817/dcaab2a0-3797-11e6-8c79-415e2dc1aa16.gif)

[2016-06-21 09:12] ValentinaPC opened #2938 "Error when trying to translate a review in Editor Tools->Moderated Reviews"
Steps to reproduce:
1. Sign in with an admin account in AMO-dev
2. Go to Editor Tools- Moderated Reviews queue
3. Click the "translate" link for any review

Expected results:
The review is translated.

Actual results:
The review is not translated. The message "Error loading translation" is displayed.

Notes/Issues:
A 500 error code appears in the console.
Verified on AMO-dev FF47(Win 7). Issue is

[2016-06-21 10:40] wagnerand opened #2939 "Improve 'Add-on ID doesn't match add-on' error message"
With more and more people migrating from current add-on generations to Web-Extensions, we see lots of inquiries from developers that have trouble understanding what `Add-on ID doesn't match add-on` means and how to solve it.

We could improve the error message to something like:
`The add-on ID in your manifest.json/install.rdf (<GUID>) does not match the ID of your add-on on AMO (<GUID>)`.

Note:

[2016-06-21 11:31] mustaim commented on #2857
Any feedback please?

[2016-06-21 11:41] ValentinaPC opened #2940 "Navigation does not work as expected in My Profile page"
Steps to reproduce:
1. Sign in to AMO-dev https://addons-dev.allizom.org/en-US/firefox/
2. Go to My Profile page ( i.e https://addons-dev.allizom.org/en-US/firefox/user/TestDev123/)
3. Navigate through "Add-ons I've created" section
4. Observe the "My Reviews" section

Expected results:
The navigation works only for the section on which the user makes an action.

Actual results:
Both sections are

[2016-06-21 12:20] wagnerand opened #2941 "Unable to change license in devhub for 'Incomplete' add-ons"
Add-ons that have status `Incomplete` miss the "License" block on the devhub page `/developers/addon/<ADDON>/ownership`.

STR:
1. Submit new add-on.
2. Reject it the initial submission.
3. Go to `/developers/addon/<ADDON>/ownership`

[2016-06-21 13:32] vcarciu opened #2942 "Tooltip under "Not available for Firefox" text is not working when hovering over it"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Step to reproduce:
1.Go to any addons listing page where we have an incompatible addon (ie. see first addon from https://addons-dev.allizom.org/en-US/firefox/search/?q=evernote&cat=1%2C0&appver=47.0&platform=windows )
2.Hover over the addon and observe the Tooltip under "Not available fo

[2016-06-21 14:25] jvillalobos commented on #2857
#2934 is the daily users issue.

[2016-06-21 14:29] vcarciu opened #2947 ""Number of reviews" link from "Developer Profile" - "Addons I've created" is not working"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.Go to any addon developer profile (ie. https://addons-dev.allizom.org/en-US/firefox/user/pearltrees/)
2.From one of created addons , select the number of reviews link

Expected results:
Addon reviews section should be opened

Actual results:
Addon homepage is opened

[2016-06-21 16:06] andymckay-limited-access commented on #2947
This seems to be intermittent, I think its because #reviews might not be loaded straight away. I think we'll fix or remove this in the new design.

[2016-06-21 16:07] #2947 closed

[2016-06-21 16:09] andymckay-limited-access commented on #2942
We'll get this in the redesign.

[2016-06-21 16:09] #2942 closed

[2016-06-21 16:13] andymckay-limited-access commented on #2941
The license is on the version model in Django, but there is no valid version at this point.

At this point we don't think we should worry about it, maybe something to address in the redesign?

[2016-06-21 16:13] #2941 closed

[2016-06-21 16:16] andymckay-limited-access commented on #2938
@eviljeff to investigate and check if its a -dev only issue.

[2016-06-21 16:25] andymckay-limited-access commented on #1923
We can't reproduce this on Windows or OS X. Does this still occur?

[2016-06-21 16:29] andymckay-limited-access commented on #1887
@madalincm: Is this still reproducible? It looks like there is a 404 on the header image.

[2016-06-21 16:33] eviljeff commented on #2938
This works fine on prod and stage; only broken on -dev.  My guess is the google translate API details haven't been setup on -dev (possibly on purpose as it costs us for each request).

[2016-06-21 17:04] #2938 closed

[2016-06-21 20:08] lavish205 commented on #2822
we can close this bug

[2016-06-22 09:56] ValentinaPC commented on #1923
This is not reproducing anymore.
Verified on AMO-dev, stage and prod using FF47(Win 7).
Please see the screencast:
![hover-theme-block](https://cloud.githubusercontent.com/assets/15685960/16262542/b47aa45c-3878-11e6-80ae-6f2d54bbfc6a.gif)

[2016-06-22 12:13] madalincm commented on #2918
Verified as fixed in FF47(Win7). Issue is no longer reproducing.

[2016-06-22 12:16] milupo opened #2958 "Add hsb and dsb to the credits page"
Hi, would you be so kind as to give me your thanks? ;-)

I am the translator for dsb and hsb and I'd appreaciate that you add those two languages with my user name or real name to the credits page if you don't mind doing that - for the sake of completeness ;-).

Thanks and regards

Michael

[2016-06-22 12:33] ValentinaPC opened #2959 "Adding an Add-on to a collection causes layout issues for page footer"
Steps to reproduce:
1. Load a collection details page ( i.e. https://addons.allizom.org/en-US/firefox/collections/mozilla/privacy/ )
2. Go to the add-ons from the bottom of the page and hover over "Add to collection" icon
3. Observe page footer

Expected results:
There are no display or layout issues.

Actual results:
There is a white padding under the footer.

Notes/Issues:
Suggestion: we can sho

[2016-06-22 13:26] lavish205 commented on #1771
I would love to work on this issue, please assign mentor.

[2016-06-22 13:49] lavish205 commented on #1771
@muffinresearch I think this[1] template should be completely removed instead of removing `<form>` part as it's not being used anywhere else.
[1] https://github.com/mozilla/addons-server/blob/76f1143fc1409dbfed4f94f5bba2b6961c0efefd/src/olympia/users/templates/users/t-shirt.html#L49

[2016-06-22 14:10] wagnerand commented on #1771
This has not been triaged as a good first bug yet. Feel free to keep working on this, but for guided issues, you might want to stick to https://github.com/mozilla/addons-server/labels/good%20first%20bug.

[2016-06-22 14:16] lavish205 commented on #1771
@wagnerand yeah, but I think I can work on this bug, can you please review this PR and let me know what else has to be done.

[2016-06-22 14:35] wagnerand commented on #1862
This is still broken: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/337732/

[2016-06-22 15:39] muffinresearch opened #2962 "Update addons-linter to version that bundles the schema"
`web-extension-manifest-schema` project is now part of  mozilla/addons-linter. Let's cut a new `addons-linter` package and use it here so we have one less cascading dep.

* [x] Bump the version on addons-linter
* [x] Release the linter on npm
* [x] Update the package.json here
* [ ] Test that web extensions with bad manifest.json data are caught as expected.

[2016-06-22 15:50] EnTeQuAk commented on #1862
And a bit different this time. As discussed in IRC, let's talk about it 'cause I'll reimplement it so that it will be saved in the database once and for all.

[2016-06-22 15:59] #1771 closed

[2016-06-22 16:00] eviljeff commented on #1771
thanks @lavish205 !

[2016-06-22 16:25] EnTeQuAk commented on #2958
I think @eviljeff or @wagnerand can do that. We seem to just need a "hsb Localizers" and "dsb Localizers" group and milupo should be assigned to them. What's your username on AMO @milupo?

[2016-06-22 16:29] EnTeQuAk commented on #2822
This is fixed now.

[2016-06-22 16:29] #2822 closed

[2016-06-22 16:37] madalincm opened #2966 "Removed add-on displayed in the promo banner"
**Steps to reproduce:**
1. Open https://addons.mozilla.org/en-US/firefox/ and observe the promo banner

**Expected results:**
All the addons featured in there are available.

**Actual results:**
The Pocket add-on is removed. When clicking on it's icon the "This add-on has been removed by its author. " message it is displayed.

**Notes/Issues:**
Verified in FF47(Win7) Issue can be reproduced in pro

[2016-06-22 16:58] milupo commented on #2958
Thank you, EnTeQuAk. Meanwhile I use "milupo" as my username in all Mozilla projects.

[2016-06-22 17:25] devaneymoz commented on #2966
Collection has been pulled down until we can perform a thorough review of its content.

[2016-06-22 17:28] milupo opened #2968 "Link with self-reference"
Hi, I don't know if the current state is intended: There is a link "View Mobile Site" under the big blue stripe below on e.g. following pages:

https://addons.mozilla.org/en-US/about
https://addons.mozilla.org/en-US/faq
https://addons.mozilla.org/en-US/review-guide
https://addons.mozilla.org/en-US/credits

If you click "View Mobile Site" the current page is shown again because this link shows to a

[2016-06-22 17:30] #2966 closed

[2016-06-22 17:34] andymckay commented on #2968
This is because the "view on mobile site" sets a cookie that you'd like to view it in mobile, but that page has no mobile view at all. When you visit a page that requests mobile, you'll end up suddenly in the "mobile view".

The whole mobile view thing is a mess and I think our only chance is to rip all this cruft out and just replace our front end with a responsive design.

[2016-06-22 17:55] erosman opened #2969 "Normal Reviewers cant access rejected addons after initial review"
It seems that if an addon is reviewed and rejected for the first time (no prior history), normal reviewers cant access the review page. However, admin reviewers can.

Example:
`https://addons.mozilla.org/en-US/editors/review/socialmonkee`

[2016-06-22 17:57] wagnerand commented on #2969
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/333612/

[2016-06-22 18:04] milupo commented on #2968
Ok, Andy, thank you for your quick reply.

[2016-06-22 19:04] andymckay opened #2970 "WebExtension not signed"
I received a WebExtension add-on from a partner who was having some issues. I fixed up a couple of things and got it running locally. I then pushed it through `web-ext` and saw:

[code]

I then hit the AMO interface and found the add-on in question. It's marked as preliminary reviewed, but not signed.

https://addons.mozilla.org/en-US/developers/addon/wayback-machine1/versions/1885404

I checked w

[2016-06-22 19:52] wagnerand opened #2971 "Do not display hidden or disabled add-ons in collections"
If an add-on is disabled or hidden (or even deleted), we should not show it in any collections as they are not accessible anyway.

[2016-06-22 21:08] EnTeQuAk commented on #2970
@andymckay "got it running locally" - you're only talking about the extension running in the browser right?

[2016-06-22 21:11] andymckay commented on #2970
"got it running locally" - I was able to run the extension in Firefox using about:debugging as an unsigned add-on.

[2016-06-22 21:39] andymckay opened #2972 "Detect explicit non-e10s add-ons"
It was pointed out that there's at least one more state, where someone has said in their add-on that they do not support multiprocess at all and multiProcessCompatible is false. Probably simple to add in, not sure if its worth doing the backfill though.

Supports #2770

[2016-06-22 22:10] EnTeQuAk commented on #2970
Okay so I looked at this locally and tried to reproduce things as closely as possible. To allow signing to happen I mocked a few bits and pieces:

[code]

and with that I get a file that has all the neccessary files created:

[code]

So maybe this is something specific to prod or dev or stage or this add-on?

[2016-06-22 22:22] EnTeQuAk commented on #2970
alrighty, I tried with the wayback add-on and it failed (as expected) which is good. Then I looked at the manifest and found

[code]

there is no such thing on prod. Changing this to `45.0` makes it succeed for me locally. Mind trying that @andymckay?

[2016-06-22 22:37] andymckay commented on #2970
It is now signed. So I guess the issue is if its not a known version, to throw an error and stop it at the validation step?

45.0.0 does not show up here: https://addons.mozilla.org/en-US/firefox/pages/appversions/

[2016-06-22 23:00] EnTeQuAk commented on #2970
So, this is basically an user error. I removed the labels, created https://github.com/mozilla/addons-server/issues/2975 to make it easier to spot errors like that and will close :)

let's re-open if there are any other errors happening on this.

[2016-06-22 23:00] #2970 closed

[2016-06-23 06:53] ValentinaPC commented on #2880
@tofumatt : When submitting the attached add-on on AMO-dev FF47(Win 7) there are no warnings or errors displayed. Please let me know if this is the intended behavior.
Screenshot:
![testaddon](https://cloud.githubusercontent.com/assets/15685960/16294251/4771c3da-3928-11e6-9af9-2c8328c2cb9e.png)

[2016-06-23 07:00] ValentinaPC commented on #2881
Verified as fixed on AMO-dev FF47(Win 7) using the above add-on.
The 2 warnings were reduced to 1.
Postfix screenshot:
![raport_-_1_warning](https://cloud.githubusercontent.com/assets/15685960/16294412/265c5056-3929-11e6-918b-339880dcda77.png)

The #768 (logged under linter) is happening here also.

[2016-06-23 07:03] ValentinaPC commented on #2885
Please add some STR for us to test or the label "needs no qa". Thanks!

[2016-06-23 07:31] ValentinaPC commented on #2736
I think if we fix #2622, this also will be fixed. :smile: (I am talking about the issue from last comment of 2622). Thanks!

[2016-06-23 09:41] #2962 closed

[2016-06-23 09:43] muffinresearch commented on #2962
QA notes:

The change to use the most recent package of the linter has landed and should be on -dev shortly.
Please check web-extension validations are catching errors in the manifest.json as expected.

[2016-06-23 11:03] diox commented on #2972
Good point, I'll add that.

[2016-06-23 12:00] eviljeff commented on #2958
Done.

We should probably change the way how we do this - creating a group with an access permission for a tool that doesn't exist anymore so the users of that group show up on the credits page is a little odd.

[2016-06-23 12:00] #2958 closed

[2016-06-23 13:37] vcarciu commented on #1618
This is affecting sorting by rating also. Basically , if we have an addon in my submissions with a deleted review , it will be still seen as reviewed and sorted accordingly.
@diox  : should I open a separate issue on this?

[2016-06-23 13:39] diox commented on #1618
This is probably the same issue.

[2016-06-23 13:53] vcarciu commented on #2958
@eviljeff  : where can we see if this was correctly added?

[2016-06-23 13:58] milupo commented on #2958
Thank you Andrew, I can see it even already on the mozilla.org pages.

@vcarciu: Here: https://addons.mozilla.org/en-US/credits

[2016-06-23 13:59] wagnerand opened #2979 "Delete "RereviewQueue" model"
This model was intended for apps, which never really happened.

The model and the according database table "rereview_queue" should be deleted.

[2016-06-23 13:59] #2578 closed

[2016-06-23 14:00] vcarciu commented on #2958
Thanks, we will mark it as verified.

[2016-06-23 14:02] diox commented on #2979
Technically apps happened, just not on AMO :)

[2016-06-23 14:04] wagnerand commented on #2979
That's what I meant to say.

[2016-06-23 14:05] diox commented on #2870
Agreed, I'll do that.

[2016-06-23 14:22] ValentinaPC opened #2980 ""^spanning$" error when submitting a web-extension in AMO-dev"
Steps to reproduce:
1. Try to submit the attached web-extension using https://addons-dev.allizom.org/en-US/developers/addon/submit/2

Expected results:
The web-extension can be submitted or a more clear message is displayed.

Actual results:
The web-extension cannot be submitted  and the error "/incognito" should match pattern "^spanning$" is displayed at validation.

Notes/Issues:
Issue is NOT re

[2016-06-23 14:30] muffinresearch commented on #2980
This looks like this is expected: https://github.com/mozilla/addons-linter/blob/master/src/schema/manifest-schema.json#L134

See also https://github.com/mozilla/addons-linter/issues/728

[2016-06-23 14:39] tofumatt commented on #2880
@ValentinaPC Yes, that's correct (because the libraries get ignored). Thanks!

[2016-06-23 14:46] muffinresearch opened #2982 "Remove attrs from disco heading links"
We add the target="_blank" and rel="noreferrer" attrs in addons-frontend via DOMPurify. As a result of that we can remove those attrs from the HTML here [1],  here [2] and here [3]

[1] https://github.com/mozilla/addons-server/blob/master/src/olympia/discovery/serializers.py#L31
[2] https://github.com/mozilla/addons-server/blob/master/src/olympia/discovery/tests/test_views.py#L26
[3] https://githu

[2016-06-23 14:56] muffinresearch commented on #2980
@andymckay can you confirm this is the expected behaviour by virtue of pulling in the changes in the schema?

[2016-06-23 15:25] #2972 closed

[2016-06-23 16:06] #2982 closed

[2016-06-23 16:15] diox commented on #2870
Ended up removing django-moz-header entirely cause it was barely used.

[2016-06-23 16:17] madalincm commented on #2966
The collection is removed. Marking this issue as verified for now.

[2016-06-23 16:21] andymckay commented on #2980
It is expected and a good thing see https://bugzilla.mozilla.org/show_bug.cgi?id=1277686 for more.

[2016-06-23 16:21] #2980 closed

[2016-06-23 16:25] vcarciu opened #2987 "Add-on compatibility checker is not returning any warning for incompatible addons"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.Go to https://addons.mozilla.org/en-US/developers/addon/check-compatibility
2.Set the checker to check the addons against firefox 51
3.Select an addon with maxVersion 50 and check it for compatibility

Expected results:
Warning is returned saying that addon is not c

[2016-06-23 16:44] krupa opened #2988 "Contributions are failing on prod"
## steps to reproduce:
1. Load https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/?src=search
2. Click on the contibutions button
3. confirm $5 contribution

## observed behavior:
Contribution fails with "There was an error communicating with PayPal. Please try again later."
ERROR HTTP Error: ("bad handshake: Error([('SSL routines', 'SSL3_GET_SERVER_CERTIFICATE', 'certificate verify faile

[2016-06-23 18:29] devaneymoz opened #2990 "Homepage promotion points to wrong collection"
This is where our Homepage carousel promotions are managed:
https://addons.mozilla.org/en-US/firefox/discovery/modules

Therein you'll find something called the "Webdev Collection"

We recently promoted the "Webdev Collection" but discovered it wrongly featured content from the "[Reference Desk](https://addons.mozilla.org/en-US/firefox/collections/mozilla/reference/)" collection; whereas it should

[2016-06-23 18:55] diox commented on #2990
Indeed, the code references the collection by primary key and not by slug, and well, that primary key somehow is the one for the "Reference Desk" collection. I'll switch it to use author + slug and point to the right collection.

[2016-06-23 19:35] EnTeQuAk commented on #2987
cc @wagnerand on this, I'm not sure if this is an actual error or supposed to be like that. Because afair the validator doesn't check against `maxVersion` and this is essentially how the bulk validation for bumping add-on versions work so an error here doesn't make much sense imho since you might want to check for compatibility for a future version (which you're doing in your example), e.g it's mo

[2016-06-23 23:31] mustaim commented on #2857
https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/statistics/?last=90

this has been almost a month issue. downloads cut half.

[2016-06-24 00:10] WendynWicket opened #2991 "Amazon Universal registry button won't install"
The add on from Amazon for the Universal Registry or Wish List item from any webpage won't install. Please remedy this as I used to be able to use this add on just fine.

[2016-06-24 00:13] tofumatt commented on #2991
Could you please link to the add-on? Thanks.

- tofumatt

[2016-06-24 00:20] WendynWicket commented on #2991
Sorry. Here is the link https://www.amazon.com/gp/registry/universal/?ref=sxts_snpl_1_1_2448932322&qid=1466726895&pf_rd_t=301&pf_rd_m=ATVPDKIKX0DER&pf_rd_p=2448932322&pf_rd_i=universal+wish+list+button&pf_rd_r=MG0PV9AESYEK5R9HZZAA&pf_rd_s=desktop-signpost

________________________________
From: tofumatt ?? <notifications@github.com>
Sent: Thursday, June 23, 2016 7:13:35 PM
To: mozilla/addons-serve

[2016-06-24 00:26] andymckay commented on #2991
The add-on has been removed by the author:

https://addons.mozilla.org/en-US/firefox/addon/add-to-amazon-wish-list-button/

You would have to contact the add-on author for more information.

[2016-06-24 00:26] #2991 closed

[2016-06-24 07:42] madalincm commented on #1887
I can't no longer reproduce this issue. It was reproducing intermittently but now it seems I can't reproduce it at all.

[2016-06-24 08:47] wagnerand commented on #2987
@EnTeQuAk is correct.

[2016-06-24 11:36] ValentinaPC commented on #2972
Verified as fixed on AMO-dev FF47(Win 7).
An add-on with "multiprocessCompatible" set to FALSE has the Multi Process Status "Incompatible".
Postfix screenshot:
![2016-06-24_1421](https://cloud.githubusercontent.com/assets/15685960/16336741/4c1ef52e-3a18-11e6-8f5f-0e05eeb3d488.png)

Also, an add-on without a "multiprocessCompatible" option has the Multi Process Status "Unknown"

[2016-06-24 14:03] jasonthomas opened #2994 "AttributeError: 'module' object has no attribute 'config' .services/utils.py"
Seeing this traceback on service startup for update and theme-update services. Looks like it started happening after https://github.com/mozilla/addons-server/pull/2965

`
Traceback (most recent call last):
File "./services/wsgi/versioncheck.py", line 13, in <module>
from update import application
File "/data/olympia/services/update.py", line 31, in <module>
log_configure()
File "/data/olympia/serv

[2016-06-24 14:37] muffinresearch commented on #2988
@kumar303 Was this fixed by https://github.com/mozilla/addons-server/pull/2989 ?

[2016-06-24 14:40] diox commented on #2988
should have been. though we'll need a better long term solution so maybe we can keep that opened?

[2016-06-24 16:15] #2969 closed

[2016-06-24 16:18] andymckay commented on #1887
Based on this happening on March, we'll chalk it up to instability on the servers at that time, closing.

[2016-06-24 16:18] #1887 closed

[2016-06-24 20:00] kumar303 commented on #2988
Yes, that prevented the error from happening when the site connects to paypal.com. If there's a way to upgrade certifi again without breaking Contributions, that would be nice.

[2016-06-24 20:09] jvillalobos opened #2997 "Compatibility reports page errors out"
STR:
1) Go to https://addons.mozilla.org/admin/compat

Result: Oops! We had an error.

I think I opened this page earlier in the week without any problems, so it's possible it's a regression from this week's push.

[2016-06-24 20:16] diox commented on #2997
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/338266/

I think it's because of #2887 and if it is, a reindex will fix it. I'd like to try on dev/stage first, though.

[2016-06-24 20:25] diox opened #2998 "Don't show multiprocessCompatible warning in validator for non-extensions"
The warning about the add-on not being marked as compatible with Firefox Multi Process is shown for non-extensions (dictionaries for instance), that is probably not very useful, we should not show it for them.

(The warning in devhub should already be hidden)

[2016-06-24 20:37] andymckay commented on #1808
The only thing I think we need to do here is set up redirects to the Kinto pages when they land.

[2016-06-24 20:39] andymckay commented on #2228
Is improving this still an issue? Seems pretty fast to me these days. Perhaps I'm used to tryserver.

[2016-06-24 22:50] andymckay commented on #2653
I think @diox and @EnTeQuAk got this in London.

[2016-06-24 22:50] #2653 closed

[2016-06-24 22:55] andymckay commented on #1305
Is anyone going to do this though? Does run on Windows? Tempted to won't fix this.

[2016-06-24 23:38] diox commented on #2653
Yeah, done in #2928

[2016-06-24 23:40] diox commented on #2228
It's still not amazing, but we've exhausted the easy quick wins I think. Let's close for now.

[2016-06-24 23:40] #2228 closed

[2016-06-24 23:59] #2022 closed

[2016-06-25 02:55] MizLiberty opened #3004 "iTunes is prompting for an "iCloud Bookmarks extension for Firefox" ..."
I am setting up iCloud on my laptop, and when iTunes is prompts for an "iCloud Bookmarks extension for Firefox" to be added, but the redirect results in a firefox error message [HERE](https://addons.mozilla.org/en-US/firefox/addon/icloud-bookmarks/)
What gives?

[2016-06-25 08:16] tofumatt commented on #1305
Please don't. Windows contributors are awesome and we've had a lot of success helping them contribute on localForage. Make is pretty old and weird technology anyway and we certainly don't _need_ to use it.

[2016-06-25 10:10] kewisch opened #3005 "Add-ons get into a state waiting for full review but versions not actually pending review"
I've seen this recently on two add-ons. The add-on is in the "pending full review" state, but the latest version is actually in the statue preliminary reviewed. This causes the only available actions to be "request super review", "request more information" and "comment".

I first though this was due to a reviewer mistake in the [せどり サーチ](https://addons.mozilla.org/en-US/editors/review/%E3%81%9B%E3

[2016-06-25 14:45] tsl143 commented on #2988
Unable to reproduce the issue
![screen shot 2016-06-25 at 8 14 43 pm](https://cloud.githubusercontent.com/assets/5318732/16357343/7fa66428-3b11-11e6-825f-c7126d6fed1f.png)

[2016-06-25 15:13] wagnerand commented on #3005
Are you sure the add-on status is "Pending Full review". I think you meant "Preliminary reviewed and awaiting full review". If so, this is getting fixed by #2992.

In the meantime, admins can just manually set the add-on status to "Awaiting full review" and then approve it.

[2016-06-25 15:17] kumar303 commented on #2988
That's because we already pushed out a hotfix release to production: https://github.com/mozilla/addons-server/compare/2016.06.23...2016.06.23-1

How about we close this issue; @diox can you make a new issue to retry the certifi upgrade?

[2016-06-25 15:17] #2988 closed

[2016-06-25 17:51] diox opened #3006 "Upgrade certifi"
We should upgrade certifi as the version we are using is quite old. We tried to do this in #2908 and it caused #2988, forcing us to revert.

The issue is, to work correctly, the latest version of certifi needs openssl 1.0.2 or greater. There are 3 different solutions:
1. Keep an old version of certifi, or use the old weak PEM bundle that the previous version used. This is bad for security.
2. Upgr

[2016-06-25 18:55] lavish205 commented on #2717
I would love to work on this bug.

[2016-06-25 18:56] tofumatt commented on #2717
@lavish205 Feel free to work on it; we can't assign you in GitHub because you aren't part of the Mozilla org, but consider it assigned to you 😄

Thanks!

[2016-06-25 19:36] #1599 closed

[2016-06-26 11:45] kewisch commented on #3005
Ah yes, "Preliminary reviewed and awaiting full review" is correct. Thanks for the link!

[2016-06-26 11:45] #3005 closed

[2016-06-26 20:09] krzysztofzuraw commented on #2440
Hello, I wanted to start working on this issue. Is there anything more that I need to know to start working on this?

[2016-06-27 09:36] wagnerand opened #3007 "403 Forbidden when trying to view raw file"
(Clone of https://github.com/mozilla/amo-validator/issues/441)

Quite regularly, trying the **Download ******\*  links at the bottom (ie view) results in **403 Forbidden**

Example:
`https://addons.cdn.mozilla.net/en-US/firefox/files/browse/459606/file-serve/modules/BrandThunderUtils.jsm?token=c568f0b0-e701-4990-a960-65cefaa3362a`

[2016-06-27 11:06] erosman opened #3008 "Info Request attached to the wrong version"
I rejected an addon. I needed to post additional comments which was done via "Request more information". Previously that was working as it should.

I noticed today that it was attached to the last passed version and not the current but rejected one.

Ref: `https://addons.mozilla.org/en-US/editors/review/klamm-de-websuche-gutscheine`

Re-posted from: https://github.com/mozilla/amo-validator/issues/

[2016-06-27 11:34] #2994 closed

[2016-06-27 11:43] eviljeff commented on #2857
I don't suppose counting the CDN download is possible?

[2016-06-27 13:49] diox commented on #2997
Trickier than I thought to debug. On stage, I get:

This is because we have an Elasticsearch 400 error that is caught by one of our middlewares and transformed into a 503 error page. The actual error, as logged in syslog:

[code]

It's different from the trace above (which is `NoReverseMatch: Reverse for 'devhub.versions.edit' with arguments '(u'nosquint', Undefined)' and keyword arguments '{}'`,

[2016-06-27 14:33] diox commented on #2997
Both dev and stage elasticsearch instances have no `compat` documents:
[code]
[code]

And I did force a reindex on both...

[2016-06-27 14:40] diox opened #3010 "Stop indexing compatibility data for anything other than recent versions of Firefox"
When we run the `compatibility_report` cron we index compatibility data for all add-ons, for all applications, for all versions of these applications.

This means we fill our elasticsearch cluster with compatibility data for very old versions of applications, like Firefox 4.0. Do we really need to do that ? It's going to continue growing, increasing time spent in that cron, time spent when reindex

[2016-06-27 14:41] diox commented on #3010
Side-note if you were looking to look into this like me: it's not working on dev/stage, because it depends on `UpdateCount`, which itself depends on hive data, which does not work on dev/stage. Locally, you can manually add some `UpdateCount` in your db to make it work.

[2016-06-27 14:42] diox commented on #2997
All the dev/stage weirdness is because the `compatiblity_report` cron does not work on dev/stage - they don't have any `UpdateCount` objects in the db. See also #3010.

[2016-06-27 14:52] #2225 closed

[2016-06-27 14:55] #2001 closed

[2016-06-27 15:14] vcarciu commented on #2969
Verified as fixed using https://addons-dev.allizom.org/en-US/editors/review/rejectionview , with a normal reviewer account

[2016-06-27 15:32] kumar303 commented on #1305
Since we have Docker now, which is supported by Windows, it would be a shame to leave Windows contributors in the dust simply because they can't run our Makefile.

However, I'm not sure it's true that Windows users can't run our Makefile. Does it actually break somehow? I see that there is [GnuMake](http://gnuwin32.sourceforge.net/packages/make.htm) for Windows which doesn't require a full runtime

[2016-06-27 16:00] andymckay commented on #1305
I used cygwin for ages on windows with no problem. If you look at most of the commands now they are just jumping you into the docker env anyway. https://github.com/mozilla/addons-server/pull/3003

My real concern is simple, without any Windows users, no-one will work on it and anything we do will bit rot.

[2016-06-27 16:09] tofumatt commented on #1305
Switching to something like a python or node task runner would mean we’d all still be using it, but then it’s more accessible to Windows users. If there’s an edge case (in my experience they are few if using node) and someone finds/fixes it yay. If not no harm done; there shouldn’t really be Windows-specific code as much as “code that runs anywhere”.

This sort of thing is always a bit chicken and

[2016-06-27 16:13] andymckay commented on #1305
If it something we all use, that's not make, I would be totally up for that.

[2016-06-27 16:18] eviljeff opened #3011 "Allow review comments to be added to rejected versions"
From mozilla/amo-validator#440

@9817742ad changed what is the `latest_version` so that rejected versions aren't considered.  So if a version is rejected in the editor tools then follow up review content (e.g. info requests) aren't attached to that version any more.  We'll need a `last_but_not_necessarily_latest_version` property :)

[2016-06-27 16:19] eviljeff commented on #3011
I'm assigning this to me but it'll be a long while until I can do it so please take it if you can.

[2016-06-27 16:21] eviljeff commented on #3008
Argh! sorry, didn't see you'd reposted it already so I just created #3011 - I'll keep that one.

[2016-06-27 16:21] #3008 closed

[2016-06-27 17:18] jvillalobos commented on #3004
The extension was removed from the site due to stability problems.

[2016-06-27 17:18] #3004 closed

[2016-06-27 18:09] tofumatt commented on #2579
Everything is checked off. Gonna call this one done!

[2016-06-27 18:09] #2579 closed

[2016-06-27 20:05] #2717 closed

[2016-06-27 20:13] lavish205 commented on #2924
I would love to work on this issue, looking forward for some instructions to start with.

[2016-06-27 20:15] lavish205 commented on #2979
This issue is bit similar to #1771
I can work on this issue

[2016-06-27 20:18] wagnerand commented on #2924
What information is missing from https://github.com/mozilla/addons-server/issues/2924#issuecomment-227208386?
During triage, if it is decided that this is a good first bug, we will add a mentor who can provide more details if needed.

[2016-06-27 20:55] #2656 closed

[2016-06-27 22:51] krupa commented on #2726
test webextension: http://cl.ly/3n3n0e2E1k3L

## setup:
Set xpinstall.signatures.dev-root to true in about:config

## STR:
0. Download Amazon Storywriter webextension from Chrome store and directly upload the .crx file without any modifications. Approve the app from Editor tools.
1. Load https://addons-dev.allizom.org/en-US/firefox/addon/amazon-storywriter/ on your Firefox dev edition 49.0a2 (2016

[2016-06-27 22:53] andymckay commented on #2726
[code]

It's got a set of permissions we don't support. That's an app, not an extension.

[2016-06-27 23:05] tofumatt commented on #2726
Looks like we should try to flag that, I suppose in the linter.

I’ll aim to have a patch tomorrow so we can include it in the tag.

- tofumatt

On 27 June 2016 at 23:53:34, Andy McKay (notifications@github.com) wrote:

1467067541299 addons.webextension. ERROR Loading extension 'null':
Reading manifest: Error processing permissions.5: Unexpected value
{"fileSystem":["write"]}
Log.jsm:753

It's got

[2016-06-28 06:38] EnTeQuAk commented on #2228
Alrighty, I just spend a hour splitting up tasks and moving dependency installation to travis to get proper timings and maybe see more bottlenecks. See https://travis-ci.org/mozilla/addons-server/jobs/140719163 as a very very good example. This runs most of our test-suite, the suite itself runs in under a minute (https://travis-ci.org/mozilla/addons-server/jobs/140719163#L709) but dependency insta

[2016-06-28 08:37] EnTeQuAk commented on #2228
In case some one is interested, statistics of what module has how many tests:

* abuse:  5
* access:  24
* accounts:  111
* addons:  818
* amo:  491
* api:  127
* applications:  10
* bandwagon:  170
* blocklist:  75
* browse:  121
* compat:  30
* devhub:  868
* discovery:  5
* editors:  635
* files:  348
* internal_tools:  25
* landfill:  50
* legacy_api:  108
* legacy_discovery:  51
* lib:  71
*

[2016-06-28 09:06] EnTeQuAk commented on #2228
More interesting facts: The same build amount of tests with different cores:

 * 2 cores: 359.36s (https://travis-ci.org/mozilla/addons-server/jobs/140746439)
 * 3 cores: 539.11s (https://travis-ci.org/mozilla/addons-server/jobs/140746499)

[2016-06-28 09:28] EnTeQuAk commented on #2228
Shaved off another ~3 minutes to master: https://travis-ci.org/mozilla/addons-server/builds/140748773 and if we make elasticsearch tests multicore-compatible we might be able to get <10 min: https://travis-ci.org/mozilla/addons-server/builds/140752083 (and maybe split off `zadmin` but that needs some benchmarks)

[2016-06-28 12:18] diox commented on #2923
1. Determine list of categories, merging all applications into one. We could still have different categories per app if needed, but let's try not to (We'll have to see how well that works with Personas, Thunderbird add-ons etc).
2. Make a mapping of the existing categories in db to the static merged one (use slugs).
3. We can use that mapping to keep using the old db schema while populating the ne

[2016-06-28 12:42] diox commented on #2990
Will be fixed by #2995 when it lands on prod on Thursday. It'll be on stage later today.

[2016-06-28 12:42] #2990 closed

[2016-06-28 13:55] diox commented on #2997
Reindex was done on prod. It seems to have fixed the issue for me.

[2016-06-28 13:55] #2997 closed

[2016-06-28 13:58] wagnerand opened #3015 "Known libraries are not marked for webextensions"
[Archive.zip](https://github.com/mozilla/addons-server/files/337169/Archive.zip)

This test file contains jQuery 2.2.3 which is successfully recognized by the linter, but that information is not exposed on AMO, neither in the validation report, nor in the source/diff viewer.

[2016-06-28 14:13] #2998 closed

[2016-06-28 14:15] eviljeff commented on #3015
How can we tell it's successfully recognised by the linter?

[2016-06-28 14:17] wagnerand commented on #3015
`$ mv Archive.zip Archive.xpi`
`$ bin/addons-linter Archive.xpi`

[2016-06-28 14:23] eviljeff commented on #3007
which add-on(s) and file(s) - link to example please.

[2016-06-28 15:55] diox commented on #2923
Note about merging: `get_creatured_ids()`, which returns the featured add-ons for a given category, assumes categories are different for each app, and would need to be changed accordingly (or we'd need to stop doing featured add-ons for a given category in applications other than Firefox)

[2016-06-28 16:11] eviljeff commented on #2987
looks like this is working as expected.

[2016-06-28 16:11] #2987 closed

[2016-06-28 16:14] shell15 commented on #2959
we aren't investing work into non- functionality blockers until the visual styling front-end refresh.

[2016-06-28 16:14] #2959 closed

[2016-06-28 16:17] shell15 commented on #2934
since this is tracked in another bug - closing this one.  thanks =]

[2016-06-28 16:17] #2934 closed

[2016-06-28 16:19] #1923 closed

[2016-06-28 16:21] krupa commented on #2712
I cannot reproduce this bug anymore. @vcarciu can you reopen if you see the issue again.

[2016-06-28 16:21] #2712 closed

[2016-06-28 16:21] shell15 commented on #1879
needs a dev to check in century for exception investigation.

[2016-06-28 16:23] eviljeff commented on #1830
is this reproducible on prod?

[2016-06-28 16:28] shell15 commented on #1831
for an approved add-on we do show unreviewed versions in the history page.  something we need to consider when we do the style re-write for versioning (and a clear write-up of expected behavior).  in first situation logged in as admin.  in second situation it is user facing and logically should not see version 2 (but it's working).

we're pretty certain it's expected behavior -but tagging @jvillal

[2016-06-28 16:29] diox opened #3017 "Add way to fetch featured (for homepage or a category) add-ons in the API"
We need an API to return featured add-ons (or only extensions, or only themes) for the homepage and the category pages.

"Featured Add-ons" is an old clunky mechanism. It's not just a search+sort like other sort options. Here is how it works:
- The code calls `get_featured_ids()` with the right `app`, `lang` and optionally `type`.
- `get_featured_ids()` does fancy joins on the collection table to

[2016-06-28 17:32] wagnerand commented on #2979
Mentor: me.

[2016-06-28 17:34] wagnerand commented on #2818
Mentor: @tofumatt

If this is your first bug, see https://wiki.mozilla.org/Add-ons/Contribute for details how to contribute.

[2016-06-28 17:36] wagnerand commented on #2940
Closing this as WONTFIX for now, we'll do this in the rewrite, unless someone really wants to do this now.

[2016-06-28 17:36] #2940 closed

[2016-06-28 17:41] wagnerand commented on #2924
During goodfirstbugs triage we decided that the current behavior is ok and does not need to be changed.

[2016-06-28 17:41] #2924 closed

[2016-06-28 17:43] wagnerand commented on #2825
Mentor: @tofumatt

If this is your first bug, see https://wiki.mozilla.org/Add-ons/Contribute for details how to contribute.

[2016-06-28 17:53] muffinresearch commented on #2516
@tsl143 first step would be to try and reproduce it locally by adding a theme on your local install.

[2016-06-28 18:04] eviljeff commented on #1011
More details:
we need to change the template used for this page (search for the string "Your submission will be automatically signed") so we only show this text for certain types of add-on, i.e. ADDON_EXTENSION, ADDON_DICT, ADDON_LPAPP, ADDON_LPADDON

[2016-06-28 18:06] eviljeff commented on #1011
See https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code
You will need an amount of python skill to understand the implementation needed, though the change would be in a (jinja) template file.

[2016-06-28 18:39] #2726 closed

[2016-06-28 19:48] EnTeQuAk commented on #1452
This is now merged into django master, https://github.com/django/django/commit/a9e188ccd6315d278795355a53bce6c1a63f5a50 I'll see if I can backport this for the time being.

[2016-06-28 19:50] EnTeQuAk commented on #2893
I think I'm just going to remove the flag if no one complains about it in https://github.com/mozilla/addons-server/issues/2937 this sprint so I'll close this here for now if that's alright.

[2016-06-28 19:50] #2893 closed

[2016-06-28 19:54] EnTeQuAk commented on #1862
Moving this to the next milestone, we discussed a possible reimplementation of that feature this morning which should be reasonable but there's a few other more important things for now.

[2016-06-28 20:17] tofumatt commented on #2893
wfm

- tofumatt

[2016-06-28 21:28] jvillalobos commented on #1831
Yes, showing unreviewed versions is expected behavior, though I'd like to change that in the future (it doesn't make much sense now with faster review times and signing requirements).

As for the initial bug report, I'd like to know how the file was approved in step 4. Was it approved using the reviewer tools? Did it appear in the review queue?

[2016-06-28 21:45] wagnerand commented on #1862
Do you think we could tackle this before the next bulk validation is supposed to be run?

[2016-06-29 03:24] erosman opened #3019 "Preliminary reviewed addon resubmitted for Full review can not be reviewed"
It seems new measures were introduced to prevent re-review of the addons. However, it appears that the new measure does not take into account Preliminary reviewed addon that are resubmitted for Full review.

There are many examples in the Full review queue at the moment.

[2016-06-29 05:48] EnTeQuAk commented on #1862
absolutely, I'd love to have the next bulk validation as an real-life test for the new implementation.

[2016-06-29 06:58] madalincm commented on #2997
In Dev and Stage I am getting the Search unavailable message:
![devcompatpage](https://cloud.githubusercontent.com/assets/15685441/16443152/bffc302c-3ddf-11e6-846d-d607e43ffa7a.png)
![stagecompatpage](https://cloud.githubusercontent.com/assets/15685441/16443154/c5101f06-3ddf-11e6-9069-51090b294ac6.png)

And I can't verify in production as we do not have an account with permissions to access that

[2016-06-29 06:59] madalincm commented on #2994
Can you please add some steps to reproduce for this issue or mark it with the needs no qa label if no qa is needed.

[2016-06-29 07:08] madalincm commented on #2988
I successfully completed a contribution in production (Win7, FF47)
![paypalcontribution2](https://cloud.githubusercontent.com/assets/15685441/16443412/65d06bfc-3de1-11e6-9a42-c9fe7b4a5243.png)
Marking bug as verified fixed.

[2016-06-29 09:32] diox commented on #2997
As I said on the previous comments, it just does not work on dev and stage, because the data is missing (and we can't easily import it cleanly).

I'll let @jvillalobos tell us if that is fixed or not for him in prod.

[2016-06-29 09:32] diox commented on #2994
@jasonthomas can you confirm that it's working now ?

[2016-06-29 11:55] diox commented on #3010
@jvillalobos what's your take on this ? How many versions should we show/support in the /admin/compat/ tool ? What about add-ons search ?

[2016-06-29 11:58] diox opened #3020 "Add filtering by category in the search API"
The search API needs to be able to filter by category for us to be able to re-implement the current search functionality with the new API.

Supports mozilla/addons/issues/151

[2016-06-29 12:00] diox opened #3021 "Return ratings and downloads/users information in the search/detail API"
Search and detail API need to return the number of ratings, the average rating, the number of users and the number of weekly downloads for each add-on.

Supports mozilla/addons/issues/151

[2016-06-29 12:06] diox opened #3022 "Return add-on author information in detail API"
The detail API needs to return author(s) information for an add-on. The detail page needs to show the full name (`name` property, which uses `display_name` if available, falling back to `username`) and the url to its profile.

We might need to tweak the search index if we also want to return this in the search API, because the index only contains authors names right now, not their usernames, so it

[2016-06-29 12:15] diox opened #3023 "Expose add-on previews in the API"
The API need to be able to return add-on previews URLs, with proper sizes etc, for an add-on. We don't need that in the search API, maybe it can be in the detail API or a separate endpoint. Cachebusting string need to be included when linking to the images.

Supports mozilla/addons/issues/151

[2016-06-29 12:26] diox opened #3024 "Add new API to list, fetch, post ratings for an add-on"
We need to be able to fetch a specific user rating using the API, but also list all the ratings attached to an add-on, and of course post a new one. (Possibly edit as well ?).

Supports mozilla/addons/issues/151

[2016-06-29 12:31] diox opened #3025 "Need an API to list all versions for an add-on"
We need an API listing all versions for an add-on.

In addition, we need to be able to display release notes and license information for each and link to the source if enabled (These new fields might not be needed in the add-on detail/search API, the detail page could call an extra API when displaying those, maybe).

Supports mozilla/addons/issues/151

[2016-06-29 12:57] muffinresearch commented on #2889
We noticed recently that the events might not fire if you don't restart after changing testing configuration. Going to close this we can re-open if it's seen under other circumstances.

[2016-06-29 12:57] #2889 closed

[2016-06-29 14:37] diox commented on #3025
On mobile, this information is not displayed in the detail page, so we don't have to include it in the detail/search API. That means we can have a "Simple" serializer for the `current_version` and a more complete one for the versions list API.

[2016-06-29 14:49] vcarciu opened #3026 "White background for Sign In button while waiting spinning wheel is displayed"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.Go to AMO-Stage and Sign in with a known user
2.After entering password and pressing Enter, observe the background of Sign In button while waiting for user to be signed in

Expected results:
Background of Sign In button is Grey and waiting spinning wheel is visible

[2016-06-29 14:56] vcarciu commented on #2712
Now all types of addons are displayed on Production too

[2016-06-29 14:59] vcarciu commented on #1830
@eviljeff  : no , this is not reproducible on prod

[2016-06-29 15:09] diox commented on #3022
We can probably do it with a property like this in the mapping:

[code]

And then remove the old `authors` field, taking care of changing the code that uses it as part of the ES query to use `author.name` instead. AFAIK it's only used in the addons mapping.

[2016-06-29 15:10] diox commented on #3022
Note: Marketplace has a `raw` version of this field to deal with exact matches, but I don't think we need that, at least for now. The author name is usually not that relevant to searches.

[2016-06-29 15:18] diox commented on #3020
See also https://github.com/mozilla/addons-server/issues/2923 to move the categories to a static list. This is probably going to be a requirement, otherwise we need to either a) have the front-end know the category ids or b) have the search code do a query to convert category slugs to ids. Both suck, so we should look into cleaning up categories first.

[2016-06-29 15:19] tofumatt commented on #2726
I should be clear: https://addons-dev.allizom.org/en-US/firefox/addon/amazon-storywriter/ needs to be deleted, it will never work to be installed in Firefox. But if the add-on @krupa originally tried submitting is submitted now, it should fail validation.

[2016-06-29 15:30] kewisch commented on #3019
Will be fixed by #2992

[2016-06-29 15:30] #3019 closed

[2016-06-29 15:47] vcarciu commented on #2726
Verified as fixed :
![javascript](https://cloud.githubusercontent.com/assets/1583842/16458985/dc335f3c-3e29-11e6-9c13-65b9ec8182b4.png)

[2016-06-29 16:07] jvillalobos commented on #2997
I can confirm it's working for me in prod.

[2016-06-29 16:14] jvillalobos commented on #3010
We should support versions at least back to the last ESR. Covering the last 7 major release versions of each application (plus the prerelease versions) should be sufficient. Currently, for Firefox that would mean 40 (current release is 47) to 50 (current nightly).

[2016-06-29 16:28] jasonthomas commented on #2994
Yes it is working now.

[2016-06-29 16:47] diox commented on #3010
Cool, I'll look into this some day if I have time...

[2016-06-29 17:17] diox commented on #2857
Jason gave me access to the scripts running on the hive side.

In that `amoDownloadCountsFiltered.py` file, it looks for logs containing `'/%/downloads/file/%'` and extracts the 4th component from the URL, which is the addon id. It then writes everything down to a tab-separated file which we then parse in `download_counts_from_file.py`.

There are 2 solutions here:
- Have the hive script also look

[2016-06-29 17:18] rmshake opened #3027 "iCloud Bookmarks extention for Safari"
I downloaded to my windows laptop and when I clicked on the link to download the iCloud Bookmark extention for Safari to use with my iCloud account it came up with an error with all info listed below:

We're sorry, but we can't find what you're looking for.

The page or file you requested wasn't found on our site. It's possible that you clicked a link that's out of date, or typed in the address in

[2016-06-29 17:21] tofumatt commented on #3027
Sadly the extension was removed because of stability problems; see #3004. It is no longer available for Firefox.

@jvillalobos That said, I think we should have a page there explaining why or letting users know it's disabled? I imagine... do we have any stats on how often that page is hit?

[2016-06-29 17:21] #3027 closed

[2016-06-29 17:26] wagnerand commented on #2857
That's what @mkaply mentioned to me in London.

[2016-06-29 17:49] jvillalobos commented on #3027
Best I can offer is a blocklist page: https://addons.mozilla.org/firefox/blocked/i1214

Disabled add-on pages don't offer much information, unfortunately, but it's also rare that such a high-profile add-on is disabled.

[2016-06-29 17:51] tofumatt commented on #3027
Understood.

If we could redirect to that page it’d be great; is there code to do
redirects like this in place? If not I dunno if it’s worth it, but if so
(or if we can just do a Django redirect, if there’s prior art for that) I’d
say we go for it.

[2016-06-29 18:05] jvillalobos commented on #3027
We've never done that before, so my guess is no.

[2016-06-29 18:08] andymckay commented on #3027
One thing I'd really like to see is the ability to do more when an add-on is disabled, or merely no longer supported by a developer and they'd like to recommend another add-on. This is something we've struggled with for a while, I think we can do better.

[2016-06-29 23:42] andymckay commented on #3026
Sorry, you'd need to file that against Firefox Accounts, its not a page we control. Unfortunately its hard to move bugs in github, Firefox Accounts is here: https://github.com/mozilla/fxa

[2016-06-29 23:42] #3026 closed

[2016-06-29 23:42] andymckay commented on #3017
Supports mozilla/addons#151

[2016-06-30 07:08] erosman opened #3028 "Review fails to Display the file"
Example:
`https://addons.mozilla.org/en-US/editors/review/ip-check`

**Compare** fails completely.
 **Contents** results in **That file no longer exists.** (<- this is the main concern)

Result of: `https://addons.mozilla.org/en-US/firefox/files/browse/461178/file/index.js#top`
https://postimg.org/image/s9bjvfq0h/

However, clicking "Download index.js" shows the file and I was able to download the

[2016-06-30 07:21] kewisch commented on #3028
There is something fishy with those files. I get an empty file viewer for the older version 0.2.11-signed at https://addons.mozilla.org/en-US/firefox/files/browse/323756/. Comparing the latest 0.22 with 0.2.11-signed also gives me an empty source viewer. If I compare with other versions or just check the contents of 0.22, I also have no problems (whereas erosman does): https://addons.mozilla.org/e

[2016-06-30 08:13] madalincm opened #3030 "Author can't access listing page for a hidden add-on"
**Steps to reproduce:**
1. Open the my submission page: https://addons.allizom.org/en-US/developers/addons
2. Open Manage Status & Versions page for an add-on and change the visibility to hidden
3. Open the add-on listing page.

**Expected results:**
The author can view his add-on listing page.

**Actual results:**
"This add-on has been removed by its author."  message is displayed.

**Notes/Issue

[2016-06-30 10:52] tofumatt commented on #2736
Closed by #3029.

[2016-06-30 10:52] #2736 closed

[2016-06-30 12:43] diox commented on #3030
@madalincm is it a regression ?

[2016-06-30 12:55] madalincm commented on #3030
I think it is, but probably an old one. In production following the same scenario you receive a 404 message but you do not get the  This add-on has been removed by its author. Just a generic 404 page.
![hiddenaddonproduction](https://cloud.githubusercontent.com/assets/15685441/16488805/021762aa-3edb-11e6-8058-8ec88ff3da01.gif)

[2016-06-30 13:18] vcarciu commented on #2736
Verified as fixed :
http://screencast.com/t/P3Y0kUY5Y

[2016-06-30 13:42] madalincm commented on #2998
Verified as fixed in FF47(Win7) in addons-dev.allizom.org
I've tried language pack, dictionary, complete themes and search engine and the e10s warning is not displayed.
![e10sdict](https://cloud.githubusercontent.com/assets/15685441/16490280/a12a9c76-3ee1-11e6-8ed3-461618102998.png)

![e10slangpack](https://cloud.githubusercontent.com/assets/15685441/16490286/a7d3bac6-3ee1-11e6-873a-4b992796f154.p

[2016-06-30 13:48] madalincm commented on #2982
Can you please add some steps to reproduce for this issue or mark it with the needs no qa label if no qa is needed.

[2016-06-30 14:39] wagnerand commented on #3030
If we show a hidden listing to its owner, we need to add a clear note at the top that this listing cannot be seen by anyone else or something.

[2016-06-30 14:43] vcarciu commented on #2717
Verified as fixed : http://screencast.com/t/P3Y0kUY5Y

[2016-06-30 14:53] jvillalobos commented on #3030
"This add-on has been removed by its author." is the expected result, so this isn't really a bug.

Getting a 404 as in @madalincm's last comment would be a bug, unless that add-on didn't have any versions.

[2016-06-30 16:08] diox commented on #2857
I understood why stats were not completely flat: the legacy API is still using the direct file links, which are parsed correctly. So any installs from the about:addons search in Firefox are still counted properly.

I have an idea how to fix the scripts parsing the logs, just making it look for `/downloads/` instead of `/downloads/file/`, and then simply handle add-on slugs in https://github.com/mo

[2016-06-30 19:57] andymckay commented on #3015
@tofumatt and @EnTeQuAk could you take a look at this for @wagnerand please and see if we can do something for the next tab?

[2016-06-30 20:00] EnTeQuAk commented on #3015
This is simply not implemented. I'll take a look at it, the linter exposes the data as does the validator so it should be relatively straight forward to implement.

[2016-07-01 12:23] diox commented on #2857
Tested my idea locally and it seems to be working fine, so I'll submit a PR to do that. We'll then be able to recalculate stats (we can re-run the hive query for particular dates and re-run `update_counts_from_file` as well, it'll overwrite the existing data).

[2016-07-01 19:56] mustaim commented on #2857
FYI, stats broken completely today.
https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/statistics/?last=90

[2016-07-02 01:46] eadsjr opened #3037 "Broken Link: Google Minimalist"
Link to new project from here does not work: https://addons.mozilla.org/en-US/firefox/addon/customizegoogle/

[2016-07-02 09:57] tofumatt commented on #3037
@eadsjr Thanks for the report. Unfortunately the add-on they're linking to isn't available anymore and it's the developer who is responsible for those links, but I'll see if we can fix it up. Thanks for letting us know!

@jvillalobos Would it be appropriate to just remove the link from the description? I think I have admin rights so I could probably do it if that's okay.

[2016-07-03 04:54] erosman commented on #2857
Did the stats take another break on June 30?

ref: https://github.com/mozilla/addons-server/issues/2934

[2016-07-04 09:22] EnTeQuAk commented on #2857
We're working on fixing this in https://github.com/mozilla/addons-server/issues/3034 but this isn't live yet so the stats may still be broken. The ticket will be updated accordingly once things are fixed / updated.

[2016-07-04 16:22] jvillalobos commented on #3037
I removed it, thanks.

[2016-07-04 19:23] #3037 closed

[2016-07-04 19:25] wagnerand opened #3038 "User cannot delete their account if they have deleted add-ons"
Even after a user deleted all of their add-ons, they cannot delete their account.

It should be possible for a user to delete their account in that case. We need to decide what happens with the GUIDs that used to belong to the user. Maybe add it to the blacklist?

[2016-07-04 19:25] wagnerand commented on #3038
Adding @jvillalobos.

[2016-07-04 19:31] jvillalobos commented on #3038
I suggest keeping the add-ons in a Deleted state, and associate them to a special graveyard account.

[2016-07-05 00:42] mjlass11 opened #3039 "icloud bookmark extension"
I was linked here from icloud. I was trying to sync my bookmarks from Firefox, and the link was not found. I tried searching for it, but couldn't find it. Thanks

Mike Lasser
mjlass@aol.com

We're sorry, but we can't find what you're looking for.

The page or file you requested wasn't found on our site. It's possible that you clicked a link that's out of date, or typed in the address incorrectly.

[2016-07-05 08:05] teo951 opened #3041 "Validator not properly validate WebExtensions"
As in the title. Validator does not detect any problems in almost all the WebExtensions add-ons. Also as Andreas reports, Validator not recognize valid js libraries.

[2016-07-05 09:08] muffinresearch commented on #3041
Hi - we'll need a bit more information to go on.

Please provide links to any extensions you're testing and the problems you're seeing and how that differs from what you expect.

[2016-07-05 09:49] teo951 commented on #3041
Please pay attention on using innerHTML in this add-on: https://addons.mozilla.org/en-US/editors/review/stackexchangenotifications
Validator not reports any problems.

[2016-07-05 11:36] #3015 closed

[2016-07-05 11:57] EnTeQuAk commented on #1681
This is now fixed with the merge of https://github.com/mozilla/addons-server/pull/3012 - should be online on Thursday

[2016-07-05 14:51] jvillalobos commented on #3039
Dupe of #3027

The add-on was removed from the site due to stability problems.

[2016-07-05 14:51] #3039 closed

[2016-07-05 15:06] muffinresearch commented on #3041
@wagnerand I don't have access to this link. Any chance you can add more details to this bug or file a new bug on addons-linter with details of what's not working?

[2016-07-05 17:26] muffinresearch commented on #3041
Superceded by https://github.com/mozilla/addons-linter/issues/811

[2016-07-05 17:26] #3041 closed

[2016-07-05 18:14] cmhanlon opened #3047 "Missing iCloud for windows bookmark extension"
There was an issue with the extension that seems to have been fixed, but the add-on is no longer available. Expecting to see the iCW Firefox Bookmark extension here: https://addons.mozilla.org/en-US/firefox/addon/icloud-bookmarks/

[2016-07-05 18:23] wagnerand commented on #3047
Dupe of #3027

The add-on was removed from the site due to stability problems.

[2016-07-05 18:23] #3047 closed

[2016-07-05 19:16] EnTeQuAk commented on #1933
I somehow believe this is more a feature than a bug but please feel free to correct me if I'm wrong. Closing this ticket since this will be something that will be re-implemented with the new addons-frontend and a proper API, nicer, better and awesomer.

[2016-07-05 19:16] #1933 closed

[2016-07-05 19:20] EnTeQuAk commented on #1833
I wonder why no one complains about this and why this still works. Maybe @wagnerand knows if this a regression somehow or did we remove that dropdown and forgot to remove the label too? I feel like this has some importance but given that this bug was reported ages ago I don't know if that's actually the case. Mind commenting on that @wagnerand? Or @eviljeff could know something about that too

[2016-07-05 19:29] jvillalobos commented on #1833
It's very edge-casey, and I would suggest this is a wontfix. Only on certain circumstances you should be able to add files to a version, and this shouldn't be one of them.

[2016-07-05 19:38] mstriemer opened #3048 "Waffle FxA migration code"
Wrap the migration code in a waffle so we can disable it once the change has been properly communicated.

[2016-07-05 19:40] mstriemer opened #3049 "Remove FxA migration and unused password code"
Once we have flipped the migration waffle off we can remove a lot of code.

Remove the migration waffle since we're never going back.

Drop the password column if possible and update anything that is expecting a password (`make initialize_docker` and change password, for example). If the password column cannot be dropped it should at least be set to unusable passwords and support for setting passw

[2016-07-05 19:41] EnTeQuAk commented on #1833
Thanks for the quick comment!

[2016-07-05 19:41] #1833 closed

[2016-07-05 19:47] EnTeQuAk commented on #1832
Closing this since I believe this is is very very low priority and will be reimplemented with the new addons-frontend cleanly anyway sometime in the near future. Please feel free to reopen in case someone disagrees.

[2016-07-05 19:47] #1832 closed

[2016-07-05 19:51] EnTeQuAk commented on #1830
I cannot reproduce this on stage now too. Clicking both links show exactly the expected result (sorted by creation date and sorted by some kind of popularity). Am I missing something or is this a wont-fix?

[2016-07-05 19:54] EnTeQuAk commented on #1829
Changing the compatibility on AMO does **not** change any compatibility values in the `install.rdf` file. The first will be used to show the green button but the actual value in the `install.rdf` is being used by Firefox to determine compatibility which is failing here since it hasn't been updated.

This is a wont-fix I think since it's working as expected imho. Feel free to reopen if I'm missing

[2016-07-05 19:54] #1829 closed

[2016-07-05 19:59] EnTeQuAk commented on #1822
Hmm, this is a stupid but but probably low priority enough and could be easy to fix, maybe it's just a wrong queryset that is being passed to the pagination.

I'm happy to mentor this.

[2016-07-05 20:05] EnTeQuAk commented on #1801
I'll add this to the triaged bugs since this looks like it affects multiple add-ons but quite complex so free for someone with enough time to dig deep.

[2016-07-05 20:09] EnTeQuAk commented on #1779
I think this is mostly removing stuff and testing nothing broke. mentor @eviljeff

[2016-07-05 20:12] EnTeQuAk commented on #1776
This might be a bug but I feel like it's edge-case enough to be revisited if we're going to reimplement this some time in the near future with the new addons-frontend.

Closing as wont-fix for now unless someone else disagrees.

[2016-07-05 20:12] #1776 closed

[2016-07-05 20:24] EnTeQuAk commented on #1724
I feel like that's a feature that could get more complex and maybe there's a need for it or maybe not.

[2016-07-05 20:39] EnTeQuAk commented on #1661
We're going to reimplement quite a few things also mobile first in the near future with the new addons-frontend so I'm going to close this as wontfix since it will be shiny in the future anyway and might not be worth the effort fixing.

[2016-07-05 20:39] #1661 closed

[2016-07-05 20:50] EnTeQuAk commented on #1557
adding this to "triaged" since I believe this is a bug that should be fixed but isn't that easy so it might take some time before anyone can actually look deep enough into that since we're working on quite a few other things currently.

[2016-07-05 21:01] wagnerand commented on #2979
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

[2016-07-05 21:04] EnTeQuAk commented on #1401
I'm pretty sure this is cached somewhere somehow so a change is not visible immediately. I'm closing this as wontfix for now since it's one of the things that might be reimplemented in the near future anyway.

[2016-07-05 21:04] #1401 closed

[2016-07-05 21:17] EnTeQuAk commented on #1167
Hmm, I feel like I can't reproduce this so I'm closing for now. Please feel free to reopen anytime if the error occurs again.

[2016-07-05 21:20] #1167 closed

[2016-07-05 21:21] Noitidart commented on #1167
Thanks will let you know if it happens again. I don't think I encountered this issue since OP.

[2016-07-05 21:26] EnTeQuAk commented on #1388
![screen shot 2016-07-05 at 23 25 34](https://cloud.githubusercontent.com/assets/139033/16600539/de858e44-4307-11e6-8623-68002de1d4b6.png)

Works for me, closing for now. Please feel free to reopen if this occurs again.

[2016-07-05 21:26] #1388 closed

[2016-07-05 21:27] EnTeQuAk commented on #1157
I believe this will be reimplemented later anyway with properly showing the installation state so maybe this should move to addons-frontend or be closed and rescheduled for when we attempt to reimplement this.

[2016-07-05 21:32] EnTeQuAk commented on #1167
That's reassuring, thanks a lot!

[2016-07-06 07:25] lavish205 commented on #2979
There are two more similar models, `RereviewQueueTheme` and `RereviewQueueThemeManager`, should I remove these two as well?

[2016-07-06 07:53] lavish205 commented on #2979
There are two more similar models, `RereviewQueueTheme` and `RereviewQueueThemeManager`, should I remove these two as well?

[2016-07-06 10:27] wagnerand commented on #2979
No.

[2016-07-06 13:29] ValentinaPC opened #3051 ""Incomplete" status for one-version add-on after re-enable"
Steps to reproduce:
1. Submit a listed add-on https://addons.allizom.org/en-US/developers/addon/submit/2
2. Approve the submitted add-on
3. Go to Manage Status & Versions and disable add-on version
4. Re-enable the disabled version

Expected results:
Add-o status returns to its initial state.

Actual results:
Add-on status is incomplete.

Notes/Issues:
Two links: "Request Preliminary Review · Requ

[2016-07-06 15:24] jvillalobos commented on #3051
That's odd. Since when do we have the option to re-enable a version? How could we tell between a version disabled by admins and a version disabled by the developer? cc @wagnerand @eviljeff

[2016-07-06 15:52] #2979 closed

[2016-07-06 16:41] shell15 commented on #1494
please re-open if still happening.  really appreciate the bug, but we can't reproduce on latest versions

[2016-07-06 16:41] #1494 closed

[2016-07-06 16:48] shell15 commented on #1444
when we do the redesign will look over what rate limiting controls are added to which APIs

[2016-07-06 16:56] shell15 commented on #1157
we are expecting to do something like this in the next overhaul.  cheers and thanks

[2016-07-06 16:56] #1157 closed

[2016-07-06 19:42] #2937 closed

[2016-07-06 21:21] jvillalobos opened #3054 "Add support for versionRange in graphics blocklists"
I learned from [bug 1283601](https://bugzilla.mozilla.org/show_bug.cgi?id=1283601) that there's a new attribute in graphics blocklist entries that needs to be supported in our admin interface. It's necessary in order to resolve that bug, so it can't wait for the move to kinto.

What we need is for gfx entries to have two additional text fields: Max application version, Min application version. The

[2016-07-06 21:37] n1k0 commented on #3054
I've filed https://github.com/mozilla-services/amo2kinto/issues/39 about this.

[2016-07-07 07:54] lavish205 commented on #2825
I would like to work on this issue.

[2016-07-07 08:11] EnTeQuAk commented on #1247
The search isn't context sensitive to the currently selected category but always global. Expanding categories works for me.

![screen shot 2016-07-07 at 10 10 32](https://cloud.githubusercontent.com/assets/139033/16646575/127254d4-442b-11e6-918f-414bd6ff3f01.png)

Closing but please feel free to reopen at any time in case I misinterpreted the issue here.

[2016-07-07 08:15] EnTeQuAk commented on #1108
The validation report is only shown if there are any errors or warnings. If everything is fine I believe there's no need to show the report since it's just 5 green checkboxes telling you that everything is fine.

Closing as I don't believe this is something we need. You are able to see the validation reports for every version in "Manage Status & Versions" (e.g https://addons.allizom.org/en-US/deve

[2016-07-07 08:15] #1108 closed

[2016-07-07 08:19] tofumatt commented on #2825
Sounds good, consider it yours. If you need any guidance let me know, otherwise just ping me when you have a pull request ready. Thanks!

[2016-07-07 08:20] EnTeQuAk commented on #1063
This works for me, maybe it's related to the very very wide timeframe you selected? I actually doubt that too though.

![screen shot 2016-07-07 at 10 18 01](https://cloud.githubusercontent.com/assets/139033/16646788/5ea10b74-442c-11e6-809a-5b448cd418ec.png)

Please feel free to reopen this issue at any time if the issue persists and is reproducible again.

[2016-07-07 08:20] #1063 closed

[2016-07-07 08:29] EnTeQuAk commented on #1036
I don't necessarily understand why we support changing the type of an add-on, imho that information is already present in the install.rdf and changing it doesn't sound reasonable to me since it's either an extension, or a theme or a dictionary or a search add-on and that is dependent on the actual code, not what I configure on AMO.

Maybe we should remove this option alltogether?

[2016-07-07 08:31] EnTeQuAk commented on #1035
Is this issue still present or important? I believe we're going to touch editor tools some time later and change / fix this then too so I'm going to close this for now.

Please feel free to reopen at any time though if there's the need for it.

[2016-07-07 08:33] EnTeQuAk commented on #991
I very honestly don't think we need an api endpoint for that. repacks should not occur that often. @andymckay or is there an actual need for that to be implemented?

Closing for now though...

[2016-07-07 08:33] #991 closed

[2016-07-07 08:39] tofumatt commented on #2825
Hey there,

A few of the AMO developers just talked about this on IRC. This actually doesn't seem like a good first bug as it's tied up in pagination code and would actually be a lot of work to unravel for a relatively small gain. While a fix would be an improvement, I think this is something best left alone as a wont fix that we can just do better in a new front end.

[2016-07-07 08:39] #2825 closed

[2016-07-07 08:41] EnTeQuAk commented on #981
I believe the default language is configured in the install.rdf for regular add-ons and in the manifest.json for WebExtensions. Uploading a new version should already overwrite the configured default_language imho so maybe we should just remove the ability to change it in the UI? Or leave it and wait for our overhaul.

[2016-07-07 08:44] EnTeQuAk commented on #980
We are going to touch and change quite a few of these pages in the near future so I believe it will be fixed during one of these rewrites. That's why I'm closing this issue.

[2016-07-07 08:44] #980 closed

[2016-07-07 08:45] EnTeQuAk commented on #912
@eviljeff @wagnerand is there a reason for this button to be missing (because themes....) or is this an actual bug?

[2016-07-07 08:48] EnTeQuAk commented on #907
Is this something that we need to fix or requires more thinking, more whatever during revamping our tools step by step and could be closed for now?

[2016-07-07 08:50] EnTeQuAk commented on #1830
Closing as "works for me" but please feel free to reopen at any time if the issue persists.

[2016-07-07 08:50] #1830 closed

[2016-07-07 08:55] EnTeQuAk commented on #1699
I don't know if that's the intended behavior for various reasons or an actual bug.

[2016-07-07 08:56] EnTeQuAk commented on #1588
I think this will be changed somewhere in the far future with our bigger revamp of things so I'm closing this for now since I believe a reimplementation will either remove this feature or fix it cleanly.

[2016-07-07 08:56] #1588 closed

[2016-07-07 08:57] Archaeopteryx commented on #981
They don't know a default language.

[2016-07-07 08:59] EnTeQuAk commented on #1542
Has this issue occurred more often recently or was that really just this one time?

[2016-07-07 09:01] EnTeQuAk commented on #1519
We fixed quite a few things in January and more recently, does this issue still occur to you?

[2016-07-07 09:03] EnTeQuAk commented on #1094
I think we can fix or downgrade this error message more to an info or even silence it. It's very low priority though imho.

[2016-07-07 09:11] EnTeQuAk commented on #981
Indeed I was wrong, that's just the case now for WebExtensions and for regular add-ons it simply defaults to English.

[2016-07-07 09:17] gigelu commented on #1519
Hello

It's fixed now, I just signed it and it's all OK.

Thank you.

[2016-07-07 09:17] #1519 closed

[2016-07-07 09:28] erosman commented on #1542
It is a very specific issue which occurred on specific circumstances (not common).
To test it, a test situation has to be created.

[2016-07-07 09:47] ValentinaPC opened #3055 "Layout issues for theme description in Disco Pane"
Steps to reproduce:
1. Go to https://addons.mozilla.org/en-US/firefox/addon/marvelous-magnolias-by-madonna/ and install the theme
2. Go in about:addons and observe theme description from Appearance tab

Expected results:
There are no display or layout issues.

Actual results:
If a link is present in theme description it is not rendered correctly in Disco Pane.

Notes/Issues:
Reproducing also in th

[2016-07-07 09:49] EnTeQuAk commented on #1542
Do we have clear steps to reproduce this?

[2016-07-07 09:50] EnTeQuAk commented on #1519
Awesome, thanks for the feedback!

[2016-07-07 09:53] vcarciu commented on #1830
I can confirm that this is not reproducible anymore on stage. Thanks

[2016-07-07 10:04] wagnerand commented on #912
I am  not sure. What is this button used for?

[2016-07-07 10:06] wagnerand commented on #907
I think this has been fixed by https://github.com/mozilla/addons-server/commit/657cadd71a6a263220c4bcf9c0833608a1ead919. You should no longer be able to review an add-on that is not pending review.

[2016-07-07 10:06] #907 closed

[2016-07-07 10:15] wagnerand commented on #1542
STR iirc:
1. Upload a new version or a new add-on. Let's assume the version is 0.1.
2. Open the review page for that add-on in a new tab. 0.1 will be shown as the latest version and the one to be reviewed.
3. Upload a new version, say 0.2.
4. WIthout refreshing the review page, submit the review form.

Actual results:
The review decision is applied to 0.2

Expected result:
Not sure, at least the r

[2016-07-07 10:17] wagnerand commented on #1542
Note that the server should not trust that version entry submitted by the client. Ie, it should not be used other than in the condition to avoid (un)intentional review of the wrong version.

[2016-07-07 10:28] wagnerand commented on #3051
Since 79c57f87. We try to determine __user disabled__ vs __Mozilla disabled__ by checking whether the previous file status is __incomplete__ iiuc.

I think @eviljeff can give a better answer here.

[2016-07-07 10:52] vanowm commented on #2825
Sorry, did I read it right? it's too difficult add hashtags to the links?

[2016-07-07 11:35] tofumatt commented on #2825
It's not just hashtags, the versions are laid out across different pages and the pagination seems built around where a version falls in the overall list. So it's not as simple as just adding hashes to links, it would be a lot of work to implement what you'd like here for such a small benefit.

Your idea is right but sadly the way this section was implemented makes it very complicated and not worth

[2016-07-07 12:24] davehunt commented on #1247
@EnTeQuAk I think there's still an issue here. When I search for 'nasa' from the Complete Themes page I get one result (on Firefox 48):

![screenshot 2016-07-07 13 17 23](https://cloud.githubusercontent.com/assets/122800/16652967/e702e014-4445-11e6-9c84-7aa0c5e1bfc8.png)

I can now expand the category filter, and clicking 'Complete Themes' shows the same single result:

![screenshot 2016-07-07 13

[2016-07-07 12:31] ValentinaPC opened #3056 "Contributions don't work in production"
Steps to reproduce:
1. Load details page for an add-on with contributions i.e. https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/?src=hp-dl-mostpopular
2. Click on "Contribute" button
3. Type a value to contribute
4. Click on "Make Contribution" button

Expected results:
User is redirected to PayPal account.

Actual results:
After a while a "The Connection has timeout....Try Again" page

[2016-07-07 13:09] muffinresearch commented on #3056
Seems like that's a timeout paypal's end. It's not clear how to find ongoing status of paypal's service at a glance without signing up for notifications.

Can you re-test and see if it's cleared?

[2016-07-07 13:41] ValentinaPC commented on #3051
from IRC: "eviljeff: ValentinaP: correct, should return to the initial status. (re #2609)"

[2016-07-07 13:46] ValentinaPC commented on #3056
Nope. Still not working. :(

[2016-07-07 14:16] Natim opened #3057 "Error when trying to run `make initialize_docker`"
<details>
  <summary>Traceback</summary>
[code]
</details>

[2016-07-07 14:23] Natim opened #3058 "Error when trying to run the tests"
[code]

[2016-07-07 14:24] Natim commented on #3058
This is when doing ``make shell`` and then ``py.test``

``make test_no_es`` seems to work

[2016-07-07 14:32] jvillalobos commented on #1036
The setting is for admins only, and they generally know what they're doing. I don't think we need this type of check.

[2016-07-07 14:32] #1036 closed

[2016-07-07 14:40] tofumatt commented on #1699
Agreed. “email” is a great username :-)

[2016-07-07 14:43] jvillalobos commented on #912
It appears to be the equivalent of requesting Admin Review for other add-ons. I don't see why it wouldn't apply for updates. Maybe @atsay can clarify.

[2016-07-07 14:46] jvillalobos commented on #3051
Then it seems that re-enabling the version should also check the global add-on status and also adjust it accordingly. There's a plan to fix some of these status complications in a cleaner way, but I don't know if we'll get to them this year.

[2016-07-07 15:51] madalincm commented on #2979
Plead add some steps to reproduce or add the label "needs no qa" if no QA is needed.

[2016-07-07 15:53] vcarciu commented on #3015
@EnTeQuAk
Can you please add some STRs to this issue or mark it as "needs no qa" ?

[2016-07-07 15:56] madalincm commented on #2990
Plead add some steps to reproduce or add the label "needs no qa" if no QA is needed.

[2016-07-07 16:03] madalincm commented on #3037
The link was removed from the description
Marking as verified fixed.
![descriptionlinkremoved](https://cloud.githubusercontent.com/assets/15685441/16660047/78fbb8fe-4475-11e6-88c0-8b2c5a4e090c.png)

[2016-07-07 16:14] eviljeff commented on #1830
Any sort based on popularity is going to be potentially broken on dev and stage because there aren't any users downloading/using the addons/collections from those sites, unlike prod.  And/or the daily cron jobs that calculate the popularity doesn't run.

[2016-07-07 16:25] eviljeff commented on #3051
Add-on status is [supposed](https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/views.py#L1226) to be updated after the version is re-enabled but it possible/probable doesn't handle the incomplete case.

[2016-07-07 16:30] ValentinaPC commented on #907
Yes, you are right!
Verified as fixed on AMO-dev FF47(Win 7).
Postfix screenshot:
![reject-approve](https://cloud.githubusercontent.com/assets/15685960/16660951/4c595b7c-4479-11e6-90a7-55aa303dff38.png)

[2016-07-07 16:46] eviljeff commented on #1724
I agree it's a sensible request to be able to remove yourself, but at the same time I can't imagine it's that common where contacting another owner isn't an option - and amo-admins can handle those cases manually.  Short of evidence of a significant need I'd close.

[2016-07-07 16:48] EnTeQuAk commented on #3057
Yeah, I ran into that problem some time ago. You're using verified git commits which breaks GitPython. My unfortunate response to that would be to not use verified git commits for the time being until we got rid of jingo-minify and with that GitPython :crying_cat_face:

[2016-07-07 16:51] Natim commented on #3057
Oh it help thanks, I can probably deactivate it for that project.

[2016-07-07 16:52] #3057 closed

[2016-07-07 16:53] EnTeQuAk commented on #3057
Not for too long hopefully. Thank you so much :)

[2016-07-07 19:27] mkaply commented on #1724
That's fine with me. Just wanted to make sure I reported it.

[2016-07-07 19:27] #1724 closed

[2016-07-07 19:58] krupa commented on #3056
This looks ok now.

[2016-07-07 20:09] krupa opened #3061 "Don't allow developers to add a XUL add-on as an update to a webextension"
In https://bugzilla.mozilla.org/show_bug.cgi?id=1283443, there was a discussion about how versioncheck doesn't work when a webextension is updated with a XUL add-on. Since this is something we don't plan to support, we can warn the developer from doing it during the submission process.

[2016-07-08 09:24] #3058 closed

[2016-07-08 09:28] ValentinaPC commented on #3056
Still able to reproduce it.
Please see the screenshot:
![contrib](https://cloud.githubusercontent.com/assets/15685960/16683256/777c7d14-4507-11e6-8ac2-38fc745b07f6.png)

[2016-07-08 09:57] muffinresearch commented on #3056
@ValentinaPC is there anything related to paypal in the console?

[2016-07-08 10:02] muffinresearch commented on #3056
I just tried it and it worked fine, I got through to the point of logging in and so on.

[2016-07-08 10:03] muffinresearch commented on #3056
Can anyone else in the QA team reproduce it? Does it still occur with a fresh profile?

[2016-07-08 11:34] ValentinaPC commented on #3056
@muffinresearch : everyone from our QA team reproduces it.
Browser Console JS error - tried with a new Firefox 47 clean profile:
![2016-07-08_1430](https://cloud.githubusercontent.com/assets/15685960/16686169/f79ac102-4518-11e6-922b-93fc89c9c3f5.png)

[2016-07-08 15:22] mstriemer commented on #1699
Since user's aren't required to enter anything on AMO when signing up email is the only field we have from them. It doesn't feel right to expose that to the public without their consent though so that's why they get one of these anonymous usernames.

Jorge is right, this should use the display name if possible and that login is wrapped up in [`UserProfile.name`](https://github.com/mozilla/addons-s

[2016-07-08 23:34] devaneymoz opened #3063 "New homepage carousel promo: Must-Have Media"
Time to promote a new custom collection on the homepage. Similar to our recent “Games!” promotion, can we please get the following collection placed into the [Disco Pane management tool](https://addons.mozilla.org/en-US/firefox/discovery/modules) by **Tuesday, July 19** (ideally), but the following week works fine too.

!! Reminder: please make the title in carousel image clickable to the collecti

[2016-07-10 22:13] palant opened #3064 "Install documentation is ambiguous for the Linux setup"
Install documentation currently says that a VM only needs to be created for Mac and Windows, not for Linux. However, later on it suggests getting the IP address of the VM in order to access the server. It should either suggest creating a VM regardless of operating system or suggest using localhost to access the server on Linux. If it is the latter, it might be a good idea to mention that Docker re

[2016-07-11 09:48] naakavi opened #3065 "iCloud Bookmark extension for firefox"
ICloud needs "iCloud Bookmark extension for firefox".

When I tried to download I get a message "iCloud Bookmark extension for firefox" NOT FOUND
Please help

[2016-07-11 09:54] wagnerand commented on #3065
Dupe of #3027

The add-on was removed from the site due to stability problems.

[2016-07-11 09:54] #3065 closed

[2016-07-11 10:34] tsl143 commented on #3056
Unable to reproduce!
![screenshot from 2016-07-11 16 02 07](https://cloud.githubusercontent.com/assets/5318732/16727900/0075fe6c-4781-11e6-969c-c568de2056a8.png)

[2016-07-11 11:30] gokha opened #3066 "hhjhhj"

[2016-07-11 11:45] #3066 closed

[2016-07-11 13:19] cosminbadescuSV opened #3067 "Error with translations in some add-ons"
Steps to reproduce:

1.Go to https://addons-dev.allizom.org/en-US/developers/addon/submit/2
2.Try to submit any of the next WebExtensions:
[Beanote-Note-Taking-on-Page_v0.0.1.zip](https://github.com/mozilla/addons-server/files/357144/Beanote-Note-Taking-on-Page_v0.0.1.zip) , [HoverCards_v2.0.8.zip](https://github.com/mozilla/addons-server/files/357145/HoverCards_v2.0.8.zip)

Expected results:
The

[2016-07-11 14:33] Prashant-Surya commented on #2818
Can I work on this bug?

[2016-07-11 14:37] tofumatt commented on #2818
@Prashant-Surya Sure thing! We can't assign it in GitHub because you aren't in the Mozilla organisation, but feel free to work on it and ping me when you submit a PR--I'll have a look once it's ready.

Please be sure to include before/after screenshots of the fix so I can see it and QA can verify the results, thanks!

[2016-07-11 17:06] EnTeQuAk commented on #3064
Indeed, I think the docs are written for MacOSX in mind but mostly valid for Linux since most of the team works on a Mac.

[2016-07-11 17:09] EnTeQuAk commented on #3055
hmm, I wonder if this is actually disco pane or a firefox bug. @muffinresearch mind taking a short look to validate what might be the issue here?

[2016-07-11 17:11] EnTeQuAk commented on #3061
Should we warn or actually deny the user doing that? Imho we shouldn't even accept that if Firefox doesn't support it.

[2016-07-11 17:32] muffinresearch commented on #3055
@ValentinaPC The discovery pane is curated content. As such the description is created by editorial.

[2016-07-11 17:37] muffinresearch commented on #3055
Fwiw, the difference is because we create the installation differently and don't use that description. We don't use the same content in the disco pane.

Not sure if this really matters or if we need to use the description. It's pretty useless if the HTML is escaped in the browser in any case. I'd reckon we should fix this when we update the theme installation in AMO in future.

[2016-07-11 17:56] EnTeQuAk commented on #2657
unfortunately I can't reproduce this properly locally and I don't see why this is happening. Is this still happening @brunosabin?

[2016-07-11 18:08] andymckay commented on #3061
My default answer is an error, but I'm worried about that because there will probably be a use case where its valid.

Also wondering if we should do something when the users first switch to a WebExtension and say something like "THERE'S NO GOING BACK!", that seems the more important place to do something.

[2016-07-11 18:15] andymckay commented on #3056
Its an error on Paypal's side, if you think its an ongoing concern we should raise an error with Paypal (I have no idea how to do that btw).

[2016-07-11 18:26] lavish205 commented on #1011
I would love to work on this bug. As I can understand I need to edit [this file](https://github.com/mozilla/addons-server/blob/master/static/js/common/upload-addon.js#L449)

[2016-07-11 18:34] tofumatt commented on #1011
From what @eviljeff said there is some python files to touch too, though you're right it seems the template is in the JS. If the add-on type is available in the JS maybe that is the only file that needs changing though.

[2016-07-11 18:46] EnTeQuAk commented on #3061
Hmm, imho no one reads warnings or even remembers them so we will have to make sure we don't accept invalid stuff. But you're right, there certainly will be a valid use-case.

So maybe this should be a warning and a very clear loud, red, pink, yellow blinking warning for reviewers?

[2016-07-11 19:00] #2939 closed

[2016-07-11 19:00] andymckay commented on #3061
Agreed, warnings never get read. Let's see if @jvillalobos has any good ideas.

[2016-07-11 19:38] andymckay commented on #991
Fair enough. This was part of the "lets stop writing custom management commands and focus on writing API's" plan.

[2016-07-11 19:52] krupa opened #3073 "Links to external sites are resolving to a 400"
## steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/firefox/addon/tab-scope/?src=hp-dl-featured
2. Click on the link 'Add-on homepage'

## expected behavior:
The Add-on homepage loads

## actual behavior:
https://outgoing.stage.mozaws.net/v1/df3a83c1b4d2da1fa92023957e145b62b917e1cb2f74f4d33330de7164b55dc6/http%3A//www.xuldev.org/tabscope/ resolves to 400.

## screenshot
<img width=

[2016-07-11 19:54] andymckay commented on #3073
I believe that ops is working on moving outgoing to a new server. @jasonthomas might know more.

[2016-07-11 20:43] krupa commented on #3067
This looks related to https://github.com/mozilla/addons-server/issues/1681

[2016-07-11 21:28] krupa opened #3074 "Overhaul Contributions on AMO"
Contribution flows on AMO are needlessly complex and we have regular paypal outages. Time for a overhaul!

[2016-07-11 22:55] bqbn commented on #3073
@oremj can you confirm that the behavior that the new golang outgoing app doesn't support "%3A" in the url is expected? The redirection on the page mentioned in step 1 looks like this:

[code]
the app would have had to change "%3A" into ":", then calculate the checksum in order to return 200 vs 400. The php app may be doing that, but the golang app does not.

[2016-07-11 23:09] jvillalobos commented on #3061
If a XUL file is being submitted as an update to a WebExtension, that should cause an error because automatic updates won't work (IMO updates _should_ work, but that's a different discussion).

When submitting a WebExtension update to a non-WebExtension, I agree there should be a noticeable warning, and it would be best for it to be visible outside of the normal validation results to give it a cha

[2016-07-12 00:31] oremj commented on #3073
I'm pretty sure I found the bug in outgoing.

[2016-07-12 00:37] oremj commented on #3073
@bqbn the fix should be in master.

[2016-07-12 05:44] EnTeQuAk commented on #3067
Okay, so for the hover-cards addon I get:

```ValueError: Error: invalid central directory file header signature: 0xad9e50d1``` and Beanote-Note-Taking-on-Page_v0.0.1.zip works for me locally, hmm. Looking more into it.

[2016-07-12 05:49] EnTeQuAk commented on #3067
This is the related sentry: https://sentry.prod.mozaws.net/operations/olympia-dev/issues/340477/

[2016-07-12 06:11] bqbn commented on #2850
@diox could you share where we are regarding this issue? Just trying to get a sense of timeline here.

[2016-07-12 07:28] EnTeQuAk commented on #1452
Hmm, I wonder if I could just copy the validator but it's so huge. @diox any ideas here?

[2016-07-12 08:33] #3067 closed

[2016-07-12 09:00] wagnerand commented on #3064
I think someone who is using Linux to work on AMO or someone who is at least familiar with Docker on Linux would be a better fit to fix this.

[2016-07-12 09:04] cosminbadescuSV commented on #3067
This issue is not reproducing anymore, video of this issue:
![hovercards](https://cloud.githubusercontent.com/assets/15885467/16761395/a530efb4-4828-11e6-86a3-6da8feaf9484.gif)

[2016-07-12 09:37] #1452 closed

[2016-07-12 09:38] EnTeQuAk commented on #3067
:tada: :balloon:

[2016-07-12 10:17] #3063 closed

[2016-07-12 14:25] andymckay commented on #3074
The problem with this bug is the same as mozilla/addons#14 and mozilla/addons#15, it's all on paypals side and there's nothing we can do about it while the feature exists other than change the whole feature.

So I'm going to go for the "we'll address this in the rewrite", hopefully.

[2016-07-12 14:25] #3074 closed

[2016-07-12 14:39] palant commented on #3064
In principle, the instructions can be generalized - if you use a VM then Linux is no different than OS X. One *could* skip creating a VM on Linux but IMHO this isn't worth adding more complexity to the documentation. People who know Docker will figure it out by themselves, others don't need to know.

[2016-07-12 14:56] tofumatt commented on #3064
Going all-VM in the instructions until Docker for Mac works for us (eg is out of beta) seems smart. Once it's out of beta we can just rewrite it to _never_ use VMs 😀

[2016-07-12 16:04] andymckay commented on #3073
This link now works for me, thanks @oremj.

[2016-07-12 16:04] #3073 closed

[2016-07-12 16:08] andymckay commented on #3055
A dupe of https://bugzilla.mozilla.org/show_bug.cgi?id=1263610, its a Firefox XUL bug so closing in favour of that.

[2016-07-12 16:08] #3055 closed

[2016-07-12 16:13] shell15 commented on #1435
when we revisit this area will work out better plan than leader board.

[2016-07-12 16:13] #1435 closed

[2016-07-12 16:48] shell15 commented on #3061
@deadsquid is working on if there is more we should do (Nick/Amy talk).  All agree that doing silently is not ideal. so at least document and submission notification.  @andymckay will work on word copy and someone to add.

[2016-07-12 17:20] wagnerand commented on #911
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

Mentor: @eviljeff

@eviljeff could you add some details about how/where to fix the bug, please?

[2016-07-12 17:24] wagnerand commented on #1822
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide details.

[2016-07-12 17:25] bqbn commented on #3073
@oremj it looks like for the old php program the same checksum works for both "%3A" and ":" cases. For example, try copy and paste the following to the address bar:

[code]

Note that both above URLs contain the same checksum.

Does anyone know if the thing that generates the link consistently produces "%3A" and no ":"? If there are links that contains ":", then the new program probably needs to t

[2016-07-12 17:27] wagnerand commented on #1779
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-12 17:28] andymckay commented on #3073
Its addons-server that generates the links and stores them in db, so if at any time that code changes then you have to rummage through the database and alter all the urls. Its a pain, but we did this a while back to force everything to be https instead of http. It could be that code has changed and caused inconsistency in the links.

[2016-07-12 17:29] wagnerand commented on #1712
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

Mentor: @tofumatt

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-12 17:30] wagnerand commented on #1575
Please refer to https://wiki.mozilla.org/Add-ons/Contribute if this is your first contribution.

Mentor: me (@wagnerand)

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-12 17:34] wagnerand commented on #3064
Maybe we could also wait until the Mac beta goes into release and thus avoid updating the docs twice?

[2016-07-12 17:40] andymckay-limited-access commented on #3056
I can't reproduce either. Suggest closing.

[2016-07-12 17:40] #3056 closed

[2016-07-12 18:02] bqbn commented on #3073
Just verified the fix @oremj put in does work in both cases. Both below returned 200.

[code]
I think we're good. :)

[2016-07-12 18:03] andymckay opened #3080 "Hide restartless, focus on requiring restart"
As e10s rolls out, users will forced to get a restart to move between the e10s cohort and not. Unfortunately we can't detect on AMO if they are in the cohort. The main suggestion has been to hide the restartless flag from AMO.

<img width="140" alt="screenshot 2016-07-12 11 01 27" src="https://cloud.githubusercontent.com/assets/74699/16777821/05250af8-4820-11e6-8e19-80577f6fc5a0.png">

It appears

[2016-07-12 18:04] andymckay commented on #3080
And once e10s is all done, we can turn this back on. Although since all WebExtensions are restartless, I think we should negatively flag add-ons that are not restartless.

[2016-07-12 18:20] atsay commented on #3061
I agree with @jvillalobos. There should be a prominent warning when updating to a WebExtension so people know they cannot go back. If they then try to update a WebExtension to a XUL extension, it should not be allowed.

If we think there might be edge cases, let's try to identify them. Maybe talk to a few devs in case there's a scenario we're not seeing. Definitely should not allow silent failures

[2016-07-12 18:40] jvillalobos commented on #2823
It looks like this is happening again for the recently added Venetan dictionary. I got separate reports from @eviljeff and @mtrevisan that the dictionary didn't appear. In the case of @mtrevisan, logging in fixed the problem.

[2016-07-12 20:02] mstriemer opened #3081 "Remove FxA waffle"
Just remove the waffle but leave it working as-is.

[2016-07-12 20:16] andymckay opened #3082 "Warn developers on upgrading a WebExtension"
Broken this out into a seperate issue. The real place I can spot is here:

https://www.dropbox.com/s/d4gfk6xumbq2sok/Screenshot%202016-07-12%2013.15.03.png?dl=0

Probably the X should be a warning triangle and it shouldn't all be red, but you get the idea. I don't think we have an MDN page yet so I'll add that in.

Supports: #3061

[2016-07-12 20:22] andymckay commented on #3061
Bugzilla bug filed for MDN documentation: https://bugzilla.mozilla.org/show_bug.cgi?id=1286365

[2016-07-12 20:23] andymckay commented on #3082
I'd like to get this done by the time 48 goes out if possible.

[2016-07-12 21:01] andymckay commented on #3054
Sorry @EnTeQuAk would you have time to look at this?

[2016-07-12 21:16] jvillalobos opened #3083 "Remove preliminary review"
This is a tracker bug for the tasks needed to remove preliminary review from the review process as initially specified in [this proposal doc](https://docs.google.com/document/d/1OH2iZ7aT9otFJvGTX1UR6pAm58u7ph2Uw8_Zv2Sl8Tk/edit). Here are the steps that we need for this (I'll file individual bugs):

0. (Jorge) Communicate changes to developers and reviewers. I'll coordinate with @eviljeff so we tim

[2016-07-12 21:39] jvillalobos opened #3084 "Implement experimental flag for listed add-ons"
This is part of #3083. Listed add-on developers need a way to flag their add-ons as experimental, so they can be listed but with reduced visibility.

* On Step 3 of the submission process, add a checkbox with the label "This add-on is experimental", not checked by default. I think this should show up between the summary and the categories. It should have a help tooltip explaining that experimental

[2016-07-12 21:42] jvillalobos opened #3085 "Remove review process selection step and request full review link"
This is part of #3083.

Step 6, the review process selection step, should be removed from the submission flow, for both listed and unlisted add-ons. They should all go to the Full Review track by default.

In the Developer Hub, the Request Full Review link that appears for add-ons with Preliminary Review should also be removed.

[2016-07-12 21:48] jvillalobos opened #3086 "Remove Preliminary Review option for add-ons awaiting full review"
This is part of #3083.

Add-ons that are in the Full Review queue and Pending Updates queue should no longer have Grant Preliminary Review as an option in their reviewer page.

[2016-07-12 22:06] jvillalobos opened #3087 "Migrate add-ons and add-on files with preliminary status"
This is part of #3083.

We need to update the statuses of add-ons and add-on files that are set to Preliminary Review. There's no need to re-sign these files because Firefox doesn't care the type of cert being used. We only need to update their status:

* If the add-on has its status set to `Preliminary Review`, the add-on should have its status set to `Full Review`. All of its files with `Prelimi

[2016-07-12 22:33] jvillalobos opened #3088 "Clean up all references to preliminary review"
This is part of #3083.

After solving all other dependencies of #3083, all code relating to preliminary review should be unused, so it should also be removed. The cleanup work related to signing can be found in mozilla/addons#32, so that should probably be reopened and resolved.

[2016-07-13 07:13] budd13kinser opened #3089 "computer cannot find the page."

[2016-07-13 07:31] 11c1p opened #3090 "Universal Registry Button"
I had the universal registry button in firefox, now it's gone and it won't let me add it.

[2016-07-13 07:46] #3089 closed

[2016-07-13 08:07] madalincm commented on #3073
Verified as fixed in FF47(win7) in addons-dev.allizom.org
Postfix screencast:
![outgoinglink](https://cloud.githubusercontent.com/assets/15685441/16796176/e821133c-48e9-11e6-9af2-9b28eaabb1ed.gif)

[2016-07-13 11:32] eviljeff commented on #3064
Using a VM on Linux isn't necessary though, and adds complexity rather than reduces it.  I just ignored every command that referred to `docker-machine` and it worked (iirc) - should I just duplicate the install section for Linux?

[2016-07-13 11:39] eviljeff commented on #2823
made the title more generic.

[2016-07-13 11:41] suuzieg opened #3091 "iCloud bookmark extension for Firefox"
Please could you advise when the iCloud bookmark extension for Firefox will be available to download?  I use Firefox constantly and to have the bookmarks synced with my iPhone is very handy. I don't like IE so I really do not want to have to resort to using it! Please help..
Thank you Sue Smith

[2016-07-13 11:44] wagnerand commented on #3091
Dupe of #3027

The add-on was removed from the site due to stability problems.

[2016-07-13 11:44] #3091 closed

[2016-07-13 11:55] eviljeff commented on #2823
we do some specific caching of the add-ons shown on that page: https://github.com/mozilla/addons-server/blob/master/src/olympia/browse/views.py#L93

[2016-07-13 13:16] eviljeff commented on #1011
Yes (I assumed the text was in a template as that's the norm, but it seems we add via javascript in this case).

If you check `results.validation.detected_type` it should contain the type of the upload.  I think the different values are the ones listed [here](https://github.com/mozilla/amo-validator/blob/master/validator/main.py#L15) - i.e `languagepack`, etc

[2016-07-13 13:47] vcarciu commented on #3056
We are still able to reproduce this bug on new profiles on Windows

[2016-07-13 15:27] EnTeQuAk opened #3092 "Remove fix_let_scope_bustage command"
Do we still need that?

Maybe post Django 1.8 #2176 to avoid conflicts.

[2016-07-13 15:29] suuzieg commented on #3091
Thank you for the prompt reply. Can you please say when this issue will be looked at and resolved as it is for everyone with iCloud and Firefox, an inconvenience, to say the least.
Thank you, Sue

[2016-07-13 15:38] andymckay commented on #3092
No, please remove the management command and the related code.

[2016-07-13 15:39] wagnerand commented on #3091
Unfortunately, we can't do anything about this. The stability issues need to be resolved by the author of the add-on.

[2016-07-13 15:40] andymckay commented on #3090
Not sure what button you are talking about. Could you provide some more details please?

[2016-07-13 15:46] #3081 closed

[2016-07-13 15:59] mstriemer opened #3093 "Update documentation with FxA only changes"
Only allowing FxA may have some impact on setting up addons-server in development or in a 3rd party production system. Document what this change entails.

[2016-07-13 16:13] EnTeQuAk commented on #3054
eh, I tried to duck away but I guess I'll take a look at it asap :laughing:

[2016-07-13 16:57] eviljeff commented on #3083
Not code related, but having the new policies available / ready to publish is a prerequisite for any changes going live.

[2016-07-13 17:52] EnTeQuAk commented on #1573
Supports or should be done after #2176

[2016-07-13 18:09] 11c1p commented on #3090
the little button you could add to the tool bar area that let you add stuff to your amazon wish list from other sites.  Here is the link where I originally got it from

 https://www.amazon.com/gp/registry/universal/

Amazon.com - Amazon Registry<https://www.amazon.com/gp/registry/universal/>
www.amazon.com
Keep track of what you want from anywhere. Add from other websites to your Registry or Wish

[2016-07-13 18:27] andymckay commented on #3090
This is a duplicate of #2991, the author has decided to remove the add-on. Sorry there's nothing we can do about it.

[2016-07-13 18:28] EnTeQuAk opened #3094 "Remove name uniqueness checks for new add-on submissions"
There's a bug with name resolution for localized names in WebExtensions currently.

We decided that we remove uniqueness checks for new add-on submissions (no matter if listed or unlisted) but keep the check for editing existing add-ons since they don't go through review again.

[2016-07-13 19:01] mstriemer commented on #2544
I just tried this on -dev and it is indeed the case. The user gets a new FxA ID and we copy that into the database. The "Manage Firefox Account..." link this works as expected and shows the updated FxA ID.

Since we don't have a good way of verifying a user other than sending them an email this seems reasonable to me.

Closing this as it seems we already have a good solution. If there anyone has r

[2016-07-13 19:01] #2544 closed

[2016-07-13 19:16] mstriemer commented on #2451
I tried this on -dev and it is actually creating a new account. It's never actually been the case that "you can no longer login" since you could register again but this makes it appear as though you are logging in.

We could update the copy and maybe reorder it so that it more accurately describes what will happen.

* Your reviews and comments will not be deleted but they will no longer be associa

[2016-07-13 20:33] EnTeQuAk commented on #3080
Is there a due date for this?

[2016-07-13 20:59] kumar303 opened #3097 "Bad request to signing endpoint returns a 200"
To reproduce it, create a web extension with a manifest that will cause an error when you try to sign it. For example, this manifest would cause an error because the version string has an extra zero in it:
[code]

Use something like [web-ext sign --verbose](https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Getting_started_with_web-ext#Distributing_your_own_WebExtension) to interact with th

[2016-07-13 21:00] kumar303 commented on #3097
We have a workaround in https://github.com/mozilla/sign-addon/pull/136 so not incredibly urgent for `web-ext`

[2016-07-13 21:24] andymckay commented on #3080
Ideally before Firefox 48 goes out.

[2016-07-13 22:17] kewisch commented on #3094
I may not know all the implications for this, but IIUC it means that there could be two add-ons called "Adblock Plus" if not caught during the review? I think this would be troubling. While it may be easy to catch for popular extensions, it won't for those reviewers do not know. Or do I misunderstand this issue?

CC @wagnerand

[2016-07-13 22:24] andymckay commented on #3094
There could be. But we also only ever checked the english translation of the add-on name, not every localisation, so already the whole check was flawed. This bug came about because of chat with @jvillalobos in #amo.

[2016-07-13 23:26] andymckay commented on #3082
MDN page: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Porting_a_legacy_Firefox_add-on

[2016-07-14 08:53] cosminbadescuSV commented on #1452
This issue is not reproducing anymore, video of this issue:
![test](https://cloud.githubusercontent.com/assets/15885467/16833695/17aed286-49b9-11e6-9b13-872b41548b4a.gif)

[2016-07-14 09:24] cosminbadescuSV opened #3098 "Confirmation message is displayed even when the changes are not saved"
Steps to reproduce:

1.Load My Submissions page https://addons.allizom.org/en-US/developers/addons
2.Open an add-on Edit Listing page, click Edit button from the right side of Support Information field.
3.Type an invalid URL and press “Save Changes” button.

Expected results:
Website field should display a warning message, the confirmation message is not displayed.

Actual results:
A confirmation

[2016-07-14 09:30] EnTeQuAk commented on #3054
@n1k0 @Natim should I add support for this in `gfxs_to_json` while I'm at it or do you do that once you're working on the Kinto side?

[2016-07-14 09:42] n1k0 commented on #3054
@EnTeQuAk that'd be helpful yes, thanks!

Note: we're both off today and tomorrow (14th of July in france + PTO)

[2016-07-14 10:51] EnTeQuAk commented on #3098
This is indeed misleading, I'm not sure though if the fields are saved separately from each other meaning that "email" is being saved even though "website" is invalid which might make sense but is bad ux-wise.

I guess this is low priority though.

[2016-07-14 12:00] #3054 closed

[2016-07-14 12:02] EnTeQuAk commented on #3054
@n10k I added support for the versionRange into the json serialization too. Let me know if that works properly :)

[2016-07-14 12:04] #3094 closed

[2016-07-14 13:06] madalincm commented on #3094
Submitting 2 add-ons with the same name is working, no errors or warnings are displayed, editing an add-on to have the same name as another add-on is not allowed, an error message is displayed.
![samenameaddons](https://cloud.githubusercontent.com/assets/15685441/16840328/b2ea3f6a-49dc-11e6-98f4-5f9afa1f3f12.png)

![samenameaddonsedit](https://cloud.githubusercontent.com/assets/15685441/16840331/b

[2016-07-14 14:00] vcarciu opened #3101 "Internal server error after confirming link on the new registration email"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.On AMO Stage, register with a new account
2.Open the confirmation email and confirm the registration by pressing on the provided link
3.Go back to AMO Stage after confirmation is confirmed

Expected results:
User is logged in with the new email

Actual results
Inter

[2016-07-14 14:04] vcarciu opened #3102 "Internal server error message displayed when trying to setup display name after a new user registration"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.On AMO Stage, register with a new account
2.Open the confirmation email and confirm the registration by pressing on the provided link
3.Go back to AMO Stage and try to update the display name and username from Account Settings

Expected results:
Account display name

[2016-07-14 14:04] vcarciu commented on #3101
Forgot to say that this is an intermittent issue (reproducible in about 3 from 5 tries)

[2016-07-14 14:13] vcarciu commented on #3101
Please note that now I can see the 500 error also when approving themes or addons from Editor Tools . I think that these issues are related, but please let me know if a new bug is needed.

[2016-07-14 14:42] jvillalobos commented on #3094
Yes, there is a (small) possibility of duplicate names now, and it will be up to reviewers and admins to deal with those situations.

[2016-07-14 15:56] EnTeQuAk commented on #3082
Trying to re-use existing styles we already have, does something like that work? (only the warning icon is new and might need some tweaking)

![screenshot from 2016-07-14 17-55-56](https://cloud.githubusercontent.com/assets/139033/16846336/4cb7cb12-49ec-11e6-8b27-0a71860c2e85.png)

[2016-07-14 15:58] andymckay commented on #3082
Your style is far better than mine, thank you. Going to ping @jvillalobos for an r? on the text.

[2016-07-14 17:34] jvillalobos commented on #3082
Suggested: "Thank you for migrating to WebExtensions. Please note that WebExtensions can't be updated back to versions using legacy APIs, so future updates to this add-on will need to also be WebExtensions."

@atsay, what do you think?

[2016-07-14 19:14] mustaim commented on #2857
This is not professional. For 2 months statistics broken. It does not suit corporate Mozilla.

Seriously why do not you deploy in batch after everything is assured working?

2 months ago stats were working well. Why touch it?

[2016-07-14 21:59] wagnerand commented on #1828
Adding @EnTeQuAk to check whether we can close this after the new bulk validation landed.

[2016-07-15 09:14] diox commented on #2850
I fixed as many of the issues I could while still being backwards-compatible. I think it should the upgrade should work, or at least can be attempted again on dev, even with the older client libs for the time being. Do warn us in advance if you do this, though, as we rely on dev for testing. Let me know if you run into issues.

[2016-07-15 09:46] diox commented on #2857
We didn't touch stats - we made a change to remove an unnecessary redirect in the download URLs (improving performance when installing add-ons), and because stats are processed on an external server we did not anticipate the issue before it went into production.

[2016-07-15 09:49] diox commented on #2857
I fixed the stats processing command on addons-server side in #3034 to allow slugs in URLs. Now we need to modify the hive queries to output slugs and regenerate the missing stats. As I put it in the pull request comments, the plan is to:

- Modify the hive queries. They live on a separate metrics server, and are versioned in the private repos [mozilla/addons-stats-scripts](https://github.com/mozi

[2016-07-15 10:00] diox commented on #3085
Note: this can have deep implications. See https://github.com/mozilla/addons/issues/68 when this was attempted for unlisted add-ons - it caused https://github.com/mozilla/addons-server/issues/2388#issuecomment-210403211

[2016-07-15 10:27] EnTeQuAk commented on #981
@Archaeopteryx so, you're saying that you have a proper description for en-US?

[2016-07-15 10:29] diox commented on #981
I tested it on one of my add-ons on dev and was able to change the default locale successfully. The message might be unclear: you need to a translation to exist for those fields in the locale you're setting as the default. This means that you need to change the current locale to english using the selector on the top right corner of the devhub page, enter a translation for name, description, summar

[2016-07-15 10:32] #981 closed

[2016-07-15 11:04] Caspy7 opened #3104 "Android searches are defaulting to version 45"
Do a search from https://addons.mozilla.org/en-US/android/ and the resulting URL will be something like https://addons.mozilla.org/en-US/android/search/?q=&appver=45.0&platform=all (this is a blank search)
Note that this is specifying version 45 and says so on the side panel.

The current released version though is 47.

[2016-07-15 13:50] diox commented on #2923
Stage's dump, so that we have an idea of what's in there:

name | slug | type | app | weight | count
--------|-------|-------|------|---|--------
Feeds, News & Blogging | feeds-news-blogging | extension | firefox | 0 | 1662
Web Development | web-development | extension | firefox | 0 | 1831
Download Management | download-management | extension | firefox | 0 | 752
Privacy & Security | privacy-securi

[2016-07-15 18:39] devaneymoz commented on #3063
Thanks for taking care of this, @EnTeQuAk! Do you know when the collection will appear in the Disco Pane management tool so I can publish to the homepage?

[2016-07-16 10:23] EnTeQuAk commented on #3063
It should already be there, we deployed on Thursday and this feature went into the recent deploy.

[2016-07-16 13:21] lishihwan opened #3105 "Icloud Addon Service Extension Issue"
Hello Firefox promoters,

I was trying to get my photos from an old device to a new one that i bought yesterday, using icloud drive. But The Icloud Addon Service Extension wasn't able to be found. And after many attempts try to use other options to solve this problem, there seemed to be no other but to send you this message.

Sincerely,

Simply another Mozilla Fan

[2016-07-16 16:18] tofumatt commented on #3105
Unfortunately, that add-on has been removed from the site because it was very unstable. Hopefully Apple submits a new version without these stability problems in the future, but right now we have unlisted the add-on because it was creating problems for many Firefox users.

[2016-07-16 16:18] #3105 closed

[2016-07-17 21:17] rmenessec commented on #1906
I've attempted to leave a review calling out the constant connectivity back to ghostery.com services and questioning why Mozilla are allowing an addon executing most or all of its UI code from a third-party server. This is a trivial end-run around whatever code review AMO staff are performing, and it renders the addon completely untrustworthy. My review's been deleted. Repeatedly.

In fact, I've l

[2016-07-18 08:15] Natim commented on #3054
@EnTeQuAk do you know if we can have a gfx_item configured with versionRange in dev to test it?

[2016-07-18 10:00] diox opened #3110 "Remove thumbtype and filetype field from Preview model"
The `Preview` model has a `thumbtype` field, but it's never set, or even used except in the legacy API XML. It should be easy to remove it entirely.

[2016-07-18 10:38] diox commented on #3110
Also remove `filetype` : at least on stage, it's set to an empty string for all new previews.

[2016-07-18 12:35] mtrevisan commented on #2823
It seems that the problem was solved! thank you all!

[2016-07-18 14:16] diox commented on #2500
I was about to mark this as a good first bug but I noticed a more subtle bug hidden in those lines so I'm taking it myself.

[2016-07-18 14:36] cosminbadescuSV opened #3114 "Versioncheck for a new WebExtension without ID to an add-on does not work"
Steps to reproduce:

1.Submit an add-on as first version
2.Upload a WebExtension as new version
3.Install first version
4.Go to about:addons and check for updates

Expected results:
The updated is made to the latest version

Actual results:
No updates are found

Note/Issues:
Verified on FF50.0a1(Win 7 64-bit)
This issue is reproducing in AMO -dev server

Here is a video:
![versioncheck](https://cl

[2016-07-18 14:43] diox commented on #3101
@mstriemer any idea ? I could not find anything in sentry, I'm not sure why this is happening.

@vcarciu please file a different bug for 500s in editor tools approval.

[2016-07-18 14:46] diox commented on #3102
@vcarciu can you still reproduce this ? on stage and dev ?

[2016-07-18 14:58] diox commented on #3104
This looks like a bug in the frontend code. It you clear `localStorage` the bug should go away - at least it does for me.

https://addons.mozilla.org/en-US/android/ and other pages, like https://addons.mozilla.org/en-US/firefox/ use `localStorage` to store the `appver` and `platform` values, and then [populate the search form](https://github.com/mozilla/addons-server/blob/master/static/js/impala/s

[2016-07-18 15:01] mstriemer commented on #3101
Took me two tries but I was able to reproduce. I see an AMQP error [1] in the login view in sentry. Perhaps it's just rabbitmq? It says it timed out but it happens quite quickly.

[1] https://sentry.prod.mozaws.net/operations/olympia-stage/issues/341164/

[2016-07-18 16:20] diox commented on #3114
You had `extensions.update.url` set to the dev URL, right ?

It turns out that, on this add-on on dev, the version 1.1 is available for Firefox 48.0 or greater only. Was that intentional ?

[2016-07-18 17:03] diox commented on #3114
FWIW the update should hit `https://versioncheck-dev.allizom.org/update/VersionCheck.php?reqVersion=2&id={daf44bf7-a43e-4450-979c-91cf07664c3d}&version=1.0&maxAppVersion=50.*&status=userEnabled&appID={ec8030f7-c20a-464f-9b0e-13a3a9e97384}&appVersion=48.0&appOS=Linux&appABI=x86_64-gcc3&locale=en-US&currentAppVersion=48.0&updateType=97&compatMode=normal` which works fine for me.

[2016-07-18 21:57] devaneymoz commented on #3063
Weird, I see it now, but swear it wasn't there last week! Thanks, looks great.

[2016-07-18 22:42] EnTeQuAk commented on #3054
We do, it's on dev, stage and prod so feel free to configure it or let me know on IRC if I should prepare something.

[2016-07-18 22:58] bqbn opened #3116 "PR request: script to update translations table with correct outgoing url"
Last week we released a change so that AMO now uses a new end point for outgoing service (see https://github.com/mozilla/addons-server/pull/3060). However, the translations table still contains records that point to the old end point, because they were added before the release. For example:

[code]

We have written a script that's going to update these records so they all point to the correct outg

[2016-07-19 08:46] cosminbadescuSV commented on #3114
Works on stage, here is a video:
![versioncheck2](https://cloud.githubusercontent.com/assets/15885467/16943706/a8f5e3fc-4da5-11e6-9a9e-b30e479fe6c3.gif)

-dev:
![versioncheck3](https://cloud.githubusercontent.com/assets/15885467/16943799/4c67f084-4da6-11e6-932e-25c519cbd312.gif)

[2016-07-19 10:33] diox commented on #3114
Working now so we suspect an intermittent issue.

[2016-07-19 10:33] #3114 closed

[2016-07-19 10:45] brunosabin commented on #2657
Hi @EnTeQuAk ,

I was away for a few days. Thanks for taking another look. I have tried once more with our next version (11.0.0.7) and I still get the same error.

This time, I attach to this issue a ZIP file containing the exact set of calls and variable values I use on my side. The "command_llines.txt" file will walk you through the steps I take and you should end up with the exact same error fr

[2016-07-19 10:51] diox commented on #3116
Commented in the PR. Have you run that on dev yet ?

[2016-07-19 11:38] #3023 closed

[2016-07-19 11:38] diox commented on #3023
Ended up adding them in both search and detail API. Will need a reindex for search, though.

[2016-07-19 11:55] lavish205 commented on #1011
@eviljeff for which `type_choices` should we show this text?

[2016-07-19 12:58] tofumatt commented on #3104
Oddly it should be reset, but I'm going to guess the `storage` bit isn't working. That said, I don't even know why we'd use that... so I submitted a patch that just ditches it.

[2016-07-19 13:29] #2500 closed

[2016-07-19 15:07] Brumbear52 opened #3119 "icloud"
will bookmarks plugin in firefox to synchronise bookmarks ???

[2016-07-19 15:42] andymckay commented on #2657
1) your add-on is `{51154b97-c607-43f0-ad88-dda01a32a1e3}` as per line 7 of your install.rdf yet you are sending an add-on id of `@{51154b97-c607-43f0-ad88-dda01a32a1e3}` in command_lines.txt line 12. The values should be same, remove the @.

2) please try putting double quotes around the URL in the request,  for example `curl "https://addons.mozilla.org/api/v3/addons/{51154b97-c607-43f0-ad88-dda0

[2016-07-19 15:43] andymckay commented on #2657
3) please go to https://addons.mozilla.org/en-US/developers/addon/api/key/ and revoke and regenerate a new set of credentials and update the credentials you have stored.

[2016-07-19 15:51] diox commented on #2657
4) when using `curl`, be sure to use `-g`, otherwise it will try to parse the `{` and `}` as globbing patterns. I learned that the hard way recently.

[2016-07-19 15:53] #3104 closed

[2016-07-19 16:03] diox opened #3120 "Switch to new search mapping for authors in the add-ons document type"
In #3022 I'm going to add a new `listed_authors` to replace `authors` in the add-on document type in ElasticSearch. This new property is going to be an object instead of a string, and contain the id, name of username of each author.

Once this is merged and reindexed, we'll be able to use the new key everywhere and drop the old one from the mapping.

[2016-07-19 16:53] atsay commented on #3082
Apologies for the delay, I didn't get a notification (checking my filters after this).

"Thank you for updating your add-on to WebExtensions. Please note that this is a one-way conversion: once you update to WebExtensions, you cannot submit a version that uses legacy APIs. All future updates to this add-on must also be WebExtensions.

Read more: Porting a legacy Firefox add-on on MDN"

[2016-07-19 17:05] andymckay commented on #3082
Cool @EnTeQuAk want to finish this off? Thanks all.

[2016-07-19 18:45] brunosabin commented on #2657
@andymckay removing the spurious "@" from the ID on the curl command line fixed the issue.
Thanks a lot for spotting this.
I have revoked the credentials I had given you for testing too. Thanks for the reminder, though
@diox Thanks a lot for the tip about "-g". I was already using that argument, but it is those little details which end up wasting time.
Please close this issue as this was a user er

[2016-07-19 18:46] andymckay opened #3122 "Expand ACR endpoint to accept e10s statuses"
There's a couple of possible statuses regarding e10s:
* Firefox has e10s turned on.
* The add-on has the multiprocessCompatible flag on/off or is unset.

We'll need to be sure we can recieve those, see mozilla/ACR for the issues to add that into the API.

It looks like this API is in src/olympia/devhub/views.py.

Supports: mozilla/addons#163

[2016-07-19 18:52] andymckay opened #3123 "Show e10s status in reports to the developer"
Let's add a couple of columns to the report to show e10s status to the user in the reports.

Currently it looks like this:

![screenshot 2016-07-19 09 17 28](https://cloud.githubusercontent.com/assets/74699/16962620/4a0f6118-4da7-11e6-8e95-4305f1cecbb6.png)

Let's add a couple more columns.

Supports mozilla/addons#163

[2016-07-19 18:58] andymckay commented on #2657
Good news, thanks @brunosabin.

[2016-07-19 18:58] #2657 closed

[2016-07-19 20:02] jvillalobos commented on #3119
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-19 20:02] #3119 closed

[2016-07-19 21:05] gregglind opened #3124 "Shield Study 3: Firefox Guide (Contextual Feature Recommendation)"
Similar to #1880, static page for "Firefox Guide" (Contextual Feature Recommendation) study.

[2016-07-19 21:10] rpbaillou opened #3125 "Shockwave Flash plugin no update"
Hi

I clicked on a link to take me to a page with a problem solver app for my school. It says plugin is disabled. When I click on Manage Plug ins. It takes me to the plugins page and that I need to update shockwave flash when I click to update it says it cannot be found.

[2016-07-19 22:50] jvillalobos commented on #3125
You can update the Flash plugin from here: http://get.adobe.com/flashplayer/

In the future, please refer to https://support.mozilla.org/ for help with Firefox.

[2016-07-19 22:50] #3125 closed

[2016-07-19 23:55] bqbn commented on #3116
Thanks. I submitted one update per your comments. Can you review again?

Yes, I ran it on dev already.

[2016-07-20 00:58] grizzlybear007 opened #3126 "iCloud Bookmarks Add-on"
Hi.
I have just set up on Apple's iCloud after an update to iTunes. At the end I was asked if I wanted to link my Firefox and Chrome bookmarks with iCloud. I clicked yes, upon which I was told I would need to download an add-on for Firefox. Unfortunately, the referral button sent me to a Mozilla page telling me the add-on I was seeking couldn't be found (https://addons.mozilla.org/en-US/firefox/ad

[2016-07-20 04:33] andymckay commented on #3126
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-20 04:33] #3126 closed

[2016-07-20 08:53] #2818 closed

[2016-07-20 10:53] JPLP opened #3129 "icloud extension"
where can i find the extension to sync my favorites websites between icloud and firefox?

[2016-07-20 11:02] muffinresearch commented on #3129
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-20 11:02] #3129 closed

[2016-07-20 11:06] JPLP commented on #3129
thanks

[2016-07-20 11:46] tofumatt opened #3130 "Show a notice on the iCloud bookmarks page"
We've had over half a dozen bug reports in the past few weeks about the iCloud Bookmarks add-on; I say we add a message to that page, even if it's a custom URL route with a simple, static page, that outlines why it's been removed and to contact Apple support. There are likely lots of users who _aren't_ reporting bugs for every one who does.

Right now Apple isn't even hearing from these users, and

[2016-07-20 12:14] bryanvanwyk opened #3131 "icloud bookmarks extension for firefox"
i am trying to sync my bookmarks on firefox with icloud. when i click on the download link from icloud it takes me to firefox add-ons page where i get told the link is wrong.

[2016-07-20 12:36] wagnerand commented on #3130
Marking this as "maybe..." so it will get triaged with a mentor and onboarding info.

[2016-07-20 13:15] diox commented on #2923
Another script which can be useful to generate the slug-id (+ name to prepare for translations later) mapping:
[code]

With the mapping this script generates, we can then deduce an internal category id (to be used to fetch add-ons belonging to the category from the db or elasticsearch) from an application + extension type + slug, reproducing what we have in addons-server now.

[2016-07-20 14:14] jvillalobos commented on #3131
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-20 14:14] #3131 closed

[2016-07-20 14:47] kumar303 opened #3133 "Signing new version of deleted add-on results in a 404 signed file"
If you try to sign a new version for a deleted version, it appears to work but the signed file response is a 404. I'm not sure exactly what should happen here. I guess it should be possible to sign a new version and automatically "undelete" the add-on?

To reproduce:
- generate [some API keys](https://addons-dev.allizom.org/en-US/developers/addon/api/key/)
- download this extension source: [web-ex

[2016-07-20 14:58] andymckay commented on #3133
I'm thinking that AMO is doing the right thing, we probably shouldn't try and automatically undelete the add-on. Would defer to @mstriemer or @wagnerand though.

[2016-07-20 15:04] kumar303 commented on #3133
If that's the case, AMO should probably return an error earlier in the process. When you first try to PUT (or POST) a new version for a deleted add-on, it should return an error.

[2016-07-20 15:04] andymckay commented on #3133
Agreed.

[2016-07-20 15:07] #3097 closed

[2016-07-20 15:11] andymckay commented on #3130
If we get more reports, I wouldn't mind just having someone pick this up and do something quicker.

[2016-07-20 15:26] diox commented on #3122
I think the API is not in devhub but rather in https://github.com/mozilla/addons-server/blob/master/src/olympia/compat/views.py#L22

[2016-07-20 15:27] diox commented on #3122
This means we'd need to alter `CompatReport` model to add a boolean field indicating whether e10s is turned on or off.

[2016-07-20 16:16] wagnerand commented on #3133
We have no separate process of _undeleting_ an add-on.

On the web interface, we (currently) have a distinction between uploading a new version for an existing add-on and uploading an entirely new (or deleted) add-on. If the add-on was deleted previously, we just undelete it transparently during the first upload after deletion.

We don't seem to have that disctinction in `web-ext` (I don't think w

[2016-07-20 16:21] kumar303 commented on #3133
That's a good question. We could instruct them to change the ID in their manifest, I suppose? How can you even recover from this in the web interface? Deleted add-ons are hidden. If you upload a new one with the same ID, does it create a whole new add-on?

[2016-07-20 16:44] #3048 closed

[2016-07-20 17:13] wagnerand commented on #3133
That would break updates, which is the main concern. People delete their listing for whatever reasons, even when something completely unrelated happens.

You just submit your file as a new extension and we automatically *undelete" it in the background, invisible to the user.

[2016-07-20 17:14] andymckay commented on #3122
Ah thanks @diox. It would also need a column to reflect the MPC flag at the time of testing.

[2016-07-20 17:15] andymckay commented on #3122
Also glad to note that it looks like from reading that code that it works with unlisted add-ons, so that's cool.

[2016-07-20 19:14] EnTeQuAk commented on #3082
Thanks for the text input. I'll finish this up then, still fighting at how to implement that properly but I'll get it done in time for the next deploy.

[2016-07-20 20:27] stevelloyd192 opened #3135 "Firefox add on for iCloud"
Just updated my iCloud programme and it tells me I need to download a bookmarks extension in order to update my firefox browser/safari browser. However when I follow the supplied link Firefox says it's not there.
![icloud firefox extension link](https://cloud.githubusercontent.com/assets/20565626/17001864/b1e35fb4-4ec0-11e6-85ce-2f7001a89c6b.png)

[2016-07-20 20:28] krupa opened #3136 "Markup shown in About This Add-on section"
## steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/firefox/addon/firebug/?src=search
2. Notice the About This Add-on section

## observed behavior:
markup is visible for the compatibility info

Prod (https://addons.mozilla.org/en-US/firefox/addon/firebug/?src=search) is fine indicating a regression

## screenshot
<img width="1382" alt="screen shot 2016-07-20 at 1 29 14 pm" src="ht

[2016-07-20 20:36] andymckay commented on #3135
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-20 20:36] #3135 closed

[2016-07-20 21:35] mstriemer opened #3137 "Include authors in add-on detail API"
The admin tool would like to show the authors of an add-on but this is not currently exposed by the API. The search and detail APIs should return the authors of the add-on.

https://github.com/mozilla/addons-frontend/issues/809 depends on this.

[2016-07-20 21:40] mstriemer opened #3138 "User lookup API"
We would like some way of looking up users in the admin tool. This should likely only work for exact matches for privacy reasons but a search might be okay. Key off of email, username and FxA ID.

[code]

[code]

https://github.com/mozilla/addons-frontend/issues/810 depends on this.

[2016-07-20 22:42] diox commented on #3137
Dupe of #3022 ; A pull request implementing it has been made and will be merged tomorrow.

[2016-07-20 22:42] #3137 closed

[2016-07-20 22:46] diox commented on #3138
Yeah I'll re-use whatever permissions the current admin uses.

[2016-07-20 23:32] andrewnorcross opened #3139 "Icloud bookmark issue"
I installed the iCloud app on my windows 10 machine and it directed me to merge my Safari bookmarks with my Firefox bookmarks (which is what I am looking to do).  When I hit the merge button, the app asks me to download the "iCloud Bookmarks extension for Firefox", but the link takes me to a "page not found" within the Firefox extension page.

Please advise.

Thanks!!

[2016-07-21 03:11] andymckay commented on #3139
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-21 03:11] #3139 closed

[2016-07-21 03:12] andymckay commented on #3130
There have been two reports since my last comment. I think we should do something sooner rather than later as in soon.

[2016-07-21 09:43] #3110 closed

[2016-07-21 09:51] diox opened #3140 "Replace amo.cached_property by django's"
We have our own `cached_property` implementation in https://github.com/mozilla/addons-server/blob/master/src/olympia/amo/__init__.py#L36 but [django already has one that seem to be providing equivalent functionality](https://docs.djangoproject.com/en/dev/ref/utils/#django.utils.functional.cached_property) (except it's always writable to override the computed value, but that's a good thing)

We sho

[2016-07-21 09:51] diox commented on #3140
(all credit goes to @eviljeff who noticed that a few weeks ago btw)

[2016-07-21 10:05] EnTeQuAk commented on #3140
I looked at this some time ago and saw cache-machine being involved but maybe the hack in there isn't really needed anymore but we need to test that things are working as expected (hoping there's a test for that line of code)

[2016-07-21 10:08] diox commented on #3140
I wouldn't be surprised if that hack wasn't tested... but we could replace it or try avoiding it.

[2016-07-21 11:27] #3022 closed

[2016-07-21 14:29] diox commented on #3110
QA: Verify that add-on previews still work, can be edited etc.

[2016-07-21 14:39] eviljeff commented on #3138
See #979

[2016-07-21 14:48] vcarciu commented on #3104
@tofumatt  : This is what I can see on -dev https://addons-dev.allizom.org/en-US/android/search/?q=&appver=&platform=

Please let me know if there are additional steps for this bug

[2016-07-21 14:57] tofumatt commented on #3104
Did you try it on an Android device? Those params are fine but on desktop
it fills them in rather than being blank. It’s okay as-is, just wondering
what you get when using that page on an Android.

[2016-07-21 15:00] madalincm commented on #3110
Thanks for the steps @diox
Verified as fixed in FF47(Win7) in addons-dev.allizom.org
There are no issues with add-ons previews (adding, edit, removing all is working correctly)

[2016-07-21 15:05] vcarciu commented on #3104
https://addons.mozilla.org/en-US/android/search/?q=&appver=&platform= this is returned using Android device and FF 47

[2016-07-21 15:09] tofumatt commented on #3104
That’s fine, it ends up searching for all add-ons rather than for a
particular version, but it’s better than using the old storage stuff that
was outdated. That seems fine to me.

[2016-07-21 15:10] vcarciu commented on #3104
Thanks tofumatt

[2016-07-21 15:11] vcarciu commented on #3063
Verified as fixed : http://screencast.com/t/uiTMLuav0qh

[2016-07-21 15:12] mstriemer opened #3142 "Waffle FxA migration success banner"
When you log into with your Firefox Account for the first time you get the "Great job!" success banner even when the migration isn't enabled. This seems odd, it should not appear when the fxa-migration waffle is turned on.

[2016-07-21 16:22] eviljeff commented on #1011
`constants.PACKAGE_EXTENSION
constants.PACKAGE_DICTIONARY
constants.PACKAGE_LANGPACK` I think

[2016-07-21 18:03] tofumatt commented on #3136
It appears this was caused by running https://github.com/mozilla-services/svcops/blob/master/services/amo/scripts/update_outgoing_url_in_translations.py#L14 on the servers, when `PurifiedTranslation` should have been used. This explains why `<a>` tags were preserved.

[2016-07-21 18:07] tofumatt commented on #3136
Script was updated and run in -dev; fixed. Closing this now.

[2016-07-21 18:07] #3136 closed

[2016-07-21 19:45] jvillalobos opened #3143 "Implement Reviewer ↔️ Developer comms"
This is a tracker bug for the tasks needed to implement a reviewer ↔️ developer communication tool as initially specified in [this proposal doc](https://docs.google.com/document/d/1NeIXRkarfA0RBKuo2wnCzEpgCLwvXm4SlxdSeOiPeMA/edit#heading=h.trd8m0gqh63d). The recommended UX can be seen in https://github.com/mozilla/addons/issues/152.

Here are the steps that we need for this (I'll file individual b

[2016-07-21 19:51] jvillalobos opened #3144 "Move review history to Status & Versions page"
This is part of #3143. The recommended UX can be seen in mozilla/addons#152.

A Review History link should be added under the Status label for each version in the Status & Versions page. Clicking on the link toggles the review history for that version.

The Show File History link in individual version pages (like [this one](https://addons.mozilla.org/developers/addon/amo-admin-assistant/versions/1

[2016-07-21 19:52] GaryHallSr opened #3145 "Amazon Off Site Fullment"
I tried to install 'Amazon Wish from Any Website: Your Wish List Is Universal' Icon (which I have had before) and FF says it can't find it.

Add items from any website to your Amazon List Learn how
https://www.amazon.com/gp/wishlist/universal/ref=cm_wl_huc_uwl

Thanks.

Gary

[2016-07-21 20:04] jvillalobos opened #3146 "Implement pending message badge in Dev Tools"
This is part of #3143. The recommended UX can be seen in mozilla/addons#152.

If an add-on has a version pending review and a review sent a Info Request (or more) that hasn't been answered, the Review History link for that version should show a badge with the number of pending messages. The Manage Status & Versions link in the navigation box on the left should also be highlighted. When the Review

[2016-07-21 20:07] jvillalobos opened #3147 "Implement review reply in Dev Tools"
This is part of #3143. The recommended UX can be seen in mozilla/addons#152.

A developer should be able to reply in the Review History of the latest version of the add-on. This is either the version pending review (if there is one), or the last version that isn't a beta.

A textbox and a Reply button should appear beneath the last message in the Review History. The developer can reply as many tim

[2016-07-21 20:15] jvillalobos opened #3148 "Change review email templates to point to Status & Versions page"
This is part of #3143.

The email templates used to notify developers about reviews should be updated to point to the Status & Versions page as the default place to respond to reviews. Replying via email should still be supported as an alternative.

[2016-07-21 20:20] jvillalobos opened #3149 "Integrate email replies to comms tool"
This is part of #3143.

This is the part that could be partly ported from the commbadge code in Marketplace. It should be possible for developers and reviewers to reply to the notifications they receive via email and have them be stored and handled by AMO like replies done within the site.

Email should be treated as text-only, and attachments should be discarded in this iteration.

[2016-07-21 22:04] mstriemer opened #3151 "Cannot migrate to an FxA with a different email"
Migrating to an FxA with a different email will actually create a new account. This appears to be because `request.user` is set to `AnonymousUser` instead of the user from the session.

https://github.com/mozilla/addons-server/blob/39796c94b12e55d83e812a3d40ff005e923cc1a9/src/olympia/accounts/views.py#L213

Originally from https://bugzilla.mozilla.org/show_bug.cgi?id=1288252.

[2016-07-21 23:59] bqbn commented on #3116
Script has run on all envs. This can be closed. Thx for the review @diox !

[2016-07-21 23:59] #3116 closed

[2016-07-22 01:35] AlvaroChente opened #3152 "Privatix Add-on"
Please, take a look in this link:

https://addons.mozilla.org/en-US/firefox/addon/privatix/

Privatix was great and we need a firefox add-on. Hel me !!

Thanx in advance.

[2016-07-22 09:59] #3021 closed

[2016-07-22 12:03] madalincm commented on #3136
Verified as fixed in FF47(Win7) in addons-dev.allizom.org
Postfix screenshot:
![3136fix](https://cloud.githubusercontent.com/assets/15685441/17056654/790c3f9a-501d-11e6-9e0b-874b92b75a65.png)

[2016-07-22 13:45] diox opened #3153 "Add API to view an add-on Privacy Policy and Eula"
We need to add API(s) to view an add-on Privacy Policy and/or EULA when there is one. A link to that/those API(s) should be provided in the detail/search API (and be `null` if there is none)

Supports mozilla/addons#151

[2016-07-22 20:50] lavish205 commented on #1011
@eviljeff These `type_choices` are available in main.py file, how to access these values in upload-addon.js file?

[2016-07-23 12:20] dedekorz opened #3155 "link not found to update flash player"

[2016-07-24 04:32] MagicDj83 opened #3156 "Why it was removed from the extension? It is very useful and used by many."
Firefox was necessary for the iCloud Bookmarks extension. Enable plug-ins to Firefox bookmarks up to date over your Safari bookmarks on your iPhone, iPad and Mac computer.

[2016-07-24 05:44] mathisbrogers opened #3157 "iCloud Bookmarks Extension--where is it?"
I am using Apple's iCloud on my PC and when I clicked Sync Firefox Bookmarks, I get prompted to "download the extension to keep Firefox bookmarks up to date with Safri bookmarks on your iPhone, iPad, and Mac."

However, when I click Download, Firefox says it can't find one and to post the issue here.

The link it takes me to is: https://addons.mozilla.org/en-US/firefox/addon/icloud-bookmarks/

I'd

[2016-07-24 16:33] jhferguson5 opened #3158 "Icloud Bookmark"
I'm following a link in iCloud for the iCloud Bookmark extension for Firefox, however I end up receiving a page with an error message that the page I'm looking for can't be found.  Is the iCloud Bookmark extension no longer available?

[2016-07-24 17:47] Drakonix-S opened #3159 "iCloud issue - broken download and/or link"
iCloud claims yo need to download something which then takes me to a broken link and ends up asking me to report the issue.

![icloud issue](https://cloud.githubusercontent.com/assets/20628025/17085407/fc87bbc6-51ce-11e6-886e-9e7cd24cef16.png)

[2016-07-25 08:15] ValentinaPC opened #3160 "Theme review title has layout issues in theme details page"
Steps to reproduce:
1. Sign in and go to any theme details page in AMO-dev i.e https://addons-dev.allizom.org/en-US/firefox/addon/hello-kitty-diamonds/
2. Write a review (must type a "Title")
3. Observe the review

Expected results:
The review title is bold and larger than the review body.

Actual results:
The title is exactly the same as the body.

Notes/Issues:
Things are as expected in reviews

[2016-07-25 10:31] muffinresearch commented on #3158
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-25 10:31] #3158 closed

[2016-07-25 10:32] muffinresearch commented on #3157
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-25 10:32] #3157 closed

[2016-07-25 10:32] muffinresearch commented on #3159
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-25 10:32] #3159 closed

[2016-07-25 10:32] muffinresearch commented on #3156
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-25 10:32] #3156 closed

[2016-07-25 13:33] eviljeff commented on #1011
you don't need to access any python files, the value should literally be `'extension'`, `'dictionary'`, or `'languagepack'`

[2016-07-25 14:32] eviljeff commented on #3084
Is `experimental` a per add-on or per version (or per file) attribute?

[2016-07-25 14:40] muffinresearch commented on #3155
Hi @dedekorz Where do you expect to see this link - can you provide more information please?

I suspect the link you want is https://www.mozilla.org/plugincheck/

[2016-07-25 14:46] diox opened #3163 "Support beta channel in the add-ons API"
We need to handle betas in the add-ons API. That means:
- Finding a way to return `show_beta` state, `current_beta_version` in the detail API - possibly in search as well ?
- Filtering versions by `beta` optionally
- Maybe more...

[2016-07-25 15:53] eviljeff commented on #3084
I'm going ahead on the assumption it's per add-on, as the text above mentions editing in edit listing.

[2016-07-25 17:11] #3011 closed

[2016-07-25 19:41] TheOpen1 opened #3165 "iCloud Bookmarks broken link."
I went to setup iCloud for Windows. I set it up to sync my firefox bookmarks with my safari bookmarks, then it says I need an add-on for it to work. I click on download which opens up firefox to "https://addons.mozilla.org/en-US/firefox/addon/icloud-bookmarks/" but the add-on site displays a 404 error. What is going on?

[2016-07-25 19:51] wagnerand commented on #3084
Yes, per add-on.

[2016-07-25 19:58] tofumatt commented on #3165
See #3130; it's actually been disabled because of stability problems. We're adding a notice to the page that will alert users that Apple needs to update the add-on so it doesn't crash users' Firefox browsers before we can re-enable it.

[2016-07-25 19:58] #3165 closed

[2016-07-25 22:07] milupo commented on #2923
Hi,

Is it already foreseeable when categories can be translated?

[2016-07-25 22:16] diox commented on #2923
I can't give you an estimate yet, no. It's very high on my todo list, but the cleanups required are quite complex, lots of moving parts so it's taking some time. I hope to have something ready for next week, but no promises.

[2016-07-26 07:09] ValentinaPC opened #3167 "First 2 add-ons mentioned in about:addons video cannot be opened"
Steps to reproduce:
1. Open about:addons (under any AMO server)
2. Play the video
3. Go to the middle of it (0:40 sec) and try opening the first 2 add-ons listed on the right side

Expected results:
Add-ons details page are opened as expected.

Actual results:
"What are Add-ons?" page is displayed.

Notes/Issues:
This is happening only for the first 2 add-ons.
Verified on FF47(Win 7 x64). Reproduc

[2016-07-26 08:44] ValentinaPC commented on #3011
Verified as fixed on AMO-dev FF47(Win 7 x64)
Postfix screenshots:
![log](https://cloud.githubusercontent.com/assets/15685960/17131457/3b58e16a-5326-11e6-90ce-74094ad2c799.png)
![review_theme_title](https://cloud.githubusercontent.com/assets/15685960/17131456/3b58ba64-5326-11e6-9ee0-cb560ce968c8.png)

[2016-07-26 12:43] #3130 closed

[2016-07-26 13:31] #3122 closed

[2016-07-26 13:31] muffinresearch commented on #3167
Do you have STR to get to the video? I don't seem to ever get the video using a new profile.

[2016-07-26 13:38] ValentinaPC commented on #3167
Load about:addons in Firefox 47 and click on the "Learn More" button. (
![video](https://cloud.githubusercontent.com/assets/15685960/17139991/6d1e9932-534f-11e6-972e-479126805cc4.gif)
)

[2016-07-26 14:34] muffinresearch commented on #3167
Hmn. That doesn't show a video for me. It just links to amo.

[2016-07-26 14:36] muffinresearch commented on #3167
Ah, I found why - when the locale is en-GB it doesn't work :). Maybe it only works for what is presumed to be english e.g. en-US - since the video isn't localized.

[2016-07-26 14:38] muffinresearch commented on #3167
So both of those are 404 hence the message. Since the disco pane is about to be replaced I think we can not worry too much about that. It's been like it for a while.

[2016-07-26 14:39] #3167 closed

[2016-07-26 14:42] ValentinaPC commented on #3167
I just thought that users can encounter this issue, until the new disco pane show-up....and be upset :)

[2016-07-26 14:54] muffinresearch commented on #3167
It's out on 2nd august so not long at all. It would take us longer to deal with changing the video etc.

[2016-07-26 14:56] milupo commented on #2923
Thank you, diox. It just doesn't look when there are untranslated strings in such a conspicuous place, directly on the AMO homepage.

[2016-07-26 14:57] ValentinaPC opened #3171 "Lets make the Editor Tools menu cute for other languages too"
Steps to reproduce:
1. Log in with an admin account in AMO-dev
2. Go to Editor Tools and change the language to French
3. Observe the menu

Expected results:
There are no display or layout issues.

Actual results:
The menu is hard to read.

Notes/Issues:
It is reproducing for other languages too (i.e. Deutsch, dsb, Russian, etc. )
Also, when the Editor Tools text is too log the "Themes" button has

[2016-07-26 16:03] andymckay-limited-access commented on #1699
Last comment sounds good.

[2016-07-26 16:05] andymckay-limited-access commented on #2823
Let's just remove the caching for anonymous users because this page doesn't get much traffic.

[2016-07-26 16:08] andymckay-limited-access commented on #2823
Just to confirm, that looking in google analytics, it seems like these pages get very little traffic.

[2016-07-26 16:21] #3151 closed

[2016-07-26 17:36] andymckay commented on #3082
Any chance we could get this in for next week @EnTeQuAk please?

[2016-07-26 17:48] eviljeff commented on #2258
mentor @muffinresearch
- can you add few details about what a contributor would need to do to fix this?

[2016-07-26 17:49] wagnerand commented on #2199
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:49] wagnerand commented on #2258
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:50] wagnerand commented on #2351
@aelawson Are you still working on this bug?

[2016-07-26 17:50] wagnerand commented on #2372
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:51] wagnerand commented on #2440
Sorry for the delay, this one slipped through the cracks!

Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:52] wagnerand commented on #2440
Mentor: @tofumatt

[2016-07-26 17:52] jvillalobos commented on #2516
@tsl143 where you able to progress on this? Do you want this issue assigned to you?

[2016-07-26 17:52] wagnerand commented on #2397
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:52] wagnerand commented on #2394
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:52] wagnerand commented on #2435
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:55] wagnerand commented on #2671
Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 17:55] wagnerand commented on #2398
Mentor: @tofumatt

Please refer to https://wiki.mozilla.org/Add-ons/Contribute/AMO/Code if this is your first contribution.

If you want to work on this issue and need more information on how or where to fix it, please comment here and we will be happy to provide more details.

[2016-07-26 18:31] #1777 closed

[2016-07-26 18:51] tofumatt opened #3177 "CircleCI fails often and needs to be restarted"
CircleCI builds fail quite often but will succeed once restarted. This causes a lot of PRs to appear red until the CircleCI tests are restarted. Or worse, the failing tests are ignored as "just something that happens sometimes", which negates the point of having our tests and code in the same repo (so we can see when a change to the code breaks QA's automated tests).

Not sure what we can do to fi

[2016-07-26 19:03] #3142 closed

[2016-07-26 19:37] EnTeQuAk commented on #3177
It's a bit related to https://github.com/mozilla/addons-server/pull/3111 and right now we're unsure as to why the setup on the circle ci fails sometimes.

I might get to investigate this a bit more while fixing up migrations for django 1.8 so hopefully we get a few answers tomorrow.

We shouldn't ignore the tests, I agree but if fixing them takes more time we should at least avoid any more confusi

[2016-07-26 20:40] jvillalobos commented on #3152
Judging by the recent history of the add-on, a new version will be submitted for review and that page should reappear. The reason it's showing an error right now is that there are no versions available.

[2016-07-26 20:40] #3152 closed

[2016-07-26 20:51] jvillalobos commented on #3084
Confirming it's per add-on.

[2016-07-27 02:54] AlvaroChente commented on #3152
Gracias jvillalobos, en efecto recibí un comunicado de Privatix directamente, donde me dicen que en esta semana seguramente estará apareciendo la nueva versión.

[2016-07-27 09:14] muffinresearch commented on #2671
Since we've started on overhauling the mobile pages currently with a view to replacing them entirely this might not be worth spending time on unless it's a very small patch which is unlikely to cause any regressions.

[2016-07-27 10:18] vcarciu opened #3180 "Ui issues in Editor Tools for users with long Display Names"
Prerequisites:
Build identifier: Mozilla/5.0 (Windows NT 6.1; Win64; x64; rv:47.0) Gecko/20100101 Firefox/47.0

Steps to reproduce:
1.Be sure that you have a max length Display Name for your AMO user
2.Go to https://addons.allizom.org/en-US/editors/
3.Observe the "Reviews this month" section

Expected results:
Long names should be truncated and no UI issues displayed

Actual results:
Long names ar

[2016-07-27 10:28] vcarciu commented on #3180
Another place with issues for long reviewer name  :
![reviewers](https://cloud.githubusercontent.com/assets/1583842/17172478/fc404f08-53fd-11e6-8967-585a71c8e41e.png)

[2016-07-27 10:36] ValentinaPC commented on #2818
Verified as fixed on AMO-dev FF47(Win 7 x64)
Postfix screenshot:
![longname](https://cloud.githubusercontent.com/assets/15685960/17172688/0b4413e4-53ff-11e6-9e73-d373938c8b16.png)

Note: takes a few minutes until changes apply.

[2016-07-27 11:16] diox commented on #2857
This should be completely fixed, @jasonthomas triggered a re-processing of all the old data with the new scripts and processing command. See https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/statistics/?last=90 for an example of the fixed stats.

[2016-07-27 11:16] #2857 closed

[2016-07-27 12:24] madalincm opened #3182 "Server error when trying to make a contribution"
### Steps to reproduce:
1.  Open https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus/?src=hp-dl-mostpopular
2. Click on the Contribute button
3.  Check the one time contribution option an click the Make Contribution button.

### Expected results:
The user can complete a contribution.

### Actual results:
The contribution can't be completed, the request is failing with a 500 error.

###

[2016-07-27 13:21] spoji opened #3183 "Reviewers can't install unsigned add-ons that don't have an ID"
I had issues reviewing 17 WebExtensions add-ons this morning. All of those facing the same issue.

Let's take this add-on as an example :
https://addons.mozilla.org/en-US/editors/review/xorapl-czytnik version 2.0.0.

Installation of XPI xorapl_czytnik-2.0.0-fx+an.xpi (at the time when it was non signed) failed:

Firefox console shows :
Error: Cannot find id for add-on tmp-g35.xpi (resource://gre/m

[2016-07-27 13:25] wagnerand commented on #3183
I think this comes down to: "Cannot install an unsigned webextension if it doesn't have an ID"?

[2016-07-27 13:28] spoji commented on #3183
Modifying the unsigned XPI manifest.xml by adding "id": "@xora-czytnik", doesn't solve the issue. The same error shows up inside Firefox's console.

[2016-07-27 13:42] davehunt commented on #2593
Hopefully the UI tests will be more stable once #3111 lands. Has there been any progress on this issue @EnTeQuAk? I'd like to get the tests dependent on logging in running, and revisit my work on a test to install an add-on, which IIRC is going to depend on an API user.

[2016-07-27 13:43] davehunt commented on #3177
Hopefully the patch in #3111 will fix this.

[2016-07-27 14:22] vasilicamihasca opened #3184 "Server error caused by locales at webextension submission"
**Steps to reproduce:**
Try to submit the attached webextension:
[lightyoutubeautoreplay-1.8-an+fx.zip](https://github.com/mozilla/addons-server/files/386240/lightyoutubeautoreplay-1.8-an.fx.zip)

**Expected results:**
The webextension is successfully submitted.

**Actual results:**
500 server error is returned and the oops message is displayed.

**Additional notes:**
- This bug might be related t

[2016-07-27 16:16] kvandrunen opened #3186 "missing extension for iCloud Bookmarks"
this extension is not found as an Add-on for Firefox:
iCloud Bookmarks

[2016-07-27 16:29] jvillalobos commented on #3186
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-27 16:29] #3186 closed

[2016-07-27 17:29] mstriemer opened #3187 "Improve API request error page in development"
Currently if you get a 500 on an API request you see `{"detail": "Internal Server Error"}` and the stack trace is hidden from the logs.

https://github.com/mozilla/addons-server/commit/a121c9290d28fcf27971e97344332c02ef83643a says it showed the django error page in development but that seems to be what is causing the error to be swallowed. Maybe shouldn't set an error handler in development?

Eith

[2016-07-27 17:32] andymckay commented on #3183
Yeah that's going to be a problem. I can see two options:
* load the addon temporarily using about:debugging
* we could sign add-ons before they get reviewed with completely different certificate (that has ops and other considerations)

The first one is a little inconvenient for reviewers though.

[2016-07-27 17:58] andymckay commented on #3183
I suppose a third option that might be better than the second option (using a different cert):

* is to write out a copy of the add-on on the server with the manifest altered with a temporary id added, I can imagine a few problems with that though

[2016-07-27 19:34] andymckay commented on #3145
This is a duplicate of #2991, the author has decided to remove the add-on. Sorry there's nothing we can do about it.

[2016-07-27 19:34] #3145 closed

[2016-07-27 21:07] #1709 closed

[2016-07-27 21:19] mstriemer commented on #1825
We are just going to drop this column once we disable the migration.

[2016-07-27 21:19] #1825 closed

[2016-07-27 22:58] andymckay commented on #3080
Hmm, Firefox 48 goes out next week. @diox could we get this into next weeks release please?

[2016-07-27 23:10] andymckay commented on #3080
Actually lets flip this. We are moving to a world of WebExtensions where everything is restartless (unless the add-on developer forces a restart which is really rare). And roughly 50% of the add-ons now meet this criteria and its getting bigger.

Rather than focus on add-ons that are restartless, less focus on add-ons that require a restart since these are the ones with the  worse user experience.

[2016-07-28 00:14] krupa opened #3188 "Contributions is failing with a 500"
## steps to reproduce:
1. Load https://addons-dev.allizom.org/en-US/firefox/addon/adblock-plus/?src=ss
2. Click on the Contribution button

## expected behavior:
paypal window opens

## actual behavior:
Contribution fails with a 500

<img width="1439" alt="screen shot 2016-07-27 at 5 12 20 pm" src="https://cloud.githubusercontent.com/assets/301317/17196969/55537b64-541d-11e6-931f-6fca2daa1879.png"

[2016-07-28 08:35] ValentinaPC commented on #1709
Verified as fixed on AMO-dev FF47(Win 7 x64)
Postfix video:
![k](https://cloud.githubusercontent.com/assets/15685960/17206130/fd69a10e-54b6-11e6-89f8-5cf3c877a67c.gif)

[2016-07-28 08:36] muffinresearch commented on #3182
This was raised earlier but marking this one a dupe since the newer bug has sentry info.

Duplicate of #3188

[2016-07-28 08:36] #3182 closed

[2016-07-28 09:26] davehunt commented on #3177
#3111 is merged now, let's see how the CircleCI builds go, and consider closing this if stability has improved.

[2016-07-28 10:23] ValentinaPC commented on #3142
@mstriemer : I did not receive the FxA migration banner all around AMO servers; is this change already in production? Thanks!

[2016-07-28 10:26] diox commented on #2923
I merged #3190 which adds the strings (importing existing translations I could find on stage in the database) but does not use them yet. So the strings are going to be translatable but those translations are not going to be seen on the pages yet. I'll work on that next.

[2016-07-28 10:46] #3184 closed

[2016-07-28 12:25] mstriemer commented on #3142
You should be able to see a banner by logging in with a password and then connecting a Firefox Account.

When we turn off the migration on dev this week this change should prevent you from seeing that banner anymore.

[2016-07-28 12:26] mstriemer commented on #3142
This change is not on production.

If you want some test users let me know and I'll create them.

[2016-07-28 12:57] ValentinaPC commented on #3142
I have test users...but I am not able to see the banner, even if I use AMO-production. Is there also a migration flag turned off? Thanks!

[2016-07-28 13:47] TonnesM opened #3193 "Change "Login with" to "Log in with""
Recent new strings contain "Login with Firefox Accounts", available for l10n. Since "Login" is a noun and a verb is intended here, they should use "Log in".

https://github.com/mozilla/addons-server/blob/master/src/olympia/users/templates/users/login.html#L12
https://github.com/mozilla/addons-server/blob/master/src/olympia/users/templates/users/mobile/login.html#L11

[2016-07-28 15:16] #3025 closed

[2016-07-28 15:23] ValentinaPC commented on #3151
I've tried to reproduce the initial issue, but couldn't, or maybe I left something out while trying.
@mstriemer : could you help us with a more detailed expected and actual results?

As far as I understood we should be able to see the migration (together with the banner), like illustrated in #3166 , at least on AMO-stage/prod, yes?

Thanks in advance!

[2016-07-28 15:37] DasReport opened #3194 "iCloud bookmarks extension required"
The iCloud app on PC says the bookmarks extension for firefox is required to sync the desktop pc bookmarks with the icloud. The download button directs to a dead end. Here is the link in browser:  https://addons.mozilla.org/en-US/firefox/addon/icloud-bookmarks/

[2016-07-28 15:39] andymckay commented on #3194
This is a duplicate of #3027. The iCloud Bookmarks add-on was taken down due to serious stability problems. It's up to Apple to submit an update that corrects these problems.

[2016-07-28 15:39] #3194 closed

[2016-07-28 16:15] EnTeQuAk commented on #3188
The same error appears to have happened on stage yesterday too but I cannot reproduce this anymore.

![screenshot from 2016-07-28 18-12-56](https://cloud.githubusercontent.com/assets/139033/17220358/2af8c018-54ef-11e6-9dd1-88c6e2628b41.png)

[2016-07-28 16:17] muffinresearch commented on #3188
It's not repro'ing on -dev any more either

[2016-07-28 16:20] andymckay commented on #3188
PayPals sandbox isn't a shiny beacon of reliability and this was most likely an outage on their side.

[2016-07-28 16:20] #3188 closed

[2016-07-28 16:21] muffinresearch commented on #3188
It didn't reproduce on prod when it was reproducing on -dev so this suggests it was just a temporary issue with the sandbox endpoint: https://github.com/mozilla/addons-server/blob/master/src/olympia/conf/stage/settings.py#L192

[2016-07-28 16:50] mstriemer commented on #3142
You should be able to see the banner on stage. Here's how I did it:

1. Log in with a user that needs a password.
2. Click continue.
3. Log in with an FxA that hasn't been used yet.
4. Banner appears.

Ignore the bit at the beginning of the video where I use the wrong email address.

![fxa-migration-banner-stage mov](https://cloud.githubusercontent.com/assets/211578/17221371/3c75bb60-54b9-11e6-9c9

[2016-07-28 17:10] mstriemer commented on #3151
I did this on stage:

1. Log in with a user that needs a password.
2. Click continue.
3. Use an FxA that hasn't been used yet, but is a different email.
4. You see the migration banner and your email has changed.

![fxa-migraiton-change-stage mov](https://cloud.githubusercontent.com/assets/211578/17222060/1b89af9e-54bc-11e6-96d3-fecbd1baa07e.gif)

[2016-07-28 17:11] #3084 closed

[2016-07-28 17:34] mstriemer commented on #3193
I never considered this distinction but a quick search backs it up [1]. Feel free to submit a pull request with the updated strings (or in the future do that with an explanation if you find something, no need for an issue). I'll update these later if they haven't changed yet.

[1] http://grammarist.com/spelling/log-in-login/

[2016-07-28 17:53] jvillalobos commented on #3080
I suggest changing the color of the tag so people don't confuse it with the current one, and also to make it clearer that it's a con rather than a pro.

[2016-07-28 17:54] eviljeff commented on #3084
note: the UI to set this flag is behind the waffle flag `no-prelim-review` as we don't want to confuse developers with an experimental flag until preliminary review is gone.

[2016-07-28 18:09] diox commented on #3080
What color do you suggest ? Since it's kind of a negative label, it's unfortunate that the current one is already orange, if we want to change the color...

[2016-07-28 22:38] daniel156858217 opened #3195 "Activity Remover"
Por favor, yo quiero probar el addons Activity Remover para Mozilla.

Gracias.

[2016-07-28 22:47] milupo commented on #2923
Thank you, diox. Meanwhile I translated the strings including the category names into dsb and hsb.

[2016-07-28 23:25] jvillalobos commented on #3195
Supongo que esto es en referencia a una página de un complemento que ya no existe. De ser así, el complemento fue deshabilitado y no hay nada que podamos hacer para rehabilitarlo. Sugiero buscar alternativas en https://addons.mozilla.org/

[2016-07-28 23:25] #3195 closed

[2016-07-29 00:26] daniel156858217 commented on #3195
Hoa Jorge. Gracias por responder. Te ruego ayuda. ¿Podrías por favor recomendarme una alternativa? Es porque siento que me están entrando al Facebook y quiero borrar todo para estar más tranquilo. Pero estar borrando elemento por elemento me está llevando denasiado tiempo, días! Desde ya gracias.

[2016-07-29 00:28] daniel156858217 commented on #3195
Hola Jorge. Gracias por responder. Necesito tu ayuda, te ruego me recomiendes una alternativa. Es porque siento que me están entrando al Facebook y quiero borrar todo para estar más tranquilo. Pero estar borrando elemento por elemento me está llevando denasiado tiempo, días! Desde ya ^nuevamente gracias. Daniel.

[2016-07-29 06:13] ValentinaPC commented on #3142
Because I do not see the "password" field...I am not able to continue with your scenario.
Any idea why this is happening?
Please see the video (sorry to insist):
![etst](https://cloud.githubusercontent.com/assets/15685960/17239424/9b57ca52-556c-11e6-9621-2016febb65f1.gif)

[2016-07-29 07:47] madalincm commented on #3188
I can't no longer reproduce this in dev or stage.
Also I have tested in production and everything looks good.
marking as verified.

[2016-07-29 10:34] #3120 closed

[2016-07-29 15:25] sylvestre opened #3200 "Please update django-mozilla-product-details to the most recent version"
As the SVN product detail is going away ( see https://bugzilla.mozilla.org/show_bug.cgi?id=1288171 for the meta bug), please switch to the latest version of django-mozilla-product-details (see https://bugzilla.mozilla.org/show_bug.cgi?id=1282494)

This will use the new product details platform: https://product-details.mozilla.org/1.0/

[2016-07-29 15:28] sylvestre commented on #3200
pmac did the change here:
https://github.com/mozilla/django-product-details/commit/4481a30a51deff1ad39afe135c83c1021f290ad5

[2016-07-29 15:39] andymckay commented on #3200
Just note that the last upgrade of django-product-details almost killed AMO. The version I upgraded to loads the product details off the filesystem and did not cache it. At the scale of AMO we had to remove it.

Might be worth checking this and testing with @jasonthomas, since I might be misremembering or things changed since then.

I didn't enter too many details, but did file an issue here: #112

[2016-07-29 15:42] andymckay commented on #3200
...and after linking to that other bug I see it did the opposite, using memcache not the filesystem. That was when we were also having memcache and general AWS issues though. Anyways.

![knowing](https://cloud.githubusercontent.com/assets/74699/17254152/8dc3f752-5581-11e6-8690-a5a883ccbc3e.jpg)

[2016-07-29 16:52] mstriemer commented on #3142
You need some un-migrated users to test with. I created some users for you, the passwords are all "password".

On dev logging in should not show a banner and should not prompt for a password since the migration is disabled, on stage you should be prompted for a password and see the banner when you log in with FxA.

On dev:
* amo-fxa-100@mailinator.com
* amo-fxa-101@mailinator.com
* ...
* amo-fxa-1

[2016-07-29 17:19] EnTeQuAk commented on #3200
We do have our own backend for `django-mozilla-product-details` now to restore the old behavior of having everything in-memory for performance reasons, see https://github.com/mozilla/addons-server/blob/master/src/olympia/lib/product_details_backend.py for more details. This might need an update too.

[2016-07-29 22:00] daniel156858217 opened #3202 "Activity Remover para Mozilla"
Necesito tu ayuda, les ruego me recomienden una alternativa al Activity Remover para Mozilla. Es porque están entrando a mi cuenta de Facebook y quiero borrar todos mis datos personales para estar más tranquilo, pero no tener que estar borrando elemento por elemento porque eso me está llevando demasiado tiempo, muchos días! Desde ya gracias. Daniel.

[2016-07-29 22:45] #3202 closed

[2016-07-29 22:46] jvillalobos commented on #3202
Este no es un foro de soporte. Puede solicitar ayuda en http://foro.mozilla-hispano.org/

[2016-07-30 09:26] Archaeopteryx opened #3203 "Incompatible add-on message displayed on hover makes addon list jump/shake"
1. Go to https://addons.mozilla.org/en-US/firefox/extensions/?sort=created&unreviewed=on&page=1 with Firefox 47.
2. Find an add-on which is incompatible and has a short summary (must not be the first in the list).
3. Move your mouse over it.

Actual result: List items get shifted and mouse might end up over a different addon because "Not available for Firefox 47.0" gets added to the listing and in

[2016-07-30 16:33] TonnesM commented on #3193
Thanks. Also good to know is that such "phrasal verbs" apparently need to use "in to" ("not into"), i.e. "log in to", "sign in to".

Please don't mind if I leave this to you. I was hoping for a quick fix by the one responsible and was asked to file the issue here, but would need to dig into (not a phrasal verb ;) ) the issue which would keep me from doing other things with the risk of messing up (

[2016-08-01 08:20] ValentinaPC commented on #3142
As you can see in the above video, I was using a new, not-migrated e-mail, but for some reason did not work as expected.
Using the provided mail, the banner appears as mentioned in your message.
STAGE:
![stage](https://cloud.githubusercontent.com/assets/15685960/17287697/d815e77a-57d9-11e6-9887-892dd93bd69f.png)
DEV:
![dev](https://cloud.githubusercontent.com/assets/15685960/17287704/e33b735e-57d9

[2016-08-01 09:16] ValentinaPC commented on #3151
I followed above steps, and I am not able to reproduce the initial issue in AMO-stage FF47(Win 7 x64).

But... if I follow above STR, after step 3 I receive a migration page even if the second account is already migrated - as the info "red-message" says - If I click "skip", another migration page appears.
Please let me know if this is intended, or expected.
See the screencast:
![2-banners](https:/

[2016-08-01 11:13] #1862 closed

[2016-08-01 11:29] deadsquid opened #3204 "Update intro text for Discovery Pane for launch"
In discussions with Legal, we need to modify the text of the introductory paragraph of the discovery pane to make it clearer that add-ons are bits of code that are downloaded and installed independently from Firefox.

The paragraph under "Personalize Your Firefox" needs to be updated to:

"There are thousands of add-ons created by developers all over the world to help you personalize your browsing

[2016-08-01 13:21] madalincm opened #3205 "Message about firefox account is not displayed at log in"
### Steps to reproduce:
1. While logged out open the amo homepage:  https://addons-dev.allizom.org/en-US/firefox/
2. Click on the Log In link

### Expected results:
The page that explains that AMO has transitioned to Firefox Accounts is displayed

### Actual results:
No message is displayed.

### Notes/Issues:

The banner is displayed when logging in from the write a review form:
![writereview](ht

[2016-08-01 13:22] ValentinaPC commented on #3080
Verified as fixed on AMO-dev FF47(Win 7 x64)
Postfix screenshots:
![2016-08-01_1606](https://cloud.githubusercontent.com/assets/15685960/17294907/34770080-5802-11e6-9890-5f74cee53a01.png)
![listing](https://cloud.githubusercontent.com/assets/15685960/17295283/0ede4994-5804-11e6-8e45-5a1041af39af.png)

[2016-08-01 13:29] diox commented on #3080
Mmm something is wrong with the label, it should have a different styling.

[2016-08-01 13:44] ValentinaPC commented on #3080
About Editor Tools flags..
![2016-08-01_1639](https://cloud.githubusercontent.com/assets/15685960/17295838/f3260888-5806-11e6-860c-2a4b48fb0138.png)

I don't see the red arrow for "restartless" add-ons, as indicated above.

[2016-08-01 13:51] diox commented on #3080
You should see it instead for add-ons requiring restart. There is an issue with styling on dev at the moment, though.

[2016-08-01 14:00] ValentinaPC commented on #3080
Maybe it helps:
-> in add-on review page the flag about requiring a restart is mentioned
![review_page_001](https://cloud.githubusercontent.com/assets/15685960/17296339/6de9b900-5809-11e6-90e9-363700458c29.png)
-> in queue the flag is missing
![2016-08-01reqrestart](https://cloud.githubusercontent.com/assets/15685960/17296353/808061e0-5809-11e6-990f-d3b3309f09bd.png)

[2016-08-01 14:09] vasilicamihasca commented on #3184
Verified fixed on AMO-dev using Firefox 50.0a1 (2016-08-01).
The webextension is successfully submitted.
Postfix screenshot:
![2016-08-01_1706](https://cloud.githubusercontent.com/assets/18114210/17296531/6b2e8ab4-580a-11e6-81a5-a75374c1f461.png)

[2016-08-01 14:17] vasilicamihasca opened #3206 "Multiple errors at webextension submission"
**Steps to reproduce:**
Try to submit the attached webextension:
[lightyoutubeautoreplay-1.8-an.fx.zip](https://github.com/mozilla/addons-server/files/393968/lightyoutubeautoreplay-1.8-an.fx.zip)

**Expected results:**
The webextension is successfully submitted.

**Actual results:**
There are multiple errors displayed, so many as locales folders are.

**Additional notes:**
- This bug might be rela

[2016-08-01 14:17] diox commented on #3080
The flag is actually present, the icon is wrong because of the deployment issue we have on dev right now.

[2016-08-01 14:31] eviljeff commented on #3087
We're going to have to do something with status `Awaiting Preliminary Review` and `Preliminary Reviewed awaiting Full Review` for add-ons that are user disabled - they won't show up in the queues to be cleared. We can either migrate them to Nominated or set them to another status.

[2016-08-01 15:20] diox commented on #3080
Labels should be fixed now that dev is deploying correctly.

[2016-08-01 15:20] #3080 closed

[2016-08-01 15:34] muffinresearch commented on #3204
The new copy was added. However, the new key would mean all the translations would fall-back to english. Hence the key was updated for all locales so that we get out of date translations instead of falling-back to english.

The updates are in this tag: https://github.com/mozilla/addons-frontend/compare/2016.07.28...2016.08.01

Which is now on stage.

[2016-08-01 15:37] #3204 closed

[2016-08-01 15:40] diox commented on #2923
I've simplified the issue down to the most important problem: pulling translations out of the db and in our repos. We'll see about tackling the rest separately later.

[2016-08-01 15:55] muffinresearch commented on #3204
Note: what was committed to master is just the copy changes, this way the l10ners will see that translations are needed as soon as I do an extraction.

[2016-08-01 15:59] ValentinaPC commented on #3080
Verified as fixed on AMO-dev FF47(Win 7).
The new label looks as expected.
Postfix screenshots:
![add-on_details](https://cloud.githubusercontent.com/assets/15685960/17300182/fabad0ac-5819-11e6-843b-1a24c142932f.png)
![listing](https://cloud.githubusercontent.com/assets/15685960/17300188/00eb55b4-581a-11e6-96b9-556caad5c204.png)
![queue](https://cloud.githubusercontent.com/assets/15685960/17300198

[2016-08-01 16:07] eviljeff commented on #3087
Is this effectively dumping the IDs on the command line after the task is run?

[2016-08-01 16:36] jvillalobos commented on #3087
Yes, excluding add-ons that are `Incomplete` or `Disabled`.

[2016-08-01 18:02] jvillalobos commented on #3087
I did some cleanup for the add-ons that are user-disabled. There are 20 or so left where I pinged the developers to see if they disabled the add-ons by mistake. I think for the migration they should be handled like the enabled ones, and move them to their full review equivalent.

[2016-08-02 11:40] diox commented on #2923
QA: once this lands, please test that categories names are displayed correctly everywhere on the site (sidebar, add-ons in listings, etc) and are translated properly.

[2016-08-02 12:10] #2923 closed

[2016-08-02 12:44] milupo commented on #2923
Hi diox, very fine, thank you very much, it works both for hsb and dsb! But, is it correct that it works for the dev-allizom.org server only? For allizom.org and mozilla.org it doesn't work yet. The categories are shown correctly in the sidebar and, as page title, on the category add-on list. The order seems to be correct as well.

[2016-08-02 12:49] wagnerand commented on #2923
@milupo please see https://github.com/mozilla/addons-server/pull/3210#issuecomment-236887236

[2016-08-02 12:51] milupo commented on #2923
OK, thank you, wagnerand.

[2016-08-02 13:14] Luckz commented on #3151
Hey, I'm the person who opened the Bugzilla bug. By first casting https://addons.mozilla.org/en-US/firefox/users/delete on the new AMO account created by the bug, I was able to successfully link the two accounts under the Firefox account's email. Thanks for that.

Like @ValentinaPC I have also experienced this odd loop. The only valuable information about it is the "Your Firefox Account already ex

[2016-08-02 13:43] diox commented on #3017
The API will probably look something like this:
`/api/v3/addons/featured/`

With `app`, `appversion`, `platform`, `type`, `category` (and `lang`, like everywhere else) query parameters accepted as per the search API. `sort` wouldn't make sense since it's editorial content.

[2016-08-02 14:45] justinpotts opened #3212 "Add IDs or Class Names to dropdowns in header for automated tests"
For dropdowns such as this one, we need an ID or Class Name to interact with these more concretely, since the order of them changes depending on previous user behavior.

<img width="552" alt="screen shot 2016-08-02 at 7 42 23 am" src="https://cloud.githubusercontent.com/assets/2042849/17332764/b45cb664-5884-11e6-8f84-c67889ac38e2.png">

For example, when it's the user's first time submitting an ad

[2016-08-02 18:34] atsay commented on #2275
Can we prioritize this? Beyond community reasons, we should make it very clear on AMO that content is created by third-party developers and designers.

[2016-08-03 02:19] elisha1983 opened #3214 "old toolbar back"
I don't like the new yahoo toolbar it want let u add what u want to it. is there some way i can get the old one back on my computer
![img_2849](https://cloud.githubusercontent.com/assets/20806537/17351730/264ddc88-58ff-11e6-8812-f931509a193c.JPG)

[2016-08-03 02:20] elisha1983 opened #3215 "old toolbar back"
I don't like the new yahoo toolbar it want let u add what u want to it. is there some way i can get the old one back on my computer
![img_2849](https://cloud.githubusercontent.com/assets/20806537/17351758/524463fc-58ff-11e6-9074-9bcc2be597a3.JPG)

[2016-08-03 02:21] elisha1983 commented on #3215
I don't like the new yahoo toolbar it want let u add what u want to it. is there some way i can get the old one back on my computer

[2016-08-03 02:21] elisha1983 commented on #3215
![img_2849](https://cloud.githubusercontent.com/assets/20806537/17351776/71d25422-58ff-11e6-9dcb-be84f43cfeeb.JPG)

[2016-08-03 02:22] elisha1983 commented on #3215
I don't like the new yahoo toolbar it want let u add what u want to it. is there some way i can get the old one back on my computer
![img_2849](https://cloud.githubusercontent.com/assets/20806537/17351784/84c70bf4-58ff-11e6-8143-8e91190aba69.JPG)

[2016-08-03 09:36] wagnerand commented on #3215
The author of that add-on is responsible for the add-on. Please contact them.

[2016-08-03 09:36] #3215 closed

[2016-08-03 09:37] wagnerand commented on #3214
The author of that add-on is responsible for the add-on. Please contact them.

[2016-08-03 09:37] #3214 closed

[2016-08-03 11:50] elisha1983 commented on #3215
How do I find out who it is

Sent from my iPhone

[2016-08-03 12:20] muffinresearch commented on #3215
@elisha1983 there's a number of posts on Yahoo's forums re the toolbar see https://forums.yahoo.net/t5/Other-products/bd-p/additional-yahoo-products otherwise Yahoo's main support website can be found here: https://help.yahoo.com/kb/helpcentral

[2016-08-03 12:24] muffinresearch commented on #3212
Something I've done in the past is to use `data-qa-[name]=[value]` (with the value being completely optional if you just want a boolean attr) that way it's clear to a dev that changing that markup will likely break a test, plus it provides a nice way to find the relevant test. The only downside is that it adds weight to the page but if that got excessive it could be conditionally published only wh

[2016-08-03 14:52] elisha1983 commented on #3214
How do I contact them don't get mad I was just wondering

Sent from my iPhone

[2016-08-03 15:55] muffinresearch commented on #3214
@elisha1983 there's a number of posts on Yahoo's forums re the toolbar see https://forums.yahoo.net/t5/Other-products/bd-p/additional-yahoo-products otherwise Yahoo's main support website can be found here: https://help.yahoo.com/kb/helpcentral

[2016-08-03 16:15] tofumatt commented on #2275
Prioritised! I'll aim to get this out for the next tag.

[2016-08-03 17:43] AnimeRocker16 opened #3218 "Amazon Wish List Button"
I used to use this button every day, but since I upgraded to windows 10 and reformatted my computer, the install isn't popping up. Was it removed? What happened?

[2016-08-03 20:06] jvillalobos commented on #3218
Dupe of #2991

The add-on has been removed by the author. I think the [Amazon Assistant](https://addons.mozilla.org/addon/amazon-browser-bar/) is the new add-on that should be used instead.

You would have to contact the add-on author for more information.

[2016-08-03 20:06] #3218 closed

[2016-08-03 22:50] wagnerand commented on #2828
Adding @deadsquid to see whether we could re-prioritize this.

[2016-08-03 23:40] tofumatt commented on #2275
Also I would just like to apologise for being so slow on this and quick to close it. This is clearly an important issue and reading back on my comments I should have seen that! Fresh eyes make me realise recognising authorship is important.

Sorry! 😓

[2016-08-04 07:55] ValentinaPC commented on #3086
@eviljeff : the option to request preliminary review for add-ons awaiting full review is still available in "Manage Status & Versions" page, from Dev Hub (for old or new submission). The option is functional too.
Verified on AMO-dev FF47(Win 7 x64).
Please see the screenshot:
![awpr](https://cloud.githubusercontent.com/assets/15685960/17394434/b097b336-5a31-11e6-8617-e3d425776d43.png)

I'll reopen

[2016-08-04 08:30] ValentinaPC commented on #3098
This happening in "Basic Information" section, too.
Please see the video:
![basic info](https://cloud.githubusercontent.com/assets/15685960/17395406/e8b425a6-5a36-11e6-9277-1e8193397352.gif)

[2016-08-04 11:32] eviljeff commented on #3086
You need to enable a waffle switch - see https://github.com/mozilla/addons-server/issues/3084#issuecomment-235973353 (the first of the sub-issues of #3083).  Without the waffle switch enabled the functionality should be same as now.

[2016-08-04 12:06] ValentinaPC commented on #3086
@eviljeff : Ok, sorry for that!
After I've enabled the option and all things mentioned in this issue worked as expected.
I have a question, related to the next scenario:
- pick an add-on that is "awaiting full review"
- go to "Manage Status & Versions"
- click "Cancel Review Request"
My results are: version status turns into "awaiting preliminary review" ...intended or does not mater because add-o

[2016-08-04 12:22] ValentinaPC commented on #3084
Verified as fixed on AMO-dev (with flag enabled) using FF47(Win 7 x64)
Postfix screenshots:
![details](https://cloud.githubusercontent.com/assets/15685960/17401617/4a5580fa-5a57-11e6-922c-91ce4e8ea31f.png)
![edit_list](https://cloud.githubusercontent.com/assets/15685960/17401618/4a578dfa-5a57-11e6-82fc-1233c9278ef0.png)
![review](https://cloud.githubusercontent.com/assets/15685960/17401620/4a58989

[2016-08-04 12:37] ValentinaPC commented on #3085
Verified on AMO-dev (after the prelim review flag was enabled) using FF47(Win 7 x64)
_Step 6 is removed._
**1. Listed Add-ons**
- add-on status is "awaiting preliminary review"
**2. Unlisted Add-ons**
- add-ons status is "preliminary reviewed" - intended?
Please see the screenshot:
![unlisted_add-on](https://cloud.githubusercontent.com/assets/15685960/17401965/4d8b68c8-5a59-11e6-94d5-631e7350e82c.

[2016-08-04 12:45] eviljeff commented on #3086
I don't follow your question, but can you ask in #3085 if its related to devhub changes because this change just touches editors tools.

[2016-08-04 12:49] ValentinaPC commented on #3086
Thanks!

[2016-08-04 12:49] #3086 closed

[2016-08-04 12:51] ValentinaPC commented on #3085
+
Verified on AMO-dev (after the prelim review flag was enabled) using FF47(Win 7 x64)
I have a question, related to the next scenario:
-pick an add-on that is "awaiting full review"
-go to "Manage Status & Versions"
-click "Cancel Review Request"
My results are:
-version status turns into "awaiting **preliminary review**" ...intended? or does not matter because add-on is already incomplete?
Thank

[2016-08-04 14:00] #3087 closed

[2016-08-04 14:22] eviljeff commented on #3085
Was the add-on previously Preliminary Reviewed?  With these changes it shouldn't be possible to turn any more add-ons (or files) into Preliminary Reviewed... _but_ if an add-on is also preliminary reviewed it's okay for now and we'll deal with them in the migration.

[2016-08-04 14:27] vcarciu commented on #2923
@diox  : not sure if this looks ok for Japanese (See "Web" word not translated) : http://screencast.com/t/R5zcMbiU79r

I saw that type if issue for many languages

[2016-08-04 14:29] diox commented on #2923
Looks ok to me ? https://addons.mozilla.org/ja/firefox/ (change hasn't been deployed to prod yet) shows the same thing.

[2016-08-04 14:30] ValentinaPC commented on #3085
@eviljeff :
-If your are asking me about point 2 from the first comment- I've submitted (a few hours ago) an unlisted add-on who was automatically signed and marked prelim review, and
-If you are referring to the second comment - I've submitted a listed add-on (that was automatically marked as awaiting full) and made those steps.

[2016-08-04 14:31] vcarciu commented on #2923
Yes I know , but maybe it is an issue in prod too :) ... but you are right , if it is an issue it is not related to this bug

[2016-08-04 14:38] diox commented on #2923
I think it's just a choice of the translator to keep the "web" part of the word in English.