[2017-09-29 15:54] diox commented on #6547
There was something in sentry, actually, though we didn't see it initially... https://sentry.prod.mozaws.net/operations/olympia-dev/issues/652184/

It's kinda hard to read the traceback, but it's probably because we're filtering on fields that did not exist in the old schema. Generally that should not happen because the API will be added and ES reindexed before the client has been updated, but in

[2017-09-29 15:55] diox commented on #6547
I've done a reindex and we eventually found the sentry traceback so I'm closing this.

[2017-09-29 15:55] #6547 closed

[2017-09-29 15:57] willdurand commented on #6547
That was quick, thanks!

[2017-09-29 16:00] willdurand opened #6548 "Return (paginated) add-ons along with the detail of a collection"
The API exposes a detail endpoint to fetch a single collection: https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#detail. Yet, it does not expose the add-ons part of this collection, only metadata about it. There is a second endpoint to fetch the add-ons for a given collection though: https://addons-server.readthedocs.io/en/latest/topics/api/collections.html#collection-add

[2017-09-29 16:34] eviljeff commented on #6448
I'm thinking I can remove `/internal/accounts/login/` too as it's following the same pattern.

[2017-09-29 16:40] eviljeff commented on #6448
Also, `/accounts/register` seems to be similarly unused.  (remove all the things)

[2017-09-29 16:59] ian-henderson commented on #4210
What is the expected behavior here? Should the text box stop expanding in the x direction if it reaches a certain limit?

[2017-09-29 17:05] eviljeff commented on #4210
@ian-henderson yeah.  Or have the parent box expand too up to the page edge as long as it doesn't break the layout. It should be doable with css.

If you (or anyone else) is thinking of starting on this issue please be aware we are planning to replace this tool with a complete rewrite in the next 3-6 months so think about it as good practice rather than something that will be used for years.  Just

[2017-09-29 17:58] apoorvaeternity opened #6549 "Link to Docker commands in docs is broken"
The link to "Docker commands" in https://addons-server.readthedocs.io/en/latest/topics/install/docker.html#hacking-on-the-docker-image is broken.

What did you expect to happen?
I think it should be changed to https://docs.docker.com/engine/reference/commandline/docker/

[2017-09-29 18:04] jvillalobos commented on #6543
Oh, good call. The person who usually does this is currently unavailable.

I kicked off the process now.

[2017-09-29 18:30] jvillalobos commented on #6543
Looks like it's done.

[2017-09-29 18:30] #6543 closed

[2017-09-29 20:21] ian-henderson commented on #4210
@eviljeff Cool, I'll see what I can do with that, css-wise. This is will be my first pull request, so I definitely use the practice!

[2017-09-30 14:41] diox commented on #2661
That's because the default search only searches through extensions. If you select "All Add-ons" it works.

[2017-09-30 15:52] eviljeff commented on #6548
copy of the irc chat pre- the issue being filed:

[2017-09-30 15:55] eviljeff commented on #6548
Is this still a post-release task, or do you need this adding before the MVP in November?

There are a few different ways we could add this, depending on whether it's purely single collection (detail view, not list); if only read-only is needed, or write too.   Whether this is going to be a pattern used for other API endpoints that have a similar hierachy (Addons, Accounts, etc)

[2017-09-30 15:59] willdurand commented on #6548
I think it can be done post release. I have implemented the feature on the frontend calling the two endpoints.

[2017-09-30 17:38] erosman opened #6551 "Auto-Approval: Human Review for nativeMessaging"
In fact, addon with nativeMessaging permission are passed to admin due to their security risk. They shouldn't be entered in Auto-Approval cycle.

[2017-09-30 17:43] diox commented on #6551
All webextensions are auto-approved regardless of the APIs used, by design. cc @jvillalobos

[2017-09-30 17:43] #6551 closed

[2017-09-30 18:27] rctgamer3 commented on #6473
Why zero points? We still have to check the source code and compare it with the last human-reviewed version. Giving it less points than simple user reviews seems a bit strange.

[2017-10-01 11:56] grahamperrin commented on #2661
<https://addons.mozilla.org/en-Gb/firefox/search/?q=british+spell&appver=55.0&cat=1%2C0> **does** already show 'All Add-ons'. Is that the problem? Is what's shown, top left, misleading and if so, where else should All Add-ons be selected?

[2017-10-01 12:08] diox commented on #2661
It's a bug in the frontend, the wrong option is pre-selected. If you re-click on it once it correctly shows All Add-ons. It should go away in the new frontend that we'll push to production soon.

[2017-10-01 12:15] grahamperrin commented on #2661
Thanks,

is that what's currently known as the _Mobile Site_? (I've had the blue favicon, rotated 45°, in lieu of the green, for the **non**-mobile view for quite a while now.)

[2017-10-01 12:42] diox commented on #2661
Yes. Eventually the new frontend will power both mobile and desktop, since it's responsive. Currently it's only enabled if you click the "View Mobile Site" link in the footer or if you visit with a mobile user-agent string.

That has nothing to do with it, the favicon was changed to the blue/turquoise one across the board.

[2017-10-01 14:06] pranaygupta36 commented on #4581
I would like to take this issue up.

[2017-10-01 21:20] PhillypHenning commented on #2167
Hey, I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-01 21:25] PhillypHenning commented on #4574
Hey, I'm a student at Seneca college learning open source, and I was hoping to work on this bug for my course.  If no one else is currently working on it, I'd like to give it a try.

[2017-10-02 06:43] ValentinaPC commented on #6537
Please add some steps for us to check this or the label "qa: not needed". Thanks!

[2017-10-02 07:14] ValentinaPC commented on #6360
The [language pack admin tool](https://addons-internal.prod.mozaws.net/admin/langpacks) page is not working, could you please give a hand, Mat?

[2017-10-02 07:42] ValentinaPC commented on #6539
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-10-02 09:18] ValentinaPC commented on #6424
Was #6540 run? Thanks!

[2017-10-02 09:24] diox commented on #6360
What do you mean not working? @jvillalobos successfully used it to fetch the language packs for Firefox 56 in https://github.com/mozilla/addons-server/issues/6543

[2017-10-02 09:26] diox commented on #6424
@ValentinaPC yes, we ran it directly on prod. You can see the add-on mentioned in this issue, [Firefox Multi-Account Containers](https://addons.mozilla.org/en-US/firefox/addon/multi-account-containers/), is now available for Firefox 57 and higher despite not being a webextension.

[2017-10-02 09:26] #6424 closed

[2017-10-02 09:32] ValentinaPC commented on #6360
I mean that accessing the page - https://addons-internal.prod.mozaws.net/admin/langpacks - while having the VPN active, I get no results.

Updated:
I figure it out....it is because I was trying the -prod site, where i don'e have rights. -dev is working.
Sorry for the noise.

[2017-10-02 09:35] ValentinaPC commented on #6424
Should we list the compatibility label if is not a webextension?

[2017-10-02 09:37] diox commented on #6424
Yes, that's the point of this issue. It's not a webextension, but mozilla signed extensions should work and are therefore marked as compatible.

[2017-10-02 10:12] ValentinaPC commented on #6424
I understand the point of this issue. Just thought that active installation button would be enough.

Marking this verified as fixed on AMo-prod FF56(Win 7)

[2017-10-02 11:15] eviljeff commented on #4574
It's been a month so I don't think @apoorvasingh17 is still working on it.  So go ahead.

[2017-10-02 11:16] eviljeff commented on #2167
sure, go ahead @PhillypHenning

[2017-10-02 11:16] #6516 closed

[2017-10-02 11:33] diox opened #6556 "Cleanup 'Staff' group permissions"
On stage, the Staff group has the following permissions:

`['Addons:Review', 'Apps:Review', 'Personas:Review', 'Reviews:Edit', 'Addons:Edit', 'Addons:Configure', 'Users:Edit', 'Stats:View', 'CollectionStats:View', 'Collections:Edit', 'AdminTools:View', 'SeniorPersonasTools:View', 'Apps:Configure', 'AccountLookup:View', 'AppLookup:View', Lookup:View', 'FeaturedApps:View', 'FeaturedApps:Edit', 'Stat

[2017-10-02 11:48] pranaygupta36 opened #6557 "make initialize_docker fails when behind a proxy"
I followed the steps listed in install docs for setting up development environment with docker. When I was executing make initialize_docker it failed with the following error.

[code]
Here are the complete logs.[log.txt](https://github.com/mozilla/addons-server/files/1348763/log.txt)

[2017-10-02 11:56] eviljeff opened #6558 "add metric to datadog to track how often taar api requests fail"
`discovery.utils.call_recommendation_server` catches exceptions and logs them but we should record the fail too.

[2017-10-02 11:58] eviljeff commented on #6537
it's difficult to test, other than by repeatedly hitting the api endpoint in the hope the upstream recommendation server fails.  But I was testing it on prod just now and the server _did_ fail (timed out) and the failure was handled as expected, so I don't think any extra QA is needed.

[2017-10-02 12:25] eviljeff commented on #6014
@jvillalobos so, wontfix?

[2017-10-02 12:27] eviljeff commented on #5794
@jvillalobos because `needs: product` label doesn't alert product

[2017-10-02 12:27] eviljeff commented on #6235
@jvillalobos because `needs: product` label doesn't alert product

[2017-10-02 12:32] groovecoder commented on #6424
Yup, thanks everyone! We now have a green "Add to Firefox" button on our add-on.

[2017-10-02 12:38] madalincm commented on #6543
Verified as fixed in FF56(Win7)
Language packs can be installed in FF56. Marking bug as verified fixed.
![langpackcompat](https://user-images.githubusercontent.com/15685441/31077598-c17f932c-a787-11e7-8b95-ffb22c4a0fc1.png)

[2017-10-02 14:08] muffinresearch commented on #6558
As discussed,the goal here  would be to be able to know of `n` requests, how many fail.

[2017-10-02 14:11] willdurand opened #6560 "Add random sort ability to Search API"
Hi,

In order to retrieve a list of featured add-ons, the addons-frontend project uses the [Featured endpoint](https://addons-server.readthedocs.io/en/latest/topics/api/addons.html#featured). Yet, this endpoint does not support other parameters like `appversion`, which we now need to only show compatible add-ons to the users.

The [Search API](https://addons-server.readthedocs.io/en/latest/topics/

[2017-10-02 14:19] eviljeff commented on #6558
does the pull do that?

[2017-10-02 14:23] diox commented on #6560
We should be able to implement this using [Random Scoring](https://www.elastic.co/guide/en/elasticsearch/guide/current/random-scoring.html). However, we need some kind of protection to make sure we're not shooting ourselves in the foot, since random sort can be costly if not limited (we don't want the random scoring to be done on the whole index!). Maybe only accept if if `featured` is passed.

[2017-10-02 17:17] eviljeff commented on #6451
@rfk can you confirm the format of the message we'll be getting, along with the queue name and aws region.

[2017-10-02 17:55] eviljeff commented on #6451
I started hacking together something based on example, with some changes (e.g. AMO uses django settings, rather than a config file)

This seems like a good thing to be developed into a client library (hint hint 😉)

[2017-10-02 17:55] caitmuenster commented on #6473
The reason why we assigned 0 points to extensions with the lowest risk factors is that we don't believe these should be reviewed by reviewers at all, especially since so many other extensions will be in the higher risk categories.

If there comes a point when there are few add-ons to review -- or if there's a need to review the lowest risk extensions -- we can re-visit this and assign points.

[2017-10-02 18:40] #4210 closed

[2017-10-02 19:14] caitmuenster commented on #6473
@jvillalobos, is it possible to retroactively add points to reviewers who onboarded to the new system before updated points were available?

[2017-10-02 19:56] diox commented on #6473
It's possible from a technical standpoint if we do want to do it.

[2017-10-02 20:21] ilmanzo commented on #6557
seems to me related to some connection issues; are you behind a proxy ?

[2017-10-02 20:31] muffinresearch opened #6566 "Add a link to allow users to try the new frontend."
This should be a prominent notification on the header of the legacy frontend - this will allow users to checkout the new site more easily.

This should be waffled off so we can flip it on in production when we're ready.

It will need a paragraph containing a link, which will set the mamo cookie to the value "on" the same as the link in the footer.

We'll need editorial and UX for what this should

[2017-10-02 20:33] krupa opened #6567 "Redesign introduces an additional click before the user can install featured extensions"
### Describe the problem and steps to reproduce it:
1. Compare https://addons.allizom.org/en-US/firefox/extensions/featured/ to https://addons.mozilla.org/en-us/firefox/extensions/?sort=featured
2. Notice that in the redesign, the call-to-action button is not listed and the user actually has to click to navigate to the details page to install the add-on

### What happened?
 In the redesign, the ca

[2017-10-02 20:35] muffinresearch commented on #6567
Related and part dupe of https://github.com/mozilla/addons-frontend/issues/3153

[2017-10-02 21:12] caitmuenster commented on #6473
That would be terrific. Thanks, @diox.

[2017-10-03 00:36] PhillypHenning commented on #2167
This may be a silly question but, I don't have an addon submitted and can't edit other peoples. Should I make a dummy addon or is there a way to create a fake addon for dev use?

[2017-10-03 07:40] diox commented on #2167
@PhillypHenning you can use https://staticfil.es/webext-generator/ to generate and download a dummy add-on. Don't upload that to our production servers though!

[2017-10-03 08:40] #6549 closed

[2017-10-03 09:09] ValentinaPC commented on #6516
First I though that we need to track an activity log for these actions - but while accessing Admin Tools - Fake mails log page - no tracking there, except while deleting the entire add-on.
Second I looked in Reviewer Tools - Add-on Review log page to see if there is some tracking there, but nothing there either.

Could you please add some STR for us to check the correct place for this, or the labe

[2017-10-03 10:07] diox commented on #6516
There should be some activity logging done when you enable/disable versions in devhub. You can then see those activities when looking at the "View Recent Changes" link from the sidebar in an add-on developer pages.

[2017-10-03 10:49] kewisch commented on #6473
Just a side note on the implementation side, I suspect that "reject multiple versions" is just implemented as a reject operation on each version. If an add-on with N approved versions is rejected, I suspect that will give the reviewer N times the points mentioned above for just one "reject multiple versions". We should figure out if that is acceptable or if there needs to be some limitation.

[2017-10-03 11:31] eviljeff commented on #6567
Is this an addons-server issue?  I don't see the change in the legacy frontend - https://addons.allizom.org/en-US/firefox/extensions/?sort=featured on legacy frontend still has install buttons for compatible add-ons.

[2017-10-03 11:39] #6558 closed

[2017-10-03 11:43] diox commented on #6473
It's not (it would send multiple emails etc, that'd be weird). I was planning to only award points once for this action.

[2017-10-03 11:49] kewisch commented on #6473
Great, thanks for confirming!

[2017-10-03 12:22] ValentinaPC commented on #6516
Verified this on AMO-dev FF56(Win 7).
1. Changes around an add-on version are tracked in the "Recent Activity" section from manage My Submission page, until the add-on is deleted. After this actions made before add-on deletion are also erased, are we ok with this?
![changes](https://user-images.githubusercontent.com/15685960/31124646-0564fbce-a84e-11e7-98e5-ad1b36c2d21e.png)

2. Changes are also t

[2017-10-03 12:30] diox commented on #6516
1. We shouldn't be erasing anything. Can you link the add-on(s) ?
3. This is nothing new, it's just because you have a ton of add-ons.

[2017-10-03 12:39] diox opened #6568 "Remove internal API endpoints"
The internal API endpoints (`/api/v3/internal/`) were set up for the new Admin Tools living in addons-frontend. Those tools were [removed a while ago](https://github.com/mozilla/addons-frontend/issues/2373) but at the time we kept the endpoints, figuring they could be useful for debugging for instance.

However since they require either re-using a token or implementing a client with proper login f

[2017-10-03 12:43] ValentinaPC commented on #6516
I cannot help you in this case...because the add-on was deleted. :)

I know is not new, just seeking for a solution :)

[2017-10-03 12:59] #6448 closed

[2017-10-03 13:06] pranaygupta36 commented on #6557
Yes , I am behind a proxy and I used this link to configure docker to use it according to the proxy. [](https://docs.docker.com/engine/admin/systemd/ ).

[2017-10-03 13:07] ilmanzo commented on #6557
seems that 'pip install' fails to download the packages needed

[2017-10-03 13:08] vcarciu commented on #4210
Verified as fixed :
![collector](https://user-images.githubusercontent.com/1583842/31126626-0af11562-a855-11e7-9cb8-d61424b09e7c.gif)

[2017-10-03 13:45] diox commented on #6516
Ah, but yeah, nevermind, we don't show deleted add-ons activity in the recent changes in devhub. So that's fine.

[2017-10-03 14:36] diox opened #6570 "Retroactively award reviewer points for post-review/content-review actions"
Once #6473 lands we'll need to retroactively award reviewer points for post-review/content-review actions that were made before the rewards were added.

This will probably be a one-off task that digs into `ActivityLog`s and call `award_points()` accordingly.

[2017-10-03 14:38] diox commented on #6473
I split this in a different issue, #6570.

[2017-10-03 14:48] jvillalobos opened #6571 "Up & Coming extensions has very old, incompatible add-ons"
Today, the [Up & Coming list](https://addons.mozilla.org/firefox/extensions/?sort=hotness), including the homepage show some very old add-ons, like [Fission](https://addons.mozilla.org/addon/fission/?src=hp-dl-upandcoming) (last updated in 2009), [Clipmarks](https://addons.mozilla.org/addon/clipmarks/?src=cb-dl-hotness) (last updated in 2010), and [SQLite Optimizer](https://addons.mozilla.org/addo

[2017-10-03 14:51] diox commented on #6570
@caitmuenster

There are 4 different actions that should award points if we consider content review:
- Confirming an auto-approval
- Rejecting multiple versions
- Approving Content
- Rejecting multiple versions (for content-only reasons)

One of them, Rejecting multiple versions, is difficult to isolate in the history, because the only thing I can use to award the points retroactively are the acti

[2017-10-03 15:35] eviljeff opened #6572 "Allow Static Themes packages to be submitted via devhub"
[Tracker mozilla/addons/issues/501]

Actually, this should be possible already.  But we need specific support in the views/models to identify and treat these add-ons differently to extensions.

[2017-10-03 15:40] diox commented on #6571
We did some digging on IRC, and it's linked to... how Firefox used to handle compatibility.

Those old add-ons have been installed by some users for a while, but were disabled because their `maxVersion` was super old, older than `4.0` (this is a special case for compatibility that `services/update.py` does, regardless of `strictCompatibility` being enabled). However on September 21st we [bumped th

[2017-10-03 15:45] muffinresearch commented on #6571
@jvillalobos does this also impact https://github.com/mozilla/addons-frontend/issues/3312 ?

[2017-10-03 16:26] caitmuenster commented on #6570
Ok, that makes sense. Let's enable the three straightforward ones.

[2017-10-03 16:27] rctgamer3 opened #6573 "Reviewer leaderboard is broken"
Title. Points seem to be double the amount the real value is. If a user has 100k points, he/she is listed in the leaderboard as having ~200k points.

[2017-10-03 16:34] erosman commented on #6573
Note: The error is only on `Leaderboard`

I see the correct amount on `https://addons.mozilla.org/en-US/editors/queue/updates`

[2017-10-03 16:37] eviljeff commented on #6572
@jvillalobos so many questions here about the submission flow and what metadata we will and won't collect vs. a standard webextension (or compared to a xul complete theme, or a LWT).  Can you fill in some blanks?

[2017-10-03 17:12] eviljeff commented on #6485
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-10-03 17:13] eviljeff commented on #6485
mentor me

[2017-10-03 17:23] eviljeff commented on #5217
If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started. mentor me

[2017-10-03 17:28] caitmuenster commented on #4994
@brampitoyo, can you give us a quick summary about what happened with issue #1717 so contributors who want to dive into this issue can know where to pick up?

[2017-10-03 17:32] eviljeff commented on #3674
Please feel free to contribute to this bug, but it's a little involved, likely involving making changes to the django models and an sql db migration.  Ask for more details.

[2017-10-03 18:27] eviljeff opened #6574 "Implemention of Static Themes in existing Addon models"
[Tracker mozilla/addons/issues/501]

Rambling dump-o-thoughts:

Static Themes are packaged as a webextension, with a JSON manifest, but have a specific 'theme' property, which identifies them as a theme.  An add-on can't be both an extension and a theme (an extension can use the _theme API_ instead, but that's regarded as an extension, rather than a theme).

There are a variety of ways we indicate

[2017-10-03 18:30] eviljeff commented on #6574
@diox @EnTeQuAk for their own thoughts

[2017-10-03 18:38] rctgamer3 opened #6575 "Ability to filter auto-approved add-ons by columns"
Title; just like the current new submissions and updates, it would be useful to sort (asc/desc) by title/last human review date/flags/weight

[2017-10-03 18:39] eviljeff commented on #6572
refs https://developer.mozilla.org/en-US/Add-ons/WebExtensions/manifest.json/theme
https://developer.mozilla.org/en-US/Add-ons/Themes/Theme_concepts#Static_theme_approaches

[2017-10-03 19:25] jvillalobos commented on #6014
Yeah, we'll look into ratings and reviews more closely next year.

[2017-10-03 19:25] #6014 closed

[2017-10-03 19:39] jvillalobos commented on #6573
I'm thinking this is related to us moving to the post-review system. @erosman was onboarded (added to the `Senior Add-on Reviewers` group) and has double points, while Teo hasn't been onboarded yet and shows a normal amount. Could be that the query is double-counting because of the presence in two reviewer groups.

[2017-10-03 19:53] jvillalobos commented on #6571
Probably. I don't think we do any filtering regarding legacy/WE or compatible/incompatible for the front page.

[2017-10-03 20:02] kumar303 opened #6576 "Add-on is Android compatible but does not have an Android install file"
### Describe the problem and steps to reproduce it:

I'm not sure how to reproduce this.

**UPDATE**: see https://github.com/mozilla/addons-server/issues/6576#issuecomment-334090810

### What happened?

I have seen several add-ons that are marked as Android-compatible yet do not have an install file for either all-platforms or for the Android platform.

Here is an example of an API response from h

[2017-10-03 20:34] jvillalobos commented on #6566
I'm in favor of showing the notification on all pages and making it easy to dismiss.

[2017-10-03 20:41] jvillalobos commented on #6235
Product read no tags!

That page already has the sorting options, so I think it's just a matter of changing the default (gfb, maybe?). That's fine with me, and it's probably what we'll do when we redesign those pages next year.

[2017-10-03 20:51] jvillalobos commented on #5794
I think category faceting would be useful, since filtering by a bunch of categories and getting nothing back is just wasted time.

We're not doing compatibility filtering at that level, and tags were removed from the MVP, so I think for now we can drop those.

[2017-10-03 21:26] brampitoyo commented on #4994
Since mozilla/addons-frontend/issues/1800 has been fixed, fixing this issue consists of simply adding the star graphic above the “last updated” value on the right hand corner of the add-on listing.

Before:
![before](https://user-images.githubusercontent.com/51007/31149998-7e20f7e8-a8ee-11e7-9122-28716d1520ee.png)

After:
![after](https://user-images.githubusercontent.com/51007/31150002-80a16cd2-a

[2017-10-04 00:42] PhillypHenning commented on #2167
Thanks @diox I followed your advice and can now replicate the bug. I've been poking around with the developer tools, but I'm still kinda unsure where to begin, I noticed the style refresh tag on the project does that relate to where I should be looking?

[2017-10-04 03:31] devaneymoz opened #6577 "Disco Pane content update - Octo. 2017"
For the **19 October** push, please REMOVE:

- New Tab Override
- LanguageTool Grammar Checker

... and REPLACE them with uBlock Origin and Search Image:

**Block ads** with [uBlock Origin by Raymond Hill](https://addons.mozilla.org/firefox/addon/ublock-origin/)
A lightweight and effective ad blocker. uBlock Origin enforces thousands of content filters without chewing up a bunch of memory.

**Easi

[2017-10-04 05:11] #6400 closed

[2017-10-04 06:09] EnTeQuAk commented on #6577
These changes should be landed on Oct 11th.

[2017-10-04 06:35] #6534 closed

[2017-10-04 06:35] #6535 closed

[2017-10-04 07:35] ValentinaPC commented on #6534
Please add some STRs for us to check this or the label "qa: not needed". Thanks!

[2017-10-04 08:24] ValentinaPC opened #6580 "Incorrect message in Add-on Validator page"
Steps to reproduce:
1. Log in to AMO-stage
2. Access Validator page from Dev Hub https://addons.allizom.org/en-US/developers/addon/validate
3. Observe the message under the page title

Expected results:
No note about this working only for legacy add-ons.

Actual results:
Message about the tool working only for legacy add-ons is displayed.

Notes/Issues:
- maybe this was added by mistake in https:/

[2017-10-04 08:41] diox commented on #6574
Yeah this is tough. On the one hand, I agree that the new type would be cleaner. On the other, that means touching a lot of code : I'm not sure how we want them to behave in devhub (more like how we currently handle extensions, or how we currently handle personas?) and reviewer tools (with extensions in the "regular" reviewer tools, or separated like personas?)

It's probably best to bypass the `P

[2017-10-04 08:44] diox commented on #6573
Yes, that's it. The query does not expect the same reviewer to be present in both `Add-on Reviewers` and `Senior Add-on Reviewers` groups. Same goes for `Persona Reviewers` vs `Senior Persona Reviewers`.

[2017-10-04 08:51] diox commented on #6576
To reproduce:
- Upload an add-on for Firefox only
- Edit its version and set the file to any platform other than "all" or "android"
- Add "Firefox for Android" as an application

We should prevent developers from doing this. I'm not sure to what extent, though. Maybe don't allow editing platform/apps entirely? Is there another way to end up in this situation without editing?

[2017-10-04 08:56] diox commented on #6544
Yeah we do have basic `ETag` support and obey `If-None-Match` though django's middleware. The question is, what kind of `max-age` do we want...

[2017-10-04 09:00] diox commented on #6580
mmm yeah it should only be applied to https://addons-dev.allizom.org/en-US/developers/addon/check-compatibility, not https://addons-dev.allizom.org/en-US/developers/addon/validate ...

[2017-10-04 09:02] EnTeQuAk commented on #6544
That might be different for every endpoint imho. 5 minutes probably works for all the things but I doubt 10 or 15 minutes will be a deal-breaker for things like browsing add-ons etc. Speaking of unauthenticated read-only requests here, we might want different rules for authenticated users, e.g to give developers the "oh, it got published, click, yeaaah, there it is" experience.

[2017-10-04 09:30] erosman commented on #6570
What is "Approving Content"?!

[2017-10-04 11:25] eviljeff commented on #6574
Product havn't created any issues (only long, possibly partially obsolete, PRDs) so I'm not sure - the read I get is they are the 'replacement' for personas, so be treated like them for review (though being entirely different means either a new review tool, or adding something to the extension review tools to approve them); for devhub I'm working on the assumption they'll be like extensions.

It's

[2017-10-04 11:29] diox commented on #6570
It's a [Content Review](https://github.com/mozilla/addons-server/issues/6310) action.

[2017-10-04 13:20] eviljeff opened #6582 "services/* files don't get flake8 checked"
Everything in src/ is flake8 checked by travis, so lets make sure files in services don't contain horrible syntax too.

[2017-10-04 13:38] eviljeff commented on #6572
@jvillalobos also, categories - same as LWT?  Same as Complete Themes?  Or some new set?

[2017-10-04 15:00] EnTeQuAk commented on #6574
I am actually leaning towards the `is_webextension is True` + `type = amo.ADDON_THEME` idea and at the same re-declaring `amo.ADDON_THEME` (current XUL add-ons) with a different type (`ADDON_LEGACY_THEME` or so) which might touch even more code I suppose but imho represents the add-on type more exactly (being a regular webextension plus a bit theme fuzz on top of it).

On the other hand I do see t

[2017-10-04 15:29] #6580 closed

[2017-10-04 16:28] diox commented on #6571
From standup today: we decided to lower the priority since the add-ons have been added to the frozen addons to prevent them from entering the homepage.

[2017-10-04 17:33] jvillalobos opened #6585 "Add paypal.com to list of allowed payment providers"
Please add Paypal (paypal.com) to the list of allowed providers in the new contributions feature (#6069). We already support paypal.me because I thought it was _the_ way to use Paypal for this, but per [this discourse post](https://discourse.mozilla.org/t/upcoming-changes-to-contributions-on-amo/17734/35) it's also possible to use paypal.com, apparently with some added flexibility for the recipien

[2017-10-04 17:46] devaneymoz commented on #6571
So am I to understand "Up & Coming" won't be part of the redesign launch on 2 Nov? It is currently slated to be part of the overall Homepage content lineup for launch.

Further, if filtering is an issue between legacy/WE that also affects "Most Popular" as well, correct? Also a significant part of the Homepage.

[2017-10-04 18:08] tofumatt opened #6586 "Return GUIDs for language-tools API endpoint"
Because of how we structure our data in redux reducers on the front-end, it would be really handy to get just a tiny bit more consistency in the language-tools API data. (https://github.com/mozilla/addons-frontend/pull/3288#discussion_r142681513)

If we could get the GUIDs for every add-on returned by this endpoint it would help us a lot. It would also allow us to eventually allow installs right f

[2017-10-04 18:22] jvillalobos opened #6587 "New add-on version automatically disabled without any feedback"
The problem happened to the [Transparent standalone images](https://addons.mozilla.org/addon/transparent-standalone-imag/) add-on.

Version 2.0 was submitted and auto-approved. Shortly thereafter, it was manually confirmed approved by a reviewer.

Version 2.0.1 was submitted within an hour or so of 2.0 (presumably after the manual confirmation), and it was just disabled. Nothing appears in the rev

[2017-10-04 18:50] msujaws commented on #6587
I'm the author of the extension. Jorge's description summarizes it well, but feel free to ask me anything else about my setup or steps if needed.

[2017-10-04 20:00] jvillalobos commented on #6571
This doesn't really affect the launch. We manually removed the old add-ons from showing up in Up & Coming, and can do it for others if they bubble up. Fixing this issue (by setting a hard recency limit) should address this more reliably.

[2017-10-04 20:13] diox commented on #6587
Approval confirmation does almost nothing, so this is quite weird. It should not touch the addon, any version of files, it sets a couple fields on another model and records an activity log, but that's it...

It's too bad this happened before https://github.com/mozilla/addons-server/issues/6516 had landed, since this adds additional logging around version disabling :(

There might be some logs in k

[2017-10-04 20:18] diox commented on #6571
The new frontend *will* filter out incompatible extensions when listing up & coming and popular, once https://github.com/mozilla/addons-server/issues/6560 is fixed and the corresponding API used in addons-frontend.

The legacy fontend does not filter them out, because it fetches that data in a different way that makes it a lot harder (see https://github.com/mozilla/addons-server/issues/6181#issuec

[2017-10-04 23:43] jvillalobos commented on #6574
To answer the product-ish questions:

* Submission should be handled like extensions (with the caveat that we will also offer the simplified upload form theme designers currently use).
* Dev Hub should be handled like extensions. Won't be pretty, but hopefully we'll improve this next year.
* Review should be handled like lwt.
* Listing should be handled like lwt, in that the listing has a prominen

[2017-10-04 23:48] jvillalobos commented on #6572
Let's start the discussion with an edited version of what's in the [PRD](https://docs.google.com/document/d/1d9acBumpdK87sYg7Ah98BEKvL7b4tuO-RDpgqbm7FTs/edit#):

* Themes will be submitted using the same submission flow as extensions, where the final theme package is uploaded.
* The existing submission flow will be enhanced with an option to use the simple lightweight submission form (upload heade

[2017-10-05 06:18] ValentinaPC commented on #6580
Verified as fixed on AMO-dev FF56(Win 7).
Postfix screenshot:
![validator](https://user-images.githubusercontent.com/15685960/31213241-372eda92-a9ae-11e7-9795-0a5dabb014a0.png)

[2017-10-05 08:26] ValentinaPC commented on #6310
Verified this on AMO-dev FF56(Win 7)
- a new Content Review queue was added in Rev Tools
- Approve Content/ Reject will remove the add-ons from the queue
- **Add-on Review Log do not mention which action - approve/reject - was made:**
![2017-10-05_0952](https://user-images.githubusercontent.com/15685960/31217251-f973e240-a9be-11e7-96a8-3200d637b4c7.png)
Is this ok?
- other reviews options are work

[2017-10-05 09:27] diox commented on #6310
* Reviewlog is something I should fix.
* Last Content Review should be set when the add-on auto-approval is confirmed or when the add-on is content approved (we consider that when a reviewer confirms an approval, they are also approving the content). Once this happens the add-on should disappear from the content review list for a year.

[2017-10-05 09:27] diox commented on #6310
Re-opening to fix review log, the view has a specific `action_dict` I need to modify.

[2017-10-05 09:38] diox commented on #6507
Another one https://addons.mozilla.org/en-US/editors/review/%E5%A4%8D%E6%9D%82%E5%AF%86%E7%A0%81%E7%94%9F%E6%88%90 :(

[2017-10-05 11:14] #4697 closed

[2017-10-05 11:30] eviljeff commented on #6586
Anything else you need for consistency?  Just guid?

[2017-10-05 11:32] tofumatt commented on #6586
I think just GUID is good; between that and the current_version we could hook up an install right from the page in the future.

[2017-10-05 12:33] eviljeff commented on #6582
QA - this touches the code called in Firefox to check for updates for add-ons and personas and we certainly don't want that to break.  However, there are no functional changes in the code, so there _shouldn't_ be any changes.

[2017-10-05 13:30] ValentinaPC commented on #6587
Maybe you hit the "Cancel and Disable Version" instead of "Submit Version"  by accident, while submitting the second version?

[2017-10-05 13:38] msujaws commented on #6587
I don't believe so, but if I did should the status message not say "Disabled by Mozilla" ?

[2017-10-05 13:41] ValentinaPC commented on #6587
The status for that specific version, yes.
What was your version status?

[2017-10-05 13:43] msujaws commented on #6587
Version 2.0 was marked as "Approved"
Version 2.0.1 was marked as "Disabled by Mozilla"

I seriously doubt I hit a "Cancel and Disable Version" button, but if I did then the UI should be showing something like "Disabled by Author" or something, and allow the author to enable it. I didn't see any way to enable the version once it had been marked as "Disabled by Mozilla".

[2017-10-05 13:48] diox commented on #6587
Unfortunately, no, that particular button does result in "Disabled by Mozilla" and then you can't re-enable the version.

[2017-10-05 13:51] #6586 closed

[2017-10-05 13:55] ValentinaPC commented on #6587
I tried to reproduce your issue, using different scenarios, and couldn't, from where my assumption... :(

@diox : maybe we can add the re-enable option for this case, too? Or a "request review" link like it is while canceling submission for the first version of an add-on?

[2017-10-05 14:13] msujaws commented on #6587
Yes please, a "re-enable" option or a "request review" would be good. As of right now, authors who get stuck in this state have no recourse.

[2017-10-05 14:32] eviljeff commented on #6574
I'm going to go with a new type `ADDON_STATICTHEME` because categories are going to be different than `ADDON_THEME` and it might make some other differences easier to implement too (e.g. reviewing).
(Though switching the names is a good idea... though I'd do that beforehand in a separate pull)

Thanks for inputs.

[2017-10-05 15:34] jezdez opened #6591 "Make GET request when querying the taar recommendation service"
### Describe the problem and steps to reproduce it:
The requests against the taar api to get recommendations is currently [using a POST request](https://github.com/mozilla/addons-server/commit/b0bd17ea0b7e42bb55647548192f7e52e273803e#diff-bad894f65bb9c4c32839b73fa8a231c4R23). Since the [code behind the service](https://github.com/mozilla/taar-api/blob/d14c756e94f4454f1140ac9771f582872a47123d/taar_

[2017-10-05 15:34] jezdez commented on #6591
@eviljeff Care to chime in on this?

[2017-10-05 16:10] #6591 closed

[2017-10-05 17:08] diox commented on #6587
Submitting a new version should work as a workaround in the meantime.

[2017-10-05 17:18] eviljeff commented on #6572
thanks.  fwiw, I'm going to add the LWT style form separately because it'll pretty much have to be rewritten from scratch - this will just be making devhub's extension submission flow work.

[2017-10-05 17:59] erosman opened #6593 "Compare does not pick up the Last Human Review"
**project: auto approval**

Example:
[code]

It seems the compare picked up v1.4.1 to compare with, while the last human review was v1.5.2

Version 1.4.1 · May 14, 2017 · Approved By Andreas
Version 1.5.0 · July 25, 2017 · Deleted
Version 1.5.1 · July 26, 2017 · Approved By Mozilla
Version 1.5.2 · July 30, 2017 · Approved By erosman
Version 1.6.0 · September 2, 2017 · Approved By Mozilla
Version 1

[2017-10-05 18:13] wagnerand commented on #6593
This sounds like https://github.com/mozilla/addons-server/issues/6483 which has been fixed already.

[2017-10-05 22:46] jvillalobos commented on #6572
I [created a separate doc](https://docs.google.com/document/d/1NB5RNu_eoJmDAlb1V_BrT-4BpmHUc1ZvGjOEZS5hQvQ/edit) explaining the changes to the submission flow. Needs review by @atsay and @pwalm.

[2017-10-06 01:08] tofumatt commented on #2167
I'm not sure I'm the best person to mentor this issue anymore as I've been away from this refresh for over a year now and am pretty busy with the frontend.

You can see which classes are being applied to that element and grep for them in your project, which should help you find the element that needs tweaking. Sorry I can't be of more help but I have no off-hand knowledge of this anymore so I'd be

[2017-10-06 08:20] vcarciu commented on #6586
Can you please add some STRs to this bug or add the "qa : not needed" label?

[2017-10-06 08:36] diox commented on #6593
This was indeed fixed in #6483 but it was too difficult to backfill data for auto-approvals made before that push.

[2017-10-06 08:36] #6593 closed

[2017-10-06 13:15] diox opened #6602 "Add-on Review Log should show action description for content approve/reject actions"
Originally reported in https://github.com/mozilla/addons-server/issues/6310#issuecomment-334395413 but this deserve its own issue cause I'd like to fix it by doing some refactoring to avoid the issue for future actions as well.

STR:
- Approve or reject content for an add-on
- Go to review log, see your action

Expected Result:
- You should see what kind of action you did like "Content approved" o

[2017-10-06 13:15] diox commented on #6310
Filed https://github.com/mozilla/addons-server/issues/6602 to handle this instead of doing this in this issue.

[2017-10-06 13:15] #6310 closed

[2017-10-06 13:21] diox commented on #6570
QA: ping me when you're about to test this. It requires a command to be ran manually.

[2017-10-06 13:22] erosman commented on #6593
Has the push already been made?
It is still picking the wrong version.

[2017-10-06 13:24] EnTeQuAk opened #6604 "Search via v3 api raises too_complex_to_determinize_exception"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/385995/

[code]

To be honest, I have no idea where that comes from and how to solve it and the interwebs isn't very helpful either.

[2017-10-06 13:29] diox commented on #6593
As I said, we didn't backfill data for previous auto-approvals, so it will only work for approvals made *after* that push.

[2017-10-06 13:29] ValentinaPC opened #6605 "Improve "More Featured Extensions/Themes" section"
Steps to reproduce:
1. Load Themes homepage https://addons-dev.allizom.org/en-US/firefox/themes/
2. Go to a theme category that has no featured themes i.e. https://addons-dev.allizom.org/en-US/firefox/themes/websites/
3. Go back to Themes homepage
4. Observe "More Featured Themes" section

Expected results:
There are no displayed or layout issues.

Actual results:
The featured section is hidden.

[2017-10-06 13:30] #6605 closed

[2017-10-06 13:34] diox commented on #6604
It seems to be caused by a specific query. Sentry seems to truncate it, but it looks like `ppppppppppppppppppppppppp0pppppppppppppppppppp0pppppppppppppppppppppppppppppppppppppppppppppppppppppp`. I wonder how long it actually is...

[2017-10-06 13:35] ValentinaPC commented on #6310
This ca be marked as verified fixed.

[2017-10-06 13:38] EnTeQuAk commented on #6604
So that sounds like something like https://github.com/mozilla/addons-server/issues/5443 and we should just start to remove support for unlimited length 🤔

[2017-10-06 13:41] EnTeQuAk commented on #6604
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/645767/

[2017-10-06 13:41] EnTeQuAk commented on #6604
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/641832/

[2017-10-06 13:44] EnTeQuAk opened #6607 "Remove google analytics update task"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/643407/

[code]

cc @muffinresearch didn't you do something google analytics related recently? Did something change, some tokens or something?

This started happening about a month ago. I didn't look yet if the analytics update is failing completely or just partially.

[2017-10-06 13:48] diox commented on #6604
If the query is super large, we return a `HTTP/1.1 414 Request-URI Too Large`. If the query is not that large, we support it, up to a point where it returns a 500.

We should add a limit to the `q` parameter in the search API, something like 100 chars.

[2017-10-06 14:42] EnTeQuAk commented on #5955
From recent irc discussions: The problem this issue should only solve is the fact that we have too many add-ons that get created with the same slug (via foxified or similar systems). I'd go the randomized route and prefix every (generated) slug with a short random string. That should fix our issues with mass add-on generators and only leaves us vulnerable to human beings creating hundreds of add-o

[2017-10-06 16:03] EnTeQuAk commented on #6507
short status update: I have a working experiment in the linter but that still proves to be a not-so-great idea. I'd go ahead and do the verification in addons-server for now, since we can properly detect it by blowing up via the python zip module.

[2017-10-06 16:45] kumar303 opened #6610 "Non-ascii username causes 500 in /api/v3/addons/search/"
### Describe the problem and steps to reproduce it:

Search for add-ons by author where the author's username has non-ascii characters in it:

[code]

### What happened?

500 error

### What did you expect to happen?

What did *you* expect to happen?

### Anything else we should know?

[We've all been there](http://farmdev.com/talks/unicode/).

[2017-10-06 16:48] kumar303 commented on #6610
I stole the idea of using non-ascii characters in every configurable thing (while developing) from @krupa. Everyone should do this ❤️

[2017-10-06 17:05] jvillalobos opened #6611 "Reorganize reviewer groups"
We need to make some changes to our permission groups for reviewers to keep up with recent updates:

* [ ] Rename `Add-on Reviewers` as `Reviewers: Legacy`, and only give them `Addons:Review` permission.
* [ ] Rename `Unlisted Add-on Reviewers` as `Reviewers: Unlisted`.
* [ ] Rename `Persona Reviewers` as `Reviewers: Themes`.
* [ ] Figure out if the `SeniorPersonasTools:View` permission is used fo

[2017-10-06 17:53] diox commented on #6610
I don't think this is related to unicode chars. We do have a test proving that unicode chars work when searching by author: https://github.com/mozilla/addons-server/blob/c94c5ddcca68538e68af642a271ed2247297c261/src/olympia/addons/tests/test_views.py#L2859

And it works fine on stage:
`https://addons.allizom.org/api/v3/addons/search/?app=firefox&appversion=58.0&author=kumar-krstić&page_size=7&sort=

[2017-10-06 18:04] jvillalobos opened #6612 "Investigate trend of add-on updates served to Firefox < 45"
Firefox has supported a JSON add-on update manifest since version 45, but support for the old RDF format [can't be dropped](https://bugzilla.mozilla.org/show_bug.cgi?id=857458) until add-ons stop using it. In particular, AMO needs to start serving the JSON updates.

We need to figure out if it's worth supporting both formats for some time, to support Firefox < 45, or just do a clean switch. Just l

[2017-10-06 18:22] kumar303 commented on #6610
Oh, awesome, that's good. I didn't check Sentry out of laziness.

[2017-10-06 21:25] diox commented on #6610
Back to normal. The servers had to be restarted, which is weird, but weirder things have happened on dev before.

[2017-10-06 21:25] #6610 closed

[2017-10-06 22:44] diox commented on #6610
On IRC @bqbn found an elasticsearch issue that could explain the crashing. If that's correct then it was probably caused by my investigations of https://github.com/mozilla/addons-server/issues/6604 trying to trigger that issue with a large query size, it does not play well with prefix/fuzzy matches.

[2017-10-07 08:21] erosman opened #6613 "Keep Complete canned Responses in Post Review"
project: auto approval

They are needed for rejections.

[2017-10-07 18:03] PhillypHenning commented on #2167
So I've looked at the gradient and I'm unsure if that is the underlying issue..
Testing space - https://addons-dev.allizom.org

No changes
![image](https://user-images.githubusercontent.com/16713447/31310533-c02edc4c-ab67-11e7-9b07-d27de646199e.png)

Applied gradient off
![image](https://user-images.githubusercontent.com/16713447/31310539-dbc8cdc8-ab67-11e7-8a1d-99b7ce88d071.png)

I noticed that t

[2017-10-07 18:55] diox opened #6614 "UnicodeEncodeError in legacy search view when passed non-ascii appver"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/349135/

[code]

This one is super old, and only affecting legacy frontend but also super easy to fix. The appver that triggered the traceback, `u'ö" onmouseover=Fott(9121) //'` is clearly someone trying to find a flaw, but still, we should handle that more gracefully (and probably return a 400 error or handle that silently) The API doe

[2017-10-08 05:00] bqbn commented on #6612
Our Nginx access logs contain clients' user-agent headers. UA header sent by a Firefox browser includes the Firefox version. Thus I think we should be able to pull the info you want from the access logs. I don't know what criteria defines "an add-on file is served" in particular though.

That said, I think the best way to obtain the info is to work with our BI team, since they already have the too

[2017-10-08 13:21] diox commented on #6613
Can you explain a little more what did you expect, on which page, and what was the actual result?

[2017-10-08 13:38] erosman commented on #6613
The way it is now on the Post Review page (of any add-on), options are:

- Confirm Approval
It doesn't display `Insert canned response...` which is fine
- Reject Multiple Versions
It does display `Insert canned response...` but the list of options are limited to:

  - Request testing information
  - Binary, minified or obfuscated code
  - Incomplete Description

These options are suited to `Review

[2017-10-08 13:40] diox commented on #6613
That looks like an issue for @jvillalobos (admins can adjust which canned responses are available for which actions).

[2017-10-08 13:49] erosman commented on #6613
Oh... I see... I thought it was done server-side.. then no problem.

[2017-10-08 13:58] emerald2k commented on #6613
@erosman this is already submited, issue to be fixed in https://github.com/mozilla/addons/issues/494

[2017-10-08 14:24] diox commented on #6613
Closing as duplicate

[2017-10-08 14:24] #6613 closed

[2017-10-08 23:32] rctgamer3 opened #6615 "(Advanced) Search in new queues"
Title. It's a bit hard to search by developer name/add-on name etc. right now if looking for a particular add-on or developer in the new queues.

[2017-10-08 23:47] rctgamer3 commented on #6519
RES 5.8.6 is back to normal.

[2017-10-09 00:10] rfk commented on #6451
Because of the various wrappings for transport through SQS and SNS, you should receive a message like this:

[code]

That is, a JSONified dict with a "Message" key, whose value is a JSONified dict with event type, affeted uid, and the new primary email.

@jbuck will provision these and let you know the details.  @jbuck should we open a tracking bug for this in bugzilla?

[2017-10-09 00:14] rfk commented on #6451
Hmmm...it also occurs to me that SQS does not guarantee order of message delivery.  So if a user changes their primary email to "test1@example.com" and then shortly after changes it again to "test2@example.com", it would be possible for you to receive the notification message for "test2@example.com" before the message for "test1@example.com".

We could avoid ordering issues here by having AMO make

[2017-10-09 04:17] bmhermitage opened #6617 "addon doesnt work"
I, was on ad-on site 'minimalist google' at http://go.infinise.com/   I tried to add it on and I expected to add it but.......

### it didnt happen. I ended up on a page that said 'We're sorry, but we can't find what you're looking for.'
### What did you expect to happen?

### Yes, I would still like the ad-on if it is available
(Please include a link to the page, screenshots and any relevant file

[2017-10-09 06:32] EnTeQuAk commented on #6519
jupp, this usually happens once the file-viewer caches get invalidated after an hour afair. The issue didn't get fixed yet though.

[2017-10-09 08:52] ValentinaPC commented on #6053
How it looks like now while makin an empty search from Extensions homepage and going to page 401 - https://addons-dev.allizom.org/en-US/firefox/search/?page=401&platform=windows&type=extension
![untitled](https://user-images.githubusercontent.com/15685960/31330709-2609f0ca-ace8-11e7-81df-56228abcf193.png)

[2017-10-09 08:54] eviljeff commented on #6451
I don't _think_ we do that (from a security perspective, is that a wise thing to do anyway?).  TBH having to do a callback seems rather messy, and kinda defeating the purpose of notification queues - can you just put an event timestamp in the message?

[2017-10-09 08:59] rfk commented on #6451
Yes, if you're happy to remember it on your side and discard notifications with timestamp < the last change you already processed.  I don't enjoy using timestamps because they always mean the possibility for race conditions etc, but the probability of issues there is likely vanishingly small in practice in this case.

[2017-10-09 09:27] EnTeQuAk commented on #5999
Assigning to me to look into this in the coming weeks as part of my attempt to work on django 1.11 and potentially celery 4 upgrade.

[2017-10-09 09:31] EnTeQuAk opened #6618 "Review our tasks, update auto-retry rules with new 4.x decorator"
See http://docs.celeryproject.org/en/latest/userguide/tasks.html#task-autoretry for a few more details.
This allows our tasks to be designed in a way more reliable way to auto-retry, automatically backoff if needed etc.

It's not blocking anything but having more stable, self-healing tasks is always desirable.

An example with automatic backoff:

[code]

Refs #5549 but doesn't block or depend on i

[2017-10-09 09:34] EnTeQuAk opened #6619 "review / update our celery task unittests"
See http://docs.celeryproject.org/en/latest/userguide/testing.html#testing for a few more details.

There's lots more pytest integration now in celery which we should make use of, also as far as I know we have relatively bad retry / exception testing for some of our tasks.

This is a meta-issue to track these or at least start investigating if we need to do something.

[2017-10-09 15:22] kumar303 commented on #4766
@muffinresearch any ETA on addressing this? It continues to bite us in the frontend. See https://github.com/mozilla/addons-frontend/issues/3408

[2017-10-09 16:16] pwalm commented on #6566
Hey @devaneymoz, are you able to provide copy for this so I build this next week? 👍

[2017-10-09 16:30] eviljeff commented on #6451
I think timestamps are preferable in this case.  Or any other way of indicating sequence - a unique numeric event identifier (assuming it was guaranteed to be greater than previous events)

[2017-10-09 17:03] devaneymoz commented on #6566
I'm guessing we want to keep this messaging strip pretty light and tight? If so how does this look...

**AMO is getting a new look. Would you like to see it?**

_[LINK] Visit the new AMO [LINK]     [DISMISS BUTTON]_

[2017-10-09 17:16] pwalm commented on #6566
Love it! SHIP IT

Thanks @devaneymoz!

[2017-10-09 19:20] jvillalobos opened #6626 "Expand Find Replacement feature to support non-AMO pages"
The admin tool built in #5637 was designed to only point to AMO pages. However, some high-profile add-ons don't have good replacements because they have been replaced with existing Firefox features, so it will serve those users better to direct them to help pages (on SUMO, for instance).

Let's expand the admin tool to support non-AMO pages. Don't know if anything needs to be done about the redire

[2017-10-09 19:45] jonathanKingston opened #6627 "Release notes are not submittable"
### Describe the problem and steps to reproduce it:

When upgrading Lightbeam, two of the last updates haven't been able to submit release notes.

### What happened?

The following code is there:
[code]

### What did you expect to happen?

To see the text field.

[2017-10-09 20:47] kumar303 commented on #6576
I've been duping a few bugs related to this and I just saw that it's affecting Privacy Badger which is a high profile add-on: https://www.reddit.com/r/firefox/comments/75azzo/i_cant_download_privacy_badger_on_firefox_android/

What can we do to fix the missing install files?

I verified that Privacy Badger's current version does not have an Android file. `https://addons.mozilla.org/api/v3/addons/a

[2017-10-09 21:04] diox commented on #6576
The quickest way to fix this is probably to only keep one single file compatible with "All" platforms. The problem is, we don't know what was the intent - why didn't the developer allow the "All" platform? Was it deliberate? Does it actually work with all platforms or not?

[2017-10-09 21:17] eviljeff commented on #6576
I suspect STR could be:
* upload a webextension and don't change Application or Platform (so it defaults to All; Desktop and Android)
* Change the file in edit version to be Mac (or something other than All or Android)

i.e. they didn't _add_ the application - we did

[2017-10-09 21:32] jvillalobos commented on #6627
Is this during the new version submission steps? Is the field just missing or do you see some kind of error? Can you add the release notes in the developer hub pages after you're done submitting?

[2017-10-09 21:34] jvillalobos commented on #6617
If you looked for an add-on on addons.mozilla.org and got that message, it means it was removed and it's no longer available.

[2017-10-09 21:34] #6617 closed

[2017-10-09 22:43] jonathanKingston commented on #6627
When viewing the extension version I can see the comments box. I can't when submitting the new version.

I also haven't had this on my own extension like merge windows.

It looked like the field was `display: none;` as the code was above however I didn't see any warnings.

[2017-10-09 23:07] jvillalobos commented on #6627
Tried submitting the latest version on -dev and I can see the Release Notes field.

Was the textarea the only thing that was missing? Was the `Release Notes` text there?

[2017-10-09 23:29] diox commented on #6627
What locale were you using (look in the URL) ?

[2017-10-09 23:30] jonathanKingston commented on #6627
en-GB

[2017-10-09 23:40] diox commented on #6627
Yeah so, I can reproduce, it's tied to how localized fields work.

STR:
- Submit an add-on, make sure its default locale is en-US
- From an en-GB URL, submit a new version (i.e. start from https://addons-dev.allizom.org/en-GB/developers/ if you're on dev)

Expected Results:
- The release notes are editable in version submission

Actual Results:
- The release notes are not editable in version submi

[2017-10-09 23:40] diox commented on #6627
Aaand it's actually a dupe of https://github.com/mozilla/addons-server/issues/4599

[2017-10-09 23:40] #6627 closed

[2017-10-09 23:42] diox commented on #4599
From #6627 : note that *editing* the version notes do work. It's just broken at submission somehow (which is super weird as at this point, the `Version` has already been created, so it's kind of already an edition).

It might be due to the fact that `Version` does not have a `default_locale` field (which causes all sort of issues when the `Addon.default_locale` changes...) but maybe not.

[2017-10-10 00:15] jonathanKingston commented on #6627
Thanks for chasing, sorry for the dupe!

[2017-10-10 00:20] diox commented on #6627
No apologies necessary, it was hard to find, it's a pretty obscure (and annoying...) bug :(

[2017-10-10 07:07] harry-7 commented on #5322
@vcarciu  is this still open ? If yes what part of the work is left?

[2017-10-10 08:45] ValentinaPC commented on #6535
Please add some STRs for us to check this or the label "qa: not needed". Thanks!

[2017-10-10 09:03] vcarciu commented on #5322
@harry-7 : Yes , the "Collector's Note" text should be in the right side of collector's note section

[2017-10-10 09:36] eviljeff commented on #2167
Both have a gradient - we want just a flat colour like we have in the sidebar ('Edit Information', etc)

[2017-10-10 09:52] ValentinaPC commented on #6495
Content of above 2 pages match in what concerns the JSON output and the replacement add-ons.
Checked each option from AMO-dev. Added a new replacement add-on and it was also added in the JSON output.
Link from Add-ons Manager redirects as expected.
![2017-10-10_1205](https://user-images.githubusercontent.com/15685960/31380376-dca8be48-adb9-11e7-940c-3746e481c7a5.png)
![2017-10-10_1252](https://use

[2017-10-10 09:58] #6602 closed

[2017-10-10 10:02] diox opened #6629 "collection_meta task is broken"
The `collection_meta` task that updates addon/themes counts on a Collection as well as the top tags for the collection appears to have been broken for a while. We've got hundreds of thousands of [sentry tracebacks like this one](https://sentry.prod.mozaws.net/operations/olympia-prod/issues/389934/):

[code]

[2017-10-10 10:16] eviljeff commented on #6629
Not sure I really understand why this task is written in such a strange way:
`Collection.objects.filter(id=c.id).update(addon_count=addon_count, all_personas=all_personas)`
rather than `c.update(...)`

And `c.top_tags = ` doesn't update at all.  (Not that we should care as tags are going away)

[2017-10-10 10:21] diox commented on #6629
My guess is that it's actively trying to avoid hitting the regular `post_save` signals... that would re-trigger the task.

[2017-10-10 10:22] diox commented on #6629
Also `top_tags` is an object with a `__set__` so it actually does update it directly.

[2017-10-10 10:37] #6570 closed

[2017-10-10 10:51] muffinresearch commented on #4766
@eviljeff what would it take to make requests for themes (type=persona) to ignore the clientApp. Would that be a viable way to solve this issue?

[2017-10-10 11:05] diox commented on #4766
The legacy frontend used to simply [ignore the application when looking for categories for lightweight themes](https://github.com/mozilla/addons-server/blob/eabba4afadababb4d5aba6181886d723e6950fd2/src/olympia/browse/views.py#L263-L264).

That's... not ideal. In the long term we should unify categories between Android and Firefox, and stop having application-specific categories, but in the meantim

[2017-10-10 11:26] eviljeff commented on #4766
agreed on the long term.  In the mean time... how difficult is a frontend fix to do the same as legacy?

[2017-10-10 11:29] tofumatt commented on #4766
Right now the front-end has a hack that sends firefox instead of android when searching for themes: https://github.com/mozilla/addons-frontend/blob/master/src/core/api/search.js#L47, so not that hard 😄

[2017-10-10 11:44] eviljeff commented on #4766
https://github.com/mozilla/addons-server/issues/5989 for unifying categories across Firefox desktop and Firefox android applications.

[2017-10-10 11:45] eviljeff commented on #4766
@muffinresearch which API endpoints specifically would need hacking to do this?

[2017-10-10 11:48] ValentinaPC commented on #6602
Verified as fixed in AMO-dev FF56(Win 7).
Postfix screenshot:
![rej-app](https://user-images.githubusercontent.com/15685960/31385007-1a26c08e-adca-11e7-8e51-54c538c46887.png)

[2017-10-10 11:56] ValentinaPC commented on #6570
@diox - ping :)
Also, how should we test this?
Making the 4 actions and see the points...where?
Thanks in advance!

[2017-10-10 12:03] muffinresearch commented on #4766
@eviljeff I think it's anything that involves lightweight themes.

[2017-10-10 12:04] muffinresearch commented on #5989
I think themes would be included in this since that's currently part of the issue - see #4766 for more info.

[2017-10-10 12:08] eviljeff commented on #5989
Also clarifying scope: this should be able unifying categories for the different _applications_, not the different add-on types.  Lang packs, themes, etc, are different types to Extensions, so will have different categories still.

[2017-10-10 12:13] eviljeff commented on #4766
So... if it's every single API endpoint that deals with 'addon' then it's going to be adding hacks to a lot of places and other solutions should be looked at.  (If it was a single API, then perhaps less so)

[2017-10-10 12:34] ValentinaPC commented on #6515
Verified as fixed on AMO-dev FF56(Win 7).
Postfix screenshot:
![csp](https://user-images.githubusercontent.com/15685960/31386736-8e98cc68-add0-11e7-85f0-bbbb6c6a036d.png)

[2017-10-10 12:42] ValentinaPC commented on #6525
@diox : what is the group that provides only viewer rights for developers? Thanks!

[2017-10-10 12:49] mlopatka commented on #6495
updated uris for addon replacements retrieval:
https://addons.mozilla.org/api/v3/addons/replacement-addon/

[2017-10-10 12:55] muffinresearch commented on #6566
@pwalm do you have an ETA on the visuals for this? Would be nice if we could land this for next week's push so we can toggle it on as soon as soon as we're ready.

[2017-10-10 12:59] #6585 closed

[2017-10-10 13:01] diox commented on #6525
@ValentinaPC : it's a role you can assign to an user on a particular add-on. The role is called "Viewer". Note that your user should not have extra permissions (from being a staff/reviewer/admin) when testing this.

[2017-10-10 13:16] ValentinaPC commented on #6629
Verified as fixed on AMO-dev FF56(Win 7).
Add-ons inside a collection are counted correctly while using the new AMO frontend.
Postfix screenshot:
![2017-10-10_1554](https://user-images.githubusercontent.com/15685960/31387588-9344d560-add3-11e7-8514-2f157f4c610f.png)

[2017-10-10 13:36] harry-7 commented on #5322
@vcarciu  I am unable to reproduce the bug. Also please let me know how to check if my code works correctly ..

[2017-10-10 13:45] ochristi commented on #6525
I just want to confirm, this is fixed in production.

[2017-10-10 15:37] jvillalobos commented on #6626
Looks like we'll be doing this via heartbeat instead.

[2017-10-10 15:52] pwalm commented on #6566
When is push? I was going to design it next week, but can try to bump it up.

[2017-10-10 15:53] diox opened #6635 "TypeError in olympia.activity.tasks.process_email : 'NoneType' object is not iterable"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/388100/
[code]

This looks like an error trying to process spam sent to the email that we have to handle activity log emails replies. The email does have a `To` but it's `None`. We should probably just ignore it.

[2017-10-10 16:20] diox opened #6636 "Gzip API responses"
Gzipping addons-server responses was disabled a while ago to prevent CRIME/BREACH attacks. While it's useful to avoid leaking CSRF tokens in regular HTML pages, we should not need that kind of protection in the API, which a) does not have cookie-based auth, so no secret is automatically sent with each request and b) does not include both a secret and user input in its responses.

Re-enabling gzip

[2017-10-10 16:36] kumar303 commented on #6636
Doesn't `/api/v3/accounts/authenticate/` respond with a `set-cookie` header? Maybe that response should not be gzip'd? I forget how the crime/breach attack worked.

[2017-10-10 16:43] diox commented on #6636
It needs the secret and a chosen text to be both part of the request and the response. Essentially the idea is for an attacker to force the victim's browser to call our server with a cookie + some chosen text over and over and over, and look at the responses sizes to try to guess the cookie. The response varies because of the text.

While we do have endpoints that set cookies, or respond with a ch

[2017-10-10 16:51] kumar303 commented on #6576
Here are a few notes:
* The legacy AMO mobile site used to display these add-ons on Android as incompatible
* The new AMO mobile site shipped with a bug that let the user install these add-ons anyway by just serving them the first file and hoping for the best
* A change was released around Sep 28th where these add-on pages broke (the install button was enabled but it caused a JS error). No error w

[2017-10-10 17:13] #6635 closed

[2017-10-10 17:31] FixitmanArizona commented on #5637
OR... how about making sure the browser works with all old extensions before updating it. For instance, if the original Google Toolbar. PrefBar, x-notifier, NoSquint, Status4Ever, and TabMixPlus do not work, or have built in replacements that look and work EXACTLY like the legacy extensions, do not release the new version, instead, modify an older version to have the same standards as the new brow

[2017-10-10 17:51] jvillalobos commented on #5989
Agree that themes (lightweight and future static) should share one set of categories that work both on desktop and Android.

[2017-10-10 18:53] asraskin opened #6639 "Invalid link to add-on review"
I received an email from "Mozilla Add-ons" telling me about a review of my Exif Viewer extension. The email included a link to https://addons.mozilla.org/en-US/firefox/addon/exif-viewer/reviews/932340/reply, so I could reply to the review.

When I clicked on the link and logged in, I instead got a "We're sorry, but we can't find what you're looking for." response.

I expected to be taken to the re

[2017-10-10 19:10] kumar303 commented on #6576
btw, 13k users on Firefox Mobile have tried within the last week to install an add-on lacking an Android file. https://sentry.prod.mozaws.net/operations/addons-frontend-amo-prod/issues/656097/

[2017-10-10 20:33] EnTeQuAk commented on #6629
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/389934/

[2017-10-10 20:47] EnTeQuAk opened #6640 "Migrate from Trunion to Autograph for add-ons signing"
The signature of addons of all types should be performed by the Autograph service, and no longer by the trunion service on the SCL3 HSMs.

Relevant example code from sign-xpi: https://github.com/mozilla-services/sign-xpi/blob/master/aws_lambda/sign_xpi.py#L293-L307
 
Now we apparently can use autograph via docker so we should finally be able to write proper unittests against it. Holy new shiny era

[2017-10-11 03:56] rfk commented on #6451
I filed a bug to add this on our side: https://github.com/mozilla/fxa-auth-server/issues/2160

[2017-10-11 05:43] EnTeQuAk opened #6642 "Celery 4: remove pickle serialization"
In #6625 we added and defaulted to json serialization but kept accepting pickle for backwards compatibility.

Let's remove `pickle` serialization once the upgrade is done and seems stable.

[2017-10-11 09:02] EnTeQuAk opened #6643 "update_global_totals fails on not exinsting UpdateCount instance"
I haven't looked into it too deeply, could be related to one of the other statistic tasks before failing (probably is).

https://sentry.prod.mozaws.net/operations/olympia-prod/issues/371142/

[code]

[2017-10-11 09:02] EnTeQuAk commented on #5955
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/378936/

[2017-10-11 09:47] ValentinaPC commented on #6604
Please add some STR for us to check this or the label "qa: not needed".
Thanks!

[2017-10-11 09:50] ValentinaPC commented on #6585
Verified as fixed on AMO-dev FF56(Win 7).
Postfix screenshots:
![2017-10-11_1248](https://user-images.githubusercontent.com/15685960/31433677-b52c216a-ae82-11e7-9399-8dba4809f052.png)
![2017-10-11_1249](https://user-images.githubusercontent.com/15685960/31433678-b54e7846-ae82-11e7-85e7-13254c736b43.png)
Corresponding page is loaded while clicking on the "Contribute" button from add-on details page

[2017-10-11 09:51] cr opened #6645 "Android marked supported despite deselected during submission"
### Describe the problem and steps to reproduce it:
* Submit a web extension.
* Deselect "All platforms" and select all but Android instead.

### What happened?
* Further submission dialogs force you to specify a category for Android.
* Listing's "Version Details" still show Android support
* "Manage Status and Versions" also still shows Android as supported.

### What did you expect to happen?
*

[2017-10-11 10:08] ValentinaPC commented on #6525
Verified as fixed on AMO-dev FF56(Win 7).
Developer can access edit page for its own add-on.
Postfix screenshot:
![2017-10-11_1306](https://user-images.githubusercontent.com/15685960/31434459-1f97b2d8-ae85-11e7-87c3-170730a473bf.png)

[2017-10-11 10:27] diox commented on #6587
Going to close this as we have not enough clues to work on what happened. I do suspect that @ValentinaPC's assumption is right, and now that #6516 has landed we should have more logging to verify what the developer did if that happens to someone else in the future.

[2017-10-11 10:27] #6587 closed

[2017-10-11 10:37] diox opened #6646 "Make "Cancel and Disable Version" behave like regular Version Disable, if possible"
Separated from https://github.com/mozilla/addons-server/issues/6587

I noticed the "Cancel and Disable Version" doesn't behave exactly like the regular "Disable Version" action:
- "Cancel and Disable Version"  (`devhub.views.cancel`) manually changes the add-on status and then does this on the `latest_version`:
[code]

- "Disable Version" (`devhub.views.version_delete`, with `disable_version` pass

[2017-10-11 10:38] diox commented on #6587
I also filed https://github.com/mozilla/addons-server/issues/6646 which in turn might lead to being able to re-enable the version.

[2017-10-11 10:41] diox commented on #6576
More info: from https://github.com/mozilla/addons/issues/348#issuecomment-302791236 it's clear that the support for Android was /not/ intended in Privacy Badger. https://github.com/mozilla/addons-server/issues/4868 also has more info about the mess that is created by having Android added by default like @eviljeff mentions a few comments above this one.

[2017-10-11 10:48] diox commented on #6576
So, we should do something about this. Something like:
- Fixing https://github.com/mozilla/addons/issues/348, re-organizing the checkboxes in the initial submission step to make it clear whether you want to enable Android or not. The trick is that it needs to also work for version upload
- For existing versions, if there is no file for `all` or `android`, remove `android` application support & com

[2017-10-11 10:59] diox commented on #6645
Hi, this has already been reported a while ago in https://github.com/mozilla/addons/issues/348 and we never got around to fixing it, sorry about that :(

[2017-10-11 10:59] #6645 closed

[2017-10-11 11:00] diox commented on #6573
@jvillalobos you can fix it by not having the same user in those 2 groups, so I'm closing the issue and letting you handle that.

[2017-10-11 11:00] #6573 closed

[2017-10-11 11:01] diox commented on #6611
When doing this, need to be careful with the Reviewer Leaderboard, which uses the Reviewers/Senior Reviewers groups to find well, reviewers.

[2017-10-11 11:48] eviljeff commented on #6451
I did https://github.com/eviljeff/olympia/commit/b91a84074f85b994aae5db08306aedd8fe876734 (needs adjusting based on the timestamp format you settle on, etc) which would be great to try out with some real-life data once you have the sqs stuff set up for us.

[2017-10-11 13:00] #6577 closed

[2017-10-11 13:21] eviljeff commented on #5989
@jvillalobos can you (or @devaneymoz or as appropriate) provide mappings from the old to new combined categories?

Desktop Firefox has:
[code]
Android Firefox has:
[code]
(ignoring Seamonkey and Thunderbird)

[2017-10-11 14:45] eviljeff commented on #6646
While I can't recall exactly, I strongly suspect they were just two different features added at different times.  Primarily the 'cancel' in the submission flow is for interrupting new submissions (the first listed version submission, anyway); whereas the 'disable version' option in debhub is for disabling a version at some later point (at least after you've exited the submission flow).  So althoug

[2017-10-11 14:53] jvillalobos commented on #6069
As planned, the switch has been turned on today.

[2017-10-11 15:50] vcarciu commented on #6582
It looks like check for updates is not working anymore on -dev and Stage :
![update](https://user-images.githubusercontent.com/1583842/31451550-107aec2c-aeb5-11e7-9265-19e7008b08c1.gif)

[2017-10-11 15:55] vcarciu commented on #6582
Check for updates is not working anymore on -dev and Stage :
![update](https://user-images.githubusercontent.com/1583842/31451805-c4880f2e-aeb5-11e7-9061-e889524e70e8.gif)

[2017-10-11 16:03] EnTeQuAk commented on #6057
ugh! I linked the commit to the wrong issue. reopening.

[2017-10-11 16:04] EnTeQuAk commented on #6507
Fixed via https://github.com/mozilla/addons-server/commit/8990d60f71d467efd3cf9dfe21675bbd679b1fb3

[2017-10-11 16:04] #6507 closed

[2017-10-11 16:54] EnTeQuAk opened #6653 "Permission properties are not synced properly anymore"
From the kibana log:

[code]

[2017-10-11 16:56] EnTeQuAk opened #6654 "Unhiding disabled files cronjob fails"
From the kibana log:

[code]

[2017-10-11 16:58] diox commented on #6654
Note that itt's inside a `try...except`, so although it's failing for this add-on, it does not prevent the cron from working entirely.

[2017-10-11 17:15] EnTeQuAk opened #6655 "Test 123"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-10-11 17:16] #6655 closed

[2017-10-11 17:29] jvillalobos commented on #5989
These are all straightforward:

* 'feeds-news-blogging' -> 'feeds-news-blogging'
* 'photos-media' -> 'photos-music-videos'
* 'security-privacy' -> 'privacy-security'
* 'shopping' -> 'shopping'
* 'social-networking' -> 'social-communication'
* 'sports-games' -> 'games-entertainment'
* 'user-interface' -> 'appearance'
* 'other' -> 'other'

These not so much:

* 'device-features-location' -> 'other'

[2017-10-11 17:32] diox commented on #5989
Slight detail that will make the migration a bit more painful to write: When an add-on is in the "other" category, it should be its only category.

[2017-10-11 17:34] eviljeff commented on #6653
I think it's moved to `es-ES`

[2017-10-11 17:41] harry-7 commented on #5322
@tofumatt with the current version of code I can the "Collector's Note" as rtl only. I am trying on my local development server. Am I missing something ?

[2017-10-11 17:42] zbraniecki commented on #6297
Heads up! We're ready to make the switch and unless I hear from you, I'm planning to land the switch in central this week and ride the trains for 58 - https://bugzilla.mozilla.org/show_bug.cgi?id=1395363

[2017-10-11 17:43] tofumatt commented on #5322
This page is being replaced in the new front-end and I don't think this is a good contributor bug as the page has been replaced. Sorry @harry-7 but I think you should find another bug to work on. Sorry no one told you earlier; I just saw this.

[2017-10-11 17:43] #5322 closed

[2017-10-11 17:52] eviljeff commented on #5989
We can always have new categories, if none of the existing desktop Firefox ones are appropriate.

[2017-10-11 17:58] harry-7 commented on #6485
I would like to take this up.  Would be glad if someone guides me on what needs to be done to fix this. Thanks :)

[2017-10-11 18:01] eviljeff commented on #6576
Agreed.  Part of the problem is knowing what the correct UX is though - do we default Android off and Desktop on?  do we force the developer to select Applications?  Hide the platforms by default to stop developers from changing them?
https://github.com/mozilla/addons-server/issues/4868 is a semi-dupe also.

[2017-10-11 18:20] EnTeQuAk commented on #1110
That's going to be fixed via #6625

[2017-10-11 19:11] #6614 closed

[2017-10-11 19:31] jvillalobos commented on #6297
/cc @EnTeQuAk for the pending linter work.

[2017-10-11 19:33] jvillalobos commented on #5989
I don't think any of those 3 are good add-on categories, but again that's not my call :).

[2017-10-11 19:48] jvillalobos opened #6658 "Add-on ID is valid for AMO but invalid for Firefox"
We got [a report](https://discourse.mozilla.org/t/error-downloading-my-accepted-addon/20350/3) of an add-on that was just listed on AMO but can't be installed in Firefox. The error in the console is as follows: `Error: Webextension is signed with an invalid id (FMath-MathML-Extension)`.

Per [the documentation](https://developer.mozilla.org/en-US/Add-ons/Install_Manifests#id), Firefox accepts IDs

[2017-10-11 20:30] equant opened #6659 "Add-on website header color is too similar to confirmation button color."
### Describe the problem and steps to reproduce it:

User Agent: Mozilla/5.0 (X11; Linux x86_64; rv:55.0) Gecko/20100101 Firefox/55.0
Build ID: 20170826053331
Added an add-on.

### What happened?

When adding an add-on, the color of the "Add" and "Restart" buttons used by firefox are very similar in color to the background, and it's hard to see the firefox button.  I've attached a screenshot showi

[2017-10-11 21:45] andymckay commented on #6658
Loading extension 'null': Reading manifest: Error processing applications.gecko.id: Value "foo-bar-bingo" must either: match the pattern /^\{[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\}$/i, or match the pattern /^[a-z0-9-._]*@[a-z0-9-._]+$/i

[2017-10-11 21:46] andymckay commented on #6658
See also: https://dxr.mozilla.org/mozilla-central/source/toolkit/components/extensions/schemas/manifest.json#430-439

[2017-10-11 21:47] andymckay commented on #6659
This will be fixed soon when we launch the new desktop site - its not got big blocks of blue on it.

[2017-10-11 21:47] #6659 closed

[2017-10-12 03:06] ekowahyusantoso commented on #3394
I want anonymoX film and vidio

[2017-10-12 06:46] ValentinaPC commented on #6053
This is still happening on AMO-dev and AMO-stage using FF56(Win7).
After an empty search in Extensions section and navigating to last page, the "Search Unavailable" message is displayed.
Please see screenshot:
![addons](https://user-images.githubusercontent.com/15685960/31482690-f32c558e-af31-11e7-9c4b-8f3c3632a944.png)

Reopening.

[2017-10-12 07:11] EnTeQuAk commented on #6053
That change is not yet on -stage. But -dev is insteresting, apparently it has a different configuration than -prod:

https://sentry.prod.mozaws.net/operations/olympia-dev/issues/639271/ says that the max window size is 10000 while it's 25000 on prod. @bqbn can you adapt the configuration on -dev too or why is there a difference?

[2017-10-12 08:57] vcarciu commented on #6507
Can you please add some STRs to this bug or mark it as "qa:not needed" ?

[2017-10-12 10:19] #6560 closed

[2017-10-12 10:52] #6582 closed

[2017-10-12 12:04] ValentinaPC commented on #6473
I've checked this, for the 2 actions that should award points :
- Confirming an auto-approval
- Rejecting multiple versions
using AMO-dev FF56(Win 7).

Here are my results:
**Start points: 125,623**
1. REVIEWED_EXTENSION_HIGHEST_RISK: add-ons with weight > 150 get **140 points**
 - https://addons-dev.allizom.org/en-US/editors/review/rtl-addon-submission (w170) -confirm approval
 - https://addons-d

[2017-10-12 13:14] diox commented on #6473
Yeah, that's my fault, I mishandled the boundaries. The rewards for weight == 150, weight == 100, weight == 20 are all in the wrong tier. So you got 120-90 + 90-0 = 120 extra points.

Yes

@diox: is case d. expected?

No, that sounds bad :( It's super weird, there are no reviewer scores attached to this add-on in the database :(

[2017-10-12 13:33] diox commented on #6473
@ValentinaPC : for https://addons-dev.allizom.org/en-US/editors/review/axl4egwb2 the log seem to indicate that  you rejected it "normally", without doing a content review. That's why you didn't get any points (it acted as a post-review, so with weight 0 you don't get points).

[2017-10-12 13:42] ValentinaPC commented on #6473
@diox : so, if weight 0, shouldn't the approve content action have the same impact as rejection - no increase at the total reword points? (c.)

[2017-10-12 13:54] diox commented on #6473
Content related actions are always 10, never depend on the weight - the rationale is that we do want content review of low weight add-ons, but we don't care that much about having a full post review for them.

[2017-10-12 13:58] ValentinaPC commented on #6473
So, what happens at c. and d. is correct?

[2017-10-12 13:59] diox commented on #6473
Yeah. It's just the points awarded at the various boundaries for post-review actions that are wrong.

[2017-10-12 14:18] vcarciu commented on #6582
Verified as fixed. Extensions were updated to latest version

[2017-10-12 14:36] vcarciu opened #6665 "Themes updates are not applied if the same theme was previously installed"
Steps to reproduce:
1.Install any theme from amo-dev (ie, https://addons-dev.allizom.org/en-US/firefox/addon/dark-fox-18066/)
2.Go to Edit Theme page and upload a new design
3.With a reviewer account , go and approve the update
4.Go to about:addons and remove the theme installed at Step 1
5.Install again the theme from Step 1

Expected results:
The new design is applied

Actual results:
The old de

[2017-10-12 14:56] #6473 closed

[2017-10-12 15:23] eviljeff commented on #6485
You need to remove the `babel_datetime` `babel_date` and `datetime_filter` methods in olympia/amo/templatetags and replace them with the simple method @EnTeQuAk suggested above (just `def format_datetime` is enough for our current needs).
Register it with `@library.filter(name='datetime')` for a nicer name, and less template changes.  Then change all the .html templates that use `|babel_datetime`

[2017-10-12 15:38] eviljeff commented on #6500
fwiw, this issue probably needs to be moved/replicated in addons-frontend.  I think the majority of references will be in non-developer/reviewer pages

[2017-10-12 15:39] eviljeff commented on #6567
Closing as not an addons-frontend bug.

[2017-10-12 15:39] #6567 closed

[2017-10-12 15:52] eviljeff commented on #6658
I can't replicate this trying with a random xpi - I get validation errors.  https://addons.mozilla.org/en-GB/developers/upload/00ac291200364c4eb3cefe5dcf70ea34

[2017-10-12 17:20] #6568 closed

[2017-10-12 18:04] harry-7 commented on #6485
@eviljeff Okay will start working on them. From the things mentioned above I did not quite understand what this meant ?

[2017-10-12 18:06] jvillalobos commented on #6658
The ID that made it through (somehow) is `FMath-MathML-Extension`. I can try asking the developer for more info if you can't reproduce with that one. The add-on was also massive (40Mb), but I'd be surprised if that factors into this.

[2017-10-12 18:31] eviljeff commented on #6485
if you see the `datetime_filter` method, it does it there.

[2017-10-12 18:32] eviljeff commented on #6658
I can't reproduce with that one.  Or at least one very similar because I tested with prod and that one was already used by the developer.

[2017-10-12 18:38] diox commented on #6658
It would be useful to see the exact manifest of the add-on when it was still causing an issue (the current one does not seem to specify an id)

[2017-10-12 20:49] erosman commented on #6658
re manifest (posted to the discourse topic): Those look like Unicode double quotes.

[2017-10-12 21:52] diox commented on #5549
This broke on dev, triggering tasks from a uwsgi worker seem to result in a 500: https://sentry.prod.mozaws.net/operations/olympia-dev/issues/668681/

I'm strongly suspecting newrelic. I haven't tried it locally yet, but it works in a shell on dev, and newrelic does some deep monkeypatching of celery code (which we know is active in that traceback, we hit a log statement that says `newrelic.config

[2017-10-12 22:06] diox commented on #5549
Reverted in https://github.com/mozilla/addons-server/commit/43d88b4f55bbbd5f138201fad72d26ec2132eb95

[2017-10-12 22:24] bqbn commented on #6053
Yeah, I've just set ```max_result_window``` to 25000 on -dev and -stage.

[2017-10-13 04:29] EnTeQuAk commented on #5549
Yeah… unfortunately the agent does not have it's repository or any issue tracker so this is hard to track down. Looking at https://github.com/edmorley/newrelic-python-agent/commits/master/newrelic/newrelic/hooks/application_celery.py (unofficial mirror) the celery agent hasn't seen any updates between releases.

On the other hand, newrelic doesn't contain the word `djcelery` anywhere so there must

[2017-10-13 05:01] EnTeQuAk opened #6668 "Use uwsgi in our local docker environment"
To find issues like https://github.com/mozilla/addons-server/commit/97d288b9440d388183b195b0062bd83636ae355a better in the future we should add one more component from our production pipeline to our local development pipeline: uwsgi

Currently we are running our runserver which should in theory have catched that issue but somehow it didn't. Probably because the loader and settings are loaded befor

[2017-10-13 08:42] ValentinaPC commented on #6568
Please add some STR for us to check this or the label "qa: not needed". Thanks!

[2017-10-13 09:29] diox commented on #5549
The `djcelery` part is coming from celery itself: https://github.com/celery/celery/blob/6bdf5aea3a715734ccee75236389b11358c77c58/celery/loaders/__init__.py#L15

Maybe I'm completely wrong with newrelic, but my guess was that its monkeypatching threw something off in celery code that forced it to use a different path and end up with trying to use the `djcelery` loader.

[2017-10-13 10:35] diox commented on #6629
Still happening in prod : https://sentry.prod.mozaws.net/operations/olympia-prod/issues/668574/

[2017-10-13 11:23] ValentinaPC commented on #6473
Verified the boundary weight values: 100 and 20 and points are incremented as expected.
Statistics:
Before: 126,763 points
a. https://addons-dev.allizom.org/en-US/editors/review/webext-simplegrr (w100) - confirm approve (90 points)
b. https://addons-dev.allizom.org/en-US/editors/review/promptable3 (w20) - reject (no points)
After: 126,853 points

Also, I've check again the reward points for **cont

[2017-10-13 11:39] diox commented on #6473
It's working as expected. Like I said above, in your previous round of testing you did a regular post-review and *not* a content-review, and that's why you had an unexpected reward. In this case you did a content review and you got the expected content review reward.

[2017-10-13 11:43] ValentinaPC commented on #6473
Oh, I see, I was sure I did a content review action in both cases. :)

This can be marked as verified fixed based on the above checks.
Thanks for your help, Mat!

[2017-10-13 11:53] ValentinaPC commented on #6570
@diox: Should we try this again?
You said something about, checking this again after fixing https://github.com/mozilla/addons-server/issues/6473#event-1290460551 , if I remember correct.

[2017-10-13 13:01] diox commented on #6570
I'll mark it as verified, as we ended up running it in prod yesterday (from the logs I have, it seems to have run without issues) and it was a one-off task.

[2017-10-13 15:27] diox opened #6670 "ValueError: badly formed hexadecimal UUID string"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/378972/

[code]

[2017-10-13 15:30] diox commented on #6670
From the data we have in sentry it looks like someone mistyping an URL or trying to enter garbage. We should simply return a 404 when the uuid is invalid in `{locale}/developers/upload/{uuid}`

[2017-10-13 17:25] spoji commented on #6473
I can see one problematic about this. Those 0 point reviews will just stand there forever in the queue as reviewers will only review those that are "worth" something. This is a good thing in a way as we do want reviewer spending time on the top on the list.

Hiding those 0 points reviews from the queue could be a possibility to fix this issue. However content reviewers would still need to see them

[2017-10-13 17:29] caitmuenster commented on #6615
+1 on this -- I tried to search for an extension that had been rejected to find its risk assessment and did not have much luck doing that. :(

[2017-10-13 17:45] wagnerand commented on #5303
I agree with Jorge. We can revisit this when we remodel the reviewer tools

[2017-10-13 17:45] #5303 closed

[2017-10-13 17:47] wagnerand commented on #6575
I don't see how this is useful. What is the expected gain?

[2017-10-13 17:49] wagnerand commented on #6615
@caitmuenster That's because it's a queue, not a log. Add-ons that don't need a review don't show up in there (and they shouldn't).

I do agree that our search needs improvement. We have to spec what exact use cases we have.

[2017-10-13 18:11] caitmuenster commented on #6615
Ah, that makes sense! Thanks for the reminder about the log. :)

[2017-10-13 18:21] wagnerand commented on #6473
I am in favor of hiding the "0 risk" entries, and maybe even others.

The content-review queue is a different queue.

[2017-10-14 07:11] harry-7 commented on #6485
@eviljeff  I pushed some changes and tested some of them. They seem to work fine . But however some of the tests are failing. How should I fix them ?

[2017-10-14 17:02] grahamperrin opened #6674 "Firefox 57 about:addons Find a replacement: where a developer of a legacy add-on provides (or works towards) a compatible successor add-on, favour the developer; refrain from recommending unrelated developments elsewhere"
## An example

### [FireTitle](https://addons.mozilla.org/addon/firetitle/)

The developer confirmed work with WebExtensions APIs at <https://github.com/captnfab/FireTitle/issues/9#issuecomment-287645927> (2017-03-19) and there's more recent, unmistakably titled:

- [Port to WebExtensions · Issue #12 · captnfab/FireTitle](https://github.com/captnfab/FireTitle/issues/12)

#### Expected

Recommend t

[2017-10-14 17:22] diox commented on #6674
To explain the behavior: The add-on replacements feature is curated by humans, so it doesn't know about all add-on replacements that may be out there (there are far too many add-ons for the list to be 100% comprehensive). When no replacement is known, it redirects you to the featured add-on list, with the hope that one of the most popular add-ons might have a feature that is close to what you were

[2017-10-14 19:16] wagnerand opened #6675 "Show post-review risk on review page"
Currently, the only way to see the risk of an add-on is while it's pending post-review.  If it's not pending, the risk is inaccessible.

Let's add the risk to the review page.

[2017-10-14 20:09] kewisch commented on #6473
See also #6472 which we might consider reopening once we've made that decision from a product perspective.

[2017-10-14 20:15] wagnerand opened #6678 "'web' and 'worker' container fail to start"
[code]

(same for the `worker` container)

[2017-10-14 21:28] #6678 closed

[2017-10-14 21:41] wagnerand opened #6679 "`yum` doesn't install `supervisor`"
For some reason, https://github.com/mozilla/addons-server/blob/6c5b74e2039f3e35c0ea31f397160c2d888ab657/Dockerfile#L21 doesn't really install `supervisor`.

Output: `No package supervisor available.` (Example: log output on https://hub.docker.com/r/addons/addons-server/builds/biktrkvnih367boqwerbuxa/)

@EnTeQuAk any ideas?

[2017-10-15 00:59] grahamperrin opened #6680 "AMO: Tier-3 platform BSD equivalence to Tier-1 Linux for new front-end purposes"
Follow-up to:

- [Unable to install add-on on *BSD · Issue #5647 · mozilla/addons-server](https://github.com/mozilla/addons-server/issues/5647)
- <https://github.com/mozilla/addons-server/pull/6157> (2017-08-11), which fixed [Various extensions inexplicably not, or no longer, installable to Firefox on FreeBSD through the GUI to addons.mozilla.org (AMO) · Issue #468 · mozilla/addons](https://github

[2017-10-15 02:46] grahamperrin commented on #6674
👍 and I'll happily help with curation in ways that will help things in Mozilla domains.

(OT: I had a hideous, somewhat inhuman experience with 57-transition-specific curation elsewhere. Never again.)

[2017-10-15 05:53] EnTeQuAk commented on #6679
That totally explains why my celery tests on circleci fail so randomly,
I'll look into it. Could just get that the package is named differently
but imho it has always been 'supervisor'.I'll check Monday morning to unblock everyone, sorry about that.

On Sat, Oct 14, 2017, at 11:41 PM, Andreas Wagner wrote:

Links:

  1. https://github.com/entequak
  2. https://github.com/mozilla/addons-server/issu

[2017-10-15 10:55] wagnerand commented on #6679
I assume this is rather some timing issue.

In a started container, `yum` finds the package just fine:

[code]

[2017-10-15 11:15] #6001 closed

[2017-10-15 11:21] diox commented on #6680
Please don't highlight random addon authors in issues, there is no need for that notification spam.

This should be re-filed over at https://github.com/mozilla/addons-frontend/ which is the repository for the new frontend.

[2017-10-15 11:21] #6680 closed

[2017-10-15 15:05] EnTeQuAk commented on #6679
eh, nevermind my celery idea…

Regarding supervisor - we install it via `yum` but also install it in our `requirements/dev.txt` so in practice the yum installed thing (even if it doesn't work) doesn't matter. I'll get rid of it.

[2017-10-15 16:24] grahamperrin commented on #6680
Thanks, please note that I was previously steered to `addons-server`; my comment at <https://github.com/mozilla/addons/issues/468#issuecomment-321657734> reflected that steering and apologised for the misplacement in `addons` after I was misdirected by Bugzilla@Mozilla.

Also **please do not misinterpret the four mentions as spam**. They certainly were not random, and any one of those developers m

[2017-10-15 17:28] grahamperrin commented on #2661
I'm always/often surprised when I type exactly and don't get an exact match.

(That's one of the reasons for me sometimes pleading with developers to not have two, three or more names for a single add-on.)

[2017-10-16 08:58] tplaccnt opened #6683 "Page Translator Add-ons for Firefox.URL"
Page Translator Add-ons for Firefox.URL  =>
  https://addons.mozilla.org/en-US/firefox/addon/jxl-page-translator/
was a valid address to download  page_translator-1.0.1-an+fx.xpi
what happened to it?

[2017-10-16 09:10] eviljeff commented on #6485
Looks like they're breaking due to differences in the format of the date string - somewhat expected as the custom format strings haven't been changed.
It has highlighted how much of a mess our usages are though - e.g. our current `|datetime` filter defaults to a date-only format, rather than a date&time format.  They need to be changed in the templates to be `|date` instead, and we will need a `de

[2017-10-16 09:37] EnTeQuAk commented on #5549
QA: Most importantly submitting new add-ons should continue to work since this is using asynchronous celery tasks in the background. Statistics are unfortunately hard to test on dev and stage but this update is most importantly an either it works or it doesn't update and add-on submission is one of our most complicated uses of celery so that should be fine for testing imho.

[2017-10-16 09:38] muffinresearch commented on #6566
@pwalm we need this ASAP, since our tag for the Thursday push is on Tuesday (tomorrow).

[2017-10-16 09:44] ValentinaPC commented on #5303
@wagnerand : When will apply these changes?
Now, we still have the NTR during submission.
Thanks!

[2017-10-16 10:54] wagnerand commented on #6683
The add-on is currently unavailable.

[2017-10-16 10:54] #6683 closed

[2017-10-16 11:00] diox commented on #6566
What's the expected behavior if the notification is dismissed? Should it disappear forever?

FWIW, we already have a global notification system in place that would allow this. Out of the box it looks like this:

![notification](https://user-images.githubusercontent.com/187006/31608772-de7f6ff2-b271-11e7-9fdc-24bbe779274c.png)

I'll need to tweak it because a) the message is not translatable b) the

[2017-10-16 14:13] diox commented on #6566
(removed my earlier comment since I've made some progress since then)

I've implemented this locally using the existing notification system, with some fixes to make it work on all legacy frontend pages. The notification is dismiss-able (never appears again once you have dismissed it). The result is this:

![notification_implementation4](https://user-images.githubusercontent.com/187006/31616383-e0a

[2017-10-16 15:09] devaneymoz commented on #6674
This is a fine place to file replacement recommendations, in general. However @grahamperrin if you have other 1:1 replacement recommendations for legacy content, you can feel free to email them directly to save some churn. sdevaney@mozilla.com

I will apply this FireTitle recommendation to the tool. Thank you!

[2017-10-16 15:34] jvillalobos opened #6689 "Redirect old contributions pages to listing page"
As part of #6069, we removed some pages, like the developer profile and roadblock pages. Some developers were linking to them directly from their add-ons and possibly their websites. Let's set up redirects for those pages so they go back to the listing page instead of being a 404.

[2017-10-16 15:41] vcarciu commented on #5549
Auto-approval is not working anymore on -dev. After talking with @EnTeQuAk and @diox, it is related to this issue.
Reopening

[2017-10-16 15:47] EnTeQuAk opened #6690 "update_tag_stat requires tag instance, breaks json serialization"
As a followup to our Celery 4 upgrade the `update_tag_stat` task requires a whole tag instance to be serialized through celery.

Let's use the pk instead.

[2017-10-16 15:49] EnTeQuAk commented on #5549
I opened https://github.com/mozilla/addons-server/issues/6690 for the specifics

[2017-10-16 16:14] kewisch opened #6692 "Allow donating to Mozilla via donate.mozilla.org"
There used to be an option to donate to Mozilla, which is gone with the new contribution URL. We could either add donate.mozilla.org to the whitelist, or go some steps further to restore this feature in a simple way.

It would be great if donate.mozilla.org/ and donate.mozilla.org/thunderbird would work.

[2017-10-16 16:17] jvillalobos opened #6693 "Show error if add-on is using Mozilla trademarks incorrectly"
This is something the legacy validator does, but apparently is not applied consistently for all add-ons, or for all cases. The rule is that you can only use `Firefox` or `Mozilla` in an add-on name if they are used at the end, in the form `for Firefox`, or `for Mozilla`, _or_ if the submitter has an account associated with an `@mozilla.com` or `@mozilla.org` email address.

We need this to be appl

[2017-10-16 16:21] jvillalobos commented on #6692
Adding `donate.mozilla.org` as a supported domain sounds good to me. Since this works for Firefox and Thunderbird, and covers different payment methods, I think it makes sense to include it, rather than chasing MoFo people to get direct links. Also, having it in the list of supported domains should be enough to hint at developers who want to donate to us.

[2017-10-16 16:25] eviljeff commented on #6693
This would be easier to handle if we didn't let developers change their add-on's name via devhub, just sayin'

[2017-10-16 16:34] EnTeQuAk commented on #6693
I can take a look at this, especially since this needs a sister-issue in the linter too but unfortunately needs to be implemented in both places to catch name-changes via the UI.

[2017-10-16 16:34] #6690 closed

[2017-10-16 16:34] EnTeQuAk commented on #5549
This should be fixed in the next few minutes or so once the just merged fix from #6690 lands on -dev.

[2017-10-16 16:35] diox commented on #6566
In the pull request @EnTeQuAk suggest to tweak the copy slightly:

I agree, and this is why in my implementation I went with "Visit the new site" at the end ; but I had left the beginning of the text intact. @devaneymoz any ideas? Maybe just:

We're getting a new look! Would you like to see it? Visit the new site

?

[2017-10-16 18:14] jvillalobos commented on #6675
Agree. I think it should show up in the metadata list, below `Requires payment` and above `Last approval date`.

[2017-10-16 18:38] wagnerand commented on #6675
Different versions can have different weights, so it will be shown per version, below the "Compatibility" information.

[2017-10-16 18:39] wagnerand commented on #6675
We can show the weight of the current version on the top, if necessary. Let's do this in a follow-up though.

[2017-10-16 18:51] jvillalobos commented on #6674
I think the preferred place is [the discourse thread](https://discourse.mozilla.org/t/favorite-webextensions), where you can also check if others have made similar suggestions, and it takes less time to monitor.

It sounds like there's nothing left to do here, so I'm closing this.

[2017-10-16 18:51] #6674 closed

[2017-10-16 18:55] jvillalobos commented on #6693
That's coming, but not this quarter.

[2017-10-16 21:14] pwalm commented on #6566
Here we go:
![screen shot 2017-10-16 at 2 08 02 pm](https://user-images.githubusercontent.com/6797635/31635571-1142a148-b27c-11e7-93a1-194a4f5dc21f.png)

Specs are here:
![screen shot 2017-10-16 at 2 11 07 pm](https://user-images.githubusercontent.com/6797635/31635585-1e299cfe-b27c-11e7-9f74-d8c9ee8b256c.png)

And [backgrounds are here](https://github.com/mozilla/addons-frontend/tree/master/assets

[2017-10-16 21:34] grahamperrin commented on #6674
Thanks folks, is the FireTitle case fixed?

(Sorry – I don't have easy access to any machine with 57.)

[2017-10-16 22:28] caitmuenster opened #6695 "Error adding images to extension listing on Dev Server"
### Describe the problem and steps to reproduce it:

I submitted an extension to https://addons-dev.allizom.org and edited the listing multiple times to create samples to be used for content review onboarding.

### What happened?
When I went to add an icon and screenshots to the listing, the section timed out and never resolved. I stopped and re-tried a few times with the same result each time. He

[2017-10-16 22:55] diox commented on #6695
This is another consequence of switching the default serializer for celery tasks to JSON. See https://sentry.prod.mozaws.net/operations/olympia-dev/issues/671111/ for the traceback.

Grepping for `modified_on=` it's obvious that we do this in a few other places as well. Given that we are close to tagging and we probably have more instances of this happening in other tasks that won't be as easy to

[2017-10-17 07:42] EnTeQuAk commented on #6695
I agree I'll fall back to using pickled serialization instead and work on our tests to use a running celery worker before enabling JSON again.

[2017-10-17 07:48] AlexandraMoga opened #6698 "DevHub unbroken strings are not wrapped"
Steps to reproduce:

1. Log into AMO and go to Developer Hub (i.e. https://addons-dev.allizom.org/en-US/developers/)
2. Click on Edit Listing for one of your submitted add-ons
3. In the Basic Information section, click on Edit and insert a long unbroken text in the Summary field
4. Click on Save Changes and observe the page layout

Expected result:
Text is wrapped in sections containing longer str

[2017-10-17 09:53] #6675 closed

[2017-10-17 10:15] diox commented on #6566
@pwalm do we want this only on the homepage? If not, on the other pages, where should the banner be? (In the add-on detail page, the main add-on details are included in the blue header, then continued below, it feels kinda weird to break this with the banner)

[2017-10-17 11:06] ValentinaPC commented on #6675
Verified as fixed on AMO-dev FF56(Win 7).
Postfi screenshot:
![w](https://user-images.githubusercontent.com/15685960/31661660-2d8ff620-b344-11e7-86a6-636fcdf6b704.png)

[2017-10-17 11:18] diox commented on #6566
Also:
- Do we want Fira Sans in there? The legacy frontend does not have it, so that's an additional asset to download for clients.
- I can't find this close button in our assets. The legacy frontend have some dark grey close buttons, but not a white one like this one.

[2017-10-17 14:03] EnTeQuAk opened #6701 "rabbitmq services/monitor is broken due to broker-url change"
https://addons-dev.allizom.org/services/monitor

[2017-10-17 14:09] #6695 closed

[2017-10-17 14:12] EnTeQuAk commented on #5549
All relevant issues are now fixed, I'm closing this again.

[2017-10-17 14:12] #5549 closed

[2017-10-17 14:28] #6701 closed

[2017-10-17 14:30] EnTeQuAk opened #6703 "Investigate setting important index metadata during reindex"
Refs https://github.com/mozilla/addons-server/issues/6053#issuecomment-336293808

`max_result_window` got lost during reindex, we should either add a new management command that is setting these or the reindex command should take care of that.

[2017-10-17 14:31] EnTeQuAk commented on #6053
Closing this again then should be working fine on -dev, -stage and -prod now.

I filed https://github.com/mozilla/addons-server/issues/6703 to make sure it doesn't happen again.

[2017-10-17 14:31] #6053 closed

[2017-10-17 14:35] EnTeQuAk commented on #1110
This actually got fixed and merged and seems to be working fine for me. Looking forward to any kind of feedback though!

[2017-10-17 14:35] #1110 closed

[2017-10-17 14:54] #6679 closed

[2017-10-17 15:19] vcarciu commented on #5549
Auto-approval is now working and all scenarios related to new add-ons submissions and around worked.
Marking bug as verified.

[2017-10-17 15:19] vcarciu commented on #6695
Verified as fixed:
![superimages](https://user-images.githubusercontent.com/1583842/31673397-c470952c-b367-11e7-84bc-1b6138b9ff28.gif)

[2017-10-17 15:35] eviljeff opened #6709 "Add single category selection for Static Theme details"
part of #6572 but splitting out so we (and QA) can track the change in the tag.

[2017-10-17 16:32] #6709 closed

[2017-10-17 17:11] wagnerand commented on #6235
Mentor: @diox

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-10-17 17:13] wagnerand commented on #4994
Mentor: @eviljeff (please do add some guidance for contributors)

If this is your first contribution, please refer to https://wiki.mozilla.org/Add-ons/Contribute/Code on how to get started.

[2017-10-17 17:29] #6689 closed

[2017-10-17 18:12] eviljeff commented on #4994
I think this is just a matter of changing the template @ https://github.com/mozilla/addons-server/blob/master/src/olympia/devhub/templates/devhub/new-landing/components/my-addons.html#L104 to add `{{ addon.average_rating|float|stars }}`, with some css to make it look like the mockup above.

[2017-10-17 18:20] eviljeff commented on #6074
@jvillalobos got a date for when we can remove the stats?

[2017-10-17 18:21] muffinresearch opened #6712 "Add notifications API"
At some point we'll need to show notifications in the new frontend which will display messages across the site to our users.

We'll need to investigate whether we can use the existing infrastructure and expose an API for it or if we need to build a new system.

This will need fleshing out with more detail requirements in due course.

[2017-10-17 18:26] jbuck commented on #6451
@eviljeff I've setup the change queues in dev & stage, the ARNs are arn:aws:sqs:us-east-1:927034868273:amo-account-change-dev and arn:aws:sqs:us-east-1:142069644989:amo-account-change-stage

[2017-10-18 10:26] diox commented on #6566
Closing to get QA to test this, we can tweak further if necessary. It's behind a "try-new-frontend" waffle, on every legacy frontend page (so no reviewer tools, no devhub, but pretty much everything else)

[2017-10-18 10:30] diox commented on #6508
Wontfixing for now because it's useful to quickly notice if something is wrong with auto approvals.

[2017-10-18 10:30] #6508 closed

[2017-10-18 12:56] madalincm opened #6715 "No warning displayed in the submission process if the user does not select a platform"
### Steps to reproduce:
1. Open the submit a new add-on page: https://addons.allizom.org/en-US/developers/addon/submit/upload-listed
2. Upload a file and deselect all the check boxes in the platform selection section
3. Click the continue button

### Expected results:
A warning that you must choose a platform is displayed.

### Actual results
No warning is displayed.

### Notes/Issues:
Verified in

[2017-10-18 13:15] ValentinaPC commented on #6053
Verified this on AMO-dev FF56(Win 7).
No "search unavailable" listed after an empty search for extensions, themes or collections, but if, more pages are displayed, they are working until 25.000 results... that means if we have 5000 pages, nav will work only until page no 1250 and last page will never work, are we ok with this?

[2017-10-18 13:27] jvillalobos commented on #6074
Ugh, I forgot about this. I don't think it's worth sending an email just for this... Let's do it after Nov 1st.

[2017-10-18 13:29] eviljeff commented on #6074
I think stats are fairly self-contained, so keeping them around shouldn't stop the rest of the code from going.

[2017-10-18 13:39] kstavert opened #6716 "OneTab FF addon 2.1"
OneTab team has written an update for OneTab addon.

I have this update installed on another computer and
it works beautifully.

I tried to install it on another computer/same version
of FF by going to the same link:

https://addons.mozilla.org/en-US/firefox/addon/onetab-modified/

and was delivered to this page that told me I was in the wrong
place ;(

https://www.google.com/url?sa=t&rct=j&q=&esr

[2017-10-18 14:10] #6510 closed

[2017-10-18 14:12] ValentinaPC commented on #6689
Added those pages in an add-on description and clicking on them will reload add-on details page.
Verified this on AMO-dev/stage FF56(Win 7).
Postfix video:
![contrib](https://user-images.githubusercontent.com/15685960/31723367-56df70f8-b427-11e7-9e8b-3f4970ad2f1b.gif)

@eviljeff : Was this fixed in stage too?

[2017-10-18 14:12] diox commented on #6510
QA:

This is just re-testing things that were validated before:

- Auto approvals should still work
- Developer Agreement should be presented to users that validated it before 22 September 2017 17:36 UTC at upload time or when they visit the API keys page, and never again afterwards

[2017-10-18 14:42] ValentinaPC commented on #6566
Verified this on AMO-dev FF56(Win 7).

Banner is added but some dimensions don't correspond.
1. Size of the banner:
Specs say: 960x60 px
We have: 960x75.2 px
2. Closing mark:
Specs say: 13x13 px
We have: 25x25 px

Also, looks a bit unaligned. Please see screenshot:
![unaligned](https://user-images.githubusercontent.com/15685960/31724754-45bac97c-b42b-11e7-972a-e8970be8e9dc.png)

And, the backgroun

[2017-10-18 15:16] atsay opened #6721 "Change order and link in Tools section of Dev Hub footer"
Edits to the footer of https://addons.mozilla.org/developers/.

Current:

**Tools**
Add-on Validator
Compatibility Checker
Compatibility Reporter
Manage API Keys

Change to:

**Tools**
[Web-Ext: build & test extensions](https://github.com/mozilla/web-ext)
Add-on Validator
Compatibility Checker
Manage API Keys

Summary: Remove Compatibility Reporter, add Web-Ext to the top

[2017-10-18 15:18] diox commented on #6566
I'll adjust the height and position in a follow-up commit, but the closing mark is intended for now as I don't have any other image at my disposal for it.

[2017-10-18 15:56] pwalm commented on #6566
"x" svgs are in this zip, sorry about not including those before

[x.zip](https://github.com/mozilla/addons-server/files/1395345/x.zip)

[2017-10-18 16:00] services-ops opened #6725 "OperationalError: (1213, 'Deadlock found when trying to get lock; try restarting transaction')"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/668574/

[code]

[2017-10-18 16:05] diox commented on #6725
Dupe of https://github.com/mozilla/addons-server/issues/6629

[2017-10-18 16:05] #6725 closed

[2017-10-18 16:14] #6692 closed

[2017-10-18 16:35] bqbn commented on #6640
Had a meeting with @jvehent and @Micheletto yesterday. The hope is that we switch AMO to using autograph in December on -prod (so not to overlap with 57 launch). -dev and -stage can (and probably should) happen before that.

[2017-10-18 18:25] muffinresearch opened #6726 "[API] addon developer url is sometimes null"
See https://github.com/mozilla/addons-frontend/issues/3555

It would be easy enough to workaround this rather than have a broken link but is it actually expected that we null as a value for this?

<img width="749" alt="nightly" src="https://user-images.githubusercontent.com/1514/31734566-17f04062-b40d-11e7-9d89-7e5badf822d3.png">

[2017-10-18 18:55] dessant opened #6727 "Deleted review rating included in average rating"
An invalid [review](https://addons.mozilla.org/en-US/firefox/addon/clear-browsing-data/reviews/935487/) was flagged and removed a day ago, but it still affects the average rating of the add-on.

The review count on the [listing page](https://addons.mozilla.org/en-US/firefox/addon/clear-browsing-data/#reviews) should be 2, not 3 (`3 user reviews`, `See all 3 user reviews`), and the average rating s

[2017-10-18 19:02] kumar303 commented on #6727
I confirmed that the new frontend site experiences the same thing so it affects the API.

[2017-10-18 19:24] diox commented on #6727
I bet it's a variation of https://github.com/mozilla/addons-server/issues/5999 ; the task does the right thing and excludes deleted reviews, but it could have been called too early, before the transaction that deletes the review has been committed...

[2017-10-18 19:53] jvillalobos commented on #6716
The add-on was taken down due to code review issues. It's up to the developer now to address these issues and submit a new version so the listing will come back. It'll probably happen soon.

[2017-10-18 19:53] #6716 closed

[2017-10-18 20:11] kstavert commented on #6716
WOW... Jorge, thank you so very much
for responding... never thought I'd actually
really hear from anyone ;)

On Wed, Oct 18, 2017 at 2:53 PM, Jorge Villalobos <notifications@github.com>
wrote:

[2017-10-18 23:31] kumar303 opened #6728 "Empty JSON response from API causes a syntax error"
### Describe the problem and steps to reproduce it:

The [flag review](https://addons-server.readthedocs.io/en/latest/topics/api/reviews.html#flag) endpoint returns an empty response. Here is an example:

[code]

### What happened?

Since the response is empty, it causes [`fetch()`](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) to throw a syntax error:

[code]

Well, I ha

[2017-10-18 23:52] diox commented on #6728
I'll make it return some message instead of empty data.

[2017-10-19 06:21] EnTeQuAk opened #6730 "socketlabs connection errors lead to lost email"
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/672687/

So apparently `send_activity_mail` doesn't send email asynchronously which leads to lost email since those emails can't get retried.

Last night we had connection issues to socketlabs and at least a few mails are lost because of that.

cc @eviljeff who implemented that function: I don't remember correctly why `send_activity_mai

[2017-10-19 06:22] EnTeQuAk commented on #6730
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/672672/

[2017-10-19 06:23] EnTeQuAk commented on #6730
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/672653/

[2017-10-19 06:23] EnTeQuAk commented on #6730
https://sentry.prod.mozaws.net/operations/olympia-prod/issues/672649/

[2017-10-19 07:15] grahamperrin commented on #2661
Is it my imagination, or has exact matching improved (or been implemented) in the past three or four days?

(I was preparing to add an example of something that I recall being not matched … no example at the time of writing.)

[2017-10-19 08:06] ValentinaPC commented on #6692
Verified as fixed on AMO-dev FF56(Win 7).
The "donate.mozilla.org" domain was added and redirects as expected.
Postfix screenshots:
![2017-10-19_1103](https://user-images.githubusercontent.com/15685960/31760482-8100580c-b4bd-11e7-9d11-a840df5dbf8f.png)
![2017-10-19_1104](https://user-images.githubusercontent.com/15685960/31760483-811feaaa-b4bd-11e7-94ee-30641d7995de.png)

[2017-10-19 09:27] Ghaib2192 opened #6731 "https://www.youtube.com/yts/jsbin/player-vflHvONov/en_US/base.js"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)

### What happened?

### What did you expect to happen?

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-10-19 09:31] vcarciu commented on #6510
@diox : I visited the https://addons-dev.allizom.org/en-US/developers/addon/api/key/ , revoked credentials and then tried to upload a new add-on, but I was not asked about Developer Agreement. Is this expected?

[2017-10-19 09:33] diox commented on #6510
@vcarciu with a new account or an old one? Had you seen the agreement page before with that account?

[2017-10-19 09:39] #6731 closed

[2017-10-19 10:37] #6670 closed

[2017-10-19 10:39] diox commented on #6670
QA: make sure that visiting the page for a previous validation result works, and that submission still works as well. Also test that changing the hexadecimal id in the URL (removing a character, or changing one to a different character) results in a 404, not a 500.

[2017-10-19 10:59] #6728 closed

[2017-10-19 10:59] #6518 closed

[2017-10-19 11:10] #6235 closed

[2017-10-19 11:11] diox commented on #6235
@raajitr fixed this in #6732.

[2017-10-19 11:59] freaktechnik opened #6734 "Add-on Daily users zero for 17.10.2017"
### Describe the problem and steps to reproduce it:
Daily users stats are 0 for October 17, including all substats.

### What happened?
The usage stats say 0 users for every extension

### What did you expect to happen?
At least my usage of the extensions should show up (so the stats should have at least one user reported)

### Anything else we should know?
Example stats: https://addons.mozilla.or

[2017-10-19 12:07] wagnerand commented on #6734
Adding @jasonthomas.

[2017-10-19 12:13] eviljeff commented on #6730
I guess it never occurred to me to override the default and set `async=True`.  We don't do it _anywhere_, that I can find, and I don't see that we did it before the switch to activity mail either.  I agree that we should though - perhaps just change the default in `amo.tasks.send_email` ?

[2017-10-19 12:14] eviljeff commented on #6689
@ValentinaPC It was fixed in dev and stage (and will be in prod after the deploy tomorrow)

[2017-10-19 12:52] diox commented on #6510
What's the account id/email? If you saw it before today but after when switched on post-review, then it's normal you were not asked to agree again.

[2017-10-19 13:02] vcarciu commented on #6510
@diox  : carcium@gmail.com . From your description, I thought that after visiting the API key , the Developer Agreement is displayed again.

[2017-10-19 13:07] diox commented on #6510
Ah, non. It's just that visiting the API Key page and uploading a new add-on/version both trigger the check. You still won't see it if you already read it after it was last changed.

[2017-10-19 13:09] diox commented on #6510
(That account read the dev agreement on September 26th, so it's normal that you don't see it again)

[2017-10-19 13:19] vcarciu commented on #6510
@diox  : thanks!
Also, I can confirm that Developer Agreement is needed for an user who validated it before 22 September. Auto approvals are still working. Marking bug as verified.

[2017-10-19 14:14] ValentinaPC opened #6736 "Reviewer Tools URL is causing 404 pages"
Steps to reproduce:
1. Load AMO-dev page https://addons-dev.allizom.org/en-US/firefox/
2. Go to Tools -> Reviewer Tools option
3. Click on any links that takes you out from Reviewer Tools i.e. "Developer Hub"

Expected results:
User is redirected to the corresponding page.

Actual results:
A 404 page is loaded.

Notes/Issues:
- _while step 3 is made, "reviewers" term is added to the page URL, that

[2017-10-19 14:17] diox commented on #6736
@bqbn could you make the reverse redirects, i.e. when you're already on reviewers.a.m.o domain and trying to load a non-reviewers related URL, it strips the `reviewers.` part of the domain?

[2017-10-19 14:18] vcarciu opened #6737 "Auto approval is not working anymore on -dev"
Steps to reproduce:
1.Submit a new add-on on AMO-dev
2.Wait for auto-approval

Expected results:
Auto-approval is working as expected

Actual results:
Auto approval not working anymore

NOTES;
You can see that https://reviewers.addons-dev.allizom.org/en-US/editors/review/dover-trotartle-koonbilss is not auto approved after more than 15 mins

[2017-10-19 14:21] diox commented on #6737
Not just auto-approval, all signing is down on dev.

https://sentry.prod.mozaws.net/operations/olympia-dev/issues/673045/

[code]

[2017-10-19 14:26] EnTeQuAk commented on #6730
Yeah, I do agree that changing the default in `amo.tasks.send_email` is probably the best way forward. cc @diox in case he knows some cases where we don't want that but I can't think of any.

[2017-10-19 14:36] diox commented on #6730
I wasn't aware in wasn't async by default either. I guess the only good argument that can be made to keep it sync by default is that if it happens inside the request-response cycle, and is sync, and it fails, it aborts the entire transaction, which is good if the mail was super critical. But yeah, we're probably better off making it async.

[2017-10-19 14:42] jasonthomas commented on #6734
@bqbn can you take a look? We probably need to run stats again for this day. This might be related to when amo-cron was having issues.

[2017-10-19 14:45] #6636 closed

[2017-10-19 15:22] ValentinaPC commented on #6728
Please add some STR or the label "qa: not needed". Thanks!

[2017-10-19 15:22] kumar303 commented on #6728
I verified that this is working now. Thanks again.

[2017-10-19 15:27] ValentinaPC commented on #6518
Verified as fixed on AMO-dev FF56(Win 7).
Postfix screenshots:
![collors](https://user-images.githubusercontent.com/15685960/31779103-faa009a4-b4fa-11e7-806b-837cac32ab31.png)
![2017-10-19_1824](https://user-images.githubusercontent.com/15685960/31779108-fd3c1676-b4fa-11e7-97f4-2064c21ec089.png)

[2017-10-19 15:27] EnTeQuAk commented on #6730
Jupp, I'd rather fix that specific problem with `on_commit` hooks once django 1.11 lands :)

[2017-10-19 15:37] ValentinaPC commented on #6235
Verified as fixed on AMO-dev FF56(Win 7).
My Add-ons is now sorted after "Updated" by default.
Sorting is working as expected.
Postfix screenshot:
![2017-10-19_1836](https://user-images.githubusercontent.com/15685960/31779735-81b485a4-b4fc-11e7-97cf-c4c694b7f94b.png)

[2017-10-19 15:40] ValentinaPC commented on #6566
Verified the banner position on AMO-dev FF56(Win 7).
Postfix screenshot:
![2017-10-19_1839](https://user-images.githubusercontent.com/15685960/31779894-ed1ad47e-b4fc-11e7-9001-b4bb13a3ed31.png)

Is there anything else we fix here, or this can be marked as verified-fixed?
Thanks!

[2017-10-19 15:42] diox commented on #6518
I guess that's a question for @wagnerand

[2017-10-19 15:52] muffinresearch commented on #6726
@diox this seemed to fix itself but it would be good to know if there's a way to workaround it.

[2017-10-19 16:09] diox commented on #6726
I can see it being `null` now. This is not supposed to be happening for add-on developers. @eviljeff, can you take a look?

[2017-10-19 16:33] devaneymoz commented on #5989
I support @jvillalobos suggested category mapping. Good idea to collapse those three Android categories (device location, experimental, performance) into Other.

Separately, there has been expressed desire to retool our desktop/Android categories to modernize the nomenclature and perhaps even collapse a couple of existing categories into each other to streamline the ecosystem. I wrote up a [PRD](h

[2017-10-19 16:43] eviljeff commented on #6726
https://addons.mozilla.org/api/v3/accounts/account/13298371/ isn't viewable either, so it points to `is_public` being `False`.  It's supposed to be updated via `UserProfille.update_is_public` whenever an add-on's status changes.

Kibana is showing nothing helpful about either the addon (855221) nor the user (13298371) - not really anything at all about the Add-on status changing, which is odd in i

[2017-10-19 16:48] diox commented on #6726
FWIW, in the activity log it was approved on September 21st. The `is_public` stuff landed way before that though.

[2017-10-19 19:16] diox commented on #3596
@bqbn do you know if we do have hard links support on the storage used for add-on files?

[2017-10-19 19:26] jvillalobos opened #6739 "Support WebExtensions Dictionaries"
[Bug 1410214](https://bugzilla.mozilla.org/show_bug.cgi?id=1410214) tracks Add-ons Manager support for WebExtensions packaging for dictionary add-ons. This bug tracks the corresponding AMO work.

There are a few things we need to do:

- [ ] Detect if the XPI is a dictionary and give it the correct type.
- [ ] In the linter, validate that the add-on only includes the dictionary manifest flags. Dict

[2017-10-19 19:58] bqbn commented on #6736
Made the reviewers site redirect non-listed endpoints back to the main site.
Please test again.

[2017-10-19 22:09] bqbn commented on #3596
According to [the doc](http://docs.aws.amazon.com/efs/latest/ug/limits.html), AWS EFS supports up to 175 hard links to a file.

While we're on this topic, any thoughts about replacing the file system with AWS S3? That supposedly can make things like this much easier. Scalability and manageability are better too.

[2017-10-19 22:31] bqbn commented on #6737
Connection restored. The VPN NAT box went down.

[code]

[2017-10-19 22:31] #6737 closed

[2017-10-19 23:01] PhillypHenning opened #6741 "Server 500 error when uploading new addon locally"
### Describe the problem and steps to reproduce it:
1. clone the latest source
2. follow installation steps
3. open browser to olympia.dev
4. Sign in
5. tools > submit new addon
6. using a zip file downloaded from [here](https://staticfil.es/webext-generator/) upload file

### What was expected to happen?
File was uploaded and navigation to next step unlocked

### What actually happened
 `Received

[2017-10-20 00:53] Croydon commented on #6734
This happens pretty regular

[2017-10-20 01:16] bqbn commented on #6734
Restored data for 10/17 and 10/18.

[2017-10-20 01:16] #6734 closed

[2017-10-20 05:54] ValentinaPC commented on #6689
My question was made because I could not reproduce the issue (before the fix) in both dev and stage.
Things work ok in production too.
Marking this verified-fixed.

[2017-10-20 08:08] ValentinaPC commented on #6736
Seems like the new URL is not causing issues anymore and all redirections work as expected.
Verified on AMO-dev FF56(Win 7).
Postfix video:
![rev tools](https://user-images.githubusercontent.com/15685960/31811091-f16b65e0-b586-11e7-8dd7-f8ce49853f04.gif)

[2017-10-20 08:08] #6736 closed

[2017-10-20 08:18] ValentinaPC opened #6742 ""Try the new frontend" banner is listed in Admin Tools page"
Steps to reproduce:
1. Load Admin Tools page - https://addons-internal.dev.mozaws.net/en-US/admin/

Expected results:
The new frontend banner is not displayed.

Actual results:
The banner is displayed and does not work.

Notes/Issues:
Verified in AMO-dev FF56(Win 7).
Video for this issue:
![admin tools](https://user-images.githubusercontent.com/15685960/31811463-569ce6d6-b588-11e7-8e9e-b5b62133d86

[2017-10-20 08:43] eviljeff commented on #6741
You need to look in the logs (`/logs`)to find out what problem you're having.  (The feature isn't generally broken)

[2017-10-20 09:34] diox commented on #6742
As long as it does not break the admin tools themselves, it's not a big deal.

[2017-10-20 09:34] #6742 closed

[2017-10-20 10:57] diox commented on #6739
What about ESR? Also, does that mean pushing a new version for each of these add-ons automatically? It might be tricky to figure out the versioning.

[2017-10-20 10:58] diox commented on #6715
@eviljeff can you take a look, since you touched this with the static themes?

[2017-10-20 11:44] ValentinaPC commented on #6742
I was logging this only because you mentioned that it should be listed only on public pages.

[2017-10-20 11:51] vcarciu commented on #6737
Verified as fixed.

[2017-10-20 12:59] diox commented on #6742
Yes ; I was more worried about devhub though ; admin tools are used by so few people (all staff) that it does not really matter there, as long as it does not break the tools themselves.

[2017-10-20 13:13] ValentinaPC commented on #6742
Yes, seems to be harmless. :)

[2017-10-20 13:15] #6572 closed

[2017-10-20 13:27] jvillalobos commented on #6739
Since this will happen post-57, ESR users will need to look for older versions, like they'll probably have to in other cases. We'll need to set a `minVersion` for all dictionaries once we know which version of Firefox introduces them.

Yes, and yes.

[2017-10-20 13:39] #6566 closed

[2017-10-20 13:40] diox commented on #6566
Latest version should:
- only be shown on homepage
- use Fira Sans Semi Bold as per spec
- use the correct close button image and position

[2017-10-20 13:45] vcarciu commented on #6670
Visiting the page for a previous validation works together with submissions.
Changing the hexadecimal id in the URL will return a 404:
![urlhex](https://user-images.githubusercontent.com/1583842/31823847-1ae1bcce-b5b6-11e7-9db7-ee3500acb870.gif)

[2017-10-20 13:56] ValentinaPC commented on #6572
@eviljeff: Could you provide an example of static theme? I was looking around but could not find a proper one.
Thanks in advance!

[2017-10-20 14:01] eviljeff commented on #5989
This may be easier to do after we only have to think about Firefox desktop and android.  After November 10th.

[2017-10-20 14:23] eviljeff commented on #6572
I've been using one from https://github.com/mdn/webextensions-examples/tree/master/themes

[2017-10-20 15:02] diox commented on #6611
@jvillalobos : `SeniorPersonasTools:View` is used for 3 things:
- Flagged Themes in the "Interactive Theme Queue"
- Updated Themes in the "Interactive Theme Queue"
- Deleted Themes (in Logs -> Deleted from themes reviewer pages)

In each case, people with `Admin:%` or `AdminTools:View` can also access those pages.

Can it be removed completely and replaced by a check on `Personas:Reviews` ?

[2017-10-20 15:14] eviljeff commented on #6726
I can replicate this on -dev with an unused account and then uploading an add-on, so something is going wrong with the signals that are supposed to fire when an addon's status changes to update the authors's `is_public` status.

[2017-10-20 15:19] #6076 closed

[2017-10-20 15:22] eviljeff opened #6745 "migration to drop obsolete paypal related fields from Addon"
follow on from #6076 to remove the database fields that were removed from the Addon model - needs to be landed after 2017-10-26 milestone is tagged.

[2017-10-20 16:44] eviljeff commented on #6715
mmm, I think my JS changes to not show the platform selector by default are the problem here.  Though I'm also not sure why we don't just block proceeding with JS if you don't select any platform.

[2017-10-20 17:33] jvillalobos commented on #6611
Yes, the current theme reviewers are all admins, and I don't see anything risky about keeping them under a single permission.

[2017-10-20 23:06] freaktechnik commented on #6734
Does not seem fixed for the 18th. Nor the 19th.

[2017-10-21 22:53] PhillypHenning commented on #6741
Thanks for responding @eviljeff
So after investigating, I believe I have found the root of the issue,

In my docker.log file I see the issue ```OSError: [Errno 13] Permission denied: '/code/user-media/addons/temp'```

Trying to address the issue I created the temp folder and gave it rwxrwxw-x permissions however doing this causes an issue where it complains about missing tables.

Recreating all ta

[2017-10-22 11:42] freaktechnik commented on #6734
Ok, it got fixed for the 18th now, but the 19th is still 0, while the 20th has data.

[2017-10-22 20:18] bmikosdi opened #6748 "My review disappeared"
I wrote an add-on review, and it disappeared, the link is at the bottom of this letter I've got from the owner:

"A developer has replied to your review of add-on Group Speed Dial.

Reply:
creating new groups
Hello,

You can create and move groups anywhere. Just right click the group name and click &quot;Create new group&quot; and it will create it right behind it.
You can also move groups (curren

[2017-10-22 20:28] PhillypHenning commented on #4994
Hey I'm a Seneca Student I would love to take this

[2017-10-22 20:34] diox commented on #6748
That is not the case. Reviews can however be removed by moderators when they are spam, contain abusive language or are not a review (i.e. a bug report or support request).

[2017-10-22 20:34] #6748 closed

[2017-10-22 21:02] bmikosdi commented on #6748
Can you copy here my review, and inform me about the real reason - including the words or sentences affected - it has been deleted?

It is a quite strange procedure to delete a review without informing the writer.

It is also unacceptable that a review is deleted, and the author has no possibility to read it's own review which has been revoked from the public.

Regards,

Mikósdi Balázs
ps.: I wrot

[2017-10-22 21:52] diox commented on #6748
You'll need to take that up to the reviewers team (see https://wiki.mozilla.org/Add-ons/Reviewers for how to contact them) - I'm merely pointing out that this is not a bug, and that the developer can not delete a review.

[2017-10-22 22:05] bmikosdi commented on #6748
Interesting way closing an Issue/Topic at the first moment, Monsieur
Pillard, even you can get an answer from the addressee.

Interesting repeating yourself - "I'm merely pointing out that this is not
a bug, and that the developer can not delete a review" - maybe You think
that your arguments would be more "solide". I would't mind that. At all.

Interesting not to inform your addressee the first t

[2017-10-23 07:54] ValentinaPC commented on #6742
The banner is no longer displayed in the Admin Tools page.
Verified on AMO-dev FF56(Win 7)
Postfix screenshot:
![admin_tools_-_no_banner](https://user-images.githubusercontent.com/15685960/31877788-7472bef6-b7e0-11e7-98c4-644a91598305.png)

[2017-10-23 08:07] ValentinaPC commented on #6566
Verified this on AMO-dev FF56(Win 7)
- the banner is only shown in homepage
- close mark is positioned as per mocks
![2017-10-23_1044](https://user-images.githubusercontent.com/15685960/31878312-58a579e6-b7e2-11e7-9f43-7b16d0b075bf.png)

Is the font family ok?
![font](https://user-images.githubusercontent.com/15685960/31878123-a6a0d574-b7e1-11e7-82ff-12961893de4b.png)

[2017-10-23 09:21] diox commented on #6566
@ValentinaPC : you are not looking at the right element to test the font (highlight the paragraphs or the link). Furthermore, it's better to use the "Fonts" tab of the inspector, which tells you directly which font is being used, regardless of what the css rule says. It should say Fira Sans SemiBold.

[2017-10-23 09:29] eviljeff commented on #4994
@PhillypHenning please do

[2017-10-23 10:51] diox opened #6751 "Rename editors to reviewers internally"
In #6522 we'll rename `/editors/` to `/reviewers/`. Before that, we should rename the django app and urls (keeping the tables intact, at least for now).

[2017-10-23 10:58] ValentinaPC commented on #6572
Verified this on AMo-dev FF56(Win 7) and obtained the following results.

1. Themes will be submitted using the same submission flow as extensions, where the final theme package is uploaded - works as expected
_**2. The existing submission flow will be enhanced with an option to use the simple lightweight submission form (upload header image, set colors) most theme designers are accustomed to use

[2017-10-23 11:33] diox commented on #6751
Note: this will change the celery queue name, so need to sync up with ops on that.

[2017-10-23 12:42] ValentinaPC commented on #6566
Oops...
Font is like expected:
![fonts](https://user-images.githubusercontent.com/15685960/31889435-7f3088fa-b808-11e7-82a5-7b531a3dacc7.png)

Marking this verified fixed.

[2017-10-23 13:05] eviljeff commented on #6572
yep, the theme wizard and review tools support will be implemented separately.

[2017-10-23 13:50] ValentinaPC commented on #6572
Based on above comments, this can be marked as verified-fixed.
Verified on AMO-dev FF56(Win7).
Postfix screenshots:
![details](https://user-images.githubusercontent.com/15685960/31892483-ccdd9abc-b811-11e7-9807-8faa4fa15d41.png)
![ff_range_vrs](https://user-images.githubusercontent.com/15685960/31892484-ccfeaea0-b811-11e7-94cd-95343e6054a4.png)
![static_theme_issue2_-_no_continue_using_old_form](h

[2017-10-23 15:04] #6751 closed

[2017-10-23 17:13] diox commented on #6751
QA: make sure reviewer tools and auto approvals still work fine. All changes here should be internal, everything should still work the same for now (save for a few trivial wording changes).

[2017-10-23 22:12] kumar303 opened #6757 "API response to indicate that add-on has been disabled by its developers"
### Describe the problem and steps to reproduce it:

Request an add-on that has been disabled by the developer, such as:

[code]

### What happened?

401 response:

[code]

### What did you expect to happen?

The response should include something like "This add-on has been removed by its author" (or disabled by an admin) since that's what the old site displayed: https://addons.mozilla.org/en-US/fi

[2017-10-23 22:48] kumar303 opened #6758 "src parameter is not reflected in add-on version install URL"
### Describe the problem and steps to reproduce it:

Make a request with a `src` parameter for an add-on like this:

[code]

### What happened?

The install URL of the version does not include the same `src` parameter:

[code]

### What did you expect to happen?

Since I made a request using a `src` parameter I expected it to be included in the install URL like:

[code]

### Anything else we shoul

[2017-10-23 22:56] diox commented on #6758
The docs are poorly worded, you're supposed to add the `src` parameter yourself - the doc is merely stating that you can add it to the URL.

I'm not sure it's a good idea to have the API automatically add it for you, because it encourages clients to call the API with different URLs depending on the situation, ruining potential caching (that we don't have right now, I'll admit) and the bug here is

[2017-10-24 08:49] freaktechnik opened #6759 "Daily users stats 0 for 19th October 2017"
### Describe the problem and steps to reproduce it:
The daily users stat count is 0 on the 19.10.2017 for all extensions. This also includes all the substats like versions etc.

### What happened?
The usage stats say 0 users for every extension

### What did you expect to happen?
At least my usage of the extensions should show up (so the stats should have at least one user reported)

### Anything

[2017-10-24 09:43] ValentinaPC opened #6760 "Themes option from Reviewer Tools is not marked as selected"
Steps to reproduce:
1. Load Reviewer Tools homepage i.e. https://reviewers.addons-dev.allizom.org/en-US/editors/
2. Click on "Themes"

Expected results:
Themes option is selected.

Actual results:
Add-ons option is selected.

Notes/issues:
- page content and URL are change accordingly

Verified on AMO-dev FF56(Win 7). not reproducing on -stage.
Video for this issue:
![themes rev tools](https://use

[2017-10-24 09:51] diox commented on #6760
Definitely related to #6751. I'll look into it today.

[2017-10-24 10:35] ValentinaPC commented on #6751
Verified this on AMO-dev FF56(Win 7)
1. Auto-approval work as expected
2. Weight is added accordingly
3. Points for reviewer work as expected
4. Actions like approve content, reject. etc. work as expected
5. Normal reviews work as expected
6. LWT themes approval work as expected
7. Moderated review actions work as expected
8. Links from Reviewer Tools redirect as expected

This can be marked as ve

[2017-10-24 10:47] diox commented on #6604
Re-opening because it's still happening in sentry despite the character limit: https://sentry.prod.mozaws.net/operations/olympia-prod/issues/645767/

The following query appears to have triggered it:
`览器附加组件搜索：firebug 下载第一个 安装 这时候右上角会出现一个甲虫的标志 点开点击cookies 开`

The limit helped reduce the number of occurences though, so I'm removing the priority.

[2017-10-24 10:53] diox opened #6761 "Rename reviews to ratings"
Both internally and in the API, we should rename `reviews` to `ratings` to avoid clashing with `reviewers` (see #6751). For the API we should keep things backwards-compatible for now.

- [x] Move the app (and templates, fixtures etc)
- [x] Change the URL names
- [x] Change the model names
- [x] Change functions/methods/classes names (API only)

[2017-10-24 10:55] diox commented on #6604
@EnTeQuAk can you take another look? This started to happen after the ES5 upgrade, and the query limit is not enough... maybe we need to be more careful with some clauses, like don't do fuzzy if the query is too large, that kind of stuff.

[2017-10-24 12:39] #6715 closed

[2017-10-24 12:59] eviljeff commented on #6726
QA STR:
* Register new AMO account (or login with an account that has never been used to upload addons/themes)
* (set a username - optional but makes urls easier)
* see `https://addons-dev.allizom.org/api/v3/accounts/account/<username or user id>/` should be a 404-ish JSON response (not found)
* Upload a webextension add-on on listed channel and finish upload process to create it, leaving it at 'a

[2017-10-24 13:05] #6721 closed

[2017-10-24 13:36] #6760 closed

[2017-10-24 13:45] diox commented on #6757
Safest way to do that is probably to handle that directly in the `AddonViewSet` when returning the 401 or 403, i.e. not modify the permission class, because the permission classes might be used elsewhere where we do want to make sure we keep the 401/403...

[2017-10-24 14:28] vcarciu commented on #6726
Followed the steps from above and the response after last step is still 404 : https://addons-dev.allizom.org/api/v3/accounts/account/testapi/

[2017-10-24 14:37] eviljeff commented on #6726
Looking in kibana confirms "Not changing 10641506.is_public from False :/data/olympia/src/olympia/users/models.py:302" so the signal and `update_is_public` method _is_ being called; but the `.filter(...).exists()` is `False` so it's not getting set correctly.

[2017-10-24 14:43] vcarciu commented on #6721
Verified as fixed :
![webextlinktogit](https://user-images.githubusercontent.com/1583842/31949773-c9610aaa-b8e2-11e7-9165-4161771e849e.gif)

[2017-10-24 15:21] vcarciu commented on #6709
Marking it as verified based on results from #6572

[2017-10-24 15:26] jvillalobos commented on #6759
Closing as a dupe of https://github.com/mozilla/addons/issues/510

[2017-10-24 15:26] #6759 closed

[2017-10-24 16:37] #6726 closed

[2017-10-24 18:56] eviljeff opened #6764 "Correctly handle static themes in devhub"
* Properties not applicable to static themes shouldn't be shown or editable in edit listing
* version edit shouldn't allow extra applications to be added or platforms modified.

[2017-10-24 20:52] kumar303 commented on #6758
aha! That makes way more sense. You can either close this or clarify it in the docs (which would have helped me).

[2017-10-25 09:22] ValentinaPC commented on #6760
Verified as fixed on AMO-dev FF56(Win 7).
Postfix video:
![rev tools](https://user-images.githubusercontent.com/15685960/31990915-1e683996-b97f-11e7-8cac-a01ed7ec926b.gif)

[2017-10-25 09:40] ValentinaPC commented on #6721
@atsay : do we wanna change the options from Tools section while logged out?
![2017-10-25_1239](https://user-images.githubusercontent.com/15685960/31991953-a00490c4-b981-11e7-986d-f5457a2035f5.png)
Thanks!

[2017-10-25 11:41] oeekker commented on #6585
This now also works on production server of amo.
![paypal com contributions url](https://user-images.githubusercontent.com/1092048/31996785-0e0d5d50-b98a-11e7-8874-ca3d542b7da5.png)

[2017-10-25 12:10] vcarciu commented on #6726
Verified as fixed :
![url](https://user-images.githubusercontent.com/1583842/31997964-9a9e4d04-b996-11e7-8a10-d7b75a3a1ab9.png)

[2017-10-25 13:29] ValentinaPC commented on #995
This can be marked as verified fixed because all related bugs were verified or superseded.

[2017-10-25 14:13] vcarciu commented on #1681
Verified as fixed

[2017-10-25 14:19] ValentinaPC opened #6766 "Theme name form Logs-Reviews redirects to a 404 page after deletion"
Steps to reproduce:
1. Submit a theme and review it
2. Delete it
3. Go to Reviewer Tools - Logs - Reviews https://addons.allizom.org/en-US/editors/themes/logs
4. Click on the deleted theme name

Expected results:
**Theme name is no longer a link or it is a link but clicking on it reloads the same page (as it happens for extensions).**

Actual results:
Theme name is a link and redirects to a 404 pa

[2017-10-25 14:19] jikamens opened #6767 "New monetary donation mechanism doesn't mark reason for donation"
With the old mechanism for accepting monetary donations for add-ons, every donation I received was marked automatically with the add-on it was for.

Now there's no indication of the reason for the donation unless the user enters one.

This is a significant regression in functionality. I maintain a number of different add-ons, and I track contributions for them separately, both for bookkeeping reas

[2017-10-25 14:20] jikamens opened #6768 "New monetary donation mechanism doesn't include recommended donation amount"
It is a significant regression in functionality that users who contribute to add-ons through the new contribution mechanism are not given a recommended contribution amount. I think this is very unfortunate and I wish this functionality were restored.

[2017-10-25 14:37] ValentinaPC opened #6769 "Unbroken review string is causing layout issues in Themes Reviews Logs and "Your review history" pages"
Steps to reproduce:
1. Submit a theme i.e. https://addons.allizom.org/en-US/developers/theme/strings123/edit
2. Add an unbroken string while flagging the submitted theme
3. Go to Reviewer Tools - Themes - Logs - Reviews https://addons.allizom.org/en-US/editors/themes/logs
4. Click on the "show comments" for the above theme

Expected results:
Comment is wrapped.

Actual results:
Page layout is brok

[2017-10-25 14:50] ValentinaPC opened #6770 "Search is not working in Themes "Updates" queue from Reviewer Tools"
Steps to reproduce:
1. Load Editor Tools-Themes-Updates queue https://addons.allizom.org/en-US/editors/themes/updates
2. Make a search after a listed theme

Expected results:
Searched theme is returned.

Actual results:
No results are listed.

Notes/Issues:
Verified on AMO-stage FF56(Win 7). Issue is reproducing on -dev also.
Video for this issue:
![noresults](https://user-images.githubusercontent

[2017-10-25 14:59] jvillalobos commented on #6768
Since we're not doing more than link to the payment URL, we can't really tell the payment provider to default to a particular amount. However, I know there are ways to set up Paypal URLs with a predefined amount. So, it's up to the payment provider to support URLs that have parameters for this.

[2017-10-25 14:59] #6768 closed

[2017-10-25 15:43] ValentinaPC commented on #5999
Adding some example of add-ons that no longer exist, but are still displayed in AMO public pages
- Webext-+beta - https://addons-dev.allizom.org/en-US/firefox/addon/webext-beta/
- <script>alert(‘Problem123')</script> - https://addons-dev.allizom.org/en-US/firefox/addon/scriptalertproblem1script/
- Warrior Forum Formatter - https://addons-dev.allizom.org/en-US/firefox/addon/warrior-forum-formatter/

[2017-10-25 16:19] atsay commented on #6721
That is a really good point, thanks for flagging! I'll create a separate issue.

[2017-10-25 18:32] atsay opened #6772 "Change links in Tools section on signed-out Dev Hub landing"
![image](https://user-images.githubusercontent.com/15685960/31991953-a00490c4-b981-11e7-986d-f5457a2035f5.png)

Please change the three links to the following:

[Web-Ext](https://github.com/mozilla/web-ext)
A command line tool to build, run, and test extensions.

[Add-on Validator](https://addons.mozilla.org/developers/addon/validate)
Automated code tests for your add-on.

[Compatibility Test](htt

[2017-10-26 04:28] EnTeQuAk commented on #6741
How large is that add-on? Can you make sure that celery is running (`docker-compose ps` and checking logs, specifically `logs/docker-celery.log`)? Celery is used to run asynchronous tasks in the background and this process uses that and waits for the results to come back. That's what the regular GET requests are for.

[2017-10-26 08:15] Sancus opened #6775 "Elasticsearch 5.5 upgrade"
In the processing of setting up addons.thunderbird.net (bug 1399129) I was going to use the Amazon AWS ES service to save some setup time, but seems like it only supports ES 5.3 and 5.5... whereas addons-server is on 5.4.

If this is a drop-in upgrade with no changes it'd be handy to do, if not I'll just have to do my own ES cluster setup.

[2017-10-26 08:15] Sancus commented on #6775
@EnTeQuAk ^

[2017-10-26 11:20] #6757 closed

[2017-10-26 11:20] diox commented on #6757
@kumar303 I've added `is_disabled_by_developer` and `is_disabled_by_mozilla` to the 401/403 responses returned by the add-on detail API.

[2017-10-26 17:13] vcarciu opened #6778 "Firefox static themes category found in search suggestions for add-ons"
Steps to reproduce:
1.Go to https://addons.mozilla.org/en-US/firefox/
2.Enter "fire" search term in add-ons search box
3.Observe the "Firefox" category under search suggestions
4.Click on the category from step 3 and observe that will open a 404 : https://addons.mozilla.org/en-US/firefox/static-themes/firefox

Expected results:
The "Firefox" static themes category under search suggestions should n

[2017-10-26 17:16] eviljeff commented on #6778
So, these categories for Static Themes do exist (they're named the same as the Persona categories), but I didn't expect them to show up anywhere if there weren't any static themes submitted.

[2017-10-26 18:49] #6772 closed

[2017-10-27 07:38] ValentinaPC commented on #6772
Verified as fixed on AMO-dev FF56(Win 7)
Postfix video:
![tools](https://user-images.githubusercontent.com/15685960/32092783-99a3ea72-bb02-11e7-8166-e9278dd04160.gif)

@atsay : I saw you changed the "Compatibility Checker" link to "Compatibility Test" link.
Should we change it in Tools section from the footer section or there should stay the old option?

[2017-10-27 09:16] #6778 closed

[2017-10-27 10:01] ValentinaPC commented on #6757
Verified this on AMO-dev FF56(Win 7).
If I disabled as an admin, the result is correct.
![2017-10-27_1256](https://user-images.githubusercontent.com/15685960/32098703-3ea17df6-bb16-11e7-9703-d9c7d55bcc4e.png)

**As a developer of an add-on**, I've disabled the only version of an add-on from "Manage Status & Versions" page from Dev Hub, but the API response lists `is_disabled_by_developer` as  `fal

[2017-10-27 10:04] diox commented on #6757
This is the kind of edge case I was worried about regarding `is_disabled_by_mozilla`... I'll look into it. In this case, both properties should be `false` : disabling the last version is not the same thing as doing a developer disable on the add-on, so `is_disabled_by_developer` being `false` is right, it's just that `is_disabled_by_mozilla` should not be `true`.

[2017-10-27 10:07] diox commented on #6757
Eh actually I misunderstood, I thought your screenshot was for the second add-on you were talking about. Everything is OK here: for `csimple-webext-test`, since it has no version left, it's incomplete (not the same thing as the developer disabling the add-on itself) so both `is_disabled_by_mozilla` and `is_disabled_by_developer` are `false`. That's normal.

[2017-10-27 10:07] ValentinaPC commented on #6757
@diox How its an add-on disabled by its developer?

[2017-10-27 10:08] diox commented on #6757
By switching `Listing visibility` to `Invisible` in devhub (I know, worst naming ever)

[2017-10-27 10:14] ValentinaPC commented on #6757
Yes...I should have understood from the first comment/screenshots :)
Verified this case also and seems to work as expected.
Example: https://addons-dev.allizom.org/en-US/developers/addon/webext-invalid-date/versions

Still have a case:
- marking each version as disabled by Mozilla, from admin page - https://addons-internal.dev.mozaws.net/en-US/admin/addon/manage/webext-invalid-date/ - will not set

[2017-10-27 10:18] ingoe opened #6780 "Dead link on https://developer.mozilla.org/en-US/docs/Toolkit_version_format"
### Describe the problem and steps to reproduce it:
On the Page https://developer.mozilla.org/en-US/docs/Toolkit_version_format is a dead link called "maintenance policy"

### What happened?
Clicking the link results in a "Not Found" error page on https://addons.mozilla.org/en-US/developers/docs/policies/maintenance#beta-addons

### What did you expect to happen?
Correct page is displayed.

[2017-10-27 10:20] diox commented on #6757
Yes.

[2017-10-27 13:39] eviljeff commented on #6780
MDN is outside of AMO so it's not an issue that belongs here exactly.  It's a wiki though, so feel free to change it yourself.  The content is on MDN now https://developer.mozilla.org/en-US/Add-ons/Distribution#Beta_versions

[2017-10-27 13:39] #6780 closed

[2017-10-27 14:11] diox commented on #6611
@jvillalobos for this:

`Reviews:Edit` is not used in our code. Assuming this is about user reviews, here is what we have:
- Users with `Addons:Edit` can edit a user review
- Users with `Addons:Review` or `Personas:Review` can delete a user review if it was flagged, depending on whether the add-on is a lightweight theme or not. Users with `Addons:Edit` or `Users:Edit` can delete reviews regardless

[2017-10-27 14:49] diox commented on #6604
Also happening with `.com von qavai  export gpx-track from strava.com experimentellexperimentell zu firefox hinzufü`.

[2017-10-27 15:36] vcarciu commented on #6778
Verified as fixed :
![static](https://user-images.githubusercontent.com/1583842/32112357-bace1130-bb45-11e7-9d21-eb6ed38792a2.gif)

[2017-10-27 22:15] PhillypHenning commented on #6741
Hey @EnTeQuAk

The file is 277 bytes

`docker-compose ps`
![image](https://user-images.githubusercontent.com/16713447/32127011-e96a2b9a-bb41-11e7-83b9-77af636252f2.png)

docker-celery.log
[code]
This loops 10 or so times on the last line of the log.

It's worth noting this is my log directory
![image](https://user-images.githubusercontent.com/16713447/32127126-a6444926-bb42-11e7-8d5a-f3ee161a86bf.

[2017-10-27 22:53] kumar303 opened #6781 "Return compatibility info for dicts, search engines, and persona add-ons"
### Describe the problem and steps to reproduce it:

Make an API request for an add-ons of type dict, search engine, and persona. Examples:

* `curl 'https://addons.mozilla.org/api/v3/addons/addon/afrikaans-spell-checker/' | jq .current_version.compatibility`
* `curl 'https://addons.mozilla.org/api/v3/addons/addon/gift-from-butterfly/' | jq .current_version.compatibility`
* `curl 'https://addons.m

[2017-10-27 23:03] diox commented on #6781
Yeah, I thought it was a good idea to [make them return `{}`](https://github.com/mozilla/addons-server/blob/30332f629bd3b3ebcafc673371dcdf90560906fb/src/olympia/addons/serializers.py#L152-L153) but it's clearly not. They should return a full compatibility info object for all client apps.

[We do something like that in `Addon` model](https://github.com/mozilla/addons-server/blob/30332f629bd3b3ebcaf

[2017-10-28 05:28] EnTeQuAk commented on #6741
celery: error: unrecognized arguments: --autoreload

Can you pull the latest docker images via `docker-compose pull` please? That'll fix your celery image. We recently upgraded to Celery 4 which changed how auto-reload works. Also make sure to not just restart the container but to actually `docker-compose stop worker` and then `docker-compose up -d worker` again.

[2017-10-28 05:30] EnTeQuAk commented on #6741
Also, do you see any other errors in the other log files? `docker.log` might contain the actual traceback.

[2017-10-28 06:02] EnTeQuAk commented on #6775
Looks like things work perfectly fine with ElasticSearch 5.5 so you should be able to use that. Our unittests are running on the latest 5.x branch currently anyway.

[2017-10-28 06:02] #6775 closed

[2017-10-28 11:03] jvillalobos commented on #6611
Ah, then we can drop that permission entirely.

I think we should create a `Ratings:Moderate` permission that gives users the ability to delete or unflag flagged ratings, regardless of type of add-on. That's what the `Reviewers: Moderators` group should have.

Drop this.

Keep this.

[2017-10-28 18:03] CjBots opened #6784 "Bad link?"
clicked on the link in 1. Click on the "Add to Firefox" button You will find this button on the mozilla add-ons for firefox page at https://support.ant.com/hc/en-us/articles/210106706-How-to-install-the-video-downloader-for-Mozilla-Firefox

I got an 'unknown' message

Wanted to download Ant video downloader

[2017-10-28 20:49] PhillypHenning commented on #6741
@EnTeQuAk
Following your instructions, I pulled and re-up-d the containers. I navigated to the site and received
![image](https://user-images.githubusercontent.com/16713447/32138308-6f1d86a8-bbfe-11e7-8220-2228a8d3f836.png)
This is actually as I expected, as I need to delete and pull the containers everytime I want to load the site.

docker.log
[code]

This may be unrelated, but previous to this I

[2017-10-30 08:51] madalincm commented on #6715
Verified as fixed in FF56(Win7) in addons-dev.allizom.org
Postfix screencast:
![noplatformwarning](https://user-images.githubusercontent.com/15685441/32162057-50fa3898-bd60-11e7-9549-28a8f1f7bed7.png)

[2017-10-30 09:39] ValentinaPC opened #6789 ""About" link from Developer Hub page loads a -prod page if accessed from -stage /dev"
Steps to reproduce:
1. Load Dev Hub page https://addons-dev.allizom.org/en-US/developers/
2. Go to page footer and click on "About" from Community section

Expected results:
-dev server corresponding page is loaded.

Actual results:
-prod server corresponding page is loaded.

Notes/Issues:
- we have this page available for each server and we load it while accessed from public pages footer.
Verifie

[2017-10-30 09:41] EnTeQuAk commented on #6784
I can't seem to find this add-on on our site so maybe it got disabled or removed by the author. There are a few other alternatives though if you take a look at https://addons.mozilla.org/en-US/firefox/search/?platform=linux&q=video+downloader

I'm closing this bug since from my perspective there's nothing we can do.

[2017-10-30 09:41] #6784 closed

[2017-10-30 09:42] EnTeQuAk commented on #6741
I doubt that. Looks like MySQL isn't running, do the logs say anything useful? You might want to check the permissions of `user-media` folder and folders inside to make sure they belong to the correct user which breaks the upload as well.

[2017-10-30 10:04] ValentinaPC commented on #6757
Marking this verified-fixed based on above comments.

[2017-10-30 13:42] tofumatt opened #6791 "No link from Developer Hub back to main Add-ons site"
Originally filed by @jvillalobos at https://github.com/mozilla/addons-frontend/issues/3682

-----

Go to https://addons.mozilla.org/developers/. There's no link pointing back to addons.mozilla.org. It should probably be in the header.

[2017-10-30 13:54] jvillalobos opened #6792 ""Register or Sign in" link in Developer Hub header disappears if window isn't wide enough"
The header on the Developer Hub has a strange transition when it is narrowed a bit
Wide:
<img width="1040" alt="header-1" src="https://user-images.githubusercontent.com/62568/32174427-b77a8442-bd79-11e7-9a0c-7486888d95af.png">
Narrow:
<img width="1020" alt="header-2" src="https://user-images.githubusercontent.com/62568/32174430-ba21d5f6-bd79-11e7-8e72-87b3d65cf493.png">
The layout changes signific

[2017-10-30 13:54] tofumatt opened #6793 ""Register or Sign in" link in Developer Hub header disappears if window isn't wide enough"
Originally filed at https://github.com/mozilla/addons-frontend/issues/3683

-----

The header on the Developer Hub has a strange transition when it is narrowed a bit
Wide:
<img width="1040" alt="header-1" src="https://user-images.githubusercontent.com/62568/32173995-8d5aa954-bd78-11e7-8122-04229cca2d5b.png">
Narrow:
<img width="1020" alt="header-2" src="https://user-images.githubusercontent.com/62

[2017-10-30 13:55] jvillalobos commented on #6792
Dupe of #6793

[2017-10-30 13:55] #6792 closed

[2017-10-30 14:19] ValentinaPC commented on #6791
This was logged a while ago: https://github.com/mozilla/addons-server/issues/4580

[2017-10-30 14:24] #6791 closed

[2017-10-30 14:44] AlexandraMoga commented on #6459
Actually, for the second scenario (user logged out) you can see that two important links - Register or Log in - are missing from the page header. The users need to easily have access o these links regardless of the view:

See screenshot:

![image](https://user-images.githubusercontent.com/31961530/32176572-ba5b5da0-bd90-11e7-9289-8f177974042f.png)

[2017-10-30 14:46] ValentinaPC commented on #6793
This is already tracked in https://github.com/mozilla/addons-server/issues/6459 .

[2017-10-30 14:57] #6793 closed

[2017-10-30 15:37] AlexandraMoga commented on #6698
This issue will also reproduce if the extension/theme has a long string name.
See how this is affecting the DevHub landing page...
![image](https://user-images.githubusercontent.com/31961530/32179206-7eee3a6a-bd97-11e7-84df-f75420db7ba1.png)
...and the Edit listing for themes page:
![image](https://user-images.githubusercontent.com/31961530/32179399-0129fba4-bd98-11e7-87a4-7ff099c37c0c.png)

[2017-10-30 16:02] vcarciu opened #6794 "Updating the whiteboard for an add-on opened from Content Review queue will open same addon in Confirm approval mode"
Steps to reproduce:
1.Login to AMO-Stage as a reviewer
2.Open any add-on from Content Review queue (https://reviewers.addons.allizom.org/en-US/editors/review-content/axli1ir1q)
3. Add some text in Whiteboard section and press the "Update the Whiteboard" button

Expected results:
Add-on is still in Review Content page

Actual results:
Add-on is now in Confirm Approval page

NOTES:
Reproduced in FF

[2017-10-30 21:07] merijndejonge opened #6797 "Downloading my webextension gives 404 error"
I created a new version of my web extension and signed it at AMO. After the extension got signed:
* I'm redirected to a page with a button to download the extension
* I receive an email stating that the extension has been approved and is now available for download in our gallery
* I see the new version appear on the "Manage Status & Versions" page. If I click on the version, I am navigated to a we

[2017-10-30 21:19] wagnerand commented on #6797
Duplicate of https://github.com/mozilla/addons/issues/324.

[2017-10-30 21:20] #6797 closed

[2017-10-30 21:39] merijndejonge commented on #6797
I don't see how this is related to mozilla/addons#324:

- My issue doesn't have anything to do with an addon set to "invisible"
- mozilla/addons#324 doesn't address that the link eventually becomes valid as is the case in my situation.

My issue is really about a broken link for a signed web extension that eventually (after hours) becomes valid.

[2017-10-30 21:51] wagnerand commented on #6797
No worries, it is the exact same issue.

Since you only have self-hosted versions, your add-on is implicitly set to *Invisible*.

It does. See the many linked issues.

[2017-10-30 22:30] grahamperrin commented on #2661
Does _categorisation_ affect relevance in search results?

I ask because it's easy to see (for example) many things that are miscategorised under _tabs_.

[2017-10-30 22:38] milupo commented on #6761
I have already proposed this in the following issue:

https://github.com/mozilla/addons-server/issues/2513

It will help translators to differentiate between ratings and checkups which both are still called "review".

[2017-10-30 22:49] diox commented on #6761
This is a different issue. I completely agree with you, but I'm not planning to change the strings/translations yet.

[2017-10-31 14:41] muffinresearch opened #6799 "Summary text can push up against the button"
https://addons-dev.allizom.org/en-US/firefox/addon/awesome-screenshot-plus-/

I added some extra text `a a a` to demonstrate.

<img width="992" alt="awesome_screenshot_plus_-_capture__annotate___more_-_add-ons_for_firefox" src="https://user-images.githubusercontent.com/1514/32229769-86a9c33e-be49-11e7-87f8-c9cabd888c5a.png">

[2017-10-31 14:42] muffinresearch commented on #6799
Wrong repo!

[2017-10-31 14:42] #6799 closed

[2017-10-31 16:59] #6626 closed

[2017-10-31 17:12] kumar303 opened #6800 "API does not return all reviews immediately after submitting a new review"
### Describe the problem and steps to reproduce it:

See https://github.com/mozilla/addons-frontend/issues/3720

I can reproduce it every time on the hosted dev server but for some reason I cannot reproduce it when running a local proxy to dev.

Here is what the frontend code does if you look at the Network panel in the devtools:

1. User first loads the all reviews page:

[code]

2. User selects

[2017-10-31 17:49] PhillypHenning commented on #6741
@EnTeQuAk
What should the permissions be and what do you mean correct user? I am the only user, so should it not only be mine or root?

[2017-10-31 18:09] kumar303 commented on #6800
This is confusing to me ^ I can't spot any differences in the request headers. I also tried clearing the browser cache right before pressing the submit button for the new review -- no difference.

[2017-11-01 10:16] eviljeff commented on #6800
I can't replicate this on -dev following the steps in mozilla/addons-frontend#3720

[2017-11-01 10:44] dessant commented on #6727
Meanwhile the add-on got a new review and all stats are now correct, the rating of the deleted review is not included in the average rating anymore.

[2017-11-01 11:43] eviljeff opened #6802 "Expose image sizes for previews in API"
to support mozilla/addons-frontend#1519

[2017-11-01 12:01] ValentinaPC commented on #6626
Verified as fixed on AMO-dev FF56(Win 7).

Used legacy add-on: https://addons-dev.allizom.org/en-US/developers/addon/chatzilla/edit
Admin Tools settings and replacement:
https://addons-internal.dev.mozaws.net/en-US/admin/staff-models/addons/replacementaddon/
![replacement-path](https://user-images.githubusercontent.com/15685960/32273833-c3f907f4-bf0c-11e7-97c9-3136faa94e5c.png)
Redirection link:
h

[2017-11-01 12:10] eviljeff commented on #6626
lgtm

[2017-11-01 12:21] eviljeff opened #6804 "Expose static theme previews in API"
Part of mozilla/addons#501

~To be able to display a preview and other details in the front-end we need to expose meta data and the image files within the theme.~

We just need to add the VersionPreview to the VersionSerializer

[2017-11-01 14:41] ValentinaPC commented on #6626
Marking this as verified-fixed.

[2017-11-01 22:09] kumar303 commented on #6800
I tried again--I can no longer reproduce the bug on https://addons-dev.allizom.org/en-US/firefox/addon/mingrafow-crafow-donbise/reviews/ .

However, I can reproduce it on other add-on pages. Here is a screencast of reproducing it on https://addons-dev.allizom.org/en-US/firefox/addon/webext-simplegrrss/reviews/

I guess it's related to the number of reviews somehow.

![addons-frontend-review-6800 m

[2017-11-02 05:38] EnTeQuAk opened #6806 "icon linting fails because of wrong path forwarding"
I just linted a few files in the addons-server repository and saw the following:

![screenshot from 2017-11-02 05-10-09](https://user-images.githubusercontent.com/139033/32311307-51427862-bf98-11e7-907f-d7c9f00225f6.png)

That file should not raise any icon related warnings in the first place and then that error message should be showing the actual path.

[2017-11-02 10:46] diox opened #6807 "Drop obsolete AutoApprovalSummary database columns"
When removing the `post-review` waffle in #6510, obsolete `AutoApprovalSummary` fields were removed from the model but kept in the db (set as `NULL`) for backwards-compatibility. We can now drop them from the database as well.

The fields are `uses_custom_csp`, `uses_native_messaging`, `uses_content_script_for_all_urls`, `average_daily_users`,  `approved_updates`,  `has_info_request`, `is_under_ad

[2017-11-02 10:47] EnTeQuAk commented on #6806
oops, meant to open that on addons-linter.

[2017-11-02 11:44] EnTeQuAk commented on #6806
Fixed via https://github.com/mozilla/addons-linter/pull/1635

[2017-11-02 11:44] #6806 closed

[2017-11-02 12:26] #6802 closed

[2017-11-02 13:01] eviljeff commented on #6800
I tried on some random add-ons and still can't reproduce.

[2017-11-02 20:04] milupo opened #6810 "AMO uses English date format for Upper and Lower Sorbian"
Hi,

the new AMO site uses English date format for Upper Sorbian and Lower Sorbian. I'am afraid you use OS date format. There is no Sorbian OS. Don't use the OS date format, use the Sorbian date format instead, please.

[2017-11-02 20:16] PhillypHenning commented on #6741
@EnTeQuAk, I checked the permissions and noticed that most of the files were under my own id, but user-media along with a few others were under root. I changed the ownership, removed and reran but it didn't solve the issue. I'm checking around in my logs and I noticed the following in my `docker.log`

[code]

I ran `python manage.py migrations` but I get `ImportError: No module named olympia.lib.s

[2017-11-02 20:21] kumar303 opened #6811 "Investigate speeding up POSTs to the review API"
### Describe the problem and steps to reproduce it:

* Go to the add-ons detail page
* Sign in
* Select a star to post a rating

### What happened?

This sends a POST to the review API. According to our [measurements](https://app.datadoghq.com/dash/391675/amo-prod-frontend-apis-usage?live=true&page=0&is_auto=false&from_ts=1509639617335&to_ts=1509654017335&tile_size=m&fullscreen=false) this is taki

[2017-11-02 20:26] diox commented on #6811
The add-on authors are notified by email of new reviews. That's done in `Review.post_save`, which calls `Review.send_notification_email`, which calls `send_mail_jinja()` : https://github.com/mozilla/addons-server/blob/3e18c9c708b39f9c93174f92c0f3050dc087b0d9/src/olympia/reviews/models.py#L221-L223

`send_mail_jinja()` calls `send_mail()` which defaults to `async=False`, so the email is sent synchr

[2017-11-02 20:28] diox commented on #6811
cc @eviljeff and @EnTeQuAk for any additional input. I believe just changing the `async=False` to `async=True` would dramatically help perf, and be enough to make posting of ratings fast. In fact, I don't see a good reason to keep the `async` parameter at all...

[2017-11-02 20:55] PhillypHenning commented on #6741
While working I also noticed in the docker.log that the MySQLid is complaining

[code]

[2017-11-02 22:17] EnTeQuAk commented on #6811
async=true sounds like a great plan to me and I don't see any problems
doing that by default. It actually increases stability of email sending
since our tasks automatically retry while sync sending doesn't.
Let's do this.

On Thu, Nov 2, 2017, at 09:28 PM, Mathieu Pillard wrote:

Links:

  1. https://github.com/eviljeff
  2. https://github.com/entequak
  3. https://github.com/mozilla/addons-server

[2017-11-03 08:17] jzav commented on #6727
Any chance of fixing this? I am not sure when my add-on will get new review...

[2017-11-03 08:17] EnTeQuAk commented on #6604
Jupp, I'm looking into this right now.

[2017-11-03 08:28] EnTeQuAk opened #6815 "Search: Remove prefix boosting"
We currently apply a `1.5` boost to prefix queries. I honestly don't see this being useful since imho most of our searches are based on add-on names or phrases of things a user wants to achieve (e.g "video upload" or "ublock").

We don't have any data on that though so this is just a guess.

As far as I can tell from a bit of research, prefix queries quite cluster-performance heavy so if we can ge

[2017-11-03 09:14] dessant opened #6816 "Missing stats for daily users"
Daily user count is missing for Oct 30 and Nov 1. Missing statistics has been a recurring issue, are there any checks in place for the scheduled tasks which compile these reports, to verify that they have completed successfully?

[2017-11-03 10:06] eviljeff opened #6817 "Emails to developers about add-on ratings don't contain review text"
The email process for ratings is broken - we only email when the rating is first created, not on any subsequent changes to text/score.  As the pattern now used by frontend is to create the rating without the text, then amend after, we always email the developer incorrect details about the rating left.

The simplest fix is probably just to email on rating edit.

[2017-11-03 10:07] eviljeff commented on #6811
Changing to `async=True` works, though it's highlighted that the email process for ~reviews~ ratings is broken.  It's unconnected to speed ups so I've logged this as #6817

[2017-11-03 10:13] diox commented on #6727
Closing as duplicate to #5999

@jzav : we really want to fix this issue, but it's not trivial, so we can't really give a timeline as to when it will be fixed.

[2017-11-03 10:13] #6727 closed

[2017-11-03 10:15] diox commented on #6815
It may still be useful in some cases though. Maybe limit it to one-word queries only?

[2017-11-03 11:17] muffinresearch opened #6818 "Explore how flags/switches could be exposed to the new frontend"
The goal would be to expose feature flags and switches via the DB so that we don't need a release to turn a feature on or off. This may tie into A/B testing in the future too - e.g. can we open a feature up to a subset of users?

We'll need to collect some examples of how A/B testing needs to work which is a separate issue, but I'd like to explore how we might expose db level switching via the API

[2017-11-03 11:29] muffinresearch opened #6819 "Re-word "View mobile site" Link"
Currently we have the "View mobile site" link on the old site, and this is not very accurate.

Let's update it to something that reflects the new site's capabilities a bit better.

[2017-11-03 11:30] diox commented on #6818
(Using *waffle* in this as a generic term for flags/switches)

Back in Marketplace, the SPA html would be served by the Django app, and we'd include the waffles (and more!) in the HTML as data attributes. We can do a similar strategy with the server-side react: have a light & fast API endpoint that returns the waffles, and then the react app is free to use them however it pleases. We don't need to

[2017-11-03 11:48] #6485 closed

[2017-11-03 12:13] muffinresearch commented on #6240
Roadblocks were removed with new contributions.

[2017-11-03 12:13] #6240 closed

[2017-11-03 12:14] muffinresearch commented on #5375
Since in the new frontend we're not going mix privileged data views in on regular pages this should probably be setup as an admin page instead.

[2017-11-03 12:26] erosman opened #6821 "Post-Review: Higher Weighting for minified Code"
I came across an add-on with 3600+ users with minified/obfuscate code that had a weighting of 10 which would be ignored.
There have been other similar instances.

IMHO, minified code (e.g. if a line of code had more 200 characters) should get a much higher weighting.

Example:
`https://reviewers.addons.mozilla.org/editors/review/861392/`

[2017-11-03 12:44] harry-7 commented on #3674
I would like to take up this task. I would be glad if someone can provide some details about this . Thanks :)

[2017-11-03 14:12] #6611 closed

[2017-11-03 14:14] diox commented on #5809
Should be fixed as part of the changes in #6611

[2017-11-03 14:14] #5809 closed

[2017-11-03 14:20] eviljeff commented on #6818
For the backend waffle probably works well enough - waffle flags support targeting to certain subsets of users, and to a % of users too.

For exposing them, we could do as @diox suggests, like Marketplace did.  Alternatively we could expose them in the Accounts API response - it already gets called at least once per session to discover what permissions they have for menus, etc, so could serve the

[2017-11-03 15:59] EnTeQuAk opened #6824 "Port from "fuzzy" query to "match + fuzziness""
At https://qbox.io/blog/elasticsearch-optimization-fuzziness-performance and other places it's generally adviced that a `match + fuzziness option` is a better candidate than an actual `fuzzy` query.

It also analyzes the query text before performing the search which imho sounds preferable.

Supports https://github.com/mozilla/addons-server/issues/6116

[2017-11-03 16:10] vcarciu commented on #5809
Verified as fixed :
![leaderboard](https://user-images.githubusercontent.com/1583842/32384021-47c6418a-c0c2-11e7-9c59-fb3b6a3e7cf0.png)

[2017-11-03 16:26] jvillalobos opened #6826 "Use different admin flag for content review"
This is a followup for #6310.

The original issue requested to use the same admin review flag for code review and content review. Discussing with @wagnerand, clearly there are use cases where those flags should work independently. So, we'll need these changes:

- [ ] Have two admin review flags, something like `admin_code_review` and `admin_content_review`.
- [ ] Content review can still be done f

[2017-11-03 16:38] #6807 closed

[2017-11-03 16:46] devaneymoz commented on #6819
How about: "View the new site"

Even at four words it would be the wordiest of the footer links.

[2017-11-03 16:51] bqbn commented on #6816
Closed as a dup for https://github.com/mozilla/addons/issues/510.

These are caused by the delay from our upstream data source. We've filed an internal ticket for our data team to look into it.

[2017-11-03 16:51] #6816 closed

[2017-11-03 17:02] #6764 closed

[2017-11-03 17:09] tiagomoraismorgado88 opened #6827 "[SUGGESTION] - convert readme.rst to readme.md"
## Greetings

**i would like to suggest to:**
- *convert readme.rst to readme.md*

---

**main motivation behind such:**
- *improving easiness to edit markdown*

---

kind regards

<img src="https://avatars2.githubusercontent.com/u/131524?s=200&v=4" width="50"></img> <img src="https://avatars1.githubusercontent.com/u/7303598?s=460&v=4" width="50"></img>

[2017-11-03 17:10] tiagomoraismorgado88 commented on #6827
i had already posted something like this in august. my apologies

[2017-11-03 17:31] #6827 closed

[2017-11-03 17:31] muffinresearch commented on #6827
Closing as a duplicate of https://github.com/mozilla/addons-server/issues/6231

[2017-11-03 17:58] #6819 closed

[2017-11-03 18:05] muffinresearch opened #6828 "Enable Turkish locale"
As requested from localizers by email.

[2017-11-03 18:11] rctgamer3 opened #6830 "Credits page not yet ported over to the new lay-out"
https://addons.mozilla.org/en-US/credits

Site credits page hasn't been ported over yet. This page lists all people that have made a substantial contribution to AMO in terms of translation work, list current and former add-on reviewers and their # of total reviews (this information isn't listed anywhere else on AMO) and lists icon packs and how they are licensed, though should probably be updated

[2017-11-03 18:16] jvillalobos commented on #6830
We're not planning on porting the credits page. It's often outdated and doesn't cover all contributions. @caitmuenster runs the recognition program and there are other ways we can and should highlight people's contributions. Having an AMO page we have to maintain permanently is not one of them, though.

[2017-11-03 18:16] #6830 closed

[2017-11-03 18:17] jvillalobos commented on #5954
Closing because we're not porting this page to the new site (see #6830).

[2017-11-03 18:17] #5954 closed

[2017-11-03 18:23] jvillalobos commented on #6817
It might be a good idea to have a delay before sending the email, to make sure all edits are done and the developer isn't emailed multiple times per rating/review.

Also (maybe out of scope but relevant), we should consider sending a summary of reviews on a daily or weekly basis, since some developers have been hit by review spammers and get dozens or even hundreds of emails.

[2017-11-03 18:26] muffinresearch opened #6831 "Add tests that fail if a new locale is added that doesn't exist in settings."
We have similar in addons-frontend. This will help avoid localizations getting out of sync and inform us when a new locale is added that wasn't previously there.

Basically the test should cross check the locale dirs + po files with the list of languages.

[2017-11-03 18:34] jvillalobos commented on #6821
Having minified or obfuscated code is not a great signal on its own. Most add-ons will be flagged by this in one way or another, so increasing this number won't make this add-on stand up much more. The abuse reports and increased usage of the add-on should increase its weight in relation to others and make it more likely to be reviewed.

[2017-11-03 18:40] eviljeff commented on #3674
@harry-7 great 👍
I implemented some changes recently which should make this easier (in theory!  you will need to locally test to make sure it works)

Should just be a matter of adding the license to src/olympia/constants/licenses.py and then adding a migration that inserts it into the DB similar to src/olympia/migrations/981-add-creative-commons-licenses.sql

your license class should be:
 some_ri

[2017-11-03 20:06] harry-7 commented on #3674
@eviljeff  there is already an all right reserved class defined  [here](https://github.com/mozilla/addons-server/blob/7530d64257bbe4185cb2a9df276283afd259c880/src/olympia/constants/licenses.py#L13)
Should I add a similar class again ?

[2017-11-05 04:38] Noitidart opened #6833 "Unknown error message returned - Manual and script/fetch doesn't work"
### Describe the problem and steps to reproduce it:

Manually uploading the attached file at https://addons.mozilla.org/en-US/developers/addon/submit/upload-unlisted goes through the validation fine. However clicking "Sign Add-on" button causes a "Oops! We had an error." page:

Uploading with script is is not giving an informative error either, it gives status of 500 and json is `{ detail:'Interna

[2017-11-05 12:08] EnTeQuAk commented on #6831
Ah, you mean a double-check that verifies if something get's added in our locale dir a test will fail? That won't be easily possible since we're bound to what mozilla-product-details support but we can add a test that explicitly fails if a new locale is added that is supported but not yet in settings or in a different constellation. Is that what you mean?

[2017-11-06 08:02] EnTeQuAk opened #6837 "Search: Add exact matching"
Supports #2661

Currently, we only have phrase matching and a `match` query on analyzed fields. That can sometimes to issues where a user wants to search for the exact name of an add-on.

Example:

https://addons.mozilla.org/en-US/firefox/search/?platform=linux&q=Youtub%27s+Annotations+No+more should match https://addons.mozilla.org/en-US/firefox/addon/youtubes-annotations-no-more/ - it does but i

[2017-11-06 08:06] EnTeQuAk commented on #2661
It doesn't affect relevance as we don't boost on categories, we do have a very low boost on tags though.

[2017-11-06 08:10] EnTeQuAk opened #6838 "Search: Remove (accidental) negative boosts"
Supports #2661

We currently have negative boosts for a few things like:

* `match_phrase` on `summary` and `description` (0.8 and 0.3)
* `match` on `tags` (0.1)
* analyzed fields of `summary` and `description` (0.6)

which appear random and accidental. Let's either remove them (keep the search but remove the boosts) or make them positive boosts as they were probably thought to be.

This will be *

[2017-11-06 09:42] eviljeff commented on #3674
Yeah, that one is for creative commons licenses (used for Themes).

[2017-11-06 10:13] AlexandraMoga commented on #6819
Verified as fixed on AMO-dev FF56 (Win10)

![image](https://user-images.githubusercontent.com/31961530/32436142-bcf28056-c2eb-11e7-9e35-f7ce5eb65558.png)

[2017-11-06 11:05] wagnerand commented on #6826
1) Should we send emails to developers when their add-on is escalated for content?

I'd say probably not.

2) Should we disable the listing when the add-on is escalated for content?

Might be worth considering.

[2017-11-06 11:40] muffinresearch commented on #6831
@EnTeQuAk yep, it's to check for pontoon adding new localizations which we aren't setup to use. It'll save localisers being confused when they add a new locale.

What's the relationship between site localization and mozilla-product-details, how tightly are they coupled?

[2017-11-06 11:42] #6824 closed

[2017-11-06 12:07] EnTeQuAk commented on #6831
Currently very, I'll cc @diox to make sure I don't tell any crap. From what I see product-details is mostly used for our language-tools page in addons-server and for our stats page (for devs to filter by languages). That language-tools page that is now replaced by the new frontend unless I'm mistaken 😆

So, we don't use it that much but our integration is incapable of dealing with additional local

[2017-11-06 12:11] #6828 closed

[2017-11-06 12:14] muffinresearch commented on #6810
@tofumatt is this something that moment has support for?

[2017-11-06 12:39] tofumatt commented on #6810
These are the locales we know about that we don't have a mapping for:

[code]

So it looks like we should support it. I thought the Serbian language code started with `sr`, so I don't see it in there.

[2017-11-06 12:44] ValentinaPC opened #6842 "Some changes cannot be saved in "Basic Information" section for Static Themes"
Steps to reproduce:
1. Submit a static theme on AMO-dev https://addons-dev.allizom.org/en-US/developers/addon/submit/distribution
2. After submission try to edit "Basic information" section https://addons-dev.allizom.org/en-US/developers/addon/static-t3/edit (just click "edit" and "save changes" without actually changing something)

Expected results:
Changes are saved.

Actual results:
Changes can

[2017-11-06 13:16] ValentinaPC commented on #6764
Verified this on AMO-dev FF56(Win 7)

- EULA, Privacy Policy and Custom License fields were removed
![2017-11-06_1451](https://user-images.githubusercontent.com/15685960/32441885-fa0377dc-c301-11e7-95ba-b8c2480e306e.png)
- Experimental option, Require payment, Icon and screenshots, Description, Developer Comments, Required Add-ons, Add-on Flags, View Source were removed
![2](https://user-images.gi

[2017-11-06 13:27] ValentinaPC commented on #6824
Please add some STR or the label "qa: not needed".
Thanks!

[2017-11-06 13:45] ValentinaPC commented on #6828
I can see a Turkish locale in the language drop-down in all AMO servers.... so I guess I am not looking in the right place?

[2017-11-06 13:53] muffinresearch opened #6845 "Exclude deleted add-ons from collections endpoint by default"
Currently the collections api endpoint includes deleted add-ons by default.

See https://addons.mozilla.org/api/v3/accounts/account/mozilla/collections/featured-personas/addons/?sort=added for an example.

The suggested approach was to exclude deleted add-ons by default and have a separate param that can be used to request a collection including deleted add-ons for editing purposes. E.g. a `with_d

[2017-11-06 13:57] #6794 closed

[2017-11-06 13:57] muffinresearch opened #6846 "Map new type params to the old atype params."
This is the inverse of https://github.com/mozilla/addons-frontend/issues/3791 this will help during the transition so that new frontend pages redirect correctly when served from addons-server e.g. when switching a search page on the new frontend to the old frontend.

`type=extension` -> `atype=1`
`type=dictionary` -> `atype=3`
`type=search` -> `atype=4`
`type=language` -> `atype=5`

[2017-11-06 14:01] ValentinaPC opened #6847 ""Abstract" category is returning 500 error page at Static Theme submission"
Steps to reproduce:
1. Select a static theme to submit in AMO-dev
2. At details step, pick "Abstract" category
3. Finalize submission

Expected results:
Submission is finalized with succes.

Actual results:
An "Oops..." page is displayed at "Submit version" click.

Notes/Issues:
- did not try all categories

Verified on AMO-dev FF56(Win 7).
Video for this issue:
![500](https://user-images.githubus

[2017-11-06 14:16] muffinresearch commented on #6828
@ValentinaPC this is only for the old site, since this is the addons-server repo.

[2017-11-06 14:26] ValentinaPC commented on #6828
You are riiiight 👯

Verified as fixed on AMO-dev FF56(Win 7)
Turkish locale was added.
Postfix screenshot:
![2017-11-06_1624](https://user-images.githubusercontent.com/15685960/32445635-0a9ec300-c30f-11e7-94d3-2ec719c6b45b.png)

[2017-11-06 14:57] johncolv opened #6848 "apparent dead link from softonic website"
### Describe the problem and steps to reproduce it:
(Please include as many details as possible.)
this link doesn't work
https://en.softonic.com/download/betterprivacy/windows/post-download?ext=1

### What happened?

### What did you expect to happen?
download softonic better privacy add on

### Anything else we should know?
(Please include a link to the page, screenshots and any relevant files.)

[2017-11-06 15:03] diox opened #6849 "Change API url for reviews to ratings"
After https://github.com/mozilla/addons-server/issues/6761 the `reviews` app will have been renamed to `ratings`. Let's also change the URLs for the API, exposing `/api/v3/ratings/`. Also, this may be a good time to expose the value of the rating as a `score` property instead of `rating`. Maybe accept/return both during the transition.

We'll need to keep backwards-compatibility for a little while

[2017-11-06 15:05] diox commented on #6761
I've opened up https://github.com/mozilla/addons-server/issues/6849 to change the API urls, splitting that task into a different issue.

I'm not sure we'll want to take care of the database yet because it has tons of implications (renaming indices, dealing with the fact that some people might have queries saved in redash, etc) so I am not planning to handle that for now.

[2017-11-06 15:38] harry-7 commented on #3674
@eviljeff I created a pull requests. I think it solves this issue. Please check once and let me know if any changes are required :)

[2017-11-06 15:40] vcarciu commented on #6794
Verified as fixed :
![contentwhiteboard](https://user-images.githubusercontent.com/1583842/32448763-7eb3f7f2-c318-11e7-8c6b-2479c0deab82.gif)

[2017-11-06 15:47] kumar303 opened #6850 "Investigate speeding up the language tools API"
### Describe the problem and steps to reproduce it:

* Load this page in a desktop browser https://addons.mozilla.org/en-US/firefox/language-tools/

### What happened?

It requests GET https://addons.mozilla.org/api/v3/addons/language-tools/?app=firefox&lang=en-US

The response time is 1.5 seconds on average and has gotten slower after the release (possibly due to increased load).

<img width="824

[2017-11-06 16:40] EnTeQuAk commented on #6824
Nothing specific to test except to make sure that simple typos still lead to correct search results.

E.g https://addons.mozilla.org/en-US/firefox/search/?platform=linux&q=Firex+Lightbeam

[2017-11-06 16:56] Dexterp37 opened #6853 "[TAAR] Pass locale/platform to the TAAR-api when opening the Discopane"
This is a feature request for the TAAR project. When Firefox opens the Discopane, it sends along some bit of information (locale, platform, ...).

We would love this informations to be propagated to the TAAR api to make use of it if some user requesting recommendations is not in our database.

I will file a similar issue in mozilla/addons-frontend#3804 for the front-end part.

[2017-11-06 17:17] EnTeQuAk commented on #6818
That could be fixed by making this endpoint a generic `config` api and inject a `X-Olympia-Config-Changed` header or so to provide a hint about re-pulling the config on the next api request. This still leaves people not doing any requests without config change notification but I think that's fine.

Otherwise I like @diox suggestion about pulling them via the server-side react. That endpoint is hig

[2017-11-06 17:53] eviljeff commented on #6764
@ValentinaPC static themes won't be auto-approved (at least that's the current idea).  The add-on reputation field is there for all add-ons (i.e. non-webextensions too) though.  I'm not concerned because it's an admin only setting.

[2017-11-06 18:03] jvillalobos commented on #6826
Agree. We introduced emailing for admin escalation because we wanted devs to be aware of why their review might take longer. It's not relevant for post-review.

Let's not do that for now. If it becomes a problem, then sure. I'm thinking that in clear cases where something should be disabled, it will be rejected. Escalations should be used in cases where the decision isn't clear.

[2017-11-06 18:34] jvillalobos commented on #6611
Yes, it exists in prod.

[2017-11-06 18:39] jvillalobos commented on #6848
That needs to be fixed on the softonic website. The issue is that they're missing the `platform` bit in the URL.

[2017-11-06 18:39] #6848 closed

[2017-11-06 19:03] diox commented on #6611
@ValentinaPC:
- On dev, I've created `Reviewers: Unlisted` manually.
- On stage, I've created the missing `Unlisted Add-on Reviewers` that exist on prod. That way, when my changes hit stage, you'll be able to confirm that the rename does take place correctly.

[2017-11-06 19:27] tofumatt commented on #3265
This page was replaced by the new front-end, so closing.

[2017-11-06 19:27] #3265 closed

[2017-11-06 19:53] kjschulz commented on #6833
I don't know that this is the same issue, but this was the thread mentioned in the error.  I get the following error in red text:  `Failed to upload to AMO. Internal server error occured, this extension is likely unsupported by the review system and will even fail manual upload.`

[2017-11-06 20:25] muffinresearch commented on #6846
@diox since the frontend code has done this in the app, we should do these in the addons-server app too.

I think we'll probably want to 302 them since if the 301s get cached that could be problematic.

[2017-11-06 23:43] jvillalobos commented on #3544
Guess we don't need this anymore!

[2017-11-06 23:43] #3544 closed

[2017-11-07 07:22] ValentinaPC commented on #6824
Verified as fixed on AMO-dev FF56(Win 7).
Postfix screenshots:
![2017-11-07_0921](https://user-images.githubusercontent.com/15685960/32481679-1bdf47a0-c39d-11e7-979c-a479371fe571.png)
![2017-11-07_0921_001](https://user-images.githubusercontent.com/15685960/32481680-1c01ab92-c39d-11e7-96df-aa1bd788f1b6.png)

[2017-11-07 10:13] ValentinaPC commented on #6611
The "Reviewers: Unlisted" group is now on dev.
![unlisted](https://user-images.githubusercontent.com/15685960/32488269-c194000c-c3b4-11e7-976a-becd363bcd30.png)
The missing "Unlisted Add-on Reviewers" group was added in stage.

I'll not mark this verified fixed, until I'll test this group migration on stage.
Please, @diox, give me a ping when changes are in stage.
Thanks!